[2017-08-07 19:12] #1977 closed

[2017-08-07 19:14] Shadrock opened #1978 "Uchaguzi Password Reset e-mail is missing a button."
### Expected behaviour
Read text for Uchaguzi password reset that indicates pushing a button and see the button indicated. See screenshot below.
### Actual behaviour
Read the text, look for button, don't see one.
### Steps to reproduce the behaviour/error
Reset password.
<img width="635" alt="uchaguzi password reset" src="https://user-images.githubusercontent.com/4574998/29041946-2f930f84-7b72-11e

[2017-08-07 19:14] caharding opened #1979 "Visual feedback for public/private fields"
During Uchaguzi I was on the publishing team and I didn't know what information was going to be published privately/publicly, making it very hard to coordinate with my team.

- As a reporter I want to know which fields I am submitting will eventually be private or public when published
- As a manager editing a post, I want to know what fields will be private/public

[2017-08-07 19:15] #1973 closed

[2017-08-07 19:31] willdoran commented on #1979
@caharding At the task level does this work
<img width="1433" alt="screen shot 2017-08-07 at 15 30 50" src="https://user-images.githubusercontent.com/2694405/29042575-762a0a02-7b85-11e7-8899-744889807364.png">

[2017-08-07 19:38] willdoran commented on #1979
and private fields get a lock now
<img width="976" alt="screen shot 2017-08-07 at 15 38 21" src="https://user-images.githubusercontent.com/2694405/29042805-7ba0dafa-7b86-11e7-9f25-21f8f5b52abe.png">

[2017-08-07 19:39] caharding commented on #1874
- [ ] In Uchagzui 2017 it is very confusing that I both have to mark a category AND flip switch to complete a task. This is because we don't have a real tasking method, instead categories are being used to create tasks
- [ ] When I complete a task, there is no log of my participation in that post

![screenshot 2017-08-07 12 39 06](https://user-images.githubusercontent.com/1618793/29042820-6bd7c3a4

[2017-08-07 19:43] Shadrock opened #1980 "Uchaguzi Support not linked to Uchaguzi deployment"
### Expected behaviour
Find more information or support page while viewing the deployment (https://uchaguzi.or.ke/views/map).
### Actual behaviour
Cannot find a URL that links to https://www.ushahidi.com/uchaguzi-support/ in the text describing the deployment. And the Ushahidi logo in the bottom of the screen links to *[Ushahidi support](https://www.ushahidi.com/support)* and not *[Uchaguzi Suppor

[2017-08-07 19:45] willdoran commented on #1979
Also if you don't like the way it looks, at least it's there now, this issue might be moved to design next

[2017-08-07 19:47] jshorland opened #1981 "No system feedback that updating a saved search filter set is successful"
### Expected behaviour
If I alter the filters in a saved search and then click "update search", the update search button should go away, and i should receive confirmation from the system that my search was successfully updated.
### Actual behaviour
Nothing changes after I click "update search", but the search does in fact update with the new filters

### Steps to reproduce the behaviour/error
1. l

[2017-08-07 19:48] jshorland commented on #1980
@middle8media can you fix this with the uchaguzi support?

[2017-08-07 20:20] dexwakhu commented on #1952
These were created on the live deployment by our infonet partners that were posting media reports on election campaigns. Not sure how they managed to do this

[2017-08-07 20:22] willdoran commented on #1975
This is failing to include the filters from client, will fix now

[2017-08-07 20:29] jshorland commented on #1860
This passes QA for me. SEe below.
[Uploading Screen Shot 2017-08-07 at 1.28.50 PM.png...]

[2017-08-07 20:32] jshorland commented on #1860
<img width="1308" alt="screen shot 2017-08-07 at 1 28 50 pm" src="https://user-images.githubusercontent.com/3224856/29044546-cca96442-7b74-11e7-9f64-513c1c3cbd71.png">

[2017-08-07 20:40] willdoran commented on #1975
@jshorland I believe this is fixed

[2017-08-07 20:47] jshorland commented on #1977
This still looks broken to me?

[2017-08-07 21:09] jshorland commented on #1975
PASSES QA.

[2017-08-07 21:45] rjmackay commented on #1978
I think this is a configuration issue. Need to set client url in the site config or API environment vars.

[2017-08-07 21:48] rjmackay commented on #1978
Should be fixed on prod now

[2017-08-07 22:40] jshorland commented on #1711
QA for new permissions:
- Manage Messages: I don't know what this means. I added some unstructured posts via sms, but when I gave myself only this permission (https://sandbox.uchaguzi.or.ke/settings/roles/14), I couldn't even access the posts to message back and forth with the user. Seems like this probably requires "view all posts" permissions too?
- Publish posts: I can see a draft post (https:/

[2017-08-07 23:02] rjmackay opened #1984 "Post lock isn't released unless cancel is click"
- Post lock should be released when navigating away, not just when clicking cancel

[2017-08-08 00:15] jshorland commented on #1984
fixed.

On Mon, Aug 7, 2017 at 4:02 PM, Robbie Mackay <notifications@github.com>
wrote:

[2017-08-08 00:23] jshorland commented on #1984
It should be noted that if you close the tab in the browser, the post will stay locked cc: @aoduor

[2017-08-08 00:24] jshorland commented on #1978
fixed on production!

[2017-08-08 03:25] #1984 closed

[2017-08-08 03:26] #1860 closed

[2017-08-08 05:22] Junemg opened #1985 "Go back to our saved search page automatically"
### Go back to our saved search page automatically after saving a structured post
### Have to keep re-searching for the relevant saved search is quite time consuming.

### Steps to reproduce the behaviour/error

[2017-08-08 05:38] Celestine22 commented on #1960
#1985 linking to this, @kamaulynder can you help fix this?

[2017-08-08 07:16] Celestine22 opened #1986 "Post locking functionality not working"
### Expected behaviour
A post should;
1. Hide the edit button when a user is editing it
2. Completely not allow 2 users to work on it at the same time.
### Actual behaviour
1. It is not hiding the button
2. It's allowing myself and colleague to edit it at the same time
### Steps to reproduce the behaviour/error
1. Click on edit post.
2. Tell other user to click on edit the same post.
3. Other user

[2017-08-08 08:03] rjmackay commented on #1986
Looking in to this

[2017-08-08 08:12] rjmackay commented on #1986
I can't make this happen on the sandbox. Will attempt to reproduce on production

[2017-08-08 11:45] dexwakhu opened #1987 "Not all published posts are appearing on the map"
Publishing Team has been publishing messages all morning but only 128 are appearing as published

[2017-08-08 12:21] tuxpiper opened #1988 "Enable google geocoding of addresses / landmarks"
### Expected behaviour
Administrator should be able to switch the site to be using google geocoding (instead of OSM nominatim). Google has proved to still have a better edge on some places.

( Or should we consider the option of querying both services and smartly merging results? Maybe in a further development)

In the Uchaguzi 2017 case , using nominatim has been holding back the geolocation team

[2017-08-08 13:46] jshorland opened #1989 "Bulk actions in structuring posts"
### Expected behaviour
Structuting team needs to be able to select multiple reports at a time to push to geolocation team
![pasted image at 2017_08_08 01_26 pm](https://user-images.githubusercontent.com/3224856/29074729-314d2cf4-7c05-11e7-9814-b0bbf2009d75.png)

Original note from Erik
erik [3:26 AM]
Hi everyone.  We’re already getting underwater in the situation room.  There are now 2,000 reports

[2017-08-08 13:58] jshorland commented on #1968
ideal scope right now:
- return names of categories, saved searches, collections, survey
- transform lat/lon into county, city, state, country

Possible? @willdoran

[2017-08-08 14:09] jshorland commented on #1391
It is apparent from Uchaguzi that this is crucial to workflow efficiency.

[2017-08-08 14:27] jshorland commented on #1987
From @dexwakhu : "Try it yourself - select the “Unpublished SMS saved search” select a few messages, Mark as published

[2017-08-08 14:55] jshorland opened #1990 "Change edit post lock timeout from 2hrs to 10 minutes and update the message that appears when someone tries to edit a post already in edit mode"
### Expected behaviour
2 hours is too long to have as the timeout period of an edit lock on a post, should be 10 minutes cc: @aoduor
### Actual behaviour
takes 2 hours and if someone closes the tab instead of navigating out of the post, it takes 2 full hours to time out and the other teams are just waiting around

### Steps to reproduce the behaviour/error

[2017-08-08 15:06] Angamanga commented on #1990
Adding this together with #1886

[2017-08-08 15:15] jshorland commented on #1980
Support icon now linking to uchaguzi.or.ke homepage? Should link to https://www.ushahidi.com/uchaguzi-support

[2017-08-08 15:49] jshorland opened #1991 "Bug with task completion validation"
@jess could you try the following to sanity check for me
- For a survey with a required stage
- On a post for that survey
- Mark the stage complete
- Save
- Publish the post

jess [29 minutes ago]
@will This post belonged to a survey with geolocation required. I marked the task as complete and published. Confirmed that the post is published and showing up in both map and timeline, and within the p

[2017-08-08 16:32] Shadrock commented on #1988
Interesting. I agree that Google may have an edge in some places: but certainly not others (e.g. Kibera). There are loads of comparison tools that clearly allow you to see where various map features exist with both Google and OSM (bearing in mind that you are only seeing a sub-set of the actual database).

[2017-08-08 16:41] willdoran opened #1992 "Unstructured Posts Form edit should be on Edit not Detail"
### Expected behaviour
- When visiting an unstructured post, I should not see the set form section
- When I click edit I should be presented the select form option
### Actual behaviour
- When visiting an unstructured post, I should see the set form section
- When I click edit I am not presented the select form option

### Steps to reproduce the behaviour/error

[2017-08-08 17:05] gitudaniel opened #1994 "Filter modal footer obscures some elements"
### Expected behaviour
All fields should be visible and clickable
### Actual behaviour
Some fields in the filters dropdown are barely visible and not clickable.

### Steps to reproduce the behaviour/error
Go to the Ushahidi platform client, click on filters and scroll down. You will see something like this
![Screenshot from 2020-10-08 14-00-07](https://user-images.githubusercontent.com/2434401/954

[2017-08-08 17:24] middle8media commented on #1980
**Deployment Description:**
Uchaguzi support URL and general URL support is in [production](https://uchaguzi.or.ke/views/list).

This is fixed for now, but to display the links correctly it requires html in the deployment description. I am working on a built in solution.

@will [support link correction](https://github.com/ushahidi/platform-client/commit/275d7c98fb6545abc9e16e54c0103fee9f217d2f) is

[2017-08-08 17:24] #1980 closed

[2017-08-08 17:59] willdoran commented on #1990
This is in now.

[2017-08-08 18:08] jshorland commented on #1989
to do: scope out so we understand implications and risks of this in case we absolutely have to implement.

[2017-08-08 18:10] gitudaniel opened #1995 "Deleting location in filter modal gives new longitude and latitude coordinates"
### Expected behaviour
On deleting a location in the location field the field should remain empty
### Actual behaviour
Deleting the location produces new longitude and latitude coordinates
### Steps to reproduce the behaviour/error
On uchaquzi.or.ke click on filters and enter a location like Nairobi, Kenya
Press and hold the backspace button to clear the field.
You should see new latitude and long

[2017-08-08 18:18] jshorland commented on #1989
@willdoran @justinscherer this would be helpful if we have time.

[2017-08-08 18:19] jshorland commented on #1391
@justinscherer @willdoran this would be helpful if we have time

[2017-08-08 18:19] jshorland commented on #1985
Ideally it also reverts back to the same place in the timeline of the saved search

[2017-08-08 18:22] jshorland commented on #1391
cc: @middle8media are there already patterns built for this?

[2017-08-08 18:58] willdoran commented on #1968
ok the names is done

[2017-08-08 19:00] middle8media commented on #1391
Yes

Custom Select
[code]
Radios
[code]

[2017-08-08 19:44] caharding opened #1997 "Saved search should update Survey report count"
### Expected behaviour
When I use a saved to filter a Deployment, I expect the count of reports in the survey section to update

### Actual behaviour
The count of reports in a survey stays the same when I use saved search. There is no way for me to count the total # of reports based on my filtering criteria

### Steps to reproduce the behaviour/error
Open Uchaguzi.or.ke
Select saved search: unpubl

[2017-08-08 20:01] jshorland commented on #1989
As a logged in post structurer, I want to bulk assign multiple unstructured posts to a survey, bulk apply any necessary tags to them (in this case, needs geolocation), and pass them onto the next team in the workflow (in this case, geolocation).

As a logged in post structurer, as I am performing the actions above, I don't want anyone else to screw this up by editing the posts i've selected at the

[2017-08-08 20:13] jshorland commented on #1997
related: #1967

[2017-08-08 20:16] jshorland commented on #1987
@willdoran this is fixed now?

[2017-08-08 20:25] willdoran commented on #1987
It should be

[2017-08-08 21:06] willdoran commented on #1968
geo coding is done but needs another few mins to be clean

[2017-08-08 21:37] jshorland opened #1998 "DATA REQUEST for blog post"
X from SMS
Y from Facebook
Z from Twitter
Q from webform

do NOT include archived
DO include unstructured posts

[2017-08-08 21:39] jshorland commented on #1990
woo. closing.

[2017-08-08 21:48] #1978 closed

[2017-08-08 21:50] #1990 closed

[2017-08-08 21:51] jshorland commented on #1968
Moving to @rjmackay

[2017-08-08 21:54] jshorland commented on #1952
I'm going to keep this in the "new issues' column for now in case we are able to replicate it. or someone else manages to do it.

[2017-08-08 23:11] jshorland commented on #1985
@rjmackay this is killing our teams' efficiency. Can you work on this after you wrap up the deploy?

[2017-08-08 23:37] jshorland commented on #1952
IT'S HAPPENED AGAIN. HOW ARE THEY DOING THIS?!?
![Screen Shot 2017-08-08 at 4.23.28 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/55d11d8e01ae881900114dda/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b772b6454fb6b7191a37cf110284f5d575ecc3c4a4356bcbbd671f3e57862804e0ee8856c5e20c56817faea8418bc01ec208b4784bfee8818d2f42f67b6d5db1063474f4dcbed5727a49c42c952f

[2017-08-08 23:40] jshorland opened #1999 "When selecting multiple posts and bulk changing their status, the checkboxes aren't automatically de-selected after the action is completed successfully"
halp

[2017-08-09 02:51] jshorland commented on #1391
@rjmackay if we have any chance of getting this in... it would be a big improvement for the structuring team

[2017-08-09 03:28] rjmackay commented on #1998
Totals just now:

| posts | source |
| --- | --- |
| 3311 | sms |
| 1493 | twitter |
| 66 | facebook |
| 389 | web |

[2017-08-09 03:32] jshorland opened #2001 "Incident date and time field is updating to the closest date and time of whoever is editing the post"
### Expected behaviour
It should stay as it was when it was originally submitted unless manually changed by editor
### Actual behaviour
It auto updates to the date/time of whoever is editing it
### Steps to reproduce the behaviour/error
Take a post in unstructured from several hours ago
Put it into edit mode
See incident date field

[2017-08-09 04:29] rjmackay commented on #2001
I couldn't reproduce this with a normal post. However an unstructured post won't have an 'incident date' so it makes sense that it gets set to your current date/time.

Can you confirm if this was the incident date custom field? or the 'post date' which is editable on the right hand side?

[2017-08-09 04:39] #1711 closed

[2017-08-09 04:39] #1960 closed

[2017-08-09 04:39] #1999 closed

[2017-08-09 04:40] #1986 closed

[2017-08-09 05:02] jshorland commented on #2001
Ahh I see . It was in fact the incident date custom field. That makes so much more sense now

Sent from my iPhone

[2017-08-09 07:55] Celestine22 opened #2002 "Category selection not saving"
### Expected behaviour
In my saved searches for example for unverfied posts, when I edit a post and unselect unverfied and then select verified, and save, this post should move from unverified saved search, to verified saved search.
### Actual behaviour
The post is not saving the category selection.
### Steps to reproduce the behaviour/error
1. Open unverified posts saved search.
2. Select a post

[2017-08-09 10:44] aoduor commented on #1967
Hey folks. Flagging that this would be helpful.

[2017-08-09 10:44] aoduor commented on #1997
Hey folks. Flagging that this would be helpful.

[2017-08-09 16:05] #1998 closed

[2017-08-09 16:35] jshorland commented on #1391
this is done. moving to done.

[2017-08-09 16:49] caharding commented on #1979
Looks good!

On Mon, Aug 7, 2017 at 12:45 PM, will <notifications@github.com> wrote:

--
Charlie Harding
Product Director

[2017-08-09 20:13] Junemg opened #2003 "More than one Photo per Post"
### Expected behaviour: Be able to load several photos on one post and be ale to scroll across them like one can on instagram
### Can only load one photo to a post

### Steps to reproduce the behaviour/error

[2017-08-09 21:19] Angamanga commented on #1997
@aoduor I started working with this today but other stuff came between and I am not finished, a few things left which i will sort out tomorrow FIRST THING!

[2017-08-09 23:11] rjmackay commented on #1985
Closing this. Reopen if further improvement is needed

[2017-08-09 23:11] #1985 closed

[2017-08-10 03:05] diegodorgam commented on #1806
hey, anyone? Pretty serious bug this... Any thoughs?

[2017-08-10 17:59] #1391 closed

[2017-08-10 18:23] diegodorgam commented on #1968
Hey persons,
 not sure if should report this here, or maybe open another issue, but I got an error very related to this, only that in my case the CSV file brings the fields out of order, and it doesn't export the activities fields, at least not all of them.

So, my survey has 8 activities to be filled, each fied is identified with the activity number in front of it's name, eg: `1.2 street`.

When

[2017-08-10 21:40] Shadrock opened #2004 "Update COMRADES documentation for EU: due soon!"
### Need
The EU Review has requested that we re-submit our last report ([here on the Ushahidi G-Drive](https://drive.google.com/open?id=0B0fInrbWAUMsSjdUbVc0MFBmVTQ)) with:

At present the only diagram in the report is the brief one that @willdoran made to diagram accessing YODIE via web hooks. I don't expect this to be too complicated but I'm not sure... @jshorland can you please advise: do we ne

[2017-08-10 21:40] Shadrock commented on #2004
![](https://github.trello.services/images/mini-trello-icon.png) [COMRADES deliverable corrections.](https://trello.com/c/gDwK10nF/222-comrades-deliverable-corrections)

[2017-08-10 21:51] dexwakhu opened #2005 "Improve UX for mapped vs unmapped posts"
The total number of published posts has not been increasing despite additional posts being published. Furthermore when not logged in, the total number displayed varies despite all categories being selected.

### Notes
- Confirmed this has failed QA on Uchaguzi deployment
- This didn't happen on http://qa.ushahididev.com/views/map.  Angie noted that this might be due to all posts having a location

[2017-08-10 21:58] dexwakhu commented on #2005
Sample the two screenshots taken within a span of a couple of minutes. One shows 1365 posts and the other has been at 1400 since yesterday. Adding up the numbers per the categories on the left gives a figure of 1,849.
![Screen Shot 2017-08-11 at 00.31.36.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5892dafedfd7da1a00517efd/125516c66e82c728ace21e0d46db978826878de9bce1b05

[2017-08-10 22:02] rjmackay commented on #2005
This could be due to inclusion of archived posts, or posts under review. Can you double check if you were logged in/out for both of these?

[2017-08-10 22:06] dexwakhu commented on #2005
Logged out for both of those for sure. When logged in, the number is 2800.

[2017-08-11 02:24] diegodorgam commented on #1968
@jshorland @rjmackay any insights?

[2017-08-11 02:34] diegodorgam commented on #1865
I'm Having a related error.
I have a post with 8 activities, and only the first toogle works.

The funny thing is that from activity 2 to activity 8 the toogles don't move, but when you click then the activity 1 toogle's moves.

very weird behaviour, but it seems that all toogles are activating the first activity's toogle.

[2017-08-11 03:15] rjmackay commented on #1886
Not sure why this ended in In Development already. This needs to tech speccing love.

[2017-08-11 04:05] Angamanga commented on #1886
@sorry, the commits above is me writing the wrong issue-nb! No development here yet.

[2017-08-11 09:34] Angamanga commented on #2002
This could not be reproduced and is working fine on Uchaguzi as well as locally. Confirmed with @Celestine22. Closing the issue

[2017-08-11 09:34] #2002 closed

[2017-08-11 14:17] jshorland commented on #1968
@diegodorgam thanks for letting us know. Are you using hosted or open source, and if open source, which version of the software are you running?

Also, would you mind sharing the URL of your deployment so I can try to replicate the error?

[2017-08-11 17:50] diegodorgam opened #2006 "Image Fields Validation Error `The field 3-7 imagem teste must be a digit, Given: changed`"
### Expected behaviour
Save the survey with image fields on it

### Actual behaviour
Getting a Validation Error: The field 3-7 imagem teste must be a digit, Given: changed
`3-7 imagem teste` is the label of the field.
<img width="768" alt="captura de tela 2017-08-11 as 14 04 39" src="https://user-images.githubusercontent.com/12052193/29224839-57a58370-7ea2-11e7-802a-780bcb17a257.png">
This is only

[2017-08-11 21:06] diegodorgam commented on #1968
I'm using an OpenSource install done with Docker, from platform-release repo @jshorland , there Ushahidi is in version 3.7.

The URL is https://mapa.tonarede.org.br

[2017-08-14 11:18] Angamanga opened #2007 "Summary of remaining category-issues"
This is a summary of remaining category-issues and also existing related prs.
*Category permissions*
- Add specific permissions for categories
Issue: https://github.com/ushahidi/platform/issues/1709

*Assign category as sub categories of another via category list page*
- Bulk-assignment of categories as subcategories of another category
Issue: https://github.com/ushahidi/platform/issues/1788

*Rov

[2017-08-14 11:29] Angamanga commented on #2007
(this issue requires no action right now, its just for me to keep sane while trying to figure out what to merge/what is left to do/what needs to be done/changed)

[2017-08-14 15:06] willdoran commented on #2003
This is something I've wanted for a long long time, there is no technical reason not to be able to do this. We are only lacking UX mock ups to show how multiple images/videos would be displayed/entered on a Post.

@justinscherer @middle8media ?

[2017-08-14 15:07] willdoran commented on #2005
The display for these numbers is broken, it doesn't update on change or delete. I've marked this as a bug.

[2017-08-14 16:02] willdoran commented on #1962
Adding this is relatively straightforward, I'll try to include it when preparing locking for merge to core.

[2017-08-14 16:04] willdoran commented on #1961
I would strongly associate this with the issue about allowing users to select what fields appear in the postcard.

[2017-08-14 17:14] Junemg opened #2008 "Highlights on the Map To Correspond with a Highlight in the Survey Categories"
### Expected behavior:

That when I highlight a colored point/post on the map the corresponding survey to which that post belongs becomes bigger or bold so that one quickly knows what category the post is in. This is necessary because some surveys have very similar colors e.g. Counting & Results and Security Issues

### Actual behaviour:

Highlighting the map points/posts yields no change on the s

[2017-08-14 21:05] willdoran commented on #2004
@Shadrock @jshorland I will take a look and see if I can find existing uml/diagrams. @rjmackay do you know of some already?

[2017-08-14 21:26] willdoran commented on #2004
rjmackay
[17:21]
I don't think we have proper UML version

[17:21]
Do they want specific ones for COMRADES and the integrations?

[17:21]
Sequence diagrams might be specific, but use case diagrams are probably pretty generic.

robbie [17:22]
I used a mix of https://www.planttext.com/ and  http://nomnoml.com/ to make my other diagrams... although they're both kinda fiddly

will [17:24]
I’m not tota

[2017-08-15 04:39] Angamanga commented on #1789
Testing checklist:
- [] When I change permissions to a category that has child categories, each child category is updated with the same permissions as the parent.
- [] When I edit a child category and change the parent category, the child category is updated with the same permissions as the parent.
- [] When I edit a child category, I am not able to change the permissions and instead I see a messa

[2017-08-15 04:44] Angamanga opened #2010 "Enforce category-permissions in the api"
### Expected behaviour
A child-category should always have the same permission as its parent. It should not be possible to save a child with different permission as its parent.

### Actual behaviour
There is no enforcement of this rule in the api, only in the client. A child and a parent can have different permissions.

[2017-08-15 04:44] Angamanga commented on #2010
Related to: https://github.com/ushahidi/platform/issues/1789

[2017-08-15 08:03] Angamanga commented on #1800
@justinscherer @aoduor Is this userflow ok?
*Before toggling the categories*
![screen shot 2017-08-15 at 09 59 48](https://user-images.githubusercontent.com/8624777/29307108-c8d93a7c-81a0-11e7-8639-6ada573a764f.png)

*After toggling the categories*
![screen shot 2017-08-15 at 09 59 43](https://user-images.githubusercontent.com/8624777/29307127-ddb3f0e0-81a0-11e7-8e5a-896b705f0d83.png)

[2017-08-15 13:33] aoduor opened #2011 "Add field options to "Categories" field during survey creation/editing"
### Expected behaviour
I'd like to be able to
* Set my categories field as required
* Set default values for the categories I select
* Make responses to categories field private

### Actual behavior
Right now, I don't see these options available to me when I add categories to my survey

### Steps to reproduce the behaviour/error
* Log into your deployment
* Create a survey/edit an existing survey

[2017-08-15 13:34] aoduor commented on #2011
not sure if Uchaguzi2017 tag is still appropriate, but it's something one of our volunteers from the geo team flagged.

[2017-08-15 13:37] aoduor opened #2012 "User should be able to define Categories as radio buttons or checkboxes"
I'm not sure if this is something that would apply across, or if this is something that would have been best handled using custom fields ( given that we currently cannot search by custom fields ), BUT, it would be INSANELY helpful to have had some of the categories we were using for Uchaguzi as radio buttons instead of checkboxes e.g geolocation status etc.

Perhaps something to think about when s

[2017-08-15 13:44] aoduor opened #2013 "Question: Assign multiple surveys during CSV Upload"
### Expected behaviour
In cases where I have a dataset with incidences that could apply to different surveys, I would love to be able to assign multiple surveys during upload. ( i.e I have a column on a CSV file that specifies which survey a single row should be assigned to )

### Actual behaviour
Right now, when uploading posts, I'm only allowed to select ONE survey, which means that if I have mu

[2017-08-15 13:56] Celestine22 commented on #2012
@aoduor thanks for this one! LOVE IT! The user should be able to select whether they want it to be a checkbox or a radio button because both are useful given the scenario. :)

[2017-08-15 17:16] willdoran commented on #1959
@kamaulynder Did this get merged?

[2017-08-16 02:30] sampathazim opened #2016 "category is not visible under survey: appi.ushahidi.io"
### Expected behaviour

### Actual behaviour

### Steps to reproduce the behaviour/error

[2017-08-16 21:24] rjmackay commented on #1795
@willdoran the original suggestion from Brandon on this was to accept lat/lon through the location search (http://preview.ushahidi.com/platform-pattern-library/develop/assets/html/5_layouts/post-edit.html).
I'm not sure thats intuitive enough, but I'm not super happy having extra lat/lon fields outside of the location editor. Maybe we could just have the placeholder say 'Search for a location or e

[2017-08-16 21:49] willdoran commented on #1795
@rjmackay Yeah, I think an option inside the existing search to enter lat long, or for the search to accept lat,long would seem better. I'm not sure why they can't just translate the lat long via the existing search input.

[2017-08-17 00:56] rjmackay commented on #1733
@willdoran where did this all end up? Do we need to QA? How do I do that?

[2017-08-17 01:02] rjmackay commented on #1967
I think the correct solution for this in core is to apply the current filters to the totals too? ie. if we're only viewing published posts, only include those in the total.
This probably needs to exclude form and category filters, but all others should apply.

[2017-08-17 03:30] rjmackay commented on #1985
I'm not sure this should go back to core. The fixes for #1960 are generic, but redirecting to the saved search or home after saving a post is slightly unexpected for users in a normal deployment

[2017-08-17 08:08] tuxpiper opened #2017 "PUT operation on media item to update caption doesn't work"
### Expected behaviour

The following operation:
[code]

with body
[code]

Should update the caption for the media item

### Actual behaviour

The following response is returned by the server instead

[code]

### Steps to reproduce the behaviour/error

[2017-08-17 08:13] tuxpiper opened #2018 "Web client doesn't update media caption"
### Expected behaviour
When editing a post, and editing a the caption of an attached image, the caption should be modified after clicking submit.

### Actual behaviour
The caption is for the image is not changed.

---------------------------------------------

---- API Issue description -----

https://github.com/ushahidi/platform/issues/2017

### Expected behaviour

The following operation:
[code]

[2017-08-17 09:13] rjmackay commented on #1772
Most of this is done in @crcommons PRs. However we'll need to follow up with a PR that blocks access to data from the API unless the users accepts terms.

I think it might make sense to simply treat them like a non-logged in user until they accept the terms... or we can deny access entirely.

[2017-08-17 12:18] dukedanny opened #2019 "Missing survey fields on Android and iOS"
### Expected behaviour
Fields created on Web on the .io deployment are supposed to show up when one adds/refreshes the deployment on the Android & iOS apps.
<img width="942" alt="sparkedwomen" src="https://user-images.githubusercontent.com/437728/29411779-ec850fe0-835e-11e7-8a43-5eeb0e594bc7.png">

### Actual behaviour
The survey fields appear cropped with some fields lacking.
![image uploaded fro

[2017-08-17 15:05] willdoran commented on #1733
I think this already went through QA and was merged about a month ago. I'm not sure why the ticket is still open, I'll check into it.

[2017-08-18 03:37] rjmackay commented on #1772
First iteration deployed to staging for testing

[2017-08-21 15:44] middle8media commented on #1816
This can be closed

[2017-08-21 15:47] middle8media commented on #1947
https://github.com/ushahidi/platform/issues/1941
https://github.com/ushahidi/platform/issues/1942

[2017-08-21 21:52] rjmackay commented on #1772
Deployed to staging. Works for me!

[2017-08-21 21:55] rjmackay opened #2020 "Block API access for users who haven't accepted TOS"
### Expected behaviour
Users who don't accept TOS can't access any data

### Actual behaviour
Users who don't accept TOS are block from frontend, but not backend

### Notes

- It might make sense to simply treat them like a non-logged in user until they accept the terms
- Or we can deny access entirely.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-534

[2017-08-21 21:55] rjmackay commented on #2020
Refs #1772

[2017-08-21 21:55] rjmackay commented on #2020
@willdoran any thoughts on how best to manage this?

[2017-08-21 22:15] rjmackay commented on #1595
@willdoran how do we enable this? I'd like to turn it on in staging and reconfirm its working, then deploy to prod

[2017-08-22 01:13] #1967 closed

[2017-08-22 04:17] rjmackay commented on #1816
@Angamanga assigning this to you. We just need to confirm if this all works in the client now, or if it needs some markup updates.

[2017-08-22 04:17] rjmackay commented on #1733
@willdoran Probably because we haven't deployed in over a month :( but also because we were still refactoring.

[2017-08-22 04:18] rjmackay commented on #1733
Has this been enabled in production then?

[2017-08-22 04:20] rjmackay commented on #2019
@dalezak can you check this and confirm the bug if possible?
@dukedanny whats the URL of the deployment?

[2017-08-22 04:22] rjmackay commented on #1959
It did. https://github.com/ushahidi/platform/pull/1983

However I think we need to review the new permissions before landing in develop... there was some confusion about what a 'manage messages' permission actually did so naming is probably not great.

[2017-08-22 12:07] dukedanny commented on #2019
@rjmackay The URL is https://sparkedwomen.ushahidi.io

[2017-08-22 13:20] Angamanga commented on #1816
This needs some adjustments, the text changes to right to left in the client, but not the layouts.

[2017-08-22 14:15] middle8media commented on #1816
@Angamanga I want to make sure we are fixing as intended, please let me know what you find.

[2017-08-22 16:44] willdoran commented on #398
Automatic Session Expiration creates a frustrating experience for the user. We should warn the user two minutes before their session is due to end and offer them the opportunity to renew the session.

First of all the Platform uses the [League Oauth2 Server](https://github.com/thephpleague/oauth2-server) and it's worth reading about how [OAuth tokens work](https://www.oauth.com/oauth2-servers/acce

[2017-08-22 21:48] dalezak commented on #2019
Hi @dukedanny, I was able to track down the problem, looks like it's related to the _Are you in school?_ question being _required_. There's a bug in the radio button input control checking if it has a value or not.

I'll submit an app update with a fix but in the meantime, can you try changing that question to being optional?

[2017-08-22 23:53] dukedanny commented on #2019
Thank you @dalezak. Making the radio button optional fixed the issue on my android app view.

[2017-08-23 09:08] Angamanga commented on #1816
@middle8media We need to look at it together so I scheduled a time for tomorrow. In the pl, different stylesheets for rtf and ltr are loaded with js instead of class, but that is not happening in the platform-client.

[2017-08-23 12:17] Angamanga opened #2022 "In tasks, categories are displayed with ID instead of name after saving"
### Expected behaviour
When I add a category-field to a task, I want to see the chosen categories by name after saving
### Actual behaviour
When I add a category-field to a task, I see category-id instead of name after saving
![screen shot 2017-08-23 at 14 16 00](https://user-images.githubusercontent.com/8624777/29615294-a681606c-880d-11e7-8461-b5625afff630.png)

### Steps to reproduce the behavio

[2017-08-23 12:39] Angamanga commented on #1865
I cannot reproduce this either. @aoduor or @diegodorgam could you please share a screenshot what it looks like? I tried on a survey with many tasks and all toggles works, no matter what order I toggle them. Tried in Chrome and Safari.

[2017-08-23 12:46] Angamanga commented on #1953
@Philomenahhfl started on this today, will get handholding from me if needed.

[2017-08-23 17:49] dalezak commented on #2019
This will patched in upcoming `1.5` release of the app... closing issue.

[2017-08-23 17:49] #2019 closed

[2017-08-24 00:17] rjmackay commented on #1800
@Angamanga I don't think we should use a toggle checkbox for this since it not enabling/disabling something, rather just a show/hide. Could we use the `custom-fieldset` seen here: http://preview.ushahidi.com/platform-pattern-library/develop/assets/html/2_fragments/
or the overflow pattern used in the timeline filter (where we have a `More` button to expand) ??

[2017-08-24 02:57] rjmackay commented on #1991
Looks like this is a race condition where the check runs before the post is fully rendered. Adding a quick fix.

[2017-08-24 03:25] rjmackay commented on #1785
I think this is covered by #1772

[2017-08-24 03:26] rjmackay opened #2026 "Don't make initial admin user agree to Terms Of Service"
### Expected behaviour
When I create a deployment I should not be prompted to agree to terms of service, because I already agreed to them in ushahidi.io/create

### Actual behaviour
I am asked to agree to terms of service *again* on my first login

### Steps to reproduce the behaviour/error

Refs https://github.com/ushahidi/platform/issues/1772

[2017-08-24 03:29] rjmackay commented on #1816
Its possible webpack is going to make swapping the entire style sheet pretty tricky. Let me know if you need pointers on how to manage that.

[2017-08-24 04:25] #1975 closed

[2017-08-24 04:25] #1970 closed

[2017-08-24 04:26] #1089 closed

[2017-08-24 04:26] #1836 closed

[2017-08-24 04:26] #1846 closed

[2017-08-24 04:26] #1803 closed

[2017-08-24 04:26] #1635 closed

[2017-08-24 04:26] #1917 closed

[2017-08-24 04:26] #1926 closed

[2017-08-24 04:26] #1713 closed

[2017-08-24 04:26] #1750 closed

[2017-08-24 04:26] #1789 closed

[2017-08-24 04:26] #1826 closed

[2017-08-24 04:26] #1809 closed

[2017-08-24 04:26] #1787 closed

[2017-08-24 04:26] #1814 closed

[2017-08-24 04:26] #1763 closed

[2017-08-24 04:26] #1200 closed

[2017-08-24 04:26] #1988 closed

[2017-08-24 23:48] rjmackay commented on #1702
@Angamanga Could you create any follow up issues for this and assign them to the bot theme/milestone? Then we should close this one out.

[2017-08-24 23:51] #1991 closed

[2017-08-24 23:52] #1820 closed

[2017-08-24 23:55] #1940 closed

[2017-08-24 23:55] #1987 closed

[2017-08-25 01:32] rjmackay commented on #1968
I'm going to close this an open a new issue to cover the outstanding issues

[2017-08-25 01:32] #1968 closed

[2017-08-25 01:33] rjmackay opened #2027 "CSV file should include ALL survey fields even if empty"
### Expected behaviour
CSV file should include ALL survey fields even if empty

### Actual behaviour
CSV file only includes survey fields that have values

### Steps to reproduce the behaviour/error

Aha! Link: https://ushahiditeam.aha.io/features/PROD-533

[2017-08-25 01:33] rjmackay commented on #2027
Ref https://github.com/ushahidi/platform/issues/1968

[2017-08-25 01:33] rjmackay opened #2028 "CSV export should order columns by field order in survey"
### Expected behaviour
CSV export should order columns by field order in survey

### Actual behaviour
CSV column order is random

### Steps to reproduce the behaviour/error

[2017-08-25 12:06] Angamanga commented on #1953
Tech spec:
- [ ] The cancel-function should clear the filters
- [ ] The cancel-function should close the modal
- [ ] Change the cancel-function to clear the filters by using the post-filter-service

[2017-08-25 16:43] middle8media commented on #1816
The tension is that the whole RTL system is designed to toggle stylesheets and although I believe it could be done, though not totally sure based on how the RTL sass is designed, it would be a major overhaul to convert over to styling based on the `rtl` body class.

[2017-08-25 17:12] gsvlopez opened #2029 "Cannot submit survey"
I tried to submit a response to my own Ushahidi survey - https://hatespeechtracker.ushahidi.io - and it is not allowing me to submit. It says that one of my fields is "required" - but I filled in this field. It is the second field, titled "Enter content of hate speech here", and there is no option to make it required/not required.

To reproduce, go to link above, click (+), fill out survey with "T

[2017-08-25 17:46] aoduor commented on #2029
Flagging this is p0. Experienced the same issue on two separate ushahidi.io deployments today while testing. Platform does not seem to detect content in the title field or description field (even when edited) and marks it as needing to be filled during submission

Cc @jshorland.

[2017-08-25 18:16] jshorland commented on #2029
Hey @gsvlopez we're looking into this ASAP! Thanks for filing.

[2017-08-25 18:17] jshorland commented on #2029
Replication efforts:
- we believe it happens on deployments in production when you change the field name of Title and/or Description.
- it's NOT happening on our internal QA deployment (unable to replicate at all there)

[2017-08-25 18:19] jshorland commented on #2029
Additional details:
Have you created any tasks on that particular survey?

- No, but: I did temporarily change the first question - Title - to the same exact text on the next question - "Enter the content of the hate speech here". The reason I did that was because Title didn't seem to make much sense in the context of this survey. Because the field that originally said Title had a character limit,

[2017-08-25 18:19] jshorland commented on #2029
cc @rjmackay

[2017-08-25 20:23] rowasc opened #2030 "Space missing between "Validation Error" text and field name."
Description: when you have an error message appear on the error message tooltip for API errors, it's not displayed correctly. For instance, I see "Validation Errorlabel must not be empty" instead of "Validation Error: label must not be empty" or some other format with Error and label separated.

Steps to reproduce:
- Create or Edit a survey
- Make a mistake, for instance leaving a field name empty

[2017-08-25 20:24] rowasc commented on #2030
![Screen Shot 2017-08-25 at 5.13.43 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5940898e29d5f5001ab2826d/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b772b6456f66b7191a37df113284f5b5c5ecc3c4a4356bcbbd671f3e57862804e0ee8856c5e20c56817faea8418bc01ec208b4784bfee8818d2f42f67b6d5db1063474f4dcbed5727a29f41c95df648e74457a2143760e0762431.png)

[2017-08-25 21:10] Angamanga commented on #2029
This commit is missing from master/production: https://github.com/ushahidi/platform/commit/0de372c08b824518c7ecdda35967ec275e3cfeb0

[2017-08-27 22:32] rjmackay commented on #2029
Ah right. I think @willdoran fixed this after I deployed. I can just do another release today :)

[2017-08-27 23:50] rjmackay commented on #2029
@gsvlopez this should be fixed now. I've just deployed the changes. Can you test it out and let me know if it solved your issue?

[2017-08-27 23:50] #2029 closed

[2017-08-28 07:21] #1702 closed

[2017-08-28 07:22] Angamanga commented on #1702
I have moved remaining bot-issues to the lesson-learned document for now and closing this: https://docs.google.com/document/d/190KdcA_DcikAzBP31am6xdRxe4jaaqC07atnWJnceZ8/edit

[2017-08-28 07:27] #1844 closed

[2017-08-28 07:28] #1907 closed

[2017-08-28 07:40] #1911 closed

[2017-08-28 07:40] #1910 closed

[2017-08-28 07:42] #1781 closed

[2017-08-28 07:42] #1782 closed

[2017-08-28 07:43] #1842 closed

[2017-08-28 07:44] #1856 closed

[2017-08-28 13:03] dCogs commented on #2029
That fixed it.  Thanks.

On Aug 27, 2017 7:50 PM, "Robbie Mackay" <notifications@github.com> wrote:

[2017-08-28 16:47] middle8media commented on #1759
https://github.com/ushahidi/platform-pattern-library/issues/141

[2017-08-28 19:39] #2004 closed

[2017-08-29 22:38] jshorland commented on #2029
Fixed. Closing!

[2017-08-29 22:43] jshorland commented on #308
Closing in favor of #1421

[2017-08-29 22:43] #308 closed

[2017-08-29 22:44] jshorland commented on #290
Closing in favor of #1421

[2017-08-29 22:44] #290 closed

[2017-08-29 22:44] jshorland commented on #1421
Additionally from previous issues #290:
- Users were surprised that there was no step requiring email confirmation during sign up, and were concerned that anyone could use their email address to create an account.
- I would argue that the user should receive an email and approve a sign up token from it before authorize to access.

[2017-08-29 22:47] jshorland commented on #1421
User stories:
- as an admin creating my first deployment, I want to receive a confirmation email as a security measure with a link that automatically logs me in when I click it.
- as a user with the permission to manage users, I want any new user I create to receive an email invitation/confirmation to the deployment with a link to login

[2017-08-29 23:00] jshorland commented on #296
Closing #508 in favor of this and adding comment here:

Copying V2 feature request 595:

I don't see a way to limit commenting to logged in users only - only the on/off switch in the site settings. Would be great to add this for both spam protection and accountability. Best would be to assign it as a user role capability that can be selected for assorted user levels.

Nice as an option, but don't

[2017-08-29 23:00] jshorland commented on #296
This might align nicely with future of "tasks"

[2017-08-29 23:01] jshorland commented on #508
Closing in favor of #296

[2017-08-29 23:04] jshorland commented on #330
This was fixed a long time ago. Closing.

[2017-08-29 23:04] #330 closed

[2017-08-29 23:06] jshorland commented on #348
This is fixed by #1391 which will find it's way back into core platform in the next two weeks. Closing in favor of that.

[2017-08-29 23:06] #348 closed

[2017-08-29 23:11] jshorland commented on #349
cc @tuxpiper had any progress been made on this in the past?

[2017-08-29 23:12] jshorland commented on #352
keeping for now in icebox. barely anyone uses on ipad, so its still a low priority for me, but we should still properly test tablets

[2017-08-29 23:14] jshorland commented on #355
no longer an issue. closing.

[2017-08-29 23:14] #355 closed

[2017-08-29 23:18] jshorland commented on #375
"sharing" feature now makes this possible. And until we have a proper platform, collections will exist only within their originating deployment, not others'. Closing.

[2017-08-29 23:18] #375 closed

[2017-08-29 23:22] jshorland commented on #425
Anything still relevant here should be considered while scoping #1575. Closing in favor of that issue. cc: @justinscherer

[2017-08-29 23:22] #425 closed

[2017-08-29 23:27] jshorland commented on #1497
From #398:

Automatic Session Expiration creates a frustrating experience for the user. We should warn the user two minutes before their session is due to end and offer them the opportunity to renew the session.

First of all the Platform uses the League Oauth2 Server and it's worth reading about how OAuth tokens work to get a basic understanding.

In the client the following code is responsible f

[2017-08-29 23:28] jshorland commented on #398
Closing in favor of #1497

[2017-08-29 23:28] #398 closed

[2017-08-29 23:30] jshorland commented on #401
Tagging this to "tasks", because it will become important for people to be able to filter by which task they'd like to triage through.

[2017-08-29 23:33] jshorland commented on #429
@rjmackay should we keep this?

[2017-08-29 23:33] jshorland commented on #432
Closing in favor of #1570

[2017-08-29 23:33] #432 closed

[2017-08-29 23:35] jshorland commented on #433
@rjmackay should we close?

[2017-08-29 23:37] jshorland commented on #442
Not an issue anymore. Closing.

[2017-08-29 23:37] #442 closed

[2017-08-29 23:39] jshorland commented on #439
Seems like some good UX improvements. Keeping in icebox for now though.

[2017-08-29 23:40] jshorland commented on #441
... I'm not sure I understand this issue anymore. Should we keep @rjmackay ?

[2017-08-29 23:42] jshorland commented on #1570
Closing in favor of #1575

[2017-08-29 23:42] #1570 closed

[2017-08-29 23:43] jshorland commented on #444
seems like some low hanging fruit to me

[2017-08-29 23:45] jshorland commented on #453
I'm going to close this because it's, at this point, irrelevant to V3. We will likely introduce "trusted reporters" to V3 (#1572) which may cover a portion of this.

[2017-08-29 23:45] #453 closed

[2017-08-29 23:46] jshorland commented on #1944
I'm going to close this in favor of #1572. Just trying to consolidate.

[2017-08-29 23:46] #1944 closed

[2017-08-29 23:47] jshorland commented on #633
I'm going to close this in favor of #1572, but please do reference this as necessary for proper spec'ing of trusted reporters.

[2017-08-29 23:47] #633 closed

[2017-08-29 23:48] jshorland commented on #569
Trusted reporters (#1572) may be a good intro into validating this.

[2017-08-30 00:15] jshorland commented on #2026
@rjmackay clarifying question: do you mean that initial admin that have already created a deployment before this change goes into effect would not need to agree to the ToS?

[2017-08-30 00:17] rjmackay commented on #433
Yea. Its not resolved. But its not worth keeping around

[2017-08-30 00:17] #433 closed

[2017-08-30 00:18] rjmackay commented on #429
I think so. This is still fairly relevant... unless activity page is going away, or being replaced

[2017-08-30 00:20] jshorland commented on #2016
Hi @sampathazim, and I apologize for my delay in getting back to you on this. Do you have any additional details you can provide? It'd be helpful to know which survey you assigned the category to, and a screenshot of that category field on the survey.

[2017-08-30 00:22] jshorland commented on #2012
Clarifying question for my own understanding: is this because they want the user to either a). be able too select multiple categories (as a checkbox), or b). only be able to select ONE (as a radio button)? or is it for some other reason?

[2017-08-30 00:22] jshorland commented on #2012
and spot on @angela that this would be a quick hack to the real problem that is not being able to filter by custom field.

[2017-08-30 00:24] jshorland commented on #2001
closing.

[2017-08-30 00:24] #2001 closed

[2017-08-30 01:58] rjmackay commented on #2026
AFTER. Those who already created a deployment need to be prompted, since the terms have changed. But new deployment agree to terms during creation.

[2017-08-30 02:11] rjmackay commented on #441
I think this is still a problem. Its really hard to manually produce.
I'll try to explain how the API loads posts:

A request for post is basically a set of filters.
1. We pass filters to a repo
2. Repo returns a set of posts that match these filters (regardless if the user has permission to see them). This is paged, so it'll only return say 20 posts at a time
3. We pass each post to an 'Authorize

[2017-08-30 08:48] tuxpiper commented on #349
Oh yes, this is in the instructions now: https://www.ushahidi.com/support/install-ushahidi

[2017-08-30 11:41] Angamanga opened #2031 "Unmapped posts are not displaying correct values"
### Expected behaviour
When I filter on something, the unmapped-number in the map-view should correspond to the number of unmapped posts in the current filter, not all posts.

When I filter on something, and click the unmapped-number in the the map-view, it should still keep the same set of filters+add the unmapped posts-filter, and then take me to the unmapped posts in timeline.
### Actual behavi

[2017-08-30 16:47] jshorland commented on #929
- As someone searching for a location in the location picker as I either submit a new post or edit a post's location, I want to know which geographic database is being used in case I need to search a different DB for my exact location.

cc: @justinscherer we will need to figure out how we better and where we communicate this to the user.

[2017-08-30 17:05] jshorland commented on #798
This is actually resolved. There's a new issue for adding/editing posts one right after another that we'll get to tackle in Epic: Tasks

[2017-08-30 17:05] #798 closed

[2017-08-30 17:12] jshorland commented on #798
CLOSED IN FAVOR OF #1896

[2017-08-30 17:56] jshorland commented on #1864
I'm going to re-open this as a more refined version of this will be necessary for Epic: tasks

[2017-08-30 18:00] jshorland commented on #1894
@justinscherer I'll leave it to you whether you'd like to use #1575 or this issue. Please close whichever one you don't want to use.

[2017-08-30 18:03] jshorland commented on #1398
To do: we need to split this out into two different issues
1. alerts -- these are communications from the system about new posts that are important to you or urgent
2. notifications -- these are communications from the system about new things that have happened within the deployment (you've been assigned to do something, your post has been edited/published/etc)

[2017-08-30 18:08] jshorland opened #2032 "Improving Alerts UX"
The current "notifications" feature needs to be refined to become:
1. more visible to the user
2. easier to sign up for

We also need to be more clear about distinctions between an "alert" and a "notification". This might mean that the current notification feature morphs into "alerts" and we design a new notifications feature ushahidi/platform#1398

Aha! Link: https://ushahiditeam.aha.io/features/

[2017-08-30 18:19] jshorland commented on #973
Closing in favor of #1989 and #1023

[2017-08-30 18:19] #973 closed

[2017-08-30 18:35] jshorland commented on #826
Moving this requirement into #1575 and closing.

[2017-08-30 18:35] #826 closed

[2017-08-30 18:36] jshorland commented on #1575
Should also include contact instructions or form

[2017-08-30 18:47] jshorland commented on #1795
Just want to check in that this is actually getting back into core? cc: @rjmackay

[2017-08-30 18:49] jshorland commented on #1391
Just checking in that this is actually getting back into core? cc: @rjmackay

[2017-08-30 18:49] jshorland commented on #1229
Completed in Uchaguzi by #1391.

[2017-08-30 18:49] #1229 closed

[2017-08-30 18:53] jshorland commented on #1556
Closing in favor of #1632

[2017-08-30 18:53] #1556 closed

[2017-08-30 18:58] jshorland commented on #1014
- as a user with the permissions to manage users, I want to be warned of how many users and which users will be affected when I delete a custom role
- If I choose to proceed with the deletion, I want to be taken to a screen with the list of users that were affected by the deletion, and I want to be able to assign them to new roles, either in bulk or one by one

[2017-08-30 19:02] jshorland commented on #1695
Related: #1873

[2017-08-30 19:07] jshorland commented on #1695
Hierarchy:
Organization
-> admin 1, admin 2, admin 3...
--> user 1, user 2, user 3...
--->"deployment" or "campaign" 1, 2, 3, 4... with some users but not necessarily all

[2017-08-30 19:12] jshorland commented on #837
Closing. No longer an issue with Mustang.

[2017-08-30 19:12] #837 closed

[2017-08-30 19:14] jshorland commented on #699
CLOSING IN FAVOR OF #1367

[2017-08-30 19:14] #699 closed

[2017-08-30 19:16] jshorland commented on #1239
This has been adjusted. Closing.

[2017-08-30 19:16] #1239 closed

[2017-08-30 19:19] jshorland commented on #1207
Closing in favor of #1421

[2017-08-30 19:19] #1207 closed

[2017-08-30 19:21] jshorland commented on #1106
Is this still an issue?? I can't seem to see exactly whether it is or not on QA

[2017-08-30 19:25] jshorland commented on #1863
Want to make sure this gets back into core

[2017-08-30 19:43] jshorland commented on #1961
Related: #1335

[2017-08-30 19:45] jshorland commented on #1935
Closing in favor of #1246

[2017-08-30 19:45] #1935 closed

[2017-08-30 19:45] jshorland commented on #1246
Also rquested during uchaguzi:
In the event that I don't have lat/lon information on a CSV file, if we have location names indicated, it would be helpful to automatically geocode info.

Requested both for Uchaguzi and IFES UWIANO team.

[2017-08-30 19:48] jshorland commented on #613
Closing in favor of allll the Epic: tasks issues (https://github.com/ushahidi/platform/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22Epic%3A+Tasks%22)

[2017-08-30 19:48] #613 closed

[2017-08-30 19:54] jshorland commented on #1708
@dalezak I'm reprioritizing our workboard and wanted to check in with you on this. Same priority, or would you change this? And would you mind clarifying the effect of this on users?

[2017-08-30 19:56] jshorland commented on #1680
Closing in favor of #975 where we should scope this out

[2017-08-30 19:56] #1680 closed

[2017-08-30 20:05] jshorland commented on #1688
Closing in favor of #1709

[2017-08-30 20:05] #1688 closed

[2017-08-30 20:08] #1914 closed

[2017-08-30 20:11] jshorland commented on #1476
We *might* want to include this in our enterprise product.

[2017-08-30 20:13] jshorland commented on #1396
Related: #1891

[2017-08-30 20:15] jshorland commented on #1676
Hi @niccolov -- I apologize for our delay! Image field should be able to be made mandatory now. Please confirm on your end?

[2017-08-30 20:17] jshorland commented on #936
Closing in favor of #1246

[2017-08-30 20:17] #936 closed

[2017-08-30 20:20] #778 closed

[2017-08-30 20:53] rjmackay commented on #1602
Most CSRF protection relying on the HTML being generated by the server that receives the HTTP request though. I'm not sure how we'd get the CSRF token from the API into the client in a way that could be replicated cross-site anyway

[2017-08-30 22:17] rjmackay commented on #1391
It should be live on production already

[2017-08-30 23:04] #1374 closed

[2017-08-30 23:14] rjmackay commented on #1992
@jshorland is this still relevant?

[2017-08-30 23:17] rjmackay commented on #1865
I think this was fixed by Will. Closing. Reopen if its still happening in the latest release

[2017-08-30 23:17] #1865 closed

[2017-08-30 23:18] #1930 closed

[2017-08-30 23:18] rjmackay commented on #1930
Closing... unless theres more info and this is still relelvant

[2017-08-31 00:13] rjmackay commented on #1566
@jshorland I have no idea if this is important. If its worth doing, it could go into UX cleanup

[2017-08-31 00:14] #1494 closed

[2017-08-31 00:22] rjmackay commented on #1624
@jshorland I think this is really mostly relevant if we decide to build video upload into the web client. Does this fit into any of the milestones? if not, maybe icebox.
Basically the risk here is that someone can grab our vimeo keys from the mobile app and upload whatever they want to our vimeo account.

[2017-08-31 00:23] rjmackay commented on #1616
I don't see how we can resolve this and still be using oauth2. The Oauth spec requires a client name + secret

[2017-08-31 00:26] rjmackay commented on #1852
@willdoran I'm not clear if this was *required* for Comrades or just nice to have?

[2017-08-31 00:27] rjmackay commented on #1924
@jshorland over to you, this seems like a really minor priority to me.

[2017-08-31 00:29] rjmackay commented on #1721
I would recommend against this TBH. We used to do this in v2, and the biggest pain is that you have to reload the groups for each zoom level, so while the initial load is faster, it requires far more work for each zoom in/out action. If we do want to do this, we should evaluate existing services that can cluster geojson for us.

[2017-08-31 00:37] rjmackay commented on #1490
I think this is resolved after landing #1089

[2017-08-31 00:37] #1490 closed

[2017-08-31 00:40] rjmackay commented on #1677
This needs updates on both client and API
- Media API Validator: Makes caption optional, confirm that DB allows that column to be null
- Client: Make sure angular validation isn't set to require the caption

[2017-08-31 00:43] rjmackay commented on #1630
@rowasc I'm not 100% what the current warning says right now. But we should swap it out for something a bit clearer about the potential for data loss.
I can double check the language when you're ready.

[2017-08-31 00:47] rjmackay commented on #1795
I chatted with @Angamanga about this. I'd suggest that if a user enters something that looks like a lat/lon into the location search we show "Lat: X Lon: Y" at the top of the search results. Only issue is it isn't very discoverable

[2017-08-31 00:48] rjmackay commented on #1795
@Angamanga @rowasc assigning to both of you. Whoever gets to it first can get started

[2017-08-31 00:50] rjmackay commented on #1497
Related to #1645

[2017-08-31 00:51] #955 closed

[2017-08-31 00:53] rjmackay commented on #1714
Refs: https://github.com/ushahidi/platform/issues/928

[2017-08-31 00:54] rjmackay commented on #1714
I'd suggest we prompt users to set admin email and password on first login... that should resolve this. They shouldn't be able to continue with 'admin' as an email.

[2017-08-31 01:36] #1997 closed

[2017-08-31 01:39] #1979 closed

[2017-08-31 02:23] rowasc commented on #1630
@rjmackay ok, so at first glance, this looks like a text change and I'm sending the possible new texts here, but I think we could also have a form asking for more explicit confirmation (like when you try to remove a repo)  before we let them do something with so much potential data loss.
### rough example here
This is for fields, but something similar would work for surveys as well.
Asking for fie

[2017-08-31 06:42] aoduor commented on #1795
Hmmm. I would argue with adding it exactly as is, as per feedback from users. IMO, it isn't intuitive for me as a user to know that I will be able to search by coordinates on the search bar.

[2017-08-31 08:14] Angamanga commented on #1816
@rjmackay Do you have any comments on the separate stylesheets? I don't have enough knowledge of webpack to give a good answer.

[2017-08-31 13:07] Angamanga commented on #1795
@justinscherer Do you have any opinions on this? The question is about how to handle lat-lng-input in the location-picker. Either separate fields (like we used on uchaguzi) or adding lat-lag as an option when searching in a visible way in the search-field:
![screen shot 2017-08-31 at 15 03 55](https://user-images.githubusercontent.com/8624777/29924576-a9a41d4c-8e5d-11e7-98ad-c5b902749352.png)

[2017-08-31 13:55] rowasc commented on #1677
@rjmackay
This feature requires to have a toggle like the ones we have for description field/required status, right?
example;
![Screen Shot 2017-08-31 at 10.50.42 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5940898e29d5f5001ab2826d/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b772b6457f26b7191a379ef0c2e51415b4cbc30254d58eeb9cb74fce36f34985619e8d9655871

[2017-08-31 14:05] rowasc commented on #1630
@jshorland What do you think?

[2017-08-31 14:25] Angamanga commented on #1861
This was done for Uchaguzi. Opening issue again to integrate into platform-core too.

[2017-08-31 14:32] Angamanga commented on #1861
@rjmackay Would this be a good time to add this pattern to the platform as well:
![screen shot 2017-08-31 at 16 30 41](https://user-images.githubusercontent.com/8624777/29928674-c80259b4-8e69-11e7-86aa-312e94c65b92.png)

[2017-08-31 16:52] jshorland commented on #1861
YES!

[2017-08-31 16:58] jshorland commented on #1630
@rowasc the text looks great -- we should definitely move forward with that copy. and I like the idea of adding an extra manual step to delete. Two questions come up for me that I think @justinscherer can help answer in terms of UX:
- does the implementation of "undo" for all actions, which is slotted to be done before end of year, diminish the need for this extra step?
- Should we only show this

[2017-08-31 18:11] rowasc commented on #1630
@jshorland ok Thanks!

Also:
- I noticed that **tasks** can also be deleted and they have the generic alert too. Should I add a similar warning to them?  ie:: "This action cannot be undone. Deleting this task will remove all of its fields, and any data in them."

- I had sent two options for the alert in the survey. Used  "This action cannot be undone. Deleting this survey will remove all of its d

[2017-08-31 19:44] rjmackay commented on #1861
@Angamanga yes. That'd make far more sense. Theres another issue for that #1646
We should also only show the filter for a data source thats actually enabled.

[2017-08-31 19:54] rjmackay commented on #1677
@rowasc good thought. I was assuming we would just make them all optional. But you're probably right.
I'd add it with the test 'Make image caption required', below the existing required toggle. I'm not sure if you'll need to add an extra field on the backend for it, or if it could be saved into one of the existing config fields on form_attributes

[2017-08-31 19:58] rjmackay commented on #1816
I haven't had a chance to look into it yet. We'd have to hack it for webpack, and I'm not sure it'd work. We can pair up on this next week

[2017-08-31 20:06] Angamanga commented on #1861
@rjmackay This one is also related: https://github.com/ushahidi/platform/issues/1254 I'll look into it tomorrow.

[2017-08-31 20:36] rowasc commented on #1677
@rjmackay ok thanks.
- Adding it next to the required toggle makes sense, yes. I'll do that
- I will look into adding the option into the `config` field as we discussed.

[2017-08-31 20:42] rjmackay commented on #1795
Personally I'd be happier if the lat/lon field were just smaller or inside the search dropdown. Right now this makes the location picker take up a huge amount of space, and when you have lots of fields its not clear that the lat/lon fields are joined to the map.

[2017-09-01 12:57] Angamanga commented on #1861
OK, so a summary of the task:
1. Datasources displayed in the filter and mode-context-bar should only be the ones enabled in the deployment (related to #1254)
2. Nb of posts for each datasource should be displayed in the mode-context-bar in accordance with the styles in the pattern-library

@rjmackay @jshorland  A question, should we still keep the checkboxes for data-sources in the filter-modal l

[2017-09-01 12:58] Angamanga commented on #1646
This issue is related to #1861

[2017-09-01 13:55] rowasc opened #2034 "Task in "Create post" form displays translation string key instead of text"
## Steps to  reproduce:
Try to add a post in a survey with tasks.

## Current behavior:
When creating a post in  a survey that has a task, I see  a "survey.task_visible_when_published"  translation key instead of the text that should be there.

## Expected behavior:
When creating a post in a survey that has a task, I see the translation value/correct text.

The correct text would be "This task wil

[2017-09-01 15:06] justinscherer commented on #1795
So the obvious answer here is testing. @rjmackay @jshorland @Angamanga @aoduor

It's be a simple, 10 minute test.

For both scenarios you have an unstructured message that mentions a location.

In prototype A you leave it as is with the lat/long

In prototype B you take away the separate fields and update the helper text in the search bar to say something like: "Search by address, lat long coordin

[2017-09-01 15:10] justinscherer commented on #1630
@jshorland :

Both undo and "are you sure" are preferable if we're talking about data loss. You want to both prevent errors and help users recover from them when they happen, as well as provide undo options. So both get my vote.

Always do it. That would involve a bunch of complex business logic that we're not going to surface to our users. It would be opaque rules. Consistency is also a good thin

[2017-09-01 15:52] jshorland commented on #1795
This is priority now that uchaguzi is happening again.

t/Lon fields to location field options

duor

on.

t in the search bar to say something like: "Search by address, lat long coor=
dinates, or place name"

w.

 worth testing, IMO, even though they are small, because our poor data groom=
ers have to play with these fields a whole lot.

riority I'll bump it up. let me know.

m.=20

.io/ushahidi/

[2017-09-01 15:57] rowasc commented on #1677
@rjmackay @jshorland I'm not sure what should happen when a user had a caption previously in a field and then disables the field's caption

**Data:** Should we keep the old captions or delete them from the database?
**UI:** Should we stop displaying captions that were added in the past? or do we show the caption if there was one?

To me, it sounds like it would be a good idea to stop showing them,

[2017-09-01 21:50] rowasc commented on #1630
Moving forward with this as per Justin's comment. I'll leave a comment when I have something usable or more questions

[2017-09-01 22:41] rowasc commented on #1630
UPDATE: I checked with Justin and the confirmation from his was to do only the copy changes, not the additional input check.
So I'll just add the warning for tasks and then we are ready for PR/merging

[2017-09-03 15:34] jshorland commented on #1953
For this particular aspect of filtering, I believe @Angamanga's assessment of expected behavior when clearing filters is correct.

That said, I've been playing around with other tools that use filters (airbnb, intercom, chargebee, etc) and here's my suggestion for how our filtering system SHOULD work (I have put this entirely into new issue # so we can go ahead and push this fix and then address t

[2017-09-03 15:35] jshorland opened #2035 "Improving our filtering"
I've been playing around with other tools that use filters (airbnb, intercom, chargebee, etc) and here's my suggestion for how our filtering system SHOULD work (I have put this entirely into new issue # so we can go ahead and push this fix and then address the rest of the issues separately):

When I open the filter modal, I want to see ALL things I can filter by, INCLUDING surveys and categories.

[2017-09-03 15:58] jshorland commented on #1677
Great catch.

Data: Definitely keep the old captions. Do not delete.
UI: tell them it will disable captions previously entered, but that they
can re-enable them at any time by turning them back on.

On Fri, Sep 1, 2017 at 8:57 AM, Romina Suarez <notifications@github.com>
wrote:

[2017-09-03 20:52] rowasc commented on #2018
@rjmackay this blocks me to test all scenarios on 1677. Can I work on fixing it?

[2017-09-04 12:48] rowasc commented on #1714
I have been thinking about this. A few notes/questions:

- Can the “first login” mean “you still have ‘admin’ as your username so I will bug you/block you from using the client _until you change your username and password_",  instead? I think that's a sensible approach because it also forces pre-existing users to fix their user credentials and we have less risk of `something` going wrong and the u

[2017-09-04 13:28] rowasc commented on #1714
Frontend - Implementation
- [UI] When a user logs in with the `admin` email:
    - open "Account settings"
    - Block the cancel button
    - show a warning text that they `must` change their email and password to continue using the platform.
     - Enable Save & Close once the user has changed the email.

@jshorland @justinscherer any concerns?
I'll get started because it's a P0 issue and I want

[2017-09-04 13:29] rowasc commented on #1714
@jshorland @justinscherer any concerns?
I'll get started while I wait on more details/feedback because it's a P0 issue and I want to make sure I don't run into anything that can cause delays, but I'd like to make sure this is the right approach.

[2017-09-04 14:03] rowasc opened #2036 "User's logins,failed_attempts, last_login, last_attempt are not being saved."
Actual behavior:
- logins,failed_attempts, last_login, last_attempt are not being saved in the user table.
Expected behavior:
- logins,failed_attempts, last_login, last_attempt should be saved

Aha! Link: https://ushahiditeam.aha.io/features/PROD-530

[2017-09-04 19:09] rjmackay commented on #2035
Ok cool. We should probably resolve how categories and survey filters interact soon too, then make that consistent between the modal and the context bar.

[2017-09-04 20:42] rjmackay commented on #2028
@Angamanga or @rowasc I've assigned you both, basically whoever gets to this first should make a start. Comment when you get started so you're not duplicating work...

[2017-09-04 20:58] rjmackay commented on #1714
Yup. That works for me, and because we already remove the `admin` user and replace it on .io deployments it neatly doesn't break those.

I'm not sure we need to worry about this TBH. They can continue with the existing admin/admin combo and won't hit any issues unless they try to update the user/password via the API.

Not yet, its a backlogged task thats been ignored for a while :(

[2017-09-04 21:02] rowasc commented on #1714
@rjmackay ok great. Then I'll try to wrap it up today, it's all front end.

[2017-09-04 21:09] rjmackay commented on #2018
@rowasc yes this would make sense to fix. For now, it only needs to allow updating the caption, not the image itself

[2017-09-04 21:11] rowasc commented on #2018
Details/Clarification for the implementation: What happens here, is that you can update the image+caption, but you can't update the caption unless you update the image. If you only change the caption, the client doesn't attempt the PUT operation

[2017-09-04 21:13] rjmackay commented on #1861
I'd go for just putting it in the mode-context bar to start with. If its easy, keep it in the modal too.

#2035 will have us bringing all the filters into the modal anyway.

[2017-09-04 21:24] rjmackay commented on #2018
Ah! Ok that makes sense. You'd need to confirm that the PUT on the API works properly too

[2017-09-04 21:31] rowasc commented on #2018
Yup. There's something about that in #2017
When I work on 2018 I'll check that other one, too. 👍

[2017-09-04 21:38] #1630 closed

[2017-09-05 07:12] tuxpiper opened #2037 "Provide embedded map view with no UI elements"
(from: https://git.hacklab.com.br/relacionais/ushahidi/issues/1 )

### Expected behaviour
When embedded in wide browser containers, there should be the option not to display the UI elements for survey selection, header, filtering etc.

### Actual behaviour
The only option is to have the map embedded with all surrounding UI elements.

### Steps to reproduce the behaviour/error

[2017-09-05 07:45] tuxpiper opened #2038 ""Survey settings" link goes to invalid URL"
### Expected behaviour
When opening on the dropdown of actions for a survey (i.e. clicking on the number of posts), and clicking on "Survey settings"  ...

![screen shot 2017-09-05 at 9 41 16](https://user-images.githubusercontent.com/467393/30050371-865bbdbc-921e-11e7-94ea-c13011d6f983.png)

I should be taken to the Survey edit screen ( example URL: example.com/settings/surveys/edit/4 )

### Actu

[2017-09-05 13:52] Angamanga commented on #1861
@middle8media In the data-source filter in the modecontext-bar
![screen shot 2017-08-31 at 16 30 41](https://user-images.githubusercontent.com/8624777/29928674-c80259b4-8e69-11e7-86aa-312e94c65b92.png)
I am wondering how to handle the different sources of sms? Do we want group them together as just 'sms' or do we want to add them as the exact source-name?

[2017-09-05 15:12] middle8media commented on #1861
@Angamanga this may be a specific dev team question but my instinct says to separate them into their exact source name.

[2017-09-05 15:50] diegodorgam commented on #2037
the view should be something like this:
![captura de tela 2017-09-05 as 12 47 27](https://user-images.githubusercontent.com/12052193/30070043-a4cc842e-9238-11e7-893c-990d75149bff.png)

but in full width view, so we can put it embeded in a website.

[2017-09-05 16:02] rowasc commented on #1714
@jshorland
This is what I landed at.

- When I log in with my admin user that still has an invalid "admin" email, I see a modal where I can change the email and password.
    - There is no close button in the modal
    - There is no cancel button in the modal
    - If I reload the page, I am shown the modal again. [TODO]
    - I cannot continue using the platform until I change the email. [TODO]

[2017-09-05 23:24] rjmackay commented on #1861
Hrm. I think most users are likely to just expect to see all SMS in 1 place, and only have a single SMS source at a time. So I'd split them Twitter, SMS, Email, Web.

[2017-09-05 23:39] #1953 closed

[2017-09-05 23:39] #2022 closed

[2017-09-06 00:23] jshorland commented on #1714
@rowasc @rjmackay I think forcing them to change it is the only option. According to @rjmackay, if they DON'T change it, we can't send them notifications (although they might need to do other set up on that anyway), they can't change their password without setting a valid email, and they get a confusing login screen that asks for email (not username)

[2017-09-06 00:25] rowasc commented on #1714
great. Doing that now ! Thanks @jshorland.

[2017-09-06 02:45] #1045 closed

[2017-09-06 11:42] rowasc commented on #2028
@Angamanga I plan to start this today.

[2017-09-06 11:53] Angamanga commented on #2028
@rowasc 👍 Thank you! I am still working on the dataproviders :)

[2017-09-06 12:42] rowasc commented on #1677
Option 1 (GIF, kind of large to make sure the text is visible so it might take a bit to load):
![captioncollect](https://user-images.githubusercontent.com/2434401/30112381-8caec5dc-92e7-11e7-8b98-6f080ed5b35f.gif)

[2017-09-06 12:44] rowasc commented on #1677
Option 2 (GIF, kind of large to make sure the text is visible so it might take a bit to load):
![disablecaption](https://user-images.githubusercontent.com/2434401/30112479-ea3d9566-92e7-11e7-9bcc-17f240300220.gif)

[2017-09-06 12:46] rowasc commented on #1677
@rjmackay after the code review I started thinking about it and I wasn't so sure about the usability in each option.
Sending both implementations so @jshorland  has a change to take look and give her feedback. @jshorland , please let me know if the copy should be changed, and which option you prefer. After your feedback we should be ready to merge.
Thanks!

[2017-09-06 13:42] #2038 closed

[2017-09-06 14:18] jshorland opened #2040 "When someone gets their URL wrong, we should suggest similar URLs in a "did you mean""
### Expected behaviour
If I enter my URL incorrectly, I want to see a "did you mean..." list of similar URLs for me to choose from.
### Actual behaviour
If I enter my URL incorrectly, I receive the "oops something went wrong" error, which makes me think that something is wrong with the system

Aha! Link: https://ushahiditeam.aha.io/features/PROD-529

[2017-09-06 14:21] jshorland commented on #2040
Discovered during a dreams training session

[2017-09-06 14:22] jshorland commented on #2036
@rjmackay I've prioritized this as P2 for now -- but i might be wrong? any negative consequences to this besides the obvious of not seeing issues with login?

[2017-09-06 14:24] jshorland commented on #605
@rjmackay will this get done in the data providers rewrite or should I move it to icebox?

[2017-09-06 14:34] jshorland commented on #1677
@rowasc I prefer option 1: it's most consistent with everything else in that the user is turning something "on" rather than disabling.

Let's change the copy slightly to read: "Include image caption field" and the description to read "This will  disable and hide all existing captions for this field, but you can re-enable them at any time."

[2017-09-06 14:40] rowasc commented on #1677
perfect, thank you!

[2017-09-06 18:33] rowasc commented on #1677
@rjmackay this is ready to review/merge , after the adjustments + Jess's feedback

[2017-09-06 19:18] rjmackay opened #2041 "Missing text about 'task_visible_when_published' on post submission page"
### Expected behaviour
Task has some text telling the user this task will be public when published on the post create/edit forms.

### Actual behaviour
Text is there, but showing untranslated key `survey.task_visible_when_published`

### Steps to reproduce the behaviour/error

[2017-09-06 19:29] #1632 closed

[2017-09-06 19:47] jshorland opened #2042 "It's not possible for users without permission to view posts "In review" to view their own posts and edit them before they are published"
### Expected behaviour
As a member or any other user WITHOUT "manage posts" permission, I should be able to still find and edit my own posts.

### Actual behaviour
If i delete the default "my posts" saved search, I can't find my posts ANYWHERE. It's so confusing!

My suggestion would be to add a permanent link to "my posts" somewhere. But where makes the most sense? At the moment, my initial thoug

[2017-09-06 19:49] jshorland commented on #2042
cc: @Celestine22 @natmanning here's the issue that would affect dentaquest at the moment. For the moment, make sure the "my posts" default saved search stays there and they can find their posts and edit them through that, EVEN IF they don't have the manage posts permission.

[2017-09-06 22:14] justinscherer commented on #1953
The outstanding issues on this will probably be addressed as part of the 2chaguzi improvements

[2017-09-07 00:35] rowasc opened #2044 "CSV Export not exporting unpublished posts"
Precondition: the deployment has unpublished posts & the user has permissions to see them
## Steps to reproduce:
- Go to timeline view, make sure your filters are set so that you can see your published and unpublished posts.
- Click Share
- Select "Export"
- Download CSV file.

## Current behavior
The exported CSV file does not include unpublished posts

## Expected behavior
The exported CSV file

[2017-09-07 00:42] rowasc opened #2045 "CSV Export is not using the same filters applied by the user in the client."
See ushahidi/platform#2044 for the specific example from which this ticket was created. Most likely that it's all the same issue.
Nat also reported this in ushahidi/platform#2048 with DocumentHate

### Steps
Precondition: the deployment has posts
## Steps to reproduce:
- Go to timeline view, set any filters.
- Click Share
- Select "Export"
- Download CSV file.

### Expected behaviour
Set a filter,

[2017-09-07 00:53] rowasc commented on #1558
@jshorland this one seems to be invalid at the moment.
- the CSV export feature exports data now
-The specified deployment doesn't exist

[2017-09-07 01:06] rjmackay commented on #2036
P2 should be fine. It'd be useful data to have for future metrics. Easier to fix once Lumen integration lands

[2017-09-07 04:34] #1677 closed

[2017-09-07 08:39] rjmackay commented on #2041
See http://qa.ushahididev.com/posts/create/34 for an example

[2017-09-07 08:45] rjmackay commented on #1524
This will require hooking into Angulars route change event or something similar to trigger a page change event in google analytics. There might just be an angular plugin to handle it already?

[2017-09-07 11:41] #1714 closed

[2017-09-07 12:05] rowasc commented on #1524
@rjmackay there is. Angulartics is pretty good  for that and it has many plugins if we need to hook some other trackers in the future

[2017-09-07 17:54] rowasc commented on #2028
Assumption: When there are multiple surveys in the same export, we group the _survey fields_ together

[2017-09-07 20:30] rowasc opened #2046 "Validation ErrorLimit::posttypes - fix text"
### Expected behaviour
Validation ErrorLimit::posttypes  should show a validation error, not the error's key
### Expected behaviour
Users see "Validation ErrorLimit::posttypes"

### Steps to reproduce the behaviour/error
Reach survey limit (this happens in the hosted platform )

Reference: https://app.intercom.io/a/apps/hl5rfiga/respond/inbox/conversation/11669171889

[2017-09-07 20:41] rowasc opened #3625 "Add unit tests to user profile update"
This should cover Session update after the user saves the profile

[2017-09-07 21:00] #497 closed

[2017-09-07 21:04] rjmackay commented on #1879
@jshorland @justinscherer I'd argue this should happen sooner rather than later. The current survey->parent category->child category model is confusing for devs working on it, and assume moreso for the users.

[2017-09-07 21:06] rjmackay opened #2047 "Should post counts in survey filter be effected by category filtering?"
### Expected behaviour
Not sure

### Actual behaviour
Post counts for survey filters are effected by other filters (ie. status) but not by categories.

### Background

Refs ushahidi/platform#1967 ushahidi/platform#1997

[2017-09-07 21:15] natmanning opened #2048 "CSV Export Filter not working"
### Expected behaviour
Set a filter, Export CSV, and the CSV will only have the data in the filter

### Actual behaviour
The CSV export has all the data, not the filtered amounts

### Steps to reproduce the behaviour/error
Doing this on DocumentHate. Set a filter, and then export CSV, and see if it exports all data or the filtered amounts

[2017-09-07 21:26] rowasc commented on #2045
More info: The CSV export request is sending only the `format: csv` parameter, and no specific filters.
ie: {hostname}/api/v3/posts/export?format=csv

[2017-09-07 21:37] justinscherer commented on #1879
@rjmackay I'm with you on this one. @jshorland and I are going to discuss spec'ing this as part of the 2chaguzi updates.

[2017-09-07 21:40] rjmackay commented on #1879
FYI there's also #2007 for a summary of other categories issues. They're mostly minor and just addressing inconsistencies in how we handle categories even within the current model

[2017-09-08 00:38] jshorland opened #2049 ""task visible when published" setting text is displayed to non logged in users"
Caught it on this deployment: https://osr.ushahidi.io/posts/create/1
<img width="806" alt="screen shot 2017-09-07 at 5 21 57 pm" src="https://user-images.githubusercontent.com/3224856/30191026-23fe9974-93f3-11e7-803b-7585ee0a3d5d.png">

This setting should not be displayed to a non logged in user trying to report.

[2017-09-08 00:45] jshorland opened #2050 "Image field within a task throws a validation error that it must be a digit"
### Expected behaviour
when I upload an image within a task, it should not throw an error at me.

### Actual behaviour
It gives me the following: Validation Error The field New image field must be a digit, Given: changed
### Steps to reproduce the behaviour/error
1. Fill out all required fields in this survey
2. upload an image within the "translation" task at the bottom
3. click submit

[2017-09-08 01:18] rjmackay commented on #2050
Duplicate? https://github.com/ushahidi/platform/issues/2006

[2017-09-08 04:56] rjmackay commented on #1816
I've spent pretty much an entire day on this. Its really hard to make webpack handle the 2 styles separately, and even harder to disable one of them once loaded.
I've gone back to the PL and I'm working on namespacing the styles there instead. I'll send a PR to the pattern library soon

[2017-09-08 09:06] rjmackay commented on #1785
This is just waiting for us to be ready to turn on the terms of service check.

[2017-09-08 10:10] rjmackay commented on #1759
@middle8media moving this into backlog, unless you're working on it.

[2017-09-08 10:16] rjmackay commented on #1319
@willdoran handled some of this on a custom project. Maybe it can be pulled back in?

[2017-09-08 10:17] rjmackay commented on #1685
@jshorland I don't think this is really near term right now. Should I drop it in backlog? or into the Icebox workspace in a 'this year' column?

[2017-09-08 10:20] rjmackay commented on #1959
@jshorland Should this just be available to anyone with "Manage posts" or should we use an additional permission as-per-uchaguzi?

[2017-09-08 10:25] rjmackay commented on #947
@rowasc this might be worth checking while you're hacking on other CSV issues?

[2017-09-08 10:25] rjmackay commented on #980
Iceboxing this for now

[2017-09-08 10:26] rjmackay commented on #1322
@tuxpiper any more thoughts on this? You did some of this for Uchaguzi right?

[2017-09-08 10:31] rjmackay commented on #1399
@jshorland is it worth including this in UX cleanup? Otherwise I'll icebox it for now

[2017-09-08 10:33] rjmackay commented on #1563
@middle8media is this something you could look at in the client?

[2017-09-08 10:36] rjmackay commented on #1584
@jshorland @justinscherer

- Is this 'draft' different from current 'under review'? Is it visible to other users?
- Do we validate the draft at all?
- What if this auto-saves changes that you later want to cancel?

[2017-09-08 10:37] #1643 closed

[2017-09-08 10:39] rjmackay commented on #1795
@jshorland Can you move this back to validate/test if we're testing before building this?

[2017-09-08 10:43] rjmackay commented on #1684
If we can reproduce, then this should be closed.

[2017-09-08 10:43] #1684 closed

[2017-09-08 14:05] rowasc commented on #947
@rjmackay will do.

[2017-09-08 15:07] jshorland commented on #2048
Closing this issue in favor of #2045

[2017-09-08 15:08] #2048 closed

[2017-09-08 15:30] middle8media commented on #1563
Yes, although I am unsure as to why the order is off and where to go to change it.

[2017-09-08 16:21] middle8media commented on #1942
@caharding @justinscherer

This should become core once we complete [this](https://github.com/ushahidi/platform-fix-our-environment/issues/50)

[2017-09-08 17:22] justinscherer commented on #1942
We will probably need to build some kind of configuration UI in Settings to make these changes, as well.

[2017-09-08 17:36] middle8media commented on #1942
@justinscherer we already have a color picker under "Configure" [here](http://preview.ushahidi.com/platform-pattern-library/master/assets/html/5_layouts/settings-survey-edit.html)

[2017-09-09 18:25] tuxpiper commented on #2050
@jshorland @rjmackay @diegodorgam . Confirmed it's the same problem reported by Diego in #2006 . It's happening on my local environment too.

For some reason, in this scenario
1. the client doesn't attempt to upload the media and
2. sends to the backend the string "changed" as the value of the media field (instead of the media record numeric id)row id

[2017-09-09 19:56] tuxpiper commented on #2050
Turned out to be a quick fix: ushahidi/platform-client#749

[2017-09-11 00:19] rjmackay opened #2052 "Allow markdown in the survey description"
We allow markdown in site description, but not in survey descriptions.
Requested on an IRMA deployment

[2017-09-11 04:45] backstageel commented on #1426
Any follow up on this?

[2017-09-11 12:49] Angamanga commented on #2037
@diegodorgam In the photo, there is a filter-button too, do you want that included in the embed as well?

[2017-09-11 13:23] tuxpiper commented on #2044
We have one client affected by this. Logged in users with sufficient privilege do require to be able to get an export of all posts.

ref: https://git.hacklab.com.br/relacionais/ushahidi/issues/2

[2017-09-11 14:31] diegodorgam commented on #2037
not needed @Angamanga

[2017-09-11 16:27] tuxpiper commented on #1322
Yes, this was implemented in the Uchaguzi deployment. I think that the solution could easily be ported over to cloud . However, I think there's little win in front loading those changes there now and I would hold on in favour of other, more valuable changes.

One thing that I think would be worth considering, is to have the option to separate between client domain and assets domain. i.e.

* Client

[2017-09-11 17:59] #1563 closed

[2017-09-12 02:05] CR0CKER commented on #908
I've also been under the impression that business that are on OSM already should be found by the search function. Especially if the surveys are related to existing business, i.e. marking businesses that are "safe spaces", this would be extremely useful. Any plans to make this happen?

[2017-09-12 02:06] CR0CKER opened #2054 "Search field not displayed in embedded maps"
### Expected behaviour
An embedded Ushahidi map should include a search field that allows users to find survey responses on the map.

### Actual behaviour
There is no search field displayed on embedded maps.

### Steps to reproduce the behaviour/error
Look at an embedded map.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-527

[2017-09-12 02:29] CR0CKER opened #2055 "Can't submit survey response while VPN is active on iOS"
### Expected behaviour
Mobile app should submit survey responses while VPN is on, which is the only option for users in China since Ushahidi is blocked by the GFW.

### Actual behaviour
Mobile app gives an error message when trying to submit a response while VPN is turned on. Other apps are working fine, so it's not a bad data connection.

### Steps to reproduce the behaviour/error
Turn on VPN, tr

[2017-09-12 21:22] rowasc opened #2056 "Confusing import notification - shows user a success message when it's not importing any fields because of a formatting issue"
Note: remove the .txt file extension before using each file.

### Expected behaviour
If the CSV format is not correct, users should see and error.
### Actual behaviour
If the CSV has more columns in the header than in the content rows, it fails to import, but it shows a "successful" import of zero items.
### Steps to reproduce the behaviour/error
- [ ] Go to Settings -> Import
- [ ] Upload [thisfa

[2017-09-14 13:16] rowasc commented on #2028
This was failing in QA so I had to revert.
Waiting for a dump/logs to see what's happening.

[2017-09-14 15:25] #1800 closed

[2017-09-14 15:25] #1801 closed

[2017-09-14 16:49] #1595 closed

[2017-09-14 16:49] #1733 closed

[2017-09-15 21:09] #2006 closed

[2017-09-15 21:09] #2050 closed

[2017-09-15 21:10] rjmackay commented on #2050
This is live now on ushahidi.io

[2017-09-15 21:11] rjmackay commented on #2006
This is live now on ushahidi.io and is in the current master branch
@diegodorgam let @tuxpiper know if you need help getting this into your deployment

[2017-09-15 21:11] #1676 closed

[2017-09-18 10:06] tuxpiper opened #2062 "Allow setting the display language through the URL"
### Expected behaviour
As a deployer, developer or embedder, I would like the platform client to accept a query parameter or URL fragment that sets the language to be displayed to the user opening that URL.

Use case scenario example:

* On my content management system site, I've got English and Arabic sections.
* On the English side of my site, I would like my users to be led to an English versio

[2017-09-18 10:19] Celestine22 commented on #2062
This is RAD! Would be good to have thing in our roadmap

[2017-09-18 13:15] #1790 closed

[2017-09-18 13:21] #2007 closed

[2017-09-18 15:45] diegodorgam commented on #2037
Hi @Angamanga

any update here?

[2017-09-18 16:32] Angamanga commented on #2037
@diegodorgam: Its in code review, you can see the code here: https://github.com/ushahidi/platform-client/pull/754

[2017-09-18 17:17] #2028 closed

[2017-09-19 07:53] jshorland opened #2064 "As a platform manager, I want to be able to add "other" with free text as an option for a response"
### Expected behaviour
If i'm asking a multiple choice, radio, or checkbox question, I often want to give them the option to select "other" and provide free text as to what that other is.

### Actual behaviour
I have to add "other" as an option, and then add ANOTHER question after that if I want them to expand on/give more details about "other"

### Steps to reproduce the behaviour/error

Aha! Lin

[2017-09-19 08:57] Angamanga commented on #1791
This was fixed in https://github.com/ushahidi/platform-client/pull/734

[2017-09-19 08:57] #1791 closed

[2017-09-19 09:22] jshorland commented on #493
Note: This is becoming more and more important for DREAMS.

[2017-09-19 12:18] diegodorgam commented on #2037
great @Angamanga, nice work, it seems to be merged already!
How can we use it?

[2017-09-19 12:35] Celestine22 opened #2065 "Time shown in post metadata is always in another language, when I select English as a language"
This is happening our enterprise clients deployments, specifically sfcg and giscon, to reproduce, open the SFCG deployment https://sfcgguineaewer.ushahidi.io/views/list and change the language to English, observe the post metadata, the time shown is NOT english. See below.
<img width="586" alt="screen_shot_2017-09-19_at_3_33_16_pm" src="https://user-images.githubusercontent.com/8900438/30592588-05

[2017-09-19 13:27] tuxpiper commented on #2037
Hi @diegodorgam , we will issue a new rc release shortly

[2017-09-19 15:20] Celestine22 opened #2066 "Ability to search different categories from multiple surveys instead of individual searches per survey"
### Expected behaviour
I should be able to filter different categories from different surveys at a time
### Actual behaviour
I can only filter categories per survey which is limiting

@rjmackay @jshorland @willdoran I know this was implemented on Uchaguzi, any chance we are pushing this back to platform, Enterprise clients biggest concerns happens to be this right now when creating saved searches.

[2017-09-19 21:18] diegodorgam commented on #2037
great @tuxpiper @Angamanga !

It worked perfectly, it's already in dev environment at https://dev.tonarede.org.br/

Thks!

[2017-09-19 23:12] caharding opened #2068 "Privacy Policy Mobile"
@dalezak on Oct 20th we need all mobile users to click to accept a new privacy policy as they will on desktop in issue #1772

- [ ] User logs in
- [ ] User is presented with a dialogue that says we have changed our privacy policy and it must be clicked to accepted, user can also click on privacy policy to read it
- [ ] User's reponse is logged as it is in #1772

[2017-09-20 04:06] HostOnNet opened #2069 "Image Uploads not showing"
### Expected behaviour

After installation, image upload should work.

### Actual behaviour

I installed ushahidi-platform-release-v3.7.2-rc.2.tar.gz  as per instruction at

https://www.ushahidi.com/support/install-ushahidi

But image are not displaying. Files get uploaded to  platform/application/media/ folder. When i check page source code, it have URL like

https://www.mydomain.com/media/upload

[2017-09-20 04:39] jshorland commented on #2069
cc: @Angamanga can you try to reproduce this on OSS?

[2017-09-20 05:15] jshorland commented on #2069
@angamanga confirmed that image upload is working on qa.ushahididev.com -- http://qa.ushahididev.com/posts/6552

[2017-09-20 07:21] Desmond-S commented on #2006
@rjmackay Hi what changes I had to do in the PHP files for this to take effect as am facing the same issue. Can you please guide me on this?

[2017-09-20 08:00] tuxpiper commented on #2006
@Desmond-S it was a change in the javascript source files (you will need to rebuild after you apply the changes). The diffs are here https://github.com/ushahidi/platform-client/pull/749

If you didn't download and build the source code but just got single file with everything pre-built , maybe you can try to update to the latest release here: https://github.com/ushahidi/platform-release/releases/d

[2017-09-20 09:38] Desmond-S commented on #2006
Is it possible just to upload/update only files related to this instead of updating everything?

[2017-09-20 09:48] tuxpiper commented on #2006
It depends @Desmond-S , what do you have now to start with? Source files, or obscured and packed javascript? Which version?

[2017-09-20 09:50] Desmond-S commented on #2006
I used the platform release(php version) So If I could update the php/js files related to that it would help

[2017-09-20 09:58] tuxpiper commented on #2006
You may try overwriting the frontend files only (right inside the html folder) and leaving the backend (inside the html/platform) folder untouched. The frontend is distributed as a sort of monolith (for faster loading times), so there's no way to upgrade this sort of distribution selectively.

Just to be clear, this is totally unsupported by us. Depending on your current version things may break,

[2017-09-20 10:04] Angamanga commented on #2037
@diegodorgam So nice to hear! :+1:

[2017-09-20 10:38] jshorland opened #2070 "Clicking on the title of a field after already starting to type the title makes it disappear"
### Expected behaviour
I click somewhere on the field title after I've started typing it, for instance if i've made a mistake somewhere or want to edit, and my cursor should move to where I click.

### Actual behaviour
Instead, when I click on the field title AFTER I've started typing, it completely disappears.
It's so so so so annoying.

### Steps to reproduce the behaviour/error
1. Create a new

[2017-09-20 10:41] jshorland opened #2071 "Data field titles don't support long text"
### Expected behaviour
I have a very long question I'd like to add as a field within a survey. I should be able to type that full question into the field title and save it successfully.

### Actual behaviour
If the field title is long (I forget how long exactly to reach the tipping point), it throws an error that the label is too long.

### Steps to reproduce the behaviour/error
1. create a new fi

[2017-09-20 10:43] jshorland opened #2072 "Long field titles create weird formatting when doing field mapping on CSV import"
The survey field drop down bleeds completely off the page.

<img width="1405" alt="screen shot 2017-09-20 at 1 29 20 pm" src="https://user-images.githubusercontent.com/3224856/30639931-9abb627a-9e09-11e7-9d5c-390c0e532965.png">

Aha! Link: https://ushahiditeam.aha.io/features/PROD-522

[2017-09-20 10:46] jshorland opened #2073 "After clicking "Add" on a field with multiple options (radio, select, checkbox), I shouldn't have to click in the field to start typing"
### Expected behaviour
After clicking "Add" on a field with multiple options (radio, select, checkbox), it should automatically place my cursor in the field and I should be able to just start typing

### Actual behaviour
Instead, I have to manually click in the option field to start typing. This kind of thing really adds up on time to set up my surveys, as well as general annoyance with the platfo

[2017-09-20 11:07] jshorland opened #2074 "When changing default language to arabic, the entire deployment breaks"
### Expected behaviour
Changing to arabic should change the translated text within the deployment to arabic, as it would with any other language switch.

### Actual behaviour
everything goes crazy. it seems like the formatting goes nuts and its a huge logo.

### Steps to reproduce the behaviour/error
login as admin to qa.ushahididev.com
go to settings --> general
change default language to arabic

[2017-09-20 11:11] jshorland commented on #2074
hmmm doesn't appear to be happening in qa anymore. It's just not translating at all.

[2017-09-20 13:34] rjmackay commented on #2074
This should be fixed in production now.

[2017-09-20 13:34] #2074 closed

[2017-09-20 15:52] Desmond-S commented on #2006
How can I upgrade it to the latest version with all the changes, if I just copy all the downloaded files under html to the server will it work fine or we might face any issues. I tried that and changed the .env file. But so many errors popped up. Can you please guide me on this?

[2017-09-20 16:10] Shadrock opened #2076 "Better integration with spreadsheets or multiple data sources"
### Expected behaviour
As a deployer I want to:

1. update my deployment with posts submitted via a Google spreadsheet; an Excel file in a shared Dropbox Folder; or something similar; and
2. update my deployment from _multiple_ spreadsheets that may exist in a variety of places online. I may be using one Google form/sheet for my own organization but may also want to incorporate data in another spr

[2017-09-20 16:46] Shadrock commented on #2076
As I was writing this, someone put together a [spreadsheet of rescued persons for the Mexico earthquake](https://docs.google.com/spreadsheets/d/1-wQmdIyu0CWtvuz2CLLUiGaBmV-t1mtgEM8d_tWn0sQ/edit#gid=0).

[2017-09-20 17:29] rowasc opened #2077 "Saved search - after editing saved search permissions, it's not possible to set "Everyone" again"
### Expected behaviour
I can set edit a saved search and change its permissions/public as I wish.

### Actual behaviour
I can only change to more restrictive permissions after I select a permission set for the first time. ie: If I set permissions to "User" I cannot go back to "Everyone".
The UI reports "Everyone" but the backend does not support it and returns a 403 when an anonymous user tries to

[2017-09-20 17:31] rowasc commented on #2077
Debug info:
The role is set to [] empty array when you change to "Everyone" instead of being set to Null, which is the initial state

[2017-09-20 17:45] rowasc opened #2078 "Enforce saving the user_Id when creating a saved search or Collection"
### Expected behaviour
When I create a saved search or a collection as any user, my ID is linked to it
### Actual behaviour
When I create a saved search  or a collection  as any user, my ID is not presentt in the database.

### Steps to reproduce the behaviour/error
- Create a saved search
- Verify that database table `sets` is not saving the user_id => This should be saved

### Steps to reproduce

[2017-09-20 17:55] rowasc commented on #2078
There are 2 parts.
 - Client needs to send the data. https://github.com/ushahidi/platform-client/pull/757
- User id has to be required in the backend.  [pr pending]

[2017-09-20 18:48] caharding commented on #1772
Reopening until it goes live on Oct 20

[2017-09-20 20:07] caharding opened #2080 "2chauzi Facebook Bot"
Minor feature improvements would make major user enhancements on the bot. This is the minimum scope that I would recommend for 2chaguzi. I'll open an additional issue for other bot issues to be prioritized.

- [ ] Remove block to getting started, update into text to: “Hello! Welcome to Uchaguzi Citizen Reporter. Uchaguzi’s aim is to help Kenya have a free, fair, peaceful, and credible general elec

[2017-09-20 20:07] caharding opened #2081 "2chaguzi Facebook Bot Improvements"
This epic includes
- participate in research within Comrades for chatbots
- write user-documentation for both devs and users of the bot (requirement for Comrades)
- testing that auth does not fail when sending reports from bot to platform (this can be tested once Lumen is landed)

Aha! Link: https://ushahiditeam.aha.io/features/PROD-519

[2017-09-20 20:11] caharding opened #2082 "Facebook Messenger as a data source EPIC"
This Epic expands upon the original FB Bot Epic #1702. The goal is to include Facebook Messenger as a data source. The demo of this was tested live for Uchaguzi 2017. The team performed a full retrospective on the [bot](https://docs.google.com/document/d/1y6MnY3lHv7BMrPBDqT2dBHXDutwUOxbdpW9V-4_oirU/edit#) after Uchaguzi. We mapped out changes needed for 2chaguzi in #2081.

ALTERNATIVELY, we could

[2017-09-20 22:58] kinstelli commented on #2065
I wanted to share some updates on some of the issues I've found related to this. If anyone ( @willdoran ?)  is familiar with these pieces, please let me know if you have thoughts on the following:

1. These dates/times are being constructed by moment.js, but moment.js locale isn't always updated whenever the language is changed. And this change, in turn, isn't being propagated to the various post-

[2017-09-21 09:11] Celestine22 commented on #2065
Thanks for this feedback @kinstelli , @rjmackay @willdoran please take a look at this!

Adding @tuxpiper in cc as its tied to gis and sfcg

[2017-09-21 09:44] #2037 closed

[2017-09-21 14:44] willdoran commented on #2065
@kinstelli The giscon work unfortunately has to finish this week, for them we need as immediate a solution as possible. To address your points in reverse order:

3. Is this a bug with momentjs or us?
2. That is somewhat irritating, are we using non-standard codes or are they?
1. To effect the actual updates, $watch is probably the best approach(though I would prefer $on because I think it's more e

[2017-09-21 21:06] tuxpiper commented on #2006
@Desmond-S please refer to these instructions: https://www.ushahidi.com/support/upgrading-ushahidi#updating-your-deployment-to-the-latest-version . I hope they are useful.

Shall you have any further difficulties, please join our community chat at https://gitter.im/ushahidi/Community

[2017-09-22 02:33] diegodorgam commented on #2027
hey guys, @rjmackay @Angamanga ,

any updates here on this issue?

[2017-09-22 06:40] jshorland commented on #2080
Why is this closed? Can I reopen?

[2017-09-22 06:42] jshorland commented on #2080
@Angamanga would you be able to provide an estimate of level of effort/time to implement these baseline changes? Do you think you could get it done before elections on the 26th?

[2017-09-22 07:29] Angamanga commented on #2080
@willdoran Could we look at this together and estimate time/effort today?

[2017-09-22 13:03] willdoran commented on #2080
@Angamanga Does the fb bot have translation setup?

[2017-09-22 13:05] Angamanga commented on #2080
@willdoran there are translations and the db-table with answers is prepared to handle other languages but I have not implemented the switcher...

[2017-09-22 13:07] willdoran commented on #2080
@Angamanga OK cool
so I would add implement translations to this list
The first 4 seem straightforward, the 5th one needs confirmation of how it can be done.
But I would estimate a total of 3-4 days if the 5th has a defined pattern. But you'd need to check on how the 5th can be implemented and add days depending on how complex it might be.

[2017-09-22 16:50] kinstelli opened #2084 "The creation of `timeAgo` translation within PostListDirective leads to various date display problems"
As discussed with @willdoran , there are two versions of localized dates being displayed in the /views/list timeline.

This leads to (1) a possible mismatch of dates displayed, and due to relying on this directive to translate dates, (2) this also complicates the refresh of the component upon a language change.

The post-metadata.directive relies on using moment.js locales to construct dates, howe

[2017-09-22 17:12] willdoran commented on #2084
@kinstelli I think a simple solution will be to change the output html in post-view-list.html

We should probably group by date or timestamp in the directive then translate in the actual html.

[2017-09-23 04:16] caharding commented on #2081
Dupilcate #2080 closing

[2017-09-23 17:41] kinstelli commented on #2084
@willdoran  - I totally agree. I rewrote the function above to just return raw dates, for angular-moment's *am-time-ago* to interpret. That approach mostly works, but it needed tweaks to ensure that the posts are grouped by day, rather than minute-by-minute (i.e., stripping the time portion from the date). I still want to figure out how to configure *am-time-ago* to only show day info, rather than

[2017-09-23 18:09] kinstella opened #2085 "Moment.js not properly loading locale files needed by platform"
Throughout platform, it appears Transifex is used as the key to translate known strings, while moment.js is used to translate various dates into a human-friendly local format, particularly the "timeAgo" info in the post metadata directive.

Currently, this appears to be done by sending the ISO 639-1 language code from Transifex to moment, such as **'pt-BR'**  via a call to something like  `moment.

[2017-09-23 19:52] tuxpiper opened #2086 "Several sources of mixed content"
Some external URLs are hardcoded to http://... causing mixed content errors when platform is hosted in a https domain

i.e.

[code]

[2017-09-23 19:53] tuxpiper commented on #2086
on top of gravatar , we have lorempixel and openstreetmap tiles

[2017-09-23 21:54] tuxpiper commented on #2086
We issued a hotfix for the http:// links to resources , but we may want to do a full scan and decide what to do with those where https:// is hardcoded

From ushahidi/platform-client#761

[2017-09-24 15:36] tuxpiper opened #2087 ""Use your current location" doesn't work for a second time in the same page load"
### Steps to reproduce the behaviour/error

1. Load / reload the site (from the map or timeline view)
2. Click on the + sign to add a post to a form that has a location field
3. Click the "Use your current location" button that appears when clicking on the location search bar. The location is detected and displayed in the map.
4. Go back to the map view by clicking on its icon in the left sidebar

[2017-09-24 18:15] tuxpiper opened #2088 "local storage client cache doesn't always expire"
Today I've had an instance where I was being misled to think that a deployment was empty, when it fact it had over 500 posts.

A few hours ago the deployment had two empty surveys . Overnight, the owner deleted those surveys and created a new one. My local cache still remembered those two original surveys and kept ignoring the new one. Nothing would change its mind.

Peeking into local storage, I

[2017-09-24 22:19] willdoran commented on #2084
@kinstelli Is there a PR for this I should look at?

[2017-09-25 01:25] rjmackay commented on #2065
- Pushed a small fix that I think resolves 3.
- Is the issue with generate dates simple because they were generated when the view first loaded and then aren't refreshed? or is it more complex than that?
- Is the missing locales a case of mismatched locale codes? or just missing locales? (ie. languages moment is not translated too)

[2017-09-25 03:23] #2087 closed

[2017-09-25 21:10] caharding commented on #2080
@jshorland is this going to be getting into 2chaguzi? Would be helpful to know expectations. Should update FB too. Thanks

[2017-09-26 02:21] #2034 closed

[2017-09-26 02:21] #2041 closed

[2017-09-26 02:21] #2049 closed

[2017-09-26 03:08] #1565 closed

[2017-09-26 09:04] tuxpiper commented on #758
Should we be using a module such as https://packagist.org/packages/cocur/slugify ?

[2017-09-26 09:16] tuxpiper opened #2089 "Can't create categories with special (i.e. 'á') or non-latin characters"
Creating a category containing anything other plain latin characters and digits causes the following error:

At this point, most non-English users have to resort to workarounds (such as creating the category with plain digits and numbers first, then rename it to whatever they originally intended)

It seems that we don't do a lot of handling for slugs in general (see #758) , but for some reason the

[2017-09-26 11:12] justinscherer commented on #1896
Hi all, I have finished the screenflows for the behaviour of posts in desktop. Please have a look at the PDF attached.

More screens coming this week.

[layout and behaviour screen flow desktop.pdf](https://github.com/ushahidi/platform/files/1332884/layout.and.behaviour.screen.flow.desktop.pdf)

[2017-09-26 13:06] #2078 closed

[2017-09-26 13:58] justinscherer commented on #2003
@jshorland Where does this fit into our prioritization?

[2017-09-26 20:11] willdoran opened #2090 "Export filename should be created by the API not the client"
### Expected behaviour
- When receiving the export file data from the API the client should also receive the preformated filename
### Actual behaviour
- Currently, the filename is constructed on the client side

### Steps to reproduce the behaviour/error

Aha! Link: https://ushahiditeam.aha.io/features/PROD-516

[2017-09-26 20:43] rowasc commented on #2044
@jshorland @tuxpiper this is ready for testing.

[2017-09-26 20:43] rowasc commented on #2045
@jshorland @tuxpiper this is ready for testing.

[2017-09-26 21:54] #2052 closed

[2017-09-27 11:10] jshorland commented on #1833
Closing -- dupe of ushahidi/platform#1833

[2017-09-27 11:11] #1833 closed

[2017-09-27 11:12] jshorland commented on #2003
I'm going to talk to @willdoran and @Angamanga today to see if it's possible to get this in, but it is the lowest priority as of now.

[2017-09-27 11:13] jshorland commented on #1795
Since we tested the split out fields in the first uchaguzi, I'd recommend we try to test searching in the same location search field on the map?

[2017-09-27 11:17] aoduor commented on #1896
Questions on unlocking
1. Is unlocking limited to just admins, or can ANYONE unlock?
2. I can see we send a notification to someone viewing a post about it being unlocked, do we do the same for someone who's editing a post and being "Kicked off"? Or is this the same thing?

[2017-09-27 11:20] aoduor commented on #1896
On filtering and sorting
1. We're missing the ability to sign up for notifications and limit audience of saved searches during creation.. Or is that on purpose too?

[2017-09-27 11:24] aoduor commented on #1896
<3 Changelog + Layout... all good on my end.

[2017-09-27 11:28] justinscherer commented on #1896
Only admins

Same thing

[2017-09-27 11:30] justinscherer commented on #1896
On filtering and sorting

Is this in production right now? Do we have the ability to sign up for notifications?

Missed that. Will get an updated version out soon

[2017-09-27 11:34] aoduor commented on #1896
Yup, see here.

![screen capture on 2017-09-27 at 14-33-21](https://user-images.githubusercontent.com/721918/30911338-db801d14-a390-11e7-8f27-87d355873324.gif)

[2017-09-27 11:39] jshorland opened #2091 "Improving search and filtering for 2chaguzi"
- [x] Sort appears first, followed by filter with saved searches and the rest of the filter fields appear as normal below these
- [x] Add option to see unlocked posts at top of list
- [x] clicking "clear filters" reverts to default search/filter state
- [x] clicking "apply filters" applies new filters (filters do not apply as you turn them on and off)
- [x] any new filters a user creates will be c

[2017-09-27 12:33] jshorland commented on #1864
Permissions:
- [ ] Change log should only be visible to logged in users (not to members, or visitors)
- [ ] Manual entries can only be created by users with permission to edit posts

Any saved changes should appear in the change log automatically, indicating who changed what when (who = anonymous if author n/a)
- [ ] Post status change (created as draft, published, archived)
- [ ] Category added o

[2017-09-27 12:57] willdoran commented on #2003
This would be a lowest priority but if there is design for it, and we get through the other stuff we can do it.

[2017-09-27 13:03] jshorland commented on #1864
Designs
![change. log.png](https://zube.io/files/ushahidi/06d9636eb4b272b589e1cd3ae62194a5.png)

[2017-09-27 13:04] jshorland commented on #1896
Landing page (map view)
- [ ] name of “timeline” changes to “data” everywhere the name “timeline” occurs

Data view
- [ ] view split into two independently scrolling panes  - left with list of post cards, right with post detail view when a post card is clicked. When no post card is selected, right pane is blank
- [ ] Number of posts based on applied filters displayed above post card list on left p

[2017-09-27 13:06] jshorland commented on #1896
Designs are appended to this post.

[2017-09-27 13:18] jshorland commented on #1962
Post locking
- [ ] Locking is only relevant and displayed to users who are logged in and have post edit permissions
- [ ] Default sort order of post cards in data mode (left pane) is “unlocked on top”
- [ ] As soon as a user has decided to edit a post and enters edit mode, it becomes locked against others editing it
- [ ] As soon as a user saves or navigates away from a post they are editing that

[2017-09-27 13:28] jshorland opened #2092 "Load more reports in data mode"
Load more reports in data mode
- [x] system automatically checks for new reports that satisfy the users’ active sort/filter settings every <x> minutes
- [x] the “see new reports” bar will appear and/or refresh at that time interval indicating how many new reports are available
- [ ] The entire new post bar is tappable
- [ ] clicking see new reports bar triggers a loading pattern as new reports loa

[2017-09-27 13:29] jshorland commented on #2091
Designs
![filtering.and.sorting.png](https://zube.io/files/ushahidi/a93a36b216071e6f250d123a01c38eb9.png)

[2017-09-27 13:29] jshorland commented on #1962
Designs
![post.locking.png](https://zube.io/files/ushahidi/0836e3993bd6936f3d34c3f7498e0206.png)

[2017-09-27 15:02] jshorland commented on #2081
This will be handled AFTER the massive layout changes and data grooming improvements

[2017-09-27 15:54] willdoran commented on #1962
I want to use https://socket.io to push the notifications to those getting booted

[2017-09-27 21:17] Shadrock opened #2093 "Add FB Bot to all COMRADES deployments"
COMRADES needs the FB Bot (whatever the current version is) added to the repo so that we can perform some user testing with it. We will also need a walkthrough of how it's used and how it can be linked to / interact with the [COMRADES Facebook page](https://www.facebook.com/comradesproject/).

### Due Date
October 31st. We have a simulation exercise in November.

[2017-09-27 21:17] Shadrock commented on #2093
![](https://github.trello.services/images/mini-trello-icon.png) [Pre-COMRADES Ush eval material](https://trello.com/c/oex8sVO3/204-pre-comrades-ush-eval-material)

[2017-09-28 07:16] justinscherer commented on #1896
Reports, sorry. Trying my best to be consistent with this but having a hard time.

I think the barber strips at the top of the card. The card remains persistent, and it "drops out" with the additional fields when they've loaded. I can prototype this if it proves too tricky.

If you structure something such that it no longer applies to the filters you have enabled, it "swipes" out of your timeline

[2017-09-28 07:19] justinscherer commented on #1795
This is the treatment I was thinking about
<img width="700" alt="screen shot 2017-09-28 at 8 19 06 am" src="https://user-images.githubusercontent.com/29209303/30953887-c7d6566c-a425-11e7-865a-5a5dc4f36e45.png">

[2017-09-28 07:48] jshorland commented on #1795
Love that. I'll move it to 2chaguzi sprint and prioritize relatively low
compared to other issues.

On Thu, Sep 28, 2017 at 10:19 AM, justinscherer <notifications@github.com>
wrote:

[2017-09-28 08:15] justinscherer commented on #1896
Quick solve for deleting saved searches.

There's an "edit" link beside the saved searches dropdown in the filter.
![filter open with filters active](https://user-images.githubusercontent.com/29209303/30955954-64dcbc92-a42d-11e7-9e51-fbc8957bfb7f.png)

It opens a modal with a simple checkbox list that you can save.
![delete saved searches](https://user-images.githubusercontent.com/29209303/3095597

[2017-09-28 08:17] justinscherer commented on #1896
Quick solve for maintaining notifications. You manage notification settings from the "Account settings" modal that comes up when you click your avatar in the bottom left corner.

I just added another checkbox list to it.

![notifications](https://user-images.githubusercontent.com/29209303/30956064-cf72a436-a42d-11e7-9c99-e2a781d648fe.png)

[2017-09-28 08:19] jshorland opened #2095 "Add new category "on the fly" on the survey form itself forces a refresh to see the category. This makes people lose any edits they've made on the post, especially while structuring"
It's not a huge blocker, but it's annoying. It *should* show the category in the list of categories in the category survey field as soon as you click the save button when adding a new category. Instead, it throws a success message slider at the bottom of the screen, and you have to refresh the page to see the new category you added.

[2017-09-28 08:29] aoduor commented on #1896
My concern with managing notifications solely from my notifications management page is that as a user, I want to be able to quickly identify a saved search that is of interest to me, and get notified.

* I have to perform 3-4 different clicks to sign up for notifications on a saved search that is of interest to me.
* In the event that we have a list of many saved searches, it'll take me time to fi

[2017-09-28 08:43] Angamanga commented on #1896
@justinscherer The survey-selector in the post-edit-view, does it appear for all posts or just the ones that still not have a survey selected?

[2017-09-28 08:52] justinscherer commented on #1896
@aoduor

There's something to be said for this point, absolutely. However, the current way of doing it is not very discoverable (I didn't even realize it existed until yesterday and I have been working here for months...not that I'm "the User" necessarily). Saved searches are hidden under an unlabeled star icon, then it's still a long list to choose one. Likewise with notifications, it's hidden at

[2017-09-28 08:54] justinscherer commented on #1896
@Angamanga

All posts, even ones that have been structured and published. The idea is that you can change the survey that a report is associated with indefinitely. It's just another field for a report.

[2017-09-28 08:59] aoduor commented on #1896
@justinscherer

Currently we get notifications for both collections AND saved searches, so the checkbox list on the notifications box will have both of these.

That said, in total agreement about the need to change this to make this more intuitive, and that we may not have time to do it now.. Just wanted to flag it as a concern we will need to address.

[2017-09-28 09:19] Angamanga commented on #1896
@justinscherer

We currently do not have this functionality for structured posts so it will need to be implemented. It raises a question we need to address:

If I have a post assigned to survey 1, that has say an image-field, and I want to change to survey 2 that not has an image-field. What do we do with the image? Show a warning? Keep the field while in edit-mode with a clear message somewhere t

[2017-09-28 09:32] justinscherer commented on #1896
Good catch. In this case the image would get dropped. We should show a warning that all of the data will be lost when you switch surveys.

[2017-09-28 10:46] jshorland commented on #1896
@justinscherer Not convinced we need a mockup. We can the loss of data warning screen. @Angamanga is it possible to tell the user WHICH fields of data will be lost on that warning/confirmation screen?

[2017-09-28 11:05] Angamanga commented on #1896
@justinscherer @jshorland Actually, when I think about it, could we find a way for the user to map each field to new ones?

Just because there are two fields of the same kind in two different surveys, it doesn't not mean they can be translated directly to each other. For example where would the data go if there are two fields of the same kind in the survey you are changing to and only one in the s

[2017-09-28 13:08] willdoran commented on #1896
@justinscherer @Angamanga

I'm afraid we can't do this in this piece of work, it's a larger element that would require significant design changes and would really be its own feature. For now, we can include the dropdown box to allow structuring of unstructured posts but we won't be able to allow changing of Survey type.

[2017-09-28 13:27] jshorland commented on #2003
low. very low.

On Tue, Sep 26, 2017 at 4:59 PM, justinscherer <notifications@zube.io>
wrote:

[2017-09-28 14:26] jshorland commented on #2093
Nice -- let me get the team through 2chaguzi work and then we'll get this
done.

On Thu, Sep 28, 2017 at 12:17 AM, Shadrock Roberts <notifications@zube.io>
wrote:

[2017-09-28 16:11] justinscherer commented on #1896
@willdoran

So after the user chooses the survey for the first time in the dropdown, we have to disable it against further editing. We'll have to consider it "experience debt" until we can fix it. Where should I log this @jshorland

[2017-09-28 16:15] willdoran commented on #1896
@justinscherer I just wanna make sure we're talking about the same thing.

As a User, I would be able to change a Report from being Report A to Report B to Report C....to Report N ad infinitum, right? That's going to be super difficult for us. We would need some concept of mapping between Surveys.

In theory, if we have an interface for that it's not hard, we can auto-detect equivalent field types

[2017-09-28 16:35] rowasc opened #2097 "Review CSV Export fields"
Current we do not include:
- Twitter handles
- Sms numbers
- Email addresses, Author real name, user_id

Admins should be able to export that information if it is available

Ticket created to separate issues found in testing of CSV fields. Original/Reference:
https://github.com/ushahidi/platform-client/pull/753#issuecomment-332842142

[2017-09-28 16:37] rowasc commented on #2097
@jshorland I assume this is part of 2chaguzi, right?
I'll get back to this as soon as we are done with filters work, so I don't become a blocker. This should be simple.

[2017-09-28 16:37] rowasc commented on #2097
reference: by filters work I mean platform/2091

[2017-09-28 18:58] rowasc commented on #2091
@jshorland Jess,   I see surveys are included in the search panel now. Are we including the data sources here as well? If we include them, should we use checkboxes as in the surveys?
<img width="194" alt="screen shot 2017-09-28 at 3 57 18 pm" src="https://user-images.githubusercontent.com/2434401/30985127-be176928-a465-11e7-9616-c8e6c1a3437a.png">

Thanks!

[2017-09-28 20:26] middle8media opened #2098 "Pattern Library - create a full width and "loading on click" button"
**load.more.reports.pdf**
[load.more.reports.pdf](https://github.com/ushahidi/platform/files/1344277/load.more.reports.pdf)
1. Create a new button that displays full width. This should be under the "Basics" buttons.
2. Create another button that displays text as normal, then "loads" when clicked. This should be a replacement of or a variation of the "Fragments / Button, Loading "

[2017-09-28 20:30] middle8media opened #2099 "Pattern Library - postcards"
Remove the checkbox and make whole `postcard` clickable.

[2017-09-28 20:41] rowasc commented on #2091
@jshorland question: this search panel can be accessed from any tab right?
<for now, I'm assuming Yes, just want to confirm in case I'm wrong>

[2017-09-28 20:42] rowasc commented on #2091
ie: If I am on the map view I can also open the search panel .

[2017-09-29 10:26] jshorland commented on #2091
Are we including the data sources here as well? If we include them, should
we use checkboxes as in the surveys?
- yes. Data sources should be included in the search panel. Use checkboxes
as in the surveys. See uchaguzi.or.ke as it's currently built

this search panel can be accessed from any tab right?
- yes! exactly

On Thu, Sep 28, 2017 at 11:42 PM, Romina Suarez <notifications@github.com>
wrote

[2017-09-29 10:27] jshorland commented on #2097
2chaguzi that should go back into core as well :-) and sounds good

On Thu, Sep 28, 2017 at 7:37 PM, Romina Suarez <notifications@github.com>
wrote:

[2017-09-29 10:29] jshorland commented on #1896
We should definitely log a new issue for this. I'm away from my machine at
the moment, but will do it as soon as i land back in seattle

On Thu, Sep 28, 2017 at 7:15 PM, will <notifications@github.com> wrote:

[2017-09-29 13:29] rowasc commented on #2091
@jshorland thanks, Jess. Does the mode bar change its behavior with this feature? For instance if a user selects location in the search panel while being on the map, do we continue showing that "Location" tag in the mode bar?
<img width="321" alt="screen shot 2017-09-29 at 10 29 16 am" src="https://user-images.githubusercontent.com/2434401/31018060-11c6426a-a501-11e7-9326-227824770cd0.png">

Thank

[2017-09-29 14:00] Angamanga commented on #2098
@middle8media Is nb 1 corresponding to this one:
![screen shot 2017-09-29 at 15 59 21](https://user-images.githubusercontent.com/8624777/31019197-39bd7e90-a52f-11e7-8cd1-0ba1a9be46be.png)
and nb 2 to this one:
![screen shot 2017-09-29 at 16 00 09](https://user-images.githubusercontent.com/8624777/31019227-4ad4aa28-a52f-11e7-802f-b048598d53f7.png)

[2017-09-29 15:23] middle8media commented on #2098
@Angamanga yes

[2017-10-02 03:36] rowasc commented on #2091
@jshorland another question  in addition to the one about location:
The designs is showing a select box for Saved Search that says "Select one", but then the active filters show two "tags" with saved searches (My Posts and Needs Escalation).
What is the correct behavior there?

[2017-10-02 06:54] justinscherer commented on #1896
Honestly, I just assumed you would reset all of the dynamic fields (i.e. not description or title), and they'd lose any progress there. Probably with a warning. There didn't seem to me to be a need to mapping between fields in multiple surveys. The goal was to alleviate the annoying experience of accidentally putting a report into he wrong survey and not being able to undo it.

[2017-10-02 12:32] Angamanga commented on #1896
@justinscherer

Two questions:
1. Should the report selected be in detail or edit-mode?
2. If the filter still applies to the structured post, should that post be the one that is selected?

[2017-10-02 13:25] #1646 closed

[2017-10-02 13:34] justinscherer commented on #1896
Detail mode. You have e to click edit in the top right corner to enable edit mode.

Yes.

[2017-10-02 13:41] rowasc opened #2100 "Release v3.7.3 [ prep issue ]"
- [ ] Decide what we will send from : git log master..develop --oneline

### Platform client

- [x] 1565  - fix spacing in export modal (#767)
- [ ] updating stats to display all posts from datasources independent on data-source-filters
- [ ] relocating to timeline when user selects posts without a survey
- [ ] Rolling back d3 to 3.x because the nvd and angular-nvd3 deps do not work with 4.x
- [ ]

[2017-10-02 16:16] rowasc commented on #2091
@jshorland @willdoran
some other notes , related to the questions
- I think there's a problem if we have both the search panel and the mode bar enabled at the same time. Users could try to select conflicting filters, especially since the search filters are not applied as you go (only when you click `apply filters`).
- I think saved searches should be something we can only select by 1 at a time, as

[2017-10-02 16:33] willdoran commented on #2091
@rowasc I agree for 2.

For 1, I think you are right. @jshorland @justinscherer is there a design reason that the filters can't auto apply? I actually really like it when filters apply immediately in an interface but perhaps there are UX reasons why most people think that's wrong :)

[2017-10-02 17:13] jshorland commented on #2091
Feedback:

1. Does the mode bar change its behavior with this feature? For instance if a user selects location in the search panel while being on the map, do we continue showing that "Location" tag in the mode bar?
- I don't think filters displaying in the mode bar should go away for now -- while it gives people context for what filters are "on" and "off" without having to re-open the search panel

[2017-10-02 17:27] rowasc commented on #2091
@jshorland @justinscherer another question
<img width="227" alt="screen shot 2017-10-02 at 2 24 59 pm" src="https://user-images.githubusercontent.com/2434401/31090288-885f15b8-a77d-11e7-97ae-97688787496f.png">

 If we click "Show only" and then open the search panel while being on the map, do we retain the show only filter? With the way the datasources filter will be shown (checkboxes as it's curr

[2017-10-02 17:33] jshorland commented on #2091
If show only is clicked, the filter for only that source or survey (you have the option to show only for surveys too) would carry over and be marked "on" within the search panel.

[2017-10-02 17:34] rowasc commented on #2091
@jshorland ah ok makes sense. Thanks

[2017-10-02 18:36] middle8media opened #2101 "Pattern Library - New Layout-D Toolbar"
`layout-d` has a new filter and sort `toolbar` which combines elements from the mode-context bar and the existing filter/sort.

https://camo.githubusercontent.com/4f086e872eeb72151ca1d8fb5e5693c0825e9e7b/68747470733a2f2f7a7562652e696f2f66696c65732f75736861686964692f61393361333662323136303731653666323530643132336130316333386562392e706e67

[2017-10-02 21:54] justinscherer commented on #2091
Ideally, the changes would only apply to the new timeline ("data") view. Which means the search/filter on map view would work the same as currently, and we would love with the inconsistency for a little while.the node bar wouldn't change.  But I wasn't sure how connected the search components are across views.

Couple reasons: first, there's no way to do is accessibly that I've ever seen. E.g. how

[2017-10-02 22:01] rowasc commented on #2091
@justinscherer great, thanks, Justin.
- Ideally, the changes would only apply to the new timeline ("data") view.
This also means that when I switch tabs the filters should be reset. Right?

[2017-10-02 22:02] rowasc commented on #2091
tabs-> views (from map to data, from data view to map)

[2017-10-02 23:54] jshorland commented on #2091
@rowasc I think keeping current functionality the same is ok -- in which when you switch views (timeline --> map) the filters DON'T clear unless someone manually chooses to clear them. So, the filters would appear in the mode bar in map mode if they've turned them on in timeline (data) mode, and vice versa.

[2017-10-03 09:44] justinscherer commented on #2091
I agree with @jshorland on this one.

[2017-10-03 11:44] Angamanga commented on #2101
Should the toolbar/search-filter be used in map-view as well (I think that would make sense) ?
![screen shot 2017-10-03 at 13 42 16](https://user-images.githubusercontent.com/8624777/31123564-c0fa84b6-a840-11e7-98a7-4207a34ee800.png)

[2017-10-03 11:45] middle8media commented on #2101
You will be modifying the current search/sort/filter pattern to create an “alt” or “secondary” toolbar, specifying it to `layout-d`. Then the dropdown will be a mix of mode context and the current sort/filter.

[2017-10-03 14:32] middle8media opened #2102 "Pattern Library - Layout-D Bulk Actions"
1. Revise/create the `layout-d` bulk actions pattern from this workflow pdf
[layout.and.behaviour.screen.flow.desktop.pdf](https://github.com/ushahidi/platform/files/1352519/layout.and.behaviour.screen.flow.desktop.pdf)

![image](https://user-images.githubusercontent.com/1033332/31130514-9bd31006-a825-11e7-86bc-7bb623410e59.png)

![image](https://user-images.githubusercontent.com/1033332/31130526-

[2017-10-03 17:02] willdoran commented on #1864
Notes:

- On delete message warning that changelog will be deleted as well, suggest archive

[2017-10-03 20:48] kinstelli commented on #1864
Spec/Security question @jshorland

 Regarding _Change log should only be visible to logged in users (not to members, or visitors)_, I'm wondering if there might be a situation where items that could be visible in the changelog, such as Collection names, Tag names, etc, should only be seen by admins, rather than just any logged in user.

And if so, would we want to have different log visibility tha

[2017-10-03 20:52] jshorland commented on #1864
@kinstelli good nuance here. There are items that will be listed in the changelog that have permissions associated with them. They are the following:
- categories
- author (if hidden, it's only visible to ADMIN)
- parent categories (sub categories follow the parent category permissions)
- collections
- saved searches

If any of the above are set to be visible to only specific roles, these privacy

[2017-10-03 20:55] kinstelli commented on #1864
Okay, I'll have to reconsider some of the auth architecture I've used, but I'll look into this.

[2017-10-03 20:56] Angamanga commented on #2091
@justinscherer Does this dropdown trigger the date-picker:
![screen shot 2017-10-03 at 22 54 30](https://user-images.githubusercontent.com/8624777/31148771-0d035d40-a88e-11e7-9e79-236d51ed0068.png)

[2017-10-03 20:57] kinstelli commented on #1864
Separate question: I was wondering what an example changelog entry might look like for a brand new post. For automatic log entries on post updates, I'm writing a log entry for every changed field, but I assume we don't need/want that to happen for a brand new post.

[2017-10-03 21:01] Angamanga commented on #2091
@justinscherer Aha, no, never mind, now I get it, its a dropdown with different sorting-options!

[2017-10-04 13:20] Angamanga commented on #1896
@justinscherer @middle8media Realising we need to look at the behaviour of the layout-panes on smaller screens too. As it is now, the post-details/post-edit disappear when on smaller screens than ~1000 px. What should the behaviour be there?

[2017-10-04 13:24] justinscherer commented on #1896
@Angamanga

On smaller screens, postdetails/postedit will open into a new view like the current behaviour.

[2017-10-04 14:33] rowasc opened #2104 "Pagination not available in /settings/users . I cannot see all users in the settings/users page as an admin"
### Expected behaviour
I can see all users, paginated.
### Actual behaviour
I can only see 10 users.
UI: No pagination available.
Request: no "next" field in the response to generate pagination
### Steps to reproduce the behaviour/error
Login as an admin and visit http://qa.ushahididev.com/settings/users

<img width="953" alt="screen shot 2017-10-04 at 11 31 11 am" src="https://user-images.githubu

[2017-10-04 14:34] rowasc commented on #2104
cc @jshorland  please prioritize.
Thanks

[2017-10-04 14:42] rowasc opened #2105 "No specific UI feedback on "Display name" missing while creating a new user, except for save button being disabled"
### Expected behaviour
- I see an error/warning letting me know that I have to fill in the display name.
- Error text:  "Display name is required" (ie: like all other required fields)

It should look like this:
<img width="1440" alt="Image of the display name and error correctly shown" src="https://user-images.githubusercontent.com/39872794/54884353-e58fa200-4e95-11e9-8d8c-e2bc19262537.png">

###

[2017-10-04 14:43] rowasc commented on #2105
<img width="1440" alt="screen shot 2017-10-04 at 11 38 37 am" src="https://user-images.githubusercontent.com/2434401/31182023-2376dd52-a8f9-11e7-84d0-bf79fc2e2180.png">
Not a blocker, but it's really confusing if you don't realize the display name is there and required.

[2017-10-04 14:43] rowasc commented on #2105
cc @jshorland probably low priority considering all things, but still a weird behavior, I think

[2017-10-04 14:44] jshorland opened #2106 "CSV export not exporting on qa.ushahididev.com"
Export throwing blank error.

- Log in to QA
- Export all posts from map view -- don’t filter anything
- Also -- error message has styling errors (see screenshot). Dismiss is too close to the error icon. And the white triangle is not centered in the red circle.

![Screen Shot 2017-10-04 at 7.19.03 AM.png](https://zube.io/files/ushahidi/7e10fca0eb31803b5193ffa91e47920b.png)

After trying multiple t

[2017-10-04 14:45] jshorland commented on #2106
Note: this does NOT happen when I filter down to a smaller set of posts. Only when I'm trying to export everything.

[2017-10-04 14:47] jshorland opened #2107 "Filtering by clicking the data source checkbox in the context mode bar doesn’t work"
- Scroll to the separate data source buckets in the context mode bar in list view (or map view)
- Try filtering out posts via email by using the checkbox on the data source bucket
- Nothing happens
- When filtering like this, it should behave exactly as survey filtering. When the checkbox is de-selected, the data source box should become greyed out and should filter all posts out from that data so

[2017-10-04 14:51] rowasc commented on #2106
debug info

Request URL:http://qa.api.ushahididev.com/api/v3/posts/export?form%5B%5D=1&form%5B%5D=2&form%5B%5D=3&form%5B%5D=4&form%5B%5D=5&form%5B%5D=6&form%5B%5D=7&form%5B%5D=8&form%5B%5D=10&form%5B%5D=15&form%5B%5D=26&form%5B%5D=28&form%5B%5D=29&form%5B%5D=30&form%5B%5D=32&form%5B%5D=33&form%5B%5D=34&form%5B%5D=35&form%5B%5D=36&form%5B%5D=37&form%5B%5D=39&form%5B%5D=41&form%5B%5D=none&format=csv

[2017-10-04 15:02] rowasc opened #2108 "Dismiss button spacing is not correct"
### Expected behaviour
There's a space between Dismiss and the fail/success icon
### Actual behaviour
<img width="486" alt="screen shot 2017-10-04 at 11 58 52 am" src="https://user-images.githubusercontent.com/2434401/31182990-b5cdc808-a8fb-11e7-9b3e-336985b09a86.png">

### Steps to reproduce the behavior/error
Create a new user.

[2017-10-04 15:04] rowasc commented on #2108
<img width="1323" alt="7e10fca0eb31803b5193ffa91e47920b" src="https://user-images.githubusercontent.com/2434401/31183143-1bf65a46-a8fc-11e7-8c10-56b527cfbb32.png">
Same thing happens in errors.

[2017-10-04 15:07] rowasc commented on #2108
@jshorland not a blocker, but it affects different dismiss buttons across the app AFAIK

[2017-10-04 15:47] rowasc opened #2109 "[CSV Export - Queues] - Make previous/pending exported files available to download"
Problem description: If we have CSV exports based on a queue mechanism, we need to give the users a way to get their file after it is generated by the backend. We need a solution for all users, not only those that have a way to be notified.

`This is the minimum suggested solution that we can go for, as a way to test this new functionality.`

- Add a screen where we list the CSV files that we have

[2017-10-04 15:49] rowasc commented on #2109
cc @willdoran @jshorland as discussed in slack, this is a minimum requirement for being able to have exports for big datasets.

[2017-10-04 18:01] jshorland commented on #2109
@Romina-Suarez do you think we need to get this into 2chaguzi?

[2017-10-04 18:06] rowasc commented on #2109
@jshorland Yes, I do. Not for training phase, but if we implement some kind of queue for CSV downloads (which I think we should ) , we need this in 2chaguzi .

[2017-10-04 18:11] rowasc commented on #2078
note
Important: because of the implementation we went for, this is not true. We don't `need` the user id to go in the request ,and you can't  really assign a different user_id because we get it from the current user making the request

[2017-10-04 18:23] rowasc commented on #2091
@middle8media @jshorland let me know when you decide what the best way to go about surveys filters is, or If we need to meet to review it / brainstorm in more detail
Thanks!

[2017-10-04 18:27] jshorland commented on #2091
@Romina-Suarez survey filters should appear in the filter box, even on map mode (so they would appear in the context mode bar as well as the filter box)

[2017-10-04 18:29] rowasc commented on #2091
@jshorland Yes.  I mean the issue where you need "negative" survey filters because when you deselect one, you are effectively selecting all minus that one so you see all of them and it can be problematic in the UI

[2017-10-04 18:29] jshorland commented on #2091
OHHHH sorry. I'll leave that to @middle8media

[2017-10-04 18:29] rowasc commented on #2091
<img width="463" alt="screen shot 2017-10-03 at 1 48 49 pm" src="https://user-images.githubusercontent.com/2434401/31192871-d10fe8f4-a918-11e7-9ff7-2045a1a339f6.png">

[2017-10-04 18:32] rowasc commented on #2091
<img width="469" alt="screen shot 2017-10-03 at 1 44 17 pm" src="https://user-images.githubusercontent.com/2434401/31192969-162f2198-a919-11e7-809c-047536689bc6.png">
Sorry, this is the image from yesterday , not the previous one (but still, kind of the same thing applies there)

[2017-10-05 12:44] tuxpiper opened #2111 "FrontlineSMS doesn't work in private deployments"
## Overview
There is a permission conflict when executing the CLI tasks for deployments that are marked Private. Most CLI tasks execute without a User and thus have no associate permissions. In the case of Private deployments permission restrictions are tighter and are thus preventing the task from completing.

## Requirements
- The outbound SMS cli task should execute as its own user
- Most CLI t

[2017-10-05 12:59] tuxpiper commented on #2111
@dukedanny @ifender mentioning you so you can keep tabs on this one

[2017-10-05 13:00] ifender commented on #2111
following @tuxpiper

[2017-10-05 16:13] #1896 closed

[2017-10-05 17:14] willdoran opened #2112 "Inconsistent property types on Entities"
### Expected behaviour
- Entities properties are consistent
### Actual behaviour
- Entities will sometimes have strings in place of arrays
### Steps to reproduce the behaviour/error
- revisit this code:

https://github.com/ushahidi/platform/blob/develop/src/Core/Traits/RecursiveArrayDiff.php#L19

Aha! Link: https://ushahiditeam.aha.io/features/PROD-513

[2017-10-06 07:46] Angamanga opened #2116 "Refactor post-*-data and post-* views/Cannot structure posts"
### Expected behaviour
- Post detail view should use a single directive
- Post edit views should use a single directive

### Actual behaviour
Post-detail.controller is replicated, except for sending post as a dependency and setting layout in this file
https://github.com/ushahidi/platform-client/blob/28dc5a488c6c11053c870de4e1406425ee4b84a4/app/main/posts/detail/post-detail-data.directive.js
Same f

[2017-10-06 19:09] Shadrock opened #2117 "Integrate YODIE and CREES into comrades test deployments"
### The Need
COMRADES will be setting up some simulations for different use cases. We will need deployments that have the full set of COMRADES features (CREES, YODIE, FB BOT) as they are now (e.g. Alpha).

### Questions to resolve

- Not sure exactly how many we will need yet.
- We *will* likely need a few of them to have pre-populated data (to come from COMRADES).
- Do these each be separate repo

[2017-10-09 09:06] sampathazim opened #2118 "how to re arrange the surveys."
### Expected behaviour

### Actual behaviour

### Steps to reproduce the behaviour/error

[2017-10-09 09:08] sampathazim commented on #2016
I managed to solve this.

[2017-10-09 15:15] #2099 closed

[2017-10-09 15:15] #2098 closed

[2017-10-10 02:45] rowasc commented on #2091
Test Checklist: UI
    - [ ] I see the "Star" button where I can open the saved search list modal .
    - [ ] I see the search bar where I can write queries
    - [ ] I see the Sort & Filter toggle dropdown button.
        - [ ] The button has the number of active filters applied. This number represented the count of the filters which differ from the default value.
    - [ ] this is the order in w

[2017-10-10 02:53] rowasc commented on #2091
Test Checklist: UI
- [ ] I see the "Star" button where I can open the saved search list modal .
- [ ] I see the search bar where I can write queries
- [ ] I see the Sort & Filter toggle dropdown button.
    - [ ] The button has the number of active filters applied. This number represented the count of the filters which differ from the default value.
- [ ] this is the order in which filters are sho

[2017-10-10 03:32] rowasc commented on #2091
@willdoran @jshorland  I added a rough checklist for testing. Not very detailed, but I think it's a good blueprint for testing.
If you find anything missing please feel free to add.

[2017-10-10 17:01] crcommons opened #2119 "Changing language is inconsistent"
### Expected behaviour
1) As an Admin, I should be able to set the deployment default language and save it so that it is the default for all users; the language should only switch and save when the save button is selected.
2) I should be able to set my language and save it through refreshes, etc... so that I don't have to change my language every time use the platform
3) these should use different

[2017-10-10 18:55] Angamanga commented on #1896
Things to remember:
- [ ] when I navigate to data from a collection, it should go to data-view
- [ ] when I navigate to a saved search after saving it, it should default to where?

[2017-10-10 22:22] rowasc commented on #2047
@jshorland what is the expected behavior in this ticket?
Thanks

[2017-10-10 23:55] rowasc opened #2120 "2Chaguzi Prep"
This is just a ticket to coordinate major parts of the 2chaguzi launch.
- [ ] Saved search works
- [ ] Split pane works
    - [ ] Edit mode works
    - [ ] Split pane view works
- [ ] Filtering works - Checklist (https://github.com/ushahidi/platform/issues/2091)
- [ ] Bulk action works
     - PL work is mostly done.
     - Client work is being started between @crcommons and @rowasc
- [ ] Load more

[2017-10-11 00:44] rowasc opened #3624 "Performance: Reduce major issues from Chrome audit results"
Placeholder to not forget about this and get back to it.
Chrome audit has some great data on where we can improve the performance on the app.
<img width="965" alt="screen shot 2017-10-10 at 9 43 06 pm" src="https://user-images.githubusercontent.com/2434401/31417144-0ed98f60-ae04-11e7-9503-ceeb1a51a376.png">

Aha! Link: https://ushahiditeam.aha.io/features/PROD-512

[2017-10-11 01:16] rowasc opened #2121 "Epic: CSV Export Queue"
# CSV Export 2.0
Notes:
- [ ] As *any logged in user* I want to be able to export and download large CSV files with posts/messages.
- [ ] As *any logged in user* I want to access my previous exports up to `n` days.
- [ ] As *any logged in user* I can start an export and come back to download it when it's finished.
- [ ] **Not supported at the moment, but cron based would be an option for those use

[2017-10-11 08:16] Angamanga commented on #2120
**Detailed testing checklist**
*General:*
 - [ ] name of “timeline” changes to “data” everywhere the name “timeline” occurs

*Split pane, general*
 - [ ] view split into two independently scrolling panes - left with list of post cards, right with post detail view when a post card is clicked. When no post card is selected, right pane is blank.
- [ ] Number of posts based on applied filters displaye

[2017-10-11 12:29] Angamanga commented on #2120
**My findings so far:**
1. timeline is still used in the dropdown when choosing the default view-mode for saved-searches and collection
2. split pane is not individually scrolling, but works as expected except for that
3. navigating between collections and normal view is a bit confusing, probably not connected to this but when i click on 'data' or 'map' i thought i would go back to 'normal' view,

[2017-10-11 13:12] rowasc commented on #2120
11. I dont see a saved-search-filtering option

 Fixed here: https://github.com/ushahidi/platform-client/pull/798 . Ready for review/merge

[2017-10-11 15:06] crcommons opened #3626 "Reload on "See new post""
### Expected behaviour
When you are in Data view and a new posts comes in, the "See n New Posts" button displays. When you click it, it should not reload the page, but should add the posts to the top of the list without refresh.
### Actual behaviour
When you click "See new posts", it reloads the page.
-note that it only reloads the first time.
### Steps to reproduce the behaviour/error
Open two in

[2017-10-11 15:09] rowasc commented on #2120
Working on this one in the next ~30minutes. It's a dumb bug where I forgot to change reactiveFilters to true I think

[2017-10-11 15:22] rowasc commented on #2120
Checking now

[2017-10-11 17:40] rowasc opened #2122 "Saved Search/Collection default view selector should include Data"
### Expected behaviour
When I create a Saved Search or Collection, I am shown a dropdown to select what the default view should be. The list should include Map and Data.

### Actual behaviour
When I create a Saved Search or Collection, I am shown a dropdown to select what the default view should be. The list includes Map and Timeline right now.

### Steps to reproduce the behaviour/error
Try to cr

[2017-10-11 20:42] Angamanga commented on #2120
Looking into next:

[2017-10-11 20:49] willdoran opened #2123 "Not Designed Yet Functionalities"
List of missing designs:
- [ ] Bulk Actions on User's own Posts

[2017-10-11 21:05] rowasc opened #2124 "Replace Timeline with Data view everywhere."
### Expected behaviour
- [x] I don't see an option to select timeline
- [x] I don't see an option to select in saved search modal
- [x] I don't see an option to select in collections modal
- [x] I don't have a way to access timeline view.
- [ ] There is a mobile data view - See https://github.com/ushahidi/platform/issues/2125
### Actual behaviour

### Steps to reproduce the behaviour/error

#####

[2017-10-11 21:24] rowasc opened #2125 "Data mode - mobile"
### Expected behaviour
Mobile: When I select a post in the data view, it should be shown instead of the list with a way to go back to the list.
In web it should behave the way it does right now in data view.
### Actual behaviour
Mobile: When I select a post in the data view, it is shown below the list.
@jshorland please add details as needed
@middle8media can you take a look at this?
Thanks

[2017-10-12 03:10] willdoran opened #2128 "Post Lock Sorting"
### Expected behaviour
- It should be possible to order Posts by Locked/Unlocked
### Actual behaviour
- Currently, Lock ordering is not possible
### Steps to reproduce the behaviour/error

##### Where
- [ ] [Local setup with Vagrant ](https://www.ushahidi.com/support/install-ushahidi#installing-for-development)
- [ ] [Local setup from platform-release ](https://www.ushahidi.com/support/install-ush

[2017-10-12 03:14] willdoran opened #2129 "Deployment setup for Redis"
### Expected behaviour
- Redis should be deployable via Platform Enterprise
- Websocket Nodejs server should be deployable via Platform Enterprise
### Actual behaviour
- Currently they are not
### Steps to reproduce the behaviour/error

##### Where
- [ ] [Local setup with Vagrant ](https://www.ushahidi.com/support/install-ushahidi#installing-for-development)
- [ ] [Local setup from platform-releas

[2017-10-12 03:28] willdoran opened #2130 "Add Lock Timeout to Site Settings"
### Expected behaviour
- I can configure the timeout length of a post lock via the site settings
### Actual behaviour
- Not currently available
### Steps to reproduce the behaviour/error

##### Where
- [ ] [Local setup with Vagrant ](https://www.ushahidi.com/support/install-ushahidi#installing-for-development)
- [ ] [Local setup from platform-release ](https://www.ushahidi.com/support/install-usha

[2017-10-12 03:45] willdoran opened #2131 "Remove Timeline(list) view"
### Expected behaviour
- The timeline view should no longer be selectable
- The timeline directives and templates should be removed from the Platform client
- Existing Savedsearches or Collections should be updated via a DB migration to point at the Data view where their default was previously set to timeline(list)

### Actual behaviour
- Timeline is still present
### Steps to reproduce the behavi

[2017-10-12 03:51] #1962 closed

[2017-10-12 03:52] #1924 closed

[2017-10-12 04:07] willdoran commented on #2120
Issues I have found so far:

- [ ] Elipsis Menu doesn’t appear below shorter detail views
<img width="558" alt="screen shot 2017-10-12 at 00 05 05" src="https://user-images.githubusercontent.com/2694405/31478820-09c397d6-aee1-11e7-9b60-2a75f37c92d6.png">
- [ ] No loading animation when Posts refreshing on data view
- [ ] Can’t add new post in data view
- [ ] Filters dropdown appear behind loading

[2017-10-12 07:26] aoduor opened #2133 "Reset password link in email is non responsive"
### Expected behaviour
When I get an email to reset my password, i should be able to click on the reset password link an get redirected to a page to input a new password

### Actual behaviour
The blue reset button is non responsive, and I have to copy and past the token directly from the email, onto the reset password page.

### Steps to reproduce the behaviour/error
*Attempt to recover password f

[2017-10-12 07:56] aoduor opened #2134 "UX: Search filter"
This is more of a question than anything else.
I noticed that we're putting search criteria in two places
1. On the search bar at the top
![screenshot](https://i.imgur.com/NHVPuhZ.png)

2. On the left hand menu bar
![screenshot](https://i.imgur.com/bKeQ2Gh.png)

- Wondering if we can make a decision on one place for this to live, as opposed to both
- Concerned that when we have alot of search crit

[2017-10-12 08:14] aoduor opened #2135 "Switch all saved searches/collections with default view as "timeline" to "data""
### Expected behaviour
While in a saved search, when I select a post to edit, the post detail view should open up on a pane to the right.

### Actual behaviour
I get redirected to a new page altogether

### Steps to reproduce the behaviour/error
* Log into deployment e.g sandbox.uchaguzi.or.ke
* Select a saved search e.g posts from sms, email, twitter
* Select a post to structure

##### Where
- [

[2017-10-12 09:09] aoduor commented on #2120
Making a note of issues i find here.. Sorry I posted a few outside.. linking them here..

#2135
#2134

[2017-10-12 09:13] aoduor commented on #2120
I can't find where to edit saved searches in the data view. @justinscherer had included it here in this comment

https://github.com/ushahidi/platform/issues/1896#issuecomment-332763152

[2017-10-12 12:29] Angamanga commented on #2120
- [ ] When navigating away from a card after cicking 'continue' or 'save' on the warning-modal, it doesnt continue to where the user was going, I stay on the post-details-view
- [ ] In data-view, filters doesnt update after choosing a saved search in saved search-modal (it does in map-view)
- [ ] Styling on bulk-actions-modal is off on smaller screens
- [ ] post does not go into edit-mode after un

[2017-10-12 12:44] aoduor commented on #2120
I know this is more of a design question that we can tackle later, buuut, i find it extremely useful to have this summary of the saved search i'm looking at, even in the data view.

![screen shot 2017-10-12 at 15 43 44](https://user-images.githubusercontent.com/721918/31496478-29ddc112-af64-11e7-9aa4-f31fe3a1e79b.png)

I know we can't represent it in the UI per se, but maybe we could include it in

[2017-10-12 14:02] crcommons commented on #2120
-[ ] Padding has been added to all notifications such that it's messing up other styles

[2017-10-12 14:04] #2131 closed

[2017-10-12 14:29] aoduor commented on #2120
- [ ] I can't find the message thread section when responding to a user from SMS.

[2017-10-12 15:04] jshorland commented on #2124
Related: ushahidi/platform#2131

[2017-10-12 15:06] jshorland opened #2136 "Checkboxes in search and filter dropdown in data view have styling issues"
![Screen Shot 2017-10-12 at 8.00.58 AM.png](https://zube.io/files/ushahidi/6a09af6c7fd5c0ab228af801a78df886.png)

[2017-10-12 15:10] jshorland opened #2137 "left pane and right pane do not scroll separately in data mode"
I should be able to scroll down the left pane list of posts while still seeing the right pane post edit
![Screen Capture on 2017-10-12 at 08-08-39.gif](https://zube.io/files/ushahidi/dd1ac3b788cee4f32328391b4a50df11.gif)

[2017-10-12 15:31] jshorland opened #2138 "Checkboxes don't appear on posts when I click "bulk actions" in data mode"
![Screen Shot 2017-10-12 at 8.30.37 AM.png](https://zube.io/files/ushahidi/c98571122783b342dc53a010abcae058.png)

[2017-10-12 15:32] jshorland opened #2139 "Post action drop down box goes behind next post in left pane list of post cards"
Styling issue

![Screen Shot 2017-10-12 at 8.30.37 AM.png](https://zube.io/files/ushahidi/c98571122783b342dc53a010abcae058.png)

[2017-10-12 15:37] jshorland opened #2140 "I don't think keyword search is working at all"
![Screen Capture on 2017-10-12 at 08-36-22.gif](https://zube.io/files/ushahidi/e618525bfaeb04fbfa61f01a356c6f2e.gif)

[2017-10-12 15:39] rowasc commented on #2140
@jshorland Just checked this. It's happening with the "search all " button outside of the dropdown, but in the search all INSIDE the dropdown it works. I'll fix it for the other one now. Sorry I missed that.

[2017-10-12 15:40] jshorland opened #2141 "There's no way to create a new post from /data mode"
I should be able to get to create new post from my data mode (see media monitoring team use case https://docs.google.com/document/d/1nSNLwAi5zKH2ZDDg_nu37sPRC95H3qTBT09IXQowy-k/edit#)

At the moment, there's no way to enter create new from data mode.

[2017-10-12 15:40] rowasc commented on #2140
@jshorland even then I think the UI is just really weird, but I also can't think of a good solution TBH.  I am not sure users will totally understand how the search all works in combination with the apply filters.

[2017-10-12 15:45] jshorland commented on #2136
I think this is happening to all checkboxes, not just in search and filter drop down

[2017-10-12 16:33] rowasc commented on #2136
@jshorland yes, confirmed that all checkboxes pretty much everywhere are broken :/

[2017-10-12 16:37] rowasc commented on #2120
- [ ] Save button in edit mode is not working . @rowasc looking into this

[2017-10-12 16:41] jshorland commented on #2120
@angamanga re: what is the difference between task is for only internal use
and show this task to everyone? Should they be possible to turn on at the
same time? (possible now) @jshorland <https://github.com/jshorland> @aoduor
<https://github.com/aoduor>
-- task is for internal use means the task itself isn't shown to non-logged
in visitors or members, only to logged in users with permission to "ma

[2017-10-12 19:10] rowasc commented on #2120
- [ ]  In data-view, filters doesnt update after choosing a saved search in saved search-modal (it does in map-view) . (note from Romina: @jshorland I'm not able to reproduce this. :( @Angamanga ). Any other steps besides selecting a saved search and going to data view?

[2017-10-12 19:29] rowasc opened #2143 "Contextual menu "..." appears under the post card list."
### Expected behaviour
Contextual menu  "..."  appears over the post card list
### Actual behaviour
Contextual menu  "..."  appears under the post card list.
### Steps to reproduce the behaviour/error
Click on the "... " menu from the list.
<img width="462" alt="screen shot 2017-10-12 at 4 28 36 pm" src="https://user-images.githubusercontent.com/2434401/31515127-6b21b0ba-af6a-11e7-83a3-44e24bb40fd

[2017-10-12 19:30] rowasc commented on #2120
- [ ] Contextual menu "..." appears under the post card list. #2143

[2017-10-12 19:34] rowasc opened #2144 "Show the "unsaved changes" warning on route change (manual URL change or otherwise) and page reload"
### Expected behaviour
I should see a warning that I am leaving a post with unsaved changes whenever I'm about to leave the page with an unsaved post.
### Actual behaviour
I see a warning, but only if I navigate around the app.

##### Where
- [ ] [Local setup with Vagrant ](https://www.ushahidi.com/support/install-ushahidi#installing-for-development)
- [ ] [Local setup from platform-release ](http

[2017-10-12 19:38] rowasc commented on #2120
- [ ] Show the unsaved changes modal when page url changes or user tries to reload with an unsaved post https://github.com/ushahidi/platform/issues/2144

[2017-10-12 19:42] rowasc commented on #2120
- [ ] Show the unsaved changes modal when page url changes or user tries to reload with an unsaved post https://github.com/ushahidi/platform/issues/2144

[2017-10-12 19:46] rowasc opened #2145 "I should be able to delete a Saved search"
### Expected behaviour

- [ ] There's an "edit" link beside the saved searches dropdown in the filter.
![filter open with filters active](https://user-images.githubusercontent.com/29209303/30955954-64dcbc92-a42d-11e7-9e51-fbc8957bfb7f.png)

- [ ] It opens a modal with a simple checkbox list that you can save.
![delete saved searches](https://user-images.githubusercontent.com/29209303/30955978-8019

[2017-10-12 19:54] #2140 closed

[2017-10-12 19:57] rowasc commented on #2140
@jshorland this should be working now in QA

[2017-10-12 22:32] rowasc commented on #2138
They should appear now (in QA)

[2017-10-12 23:37] rowasc commented on #2135
This should be OK now.

[2017-10-12 23:40] rowasc commented on #2134
@aoduor sorry I  had missed this. About the search criteria not being the same, I seem to get the same criteria in both (except that the drop-down has many more filters visible by default ?) . Can you give me an example? Thanks!
@jshorland Can you look at the questions, I'm not sure about that. Thanks

[2017-10-12 23:43] rowasc commented on #2122
this should be fine now.

[2017-10-13 08:47] aoduor opened #2146 "Help text on location field overlaps on user input"
### Expected behaviour
It'd like to

- be able to dismiss the help text OR
- have the help text not appear over the text field where my input should go
- opt into seeing the help text or not. Right now it's extremely arbitrary

### Actual behaviour
See below. What you can't see is that I was actually putting in lat/lon values BEHIND the black help text the entire time.
![screen capture on 2017-10-

[2017-10-13 08:48] aoduor commented on #2120
- [ ] Fix help text overlapping input on location field #2146

[2017-10-13 09:27] aoduor opened #2147 "URL when in post edit/view mode should reference post ID"
#Expected Behaviour
I think it would be a great idea to have the URL reference post ID when viewing or editing a post, even though we aren't reloading the page.

Something that we can easily do?

#Actual Behavior
Currently, this is all we see

<img width="993" alt="screen shot 2017-10-13 at 12 25 29" src="https://user-images.githubusercontent.com/721918/31539642-de081a18-b011-11e7-9956-7dcc72dda57

[2017-10-13 12:21] rowasc commented on #2147
@aoduor agree . I think we could do it fairly easily. Might need a bit of refactoring on the data view ,but I'll check

[2017-10-13 13:27] rowasc opened #2148 "User list layout with bulk actions is broken."
### Expected behaviour
I should see available actions when I select a user
### Actual behaviour
I see part of the actions menu but I don't see it all, so I can't take any action.
<img width="1440" alt="screen shot 2017-10-13 at 10 24 49 am" src="https://user-images.githubusercontent.com/2434401/31548345-e0ba13a8-b000-11e7-8391-a650acfd847f.png">

### Steps to reproduce the behaviour/error
- [ ] Go

[2017-10-13 13:28] rowasc commented on #2148
re:  github.com/ushahidi/platform#2120

[2017-10-13 13:29] rowasc commented on #2120
- [ ] user list layout is broken https://github.com/ushahidi/platform/issues/2148

[2017-10-13 14:45] diegodorgam commented on #2037
Hi @Angamanga @tuxpiper

I'm so really sorry to come back to this issue, but I've made a mistake, my client wants to add the search filter to the embedded viz.
I know I've said that we wouldn't need that, and I've made a mistake.
Could We reopen this issue to implement the same viz with the search filter?
thks in advance...

[2017-10-13 17:38] middle8media commented on #2102
Can this be closed?

[2017-10-13 17:50] #2102 closed

[2017-10-13 17:51] crcommons commented on #2102
Moved it to done.

[2017-10-13 19:14] crcommons commented on #2137
@middle8media Just moved this to QA: Confirm Fixed!

[2017-10-16 07:58] aoduor opened #2150 "Sandbox deployment redirects to "forbidden" page on initial access"
### Expected behaviour
I should get redirected to the map view of https://sandbox.uchaguzi.or.ke as a non logged in user, since it isn't a private deployment

### Actual behaviour
I get redirected to the access forbidden page when I click on sandbox.uchaguzi.or.ke

##### Where
- [ ] [Local setup with Vagrant ](https://www.ushahidi.com/support/install-ushahidi#installing-for-development)
- [ ] [Loc

[2017-10-16 09:28] aoduor opened #2151 "Required field asterisk missing from submission page"
see here. This is a required field but we don't have the asterisk on the side to denote.

![screen shot 2017-10-16 at 12 15 56](https://user-images.githubusercontent.com/721918/31604856-3fb36224-b26d-11e7-94b6-12f2da07d3fd.png)

Steps to reproduce
* Log into sandbox uchaguzi site
* Select a post to structure
* Attempt to save immediately after selecting the survey you'd like to assign the post to.

[2017-10-16 09:35] Angamanga opened #2152 "Survey-fields does not appear when not logged in"
### Expected behaviour
When I go to a survey as not logged in, all fields I have have permissions to see should be visible

### Actual behaviour
If I create a survey 'normal' fields and a internal task, no fields except title and description are visible when trying to submit a post. This only happens when the survey is created with internal tasks. If creating a survey and adding internal tasks lat

[2017-10-16 11:57] aoduor opened #2153 "Non descript error on attempts to unlock a post"
### Expected behaviour
When i click on unlock, i expect to get redirected to the edit page, or if it failed, a proper error message

### Actual behaviour
![screen capture on 2017-10-16 at 14-55-27](https://user-images.githubusercontent.com/721918/31610834-473fddf0-b282-11e7-9476-745e328195f6.gif)

### Steps to reproduce the behaviour/error
* Log into qa.ushahididev.com
* Click on data
* Select a p

[2017-10-16 12:00] aoduor commented on #2153
Also, apparently all posts on the data view on qa.ushahididev.com are locked by @rowasc
![screen capture on 2017-10-16 at 14-59-28](https://user-images.githubusercontent.com/721918/31610932-ad9983da-b282-11e7-8e23-0a2a41bd1b10.gif)

[2017-10-16 13:38] willdoran commented on #2153
@aoduor So the post doesn't automatically redirect to the edit page.

It should however unlock. I'll look at that now.

[2017-10-16 13:44] aoduor opened #2154 "CSV Export not working"
### Expected behaviour
I expected a CSV file download after a couple of minutes of clicking export to CSV

### Actual behaviour
I got the yellow progress bar for a while, and then a blank non descript error as shown below.
![screen shot 2017-10-16 at 16 37 31](https://user-images.githubusercontent.com/721918/31614915-86a3dfa6-b290-11e7-91dd-b833dfe5d692.png)

![screen capture on 2017-10-16 at 16-4

[2017-10-16 14:02] rowasc opened #2155 "Reset password button not showing up on email"
### Expected behaviour
I get an email like in the normal product, with a "Reset your password" button

### Actual behaviour
I get an email with all the standard text and a token, but no button

### Steps to reproduce the behaviour/error
Try to reset your password.
Check your email.

##### Where
- [ ] [Local setup with Vagrant ](https://www.ushahidi.com/support/install-ushahidi#installing-for-devel

[2017-10-16 14:11] aoduor commented on #2155
Related to #2133

[2017-10-16 14:28] willdoran commented on #2125
- For now, we will use the existing detail/edit views - redirecting when we pass the scale.

[2017-10-16 14:37] #2137 closed

[2017-10-16 14:38] #2138 closed

[2017-10-16 14:42] crcommons commented on #2139
When the post is selected, the dropdown still goes behind.
<img width="471" alt="screen shot 2017-10-16 at 10 40 58 am" src="https://user-images.githubusercontent.com/8941223/31617977-b074cd5e-b25e-11e7-928b-b082deedea3d.png">

[2017-10-16 15:19] crcommons opened #2156 "So difficult to get out of collections or saved search view"
### Expected behaviour
When I navigate to the data view of a collection or saved search, there should be a way for me to exit the saved search or collection easily.

### Actual behaviour

IN QA (after list-view completely removed)

Navigate to a collection or saved search. you will then be redirected to the data view of that collection/saved search. In order to get out of it, you have to go to 'ma

[2017-10-16 15:23] crcommons opened #2157 "Lock styling is off when bulk actions is selected"
### Expected behaviour
Lock icon should stay in-line with other elements, like this (but with checkbox)
<img width="428" alt="screen shot 2017-10-13 at 3 23 53 pm" src="https://user-images.githubusercontent.com/8941223/31620047-34379d06-b264-11e7-9c25-379f3265b3aa.png">

### Actual behaviour

Lock styling gets thrown off when bulk actions selected.
<img width="481" alt="screen shot 2017-10-13 at 3

[2017-10-16 15:59] crcommons opened #2158 "See New Posts Button disappears when you scroll to bottom of page"
### Expected behaviour

"See New Post" button should remain below site header/searchbar no matter where you scroll on page.

It should always be positioned like this:
<img width="481" alt="screen shot 2017-10-16 at 11 57 22 am" src="https://user-images.githubusercontent.com/8941223/31622046-4b9ca5e0-b269-11e7-9a24-74e36f6577cf.png">

### Actual behaviour
The button gets pushed up under the header,

[2017-10-16 16:04] crcommons opened #2159 "Lock button and warning appear when logged out"
### Expected behaviour
As a logged out user or regular user, I should not see locks on posts and not see locked warning message when selecting a post.

### Actual behaviour
locks and warning message appear in all circumstances
<img width="1252" alt="screen shot 2017-10-16 at 12 03 26 pm" src="https://user-images.githubusercontent.com/8941223/31622293-1042ee9a-b26a-11e7-8804-45325d6895ca.png">

###

[2017-10-16 16:07] crcommons opened #2160 "Posts remain locked when logging out"
### Expected behaviour
Posts should unlock if you log out. (or user should be warned before logging out). Changes should not be saved.

### Actual behaviour
User logs out and posts remain locked if they were in edit mode before logging out.

### Steps to reproduce the behaviour/error
Log in as user with editing permissions.
Select "Edit" on a post (but don't make changes)
Log out
log back in and s

[2017-10-16 16:10] crcommons opened #2161 "message slider/notification styling is off"
### Expected behaviour
Slider should be full width of screen
### Actual behaviour
<img width="1357" alt="screen shot 2017-10-16 at 12 08 32 pm" src="https://user-images.githubusercontent.com/8941223/31622605-e5889258-b26a-11e7-8929-6ec021e9caed.png">

### Steps to reproduce the behaviour/error
When you unlock a post, the error/success message will appear at the bottom.

##### Where
- [ ] [Local se

[2017-10-16 16:33] willdoran opened #2162 "Post not publishing from edit page"
### Expected behaviour
- When I change status of the Post and click save I expect it to save
### Actual behaviour
- When I change the status of the Post and click save I get the message:
"You haven’t made any changes"

### Steps to reproduce the behaviour/error
- Choose edit on a Post
- Select a new status
- Click save.

##### Where
- [ ] [Local setup with Vagrant ](https://www.ushahidi.com/suppor

[2017-10-16 16:42] middle8media commented on #2003
@justinscherer this should be pretty simple to code out in the PL, but we need to sync on the design.

[2017-10-16 16:42] rowasc commented on #2147
Starting on this one now while I also try to pin point the edit bug

[2017-10-16 18:10] middle8media commented on #2141
fixed via https://github.com/ushahidi/platform-pattern-library/commit/46f9559c0c0c9543cdf0cdeefe2144ae073344e5

[2017-10-16 18:11] middle8media commented on #2158
fixed via https://github.com/ushahidi/platform-pattern-library/commit/94f6e291ad7f793729e059a90ec0c23b6453dd5c

[2017-10-16 18:12] #2158 closed

[2017-10-16 18:12] middle8media commented on #2161
fixed via https://github.com/ushahidi/platform-pattern-library/commit/c29b3d4f2d10e019425dc71afd9c4954f59e8391

[2017-10-16 18:12] #2161 closed

[2017-10-16 18:13] middle8media commented on #2157
fixed via https://github.com/ushahidi/platform-pattern-library/commit/a23468ded06d6391a6c12d9f16392c3088710bcc

notice the html changes

[2017-10-16 18:49] rowasc commented on #2147
@aoduor so I am wondering what should we do if the user enters the page with the id. Of course, show the post, but :
Option 1: should we show it in the side like if you clicked it in the data mode ?
Option 2: should we should it in the post detail screen directly?

Option 1:
Simple, already working :)

This is a short gif of what I implemented for `option 1.` I think it gives us a good set of feat

[2017-10-16 19:00] #2159 closed

[2017-10-16 19:35] #1759 closed

[2017-10-16 20:23] #2157 closed

[2017-10-16 20:52] rowasc opened #2165 "n of x results is not working correctly."
### Expected behaviour
When there are only 9 posts, I see "10 of 9 reports" instead of 9 of 9 reports
### Actual behaviour
When there are only 9 posts, I see "9 of 9 reports"
### Steps to reproduce the behaviour/error
Go to data view with 9 reports.
<img width="801" alt="screen shot 2017-10-16 at 5 50 19 pm" src="https://user-images.githubusercontent.com/2434401/31634661-b0008642-b29a-11e7-8467-68

[2017-10-16 22:09] #2141 closed

[2017-10-17 01:55] crcommons opened #2166 "Can't scroll in views smaller than 1024px"
### Expected behaviour
I should be able to scroll

### Actual behaviour
I can't scroll

### Steps to reproduce the behaviour/error
Resize browser to less than 1024px in data view and try to scroll. If you remove overflow:hidden from layout-d, scrolling works.

##### Where
- [X] [Local setup with Vagrant ](https://www.ushahidi.com/support/install-ushahidi#installing-for-development)
- [X] [Local se

[2017-10-17 01:58] crcommons opened #2167 "Create Post button covers Help Button and stays in view when "bulk Actions" selected"
### Expected behaviour
"Create Post" button should not cover other buttons. It should also be completely hidden when bulk actions active (<1024 px)
### Actual behaviour
It covers the help button and when bulk actions is selected, it goes grey and slides half-way up the DOM, but not out of site
<img width="394" alt="screen shot 2017-10-16 at 9 33 04 pm" src="https://user-images.githubusercontent.co

[2017-10-17 01:59] crcommons opened #2168 "Search bar should be full width"
### Expected behaviour
Search bar should be full width
### Actual behaviour
Search bar is very small because of 'Create Post' button
<img width="489" alt="screen shot 2017-10-16 at 9 33 14 pm" src="https://user-images.githubusercontent.com/8941223/31643210-4f2e36f2-b2bd-11e7-8136-120f01d8fad2.png">

### Steps to reproduce the behaviour/error
navigate to data view

##### Where
- [ ] [Local setup wi

[2017-10-17 07:39] aoduor opened #2169 "Share button missing on map view"
See this on qa.ushahididev.com

<img width="1430" alt="screen shot 2017-10-17 at 10 38 45" src="https://user-images.githubusercontent.com/721918/31652344-710a88f6-b327-11e7-9ce1-7b266c97747f.png">

##### Where
- [ ] [Local setup with Vagrant ](https://www.ushahidi.com/support/install-ushahidi#installing-for-development)
- [ ] [Local setup from platform-release ](https://www.ushahidi.com/support/in

[2017-10-17 08:11] tuxpiper commented on #2088
This is still happening 3 weeks later !

This is https://mexico.ushahidi.io in my usual browser session:

![screen shot 2017-10-17 at 10 08 18](https://user-images.githubusercontent.com/467393/31653524-2814aed2-b323-11e7-8cfd-ad95eb594db0.png)

it's showing surveys that were deleted more than 3 weeks ago.

This is what the site looks like on an incognito session:
<img width="1441" alt="screen shot

[2017-10-17 08:12] aoduor commented on #2106
related to #2154. I successfully managed to download a CSV file.

[2017-10-17 11:57] Angamanga commented on #2143
@middle8media Can we have a look at this together? I have tried to figure it out but I cannot...

[2017-10-17 13:54] Angamanga opened #2170 "Warning message for required fields is not appearing consistently"
### Expected behaviour
When I don't add a value to a required form-field, there should be a warning-message below that field after clicking 'submit' or 'save'.

### Actual behaviour
-the warning-message appears randomly, sometimes it appears, sometimes not
### Steps to reproduce the behaviour/error
- [ ] Go to add-post
- [ ] Select a survey with required fields
- [ ] Click submit
- [ ] No or only

[2017-10-17 14:53] #2125 closed

[2017-10-17 14:59] #2151 closed

[2017-10-17 15:08] middle8media commented on #2168
fixed via https://github.com/ushahidi/platform-pattern-library/commit/7b259b767eb0bd24f1ebd6998ab6c765affaa7ed

[2017-10-17 15:08] #2168 closed

[2017-10-17 15:09] middle8media commented on #2166
fixed via https://github.com/ushahidi/platform-pattern-library/commit/1132f7bce960ab431ccf05b455a1323194a9e7e5

[2017-10-17 15:09] #2166 closed

[2017-10-17 15:10] middle8media commented on #2167
partial fix via https://github.com/ushahidi/platform-pattern-library/commit/1bd424971e985f50338a398abbe680c5f71985ca

I still need to fix the Intercom button position issue

[2017-10-17 15:58] #2160 closed

[2017-10-17 16:49] rowasc opened #2171 "Post actions "edit" not working on map view or when you first select the post and click on the right side column of data view"
### Expected behaviour
When you try to edit from the map view, the post actions "edit" does not work.
When you try to edit from a selected post (right side) on the data view, it does not work
### Actual behaviour
When you try to edit from the map view, the post actions "edit" opens the edit page.
When you try to edit from a selected post (right side) on the data view, it opens the edit form in the

[2017-10-17 16:49] rowasc commented on #2171
Critical bug. Addressing now.

[2017-10-17 16:50] willdoran opened #2172 "Clearing search text does not cause search to refresh"
### Expected behaviour
- When I click the 'x' in the search input box, I expect the search to rerun without the search text this time
### Actual behaviour
- Text is cleared but search is not rerrun
### Steps to reproduce the behaviour/error
- On either map or data view
  - Type a search query into the search inpiut box
  - Hit enter, search should run
  - Click the 'x' in the right hand side of th

[2017-10-17 17:14] willdoran commented on #2153
Using the QA DB and develop locally, I can't reproduce this. I'm going to clear the locks in the QA DB I think the db might just be messed up.

[2017-10-17 17:27] willdoran commented on #2153
@aoduor Ok I've cleared the DB to see if it was caused by weird state. Please retest and let me know if it persists. Something was severely screwed up because those post weren't even locked by Romina.

[2017-10-17 17:54] #2145 closed

[2017-10-17 19:01] rowasc commented on #2172
@jshorland @willdoran this means that in data mode, now the filters react to changes without apply filters.  Right?
I agree that in map mode, it should re-run instantly.

Frankly, having two views that share a feature (filters, search) and having that feature behave in two completely separate ways  is `very` confusing right now.

[2017-10-17 19:31] #2171 closed

[2017-10-17 19:34] rowasc commented on #2169
Ready in QA Env.

[2017-10-17 19:35] aoduor commented on #2153
@willdoran :(..
So, progress in the sense that, i was able to view a couple of other posts that are unlocked. Downside, i selected the very first post on the data view, and this is current status i.e i'm unable to unlock this one.

![screenshot](https://cdn-pro.dprcdn.net/files/acc_531939/D8AD3)

TL;DR: Unlocked the rest of the other posts, but cannot unlock this specific one.

[2017-10-17 19:43] willdoran commented on #2153
@aoduor I can't even get the qa site to load...

[2017-10-17 20:03] rowasc commented on #2172
@willdoran https://github.com/ushahidi/platform-client/pull/838
Sent over a PR since I was waiting for codeship to run on another issue and had a few minutes.

LMK what you think  (of the feature itself)
@jshorland please feel free to check this with the "view deployment "  test button too. Any input is appreciated.

There's a dropdown and searchbox style issue I need to look at that is completely

[2017-10-17 21:43] willdoran commented on #2162
Validation is fundamentally broken on Post edit. The ng-form model is not wiring to the sub elements, in particular, it fails to detect any changes to any sub directives post toolbox or location or media etc.

I'm going to investigate alternatives, if there are none I'm going to look at building a service handles state as gross as that is.

[2017-10-17 23:42] rowasc opened #2174 "Load new posts is interfering with filters .[pending details]"
### Expected behaviour

### Actual behaviour

### Steps to reproduce the behaviour/error

##### Where
- [ ] [Local setup with Vagrant ](https://www.ushahidi.com/support/install-ushahidi#installing-for-development)
- [ ] [Local setup from platform-release ](https://www.ushahidi.com/support/install-ushahidi#installing-the-latest-release)
- [ ] Ushahidi.io / SaaS solution
- [ ] Ushahidi's QA environm

[2017-10-17 23:43] rowasc commented on #2174
adding a placeholder here while I finish some things, basically what happens is that the see new posts really should not modify the filters scope var except for a specific query because that means that things that should not have datefrom will have it

[2017-10-17 23:44] rowasc commented on #2174
assigning myself to review this and report back

[2017-10-18 01:31] rowasc commented on #2170
@Angamanga I think this might be related to the validation issue that Will mentioned in the handover thread ?

[2017-10-18 06:33] jshorland opened #2175 ""conversation with author" remains the thread with the first post you click on in data mode, even after you click on another post"
### Expected behaviour
When I move from one post to another, I want to see the "conversation with author" and location for the post i've clicked on.

### Actual behaviour
The conversation thread with author and location stays as the one associated with the first post I click. It doesn't change.

This happens with threads from email, twitter, and SMS.

### Steps to reproduce the behaviour/error
![s

[2017-10-18 06:46] jshorland commented on #2169
This is fixed for me!

[2017-10-18 06:48] jshorland commented on #2148
FIXED in sandbox.uchaguzi

[2017-10-18 06:50] jshorland commented on #2146
confirmed fixed in sandbox.uchaguzi.or.ke

[2017-10-18 06:52] jshorland commented on #2122
ba da bing ba da boom. it's fixed.

[2017-10-18 08:38] tuxpiper commented on #2133
There is a nice blue reset button now in Uchaguzi sandbox

[2017-10-18 12:00] tuxpiper commented on #2037
Hi @diegodorgam

we're pretty focused on the re-run of the kenyan elections and preparing a bunch of features for it, so it will take us a little to get back to this and see how hard it would be to do.

Meanwhile, is there any specific way your client would like the search bar to appear? Would it be like the standard narrow view, but without the top and bottom bars?

<img width="1006" alt="screen

[2017-10-18 12:31] tuxpiper commented on #2155
Should be fixed along with #2133

[2017-10-18 13:58] crcommons opened #2176 "Load More button should disappear if 100% of posts are shown"
### Expected behaviour
If there are no more posts to load, "Load More" should disappear
### Actual behaviour
Load more is still there even when there are no more posts to get.

### Steps to reproduce the behaviour/error
Run locally so there are fewer posts. Load all posts and see that it is still there.

##### Where
- [X] [Local setup with Vagrant ](https://www.ushahidi.com/support/install-ushahid

[2017-10-18 14:38] willdoran commented on #2133
@tuxpiper awesome thank you so much

[2017-10-18 15:07] rowasc opened #2177 "Filters Dropdown styles are not correct, and it should close on outside click"
### Expected behaviour
- The dropdown styles match the PL
- The dropdown is closed when clicking outside the dropdown.
### Actual behaviour
- The dropdown styles do not match the PL
- The dropdown is not closed when clicking outside the dropdown.

### Steps to reproduce the behaviour/error
Open the filters dropdown.

##### Where
- [ ] [Local setup with Vagrant ](https://www.ushahidi.com/support/in

[2017-10-18 15:10] rowasc commented on #2177
@jshorland I think this is a P1?

[2017-10-18 15:40] rowasc opened #2178 "Load more posts sets an offset that makes the search not work"
### Expected behaviour
Click load posts.
Search in the search bar.
You should get the first set of posts that match your filters
### Actual behaviour

Click load posts.
Search in the search bar.
You will not get all the results, instead you will get results starting from the offset of the load new posts feature (so if you were in the first "page" you will get results from the second one when you s

[2017-10-18 15:43] rowasc opened #2179 "See new posts uses the post date of the last post in the list instead of the date from when you loaded the page"
### Expected behaviour
You should "see new posts" that were created since you loaded the page, not all new posts created after the last post you see .
### Actual behaviour
You see "new posts" appear but it's just getting  new posts created after the last post you see

### Steps to reproduce the behaviour/error
Wait 30 seconds. You will see the " new posts" button even if none were created in the i

[2017-10-18 15:44] rowasc commented on #2179
@jshorland this is a P1 I think.

[2017-10-18 15:45] rowasc commented on #2178
@jshorland this is a P1 or a P0 I think.. It becomes a blocker if the user tries to use the load new posts and then uses the search, since they won't get results unless there are more than the offset (and if they get them, it will be the wrong results anyway)

[2017-10-18 20:18] #2152 closed

[2017-10-18 21:38] rowasc commented on #2174
This is not happening, checked today with Carolyn.

[2017-10-18 21:38] #2174 closed

[2017-10-18 21:52] #2179 closed

[2017-10-18 23:28] #2176 closed

[2017-10-18 23:51] #2178 closed

[2017-10-19 00:23] #2175 closed

[2017-10-19 01:05] #2177 closed

[2017-10-19 01:48] crcommons commented on #2139
Looked into this with no luck. I feel like I've tried everything. @middle8media @Angamanga Let me know if you want to pair on this. Perhaps 2 or 3 heads are better than one.

[2017-10-19 02:44] rjmackay commented on #2005
Is this still an issue? https://github.com/ushahidi/platform-client/pull/726 should have resolved most of it. and I think https://github.com/ushahidi/platform/issues/2031 documents the remaining issue.

[2017-10-19 02:53] rowasc opened #2182 "Filters dropdown: grey out "Apply filters" button in map mode since it does not have effects there"
### Expected behaviour
I see an Apply Filters button in the map but it's greyed out.
### Actual behaviour
I see an Apply Filters button in the map, where it has no effect since we are applying them as we go.
### Steps to reproduce the behaviour/error
Go to the map and open the filters dropdown.

##### Where
- [ ] [Local setup with Vagrant ](https://www.ushahidi.com/support/install-ushahidi#install

[2017-10-19 02:53] rowasc commented on #2182
Creating this from a conversation here https://github.com/ushahidi/platform-client/pull/838

[2017-10-19 02:55] rowasc commented on #2182
@aoduor @jshorland is this reasonable? I think it'd make sense to hide it there since it only makes users wonder "Why is this even here". And at the same time it makes it a bit more obvious in the data mode that we need to apply them, since it's there.
TLDR: Super easy to do, and I think it adds value. LMK

[2017-10-19 02:56] #2172 closed

[2017-10-19 03:53] rowasc opened #2183 "When you click on (x) button on a 'checkbox' filter, all of them are removed, not only the one you clicked."
### Expected behaviour
Only the filter I want to remove is removed
### Actual behaviour
The filter I want to remove is removed, but in the case of checkboxes that means all of them are gone from the filters list instead of only the one selected.

### Steps to reproduce the behaviour/error
- Apply survey filters.
- Remove one of the surveys with the x in the bug button .
- All the surveys will be r

[2017-10-19 03:54] rowasc commented on #2183
@jshorland @aoduor please review

[2017-10-19 08:07] dexwakhu commented on #2005
​Just tried it and get two different counts of total published posts - 1436
in one instance and 1600 in another (wasn't logged in on either).

On 19 October 2017 at 05:44, Robbie Mackay <notifications@github.com> wrote:

[2017-10-19 08:50] tuxpiper commented on #1299
@jshorland another request for this from appi.ushahidi.io

[2017-10-19 12:08] crcommons commented on #2005
@dexwakhu Can you try clearing your cache/local storage and then checking?

[2017-10-19 12:12] aoduor commented on #2005
@dexwakhu just a heads up that these aren't on uchaguzi.or.ke, and are on sandbox.uchaguzi.or.ke

[2017-10-19 12:49] #2147 closed

[2017-10-19 13:10] diegodorgam commented on #2027
this one seems to be ready, right @rjmackay ?

[2017-10-19 15:08] Angamanga commented on #2143
Pr here: https://github.com/ushahidi/platform-pattern-library/pull/159

[2017-10-19 15:08] Angamanga commented on #2139
Pr here: https://github.com/ushahidi/platform-pattern-library/pull/159

[2017-10-19 15:53] kinstelli opened #2184 "Clicking on a post without a map makes map disappear for posts that should have them"
### Expected behaviour
If you click on a post in the data view that contains a map, then click on a post without a map, then click back to the original post. Map is gone.

### Actual behaviour
If you click on a post in the data view that contains a map, then click on a post without a map, then click back to the original post. Map should be displayed.

### Steps to reproduce the behaviour/error
If

[2017-10-19 16:20] rowasc commented on #2184
Just in case,  If you do that, and go to the map itself (map mode) you get `Error: Map container is being reused by another instance`  (but the map shows up)
I saw the error in sandbox earlier but until you reported it I wasn't sure of the steps to do it so I was waiting to be able to reproduce it. Nice catch . ! !

[2017-10-19 16:28] rowasc commented on #2005
some data for future reference:
- Expire date in Carolyn's Declan's and David's browser are wrong (August 8, September 21, Oct 12). Mine is fine so far .

[2017-10-19 16:34] kinstelli commented on #2184
Thank you, I'm also seeing that. I think that message appears even if you start at Map view, which is strange.

I just wrote a fix for the specific issue described above, to make it work ASAP, but I think I should open another one for this ```Error: Map container is being reused by another instance``` issue.

There's stuff I don't understand about how Leaflet maps are supposed to be cleanly create

[2017-10-19 16:36] rowasc commented on #2184
UH, interesting. When I open the map view directly I don't get the error.

[2017-10-19 16:37] rowasc commented on #2184
Seeing the fix, there seems to be a new error now in the console when you switch posts?

[2017-10-19 16:40] kinstelli commented on #2184
Hmm, I'm seeing that now, too, but wasn't locally. I'll investigate.

[2017-10-19 17:10] #2162 closed

[2017-10-19 17:10] Shadrock opened #2185 "Use "gray out" or other indicator of what post is being viewed in Data layout"
### Expected behaviour
To quickly and clearly understand which post is being viewed in the Data layout

### Actual behaviour
Currently, the only indicator of which post is being displayed is a slight indent (see pink arrow in photo).

<img width="1334" alt="uchaguzi grey out vs indent" src="https://user-images.githubusercontent.com/4574998/31784194-7e4f05c6-b509-11e7-9a18-c530d4fb43c5.png">

### S

[2017-10-19 17:11] jshorland commented on #1795
Passes QA

[2017-10-19 17:17] jshorland commented on #2175
The location issue is fixed. I still can't see any change to the conversation with author feature. The conversation history from the first post I click "sticks" to each post.

[2017-10-19 17:24] jshorland commented on #2175
Oh whoa ok I think my first comment was wrong. I found some weird behavior. Best way to show it is through a gif I think. It changes the _content_ of the conversation with author history, but sometimes it keeps the previous post's author info. cc @kinstelli Maybe this is just a silly caching issue? Also, this is on sandbox.uchaguzi.or.ke

https://d.pr/i/L3pQO6?authComplete=true&cloneComplete=true

[2017-10-19 17:26] jshorland commented on #2125
Looks good! When clicking on a post card in mobile, it takes me to post-detail!