[2018-08-17 22:16] rowasc commented on #3212
Thanks, folks. Leaving for the day, but If @batpad or @amalmurali47 want to open a PR, I'll review when I come back online

[2018-08-19 17:28] willdoran opened #3213 "Making Pricing Changes Live"
### Steps
- [x] Ensure Lumen has been released to Prod and is stable
- [x] Run `plans:chargebee` to push new plans into chargebee
- [x] Push changes to sign up pages so that users sign up to new plans
- [ ] Run `deployment:tiers` command to change deployments onto new plan
- [ ] Remove old tiers in DB and plans in chargebee

[2018-08-20 11:06] Angamanga opened #3215 "Do not create a survey if something goes wrong with title/description-fields upon saving"
**Describe the bug**
When I duplicate a survey and something goes wrong when saving one of the attributes in the new survey, I can still click save again. The same error-message appears again each time I click save. When I go back to the survey-list and hit reload, the survey appears and contains all the attributes that could be saved, duplicated as many times as I clicked "Save" and got an error-

[2018-08-20 17:51] Shadrock opened #3216 "Setup ISOOKO Repo"
**What's needed?**
A github repository for ISOOKO. Use the [repository/respositories for COMRADES as an example](https://github.com/ushahidi?utf8=%E2%9C%93&q=comrades&type=&language=).

**Due Date**
Thursday, August 23nd, EOD/EST.

**Additional context**
This will be the repository where the code for the "ISOOKO" platform lives and will have an accompanying deployment similar to [https://comrades-

[2018-08-20 18:26] jrtricafort commented on #3163
@crcommons How is this going? Are we on track to close out by the end of the cycle?

[2018-08-20 19:40] rowasc commented on #3171
@tuxpiper @rjmackay bumping. Can this be done in cycle 9?

[2018-08-20 20:20] jrtricafort commented on #3163
Update from @rowasc and @willdoran - This was built on Lumen since we expected Lumen to have been landed by this point. Since it is not, we have decided to backport to Kohana. @willdoran is working on this, expecting to be done sometime today and will report back with more info. After that, @rowasc will test and deploy this week for DREAMS since @crcommons is back next week.

[2018-08-21 13:02] rowasc commented on #3152
@Eve-wanderi can you run the mobile regression ONLY on https://documenthate.passage.ush.zone/
with this test script https://ushahidi.ontestpad.com/script/28#// ? Thanks

[2018-08-21 13:44] rowasc commented on #3177
@rjmackay we don't need this for lumen, right?

[2018-08-21 13:57] rowasc commented on #3100
@Erioldoesdesign is this done?

[2018-08-21 14:00] jrtricafort commented on #3077
Update-  @rowasc sent the QA credentials a couple weeks ago. @StaicyG @aoduor what's the status of this?

[2018-08-21 14:27] Erioldoesdesign commented on #2625
@rowasc It's been somewhat merged into other pricing work. I would say that this is 'in FE dev' right now. @sethburtonhall would you agree?

[2018-08-21 14:59] jrtricafort commented on #3216
@rowasc If it's not realistic to get done by tomorrow, that's ok, we just need to come up with a new delivery date and propose to Shadrock.

[2018-08-21 15:01] rowasc commented on #2625
Assigning to @sethburtonhall  to confirm the pipeline/status of this.See Eriol's message above

[2018-08-21 15:02] Shadrock commented on #3216
Thanks @jrtricafort, sorry about the short-notice on this one. To answer your question, the repo does it need to be populated with all of the boilerplate files/code, along with a new deployment. If the date proposed is unrealistic, please propose a new one and I can message back to the partners.

[2018-08-21 15:13] rowasc commented on #3216
Thanks. @Shadrock  . Discussing this with Will to come back with a date ASAP

[2018-08-21 15:35] jrtricafort commented on #3057
@rowasc Let's create a new issue to track the Veracity Integration. It can be a child epic of this epic (and once it is closed out, this parent epic can be closed out as well). We already closed out Emina right?

[2018-08-21 15:36] jrtricafort commented on #3069
@Shadrock Can you provide an update here regarding what is needed, and when?

[2018-08-21 15:43] rowasc commented on #3057
I have one already let me link it sorry https://github.com/ushahidi/platform-cloud-interface/issues/370

[2018-08-21 16:34] rowasc commented on #3163
We're doing some last fixes then I'll test today and report back

[2018-08-21 19:27] kinstelli commented on #3193
For me:
1. Email was never sent from the passage server, but message is logged on the server.
2. Reset token is invalid.
<img width="478" alt="screen shot 2018-08-21 at 2 26 32 pm" src="https://user-images.githubusercontent.com/6600708/44424283-4052cb00-a54e-11e8-9f04-ecf088323fc7.png">

[2018-08-21 19:59] kinstelli commented on #3193
It appears that when the user clicks the reset password link, this value is not urldecoded before being compared to the value stored in the database.

However, when the user pastes the reset token into the Reset Password dialog, the reset process works, since that version is not urlencoded in the first place.

Looks like the simplest fix for this would be to urldecode the token before passing it t

[2018-08-21 20:10] rowasc commented on #3163
Tested this issue . Found 1 bug so far:
Steps to reproduce:
- Start a new targeted survey
- Go to activity and check the targeted survey activity
    - `Unique Responders to Targeted Survey should be the count of people who have responded to any message from a targeted survey` => I see `1` for a survey that I just created that has  0 responses

[2018-08-21 20:33] kinstelli commented on #3193
I'm not sure why passage is not sending reset emails at all, but I suspect it might be a server configuration. Investigating...

[2018-08-21 20:48] rowasc commented on #3216
@jrtricafort @Shadrock I think we're still fine for tomorrow, the server is up and running, we just need to adjust some bits for the exporter to work correctly.
I'd like to set thursday EOD as a deadline so we have a little more space to fix any issues that may come up, if that's possible.

[2018-08-21 21:05] jrtricafort commented on #3216
Thanks @rowasc . @Shadrock let us know if that works for you-- Thursday EOD as an external deadline. We will continue to work on this tomorrow (it is roughly a 1-, 1.5-day effort)

[2018-08-21 22:58] rjmackay commented on #3193
After chatting with @kinstelli we're pretty sure this is broken because mailgun isn't set up in lumen. Steps to fix this:
- [ ] Add config/services.php from  https://github.com/laravel/laravel/blob/master/config/services.php
- [ ] Add mailgun envvars to `.env.deploy`
- [ ] Add mailgun config into ansible configuration (both for AWS and non AWS set ups)

[2018-08-22 02:48] rowasc commented on #3216
@Eve-wanderi this is ready to test in https://isooko-stg.ushahidi.com/

Could you run a smoke test with this testpad script? https://ushahidi.ontestpad.com/script/30
Please note that there’s a section marked to ignore (around line 84 to the end) in this testrun. Those steps (84 to the end of the script) are only used when we want to test deployment creation so we don't need them in this particular

[2018-08-22 02:55] rowasc commented on #3177
ah right. thanks @rjmackay

@jrtricafort this isn't a blocker to get lumen out... but it's still really important so we don't have to constantly switch between Lumen 5.5 vs 5.1 features.

 I think we should wait until lumen is out and do it then (ideally still this cycle).

[2018-08-22 10:26] tuxpiper commented on #3193
@rjmackay  @kinstelli

I did verify in the passage environment, that I could connect to localhost:25 in the api boxes and send test email messages to myself. The local MTA then would forward to mailgun. I thought lumen would also be using the local MTA.

[2018-08-22 11:17] aoduor commented on #3175
@rowasc and @jrtricafort sharing doc with updated documentation on slack for review.

[2018-08-22 11:45] aoduor commented on #3176
@jrtricafort might be worth reviewing the documentation @StaicyG and I have reworked to see if that content will be useful, and what else we would need to add? See slack for doc link

[2018-08-22 12:41] StaicyG commented on #3077
@jrtricafort finalising on it

[2018-08-22 13:47] rowasc commented on #3176
Thanks @aoduor @StaicyG !
@jrtricafort assigning to you "In review"  per @aoduor comment.

[2018-08-22 13:49] rowasc commented on #3175
@jrtricafort Assigning to you "In review" as I can't do it today (too much WIP, but I could pick it up tomorrow if needed)

[2018-08-22 13:51] rowasc commented on #3210
@kinstelli same as @rjmackay  ,I  just logged in with a user I have used before and I don't get the error in lumen.passage. Can you confirm if this is still happening to you?

[2018-08-22 13:59] jrtricafort commented on #3175
Yup I’ll review.

On Wed, Aug 22, 2018 at 9:49 AM Romina Suarez <notifications@github.com>
wrote:

--
----
Juan Ricafort
juan@ushahidi.com
+1.805.405.2558

[2018-08-22 15:16] jrtricafort commented on #3129
Conencted with @aoduor and will check with engineering to get a complexity estimate of this solution path (which Angie posted in the description above):

@rowasc @kinstelli @willdoran Would one of you be able to do a quick complexity estimate for this UX fix?

The desired behavior is that we prevent the user from getting to a state where they are logged in as admin but can't submit reports to a su

[2018-08-22 15:37] tuxpiper commented on #3171
I would suggest here to solve the issue using AWS, so we don't depend on Letsencrypt for the certificates.

1. We could create a single AWS application load balancer for all our enterprise deployments. The application load balancer integrates with AWS Certificate Manager (free, auto-renewed certificates) and its configuration is modular.

2. For each enterprise deployment, we ..
    1. Request a c

[2018-08-22 15:41] jrtricafort commented on #3129
Connected with @kinstelli and he agrees this implementation scope makes sense, initial estimate of 3 points.

@rowasc Let's discuss if we can fit this in Cycle 9.

[2018-08-22 17:31] rowasc commented on #3216
@Shadrock this is ready in https://isooko-stg.ushahidi.com/ , the forks are https://github.com/ushahidi/isooko-platform-api and https://github.com/ushahidi/isooko-platform-client.

Eve and I did a test run (smoke testing only), the details are here if you're interested https://ushahidi.ontestpad.com/script/30#// .

I found a weird behavior that I think is a bug with category deletion when deleting

[2018-08-22 17:43] rowasc opened #3221 "Deleting a parent category makes its children become parents instead of deleting them"
**Describe the bug**
When I click on "delete" for a category with children, I expect the child categories to be deleted. Instead, the child categories appear to become parents.

**Where was the bug observed**
https://rominacsvsms.ushahidi.io/
https://isooko-stg.ushahidi.com

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings->Categories (I tried this logged in as admin)
2. Create

[2018-08-22 17:44] rowasc commented on #3221
@jrtricafort found this today. Assigning to you for prioritization

[2018-08-22 21:01] Shadrock commented on #3216
Thanks. This looks good to me. It's possible that we will need to expand this repo in the future (e.g. to include things like export job queues, etc. But for now this is good. I'm closing the issue.

[2018-08-22 21:01] #3216 closed

[2018-08-23 05:02] Shadrock commented on #3131
Thanks for everyone's hard work on this: I'm happy to close this issue out!

[2018-08-23 05:02] #3131 closed

[2018-08-23 14:00] jrtricafort commented on #3176
Thanks @aoduor @StaicyG reviewing today.

[2018-08-23 22:10] r-tock opened #3229 "Imports in Ushahidi is too slow, can be sped up 40-50x by avoiding validations and even more with schema changes"
Filed via email. Logging for posterity

Hi Will,

The patch was basically 2 lines being commented out. But it made the job run 40x faster, the reason is simple, in MySQL when you are reading after a write you are doing pointer walks on pages in the innodb transaction log, but this means that large imports slows down. Problem here was you were doing it in a tight loop for every post entity.

My rec

[2018-08-23 22:13] r-tock opened #3230 "The Android App survey submit is failing occassionally"
**Screenshots**
<img width="265" alt="screen shot 2018-08-23 at 3 54 42 pm" src="https://user-images.githubusercontent.com/11711723/44554695-94e57a00-a6f7-11e8-8ee7-e692ee8b6b24.png">

**URL / Environment where this happened**
Android version of https://keralarescuemap.ushahidi.io/

[2018-08-23 22:14] robin-anil opened #3231 "In Beta Android App, location is not getting auto populated"
Found while testing the fix for https://github.com/ushahidi/platform/issues/3230

<img width="606" alt="screen shot 2018-08-23 at 4 58 35 pm" src="https://user-images.githubusercontent.com/11711723/44554793-f0b00300-a6f7-11e8-9f36-450cf53f0755.png">

Aha! Link: https://ushahiditeam.aha.io/features/PROD-302

[2018-08-23 22:14] r-tock opened #3232 "Survey view does not order the field as created"
Example https://keralarescuemap.ushahidi.io/posts/977

[2018-08-23 22:16] #3229 closed

[2018-08-23 22:17] willdoran commented on #3229
Thanks hopefully this is resolved by the beta patch

[2018-08-23 22:18] r-tock commented on #3229
Will should I open another one for write amplification issue. it is not a short-term fix, but a more longer term design evolution of ushahidi?

[2018-08-23 22:25] robin-anil opened #3234 "System Design Issue: Lack of data locality slows down ushahidi"
Original issue https://github.com/ushahidi/platform/issues/3229

Ushahidi 's normalized schema causes write amplification. Since every attribute is a row. For 1 post the system is inserting 50 rows if there are 50 fields.  Each of those writes is writing to different pages, which means you are doing 50 IOPS. If you have data locality you end up doing single digit page writes.

There are two sugges

[2018-08-23 23:03] willdoran commented on #3230
@r-tock was this fixed by the beta?

cc: @dalezak

[2018-08-23 23:05] r-tock commented on #3230
Yes this was fixed by the beta

[2018-08-23 23:17] willdoran commented on #3230
We're rushing to publish the beta will update when done

[2018-08-23 23:56] #3163 closed

[2018-08-24 00:28] dalezak commented on #3231
If the user _has not allowed_ Location for the app, then this is appropriate behaviour. In this case the app shows these fields so the user can still manually enter their location.

If the user _has allowed_ Location for the app, then it might be related the native location plugin sometimes returning a single item rather than an array of results, this might be related.

[2018-08-24 00:30] dalezak commented on #3230
@r-tock just to confirm, the Beta build fixed all issues of this problem? Or were you still experiencing some intermittent issues posting reports?

[2018-08-24 00:35] willdoran commented on #3232
I think it probably is, I thought it was fixed in the past but I guess not, I'll look tomorrow.

[2018-08-24 02:54] dalezak commented on #3231
@r-tock just to confirm, did the previous version showed the location map, but the beta build alway shows the location fields instead?

[2018-08-24 03:00] r-tock commented on #3231
Right, according to the tester, the live version showed the map, but the beta build always shows the field instead.

[2018-08-24 03:00] r-tock commented on #3230
Yes, The beta build fixed it.

[2018-08-24 03:00] dalezak commented on #3231
Ok, thank you, that helps 👍

[2018-08-24 17:59] r-tock commented on #3230
Please let us know once you have fixed the location issue in the Beta build and pushed it. We are going live in the morning in India, which is about 8-9 hours from now.

[2018-08-24 18:56] ntsreejith opened #3237 "[Mobile App] After logging in, 'Log In' is shown on screen"
**Describe the bug**
Android Mobile AppKeralaRescue Property Damage Assessment - After successfully logging in  also, following two lines are shown  "Log In",  "Sign Up"

**Where was the bug observed**
Android Mobile AppKeralaRescue Property Damage Assessment

**To Reproduce**
Steps to reproduce the behavior:
1. Install Keralarescue mobile app in  Android
2. Sign up using  email ID
3. Login using

[2018-08-24 19:16] ntsreejith opened #3238 "Survey - Residential Property Damage Assessment - Type of Agriculture(Crop)"
**Which user group(s) are the primary audience for this feature/enhancement.**
Surveyors who do the damage assessment

Specify key workflows (e.g. crisis, elections)
Specify key use cases (program/data workers, incident management, advocacy/storytelling)

**Is your feature request related to a problem? Please describe.**
Currently there is no option to segregate different type of agriculture and l

[2018-08-24 19:33] ajitsen commented on #3231
https://github.com/ushahidi/platform/issues/3231#issuecomment-415613712

I have android app,  which does not detect location,  and the Location field is not editable .

![screenshot_20180825-005916](https://user-images.githubusercontent.com/1100651/44604078-67d1be00-a802-11e8-87cf-d166f3a95720.png)

Location Permission given to Ushahidi
![screenshot_20180825-010211](https://user-images.githubuserc

[2018-08-24 19:51] jrtricafort commented on #3176
@aoduor Reviewed and made some minor changes to the first two sentences. This is good to go!

cc @rowasc

[2018-08-24 20:47] laxman954 opened #3239 "Android Mobile AppKeralaRescue Property Damage Assessment - in offline mode not able to view submission"
Describe the bug

Android Mobile AppKeralaRescue Property Damage Assessment - Open the app in offline mode and Submit survey response once completed click "View Responses" there is no submission found in offline mode, once connected to internet only can able to view the offline submission also.

Where was the bug observed

Android Mobile AppKeralaRescue Property Damage Assessment

To Reproduce
Ste

[2018-08-25 18:03] rowasc commented on #3191
@caharding this is working now , closing

[2018-08-25 18:03] #3191 closed

[2018-08-26 13:55] bobinson commented on #3239
A related issue is sometimes in offline mode, clicking the submit button doesn't show any response.

[2018-08-26 13:56] bobinson commented on #3234
+1

[2018-08-27 06:30] theauditor opened #3240 "" Sorry, something went wrong. Try reloading the page." fresh install."
Did a fresh install but I am getting this error. Unable to find the reason.

The issue seems to be occurring due to 404 on platform/api/v3/config. However I am unable to find solution to fix the same.

Nginx config
[code]

Response header

`

Connection | keep-alive
-- | --

`

[2018-08-27 10:56] Eve-wanderi opened #3242 "Unable to see responses submitted while users are Offline."
**Describe the bug**
Unable to see responses submitted while users are Offline this cuts across Mobile Apps i.e Sivico,Xenowatch  for both Android and IOS.

**Where was the bug observed**
This cuts across  Mobile Apps tested i.e Xenowatch,Sivico

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Ushahidi.'
2.Search for xenowatch
3.Turn off your wifi/data bundles
4.Post a response.
5.Turn

[2018-08-27 11:01] Angamanga commented on #3129
@rowasc @aoduor I am unable to reproduce this locally, in which deployment did it happen?

[2018-08-27 11:04] aoduor commented on #3129
hey @Angamanga :). It happened on one of my ushahidi.io deployments, and a user's deployment.

https://ushdocsangie.ushahidi.io
https://zimbabwecitizensmovement.ushahidi.io/

Try creating two different roles, assign submission of posts to that survey to only one role, and the log in as an admin and try again.

[2018-08-27 12:56] Angamanga commented on #3129
@aoduor I still cannot reproduce this, have tried on https://ushdocsangie.ushahidi.io. Could you please try again too, I might be not reproducing it correctly?

However, I think the suggested UI-solution makes sense anyway, the admin should be checked and greyed out. @rowasc @jrtricafort

[2018-08-27 13:58] rowasc commented on #3129
@Angamanga agree with the solution. Maybe you can have a quick sync with Angie to reproduce it in the morning?

[2018-08-27 14:00] rowasc commented on #3176
Excellent. @aoduor is this something you could add as a draft and then publish on the day of the release?

[2018-08-27 17:35] rowasc commented on #3242
@dalezak could you give an estimate for this?
Reference on estimates can be found here https://docs.google.com/document/d/1Au0XOdUiSTpb8f-h7AAU9wPO-tuH-1kaS__fC_XzhB8/edit#heading=h.ut3ch6itelth (the getting a baseline section might be the most relevant

Since we don't have other devs in mobile, I can act as a sounding board (but in the end, it'll just be your estimate)

[2018-08-28 11:14] Angamanga commented on #3129
Testing checklist:
- Log in as an admin
- [ ] Create a new role and assign a new user with that role
- Go to settings-> surveys-> select a survey
- Click on configuration-tab
- Click on "Specific roles" in "Who can contribute to this survey
- [ ] The admin-option should be greyed out and selected
- Select on the newly created role and save the survey
-  As an admin, try submitting a post to the su

[2018-08-28 12:15] rowasc commented on #3210
Closing as we could not reproduce it

[2018-08-28 12:57] #3152 closed

[2018-08-28 20:34] Shadrock commented on #3069
@jrtricafort reaching back to COMRADES folks... haven't heard anything further on this, but will keep bugging them.

[2018-08-28 21:55] Shadrock opened #3244 "COMRADES UI makes distinct "categories" unreadable, needs to specify source Service"
**Describe the bug**
When viewing a post in data mode the "Categories" section, which contains returns from the services of CREES (#2572) and EMINA (#3057), the values - from each service - are presented as a single string of text separated by commas. This makes it nearly impossible to understand which "tags" are related to which service. See screenshot below
<img width="1230" alt="comrades_proble

[2018-08-28 22:00] Shadrock commented on #3244
![](https://github.trello.services/images/mini-trello-icon.png) [COMRADES services UI github write up.](https://trello.com/c/G5G9uYFY/328-comrades-services-ui-github-write-up)

[2018-08-28 22:09] rjmackay commented on #3193
Retested on Harbinger. This is resolved now.

[2018-08-28 22:33] #3153 closed

[2018-08-29 16:35] rowasc commented on #3242
@dalezak bumping. What's the status on this?

[2018-08-29 16:38] rowasc opened #3247 "Follow up on issues found with dataproviders"
Reference issue: https://github.com/ushahidi/account-management/issues/43

Comment from @kinstelli  on follow up:
## My recommended follow-ups on this so far:

- We should figure out why savedsearch takes so long to run.

- We should update dataproviders.py so that if any of these individual CLI subprocesses take a very long time, they don't interfere with other tasks, like exporting data. I'm not

[2018-08-29 17:02] trendspotter opened #3769 "Wrong intercom link if intercomAppId is not set"
### Expected behaviour
Intercom link under Ushahidi support menu should be hidden when `intercomAppId` is not set in `config.js`.

### Actual behaviour
When `intercomAppId` is not set in `config.js` or is set to empty string, displayed *Intercom* menu item leads to bogus address `@intercom-mail.com`

### Steps to reproduce the behaviour/error
1. Install Ushahidi 3.12.3.
2. Don't fill any value for

[2018-08-29 17:33] rowasc commented on #3193
Getting this error on platcloud-prod.ush.zone
Failed to validate users entity: Invalid or expired reset token Invalid or expired reset token DISMISS

[2018-08-29 18:15] rowasc opened #3248 "Video uploads are not working on mobile"
**Describe the bug**
Video uploads are not working on mobile
**Where was the bug observed**
Deployment on platcloud-prod.ush.zone

**To Reproduce**
Steps to reproduce the behavior:
1. Add a survey with a field type video
2. Try to submit a response to the survey with the mobile app
3. You will get a "problem posting your response" error
4. Delete your video from the post
5. Re-submit
6. This will

[2018-08-29 18:20] rowasc opened #3249 "I can see drafts and archived posts that I created from the ushahidi app after I log out"
**Describe the bug**
I can see drafts and archived posts that I created from the ushahidi app after I log out
**Where was the bug observed**
- Deployment on platcloud-prod.ush.zone
- rominacsvssms.ushahidi.io (kohana, prod)

**To Reproduce**
Steps to reproduce the behavior:
1. In the mobile app , login and create a new post
2. Logout
3. Click on View Responses
4. You will see your drafts even when

[2018-08-29 18:23] rowasc opened #3250 "Field type "Related posts" does not show any posts in mobile"
## Task for cycle 10 for @Eve-wanderi
- Verify this feature works as expected if there are posts available in the same survey type in the app
- If it doesn't work, ping us

**Describe the bug**
Field type "Related posts" does not show any posts in mobile. It shows a popup but it doesn't have options or a way to search.
**Where was the bug observed**
Mobile app . Deployment on platcloud-prod.ush.zo

[2018-08-29 18:42] rowasc opened #3251 "I can see posts that were previously published but were put "In review" after I saw them"
**Describe the bug**
I can see drafts and archived posts that I created from the ushahidi app after I log out
**Where was the bug observed**
- Deployment on platcloud-prod.ush.zone

- Rominacsvssms.ushahidi.io (PROD, with kohana)

**To Reproduce**
Steps to reproduce the behavior:
1. In the mobile app, go to "View responses". Look for the first post.
2. In the web, put the first post (or any really

[2018-08-29 18:47] dalezak commented on #3248
Ya, that would be the reason 😞

The super fancy and awesome video upload I implemented got disabled with the security fixes.

[2018-08-29 18:50] rowasc opened #3252 "Survey fields are not updated in mobile when they are updated in the web (even after I refresh)"
**Describe the bug**
Survey fields are not updated in mobile when they are updated in the web (even after I refresh)
**Where was the bug observed**
https://rominacsvssms.ushahidi.io/views/map

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a deployment in the mobile app
2. Open one of the surveys available to submit a response. Check the form there with all the fields it has.
3. In the

[2018-08-29 18:54] dalezak commented on #3237
@rowasc this is fixed in the `1.12.2` build from other client work.

[2018-08-29 18:56] rowasc commented on #3193
Now I'm also getting this error in passage

[2018-08-29 18:58] rowasc commented on #3193
now I'm also getting the error in harbinger. Checking what's going on

[2018-08-29 18:58] dalezak commented on #3242
@Eve-wanderi could the issue be that the report needs to be approved on the backend (for example still in draft), before they appear back in the app? /cc @rowasc

[2018-08-29 19:05] dalezak commented on #3252
I don't believe this is a bug @rowasc, just a limitation in the app.

The _Surveys_, _Stages_ and _Attributes_ are _only_ loaded from the **Deployment Details** screen, so if you pull down to refresh they should get refreshed in the app.

So currently the **Report Listing** does _not_ load _Surveys_ since it's already doing a large number of network requests to obtain all the data needed for Posts

[2018-08-29 19:09] dalezak commented on #3250
@rowasc this might be a bug or maybe just a limitation in the app.

The app only shows currently downloaded reports as potential related post option.

So if there are no other posts in the app, then there is nothing to show in the list.

[2018-08-29 20:15] dalezak commented on #3248
_Sigh_, on a personal note, it's super sad to remove that video upload... 😢

[2018-08-29 20:32] rowasc commented on #3210
Carolyn has been running into this randomly too

[2018-08-30 02:32] sajith opened #3253 ""relate two surveys" does not work"
When creating a survey, came across the option to "relate two surveys" but cannot find any documentation on what this actually does.

When this field is added to the survey, it shows up as a "search bar" with a "Search" button.

The search do not bring up anything, even after trying different search terms and combinations of them.

(I am reporting this for someone else who do not have a Github acc

[2018-08-30 13:58] rowasc commented on #3237
Awesome. Let me set it as "waiting to release "

[2018-08-30 14:38] sajith commented on #3253
@rowasc Looks like I need to clarify.  This isn't really a question. :-)

This was brought up with Ushahidi support, and they agreed that this looks like a bug and asked to file an issue here.

[2018-08-30 16:13] Eve-wanderi opened #3254 "Unable to Post Responses if user is logged in"
**Describe the bug**
If a user is logged IN i cannot post any responses i get an error "There was a problem posting your response".

**Where was the bug observed**
Mobile App (https://rominacsvsms.ushahidi.io)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://rominacsvsms.ushahidi.io' mobile App.
2. Log in as 'Admin' (Please note if certain user permissions, like Admin or Manage

[2018-08-30 18:02] sethburtonhall commented on #3084
I think we can close this. Right @Angamanga?

[2018-08-30 18:05] sethburtonhall commented on #2319
closing in favor of app.zenhub.com/workspace/o/ushahidi/platform-pattern-library/issues/205

[2018-08-30 18:05] #2319 closed

[2018-08-30 19:37] dalezak commented on #3254
@rowasc looks like the error is `User 0 is not allowed to create resource posts #0`.

[code]

Any idea why the API would return that?

[2018-08-30 19:40] Eve-wanderi opened #3257 "Unable to Post Responses while Offline."
**Describe the bug**
If a user is offline they cannot Post responses get an errror unable to post response.

**Where was the bug observed**
Mobile App (https://rominacsvsms.ushahidi.io)

**To Reproduce**
Steps to reproduce the behavior:
 **Make sure your offline.**
1. Go to 'https://rominacsvsms.ushahidi.io' mobile App.
2. Log in as 'Admin' (Please note if certain user permissions, like Admin or M

[2018-08-30 19:41] dalezak commented on #3257
Might be related issue to https://github.com/ushahidi/platform/issues/3254#issuecomment-417441829

[2018-08-30 19:47] dalezak commented on #3254
*POST*
[code]
*BODY*
[code]
*HEADERS*
[code]

[2018-08-30 20:54] rowasc commented on #3254
updating that I'm trying to reproduce this locally sending the same payload, but I haven't been able to do it yet . BUT, I can reproduce it against prod with postman at least

[2018-08-30 21:28] dalezak commented on #3254
I've assigned the issue to you @rowasc, once you get things resolved on the backend just assign it back to me to verify it's working.

[2018-08-30 21:29] dalezak commented on #3257
I believe this is also related to https://github.com/ushahidi/platform/issues/3254, assigning to you @rowasc to fix on the backend.

[2018-08-30 21:35] dalezak commented on #3242
Perhaps a duplicate to https://github.com/ushahidi/platform/issues/3239

[2018-08-30 21:37] dalezak commented on #3248
@rowasc the video upload functionality has been removed, instead the user can only include URL to an existing YouTube Vimeo video.

This change can be tested in the next build `1.12.3` once it is ready.

[2018-08-30 21:38] dalezak commented on #3237
Placed into `In Review`, will move into `QA Backlog` once the `1.12.3` beta build is ready for testing.

[2018-08-30 21:41] dalezak commented on #3252
@rowasc I _think_ the only way for us to _fix_ this, is to also re-download all _Surveys_, _Stages_ and _Attributes_ from the API when refreshing the Response List.

This however is really gonna increase the time it takes to get reports, especially on slow internet connections.

[2018-08-30 23:08] rjmackay commented on #3254
I found if you decode the jwt (you can use jwt.io) then its missing the user id. ie instead of `"sub": "8"` it has `"sub": ""`. I'm wondering if its actually a client_credentials token? or the token handling isn't quite right in the mobile app now.
One thing that changed with lumen is that the oauth token payload return `expires_in` not `expires`. This changed with an update to our oauth library a

[2018-08-30 23:17] rjmackay commented on #3254
I think it as an auth issue of some form. Try this:
1. Log in on the mobile app
2. See the logged in deployment home screen
3. Pull down to refresh
Get immediately logged out.

[2018-08-31 01:34] dalezak commented on #3254
Good and bad news @rowasc.

The _good news_ is that @rjmackay and I tracked down the issue. 😄

The _bad news_ is the app is broken for all users until an update is approved. 😞

So previously, the API was _not_ returning a new `refresh_token` in the `grant_type: "refresh_token"` request, so the app was reusing the previous `refresh_token`.

However after the Lumen upgrade, it is returning a new `re

[2018-08-31 01:53] dalezak commented on #3257
The fix mentioned here https://github.com/ushahidi/platform/issues/3254#issuecomment-417521423, should resolve this issue.

[2018-08-31 07:03] rjmackay commented on #3254
I've pushed hacky workaround in a14967c that just prevents refresh tokens being revoked. That will hopefully make the mobile app work, while we wait for the update to be approved.

[2018-08-31 07:26] rjmackay commented on #3254
@dalezak  let us know when the new app is live, and we'll revert this change a week or so afterwards

[2018-08-31 14:39] rowasc commented on #3084
Keeping this iceboxed for now. but if it's actually closed, please close it @Angamanga

[2018-08-31 14:50] rowasc opened #3260 "The array must contain unique values in network request , no error popup - Import CSV"
**Describe the bug**
When sending a CSV with multiple columns that have the same name, we have an error "The array must contain unique values" . This doesn't explain to the user what's happening or what the issue is, and it doesn't show an error message in the UI.

**Where was the bug observed**
Production, develop

**To Reproduce**
Steps to reproduce the behavior:
1. Create a CSV with some column

[2018-08-31 14:56] rowasc commented on #3248
Awesome. I'll send to "qa backlog " for Eve . Can you start a milestone with the stuff that we need to test for the 1.12.3 release?

[2018-08-31 14:58] rowasc commented on #3242
users who are not logged in should not see drafts. @Eve-wanderi is that the problem you were running into?

[2018-08-31 15:04] Angamanga commented on #3084
CLose close!

[2018-08-31 15:04] #3084 closed

[2018-08-31 15:25] crcommons opened #3261 "Can't access General Settings with "Manage Settings" permissions"
### Expected Behavior
As a user with "Manage Settings" role, I should be able to access settings->general and make changes to the settings

### Current Behavior
As a user with "Manage Settings" role, I am unable to accessing settings->general and am instead rerouted to 404

### Steps to reproduce
- [ ] create a role with "Manage settings"
- [ ] go to settings -> general
- [ ] see that you cannot a

[2018-08-31 15:29] crcommons opened #3262 "Cannot directly visit settings url"
### Expected Behavior
I should be able to go directly to /settings (or sub-urls of /settings)

### Current Behavior
I am rerouted to the map view when I try to go directly to /setting

### Steps to reproduce
- [ ] make sure you're logged in with a user that has settings permissions
- [ ] try to go directly to /setttings

### Workaround
- [ ] go to /settings through the UI links

Aha! Link: https:/

[2018-08-31 15:34] tuxpiper commented on #1610
Re-opening to apply on the CloudFront deployments

[2018-08-31 18:56] dalezak commented on #3251
Hmm, @rowasc this is a tricky problem to solve, not sure whether there is a simple solution.

- the user is logged out of the app
- the app makes a request to the API for most recent posts
- those posts are stored in the local database
- the post is put `in review` on the website
- the app requests recent posts, the `in review` post is excluded from results
- the app has the old version of post st

[2018-08-31 19:06] dalezak commented on #3252
This is another issue I'm not sure whether we want to fix or not?

To fix the issue, we'd need to also re-download _Surveys_, _Stages_ and _Attributes_ on the _Report Listing_ screen as well, which would increase the time it takes to download all the data from the API.

Thoughts @rowasc @willdoran @rjmackay?

[2018-08-31 19:18] rowasc commented on #3252
@dalezak I thinkk it might be reasonable to pull down the data when you click on the deployment name from the list of deployments, but its really up to @jrtricafort . I think this is probably a P2 and we can wait until next cycle to consider it since surveys don't change that often.

[2018-08-31 19:50] dalezak commented on #3252
Just to recap @rowasc, currently this is what we load on pull down to refresh:

**Side Menu**
- Deployments from database

**Deployment Details**
- Surveys from API
- Stages from API
- Attributes from API
- Tags from API
- Collections from API

**Report Listing**
- Posts from API
- Users from API
- Media from API

[2018-08-31 20:00] rowasc opened #3264 "User search in /settings/users is not working"
**Describe the bug**
I don't see any users when I search by their real name, email or part of their email

**Where was the bug observed**
Include Deployment and page URL (e.g. "https://test.ushahidi.io/views/map")

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings -> Users as an admin
2. Use the search bar to search for users (search for an existing user)
3. You won't see any res

[2018-08-31 20:01] rowasc opened #3265 "There is no way to sort for users in the list of users"
## Want to work on this issue?🙋
Comment below. If someone else has claimed it, ask if they've opened a pull request already and if they're stuck -- maybe you can help them solve a problem or move it along!

## Describe the bug
There is no way to sort users in the user list

## To Reproduce
Steps to reproduce the behavior:
1. Go to Settings->User as an admin
2. You won't have a way to sort users

#

[2018-08-31 20:07] rowasc opened #3266 "The list of categories is in reverse chronological order instead of alphabetical"
**Describe the bug**
The list of categories is in reverse chronological order instead of alphabetical

**Where was the bug observed**
rominacsvsms.ushahidi.com

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings -> Categories as admin
2. The list of categories will not be sorted alphabetically

**Expected behavior**
2. The list of categories will be sorted alphabetically

[2018-08-31 20:09] willdoran commented on #3266
@rowasc This is correct, I think, this is the change we made a while ago.

[2018-08-31 20:15] rowasc opened #3267 "Map modebar filters are not working , except for "Show only" survey filter"
**Describe the bug**
Selecting only some surveys and datasources does not filter the data in the map correctly.

<img width="1114" alt="map" src="https://user-images.githubusercontent.com/2434401/44933908-43fe0300-ad41-11e8-8b5c-892991212935.png">

**Where was the bug observed**
https://rominacsvsms.ushahidi.io/views/map

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Map
2. Select onl

[2018-08-31 20:20] rowasc opened #3268 "Twitter, sms and email stats are wrong in the activity view's crowdsourced data panel"
**Describe the bug**
- Twitter posts should counted in the twitter column
- SMS posts should counted in the SMS column
- Email posts should counted in the email column
- Total activity name is incorrect and total activity does not include unstructured posts in total

**Where was the bug observed**
"https://rominacsvsms.ushahidi.io/

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Activi

[2018-08-31 20:27] rowasc opened #3269 "Notifications for posts added to a collection are not being sent"
**Describe the bug**
I didn't receive notifications when a post was added to a collection I was subscribed to

**Where was the bug observed**
rominacsvsms.ushahidi.io

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the collections list.
2. Click a collection. It will take you to the map view .
3. Click the "3 dots"  button for the collection in the mode bar.
4. Click the "notifications

[2018-08-31 20:33] rowasc commented on #3254
@dalezak is thihs ready to test? If yes please send it to qa backlog assigned to Eve

[2018-08-31 20:42] dalezak commented on #3254
No, not yet @rowasc, was hoping to make a build for @Eve-wanderi today but also looking into https://github.com/ushahidi/platform/issues/3239 to see if there's a simple fix.

[2018-09-01 15:48] tuxpiper opened #3270 "[TOP-2] Add endpoint for health checking"
For load balancers to properly operate with the API, it's necessary to have a designated health check endpoint. In its most basic form, this can be a simple route that simply returns "OK" (or `{ "health": "OK" }` if we are so inclined to have JSON everywhere). What matters to the load balancer is the HTTP response status (usually 200 is expected)

The trick in our case is this: the load balancer w

[2018-09-01 15:50] tuxpiper commented on #3270
@rowasc  this is the health check endpoint issue that I mentioned yesterday.

[2018-09-03 01:50] rowasc commented on #2888
Sent updates for Angie, but we're doing this as part off the 2nd stage of docs/comms

[2018-09-03 01:52] rowasc commented on #3077
@aoduor @StaicyG was this published? do you need a review?
(sorry last week was lumen week so I basically lost track of this)

[2018-09-03 01:56] rowasc commented on #3193
Closed, this is working

[2018-09-03 01:56] #3193 closed

[2018-09-03 01:57] rowasc commented on #3210
@crcommons any chance you could reproduce this with steps tomorrow? i'm having a hard time making this happen, but I know we have run into this.
Thinking it may be related to different browsers/mobile/etc

[2018-09-03 02:06] rowasc commented on #3237
@dalezak what is "In review" used for in this scenario?

[2018-09-03 02:10] rowasc commented on #3269
Note: email datasource was configured for this deployment .

[2018-09-03 10:07] aoduor commented on #2888
Update: Will get these up on craft asap.

[2018-09-03 11:59] aoduor commented on #3077
dropped off radar with Lumen last week too. Keep an eye out by wednesday?

[2018-09-03 12:00] aoduor commented on #3253
hey @rowasc  - i can confirm that I tested this out with the user on intercom. The feature doesn't work as expected. The search field does not return any results. Something worth looking into.

[2018-09-03 12:01] aoduor commented on #3176
@rowasc sorry, catching back up on this. To be clear, all we're doing is making edits as per Juan's suggestion to the first sentences and then publish as is, yes?

[2018-09-03 12:42] aoduor commented on #3077
Never mind. Updated: https://www.ushahidi.com/support/custom-roles#add-a-role

Closing.

[2018-09-03 12:42] #3077 closed

[2018-09-03 13:55] rowasc commented on #3176
actually, @Eve-wanderi could you do a quick test run for this feature based on the documentation Angie posted? You can use rominacsvsms.ushahidi.io to try it out.
yes @aoduor after Eve gives the 👍 let's publish it.

[2018-09-03 17:59] rowasc opened #3272 "Responding to a post from SMS or other datasource does not work"
**Describe the bug**
The send message form does not appear for posts coming from twitter/email datasources (this probably happens for SMS too)

**Where was the bug observed**
rominacsvsms.ushahidi.io
Dreams partner here https://ushahidi.slack.com/archives/C03UU507R/p1535972733000100

**To Reproduce**
Data view - Sending messages
-    Go to Data View
-    Select a post from SMS or email source
-

[2018-09-04 13:10] rowasc commented on #3247
Moving to cycle 10 as we do not have the resources for it now

[2018-09-04 13:12] rowasc commented on #3177
@rjmackay now that lumen is out, can you start on this or should I move it to cycle 10?

[2018-09-04 13:52] sethburtonhall commented on #2625
I believe everything is ready for testing in the staging environment.

http://darwin.ushahidi.com/pricing

[2018-09-04 15:31] crcommons commented on #3210
Can't reproduce either. Closing again.

[2018-09-04 15:31] #3210 closed

[2018-09-04 15:42] jrtricafort commented on #3244
@Shadrock I discussed this w @rowasc , here's our plan:

I think we should address this as two separate issues, both of which we are planning to do this cycle:

1. Make categories readable by adding a specification in the UI to tell the user where/from which service the category tag came from (CREES, EMINA, VERACITY, etc). We can implement this fix, accordingly to the suggestion screenshot that @w

[2018-09-04 15:44] rowasc commented on #3176
@Eve-wanderi can you let us know the results? Thanks

[2018-09-04 16:14] dalezak commented on #3237
Unfortunately there's a not a state between `In Development` and `QA Backlog` to specify that the work has been done but waiting to include the change in the next beta build for testing, so just put it `In Review`.

[2018-09-04 16:33] Eve-wanderi commented on #3176
@rowasc Tested this and dint encounter any Issues. Passed QA,

[2018-09-04 16:40] rowasc commented on #3176
@aoduor @jrtricafort this can go live then. See Eve's message above.

[2018-09-04 20:37] rowasc commented on #3244
@jrtricafort EMINA=> I think the EMINA service refers to veracity ( re-reading Shadrock's message). But yea, as far as I know only Veracity has the accuracy value.
@Shadrock I can work on veracity and the UI changes this week if we figure out how to implement the UI . It's my main priority outside of "cleanup lumen" . Let me know in https://github.com/ushahidi/platform-cloud-interface/issues/370 i

[2018-09-04 20:46] rowasc opened #3275 "Targeted survey has wrong direction and is sending TItle/Desc as questions to users"
**Describe the bug**
Targeted surveys are creating Title and Desc as messages that are sent to users
The first outgoing message is set as incoming.

**Where was the bug observed**
Locally  - develop
**To test it works (expected behavior)**
-  Create a targeted survey. Verify that the first message is created with 'direction=outgoing'

 - Respond to the all the survey questions. Verify that no mess

[2018-09-04 20:46] rowasc commented on #3275
@jrtricafort added this to cycle 9 as lumen cleanup

[2018-09-04 20:48] Shadrock commented on #3244
Thanks @jrtricafort @willdoran @rowasc. This all sounds good to me. To be clear, I'll refer to the (now) two distinct issues as described by Juan above:

1. Making categories readable by adding a specification in the UI to tell the user where/from which service the category tag came from sounds great. Will's example suggests that this is already possible so perhaps I just missed this or the COMRAD

[2018-09-04 22:50] Erioldoesdesign commented on #2625
@sethburtonhall Will do a second pass for Design QA and read all the copy in the morning 👍

[2018-09-05 00:36] dalezak opened #3276 "Error message unclear: Failed to validate posts entity: Stage "Required Task" is required before publishing"
**Describe the bug**
I tried to Publish a new report I just posted on the web, and got the error
[code]
It is unclear that the reason that the post could not be published is that it has a required task remaining. UX needs to be adjusted for clarity/usability

**Where was the bug observed**
https://dale.ushahidi.io/posts/138

**To Reproduce**
Steps to reproduce the behavior:
1. Select an unpublishe

[2018-09-05 11:22] Nthiga opened #3277 "Partner Not able to respond to messages from AGYW"
@rowasc @jrtricafort One of the DREAMS Partners has reported not being able to respond to messages on platform. The deployment url is amurt.ushahidi.io

I have recreated the issue and still get the same view on my end

Expected Beviour: When partner clicks on message on platform they are able to see the respond "send new message" Tab through which they can initiate conversation with the AGYW

Curr

[2018-09-05 11:35] Erioldoesdesign commented on #2625
So there were some comments in ticket #https://app.zenhub.com/workspace/o/ushahidi/platform-cloud-interface/issues/322

In the interests of clarity here they are again:
1 - Usertesting revealed last week that rows/columns 'matching' are important for a quick scan of features. The row title 'Catalogue of Services' with the yellow background would need to be all in one line. That would mean the 'Sel

[2018-09-05 11:49] Erioldoesdesign commented on #2766
I tried finding where to test this on the UI refresh PL. I tried:

http://preview.ushahidi.com/platform-pattern-library/ui-refresh/assets/html/3_organisms/#pl-pattern-list
http://preview.ushahidi.com/platform-pattern-library/ui-refresh/assets/html/5_layouts/settings-people.html

But neither had a shift+click interaction. Am I missing something @sethburtonhall

[2018-09-05 11:51] Eve-wanderi commented on #3254
@dalezak is the Build ready?

[2018-09-05 13:38] rowasc commented on #3272
Same as https://github.com/ushahidi/platform/issues/3277

[2018-09-05 15:07] jrtricafort commented on #3244
@Shadrock Regarding #1, yes it's something that we would need to configure, but should be able to do shortly.

Regarding #2, yes thanks for the clarification. I think we're on the same page regarding what needs to be done. The two-in-one services thing I think was confusing me. We can just be cognizant of that language going forward.

[2018-09-05 15:07] jrtricafort commented on #3275
@rowasc Is this related to https://github.com/ushahidi/platform/issues/3277

[2018-09-05 15:08] jrtricafort commented on #3277
Update from @rowasc : we have a fix and pushed it to QA for testing. @Nthiga we'll update you when it is available for you to test and for the user.

[2018-09-05 15:12] rowasc commented on #3275
No. But #3272 is related to #3277 (duplicate actually)

[2018-09-05 15:44] rowasc commented on #3277
messages from before the fix went live are not available for contacting the user… at least until we figure out a retroactive way to do it. New messages can be tested/used to contact users now in production

[2018-09-05 15:58] jrtricafort commented on #3277
@rowasc So does that mean messages from the past week + messages from prior to the Lumen migration are unable to respond to? At least until we figure out the retroactive fix, that is.

[2018-09-05 16:13] #3260 closed

[2018-09-05 16:14] rowasc commented on #3277
Yes @jrtricafort .

[2018-09-05 16:57] rowasc commented on #3275
Mark tested it today, and I tested yesterday.
Released fix today

[2018-09-05 16:57] #3275 closed

[2018-09-05 17:35] crcommons commented on #3276
@jrtricafort I just updated this issue now that we've clarified it was happening because of UX confusion. Tagging you to prioritize/triage.

[2018-09-05 17:41] rowasc commented on #3268
Adding to cycle 9 as part of lumen cleanup

[2018-09-05 17:41] rowasc commented on #3268
Confirmed this is broken .

[2018-09-05 20:10] jrtricafort commented on #3268
@rowasc @crcommons Great catch. Yes, P1 is correct, especially since we will be reporting stats this month.
For context, was this a regression introduced by Lumen migration?

[2018-09-05 20:19] rowasc commented on #3268
@jrtricafort
yea... I think I may have introduced this while porting it , since in the original release I checked it live and everything :|

[2018-09-05 20:49] rowasc commented on #3277
OK we're deploying a migration to fix this now. It'll probably take a few hours to run but this should be fixed by the time @Nthiga starts working tomorrow

[2018-09-05 21:00] angelrr7702 commented on #2916
It still present this problem .. php mcrypt no supported because it is not maintained and there are some security issue relate to it. what the ushahidi community have in mind to fix these issue ?

[2018-09-06 00:56] rjmackay commented on #3252
Is there any indicator we can use to check if a survey changed before refreshing it? ie. has the Surveys 'updated' timestamp?

[2018-09-06 00:58] rjmackay commented on #3177
@rowasc Move it to cycle 10, although we might decide not to do it now if we're going into maintenance mode. I don't think I'm going to be very productive this week till I kick this cold

[2018-09-06 01:03] rowasc commented on #3177
ok makes sense. Thank you.

[2018-09-06 01:13] rowasc commented on #3237
I think that's fine, we could add another pipeline if you feel you need it at some point.  I just wanted to know  . 👍

[2018-09-06 12:53] rowasc commented on #3277
<img width="598" alt="screen shot 2018-09-06 at 9 47 29 am" src="https://user-images.githubusercontent.com/2434401/45158540-a54b2980-b1ba-11e8-967c-e30bef05a8bd.png">
The retroactive fix was deployed last night.

[2018-09-06 13:48] crcommons opened #3281 "redirect to forbidden on login after create"
**Describe the bug**
When I create a new deployment and after I am taken through the waiting area, I see my deployment and the login modal. When I login, I am redirected to the forbidden page, rather than the map view. Also, when I upgrade my plan and then am taken back to my deployment, it routes me to the forbidden page.

**Where was the bug observed**
https://carolyn.sad-charlie.ush.zone/

**To

[2018-09-06 14:17] jrtricafort commented on #3276
@crcommons @rowasc This isn't high priority unless reported by one of our end users. P3 - won't fix.

[2018-09-06 14:17] #3276 closed

[2018-09-06 16:48] crcommons commented on #3268
Tested in QA and it passed.

[2018-09-06 17:17] rowasc commented on #3268
Awesome. I can take another look and release today :D
Can you send me credentials for the deployment you used?

[2018-09-06 17:34] rowasc commented on #3272
Closing as there's another issue tracking this, and I see the send new message panel

[2018-09-06 17:34] #3272 closed

[2018-09-06 18:54] crcommons commented on #3281
@jrtricafort New bug I found today. Tagging you for triage.

[2018-09-06 19:35] crcommons commented on #3129
@rowasc Passed QA

[2018-09-06 20:05] rowasc commented on #3267
@jrtricafort P1?

[2018-09-06 20:14] rowasc commented on #3269
@jrtricafort

[2018-09-06 20:26] jrtricafort commented on #3269
@rowasc This is a Lumen regression or existing bug?

[2018-09-06 20:26] jrtricafort commented on #3267
@rowasc This is a Lumen regression or existing bug?

[2018-09-06 20:27] rowasc commented on #3267
Looks like its a regression, it was passing before.

[2018-09-06 20:33] rowasc commented on #3269
Regression, it was passing

[2018-09-06 20:45] jrtricafort commented on #3267
p1

[2018-09-06 20:45] jrtricafort commented on #3269
p1

[2018-09-06 21:00] rowasc commented on #3268
I'm actually going to release this in the morning because I can't do another late day, but it passed  and it can go live

[2018-09-07 11:41] rowasc commented on #3215
@jrtricafort I think this is a P2. This is a bug, not a regression, and the original P1 bug is already fixed  (avoiding the title/desc fields from being duplicated https://github.com/ushahidi/account-management/issues/42)

[2018-09-07 12:36] rowasc opened #3283 "Crowdsourced posts view does not appear when you reload /activity"
**Describe the bug**
Crowdsourced posts view does not appear when you reload /activity
**Where was the bug observed**
rominacsvsms.ushahidi.io

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a sad-charlie or production environment
2. Login as admin
3. Click on 'activity'
4. Check that you see the crowdsourced stats view
5. Reload the page. You will no longer see the crowdsourced stats

[2018-09-07 12:36] rowasc commented on #3283
@crcommons can you take a look ?

[2018-09-07 12:37] rowasc commented on #3268
Released

[2018-09-07 12:37] #3268 closed

[2018-09-07 12:38] rowasc commented on #3129
@Angamanga can you check in prod when you have a minute? (It's released)

[2018-09-07 12:39] rowasc commented on #3242
Bumping. @Eve-wanderi

[2018-09-07 12:39] rowasc commented on #3254
bumping @dalezak . See Eve's comment above

[2018-09-07 12:40] rowasc commented on #2888
Update: I will be able to finish the install docs on monday, need to wrap up some other tickets today

[2018-09-07 12:41] rowasc commented on #3283
(Added 1 point estimate, if you disagree please change it :D )

[2018-09-07 13:01] rowasc commented on #3281
Oh, I've seen this for a while now (meaning, it's not a regression). https://github.com/ushahidi/platform/issues/2306 it's related to this one.

I'd say it's a P2 since there's a workaround but I agree that it's super confusing for people

[2018-09-07 13:26] crcommons commented on #3283
@rowasc Oddly this is failing in production, but I can't reproduce locally. Will investigate further.

[2018-09-07 13:29] rowasc commented on #3283
Ahhhh. Maybe an nginx thing.
@tuxpiper could you take a look when you get a chance?

[2018-09-07 15:41] Shadrock commented on #3100
![](https://github.trello.services/images/mini-trello-icon.png) [ISOOKO workshop Draft Doc](https://trello.com/c/wmgUjGts/17-isooko-workshop-draft-doc)

[2018-09-07 17:06] rowasc commented on #3266
closing

[2018-09-07 17:06] #3266 closed

[2018-09-07 18:31] sethburtonhall commented on #2625
Thanks @Erioldoesdesign see revisions here http://darwin.ushahidi.com/pricing

[2018-09-10 11:02] tuxpiper commented on #3283
I have reproduced it, but I don't see anything wrong with the requests or the responses going through nginx . I did notice that after reloading , a lot less requests to the stats endpoints are generated by the client.

It also doesn't load correctly if I open the /activity route of the client in a new tab. Maybe some sort of race condition in the client?

[2018-09-10 12:50] rowasc commented on #3277
Monica and I met today, the messages are being sent and received. Closing

[2018-09-10 12:50] #3277 closed

[2018-09-10 19:46] rowasc commented on #3283
mmm. Maybe. I'll try to reproduce it locally. Thank you for taking a look

[2018-09-11 15:02] rowasc commented on #3129
@Eve-wanderi can you retest this on rominacsvsms.ushahidi.io ?
Testing checklist:
- Log in as an admin
- [x] Create a new role and assign a new user with that role
- Go to settings-> surveys-> select a survey
- Click on configuration-tab
- Click on "Specific roles" in "Who can contribute to this survey
- [x] The admin-option should be greyed out and selected
- Select on the newly created role and

[2018-09-11 16:32] #3129 closed

[2018-09-11 18:33] tuxpiper commented on #1322
My suggestion in the last comment has become more a necessity, in order to rationally implement security headers ( #1610  )

[2018-09-11 18:36] tuxpiper commented on #1610
Implementing this properly in the AWS stack would mean having different CDN distributions for index and assets.

A blocker for that is modifying the client's build routine so that index.html can reference the assets to a different domain. (i.e. "assets.ushahidi.io/app.XXXXX.js" instead of just "app.XXXXX.js"

[2018-09-11 20:46] rjmackay commented on #1610
@tuxpiper thats probably sensible to do that anyway but I'm not clear *why* it's required for this ticket?

[2018-09-11 21:33] rjmackay commented on #1610
@tuxpiper this https://github.com/ushahidi/platform-client/pull/1258 gives you a way to pass in a base URL. We'll need to test and verify if all the assets still work as expected though.

[2018-09-11 23:35] rjmackay commented on #3269
@rowasc What user and deployment was this tested with?
If the user doesn't have an contacts with the `can_notify` flag set, then their notifications are ignored. It's a weird behaviour, but not new.

[2018-09-11 23:51] rjmackay commented on #3269
Ah. It looks suspiciously like messages are queued as `incoming` not `outgoing`. It looks suspiciously like this might been the case in the old code too, but it might have been getting fixed somewhere else in the data flow.

[2018-09-12 09:11] tuxpiper commented on #1610
Yep sorry I didn't document, I found out about this too much towards the end of my day.

The injection of headers in Cloudfront is done with lambda@edge (l@e), which carries a cost per execution. So while things would work by applying the l@e function to the whole distribution, we would be paying extra for unnecessarily invoking the function for purely static assets.

I tried working around that b

[2018-09-12 13:41] tuxpiper commented on #3247
I've pushed a PR ( https://github.com/ushahidi/platform-job-queue/pull/58 ) for this item :

It's something that has been annoying me for a while

[2018-09-12 22:10] rowasc commented on #3269
I don't know if my user had that flag. It's `romina+csvdeployment@ushahidi.com`

[2018-09-13 01:52] rjmackay commented on #1610
Yup. The only caveat is that SVGs are a pain. Because they're XML most browsers refuse to load them cross-origin. So we can either inline the SVGs or load them from the same origin (ie. quakemap.ushahidi.io not assets.ushahidi.io)

[2018-09-13 12:06] tuxpiper opened #3289 "Media stored in Rackspace cloud is now provided via http instead of https"
**Describe the bug**
On deployments that use the Rackspace cloud for storing media, the API provides http URLs to download / present such media. As opposed to https, as it should be and as we used to do.

**Where was the bug observed**
This can be currently observed in any of the deployments that we host running the Lumen codebase ( i.e. https://tuxpiper.ushahidi.io )

**To Reproduce**
Steps to re

[2018-09-13 13:05] #3002 closed

[2018-09-13 13:10] rowasc commented on #697
Closing, lumen was released

[2018-09-13 13:10] #697 closed

[2018-09-13 13:10] #2583 closed

[2018-09-13 13:11] #3143 closed

[2018-09-13 13:12] #2585 closed

[2018-09-13 13:13] #1372 closed

[2018-09-13 13:13] rowasc commented on #1597
Closing as lumen is out now

[2018-09-13 14:05] aoduor commented on #3175
https://www.ushahidi.com/support/data-obfuscation

[2018-09-13 14:05] #3175 closed

[2018-09-13 15:08] #2739 closed

[2018-09-13 15:11] dalezak commented on #3289
Looks like these insecure images are loading in Chrome, but they are giving a warning.

![unspecified-10](https://user-images.githubusercontent.com/91811/45497304-afc66f80-b734-11e8-84b6-db27e3e97614.png)

Although looks like Chrome can block mixed content too https://developers.google.com/web/fundamentals/security/prevent-mixed-content/what-is-mixed-content

[2018-09-13 15:15] dalezak commented on #3289
Hmm @tuxpiper, shouldn't we be able to also download the same Rackspace image over `https://`?

When I try to access https://3775e5d250868dab9385-0b4c691ea14dad11384ab079da46af4f.r79.cf2.rackcdn.com/dale.api.ushahidi.io/5/8/58fa7884d76a2-twisted_sisters.jpg, I get certificate invalid?

![unspecified-12](https://user-images.githubusercontent.com/91811/45497596-76423400-b735-11e8-9847-e70cb22c0fcb.p

[2018-09-13 16:19] rowasc commented on #2325
closing as this is not in the post card anymore

[2018-09-13 16:19] #2325 closed

[2018-09-13 17:26] willdoran opened #3290 "Demo banner covering plans link on settings page"
**Describe the bug**
A clear and concise description of what the bug is.

**Where was the bug observed**
https://testfinal1.steve-buscemi.ush.zone/views/map

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings page on a demo deployment
2. The Plans link on the settings page is behind the demo banner and can't be clicked

**Screenshots**
<img width="1680" alt="screen shot 2018-09-13

[2018-09-13 17:42] dalezak commented on #3289
@tuxpiper check this out `The certificate for this server is invalid`:

[code]
[code]

[2018-09-13 19:04] rowasc commented on #2741
bumping. @Angamanga @Shadrock should we close it? do we need to add anything else?

[2018-09-13 19:04] Shadrock commented on #3067
Some further clarifications and update on this:
There are two "hard dates" that exist for this, with slightly different requirements for each, which I sketch out below. It's best to think of these as building upon one another, as we won't be setting up separate deployments or anything like that.
September 24th: Harith is giving a talk at a major conference and wants to demo the platform. I'm not s

[2018-09-13 19:09] rowasc commented on #3289
@rjmackay could you take a look at this one? Thanks

[2018-09-13 19:11] rowasc commented on #3289
Adding this as a P0 for the mobile App in particular since solving this would probably solve the android/ios images not leading .

[2018-09-13 20:57] rowasc commented on #1597
Reopening this needs  to be verified in prod

[2018-09-13 21:26] rowasc opened #3291 "DIAL Grant"

[2018-09-13 22:40] rowasc commented on #1816
This was released and confirmed. Closing as duplicate

[2018-09-13 22:40] #1816 closed

[2018-09-13 23:07] #3289 closed

[2018-09-13 23:19] rjmackay commented on #3289
Merged and deployed to prod. Appears to be working for me. @dalezak does this solve the mobile issues?

[2018-09-14 00:02] dalezak commented on #3289
Wow, @rjmackay that fixed the problem with downloading images in the app! :+1:

[2018-09-14 10:17] rowasc commented on #3076
Closing. I'll reopen if we ever need to do it

[2018-09-14 10:17] #3076 closed

[2018-09-14 10:20] rowasc commented on #2316
Note:
The number represents the filters applied in the saved search, as the saved search is only a filter collection, and it changes when the user adds/removes filters for updating the saved search

[2018-09-14 10:38] rowasc commented on #1683
@willdoran Can we close this?
(See Shadrock's message)

[2018-09-14 14:14] rowasc commented on #1683
Closing after checking with Will

[2018-09-14 14:14] #1683 closed

[2018-09-14 16:12] rowasc commented on #3254
@dalezak since the images issue is solved, can you generate the build for this one?

[2018-09-14 16:14] dalezak commented on #3254
You bet @rowasc, working on it, will send out builds later this morning :+1:

[2018-09-14 16:19] rowasc commented on #3171
@tuxpiper sounds pretty good. Maybe after the enterprise deployments are in AWS would be the ideal time to do this?

[2018-09-17 08:45] Angamanga commented on #3290
@rowasc @willdoran Added a fix for this to the branch `3199-add-freeze-state-and-end-state`

[2018-09-17 10:18] Eve-wanderi commented on #3242
@dalezak  No the report did not need any approval to be viewed it wasnt a draft. We can sync up to replicate this.

[2018-09-17 11:05] Eve-wanderi commented on #3248
@rowasc  Confirmed this passed QA.

[2018-09-17 11:31] Nthiga opened #3294 "Export Feature Not Working: amurt.ushahidi.io"
**Describe the bug**
Export feature not working; cant download any data

**Where was the bug observed**
amurt.ushahidi.io

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'amurt.ushahidi.io'
2. Log in as '...' (Admin)
3. Click on 'settings'
4. Scroll down to 'Export'
5. See error

**Expected behavior**
Download CSV

**Is there a workaround? What is it.**
Ensure that CSV can be downloade

[2018-09-17 13:14] tuxpiper commented on #3171
I'll actually will get this done along with ushahidi/platform-enterprise-playbooks#13 and ushahidi/platform-enterprise-playbooks#16 . The automatic renovation of certificates will be part of the whole terraform setup of the enterprise deployments product.

[2018-09-17 13:29] Erioldoesdesign commented on #3100
FYI this is being tracked here: https://trello.com/c/wmgUjGts/17-isooko-workshop-draft-doc

It's so almost finished I can taste it!

[2018-09-17 14:19] rowasc commented on #3290
assigned to Will to confirm it worked :D thanks

[2018-09-17 15:55] rowasc commented on #2741
awesome, thank you. @Angamanga

@Shadrock let us know if you need any modifications

[2018-09-17 16:15] rowasc commented on #3171
AHH ok. Sounds great. @tuxpiper thanks

[2018-09-17 17:29] rowasc commented on #3294
@dexwakhu @Nthiga this should be working now.
Thanks to @kinstelli @tuxpiper for jumping in to help here.

@kinstelli can you tag David for review when you push the .env fix ?

[2018-09-17 17:42] rowasc opened #3295 "Retry not working when a job fails in the export job queue"
**Describe the bug**
When a job fails in the export jobs queue, it should retry the export chunk the number of times specified (3 in this scenario).
RIght now if an export chunk fails, it just fails and does not retry.

**Where was the bug observed**
amurt.ushahidi.io
rominacsvsms.ushahidi.io
Notes:
- I have not seen this in sad-charlie, but it might happen if there's a failed chunk.
- Note that t

[2018-09-17 21:30] #3290 closed

[2018-09-18 21:43] chrisabo opened #3296 "Role permissions not behaving as expected with CSV bulk upload"
I created a role to allow a non-admin user with the following permissions:
Bulk Data Import
Edit Their Own Posts

Assigned that role to a new user.

When the user tries to upload the bulk import, user receives following error message:
Access Denied - Sorry, you're not allowed to do that.
User 10 is not allowed to import resource posts #0

**Where was the bug observed**
Self-hosted Ushahidi 3.0 sit

[2018-09-18 21:56] chrisabo opened #3297 "CSV Import fields are blank when mapping in Firefox"
**Describe the bug**
In the Import process, when reaching the step where you map Survey Field to CSV column, the dropdown boxes for the CSV column are blank after the "Leave Empty" option.

**Where was the bug observed**
https://www.librarysites.io/settings/data-import

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as admin user
2. Click on Settings -> Import
3. Click on Choose CSV f

[2018-09-19 15:37] rowasc commented on #3244
Solved for comrades. This was buggy when categories were being added from the services in comrades-service-proxy.

I will clean things up before I send the fix for `develop` and probably feature flag some stuff that we did for veracity too.
This will be closed once I demo it to @Shadrock and we review if there's any changes to make there

[2018-09-19 15:39] rowasc commented on #3067
@Shadrock the fixes for categories being shown correctly #3244  are now deployed to comrades-stg and comrades-hdx

Veracity and Actionability are deployed and I tested both today  #3057

Next up (TODAY)
- [ ] Check CREES/YODIE are running. Setup services.
- [ ] Run another round of tests that include all services and export to be safe and catch anything I missed this week
- [ ] Populate https://co

[2018-09-19 22:37] rjmackay commented on #3295
If this proves hard to repro, would it be better to test a properly queued version of CSV exports (that works with multisite this time)?

[2018-09-19 22:40] #3269 closed

[2018-09-19 23:52] rowasc commented on #3067
@Shadrock

Veracity and Actionability are deployed and I tested both today  #3057
Checklist
- [x] Change maintainer id for user id in HDX
- [x] Make categories descriptions visible in category fields
- [x] Check YODIE is running.
- [ ] Check CREES is running.. (is not right now)
- [ ] Run another round of tests that include all services and export to be safe and catch anything I missed this week
-

[2018-09-20 02:44] Shadrock commented on #3067
@rowasc @willdoran quick note that OU is following up on the CREES service, and there appears to be a new bug on [https://comrades-stg.ushahidi.com](https://comrades-stg.ushahidi.com). I've re-named one of the surveys but it's not showing up in map view, despite showing up as changed in the settings.

1. I went into the settings for "Integration Survey" and changed it to "YODIE & CREES" because I

[2018-09-20 06:30] Angamanga opened #3298 "Styles for the tour in cloud-interface"
##Background ##
When we worked with pricing we found out that the css for the tour when create a deployment is old (like, never changed) and it was hard to make the changes needed without serious hacking and ugly-coding. The tour is fragile and some parts are also outdated, for example, the timeline is shown instead of the data-view

##Things to do##
- Fix the css for the tour in pattern-library,

[2018-09-20 10:43] halani commented on #3067
CREES service is up and running again. We informed our Systems guys to monitor the service constantly.

[2018-09-20 12:31] rowasc commented on #3067
Confirmed CREES is running again. Thank you!

[2018-09-20 12:45] rowasc commented on #3067
@Shadrock just an update that I've been trying to reproduce the cache issue today without much luck. Could you let me know what browser you were using?
Thank you

[2018-09-20 14:40] rowasc commented on #3067
Alright.
@Shadrock this is where we are. FBBOT is running and saving the data correctly, CREES is running. I'm going to test _everything_ again now just in case.

Checklist
- [x] Change maintainer id for user id in HDX
- [x] Make categories descriptions visible in category fields
- [x] Check YODIE is running.
- [x] Write docs for HDX (sent draft for review to Shadrock, can continue editing tomorro

[2018-09-22 06:14] poVoq opened #3300 "Support for HumanitarianID OpenID Connect"
**Which user group(s) are the primary audience for this feature/enhancement.**
Humanitarian Aid Workers
Specify key workflows (e.g. crisis, elections): crisis, emergencies
Specify key use cases (program/data workers, incident management, advocacy/storytelling): field reporting, data-sharing

**Is your feature request related to a problem? Please describe.**
One less login to deal with & easier to

[2018-09-22 12:00] tuxpiper commented on #1610
Trying a different approach with https://github.com/ushahidi/platform-client/pull/1262

[2018-09-24 09:13] halani commented on #3067
It appears that the results from CREES in https://comrades-stg.ushahidi.com are incorrect. Shadrock might have already raised this to be checked. I've just now checked with the CREES developer (Gregoire), we he wonders whether the problem is that the platform is calling the Uchaguzi version of CREES http://socsem.open.ac.uk/comrades/uchaguzi/ and not the main CREES services at http://socsem.open.a

[2018-09-24 12:25] Angamanga opened #3301 "Clean up outdated libraries in pattern-libraries"
There are a lot of outdated libraries in the pattern libraries for
- Platform
- Tenfour
- Dotcom

We need to update or replace the ones that are outdated, especially the ones with vulnerability-warnings and the ones that stops the build (mainly Tenfour and Dotcom).

[2018-09-24 12:28] Angamanga opened #3302 "Update the build-process and add continuous deployment"
**TODO**
- Update the build-process for dotcom and tenfour-pattern libraries to avoid having to commit the built css-files
- Automate the deployment for tenfour-PL.

[2018-09-24 12:45] rowasc commented on #3067
Hi @halani . following up on this now.

I just reviewed the CREES URL is  `http://socsem.open.ac.uk/comrades/events/` in the server.

I'll update this issue as soon as we have more information,I'm debugging this locally now

[2018-09-24 13:57] rowasc commented on #3067
@halani @Shadrock the bug in the service proxy is fixed now, _new_ posts should have the correct CREES tags and match the results from the http://socsem.open.ac.uk/comrades/events service. https://comrades-stg.ushahidi.com/posts/218 this is a new post with the tags , @halani can you confirm this lookks correct to you?

I will re-run pre-existing posts through the service today so that they get the

[2018-09-24 14:09] rowasc commented on #3067
@halani can you create a new account (with your open.ac.uk or gmail account) and let me know so I upgrade you to admin in the platform?

[2018-09-24 15:47] halani commented on #3067
I've created a new account with h.alani@open.ac.uk

[2018-09-24 15:48] rowasc commented on #3067
@halani you are an admin now. You'll need to log off and login again to see the change

[2018-09-24 15:55] halani commented on #3067
yes the login works, and it's admin. The CREES labeling for https://comrades-stg.ushahidi.com/posts/218 is also correct.  many thanks. looks all great now.

[2018-09-24 15:56] rowasc commented on #3067
@halani great. Thank you !
I'll go re-generate the pre-existing published posts now so they get the new tags.

Let me know if anything comes up.

[2018-09-25 11:17] rowasc commented on #3247
Awesome. Let's prepare a release to go out after pricing/DREAMS surveys just to be safe that we won't impact them :D

cc @willdoran let me know if you disagree and want to release earlier

[2018-09-27 17:58] rowasc opened #3304 "Settings => General page - not all fields show a validation error when they are invalid"
**Describe the bug**
Some fields like Contact Email Address and default lat/lon values do not show anything to the user if they have invalid values. This is confusing and prevents the user from saving the page until they solve the issue, but they don't have feedback about what's wrong.

**Where was the bug observed**
- Development branch (locally)
- Community support channel where a user reported

[2018-09-27 18:31] #2888 closed

[2018-09-27 18:35] rowasc commented on #3254
@dalezak how did the app release/publishing go? can we close it?

[2018-09-27 18:36] rowasc commented on #3294
@kinstelli @tuxpiper could you confirm this can be closed (was the .ENV change enough or did we need something else) ?

[2018-09-27 18:41] rowasc commented on #3295
Do you mean migrating the lumen_queues codebase to the platform codebase?

[2018-09-27 18:42] kinstelli commented on #3294
@rowasc - Thanks for following up. Yeah, @tuxpiper pushed a definitive fix to the ansible scripts, so I believe this is complete.

[2018-09-27 18:43] rowasc commented on #3294
Alright thanks @kinstelli ! Closing

[2018-09-27 18:43] #3294 closed

[2018-09-27 18:46] willdoran commented on #3247
@rowasc Agree completely

[2018-09-27 21:18] rowasc commented on #3231
@Eve-wanderi  could you confirm if this issue is still happening in the latest mobile build Dale sent (1.12.3)?

[2018-09-27 21:47] jrtricafort commented on #3238
Thank you for your feedback. This enhancement request has been added to product backlog for future consideration.

[2018-09-28 03:52] #3198 closed

[2018-09-28 03:52] #3199 closed

[2018-09-28 04:11] #3197 closed

[2018-09-28 13:45] rowasc commented on #3139
This is fixed, notifications work

[2018-09-28 13:45] #3139 closed

[2018-09-28 13:50] rowasc commented on #2849
Closing, this is resolved.

[2018-09-28 13:50] #2849 closed

[2018-09-28 13:51] rowasc commented on #2787
Romina to review current status of the PR and make a plan to get a OSS version of exports handler

[2018-09-28 13:53] rowasc commented on #2316
Closing . See my comment above.

[2018-09-28 13:53] #2316 closed

[2018-09-28 13:54] rowasc commented on #3240
Hi @theauditor . Were you able to resolve this?

[2018-09-28 13:56] rowasc commented on #2705
Closing . PHP7.2 is not supported at the moment.

[2018-09-28 13:56] #2705 closed

[2018-09-28 14:03] rowasc commented on #2306
We have a 24hs expiration now for tokens. This should help at least with the annoying 15 minute window we used to have to work on surveys.

[2018-09-28 14:21] rowasc opened #3305 "Check if Heroku button works with lumen"
Check if Heroku button works with lumen (develop) branch.

[2018-09-30 07:32] simmytruong opened #3306 "Unable to use iOS application to login to backend server"
Hi,

I am trying to make my own Docker image and I follow up the instruction at:
http://ushahidi.s3.amazonaws.com/downloads/community_docs/Ushahidi_Platform_v3_Manual.pdf
and refer the https://github.com/ushahidi/platform-release/releases/download/v3.12.3/ushahidi-platform-release-v3.12.3.tar.gz

Rigt now, I can bring up my ushahidi_client and ushahidi_platform to work in the same docker container

[2018-10-01 13:57] tuxpiper opened #3308 "Runtime problems with MySQL 8.0"
**Describe the bug**
There seem to be problems running the API with MySQL 8.0 as the backend

**Where was the bug observed**
We received a report in community chat with this error example (values edited)::

[code]

Another member of community chat confirmed the problem on their side

**To Reproduce**

TBD, but apparently the geometry functions have something to do with this.

**Expected behavior**

[2018-10-01 14:11] rowasc commented on #3308
https://dev.mysql.com/doc/refman/5.7/en/gis-wkt-functions.html

Per MySQL docs, they planned to deprecate this and apparently did so.

https://dev.mysql.com/doc/refman/8.0/en/gis-wkt-functions.html#function_st-geomcollfromtext this doc looks like the alternative in 8.0 is ST_GeomFromText
It'd be useful to check  and test the change so we can support 8.0 in the future

[2018-10-01 14:27] rowasc commented on #2638
@Eve-wanderi could you verify this issue with Angie and add complete reproduction steps? Thanks

[2018-10-02 13:48] rowasc commented on #2625
Closing as Seth released it yesterday

[2018-10-02 13:48] #2625 closed

[2018-10-02 20:52] rowasc commented on #3213
Pending

- [ ]  Run deployment:tiers command to change deployments onto new plan
- [ ]  Remove old tiers in DB and plans in chargebee

[2018-10-02 20:53] rowasc commented on #3200
Closing, pricing has been released

[2018-10-02 20:53] #3200 closed

[2018-10-03 01:55] rei2hu commented on #3212
I can take a look at the endpoints in the api documentation if no one else is doing it.

[2018-10-03 13:57] rowasc opened #3312 "Smoke testing Mobile App against ushahidi.io [Pricing changes vs Ushahidi App latest version]"
@Eve-wanderi to run the smoke test suite linked here

https://ushahidi.ontestpad.com/script/37#//
This suite is intended to be a smoke test against common potential issues when we do API changes and was the one used for the lumen upgrade by me and Carolyn to catch a ton of problems.

Please report back once you are done and let us know if you find anything wrong.
Thanks!

[2018-10-03 14:00] Nthiga opened #3313 "ISOOKO Test Deployments: How can users in Kigali Rwanda send feedback on survey questions/topics to an Ushahidi Deployment"
## Overview
SMS/USSD Integration for Users in Rwanda - ISOOKO workshop test (Would love to discuss this further to assess suitability and viability bearing in mind ongoing work around Ushahidi - BRCK integration). This would also be useful in engaging Youth groups Between October 15-26th.

Hold Ups
- There are some assumptions on requirements from a  user perspective: haven't met target groups and

[2018-10-03 14:13] tuxpiper commented on #3247
So it looks like my fix got deployed to production and nothing exploded 🎉

Do we still have this to check in this issue?

[2018-10-03 17:48] rowasc commented on #3212
@rei2hu that'd be great, thanks!. Also, sorry but what do you mean with `the demo page doesn't seem to be working?` which page is the one that is failing?

@tuxpiper you might be interested in following up here /collaborate with @rei2hu  since you're leading our doc improvement efforts

[2018-10-03 18:01] rei2hu commented on #3212
I tried to access the demo page shown in the documentation (https://demo.api.ushahidi.io/) and it only responds with `Sorry, the page you are looking for could not be found.`.

I also tried to make a few requests like `curl -X POST https://demo.api.ushahidi.io/oauth/token` and I got the same thing so I'm not exactly sure how to go about checking the endpoints.

I am able to do `curl -X POST https:

[2018-10-03 19:07] rowasc commented on #3212
@rei2hu ah thanks for clarifying that.  I suspect that might have been an example URL all along, but pinging @tuxpiper in case he knows.

To check out API responses without installing the platform locally, you can setup a free demo-tier ushahidi deployment (with our sass platform) https://www.ushahidi.com/
Then you can use *mydeployment.api.ushahidi.io* (replace `mydeployment` with your deployment

[2018-10-03 19:40] rowasc commented on #3306
Hi, sorry I was trying to check-in on this issue internally and didn't get back to you yesterday (which is why I self-assigned it)

@dalezak mentioned this looks like a CORS issue related to a native http plugin we were using , and that the new mobile app version should resolve this once it goes live
@dalezak could you ping @simmytruong to re-test when the release is out?

[2018-10-03 19:43] rowasc commented on #3247
I will lower the priority on the savedsearches part  since we have a lot of other things going on right now. Clsoing this issue and linking a new one about saved searches perf.

[2018-10-03 19:43] #3247 closed

[2018-10-03 19:45] rowasc commented on #3247
Actually Robbie already explained

I don't think we have the time to do this right now, but I'll create an issue to avoid losing this

[2018-10-03 19:45] rowasc opened #3314 "SavedSearch dataprovider command takes a long time to complete"
Reference issue
- https://github.com/ushahidi/account-management/issues/43
- Robbie explained the issue there as

David solved the main problems with dataproviders https://github.com/ushahidi/platform/issues/3247 and I created this issue to be able to follow up in the future with the saved search improvements

Aha! Link: https://ushahiditeam.aha.io/features/PROD-282

[2018-10-03 23:04] simmytruong commented on #3306
hi @rowasc Thanks for your update. I am exciting if we can have a release to fix this CORS issue on both iOS and Android.

Thanks,

[2018-10-04 03:49] rowasc commented on #3201
Closing, surveyor no longer exists for new users

[2018-10-04 03:49] #3201 closed

[2018-10-04 03:55] rowasc commented on #2916
Hi.Now that we did the lumen upgrade and are using php7.1  we were able to remove this platform dependency. It hasn't hit the release branches yet but it's merged in `develop` if anyone wants to give it a try .

https://github.com/ushahidi/platform/pull/3303

Re PHP version: We are currently supporting php 7.0 - 7.1 ,

[2018-10-04 04:02] rowasc commented on #2552
@aoduor this is good to keep in mind for our user-facing docs for dial :D  I was also kind of confused the first time I setup email tbh

[2018-10-04 09:07] Angamanga commented on #3301
Update on this issue:
- Tenfour is done
- Dotcom is done but not merged yet because I want to discuss it with Seth
- Working with Platform right now

[2018-10-04 11:18] tuxpiper commented on #3212
Yep, demo.ushahidi.io has never been a thing, just an example URL.

Indeed @rowasc , this got me thinking about how we could stand up a demo deployment to serve as a developer playground. At the very least, we would probably need to have at hand a quick way to reset it if/when it goes out of hand.

[2018-10-04 23:19] rowasc commented on #2005
Closing per Justin's comment above.

[2018-10-04 23:19] #2005 closed

[2018-10-04 23:29] rowasc commented on #2538
@Angamanga  @justinscherer thinking of flagging this for google code in. Is it something we would want to do with the image Anna posted to keep it simple?
The other search boxes (filters dropdown, location selection)  don't have the "Add" behavior or show a list right after them :/

[2018-10-04 23:33] rowasc commented on #2746
@Angamanga implementation for this should be a simple anchor right? Thinking it might be a good code-in issue

[2018-10-05 00:43] rowasc commented on #1541
Closing, this is resolved. Thanks!

[2018-10-05 00:43] #1541 closed

[2018-10-05 00:50] rowasc commented on #2638
verified this is still happening. The collections list button is visible but the actual edit button and relevant collection actions are only on map view. I think we could add an "EDIT" button like the one we have for saved searches, when we fix this
<img width="734" alt="screen shot 2018-10-04 at 9 47 39 pm" src="https://user-images.githubusercontent.com/2434401/46510410-267bf780-c81f-11e8-813a-89

[2018-10-05 00:53] rowasc commented on #2703
Related to the PL docs issue you are working on next week :) @Angamanga

[2018-10-05 00:54] rowasc commented on #2703
Testing the docs from a new user perspective can be a code-in or community task after they are done.

[2018-10-05 00:58] rowasc commented on #1834
This no longer exists. Closing

[2018-10-05 00:58] #1834 closed

[2018-10-05 06:11] simmytruong commented on #3306
![issue](https://user-images.githubusercontent.com/35060602/46518773-2bcd5680-c8a0-11e8-85da-0a82dae4e026.png)
FYI, it is really a CORS issue. Please help to fix soon. Thanks

[2018-10-05 09:55] a-santos commented on #3051
Can I take this?

[2018-10-05 13:09] rowasc commented on #3312
@Eve-wanderi is this done?

[2018-10-05 14:08] rowasc commented on #3306
Thanks @simmytruong for your patience.
@dalezak just updated the app.
For android it should be already available, but for iOS it depends on their approval process, so he will let us know once it's approved and available in the iOS app store.

[2018-10-05 19:44] rowasc commented on #3296
@chrisabo thank you for reporting this issue. Our team will look into it and report back with our findings.

@Eve-wanderi could you please verify if this is happening in the latest production version, and let me know? if you have any questions on how to reproduce please ping me.
Thank you

[2018-10-05 20:52] rowasc commented on #3230
@r-tock this should be solved in the latest release for android (it went out today for Android and should be available, it'll take some time before the app store approves in iOS) .
Closing

[2018-10-05 20:52] #3230 closed

[2018-10-05 20:53] rowasc commented on #3172
Closing , wont-fix

[2018-10-05 20:53] #3172 closed

[2018-10-05 20:58] rowasc commented on #2622
The single view is no longer available in the codebase. Closing

[2018-10-05 20:58] #2622 closed

[2018-10-05 21:03] rowasc commented on #2462
I apologize as we apparently missed this ticket when it was opened. Did you receive support on another channel? Were you able to set up the platform? @philam

[2018-10-05 21:16] rowasc commented on #2395
This is not a feature we have at the moment. Keeping it open to be considered in future iterations

[2018-10-05 21:17] rowasc commented on #3300
This is not a feature we have at the moment. Keeping it open, to be considered in future iterations.

[2018-10-05 21:22] rowasc opened #3315 "Saved search modal title does not support html character codes."
**Describe the bug**
I get  `Actualizar B&uacute;squeda` instead of `Actualizar Búsqueda`

<img width="464" alt="screen shot 2018-10-05 at 6 19 47 pm" src="https://user-images.githubusercontent.com/2434401/46560769-51bc2080-c8cb-11e8-925e-6462f0294902.png">

**Where was the bug observed**
Production environment.

**To Reproduce**
Steps to reproduce the behavior:
0. Have Spanish selected as the lan

[2018-10-05 21:30] dlarner3194 commented on #3315
I can take this one

[2018-10-05 21:35] rowasc commented on #3315
Thanks @dlarner3194 , let us know if you need any assistance

[2018-10-05 23:12] gowrimanoharir commented on #2373
Hi, I would like to pick this up.

[2018-10-05 23:16] simmytruong commented on #3306
great thanks @rowasc and @dalezak

[2018-10-06 08:11] theauditor commented on #3240
No, Could not.

*Blaise M  Crowly*
*"vi veri veniversum vivus vici"*
*www.xincoz.com <http://www.xincoz.com>  *

On Fri, Sep 28, 2018 at 7:25 PM Romina Suarez <notifications@github.com>
wrote:

[2018-10-06 12:12] simmytruong commented on #3306
hi, I have just upgrade the iOS application to the latest version since last minutes ago.

When I added my site, it displays:

"Problem logging in - An unknown error has occurred" Seems that it is not a CORS issue any more. But no information returns. May you please give an advice?

Thanks,

[2018-10-08 10:53] Angamanga commented on #2746
@rowasc Yes, it would be a good code-in issue, more information about it with recommendations can be found here: https://www.w3.org/TR/WCAG20-TECHS/G1.html But I can add a more detailed spec for it as well.

[2018-10-08 11:03] Angamanga commented on #2538
@rowasc The location-picker does though, but it would require more work than "just" adding the + signs as in my image.

[2018-10-08 17:55] rowasc commented on #3306
@simmytruong apologies for the delay in answering.
Can you tell us what you see in the application/logs folder, specifically in the file for today/when the error happened ? Any errors there that can be useful in debugging this?

[2018-10-08 18:23] rowasc opened #3317 "Add GitPod easy setup for API Playground"
**Main usecases*
-  for OSS users who only want to use the client to code/debug things without setting up the API
- having a baseline/expectations of what the API should return for every scenario that is clear to read
- easier docs.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-280

[2018-10-08 19:17] Erioldoesdesign commented on #2003
@rowasc Consider the design side of this ticket for hacktoberfest/Google code in?

[2018-10-08 19:28] rowasc commented on #2003
@Erioldoesdesign that would be great yes!

[2018-10-08 19:29] rowasc commented on #2003
@Erioldoesdesign can you create a design ticket for it and reference from this one?
This is something I'd love to have at some point so if someone can provide assistance on design it'd be awesome.

[2018-10-08 19:43] jrtricafort opened #3318 "Metrics Pull - "Posts" and "Monthly Deployment Creation" for Q2 and Q3 2018"
Data request. Need to fill out this metrics doc again. Specifically the Posts tab and the Monthly Deployment creation tabs for Q2 and Q3 2018.

https://docs.google.com/spreadsheets/u/1/d/1mehBmLZOmwb0zpIt9EF1dIHtPSEH-GH1vmTghj8O8O0/edit

Deadline is October 12.

Sync'd with @rowasc We think we can do this without heavy excel work required. Romina will take a look and will let @jrtricafort know if

[2018-10-08 19:59] Erioldoesdesign opened #3319 "More than one photo per post - Design"
## Want to work on this issue?🙋
Comment below. If someone else has claimed it, ask if they've opened a pull request already and if they're stuck -- maybe you can help them solve a problem or move it along!

## Description
Linked to issue #2003

As a user I can currently only load one photo to a post when replying to a Ushahidi survey. I'd like to be able to use the single 'Add images' button to up

[2018-10-08 21:05] Erioldoesdesign commented on #1703
You actually can't upload a video via the browser version:
![Screen Shot 2018-10-08 at 22.00.58.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/43fe1a1c-83a1-4503-883f-bf62372c9f73)

So the mobile app needs to have separate wording saying you can upload a video

This ticket needs changing so when you add the field it reads:
Embed video
"Allows Youtube or Vimeo videos to be embed

[2018-10-08 21:09] Erioldoesdesign opened #3320 "Resize the youtube and vimeo logos so they aren't blurry in survey creation"
As a user, when responding to a survey that has a field available for video URL, I see a YouTube logo and Vimeo logo that are blurred. I want to see non-blurry logos for each of these.

Suggest either resizing/locating larger logos and replacing existing files
or
Editing current CSS styling to fit the natural image size
or
Substitute with Font Awesome Icons.

![Screen Shot 2018-10-08 at 22.00.58.p

[2018-10-08 21:28] Erioldoesdesign opened #3321 "Disable the text link 'Bulk Actions' when there are no posts in a list"
As a user I don't want to have unnecessary call to action buttons when there is no content that will be affected by the action/function.

When there are no posts in a deployment the 'Bulk Actions' text link should not be clickable and should be in a 'disabled' state.

The 'Bulk Actions' link should still be viewable but clearly not able to be clicked to expand the bulk actions 'menu':

![Screen Sh

[2018-10-08 21:29] Erioldoesdesign commented on #3321
@rowasc Do you think it's too complex?

[2018-10-08 21:42] rowasc commented on #3321
@Erioldoesdesign this looks like a good first-time-contributor issue

Note: For anyone checking this out/deciding if you want to pick it up:
I think it can be toggled using the `$scope.totalItems > 0 ` as the condition for the link to be disabled/enabled. It's in the post-view-data.html and post-view-data.directive.js files

[2018-10-08 23:09] simmytruong commented on #3306
hi @rowasc

Thanks for your update. I will send you the logs soon when I bring up my docker up again.
For easy troubleshoot, I would like you to reproduce my case, it is pretty simple by:
- Download https://github.com/ushahidi/platform-release/archive/v4.0.0.tar.gz
- Unzip and then you go the extract folder, and type docker-compose up.
- This will bring up dockers with nginx http webserver.
- Afte

[2018-10-08 23:10] mikestratton commented on #3321
I will work on this if no one else has picked it up yet.

[2018-10-09 03:16] simmytruong commented on #3306
hi @rowasc

When I check the nginx logs, I can see this message:
"XXX.XXX.XXX.XXX - - [09/Oct/2018:03:13:12 +0000] "GET /config.json HTTP/1.1" 200 290 "-" "Ushahidi/1.12 (iPhone; iOS 12.0; Scale/3.00)""

that means the iOS can get the config.json file. But somehow, it still displays the issue as I mentioned above: "Problem logging in - An unknown error has occurred"

And when I curl to my site:

c

[2018-10-09 10:17] sky1911 commented on #3320
Why don't you use Font Awesome icons for this?

[2018-10-09 12:04] Erioldoesdesign commented on #3320
@sky1911 Oh! great suggestion. 100% in favour of substituting for font awesome icons but would need to be QA'd on lots of different devices for my peace of mind :)

[2018-10-09 13:52] rowasc commented on #3320
@Angamanga  I see font-awesome is already added in the PL but it's not being applied correctly when I use the FA classes, probably some bug?

(following up from our slack convo, see Skky1911's and Eriol's comment above)

[2018-10-09 17:41] rowasc opened #3322 "README.md link to report security is broken"
**Describe the bug**
The link format is incorrect

**Fix**
Use [text here] (link) format

[2018-10-09 17:41] rowasc commented on #3322
reported by @sinneruy

[2018-10-09 17:43] #3322 closed

[2018-10-09 19:19] sinneruy opened #3323 "[Demo accounts] Add post button on data view is covered by "Upgrade now" banner"
# Problem
Add post button on data view is covered by "Upgrade now" banner.

# Steps to reproduce the behavior:
1. Go to https://hacktoberfesttest.ushahidi.io/views/data
2. Log in as any role that can add posts.
3. Add post button is below the "upgrade now" banner.

 - OS:  Windows 10 pro
 - Browser FF dev edition 63.0b11 (64-bit) / Chrome 69.0.3497.100

# Workaround
- Add from `map` view

[2018-10-09 19:35] rowasc commented on #3323
@Erioldoesdesign @justinscherer what should we do about the add post button here?
<img width="1441" alt="screen shot 2018-10-09 at 4 34 52 pm" src="https://user-images.githubusercontent.com/2434401/46693812-47f32f80-cbe1-11e8-8c34-0d61e5e51766.png">

Thanks @sinneruy for the bug report :)

[2018-10-09 19:38] sinneruy commented on #3321
Starting on this one, if no one is working on it yet.

[2018-10-09 19:41] rowasc commented on #3323
Pinging @sethburtonhall since he might know what to do here

[2018-10-09 19:51] justinscherer commented on #3323
Nice catch. Shift the button 24px above the banner. Should solve it.

[2018-10-09 19:56] sethburtonhall commented on #3323
@justinscherer we will have to accommodate for various screen sizes which is fine, but there may be a need for logic to change display based on whether demo bar is true or false

[2018-10-09 21:30] sinneruy opened #3324 "post-view-data Total items is not updated correctly when there is 0 post left"
**Describe the bug**
Total items is not updated correctly when there is 0 post left after deleting posts using the bulk action.

**Where was the bug observed**
https://test.ushahidi.io/views/data

**To Reproduce**
Steps to reproduce the behavior:
1. Go to /views/data
2. Log in as Admin
3. Click on bulk actions
4. Select all the posts
5. Press Delete and confirm
6. The posts count shows 0 of 20 pos

[2018-10-09 21:31] rowasc commented on #3324
@sinneruy is working on this one, tagging

[2018-10-10 03:12] rowasc commented on #3321
This will go to QA once sad-charlie is free .
Assigning to myself for release

[2018-10-10 03:15] rowasc commented on #3324
@Angamanga sending in case you can find a bit of time to review this week. I can retest it.
I _think_ it looks good, but there might be a reason we did the totalItems assignment to the itemsPerPage instead of setting it to zero from the beggining.
Anyway.. lmk what you think.

[2018-10-10 04:52] rowasc commented on #3305
https://devcenter.heroku.com/articles/heroku-button

[2018-10-10 11:59] Erioldoesdesign commented on #3323
Is there a z-index on the add post button? If so would be bringing it forward 'layer' wise be a simple fix?

It has a drop shadow so shouldn't blend into the yellow of the banner. Thoughts?

(also pro moving it too but as Seth says, it might be wonky on different sizes)

[2018-10-10 12:26] Angamanga opened #3325 "Load new posts bar is not displaying the correct number of posts"
**Problem**
If the "Load new posts" bar is visible when the client is checking for new posts, the previous number of new posts is added to the total number of new posts

**Reproduce the bug**
1. Open the data-view in one browser
2. Add a new post in a second browser (or tab)
3. Go back to the first browser, wait until the "Load new posts" appear, it should say 1 new post.
4. Don't click on the loa

[2018-10-10 12:40] Angamanga opened #3326 "When you delete a post in dataview, the total number of posts is not updated"
**Problem**
If I delete a post in dataview the total number of posts displayed on the top still remains the same (for example, before deleting: "20 of 20 posts". After deleting: "19 of 20 posts"

**Reproduce the bug**
1. Go to dataview, note how many posts are displayed in top of the list.
2. Delete one post
3. Note how many posts are displayed in the top of the list.

## Implementation notes
- Fi

[2018-10-10 12:53] sethburtonhall commented on #3323
@Angamanga has a good solution [here](https://github.com/ushahidi/platform-client/pull/1270)

[2018-10-10 13:50] Erioldoesdesign commented on #3323
@sethburtonhall I much prefer this solution. Thorough and will make for neat code/structure :)

[2018-10-10 16:54] #3321 closed

[2018-10-10 16:54] #3324 closed

[2018-10-11 17:33] Nthiga opened #3327 "Curate Twitter Content for ISOOKO Deployment"
I'd like to curate twitter content under isooko.ushahidi.io

Selected key words to include

1. Peace Education Rwanda
2. Ubumuntu
3. Aegis Trust
4. Moja Wifi Kigali

[2018-10-11 18:51] rowasc opened #3328 "Setup gitbook for documentation"

[2018-10-12 12:01] Shadrock opened #3329 "Comply with Twitter ToS for storing Twitter Data"
## Overview
This issue is two fold. First, I need to re-open #3073 and have those datasets exported again, only this time there must be an associated column for all Twitter data and that column shall include the Tweet ID ([possibly also known as the Snowflake?](https://developer.twitter.com/en/docs/basics/twitter-ids.html)). Secondly, we need to change the way Tweets are stored in Ushahidi because

[2018-10-12 12:05] Shadrock commented on #3073
The data @willdoran provided were great... except that they did not include the Twitter ID for posts created directly (not manually by a volunteer). This causes two problems: the first is that it makes it very difficult to differentiate between a post purposefully sent to the deployment and a Tweet that was collected automatically and this differentiation is at the heart of the some of the impact

[2018-10-12 13:48] rowasc commented on #3329
@willdoran
1. Agree. This shouldn't be a huge problem at the technical level, but I can see how for users, deleting content would be annoying and potentially problematic if they are used to getting the data (including all the content) easily in exports etc and now they can't anymore.
2. for search, I think it would have to become a feature that searches against the twitter API directly, since we n

[2018-10-12 13:55] rowasc commented on #3073
Thanks, @Shadrock.
I need to deal with a small P0 thing then I'll go get this data for you, should be done today. I'll update you here .

[2018-10-12 13:58] willdoran commented on #3329
@rowasc Those are good points, we'll need to arrange a discussion with @justinscherer and @jrtricafort

[2018-10-12 17:30] rowasc commented on #3073
@Shadrock starting on this

[2018-10-12 18:05] sky1911 commented on #3320
@rowasc maybe you're using the classes from FA 5.0 (newest version) and the FA embedded on the website is an older version.

[2018-10-12 20:33] willdoran opened #3330 "Update Twitter data source to retrieve only the tweet and user ids"
The Twitter Data Source should only retrieve and store the Tweet ID and the User ID.

# Spec
- Update the Twitter DataSource to return just the twitter ID, not its content
- Update the Twitter DataSource to return the twitter user id, not their user name
- [Maybe] Stop returning the twitter geographic info (#3329 (comment))
- Don't pull the user's geo info

[2018-10-12 20:33] willdoran opened #3331 "Block export of Tweet fields and Tweet contact info"
When exporting data whose source is Twitter only the Tweet and User IDs should be exported. ALl other data - including Post Description and Geolocation should not be included.

@rowasc @jrtricafort I feel we need a better description of what exactly we are going to do here. It depends to a certain extent on whether we can determine which Post fields are likely to contain tweet information - we can

[2018-10-12 20:33] willdoran opened #3332 "Allow only export of Tweet Id and User Id"

[2018-10-12 20:33] willdoran opened #3333 "Add Tweet field to Survey to display Tweets when no description present for Post"
In order, to more directly associate a Post with a Tweet I suggest that we add a new Survey Field type: Tweet.

When this field is on a Survey and a Post of that Survey type is generated from a Tweet, this field will hold the Tweet ID.

When displayed on view it will show the Tweet in Tweet format. When in edit mode it will display the editable URL for the Tweet.

When a Post is displayed in slimm

[2018-10-12 20:33] willdoran opened #3334 "Read Tweet directly from twitter"

[2018-10-12 20:33] willdoran opened #3335 "Display tweet as tweet in conversation with author"

[2018-10-12 20:34] willdoran opened #3336 "Display Tweet information as Tweet on Post"

[2018-10-12 20:34] willdoran opened #3337 "Display Tweet in tweet format on map and data view when description is missing"

[2018-10-12 20:34] willdoran opened #3338 "Refactor Twitter Data Import"

[2018-10-12 22:06] rowasc commented on #3073
UPDATE, sent datasets, I think they are fine unless we want to remove more data than the unstructured text of tweets, ping me and we can adjust as needed

[2018-10-13 12:56] tuxpiper commented on #3327
Closing in light of the findings of #3329

[2018-10-13 12:56] #3327 closed

[2018-10-15 13:50] #3332 closed

[2018-10-15 13:55] #3335 closed

[2018-10-15 13:55] #3336 closed

[2018-10-15 13:55] #3337 closed

[2018-10-15 14:27] rowasc commented on #3320
@actuallyakash very likely. If you try it and figure it out let us know :)

[2018-10-15 14:28] rowasc commented on #3315
@dlarner3194 hey, how is it going? Do you need some support here?
please feel free to reach out in this issue or https://gitter.im/ushahidi/Community
Thanks!
cc @Angamanga

[2018-10-15 18:36] rowasc commented on #3331
@willdoran  I think the extra problem here is deciding what happens in the scenario where we had a tweet, then a user converted it to a post and added more content. Do we prevent users from adding that content? Do we prevent users from converting tweets to posts with other fields, in an effort to avoid having a copy-paste problem where the user decides to bring in the content of the tweet to anoth

[2018-10-15 18:54] willdoran commented on #3331
@rowasc Yeah, I think that's valid. I honestly do not foresee being able to remove that data nor do we likely have the right to. I think we should however, make an attempt to remove the author information and to insert a tweet field to hold the info

[2018-10-15 20:14] willdoran commented on #3331
It's worth pointing out that we can check Post against the Messages which will contain the original information and then allow us to scrub the data.

[2018-10-15 20:22] willdoran opened #3341 "Research Twitter current usage, consider removal for new users"
- We believe the right to be forgotten wins here over the right to save the data (that should not have been saved)
- We are deleting all messages and blanking out post content and post.title where they match the tweet
- We need to notify the users of the twittter datasource so they know this is coming
- We can do this with a migration since it will apply to everyone who has used the Twitter dataso

[2018-10-15 22:45] rjmackay commented on #3341
Quick summary from Slack (without details because this is a public issue)

- Only about 30 paid or grassroots deployments use Twitter at all
- Once we ignore draft posts, it gets down to just 6 deployments with a handful of posts
- Unpaid deployments will get archived if they don't upgrade soon

I think this means that a lot of the issue with old Twitter data will go away once free (aka basic) dep

[2018-10-15 22:48] rjmackay commented on #3333
The original Tweet ID is already tracked through the messages table, I don't think we should duplicate this info, but we should return it in the posts payload

[2018-10-15 23:01] rjmackay commented on #3331
To grab the count of messages the post has the tweet unchanged
[code]

[2018-10-16 04:13] Angamanga commented on #3320
@rowasc @actuallyakash Sorry I didn't follow up on this. The font-awesome font files are left over from a while ago. We no longer use it but its worth a try. (Otherwise we should really remove it, but will watch this and see how it goes first).

[2018-10-16 11:45] josejuansanchez commented on #3240
@theauditor I have the same issue. Do you have any idea about how to solve it? Thanks.

[2018-10-16 12:00] theauditor commented on #3240
Tried all I could find online. No luck. Most off the issues and solutions posted online has no connection with this current problem am facing.
Having followed and retried with install instructions again and again I have been unable to get results.

On October 16, 2018 5:15:38 PM GMT+05:30, "José Juan Sánchez" <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please e

[2018-10-16 12:44] rowasc commented on #3240
@theauditor @josejuansanchez would you mind posting what the server returns if you call the platform api directly, and the logs from that action?
(the logs can be in application/logs if you are using a v3.x.x release, or in storage/logs if you are in v4.x.x/develop)

[2018-10-16 12:45] rowasc commented on #3240
oh sorry misread the issue.
@theauditor @josejuansanchez the 404 in /api/v3/config points to a misconfiguration in nginx, can you review that the platform directories  you are referencing in nginx are available and have the correct permissions?

[2018-10-16 13:04] theauditor commented on #3240
It kept returning 404 on direct all.
I set all the permissions to 777 to test and still faced the issue.
Will try and post the directory tree, but Dont think there is an issue there.

Kind of confused. The chance exist that o may have screwed up something on my side. Let me try a fresh install and see.

On October 16, 2018 6:15:31 PM GMT+05:30, Romina Suarez <notifications@github.com> wrote:

--
S

[2018-10-16 13:08] rowasc commented on #3240
@theauditor great. Thanks. If there's a 404, it's 99% chance that there's something wrong in that setup. A suggestion for debugging it is that you add a simple PHP script in the httpdocs directory and verify that it gives you a 404 too (in $document_root/platform/httpdocs/hello.php ) ,
You can even do it in a separate directory structure if you want to rule out problems with the platform dir confi

[2018-10-16 13:13] theauditor commented on #3240
Will do and get back. :)

On October 16, 2018 6:38:30 PM GMT+05:30, Romina Suarez <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-10-16 18:23] #3323 closed

[2018-10-16 18:28] rowasc commented on #3240
@josejuansanchez that's great info , thanks for sharing 💯 . Were you using the platform-release or the platform repository? Would you like to open a PR with what you had to change for it work in apache 2.4 ?

[2018-10-16 20:04] willdoran opened #3342 "Twitter display support for Mobile"
- Tweets should be displayed using Twitter api to fetch them.
- For Posts that contain Tweets or for Conversation with Author sections that are Tweets, the Mobile App should expect to use the Tweet ID to retrieve the Tweet directly from the Twitter API live.
      - this means we should have support for showing a tweet using the `data_source_message_id` from message.data_source_message_id that wil

[2018-10-17 02:04] rjmackay commented on #3334
It looks like this angular module might work: https://github.com/arusahni/ngtweet/
`<twitter-widget twitter-widget-id="'617749885933232128'">
</twitter-widget>` will embed a tweet. We can also add options to show/hide the full conversation too.

Basic changes:
- Ensure API returns the tweet ID with post payload
- Hide 'Conversation with Author' when source = twitter
- Add ngtweet module
- Show twe

[2018-10-17 02:07] rjmackay commented on #3331
The most sensible way to implement this would be to add a migration which scrubs on twitter info:

- Add new migrations
    - Update posts `where messages.data_source = 'twitter' AND posts.content = messages.message` and delete posts.content.
    - Update messages and delete message content if type = twitter
    - *maybe* Update contacts and wipe twitter contacts?
    - Because this could be imple

[2018-10-17 02:10] rjmackay commented on #3329
I'm not really clear if we can use Tweet locations or not.

It seems like if we store the location *with* the Tweet ID maybe we can use it? But we probably shouldn't allow it to be exported

[2018-10-17 02:11] rjmackay commented on #3330
This should be fairly straight forward since its mostly removing code, not adding to it.

- Update the Twitter DataSource to return just the twitter ID, not its content
- Update the Twitter DataSource to return the twitter user id, not their user name
- *maybe* Stop returning the twitter geographic info (https://github.com/ushahidi/platform/issues/3329#issuecomment-430464152)
    - Definitely don'

[2018-10-17 02:13] rjmackay commented on #3333
@willdoran are you happy if I close this? I think its covered by #3334

[2018-10-18 12:35] rowasc opened #3343 "Write a blog post about hacktoberfest"

[2018-10-18 12:36] rowasc opened #3344 "Plan an online meetup with OSS users"

[2018-10-18 17:04] rowasc commented on #3334
@Angamanga assigning so you can spec and progress this in the client :)

[2018-10-18 17:05] rowasc commented on #3334
Note this won't be possible if we delete the lat-lon and never save it for tweets , which I believe we should

[2018-10-18 19:30] rowasc commented on #3333
Agree with tihs (discussed with Will as well). Closing

[2018-10-18 19:30] #3333 closed

[2018-10-18 19:47] rowasc commented on #3334
re:  Hide 'Conversation with Author' when source = twitter
@rjmackay @willdoran
I think ideally we would show the tweets directly instead of hiding the conversation with author completely . Is there a reason (ie ToS) for hiding it that I missed?

[2018-10-18 19:51] rowasc commented on #3342
@dalezak we have this issue, related to this twitter data import epic https://github.com/ushahidi/platform/issues/3338  where we need to change the way we display posts that are coming from twitter so that we render the content directly from the Twitter API instead of getting the tweet's content from our database. The Platform API will return the tweet id which should be used to fetch the tweet fr

[2018-10-18 20:09] rowasc commented on #3334
Oh, Will mentioned this  (re: Hide 'Conversation with Author' when source = twitter
) is about showing the tweet replies/thread directly. @rjmackay is that correct?

[2018-10-18 20:39] rjmackay commented on #3334
I meant removing our custom 'Conversation with author' component, since we can use Twitters conversation thread directly. There's a couple of things.
1. We have to drop the twitter user names from the backend so we might not have the data for this, although I suppose we have user id.
2. `Show tweet with conversation on post detail page` will include any conversation with the author anyway.

[2018-10-18 20:59] dalezak commented on #3342
@willdoran @rowasc @jrtricafort is there a possible simpler solution to this as temporary fix?

I don't know the full requirements, but perhaps a workaround to change the post title to include `(from Twitter)`?

For example, the post `Here's a post hole on my street` becomes `Here's a post hole on my street (from Twitter)`?

[2018-10-18 21:18] willdoran commented on #3342
@dalezak No, unfortunately not

[2018-10-18 21:36] rowasc commented on #3330
note self: twitter username should change to twitter id

[2018-10-19 08:52] derryhandoyo opened #3345 "Ask about installation for development purpose"
i got an error while trying to set vagrant up. and these is the error "Check your Homestead.yaml file, the path to your private key does not exist"

Steps to reproduce the behavior:
1. clone repo
2. doing composer install
3. doing vagrant up

 - OS: windows 10

[2018-10-19 10:33] tuxpiper commented on #3328
All set up here, ensuring team access atm

[2018-10-19 10:33] #3328 closed

[2018-10-19 14:38] rowasc commented on #3342
@dalezak sadly no. This is needed because of https://github.com/ushahidi/platform/issues/3329

[2018-10-19 14:49] dalezak commented on #3342
Hmm @willdoran @rowasc, I'm not sure whether the suggested solution is feasible, or at least not without a lot of effort.

Pulling tweets from Twitter API is a big job, several days of work to wire up the provider, refactor how posts are displayed, etc.

Isn't there another server side workaround? For example rather than displaying the tweet text, display the URL to tweet instead? This way the use

[2018-10-19 15:07] willdoran commented on #3342
@dalezak Why is it difficult to retrieve a tweet with a given ID and display it formatted as a Tweet in Ionic?

This is pretty high priority so if the only option we have is to display the tweet as a link we will have to do that.

[2018-10-19 15:14] dalezak commented on #3342
@willdoran it will just take some time to wire up that functionality:
- setup a Twitter API key
- add Twitter NPM module
- add Twitter provider
- refactor data model to store `data_source_message_id`
- update page to use Twitter provider
- display that tweet in the page

Perhaps a better option is to just use the Twitter embed?

https://developer.twitter.com/en/docs/twitter-for-websites/embedded-t

[2018-10-19 15:32] rowasc commented on #3342
@dalezak @willdoran I think the embed sounds good enough as a hotfix at least. We can do a follow up issue for better UX after going live next week, I think.

[2018-10-19 15:53] dalezak commented on #3329
Sorry @Shadrock @willdoran @rowasc @rjmackay, I'm just catching up on this issue, since it looks like it might require some changes to the mobile app for https://github.com/ushahidi/platform/issues/3342.

Are these changes we're proposing here **explicitly required from Twitter**? Or are they changes we're **imposing on ourself to be a good partner**?

I'm just trying to better understand the prob

[2018-10-19 15:56] dalezak commented on #3342
@willdoran @rowasc I commented here https://github.com/ushahidi/platform/issues/3329#issuecomment-431410411, I'm wondering whether displaying Twitter's embed in the app is necessary to comply with Twitter ToS?

For example, if the data was purged or cleaned server side for deleted Tweets, then the mobile app wouldn't require any changes since it would pull those updated posts?

[2018-10-19 15:59] willdoran commented on #3329
@dalezak
They are explicitly required by the Twitter terms of service. Under no circumstances can we copy or store any Tweet data other than Tweet ID and User ID.

[2018-10-19 16:00] willdoran commented on #3342
@dalezak Can you estimate how long it will take to implement the embed option?

[2018-10-19 16:15] dalezak commented on #3329
Hmm, @willdoran the paragraph that @Shadrock shared above sounds more related to downloading of content like through CSV export:

The part `API that returns Twitter Content` does sound problematic, however any Twitter client would also violate the ToS in this case?

Has anyone contacted Twitter to get clarification on what needs to be done to comply to their ToS?

[2018-10-19 16:21] willdoran commented on #3329
@dalezak We've reviewed in detail the Twitter Terms of Services, these changes are necessary for us to comply with them and more importantly with GDPR. This is a grant requirement for two of our largest on going projects.

[2018-10-19 18:40] willdoran commented on #3331
@jrtricafort @aoduor Hey guys, I just want to make sure you're aware, the change we will be pushing will be removing obvious stored data, the tweet ids will be retained but this is the most effective update we can do. It will prevent data that should never have been stored from being retained.

[2018-10-19 20:02] ArturoQuintana opened #3347 "Migration process to v4"
Yesterday we started the migration process of our Ushahidi instance from v3 to v4.

Unfortunately, after applying all the commands to complete the process, our instance does not work correctly due to the following errors:

- There are some errors "500". This usually happens once you visit our page and reload it.
- If we reload the page, sometimes we lose the publications (that happens randomly, as

[2018-10-19 20:39] rowasc commented on #3312
Closing this was released

[2018-10-19 20:39] #3312 closed

[2018-10-19 20:40] rowasc commented on #3244
Closing this was done

[2018-10-19 20:40] #3244 closed

[2018-10-19 20:41] rowasc commented on #3239
@Eve-wanderi @dalezak  not urgent, I know you all have a lot to do right now,  but what's this about/what are we doing with this issue?
Can we close it?

[2018-10-19 20:42] rowasc commented on #3237
@Eve-wanderi could you test this and close if it's done?

[2018-10-19 20:43] rowasc commented on #3242
@rowasc to sync up with @Eve-wanderi next week on our 1-1

[2018-10-19 20:44] rowasc commented on #3204
Closing as Will finished the migration

[2018-10-19 20:44] #3204 closed

[2018-10-19 20:46] rowasc commented on #3254
Closing as this release went live

[2018-10-19 20:46] #3254 closed

[2018-10-19 20:48] rowasc commented on #3318
Closing this was delivered

[2018-10-19 20:48] #3318 closed

[2018-10-20 20:17] rowasc commented on #3334
@Angamanga FYI you will receive the tweet id in `data_source_message_id` in the post's request (branch: save-and-exporttweets-without-message in platform). Let's see where we are this monday when we sync up :D

[2018-10-22 04:16] derryhandoyo commented on #3345
ah my bad.. i forget renaming my ssh key before.. thats why it can find the key.. thanks for the response

[2018-10-22 04:16] #3345 closed

[2018-10-22 04:16] derryhandoyo commented on #3345
ah my bad.. i forget renaming my ssh key before.. thats why it can find the key.. thanks for the response

[2018-10-22 04:16] derryhandoyo commented on #3345
ah my bad.. i forget renaming my ssh key before.. thats why it can find the key.. thanks for the response

[2018-10-22 04:17] derryhandoyo commented on #3345
ah my bad.. i forget renaming my ssh key before.. thats why it can find the key.. thanks for the response

[2018-10-22 06:30] derryhandoyo commented on #3345
ah okay that one is my mistake.. i forget when renaming my ssh key before

[2018-10-22 16:08] rowasc commented on #3342
bumping. @dalezak see  @willdoran question above.
Also: note that the `data_source_message_id` used to load tweets will come in the post directly  (edited my original comment)

[2018-10-22 16:34] rowasc commented on #3341
@willdoran can you verify this is correct, from our chat last friday ?
- We believe the right to be forgotten wins here over the right to save the data (that should not have been saved)
- We are deleting all messages and blanking out post content and post.title where they match the tweet
- We need to notify the users of the twittter datasource so they know this is coming
- We can do this with a mi

[2018-10-22 16:41] willdoran commented on #3341
@rowasc I agree with these but we need to check with @aoduor to make sure it's ok and how to communicate it. We should replace title with something like From Twitter and a date it was created.

[2018-10-22 16:50] rowasc commented on #3341
Ah yea Agree, `From twitter on {date}` maybe ?

[2018-10-23 00:34] rowasc commented on #3347
@tuxpiper @willdoran adding context on the two issues that I've been trying to follow up on today. We need some help in point `2` first if one of you can, since nobody can log in to the site.

1 - The .ENV variables are sometimes not being read. At the moment we verified this was the case by hardcoding the values in the ohanzee-db.php file and adding a database.php file like the one lumen has, whi

[2018-10-23 09:01] Angamanga opened #3350 "Deleted tweets"
**What should we do with tweets that are deleted on Twitter?**
If a Tweet is deleted from Twitter, the tweet-id is right now still captured in our database. We need to have a conversation about:
1. Do we want to keep that? @Erioldoesdesign pointed out that it might cause problems for a example an activist that wrote a number of Tweets and then deleted them. If someone has collected those tweets in

[2018-10-23 09:16] Angamanga opened #3351 "Conversation with Tweet-authors"
**Conversation with Author for Tweets**
We now have a functionality where you can reply to a Tweet in the platform, but this functionality is broken/not very pedagogic right now. You can reply to a tweet but replies back to that tweet is not displayed in the thread if it doesnt contain the keywords/hashtags are added to the deployment. I have removed it from the front-end for now. And the tweets t

[2018-10-23 11:06] Angamanga commented on #3350
Hiding posts connected to deleted tweets from the front-end turned out to be an terrible idea, its hard and hacky, lets sync to see if its possible to do it from the backend instead @rowasc.

[2018-10-23 12:59] willdoran commented on #3350
@Angamanga We should just add a message to say it's deleted. What does Twitter return if the tweet is gone?

[2018-10-25 16:16] Angamanga opened #3355 "The fab-button has wrong margin in data-view on non-demo-deployments"
The fab-button has the adjusted margin for demo-deployments on non-demo-deployments:
![Screen Shot 2018-10-25 at 18.13.07.png](https://images.zenhubusercontent.com/5a6f2bce4b5806bc2bc4b158/5cae7f93-9cef-4454-bebb-b0b9ab23e513)

Hint: Check css-selector and https://github.com/ushahidi/platform-client/blob/develop/app/common/global/event-handlers.js#L15-L23

[2018-10-25 16:31] rowasc commented on #3355
Assigning a P1 as this is not a "can't use the site" thing but certainly annoying and not good usability.
@Angamanga could you check this out tomorrow if you find some time? thanks!

[2018-10-28 01:05] philam commented on #2462
Hi, apologies I also missed this notification! I didn't request support anywhere else and I am still unable to install (as per the same error).

Happy to provide additional details if necessary.

[2018-10-29 15:51] rowasc commented on #2462
thanks @philam.
The failed opening file error just seems like the apache setup is pointing to the wrong directory? probably the root dir being wrong.
-----
Alternatively, since we've added and changed quite a bit from what the platform was back in February,  a suggestion would be following the instructions in the readme with the v4.x release , and going from there. There's also a new XAMPP setup g

[2018-10-30 15:12] willdoran commented on #3347
@ArturoQuintana

Are you still experiencing the login in issue?

What version of the Ushahidi Client are you using?

I would suggest that you try the following:
1. Do a clean install on a completely clean server and clean DB
2. Test that you can login normally
3. If that works point the platform at your production DB
4. Report back if that works.

[2018-10-30 15:59] rowasc commented on #3100
@Erioldoesdesign is this done?  should we close it?

[2018-10-30 16:03] #3330 closed

[2018-10-30 16:03] #3341 closed

[2018-10-30 16:03] #3331 closed

[2018-10-30 16:04] rowasc opened #3366 "Apply Twitter updates in ISOOKO server"

[2018-10-30 16:04] rowasc opened #3367 "Apply twitter updates in SIVICO Server"
Opening just to track that it was doen

[2018-10-30 16:04] #3367 closed

[2018-10-30 16:05] rowasc opened #3368 "Apply twitter updates in Uchaguzi Server"
Requires an upgrade to the new lumen codebase and merging with the custom code that's in uchaguzi or deciding if we need uchaguzi to use the mainstream repo... alternatively we can just merge the twitter fixes but that might take more or less the same amount of time? Not sure, need to review this more

Aha! Link: https://ushahiditeam.aha.io/features/PROD-32

[2018-10-30 16:05] rowasc opened #3369 "Apply Twitter updates in comrades-staging"
Done

[2018-10-30 16:05] #3369 closed

[2018-10-30 16:06] rowasc commented on #3342
@dalezak can we schedule the new twitter display change for this week/the next one?
cc @willdoran

[2018-10-30 18:13] rowasc commented on #3100
Cool! closing . I dont' have access to the trello so I wasn't sure :) thanks!

[2018-10-30 18:13] #3100 closed

[2018-10-30 18:34] rowasc commented on #3296
@Eve-wanderi bumping . See my message above

[2018-10-30 18:35] rowasc commented on #3295
Ah, I found this old ticket that we discussed doing when migrating the exports to the platform repo. Sending it in case you want to check it out after multisite is done

[2018-10-30 18:37] rowasc commented on #2916
The new release will not have this anymore.  Merged in develop https://github.com/ushahidi/platform/blob/develop/composer.json .
Moving to waiting to deploy so I generate the release packagge.

[2018-10-30 18:39] rowasc commented on #3237
@Eve-wanderi could you test this and close if it's done?

[2018-10-30 20:07] Shadrock commented on #3069
@rowasc Ok... this is finally happening. In November. And on short notice... apologies for that. To close this issue out I need:

- [ ] A demo version of the COMRADES platform. Can we use the URL: https://comrades-test5.ushahidi.com? This version should have all integrations _except_ the FB bot.
- [ ] A hosted version of Ushahidi Basic (I think that's what we're calling it now) with a one year lic

[2018-10-30 20:23] rowasc commented on #3069
- Hosted ushahidi: yes that approach is fine. Once they are setup ping us to upgrade it
- this would be like comrades-stg but without FB BOT right? If yes, thats fine, I will do it tomorrow and ping you if anything goes wrong, I just need to rearrange my plan for the day and if I need to I will switch my days off so we make it .

[2018-10-30 22:23] Shadrock commented on #3069
Thanks so much @rowasc: I owe you one.

Correct.

[2018-10-31 01:36] rowasc commented on #3069
Updating since I only did it in slack
-.The test server is up. Need to do some tests tomorrow to be safe but it looks fine.:tada:

[2018-10-31 18:45] rowasc commented on #2703
Anna already checked this during SIVICO. closing

[2018-10-31 18:45] #2703 closed

[2018-10-31 18:52] #3213 closed

[2018-10-31 18:53] #2704 closed

[2018-10-31 18:55] rowasc commented on #3301
@Angamanga can you add an update for this issue when you're back? Thanks

[2018-10-31 18:58] rowasc commented on #3239
@Eve-wanderi @dalezak bumping. See question above.

[2018-10-31 19:54] rowasc commented on #2740
@Shadrock can I close this? It's the documentation in the config setup manual doc, right?

[2018-10-31 20:02] rowasc commented on #3176
@jrtricafort @aoduor assigning to you so you can close it once it's done (wasn't sure who was doing it , sorry for double assignment)

[2018-10-31 20:05] rowasc commented on #3057
Closing as this was delivered to comrades.
cc @Shadrock

[2018-10-31 20:05] #3057 closed

[2018-10-31 23:44] rjmackay commented on #3257
This should be fixed now I think?

[2018-11-02 19:10] Shadrock commented on #2740
Yes @rowasc, this can be closed out: doing that now!

[2018-11-02 19:10] #2740 closed

[2018-11-05 12:53] Erioldoesdesign commented on #3350
@willdoran Usually something that looks like this:
<img width="575" alt="screen shot 2018-11-05 at 12 52 15" src="https://user-images.githubusercontent.com/11681324/47999176-ac7aaf00-e0f9-11e8-8498-4d5e0dbbdfaf.png">

But we'll have still captured the Twitter ID in the post type. The only thing I'd like considered is the whole right to be forgotten thing and our duty of care on this.

Been meaning

[2018-11-05 23:12] Shadrock opened #3373 "COMRADES web resources for program close-out."
## Overview
The output of this epic will be a complete set of assets needed to close out the COMRADES program. Specifically there will be: a configuration manual, single Github repo with detail read-me page, and a single web page that corrals all these into a single point of access for users/viewers.

## Who is it for? Who are the users?
The COMRADES project has created a variety of outputs that n

[2018-11-06 00:46] Shadrock commented on #3069
We got everything we needed on this. Thanks all.

[2018-11-06 00:46] #3069 closed

[2018-11-08 12:17] Erioldoesdesign commented on #3350
@willdoran I think what you suggest sounds good given the guidance out there already and there's a record of this particular discussion.

I would say until we have a documented case of this going badly for a Twitter user (or them via GDPR-ness, requesting their ID be removed from platform too) we should just be aware of this potential outcome.

But I appreciate the discussion :)

[2018-11-12 16:46] Shadrock commented on #3373
![](https://github.trello.services/images/mini-trello-icon.png) [COMRADES demo deployment](https://trello.com/c/6cijIgb7/316-comrades-demo-deployment)

[2018-11-12 21:40] jrtricafort commented on #3176
@rowasc I believe this is done and we don't have plans for additional comms. Closing now.

[2018-11-12 21:40] #3176 closed

[2018-11-12 21:51] Shadrock commented on #3373
Some very good news on this @jrtricafort @willdoran... I think I've been able to get the "web page" aspect of this taken off our plate: I need to confirm in the next week or so, but it looks like our primary responsabilities will be in establishing the demo, writing up a clear readme page for the repo, and then laying out the COMRADES user manual.

[2018-11-13 05:42] jrtricafort commented on #3373
That is excellent news, @Shadrock ! Thanks so much for managing all of this, and definitely keep us posted. We'll support all the necessary closeout activity, but if we can get it done faster with a shorter list of items, even better!

[2018-11-14 02:30] sentry-io[bot] opened #3377 "Symfony\Component\Debug\Exception\FatalThrowableError: Class 'Ushahidi\App\Http\Middleware\DateTime' not found"
Sentry Issue: [PLATFORM-API-12S](https://sentry.io/ushahidi/platform-api/issues/762608400/)

[code]

[2018-11-14 03:54] sentry-io[bot] opened #3379 "ErrorException: Undefined index: extension_date"
Sentry Issue: [PLATFORM-API-12X](https://sentry.io/ushahidi/platform-api/issues/762997244/)

[code]

[2018-11-14 10:10] Angamanga commented on #3301
@rowasc Tenfour and dotcom is done, pattern-library for platform-client is still not done. Will try to finish this week so we can close this.

[2018-11-14 13:24] #3301 closed, assigned to Angamanga

[2018-11-14 19:34] micuentadecasa commented on #1075
I also think it can be very interesting

[2018-11-15 16:10] dalezak commented on #1624
Vimeo upload has been removed from the mobile app, so this issue is not longer relevant... closing issue.

[2018-11-15 16:10] #1624 closed

[2018-11-15 16:11] dalezak commented on #3248
This was fixed with https://github.com/ushahidi/platform-sivico/issues/52.... closing issue.

[2018-11-15 16:11] #3248 closed

[2018-11-16 10:53] aoduor opened #3383 "Docs: Open Source License Overview"
https://ushahidi.gitbook.io/platform-developer-documentation/~/drafts/-LRHaCHVnWnuxoItpF9_/primary/license-overview

Details coming up shortly.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-274

[2018-11-16 10:55] aoduor opened #3384 "OSS Code of Conduct"
We have an existing code of conduct here:

https://wiki.ushahidi.com/display/WIKI/Code+of+Conduct

Might be worth reviewing and reworking.

Gitbook page: https://ushahidi.gitbook.io/platform-developer-documentation/~/drafts/-LRHaCHVnWnuxoItpF9_/primary/code-of-conduct

[2018-11-16 11:01] aoduor opened #3385 "Docs: How to get in touch with us"
Move over what we have here: https://www.ushahidi.com/support/get-involved

to Gitbook: https://ushahidi.gitbook.io/platform-developer-documentation/~/drafts/-LRHaCHVnWnuxoItpF9_/primary/get-in-touch

[2018-11-16 11:14] aoduor opened #3386 "Docs: How to grab the source code"
Need to move existing docs on this from ushahidi support page to gitbook.

Gitbook link: https://ushahidi.gitbook.io/platform-developer-documentation/~/drafts/-LRHaCHVnWnuxoItpF9_/primary/getting-started/how-to-get-the-source-code

[2018-11-16 11:17] aoduor opened #3387 "Docs: Setting up your dev environment"
Move over from support page to gitbook.

Gitbook Link: https://ushahidi.gitbook.io/platform-developer-documentation/~/drafts/-LRHaCHVnWnuxoItpF9_/primary/getting-started/setting-up-your-development-environment

[2018-11-16 11:22] aoduor opened #3388 "Docs: Setting up the pattern library"
Move over pattern library documentation to gitbook.

Gitbook link: https://ushahidi.gitbook.io/platform-developer-documentation/~/drafts/-LRHaCHVnWnuxoItpF9_/primary/getting-started/setting-up-the-pattern-library-for-development

[2018-11-16 11:25] aoduor opened #3389 "Docs: Linux installation documentation"
Migrate installation instructions to gitbook.

Gitbook link: https://ushahidi.gitbook.io/platform-developer-documentation/setup_alternatives

[2018-11-16 11:35] aoduor opened #3390 "Docs: Windows installation documentation"
Gitbook link: https://ushahidi.gitbook.io/platform-developer-documentation/setup_alternatives/xampp

[2018-11-16 11:54] aoduor opened #3391 "Docs: Tech Stack overview"
Migrate existing overview docs (which i can't seem to find anymore)

Gitbook link: https://ushahidi.gitbook.io/platform-developer-documentation/~/drafts/-LRHaCHVnWnuxoItpF9_/primary/tech-stack-overview

[2018-11-16 11:58] aoduor opened #3392 "Docs: Database Description"
This effort should include

- [x] Schema Diagram
- [x] Tables overview ( summary of what each DB table holds)
- [ ] Table details ( Explanation of what each field holds)

Gitbook link: https://ushahidi.gitbook.io/platform-developer-documentation/~/drafts/-LRHaCHVnWnuxoItpF9_/primary/tech-stack-overview/database

Reference point, Ushahidi v2 db docs: https://wiki.ushahidi.com/display/WIKI/Database+

[2018-11-16 11:59] aoduor opened #3393 "Docs: API documentation"
Migrate existing API docs to Gitbook

Gitbook link: https://ushahidi.gitbook.io/platform-developer-documentation/~/drafts/-LRHaCHVnWnuxoItpF9_/primary/tech-stack-overview/api-documentation

[2018-11-16 12:07] aoduor opened #3394 "Docs: Dev process Documentation"
- [ ] Coding standards: https://ushahidi.gitbook.io/platform-developer-documentation/~/drafts/-LRHaCHVnWnuxoItpF9_/primary/development-process/coding-standards
- [ ] Issue tracking: https://ushahidi.gitbook.io/platform-developer-documentation/~/drafts/-LRHaCHVnWnuxoItpF9_/primary/development-process/issue-tracking
- [ ] Roadmap: https://ushahidi.gitbook.io/platform-developer-documentation/~/drafts

[2018-11-16 12:08] aoduor commented on #3344
Scheduled for Nov 29th.

[2018-11-16 12:16] aoduor opened #3395 "Docs: QA and Testing Process"
- [ ] Overview: https://ushahidi.gitbook.io/platform-developer-documentation/~/drafts/-LRHaCHVnWnuxoItpF9_/primary/qa-and-testing
- [ ] Writing Tests: https://ushahidi.gitbook.io/platform-developer-documentation/~/drafts/-LRHaCHVnWnuxoItpF9_/primary/qa-and-testing/adding-manual-test-suites
- [ ] Running Tests: https://ushahidi.gitbook.io/platform-developer-documentation/~/drafts/-LRHaCHVnWnuxoItpF

[2018-11-16 12:18] aoduor opened #3396 "Docs: Open Source Design Process"
We may not be able to get to this within the scope of DIAL, but still making note for us to discuss. cc @justinscherer @Erioldoesdesign and anyone else interested.

[2018-11-16 12:23] aoduor opened #3397 "Docs: Contributing code to Ushahidi"
Migrate existing docs here: https://www.ushahidi.com/support/add-code-to-ushahidi to Gitbook: https://ushahidi.gitbook.io/platform-developer-documentation/~/drafts/-LRHaCHVnWnuxoItpF9_/primary/contributing-or-getting-involved

[2018-11-16 12:25] aoduor opened #3398 "Docs: Upgrading from version 2 to version 3 of Ushahidi"
Let's start documenting the manual process we have developed in the past, even as we talk of automating this.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-273

[2018-11-16 12:26] aoduor opened #3399 "Docs: Upgrading from version 3 to version 4 of Ushahidi"
Ongoing here: https://ushahidi.gitbook.io/platform-developer-documentation/~/drafts/-LRHaCHVnWnuxoItpF9_/primary/upgrading-from-v3.x.x-to-v4.x.x

[2018-11-16 12:27] aoduor opened #3400 "Docs: Dev FAQs"
Gitbook link: https://ushahidi.gitbook.io/platform-developer-documentation/~/drafts/-LRHaCHVnWnuxoItpF9_/primary/frequently-asked-questions

[2018-11-19 11:31] aoduor opened #3401 "Vids: Setting up your dev environment"
- [x] Write up a video script based on existing documentation
- [ ] Identify best placed individual to do voice over + comp screen walkthrough
- [ ] Record video tutorial
- [ ] Publish

[2018-11-19 11:33] aoduor opened #3402 "Vids: Installing platform on Linux"
- [x]  Write up a video script based on existing documentation
- [ ]  Identify best placed individual to do voice over + comp screen walkthrough
- [ ]  Record video tutorial
- [ ]  Publish

Aha! Link: https://ushahiditeam.aha.io/features/PROD-272

[2018-11-19 11:33] aoduor opened #3403 "Vids: Installing platform on XAMPP"
- [ ]  Write up a video script based on existing documentation
- [ ]  Identify best placed individual to do voice over + comp screen walkthrough
- [ ]  Record video tutorial
- [ ]  Publish

[2018-11-19 11:35] aoduor opened #3404 "Review Open Source Survey Results"
Review feedback on https://bit.ly/UshahidiOpenSourceSurvey2018 to identify

- Contributor segments
- Challenges
- Recommendations

[2018-11-19 11:36] aoduor opened #3405 "Publish OSS Survey results"

[2018-11-19 11:49] aoduor opened #3406 "Docs: Contributing to ushahidi documentation instructions"
Adding this in as well, as it's become a clear need over the last few weeks with more and more interest in contributing to docs.

[2018-11-19 13:13] Erioldoesdesign commented on #3404
I can help with this <3

[2018-11-19 13:14] Erioldoesdesign commented on #3405
I can help with this? Like a blog post?

[2018-11-19 13:15] Erioldoesdesign commented on #3385
I'd like to help with a section on how designers can contributes (via Justin's MozOL project) and Int dev/Activists can contribute (via my MozOL project)

[2018-11-19 19:14] rowasc commented on #2017
Merged this with #2018

[2018-11-19 19:14] #2017 closed

[2018-11-22 11:41] aoduor commented on #3344
https://www.meetup.com/Ushahidi-Community/events/256568466/

[2018-11-22 16:38] rowasc commented on #3391
I already migrated what we had, but we didn't have much. I'll start documenting the API today

[2018-11-22 16:54] rowasc commented on #3391
ah. Small bump. We need an integration with `nomnoml` for the diagrams (or switching to another tool that integrates with gitbook well) @tuxpiper I found one but it's for gitbook 1.0 :(

[2018-11-23 12:44] tuxpiper commented on #3391
@rowasc

For a direct gitbook integration, we will have to advocate with the gitbook folks for an integration that would suit our needs, and then it's up to them to do it or not ... so far, people written a couple feature proposals:

https://gitbook.canny.io/feature-requests/p/support-for-making-diagrams-eg-gliffy-mermaid
https://gitbook.canny.io/feature-requests/p/integration-drawio

Maybe it's m

[2018-11-26 11:01] tuxpiper commented on #3406
## Anonymous / casual contributors

There is no anonymous access in gitbook that allows editing documents right from their interface. Guest contributors can edit through github and create pull requests.

Gitbook streamlines the process for editing existing pages through github.

The process for creating new pages via Github may be more involved.

## Other contributors

For contributors that are pl

[2018-11-27 23:27] kinstelli opened #3416 "SMSSync works generally, but 'Test Configuration' doesn't work with GET [m-Sheria]"
It's possible to use SMSSync to forward SMS messages along to platform.
However, the 'Test Configuration' button doesn't work, and returns an error.

This appears to be because the test is done via GET, which platform will reject, despite the fact that SMS endpoint is configured for POST.

One solution for this: allow GET to be a valid method for SMS in SMSSync.

[2018-11-28 00:05] #3416 closed

[2018-11-28 13:38] rowasc commented on #3391
yea, I think so .I can just pastte them I guess?

[2018-11-30 09:32] aoduor commented on #2378
Hi @m-sameer - great stuff. Tagging @Erioldoesdesign and @Angamanga for help here.

[2018-11-30 09:38] Angamanga commented on #2378
Hi @m-sameer and welcome! Relevant code can be found here:  https://github.com/ushahidi/platform-client/blob/develop/app/settings/categories/categories-edit.html. Please let us know if you need any more directions!

[2018-12-02 20:34] #2378 closed

[2018-12-02 20:40] rjmackay commented on #892
@rowasc @jrtricafort Closing this out since it exists on ushahidi.com

[2018-12-02 20:40] #892 closed

[2018-12-02 20:41] rjmackay opened #3418 "Initial command line Ushahidi v2 importer"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-270

[2018-12-02 20:44] rjmackay commented on #1580
Started brain storming this here: https://docs.google.com/document/d/1CWNRWK7exaqGTF1MVSdPaA88nv0S1u42T3QF2hkGhds/edit#

The proposed stages are:
1. Provide a command line importer so we can run imports ourselves for clients/one off requests
    - This will require *some* technical skill, similar to self hosting a deployment
2. Connect that to a 'push button' that imports deployments from Crowdmap

[2018-12-02 20:46] rjmackay opened #3419 "Import v2 tables into v3 DB as-is to ensure no data is lost"
- As a deployer I need to know I will not lose any data when migrating to v3
- As Ushahidi staff, I need to know I will have all v2 data available in future in case some data is lost

Approach:

- Grab a list of tables from the DB
- Grab the schema for each one and create a new table in our v3 DB names `v2_TABLENAME`
- Copy all the data, maybe through `INSERT INTO ... SELECT`

Aha! Link: https://u

[2018-12-02 20:47] rjmackay opened #3420 "Import incidents to posts (slow unoptimized, no custom fields)"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-268

[2018-12-02 20:47] rjmackay opened #3421 "Create vanilla v2 survey"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-267

[2018-12-02 20:47] rjmackay opened #3422 "Import v2 custom forms to v3 surveys"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-266

[2018-12-02 20:47] rjmackay opened #3423 "Import custom incident fields into posts"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-265

[2018-12-02 20:48] rjmackay opened #3424 "Optimize post import w/ bulk inserts et"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-264

[2018-12-02 20:48] rjmackay opened #3425 "Import v2 users"
- Simple 1:1 mapping from user -> user
- Migrate admin/super admin users to admin role
- All other users get `user` role.
- We will migrate custom roles in a future task

Aha! Link: https://ushahiditeam.aha.io/features/PROD-263

[2018-12-02 20:49] rjmackay opened #3426 "Import v2 categories"

[2018-12-02 20:49] rjmackay opened #3427 "Import v2 messages"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-261

[2018-12-02 21:04] rjmackay commented on #3419
- As a deployer I need to know I will not lose any data when migrating to v3
- As Ushahidi staff, I need to know I will have all v2 data available in future in case some data is lost

[2018-12-03 18:23] jrtricafort commented on #3399
@aoduor What is Version 4 of Ushahidi?

[2018-12-03 18:30] aoduor commented on #3399
I think, basically, everything that came before Lumen qualifies as v3 - so this is focused on migration from that to Lumen..

[2018-12-05 01:03] m-sameer commented on #2339
Please review my [PR](https://github.com/ushahidi/platform-client/pull/1284). :smile:

[2018-12-05 07:55] #2387 closed

[2018-12-05 16:18] #3212 closed

[2018-12-06 00:54] rjmackay opened #3434 "Import custom roles"
- Migrate custom roles  but not their permissions.
- All custom roles will have the default user permissions
- Update user migration to map custom roles

Aha! Link: https://ushahiditeam.aha.io/features/PROD-260

[2018-12-06 00:57] rjmackay opened #3435 "Import reporters to contacts/users"
## Overview
Import reporters from v2 into contacts and users in v3. It's not immediately clear if we can do a 1:1 mapping. We might need to keep original data as a backup.

## Requirements

- All reporter data is preserved
- Reporters are associated with imported messages (or can be in messages task)
- Reporters are associated with imported users
- `Trusted` status is either added, or backed up in

[2018-12-06 03:12] rjmackay commented on #3425
Also losing metadata like last_login, created, updated etc.
Users will have to reset password after import.

[2018-12-06 15:04] #2339 closed

[2018-12-07 02:43] rjmackay opened #3438 "Twitter widget displayed on posts from email"
<img width="418" alt="screenshot 2018-12-07 15 43 14" src="https://user-images.githubusercontent.com/7965/49624610-f88d7c00-fa36-11e8-9b15-daea250fac44.png">

## Reproduce the bug
- Configure data-sources for email and Twitter in Settings -> Datasources
- Get data from both email and twitter
- Check the data-view. Posts from email are formatted as tweets.

## Implementation notes
- Fix in https://

[2018-12-07 03:07] rjmackay commented on #3438
It looks like we might just be checking data_source_message_id but not checking the message type at all.

[2018-12-07 12:12] Angamanga commented on #3385
@aoduor I have moved over the text to
https://ushahidi.gitbook.io/platform-developer-documentation/~/drafts/-LRHaCHVnWnuxoItpF9_/primary/get-in-touch (but when I try to click "Publish" I only get an error-screen, "OOps something went wrong", is it supposed to be published yet?)

[2018-12-07 14:15] Angamanga opened #3440 "Remove sensitive data from dotcom"
**TODO**
- Move db-credentials that are stored in the dotcom-repo to env-variables

[2018-12-07 14:20] Angamanga opened #3441 "Where does the built js in dotcom comes from?"
**TODO**
Where does the js in https://github.com/ushahidi/dotcom-craft-cms/tree/master/public/js come from. Especially app.js? Where is it built? Is it ever built? I tried to add new js but had to do it as a separate file.

Figure out where it comes from and see if its up to date and find out the best way to add new js to dotcom for the future.

Aha! Link: https://ushahiditeam.aha.io/features/PROD

[2018-12-07 14:23] Angamanga commented on #3298
Note for reference: There is also a tour.js here: https://github.com/ushahidi/dotcom-craft-cms/blob/master/public/js/tour.js

[2018-12-07 14:28] Angamanga opened #3442 "Update craft"
*TODO*
Update craft to newest version (2.7.3)

Aha! Link: https://ushahiditeam.aha.io/features/PROD-257

[2018-12-07 14:29] Angamanga opened #3443 "Make grassroots-section editable in Craft"
*TODO*
The grassroots-section on .com is not editable in .com. Adjust code and make it possible to add new case-studies, deployments, supporters and edit text and images everywhere.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-256

[2018-12-07 14:33] Angamanga opened #3444 "Adjust CORS-settings for darwin.ushahidi.com"
*TODO*
While working with grassroots, there was a problem using new fonts because of a CORS-error in the server for the dotcom-pl. This was fixed for ushahidi.com but not darwin.ushahidi.com. Add cors to darwin.ushahidi.com as well to make testing and QA easier.

Solution used: https://community.rackspace.com/products/f/public-cloud-forum/6114/rackspace-cdn-access-control-allow-origin

Aha! Link:

[2018-12-07 14:36] Angamanga opened #3445 "Add new blocks and modules to dotcom-pl"
*TODO*
All new pieces of the grassroots-section is not added to sections/modules in dotcom-pl. Add those for future reference in case we want to use any of them again.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-254

[2018-12-07 14:37] Angamanga opened #3446 "Refactor switch-page.js"
*TODO*
The js for switching between casestudies is very specific to the current number and titles of casestudies. Find a way to make it more general so its possible to update/add/remove casestudies in craft without breaking the switcher.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-253

[2018-12-07 15:03] Obadha2 opened #3447 "User unable to proceed after selecting free plan for new deployment."
**Describe the bug**
Unable to select plan and proceed to opening newly created deployment.

**Where was the bug observed**
Right after creating new deployment, following tutorial and selecting Free plan.
https://ushahidi.io/tour/plans

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ushahidi.io/tour#plans
2. Log in as (newly created) user.
3. Click on Sign Up for free plan (Ushahidi De

[2018-12-07 15:55] Obadha2 opened #3448 "New user unable to access Platform"
**Describe the bug**
After new user signs up on the platform, they are unable to access their deployment page when they type out the url on browser's address bar.

**Where was the bug observed**
https://walter-qa.ushahidi.io/

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://ushahidi.io/create
2. Create new deployment.
3. On new tab, type out url of new deployment created.
4. See

[2018-12-10 08:50] Angamanga commented on #3298
**Spec, what needs to be done:**
1. Add class "ltr-namespace" to tour.html
2. Refactor tour.js , remove jQuery?
3. Ensure js works in PL to for easier future changes and debug
4. Change styles to reflect current UX of platform
5. Change plans-page

[2018-12-10 08:52] Angamanga commented on #3298
**QA-checklist** (WIP)

- [ ] Go to which env?

[2018-12-10 12:18] aoduor commented on #3404
Got our draft here: https://docs.google.com/document/d/1JG-eyVm3Md95eP9-sRLlj5JPedIAEhdKe_pkRbiSTNA/edit#heading=h.39xp0dpd98d2

[2018-12-10 12:18] #3404 closed

[2018-12-10 14:59] rowasc commented on #3448
@jrtricafort I believe this might be a P0.

- looks horrible
- prevents users from knowing what's going on
- I think deployment creation itself is broken with this. I've been waiting for a new deployment for 30 minutes with no luck, and Walter's deployment is still down after days

[2018-12-10 21:56] rowasc commented on #3448
Solved. >Closing

[2018-12-10 21:56] #3448 closed

[2018-12-11 13:21] rowasc commented on #3441
Probably an important thing to do after the other high priority work you have for cloud :)

[2018-12-12 09:48] Angamanga opened #3455 "Confusing routing after selecting enterprise-options in tour"
*Description of the problem*
After I select one of the enterprise-options on the plans-page in tour, I do not get rerouted back to my new deployment. Instead I get to this page: ![Screenshot 2018-12-12 at 10.36.50.png](https://images.zenhubusercontent.com/5a6f2bce4b5806bc2bc4b158/0e4fc08f-729e-4736-bb4b-60df0d070d65).
When selecting demo and basic, the user get this (which I think is the intended

[2018-12-13 01:13] rjmackay opened #3457 "Move users email to contacts"
To make the data model more like TenFour and more useful to importing from v2, we want to move all contact info into the contacts table. We also need to enable adding names to contacts - who may not be users that ever log in.

Schema changes:
- Remove user.email
- Add user.person_type to differentiate between full users (with roles, and passwords) and contacts

Repo changes:
- Update functions tha

[2018-12-13 09:22] philam commented on #2462
Thanks for the help. The strange thing is that this only happens when I try to use the installation as a subdomain. I tried it on the base URL and it worked fine - it's only when I try to install it as a subdomain.

I'll investigate further.

[2018-12-13 21:40] willdoran commented on #3419
Yes, I think essentially having something that looks like a dump makes sense, in a sense it's a little like a revision system.

[2018-12-17 09:35] aoduor commented on #3406
Nicely done. Closing.

[2018-12-17 09:35] #3406 closed

[2018-12-17 09:39] aoduor commented on #3385
@Erioldoesdesign Hi! If you have some content to add to this re: open design stuff, you can hop on and add to this pull request?

Tagging this as in progress

[2018-12-17 09:41] aoduor commented on #3386
Mmmmm @rowasc good point. Perhaps not? I'll close this and tag as "Not needed"

[2018-12-17 09:41] #3386 closed

[2018-12-17 13:32] aoduor commented on #3391
Need to break this down further into bit sized chunks

[2018-12-17 13:32] Erioldoesdesign commented on #3343
We can use the photo from the Civic Tech Hack event on this post and talk a little bit about that event? I'm not sure if any/many issues were progressed from that but it'd be worth drawing attention to the partnership.

[2018-12-17 13:35] aoduor commented on #3388
Needs to be broken down into two different issues.

@rowasc completed migration of one section of this. Angie to confirm

[2018-12-17 13:35] aoduor commented on #3393
Related to #3391. Closing #3391 and keep this one open

[2018-12-17 13:36] aoduor commented on #3391
First section of this is complete.

[2018-12-17 13:36] #3391 closed

[2018-12-17 13:37] aoduor commented on #3343
End of year update on how we did on OSS this quarter, talk about Hacktoberfest, Google code in etc.

Publish by Friday 21st Dec?

[2018-12-17 13:41] Erioldoesdesign commented on #3385
Removing me as an assigned person but will still do that above work in Angie's comment

[2018-12-17 13:42] Erioldoesdesign commented on #3384
I'll take on this solo then pass over to you Angie - lighten your load :)

[2018-12-17 14:04] Angamanga opened #3461 "Docs: Move front-end-guidelines to gitbook"
There is a very good, existing, overview of the pattern-library here: http://preview.ushahidi.com/platform-pattern-library/master/assets/html/front-end-guidelines/introduction.html to gitbook. It was updated by Seth during the spring 2018 so its new and up to date.

It should end up in 2 different sections: File-structure goes to  "Architecture" ( https://ushahidi.gitbook.io/platform-developer-doc

[2018-12-17 14:05] Angamanga commented on #3388
I added a new issue here for the rest of the pl-docs here: https://github.com/ushahidi/platform/issues/3461. @rowasc I'll review the things you have added and then we can close this issue.

[2018-12-17 18:38] rjmackay commented on #3418
Current status / Handover:

- The importer work so far lives on the `migration-tool` branch.
- You can run the importer with `./artisan import:ushahidiv2 somev2db -v`
    - This will try to import a database called 'somev2db' and use the same DB credentials as a the v3 DB to connect.
    - You can also pass user/password/host params as needed. See `./artisan import:ushahidiv2 --help` for details.

[2018-12-18 05:54] Angamanga commented on #3388
@rowasc I think we should add the section about how to use the changed styles in the platform-client if the user decides to change the styles in the PL too? I think it belongs here: https://ushahidi.gitbook.io/platform-developer-documentation/changing-ui-styles-introduction-to-the-pattern-library? Or is it added somewhere and I don't find it?

[2018-12-18 09:48] Angamanga commented on #3461
To move over:
1. file-structure
2. coding-standards
3. how to use changed css in the client

[2018-12-18 11:37] StaicyG commented on #3400
@tuxpiper I have kinda finished some of the questions here. Please have a look and let me know what you think.

[2018-12-18 15:38] rowasc commented on #3388
Yea I believe that's a good idea. I think I covered a little bit of that but more docs about it would be great yeah

[2018-12-18 16:39] Angamanga commented on #3388
@rowasc I'll sort it! 🎉

[2018-12-18 18:16] #3291 closed

[2018-12-19 13:45] Angamanga commented on #3461
Remember to: When docs are published, remove front-end-guidelines from pl?

[2018-12-19 14:18] Angamanga commented on #3397
@StaicyG I am starting on this one.

[2018-12-19 15:15] StaicyG commented on #2552
@rowasc @aoduor I am a bit confused, what exactly should we be documenting here? Am sorry I don't have context to the situation around this documentation task

[2018-12-19 19:54] rowasc commented on #2552
@StaicyG we need to document the specific details of how a datasource is setup in platform , and what they do

[2018-12-21 13:13] aoduor commented on #3405
https://www.ushahidi.com/blog/2018/12/21/open-source-at-ushahidi-survey-results-and-support-from-dial-osc

Pushing out via de social medias soon.

[2018-12-21 13:13] #3405 closed

[2019-01-03 11:46] tuxpiper commented on #3398
Assigning myself to take a look at https://github.com/ushahidi/platform/pull/3466 , run some tests and document

[2019-01-03 11:48] tuxpiper commented on #3398
related to #3418

[2019-01-03 11:50] tuxpiper commented on #3400
This looks pretty good to me @StaicyG ! I suggest let's just add something at the bottom asking to join the developer channel in case there is a question not found in the doc

[2019-01-03 11:50] tuxpiper commented on #3398
self ping @tuxpiper

[2019-01-04 07:37] StaicyG commented on #3400
Great! Thanks for the feedback @tuxpiper all done!

[2019-01-08 11:52] Angamanga commented on #3395
TODO:
- Describe what test we use and where we store it (Testpad)
- Testpad-link, can we open it up to the public?
- Do we want to get help with testing from the community?

[2019-01-08 11:53] Angamanga commented on #3392
Check Comrades docs

[2019-01-08 11:53] Angamanga commented on #3399
Added the stuff from old docs, but do we need to add further description about v4?

[2019-01-08 11:53] Angamanga commented on #3394
Add from process-docs. Describe process we used during spring.

[2019-01-08 12:05] Angamanga commented on #3392
Db-schema: https://github.com/ushahidi/platform/blob/develop/docs/schema.svg

[2019-01-08 12:17] tuxpiper commented on #3400
I think this is good to go! Shall we close?

[2019-01-08 12:33] tuxpiper opened #3467 "Docs: what problems Platform can solve, from a developer perspective"
Add a section about problems Platform can solve , from a developer / solution builder perspective.

[2019-01-08 12:45] tuxpiper commented on #3467
@aoduor @StaicyG  I think this section could help developers evaluation Platform for a project . Shall we go ahead and add it?

[2019-01-08 12:52] tuxpiper opened #3468 "Docs: auto-generated artisan command documentation"
We run some operations through the `artisan` command , such as running database migrations, running the v2/v3 migration, checking datasources etc.  This command is going to be important for developers and service administrators alike.

The cool thing about the artisan framework is that it can output help for each command straight from the code.

I suggest we go ahead and add create a script that e

[2019-01-08 14:44] #3397 closed

[2019-01-08 14:44] #3393 closed

[2019-01-08 14:44] #3388 closed

[2019-01-08 14:44] #3461 closed

[2019-01-08 14:45] #3390 closed

[2019-01-08 14:45] #3389 closed

[2019-01-08 14:45] #3387 closed

[2019-01-08 17:54] tuxpiper opened #3469 "Docs: merge contents from the "USING THE USHAHIDI PLATFORM (V3 - V4)" section of gitbook"
As discussed in chat

[2019-01-08 18:08] tuxpiper commented on #3399
I would love to work on this, we have people already asking for an upgrade guide.

@rowasc could you please help with looking up the changes necessary for the CSV export to work? I've been looking at commits but quickly lost myself.

[2019-01-09 08:59] tuxpiper commented on #3469
syncing with @Angamanga before doing this, but doing it shortly

[2019-01-09 09:01] tuxpiper commented on #3392
@Angamanga do you happen to know how that svg was generated?

[2019-01-09 09:05] tuxpiper commented on #3383
@aoduor that link doesn't seem to be working anymore since it was pointing at a draft ... but searching for "license" doesn't seem to bring up good results either.

Was there content already in the link that you pasted? Or are we still to generate this?

[2019-01-09 09:09] tuxpiper opened #3470 "Docs: add google analytics to the different gitbooks"
having analytics on the new documentation may help us better understand the impact and user experience of browsing the docs

[2019-01-09 09:19] Angamanga opened #3471 "Add fb-bot docs to gitbook"
Add the bot-documentation for Comrades to gitbook

[2019-01-09 09:20] tuxpiper commented on #3470
cc: @aoduor @StaicyG  for input on how analytics could be used in the most useful way

[2019-01-09 09:38] tuxpiper opened #3472 "Docs: consider hosting gitbooks under our own domains"
Gitbook allows us to host each gitbook under its own subdomain of our choice.

For instance, the platform developer gitbook could be under platform-dev.docs.ushahidi.com

The platform developer manual could be under platform-manual.docs.ushahidi.com

Unfortunately there is no way to do docs.ushahidi.com/platform-dev  or docs.ushahidi.com/platform-manual .. which would feel a bit cleaner to me

[2019-01-09 10:58] tuxpiper commented on #3469
done

[2019-01-09 10:58] #3469 closed

[2019-01-09 11:37] aoduor commented on #3400
Closing... can reopen if needed :).

[2019-01-09 11:37] #3400 closed

[2019-01-09 11:39] aoduor commented on #3385
Let's open up a completely new issue to tackle open design issues and moz open leaders :). Closing this for now.

[2019-01-09 11:41] aoduor commented on #3343
Added i shpeal in the newsletter. Closing, unless we need a proper breakdown.

[2019-01-09 11:41] #3343 closed

[2019-01-09 11:41] Angamanga opened #3473 "Add section about open design in "Get in touch with us""
Copied from old section:
I'd like to help with a section on how designers can contributes (via Justin's MozOL project) and Int dev/Activists can contribute (via my MozOL project)

[2019-01-09 11:42] aoduor commented on #3305
ping @tuxpiper wondering if this is related to a bunch of the other issues we opened this week?

[2019-01-09 11:43] aoduor commented on #2552
making a note to sync w/ @StaicyG on this.

[2019-01-09 12:17] #3471 closed

[2019-01-10 06:03] Angamanga commented on #3399
@tuxpiper I added the release-docs from the lumen-release but this pr still needs to get merged before closing: https://github.com/ushahidi/platform/pull/3463. Could you take a look, I tried to resolve the conflicts but I am not sure whats actually the latest version of the text?

[2019-01-10 09:12] ginamaff opened #3474 "Attach GIS shp and KML,KMZ files to Ushahidi v3 Deployment Map"
As a user, i'd like to be able to upload geodata on my ushahidi deployment. e.g. Shapefiles, KML/KMZ files. This makes the data visualization better specifically on location

Aha! Link: https://ushahiditeam.aha.io/features/PROD-250

[2019-01-10 09:18] Brad-Anthony commented on #3474
I'll second that. This would really up the ante in terms of analysis capability without requiring users to have/use technically demanding GIS platforms.

[2019-01-10 16:36] tuxpiper commented on #3399
The changes proposed by the PR would prevail. Let's hold on until we know when we will release the associated code before merging it.

[2019-01-10 21:53] tuxpiper commented on #3171
Enterprise deployments on AWS have this now. For those deployments not on AWS, the answer would be to expedite their migration :)

[2019-01-10 21:53] #3171 closed

[2019-01-14 06:13] Angamanga commented on #3395
Section is merged to master here: https://ushahidi.gitbook.io/platform-developer-documentation/getting-started/qa-and-testing. Closing this issue.

[2019-01-14 06:13] #3395 closed

[2019-01-14 07:43] Angamanga commented on #3394
Draft in progress here https://ushahidi.gitbook.io/platform-developer-documentation/~/edit/drafts/-LWA1Or-JXpEkbUvZtYM/getting-started/development-process

[2019-01-16 11:48] Angamanga commented on #3394
Merged draft to master-doc so closing this issue.

[2019-01-16 11:48] #3394 closed

[2019-01-16 12:37] Angamanga commented on #3399
:+1 : Removing this from milestone 3 in the meantime.

[2019-01-17 14:11] tuxpiper commented on #3305
Yea, I think it's fair to do this together with the issues.

I've tried it, but it doesn't work. I suspect that phinx can't find the database and run the migrations because this file...

https://github.com/ushahidi/platform/blob/5a64484dc71ca76f8aae72b03c4167a569383f54/phinx.php

doesn't deal with the database URL as set by the ClearDB heroku add-on ( CLEARDB_DATABASE_URL  ).

I'm going to see if

[2019-01-17 14:41] tuxpiper commented on #3305
I fixed the problem with phinx but...

[code]

I am afraid the app is now officially too big to host on Heroku's free tier completely

[2019-01-17 14:45] tuxpiper commented on #3305
@rowasc @aoduor  given the results of my research , I guess we should either remove or add a warning next to the "Deploy to Heroku" button in the README

I am leaning towards the first option, removing the button that can be seen in the README . I still we should still have a "deploy to Heroku" document, with a clear warning that it is targeted to paying Heroku users

What are your thoughts?

[2019-01-17 14:57] rowasc commented on #3305
I'd support removing that button  at this point @tuxpiper

[2019-01-21 12:07] tuxpiper commented on #3403
Related: https://ushahidi.gitbook.io/platform-developer-documentation/getting-started/setup_alternatives/xampp

[2019-01-21 12:07] tuxpiper commented on #3401
Related to:
- https://ushahidi.gitbook.io/platform-developer-documentation/getting-started/setup_alternatives/vagrant-setup
- https://ushahidi.gitbook.io/platform-developer-documentation/getting-started/setup_alternatives/setting-up-the-platform-client

[2019-01-21 13:12] aoduor commented on #3399
This is done. Clooooosing 💃

[2019-01-21 13:12] #3399 closed

[2019-01-21 13:12] aoduor commented on #3399
Making a note to create a new issue for migration from v4.0 to the next release: cc @Angamanga

[2019-01-21 13:20] aoduor commented on #3392
@Angamanga -> Tables Overview
@tuxpiper -> Database schema
@aoduor -> to help @tuxpiper and @Angamanga on Table details 💃

[2019-01-21 13:22] aoduor commented on #3384
@StaicyG and @Erioldoesdesign to sync 💃 https://ushahidi.gitbook.io/platform-developer-documentation/~/drafts/-LRHaCHVnWnuxoItpF9_/primary/code-of-conduct

Groundwork already done, should be easy - peasy, then closed by Thursday 💃

[2019-01-21 13:33] aoduor commented on #3396
This is a much longer term project, that we should probably roll into longer time beyond the scope of this DIAL grant.

Minimum effort for now, link to @justinscherer and @Erioldoesdesign's amazing work on Mozilla open leaders.

Should also link to design jam articles from the Designit work last year.

[2019-01-21 13:33] aoduor commented on #3396
@Erioldoesdesign will handle on Thursday this week.

[2019-01-21 13:37] aoduor commented on #3401
This should include set up for
- The API
- The client

[2019-01-21 13:39] aoduor opened #3475 "Draft and Send DIAL Grant narrative report"
Due Feb 7th, 2019

@aoduor to share skeleton doc at next meeting for us to start work on

[2019-01-21 13:45] aoduor opened #3476 "Bristol Meetup 11.02.2019"
~Confirmed date: Feb 4th~
Confirmed date: Feb 11th
Time: 12.30 - 14.00 GMT
Open Source tech with South West International Development workers
Need
- Keen to know if they can tell people if they can come with general open source questions? YES.

- Demo issues/ Updated roadmap with some issues people can jump into.

- Identify point people online to support Eriol remotely on community channel/hangou

[2019-01-21 13:49] aoduor opened #3477 "Jan 29th/30th Online meetup planning"
@aoduor to develop framework, check in w @StaicyG and other relevant groups, post announcement before Wed this week.

[2019-01-23 09:19] aoduor commented on #2552
Noticing that we got rid of outgoing email set up, so what @StaicyG will do in this case, is edit our email docs, and remove any references to outgoing email set up cc @rowasc

[2019-01-24 19:52] Erioldoesdesign commented on #3384
Ready for review!

[2019-01-24 21:58] Erioldoesdesign commented on #3476
Started a doc to figure out answers to above questions: https://docs.google.com/document/d/18-ahhCI2xBmyfO3HuTMVI5Abv5Il-KmdClb_uV_CGl0/edit?usp=sharing

[2019-01-25 03:06] justinscherer commented on #3396
Sounds good!

[2019-01-28 08:53] aoduor commented on #2552
ping @StaicyG based on our catch up, we good to close this yet?

[2019-01-28 08:55] aoduor commented on #3403
@StaicyG @CeciliaHinga @tuxpiper how are we doing here?

[2019-01-28 08:56] aoduor commented on #3401
@StaicyG @CeciliaHinga @tuxpiper how are we doing here?

[2019-01-28 09:00] aoduor commented on #3476
Let's use this existing meetup planning doc we have for DIAL?

https://docs.google.com/document/d/1hGSUdd-JaTkLxoybsWh8we7Nul-SWyUjm8Q2i1vJwVM/edit#

[2019-01-28 12:49] StaicyG commented on #2552
It's done. Just need to upload the changes on the live doc to update.

[2019-01-28 13:20] #2552 closed

[2019-01-28 14:20] Erioldoesdesign commented on #3384
I'm gonna merge this...hold on... 🤞

[2019-01-28 14:31] Erioldoesdesign commented on #3396
hey here's a thought @rowasc and @aoduor, this could be included as a heading in FAQ's for now and developed further in the next round of funding/changes?

https://ushahidi.gitbook.io/platform-developer-documentation/frequently-asked-questions

[2019-01-29 10:23] Nthiga opened #3478 "Deployment SetUp for Ghana British High Commission Project + Training"
@Anna set up an enterprise deployment for British High Commission meeting the following requirements:

1. SMS Gateway services : Explore with @willdoran best tool to use to demonstrate how messages "get on" platform during training - SMS sync, Nexmo etc. PS this is purely for training purposes
2. Check that deployment appears in Ushahidi Mobile app
3. Make Embed Code available for sharing
4. Test

[2019-01-29 10:24] Nthiga commented on #3478
@Angamanga will email the High Commission to check in on suggestions for names

[2019-01-29 13:00] Erioldoesdesign commented on #3396
https://ushahidi.gitbook.io/platform-developer-documentation/~/drafts/-LXO47CFPnfqKXxJLyvo/primary/contributing-or-getting-involved/contributing-documentation/open-source-design

Page is ready for review!

[2019-02-11 16:04] Erioldoesdesign commented on #3476
DONE!

[2019-02-11 16:05] #3476 closed

[2019-02-13 13:23] Erioldoesdesign commented on #1941
Adding in comments from my MOZOL 6 project (finally)

Platform user says this could be useful for outside campaign uses but it's not essential. More useful would be colour coding (which exists but they struggled to discover)
They might be interested in icons that describe the type of offence (speech bubble as hate speech etc.)
They are most interested in this if it helps/encourages other responder

[2019-02-13 13:26] Erioldoesdesign commented on #1436
Adding in comments from my MOZOL 6 project (finally)

Platform user says this could be useful for outside campaign uses but it's not essential. More useful would be colour coding (which exists but they struggled to discover)
They might be interested in icons that describe the type of offence (speech bubble as hate speech etc.)
They are most interested in this if it helps/encourages other responder

[2019-02-13 13:26] Erioldoesdesign commented on #2685
Adding in comments from my MOZOL 6 project (finally)

Platform user says: Hesitation to automatically record responder mobile location. Responder may not be in the place that it happened and may be reporting it later at home or days/weeks after the incident. Responders should also be notified that their GPS could be used before it is used.

[2019-02-13 13:27] Erioldoesdesign commented on #1571
Adding in comments from my MOZOL 6 project (finally)

Platform user says: They currently ask demographic questions as part of their survey set up but indicate it would be useful to be able to collect this in a protected way. BWV never want a responder to become a 'user' e.g. sign up for an account on the deployment as the nature of the responses/posts are typically one off or even if there was mul

[2019-02-13 13:27] Erioldoesdesign commented on #3181
Adding in comments from my MOZOL 6 project (finally)

Platform user says: The admins find it useful to know precise location of a report/response in order to lobby local authorities/government for better provisions (more street lighting, remove bushes etc.) in high volume response/post areas or extreme instances. Allows them to take direct action.
There is no need to know a persons name but certai

[2019-02-13 14:14] Erioldoesdesign opened #3480 "Ability to automatically redirect a responder to a webpage or document"
Bristol Women's Voice who own the deployment: https://bristolstreetharassmentproject.ushahidi.io/views/map

talked about wanting: The ability to automatically redirect a responder to a webpage or document that will help them e.g. they send a report about hate speech -> get a message about a resource by BWV to recover from Hate Speech threats or where to go for legal advice.

Aha! Link: https://ush

[2019-02-15 11:07] tuxpiper opened #3481 "CSV exports of media contain wrong URLs when CDN enabled"
**Describe the bug**
When exporting a CSV files off surveys containing media (images), the URLs for those images can be wrong, depending on software configuration.

When Platform is configured to use object storage and CDN, the URLs for accessing the images correspond to a different domain, and the CSV export process is ignoring that. See steps to reproduce and expected behaviour for a practical e

[2019-02-15 13:56] rowasc commented on #3481
@tuxpiper nice catch.
@jrtricafort could you prioritize? Thanks.
I *thinkk* this is likely a simple fix to add the CDN URL to image fields in CSV (I mean, I might be wrong :) ) but let me know what/when you think we should tackle this.

[2019-02-18 18:19] tuxpiper commented on #3481
I just checked that the initial report about this behaviour, was relative to one of our social impact licensed deployments in ushahidi.io

[2019-02-28 20:00] j-rewerts opened #3483 "Heroku install fails"
When using the Heroku click to deploy button on the readme, it fails with the following message:
[code]

**Steps to reproduce the behavior:**
1. Go to [this](https://github.com/ushahidi/platform) URL.
1. Click the Heroku click to deploy button.
1. Input your Heroku deployment name.
1. Click "Deploy app"

**Expected behavior**
The app should deploy properly.

Aha! Link: https://ushahiditeam.aha.io/

[2019-03-12 14:59] aoduor opened #3484 "Google Summer of Code 2019: Ushahidi Project Ideas."
### **GSoC Contacts**

- Angela Oduor Lungati: angela@ushahidi.com
- Staicy Gitau: staicy@ushahidi.com
- David Losada: davidlosada@ushahidi.com
- Anna Iosif: anna@ushahidi.com
- Eriol Fox: eriol@ushahidi.com

**For all projects, we recommend the following steps to get started:**
1. Set up the Platform dev-environment (instructions are here: https://ushahidi.gitbook.io/platform-developer-documentat

[2019-03-16 14:03] siddhishree commented on #2373
Hello, I would like to work on this issue.

[2019-03-17 20:44] Jenniline commented on #3473
@Angamanga am Jenniline an Outreachy applicant can I work on this issue?
I also need more details about this.

[2019-03-17 21:01] Jenniline commented on #3472
Hi, @tuxpiper I will like to work on this. Can I?

[2019-03-18 14:37] fabsar commented on #3326
Hey! I am Sargam, an outreachy applicant. I would like to go ahead with this issue. Thanks:)

[2019-03-19 08:12] Angamanga commented on #3473
Hi @Jenniline, unfortunately not, this issue needs work from us at Ushahidi first.

[2019-03-19 08:12] Angamanga commented on #3326
@fabsar Please go ahead! Just comment here if you need guidance!

[2019-03-19 20:26] SolKuczala commented on #3320
Can I ask where is the survey on 'platform'?

[2019-03-19 20:40] SolKuczala commented on #2373
@justinscherer where is that error? on which URL?

[2019-03-20 10:29] Erioldoesdesign commented on #3320
Hi @actuallyakash did you end up looking at this issue? It looks like @SolKuczala is interested in picking it up :) No worries if you didn't look at it.

@SolKuczala you can find the youtube logo if a survey has enabled a submission of a video link. If you click the (+) yellow circle with a plus in the top left corner of the map you can 'add to a survey'

If you use my test deployment here: https:

[2019-03-20 12:11] SolKuczala commented on #3320
Great, I'll look into it,👍

On Wed, Mar 20, 2019, 07:29 Eriol Fox <notifications@github.com> wrote:

[2019-03-20 17:36] NidhiKJha commented on #3325
@Angamanga I am an outreacchy aspirant and I want to work on this issue.

[2019-03-20 18:06] Angamanga commented on #3325
@NidhiKJha Thank you! 🎉

[2019-03-20 18:26] komalsdg commented on #2342
@Angamanga I am outreachy applicant. I would like to work on this issue.

[2019-03-21 02:23] karunagoyalk commented on #3319
@Erioldoesdesign I would like to go ahead with this issue!

[2019-03-21 02:26] karunagoyalk commented on #2373
@justinscherer I have looked into it! Can I work on this?

[2019-03-21 10:08] komalsdg commented on #2356
Hi, @dalezak I am an outreachy applicant and would like to work on this issue.

[2019-03-21 11:25] NidhiKJha commented on #3325
@Angamanga I have studied the issue in depth and it appears that the case is not just that two new post will say 3 new posts. It's not an issue of counting, but rather when a user makes a new post after the first one, instead of that one post being sent, the last one is sent again as well.
So when a user makes 2 posts, in actuality they're sending 3 posts, the first one is duplicated.
[code]
This

[2019-03-21 11:27] Angamanga commented on #2342
@komalsdg Go ahead 🎉 And please reach out if you need guidance or wonder about something!

[2019-03-21 11:38] NidhiKJha commented on #3325
Could you point me to the code responsible for updation of this count.

[2019-03-21 12:21] komalsdg commented on #2342
Thank you. For sure.

[2019-03-22 08:35] Angamanga commented on #3325
@NidhiKJha Very interesting find! The code responsible for getting the new posts are found in the post-view-data directive, check out this function: https://github.com/ushahidi/platform-client/blob/develop/app/main/posts/views/post-view-data.directive.js#L492

[2019-03-22 11:03] Erioldoesdesign commented on #3319
@karunagoyalk Great news! Have you got an instance of Ushahidi Platform working locally? I can support with the Front End QA and making sure your implementation looks and functions how we want it to but people like @Angamanga @tuxpiper and @rowasc can help you get set up if you haven't already.

Also check out our Readme and docs to get set up :)
https://github.com/ushahidi/platform/blob/develop/R

[2019-03-22 17:09] Jenniline commented on #3315
@rowasc I will like to work on this. Can I?

[2019-03-22 17:11] Jenniline commented on #3304
@rowasc @Angamanga  I will like to work on this, can I?

[2019-03-22 17:19] Jenniline commented on #3319
@Erioldoesdesign I will like to work on this. Just need more details

[2019-03-22 17:38] tuxpiper commented on #3319
If I recall correctly, the backend API is already capable, at least on paper, to store several images per post.

So this is an issue that needs mostly work in the frontend . The post viewing, creation and edition views need to be adjusted to be able to handle several images.

Hope this information helps.

[2019-03-22 17:51] Erioldoesdesign commented on #3319
@karunagoyalk and @Jenniline Please see tuxpipers comment above on how to go about tackling this issue :) If you need anything else, we have a community gitter and ways you can chat with the team outside of Github comments.

[2019-03-22 17:54] tuxpiper commented on #3472
Thank you @Jenniline  . Unfortunately,  this is more of an administration task ,  requiring administrator access to the resources that we manage.

It's probably a bit confusing that it's sitting here on the open source repository, sorry about that!

[2019-03-22 18:36] karunagoyalk commented on #3319
@Jenniline hey! As I am already working on this issue, Can you please look some other issue?

[2019-03-22 18:45] Angamanga commented on #3304
@Jenniline Absolutely, go ahead and please reach out if you need guidance! 🎉

[2019-03-22 18:53] tuxpiper commented on #3319
@karunagoyalk unfortunately we only have so many issues to offer for outreachy applicants. But in any case, I think there is no reason why @Jenniline's work should interfere with your work .

At the same time, we understand that you are doing this as part of a competitive internship application.

We will make sure not to publicize your progress or findings. If you would like a private Q&A with a m

[2019-03-22 18:59] Angamanga commented on #1941
@Jenniline if you want to work on this issue as well, go ahead 👍

[2019-03-22 22:08] Jenniline commented on #3304
ok. I am not certain about the branch where the issue is on and where to find the platform Comrades for this issue can I have the directions to this, please?

[2019-03-23 04:21] karunagoyalk commented on #3319
@tuxpiper Sorry about that, As I am new to open source ,was not having much idea ,how this works!

[2019-03-23 07:14] fabsar commented on #3326
hey! I was setting up the environment all this time. Since it's done now, Can you help me get started with the issue? Like where do i look for the code of the dataview section. Thanks!

[2019-03-23 10:24] Angamanga commented on #3326
@fabsar You find the all the post-view sections here: https://github.com/ushahidi/platform-client/tree/develop/app/main/posts/views and the data-view more specifically here: https://github.com/ushahidi/platform-client/blob/develop/app/main/posts/views/post-view-data.directive.js.

[2019-03-23 10:27] Angamanga commented on #3304
@Jenniline Ah, i see it's confusing, its just an example-screenshot from a deployment that is called platform Comrades. You find this view in settings->general :)

[2019-03-23 10:37] fabsar commented on #3326
okay thanks a lot!

[2019-03-23 13:19] tuxpiper commented on #3319
No worries @karunagoyalk ! Honestly, we are also new with Outreachy . We'll figure things out , anything you need don't hesitate to reach out! :+1:

[2019-03-24 06:14] NidhiKJha commented on #3325
@Angamanga I have submitted a Pull request that solves this issue. Please review it and give me feedback. Thank You!

[2019-03-24 19:07] NidhiKJha commented on #2105
This issue appears to have been fixed.
It issue should be closed.
![Screenshot from 2019-03-25 00-34-54](https://user-images.githubusercontent.com/39872794/54884353-e58fa200-4e95-11e9-8d8c-e2bc19262537.png)

[2019-03-24 19:49] NidhiKJha commented on #3315
@Angamanga
From what I have researched online, this is an issue of utf-8 support that needs to be enabled in php. I cannot locate the correct files that host these settings. Please point me to them.

[2019-03-24 20:15] NidhiKJha commented on #2356
Cannot reproduce. The cards don't show any colors in the current code.

[2019-03-25 11:52] tuxpiper commented on #3315
I believe the issue doesn't have its root cause in the backend code or setup.

It looks like it's a matter of how html character entities (i.e. "\&uacute;" -> "ú" or "\&amp;" -> "&" ) present in translation files are rendered by angular .

[2019-03-25 14:45] Erioldoesdesign opened #3486 "Field visual is confusing users and preventing them from completing core field inputs"
All users of platform have problems inputting data into fields that look like this:

<img width="805" alt="Screenshot 2019-03-25 at 10 43 58" src="https://user-images.githubusercontent.com/11681324/54928828-ea327580-4eea-11e9-826d-a77b46ebe73c.png">

Recently it has caused intercom support messages.

If we can change to the standard input devices (ahead of Platform UI refresh project) then this wi

[2019-03-25 17:24] karunagoyalk commented on #3319
@Erioldoesdesign Can you please help me? Like which file to proceed for this implementation?

[2019-03-25 17:26] karunagoyalk commented on #3319
@Erioldoesdesign Can you please help me? Like which file to proceed for this implementation?

[2019-03-25 19:23] Erioldoesdesign commented on #3319
@karunagoyalk Do you mean a design file to work from?

[2019-03-25 21:25] #3325 closed

[2019-03-25 21:28] #2373 closed

[2019-03-26 02:18] karunagoyalk commented on #3319
@Erioldoesdesign Yes please!

[2019-03-26 11:10] Jenniline commented on #2723
@willdoran I am an Outreachy applicant and I will like to work on this issue. Please, can I have more information on how to go about this?

[2019-03-26 11:36] karunagoyalk commented on #3319
@Erioldoesdesign please tell me about the design file?

[2019-03-26 13:24] jesseorndorff commented on #3483
Same issue here.

[2019-03-26 15:59] Erioldoesdesign commented on #3319
@karunagoyalk There is not a design file for this. What I would like you to do is combine the style of whatsapp with how it is currently on the Ushahidi platform. Try to use the images provided in the issue before you have a design made for you by us. It is important for Front-end coders to work with examples and not always with 'pixel-perfect' designs.

If you struggle, I can support but please,

[2019-03-26 16:03] karunagoyalk commented on #3319
@Erioldoesdesign hey! I actually want to ask, in which code file I have to do changes for this issue, like there are so many code files and folders for this application!

[2019-03-26 16:05] Erioldoesdesign commented on #3319
Ah I see! Best person to ask for that is @Angamanga

[2019-03-26 16:12] karunagoyalk commented on #3319
@Angamanga hey! Can you please help me? I want to know about the file in which I have to do the changes for this issue

[2019-03-27 10:14] karunagoyalk commented on #3319
@Angamanga @tuxpiper please help me!

[2019-03-27 10:24] Angamanga commented on #3319
Hi there @karunagoyalk. I suggest you
1. create a survey that has an image-field to be able to debug and explore the code (go to settings->survey->create survey-> add field-> select image
2. add a few posts for connected to this survey
After that you can explore the code to figure out what files are connected to this issue:
3. the files that are connected to surveys are in this folder: https://git

[2019-03-29 10:17] tuxpiper commented on #3470
Tracking codes added . Everything is in GA under "Documentation Site" , haven't added anything (yet) for dis-aggregating traffic to different books

[2019-03-29 10:17] #3470 closed

[2019-04-01 05:39] clsoar commented on #3486
Is this task open for assignment?

[2019-04-01 09:40] Erioldoesdesign commented on #3486
@clsoar Yep it sure is! :)

Do you need any further support or assistance with getting started?

[2019-04-01 11:02] Angamanga opened #3487 "Enhance developer documentation and reference material"
**Activities**
Build a dedicated developer hub/resources page inclusive of FAQs, security and privacy best practices.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-246

[2019-04-01 11:07] Angamanga opened #3488 "Scope out and build FAQs for working with Platform"
**Todo**
Build FAQs for the parts of the Platform we get most questions about. To be published in Gitbook

Aha! Link: https://ushahiditeam.aha.io/features/PROD-245

[2019-04-01 11:08] Angamanga opened #3489 "Build 101 Videos"
**Videos**
- Continue installation-videos to cover ALL installation-variations we have
- Other video-ideas:
 - Code-walkthroughs
 - The pattern-library, tutorial or walkthrough

Aha! Link: https://ushahiditeam.aha.io/features/PROD-244

[2019-04-01 11:11] Angamanga opened #3490 "Scope out and decide on tutorials"
**TODO**
- What do we want to cover with tutorials?
 - Saftey and security (promised in the proposal)
- Decide on format? Videos? Blogposts? Infographic-y tutorials?

Aha! Link: https://ushahiditeam.aha.io/features/PROD-243

[2019-04-01 11:12] Angamanga commented on #3487
Consolidate new and all existing resources in a developer hub for ease of access and reference. This would also include building FAQs and educational content such as 101 videos, code samples, and tutorials.
There will be a specific focus on the developing tutorials and best practices around privacy and security concerns facing our users.

[2019-04-01 11:13] Angamanga opened #3491 "Move user-manual to gitbook"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-242

[2019-04-01 11:16] Angamanga opened #3492 "UI/UX needed for developers-hub:"
Do we want to change anything in the appearance? Styleguide? Information-structure? Usertesting?

Aha! Link: https://ushahiditeam.aha.io/features/PROD-241

[2019-04-01 11:18] Angamanga commented on #3488
Belongs to epic https://github.com/ushahidi/platform/issues/3487

[2019-04-01 11:18] Angamanga commented on #3489
Belongs to epic https://github.com/ushahidi/platform/issues/3487

[2019-04-01 11:18] Angamanga commented on #3490
Belongs to epic https://github.com/ushahidi/platform/issues/3487

[2019-04-01 11:18] Angamanga commented on #3491
Belongs to epic https://github.com/ushahidi/platform/issues/3487

[2019-04-01 11:19] Angamanga commented on #3492
Belongs to epic https://github.com/ushahidi/platform/issues/3487

[2019-04-01 11:50] AmalHanif commented on #3320
I will Edit current CSS styling to fit the natural image size. kindly review.

[2019-04-01 12:00] Erioldoesdesign commented on #3320
@SolKuczala Did you look into this issue? If you found a solution then I want to notify other contributors that the issue is taken :)

[2019-04-01 12:47] AmalHanif commented on #3320
If we edited class **wordmark-replace** , 39x17 instead of 50x20 . this fixed the blurred logos. But its also effects on other places where we use the _wordmark_. Are this change is good to change?

[2019-04-01 12:49] Erioldoesdesign commented on #3320
@AmalHanif let's ask @Angamanga she's our front-end expert :)

Ideally we wouldn't have a styling change affect other places it's used and we'd look at extending this style so we can fix this particular instance.

[2019-04-01 13:01] tuxpiper opened #3493 "Provide enhanced manual installation experience"
## Overview
Assist the manual installation process with step by step validation routines and guidance, and useful error messages.

This will consist of four sub components:

1. platform-client: a few gulp tests for the contents of the .env (and config.json?) files before building (#3549)
2. platform-client: a "Frontend End-to-End validator" web application, that will load in the deployers browser,

[2019-04-01 13:04] clsoar commented on #3486
@Erioldoesdesign I will read through the Outreachy getting started info and let you know if I need more help with it.

[2019-04-01 20:00] SolKuczala commented on #3320
If amalhanif has the solution  already, go ahead. I had a problem trying to find the  source code  for that page and maybe it'll take me little longer.

[2019-04-02 08:28] tuxpiper commented on #2003
Close as duplicate of #3319 , which has more conversation / info

[2019-04-02 08:28] #2003 closed

[2019-04-02 08:37] Angamanga commented on #3320
@AmalHanif Hi there! Thank you for investigating this issue! I would try to find other logos in larger format or svg as a start, instead of changing the css for this. What happens if you remove the class all together? Does it affect the size at all?

[2019-04-02 08:50] AmalHanif commented on #3320
we need to display inline from this class so we can't remove the class.

[2019-04-02 09:30] Angamanga commented on #3320
@AmalHanif Ah, I see, changing the css is straight forward but means you have to work in our pattern library (which of course you are welcome to do!!). If you are interested in that, please start looking here: https://docs.ushahidi.com/platform-developer-documentation/changing-ui-styles-introduction-to-the-pattern-library. Reach out if you need any guidance, I will be watching this today since I k

[2019-04-02 11:07] RuthAtem commented on #3487
Hi, is this issue available? if yes will like to work on it

[2019-04-03 10:24] tuxpiper commented on #3472
Hosted at https://docs.ushahidi.com now

[2019-04-03 10:24] #3472 closed

[2019-04-03 10:29] tuxpiper opened #3494 "Create End-to-End deployment helper running in browser"
A validation / diagnostics tool running on the browser, to be made available in a specific route ( i.e. https://deployment/diagnostics ) .

This could be either ...

1. A separate module in the same application reachable through an application route
2. A completely separate application (Angular / ReactJS ? ) . This may work better to make this a truly stand-alone tool.

If an error happens while s

[2019-04-03 10:30] tuxpiper opened #3495 "Frontend E2E Helper – test API reachability"
Add logic in the Frontend E2E validator so that:

* BACKEND_URL (or maybe retrieve from config.json ?) are parsed to obtain the URL for the API
* Requests for `/` and `/api/v3/config` are sent and verified
   * Return HTTP status 200
   * Header Content-Type: application/json present
   * Any other checks on content

Aha! Link: https://ushahiditeam.aha.io/features/PROD-240

[2019-04-03 10:31] tuxpiper opened #3496 "Create API installation helper/verifier"
Make available an installation helper tool and verifier/diagnostics subsystem for the Ushahidi Platform API.

The purpose of this tool is to aid completing a successful installation of the API, by:

1.  pointing out to the user any problems with their environment (i.e. PHP version, availability of composer, write-ability of necessary folders)
2. providing a guided configuration experience
3. verif

[2019-04-03 10:31] tuxpiper opened #3497 "API Gateway Checker – ensure security"
Since it may be leaking server internals, this shouldn't be available after a successful installation.

We should provide an easy way to turn this on and off.

[2019-04-03 10:32] tuxpiper opened #3498 "API Installation helper – validation step: database is configured and accessible"

[2019-04-03 10:33] tuxpiper opened #3499 "API Installation helper – installation step: configure .env file (CLI)"

[2019-04-03 10:34] tuxpiper opened #3500 "API Installation helper – installation step: run database migrations"

[2019-04-03 10:41] tuxpiper opened #3501 "Frontend E2E Helper – API endpoints compliancy tests"
* Test all these endpoints:
  * `/api/v3/config`
  * POST `/oauth/token`
    * because there's no way for this to know valid credentials, it is expected for this to fail, so we should test for the proper failure
  * `/api/v3/tags`
  * `/api/v3/forms`
  * `/api/v3/features`
  * `/api/v3/map`

Aha! Link: https://ushahiditeam.aha.io/features/PROD-239

[2019-04-03 10:47] tuxpiper opened #3502 "Frontend E2E Helper – routing compliancy test"
Ensure that the server providing the frontend is correctly setup for Angular routing:

* Non-existing files should respond with a 200 and the contents of index.html

Aha! Link: https://ushahiditeam.aha.io/features/PROD-238

[2019-04-03 10:48] tuxpiper opened #3503 "Frontend E2E Helper – UX polish for success and failure flows"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-237

[2019-04-03 10:51] tuxpiper opened #3504 "API Installation helper – UX for .env file configuration (Web)"