[2019-10-18 18:33] rowasc commented on #1067
We still need to define:
- what would be a good default? do we need to automatically general  -thumb, -medium, -large images as well? I think a -medium size image for the post view and a -thumb sized image for the post card when a post isn't open would be ideal.
- do we let deployers decide on all sizes or just the max width and then create the rest of the image sizes? I think it'd be ok to make a

[2019-10-21 11:35] Erioldoesdesign commented on #3793
Mostly copy pasting the conversation & files from the slack thread.

Right okay - I've been wrapping my head around this request. It's very... specific and actually not something you can do in many form/survey generators (google forms/typeforms etc.)
So what they want is to have long descriptions for questions in their survey that have more than just text so:

![ticket-3793- Form-field-description

[2019-10-21 11:36] Erioldoesdesign commented on #3794
The comment from the slack thread relevant to this issue is:

If we were going to do #3794 I would want to have this designed/built as a larger (i hate to use this word) re-design or deeper look at the flow of survey creation/build.

and

#3794 (Allow inserting blocks of content at arbitrary points in the form) actually would be harder to 'understand' from a user perspective without a lot of tutor

[2019-10-23 17:50] c3ho commented on #3265
@rowasc any particular sort methods for the users you wanted?

[2019-10-23 20:29] husar commented on #3656
I cant install project because missed class Memcached. Please help me beacuse i cant work!

[2019-10-23 20:30] husar commented on #3656
![Snímka](https://user-images.githubusercontent.com/44474224/67431504-b6d0da00-f5e4-11e9-9de3-04654ac6b62c.PNG)

[2019-10-24 04:01] c3ho commented on #2383
@Angamanga Is the following better? I removed the svg and the toggle, so only the dropdown is clickable now.
![image](https://user-images.githubusercontent.com/18711727/67452463-4b413980-f5f1-11e9-95ee-8f42a0397310.png)

[2019-10-24 12:28] tuxpiper opened #3796 "Mapbox mobile SDK updates"
Mapbox is overhauling their pricing plans, and associated to that there seem to be updates to be made to their SDK versions. Original message here:

--
Hey there,It looks like you're not taking advantage of our new pay-as-you-go pricing. We want to make sure you’re well set up before these changes go into effect on November 20, 2019.

Here’s how you can prepare for this upgrade:

Take the API requ

[2019-10-25 11:20] husar commented on #3656
Is this project functional beacuse I got this only
![image](https://user-images.githubusercontent.com/44474224/67567339-040a9400-f72a-11e9-91d8-f697ace00530.png) and didnt see some controlers and functional route in web.php

[2019-10-25 11:22] husar commented on #3656
Is this project functional beacuse I got this only
![image](https://user-images.githubusercontent.com/44474224/67567542-5fd51d00-f72a-11e9-9ea8-e2012cd42cab.png) and didnt see any controllers and functional route in web.php

[2019-10-25 12:24] rowasc commented on #3656
yea, it is. That screenshot leads me to think there is some setup issue.
What setup guide are you using? if using XAMPP, make sure you are setting up the htaccess files and virtualhost correctly per this guide
https://docs.ushahidi.com/platform-developer-documentation/development-and-code/setup_alternatives/xampp#configure-the-platform-httpdocs-htaccess-file

[2019-10-27 19:20] husar commented on #3656
Ok, so a try to follow this instructions and if i try localhost it gives me this like in this guide:
![image](https://user-images.githubusercontent.com/44474224/67639973-0a9a3680-f8f7-11e9-9a6f-ef4adf799ce6.png)
and if i try go to public folder for example it gives me this:
![image](https://user-images.githubusercontent.com/44474224/67639983-31f10380-f8f7-11e9-8ddd-adc75a90064e.png)

[2019-10-29 10:54] HMuhammad commented on #3664
Read this page: https://docs.ushahidi.com/platform-developer-documentation/

Currently reads:
Ushahidi is an open source web application for information collection, visualization and interactive mapping. It helps you to collect info from: SMS, Twitter, RSS feeds, Email. It helps you to process that information, categorize it, geo-locate it and publish it on a map.

Suggest Change to:
Ushahidi is a

[2019-10-30 11:32] rowasc commented on #3656
excellent, the first image in localhost is correct since it is the default API response. You may want to do an edit in your hosts file to use something like `127.0.0.1 api.ushahidi` so it's easier/more intuitive to connect from the client.

The next step is setting up the platform client itself and pointing to that API

[2019-10-30 12:49] husar commented on #3656
OK finally it works!!! thanks :D :D ..... but i have another problem: i can't log in for open userpage

[2019-10-30 23:48] rowasc commented on #2383
@allcontributors add c3ho for code

Thanks @c3ho !

@Obadha2 please review this in steve-buscemi tomorrow?
Thanks!

[2019-11-01 11:25] Obadha2 opened #3799 "[Ubuntu+Chrome] Language options under change language not visible."
**Describe the bug**
On chrome browser, the language options are not visible. Instead, user sees a white screen where there should be the list of languages that can be selected. Language options can still be selected, just not visible.

**Where was the bug observed**
Test environment - https://test-deployment.steve-buscemi.ush.zone/views/data
Prod Environment - https://isooko.ushahidi.io/views/map

[2019-11-01 11:37] Angamanga commented on #3793
@rowasc @tuxpiper @Erioldoesdesign Have attempted to spec above solution, the trickiest thing turned out to be finding a WYSIWYG library that outputs markdown, most libraries output HTML, would that be an ok option?

- [ ] Update instructions-column in form_attributes to be of type text in the db + where needed in the backend
- [ ] Find library to handle wysiwyg in the fe and that saves as markdow

[2019-11-01 18:32] rowasc commented on #2455
hey @Obadha2 did you manage to test this? I'd like to release on monday but want to make sure we are OK with it

[2019-11-01 18:34] rowasc commented on #2383
Noting that this worked as expected but we found a pre-existing issue that we should address soon. https://github.com/ushahidi/platform/issues/3799 just linking for reference of where it was found .
Sending this to production in the next release.

[2019-11-04 07:32] AmTryingMyBest opened #3800 "Language Options: Drop-down should show selected langauge."
**Which user group(s) are the primary audience for this feature/enhancement.**
This is a feature that would be applicable for all deployments and use cases.

**Is your feature request related to a problem? Please describe.**
This feature makes it quicker to notice what language is currently in use, and makes for a cleaner User Interface.

**Describe the solution you'd like**
On the dropdown, what

[2019-11-04 08:54] Angamanga commented on #3555
@rowasc @Erioldoesdesign Doing the last fix on this (same pr as Romina started), but am a bit confused, should the language switch immediately or after save? Also, if an admin already selected a language in map-view, should that language persist for that particular user, or should it change if that user goes to general-view and select a new language? 🤔

[2019-11-04 12:24] #2455 closed

[2019-11-04 16:16] Erioldoesdesign commented on #3555
Hmm a few questions here that really, will be best guesses.

- Yes I think the language should change before you hit (english) 'Save'.
(Though note: there will be people that switch by mistake and might not know say...the Russian, Korean etc. for 'save' and therefor get stuck in a language they don't know.) The fix here is for the save button to have an icon alongside the text. Floppy disk is stil

[2019-11-05 08:38] Angamanga commented on #3555
@Erioldoesdesign Yes, mostly. For nb 2, there is a way for all users to select their preferred language in the map-view, do you think we should remove that? (I guess that becomes a whole other issue though). My question for this was:
1. The admin setting up the deployment set their preferred language for themselves in the map-view then
2. goes to the general-view and set the language for the deplo

[2019-11-05 11:48] Angamanga commented on #3555
@Erioldoesdesign Also, do you know if we have access to other icon-sets that include the floppy-disk? It's not included in the ones we have in the pattern-library :/

[2019-11-05 13:05] rowasc opened #3801 "Help collect information about who would like to migrate from V2-V3"
## Overview
We are working on a v2-v3 migration tool. Initially we will do a CLI to evaluate usage and needs, we would like to be able to collect emails/info on deployers who are interested in the service to reach out to them.

## Who is it for? Who are the users?
- Deployers who own a v2 deployment and may be interested in the migration service.

## What privacy impacts does it have?
- Does it ch

[2019-11-05 13:08] rowasc opened #3802 "Create awareness about the CLI Migration tool/services in DotCom"
## Overview
We are working on a v2-v3 migration tool. Initially we will do a CLI to evaluate usage and needs, we would like to be able to collect emails/info on deployers who are interested in the service to reach out to them. _To generate awareness of [the form where people can sign up](https://github.com/ushahidi/platform/issues/3801) and the service_, we may consider a sticky top bar announcing

[2019-11-07 12:46] Angamanga commented on #3793
@Erioldoesdesign A question I noticed about the behavior of the description-toggle. As it is now, the toggle is never switched on, even if there is a description, which is a bit confusing to the user, so I want to change that. See screen-recording here: https://recordit.co/JCEisus45G

My questions and assumptions are:
1. When there is a description saved, the toggle should be green and the descrip

[2019-11-07 15:23] Erioldoesdesign commented on #3793
If this is the best option (because wysiwyg editors are poorly supported) I would say yes, HTML output works. We can test and review. :)

Yes! if the user has previously added a description to that field then it should be defaulted/remembered as 'on' and show the editor.

Hmm...trickier...I would say it should be deleted/removed if the toggle is 'switched off' *but* there should be a modal/warning

[2019-11-07 15:49] Erioldoesdesign commented on #3801
@Angamanga Can we chat about this?

Essentially it's a page in dot com that would have text/copy about the v2-v3 migration project to gather/collect any people that we aren't actively reaching out to ourselves with  a simple form to collect:

- Deployment URL
- Email contact
- Why you want to migrate from v2-v3
- Best time to contact you/timezone
- Other info

There's a comms piece that goes aroun

[2019-11-07 15:51] Erioldoesdesign commented on #3802
@Angamanga for awareness of the connecting issue re. v2-v3 design+FE.

Part of this work is (hopefully!) a 'Sticky' banner across all v2 hosted deployments that directs to the dotcom page to register their interest in migrating.

[2019-11-07 16:50] Erioldoesdesign commented on #1410
Adding my post-it notes sketches from my sync with @tuxpiper re. v2->v3 here because I don't think they apply to some of the more specific tickets just yet...

![IMG_20191031_093028](https://user-images.githubusercontent.com/11681324/68409172-89f0fb00-017e-11ea-9a6f-0f7f9a88cf56.jpg)
![IMG_20191031_093037](https://user-images.githubusercontent.com/11681324/68409178-8e1d1880-017e-11ea-9c21-7cddc9a1

[2019-11-08 08:02] Angamanga commented on #3793
@Erioldoesdesign

So, what I meant was, if the description is saved in the form here, even if the toggle is turned off:
![Screenshot 2019-11-08 at 09 00 14](https://user-images.githubusercontent.com/8624777/68459648-375b2180-0206-11ea-8b03-602b563cd514.png)

Should the description be visible here then:
![Screenshot 2019-11-08 at 08 59 19](https://user-images.githubusercontent.com/8624777/68459673-

[2019-11-08 08:19] Angamanga commented on #3793
When thinking about it, I like the idea to control the visibility of the description with the toggle instead of text in the form, in that way there are less clicks and warnings and the user can choose if they want to start working on a description, leave it there and turn the toggle on when ready. Would that be ok?

[2019-11-08 13:25] Angamanga commented on #3793
After chatting with Eriol we decided to go for the solution where the toggle decides if the description is shown in the post-add/edit view or not.

[2019-11-12 19:11] jnhooper commented on #3661
Is there a reason to use vagrant locally instead of having docker setup for development purposes? It looks like there's already work done for deploying with docker right?

[2019-11-14 13:53] Angamanga opened #3804 ""Outgoingemail" should not be a filter-option"
**Describe the bug**
In the platform-map-view, when logged in, there is an option for "Outgoingemails" in the data-source filters:

<img width="364" alt="Screenshot 2019-11-14 at 14 50 06" src="https://user-images.githubusercontent.com/8624777/68862685-2de22580-06ee-11ea-9de6-1ce7ec3315da.png">

This option should not be there.

**Where was the bug observed**
https://annatest1000.ushahidi.io/views

[2019-11-14 17:21] rowasc commented on #2372
Passed :) No `more` button present

[2019-11-14 17:21] #2372 closed

[2019-11-14 17:21] rowasc commented on #2716
Released

[2019-11-14 17:21] #2716 closed

[2019-11-14 19:24] rowasc commented on #3793
@Obadha2 can you try this in steve-buscemi in the morning?
Testing checklist from Anna:
- Go to settings-survey
- Add a new survey
- Add a new field, or edit title or description
- [ ] A markdown editor should appear below "Add field description (optional:)":
![Screenshot 2019-11-11 at 10 43 38](https://user-images.githubusercontent.com/8624777/68577365-39c0b400-0470-11ea-82f7-08e0486c09ee.png)
-

[2019-11-15 11:06] Obadha2 commented on #3793
QA'd, passes. :+1:

[2019-11-15 15:29] AlanaFarkas commented on #2277
Hi,

I'd like to pick this ticket up!

[2019-11-15 15:34] Angamanga commented on #3801
Sorry @Erioldoesdesign I missed this. It sounds alright and pretty straight forward :)

[2019-11-15 15:40] AriannaLanz commented on #1928
I'm going to take a look at this :)

[2019-11-15 15:58] #2383 closed

[2019-11-15 16:02] rowasc commented on #3793
💯 💯 💯 💯 💯  THANK YOU all. Let's deploy this on monday morning !

[2019-11-15 16:35] AriannaLanz commented on #3543
Looking at this one!

[2019-11-15 16:38] rowasc commented on #2277
awesome, thank you. !

[2019-11-15 17:43] rowasc commented on #3543
HA. I was just trying to repro this in case you needed help... *fun fact*:  This can only be reproduced by either sending an invalid character (notice the difference between " and “ ) OR sending an empty body in the request. It's not related to the form ID itself but to  fact that the validation is being skipped/ passing essentially if the body is empty (!!!!!)

[2019-11-15 17:46] AlanaFarkas commented on #3326
I cannot replicate this issue locally, has this been fixed?

[2019-11-15 17:51] rowasc commented on #3326
I was able to repro.
I had 21 posts, deleted one. Then the count is showing "19 of 21 posts" 🤔
<img width="730" alt="Screen Shot 2019-11-15 at 14 49 43" src="https://user-images.githubusercontent.com/2434401/68964088-3ce0da80-07b7-11ea-9018-d20ff631ad06.png">

[2019-11-15 17:53] rowasc commented on #3326
Slightly better image sequence, sorry:
2 of 2 posts (correct)
<img width="639" alt="Screen Shot 2019-11-15 at 14 51 35" src="https://user-images.githubusercontent.com/2434401/68964173-787ba480-07b7-11ea-977c-c6086c18573d.png">

*Deleted 1 (Count: 1 of 2. Incorrect)* <- this is the error
<img width="580" alt="Screen Shot 2019-11-15 at 14 51 38" src="https://user-images.githubusercontent.com/2434401

[2019-11-15 18:50] rowasc commented on #3486
ah, this was merged already (it was fixed for surveys and it was applied to all the forms) . Closing!

[2019-11-15 18:50] #3486 closed

[2019-11-15 18:51] rowasc commented on #2376
hi @EnriqueGalindo , I'm sorry I have missed this comment. Are you still interested in working on this issue?

[2019-11-15 19:13] rowasc opened #3805 "`bug` class name is not intuitive"
The `bug` class name is not intuitive. It sounds like we are displaying an error or that we were fixing a bug and forgot to rename it. We should look into better naming for it , I think?

Aha! Link: https://ushahiditeam.aha.io/features/PROD-164

[2019-11-15 19:17] rowasc commented on #3805
@Angamanga @Erioldoesdesign  could we find a better name for this? 💃 😬 It still confuses me and someone in the hackathon reminded me of this class name and now I'm confused about it again :D  at this point I was just resigned to live with BUT WE COULD CHANGE IT 💥 (maybe??)
🎉
http://preview.ushahidi.com/platform-pattern-library/develop/assets/html/1_basics/#pl-pattern-bugs

[2019-11-15 20:22] AlanaFarkas commented on #3326
Just open a PR for this, here: https://github.com/ushahidi/platform-client/pull/1365

[2019-11-15 20:29] stewartweiss opened #3807 "Broken link on Ushahidi Getting Started page"
On the web page,
https://www.ushahidi.com/support/install-ushahidi
the pop up window has a link
"Getting started" guide for developers
in which "Getting Started" is a hyperlink to a page, with the URL
https://docs.ushahidi.com/platform-developer-documentation/getting-started
which when clicked results in
Page not found. Sorry, but the page you were looking for could not be found.
This happens usin

[2019-11-15 22:09] rowasc commented on #3807
Oh noes. Thank you for reporting. Fixed it now. 🎉

[2019-11-15 22:09] #3807 closed

[2019-11-15 22:09] rowasc commented on #3807
@all-contributors please add @stewartweiss for docs

[2019-11-16 09:02] Angamanga commented on #3805
@rowasc I would love to change it!!

[2019-11-16 14:48] stewartweiss commented on #3807
Thanks for the quick fix and for keeping me in the loop.

[2019-11-18 13:23] Angamanga opened #3812 "Updating our client-build-system"
## Overview
The version of Gulp we are using is outdated and we have many security-alerts because of this. Updating to v4 would remove some of our security-alerts.

This epic includes:
- Upgrade to Gulp v4 in our current environment with our current settings and fix where things are breaking (Very useful guide here that covers what is breaking for us: https://www.sitepoint.com/how-to-migrate-to-gu

[2019-11-18 13:26] Angamanga opened #3813 "Upgrade to Gulp v4"
- Upgrade to Gulp v4 in our current environment with our current settings and fix where things are breaking (Very useful guide here that covers what is breaking for us: https://www.sitepoint.com/how-to-migrate-to-gulp-4/)
- Remove run-sequence plugin, not needed for Gulp 4

[2019-11-18 13:27] Angamanga opened #3814 "Upgrade Karma to latest version"
- Upgrade Karma to latest version

[2019-11-18 13:32] Angamanga opened #3815 "Remove jscs and use eslint/prettier instead"
- Remove jscs and use eslint/prettier instead (would remove some of our vulnerabilities(~½ week)

[2019-11-21 19:12] rowasc opened #3816 "Gulp and Webpack migrations"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-163

[2019-11-21 19:16] rowasc opened #3817 "gulp"

[2019-11-21 19:32] rowasc opened #3818 "Review hosting"

[2019-11-25 13:08] ritesh-pandey commented on #3769
Is the issue available as `community task`?

Will this patch fix the issue?
[code]

We need to show intercom launcher link only if `interecomAppId` is present.

[2019-11-26 08:50] Angamanga commented on #3769
@ritesh-pandey Thank you for reaching out, yes this is available as a community task 🎉  Your solution is correct, in addition, you would probably need to do the same check for the row below as well: https://github.com/ushahidi/platform-client/blob/develop/app/common/directives/mode-bar/support-links.html#L14

[2019-11-26 14:32] Angamanga commented on #3801
@rowasc @Erioldoesdesign @tuxpiper  I have started the form and connected it to a specific wufoo-form. Its in staging here: http://darwin.ushahidi.com/v3migration
1. What email-addresses do we want it to go to?
2. Does this capture everything we want to know?
3. The copy... Some additional info in the right-hand column is needed

[2019-11-28 11:44] ritesh-pandey commented on #3656
@husar Are you working on this?

[2019-11-28 14:29] Angamanga commented on #3781
I have started this work in https://github.com/ushahidi/platform-client/pull/1382 but the following changes are needed to make the whole process more clear:
1. Move the deletion of an image to the final save. Right now, if someone deletes an image and then decides to not save, the image is gone.
2. Display the correct width of the image if it fits in the window. Right now images that are small bec

[2019-11-28 14:54] #3769 closed

[2019-11-28 14:55] Angamanga commented on #3769
@all-contributors please add @ritesh-pandey for code

[2019-11-30 08:12] Jenniline commented on #3531
Hi, @rowasc sc  I saw this and I am interested in it. I  have already begun working on it. I Just have a question on the location of the data sources .html file. I am almost finished working on the issue.
Thanks

[2019-11-30 21:20] Jenniline commented on #3660
Hi, @rowasc
I have set up The Platform API and the Platform -Client I have both of them up and running my deployment name is Jenniline.io.

Though I set them up before you opened this issue. So I don't know if there are additional features

I set up my environment with the installation using XAMPP on  Ubuntu Linux.

I don't quite understand this issue here can you please direct me on how to go abo

[2019-11-30 22:55] Jenniline commented on #3533
Hi @rowasc,
I will like to be assigned this issue.
 I need help with this issue. It is quite straight forward and the hint is a lot of help. However, I don't seem to find the line of code from where this issue is from.
I have gone through the link on the hint and searched all the code files for the text that says **"Create a new Twitter application"** but I have not found it.
Please direct me on w

[2019-11-30 22:58] Jenniline commented on #3531
Hi @rowasc,
I have made a Pull Request on this issue.
The Pull Request is on the edit in the en.json file
Please review it.

Nevertheless, I still need help with finding the datasources,html file.

Thanks

[2019-11-30 23:23] Jenniline commented on #3664
Before you start coding, read through the Development & Code section to get started and to get help setting up your environment!

Before you begin coding, read through the Development & Code section to get started and to get help setting up your environment!

**Explanation**
Here Start can be replaced with begin. Both words pertain to the commencement of an action. However, Begin in this context g

[2019-11-30 23:33] Jenniline commented on #3664
Currently reads:
If you are a designer and want to contribute to Ushahidi, please contact the Ushahidi design team at design@ushahidi.com or through the Join the Ushahidi community section of these docs. While you are waiting for us to reply, start reading through our Design-docs.

Suggested change to:
The word "through" after the design@ushahidi@.com should be removed.

**Explanation**
The statem

[2019-11-30 23:46] Jenniline commented on #3664
Hi @Angamanga
I have the Ushahidi platform-client and the API up and running.
I used the installation using XAMMP on Ubuntu Linux.
But before that, I encountered a lot of problems but I was able to find a solution to them.
I will like to know if there is a section of the Documentation where I can add **Possible issues one might face while setting up their environment and also Possible solutions to

[2019-12-02 09:08] ritesh-pandey commented on #3531
Second change requires editing in this file.
`/app/settings/datasources/datasources.html`

[2019-12-02 23:07] rowasc commented on #3660
Hi @Jenniline , thanks for letting us know of the 404 error.
I have updated the links to the documentation in the issue. Let me know if that works?
The installation helper documentation can be found here https://docs.ushahidi.com/platform-developer-documentation/development-and-code/installation-helper

Thanks
Romina

[2019-12-03 07:52] Angamanga commented on #3531
@Jenniline Thank you for looking into this. @ritesh-pandey is right (thanks for helping out!), the files related to datasources are found here: https://github.com/ushahidi/platform-client/tree/develop/app/settings/datasources

[2019-12-03 08:01] Angamanga commented on #3533
@Jenniline Thanks for looking into this issue. You find the code for this issue in the datasources-folder: https://github.com/ushahidi/platform-client/tree/develop/app/settings/datasources. What makes it confusing is that the text is coming from the api at this point (https://github.com/ushahidi/platform/blob/develop/src/App/DataSource/Twitter/Twitter.php), so that is why you don't find it :) You

[2019-12-03 08:05] Angamanga commented on #3473
This was done in the dev-hub work so closing.

[2019-12-03 08:05] #3473 closed

[2019-12-03 18:56] rowasc commented on #3781
I just tested the initial commit with size validation and required, and it works really nicely <3 You rock @Angamanga
Will try the latest "delete image" PR now too

[2019-12-03 18:57] rowasc commented on #3781
re 4 - I can pair later in the week totally

[2019-12-04 14:55] #3781 closed

[2019-12-05 08:46] Erioldoesdesign commented on #3598
@Angamanga what can I do to support this? Can I provide some Adobe XD templates for social media banners that will help not just this kind of promo but hopefully more promo in the future?

(also would be great open source design issues ;))

[2019-12-06 09:47] Angamanga commented on #3598
@Erioldoesdesign Not sure if more promo is happening for the devhub... but those kind of banners would be great to have + if they can be open source design-issues = 🎉 🎉 !!

[2019-12-06 09:48] Angamanga commented on #3598
@Erioldoesdesign We could close this and create new issues for os-design?

[2019-12-06 12:24] Erioldoesdesign commented on #3598
@Angamanga sounds like a plan! ❤️

[2019-12-06 13:27] Angamanga commented on #3598
@Erioldoesdesign <3 Closing!

[2019-12-06 13:27] #3598 closed

[2019-12-09 14:17] #2277 closed

[2019-12-10 15:14] CeciliaHinga opened #3824 "More feature instructive steps on how to implement Twitter as a Datasource"
**Is your feature request related to a problem? Please describe.**
There are no clear instructions on how to create a new twitter application in order to generate a consumer key and token.

**Describe the solution you'd like**
A descriptive step by step guide on how to apply for a developer software account in order to get access to a free standard twitter API for me to be able to embed tweets on

[2019-12-13 12:51] rowasc opened #3826 "Failed to validate posts entity error on image uploads for non-admin users."
**Describe the bug**
-  When submitting posts with images in a form with tasks, a deployer is getting the error `Failed to validate posts entity : post.user_id.exists`
<img width="1060" alt="Screen Shot 2019-12-13 at 09 47 47" src="https://user-images.githubusercontent.com/2434401/70801433-a55ab180-1d8d-11ea-8e42-8be92e8e4c63.png">
- This happened to users with the following permissions: Manage Po

[2019-12-13 14:25] CeciliaHinga commented on #2455
@Angamanga Is the expected behavior for this as you have explained on the issue what you meant? That if there no categories there should not be a category field type present on the list?If so, i do not have any categories on my deployment and i can still see the category field type

[2019-12-14 05:22] Erioldoesdesign commented on #3801
Shame on me for checking this 18 days later...

Anyways we talked about this on slack but I made edits in browser inspect which I'll upload here:

[Mirgration Page edits.zip](https://github.com/ushahidi/platform/files/3963484/Mirgration.Page.edits.zip)

But it's a zip!

Email address wise...it essentially needs to be customer support related communication. Wherever it goes there needs to be an aut

[2019-12-16 19:17] rowasc opened #3827 "Platform SDK"
## Overview
A software development kit to help others create advanced integrations with Ushahidi deployments.
Some examples of what could be created with it include
- Listing all your posts in your own website
- Getting your deployment information from another website
- Ideally, we should also see an SDK as an opportunity to provide better authentication solutions (make it a module and integrate t

[2019-12-18 08:47] Angamanga commented on #3826
Steps to reproduce:
1. Add a post with an image as admin
2. Edit post as user with permissions  Manage Posts, Edit their own posts, Manage Collections and Saved Searches, and Bulk Data Import and Export, change the image
3. Save
4. Error-message appears

[2019-12-18 11:03] Angamanga opened #3828 "Cancel-button in the bottom of the edit-post-page is not working"
**Describe the bug**
When clicking on the cancel-button in the bottom of the edit-post-page, nothing is happening

**Where was the bug observed**
Local environment with Vagrant.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to data-view
2. Log in as admin or manage-posts
3. Click a post and select Edit
4. Scroll down to the bottom of the edit-view
5. Click cancel
6. Nothing happens

**E

[2019-12-18 15:14] Angamanga commented on #3826
This issue is larger than just images.
My findings so far:
- When a user without Manage users-permissions read a post, the get /users fails
- This prevents getting the user_id to that specific post
- When the user then tries to save a post after editing, the post-validator stops it, because there is no user_id available in the post.

Why the client asks for the whole user, and not accepts the post

[2019-12-19 13:11] Angamanga commented on #3826
@rowasc We need to decide what the behavior should be for different permissions and access to users to solve this issue.
There two different options:

1. Only Admins and Users with manage Users permissions are allowed to read anything about users(like now).
Need to do: We need to fix the fetching of users for everyone who has not the correct permissions, to not destroy the post-object that are sen

[2019-12-20 12:55] rowasc commented on #3826
hey Anna. This is great! Thank you for your findings. If we do 2, it would mean that we open information up that was previously private, no?

[2019-12-20 13:03] Angamanga commented on #3826
Yes, we open it up to those with Manage posts permissions :/ So its a bit delicate I think. But still, it might be hard to triage posts without knowing who has sent them? I am not sure if it always has been like that?

[2019-12-20 13:06] rowasc commented on #3826
:/ Yea. I think the only way to go here is to be more granular about permissions. *seeing usernames*  is quite different than *managing users*

What I'm wondering about now is, do we really need the user_id to be accessed by the client, to enable uploading images or triaging of posts? It doesn't sound very likely to me. I mean certainly we do need them now but we shouldn't, no? I may be forgetting

[2019-12-20 13:10] Angamanga commented on #3826
Yes, a more granular permission I think is the best option. As it is now, we fetch the user to get hold of the username, that the only we really need the user_id for. But you are on to something, we could send the username directly with the post and not having to get it in the client? That would save us a request in the api too. *winwin*?

[2019-12-20 13:27] Angamanga opened #3829 "More granular permissions for usernames"
**Which user group(s) are the primary audience for this feature/enhancement.**
Users with Manage Posts permissions

**Is your feature request related to a problem? Please describe.**
Yes, users with manage posts permissions and no Manage users permissions cannot see usernames on posts. This makes it hard to triage posts, at the same time, those users does not need more access to users than the use

[2019-12-20 13:27] Angamanga commented on #3826
Decision on how to move forward:
1. Make the fix the fetching of users for everyone who has not the correct permissions, to not destroy the post-object that are sent to the api (and destroys the save after edit).
2. Usertest and make decision on how to solve more granular permissions for access to usernames.
3. Implement more granular permissions (if decided its needed)
New issue for more granular

[2019-12-22 08:08] ford-prefect commented on #3663
The documentation does not mention `API_KEY` in `platform/.env` which is needed for the oauth keys to be generated. I don't know if that would have made the `migrate` script work, but I figured this out later and manually generated the keys.

[2019-12-22 08:09] ford-prefect commented on #3663
Also the default deployment produces an 'Access Denied"' when you open an URL, which is misleading, because you can skip login and navigate to the pages you should have access to without a login. Still not sure how to fix this one.

[2019-12-23 15:34] Angamanga opened #3830 "Post-lock fails to unlock after save"
**Describe the bug**
The post-locks fail to unlock after someone saves it or leaves it.
**Where was the bug observed**
https://annatest1000.ushahidi.io/
https://test-deployment.steve-buscemi.ush.zone

**To Reproduce**
Log in as one user, start editing some posts.
- Save some
- Leave some
- (to make it easier, take note of which ones you do above)
- Log out and log in as another user
- Go to datavi

[2020-01-01 22:02] Jenniline commented on #3531
Thanks @Angamanga and @ritesh-pandey. I have viewed the file and I have made the necessary changes.
@Erioldoesdesign and @rowasc I have made a pull request for this issue here are the links
for the en.json file: https://github.com/Jenniline/platform-client/pull/1
for the datasources.html file:  https://github.com/Jenniline/platform-client/pull/2.

Please review it.
In addition, I will also like to

[2020-01-02 19:19] rowasc commented on #3671
@tuxpiper this should be closed, I think?

[2020-01-02 19:20] #3793 closed

[2020-01-02 19:22] rowasc commented on #3766
@Obadha2 can you try to reproduce/understand this issue and provide details?

[2020-01-02 19:26] rowasc commented on #3794
Closing this wont-fix issue, as we addressed this (partially) with the simpler #3793 feature. Tagged "Theme: forms" so it's easy to find later.

[2020-01-02 19:26] #3794 closed

[2020-01-02 19:29] rowasc commented on #3494
Closing as the only missing things are bugfixes now

[2020-01-02 19:29] #3494 closed

[2020-01-02 19:30] #2505 closed

[2020-01-02 19:32] #3577 closed

[2020-01-02 19:32] #3338 closed

[2020-01-02 19:37] #3549 closed

[2020-01-02 19:37] rowasc commented on #3493
@tuxpiper I think this should be closed since it'd be the verify composer script? reopen if you disagree :)

[2020-01-02 19:37] #3493 closed

[2020-01-02 19:40] rowasc commented on #2569
Closing this in favor of the higher level epic https://github.com/ushahidi/platform/issues/2283

[2020-01-02 19:40] #2569 closed

[2020-01-02 19:47] rowasc commented on #2571
Closing at least for the moment, we may come back to this. This should happen when people get in touch, I think we shouldn't put PII collection tools in our build system or blockers to download the software. I certainly would not appreciate this in any package that we use from open source communities.

[2020-01-02 19:47] #2571 closed

[2020-01-02 19:54] rowasc commented on #1437
We already have a color picker with a way to add HEX values directly. I'm inclined to close this in favor of https://github.com/ushahidi/platform/issues/1942 (referencing so we can later find this one easily), since we should be actively looking at making the color picker more friendly in #1942 as HEX values are OK but not super accessible for less tech savvy folks. Thanks!

[2020-01-02 19:54] #1437 closed

[2020-01-02 20:02] rowasc commented on #855
hrm. I'm closing this until/unless we get a request to work on something like this again. While it would be great to have, it's not something we will really be able to tackle in the next year unless we get a specific enterprise request or a grant needs it, in which case we will create a more detailed issue.

[2020-01-02 20:02] #855 closed

[2020-01-02 20:14] rowasc commented on #1575
Closed in favor of https://github.com/ushahidi/platform/issues/1894

[2020-01-02 20:14] #1575 closed

[2020-01-02 20:23] rowasc commented on #1560
@aoduor  I am not sure but is this https://github.com/ushahidi/platform/issues/1534 a duplicate of this ticket? Do you remember why this was needed? Nat mentioned funders, but I don't imagine that we actually would share that level of detail with funders often?

[2020-01-02 20:28] rowasc commented on #1571
This is already possible.
About the PII part: I think this is better solved through fields that only non-logged in users would see (but now I'm basically going into conditional branching... which is not something we do) . Eriol's feedback is super useful here, the deployer was actually doing something like that without conditional branching, but finding it hard to follow up... so maybe something t

[2020-01-02 20:36] rowasc commented on #2317
@CeciliaHinga can you make sure we add some docs on how to do it? Here's a screenshot of how to do it in user settings when logged in

<img width="660" alt="Screen Shot 2020-01-02 at 17 35 06" src="https://user-images.githubusercontent.com/2434401/71691478-441f7000-2d86-11ea-9b13-86667365fd4a.png">
and the other way is "forgot password" before logging in

[2020-01-02 20:38] rowasc commented on #2306
Referenced in the two related issues. Closing in favor of those.

[2020-01-02 20:38] #2306 closed

[2020-01-02 20:41] rowasc commented on #2453
@Angamanga do you recall if we have any real-world requests for this?  I think it makes category management really complex and unless we have data on it being needed, it's something that would introduce a lot of complexity without strong user research data to back it up.

[2020-01-02 22:13] #3764 closed

[2020-01-03 19:33] Jenniline commented on #3660
Hi, @rowasc I think this ticket needs a bit more explanation on the description of the issue and what is needed to be done or the expected outcome.
I have read it multiple times and I still don't really get what the issue is. I understand you need feedback on the new installation experience but what sort of feedback is it? Do you need documentation edits or code contribution or a bug fixes?
I need

[2020-01-03 21:37] rowasc commented on #1491
Noting here. I really think this isn't a thing in the map libraries I could find.  I found someone had an idea in one of the enterprise deployments that initially I thought was quite nice, to change the default cluster colors to be something _other_ than the colors users have selected for any surveys... that's pretty simple to do, doesn't require a lot of custom cluster code, doesn't make us chang

[2020-01-03 21:37] #1491 closed

[2020-01-03 21:42] rowasc commented on #1099
Agree. @Erioldoesdesign since you may have an idea already and I want to take full advantage of it😁 , how do you envision using the category colors? I don't see a way to assign category colors anymore, and also I don't see how we would use them right now? - I was convinced this was a thing until I checked 😬

[2020-01-03 22:04] Jenniline commented on #2384
Hi, @rowasc  and @Angamanga I will like to work on this issue.
Please, can it be assigned to me?

I have tried to reproduce the issue on my deployment so as to view it. However, I don't find it perhaps the version of Ushahidi I use is not that which had the issue. I don't see the drop-down menu displaying the list of languages as shown below.
![cropped deployment](https://user-images.githubusercon

[2020-01-06 12:08] Obadha2 commented on #3766
@rowasc the Settings option is not available to user that is not an admin. When a user is only a member, they won't have the Settings option available.

[2020-01-06 13:05] rowasc commented on #3766
He, yea, sorry I should have stated my request more clearly: can you verify that this does not happen with roles+permissions that *should* have access to settings? (ie the settings permission)
Thanks! @Obadha2

[2020-01-06 13:23] rowasc commented on #1322
@tuxpiper would you like to add this to the immediate roadmap?

[2020-01-06 14:34] Obadha2 commented on #3766
@rowasc I checked on both test environment and live, users who do not have access to the Setting options based on their role are not able to see the Settings menu item.
Users with appropriate roles are able to view the Settings menu item as required.

[2020-01-06 14:48] rowasc commented on #3766
Excellent, thanks @Obadha2 .
@fredychandra I'm closing this due to inactivity, but please open another issue with more details and link to this one, if this is still happening ?
Thanks!

[2020-01-06 14:48] #3766 closed

[2020-01-06 21:35] rowasc commented on #2384
@Angamanga I think you were doing some work on this no ?
@Jenniline I'll let Anna update this as needed. To make it work for multiple languages you'll need a transifex account, you can create it and we can add you to it. Thanks

[2020-01-07 10:04] aoduor commented on #1560
No, this is different.

#1534 is referencing a donor/funder being able to see, say SMS/Twitter posts which haven't been structured/assigned to a specific survey.

Let me give an example to describe this one.

I have survey A, and Survey B.

I want to be able to limit who can view posts assigned to survey B, e.g, Angie should be able to view posts from Survey A, but not Survey B.

Makes sense?

[2020-01-07 12:24] Erioldoesdesign commented on #3802
![v2-v3-Banner](https://user-images.githubusercontent.com/11681324/71895296-9840a080-3148-11ea-96b1-d92751ac9812.png)
@Angamanga

Thoughts?

You'll need to grab individual assets from the .xd file which we can go through in our skill share meeting :)

[2020-01-07 12:27] Erioldoesdesign commented on #3802
@Angamanga here's where the .xd file is: https://drive.google.com/open?id=1VmF6KMIaelDe-lf1zysPzmOgT6h2qgFa

[2020-01-07 13:56] rowasc commented on #1560
oh. That makes perfect sense to me, yes. I can see how it'd be useful, especially in large deployments with >10 volunteers that don't all have the same trust levels etc. Thanks Angie

[2020-01-07 14:18] rowasc commented on #3531
Thanks @Jenniline . We'll review it and get back to you 🎉 thank you !

[2020-01-08 11:39] Angamanga commented on #2453
@rowasc No I don't remember. I think it came up in relation to Dreams and I discussed it with Angie at the time...

[2020-01-08 11:40] aoduor commented on #2453
This came from our experience with Uchaguzi in previous years as well.

[2020-01-08 14:56] Angamanga commented on #3531
@Jenniline Thank you! Could you start with updating your fork with the newest changes in Ushahidis Platform-client-repo (a guide on how to do that can be found here: https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/merging-an-upstream-repository-into-your-fork) and then make a pull-request into this repo rather than into your own (a guide about that is found here: http

[2020-01-09 17:57] bismitaguha commented on #3828
@Angamanga @rowasc can I work on this issue?

[2020-01-09 18:01] rowasc commented on #3828
absolutely, thank you so much for checking! @bismitaguha assigning it to you

[2020-01-16 08:56] Angamanga commented on #3826
@Obadha2 Could you QA in Steve Buscemi? Testing-checklist:

Testing checklist:
- [ ] Log in as a user with Manage Posts permissions, but without admin or Manage Users permissions
- [ ] Go to data-view
- [ ] Select a post added by another user than the current logged in one
- [ ] Click on edit, make a change
- [ ] Click on save, post should save without error-message

Pull-request (for reference):

[2020-01-16 12:08] rowasc opened #3833 "Check out the Roadmap"
https://www.notion.so/ushahidiorg/454235df9167494ab38bbc24e2c6eb69?v=1982599529f7463183abd67f771f7c2c

Aha! Link: https://ushahiditeam.aha.io/features/PROD-158

[2020-01-19 19:04] tuxpiper commented on #1322
oh yep :+1:  I think it would be a nice thing to take care of off-cycle

[2020-01-20 14:44] Obadha2 commented on #3826
QA'd, passes. 👍

[2020-01-22 07:46] Obadha2 commented on #3649
Update from qa exercise:
 - Input-field is not emptied when the X button is clicked on. The white overlay disappears, but any content that had been typed into the search field persists.

[2020-01-28 12:24] Angamanga opened #3835 "Need translation for placeholder when adding name for a new role"
**Describe the bug**
When creating a new role, the placeholder for "Name" is not translated, it only displays the translation-string (role.name)

**Where was the bug observed**
https://annatest1000.ushahidi.io/settings/roles/create

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as an admin or user with manage-users permissions
2. Go to 'settings'->'roles'->click on '+'
3. The name is

[2020-01-28 12:32] Angamanga opened #3836 "Error-message when trying to create new role is not making sense"
**Describe the bug**
When trying to save a new role, and no Name or associated permissions is added, the error-message that appears is not informative:

![Screenshot 2020-01-28 at 13 11 40](https://user-images.githubusercontent.com/8624777/73264186-7334d000-41d2-11ea-8977-3ce32424f3fb.png)

**Where was the bug observed**
https://annatest1000.ushahidi.io/settings/roles/create

**To Reproduce**
Step

[2020-01-29 09:33] #3813 closed

[2020-01-29 09:33] #3814 closed

[2020-01-29 09:34] #3815 closed

[2020-01-29 09:34] #3826 closed

[2020-01-29 09:34] #3830 closed

[2020-01-29 09:34] #3649 closed

[2020-01-30 03:41] rowasc commented on #3836
https://github.com/ushahidi/platform/pull/3837 got bored waiting for tests to run and fixed this one.. I think ? 😬

[2020-01-30 10:01] petrizzo opened #3838 "Previous ushahidi versions reports doesn't import"
Hi!
We have this instance -» https://yenchi.activistasxsl.org.ve and we want to migrate into a new version of ushahidi: https://yenchi.ushahidi.io/

I was made the migration but I can reach to show the reports on the map. The error message says that the reports has not latitude/longitude values, but I can see those values in the imported reports.

Any clue?

Aha! Link: https://ushahiditeam.aha.io/

[2020-01-30 11:59] rowasc commented on #3838
Hey @petrizzo  Not totally sure what's going on here.

If you send us a sample of the data (no PII, just a few rows to get the format so we can reproduce it reliably) and the survey design in the ushahidi.io deployment (fields etc) one of us can check it out and try to help.

cc @Obadha2 @Angamanga tagging so you can follow up during my vacation :)

Thanks for reporting this !

[2020-02-01 04:56] ridhishjain commented on #3484
This idea-list is of 2019. Is there any update regarding 2020?
Is there any new issue for 2020 list because the main sub-organization page [(of 2020)](https://hub.osc.dial.community/t/google-summer-of-code-2020-dial-open-source-center/920) leads directly to here

[2020-02-02 19:23] petrizzo commented on #3838
Hi!

Here you have a data sample and a capture from the survey that I was use.

thanks in advance

On Thu, Jan 30, 2020 at 7:59 AM Romina Suarez <notifications@github.com>
wrote:

--

María Ángela Petrizzo Páez
[image: https://]
[image: https://]about.me/petrizzo
<https://about.me/petrizzo?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=edit_panel&utm_content=plaintext>
Descár

[2020-02-02 19:26] petrizzo commented on #3838
Hi!

Here you have a data sample and a capture from the survey that I was use.

thanks in advance

![Captura de pantalla de 2020-02-02 15-19-02](https://user-images.githubusercontent.com/221018/73613854-10777600-45d0-11ea-9742-baf1d109080b.png)

![Captura de pantalla de 2020-02-02 15-25-51](https://user-images.githubusercontent.com/221018/73613886-57fe0200-45d0-11ea-8a29-d57dc376920a.png)

[2020-02-04 03:38] alti21 commented on #3835
Hi can I try to fix this issue?

[2020-02-04 05:57] leninpaulino commented on #3533
@Jenniline are you currently working on this?

[2020-02-04 06:41] Jenniline commented on #3533
Hi @leninpaulino Yes i am currently working on this issue.
You can still find more issues on the issue tracker, and keep in mind that Ushahidi has a platform and a platform-client it is good that you set up environment for each because some issues will need you to run the problem and see the behavior before being able to solve.
You can reach me if you need help.

[2020-02-04 09:06] himil-vasava commented on #3835
Should it just display "Name" like this?
![Screenshot from 2020-02-04 14-35-50](https://user-images.githubusercontent.com/55590415/73729820-be635b80-475b-11ea-838e-88c4682c1582.png)

[2020-02-04 14:49] Angamanga commented on #3835
@alti21 Yes please go ahead if not @himil-vasava has fixed it already? @himil-vasava are you working on this? You are correct, it should display "Name", but the world should not be hardcoded, it needs to be translated using the "role.name" (You can see another placeholder being translated here: https://github.com/ushahidi/platform-client/blob/develop/app/settings/site/settings-editor.html#L55)

[2020-02-04 14:53] himil-vasava commented on #3835
Yes I want to work on it and currently I am trying to solve it.

[2020-02-04 16:02] himil-vasava commented on #3835
I have made a pull request regarding it as now "Name" displays correctly.

[2020-02-04 21:01] himil-vasava commented on #3304
Can I work on this issue?

[2020-02-05 15:24] Angamanga commented on #3304
@himil-vasava Yes, please go ahead! Ping me if you run into any problems or need guidance! 👍 🎉

[2020-02-05 17:42] Jenniline commented on #3533
Hi @leninpaulino Yes I am. Almost done with it

[2020-02-05 19:21] leninpaulino commented on #3533
Nice, I'll try to do the setup and after that, I'll move with something else from the issues. Thanks.

[2020-02-05 19:34] Jenniline commented on #3533
Alright,  you can ping me anytime if you need help.

[2020-02-05 19:39] Jenniline commented on #3533
Hi @Angamanga and @rowasc  I have made a pull request for this issue https://github.com/ushahidi/platform-client/pull/1422#issue-371547833

I edited the en.json file as described by @Erioldoesdesign in the problem description.
Do I still need to edit the datasources.html file and the Twitter.php file?
Please let me know

[2020-02-05 20:14] himil-vasava commented on #3304
@Angamanga Is it okay now ?
![Screenshot from 2020-02-06 01-41-06](https://user-images.githubusercontent.com/55590415/73879279-2dd36b00-4882-11ea-87f8-e7131af13704.png)

[2020-02-05 21:56] Jenniline commented on #3531
Hi @Angamanga I have updated my fork and made the pull Request please review and let me know thanks

[2020-02-05 22:11] Jenniline commented on #2384
Hi @rowasc I have successfully created a transifex account my user name is Jenniline_Ebai.
Please add me to the organisation transifex page so that I can work on the task. I am ready to solve this issue.
I will like to be assigned this issue.
Thanks

[2020-02-06 10:31] Erioldoesdesign commented on #3533
Hey @Jenniline I'm gonna comment in the pull request conversation as I have just a few wording tweaks from my perspective of having raised this issue :)

I hope that's okay @Angamanga and @rowasc

[2020-02-06 20:54] Jenniline commented on #3660
Hi, @rowasc I am on it. I have decided to write documentation on my journey testing the Installer helper documentation.
 It is more of a report. It contains:

- The procedure I used
- details of my system and
- It gives the output of the commands on the doc
- The issues I faced and how I solved them?
- My Personal Analysis of the Installation Helper

Any other section of the report you will like m

[2020-02-07 10:48] #3835 closed

[2020-02-07 11:24] rohit645 commented on #3326
I am able to replicate this issue locally, @rowasc    can i work on this issue?

[2020-02-07 13:19] Angamanga commented on #3835
@all-contributors please add @himil-vasava for code

[2020-02-07 13:35] Angamanga commented on #3326
@rohit645 Thank you for your interest in contributing, please go ahead and work on this and don't hesitate to reach out if you need further guidance!

[2020-02-07 13:48] Angamanga commented on #2384
@Jenniline Try adding your transifex-credentials to your .env-file in the platform-client to download the languages,  you can read more about it here: https://docs.ushahidi.com/platform-developer-documentation/development-and-code/setup_alternatives/setting-up-the-platform-client#advanced-other-configuration-variables.

[2020-02-07 13:49] Angamanga commented on #3531
@Jenniline I don't find the pull-request, can you please try to open it again? Thank you 🎉

[2020-02-08 01:24] johnson-jnr opened #3844 "'Error creating symbolic link Permission Denied' on installation"
Hi, I've been following this tutorial page (https://docs.ushahidi.com/platform-developer-documentation/development-and-code/setup_alternatives/vagrant-setup) on setting up the backend environment as I would love to contribute to the codebase of platform v3 API.

When I run this command: **update-alternatives --set php /usr/bin/php7.1**
I get this error: Error creating symbolic link '/etc/alternati

[2020-02-09 19:29] Erioldoesdesign commented on #3660
Hi @Jenniline this sounds awesome :)

@rowasc should approve this but I would suggest adding your report to this issue in the comments if you feel comfortable doing that. That way it's open and viewable by the team + community.

I think the only other thing that could be useful is screen recordings of any issues you come across. You can use Quicktime player to record your screen when you get error

[2020-02-10 09:51] Angamanga commented on #3838
Hi @petrizzo! Applogies for late response.
I manage to import the csv you sent if I structure the survey this way:

![Screenshot 2020-02-10 at 10 48 32](https://user-images.githubusercontent.com/8624777/74139005-e555dd80-4bf2-11ea-8582-1bc0ce58d162.png)

Skip the longitude and latitude-fields in the survey and use one location field (here you chose latitude and longitude columns when you import) a

[2020-02-10 13:15] rohit645 commented on #3828
@rowasc Can I work on this issue?

[2020-02-10 13:17] rohit645 commented on #3828
@rowasc Can I work on this issue?

[2020-02-10 14:20] Angamanga commented on #3828
@bismitaguha Are you still working on this issue?

[2020-02-10 18:17] Jenniline commented on #3531
Hi Anna, here is the link to the branch
https://github.com/Jenniline/platform-client/pull/4/commits
This time I  made the commits consisting the changes to the 2 files in 1 branch. Since you once told me it is better to manage that way.

[2020-02-11 17:06] Angamanga opened #3845 "Fix travis-settings"
**Problem**
The travis.yml  file in [platform-client](https://github.com/ushahidi/platform-client) needs updating. The build is breaking right now.

**Solution**
Look over the config-file [travis.yml](https://github.com/ushahidi/platform-client/blob/develop/.travis.yml) and figure out the settings. We recently dropped support for node < 10, so this _may_ be the problem.

[2020-02-11 20:21] rohit645 opened #3846 "Dropdown closes momentarily when `esc` button is pressed and shows up again."
**Describe the bug**
As we click on the search bar of platform-client window, a dropdown menu pops out, (if we click anywhere outside it, dropdown list closes as expected). But if we click `ESC` key dropdown list closed momentarily and then pops up again. Similar bug is observed at post data view.

**Where was the bug observed**
At Local environment with vagrant (Platform-client).
(http://localhos

[2020-02-12 18:30] Angamanga commented on #3533
@Obadha2 Can you test QA this in Steve Buscemi please?
Testing checklist:
- As logged as admin, go to settings -> datasources
- Select Twitter
- [ ] The text should warn the user that setting up Twitter may take time (It should say: " Create a new Twitter application: Twitter applications may take a few hours or days to be approved by Twitter. Please be aware of this if you need this data quickly.

[2020-02-12 18:33] Angamanga commented on #3531
@Obadha2 Can you QA in Steve buscemi please? 🙏
Testing checklist:
- As logged in admin, go to settings->datasources
- Toggle on 'Accept survey submissions from this source'
- Toggle on 'Import to survey' (You may need to add data in each field in the datasource before these toggles appear, it doesn't need to be correct credentials :D )
- [ ] The text should says 'Choose what should be assigned to

[2020-02-12 18:34] johnson-jnr commented on #3844
Working now. adding **sudo** before the coomand: **update-alternatives --set php /usr/bin/php7.1** solved it. Thanks. I'll be on the look out for good first issues.

[2020-02-12 18:37] Angamanga commented on #2356
@Obadha2 Can you QA in Steve Buscemi please?
Testing checklist:
- [ ] Make sure your surveys is configured with colors (go to settings->survey->select survey->configure)
- [ ] Add a post to a survey with colors
- [ ] Go to dataview
- [ ] Select the post
- [ ] the selected post on the right hand view should have the correct color-band for that post
- [ ] select another post from another survey
- [

[2020-02-13 18:07] himil-vasava commented on #3656
I have made some changes due to which now:

<b>Before clicking X button : </b>

![Screenshot from 2020-02-13 23-32-41](https://user-images.githubusercontent.com/55590415/74464226-2c74f480-4eb9-11ea-9286-8cd6df7689ea.png)

<b>After clicking X button : </b>

![Screenshot from 2020-02-13 23-34-09](https://user-images.githubusercontent.com/55590415/74464338-5e865680-4eb9-11ea-90f8-139cb9f59b56.png)

S

[2020-02-13 19:35] #3846 closed

[2020-02-13 19:40] #3845 closed

[2020-02-13 19:47] tuxpiper commented on #3484
There's a fresh new batch here @ridhishjain : https://hub.osc.dial.community/t/gsoc-2020-ideas-ushahidi/1026

Going to close this issue for now  :)

[2020-02-13 19:47] #3484 closed

[2020-02-16 20:39] himil-vasava opened #3847 "Creating a survey having integer field => does not give error message after entering a decimal number in the default value of integer field"
**Describe the bug**
When user creates a new survey and adds an integer field to it, if a decimal number is added in its default value and saved then no error message is displayed and the survey is saved. Although, its default value is converted into an integer.

**Where was the bug observed**

http://localhost:3000/settings/surveys/create

**To Reproduce**
Steps to reproduce the behavior:
1. Crea

[2020-02-17 08:09] Obadha2 commented on #2356
QA'd, passes. 👍

[2020-02-17 10:57] Obadha2 commented on #3531
This fails QA.
It says " Choose the data from that you'd like to use......."
See attached screenshot:
<img width="1142" alt="Screenshot 2020-02-17 at 1 55 07 PM" src="https://user-images.githubusercontent.com/38259840/74647758-4fd7c200-518d-11ea-8185-0f4e9bd3440e.png">

cc @Jenniline @Angamanga

[2020-02-18 12:42] Obadha2 commented on #3533
@Angamanga @Erioldoesdesign @Jenniline  could we have this appearing as two different sets of information such that the second part of the text appears as additional information, italicised perhaps. Rather than a long string of text, have something ilke:
Step 1: Create a New Twitter application.
_Twitter applications may take a few hours or days to be approved by Twitter. Please be aware of this i

[2020-02-18 14:14] Erioldoesdesign commented on #3533
@Obadha2 Makes sense. I would say it should be located after the text link 'new twitter application' that already exists in the layout in italics:
![Screenshot 2020-02-18 at 14 13 05](https://user-images.githubusercontent.com/11681324/74743724-d0172980-5258-11ea-857d-25784bb69a2e.png)

[2020-02-19 16:37] Jenniline commented on #3533
Ok, I see.
@Erioldoesdesign and @Obadha2 will it look better this way?

Step 1: Create a new Twitter application
_Create a new Twitter application_
_Twitter applications may take a few hours or days to be approved by Twitter. Please be aware of this if you need this data quickly. _

Is this better?

[2020-02-19 16:53] Jenniline commented on #3531
Hi @Obadha2
Alright, let me look into it again.
Any tips or ideas on what I can do?
Thanks

[2020-02-19 17:34] rohit645 opened #3848 "Reset Zoom feature in map."
**Feature/enhancement targeted for**
Platform-client

**Description of Enhancement**
As the user interacts with the world map and keeps on zooming in the map, the user has to click `-` Button many times to get to the default map view. This can be avoided by adding a reset zoom button on the map.

**Related Screenshot**

![Screenshot from 2020-02-19 22-49-04](https://user-images.githubusercontent.c

[2020-02-19 17:34] rohit645 commented on #3848
I am working on this feature.

[2020-02-20 07:00] Obadha2 commented on #3533
@Erioldoesdesign with that we'd have the text "Create a new Twitter application" appearing twice? I suggest we have that once looking like:

Step 1: Create a [new Twitter application.](linktonewTwitterApplication)
_Twitter applications may take a few hours or days to be approved by Twitter.
Please be aware of this if you need this data quickly._

[2020-02-20 07:03] Obadha2 commented on #3533
@Erioldoesdesign with that we'd have the text "Create a new Twitter application" appear twice. I suggest we avoid that?
Would this appear better?

Step 1: Create a [new Twitter application.](linktoNewTwitterApplication)
_Twitter applications may take a few hours or days to be approved by Twitter.
Please be aware of this if you need this data quickly_

[2020-02-21 08:51] sparshkrjha commented on #3265
@rowasc @Angamanga Can I also work on this issue?

[2020-02-21 20:58] rohit645 opened #3849 "Overflow under the nav-bar resulting in the slider at the bottom."
**Describe the bug**
A horizontal scroll bar appears under the nav-bar showing `WriteSpeakCode2019` which looks untidy.

**Where was the bug observed**
Local environment using vagrant.

**To Reproduce**
1. Run the local vagrant environment.
2. Open the `localhost:3000/views/map`
3. Observe the horizontal slider at the bottom

**Sample GIF**
![overflow](https://user-images.githubusercontent.com/332

[2020-02-22 09:01] Erioldoesdesign commented on #3828
I would love for the cancel button colour contrast to be fixed some day...maybe using #222222 for the text colour and #8E9297 for the background.
<img width="171" alt="Screenshot 2020-02-22 at 10 00 15" src="https://user-images.githubusercontent.com/11681324/75089556-3b634300-555a-11ea-819e-f9c9db3102ef.png">

[2020-02-22 21:31] himil-vasava opened #3850 "Error message not dissapearing even after moving to another page"
**Describe the bug**
When we create a post and if title or description is not filled and submit button is clicked then a error message is created showing message "Required fields are missing, these fields are marked with an * below". Now after this, If I move to map view or any other page without clicking the dismiss button, the error remains as it is.

**To Reproduce**
Steps to reproduce the beha

[2020-02-23 17:21] taramcwhinney opened #3851 "Name Category should be private"
I have just begun a new survey for my research the houseworkmap at ushahidi.
This is for a research study and so names cannot be displayed on the map. I did set this field to private, but names are still showing up. This is an ethical issue for me and violates my agreement with the university. I am guessing that this is becasue it was a field that was already part of the survey that I wasn't able

[2020-02-24 09:01] Angamanga commented on #3828
@Obadha2 Could you QA in Steve Buscemi please? Testing-checklist:
- As logged in, go to dataview and select a post
- Click on edit
- Make a change
- Click on cancel in the bottom of the edit page
- [ ] An dialog-box should appear
- Click on "Continue without saving"
- [ ] You should leave edit-mode and the post should still be selected
- Click on edit
- Make a change
- Click on cancel in the botto

[2020-02-24 09:02] Angamanga commented on #3265
@sparshkrjha Yes please go ahead :) Thank you for your interest in contributing!

[2020-02-24 09:52] Angamanga commented on #3533
@Jenniline The change @Obadha2 suggests is good. Do you have time to go ahead and change that?

[2020-02-24 10:05] Angamanga commented on #3531
Ah, I missed this! So @Jenniline there is a few things that needs to be done:
1. Change "{ provider: provider.name }" to "{ datasource_type: provider.name }" here: https://github.com/ushahidi/platform-client/blob/develop/app/settings/datasources/datasources.html#L77 (this is so that the translation values is mapped correctly in en.json.
2. Add back translate="survey.choose_survey_field_desc" as we

[2020-02-24 10:25] Angamanga commented on #3304
@obadha Could you QA in Steve Buscemi?
Testing-checklist:
- Go to settings->General
- Type in an email-address that has the wrong format in the "Contact email address"-field
- [ ] There should be an error-label saying "This email address is invalid"
- Type a correct email-address
- [ ] The error-label should disappear

[2020-02-24 10:28] Angamanga commented on #3656
@himil-vasava That looks good! Could you test the solution doing the same operations a few times? I remember it behaving different the second and third time clicking the x-icon for some reason.

[2020-02-24 12:58] himil-vasava commented on #3656
@Angamanga yeah actually I faced that problem after clicking it two or three times

[2020-02-25 04:20] Jenniline commented on #3533
Yes I will.
Thanks

[2020-02-25 04:22] Jenniline commented on #3531
Alright @Angamanga I will do them.

[2020-02-25 08:20] rohit645 commented on #3849
To solve this issue, should I bring 2019 in the next line? Any suggestions @Angamanga @rowasc

[2020-02-25 11:43] Obadha2 commented on #3828
QA'd, passes. 👍

[2020-02-25 11:50] Obadha2 commented on #3304
QA'd, passes. 👍

[2020-02-25 12:07] jike212 commented on #3852
Not quite, My first plan was to get notifications for admins/moderators working first. Currently, posts have to be approved before they're made public but I haven't quite found how to notify moderators and admins when a new post has been submitted for review so that they can evaluate it.

After that, we'd like to have a way to inform general users when a new post has passed the moderation process

[2020-02-25 14:09] #3849 closed

[2020-02-25 17:24] noone0212 opened #3853 "Number of selected user(s) remains same even after deletion."
**Describe the bug**
The number of user(s) selected remains same even after deleting one or more users until the page is manually refreshed.

**Where was the bug observed**
Local environment with Vagrant.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup local host with vagrant.
2. Log in as 'admin'.
3. Go to 'Settings' and scroll down to click on 'Users'.
4. Select any user  and delete

[2020-02-25 18:03] noone0212 commented on #2105
Hello @rowasc , Can I work on this issue? Will be my first bug to work upon!
Also what files should I see to get started with solving the issue?

[2020-02-25 19:00] rowasc commented on #2105
Hi, thanks for reaching out. Yes you can totally work on this , thank you so much.
- The code for the user settings section can be found in ./app/settings/users
You may want to look at the users-edit file in that dir for this specific issue. I think probably the best solution is that if the form itself is dirty/has changed and that field is empty, we indicate that field (name) is missing. The way

[2020-02-27 12:09] noone0212 commented on #3613
Hi @rowasc! Can I work on this issue?

[2020-02-27 12:47] rowasc commented on #3613
absolutely, thank you @noone0212 !

[2020-02-28 23:39] noone0212 commented on #3612
@Angamanga can I work on this issue?

[2020-02-29 21:56] rohit645 opened #3856 "Settings view platform-client has no icons."
**Description of the feature.**
Currently, the settings view of platform-client has no icons, which makes it look a bit odious.

**Describe the solution you'd like**
Icons already available in the platform library can be used to enhance the settings view.

**Screenshot of the settings view**
![Screenshot from 2020-03-01 03-25-15](https://user-images.githubusercontent.com/33249010/75615637-4fb3cb00

[2020-03-02 08:09] Jenniline commented on #3533
Hi Anna,
I Have made the changes requested. Here is the link to the Pull request
https://github.com/ushahidi/platform/pull/3858
I made the changes to the Twitter.php file because that was the file I thought needed the changes you mentioned above and since you had already merged the pull requests to the en.json file.
If not please let me know if I should make any more changes to any other files.

T

[2020-03-02 08:40] ritwizsinha commented on #3853
I am working on this, please direct me to the relevant files

[2020-03-02 09:08] Angamanga commented on #3612
@noone0212 Absolutely, please go ahead!

[2020-03-02 13:32] Angamanga commented on #3533
@Obadha2 Could you recheck in Steve Buscemi? The text should now look like this (had to keep the link in the description because of styling-issues. The link did not look ok as a label/headline):

<img width="733" alt="Screenshot 2020-03-02 at 14 31 45" src="https://user-images.githubusercontent.com/8624777/75680776-8dab0f00-5c92-11ea-887d-d1e571b5b12e.png">

[2020-03-02 14:19] Angamanga commented on #3531
@Obadha2 Could you recheck in Steve Buscemi please 🙏 ?

[2020-03-02 17:27] Jenniline commented on #3531
Hi Anna,
I have looked into this issue again and what I have realised is that; In the datasources.html file, the changes you recommended already exists. you can see that here https://github.com/ushahidi/platform-client/pull/1442/files

In the en.json file, the issue there is that, the sentence does not make sense what I mean is it looks like this on line #316   "Each of the survey's fields are lis

[2020-03-03 08:53] #3304 closed

[2020-03-03 09:31] Obadha2 commented on #3533
Alright, this looks good @Angamanga  ! 👍
Thanks @Jenniline

[2020-03-03 12:56] Obadha2 commented on #3531
This passes QA. 👍

[2020-03-04 12:44] Jenniline commented on #2384
Hi @Angamanga and @rowasc I have added the transifex details to the .env-file in my platform-client
In order for me to download the languages, I ran the _gulp dist_ command and they downloaded successfully.
I am still unable to reproduce the behaviour of this issue so that I can know the location where the issue comes from.
Also, can I have a bit of direction on how to proceed on solving this?

[2020-03-04 14:42] #3531 closed

[2020-03-04 14:42] #3438 closed

[2020-03-04 14:59] #3533 closed

[2020-03-04 15:01] Angamanga commented on #3480
@Erioldoesdesign What would this look like? Would like to add it as a GsoC/Outreachy-issue but have a hard time grasping what it would look like?

[2020-03-04 15:04] Angamanga commented on #3326
@rohit645 How is it going, are you still working on this? Please let me know if you need any guidance!

[2020-03-04 15:22] Angamanga commented on #3265
@sparshkrjha How is it going? Please let me know if you need any guidance with this!

[2020-03-04 17:12] rohit645 commented on #3326
@Angamanga, I am trying to figure it out. I will be in touch shortly.

[2020-03-04 22:20] rohit645 opened #3861 "Load More button gets freezed and do not show all posts."
** Steps to Reproduce**
Steps to reproduce the behavior:
1. Go your local environment of platform-client.
2. go to the data view. Posts should be (x of y where y > 20 to observe the bug).
3. **Do not click on loadmore button**
4. Go ahead and delete one post.
5. after deletion it shows x-1 of y posts(it should be x-1 of y-1).
6. if you now click on loadmore button, it should (y-1 of y posts) and l

[2020-03-05 07:36] tuxpiper commented on #3846
@all-contributors please add @rohit645 for bug, code

[2020-03-05 15:08] webong commented on #3110
Hello @tuxpiper @Angamanga ... I just made a PR that solves this use-case here https://github.com/ushahidi/platform/pull/3863 ... Would appreciate, if you could review this for me, thanks.

[2020-03-05 21:43] rohit645 commented on #3215
@Angamanga I would like to work on this issue. Also what is the expected behaviour in this case?
Duplicated survey should not appear in the surveys-list if I am getting it right.

[2020-03-06 08:29] Angamanga commented on #3110
@webong Thank you for your contribution! We will review shortly. 🎉

[2020-03-06 13:42] Obadha2 commented on #3666
Updated test checklist:
- [ ]  I can setup my API key and userrname for HDX
- [ ]  I can change my API key and username
- [ ]  On initial set up, application navigates to export page
- [ ]  I can navigate to attached links for HDX home, tag assist and cheat sheet
- [ ]  After saving id and API key, can follow Start Tagging Data button
- [ ]  Export all data downloads all available data
- [ ]  Sele

[2020-03-06 14:32] Qay-Tekkie commented on #3800
@Obadha2 can I work on this issue? I'm an Outreachy Applicant.

[2020-03-06 14:33] Obadha2 commented on #3666
In addition to existing issues, I picked up on the following:
- On export page, HXL tags and HXL attributes links are dead. they both lead to a 404 error.
<img width="1829" alt="Screenshot 2020-03-06 at 5 23 07 PM" src="https://user-images.githubusercontent.com/38259840/76092005-b5221480-5fcf-11ea-862d-276ca5c505dc.png">

[2020-03-06 16:57] nocodes commented on #3169
Hi @Angamanga , can I work on this issue as a contribution to my outreachy program?

[2020-03-06 17:54] vandnakapoor19 commented on #2376
Hey @EnriqueGalindo  , I'm Outreachy 2020 Applicant and want to solve the issue.
Thanks

[2020-03-06 19:22] Angamanga commented on #3169
@nocodes Absolutely! Please go ahead :) and reach out if you need any guidance!

[2020-03-07 09:45] Angamanga commented on #2384
@Jenniline Try moving the locales-folder with the languages to the app-folder itself, and re-run gulp, then you should see the languages in the dropdown.

As the next step, try figuring out how the list in the dropdown is created. Where does the languages come from now? When you have figured this out, you can try to find a way to map languages to a list with the language-names translated to the ta

[2020-03-07 10:35] Angamanga commented on #3215
@rohit645 This bug was a super-edge case we ran into some time back. It is hard to reproduce right now because we fixed part of it, but try to do this:

1. Change "text" to "varchar" here: https://github.com/ushahidi/platform-client/blob/develop/app/settings/surveys/survey-editor.directive.js#L144.
2. Create a new survey and save the survey. You will see an error-message
3. Go back to the survey-l

[2020-03-07 16:42] tuxpiper commented on #3828
@all-contributors please add @himil-vasava for code

[2020-03-07 18:06] Erioldoesdesign commented on #3480
@Angamanga

Ah so let me try and go step by step what Bristol Women's Voice (BWV) wanted:

1. A deployment has an existing survey/s

2. A 'responder' clicks the (+) (or responds to the survey in another manner (embedded in an iframe, email, or possibly SMS etc.)

3. 'Responder' finishes the survey and then is shown a 'final message' where they can learn more about a certain campaign or topic. In t

[2020-03-09 11:46] rowasc commented on #2376
@vandnakapoor19 I think Enrique has not progressed this task so you can go ahead and get started ! thank you for your interest in Ushahidi !

[2020-03-09 11:47] rowasc commented on #3666
@Obadha2 thanks for catching that! I'll schedule a fix ASAP

[2020-03-09 11:49] rowasc commented on #3800
@Qay-Tekkie yes of course, let us know if you need assistance. Thank you!

[2020-03-09 15:38] whytejas commented on #2394
@justinscherer  @rowasc Hi Romina, I'm an Outreachy applicant.

I'd like to work on this as a contribution if it's still open. I assume it falls under the "Content disclaimer + work in platform" project#1 ?

[2020-03-09 18:46] rowasc commented on #2394
@whytejas hey. Thank you for reaching out. Yes you can work on this. Since content disclaimer will inevitably touch on settings work this is a good fit yea

[2020-03-09 18:48] whytejas commented on #2394
Thanks, I'm going to give this a shot!

[2020-03-09 22:24] webong commented on #3261
Hello @Angamanga @crcommons ... help review my PR that should fix this bug https://github.com/ushahidi/platform/pull/3875 ... Thank you.

[2020-03-09 22:46] whytejas commented on #2394
@justinscherer I'm new to Ushahidi , could you please help me reproduce this issue?

To begin with, I've got the Platform API (Backend) and Platform Client (frontend) setup locally. I also  setup the Pattern Library for development since this looks like it might touch on the CSS.

However, the local Platform client does not even have the mentioned "Settings" tab (and gear icon) in the sidebar.  Am

[2020-03-09 23:06] webong commented on #3169
@Angamanga @nocodes  can it be confirmed that this issue still persists ... I tried reproducing this bug issue on local development with a test user that has the manage settings permission ... I was able to manage categories (create & delete).

[2020-03-10 02:37] richard-hutchings commented on #2794
Hi @Angamanga ,i'm an outreachy applicant.
if no one is assigned to this can i have shot at it.

[2020-03-10 08:15] Angamanga commented on #3169
@webong @nocodes I cannot reproduce it either. Thank you for noticing this! @nocodes Have you managed to reproduce it? If not, I will close this issue!

[2020-03-10 08:18] Angamanga commented on #2794
Welcome @richard-hutchings! Please go ahead and work on this issue. You can always reach out if you need guidance. Thank you for your interest in Ushahidi 🎉

[2020-03-10 09:21] richard-hutchings commented on #2794
Hi @Angamanga , thanks. i have cloned the code, and checked out the platform. would you have an idea which folder/ file  would be my best place to start?

[2020-03-10 14:36] Erioldoesdesign commented on #3856
Okay so! Here's a mock-up via an Adobe XD link: https://xd.adobe.com/view/775decf1-1a0a-4168-5df0-9c6ccb5331df-016c/

I've added in some pixel dimensions in the mock-up on the first setting menu item for guidance. These might not be exactly reflective of the live code sizes but approximations!

the grey circle is hex colour #888888 (as per colour in our Pattern librayhttp://github.ushahidi.org/dot

[2020-03-10 14:38] Erioldoesdesign commented on #3856
Argh. Github doesn't support SVG file uploads. SVG icons not in Ionic are here: https://drive.google.com/drive/folders/1xezd2eBTODHVUsg3RjKhfg_nNvosy4dr?usp=sharing

[2020-03-10 19:06] himil-vasava commented on #3265
@Angamanga @rowasc Can I work on this issue?

[2020-03-10 21:48] rowasc commented on #3261
This is in review, just made some comments, thanks again for all your contributions

[2020-03-11 03:53] individual-it opened #3876 "limit post list does not work correctly when multiple messages are assigned to the post"
**Describe the bug**
trying to view 20 results only show 18 if the DB messages table has multiple messages assigned to the same post

**Where was the bug observed**
local installation

**To Reproduce**
1. have a messages table that looks like:
[code]
(this entries have been created by the tests)

2. query for posts and limit to 20: `curl 'http://api.ushahidi.test/api/v3/posts?has_location=all&limi

[2020-03-11 07:46] Angamanga commented on #2794
@richard-hutchings The filter-system is found in this folder: https://github.com/ushahidi/platform-client/tree/develop/app/main/posts/views/filters and the part with the bug-icons should be in this directive and template: https://github.com/ushahidi/platform-client/blob/develop/app/main/posts/views/filters/active-search-filters.directive.js and https://github.com/ushahidi/platform-client/blob/deve

[2020-03-11 07:50] Angamanga commented on #3856
@Erioldoesdesign Thank you for the mock-up :) Is there any chance we can use any of our existing icons in the Pattern-library instead? I don't think we use the iconic-icons in the platform so I would prefer the pl-ones... They are here: http://preview.ushahidi.com/platform-pattern-library/master/assets/html/1_basics/#pl-pattern-icons

[2020-03-11 08:22] Erioldoesdesign commented on #3856
@Angamanga ah sorry I thought we used the ionic icons but we actually use the "Open Iconic" library that we've added to the PL.

Looks like there are icons that map o the ones I've used but the ushahidi logo and the HDX logo would need uploading to PL?

[2020-03-11 08:25] Angamanga commented on #3265
@himil-vasava Yes, please go ahead :) Thank you!

[2020-03-11 08:28] Angamanga commented on #3856
@Erioldoesdesign Thank you, I think we used Ionic for TenFour but not Pattern Library?

@rohit645 I will ping you once I have sorted out the logos to the pattern-library. Do you want guidance in finding another issue in the meantime?

[2020-03-11 09:37] individual-it commented on #3861
I'm currently working on this, but I cannot assign me myself

[2020-03-11 11:41] Jenniline commented on #3660
Hi @Angamanga when trying out the Installation helper I encounter an error when I run the command  _gulp dev: verifier_ .  It says the _dev: verifier is not in my gulp file_. I will add that to my report so doc.
Just wanted to let you know that is one of the errors I have faced while testing the Installation helper

[2020-03-11 14:00] rohit645 commented on #3856
Sorry, I was a little bit busy these days. I am already on ushahidi/platform#3215 . I would love to discuss any possible solutions to this issue. I will revert back to you soon.

[2020-03-11 14:03] rohit645 commented on #3215
Thanks for this detailed description and insight. I am on it :)

[2020-03-11 16:33] Erioldoesdesign commented on #3856
Icons from open iconic are mapped on the prototype: https://xd.adobe.com/view/775decf1-1a0a-4168-5df0-9c6ccb5331df-016c/

General = icon 'dashboard'
Surveys = icon 'list'
Data sources = icon 'layers'
Import = icon 'arrow-thick-bottom'
Configure HDX API and Username (a feature flagged setting) = HDX logo
Export = icon 'arrow-thick-top'
Users = icon 'people'
Roles = icon 'badge'
Categories = icon 't

[2020-03-11 17:50] Jenniline commented on #3660
Hi @Angamanga this is my report on the Installer helper Usability.
[Installer Helper Usability testing for Ushahidi.pdf](https://github.com/ushahidi/platform/files/4319847/Installer.Helper.Usability.testing.for.Ushahidi.pdf)

Here is the Google doc link in case the link above fails:
https://docs.google.com/document/d/1c6ZeEUSUoEoHLFrfqm-jD9qmXLWc_UWa6yHb28wDzLE/edit?usp=sharing

Please review
Than

[2020-03-11 20:10] rowasc commented on #3861
https://github.com/ushahidi/platform/issues/3326 @rohit645 is this the same bug described here?

cc @individual-it

[2020-03-12 01:19] individual-it commented on #3861
@rowasc that is part of it and will be solved together. Here its about the "load-more" function not working correctly.

[2020-03-12 04:57] richard-hutchings commented on #2794
hi @Angamanga Do you know how i can view the UI on this? I don't seem to be able to view the bug problem in Ushahidi platform, the filter boxes seem to work without being logged in.

[2020-03-12 05:51] rohit645 commented on #3861
These are basically two issues that are sort of linked with each other in some way.
[a] Deletion of posts only after load more button is clicked and the number of posts > 20.
[b] Deletion of posts takes place before load more button is clicked and a number of posts > 20.

I have solved [a] part of it in https://github.com/ushahidi/platform-client/pull/1443.

It is the load more button that is crea

[2020-03-12 05:57] rohit645 commented on #3861
@rowasc Do we really need this button? Is it going to load 1st 20 posts, then second 20 posts and so on...?

[2020-03-12 15:25] Angamanga commented on #2794
Could you send a short video so I can see what is going on? When I am not logged in, it looks like this:
https://recordit.co/EVZKY7kz9G

And when I am logged in (with admin-permissions) it looks like this:
https://recordit.co/jwXjPSjvtx

So no black-icons which shows what filters are being used when logged out, only when logged in. The filters however, always seem to work.

[2020-03-13 04:49] individual-it commented on #3861
here my approach https://github.com/ushahidi/platform-client/pull/1454
it seems to fix both problems but not  if there are exactly 41 posts before deletion and 40 after

I will add more tests, to confirm all the cases

[2020-03-13 10:48] individual-it commented on #3861
the issue with the load-more buttn has nothing to do with deleting the post. e.g. having 80 posts, clicking the first time on "load-more" sets off this request:
`http://172.17.0.1/api/v3/posts?has_location=all&limit=20&offset=20&order=desc&order_unlocked_on_top=true&orderby=created&reactToFilters=true&source%5B%5D=sms&source%5B%5D=twitter&source%5B%5D=web&source%5B%5D=email&status%5B%5D=published&

[2020-03-13 11:09] individual-it commented on #3861
my offset calculation was rubbish, now ushahidi/platform-client#1454 seem to fix both issues

[2020-03-13 14:40] #3848 closed

[2020-03-13 14:53] #3326 closed

[2020-03-13 15:05] #3604 closed

[2020-03-16 08:25] Angamanga commented on #3848
@Obadha2 Could you do QA in Steve Buscemi?
1. Set a default zoom and location in general->settings
2. Go to map-view
3. Zoom and move the map around
4. Click on the home-icon above the zoom-controls
- [ ] The map should be zoomed and located just as the default zoom and location was set

[2020-03-16 08:27] Angamanga commented on #3326
@Obadha2 Could you QA in Steve Buscemi?
Test-checklist:
1. Go to dataview, note how many posts are displayed in top of the list.
2. Delete one post
- [ ]  Note how many posts are displayed in the top of the list, it should be the total posts minus 1

[2020-03-16 08:30] Angamanga commented on #3604
@Obadha2 Could you QA in Steve Buscemi?
Testing-checklist:
1. Go to submitting a response to a survey on Platform. (Data -> + button -> Select a Survey to submit a response)
2. Fill in the fields on the form. Hit Submit.
- [ ] Observe closely, the Delete confirmation should not appear momentarily at the bottom of the page.

[2020-03-16 09:55] #3836 closed

[2020-03-16 09:57] Angamanga commented on #3836
@Obadha2 Could you QA in Steve Buscemi?
Testing-checklist:
1. Login as admin
2. Go to settings-> Roles-> create a new role
3. Do not fill in name or role
4. Click on save
- [ ] The error-message should look something like this:
![Screenshot 2020-03-16 at 10 56 45](https://user-images.githubusercontent.com/8624777/76744651-df649680-6774-11ea-891c-2263af866f33.png)

[2020-03-16 10:04] Angamanga commented on #3110
@Obadha2 Could you QA in Steve Buscemi?
Testing-checklist:
1. Login to your deployment
2. Change your password
- [ ] You should receive an email to your registered email informing you that your password was changed

[2020-03-16 11:42] individual-it commented on #3672
WIP PR: #3880

[2020-03-16 11:44] Obadha2 commented on #3848
QA'd, passes. :+1:

[2020-03-16 12:10] Obadha2 commented on #3326
QA'd, passes. 👍

[2020-03-17 08:00] individual-it commented on #3672
#3880 ready for review

[2020-03-17 13:32] Angamanga commented on #3261
@Obadha2 Could you test in Steve Buscemi?
Test checklist:
With an administrator user
- [ ] Create a role with the Manage Settings permission only
- [ ] Assign the role to a user
With a user who has the new role assigned
- [ ] login with that user, access the settings page (you should see this page instead of access denied)
- [ ] access the general settings
- [ ] change a general setting -  site na

[2020-03-18 08:27] Obadha2 commented on #3604
QA'd, passes. :+1:

[2020-03-18 08:35] Obadha2 commented on #3836
QA'd. While this passes, could we have "name must not be empty" appear just once, instead of twice? @Angamanga

[2020-03-18 08:39] Obadha2 commented on #3110
QA'd, passes. 👍

[2020-03-18 09:08] e-stephane commented on #3221
Hello @rowasc @Angamanga, i will like to start working on this issue.

[2020-03-18 11:10] rowasc commented on #3221
@e-stephane awesome, thank you ! Looking forward to your contributions!

[2020-03-18 13:07] Angamanga commented on #3836
I think there is a reason for that I don't remember (even if it is pretty confusing). Do you remember @rowasc ?

[2020-03-18 13:08] rowasc commented on #3836
yea... I think it's just a bad UI , it happens for other fffields too

[2020-03-19 06:05] Obadha2 commented on #3261
QA'd, passes. 👍

[2020-03-19 07:08] individual-it commented on #3625
@rowasc I could work on that if the issue is still current. Could you point me to the classes/functions that you want to get tested?

[2020-03-19 09:36] Angamanga commented on #3812
@all-contributors please add @individual-it for code

[2020-03-19 09:57] #3110 closed

[2020-03-19 09:58] #3261 closed

[2020-03-19 11:24] TNgcolosi opened #3886 "Ushahidi CSV upload duplication issye"
Hi Angela. We are using ushahidi to map the status of infrastructure like taps, toilets and lights in informal settlements in Cape Town - with the idea of adding layers like the mapping of violent incidences like crime, fires, rape etc so that the municipality can have a set of dynamic data to work with when they plan their maintenance and upgrading in these areas.

We have set up some surveys tha

[2020-03-19 15:17] RachealN opened #3888 "Documention for setting up Platform-API and Client with docker"
#### Development Environment with Docker

### Getting Started
1. Install & start [Docker](https://docs.docker.com/install/#supported-platforms)
2.In aterminal window or command prompt, clone the repository
```git clone https://github.com/ushahidi/platform.git```
3.Go into the platform directory
```cd platform```
4.Ensure you are in the develop branch, with the latest code.
```git checkout develop`

[2020-03-19 19:00] rowasc commented on #3625
@individual-it thanks so much!
https://github.com/ushahidi/platform-client/blob/develop/app/common/user-profile/user-profile.directive.js I think this flow was what triggered this ticket (it's been too long 😬 )
Essentially the update when users change their account details

[2020-03-21 06:33] rohit645 commented on #3215
@Angamanga  I had been working on this issue and found out two approaches:

1. If anything goes wrong with attributes of the survey (e.g. Title of the survey) in that case we can simply delete that survey in the error handler (so that it won't appear in the survey's list), display the error to the user and simply redirect the user to the survey-list page. SInce ID of that survey is deleted we cann

[2020-03-21 16:00] sebilasse opened #3889 "email datasources do not import"
**Describe the bug**
The datsources for email and SMS (Nexmo) do not work.
People send but nothing is imported.

**Where was the bug observed**
https://redaktor.ushahidi.io

**To Reproduce**
Steps to reproduce the behavior:
1. Send a mail to covid19 at redaktor.me
2. Send a SMS to +1 6626358911
[the mail arrives the inbox and the SMS arrives at Nexmo]
3. Go to https://redaktor.ushahidi.io
See noth

[2020-03-22 04:16] noone0212 opened #3891 "Making fields more Intuitive."
**Where is it observed**
-   Login to your deployment.
-   Click on survey settings.
-   Select a survey to edit.
-   Select any task to edit in that survey.

**Current Scenario**
We need to click on title of task to edit it. Also, current cursor type is text which does not make intuitive that by clicking on title of task we can edit it.
**Suggested Feature**
We may add options like:
-   Change cu

[2020-03-22 04:18] noone0212 commented on #3891
I am working on this issue.

[2020-03-22 21:08] pitus opened #3892 "Language selection shows white text on white background"
Hi, the Language selection drop-down on the sidebar uses white text on white background so some people may not realize there's text in there to choose from ...

Also, why is there no Polish language available? I've seen PL at Github with valid strings. I need this for Poland so it's critical to have it available in Polish language. How can I help make it available?

Aha! Link: https://ushahiditeam

[2020-03-22 23:54] pitus opened #3893 "Link to Android platform 3.x results in a 404"
Hi,

I was looking for the Android app source code and found [this page](https://github.com/ushahidi/Ushahidi_Android). It says, this version is deprecated and works only with 2.x and that you're working on version compatible with 3.x but the link points to https://github.com/ushahidi/platform-android/ which doesn't exist - error 404.

Where is the 3.x Android source code?

[2020-03-23 00:09] pitus opened #3894 "EDITing an entry while not providing required data, results in a stuck edit form."
**Describe the bug**
Trying to create a test Survey but there's a bug with its editing.
When a field is required and the user didn't select it, then clicked Save, they're ... not going to be happy as they just lost all of their data entered in the Surver :(
The form gets stuck in "Saving..." mode and Chrome DevTools show the following error:
status: 422
message: "Failed to validate posts entity:↵a

[2020-03-24 05:11] individual-it commented on #3625
@rowasc PR with tests in https://github.com/ushahidi/platform-client/pull/1472

[2020-03-24 13:34] AmTryingMyBest opened #3895 "Mobile Application - No results on searching location by address."
**Describe the bug**
When user types in an address or location to search on the map, no results are shown.

**Where was the bug observed**
Mobile Application

**To Reproduce**
Steps to reproduce the behaviour:
1. Launch mobile application.
2. Click on Submit Survey Response.
3. Click Change Location.
4. Enter an address in search bar to search for a location.
5. Note that no results are presented.

[2020-03-24 14:38] rowasc opened #3896 "Improve warnings for Survey deletion"
**Describe the issue*

When someone is trying to delete a survey, we show this warning
![Annotation 2020-03-24 113342](https://user-images.githubusercontent.com/2434401/77437530-883d7200-6dc3-11ea-940e-6b891c7afcc5.png)
The warning tells people that related posts will be deleted, but it's easy enough to ignore/not see it.
We want to improve this feature to make it safer for users to use the survey

[2020-03-24 14:42] Angamanga commented on #3896
I vote for solution 1 + 2!

[2020-03-24 14:44] Angamanga commented on #3896
No, all 3 actually!

[2020-03-24 16:06] rowasc commented on #3896
🌮 aweesome

[2020-03-24 16:29] rowasc opened #3897 "Share button should not be visibile on post creation screen"
**Describe the bug**

I see the " Share " button next to " Send " yellow button, but that should not be available on post creation.

![Annotation 2020-03-24 132821](https://user-images.githubusercontent.com/2434401/77451386-59c79300-6dd3-11ea-9686-a958353c31e4.png)

**Where was the bug observed**
https://uruguayayuda.ushahidi.io
It happens in my other deployments too (ie rominacsvsms)

**To Reprod

[2020-03-24 18:38] RachealN commented on #3179
@tuxpiper, I would like to work on this issue, please assign it to me

[2020-03-24 21:37] rohit645 opened #3898 "Attributes are getting duplicated in create survey form."
**Describe the bug**
Attributes (Location in this case) are getting duplicated in create survey form as one clicks on save button muliple times and error persists.

**To Reproduce**
Steps to reproduce the behavior:
1. Change "text" to "varchar" here: https://github.com/ushahidi/platform-client/blob/develop/app/settings/surveys/survey-editor.directive.js#L144.
2. Go to 'create survey form'.
3. Writ

[2020-03-25 00:56] #3672 closed

[2020-03-25 01:00] pitus opened #3899 "CSV Export needs UTF-8 encoding with signature to support foreign characters"
I've created a Survey which uses Field names that contain foreign (Polish) characters.
When I export it as CSV (Export All), column headings and data shows wrong characters in Excel (Windows).

For example:

shows: "Inne zgĹ‚oszenia"
instead of: "Inne zgłoszenia"

or in the column heading

shows: "MiejscowoĹ›Ä‡"
instead of: "Miejscowość"

Excel needs UTF-8 encoding with signature - Codepage 65001

[2020-03-25 09:29] Angamanga commented on #3896
Spec:
1.  Change the html for the confirm-delete-box to include an input-box for the user to type the name of the survey (or possibly a new box after the user clicks delete).
2. Adjust the function for the "confirmDelete"  to check that the name of the survey is typed in correctly before deleting.
3. Change the text in the warning-box + the button to be more clear.

[2020-03-25 11:07] tuxpiper commented on #3179
sure thing @RachealN 👍

Please update the issue from time to time with your progress

[2020-03-25 17:58] rowasc commented on #3457
I'm not super convinced that we should do this right now with a lot going on, anyway 🤔 may need to untag .
@tuxpiper we may need to reconsider this change because of the v2 importer changes that may come from it, what do you think?

[2020-03-25 20:25] webong commented on #1421
Hello @tuxpiper  @rowasc @Angamanga ... since I have been able to achieve this https://github.com/ushahidi/platform/issues/3110 ... was thinking I could also work on this.

[2020-03-25 20:26] rowasc commented on #1421
That'd be fantastic. Also thank you so much, #3110 is a life saver <3

[2020-03-25 20:47] RachealN commented on #3179
I have been looking into this issue, the specs are not quite clear
I checked this #1624, there is a long debate on how this should be approached and done and at the same time, closed the whole thing. I really don't understand at the point on how I should approach it.
Could you please provide more detailed specs on how this should be approached?

[2020-03-25 20:56] RachealN commented on #3457
While waiting for detailed specs for this issue #3179 and resolved, I will be working on this issue for now

[2020-03-25 20:58] RachealN commented on #3457
@rowasc, Assign this issue to me. Thanks

[2020-03-26 14:13] rowasc commented on #3457
@RachealN thats not possible at the time, see my comment above. If you pick another one I will assign it.

[2020-03-26 22:17] Erioldoesdesign opened #3901 "Notify/Email the owner/admin when a survey is deleted"
**Which user group(s) are the primary audience for this feature/enhancement.**
All deployments with multiple users/admins and a workflow structure where someone/s are managing others that have 'delete survey permissions'

**Is your feature request related to a problem? Please describe.**
If multiple users/admins have the ability to delete surveys, even if they are doing it in a well informed, stru

[2020-03-27 03:06] pitus opened #3902 "Collection can't be selected once it's name is cleared."
Frustrating "feature" is a Collection with no name.
Add a Collection and just clear its name to a blank.
Now it appears on the list of Collections to choose from as a blanc rectangle...
Unfortunately, because the only way to select a Collection is by clicking on its name, you effectively ended up with a zombie that you can't do anything about as it can't be selected, so can't be deleted either.
Wh

[2020-03-27 07:49] individual-it opened #3903 "in Firefox column titles are not shown during import step 2"
**Describe the bug**
Firefox does not show the names of the columns when trying to import a CSV

**Where was the bug observed**
local development installation

**To Reproduce**
Steps to reproduce the behavior:
1. open plaform-client using the FF browser
2. Log in as administrator
3. Click on 'Settings'->"Import"
4. choose a file and survey
5. click on "Continue"
6. open the dropdown of any survey

[2020-03-27 07:57] individual-it commented on #3903
fix in https://github.com/ushahidi/platform-client/pull/1477

[2020-03-27 09:08] rohit645 commented on #3686
@Angamanga @tuxpiper @rowasc
Currently, posts are being collected through forms/survey responses. I was wondering if FB could be used to serve as one of the data sources for posts-collection using its FB graph API.I was researching on this topic for quite a while. If this is possible can it be added to the third project i.e. Content disclaimer + work in the platform in GSoC ideas list? I would be

[2020-03-27 09:47] individual-it commented on #3847
Looks like that field is not validated at all, you can put anything in there

[2020-03-27 10:23] individual-it commented on #3894
I could not reproduce the mentioned issue, but something similar:
1. create a survey with an integer field
2. create a post for that survey
3. edit the post and enter a floating point number into that field
4. click save (it should not let you save the form it in the first place)

the save button is blocked for a while, but comes back again

[2020-03-27 11:51] Brad-Anthony commented on #3686
I will be watching this progress carefully. This would be an immensely helpful development which we've been curious about for years. Especially if it can - through the graph if it's still accessible - pull in some of the old meta tags that would be pertinent to intelligence gathering.

[2020-03-27 12:00] Brad-Anthony commented on #3686
Before the Cambridge Analytica scandal rocked, we looked at the FB API as a report data source and it was a wealth of (non-personal) info available for pulling into posts that would really speed up data collection for important issues and analysis. If it's at all possible; I'm happy to help logistically in some way. We have an instance we can test on.

[2020-03-27 12:07] Angamanga commented on #3480
Yeah, survey-logic would be 🔥! Maybe we could use the modal instead for a snackbar? Similar to the confirmDelete modal or login-modal? That is more visible than the snack-bar.

[2020-03-27 12:08] #3169 closed

[2020-03-27 12:27] Erioldoesdesign commented on #3480
@Angamanga totally up for modal! Perfect is the enemy of good enough here and I'd love to see if it's useful for users :)

[2020-03-27 13:19] Angamanga commented on #3660
@Jenniline Terribly sorry for later reply, it looks like you have a space between 'dev:' and 'verifier'. It should be `dev:verifier`. Could you also check that you have pulled the latest changes for your platform-client.

[2020-03-27 13:59] Angamanga commented on #3215
Hm, I think we have to go with nb 1 since title and description is not something you can add yourself after saving a survey. Those two fields are a bit special. Could we simply delete the id from the post-object in the error-handler two and use the POST-request instead when saving the second time? The differentiation between PUT and POST happens here: https://github.com/ushahidi/platform-client/bl

[2020-03-27 14:32] rowasc commented on #3903
Duplicate of https://github.com/ushahidi/platform/issues/2603

Thanks @individual-it , we'll check it as soon as possible.

[2020-03-27 18:21] tuxpiper commented on #3686
Definitely interesting, though not sure about what flexibility is allowed in terms of GSoC projects at this point.. 🤔

@rohit645  Would you have a few more words specifically about how does what you have in mind relate to the OG by @Erioldoesdesign ?

[2020-03-27 18:27] Erioldoesdesign commented on #3686
@Brad-Anthony Do you have a deployment you currently or previously managed? As a user that would like this feature, your input and thoughts are super valuable to understand if this feature request does what is needs to!

@rohit645 and @tuxpiper if I can help flesh this out too let me know and I'll do what I can, but I expect your right with 1 week to go on GSoC it's best to have it as a stretch go

[2020-03-28 06:23] Brad-Anthony commented on #3686
@Erioldoesdesign Yes we have a fairly current instance with dev, staging and production environments based on the open source repo. I'm very  happy to collab here to get this working, I've been super keen for this kind of feature for years so let's make it happen. Now I'm in lockdown I have a lot of time to contribute. I'll ping my SysAdmin to get things up to speed as well.

[2020-03-28 13:20] Brad-Anthony commented on #3686
Seeing the note above about the FB chat bot; if there's a possibility of a reporting workflow that runs  through a conversational UI this would be amazing for non-tech savvy users who really can only handle using FB on a good day; but we could still get reports and data through them. I've been thinking about this - planning this - for a while but we haven't gotten around to development.

[2020-03-28 14:51] Erioldoesdesign commented on #3686
@Brad-Anthony @Angamanga is the best person to talk to about the chat bot prototype. There's some good work done there as part of a project we called 'COMRADES' so if you see that referenced anywhere, part of that project was a conversational facebook 'chat bot' for reporting via a deployment users group/page on facebook.

[2020-03-28 16:55] Brad-Anthony commented on #3686
I don't want to hijack the thread here; is there a better forum to discuss details and options?

[2020-03-28 19:22] RachealN commented on #3179
@tuxpiper @webong @Angamanga and @rowasc
Decided to work on this issue and this is how I intend to approach it
- [ ] Add migrations for video uploads
- [ ] Add Models and this includes rules and validations
- [ ] Add Factories
- [ ] Add seeders
- [ ] Video upload controller, Integrating Video uploads with Vimeo to platform API with the following functionalities below
- create/ upload videos
- prev

[2020-03-28 23:39] Erioldoesdesign commented on #3686
@Brad-Anthony most likely this issue here: https://github.com/ushahidi/platform/issues/2081
It's the open ticket that describes improving the facebook chatbot but the content of the ticket is (to my understanding) a bit out of date/lacking in context.

But! definitely deferring to @rowasc and @Angamanga  to direct more appropriately as they may want to create a new ticket rather than use this lega

[2020-03-29 12:56] himil-vasava commented on #3847
Yes @individual-it it needs to be validated

[2020-03-30 08:26] Angamanga opened #3904 "Move validation of video-url to post-validation service"
**Describe the bug**
Validation of the video-url happens in the video-directive upon blur. Even if an url that is not valid (youtube or vimeo) is added post can still be saved, but it does not save the url. It is easy for the user to miss this, so it would be better to move the validation to the save-validation instead. Here the user would be notified that its not a valid url and that they need to

[2020-03-30 08:36] Angamanga commented on #3686
@rohit645 We cannot add more projects to GSoC/Outreachy right now and we don't have the resources for another project I am afraid. But if you (and @Brad-Anthony) are interested, we made a facebook chatbot a few years back, and tested it during the Kenyan elections. The repository can be found here: https://github.com/ushahidi/platform-facebook-bot. There is also a paper describing our findings dur

[2020-03-30 13:26] rowasc commented on #2376
@Obadha2 this needs QA (in steve)
Thanks!

[2020-03-30 13:26] rowasc commented on #2374
@Obadha2 this needs QA (in steve)
Thanks!

[2020-03-30 13:26] rowasc commented on #2105
@Obadha2 this needs QA (in steve)
Thanks!

[2020-03-30 13:26] rowasc commented on #3613
@Obadha2 this needs QA (in steve)
Thanks!

[2020-03-30 16:50] rohit645 commented on #3686
@tuxpiper @Angamanga got it. I would definitely love to work on this feature whenever it is started. @Brad-Anthony, we can have a separate thread for this feature on the Ushahidi 's Gitter channel. Thanks, @Erioldoesdesign :).

[2020-03-31 08:26] noone0212 opened #3905 "Secondary toolbar and add-post-button look untidy while editing post."
**Describe the bug**
- Secondary toolbar and add-post-button look untidy while editing post.

**Where was the bug observed**
- Local environment with vagrant.

**To Reproduce**
Steps to reproduce the behavior:
- Login into the deployment.
- Go to Data.
- Select any post to edit.
- Scroll down to end of page.

**Expected behavior**
- Disabling add-post-button while Editing post makes it look tidy.

[2020-03-31 10:30] Obadha2 commented on #2374
QA'd, passes. 👍

[2020-03-31 11:45] Erioldoesdesign commented on #3905
So you'd like to disable the circle + button when editing a post?

[2020-03-31 11:57] noone0212 commented on #3905
Yes, I think of disabling it. I have done [here](https://github.com/ushahidi/platform-client/pull/1479).

[2020-03-31 12:11] noone0212 opened #3906 "Making buttons more attractive."
**Current Scenario**
At many places, there are two buttons which look different in terms of padding like shown.

**Suggested Solution**
Adding padding to not padded ones, makes them look more attractive.

**Screenshot**
![Screenshot from 2020-03-31 17-33-25](https://user-images.githubusercontent.com/46659112/78024958-d976d400-7376-11ea-82b8-806b81f11d9f.png)

Aha! Link: https://ushahiditeam.aha.io

[2020-03-31 12:23] Obadha2 commented on #2105
@rowasc while all required fields are highlighted, there's no feedback if "Display Name" is missing. There's no response when user clicks Save.
Doesn't pass QA.

[2020-04-01 07:17] Obadha2 commented on #3613
QA'd, passes. 👍

[2020-04-01 07:35] Obadha2 commented on #3613
@rowasc There's an issue where some of the guiding or hinting text is missing.....It says
"Enter a ...... or ........ video URL"
See screenshot for more information:
<img width="1159" alt="Screenshot 2020-04-01 at 10 30 17 AM" src="https://user-images.githubusercontent.com/38259840/78110673-14731900-7404-11ea-9377-804898ef6824.png">
PS: This is happening in prod, too.

[2020-04-01 13:26] rowasc commented on #3613
oooo :( Ok thanks. Will schedule fixes!

[2020-04-01 14:57] Angamanga commented on #2105
@rowasc @Obadha2 This one is a bit tricky:
1. All the fields are required in order to activate the save-button.
2. When adding a new user, the display-name is empty
3. The validation only check touched fields, since we don't want to show an ugly error-label before the user starts typing
So if the user doesn't add anything to display-name, the label cannot be seen. If the user adds something and th

[2020-04-01 14:58] rowasc commented on #2105
alright. Then I think this improvement can go live provided a new ticket is created for the more accessible solution, as Anna mentions. I think disabling the button is not the best idea without providing feedback, so we will discuss that in the new ticket.

[2020-04-01 17:45] chaitumuppala opened #3908 "Filter is only performing "OR" operation, looking for "AND" Operation [Critical]"
**Describe the bug**
While I was applying the filters on Categories.
I selected multiple categories.
Across multiple categories, the results are shown by executing the "OR" operator.
Example:
Searching for "Kenya" , "COVID-19 Detected" Categories.

If it "OR" execution, the results will be shown for "KENYA" OR ""COVID-19 Detected"
This is not helpful.
The results are shown from both the categories

[2020-04-02 02:35] individual-it commented on #2603
fix in https://github.com/ushahidi/platform-client/pull/1477

[2020-04-02 02:35] individual-it commented on #3903
closing as duplicate

[2020-04-02 02:35] #3903 closed

[2020-04-02 03:17] rowasc commented on #2603
@Obadha2 can you test in the morning?

[2020-04-02 07:34] Angamanga commented on #2105
@rowasc Yes, lets keep it open, I will take a look at and spec it further today!

[2020-04-02 07:37] CeciliaHinga opened #3909 "Private toggle button on the title and description field should not be displayed as an option"
**Describe the bug**
The private toggle button on the title and description fields are not working and should not be there in the first place since these are the two fields that are needed on postcards when displayed on the map.

**Where was the bug observed**
Production

**To Reproduce**
Steps to reproduce the behavior:

1. Go to settings
2. Click on a survey
4. Click on the title/description fie

[2020-04-02 09:39] Obadha2 commented on #2603
QA'd, passes! 👍

[2020-04-02 10:08] leninpaulino commented on #2593
I've been looking at the code and the whole CSV import process. Definitively want to move forward with this one.

@rowasc  are you okay with the category value of every imported record being exploded by comma if it contains multiple values?

I think we could apply the same logic for any form attribute with unlimited cardinality.

Regarding the user experience, I think it would make enough sense fo

[2020-04-02 11:40] leninpaulino commented on #2593
Update: Performed a small test and it works.

So, wrapping up the solution I suggest:

Refactor this block of code: https://github.com/ushahidi/platform/blob/f00e40bceb95fb52e1f9df1910679336976da30b/src/App/Transformer/CSVPostTransformer.php#L80

As of right now, the purpose of that block is to put all the form attributes (not post fields) in an array.

We could change that block to verify first i

[2020-04-02 15:44] rowasc commented on #3908
Thank you for reporting this problem/usecase for AND filters.

Right now,  OR operator is used by design in multi select fields liike categories and surveys.  While I understand the usecase for an AND search in fields, it would have to be optional and selected in the filters UI somehow, we cannot switch to AND just like that, since of course, a lot of our users depend on this being the opposite be

[2020-04-02 16:12] rowasc commented on #2593
@leninpaulino thanks Lenin for thinking through this one!

@tuxpiper do you have some time this week to check in here with any comments on approach, since I just realized you attempted to fix this already  and had some internal chats about it, but didn't get merged due to being hacky https://github.com/ushahidi/platform/pull/2594/files .

I think Lenin's approach doesn't require too major of a cha

[2020-04-02 16:51] #3853 closed

[2020-04-02 17:22] leninpaulino commented on #1757
I'll take a look at this one. May come back soon with details about a possible implementation.

[2020-04-02 18:03] rowasc commented on #1757
That would be amazing thank you @leninpaulino

[2020-04-02 20:06] rowasc commented on #3861
@Obadha2 can you check this out in steve? Thanks !

[2020-04-02 20:07] rowasc commented on #3897
@Obadha2 can you check this out in steve? Thanks !

[2020-04-02 20:07] rowasc commented on #3853
@Obadha2 can you check this out in steve? Thanks !

[2020-04-03 15:31] Erioldoesdesign commented on #3686
Let's keep the chat here in this issue @rohit645 and @Brad-Anthony so that the information is not lost in platforms like Gitter - GitHub issues is a 'source of truth' so while it might not be quick and chat-like it's a good place to keep records :)

[2020-04-03 16:12] rohit645 commented on #3909
@Angamanga can I work on this issue?

[2020-04-03 16:13] rowasc commented on #3909
@rohit645 YES 🎉

[2020-04-03 17:45] noone0212 commented on #3891
@Erioldoesdesign can you please suggest me how should I proceed ahead?

[2020-04-03 17:50] Erioldoesdesign commented on #3891
I didn't raise this issue - what problem is it trying to solve? It hasn't come from a user?

Edit buttons are not part of our design system in line so this would need deeper design thinking as well as usertesting of prototypes.

[2020-04-03 19:08] rowasc opened #3912 "Please read our code of conduct."
Please make sure you read and follow Ushahidi's code of conduct, linked here https://docs.ushahidi.com/platform-developer-documentation/code-of-conduct

If a Code of Conduct incident happens to you, or if you witness it happening to someone else, please contact codeofconduct@ushahidi.com immediately. If you aren't sure if something is a code of conduct violation, you can still email us and we will

[2020-04-04 12:24] Erioldoesdesign commented on #3891
Copy paste from #1480

...but it may be worth sync or a longer conversation on what problems it's trying to solve and then I can dig around for older designs or see what I need to build/piece together and/or usertest and work with @noone0212 on. Any more detail in the issue would be very, very helpful because 'Making fields more Intuitive.' is quite broad!

Also fields in the UI refresh is....here

[2020-04-05 16:57] chaitumuppala commented on #3908
Thanks a lot for considering the request. Do you want me to raise this as feature request and close this bug.

[2020-04-06 08:27] Obadha2 commented on #3853
QA'd, passes. 👍

[2020-04-06 08:48] Obadha2 commented on #3897
@rowasc I see this. The link to be shared opens a survey to be responded to.
I'm thinking this is needed when you want to share a link for someone to respond to a survey. Are we sure this is not (correctly)expected behavior?

[2020-04-06 10:51] anje123 opened #3913 "Not So Good API Request validation"
**Describe the bug**
Based on the API Documentation https://docs.ushahidi.com/platform-developer-documentation/tech-stack/api-documentation, the datatype like string, numeric, object where given but the  Ushahidi platform validation does not accurately follow it, in a case where when I send a post request to the
/api/v3/posts endpoint, I can insert a numeric value in a field that requires a string

[2020-04-06 18:39] tuxpiper commented on #2593
@rowasc @leninpaulino  I think it's a pretty good solution, and knowing of the multivalued nature of attributes could come in handy in other parts of the code (as in, it could become an attribute of the value type repo)

I think the main concern is something less related to this specific solution, than it is to how post values are set up to be processed all over the codebase.

Quite usually, where

[2020-04-06 20:02] TNgcolosi opened #3915 "Exporting a filtered search to CSV"
Hi Devs
We are using your wonderful application to track the status of infrastructure in the Western Cape South Africa. An issue we are facing is that when we filter a search to see only certain posts on the map, and export that search, the export still includes all the values that are on the map - even those that have been filtered out. Would you be able to see to this?

The link to the applicati

[2020-04-06 23:05] anje123 commented on #3558
@rowasc  the page could not be found. i think you mean this https://docs.ushahidi.com/platform-developer-documentation/tech-stack/api-documentation

[2020-04-08 05:47] himil-vasava commented on #2794
@Angamanga So in short we have to enable these bug-icons for any user(role-member, admin) which was previously enabled for only admin ?

[2020-04-08 08:32] Obadha2 commented on #3861
QA'd, passes. 👍

[2020-04-08 13:56] rowasc opened #3918 "Make registration button and endpoints optional"
**Which user group(s) are the primary audience for this feature/enhancement.**
Include deployment names if possible
A group using Ushahidi for COVID response needs to be able to disable the "Register" functionality.
Their use case is that they explicitly only want people to join if they are invited to be a part of the site management group, rather than make registration open.

Note on user testing

[2020-04-08 14:50] rowasc commented on #3905
@Obadha2 can you test? THanks !

[2020-04-08 15:53] CeciliaHinga opened #3919 "migration"
**Which user group(s) are the primary audience for this feature/enhancement.**
Include deployment names if possible
Specify key workflows (e.g. crisis, elections)
Specify key use cases (program/data workers, incident management, advocacy/storytelling)

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrate

[2020-04-08 15:53] #3919 closed

[2020-04-08 19:36] rozeemi opened #3920 "Alta Ofrecimiento"
Buenas tardes, Intentè dar de alta un ofrecimiento, seleccionando la opcion "**otros**", ya que es el servicio de Flete lo que estoy ofreciendo.  Por mas de realizar click en "**enviar**", la misma no aparece en el mapa. Ni en el buscador.
Puede que demorè en realizarse ?

[2020-04-08 19:56] rozeemi commented on #3920
Good afternoon, I tried to register an offer, selecting the option "others", since it is the Freight service in van that I am offering. For more than clicking "send", it does not appear on the map. Not in the search engine.
Maybe it took me a while?

[2020-04-08 23:57] lbell opened #3921 "Mobile App Gives Consistently Wrong Location"
**Describe the bug**
If a user opens the mobile app to submit a report, as soon as Geofix is gained by the GPS, it records that in the app. Instead, it should wait for a few seconds to get the correct location. Perhaps get location on submit?

This is especially problematic if in a remote location with no consistent location data being collected (ie, someone who has all apps set to give location p

[2020-04-09 11:32] Obadha2 opened #3922 "Unable to publish post if there are two location fields, one of the fields being required."
**Describe the bug**
If a survey has more than one location field, and one of the location fields is a required field, a post submitted to this post can't be published.

**Where was the bug observed**
Deployment - https://test-deployment.steve-buscemi.ush.zone/views/map

**To Reproduce**
Steps to reproduce the behavior:
1. Go to deployment.
2. Create survey with two location fields, make one of th

[2020-04-09 15:41] Angamanga opened #3923 "Entity translations"
## Overview
- Being able to define a survey in multiple languages
- Being able to add posts in different languages and translate a post afterwards to different languages

## What privacy impacts does it have?
- Does it change the personal data we collect? No
- Does it expose data that was previously private? No
- Does it send data to new services? or change how we process it? Not now, if we decide

[2020-04-09 15:44] Angamanga opened #3924 "Adjust pattern-library to Entity-translations feature"
**Designs:** [https://invis.io/Q2WSBZLFE69](https://invis.io/Q2WSBZLFE69)

Aha! Link: https://ushahiditeam.aha.io/features/PROD-25

[2020-04-10 03:50] rowasc commented on #3656
@Obadha2 can you test ? Thanks

[2020-04-10 03:54] rowasc commented on #3897
Ugh, that's... a really good point. I didn't think of the need to share a "respond to survey" becuase I'd normally just copy the link myself 🙈
Ok I'm going to revert this, because it's likely someone needs it and we would be removing an accessible way to share it.

[2020-04-10 14:26] ijrad commented on #3677
@Obadha2 Hi, please which mobile app version are you using to send sms to ushahidi platform?

[2020-04-10 14:28] ijrad commented on #3416
@kinstelli Hi, please which mobile app version are you using to send sms to ushahidi platform?

[2020-04-10 15:08] tuxpiper commented on #3893
Hi! The source code is here: https://github.com/ushahidi/platform-mobile-app .

Fixing that README now :+1:

[2020-04-10 15:08] #3893 closed

[2020-04-10 15:14] tuxpiper opened #3927 "Mapbox geocoder support"
**Which user group(s) are the primary audience for this feature/enhancement.**
Any user looking up map locations by place name / landmarks

**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
Mapbox offers a geocoding service which possibly may offer superior results to Nominatim,  because it incorporates several other sources of data.

**De

[2020-04-13 08:01] brymut commented on #3904
More than happy to have a look at this this week.

[2020-04-13 08:46] rowasc commented on #3927
This would be something configurable, I assume?
Ideally for SaaS we should be able to enable this for specific deployments, and of course OSS deployers can pick their own.

[2020-04-13 08:46] rowasc commented on #3920
Hi/Hola @rozeemi
what deployment is this related to?
Thanks

[2020-04-14 06:32] aoduor opened #3929 "Related Post not working"
**Expected behavior**
When I add a related post field to a report, on display, I should be able to click on the link of the related post, and be redirected to it.

**Actual Behaviour**
The link seems to be broken. See https://kenyacovid19.ushahidi.io/posts/102

**Steps to Reproduce**

- [ ] Create a survey with a related post field
- [ ] Submit a post with another post attached as related.
- [ ] N

[2020-04-14 06:42] aoduor opened #3930 "Ability to change survey field types post-survey creation"
**Which user group(s) are the primary audience for this feature/enhancement.**
Likely all deployers

**Is your feature request related to a problem? Please describe.**
Had a great chat with Erica Hagen, who flagged a frustration with survey fields after they've been set up. Currently, once you've set up a survey field, say "text field", you can't come back and change the field type to "description

[2020-04-14 06:43] aoduor commented on #3927
Related perhaps? (lmk if not, I can create a separate issue for it <3)

Erica, from Map Kibera flagged a need to use their own custom base maps too.

[2020-04-14 06:49] aoduor opened #3931 "Create setting to visualise posts by category vs by survey?"
**Which user group(s) are the primary audience for this feature/enhancement.**
Came up in a discussion with Map Kibera team who have prior history using v2 deployments

**Is your feature request related to a problem? Please describe.**
The way they have their data structure set up, it's not helpful to visualise posts on the map by survey, and would instead make sense to do this via categories.

**

[2020-04-14 08:54] Obadha2 commented on #3656
@rowasc now, the clear content feature works, but the search feature appears to not work in some instances.

[2020-04-14 08:59] Angamanga opened #3932 "The link to create a new Twitter-app is wrong"
**Describe the bug**
The link to Twitter is wrong in datasources->Twitter.

**Where was the bug observed**
.io

**To Reproduce**
1. Go to 'settings->datasources->Twitter'
2. Click on the link "Create your Twitter application here"
![Screenshot 2020-04-14 at 10 55 07](https://user-images.githubusercontent.com/8624777/79205614-76894080-7e3e-11ea-8d96-606ad1e40043.png)
3. You will get directed to an

[2020-04-14 09:13] Angamanga opened #3933 "Buttons when searching and selecting related posts is just a black box"
**Describe the bug**
The buttons when searching and selecting related posts are just a black box that does not make sense:

![Screenshot 2020-04-14 at 11 09 51](https://user-images.githubusercontent.com/8624777/79207156-9faad080-7e40-11ea-9922-5a65a5702233.png)
![Screenshot 2020-04-14 at 11 09 45](https://user-images.githubusercontent.com/8624777/79207160-a0436700-7e40-11ea-8d3c-bf9fa29cd795.png)

[2020-04-14 09:15] Angamanga opened #3934 "Links to related posts does not work"
**Describe the bug** When clicking on a linked related post in a post, the link does not work. [https://user-images.githubusercontent.com/8624777/79207651-40998b80-7e41-11ea-974b-d260dfcf6ef6.png](https://user-images.githubusercontent.com/8624777/79207651-40998b80-7e41-11ea-974b-d260dfcf6ef6.png)

Aha! Link: https://ushahiditeam.aha.io/features/PROD-125

[2020-04-14 10:10] Obadha2 commented on #3905
QA'd, passes. 👍

[2020-04-14 11:59] rowasc commented on #3656
ooof. Can you describe how to break it? thanks for finding it

[2020-04-14 14:13] Angamanga commented on #3904
@brymut Please go ahead 🎉 Reach out if you need any further guidance!

[2020-04-14 22:15] Reportfault opened #3935 "Report PPE Shortage"
I POSTED saying shortage of PPE at Luton and Dunstable Hospital. LU4 0DZ and it is not anonymous as everyone can see my contact email. Please delete ASAP. Email should be annoymous !!

[2020-04-14 22:55] rowasc commented on #3935
Hi, you should reach out to the deployment owner to ask for deletion.
Closing.

On Tue, Apr 14, 2020, 19:16 Reportfault <notifications@github.com> wrote:

[2020-04-14 23:01] rowasc commented on #3922
@Obadha2 Why isn't this a blocker? is it a regression or not?

[2020-04-14 23:01] #3935 closed

[2020-04-14 23:56] rowasc commented on #3922
I just checked, this *IS* a regression, since I cannot make it happen in production, or maybe I'm doign something wrong.
@tuxpiper @Obadha2 please let me know why this was not seen as a blocker/if I'm missing something?

[2020-04-15 00:42] rowasc commented on #801
We have 3 options so far in V3. New layers should be something end users can configure, at the very least for OSS, but ideally also throu gh the admin panel. It would take some rethinking of how we handle layers but it's feasible

[2020-04-15 00:42] rowasc commented on #3927
Ah, no this is different. You created an issue for it already like 5 years ago :/  but I will bring it up again soon
https://github.com/ushahidi/platform/issues?q=is%3Aissue+is%3Aopen+layers

[2020-04-15 11:21] tuxpiper commented on #3922
mm bummer..

It was my estimation that it wouldn't be a regression, given that it was a newly introduced test and how wonky the behavior is in other places when the form has two location fields.

On the other hand, I think we may be pushing the envelope here, compared to the typical use of platform. The code is not well prepared for handling the case of 2 locations, but we haven't gotten bug repor

[2020-04-15 11:25] rowasc commented on #3922
@tuxpiper not sure what you mean pushing the envelope? (sorry!)
And yes support is bad for multi location, but preventing publishing is badder 🤔
@Obadha2 really curious to hear if this is something you verified in production to make this call because it may just be that I'm having trouble with it. Please let me know.

[2020-04-15 11:53] Obadha2 commented on #3922
@rowasc this isn't happening in prod, so it's new. I think we decided this wasn't a blocker since we saw the odds of having more than one location field in one survey as minimal so we thought this wouldn't block or get in the way of regular use of the platform.

[2020-04-15 12:26] #3625 closed

[2020-04-15 12:32] rowasc commented on #3922
ok thanks @Obadha2
@tuxpiper can you work on a fix and let us know so we can release without the regression? 😬
Thanks

[2020-04-15 13:00] rowasc commented on #2274
Won't fix. We want to think more about making thing consistent and how it affects user flows before we merge a solution since it's a bit confusing to see them dissapear and come back :/

[2020-04-15 13:00] #2274 closed

[2020-04-15 13:53] Angamanga commented on #2794
@himil-vasava It is this div that should be visible to everyone (even not logged in): https://github.com/ushahidi/platform-client/blob/develop/app/main/posts/views/filters/active-search-filters.html#L35. The saved-search button is working as expected. I am not entirely sure why it does not appear, it may be a bug in the directive that affects the uiFilters-variable. The directive can be found here

[2020-04-16 11:20] AmTryingMyBest opened #3936 "Search feature on Users works only intermittently."
**Describe the bug**
The search feature on users page does not work on all search instances. On performing a search, on some occasion it works and on some occasion, it does not. All randomly.

**Where was the bug observed**
Test deployment - steve buscemi.
users page

**To Reproduce**
1. Log into a deployment as an admin.
3. Navigate to the users page.
4. In the search bar, enter text to search in

[2020-04-16 11:20] Obadha2 commented on #3656
K the search feature is broken.
On performing a search, results just don't show up 40-60% of the times. It's a bit weird because there doesn't seem to be a pattern for reproducing it. It'll work in some instances, in some instances it does not.

Logged [here](https://github.com/ushahidi/platform/issues/3936) as a separate issue.

[2020-04-16 12:04] #3896 closed

[2020-04-16 16:51] tuxpiper commented on #3922
*warming up gross hack generator cannon*
*aiming cannon to already gross codebase*
no problem, just leave it to me :+1:

[2020-04-16 17:56] tuxpiper commented on #3922
@rowasc fix PR posted : #3937

[2020-04-16 18:01] tuxpiper commented on #3922
note that things like fetching geojson will be slow again , when the form contains 2 location fields

[2020-04-16 18:50] noone0212 commented on #3932
May I work on this issue?

[2020-04-17 06:48] Angamanga commented on #3932
@noone0212 Absolutely! Thank you :)

[2020-04-17 09:10] #3909 closed

[2020-04-17 12:09] tuxpiper opened #3939 "Limit the amount of posts that may be fetched with GET /api/v3/posts request"
**Which user group(s) are the primary audience for this feature/enhancement.**
This was initially reported by a deployer with significant engagement. They handle personal data that is made available publicly, and it's not an option to hide it completely as sharing data is how that deployment works.

**Is your feature request related to a problem? Please describe.**
They were seeing how others wher

[2020-04-17 23:58] leninpaulino commented on #2593
Sorry for the late response, I've been kind of busy these days.

I definitely agree with @tuxpiper and I think that's one of the reasons why design meetings are so important for teams. I personally don't like to make fixes for speed, and when I do I always try to point in the calendar the date for implementing the appropriate fix. That way we can avoid ending up drowning in a ocean of technical de

[2020-04-18 13:58] noone0212 commented on #3777
May I work on this?

[2020-04-18 14:13] RachealN commented on #3918
@rowasc, Here's the solution I thought could work as far as approaching this issue is concerned
1-Make the registration of users strictly by invitation. This approach will not allow public registration and send invitation links instead.
use case
- Users will be requesting an invite by entering their email and only admin or other management groups will make the registration.
- This approach will re

[2020-04-19 05:56] rohit645 commented on #3686
@Angamanga. While at Lockdown, I thought of giving a try to integrating this feature. I was wondering how this bot would possibly work. What would be it's expected behavior? What would be the user flow for using this bot?

As far as I can understand :
1. Users will be able to submit reports/form surveys with this chatbot.
2. There will be the conversation of the user with the bot. And the minimal

[2020-04-19 09:13] Brad-Anthony commented on #3686
@rohit645 here's some insight from my background work for our project to answer your points.

**Assumptions**:
1. Correct
2. Correct. The bot would use the conservational UI to map user responses to specific data fields with data validation filters as an intermediate step that's not visible to users; title, map location, media attachments, categories. etc.
3. Correct
4. That submitted data will se

[2020-04-19 16:23] tuxpiper commented on #3686
Yep just like each deployment has its URL , I think each deployment should have its chatbot under its own facebook group or embedded from there into their project's website.  Unfortunately, this means an additional setup process for each deployer that would want to use this feature, but I don't really see a way around it.

For some ideas about basic chatbot style interaction for filling a Ushahidi

[2020-04-19 17:24] tuxpiper commented on #2593
@leninpaulino I think that would work quite nicely!

[2020-04-20 08:02] Obadha2 opened #3942 "Unabe to edit a survey's description field. Field broken."
**Describe the bug**
The description field for fields in a survey is uneditable. Additionally, format options for heading can't be dismissed, and hyperlink option is too far left.

**Where was the bug observed**
Creating and/or Editing survey fields - https://test-deployment.steve-buscemi.ush.zone/settings/surveys/create

**To Reproduce**
1. Go to survey creation page.
2. Add a field.
3. Click on

[2020-04-20 09:15] #3922 closed

[2020-04-20 09:23] CeciliaHinga opened #3943 "Input Numbers on the integer field type get's changed when the form is submitted"
**Describe the bug**
When you create an integer field type on your survey and enter the information you want, in this case, contact info, on submission the number changes from the initial number that you entered.

**Where was the bug observed**
Production

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the setting page, then click on surveys.
2. Add a field
3. Click on Number(integer)

[2020-04-20 09:46] Obadha2 commented on #3922
QA'd, passes. 👍

[2020-04-20 09:57] Erioldoesdesign commented on #3686
@tuxpiper Could the set-up process be similar to how deployment owners set up Twitter data source which then prompts them to create a Twitter application?

The only hiccup I can see as a global concern is places where Facebook is banned or limited, but I don't know enough about the global situation of facebook blockage. I'm sure there's a similar problem using Twitter that some folks have probably

[2020-04-20 09:58] Erioldoesdesign commented on #3686
There's a test deployment set-up with the chatbot running if I remember from my time internally 🤔 It might be nice to have someone techy pick that apart (in a nice way!) to understand what was done already?

[2020-04-20 10:11] Brad-Anthony commented on #3686
If the chat-bot assistant runs integrated with FB chat/messenger, then users would need access to FB to report on that channel. Are there any cases where a VPN doesn't resolve access issues? I used a VPN while living in China to access FB, so presumably there are only a handfull of countries with stronger national firewalls preventing access. As a fallback; users can always default to reporting on

[2020-04-20 10:55] Erioldoesdesign commented on #3686
@Brad-Anthony this is for sure a reasonable and useful way of doing this work under firewall but I also know some countries monitor VPN usage (Uganda I believe during their social media tax time?) and also some users of Ushahidi platform are at the very beginning levels of knowing how to use the internet and services like Ushahidi.

For those in these restricted countries, I would want to try to s

[2020-04-20 11:58] himil-vasava commented on #3265
@Angamanga should i create a dropdown for sorting and have two options in it - alphabetical and roles ?

[2020-04-20 12:14] Brad-Anthony commented on #3686
@Erioldoesdesign I think we have options for reliable PHP based geo-location via user IP address. A backend dev could confirm this but I suspect that a simple logic loop could work, for example "If a user is visiting from a Uganda IP address then they are provided with URL redirect to page based instructions for assistance; or to whatever output is valuable.

[2020-04-20 13:14] rowasc commented on #3777
@noone0212 yes, absolutely. Thank you !

[2020-04-20 13:53] MemeDeveloper commented on #3942
**Additional Info**

e.g. https://SUBDOMAIN.ushahidi.io/settings/surveys/edit/6

I see today two errors in console. Chrome browser on PC:

**New today**
[code]

**Noticed when noticed this bug last week**
`[object%20Module]:1 Manifest: Line: 1, column: 1, Syntax error.`

Also I think this bug appeared last week sometime certainly this was working previously.

Hope that helps

[2020-04-20 15:12] tuxpiper commented on #3686
Yes I think that would be a very similar process. @Angamanga knows more about the particulars.

I feel pretty good myself about community contributions in general :)

[2020-04-20 15:20] tuxpiper commented on #3686
re: blocked facebook.

I'm not 100% sure it's the case, but knowing the ethos of facebook .. I'm kind of supposing.. wouldn't someone need to be signed in as a facebook user in order to even be able to open their messenger?

In that case, the end user would probably only contribute through the bot  if they are already a facebook user, and in that case I'm supposing already familiar to circumventin

[2020-04-20 16:07] rowasc commented on #3939
regarding privileged: I think the way we do it for exports is through permissions     with DATA_IMPORT_EXPORT so that would fit the same pattern... altough it may be possible that a scope would have been the correct decision to be honest 🤔
From slack chat

[2020-04-20 22:15] Brad-Anthony commented on #3686
@tuxpiper Yes, good point. The reporting via FB channel is likely only valuable for existing FB users UNLESS messenger integration is possible outside of FB. I don't know about the latest mechanics of this; but I know there have been some updates to the architecture over the last year.

All reporting channels will not be available equally to all users; I don't see this as an issue considering Usha

[2020-04-21 07:41] Angamanga commented on #3265
@himil-vasava Yes that sounds good 👍

[2020-04-21 08:30] Erioldoesdesign commented on #3686
good points both! re. facebook user being needed. I suppose I'm thinking of all the folks that have 'sock puppet' accounts (like me!) or people that create an account and then delete shortly after as well as those having activity tracked. Thoughts for further down the road!

I sadly don't have access to the demo facebook bot anymore (nor the test deployment that is was part of) though I remember a

[2020-04-21 09:00] Brad-Anthony commented on #3686
@Erioldoesdesign we're quickly getting into the realm of credibility. Disposable sock puppet accounts come with some inherent issues that may warrant more in-depth conversations, specifically about verification, vetting and security.

Shall we map out the nuanced user cases to better anticipate some problems, and implementation directions?

@digitalhuman can you add your thoughts to this? If user

[2020-04-21 09:07] digitalhuman commented on #3686
@Brad-Anthony well that is an easy question! :) NO. Because as soon as you create a relation between FB and you anonymity is gone. They track and correlate any bit they get their hands on.

[2020-04-21 09:32] Brad-Anthony commented on #3686
@digitalhuman thank you!

I'm not sure how far we want to go down this rabbit hole. Users worried about security, anonymity, should not be using FB at all anyway regardless. Oppressive governments have back doors into FB to track users through various means if they really want to; sock puppets or not.

[2020-04-21 09:51] Erioldoesdesign commented on #3686
@Brad-Anthony @digitalhuman Always good to have the public conversation (here in issues) as it at the very least, proves that we are thinking about it and considering it even if it doesn't become part of an implementation :) and you never know, we could stumble across a good idea in the discussion!

Re. Hashtags - pretty sure you could do this in your twitter data source set up. Though it can be m

[2020-04-21 09:55] MemeDeveloper commented on #3942
Fixed for us here. Thanks.

[2020-04-21 11:28] Obadha2 opened #3946 "UX issue: Apply button stays disabled when filtering map views."
# Approved solution
Apply button should always be manually clicked to apply filters, rather than always automatically applying the values in the map view and requiring a click in the data view. This is to ensure we are providing consistent behaviors across different screens, since several users were confused about this.

### Checklist
- [ ] Filters should not be automatically applied in map view
-

[2020-04-21 12:02] #3942 closed

[2020-04-21 13:03] Brad-Anthony commented on #3686
@Erioldoesdesign I'll omit responses to numbers I don't have a comment on.

Re: #hashtags I have tried this using various tools in the past and I still think it's akin to casting a massive drift net that catches too much (fish)data to be useful. Unless there's a campaign that creates and uses a highly specific hashtag only that org uses for reports. My assumption is that a user should possess a ce

[2020-04-21 20:49] noone0212 commented on #3946
I am able to reproduce this issue. While going through code base, I found **disableApplyButton** function should return true if filtering is to done in map view, else it should return false, i.e. when in data view. I want to ask if I should remove this function and make apply button always enabled, because in data view it is always enabled. Please help. Thank You!

[2020-04-22 06:51] himil-vasava commented on #3265
@Angamanga In what priority the roles should be sorted?

[2020-04-22 07:06] himil-vasava commented on #3265
@Angamanga could you please elaborate on sorting according to roles.

[2020-04-22 07:21] Angamanga commented on #3265
@himil-vasava Roles is hard to sort, but we can filter them with checkboxes, i.e. if you select a specific role, only those users should be visible. Something like this:
![Screenshot 2020-04-22 at 09 18 29](https://user-images.githubusercontent.com/8624777/79952138-3e0ae780-847a-11ea-8788-8540efbd64db.png)

[2020-04-22 07:28] himil-vasava commented on #3265
@Angamanga I thik that feature is already there
![Screenshot from 2020-04-22 12-57-22](https://user-images.githubusercontent.com/55590415/79952996-d9ab5080-8498-11ea-92c5-2ac0eb7c0cb7.png)

[2020-04-22 07:38] Angamanga commented on #3265
@himil-vasava Ah, just add alphabetical sort then :)

[2020-04-22 09:01] AmTryingMyBest opened #3949 "Checkbox selections do not persist on submitted survey responses - mobile."
**Describe the bug**
On android mobile application, when you open a response submitted to a survey, if there are checkbox fields and there have been selections on the checkboxes, the checkboxes appear as no options have been selected.

**Where was the bug observed**
- Android mobile application, edit survey responses.

**To Reproduce**
1. Go to android mobile application.
2. Log in as member/admin

[2020-04-22 10:25] rowasc commented on #3949
@Obadha2 do we have any data to see if this was a regression? trying to figure out if serverside or clientside , will debug this week

[2020-04-22 10:26] rowasc commented on #3946
This sadly is by design.
It's always been confusing at best that we do that. I can't remember the rationale for this to be a thing to be honest.

[2020-04-22 10:27] rowasc commented on #3946
Basically the idea was that in the map the filters apply automatically (why? ) and in the data view they don't (again, no idea why, will try to find the old documents for this so we can bring some clarity into it)

[2020-04-22 10:27] rowasc commented on #3946
cc @Angamanga tagging because maybe you have awesome memory about this

[2020-04-22 10:32] Angamanga commented on #3946
@rowasc @Obadha2 Yes I also remember it was by design. I think it was simply "ok so the filters apply themselves in map-view, lets disable the button" more than anything else... I think we can re-enable it (at least to close the modal?) Its confusing...

[2020-04-22 10:32] rowasc commented on #3946
Ah ok so recalling a bit that
- for triage (data view) it was important for it to be manual apply, because otherwise the general feeling was that it'd be confusing and because the common usecase was that you'd group filters a lot more in data view.
- For map, still no idea.

Ideally, it'd be nice if filter behavior were the same in both views IMO. If you have to apply it manually then great apply

[2020-04-22 10:33] rowasc commented on #3946
@CeciliaHinga you chat with people using the tool all day, have you found a lot of confusion around this or generally is fine with users?

[2020-04-22 11:49] #3932 closed

[2020-04-22 13:12] rowasc commented on #3777
https://github.com/ushahidi/platform/issues/3943 this one may also be related

[2020-04-22 13:25] rowasc commented on #3936
Are you performing *the same search* every time? ie same search criteria?

[2020-04-22 13:27] rowasc commented on #3930
Yea. The thing with this is that the usecase where it's most useful (ie once you already have responses) is also the most problematic, because a large portion of your data may no longer be valid for the new type.
I'm not entirely sure how we could make this happen without adding a lot of complexity but keeping in my mind 🤔

[2020-04-22 13:27] rowasc commented on #3930
@CeciliaHinga did you ever hear other requests for this? It's not something I've heard before so I'd like to collect some data if we have it

[2020-04-22 13:30] rowasc commented on #3931
That's something we've heard from other deployers too, yea.
@CeciliaHinga I think you have flagged similar ones too? If yes it would be great to collect some of that data here

Q for @aoduor
- What kind of setup do they have that makes this useful to them?

In deployments for help/requests, I'd want to be able to see the pins differentiated by "solved cases" vs " unsolved cases" with different col

[2020-04-22 13:34] rowasc commented on #3929
oof I ran into this one in mobile and reported it a long long time ago :( Didn't realize it also happens in web.

Going to tag as community ticket for the moment since nobody has any bandwith to take this one right now (and a few others) due to a lot of priorities, hopefully someone will be able to help out.

[2020-04-22 15:43] Obadha2 commented on #3936
Same, and both.
Randomly.

[2020-04-22 20:03] noone0212 opened #3954 "Default decimal value in decimal field only shows integral part."
**Describe the bug**
While adding a default value in decimal field of any survey, the result shown is only integral part of decimal number entered and the fractional part is omitted.

**Where was the bug observed**
localhost

**To Reproduce**
1. Create a survey with decimal field in it.
2. Enter default value of the filed, which is optional although.
3. Add a new post to the survey and observe dec

[2020-04-23 04:00] rowasc commented on #3930
also @aoduor could you explain the user flow a bit more? When are they most needing this? Is is just while they are creating the surveys the first time and make small field type mistakes? or are they coming back later and trying to do that?
Would it be useful if we only allow it as long as there is no survey data?

[2020-04-23 07:12] CeciliaHinga opened #3955 "Save button on the category page remains disabled even after filling in the fields"
**Describe the bug**
Save button on the category page remains disabled even after filling in the fields hence hindering users from creating new categories

**Where was the bug observed**
Production

**To Reproduce**
Steps to reproduce the behavior:
1. Go to settings
2 Click on category
3. Click on the '+' button on the top left-hand side to create a new category
4. Fill in the fields
5. Save butto

[2020-04-23 08:11] Obadha2 commented on #3949
@rowasc no, unfortunately. Probably because AFAIK mobile(android) hasn't been touched in a while.

[2020-04-23 14:33] #3955 closed

[2020-04-24 10:00] Obadha2 opened #3956 "Poorly visible font/background on hint field for toggling featured option on Collections."
**Describe the bug**
On the collection creation/edit form, the hint field has poor visibility. See attached screenshot.

**Where was the bug observed**
Edit or create collections - featured option - https://walterqa.ushahidi.io/collections/5/map

**To Reproduce**
1. Go to a deployment.
2. Log in as as admin (or privileged member)
3. Click on 'Collections.'
4. Click on Create new to open form to cr

[2020-04-24 14:01] noone0212 commented on #3956
May I work in this?

[2020-04-24 15:11] rowasc commented on #3956
That'd be awesome yea ! thanks @noone0212

[2020-04-24 15:16] rowasc commented on #3611
Hi. Thank you for this feedback. While we still don't allow links in titles, and it's not in the plans to do it at the moment, it's now possible to add links in the description field and other basic styling.
I will edit the issue to reflect the feature that's missing (title links) only.

[2020-04-24 15:17] #3905 closed

[2020-04-24 15:17] #3861 closed

[2020-04-24 15:18] #2376 closed

[2020-04-24 15:19] rowasc commented on #3656
Closing this in favor of https://github.com/ushahidi/platform/issues/3936 since the original issue is done but new ones appeared.

[2020-04-24 15:19] #3656 closed

[2020-04-24 15:32] rowasc commented on #3936
For anyone trying to fix this issue
- Go to users
- Enter a search term that matches a user (ie if you have a user with the email "romina@ushahidi.com" then search for "romina")
- Hit enter/return key
- You will get all the results rather than just the one you wanted.

This happens because the request is going twice, one with no criteria (q="") and another with your search criteria (q=romina)

[2020-04-24 15:40] rowasc commented on #3613
Fixed by Anna

[2020-04-24 15:40] #3613 closed

[2020-04-24 15:53] CeciliaHinga opened #3957 "The task required setting prevents a post from being published"
**Describe the bug**
When you try to save a post for publishing, after switching the '_task completed_' toggle on in order to mark the task as complete before a post can be visible to the public, a message pops up displaying no changes have been made.
<img width="482" alt="Posts_-_Heba" src="https://user-images.githubusercontent.com/20906968/80225746-25eec000-8654-11ea-8900-8107f143ff2b.png">
When

[2020-04-24 15:55] rowasc commented on #3957
thanks @CeciliaHinga . Is this happening with a specific survey design, like having a required task with no fields in it?

[2020-04-24 16:06] rowasc commented on #3936
Completely unsure of why exactly but the $scope.$watch(filters  is being triggered twice in this scenario.

[2020-04-24 16:09] CeciliaHinga commented on #3957
@rowasc No, this is when you organize your survey into tasks and add fields related to actions that need to be taken before you publish the post publicly.

[2020-04-24 16:10] CeciliaHinga commented on #3957
@rowasc e.g verification

[2020-04-24 16:12] rowasc commented on #3957
ah ok so this is a survey where
- There is a task
- The task has fields in it
- The task is required.
Thanks ! That's definitely a problem.

[2020-04-24 16:15] rowasc commented on #3946
@aoduor also, not that you should feel obligated to answer, but I know you had *thoughts* about filters and I want to make sure I plug you into this convo just in case :)

[2020-04-24 18:44] #3622 closed

[2020-04-25 07:12] rohit645 commented on #3957
I am able to reproduce this locally. Can I work on this issue?

[2020-04-25 08:01] rowasc commented on #3957
absolutely, thank you!

On Sat, Apr 25, 2020, 04:13 Rohit Kumar <notifications@github.com> wrote:

[2020-04-25 11:04] rohit645 commented on #3957
@rowasc Hmm, I think I found the bug.

Toggling of task_completion occur at:

https://github.com/ushahidi/platform-client/blob/3a9d668c5a0434ad8f7672ebfbb4cfd1701bccd8/app/main/posts/modify/post-tabs.directive.js#L55

Checking the status of Complete is checked at:

https://github.com/ushahidi/platform-client/blob/3a9d668c5a0434ad8f7672ebfbb4cfd1701bccd8/app/main/posts/modify/post-tabs.directive.js

[2020-04-26 21:46] rowasc commented on #3957
thanks @rohit645 . Q: are completed_stages being sent at that point? That was my initial reaction, that maybe we just aren't sending the updated stages. If no, then it's likely a frontend bug. If we are, then we're likely looking at a backend issue.
If it's the backend I'd look into the PostRepository::update (src/App/Repository/PostRepository.php)  to see what's up there.

[2020-04-27 03:05] rohit645 commented on #3957
I think we are sending the updated stages. I tried to log it at :
First Log
https://github.com/ushahidi/platform-client/blob/3a9d668c5a0434ad8f7672ebfbb4cfd1701bccd8/app/main/posts/modify/post-editor.directive.js#L268

and

Second Log
https://github.com/ushahidi/platform-client/blob/3a9d668c5a0434ad8f7672ebfbb4cfd1701bccd8/app/main/posts/modify/post-editor.directive.js#L273

This was the output:
F

[2020-04-27 15:45] rowasc commented on #3943
so far I tried with
- 99 - all good
- my phone number (out of range error for integer, should return a friendlier error)
- Spaces in number (gets blanked out, should instead return an error)

[2020-04-28 11:55] Obadha2 opened #3959 "Unable to delete address set up for notifications."
**Describe the bug** Attempts to delete addresses (emails and phone numbers) set up for notifications for a profile fails.

**Where was the bug observed** Test deployment on prod environment - [https://walterqa.ushahidi.io/settings](https://walterqa.ushahidi.io/settings)

**To Reproduce** 1. Go to your deployment. 2. Log in as admin. 3. Click on your favicon on the left sidebar(above the logout bu

[2020-04-28 11:59] rowasc commented on #3959
ah gross. Tagging  community to see if someone has the bandwidth :(
Thanks for finding this

[2020-04-28 15:04] himil-vasava commented on #3265
@Angamanga could you please help me by telling what i am doing wrong here in the pull request

[2020-04-29 02:14] kromcuich commented on #1835
Confirming the bug present in a public (free) deployment. Address look up is not working in Montreal https://r2r.ushahidi.io

'use my location' is not accurate for obvious reasons

any suggestions?

[2020-04-29 07:39] Obadha2 commented on #3943
@rowasc on investigating this i found out that, the entered value remains intact if the value is upto 10 digits long. The moment the value entered is 11 digits or over, the value is replaced with a constant value `2147483647`

[2020-04-29 22:07] willdoran commented on #1835
I wrote this ticket several years ago. At the time, the design was intended to support Postal Codes as well as places, names, addresses and lat/long.

The Nominatim free service doesn't support those so it might be worth closing this as no longer relevant.

@kromcuich what address format were you searching for and not able to get results for?

[2020-04-29 22:10] willdoran commented on #1835
Turns out OSM just doesn't support Canada as a place that has postal codes :D

https://github.com/osm-search/Nominatim/issues/1452

[2020-04-29 22:16] rowasc commented on #1835
Bumping as Community Task in case someone has the bandwith. It may be that we need to add new providers to solve for this? It seems to be a nominatim issue, so I think a decent course of action may be to have other providers to fill in gaps. This is needed for several reasons in any case, not all providers have all the data.

https://github.com/ushahidi/platform/issues/3927 David started this issu

[2020-04-29 22:18] rowasc commented on #3927
Tagged an issue with Canadian postal codes and Irish ones as well it seems.
The other day I was preparing a doc related to this and also found a couple of other providers. It'd be nice to abstract it away and see if the provider itself would be something users could change in their settings?

[2020-04-30 09:40] Obadha2 opened #3961 "Date field gets default value for non-required fields."
**Describe the bug**
Date fields have a default value that persists and is saved when a response to a survey is submitted.

**Where was the bug observed**
Production - https://walterqa.ushahidi.io/posts/19/edit

**To Reproduce**
1. Go to a deployment.
2. Navigate to a survey that has an unrequired date field.
3. Note that the date field has a default value that is the day for the current date.
4.

[2020-05-06 07:39] CeciliaHinga commented on #3946
@rowasc no this is not fine with our users, it was actually reported by one. It confuses them because they do not realize the filtering is happening on the background since the sort and filter page does not disappear, you have to click outside for it to disappear, the only time the page disappears is when you filter data by date range. Plus they can see the apply button at the bottom.

[2020-05-06 09:14] CeciliaHinga opened #3962 "The checkbox options are not displayed on the survey form when you add duplicate options"
**Describe the bug**

When a user adds a checkbox as a field type then add field options that are identical, save and submit to the survey, all checkbox options do not appear on the survey form. If you remove the duplicate, Save, and add to the survey again, the checkbox options are displayed on the form.

**Where was the bug observed**
Production

**To Reproduce**
Steps to reproduce the behavior:

[2020-05-06 18:41] rowasc commented on #3946
Thank you @CeciliaHinga . We had a suspicion given previous feedback but it's always good to get confirmation !
Yea I agree this is odd.
Question for you: if you could change it, would you make it so that you *always* have to hit apply for filters to be applied? or would you make it so that you *never* need to apply them? I think that's the balance that's hard to hit between map and data view, whi

[2020-05-11 08:04] CeciliaHinga commented on #3946
@rowasc I am not sure. How will it work without the apply button? With the apply button, I can select different features to filter by at a go, then hit _Apply_. Without the apply button, will the page disappear immediately I sort or filter by something, then go back and select something else to filter by and so forth?

[2020-05-11 08:12] CeciliaHinga commented on #3946
But to answer your @rowasc I honestly cannot see it without the apply button, it makes sense to me, it is less confusing. Besides if we have it on data view, it's best we have it on map view as well.

[2020-05-11 14:46] rowasc commented on #3946
@CeciliaHinga without the apply button, it'd work the same way it does in the map, where filters are applied as you select them

[2020-05-13 07:18] rajat641 commented on #3959
Hi @rowasc , I can help in fixing this up. Please let me know if I can work on it.

[2020-05-13 23:41] kiranzack opened #3966 "Get In Touch Platform Developer Documentation Page Not Found Error"
Bug Description:
Get in Touch section link in the Contributing | Getting Involved documentation page for Ushahidi Platform is unfortunately unable to find the required page and provides an error message stating
'Page not found
Sorry, but the page you were looking for could not be found.'

Bug observed:
https://docs.ushahidi.com/platform-developer-documentation/contributing-or-getting-involved/get-

[2020-05-14 17:54] tuxpiper opened #3967 "Create Github Actions workflow for running tests"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-115

[2020-05-14 17:54] tuxpiper opened #3968 "Create gmail-datasource GitHub repo (license GPLv3)"

[2020-05-14 17:54] tuxpiper opened #3969 "Scaffold GMail Datasource package"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-113

[2020-05-14 17:54] tuxpiper opened #3970 "Setup the package in packagist linking to GitHub (webhook or Github Actions)"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-112

[2020-05-14 17:55] tuxpiper opened #3971 "Implement GMail OAuth2 flow"

[2020-05-14 17:55] tuxpiper opened #3972 "Implement Datasource incoming&outgoing class and register as Datasource in DatasourceManager"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-110

[2020-05-16 11:34] jordanmiracle commented on #3934
I've forked this and am working on it.

[2020-05-17 16:35] kiranzack commented on #3966
Hello, I have submitted a pull request regarding this correction

[2020-05-20 09:24] CeciliaHinga opened #3974 "Deleted Surveys are labeled as "unknown" on the sort and filter page"
**Describe the bug**
When you delete a survey, it shows that it has been deleted but once you go to filter data by surveys the existing surveys are displayed, as well as a survey labeled as "unknown". This unknown survey is the deleted one.

**Where was the bug observed**
Production

**To Reproduce**
Steps to reproduce the behavior:
1. Go to settings, then surveys
2. Click on the (...) icon that i

[2020-05-20 12:28] rowasc commented on #3974
Are you seeing the survey contents in that unkwnown filter? or are you just
seeing that filter? Unknown is showing the  unstructured SMS/Email data
that isn't linked to a survey typically, so it's a little odd.

On Wed, May 20, 2020, 06:24 C.Hinga <notifications@github.com> wrote:

[2020-05-21 08:39] JorjBeardson opened #3975 "feature request: allow custom mapbox tilesets"
Allow use of custom mapbox tilesets on the map in addition to those currently available. The additional tilesets are great, but for any project where visual impact is key the ability to customise the features shown on the map would be very useful. From a storytelling perspective it allows for a clean UI tailored to the specific use-case, and from a data capture point of view allows users to highli

[2020-05-21 09:02] CeciliaHinga commented on #3974
No you cannot see the survey contents, you can only see that filter.

[2020-05-23 23:46] shivam2407 commented on #1436
I can give this a go if no one is working for it.

[2020-05-28 11:25] bb opened #3977 "API link fields curr, next, and prev lose filtering"
**Describe the bug**

In the API endpoint `/api/v3/posts`, the response fields `curr`, `next` and `prev` lose filtering information from the query. E.g. when filtered for `status[]=draft` (i.e. not published), I expect the curr URL to keep this information. Also, the `next` URL should keep it, so I could e.g. write a client which could browse through the API by just looking at the 'next' field and

[2020-06-03 15:11] SteveALee opened #3981 "The map keeps recentering and zooming"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-106

[2020-06-08 10:59] taramcwhinney opened #3982 "Randomized location"
I thought I had my map locations hidden and randomized within 9 km. But it doesn't seem to be working. Can you help to fix this. People on my survey do not want their exact locations known.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-105

[2020-06-08 22:30] rowasc opened #3983 "Define architecture for USSD project and related components"
@tuxpiper and @leninpaulino to plan technical implementation for USSD .

[2020-06-08 22:33] rowasc opened #3984 "Test"
**Describe the bug**
A clear and concise description of what the bug is.

**Where was the bug observed**
Include Deployment and page URL (e.g. "https://test.ushahidi.io/views/map")

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Log in as '...' (Please note if certain user permissions, like Admin or Manage Data, are required to reproduce this bug. Also include if there is a su

[2020-06-08 22:34] #3984 closed

[2020-06-10 07:26] Obadha2 commented on #3982
Hi @taramcwhinney
I'm not sure I quite understand the issue you are facing.
If a field is marked as private, responses to this particular field will only be seen to those who have the appropriate permissions.
We do not have a location randomizing feature on the platform. When submitting a response to a survey, the location that is selected will persist. Note that this is accurate as selected becau

[2020-06-13 13:39] ritesh-pandey commented on #3959
I would like to work on it.

[2020-06-24 21:14] lupa18 opened #3988 "Upload file size configuration possibility"
**Which user group(s) are the primary audience for this feature/enhancement.**
self hosted

**Is your feature request related to a problem? Please describe.**
When I try to upload a file, Ushahidi says max upload size is 1MB. But I checked /etc/php/7.2/cli/php.ini and upload_max_filesize = 2M
Then, I created a phpinfo.php file and ran php phpinfo.php and that 2M value is correct.
I also checked an

[2020-06-30 12:47] AmTryingMyBest opened #3989 "Field on Survey not visible to end users when filling the survey."
**Describe the bug**
A deployment has a number of surveys in it. The surveys have a common field used as a consent field. This field is not visible to the end user when filling in the survey.

**Where was the bug observed**
 https://raicescampesinas.ushahidi.io/views/map
Surveys Educacion and Conflicto in the above deployment.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to the f

[2020-07-01 14:17] tuxpiper opened #3990 "Add datasource configuration bindings for the client to display"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-102

[2020-07-01 14:26] tuxpiper opened #3992 "Write User Manual in gitbooks"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-101

[2020-07-01 14:58] tuxpiper opened #3993 "Configurable message synchronisation since date provided by the end-user"
The datasource should accept a "Get messages since ..." date , so that the user can configure from which point in time it wants to retrieve messages from the inbox.

Possible values:
- null : no date, meaning that only new messages from the moment of activation should be provided. This should be the default option selected in the user interface.

- date between UNIX epoch and today (no future date

[2020-07-02 05:10] Angamanga commented on #3989
@Obadha2 @CeciliaHinga For this one, I don't see the options for the fields the affected surveys when looking at the response from the backend. Can we ask the user to double-check that the options are actually there in the survey-configuration?

[2020-07-02 05:24] Angamanga opened #3994 "Warn users about identical options in checkboxes"
**Describe the bug**
No warning is shown when a user adds 2 identical options for checkboxes. It saves as normal but when displaying the checkboxes, there is an error in ng-repeat that causes the list to not be shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'settings>surveys', add or edit a survey with a checkbox-field
2. Add 2 identical options, save
3. Go to add a post for th

[2020-07-02 08:01] Obadha2 opened #3995 "Translations - Category name does not translate to match Survey language selected."
**Describe the bug**
When another language is selected to view a survey in, the Category name does not change to match the selected language. The category name stays in the default language set even when translations are available for the selected language.

**Where was the bug observed**
https://test-deployment.steve-buscemi.ush.zone/posts/create/50

**To Reproduce**
1. Go to a survey that has a

[2020-07-02 08:10] Obadha2 opened #3996 "Translations - Survey's description does not change to match selected language."
**Describe the bug**
Where a survey has additional languages, when another language is selected to view the survey in, the description of the survey does not change from the default language to match selected language.

**Where was the bug observed**
https://test-deployment.steve-buscemi.ush.zone/posts/create/50

**To Reproduce**
1. Navigate to a survey that has additional languages and translatio

[2020-07-02 08:26] Obadha2 opened #3997 "Categories - Category created from fill-in survey page feature is weird."
**Describe the bug**
As an admin you can create a category from the fill-in survey page. This feature is unnecessary in this page because of two factors:
- after creating a category on this page, you have to go to edit-survey mode to add a category to the survey. This makes the option to add a category from the fill-in survey page redundant.
- after successful creation, user is not notified. On tr

[2020-07-08 09:10] tuxpiper opened #3998 "Author user related columns missing from CSV export"
**Describe the bug**
When exporting deployments posts, the resulting CSV doesn't contain all the information about the author of the post.

**Where was the bug observed**
Any current deployment

**To Reproduce**
Steps to reproduce the behavior:
1. Ensure you've got Web / Mobile app posts in the deployment, reported by registered users.
2. Produce CSV export
3. The posts authors names and / or emai

[2020-07-08 09:57] rowasc commented on #3998
ah. User ID and Email should be sufficient, but role may actually be useful to determine issues so I think we could add it.
The main reason for user_id here is that it may help identify info if someone changes their email, I think?

[2020-07-08 13:30] rowasc commented on #3997
Yea. I tend to agree that this feature here is extremely confusing. It's way out of the context of what the user is actually doing. I wonder how we came to adding it tho. @aoduor this is a request for historical data or info of some kind if you have it. Do you have any insights on why this feature was ever needed (the "Add category while creating a post" thing)  ?

[2020-07-08 13:35] rowasc commented on #3995
Ok I think this one should be fixed now. LMK

[2020-07-08 13:55] Obadha2 commented on #3995
Fixed, verified. 👍

[2020-07-08 13:55] #3995 closed

[2020-07-08 14:24] Obadha2 commented on #3996
QA,d, fixed. 👍

[2020-07-08 14:24] #3996 closed

[2020-07-09 10:25] CeciliaHinga opened #3999 "A blank date and time field type on a survey form"
**Which user group(s) are the primary audience for this feature/enhancement.**
Include deployment names if possible

Ushahidi.io users

**Is your feature request related to a problem? Please describe.**

A required date/time field type on a survey automatically displays the date and time in real time, instead of it being blank on the survey form that is to be submitted. If the users do not change

[2020-07-09 12:42] Obadha2 opened #4000 "Surveys - Response to a survey can be submitted with required fields not filled."
**Describe the bug**
A response to a survey can be successfully saved even when there are required fields that have not been filled. Only Title and Description fields when not filled stop the successful saving of the response. This should happen for every required field, not only Title and Description fields.

**Where was the bug observed**
Steve-buscemi - https://test-deployment.steve-buscemi.ush

[2020-07-09 13:09] Obadha2 opened #4001 "Surveys - Unable to publish response if initially publishing has been attempted with required fields missing."
**Describe the bug**
An error notifying the user that there are missing fields in survey response persists, even when the missing fields are filled after the first error message. This prevents publishing of such a response.

**Where was the bug observed**
Test Deployment on steve-buscemi.

**To Reproduce**
1. Log in as an admin.
2. Go to a survey that has required fields other than Title and Descr

[2020-07-14 06:55] adisadit opened #4002 "Image URL for CSV export is not full path"
**Describe the bug**
I'm trying to export the Ushahidi data in here: https://handwashing-station.ushahidi.io/ as a CSV. One of the questions require the user to upload a photo.

During my export, the photo location URL didn't appear correctly, which I'm not able to display it in QGIS for example.

I believe some of the fix already done last month as I noticed in here: https://github.com/ushahidi/p

[2020-07-14 18:08] rowasc commented on #4000
This one should be OK now :) and I think #4001 should be solved together with this one if I got it rightin testing

[2020-07-14 18:09] rowasc commented on #3997
@CeciliaHinga @Nthiga pinging you too in case you have OPINIONS or DATA or FACTS :D

[2020-07-15 08:37] Obadha2 commented on #4000
QA'd, passes. 👍

[2020-07-15 08:37] #4000 closed

[2020-07-15 08:44] Obadha2 commented on #4001
QA'd, passes. 👍

[2020-07-15 08:44] #4001 closed

[2020-07-16 11:17] atulgrover opened #4003 "CSV import"
On import a message of DISMISS shows up on the bottom. Does not tell of any reason shy the csv could not be uploaded. where are the application logs?

[2020-07-16 18:32] rowasc opened #4004 "TEST"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-20

[2020-07-16 18:37] rowasc opened #4005 "Translate categories, surveys and posts"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-2

[2020-07-16 19:09] rowasc opened #4006 "Create geolocation API - Proof of Concept"
[https://www.notion.so/ushahidiorg/Platform-Application-Interface-575f5c80961c416189618ca90810befe#2baa4aa2c3b54085bd8274f9535fb1b6](https://www.notion.so/ushahidiorg/Platform-Application-Interface-575f5c80961c416189618ca90810befe#2baa4aa2c3b54085bd8274f9535fb1b6) [https://drive.google.com/file/d/1nxhUc\_34RHYiuxuYqwYoE23FC0HbKrDb/view](https://drive.google.com/file/d/1nxhUc_34RHYiuxuYqwYoE23FC0Hb

[2020-07-16 19:09] rowasc opened #4007 "Ability to submit responses for all fields except media and geolocation"
- [See this diagram for full functionality https://whimsical.com/ANxjwJ2dTmXnFK3i79Gyay](https://whimsical.com/ANxjwJ2dTmXnFK3i79Gyay)

Aha! Link: https://ushahiditeam.aha.io/features/PROD-5

[2020-07-16 19:09] rowasc opened #4008 "Add support for geocoding queries in location fields - Proof of Concept"
[https://drive.google.com/file/d/1nxhUc\_34RHYiuxuYqwYoE23FC0HbKrDb/view](https://drive.google.com/file/d/1nxhUc_34RHYiuxuYqwYoE23FC0HbKrDb/view)

[https://www.notion.so/ushahidiorg/Platform-Application-Interface-575f5c80961c416189618ca90810befe#2baa4aa2c3b54085bd8274f9535fb1b6](https://www.notion.so/ushahidiorg/Platform-Application-Interface-575f5c80961c416189618ca90810befe#2baa4aa2c3b54085bd8274

[2020-07-16 19:09] rowasc opened #4009 "Add support for media uploads"
- in USSD, allow a link to an image to be added, parse the image and upload it to the image storage

Aha! Link: https://ushahiditeam.aha.io/features/PROD-15

[2020-07-16 19:09] rowasc opened #4010 "Validate all fields"
- After a user submits a response, validate that the format is correct
- If the validation fails, show the hint per [#PROD-8](https://ushahiditeam.aha.io/features/PROD-8)

Aha! Link: https://ushahiditeam.aha.io/features/PROD-14

[2020-07-16 19:09] rowasc opened #4011 "Log all unexpected failures to be able to analyze problems later on"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-13

[2020-07-16 19:09] rowasc opened #4012 "Thank user after sending responses to server"
Show a Thank you note to the user after they submit "Thank you, your response has been saved"

Aha! Link: https://ushahiditeam.aha.io/features/PROD-12

[2020-07-16 19:09] rowasc opened #4013 "When the application runs into an error, allow the user some way to continue or cancel"
- If the application fails due to unexpected input or a server failure on the API, instead of crashing ideally we need to let them either try again or cancel the interaction entirely

Aha! Link: https://ushahiditeam.aha.io/features/PROD-11

[2020-07-16 19:09] rowasc opened #4014 "Show field descriptions (entered by survey creators)"
- When a user asks for "More info" (code 001) show them the field's description text

Aha! Link: https://ushahiditeam.aha.io/features/PROD-10

[2020-07-16 19:09] rowasc opened #4015 "Cancel response"
- Allow the user to submit a cancel trigger to leave the survey they are responding to
- Show them the list of surveys once they cancel
- Allow them to leave the interaction entirely if they cancel while being on the list of surveys

Aha! Link: https://ushahiditeam.aha.io/features/PROD-9

[2020-07-16 19:09] rowasc opened #4016 "When a field validation fails, display a hint to explain how to fill it in"
- Show the user that there was a problem.
- Explain how to fill in the field correctly.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-8

[2020-07-16 19:09] rowasc opened #4017 "Some fields should display how to fill them in proactively"
The following fields should display their "Hint" before the user attempts to submit

- Location
- Date
- Checkboxes

Aha! Link: https://ushahiditeam.aha.io/features/PROD-7

[2020-07-16 19:09] rowasc opened #4018 "Show surveys in the selected language"
- When a user selects a preferred language, attempt to display the list of surveys in that language
- If the language is not available in some surveys, use the default survey language in that case
- If a user selects a survey with a language other than the one they selected as their preference, let them select the language again based on the languages available in the survey

Aha! Link: https://us

[2020-07-16 19:11] #3983 closed

[2020-07-16 19:14] #4004 closed

[2020-07-16 19:18] #3475 closed

[2020-07-16 19:19] #3584 closed

[2020-07-16 19:19] #3594 closed

[2020-07-16 19:21] rowasc commented on #4005
Comment added by Romina Suarez in Aha! - [View](https://ushahiditeam.aha.io/comments/6850158951812848786)

- Testing in steve-buscemi passed
- Doing smoke-tests in staging environment before shipping v1 to custom deployment

[2020-07-16 19:38] rowasc opened #4019 "Create release build"
[https://www.notion.so/ushahidiorg/Release-bundle-platform-release-32cd3fffcdd441ad8e4a90a1a4a033b5](https://www.notion.so/ushahidiorg/Release-bundle-platform-release-32cd3fffcdd441ad8e4a90a1a4a033b5)

Aha! Link: https://ushahiditeam.aha.io/features/PROD-33

[2020-07-20 06:45] ari-hacks commented on #1555
I'd like to try this out if it's still available?

[2020-07-20 11:48] Erioldoesdesign commented on #1555
@ari-hacks I think it's up for grabs! the assignee is a product manager so I can assign it to you (or you can if you like!) if it has the good first issue or hacktoberfest labels it's a community issue usually!

I don't think any recent changes have affected this behaviour but I'd suggest your first action would be going and double-checking the current functionality and seeing if the original tick

[2020-07-21 05:13] leninpaulino opened #4020 "? didn't work in one field at least"
**Describe the bug**
? didn't work in one field at least

[2020-07-21 05:16] leninpaulino commented on #4020
Got fixed with https://github.com/ushahidi/ussd-engine/pull/9/commits/08c796593ccfc8e3c15d1e30748c57cb7c18cdac

[2020-07-21 05:16] #4020 closed

[2020-07-21 05:19] leninpaulino opened #4021 "Error recovery - would be nice to allow the user to "try again" on crashes if possible"
Error recovery  - would be nice to allow the user to "try again" on crashes if possible

Aha! Link: https://ushahiditeam.aha.io/features/PROD-36

[2020-07-21 05:20] leninpaulino opened #4022 "Failures when using the AT simulator, unsure of why/what is going on"
Failures when using the AT simulator, unsure of why/what is going on

Aha! Link: https://ushahiditeam.aha.io/features/PROD-37

[2020-07-21 05:22] leninpaulino opened #4023 "Failure when submitting the post"
Failure when submitting the post

[2020-07-21 12:57] rowasc commented on #1555
@ari-hacks assigned to you. Thanks ! LMK if you run into anything weird

[2020-07-21 15:20] CeciliaHinga opened #4024 "Missing save and configuring buttons on the saved search feature"
**Describe the bug**
When you sort and filter and try to save the search, you cannot save the saved search because there are a bunch of configuring and save button missing

**Where was the bug observed**
ushahidi.io

**To Reproduce**
Steps to reproduce the behavior:
1. Log in to your ushahidi.io account
2. Click on sort and filter on map or data view
3. Filter your data accordingly
4. Click on sav

[2020-07-21 18:04] lupa18 opened #4025 "Not sending email"
**Describe the bug**
Platform is not sending emails

**Where was the bug observed**
https://elavizor.tedic.org

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Log in" -> "Forgot your password?"
2. Put your previously created account's email
3. Click on "Reset my password"
4. Nothing happens

**Expected behavior**
A reset email should arrive.

**Is there a workaround? What is it.**
Not

[2020-07-21 20:03] ari-hacks commented on #1555
@rowasc great, thanks!

[2020-07-23 03:14] #4023 closed

[2020-07-27 11:15] aoduor opened #4027 "Search broken on Ushahidi.io"
**Describe the bug** When I try to use the search function on [https://groundswell.ushahidi.io](https://groundswell.ushahidi.io), a couple of things happen 1. I can't tell if the _apply_ button works or not. At first glance, it looks inactive, but when I hover over it, it looks grey, with a random _cancel_ icon on my cursor. See screenshots below.

A: [https://user-images.githubusercontent.com/721

[2020-07-27 11:16] aoduor commented on #4027
@CeciliaHinga have you also received bug reports on the same from other users?

[2020-07-28 13:03] rowasc commented on #4025
hey @lupa18 do you have any logs from storage/logs/lumen.log ? Those may shed some light into what's going on, if you haven't checked those specific ones yet

[2020-07-28 21:59] rowasc opened #4028 "FAB "Add post" keeps confusing our users"
**Describe the bug**
The round "Add post" button continues to confuse our users. We want to change it to something more explicit. I'm not entirely sure what, but definitely something that at least says "Add" or "Send report" depending on how it looks... and that it looks more like a button since most people have no idea what that round button does until they spend some time looking at the screen.

[2020-07-28 22:19] rowasc commented on #3997
I just removed it (discussed in the last community call ) ./  LMK what you think .
cc @Angamanga

[2020-07-28 23:39] lupa18 commented on #4025
Hello @rowasc ! thanks for your help !
It gives this error:

[code]
Complete log [here](https://bin.disroot.org/?5e3cf321783ad1ef#6FTuLeBKWHoAweawqTK2gWKjRa8XBgf2X7MrB8HJNcgG).

thanks again!

[2020-07-28 23:52] lupa18 commented on #4025
Hey @rowasc ! I thanks to your advice I could found my configuration error. Was a parameter error when setting email details.

Now, email came in English. Do you know how can I fix it to come in Spanish?

[2020-07-29 08:38] jay1310 commented on #4016
Hello, I just want a clarification for the issue.
Is it for login form only whose link is provided?

[2020-07-29 18:11] rowasc commented on #4025
Ah, good to hear. Do you mean the forgot password email came in english? I just checked resources/views/emails/forgot-password.php and it seems we're missing translations for them :/ would definitely appreciate a PR if that's something you're interesting in helping out with.

[2020-07-30 14:57] lupa18 commented on #4025
thanks!

[2020-07-30 14:57] #4025 closed

[2020-08-03 09:35] Angamanga commented on #3946
@rowasc @CeciliaHinga Fixing this introduces some new questions...

Assume I make it required to always hit "Apply" to add the filters...
1. As it is now, the dropdown closes automatically when clicking outside of the dropdown. What should happen then if I haven't clicked Apply yet? Reverting back to the previous set filters? Restore to default? So far I think reverting back to previous set filter

[2020-08-03 19:38] rowasc commented on #3946
Thanks Anna. This increases the scope a bit. I was running with the assumption that we'd make the same behavior apply in map view first, and then make other improvements right after, is that correct or am I way off?

Answering here in any case
1 .   I'd definitely leave it as-is until we make a decision, and launch as a separate improvement. The bigger improvement would be to make _some_ visual ch

[2020-08-04 12:36] Angamanga commented on #3946
@rowasc I agree on fixing the apply-button first since my questions is actually already existing problems in data-view... Adding new issues once this is landed... PR for button-fix is here: https://github.com/ushahidi/platform-client/pull/1531

[2020-08-04 12:53] Angamanga commented on #4028
**Reference docs:**
UI-refresh-issues: https://github.com/ushahidi/platform/labels/Theme%3A%20JS%20Framework%20rewrite

[2020-08-04 15:02] Obadha2 commented on #4024
Saved searches not deletable. Can only be modified. They live forever. @Angamanga @rowasc

[2020-08-04 19:17] rowasc commented on #3946
@Obadha2 ready in steve.

[2020-08-04 19:20] rowasc commented on #4024
@Obadha2 is this a pre-existing issue? Does it happen in production too? Please specify.

[2020-08-05 07:37] Obadha2 commented on #4024
@rowasc since the issue of not being able to save a search exists on prod, can't really say if this is happening on production because I have to save first which currently can't happen on prod. My above observation is in steve-buscemi.
A saved search can only be modified but there's no option for deleting it.

[2020-08-05 07:54] Angamanga commented on #4024
@Obadha2 @rowasc I think this is a design-flaw. You can delete a saved search if you click the "..." in the mode-context bar here: https://annatest1000.ushahidi.io/savedsearches/4/map but not in the saved search-edit modal :/.

[2020-08-05 08:13] Obadha2 commented on #4024
Aha okay
I'll check that out.

Talking of design flaws @Angamanga, clicking on `Cancel` and `Save and Close` buttons on search-edit modal dismisses the modal and the filters drop-down. I assume it should dismiss just the modal but take you back to Sort&Filters options?

[2020-08-05 08:28] Angamanga commented on #4024
@Obadha2 True, I think that can be included in new issues I will create for the search and filter-improvements (discussed here: https://github.com/ushahidi/platform/issues/3946#issuecomment-667918979)

[2020-08-05 11:52] Angamanga commented on #4028
@rowasc @CeciliaHinga I have done some experimenting with the buttons. These changes can be done fairly easy with small changes in the css + platform-client.

**Map-view-desktop:** https://drive.google.com/file/d/1J6a2l0j_XUnwVLv6a7AoF0NoDgBmcPEA/view?usp=sharing
<img width="1308" alt="Screenshot 2020-08-05 at 13 10 43" src="https://user-images.githubusercontent.com/8624777/89408684-feae9100-d720-

[2020-08-05 13:06] rowasc commented on #4028
@Angamanga early feedback from Walter is that the "plus" sign is kind of unnecessary, which I tend to agree with but maybe we're missing something , just sending feedback your way

[2020-08-05 13:07] rowasc commented on #4028
@Angamanga another thing in my mind is if we can make it so that when you scroll all the way down in a post, the button never overlaps with the post content (so it doesn't block you from viewing what's underneath)

[2020-08-05 13:11] rowasc commented on #4028
@Angamanga also maybe we can  think of saying "Send a survey response" or "Send a report" instead of "Add a new post"  since reports and responses is closer to the terms we use through the app and the new terms we are trying to use . I don't know if regular users know what a post is tbh

[2020-08-06 07:16] Angamanga commented on #4028
@rowasc Hm, I totally and completely support changing posts to responses and reports. It makes so much more sense. But that increases the scope of this issue. We use posts everywhere in our docs, on the webpage, on the pricing-page, in the tour, and so on...  Maybe even in our videos. That is a much bigger change than just changing the button. But still, I am 100% FOR making that change and doing

[2020-08-06 07:55] aoduor opened #4030 "Embeds from platform not responsive"
**Describe the bug**
We've built platform to be responsive on all devices. In cases where someone embeds their deployment on an external website, it would seem that the embed doesn't adjust to size of the device.

**Where was the bug observed**
https://groundswell.ushahidi.io
https://groundswellproject.net/peace-associates

**Expected behavior**
I'd expect the behaviour to be similar to how the ma

[2020-08-06 11:54] Angamanga opened #4031 "Fix filter dropdown behaviour"
When I click outside of the filter-dropdown, and new filters has been selected but without clicking on apply, the dropdown closes without applying the filters, but in the filter-dropdown and in the filter counter, the filters looks like they are being applied. Improvement needs to be figured out. Some ideas as discussed in https://github.com/ushahidi/platform/issues/3946:

- Make some visual chang

[2020-08-06 12:05] Angamanga opened #4032 "Improve saved-search editbox"
When selecting filters, they appear in the active search-box as small buttons and there is the option to save the search even if I haven't yet clicked "Apply". If I click to save the search I get prompted with the saved-search-modal. If I save the saved search, the filters are not yet applied, even if it looks like it. Change the behaviour to:
1. Apply filters upon saving the search
2. Change the

[2020-08-06 12:07] Angamanga opened #4033 "There is no way to delete a saved-search from the update saved search-modal"
If you go to a saved search from the filter-dropdown, you get prompted by a modal where you can change settings for the saved search. There is no way from that modal to delete the saved search. Change to this:

- Adding a button in the end of the modal that says "Delete this saved-search".

Aha! Link: https://ushahiditeam.aha.io/features/PROD-56

[2020-08-06 12:55] CeciliaHinga commented on #4031
I would go with the 3rd alternative, hint that filters are not applied on the bar themselves, this way they would know which actual filters they chose when they began the whole process. If they would like to change those before application, then they will know which exact filters to change.

[2020-08-06 13:14] CeciliaHinga commented on #4028
@rowasc If we are thinking of broadening the scope of this change then your suggestions are good but if we decide not to do that, what about changing it to "submit your post" this way they will know that is a button that needs to be clicked to submit something?

[2020-08-06 21:08] rowasc commented on #4028
@Angamanga @CeciliaHinga totally agree with ya'll. Let's keep scope contained. I should have started a different ticket.
Let's use "Submit a post" and then we can separately do the changes I suggested above.

[2020-08-06 21:09] rowasc commented on #1884
#4028 linking it to this as well

[2020-08-07 23:54] ari-hacks commented on #1555
@rowasc, I had to unassign here. A little low on bandwidth but thanks, hope to contribute at a later time! 🙂

[2020-08-11 10:19] Obadha2 opened #4034 "Twitter post on preview list won't open to show more details."
**Describe the bug**
Posts that come in from twitter, when clicked on, don't open the post on details panel to show more details.

**Where was the bug observed**
Data page on test deployment in steve-buscemi.

**To Reproduce**
1. Go to the deployment.
2. Navigate to data page.
3. Find a post from twitter. Easiest way is by filtering posts.
4. Click on a post to open it to open more details about t

[2020-08-11 11:43] rowasc opened #4035 "USSD component awareness of multiple deployments"
- Based on the number reached (?) we need to connect the USSD service to a specific deployment. There has to be some awareness of what deployment needs to be hit with a query when in a multi-deployment environment

Aha! Link: https://ushahiditeam.aha.io/features/PROD-59

[2020-08-11 13:29] rowasc commented on #3946
@Obadha2 was this tested? LMK how it went

[2020-08-11 14:29] Obadha2 commented on #3946
This passes QA. :+1:

[2020-08-12 02:02] rowasc commented on #3946
hrm. I just checked this on steve because I was doing release prep... it seems that while the apply button is in fact active, it doesn't really affect the fact that filters are applied "on the go" as always
@Angamanga

[2020-08-12 10:42] CeciliaHinga opened #4036 "Wrong Date and Time displayed once a post has been submitted"
**Describe the bug**
When one enters a certain date and time on the date and time field type, it changes once the postcard has been submitted and you get a different date and time from the one you entered. While testing this, I have had different results.

**Results**
- I enter the date and time on my postcard, once the response has been submitted the date is reverted back to the day before and th

[2020-08-12 16:18] Angamanga commented on #3946
Starting to fix to the filters/mode-context-bar here: https://github.com/ushahidi/platform-client/pull/1532

[2020-08-13 12:52] Angamanga opened #4043 ""Use your current location" - button on the map when creating a post might not work on embeds"
**Describe the bug**
When embeds a deployment they often get promted with an error-message when trying to use the button "Use your current location" when creating a post:
"Geolocation error: Geolocation has been disabled in this document by Feature Policy..".  This is probably not something we can configure/solve in our code since its connected to the website the embed lives in (for reference: htt

[2020-08-13 12:56] Angamanga opened #4044 "Remove default value for fields that doesn't use it"
**Describe the bug**
There is an input field for default-values for all field-types but not all fields can use a default value. This is confusing to the users and causes bugs.
TODO:
- Check which fields that use the default values
- Remove the possibility to set default value for the fields that don't

Aha! Link: https://ushahiditeam.aha.io/features/PROD-68

[2020-08-13 19:25] rowasc opened #4045 "Display survey in the user-selected language"
- If the survey is available in multiple languages, let the user decide which one they wish to use before responding to it.
- If the survey is available in just one language, display it.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-3

[2020-08-13 19:25] rowasc opened #4046 "Allow user to respond in their selected language"
- After they select a language, assign the same language to their response so that we know which language they intended to use

Aha! Link: https://ushahiditeam.aha.io/features/PROD-69

[2020-08-13 19:41] rowasc commented on #4045
This could be selected throughn the URL and sent by the trigger @Angamanga to check in with Antony about this?

[2020-08-17 11:43] tuxpiper commented on #4014
We are now using "?" as a trigger instead of 001 .

Check specs for what is actually correct.

[2020-08-17 11:45] tuxpiper commented on #4021
Closing in favor of #4013

[2020-08-17 11:50] tuxpiper opened #4047 "Implement pagination flow on USSD"
When any screen exceeds the limit for the protocol (160 characters), then we go into pagination mode

So the user can type:
- "N" for the next page
- "P" for the previous page
- "S" for skipping the question
- "?" for asking for more information about the question

Rules:
- We shouldn't split the option label between pages:
    -  So if we have an option labelled "10" for i.e. a category choice ,

[2020-08-17 11:58] tuxpiper opened #4048 "USSD pages: the label for a choice must not be split across pages"
We are breaking this rule from  #4047:

Aha! Link: https://ushahiditeam.aha.io/features/PROD-94

[2020-08-17 13:11] pasichnyi commented on #1639
Have the same issue with **urbant** domain name.

[2020-08-18 10:27] Obadha2 opened #4049 "Sort&Filter works intermittently - clearing cache and hard reload needed after every search."
**Describe the bug**
First time logging in and attempting the Sort&Filter feature, it'll work. A second time will work, too. After that, the Sort&Filter feature won't work, user has to clear cache and hard reload for the feature to work.

**Where was the bug observed**
Happens in both test environment and production.

**To Reproduce**
1. Go to a deployment that has data.
2. Navigate to data view.

[2020-08-20 07:39] Angamanga commented on #4024
Waiting for release

[2020-08-20 13:25] Angamanga opened #4050 "Fixing filter-ux step 1"
1. Enable apply button
2. Have filters still automatically apply in map-view
3. The filter bar  close on hitting "Apply"
4. Change text on button in map-view to "Close menu and see the results"

[2020-08-20 13:28] Angamanga opened #4051 "Fixing filter-ux step 2"
Make hitting enter in the text-search-field behave the same as clicking on "Apply"-button

    1. Map view: as search terms are typed-in the results update (current behaviour)
        1.  and when hitting enter the search box *must* close <-- **needs fix**
    2. Data view: results don't update until we hit enter (current behaviour
        1. and it should close the search box on enter <-- **needs

[2020-08-20 13:46] Angamanga opened #4052 "Fixing filter-ux step 3"
In mapview:
- Somewhere in / around the filter bar there could be an indication of total hits based on filters applied
- On the data view, this couldn't update without previously clicking on the "Apply" button, add an indication like "Click apply-button to activate filters" or similar

[2020-08-20 13:47] Angamanga commented on #4027
Issues related to fix above ux-issues:
https://github.com/ushahidi/platform/issues/4050
https://github.com/ushahidi/platform/issues/4051
https://github.com/ushahidi/platform/issues/4052

[2020-08-21 12:16] tuxpiper opened #4053 "USSD: Select field is not rendered with options but accepting text instead"
- Given Platform API configured with "Select" type field and options:
   * "Cow"
   * "Elephant"
   * "Octopus"
- USSD engine presents the question and expects text (i.e. the user typing "Cow") instead of presenting the options to the user

Aha! Link: https://ushahiditeam.aha.io/features/PROD-93