[2015-08-26 00:03] kahenya commented on #594
I'm putting this aside for now.

Thanks for the help.

Cheers.

[2015-08-26 00:03] #594 closed

[2015-08-26 01:13] rjmackay commented on #594
Alright thanks. I think I've been fighting the same issue with npm builds.. If you're running on linux you may need some build tools for the npm install to succeed, you might also need an nodejs build from nodesource or npm. Debian ships an old nodejs package so thats likely the issue.

Trying installing node 0.12 from here: https://github.com/nodesource/distributions
and make sure you have the `b

[2015-08-26 01:15] rjmackay opened #651 "Document recommended methods for installing nodejs on linux"
Nodejs build issues seen in our ansible scripts and #594

I think we should recommend installing from nvm or nodesource (https://github.com/nodesource/distributions)

Also debian builds need to have `build-essential` installed. Fedora builds need `gcc-c++` and `make` installed.

[2015-08-26 01:15] rjmackay commented on #651
@willdoran are you running builds on linux? Whats you're current setup?

[2015-08-26 01:17] willdoran commented on #651
I am on linux but I'm using vagrant Nodejs linux in stall is relatively straightforward BUT you have to create a symlink between nodejs and node in /usr/bin - you have to do that step manually, at least on ubuntu strains. Not sure about deb.

[2015-08-26 01:18] rjmackay commented on #651
Which nodejs version are you running? installed via apt?

[2015-08-26 01:21] willdoran commented on #651
v0.10.25 installed from the linux 64 bit distro source

[2015-08-26 01:48] rjmackay opened #652 "Misaligned buttons in map popup"
Map popups http://github.ushahidi.org/platform-pattern-library/assets/html/3_modules/#pl-pattern-post-popup have misaligned action buttons: ﻿https://www.dropbox.com/s/xoziy7v2gh4bsau/Screenshot%202015-08-26%2013.48.01.png?dl=0

[2015-08-26 01:55] rjmackay commented on #492
@benstoltz you could take a look at this task. Its only tenuously map related but it could be a good starting point to find your way around the client code base?

I'd happily take a pull request for just a customized popup even without the action buttons to start with too.

[2015-08-26 02:09] rjmackay commented on #600
@benstoltz this needs some work on both the API and frontend.. if you're keen to have a go at it let me know.

There's a lot of comments but the short version is:
- Extend the API to save zoom along with lat / lon
- Update the client to capture zoom and send it to the API

[2015-08-26 02:13] benstoltz commented on #600
@rjmackay I'll definitely take it on!

[2015-08-26 02:18] benstoltz commented on #492
@rjmackay I'll also work on this in addition to #600. Thanks for the suggestions!

[2015-08-26 07:57] rjmackay commented on #406
So the temporary fix is to ssh into the box and downgrade puppet.. I'll push an update soon with updates the config, however I had to rework a lot of the config to work with a never puppet version

[2015-08-26 08:44] rjmackay commented on #406
@rasmi @haisum please test out the updates in #653 if you can

[2015-08-26 10:43] middle8media commented on #649
Yes. Of course. Sorry about that.

[2015-08-26 16:14] sophshep opened #655 "Default bg pattern"
for if a user has not uploaded a background image, this shoudl tile instead of being the solid color. http://github.ushahidi.org/dotcom-pattern-library/assets/img/map-bg.png

I *think* this is done in the platform, but need to update the PL

[2015-08-26 16:17] sophshep opened #656 "Confirm Dialogue Pattern Needed"
for example, to pop up when a user is trying to delete a post to say "are you sure you want to delete this?"

I think we can extend the Modal.

[2015-08-26 16:31] sophshep opened #657 "Re-code Post Summary"
This could be done cleaner - rethink different screen sizes, images sizes, etc.

[2015-08-26 16:37] sophshep opened #658 "Post Summary - top right gradient square"
Gradient square in top right of post summary:
http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/home-list.html

Confirmed that this is caused by overflow scrollbar: .categories-list-inline has overflow: auto

 Seen in both chrome (v44) and firefox (v39)

Note for @sophshep: Work on #657 first, it will likely fix this.

[2015-08-26 20:12] rjmackay opened #659 "Post summary needs an indicator that a post is published or not"

[2015-08-26 20:12] rjmackay commented on #657
Maybe tackle #659 with this too?

[2015-08-26 20:15] rjmackay commented on #656
@sophshep are you migrating these over from Phab? If so can you make sure you link the original Phab issue, and add the github ID to the phab issue.

[2015-08-26 21:48] rjmackay commented on #490
@brianherbert any idea if this could be fixed on Crowdmap classic?

[2015-08-26 22:02] brianherbert commented on #490
This is only an issue on Crowdmap Classic with the way routing is set up between "new" and Classic. It won't be an issue with any of the newer Cloud or V3 deployments.

[2015-08-26 22:03] brianherbert commented on #490
And to answer your question, no. The server trying to get meta data has to support cookies for it to work and they don't.

[2015-08-27 00:28] hollycorbett commented on #638
Okay @rjmackay, @zhalloran - thoughts/comments welcomed.  The config options thing is clear enough (figure I'll just put it in its own group_name in the config table) - I can get started on that while we debate :)

I can see three obvious potential ways of managing the backend:
1 - using the use-cases pattern
2 - using the acl pattern
3 - a separate piece of infrastructure
	- a "filter" through wh

[2015-08-27 05:02] rjmackay commented on #638
- Theres an existing `features` config group. All the settings in it are now defunct so rip those out and use that group
- This should probably be handled in the Authorizer layer if we can - just because the sensible server response when something is denied is a HTTP 403. However we also need to make sure we return a message the client can use to differentiate : deployment doesn't have this featur

[2015-08-27 05:04] rjmackay commented on #421
Follow up to creating users at the CLI, add an 'owner' role, and make sure that can be created from the commandline

[2015-08-27 09:31] hollycorbett commented on #638
Okay :) cool cool

[2015-08-27 11:24] jshorland opened #660 "Auto tag, location, structure, publish for posts"
SMS submissions to the platform are unstructured, and require manual verification and publishing. This is unfeasible for some clients (specifically Norwegian Red Cross), since they receive thousands of reports per month; we could implement a filter in the platform which would automatically sort and tag incoming messages, but that would lead to the same situation they are trying to leave (relying o

[2015-08-27 11:29] sebm90 commented on #660
An organisation like the Norwegian Red Cross would ideally want an automatic filtering and tagging tool for incoming SMS messages that's comprehensive and flexible enough for them to set up and maintain themselves out-of-the-box.

[2015-08-27 20:17] rjmackay commented on #660
I believe this is what Chambua is for.. developed as part of SwiftRiver

[2015-08-31 01:50] #637 closed

[2015-08-31 01:52] rjmackay commented on #636
@zhalloran You can now create a user from the CLI..
[code]
is that sufficient to use with the create deployment worker?

[2015-08-31 03:30] #567 closed

[2015-08-31 03:31] #596 closed

[2015-08-31 03:31] #597 closed

[2015-08-31 03:36] rjmackay opened #663 "Complete API documentation"
Complete API documentation in Swagger

[2015-08-31 03:40] rjmackay commented on #307
@sophshep curious what solutions you might have for this?
I can find an example of the info box on V2 for context if that helps.

[2015-08-31 03:42] rjmackay commented on #313
There is an option to delete under Collection settings.. too hard to find?

[2015-08-31 03:43] rjmackay commented on #313
@sophshep cc'ing you on this

[2015-08-31 03:43] #313 closed

[2015-08-31 03:48] #315 closed

[2015-08-31 03:48] rjmackay commented on #315
- The 'status: draft' reflects the current filters .. I'll keep track of further reports to see if that bit of UI is just confusing to users.

I'm not sure what happened with your draft report, I suspect you simply filtered to a view with no posts. But its not clear. For now I'm closing this out.. its useful feedback but not something I can action right now.
If you see similar issues, can you try

[2015-08-31 03:51] #328 closed

[2015-08-31 03:51] rjmackay commented on #328
- We're missing a transition at the moment which is supposed to shrink the header as you scroll, and also shrink it on non-home views.
I'm going to close this out for now. The current state is already better than when this was logged and I'm sure further issue will come up in testing

[2015-08-31 03:54] rjmackay commented on #335
Reframing this: When a modal opens we should scroll to the top of the modal.. or place the modal at the top of the current view.

[2015-08-31 03:56] rjmackay commented on #338
Clarification: Delete button should be added as per edit post type page (below the field list) and/or in the post step settings (similar to collection editing)

[2015-08-31 03:56] rjmackay commented on #339
@sophshep thoughts?

[2015-08-31 03:57] rjmackay commented on #341
@sophshep what do you think about moving this?

[2015-08-31 03:59] rjmackay commented on #342
I don't think that makes sense since then we'd be showing the list of steps twice on the post type page.
cc @sophshep

[2015-08-31 04:00] rjmackay commented on #343
cc @seth
Is it possible to easily style file upload buttons?
If not, I say we skip this. I don't want to start reimplementing browser UI in CSS .

[2015-08-31 04:01] rjmackay commented on #343
Sorry cc @middle8media

[2015-08-31 04:02] #353 closed

[2015-08-31 04:05] rjmackay commented on #368
Assigning to Sophie for UX review

[2015-08-31 04:07] #370 closed

[2015-08-31 04:07] rjmackay commented on #370
Users can't set their own default map. We should be saving map location + zoom into collections / saved searches.. those are the vehicles for users building their own views.

[2015-08-31 04:08] rjmackay opened #664 "Saving map location + zoom into collections / saved searches"
Make sure view params are saved into collections and saved searches

Refs ushahidi/platform#370

Reviewed and we still don't do this for maps

Aha! Link: https://ushahiditeam.aha.io/features/PROD-730

[2015-08-31 04:12] #465 closed

[2015-08-31 04:14] #481 closed

[2015-08-31 04:15] #500 closed

[2015-08-31 04:16] #506 closed

[2015-08-31 04:17] #518 closed

[2015-08-31 04:18] #534 closed

[2015-08-31 04:19] #552 closed

[2015-08-31 04:19] rjmackay commented on #552
This is currently the only geocoder we have :)

[2015-08-31 04:22] #564 closed

[2015-08-31 04:25] rjmackay commented on #587
@lemac totally missed your earlier message - are you still interested in working on this?

[2015-08-31 08:20] eyedol opened #665 "Refreshed Access Token is Weak"
Refreshed for a new access token using the refresh_access token.

[code]
Got a new access token however when I use that to fetch for resources it says I don't have the right scope. Here is the relevant error message from the API.

[code]

[2015-08-31 14:23] middle8media commented on #343
This is possible but will take some hacking and may not be worth the time spent.
http://stackoverflow.com/questions/572768/styling-an-input-type-file-button

@rjmackay if you want me to do this reassign to me, in the meantime I am assigning to you because of this - https://github.com/ushahidi/platform-pattern-library/commit/018903bd3a4b4070dcbd4bccbf151dcfb93187e3

[2015-08-31 14:29] middle8media commented on #652
https://github.com/ushahidi/platform-pattern-library/commit/6917d84c177d01c20592b4f2434feddeecc36bcb

[2015-08-31 14:33] middle8media commented on #434
@sophshep I would like to discuss this with you before implementation this pattern.

I thought I fixed the misalignment issue, but need to look into it.

[2015-08-31 15:05] vbhv opened #666 "Create wireframe for selecting additional y-axis and x-axis attributes"
Wireframe for selecting and applying additional chart settings via an overlay in timeline and bar chart views.
Currently there are only limited options for what can be charted within the two charting views. There are some backlog use cases that need appropriate designs.
- should allow for selecting from an extended set of y-axis and x-axis attributes
- user must be able to select custom form field

[2015-08-31 15:06] vbhv commented on #437
Sub-tasks
1. Create wireframe for selecting additional y-axis and x-axis attributes #666

[2015-08-31 18:39] sophshep commented on #341
To match the UX of how we treat deleting collections and other groupings of things, the delete button should be within the "post type settings" modal.

What do you both think? Is that too hidden? If so, I'm fine making it its own link that comes after "post type settings" with the same style (blue icon of bin & blue link that says "delete post type".

If we make this change though, let's make it g

[2015-08-31 19:06] sophshep commented on #338
Cross-referencing #341 where we are discussing the same thing. I am starting to think we should take all delete functionality out of the modal/settings and have it as a link next to the settings link.

[2015-08-31 19:08] sophshep commented on #335
Assigning to brandon since he has done the bulk of the modal js & css

[2015-08-31 19:10] sophshep commented on #307
The v2 example would be very helpful, @rjmackay

@brandonrosage & I chatted this morning about putting together an animated "welcome to ushahidi" guide that shows what it can do, which I think would help for users visiting for the first time.

On top of that, It could be cool to give deployments a customizable box to explain exactly what they are doing and how they are collecting data. I'll think

[2015-08-31 21:06] rjmackay commented on #307
oops. posting as @ushbot again :/

[2015-08-31 21:09] rjmackay commented on #335
I was actually just going to fix this directly in the client. Do you think its important to have the exact behaviour in the pattern library as well?

[2015-08-31 21:14] rjmackay commented on #341
We had https://github.com/ushahidi/platform/issues/313 logging confusion trying to delete a collection too.
- I think hiding the delete button under settings is probably too confusing for most people. More so on post types when we're already editing.
- On collections it was ok-ish to hide it under 'edit collection' but I think the 'Settings' label confused people too.
- Its a small change to show

[2015-08-31 21:23] rjmackay commented on #652
Excellent. I'll close this out.. theres another task for building those map popups

[2015-08-31 21:23] #652 closed

[2015-08-31 21:26] rjmackay commented on #343
Dropping it to low priority. And deassigning

[2015-08-31 21:38] sophshep commented on #341
Yes, on mobile it will just stack. Let's do it.

[2015-08-31 22:28] sophshep commented on #620
@rjmackay - I've created a calendar invite to discuss this. I'd like to create a fresh issue with specific requirements because I know I'll miss something when looking through this thread.

[2015-08-31 23:39] rjmackay commented on #431
Depends on  #665

[2015-09-01 00:11] rjmackay commented on #430
This this is resolved. Needs testing

[2015-09-01 00:15] rjmackay commented on #645
@middle8media I think we need to style `.custom-select` in the bulk action bar of post list
https://www.dropbox.com/s/7mg8rjbdph3tp5d/Screenshot%202015-09-01%2012.12.04.png?dl=0

[2015-09-01 00:41] #440 closed

[2015-09-01 01:31] rjmackay opened #667 "Add 'next step' button to the end of post create form"
When you reach the end of a step it makes sense to go to the next step.

[2015-09-01 01:34] rjmackay opened #668 "Add endpoints to fetch ALL attributes and stages"

[2015-09-01 01:34] rjmackay commented on #668
cc @eyedol

[2015-09-01 02:10] eyedol commented on #668
That will be a big win :+1:

[2015-09-01 03:40] rjmackay commented on #642
@jasonmule sync up with @zhalloran about this. This will probably share code / APIs with cloud interface.

[2015-09-01 03:55] sophshep opened #669 "Add more Ush branding to cloud signup flow"
This page http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/cloud-new-deployment.html

May be jarring users since it looks so unbranded compared to the homepage. What if a user goes straight to this URL without first seeing the home page?

cc/ @brandonrosage @zhalloran

[2015-09-01 04:02] zhalloran commented on #636
@rjmackay We would need to be able to specify the deployment database as well. Otherwise it's no good. We can't rely on environmental variables.

[2015-09-01 04:02] sophshep opened #670 "Cloud setup: customize deployment step"
Does it make more sense for [this page](http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/setup-customize.html) to be in the context of a full layout of the deployment? (with the left side nav, etc.)

cc/ @rjmackay

[2015-09-01 04:09] rjmackay opened #671 "Add 'deploying' layout for waiting around"
Add a layout for the 'your deployment is getting built' holding screen on cloud.
Needs to show deployment status, somewhere we can put errors. And a link in case it stalls.

@zhalloran anything else this should have?

[2015-09-01 04:09] rjmackay commented on #671
cc @sophshep

[2015-09-01 04:13] rjmackay commented on #636
right. Whats stopping us just passing environment vars in as you run that command?

[2015-09-01 04:15] rjmackay commented on #669
I actually like the idea that we could link directly to a 'create deployment' page from within docs, etc. So adding some minimal branding could be ideal.

[2015-09-01 04:54] zhalloran commented on #636
From what I can tell, that command doesn't support passing environmental variables. It get's the db connection from the Kohana instance itself. We want to be able to dynamically set the db independent of the kohana env. Of the top of your head, do you know where the code for salting and hashing the password is? I think I'll just push directly into the database.

[2015-09-01 09:01] rjmackay opened #672 "Broken upgraded plans layout"
http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/settings-plans-upgraded.html
Should show standard, plus and enterprise side by side.
Actually has enterprise wrap onto the next line.

[2015-09-01 09:01] rjmackay commented on #672
cc @middle8media @sophshep in case one of you can fix this up quickly.

[2015-09-01 15:43] #672 closed

[2015-09-01 15:48] brandonrosage commented on #626
@rjmackay Since this feature is designed and implemented (admittedly, needing some visual polish), can we either close this issue or be more specific about what needs to be done for launch?

[2015-09-01 15:58] brandonrosage commented on #335
@rjmackay The solution for this is already built into the *modal.js* script we wrote: https://github.com/ushahidi/platform-pattern-library/blob/gh-pages/assets/js/custom/modal.js#L15-L20

Note that, when a modal is toggled, the logic checks to see if it's opening or closing. It's opening, modalYpos() runs to ensure the window is 40px from the top of the window's current scroll position.

You can d

[2015-09-01 19:55] sophshep commented on #368
I'm not sure where the publish button he's referring to is? Is it the "publish as" dropdown?

[2015-09-01 20:05] rjmackay commented on #368
I think they meant it wasn't obvious what the 'Save' button does, vs 'Publish to..' dropdown.
But I'm also guessing.

[2015-09-01 20:50] rjmackay opened #674 "Create Ushahidi\App namespace for app code not tied to Kohana"
- Currently we use application/ for implementation specific code. However this also ties things to Kohana
- For code which isn't tied to kohana but is implementation specific it'd be good to move into src/App so we can use PSR4 etc

[2015-09-01 20:51] rjmackay opened #675 "Split DI into multiple files, steps"
Possibly using Aura Di Config

[2015-09-01 21:30] rjmackay commented on #335
Thanks Brandon. I'll replicate that in the client JS..

[2015-09-01 22:15] rjmackay commented on #626
@brandonrosage Sorry.. this got assigned by the importer. I'll close it
@vbhv has captured needs better elsewhere

[2015-09-01 22:15] #626 closed

[2015-09-01 22:30] sophshep commented on #655
I've updated the PL, however for this to work properly, the div `.hero-image` can't exist in the code.

To see what I mean, go to the pattern library and delete that div in the inspector.

@rjmackay does this work to translate to the client? So that div shouldn't exist until a user has uploaded a custom image.

[2015-09-01 22:36] sophshep opened #677 "Change deployment description not working"
I tried to update the deployment description on the settings > general page. It seemed to work (did not give me any errors) however my change is not reflected in the header.

[2015-09-01 22:38] sophshep opened #678 "Username overlaps button when long"
The area for the username should be flexible so it doesn't overlap the add post button if someone has a long name

![image](https://cloud.githubusercontent.com/assets/527589/9618913/13a1adcc-50d0-11e5-86d2-d83132b431f3.png)

[2015-09-01 22:41] sophshep opened #679 "Breadcrumb Links inconsistent"
The breadcrumb links sometimes have the current page ([example](http://demo.platform.ushahidi.com/settings/map-settings)) and sometimes they do not ([example](http://demo.platform.ushahidi.com/settings/datasources)).

They should never show the current page if it is the same as the H1 to avoid any redundant content. (Including pages like [manage categories](http://demo.platform.ushahidi.com/settin

[2015-09-01 22:45] rjmackay commented on #677
Does it reflect if you reload the page?

[2015-09-01 22:48] rjmackay commented on #655
Currently the client switches the header image:
- if the header is set we show it
- if not we show the default header
[code]

What should we be doing? Can you link to examples of each state in the PL?
Be aware that you might be seeing broken image headers on the demo site because of a problem with image uploads.

[2015-09-01 22:49] sophshep commented on #677
Ah, that did the trick. A success message (on my list to design) will help to show that it has registered, but if we could have it reflect without a reload that would be great.

[2015-09-01 22:55] rjmackay commented on #677
Yup. Its definitely still a bug.. just wanted to be sure what the issue was.
At worst we should trigger the reload on save..

[2015-09-01 22:58] sophshep commented on #655
Currently in the PL, the default bg img is being served by the CSS as a repeating background. (Go to http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/home-map.html & delete the hero img div in the inspector to see this):
![image](https://cloud.githubusercontent.com/assets/527589/9619123/4b9a08d0-50d2-11e5-9720-3de8c08d106e.png)

Then if a user has uploaded an image, it sho

[2015-09-01 23:15] sophshep commented on #307
Thinking more about this - and I think it is split into two issues:

1. **Custom deployment info box**: In V3 there is the ability to make custom pages that can be linked to from the main menu, as seen in the navigation of the pattern library layout ([example](http://localhost:8080/assets/html/5_layouts/home-map.html)). This about page should house all of the information about the deployment, such

[2015-09-01 23:37] rjmackay opened #680 "Ability to add info / instructions text to a post type"
V2 had a text box on the submit report page (see the pink box here https://www.takebackthetech.net/mapit/reports/submit https://www.dropbox.com/s/bqsisijm0xh3wuv/Screenshot%202015-09-02%2011.36.30.png?dl=0)

I think this is still useful in V3, and should probably be defined per-post type.

[2015-09-01 23:38] rjmackay commented on #680
@sophshep related to #307 ... do you think we still need this?

[2015-09-01 23:39] rjmackay commented on #307
**Custom deployment info box**

- Custom pages existed in V2.. the deployment info box is a separate issue.
- The need to provide some extra context up front when you land on a deployment still really important. I don't think an About page solves that
- We do need to huddle about how custom pages should work too..

**How to submit**

- On V2 was that often what we could dynamically generate wasn't

[2015-09-01 23:40] rjmackay commented on #655
got it, thanks

[2015-09-02 00:04] rjmackay opened #682 "Show empty text when no posts exist"
- Show 'There aren't any posts yet' followed by 'Add the first post' button
http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/setup-add.html
- Only show this when we're viewing ALL posts.
- For other cases, show something like 'No posts matched your search'

[2015-09-02 00:45] rjmackay commented on #405
Needs styling work first.
@middle8media or @sophshep could we have the Deployment name <h1> styled to override the default link styles? Right now if I wrap it with an <a> it turns blue.

[2015-09-02 01:55] #406 closed

[2015-09-02 02:41] #335 closed

[2015-09-02 02:45] rjmackay commented on #404
https://s3.amazonaws.com/uploads.hipchat.com/95412/718736/JT316jHWssARoDO/VID_20150820_095157.mp4

[2015-09-02 14:49] sophshep commented on #405
Just pushed a fix so that the style stays the same when the `<h1>` is wrapped in an `<a>`

[2015-09-02 19:28] rjmackay commented on #446
Reopening to fix in the client too

[2015-09-02 20:23] rjmackay opened #685 "Try out Read the docs for cloud"
We want to get our existing Jekyll content into read the docs so we can test it out.

[2015-09-02 20:28] rjmackay commented on #685
@brianherbert do you have time to look at this?
Our docs are currently in github.com/ushahidi/docs.ushahidi.com we want to take that same markdown in read the docs. I'll have a 10 min look at read the docs today, but beyond that I won't have time till next week. Would be great if you could pick this up?

[2015-09-02 20:28] rjmackay commented on #685
cc @sophshep

[2015-09-02 20:46] sophshep commented on #620
Moving this conversation to #443

[2015-09-02 20:46] #620 closed

[2015-09-02 20:48] sophshep commented on #443
• Add "View messages associated with the post" functionality to post detail page.

[2015-09-02 20:50] rjmackay commented on #443
+ ability to reply to message from that page.

[2015-09-02 20:56] rjmackay commented on #296
cc @jshorland
Any other requirements for comments from BRCK?

[2015-09-02 21:20] rjmackay commented on #685
Ok so I managed to run a rough import here: http://ushahidi.readthedocs.org/
I've also found an old project created by @rrbaker I'll try and get deleted.

[2015-09-02 23:33] rjmackay commented on #636
Kohana grabs the DB stuff from the environment so environment params should still work just fine.

If you really need to push directly into the DB you can find User saving code in application/classes/Ushahidi/Repository/User.php and password hashing in application/classes/Ushahidi/Hasher/Password.php .. though it just uses `password_hash` to do the work of hashing.

[2015-09-02 23:49] rjmackay commented on #636
[code]

[2015-09-03 01:03] #635 closed

[2015-09-03 01:20] zhalloran commented on #636
@rjmackay Thanks! Just to clarify, each deployment has it's own virtual environment. The dotenv environment is no good for our purposes. In our hosted environment, environmental variables will be determined dynamically via requests parameters/query results.

[2015-09-03 01:33] rjmackay commented on #636
I'm not really sure what you're asking/confirming?
- The .env file should serve to define db params for the central DB only
- For web requests, the db params will get overridden with the deployments db params
- For CLI tasks you should either be able to set the environment vars to point to a  deployments db ie.
[code]
or you can pass in a fake host ie
[code]

[2015-09-03 10:25] rjmackay commented on #642
If you're game it might make more sense working on adding create deployment screen first https://github.com/ushahidi/platform-cloud-interface/issues/27

The plans screen might end up not living in platform at all

[2015-09-03 13:43] redhumus opened #687 "Dependencies error when build the client"
Hi, I'm leading redhumus.org and have two deployments wiith ushahidi  (http://land.redhumus.org and http://respondiente.redhumus.org   . Now I'm installing usahidi V3. But I have an issue when trying to build gulp
I'm at this step http://docs.ushahidi.org/install/installing-on-linux.html#building-the-client

I'm on a web server running a  GNU Linux 3.2.0-4-amd64 #1 SMP Debian 3.2.54-2 x86_64 GNU/L

[2015-09-03 15:10] zhalloran commented on #636
Oh, right. *facepalm*. Thx.

[2015-09-03 16:32] sophshep commented on #656
I've extended the modal to show how this can be used for a confirm dialogue: http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/modal-delete.html

We can also use the confirmation message for dialogues that don't require action from the user: http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/confirmation.html

[2015-09-03 16:32] #656 closed

[2015-09-03 18:34] sophshep commented on #657
@rjmackay I've cleaned this up, but the markup has changed a bit. Leaving it open and assigning to you to in case you need to see that change & update client accordingly.

[2015-09-03 18:36] sophshep commented on #658
I've removed any instances of `overflow:auto` so this should be fixed. I haven't been able to recreate the gradient.

Please reopen this issue if you see it again anywhere.

[2015-09-03 21:20] rjmackay commented on #687
Hi Luis,
Can you try installing the `build-essential` debian package?
Then
remove the node_modules directory in platform-client, run `npm install` again and then `gulp build`

Let me know if that makes any difference?

[2015-09-03 22:34] sophshep commented on #422
### New/Just Added Filters
I don't think it's important to show which filters are new. They should just be displayed in the order that they get added, so the ones at the end of the line are the newest.

### Disabled Filters
For filters that have just been turned off/disabled, I've added a style that is seen on the saved-search page: http://github.ushahidi.org/platform-pattern-library/assets/html/5

[2015-09-03 22:48] rjmackay commented on #422
So here's the workflow I think this matters for:
1. Land on home
2. Set some filters
3. Save the search
4. later, go to that saved search
5. Add / Remove some filters
We now show an "Update saved search" button .. which saves the updated filters for that search.
At that point I think its important to see what changes I'm really saving (ie. what was already in the saved search vs what have I just a

[2015-09-03 22:56] sophshep commented on #422
For that first use case, I really don't think it matters to see what is new or not. I have never seen that used  in other products with this similar pattern.

I do think it's important to show what has been turned off so that users can toggle things on and off, and not have to go digging around the filters to turn things on again.

Nope, though the search doesn't have to be saved for the disabled

[2015-09-03 23:31] rjmackay commented on #445
Picked up some of this while working on the first time login screens

[2015-09-04 02:04] rjmackay commented on #670
I've built a first version of this in a modal just for simplicity. However I'm happy to switch to a full page layout if thats preferred.

Its also doubling as a first login flow for OSS deployments too. OSS deployments will also ask for the site name, since we haven't had a chance to set it yet.

https://www.dropbox.com/s/jy1xd35elmeqgif/Screenshot%202015-09-04%2013.41.34.png?dl=0

[2015-09-04 15:23] sophshep commented on #670
The modal looks good. I'll let @brandonrosage follow up, but my understanding is that the deployment tour that Brandon is building now will end on the settings>appearance page, with explanation about how a user can customize their deployment. It should be a nice transition from the tour to the actual deployment.

[2015-09-04 15:30] sophshep commented on #368
Note to self: create a button that has the "who sees this" built into the save button so they feel more related and like one action

[2015-09-04 16:00] sophshep opened #690 "Create a list of what all the filters should be"
cc @brandonrosage

[2015-09-04 21:34] sophshep commented on #659
Assigning to @rjmackay to get into client

[2015-09-04 21:57] rjmackay commented on #690
Just to add to this:
- We built the post type and current step filters without design input.. I'd love to see alternative approaches for the stage filter, maybe combined with the post type filter somehow? right now its just confusing
- Sometime soon we need to look at how we handle filtering by custom fields too

cc @vbhv since we talked about grouping by custom fields in the context of graph and

[2015-09-04 21:58] rjmackay commented on #368
Another thing to consider: how do I publish to multiple roles? I've already had at least one person ask about that..

[2015-09-05 00:28] redhumus commented on #687
Hi Robbie,

I have build-essential yet and

this is the output: of nmp install    :(

root@miserver:/routetomy/platform-client# ls -la
total 160
drwxr-xr-x 10 www-data www-data  4096 sep  4 23:11 .
drwxr-xr-x 16 www-data www-data  4096 sep  4 23:07 ..
drwxr-xr-x  7 www-data www-data  4096 sep  4 23:07 app
-rw-r--r--  1 www-data www-data   671 sep  4 23:07 app.json
-rw-r--r--  1 www-data www-data

[2015-09-06 18:07] vbhv opened #691 "Stats API: Group number of posts by users"
The activity page requires an additional param in the stats API for getting users who have created the most number of posts so that we can visualize top users of a deployment.

adding @jshorland to keep in the loop for triaging this task.

[2015-09-06 18:13] vbhv opened #692 "Stats API: Group number of posts by Post Step param"
The activity page requires an additional param in the stats API for visualizing number of posts in each 'post step'. For example by passing a pram like groupby=poststep.

adding @jshorland to keep in the loop for triaging this task.

[2015-09-07 06:03] vbhv commented on #560
Charting views as well as Activity Page #436 meets these requirements.

[2015-09-07 06:03] #560 closed

[2015-09-07 22:00] rjmackay commented on #640
I think these could just be limits in the features config. Where `true` means unlimited while an integer is the limit.

- Need to ensure we return a sane response when attempting to create/publish resources beyond the quota. Not sure how/if we can do that well with our current validation tech.

[2015-09-07 22:32] sophshep commented on #443
@rjmackay - Two new pages to show this:

1. [Post detail with messages associated with it](http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/post-detail-with-messages.html) - The link to view messages is tied to the "posted by" credit.

2. [Post messages thread](http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/post-messages.html) - Reusing the timel

[2015-09-07 22:55] rjmackay commented on #443
Awesome!
- What would 'Verify this number' do?

[2015-09-07 22:57] rjmackay commented on #658
I'm still seeing these on post summary and post detail:
https://www.dropbox.com/s/vskeqokqv57m8pq/Screenshot%202015-09-08%2010.57.04.png?dl=0
https://www.dropbox.com/s/gfol5yq3yqz03dr/Screenshot%202015-09-08%2010.54.16.png?dl=0

[2015-09-08 15:50] #658 closed

[2015-09-08 16:32] middle8media commented on #645
@rjmackay where is this?

it is not here on demo
http://d.pr/i/jlvm

nor in the PL
http://d.pr/i/1jhas

[2015-09-08 16:48] sophshep commented on #650
Just a comment as I'm designing new components: on the RTL section, it would be great to have a "cheatsheet" AKA a list of all the RTL mixins that we are using that I can just copy and paste from.

[2015-09-08 18:23] middle8media opened #693 "Create a Timeline view in Pattern Library"
ushahidi/platform#434

[2015-09-08 20:08] sophshep commented on #368
I've added this pattern and it's visible on: http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/create-post.html

But I'm not 100% satisfied with the style, so leaving it open for myself to come back to later on.

Note: if the post is already published, the button should say `save`

[2015-09-08 20:52] adambard1 opened #694 "Amended name field for 'Location' as second field in post type doesn't display in completed post display"

[2015-09-08 23:27] rjmackay commented on #434
Leaving open until this is resolved in the client

[2015-09-08 23:28] rjmackay commented on #693
I'm not clear if this is done in the PL or not?

[2015-09-08 23:30] rjmackay commented on #645
@seth you need to log in on the demo site to see it
user: admin
password: logmein

[2015-09-09 14:48] middle8media commented on #693
This needs to be created in the PL, it currently does not exist.

[2015-09-09 14:49] middle8media commented on #434
There are no markup changes. The new css needs to be pulled into the client.

[2015-09-09 21:54] rjmackay commented on #694
@adambard1 is the issue that we're not show 'Where did this happen' on the label? or that we're not showing that marker at all?

Related to #351 .. we need to change the map popups to use the field names or something sane.

[2015-09-09 22:08] rjmackay commented on #687
@redhumus sorry about the slow response. i think the key error is at the end
` FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - process out of memory`

Are you running this locally or on a server? Either way npm is running out of memory trying to install everything. The only thing you can really do is increase the memory on the machine its running on, or close some other processes while the bu

[2015-09-09 22:20] adambard1 commented on #694
Hi Robbie,

I don't understand your question re 'Where did this happen' and labels and
makers, sorry. I named the second step in a newly created post type
"Where?", as shown in the previously attached image. When that post type is
used and completed, the second step appears named as "Location", not
'Where?".  I had changed the name of the first step in the post as well (to
"When?"), and this chang

[2015-09-09 22:31] rjmackay commented on #694
@adambard1 locations are always a special case at the moment. If you add multiple location fields we didn't want to end up show lots of different maps, rather one map but we need to add a key or some easy way to see the field labels on the map. It'd probably be less confusing if I remove the 'Location' label entirely too.. since a map is obviously about locations.

[2015-09-09 22:38] adambard1 commented on #694
@rjmackay Actually, you have touched on a query/bug I'd posted about multiple location steps - to show a route - where the location pin labels only show the post step name, instead of the address of the marker, which would probably be useful (in nearly all cases, actually).

This wasn't a multiple location field issue, simple one about continuity of offering us the option to name steps in posts, b

[2015-09-10 08:43] aoduor commented on #555
It would be great to have users on the front end also select the language they want to view the platform in, much like what we have on v2 here

![screenshot](http://i.imgur.com/SrHwJWY.png)
![screenshot](http://i.imgur.com/MBS28k7.png)

wondering whether to split this into a separate issue?

[2015-09-10 18:10] adambard1 opened #695 "Confusing validation errors when creating tags"
Working on test app hosted on Heroku. Created a few categories OK, went to save another and was logged out somehow - window crashed so couldn't capture error message which was something to do with revoked access.
Reopened app, went to recreate category during crash and was given error message that category already exists, however it is not listed anywhere, including in the categories list.
Have lo

[2015-09-10 18:21] sanel opened #696 ".htaccess has wrong redirection rule"
Hi guys,

Just tested 3.0.0 and everything works, except _.htaccess_ rewrite rule. Even with current setup, I'm getting _No input file specified_, so after some fiddling, I ended up with correct rule:

[code]

I'm running it on CentOS 6.7 with Apache 2.2.15.

Best,
Sanel

[2015-09-10 18:58] adambard1 commented on #695
Restarted computer after being logged off for half an hour. Problem solved, classification added, no error message. Might be something to look into or could just leave it if it can't be reproduced.

[2015-09-10 20:18] rjmackay commented on #696
@sanel how are you running PHP? Using php-fpm or mod php?

Our example .htaccess definitely works on some setups so it'd be useful to narrow down why it doesn't work for you.

[2015-09-10 21:06] rjmackay opened #697 "Rewrite dataproviders"
- Rewrite dataprovider classes so they don't rely on kohana
- Abstract platform details to our provider repo. ie. enabled/disabled, available/unavailable
- Move config to POST/PUT to dataprovider api
- Provider classes should simply be services for sending/receiving messages
- Providers that need a callback should probably share a controller and an interface for receiving all data sent, parsing it

[2015-09-10 21:06] rjmackay commented on #697
cc @willdoran anything else to add to this? notes on what works/doesn't currently?

[2015-09-11 00:00] #494 closed

[2015-09-11 00:00] #677 closed

[2015-09-11 16:16] sanel commented on #696
I'm using php fastcgi instead of fpm. Also, I've got it from here: http://stackoverflow.com/questions/1557258/htaccess-problem-no-input-file-specified so I'm not sure is this fpm/mod_php specific issue.

[2015-09-11 16:25] sanel opened #698 "Failed login on fresh installation with missing an access token"
Hi guys,

Just installed fresh installation from git, after I failed to make it running with v.3.0.0. I was following this tutorial: http://docs.ushahidi.org/install/installing-on-linux.html and after I got up the site, I'm not able to login with *admin*/*admin* credentials.

After some inspection with Firebug, I got this:

[code]

Here is the full trace:

[code]
I'm getting these errors with both

[2015-09-11 16:48] caharding opened #699 "Location search automatically generates location name"
Current result:
When creating a new post, I search for a location like "Times Square" and the map drops a point on that GPS coordinate

Expected result:
When creating a new post, I search for a location like "Times Square" and the map drops a point on that GPS coordinate, and automatically generates the name for that place which is associated with the post

[2015-09-11 16:52] Shadrock opened #700 "Can't scroll to bottom of the page on touchscreen phones"
When scrolling down on the main page of an Ushahidi deployment on a touchscreen phone you can only scroll as far as the map, at which point you begin scrolling the map down, but not the page. As a user this means that I can't see anything below the map: I scroll (with frustration) until I get to Antarctica and that's the end of the road.

Tested on iOS with the Safari Browser using demo.platform.u

[2015-09-11 17:01] sophshep commented on #700
@middle8media It used to not do this, I think it is a setting within leaflet. Could you take a look?

[2015-09-11 17:16] middle8media commented on #700
duplicate of #644

[2015-09-11 17:16] #700 closed

[2015-09-11 17:22] middle8media commented on #644
@rjmackay I am wondering the best way to solve this issue and I am sure you have ideas.

Leaflet has http://leafletjs.com/reference.html#map-dragging. This would solve this issue, but would prevent mouse/touch dragging

[2015-09-11 17:38] sophshep commented on #644
I think it's important to have it be draggable on larger screens - and potentially even small screens too. The least complicated solution would just to always have a margin to the right of the map that a user can use to scroll. (<-- what kobia already said :stuck_out_tongue: )

[2015-09-11 17:39] middle8media commented on #644
@sophshep yeah, if it is draggable on small screens then this issue is still present.

right margin would be a fix

[2015-09-11 17:42] sophshep commented on #644
Putting `overflow: hidden` on `#map` is another simple way of making it un-draggable. Then we could easily remove that for larger screens via media queries.

My preference is to have the margin though, because some people may want to drag around within the map on a small screen.

[2015-09-11 17:46] brianherbert commented on #644
How does this look on older iPhones / cheaper Android phones where people might want to see the map? Is it possible to allow them to toggle a full screen view (would be a separate feature)?

[2015-09-11 18:17] middle8media commented on #693
@rjmackay @vbhv

Just wanted to confirm and get on the same page with this.

Should I create http://demo.platform.ushahidi.com/views/timeline in PL?

It would match http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/home-map.html and http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/home-list.html

@vbhv mentioned we are moving away from nvd3 and goin

[2015-09-14 17:25] adambard1 opened #701 "Duplicate name field validation error?"
Creating 'route' post type with multiple locations. Made each step a new location and wish to add a datetime filed as second field in each step.
After creating first step all is ok as attached. Have called diatetime "Where & When?"
On adding the datetime to second step, naming it "Where & When?" and hitting save and close am met with a validation error, as attached.
Cannot add this datetime to any

[2015-09-15 04:22] vbhv commented on #693
@middle8media
I think it would be most helpful to implement the layout and Ux patterns in PL and leave out the charting component. I like what Sophie did with activity view and that was about the right amount of pattern detail required to build a page. So you can use a placeholder image for the charting component and everything else can be in the PL – i.e, layout, controls, and other PL blocks. Ex

[2015-09-15 05:08] rjmackay commented on #572
@jasonmule take a look at this. if you get a break in notifications or want to work on something else too

[2015-09-15 13:57] middle8media commented on #693
Thanks @vbhv I will proceed accordingly.

[2015-09-15 14:44] middle8media commented on #693
completed issue via https://github.com/ushahidi/platform-pattern-library/commit/3f313dd64d6d94d916236f858c1bed7df9be4387

[2015-09-15 14:45] middle8media commented on #693
new html and css needs to be implemented in the client

[2015-09-15 14:48] sophshep commented on #693
Hey @middle8media - this is missing some functionality, such as the checkbox and dropdown. And I don't think we need pagination on this view.

@vbhv could you attach the UX mockup we did when you were in austin to this issue? Then we'll build for that.

[2015-09-15 14:49] middle8media commented on #645
@rjmackay I am logged in, but still can't find it.

http://d.pr/i/10XSv

[2015-09-15 16:03] middle8media commented on #644
pinging @rjmackay

[2015-09-15 17:14] vbhv commented on #693
Github won't let me attach PDFs so below is the link to the file on basecamp. The wireframes don't indicate a checkbox - it was added later to allow user to visualise cumulative counts. I think the best representation of this view is actually the client implementation itself :) @ http://demo.platform.ushahidi.com/views/timeline with the exception of the misaligned checkbox filed in #434

https://b

[2015-09-15 17:26] middle8media commented on #693
this should be live and good to go.

http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/home-timeline.html

[2015-09-15 17:46] middle8media commented on #678
@rjmackay - css and new html need to be implemented in the client

[2015-09-15 18:13] middle8media opened #702 "slack integration test issue"

[2015-09-15 18:16] #702 closed

[2015-09-15 18:16] middle8media commented on #702
test comment

[2015-09-16 04:05] rjmackay opened #703 "Prompt user for email if existing email is invalid"
When migrating from username we've set email = username if the user didn't have an email in the db. For these users we should prompt them to add an email at next login.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-729

[2015-09-16 18:36] zhalloran commented on #636
First draft implemented here: https://github.com/ushahidi/platform-cloud-ansible/commit/bcbdf64efeb8e8df7f015c754ce3ffd09a4fc5d3

[2015-09-16 19:48] rjmackay opened #705 "Strip trailing slash on BACKEND_URL"
[cmacdonell] On two installs I've done I found that including the trailing slash on BACKEND_URL in .env actually breaks the site ("Oops, something went wrong").  Have others seen this?

[2015-09-17 02:23] rjmackay commented on #639
Fixed by https://github.com/ushahidi/platform/pull/673

[2015-09-17 02:23] #639 closed

[2015-09-17 08:05] aoduor opened #708 "Update install script for OSGeoLive"
Via Angelos Tzotsos on dev mailing list

"Is there any chance that someone would update the ushahidi install script for OSGeoLive and issue a pull request?
https://github.com/OSGeo/OSGeoLive/blob/master/bin/install_ushahidi.sh"

[2015-09-17 10:38] #486 closed

[2015-09-17 10:38] #636 closed

[2015-09-17 22:32] #669 closed

[2015-09-18 00:50] rjmackay commented on #468
https://github.com/ushahidi/platform/issues/446 has the updated success message UI.
http://github.ushahidi.org/platform-pattern-library/assets/html/4_blocks/#pl-pattern-confirmation

I looked at various notifications libraries and found they were all a bit of a pain. You'll probably just have to build a custom directive for this.

Also need:
- A confirmation directive (ie. the same thing but with

[2015-09-18 01:09] willdoran commented on #685
Ok, so thus far, I've:
- forked the sphinx_rtd_theme, here: https://github.com/ushahidi/ushahidi_sphinx_rtd_theme
it needs to be cleaned up slightly before it will build but the existing built theme in ushahidi_sphinx_rtd_theme does work
- I've added the theme as a submodule to the docs.ushahidi.com repo and wired it to build
- The build is failing on readthedocs so I've opened a ticket describing

[2015-09-18 02:19] #502 closed

[2015-09-18 02:19] #525 closed

[2015-09-18 02:24] rjmackay opened #710 "Replace Kohana Validation with better validation lib"
- Potentially Laravel Validation lib, or some other standalone validator.
- Implement existing validation interfaces
- Generate errors that can be tied to form fields in the client
- Need to be able to handle validating nested arrays better, particularly reporting errors for things like post values.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-728

[2015-09-18 02:24] rjmackay opened #711 "Replace Kohana routing and controllers with another router"
Options:
- Symfony
- Laravel/Lumen
- Aura Router?
- League Router?

[2015-09-18 02:26] rjmackay opened #712 "Replace kohana db with a standalone DB library"
Needs to support:
- Mysql
- Postgis
- Mssql (nice to have)
- SQLite (for testing) + spatialite?

Need a query builder, and dbal.. but migrations stay with phinx, and no ORM.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-727

[2015-09-18 10:31] vbhv commented on #648
https://github.com/ushahidi/platform-client/commit/af97888409519365f468f0f08945b743d82f8042

[2015-09-18 10:31] #648 closed

[2015-09-18 10:33] vbhv commented on #646
dc.js int done.
https://github.com/ushahidi/platform-client/commit/0117a61e1b6316f48cdc4760aa3af60ff25dbd9e

[2015-09-18 10:33] #646 closed

[2015-09-18 10:34] vbhv commented on #647
https://github.com/ushahidi/platform-client/pull/12

[2015-09-18 10:34] #647 closed

[2015-09-18 10:38] vbhv commented on #436
Sub tasks 1,2,3 are done and the PR is here
https://github.com/ushahidi/platform-client/pull/12

[2015-09-18 10:39] jshorland opened #713 "Pricing page on tour flow requires scroll"
Can we make this fit onto a single screen no scroll?

[2015-09-18 10:39] vbhv commented on #646
https://github.com/ushahidi/platform-client/pull/12

[2015-09-18 10:40] vbhv commented on #648
PR https://github.com/ushahidi/platform-client/pull/12

[2015-09-18 11:06] jshorland opened #714 "Validation error when adding guest user"
1. Logged in to deployment
2. navigated to settings --> users
3. clicked "add user"
4. filled out all details (display name, email, password, role = guest)
5. clicked "save user"
6. Error message popped up stating "validation error: user.role.exists"
![screen shot 2015-09-18 at 2 03 30 pm](https://cloud.githubusercontent.com/assets/3224856/9958043/4aec52be-5e0e-11e5-8287-e7188d0ca080.png)

[2015-09-18 11:14] jshorland opened #715 "Icon name dropdown is a single file list of icons that goes on forever"
1. Navigated to Categories --> add category
2. clicked "icon name" drop down arrow
3. single column list of icons appeared and scrolling is crazy long

![screen shot 2015-09-18 at 2 12 07 pm](https://cloud.githubusercontent.com/assets/3224856/9958128/89d145f6-5e0f-11e5-8b16-382b4efc5c49.png)

[2015-09-18 11:33] jshorland opened #716 "Incorrect padding between "categories" and "location" on add new post"
1. Navigated to add new post as logged in admin
2. Saw "categories" selection and "location" selection overlapping
![screen shot 2015-09-18 at 2 30 30 pm](https://cloud.githubusercontent.com/assets/3224856/9958395/17a3f084-5e12-11e5-809d-2a6642355459.png)

[2015-09-18 11:39] jshorland opened #717 ""add to collection" button in list view won't open drop down"
1. Navigated to list view as logged in admin
2. selected post
3. clicked "options" at bottom of post
3. clicked "add to collections"
4. drop down box would appear to open, then immediately close

Note: The bulk action "add to collections" button at the top right corner of the list view works properly.

![screen shot 2015-09-18 at 2 41 09 pm](https://cloud.githubusercontent.com/assets/3224856/99585

[2015-09-18 16:39] brandonrosage opened #718 "Update 'Create new deployment' screen with interaction improvements"
I've made some improvements to the ['Create new deployment' page](http://github.ushahidi.org/dotcom-pattern-library/assets/html/5_layouts/create-deployment.html), namely to the education around what each field means. The updates, however, include new JavaScript and CSS. So let me highlight what's new, so implementation is as easy and quick as possible:

* _HTML_: Naturally, [the structure of the f

[2015-09-18 20:07] brandonrosage commented on #671
I've added some markup within the Tour to show what the last panel would look like in the case that the deployment wasn't yet ready: https://github.com/ushahidi/platform-pattern-library/blob/gh-pages/pattern-library/5_layouts/tour.html#L265-L280

Working on a 'Home' screen now that communicates this, as well, in case they visit their deployment URL manually.

[2015-09-18 20:15] rjmackay commented on #572
@jasonmule saw you started working on this. I already fixed up the client creation task. TBH I don't think we need to be able to create tokens from the command line.. Maybe just pull out that old code and close this task out?

[2015-09-18 20:16] #641 closed

[2015-09-18 20:39] rjmackay commented on #713
cc @brandonrosage

[2015-09-18 20:55] brandonrosage commented on #671
I've added a "Home - Building" layout that samples how a tour-like, static page would stand in for the deployment until it was finished building: http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/home-loading.html

Note that I've added the `tour.js` [custom script](https://github.com/ushahidi/platform-pattern-library/blob/gh-pages/assets/js/custom/tour.js) to the Platform P

[2015-09-18 20:55] #671 closed

[2015-09-18 20:59] brandonrosage commented on #713
[I updated this view](http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/tour.html#plans) to match @sophshep's work on [dotcom's "Plans" page](http://github.ushahidi.org/dotcom-pattern-library/assets/html/5_layouts/pricing.html), which has increased the amount of content that's visible without scrolling.

The update, however, also includes zero-rated and self-hosted callouts

[2015-09-18 21:14] brandonrosage commented on #670
@rjmackay: This "Customize your deployment" view no longer exists as part of the "Create new deployment" onboarding flow. So it can go away in its current form.

As it's represented in onboarding, it's currently [a simple "step" in the tour](http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/tour.html#customize), where we call out that "Settings" is where customization happe

[2015-09-21 02:24] rjmackay commented on #519
@sophshep I'm not sure exactly how we should translate this: https://docs.google.com/document/d/1JnfDERRFBV6suR0lglf76Fu9uVnfhs0PjwiGrtWrHDU/edit#heading=h.roqpx5jsjbhx into the client..
Jason's done some good work so far.
- He's reusing the settings-list pattern for the list of existing notifications: https://www.dropbox.com/s/db2lypu9evpiuxd/Screenshot%202015-09-21%2014.22.36.png?dl=0
- But the

[2015-09-21 07:27] #670 closed

[2015-09-21 12:37] Mukuria opened #719 "Custom Image Not Uploading/Saving"
When you click the save button after choosing a header image, it seems to be "saving forever".
Cant save custom header image.

[2015-09-21 18:42] jasonmule commented on #519
So, I am currently reusing the settings-list pattern with drop downs for adding and editing contacts.
![notifications](https://cloud.githubusercontent.com/assets/150815/10001283/ab185e4c-60a9-11e5-8c67-11b5f0019075.png)

[2015-09-21 19:33] jasonmule commented on #717
For some reason, I am not able to reproduce this.

[2015-09-21 22:21] rjmackay commented on #719
@Mukuria Thanks for logging the issue. Which deployment was this on?
Could you open the developer tools in your browser and see if your getting any errors ?

[2015-09-21 22:26] rjmackay commented on #693
This is broken in Firefox https://www.dropbox.com/s/js2jozpj7m9mp4r/Screenshot%202015-09-22%2010.26.05.png?dl=0

[2015-09-21 22:32] #566 closed

[2015-09-21 22:54] #410 closed

[2015-09-21 23:11] rjmackay commented on #468
http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/modal-delete.html <- modal for confirming actions

[2015-09-21 23:37] rjmackay opened #720 "User menu is centered when header expended, left align when compact"
https://www.dropbox.com/s/yho53q32cecdscv/Screenshot%202015-09-22%2011.35.20.png?dl=0
vs
https://www.dropbox.com/s/5477berx3uck2ct/Screenshot%202015-09-22%2011.35.56.png?dl=0

1. Go to: http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/home-list.html
2. Click on "Jonathon Doe"
3. Scroll down
Expected: Menu alignment stays the same
Actual: Alignment switches

[2015-09-21 23:39] #405 closed

[2015-09-21 23:39] #655 closed

[2015-09-21 23:39] #403 closed

[2015-09-21 23:40] #678 closed

[2015-09-21 23:40] #434 closed

[2015-09-21 23:42] rjmackay opened #721 "User display name in header doesn't change when user account updated"
When changing my display name in the account settings, I hit save. The save button confirms that the change has been made, but the user drop down area still has my old name (in this screenshot, "test"). Even when I navigate to other pages, this still says "test"
1. Login
2. Go to account settings
3. Edit display name
4. Save

Expect: Display name to update in header
Actual: No change until logout

[2015-09-21 23:49] #716 closed

[2015-09-22 00:13] rjmackay commented on #687
Closing this out. @redhumus reopen if you have any more info you can add

[2015-09-22 00:13] #687 closed

[2015-09-22 00:21] #651 closed

[2015-09-22 05:15] rjmackay commented on #718
So splitting the create page into 2 slides makes validation a pain.. we have to switch slides to depending on which fields had errors. If multiple steps have errors they can only see some, not all of the errors at once.

Also still need some validation styles.. unless those exist and I'm just missing them?

[2015-09-22 07:04] castrillo opened #722 "Hanging after intro"
I was trying to complete the user testing survey but after then intro when I arrived at the Nice! We hope you enjoy your new deployment screen it hung and would not let me continue.
I then closed the browser and reopened it again but the deployment would not load.
My deployment is http://betalondon.ushahidi.io/.

[2015-09-22 07:11] castrillo opened #723 "Saved posts not appearing"
When completing the Ushahidi user testing survey I created and saved two posts but I could not see these when going to the http://betalondon.ushahidi.io/views/list view.
Is there somewhere else I should look?

[2015-09-22 08:03] rjmackay commented on #722
@castrillo when you say it hung.. can you tell me a bit more?
You clicked 'Done' and it just loaded forever? Did it appear to be loading the correct URL?

[2015-09-22 08:05] rjmackay commented on #723
Did you publish the posts? Are you logged in?
If you're not logged in and the posts are still unpublished you won't see them. Posts to anyone but an admin user until they've been published

[2015-09-22 14:24] abelb opened #724 "Blank Add a post page"
I tried to create a post and was able to add title, location and description but it wouldn't save.

Somehow clicked on this link: http://www.openstreetmap.org/copyright

When i hit back button, I got this screen and could not add post type.

<img width="948" alt="screen shot 2015-09-22 at 7 21 59 am" src="https://cloud.githubusercontent.com/assets/108173/10021058/ee247922-60fa-11e5-8a85-bed878ea08

[2015-09-22 14:25] #693 closed

[2015-09-22 19:36] brandonrosage commented on #718
[Lots of improvements for you here](http://github.ushahidi.org/dotcom-pattern-library/assets/html/5_layouts/create-deployment.html).

**1. Form validation styles**

I've included styles that support simple additions to the markup for form validation. They assume system feedback happens within the context of a form field -- not the entire form itself. That said, the pattern supports attaching feedb

[2015-09-22 23:56] rjmackay commented on #644
That will have no effect, `overflow: hidden` is the default for a leaflet map.

I think margin is the workable solution here. I'm not clear if this is an issue on all our maps, or just the post detail page? Probably both.

Or to change the layout so there's no need to scroll down (ie. move anything below the map or make it sticky)

[2015-09-23 00:04] rjmackay commented on #645
Sorry, my bad. This is only on http://dev.platform.ushahidi.com/views/list  (not the other demo)
Login with admin / admin

[2015-09-23 00:05] rjmackay commented on #645
also actually looks like maybe its been fixed anyway?
https://www.dropbox.com/s/qqnv5fju8kv3qty/Screenshot%202015-09-23%2012.04.59.png?dl=0

[2015-09-23 00:05] rjmackay commented on #645
.. except for the giant margin below the custom-select

[2015-09-23 00:30] #640 closed

[2015-09-23 00:31] #638 closed

[2015-09-23 02:25] rjmackay commented on #429
@vbhv are you already on to this? Just making sure I don't double up work

[2015-09-23 02:34] rjmackay commented on #724
@willdoran Can you triage and figure out what went wrong here?

[2015-09-23 02:35] hollycorbett commented on #429
I have a dumb question - would it make sense to do some kind of custom build of d3 for only what we need?  It covers lots of stuff, and I've been poking it out of curiosity for the last month or two... I feel like what we use it for is pretty specific... but again, I'm no d3 wizard.. so this is just an idea :)

[2015-09-23 02:37] rjmackay commented on #429
probably.. I looked into it a while back, the build system is a bit complicated so might leave custom builds till after launch.

[2015-09-23 02:38] hollycorbett commented on #429
:) indeed

[2015-09-23 02:39] rjmackay commented on #715
@willdoran can you fix / improve this? If you need design help then reassign to Seth with some instructions

[2015-09-23 02:40] rjmackay commented on #714
Guest is a 'no role' role.. maybe we just shouldn't be showing it in the list at all? or maybe we should be sending an empty role. I'm not sure.

[2015-09-23 02:47] #713 closed

[2015-09-23 02:52] rjmackay commented on #482
@willdoran I started figuring this out on the `cache-layer` branch.. but it got sidelined.
This could be good for you to pick up, however high priority bugs probably need to happen first.

This would make an amazing difference to performance.. but we have to be careful we're don't break things by keeping old data.

[2015-09-23 02:58] rjmackay commented on #701
Need to figure out a way to auto generate unique keys for new attributes, but keep them human readable

[2015-09-23 02:59] rjmackay commented on #395
I think there's something in the pattern library for this.. if not, improvise ;)

[2015-09-23 03:00] rjmackay commented on #657
@willdoran if you get through the other bugs, theres this too

[2015-09-23 03:02] #572 closed

[2015-09-23 03:02] rjmackay opened #725 "Update console oauth:client task to use repos"
Follow up to ushahidi/platform#572

[2015-09-23 03:04] rjmackay commented on #695
At the least we should be showing the slug field and prepopulating like we do with form attribute keys.

[2015-09-23 03:06] rjmackay commented on #698
Are you using mod php? or cgi? or php fpm? .. we've had some issues with Apache stripping Authentication headers from PHP cgi requests. I think similar happens with PHP FPM depending on config

[2015-09-23 03:09] #345 closed

[2015-09-23 03:19] #430 closed

[2015-09-23 03:43] rjmackay opened #726 "Handle hitting quota in the client"
Direct user to upgrade when they hit quotas (if they're an admin)

[2015-09-23 07:31] sanel commented on #698
php with fastcgi. I presume then it is the same behavior as for FPM/cgi. Is there any ticket related to this issue I can follow?

[2015-09-23 11:59] vbhv commented on #429
@rjmackay Yes working on it. I've got d3 loading. working on getting dc to load because it also requires a CSS. Will let you know how that goes.

[2015-09-23 14:22] willdoran commented on #724
Hi @adelb,

Would you confirm some things for me so I can reproduce the issue?

1. What Post type were you using? Was it 'Test Form', 'Missing People' or your own custom one?
2. Is the following flow correct,
-Click add post
-Select post type
-Enter title, description, location
   - was the location entered through the map?

-Was the next point where you clicked Save or where 'http://www.openstree

[2015-09-23 14:29] willdoran commented on #715
Hi @middle8media,

What would the best way to display the icon set be? I think placing them in a rectangular box might be simplest. The iconpicker is managed by:

app/common/directives/iconpicker.js
templates/iconpicker/iconpicker.html

and uses the dropdown menu. Whats the best way to adapt the css?

[2015-09-23 14:55] willdoran commented on #714
@rjmackay what is the purpose of the guest role? It doesn't seem to be accounted for in terms of rights.

I can very easily remove it, depending on what you prefer. Sending an empty role might be confusing for the validation.

[2015-09-23 15:58] willdoran commented on #395
there is infact a required class, I'll add it and update it to colour red, it's for the label entity - is it preferable to attach it to the input?

[2015-09-23 17:11] willdoran commented on #395
Ok, this is pushed and @middle8media very kindly pushed the colour change into pattern library.

[2015-09-23 21:28] rjmackay opened #727 "Feature limiting activity view"
Toggle activity view based on features config

[2015-09-23 21:29] rjmackay opened #728 "Feature limit number of post types"

[2015-09-23 22:22] AdelB commented on #724
Hello,

I am sorry but I am not concerned by this issue.

Unfortunately I am not the @adelb you want to reach.

Have a nice day.

Le mer. 23 sept. 2015 15:22, will <notifications@github.com> a écrit :

[2015-09-23 23:58] rjmackay commented on #714
I think this is just left over from an older idea about how we handled roles. We should remove it..

[2015-09-23 23:58] rjmackay commented on #714
Just be sure to check everywhere we use the role helper and make sure nothing breaks :)

[2015-09-24 00:04] rjmackay commented on #482
Possible place to start would be tweaking the config service to optionally reload config as needed

https://github.com/ushahidi/platform-client/commit/087faa142e756450f937d83d887ac3b02793bd07

[2015-09-24 10:23] naheedakhtar commented on #698
I am getting exactly the same error; Please advise.  I am running on Ubuntu 14 & Nginx

[2015-09-24 14:23] #449 closed

[2015-09-24 18:34] #395 closed

[2015-09-24 18:59] #649 closed

[2015-09-24 19:26] willdoran commented on #714
@rjmackay,

[2015-09-24 19:26] #714 closed

[2015-09-24 19:53] sophshep opened #729 "Header formatting broken in pattern library"
Esp. on RTL

http://github.ushahidi.org/platform-pattern-library/assets/html/4_blocks/

It may just need new markup to match the partial. @middle8media i'm assigning this to you since it could possibly be a bug caused by the changes you made when adding the flexible name length, but we can tag team it next week.

[2015-09-24 20:10] #729 closed

[2015-09-24 20:32] rjmackay commented on #728
@willdoran you actually already did this right?
We just need to make sure the UI handles this nicely. i.e don't show create post type buttons if they're already at quota, show a link to upgrade.

[2015-09-24 20:34] rjmackay commented on #726
The main this here is to make sure we handle it nicely. Direct the admin to upgrade when they hit quota..

[2015-09-24 20:34] rjmackay commented on #727
Ideally:
- Show admins a link to 'activity' but then give an unavailable message.
- Hide activity from normal users if its unavailable

[2015-09-24 20:37] rjmackay opened #730 "Limit creating steps based on users plan"
- Only allow creating a single step for mapper and surveyor plans
- Other plans can create multiple steps

[2015-09-24 20:43] rjmackay commented on #730
- Forms with a single step probably shouldn't show steps at all
- Not 100% sure where/how to upsell the ability to add multiple steps though..

[2015-09-25 01:53] rjmackay commented on #698
I don't have a solution for this at all yet. Either:
- Run apache with mod php
- Run nginx with php fpm and add the option `fastcgi_pass_header Authorization;`
.. as far as apache and php-fpm or apache and php cgi I don't know sorry.

[2015-09-25 01:59] rjmackay commented on #724
cc @abelb ^ see Will's comment above :)

[2015-09-25 17:35] abelb commented on #724
ok so... When i first got on the site to login I already had some errors inthe console

![screen shot 2015-09-25 at 10 28 08 am](https://cloud.githubusercontent.com/assets/108173/10107535/aacd9f1e-6370-11e5-9224-7550c27e1e31.png)

I logged in and saw these errors:
![screen shot 2015-09-25 at 10 28 28 am](https://cloud.githubusercontent.com/assets/108173/10107547/bb0cb11c-6370-11e5-8991-3a8fcaf2c0e

[2015-09-25 19:25] willdoran commented on #724
@abelb Ok, thanks, I'll try and reproduce it and update you!

[2015-09-27 03:43] naheedakhtar commented on #698
It took me long time to configure ushahidi on ubuntu 14, NGINX and PHP 5 FPM ; hence i am posting the configuration so that it can be useful to others:

I made 2 folders:

CLIENT FILES LOCATION /var/www/ushahidi/platform-client

SERVER FILES LOCATION /var/www/ushahidi/platform

CLIENT .ENV File CONTENT

   NODE_SERVER=false
   BACKEND_URL=http://ushahidi.XYZABC.com/    ====> // REPLACE xyzabc with

[2015-09-27 20:34] sophshep commented on #644
Let's go with the margin. Even if we move content above the map, the user could get stuck on the map and not be able to scroll up again. @middle8media can you update?

[2015-09-28 01:01] rjmackay commented on #698
@naheedakhtar Thank you! Thats super helpful. Any chance you could send a pull request to https://github.com/ushahidi/docs.ushahidi.com to complete the documentation?
If not, I'll merge some of this in within a few weeks.

[2015-09-28 01:32] #642 closed

[2015-09-28 15:31] willdoran commented on #726
So at the moment, because the limits are handled in the validator - long term ideally somewhere else - I think the most straightforward solution is to intercept the quotas at that point and rather than displaying the error we can broadcast that error to an limits handler if the user is admin.

[2015-09-29 01:17] rjmackay opened #732 ".create-admin div overlaps rest of page"
1. Go to http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/users.html
2. Scroll down the page so that the search box is just below the header
3. Try to click in the search box
Search box isn't clickable because .create-admin div is sitting above it.

https://www.dropbox.com/s/y5130prnz6obt7c/Screenshot%202015-09-29%2014.14.18.png?dl=0

[2015-09-29 01:48] hollycorbett commented on #303
Incidentally - I think its worth checking up on the difference between "published" and "saved" - personally I found the distinction a little confusing at first.  I opted to change this on a "published to" basis - certainly on what I submitted, when I clicked "saved" it did redirect after saving (though I habitually log in as admin), but the post would also show up as unpublished until I actively p

[2015-09-29 17:13] caharding opened #733 "TEST INTEGRATION WITH DOORBELL"
The feedback from Jess on September 29th 2015 was:

View it on [Doorbell](https://doorbell.io/applications/2005/feedback/61350)

[2015-09-29 17:13] caharding commented on #733
Test comment

[2015-09-29 17:14] #733 closed

[2015-09-29 19:44] jshorland opened #734 "text alignment issue in post steps"
1. created a step in post type structure to include checkbox field and short text field
2. added post and tried to complete step
3. saw the following:

![screen shot 2015-09-29 at 2 41 07 pm](https://cloud.githubusercontent.com/assets/3224856/10176114/855452d2-66b8-11e5-95f9-edad80675848.png)

[2015-09-30 04:03] jshorland opened #735 "Text alignment issue in "create category""
1. click on "settings"
2. navigate to "categories"
3. click on "add category"
4. see screenshot

![screen shot 2015-09-29 at 10 55 36 pm](https://cloud.githubusercontent.com/assets/3224856/10184166/515f1c28-66fe-11e5-99b4-c7891f5a1458.png)

[2015-09-30 04:51] jshorland opened #736 "I have to select a color twice and select the first icon for a category to save"
1. navigate to "create category"
2. fill in all applicable fields
3. select color
4. select icon OTHER THAN first one
5. click save
RESULT: nothing happens

To get it to work:
Complete steps 1 - 3
4. select first icon
5. click save
6. nothing will happen, so select another color
7. click save
8. category is now saved and listed

[2015-09-30 04:53] jshorland opened #737 "Categories not appearing in filter side bar after creating and saving them"
I created categories:
![screen shot 2015-09-29 at 11 52 30 pm](https://cloud.githubusercontent.com/assets/3224856/10184692/3dcd53a8-6705-11e5-90ff-40254fdc16c6.png)

But they don't appear in the filters
![screen shot 2015-09-29 at 11 52 40 pm](https://cloud.githubusercontent.com/assets/3224856/10184693/43b31c4e-6705-11e5-99cc-63c9a1ef7a05.png)

This is from the same session, same deployment

[2015-09-30 06:41] jshorland opened #738 "Save button animation never stops on Map Settings"
1. navigated to map settings
2. adjusted lat/long and default zoom
3. clicked save
4. animation still hasn't stopped.

![screen shot 2015-09-30 at 1 36 10 am](https://cloud.githubusercontent.com/assets/3224856/10186129/554d05b4-6714-11e5-82d0-65c3e9353125.png)

[2015-09-30 08:19] #737 closed

[2015-09-30 08:28] #736 closed

[2015-09-30 10:52] #738 closed

[2015-09-30 10:52] #727 closed

[2015-09-30 10:52] #728 closed

[2015-09-30 10:52] #468 closed

[2015-09-30 10:52] #303 closed

[2015-09-30 10:52] #726 closed

[2015-09-30 11:09] #735 closed

[2015-09-30 11:13] #734 closed

[2015-09-30 11:14] #715 closed

[2015-09-30 11:57] Nhorning commented on #519
Robbie Closed this. Does that mean it was done?

--
Neil Horning
Nepal Digital Humanitarian Coordinator
Project Committee | NepalMonitor.org <http://www.nepalmonitor.org/>
Coordination Team | Quakemap.org <http://quakemap.org/>
Mobile: +977 984-959-0609
Skype: nhorning

The Digital Humanitarian Coordinator role is an initiative of the
digital humanitarian community, supported by UNHCR.
Partners in

[2015-09-30 16:38] caharding opened #739 "Update T&C with the CrowdMap T&C"

[2015-09-30 16:38] caharding opened #740 "Update Ushahidi.io Nav to Ushahidi.com nav"

[2015-09-30 17:02] rjmackay commented on #740
Done. @middle8media please double check ushahidi.io/create then close this?

[2015-09-30 17:15] sophshep commented on #739
@middle8media fixed it!

[2015-09-30 17:15] #739 closed

[2015-09-30 17:15] caharding commented on #740
Logo is not correct, should be gold @middle8media can you provide

[2015-09-30 17:18] middle8media commented on #740
here is the correct logo - https://github.com/ushahidi/dotcom-craft-cms/blob/master/public/img/ushahidi-wordmark.svg

[2015-09-30 17:22] middle8media commented on #740
actually I need to change the css, will update in a second.

@rjmackay remove the `.post-launch` class from `<h1 class="logo post-launch"><a href="/">Ushahidi</a></h1>`

[2015-09-30 17:25] caharding opened #741 "Pressing logo on www.ushahidi.io/create should lead to www.ushahidi.com"

[2015-09-30 17:29] rjmackay commented on #740
... read this too late. Updated image, changed css.. finally realised I missed a class!
Thanks!

[2015-09-30 17:29] #740 closed

[2015-09-30 17:29] #741 closed

[2015-09-30 17:29] middle8media commented on #740
just remove `post-launch` class and bring in new css and you will be up to date.

[2015-09-30 17:30] rjmackay commented on #519
Actually I just realised this only work for collections right now.
I'll reopen and get Jason to detail whats still needs to be done. Maybe split this out into a collection of smaller issues? @jasonmule

[2015-09-30 17:51] caharding opened #742 "Add "I forgot my deployment name" to "Login" screen on .io and retrieve from email address"
Allow a user to find the deployments their email address is associated with.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-726

[2015-10-01 20:26] middle8media commented on #644
reopening this so class change in `pattern-library/5_layouts/home-map.html` and css in `assets/sass/4_blocks/_map.scss` can go into the client.

[2015-10-01 20:27] middle8media commented on #644
screenshot of the solution

![screen shot on 2015-10-01 at 16-24-16](https://cloud.githubusercontent.com/assets/1033332/10232894/519049e0-6859-11e5-915c-ab6b619a4137.png)

[2015-10-02 06:15] jasonmule commented on #519
It's mainly getting this to work the same way for saved searches for now.

[2015-10-02 17:29] caharding opened #743 "Post button and feedback button overlap"
MacBook full screen on Chrome

<img width="1280" alt="screen shot 2015-10-02 at 10 28 52 am" src="https://cloud.githubusercontent.com/assets/1618793/10253117/8149829a-68f0-11e5-80c2-267e9812c1c7.png">

[2015-10-02 17:37] sophshep opened #744 "Deployment Home URL"
Should just be deployment-name.ushahidi.io, without "/views/map" at the end of it

cc/ @brandonrosage

[2015-10-02 17:39] sophshep opened #745 "Default Publishing Settings"
When adding a post, they do not get published by default. This should be something that can be defined in the Post Type Settings.

When setting up a new post type, i should be able to choose "who can see these post types?" with small text that you can still update this on a post-by-post basis.

cc/ @brandonrosage

[2015-10-02 17:42] sophshep opened #746 "System Feedback"
There should be feedback almost any time a user takes a significant action. Such as:

* adding a new post
* adding a post to a collection
* Changing a user role

This feedback should use the confirmation message pattern: http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/confirmation.html

cc/ @brandonrosage

[2015-10-02 17:45] sophshep opened #747 "Redirects to Log-in"
When viewing a deployment that I'm not logged into, it prompts me to log in when I navigate to a new page. (such as clicking to view list on Quake Map)

A user should only be prompted to log-in if it is necessary to the action the are trying to take. Otherwise, they should be able to explore the site without being asked to log in.

cc/ @brandonrosage

[2015-10-02 17:46] sophshep opened #748 "Never-ending Save button after post edit"
When I edited a post and hit "save" the cog kept spinning for an extended period of time. There was no confirmation that my changes had been made.

[2015-10-02 17:48] brandonrosage opened #749 "Map Settings: Remove default zoom and lat/lng?"
Instead of offering controls for the map view's default zoom, lat, and lng, can we simply always have the map center and zoom to the data set in context? This would ensure consistency and offer better system feedback when filtering -- the map would move around as they manipulated their data set.

I think we'll be on a good path for all views if we build them to be inherently responsive to the data

[2015-10-02 17:52] sophshep opened #750 "Error when creating Saved Search"
I tried to create a saved search within a date range, it gave me an error.

![image](https://cloud.githubusercontent.com/assets/527589/10253707/740eba1e-6904-11e5-88b6-389611681670.png)

[2015-10-02 17:55] brandonrosage commented on #745
Task for me: Part of the create "Tour" should be a quick rundown of the default settings.

E.g. "New posts to your deployment will not be automatically published. They'll require your team to review and publish them. You can change this in your deployment's 'Post Types' settings."

[2015-10-02 18:00] brandonrosage opened #751 "Editing existing Post Type throws error for free 'Mapper' users"
When attempting to rename the single Post Type my Mapper account allows, the deployment threw me an error, seemingly assuming that I was creating a new Post Type: http://d.pr/i/18reU

As a Mapper, I should be able to edit the name and description of my Post Type without issue.

[2015-10-02 18:00] sophshep opened #752 "Editable post dates"
I have run into an issue (as has @jshorland) of posting something that happened in the past, and that post then gets the date of when it was posted. To solve this issue, I think we should treat it like this:

1. Date posted is the default date
2. "Date X Happened" can be added as a field in a custom post type
3. Date range filter should show all date types
4. On bar charts, there should be a dropd

[2015-10-02 18:12] brandonrosage opened #753 "Create new deployment: Requires me to log in"
When creating a new deployment, I enter my email, password, etc. I go through the tour. And it says my deployment is ready. I arrive at the deployment, but as a visitor -- no admin functionality. I still have to log in.

Ideally, the user would arrive logged in.

If that's not technically possible, they should at least be delivered to a dedicated "Hey, log in now." screen -- not an empty deploymen

[2015-10-02 18:13] sophshep opened #754 "No way of removing a post from a collection"
Once a post is added to a collection, there's no way of removing it.

Possibly need to rethink behavior around adding things to collections. Could it work like Google+?

![image](https://cloud.githubusercontent.com/assets/527589/10254072/0f2793de-6907-11e5-8f87-a8205297ee37.png)

cc/ @brandonrosage

[2015-10-02 18:25] sophshep opened #755 ""All Posts" shouldn't be a default saved search"
Having "All Posts" as a default saved search is redundant since Home shows all posts.

cc/ @brandonrosage

[2015-10-02 18:31] sophshep commented on #749
If not, can we work out some UI around setting the center of the map? I wanted to center my default map on the US but had to google what the Lat/Long of that was. If would be more user-friendly to be able to zoom, click, & drag the map to what I want to have as default, and then have a "save this view as default" button.

[2015-10-02 18:49] Shadrock commented on #749
I'd suggest leaving some option for setting the map center: what if all a majority of my posts are coming from a place that I don't want to focus on? Strange, but might happen. Or what if, over time, I really want a visitors first view to be of a particular subset of my data to underscore something about the data? I do very much like the "click & drag" method Sophie mentions here.

[2015-10-05 15:11] brandonrosage commented on #749
@Shadrock My underlying concern here is that the UX for manipulating "views" is inconsistent. When users interact with filters and view controls (e.g. zoom, panning), their changes to the dataset are honored.

For example, if they narrow the dataset to posts in a certain region, from the category "injury," the map sure-as-hell better pan and zoom to that region, and only show posts that match that

[2015-10-05 15:26] brandonrosage commented on #754
@sophshep Any objection to me mocking this up in the PL this week? If you want it, take it. But I think it should get pieced together relatively soon. It's a nasty UX at the moment.

[2015-10-05 15:28] brandonrosage commented on #752
@vbhv We discussed the notion of adding a select control to Timeline view (for example) that allowed the user to define the 'date type.' While it adds UX complexity, what's your take on it's technical complexity? Or your take on it, generally?

[2015-10-05 15:28] sophshep commented on #754
Go for it. I think we should just kind of copy the Google+ interaction - but let me know if you want to talk any of it through or need help with design or code.

[2015-10-05 17:44] vbhv commented on #752
@brandonrosage The requirements/cases for this feature are documented here – under the heading **Timeline and Bar Chart Views, Iteration 2**:

https://docs.google.com/document/d/18-4bA0uSJbDU-PtbW5BzZThgRaUbd4JtcBxOFAUSaHU/edit#heading=h.5qlx5nnt2lua

And the UI wireframing task is #666 . A good drag and drop interaction pattern will make this an easy to understand interaction. We can have a brain

[2015-10-05 19:42] brandonrosage commented on #754
@sophshep Here's a mockup in the PL for a "custom fielder" pattern: http://github.ushahidi.org/platform-pattern-library/assets/html/2_fragments/#pl-pattern-forms

Without JavaScropt, it's just treated as a basic `<fieldset>`:

![Screen, without JS](http://d.pr/i/1aHUa+)

With JavaScript, it treats the `<legend>` as a button that looks like a `<select>` control, and puts the rest of the fieldset's

[2015-10-05 20:51] sophshep commented on #754
This looks perfect - love the "create collection" functionality too. It looks like when it's inline, it breaks a little:

![image](https://cloud.githubusercontent.com/assets/527589/10293200/20443e52-6b68-11e5-9ab4-afc0bcb8b65b.png)

Let's test it in layouts, then send it on over to dev team.

[2015-10-05 20:52] brandonrosage commented on #754
Working on a fix to that. I'm halfway there. But I'm afraid it's going to call for a global revision to how we handle toggling. The change itself is minor, but it'd involve touching more than one pattern/layout.

[2015-10-05 21:16] rjmackay commented on #754
This looks really good. We had some API issues that prevented implementing
removing posts in the first place. But having a pattern will make this much
easier too..

Would it make sense to share this pattern with things like publishing
posts/collects/etc to particular roles too?

On Mon, Oct 5, 2015 at 4:52 PM, Brandon Rosage <notifications@github.com>
wrote:

--
Robbie Mackay

Senior Software Deve

[2015-10-05 21:21] rjmackay commented on #752
@vbhv We discussed the notion of adding a select control to Timeline view (for example) that allowed the user to define the 'date type.'

I think this is relevant for other views too: if filter by date, which date? when post list is in date order, which date?
One problem with how we store the data for posts is that if you add 'Date X Happened' to a post type.. each post type will have a different

[2015-10-05 21:24] rjmackay commented on #749
UI for managing views really isn't built yet. We only have map settings..
where we should have 'view settings' with each of the views list,
enabled/disabled and configured. Need to figure out where this falls in our
priorities.. there are lots of clean ups needed to match the PL properly.

On Mon, Oct 5, 2015 at 11:11 AM, Brandon Rosage <notifications@github.com>
wrote:

--
Robbie Mackay

Senior S

[2015-10-06 01:49] rjmackay commented on #753
We can redirect them to /login on their deployment.
It might be possible to auto log them in.. but I don't think we've probably got other things to fix first.

[2015-10-06 17:24] willdoran commented on #750
I can reproduce this, I'll fix it now

[2015-10-06 17:47] willdoran commented on #750
There was an incorrect check so the savedsearch wasn't getting properly set before sending. I've updated it now. I'm going to push it to master, @rjmackay should it go in cloud too?

[2015-10-06 18:01] willdoran commented on #751
I've reproduced this and fixed it. The limit check has been moved to create only not update for forms

[2015-10-06 18:52] willdoran commented on #724
@abelb I'm having trouble reproducing, is this still occurring for you?

[2015-10-06 18:55] willdoran commented on #746
I'll go through and make sure this is added across the interactions.

[2015-10-06 23:07] abelb commented on #724
yes it is fixed!

[2015-10-09 02:49] #724 closed

[2015-10-09 17:44] rjmackay commented on #747
Just noticed one of the issues is trying to load tags for a post when those tags aren't visible to the current user.
- We shouldn't let that fail bounce us to login
- We also shouldn't be exposing private tags on a post if you can't see them

[2015-10-10 09:02] JoinJoin opened #758 "slug must contain only numbers, letters and dashes"
Validation Error
slug must contain only numbers, letters and dashes

This happens, if Category Name has characters like õ ä ö ü

[2015-10-10 09:14] JoinJoin opened #759 "Create Basic Post starts out with a map in USA, ignores Map Settings"
Create Basic Post starts out with a map in east coast USA, ignores Map Settings default location.
This is extremely annoying.

[2015-10-10 09:20] JoinJoin opened #760 "zooming in-out with a mouse wheel is not working on a "home page" map."
zooming in-out with a mouse wheel is not working on a "home page" map.
Works on a small map, when adding a new post.

[2015-10-10 09:25] JoinJoin commented on #748
I can confirm.
Leaving the page saves the changes.

[2015-10-10 13:45] rjmackay commented on #760
This is intentional.. mouse wheel zoom often gets in the way when scrolling the full page, particularly on small screens.

[2015-10-10 13:45] #760 closed

[2015-10-10 19:28] naheedakhtar commented on #698
Sorry for delayed response as i was travelling...i will be sending the pull request as requested

[2015-10-12 14:28] sophshep opened #761 "User Display Name doesn't update"
When changing my display name in the account settings, I hit save. The save button confirms that the change has been made, but the user drop down area still has my old name (in this screenshot, "test"). Even when I navigate to other pages, this still says "test"

![image](https://cloud.githubusercontent.com/assets/527589/10430162/458695c4-70c3-11e5-98fc-c5e1cdeb7754.png)

[2015-10-12 14:42] sophshep commented on #761
It does update when I log out and then in again.

[2015-10-12 15:12] sophshep opened #762 "Site Language shows all langs, not just those actually translated"
In the general settings, should the language dropdown only show languages that v3 has been translated into? Currently it shows all languages.

![image](https://cloud.githubusercontent.com/assets/527589/10431233/a83ff754-70c9-11e5-817f-d660d94179de.png)

[2015-10-12 15:29] sophshep opened #763 "Site Language"
In the general settings, should the language dropdown only show languages that v3 has been translated into? Currently it shows all languages.

![image](https://cloud.githubusercontent.com/assets/527589/10431233/a83ff754-70c9-11e5-817f-d660d94179de.png)

By changing the language here to a RTL language, it should update the layouts accordingly.

[2015-10-12 15:30] #763 closed

[2015-10-12 15:30] sophshep commented on #762
By changing the language here to a RTL language, it should update the layouts accordingly.

[2015-10-12 15:58] sophshep opened #764 "Pagination showing with only 1 page"
The pagination should only be displayed if there is more than 1 page

![image](https://cloud.githubusercontent.com/assets/527589/10432370/219d238c-70d0-11e5-83e2-01143ced6bac.png)

[2015-10-12 16:20] sophshep opened #765 "No place for new user to define display name"
When I sign up as a new user on an existing deployment (at deploymentname.ushahidi.io/register), it has me enter my email and password, but not a display name.

Then, as an admin, I can't see who just signed up:

![image](https://cloud.githubusercontent.com/assets/527589/10432795/3e1c785c-70d3-11e5-88b7-7a40feb7ec08.png)

[2015-10-12 16:45] sophshep opened #766 "Map Settings Base Layer not updating"
When I change my mag settings base layer in my map settings, they do not update on the Map View.

The map does update correctly on the map settings page:
![image](https://cloud.githubusercontent.com/assets/527589/10433066/d8daa0b6-70d4-11e5-9a7d-2f321248f1bd.png)

But not on the map view:
![image](https://cloud.githubusercontent.com/assets/527589/10433338/a575ce1a-70d6-11e5-85f6-95888b4700df.png)

[2015-10-12 18:24] sophshep opened #767 "Map Settings Checkbox should say "posts""
on the map settings page, there is the checkbox that says "Combine nearby reports" It should say "posts" instead of "reports"

[2015-10-12 18:38] sophshep opened #768 "Page flow after sign-in"
After a period of inactivity, I tried to navigate to a settings page in my deployment. I was prompted to log in, and after I had logged in, I was sent to the home page of my deployment instead of the settings page I was trying to get to. I then had to click through to the settings page.

As user should be navigated to the URL they were trying to access before the log-in wall.

[2015-10-12 18:55] sophshep opened #769 "Broken form formatting on data sources entry"
The formatting within the form is broken:
![image](https://cloud.githubusercontent.com/assets/527589/10435935/cfee2612-70e8-11e5-8899-ddfe7b387b4d.png)

cc @middle8media

[2015-10-12 19:39] sophshep commented on #748
This also happens when updating and saving data sources

[2015-10-14 07:17] #717 closed

[2015-10-15 16:12] ushbot opened #770 "Trouble saving twitter settings"
The feedback from ubiquitoussounds66 on October 15th 2015 was:

View it on [Doorbell](https://doorbell.io/applications/2005/feedback/65860)

[2015-10-15 16:28] conanttom commented on #770
This is ubiquitoussounds66.  Just to expand, when I go to save the twitter setup it simply just never stops 'processing' the save.  The saving button animation just keep on and nothing changes.  I've tried using different API keys but that didnt fix it

[2015-10-15 16:31] sophshep commented on #770
I logged a similar issue in #748.

If you navigate away from the page and then back, is the information there and saved? I have a feeling it is just an issue with the feedback loop on the save button, not an issue with the actual functionality.

[2015-10-15 16:46] conanttom commented on #770
When I navigate away and then back it doesn't save.  Also of note, this problem also seems to occur when I try to submit a basic post.  I was able to add basic posts yesterday, but now it seems as though I can't submit anything anywhere

[2015-10-15 17:22] sophshep opened #771 "Mustang: Add full featured Post Pop-up"
A user should have the ability to edit or add a post to a collection directly from the post pop-up in the map view. It currently displays like this in the client:

![image](https://cloud.githubusercontent.com/assets/527589/10521757/2759b0ba-7337-11e5-9f68-59e2be326d9b.png)

It should display like this, with the date, edit button, and add to collection select.

<img width="339" alt="screenshot 2016

[2015-10-15 18:14] sophshep opened #772 "Page after creating a new post type"
Currently, a user is directed to the "edit structure step" page directly after creating a new post type:

![image](https://cloud.githubusercontent.com/assets/527589/10523011/c720efc2-733d-11e5-88c8-62c10513880a.png)

Instead, they should be directed to the post steps setting first:

![image](https://cloud.githubusercontent.com/assets/527589/10523171/a4ffa6b2-733e-11e5-9883-9734e09292bf.png)

[2015-10-15 18:29] jasonmule commented on #748
@sophshep I managed to reproduce the issue with dataproviders so I am not sure if this is related to #770

[2015-10-15 19:35] sophshep opened #773 "New Field Labels"
We should rethink what each of the field types are called. For example, I don't think a layperson (non web designer/dev) knows what a "Radio Button" is vs. a "Checkbox" vs. a "select"

![image](https://cloud.githubusercontent.com/assets/527589/10525361/ee2c6e32-7349-11e5-9f04-86ed3e5e4dab.png)

cc/ @brandonrosage

[2015-10-15 19:56] #770 closed

[2015-10-15 20:15] sophshep opened #775 "Saved Searches Title bug"
Saved searches have a bug where the Saved Search name repeats:

![image](https://cloud.githubusercontent.com/assets/527589/10526271/6e6aaffa-734f-11e5-9453-1dbc8a62a409.png)

[2015-10-15 21:20] sophshep opened #776 "Default View"
An admin should be able to set their deployment's Default View (the view shown on the home screen) from within General Settings

[2015-10-16 11:21] jasonmule opened #777 "Update notification CLI tasks to use usecases"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-725

[2015-10-16 14:14] sophshep commented on #754
2 things:

1. we should add a "remove from collection" button in the bulk editing in the list view of a collection
2. I'll replace pattern for permissions of who can see a post on the create post page with this

[2015-10-16 14:20] jshorland commented on #659
Assign to @sophshep. Language needs to be re-thought around this.

[2015-10-16 14:21] jshorland commented on #657
Assigning to @willdoran

[2015-10-16 14:23] jshorland commented on #347
This is an issue where we need better communication to the user as to what they need to do to be able to turn it on. assigning to @sophsephard

[2015-10-16 14:31] jshorland commented on #351
Is this still a thing @rjmackay? Can't seem to recreate this.

[2015-10-16 14:39] sophshep commented on #680
This is something we already have in the pattern library, I think. If you go to http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/post-type-structure.html and then edit one of the fields, there is the ability to add instructions to the field.

[2015-10-16 14:42] #645 closed

[2015-10-16 14:42] jshorland commented on #650
is this done?

[2015-10-16 14:44] #606 closed

[2015-10-16 14:45] #527 closed

[2015-10-16 14:49] jshorland commented on #446
Closing because there is another issue that's better.

[2015-10-16 14:49] #446 closed

[2015-10-16 14:50] jshorland commented on #423
This needs to get figured out when we figure out steps.

[2015-10-16 14:52] jshorland commented on #400
needs to go into broader issue for categories

[2015-10-16 14:53] sophshep commented on #399
Need to figure out when and why a user would need a timestamp. How do they edit that?

[2015-10-16 14:56] #391 closed

[2015-10-16 14:57] jshorland commented on #392
Security issues with this

[2015-10-16 14:58] sophshep commented on #392
But we should make the "my location" select more prominent in this view:

![image](https://cloud.githubusercontent.com/assets/527589/10545075/68919434-73ec-11e5-8f35-55944bdb7962.png)

If you missed it as I did the first few times, it's under the zoom buttons

[2015-10-16 14:59] jshorland commented on #389
Can you input on this from a technical perspective, @rjmackay

[2015-10-16 15:00] jshorland commented on #388
@rjmackay -- i think this exists now. Can you confirm and close if so?

[2015-10-16 15:01] #385 closed

[2015-10-16 15:03] #384 closed

[2015-10-16 15:03] jshorland commented on #383
Brandon created tour. Closing

[2015-10-16 15:03] #383 closed

[2015-10-16 15:04] jshorland commented on #381
Duplicate of another. closing.

[2015-10-16 15:04] #381 closed

[2015-10-16 15:08] jshorland commented on #380
Test location search filter on home page.

[2015-10-16 15:09] #379 closed

[2015-10-16 15:09] #376 closed

[2015-10-16 15:14] jshorland commented on #375
This is automatically shared if you make it visible to everyone. It will automatically appear to other admins within their deployments under "collections".

Need to revisit at some point -- what happens if there are 10,000 collections visible to everyone? what if someone doesn't want to see your collection?

[2015-10-16 15:14] #374 closed

[2015-10-16 15:16] jshorland commented on #364
Close and merge into larger issue about "steps"

[2015-10-16 15:16] #364 closed

[2015-10-16 15:16] jshorland commented on #369
Duplicate. Closing.

[2015-10-16 15:16] #369 closed

[2015-10-16 15:16] #368 closed

[2015-10-16 15:17] sophshep commented on #368
Rethinking this using the dropdown select patter in this issue: https://github.com/ushahidi/platform/issues/754

[2015-10-16 15:19] #366 closed

[2015-10-16 15:20] jshorland commented on #362
Rethinking with "steps".

[2015-10-16 16:15] jshorland opened #778 "Add social sharing"
Add sharing buttons to:
1. deployment
2. collection
3. individual posts

[2015-10-16 16:37] middle8media commented on #650
This is not done, I need to step up and finish, I have put it off for too long.

[2015-10-16 19:40] #751 closed

[2015-10-16 19:41] #750 closed

[2015-10-16 19:46] willdoran commented on #397
I can add this under  #746 - which I think needs some discussion before it can proceed.

[2015-10-16 23:35] caharding opened #779 "On account creation, domains should be searched in real time to let you know if its taken"

[2015-10-18 20:44] rjmackay commented on #392
- We can grab user location automatically.. most browsers will ask them for permissions.
- Design tweaks for a more obvious 'find my location' would be good..

[2015-10-18 20:46] rjmackay commented on #389
Technically possible to both handle some basic operations while offline, and ping the server to check status. But its a huge jump in complexity I don't think we should dig into until everything else is a bit more stable

[2015-10-18 20:48] rjmackay commented on #399
Which view is this on? screenshot? is this a custom field date or post date?
Formatting these should be pretty trivial.. but need to be careful about international date formats.

[2015-10-18 20:49] rjmackay commented on #400
what? "The part for type and status on posts" <- screenshot? what are we talking about here?
Categories have customised icons / color already so this sounds like something that already exists.

[2015-10-18 20:51] rjmackay commented on #423
@jshorland if thats supposed to be a bump in priority can you drop this into a milestone too?
The main way I've been tracking what we should be working on soon is by dropping it into a milestone.

[2015-10-18 20:52] rjmackay commented on #446
Please flag the duplicate issue number when you close so anyone tracking can find it :)

[2015-10-18 20:54] rjmackay commented on #351
Yea it is. Only on the map on post detail pages. We're using the posts attribute key instead of some kind of sane label.

[2015-10-18 20:55] rjmackay commented on #609
This is a blocker for importing categories from ushahidi 2.x

[2015-10-18 20:56] rjmackay commented on #659
Worth noting we need to show published/draft status on the post detail pages too

[2015-10-18 21:06] rjmackay commented on #775
@sophshep feel free to add a 'bug' label for stuff like this which is obviously broken :)

[2015-10-18 21:08] rjmackay commented on #773
:+1: super happy to have some non-developer input on stuff like this. There are a few places like this we just rushed through to get to launch.

[2015-10-18 21:10] rjmackay commented on #772
This was intentional to try and get users started settings up their post type quickly.
I think having to think about steps first is just going to confuse a lot of people who haven't even figure out what a step is yet.
cc @jshorland

[2015-10-18 21:13] rjmackay commented on #492
Closing in favour of #771

[2015-10-18 21:13] #492 closed

[2015-10-18 22:06] rjmackay commented on #779
Part of #718

[2015-10-19 15:04] sophshep commented on #399
This is on the post detail page, specifically on a "date" field (not the default one, but if I add a field for the date)

![image](https://cloud.githubusercontent.com/assets/527589/10581502/ad9861f8-7648-11e5-8caa-82fe9190b239.png)

Since this will be entered manually in the field, I'd suggest having "date" as one field option and "time" as another.

[2015-10-19 16:16] sophshep opened #780 "New Category with symbol Error"
When i have a symbol (in my case `>`) in the category description, it gives me an error

![image](https://cloud.githubusercontent.com/assets/527589/10583460/b9fd52a0-7652-11e5-85b0-480665b2a858.png)

[2015-10-19 17:11] sophshep opened #781 "Categories: create and edit from post creation"
Figure out UI for this

[2015-10-19 17:17] sophshep opened #782 "Post Detail: visual updates to sync with pattern library"

[2015-10-19 18:11] brandonrosage opened #783 "Design/build location picker for all 'location' fields"

[2015-10-20 01:38] eyedol commented on #665
Any status on this?. At least had a chance to looked at it to see if there is something broken with the `refresh_token` feature. I'm hitting this all the time when I attempt to access a protected resource with an expired token.

[2015-10-20 17:55] willdoran commented on #780
@sophshep Yep, so the regex for this is /^[\pL\pN\pP ]++$/uD so it matches letter, punctuation and numbers - should we improve the error message or does the regex need to change?

[2015-10-20 17:56] sophshep commented on #780
What's the downside of allowing symbols here?

[2015-10-20 18:00] willdoran commented on #780
It might have been legacy to protect against injection or to avoid html/js being inserted. I'll double check that it's ok but it should be possible to allow symbols @jasonmule @rjmackay what do you think?

[2015-10-20 18:04] sophshep commented on #780
If we don't allow the symbols, could we update the error to say "You can't have symbols in your category description". It took me a while to realize why I was getting the error.

[2015-10-20 18:11] willdoran commented on #780
Yep I can certainly do that!

[2015-10-20 18:38] willdoran commented on #780
Ok I've created a pull request for it

https://github.com/ushahidi/platform/pull/785

once it's test pass I can merge it. @sophshep
are the messages ok?
https://github.com/ushahidi/platform/pull/785/files

[2015-10-20 19:51] willdoran commented on #767
I will fix this now

[2015-10-20 19:53] willdoran commented on #767
Changed

[2015-10-20 19:53] #767 closed

[2015-10-20 20:21] willdoran commented on #765
Ok I've added this as
https://github.com/ushahidi/platform-client/pull/28 for client
and
https://github.com/ushahidi/platform/pull/786 for platform
if it fits I'll merge them into master

[2015-10-20 20:23] #765 closed

[2015-10-20 20:55] willdoran commented on #747
I'm seeing a similar error with collections but this appears to be related to a notifications rights error.

[2015-10-20 21:04] rjmackay commented on #665
@jasonmule can you have a poke at this in the backend?
Pretty sure getting access tokens via refresh token don't get the correct scopes. But needs testing.

[2015-10-20 21:12] #421 closed

[2015-10-20 21:12] #685 closed

[2015-10-20 21:22] rjmackay commented on #723
Closing in favour of #397

[2015-10-20 21:22] #723 closed

[2015-10-20 21:24] rjmackay commented on #761
Dupe of #721

[2015-10-20 21:24] #761 closed

[2015-10-20 21:26] rjmackay commented on #690
ping @sophshep is this still on the radar?

[2015-10-20 21:27] rjmackay commented on #643
@jshorland do we care about this? Do the support links in the footer need changes at all?

[2015-10-20 21:28] rjmackay commented on #469
@willdoran how much of this is already covered by your changes?

[2015-10-20 21:30] sophshep commented on #773
Here are what the options should be. Some of them have a description.

-------
### Short Text
A sentence or less

-------
### Long Text
Multiple sentences or paragraphs

-------
### Number
*note for dev: should have radio button within the settings to decide on if it should be an integer (default) or decimal*

-------
### Location

-------
### Date

-------
### Time

-------
### Radio Button(s)
Al

[2015-10-20 21:31] rjmackay commented on #399
.. we already have 'date' or 'date + time' fields. Lets just confine this issue to the simple change: nice date formatting on custom fields

[2015-10-20 21:37] sophshep commented on #392
I'm going to close this in favor of #783, where @brandonrosage is planning on rethinking how this location picker works and should be displayed.

[2015-10-20 21:37] #392 closed

[2015-10-20 23:09] rjmackay commented on #773
I don't think thats accurate. The contents of the field is a "Related Post" .. not a post type.

We don't have this.. We have date + time which is a different thing. I suspect we should have both. If you're recording the time of an event you don't want to record date and time like separate things, you can't to record a datetime (at least from a data point of view)

[2015-10-20 23:10] rjmackay commented on #773
Any thoughts on the layout of the type chooser? the current grid is super awkward and doesn't work well on smaller screens.

[2015-10-20 23:49] sophshep commented on #773
Assigning back to myself to create a basic layout example in the PL

[2015-10-21 15:36] brandonrosage commented on #773
I've created a very basic fragment-level pattern for "list items," which provides styles for `<li class="list-item">` and `<dt class="list-item"></dt><dd></dd>` HTML patterns for problems like this, where we need a simple list of content (selectable or not). We can expand on it, as needed.

![list items](https://cloud.githubusercontent.com/assets/1136279/10641603/8245a0d6-77df-11e5-8132-0ac70d5a81

[2015-10-21 15:41] sophshep commented on #780
Can you make it say "The category name..." rather than "tag name"? Otherwise, all good! Thanks.

[2015-10-21 16:32] willdoran commented on #780
Yep done!

[2015-10-21 16:32] #780 closed

[2015-10-21 17:36] sophshep commented on #782
@rjmackay I've made some tiny changes to the post detail page so that it looks better when it has less content, as most deployments don't have a lot of content. They are mainly in CSS so won't require any changes in the client, but one of the changes is that the field/section headers on this page are now h4s (instead of h3s).

http://github.ushahidi.org/platform-pattern-library/assets/html/5_layou

[2015-10-21 18:05] willdoran commented on #747
I need to refine the query for posts so that it only returns entities that the user is authorised for at the moment it's a small hole in how the data is gathered and then retrieved by the client.

[2015-10-21 18:54] sophshep commented on #781
Users should be able to create new categories while adding posts. I've added [this pattern]( http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/create-post.html) to the Pattern Library, but it needs to be added into the client. Can you assign it to someone @jshorland?

![image](https://cloud.githubusercontent.com/assets/527589/10646699/376e9c28-77fa-11e5-8474-6c3a99382bfd.pn

[2015-10-21 18:59] sophshep commented on #773
Love this, because it will also work best on a small screen and won't have the uneven heights issue of the current layout. @rjmackay do you have enough here or do you need a mockup?

[2015-10-21 19:21] brandonrosage commented on #690
# Posts
(includes All Posts, Saved Searches, and Collections)

* **Keyword**: Text input; visible to everyone
* **Categories**: Multi-select checkboxes, optionally nested; visible to everyone
* **Post Type**: Multi-select checkboxes, optionally nested with its Steps (selecting a Step indicates that you want to see posts that have completed that Step); visibility maps to each Post Type's visibility

[2015-10-21 19:28] brandonrosage commented on #754
@rjmackay The individual 'custom fieldset' fragment pattern, as well as the global 'toggle' pattern that supports it, are ready for implementation. Both are very-well documented in the Pattern Library's [Issue No. 6](https://github.com/ushahidi/platform-pattern-library/issues/6).

Here's a screenshot of the 'custom fieldset' pattern, for example.
![Custom fieldset](https://cloud.githubusercontent.

[2015-10-21 20:08] sophshep commented on #690
Can you specify what you mean by custom fields and how the select for something being filterable should work? If this is a later phase thing, we should add in "location" as a filter until it's ready.

Filters also show up on the [Activity Timeline](http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/activity-timeline.html) with a new option of "Activity Type" which I would de

[2015-10-21 20:12] sophshep commented on #754
In addition, the "Delete" button in the list-actions bar should become a "remove from collection" button when a user is viewing a collection, so that they have bulk editing capabilities.

![image](https://cloud.githubusercontent.com/assets/527589/10648772/194b593c-7806-11e5-9c70-1cdf67f6eeac.png)

[2015-10-21 20:15] brandonrosage commented on #690
## RE: Custom fields
There would be an accordion item for each of the custom fields belonging to the included Post Types' Structure.

So if the user was viewing two Post Types -- one with an added location field and the other with an added select field -- those fields would be represented as accordion items. The "location" accordion item would be labeled with the custom field's name and reveal a l

[2015-10-21 21:19] sophshep commented on #347
The issue with this is that it's unclear that the toggle is disabled when a user has not entered adequate set-up info. I've updated [the pattern in the pattern library](http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/data-sources.html) to look like this:

![image](https://cloud.githubusercontent.com/assets/527589/10650400/e4a95464-780e-11e5-8717-66744d4fc9db.png)

If a da

[2015-10-21 21:29] sophshep commented on #342
I think this is similar to an issue i made here: #772

Either way, I am going to close this for now since @brandonrosage and I are planning on getting together on Friday to totally rethink this flow.

[2015-10-21 21:29] #342 closed

[2015-10-22 06:25] jshorland commented on #347
this looks awesome, Sophie. Thank you.

[2015-10-22 09:07] aoduor opened #788 "Reset password "Invalid Token" + Non clickable link in email"
Steps to reproduce:-
* Click on reset password and add appropriate email address

Expected outcome
* Email with link to reset password received in mailbox
* reset password link should redirect to page to create a new password
OR
* Password reset token entry results in successful reset password.

Actual outcome
* Reset password link received via email is not clickable
* I entered the reset password

[2015-10-22 09:08] aoduor commented on #788
Tried it a second time - same response.

[2015-10-22 10:26] aoduor opened #789 "UX: Make error messages a little more visible"
Would be great if we changed the color of error messages to something more vivid e.g Red.

I was trying to create a new deployment with a used domain name and didn't realise there was an error message displaying on the top of the page in black :).
 ![screenshot](http://i.imgur.com/Gb0Xo7A.png)

[2015-10-22 12:22] aoduor opened #790 "Unable to load deployment on Ushahidi.io"
Related to #789.

So, i tried creating angela.ushahidi.io - with an email address that already has an existing deployment on it - and was oblivious to the error messages being shown up there - and it would seem the deployment got registered either way.

https://angela.ushahidi.io throws an error when trying to load on mobile and on web

![screenshot](http://i.imgur.com/Y49O1Jn.png)

[2015-10-22 12:27] aoduor opened #791 ""Report a bug" button on web version of ushahidi.io should point to doorbell feedback form"
I know we have the "Feedback" form at the bottom of the page, but "Report a bug" tends to be more visible.

Recommendation is either get rid of one, or have "Report a bug" link to our doorbell.io feedback form.

Thoughts?

[2015-10-22 12:37] aoduor opened #792 "Feedback on successful actions"
At the moment, when you click save, or post something - the user doesn't get any feedback or a prompt to confirm that "You've successfully saved/posted" or something. I just saved my settings and if it weren't for my keen eye on the slight page reload, i wouldn't be clear of my save action was successful or not - we should add these in.

[2015-10-22 14:27] jshorland commented on #792
Duplicate of #746 . Adding this note to that post and closing

[2015-10-22 14:27] #792 closed

[2015-10-22 18:54] willdoran opened #793 "Handling unviewable associated errors causing 403"
In the case that - for example a post - has an associated entity that is unviewable by the current user - for example a tag - the client will receive a 403 when it requests the tag. This causes the client to bounce the user to the login page.

This occurs because, while the post is cleared to be viewed it's associated entity may not be. At present only the tag ids are returned when a group of post

[2015-10-22 20:33] willdoran commented on #469
@rjmackay All of these should be covered by it. I'll copy this over and close this as a dup.

[2015-10-22 20:35] willdoran commented on #746
Should also cover

    Show error icon/message when a 'completed' stage becomes invalid (during edit)
    Show error icon/message when post can't be saved as published because of invalid fields
    Denote required fields
    Note required stages
    Clearer completed/incomplete button?

[2015-10-22 20:35] willdoran commented on #469
Covered by #746

[2015-10-22 20:35] #469 closed

[2015-10-23 09:55] aoduor commented on #347
Additionally, I noticed that the toggle menu doesn't work for options not available on a certain upgrade path too - we should enable that, or find a way to make it clear from the onset that "this data source is not available under this plan"

And yes, @sophshep that looks awesome!

[2015-10-23 09:57] jasonmule commented on #665
@eyedol Could you try making the request without scopes? I am hoping that the original scopes get assigned instead.

[2015-10-23 10:02] aoduor opened #794 "Change Post Type limit messaging on "Mapper""
At the moment, it says "You have reached the limit of post types for your plan. To get more simply upgrade your plan."

That would imply that an attempt has been made to increase their post types(which they can't) :D.. I know, nit picky but, I would prefer something along the lines of

"Your current plan limits you to one post type. To get more post types, simply upgrade your plan"

:D :D

[2015-10-24 16:31] willdoran opened #795 "User list does not refresh on delete"
When a user is deleted the user list does not reresh.

[2015-10-26 07:03] jshorland opened #796 "Add "instructions" field on post type steps"
Adding instructions will help in internal training and workflow processes and make how to complete the steps easier to understand

[2015-10-26 07:19] jshorland opened #797 "Changing post type name does not change post type name in Filters without refreshing"
Steps to recreate issue:
1. create a deployment from scratch
2. Navigate to "post types" under settings menu
3. Click on "basic post" to edit the post type settings
4. Click post type settings
5. Rename to something other than "basic post"
6. Click "save post type"
7. Navigate to "home"
8. Navigate to post-type filter
*at this point, the post type has not changed names and still reads, "basic post

[2015-10-26 07:34] jshorland opened #798 "Clunky usability for adding multiple categories and post types"
I will write an expected and actual process with "categories", but note that this is applicable to post types and categories as well.

Actual process:
1. Navigate to Categories under settings menu
2. Click "add category"
3. Type category name "Citizen engagement"
4. Choose roles admin and member
5. Click "save category"

Actual Outcome:
- it saves category and changes to "Edit category", but it wa

[2015-10-26 07:39] jshorland commented on #746
note from Angela on a duplicate issue: At the moment, when you click save, or post something - the user doesn't get any feedback or a prompt to confirm that "You've successfully saved/posted" or something. I just saved my settings and if it weren't for my keen eye on the slight page reload, i wouldn't be clear of my save action was successful or not - we should add these in.

[2015-10-26 21:30] rjmackay opened #799 "password reset keeps telling me the token is expired, even though i'm using it immediately."
Deployer has reported via support@ that "password reset keeps telling me the token is expired, even though i'm using it immediately"

I've resolved their issue, but need to check if there is a general issue with password resets on ushahidi.io

[2015-10-27 01:59] rjmackay commented on #797
@willdoran @jasonmule we should chat about how best to manage these types of issues everywhere.
Adding caching will only make this issue *worse* .. so we need to push events for changes to models throughout the app.

I'm tempted to tend towards something more like the 'Flux' architecture.  Where instead of pulling data directly from Endpoint services, we listen for events which return data, and tr

[2015-10-27 02:01] rjmackay commented on #796
@jshorland Is this a duplicate of #680 ?

[2015-10-27 02:03] rjmackay commented on #680
@sophshep the existing pattern is for instructions on an individual field, not on the entire post type, or step.

[2015-10-27 02:04] rjmackay commented on #796
actually #680 was something slightly different.
I think there is a pattern for instructions on individual fields, but not steps. Jess can you add more info about how this would work? or why its different/needed?

[2015-10-27 04:23] sophshep commented on #680
Ah ha. @brandonrosage and I are working on redesigning this whole flow. I've added this to our google doc so that it gets into the new designs.

[2015-10-27 06:30] jshorland commented on #796
yup.

Use case example: I am not an administrator on the deployment, but am part of a team helping to manage incoming posts. I log in to the deployment and see that there are posts that need to be verified. I click on the post and move to the "verification" step. It has fields for data input, but I wonder "how does the organization want me to actually verify this post? What does "verify" mean to t

[2015-10-27 08:35] eyedol commented on #665
@jasonmule I'm going to try this out. I'll report back on this issue on how it goes

[2015-10-27 08:48] jshorland commented on #296
Nice to have feature (feedback from quakemap who found comments very valuable): getting notifications when someone comments on a post you've also commented on. Similar to blog commenting notifications.

[2015-10-27 09:25] jshorland commented on #643
Not as of right now. Support is currently the same for all tiers. Will need to revisit upon launching responder.

[2015-10-27 09:46] jshorland opened #800 "Make SMSsync/FrontlineSMS available to mappers"
Should be included in free tier because
1). anyone in rural areas will need it
2). many mappers will need to apply for a zero rated application only for this feature
3). it's zero cost to us as long as integration and SMS costs remain on the user side.

@sophshep @brandonrosage @middle8media -- we'll need to coordinate un-limiting this feature with updating the plans page to have mapper include "S

[2015-10-27 10:09] aoduor commented on #800
I'm in total agreement with this. TOTAL!

Handheld Sent,

Angela Oduor Lungati,
Director of Community Engagement,
Ushahidi | www.ushahidi.com

[2015-10-27 12:49] aoduor commented on #799
This is a dupe of #788.

[2015-10-27 12:49] #799 closed

[2015-10-27 13:12] aoduor opened #801 "Add additional map provider base layers?"
We have OSM as our default base layer(total win). However, we should also give our users the option to select which map provider(Google, Bing, ESRI) they would like to use.

[2015-10-27 13:30] aoduor opened #802 "Add Date/Time and Categories to default basic post type"
Circling back from a discussion on v3 platform hipchat - I think these are essential fields that a deployer is likely to forget to add in the process of setting up their post type.

[2015-10-27 13:33] aoduor opened #803 "Broken formatting on field type edit page"
See below

![screenshot](http://i.imgur.com/9EEDKMa.png)

[2015-10-27 13:34] aoduor commented on #791
pinging @rjmackay @jshorland what do you guys think?

[2015-10-27 21:18] rjmackay commented on #791
- I agree they should go to the same place, or we should probably remove one.
- I'm actually pretty tempted to drop doorbell entirely, and use Helpscout Beacons instead.. since we already have support@ going into helpscout, and we need to start paying doorbell otherwise.
- Helpscout looses the auto push feedback into github **but** I've only used it once so far.. I don't think copy/pasting to gith

[2015-10-27 21:22] #643 closed

[2015-10-27 21:29] rjmackay commented on #803
@brandonrosage @middle8media is there something we can do about this as a general issue?
Lots of the forms ended up like this after the RTL changes.
I can just add .clearfix classes everywhere.. but thats a pretty ugly solution. Labels and input following after radios and checkboxes should **just work**. Could we add a pattern for combining all the different form elements in one form and ensure it

[2015-10-27 21:32] rjmackay commented on #802
- Categories is already part of EVERY post type
- Date / time .. really depends on the post type. Some post types are NOT events so don't have an explicit date+time.
- When migrating from V2 we'll create a post type that matches V2.. I don't think the default on a blank V3 install needs to match V2 necessarily

Assigning to Brandon for consideration while thinking about steps/post types.

[2015-10-27 21:36] #800 closed

[2015-10-27 21:37] rjmackay commented on #800
Closed in favor of private issue above ^

[2015-10-27 22:16] brandonrosage commented on #803
I got this. I'll work out a bulletproof form field pattern.

[2015-10-28 06:37] jshorland commented on #791
Streamlining is good. Agreed that it's not going to be difficult to copy and paste to github. I also know @aoduor absolutely despises helpscout, and she'll be the one using it the most, so I'd like to leave her as the decision maker on this.

[2015-10-28 08:10] aoduor commented on #802
Yes, maybe not all post types are you events, however I still see the need to have it up there up front and leave the user to decide whether they need it or not at least for the basic post type( so make it deletable).

Handheld Sent,

Angela Oduor Lungati,
Director of Community Engagement,
Ushahidi | www.ushahidi.com

[2015-10-28 08:12] aoduor commented on #791
To be quite honest, doorbell is more user friendly. I'd would much rather move help scout over to doorbell than the other way round. I think we also still pay for for help scout at the moment.

Handheld Sent,

Angela Oduor Lungati,
Director of Community Engagement,
Ushahidi | www.ushahidi.com

[2015-10-28 08:50] rjmackay commented on #788
Should be fixed as soon as the migrations finish running (5 mins)

[2015-10-28 08:50] #788 closed

[2015-10-28 08:58] rjmackay commented on #791
I don't think doorbell is really a helpscout replacement, it has a much narrower scope: just user feedback. Vs  helpscout which is built as a shared inbox, and more complete customer support suite.
But obviously I don't have to use it much so I'm not hitting the pain points.
I'd really like to find something that works for us and covers both bases.
Lets take this discussion out of public github is

[2015-10-28 16:03] middle8media commented on #803
Thanks Brandon, I know it will be bullet proof.

wrote:

Reply to this email directly or [view it on GitHub](https://github.com/ushahid
i/platform/issues/803#issuecomment-151661756).![](https://github.com/notificat
ions/beacon/AA_EdMpZoZ4HVgYRE_1axn5NMQ-UNFIjks5o_-9KgaJpZM4GWd4Y.gif)

[2015-10-28 16:07] aoduor commented on #803
Thanks for your attention on this, guys!

Handheld Sent,

Angela Oduor Lungati,
Director of Community Engagement,
Ushahidi | www.ushahidi.com

[2015-10-28 19:41] middle8media commented on #650
@sophshep is this sufficient? any thoughts?
http://github.ushahidi.org/platform-pattern-library/assets/html/front-end-guidelines/read-direction/

[2015-10-28 19:51] sophshep commented on #650
It would be helpful to have an introduction to explain why this is important. Also to give an overview of how it is compiled together into different style sheets. If we're using the same method as what we read up on in a blogpost, we should reference that (both for credit and for additional explanation).

I think it's important to note that the default is LTR, which is why a mixin would say `@incl

[2015-10-29 10:00] Brad-Anthony commented on #801
Absolutely. I just noticed there's less map options so far in V3.

[2015-10-30 07:24] aoduor commented on #788
Okidoks - the password token works out fine now, BUT - the "Reset Password" link that comes through via email is still not clickable. Shall i create another issue or just reopen this one?

[2015-10-30 18:47] brandonrosage commented on #803
I've staged a solution for more bulletproof form structure in the Pattern Library.

I've documented all of it in Fragments (which includes patterns for [self-contained form fields](http://github.ushahidi.org/platform-pattern-library/assets/html/2_fragments/#pl-pattern-forms), like a label and input) and in Modules (which offers [a demonstration of a form with multiple form fields](http://github.us

[2015-10-30 18:53] brandonrosage commented on #690
@rjmackay Is this Issue still in my court? Or do you have what you need?

What more can I provide?

[2015-10-30 19:29] middle8media commented on #650
Thanks @sophshep I am making edits and additions, will push soon.

[2015-10-31 18:46] middle8media commented on #803
Thanks @brandonrosage, everything looks good to me except the absence of the `@include icon` mixin.

Unless I am missing something shouldn't it be ...

[code]

[code]

[2015-11-02 03:07] rjmackay commented on #788
Can you screenshot? the button is clickable for me..

[2015-11-02 03:43] rjmackay opened #804 "Update dropdown pattern in client"
Update client to use https://github.com/ushahidi/platform-pattern-library/issues/6

[2015-11-02 03:44] rjmackay opened #805 "Implement delete button style in client"
https://github.com/ushahidi/platform-pattern-library/issues/7

[2015-11-02 03:45] rjmackay opened #806 "Tag Pattern library version used in client"

[2015-11-02 03:48] rjmackay commented on #754
@willdoran this needs implementing in the client. Probably some API work too to make it easier to find which collections a post is in..

[2015-11-02 03:50] rjmackay commented on #388
There's an saved search auto created to filter this.. but we don't actually show this in the filters list.
Probably worth adding. Might need some UI input

[2015-11-02 03:53] rjmackay commented on #504
Started some work on this in a branch `chunked-geojson-loading`

[2015-11-02 14:30] sophshep commented on #803
I noticed the checkboxes break in a RTL layout:

![image](https://cloud.githubusercontent.com/assets/527589/10883804/07b6cc8c-813a-11e5-8c50-8e7a8c77e9fd.png)

As does the custom fieldset:

![image](https://cloud.githubusercontent.com/assets/527589/10883951/f27266e6-813a-11e5-9e75-99f2945051d2.png)

We are also defining other form elements on the Basics page, but their markup differs from the stuf

[2015-11-02 14:47] sophshep commented on #803
We should also go through all of the layouts to make sure they are updated with the new patterns (like here: http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/create-post.html)

Brandon- feel free to make a task for me to do this if you've had enough of forms yet!

[2015-11-02 18:25] brandonrosage commented on #803
@sophshep I've made revisions to address your notes. Thanks for catching that! All better?

@middle8media I have some follow-up explanation coming for you regarding icons. Until then, I'll just say it was intentional to create a pattern that didn't require us to create a new class name that's _unique to the fragment_ for every different icon. We already have class names that define the icon. I thi

[2015-11-02 18:37] middle8media commented on #803
@brandonrosage I figured you did, just wanted to bring it up.

[2015-11-02 20:39] rjmackay opened #808 "Update post detail sidebar from pattern library"

[2015-11-02 21:42] sophshep commented on #803
All looks good to me!

[2015-11-02 21:43] sophshep commented on #803
Though there is still redundancies in the pattern library. I'd suggest we just delete all the form elements from the basics page: http://github.ushahidi.org/platform-pattern-library/assets/html/1_basics/#pl-pattern-forms

[2015-11-02 21:46] brandonrosage commented on #754
I've polished the pattern for this control with an ideal set of controls:

* A selectable list of Collections available to the user, which has a scrollable max-height in the event that the list is long.
* A control for creating (and selecting) a new Collection on the fly.
* A control for searching the list of available Collections.

![Custom fieldset](https://cloud.githubusercontent.com/assets/113

[2015-11-02 22:07] brandonrosage opened #809 "Bypass 'Select post type' when adding posts on deployments with one post type"
The flow from the "Add Post" button should be as follows:

* Select 'Add Post" button
* If the deployment has more than one post type, present the 'Select post type' view so they can select the appropriate one. Otherwise, take them directly to the 'Add Post' view for the deployment's lone post type.

Two related notes:

* The 'Add Post' view for a given post type should have a unique URL, like `/p

[2015-11-02 22:15] rjmackay commented on #809
@jshorland this seems like its worth getting done soon? .. easy to do, but fairly big impact.

[2015-11-03 02:33] #718 closed

[2015-11-03 02:54] rjmackay commented on #718
Replace by https://github.com/ushahidi/platform-cloud-interface/issues/89

[2015-11-03 03:00] rjmackay commented on #773
I think this is good.. @willdoran another UI issue to look at this week

[2015-11-03 03:06] #722 closed

[2015-11-03 03:07] #719 closed

[2015-11-03 03:11] rjmackay commented on #644
@willdoran @jasonmule can one of you review this? Need to update markup in the client to match the pattern library I think

[2015-11-03 03:16] rjmackay commented on #602
@brandonrosage The backend for importing CSVs into V3 already exists but we keep putting off building a UI. Could you put together a design for this in the next ~week? or are you slammed already?

The way this works in technically is a user can specify
- a post type to import to
- A mapping for each column in the CSV to a field on the post type.
They can also set some fields to a fixed value ie. e

[2015-11-03 03:28] rjmackay commented on #404
Possibly related to #747

[2015-11-03 03:32] rjmackay commented on #397
For a quick solution to this issue we should
- Show 'post will be reviewed by the admin' to users without the 'change status' permission (same check used for showing the publish to X UI)
- Other users should get 'your post is here...' message
Does that make sense @willdoran ?

[2015-11-03 14:06] middle8media commented on #644
yes @rjmackay that is correct.

[2015-11-03 16:23] brandonrosage commented on #602
I've staged two layouts to meet these needs:

* **[Import](http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/settings-import.html)**: The second-level menu item where we present all import options. Of course, for now, it assumes just the one "CSV" option, with controls for the post type and choosing the CSV file.
* **[Import CSV](http://github.ushahidi.org/platform-pattern-

[2015-11-03 18:53] jshorland commented on #602
This looks great, Brandon! I really like the matching field in CSV to field in V3 post type. Two cases I think we’re missing —1). if there are errors in import, for both individual rows in the CSV and the CSV as a whole, and 2). what if the field itself doesn’t match the format required for the field in the post type?

[2015-11-03 19:21] rjmackay commented on #575
- Need to be able to run migrations without command line too..

[2015-11-03 19:33] rjmackay opened #810 "Confirm GA tracking is getting data from angular route changes"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-722

[2015-11-04 01:39] rjmackay commented on #602
Wow! That was super fast.
Looks really good.

I think I failed at explaining the setting fields to a fixed value. "Mark all posts as Verified" was just an example.. it applies for every field in the post type. Here's a few more examples:
- Set a fixed location for every post in a CSV (ie. importing a bunch of reports that all happened in the same hospital
- Set a fixed date. etc
.. maybe I'm overt

[2015-11-04 12:26] jshorland commented on #809
Agreed. Let's get try to get it in to our V3.1 release

[2015-11-04 16:43] brandonrosage opened #811 "Changing 'Site Language' has no affect on the deployment's language"
Sostene Cyr, who recently created [a 'Mapper' deployment](https://bw-siriri.ushahidi.io/views/map), reported that they're trying to change their deployment's language settings to French, and it fails.

I've been able to replicate the problem on a test deployment. When I hit "Save," the deployment responds very briefly, but nothing changes. No language change or anything.

![site language](https://

[2015-11-04 18:13] sophshep commented on #811
Repeat issue of #762

[2015-11-04 18:13] #811 closed

[2015-11-04 18:24] middle8media commented on #650
Read Direction is done - http://github.ushahidi.org/platform-pattern-library/assets/html/front-end-guidelines/read-direction/

now to finish:

* declaration sorting
* extends
* naming conventions
* commenting
* css ruleset

[2015-11-04 20:16] middle8media commented on #650
completed via abed8c9f7bedd4c39fcb011deab5d1cb4b06192d

[2015-11-04 20:16] #650 closed

[2015-11-04 21:05] sophshep commented on #773
Let's put this on hold until @brandonrosage & I finish up the new "create post" flow, which should be finished this week. I don't want anyone to have to do repeat work! I'll put the "PL to Client" tag on it when it's ready.

[2015-11-04 22:02] brandonrosage commented on #602
@rjmackay Thanks for the clarification. I've staged a third layout to meet these needs. Here is the roundup:

* **[Import](http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/settings-import.html)**: The second-level menu item where we present all import options. Of course, for now, it assumes just the one "CSV" option, with controls for the post type and choosing the CSV fil

[2015-11-04 22:33] rjmackay commented on #602
"Assign value to unused post fields" <- I like this.. hopefully ends up way simpler for most users.
Thanks for the super fast turn round. I think this is everything we need!

[2015-11-04 22:47] #747 closed

[2015-11-04 22:49] rjmackay commented on #519
@jasonmule can you give this task a size?

[2015-11-04 23:13] rjmackay commented on #602
Taking myself off this. I've attached it to the Responder milestone so it'll get schedule for that soon.

[2015-11-05 02:53] rjmackay commented on #804
.. @willdoran I think you started wrangling with this already?

[2015-11-05 07:54] aoduor commented on #788
@rjmackay confirmed that this is a bug with my mail app and not the platform itself... Ignore :D.

[2015-11-05 17:36] willdoran commented on #804
@rjmackay Yep, after I get the confirm modal to work I'll begin that aspect next.

[2015-11-06 02:33] #746 closed

[2015-11-06 02:34] willdoran opened #812 "Refactor and merge cache layer"

[2015-11-06 23:58] #812 closed

[2015-11-08 10:56] #482 closed

[2015-11-09 18:46] rjmackay opened #813 "Reintegrate cloud UI branch"
- Add feature limits for views
- Add feature limit on activity page
- Add feature limit on data import
- Only include plans page based on a config/build flag?
- Handling for feature limit errors
- Prepopulate config cache from initial config load - this should replace Config service and other custom BootstrapConfig code

[2015-11-09 18:49] #805 closed

[2015-11-10 03:29] #806 closed

[2015-11-10 04:04] willdoran opened #814 "Both the map buttons and Leaflet label at the bottom right appear in front of the parallax."
Repair in css override, check z-index set correctly relative to parallax.

<img width="935" alt="screen shot 2015-11-09 at 22 01 39" src="https://cloud.githubusercontent.com/assets/2694405/11054148/17a904aa-8736-11e5-9c2f-fdd7079ae288.png">

[2015-11-10 07:31] nidele opened #815 "Location of twitter message (tweet) in a map"
I'm testing ushahidi.io but i note that if i set a twitter application the tweet (with gps data and hashtag) compare in draft without location. i think this function should be usefull!

[2015-11-10 09:44] eyedol commented on #665
@jasonmule Removing the scope from the refresh token request solved it. This issue is no longer valid.

[2015-11-10 09:44] #665 closed

[2015-11-10 17:37] brandonrosage opened #817 "Create login flow that looks up deployments associated with your email address"
RE: "What happens in cases where a user has several deployments registered under one email address? Wouldn't it be a better idea to have them login using their email address, then get redirected to a page where they get to choose which deployment they're navigating to..."

https://github.com/ushahidi/dotcom-craft-cms/issues/168

[2015-11-10 23:59] willdoran opened #818 "Repair css for post list view page"
Css needs to be re-integrated with platform pattern code.

[2015-11-11 02:28] rjmackay commented on #690
I'll assign to myself for now. Need to review how this differs from the current UI and see if I have further Qs.

[2015-11-11 02:36] rjmackay commented on #789
This will be resolved by https://github.com/ushahidi/platform-cloud-interface/issues/89

[2015-11-11 08:07] rjmackay commented on #790
Any *.ushahidi.io domain will still respond.. but the API won't.
Looking at angela.api.ushahidi.io ... I don't think this was registered.
Rather the domain is reserved.. probably from angela.crowdmap.com. I can free it up for you if you'd like?

[2015-11-11 12:33] jshorland opened #819 "Collecting retrospective (past) data"
Question from user on intercom:

I am interested in how Ushahidi can be used to track the details of events that have passed. More specifically, I am interested in how it might be used to track the recent student protests in South Africa with a focus on what was said on social media.

I think this is a use case for:
- researchers
- media/news orgs
- ongoing conflicts, environmental and humanitaria

[2015-11-11 12:40] #668 closed

[2015-11-11 18:51] middle8media opened #821 "Implement Intercom.io"
@rjmackay

https://github.com/ushahidi/dotcom-craft-cms/blob/master/craft/templates/_layout.html#L82-L88

[2015-11-11 20:44] rjmackay commented on #819
As mentioned in chat:
- We only pull recent tweets.
- We could try for older from the API.. but twitter does weird things with their older messages.
- Without using a service like Gnip you can't reliably dig much deeper on twitter (AFAIK)

[2015-11-11 21:09] #501 closed

[2015-11-12 00:44] rjmackay commented on #659
I think this is resolved by showing who the post is visible to now.

[2015-11-12 00:49] rjmackay commented on #659
cc @willdoran can you close this once post summary is updated?

[2015-11-12 00:52] rjmackay opened #822 "Replace post 'status' on detail page with 'who can see this'"
Update post detail to use 'who can see this' terminology. Even if rest of design isn't updated for 3.1

[2015-11-12 00:52] rjmackay commented on #822
cc @willdoran

[2015-11-12 00:53] rjmackay commented on #808
#822 might be included in this.

[2015-11-12 00:54] rjmackay commented on #657
Maybe this is the same as #818?

[2015-11-12 00:57] #818 closed

[2015-11-12 00:58] rjmackay commented on #519
@jasonmule is this finished now or is there UI work for saved searches?

[2015-11-12 01:14] rjmackay opened #823 "Cache data providers in data source settings"
Data providers almost never change, only their config. We can probably cache them.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-720

[2015-11-12 06:18] jasonmule commented on #519
It's done. UI work was merged as well.

[2015-11-12 06:19] #519 closed

[2015-11-12 08:35] aoduor commented on #746
Great to see this added in. Wondering if we could take the next step and either
* Refresh the page,
* Redirect to somewhere else OR
* Close window where i've just completed/saved/posted something?

ATM, i get the "Saved" prompt at the top of the page, and on closing it, i remain on the same page with the same content in the fields i'm adding/editing

[2015-11-12 08:47] aoduor opened #824 "Set up cron jobs/scheduler for users to manage frequency of incoming data from SMS/Email/Twitter etc"
Right now, looks like this runs in the background, but would be really useful for users to manage frequency with which data comes in from different sources they've set. Sharing a screenshot from v2 just for context :).

![screenshot](http://i.imgur.com/SiKhvg4.png)

[2015-11-12 08:52] aoduor opened #825 "Post type "step" deleted before user confirmation"
I clicked "delete" on a step while editing my post type, and got a user prompt to confirm my action, but it immediately deleted it without my confirmation. Testing on a local install.

![screenshot](http://i.imgur.com/zNkJ2tY.png)

[2015-11-12 10:21] JoinJoin commented on #760
this excuse is absurd.

[2015-11-12 12:56] aoduor opened #826 "Add a Contact us page?"
Useful feature for people accessing a deployment to get in touch with deployers :D.

[2015-11-12 20:45] rjmackay commented on #825
uh oh. @willdoran any ideas? I'll take a look too if I get time.

[2015-11-12 20:47] rjmackay commented on #824
You need to set up cronjobs for these right now. You can set the frequency of the cron job as needed.
I'm not going to build this into platform UI. Its an implementation detail that users should never have to think about.
cc @jshorland in case you disagree?

[2015-11-12 20:48] rjmackay commented on #746
hrm. I think it depends. On creation it makes sense to redirect.. if you're editing its nice to be able to save and stay on the same page.

[2015-11-12 23:56] #804 closed

[2015-11-15 19:45] #759 closed

[2015-11-15 20:31] #347 closed

[2015-11-16 00:22] rjmackay opened #827 "Review change visibility UX"
Post detail and list pages now have controls to change a posts visibility.
These throws errors if required stages are incomplete.
Lets review and see if we can smooth this UX.

[2015-11-16 04:29] rjmackay commented on #814
Think this is fixed? @willdoran can you confirm?

[2015-11-16 04:30] #657 closed

[2015-11-16 04:30] #659 closed

[2015-11-16 05:22] #822 closed

[2015-11-16 05:27] #754 closed

[2015-11-16 05:45] #332 closed

[2015-11-16 05:45] #825 closed

[2015-11-16 18:43] willdoran commented on #814
It's fixed by the next merge.

[2015-11-16 18:43] #814 closed

[2015-11-16 18:46] willdoran opened #828 "Update post views for post with steps based on pattern library"
http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/post-detail-with-steps.html

[2015-11-16 18:47] willdoran opened #829 "Update post add/edit views"
http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/post-add.html
http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/post-edit-with-steps.html

[2015-11-16 23:45] rjmackay opened #3563 "Support open graph meta tags"
Currently OpenGraph meta tags don't work - ie. sharing on facebook - because everything is rendered client side.

We should clean up the default HTML, and consider rendering the basics info on the server.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-719

[2015-11-17 04:39] #829 closed

[2015-11-18 19:02] willdoran opened #830 "Convert collection and publish_to drop downs to directives and construct tests"

[2015-11-20 07:30] jshorland opened #832 "Urgent: Add user not working when logged into admin"
Steps to reproduce issue:

1. Login to demo.platform.ushahidi.com using email: info@ushahidi.com, pass: testing
2. Navigate to Users in settings menu
3. Click "Add user" button

Result: nothing

Same results in quakemap.ushahidi.io

[2015-11-20 07:37] jshorland opened #833 "Wrong post type styling in add new post"
Steps to reproduce:

1. Go to quakemap.ushahidi.io
2. Click "add post"
3. See screenshot

![screen shot 2015-11-20 at 10 31 57](https://cloud.githubusercontent.com/assets/3224856/11294192/a4f2458a-8f72-11e5-97ed-322b0ba66bfa.png)

[2015-11-20 07:39] jshorland opened #834 "Discoverability of open source deployments"
Is there a way to add an option on open source to make their deployment discoverable?

[2015-11-20 07:52] aoduor commented on #834
+1 on this!! This is so so so important!

On Fri, Nov 20, 2015 at 10:39 AM, Jess Shorland <notifications@github.com>
wrote:

--
--
Angela Oduor Lungati.
Ushahidi Inc <http://ushahidi.com/>.
Platforms: Ushahidi <http://download.ushahidi.com/> | Crowdmap
<https://crowdmap.com/> | CrisisNET <http://crisis.net/> | SwiftRiver
<https://wiki.ushahidi.com/display/WIKI/SwiftRiver>
Mobile: iOS <http://bit.l

[2015-11-20 08:15] jshorland opened #835 "No save button on "add collection"
Steps to reproduce:
1. Login to demo.platform.ushahidi.com, email: info@ushahidi.com, pass: testing
2. Click "add collection" button on the lower left hand menu
3. See screen shot
![screen shot 2015-11-20 at 11 15 04](https://cloud.githubusercontent.com/assets/3224856/11294916/5291aa00-8f78-11e5-9e0a-a941e4b2cd62.png)

[2015-11-20 11:38] ptkn opened #836 "FrontlineSMS integration with V3; docs and API URL"
https://wiki.ushahidi.com/display/WIKI/Connecting+FrontlineCloud+to+Ushahidi is the old docs.  They work(ed) for v2 and now they are missing a couple of things for v3.
 - There are some text changes needed wrt Frontline subscriptions
 - This doc probably needs to be on support.ushahidi.com?
 - Some inline pointers in the Data Sources page on the app is necessary in Jess and my opinion
 - What is t

[2015-11-20 17:25] willdoran commented on #833
This is fixed in the posts UI updates. I think I can land it today and then it will look like the pattern library layout:
http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/post-add-select.html

[2015-11-20 17:30] willdoran commented on #832
This is fixed and landed, just now!

[2015-11-20 17:30] #832 closed

[2015-11-20 17:30] #833 closed

[2015-11-20 17:44] pierreverbakel opened #837 "Unnecessary lines in Recent Activity Timeline"
The Timeline Column on the right that is shown when selecting 'Activity' shows for every item
'New Post' as the first line. Since all posts are new typically it costs a lot of screenspace since 1 line per item. I would suggest to remove that one and use colors in the background of the box if the idea is to indicate that the Post is recent. The current setup is quite generous concerning the space a

[2015-11-20 17:50] willdoran commented on #835
This one is super weird...I shall fix it now!

[2015-11-20 18:03] willdoran commented on #835
Ok so this is broken by PL changes, which seem to effect buttons that inherit from the navigation menu. I think I can fix it by moving the modal.

[2015-11-20 18:28] willdoran commented on #835
ok fixed.

[2015-11-20 18:28] #835 closed

[2015-11-21 00:34] caharding commented on #821
Any updates here? I think it will be really helpful to be able to separate logged in users support from acquisition stuff. A lot of folks coming to .com for support who prob would so so in app if it were an option.

[2015-11-21 00:36] caharding commented on #821
Also is there a way to install this on the Open Source platform so that just admins can send us support queries? If not we should prob find a way for people to register as Ushahidi developers to get support on Open Source issues.

[2015-11-22 21:53] pierreverbakel opened #838 "Insert error for Table 'post_datetime'"
I get the following results in en the errorlog. There must be something wrong with the value format....
:

2015-11-20 05:06:48 --- EMERGENCY: Database_Exception [ 1292 ]: Incorrect datetime value: '2015-12-05T21:30:00.000Z' for column 'value' at row 1 [ INSERT INTO `post_datetime` (`value`, `form_attribute_id`, `post_id`, `created`) VALUES ('2015-12-05T21:30:00.000Z', 10, 9, 1447996008) ] ~ APPPAT

[2015-11-22 22:02] pierreverbakel opened #839 "Date Time selector gets covered by the Map Image when entering a field"
When entering the Value for the Date and Time of a Report the visual block gets covered by the Map field under it. It seems that the selector is not a the right HTML layer level

[2015-11-23 12:16] ushbot opened #840 "Geolocation error when placing marker"
The feedback from Greg on November 20th 2015 was:

View it on [Doorbell](https://doorbell.io/applications/2005/feedback/77422)

[2015-11-23 12:17] ushbot opened #841 "Only 20 categories showing in client, 31 exist"
The feedback from Atul Grover on November 13th 2015 was:

View it on [Doorbell](https://doorbell.io/applications/2005/feedback/75228)

[2015-11-23 19:18] willdoran opened #842 "Background image not saving"

[2015-11-26 21:05] pierreverbakel opened #843 "Add User link not working"
Add User link not working:

link: /settings/users
Settings Users Manage Users Add User

[2015-12-01 01:13] rjmackay commented on #842
I think this was fixed by pull request #49

[2015-12-01 01:13] #842 closed

[2015-12-01 01:15] rjmackay commented on #843
Fixed by pull request ushahidi/platform-client#46

[2015-12-01 01:15] #843 closed

[2015-12-01 01:32] #782 closed

[2015-12-01 01:34] rjmackay commented on #830
This should be in the sprint milestone right?

[2015-12-01 01:35] rjmackay commented on #828
Double checking - was this a task for the current sprint?

[2015-12-01 01:37] rjmackay commented on #808
Double checking - was this a task for the current sprint?

[2015-12-01 01:37] rjmackay commented on #397
@willdoran is this done? in progress? abandoned?

[2015-12-01 01:38] #753 closed

[2015-12-01 01:40] rjmackay commented on #842
@willdoran how big was this ? I'm guessing ~3 but please confirm

[2015-12-01 01:40] rjmackay commented on #843
@willdoran how big was this ? I'm guessing ~2 but please confirm

[2015-12-01 06:34] jasonmule commented on #808
It was carried forward.

[2015-12-01 06:34] #808 closed

[2015-12-01 06:38] jasonmule commented on #828
This should probably be merged wih #808

[2015-12-01 06:40] willdoran commented on #828
Yep and it's actually already in 829 :)

[2015-12-01 20:34] rjmackay commented on #828
Alright. I'll clear the size and close it out :) Do #829 and #808 overlap?

[2015-12-01 20:34] #828 closed

[2015-12-01 20:35] willdoran commented on #828
Slightly, I've merged from master into 829 when 808 went in.

[2015-12-02 05:44] jasonmule opened #844 "Upload posts from a CSV file"
Feature Epic: CSV import
User Need: Bulk data import
Primary users of this feature: Users with many various data sources other than those available within Ushahidi

## Introduction:
Users that collect data outside of their Ushahidi deployment should be able to upload that data into the deployment.

## User Stories:
- Logged in users with CSV import permission can import a CSV file and then structu

[2015-12-03 20:04] willdoran opened #845 "CSV UI basic for client settings menu"
Add layout for basic CSV upload UI

[2015-12-05 11:14] jshorland opened #846 "HTML showing on "save post" action"
Steps to recreate:

1. login to deployment
2. select a post to edit
3. complete structure of step
4. mark structure complete
5. publish to everyone
6. click "save"
7. See screenshot

![screen shot 2015-12-05 at 12 12 26 pm](https://cloud.githubusercontent.com/assets/3224856/11607506/b14a8ec2-9b49-11e5-9d18-4b5cd6f604de.png)

[2015-12-06 19:49] hnykda commented on #660
Hello. We were working on similar task on last Hackathon in Malmo. Even though Chambua and SwiftRiver are finished, we haven't found single mention in this code base connected to them.

We created our own plugin for V3, which is able to get meaningful informations for potentially arbitrary source (we tried that with twitter and plain text)  using any analyser which supports e.g. HTTP API. Our solu

[2015-12-06 19:51] hnykda commented on #815
This could be easily plugged in by firstly implementing this #660 . (maybe there can be even localization based on IP in mail header)

[2015-12-08 00:32] rjmackay opened #847 "Add instructions for upgrading"
https://www.ushahidi.com/support/install-ushahidi
Needs instructions for 3.0 -> 3.1 upgrades and the like

[2015-12-08 01:41] rjmackay opened #848 "Move common code in post detail / post messages into directives"
This bit https://www.dropbox.com/s/u4sybjbqwb7zsc3/Screenshot%202015-12-08%2014.40.57.png?dl=0
appears on post detail and the post messages views. We should be able to share this code entirely.

[2015-12-10 01:33] rjmackay opened #851 "Filters on map view are closed by default"
Should be open by default but are not.

[2015-12-10 01:54] rjmackay opened #852 "Remove placeholder from post detail"
Author image is just a placeholder
- Replace with gravatar
- Or hide entirely if we don't have an author

[2015-12-10 02:11] rjmackay opened #853 "Main and post should probably be a single step??"
The updated post detail view is showing "post" as a separate step.

Previously we combined those fields into the first step.

[2015-12-10 02:12] rjmackay opened #854 "Post detail should show "Post" content first.."
Post detail is showing "Main" or the first step. Rather than "Post" tab. I *think* this is a bug??

[2015-12-10 18:54] rjmackay opened #855 "User CSV import"
A client project is asking to import some users.. I suspect this will become a common use case. So lets make it easy.

[2015-12-10 18:55] rjmackay commented on #855
@jshorland assigned to you for triage / prioritization

[2015-12-10 19:00] rjmackay opened #856 "Post detail view not handling form_id=null"
When SMS messages come in the create a post with form_id=null .. the post detail view isn't handling this properly any more.

[2015-12-10 22:05] rjmackay opened #857 "Add upgrade instructions to support pages"

[2015-12-10 22:05] #857 closed

[2015-12-10 22:19] rjmackay commented on #660
@hnykda Chambua and SwiftRiver aren't connected to the Platform at all.
Swiftriver is entirely discontinued as a product. But we did have plans to integrate Chambua directly with platform eventually.

You're right that this is messy right now. We don't have a fixed way to hook into triggers.. but desperately need one. Where do you think the best place to hook in would be for you? Just before a twe

[2015-12-10 23:33] willdoran commented on #853
I can edit that to combine, that will also address [854](https://github.com/ushahidi/platform/issues/854), which is caused by the first step being selected.

[2015-12-10 23:39] hnykda commented on #660
Hello. Thank you for the information! Honestly, Chambua is out for two years - it starts to be obsolete already (just joking :smile: ).

I would definitely go for a general event so we don't need to limit ourselves - it can be then used even for SMS and whatever pocahontas facetwitmailsms input we'll have in two years from now. And not just for those - there should be possibility to use this even

[2015-12-11 00:11] #851 closed

[2015-12-11 00:26] #852 closed

[2015-12-11 01:17] #854 closed

[2015-12-11 01:17] #856 closed

[2015-12-11 01:17] #853 closed

[2015-12-14 03:44] rjmackay opened #858 "Log issues from dataproviders to UI"
Right now, if data providers fail (ie. creds are wrong). We never report that to the user. We need to log issues and return them to the UI.

Ideally we should also have a 'test connection' button or similar on the providers page.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-718

[2015-12-15 04:06] rjmackay opened #859 "Private Deployments"
Feature Epic: Private instance
User Need: Privacy
Triage: Pending
Primary users of this feature: Responders who need to triage and respond to sensitive and private data.
User Testing: Pending
Point estimate: 21

Introduction:
Private instance will require login before a user can see any data. Once logged in a private instance has identical functionality and design to any other instance

User Stori

[2015-12-16 00:00] rjmackay commented on #623
@jshorland I think we may have miscommunicated slightly. Devs have only been working on CSV import. I'm going to bump this to the responder milestone, and we can traige in Jan.

[2015-12-16 00:03] rjmackay commented on #602
Closing in favour of #849

[2015-12-16 00:03] #602 closed

[2015-12-17 04:23] puffadder opened #860 "Unable to mark structure as complete when location field is required"
I have filled all the necessary fields with proper values but I'm unable to mark structure as complete. This is preventing me from publishing my post.

Attaching a screenshot for reference.
![ushahidi_screenshot](https://cloud.githubusercontent.com/assets/16331045/11861203/d8158f4e-a4a3-11e5-9462-863fa88ad04e.jpg)

[2015-12-18 09:29] #846 closed

[2016-01-04 10:11] hnykda commented on #660
Bump.

[2016-01-05 07:52] aoduor commented on #660
Hi @hnykda, pardon our delayed action/response on this. Most of our dev team is still away on holiday but will be back in the next couple of days and be in touch with a response.

[2016-01-05 08:55] aoduor opened #863 "Issues with Custom form field set up"
(via Intercom)

Hi, I'm having some issues with the 'checkbox' step for Ushahidi. Whenever I input a field name and the corresponding field options/checkboxes, all I receive is both the field name itself and one checkbox, containing only the field name, while the software completely ignores all of the field options. How do I solve this? Thank you!

![screenshot_1](http://i.imgur.com/zYmU2DR.jpg)

[2016-01-05 22:51] caharding opened #864 "Save notification not displaying correct text"
When I edit a post and hit save I get this screen with text to a link

<img width="1276" alt="screen shot 2016-01-05 at 2 49 42 pm" src="https://cloud.githubusercontent.com/assets/1618793/12129951/bbfb6a8c-b3bb-11e5-8398-20b7085363ee.png">

[2016-01-06 19:52] willdoran commented on #863
I'll take a look at this now.

[2016-01-06 19:52] willdoran opened #865 "Stage structure validation error"
Validation Error
Stage "Structure" is required before publishing

Hello-- I hope this message finds you well. I am wondering what this error message means? I get it when I try to make posts available for everyone to see. At the moment- They only appear when I login. When I change the status from Just You to Everyone-- the error message appears. Thank you

[2016-01-06 20:15] willdoran commented on #863
This is working for me in the current master branch. It may be that the release is out of date. I'll ask @rjmackay when he's on!

[2016-01-07 21:12] willdoran commented on #841
This is not occurring for me, it could be the visibility of the categories set by the user. I will reply on doorbell.

[2016-01-12 14:54] lupa18 opened #867 "Collections button in left side of main page is not working"
I tried first with own installation and then with a deploy: https://pruebalup.ushahidi.io
Browser: Firefox 43.0 (Linux 64)

You click in "New collection" and nothing happens

![seleccion_032](https://cloud.githubusercontent.com/assets/463429/12266658/1d698a58-b923-11e5-95f7-618e02b809ef.jpg)

[2016-01-12 15:09] lupa18 commented on #860
I guess this is for setting location as mandatory. I experimented the same issue.
You use the map, but the form not realize that you fill anything, so it believe that it's incomplete.

I have the same problem here.

Workaround: edit basic post type and mark location field as not mandatory :-/

[2016-01-12 15:12] lupa18 commented on #863
Here the same with checkbox field. I'm using deploy: https://pruebalup.ushahidi.io and with own installation based on github/master (yesterday).

The checkbox configuration:

![seleccion_034](https://cloud.githubusercontent.com/assets/463429/12267168/8d56ef02-b925-11e5-893d-271123d143ac.jpg)

The result:

![seleccion_033](https://cloud.githubusercontent.com/assets/463429/12267199/b29e57e6-b925-11e

[2016-01-12 16:45] puffadder commented on #860
Yes, that seems to be the problem!

If I make location not mandatory, I am able to mark the structure as complete.

Thanks for the suggestion!

[2016-01-12 17:54] #841 closed

[2016-01-12 21:01] rjmackay commented on #526
I'd like to agree on *what* needs to change in the code before we get too deep into this.
In the API:
- Authorizers need to stop checking for 'admin' role and check for a permission instead.
- We should replace or update the AdminAccess Trait
  - Either change this to a generic PermissionAccess with checks for various permissions
  - Or split into Trait per permission
- Need to add a Role Entity,

[2016-01-12 21:03] rjmackay commented on #821
This needs to be implemented in multiple places:
- On ushahidi.io/create and /tour
- On individual deployments
- *maybe* on OSS deployments. Though there are privacy issues to consider (we should offer an opt out)

[2016-01-12 21:06] rjmackay commented on #773
@willdoran did we iterate this when updating the post type editor?

[2016-01-12 21:07] rjmackay commented on #399
Did this get done @willdoran ?

[2016-01-12 22:50] willdoran commented on #773
This went into the post type choice step but we haven't changed the type selection box. Not sure a list would be ideal in the modal dialog.

[2016-01-12 23:05] willdoran commented on #399
Yep, the format matches desired one. Though there is no default example text in those fields. Which would make sense as the user clicks to enter but perhaps it'd be good to have something in field given that all other fields have example text of some kind: "Enter a date" for example.

[2016-01-12 23:24] #399 closed

[2016-01-13 11:51] ahmed-aly-aut opened #3562 "Feature: Add new Field Links is missing (was in ushahidi2)"
![screenshot_8](https://cloud.githubusercontent.com/assets/2486446/12293502/4eaa92a2-b9f4-11e5-9674-1f8978101edf.png)

Aha! Link: https://ushahiditeam.aha.io/features/PROD-717

[2016-01-13 11:51] ahmed-aly-aut opened #3564 "Feature: Add new Field upload file is missing (was in ushahidi2)"
![screenshot_8](https://cloud.githubusercontent.com/assets/2486446/12293511/5dcb2404-b9f4-11e5-9181-768e7d14fc77.png)

Aha! Link: https://ushahiditeam.aha.io/features/PROD-716

[2016-01-18 16:17] willdoran commented on #867
This is working in the latest master, I think we need to do a new release and update soon.

[2016-01-18 17:08] lupa18 commented on #867
Ok, but I'm using master branch :-/

[2016-01-18 17:18] willdoran commented on #867
Ah, interesting. Do you get any javascript console errors? In firefox you can access the console via:

Tools->Web developer->Web console

You'll need to refresh the page, if you get errors would you mind posting a screen shot.

What version of linux are you using? Is it Ubuntu and if so what build?

Thanks!

[2016-01-18 18:11] lupa18 commented on #867
I installed from https://hub.docker.com/r/quantumobject/docker-ushahidi-platform/ it means Ubuntu 15.04 and from git master branch of Ushahidi platform.

Here log: http://pastebin.com/C22CQ1gu

It seem to be a problem gettting collections from api/v3

[2016-01-19 15:30] willdoran commented on #867
Ok, cool, I'll take a look and see if I can reproduce it locally.

[2016-01-19 15:50] willdoran commented on #867
It seems as though the client is not able to access any of the resource for the platform located at:

https://devel.tedic.org/api/v3/

It's getting a 403 for the data it's trying to pull from the backend.

It looks like an apache permission issue.

@rjmackay @jasonmule have you seen this occur with docker?

[2016-01-19 19:14] willdoran commented on #526
I have some questions based on what I've worked through so far to define the spec:

1. The most logical approach seems to be to move to privilege types, I've defined the following:
[create,read,update,delete,search,change status, read_full, register, import]
Are there others that could be clearly defined now?

2. Not all of this set applies to all entities. It would be nice to be able to register

[2016-01-21 17:30] rjmackay commented on #821
One concern: does intercom track individual users? (vs aggregate??) Need to investigate privacy.

[2016-01-21 17:37] lupa18 commented on #867
Any thing I put after "/" give us 404 ... apache configuration problem ?

[2016-01-21 17:44] willdoran commented on #821
Intercom does track individual users, it collects at the least ip, user-agent:
https://docs.intercom.io/pricing-and-terms/privacy

If the user shares name or email address with us through intercom that information is also stored.

The information they store is considered to be shareable with "third party's". So to an extent the browsing habits may be sold on. It's a relatively smart business plan

[2016-01-21 20:30] lupa18 commented on #762
@sophshep changing language in settings, doesn't affect site. I tried deleting cache and offline browser info and nothing.

![seleccion_038](https://cloud.githubusercontent.com/assets/463429/12493610/8a578c58-c064-11e5-99d5-f4d9cf83f19a.jpg)

I'm using origin/master from this repo

[2016-01-21 21:05] rjmackay commented on #526
Ok.. so this seems like overkill. and some of it sounds like the opposite of where I'd like to head. I don't want to end up with a grid of resource + permissions. That makes technical sense, but I don't think it works for a user. For a user I think we want a simple list of permissions they're likely to use.

ie. Don't expose every permission just because we cant. "Manage users" should be a single

[2016-01-21 22:45] willdoran commented on #526
Ok, cool. That is vastly simpler if we're not breaking the permissions down further.

I've enumerated the changes to Platform and Client that should create the Custom Role system from end to end. I've gone through the client code and identified all the changes.

**Platform:**
1. Authorisers -> change to check user role for associated permission
                   -> authorisers changed to use Perm

[2016-01-21 22:47] willdoran commented on #526
I think, as @rjmackay suggested, splitting the Permissions into a trait per permission is nicer even is they are very similar it makes adding new permissions neater.

[2016-01-21 22:48] willdoran commented on #526
@jasonmule Could you take a look at above as well and let me know if there is anything else you can see or if you can think of a better approach!

[2016-01-25 17:29] willdoran commented on #863
Ah ha, ok, I have it reproduced now. I'll fix it immediately!

[2016-01-25 19:49] willdoran commented on #863
This is actually a deeper bug, @rjmackay: there is an issue with checkboxes, there seems to be no distinction between a checkbox and a radio button. Both allow only 1 value to be entered.

There is a display issue with checkboxes as well that seems to have been in the code for a while.

[2016-01-27 15:02] jshorland opened #869 "Add disclaimer for monthly recurring payments on all payments pages"
There was confusion about recurring payments from a user. We need to have this clearly stated on the payments page to avoid any confusion.

The disclaimer should read:

"You'll be charged (plan cost)/month plus taxes, if any, on a recurring basis. You can change your plan at any time on your plans page, or cancel your subscription by contacting us (with link to contact us). By clicking "continue",

[2016-01-27 15:20] jshorland opened #870 "Figure out creation process for TechSoup approved applicants"
Once Tech Soup approves a free plan for an applicant, they send a confirmation email informing them of how to create an account and deployment. They should never be asked to provide card details or apply again once they've been approved.

- Tech soup will provide a link in the email that sends them to a creation page specifically for approved grassroots applicants. This link will include a unique

[2016-01-27 15:42] jshorland opened #871 "Get grassroots applications into spreadsheet automatically."
Currently, applications come in through helpscout and then Angela and I move the info into a spreadsheet for easier review and aggregation. I would like to streamline this. I believe we lose design customization in google forms. Is that correct?

An alternative solution would be to see if we can link Wufoo responses to a spreadsheet automatically. Assigned to @brandonrosage to answer the design qu

[2016-01-27 21:50] willdoran commented on #869
Does this work visually for the placement of the disclaimer?
<img width="1280" alt="screen shot 2016-01-27 at 16 49 39" src="https://cloud.githubusercontent.com/assets/2694405/12629466/13269730-c516-11e5-84ea-7765c4cfa2dc.png">

[2016-01-27 23:30] jshorland commented on #869
Can we make the text a bit smaller?

Jess Shorland
Product manager
jess@ushahidi.com

[2016-01-27 23:31] willdoran commented on #869
Yep, I can make it the same size as the  required fields message

[2016-01-27 23:31] jshorland commented on #869
Great!

Jess Shorland
Product manager
jess@ushahidi.com

[2016-01-28 16:35] jasonmule commented on #526
And I think we should also change the schema slightly and add:

users, roles, permissions, role_permissions, user_role such that a user has roles and roles have permissions.

Afterwards, pemission traits check for roles and their permissions

[2016-01-28 16:36] willdoran commented on #526
Yep totally agree!

[2016-01-28 17:49] willdoran opened #872 "Task 1: Role API"
- [ ] Add spec test covering Role API
- [ ] Add role endpoint to platform
- [ ] Add role repository with CRUDS operations

[2016-01-28 17:50] willdoran opened #873 "Task 2: Permission Access trait"
- [ ] Add spec test covering Permission trait
- [ ] Create generic trait describing permission access

[2016-01-28 17:51] willdoran opened #874 "Task 3: Add permission entity"
- [ ] Add spec test covering permission entity
- [ ] Create entity describing permission object
- [ ] Create initial data set of permissions
- [ ] Update migrations

[2016-01-28 17:52] willdoran opened #875 "Task 4: Add per permission traits"
Add traits for each permission:
- [ ] Manage Users
- [ ] Manage Posts
- [ ] Manage General settings
- [ ] Bulk data import

[2016-01-28 17:52] willdoran opened #876 "Task 5: Update authorisers to use permission system"
- [ ] Change authoriser code to check user role permissions for given entity
- [ ] Add unit/spec tests for authorizers

[2016-01-28 17:53] willdoran opened #877 "Task 6: Change AdminOnlyAccess for data sources"
- [ ] Change data source authoriser to check for role permissions rather than only allowing admins.

[2016-01-28 17:54] willdoran opened #878 "Task 1: Add Role & Permission Endpoint"
- [x] Add spec test for role endpoint
- [x] Add spec test for permission endpoint
- [x] Add new role endpoint service requesting platform api
- [x] Add new permission endpoint service requesting platform api
- [x] Add endpoint tests
- [x] Add caching

[2016-01-28 17:54] willdoran opened #879 "Task 2: Add roles setting menu"
- [x] Update setting menu template
- [x] Add roles template
- [x] Add role setting controller
- [x] Add role setting directive
- [x] Update locales for new role template
- [x] Add UX test stub for role

[2016-01-28 17:55] willdoran opened #880 "Task 3: Fill in UX test for role and update mock backend data"
- [x] Ensure UX test covers all functions

[2016-01-28 17:56] willdoran opened #881 "Task 4: Clean up Roles on client"
- [x] Remove Rolehelper
- [x] Update associated spec test
- [x] Change all instances of RoleHelper to RoleEndpoint
- [x] Change getRole function in all templates
- [x] Rework post role element to use new role system

[2016-01-28 17:56] willdoran opened #882 "Task 5: Add Permission service"
- [x] Create service which returns permissions based on role
- [x] Change isAdmin() check to use Permission service
- [x] Change all admin related checks to use permission service

[2016-01-29 18:54] caharding commented on #821
Could we dive deeper into the potential challenges we see? I feel as though
we have tools for remaining completely anonymous (open source) and that we
can educate people that if there data is super sensitive they should self
host. From a user support perspective, we'll really struggle to support our
users, grow our user base, and understand feature usage without some sort
of user event tracking. C

[2016-01-29 19:01] willdoran commented on #821
I didn't mean to imply a bias in either direction - I only mean to state what the third party group states. I don't see there as being an issue in using intercom for our purposes so long as our privacy statement incorporates/cover the privacy statements of our third party tools.

I think @rjmackay suggested a configuration option for the open source release. I'm not sure to what extent that is nec

[2016-01-29 19:04] caharding commented on #821
Sorry Will, while writing I was thinking of a conversation that came up on
the retreat where I felt resistance to event tracking. I appreciate the
balanced approach. I'd like for Robbie to way in.

On Fri, Jan 29, 2016 at 11:01 AM, will <notifications@github.com> wrote:

--
Charlie Harding
Product Director

[2016-01-29 20:21] jshorland opened #883 "Save collection button not appearing in V3.1"
Reported from OSS user in intercom:
it is not possible to create a collection without the save button.(save button is missing :))
button can be shown in the modal if the html code is change a bit by adding style="display:block;"

[2016-02-01 19:48] willdoran commented on #883
I believe this issue is fixed in master, we should perhaps release an update for 3.1, but I'm not sure if this fits with the future release process.

[2016-02-01 20:18] willdoran opened #884 "Sync layouts for client"
**Home: list**
- **Missing features:**

- [ ] "Mark as" button
- [ ] "Export" button
- [ ] "Share" button
- [ ] Icon beside role, Custom Roles UX should allow setting of an icon for the role
- [ ] Comments
- [ ] “via SMS” on Post item - data source origin identified - twitter, sms, etc. We don't currently capture or display this information and we probably should.
- [ ] Post type - colour type - a

[2016-02-03 18:42] rjmackay opened #885 "Document tests and test gaps"

[2016-02-03 18:58] willdoran commented on #884
@rjmackay @jshorland

@middle8media  and I went through Layout A to check the client against the pattern library and we found the following issues(Seth if I missed anything let me know). Most are CSS mistakes on the client that need to be brought in live with the pattern library.

In some cases, the pattern library represent features that do not exist on the client - we should consider if we want

[2016-02-03 20:25] rjmackay commented on #871
Done

[2016-02-03 20:25] #871 closed

[2016-02-03 20:26] rjmackay commented on #871
Done. I've used zapier to push from the current form directly into google sheets. No design change at all

[2016-02-04 18:45] willdoran commented on #872
@jasonmule, I think Role should have both icon and colour properties similar to tag, is that possible?

[2016-02-05 03:08] rjmackay commented on #872
That seems overkill. Can we just skip that unless someone requests it later?

[2016-02-05 03:10] willdoran commented on #872
Yep, we can leave it

[2016-02-05 03:17] #869 closed

[2016-02-05 03:30] rjmackay commented on #821
We discussed a bit with the team. I'd suggest we roll this out to our cloud/.io customers with an potential to "opt out" if needed. We should ensure our privacy policy reflects the info that intercom collects.
For open source - I would leave intercom disabled by default for now.

Looking at the features intercom provides it seems like they're tracking less that I thought, and much of the detail wi

[2016-02-05 15:16] middle8media commented on #884
I am currently working on these for the Feb 14 sprint deadline.

[2016-02-05 18:00] jshorland commented on #884
Great. Thanks, will and seth for this (I’m sure tedious) much needed effort.

I would like to propose that we hold off on making decisions on the pattern library contents until we start incorporating Mustang designs after the UX studies.

Jess Shorland
Product manager
jess@ushahidi.com

[2016-02-05 18:05] jshorland commented on #821
I think the opt-out option should be OSS for now.

Jess Shorland
Product manager
jess@ushahidi.com

[2016-02-05 18:42] caharding commented on #821
Robbie, can you review the privacy policy one more time to make sure it
reflects the kind of JS event tracking Intercom is doing? Opt-out through
OSS seems the easiest path right now. Not sure if Intercom has an opt-out
function.

On Fri, Feb 5, 2016 at 10:05 AM, Jess Shorland <notifications@github.com>
wrote:

--
Charlie Harding
Product Director

[2016-02-09 18:42] middle8media commented on #884
CSS is sorted for now, well after https://github.com/ushahidi/platform-client/pull/78 is merged.

[2016-02-09 21:03] rjmackay opened #888 "Limit custom roles based on deployment plan"
- Only responder plan has custom roles
- Other plans cannot create roles, or edit role permissions

[2016-02-09 21:04] rjmackay commented on #888
@willdoran @jasonmule I think we overlooked this for custom roles.
Can we add a feature flag for custom roles which limits creating roles / editing role permissions?

[2016-02-10 00:52] rjmackay opened #889 "Client get stuck in a loop if oauth client fails during login"
- Remove oauth clients from db
- Try to login through client
- Infinite looping oauth requests

[2016-02-10 00:54] rjmackay opened #890 "Client fails to report other errors during login: ie. invalid scope"
- Attempt to login through client w/ missing scope on API
- Get login error, but no extra info

[2016-02-10 04:23] rjmackay opened #891 "Limit private deployment based on plans"
Private deployments should only be available to responder. Add a feature flag

[2016-02-10 19:35] jshorland opened #892 "Deployment discoverability tool v2 for both hosted and OSS"
A tool for discovering deployments of various types/categories

Purposefully vague right now.

[2016-02-10 22:57] rjmackay commented on #526
@jasonmule does that mean a user can have multiple roles? I'd prefer to stick to single role per user - its simpler and multiple roles is unnecessary and probably less clear to users anyway.

[2016-02-11 06:52] jasonmule commented on #526
@rjmackay Sorry for not updating this. We are sticking with a single role per user at the moment.

[2016-02-11 20:32] #880 closed

[2016-02-11 20:32] #879 closed

[2016-02-11 20:32] #878 closed

[2016-02-11 21:43] rjmackay opened #893 "Missing delete button on post detail view and individual posts in list"
- Pretty sure we had a delete button on post detail view. Could you reinstate this?
- Similarly I think it'd be useful to have a delete button on individual posts in the post list?

[2016-02-12 16:08] middle8media commented on #893
@rjmackay I am assuming you mean adding a "Delete" button along with the yellow "Edit", "Share" and "Collections"?

There is a delete above. Which means user would select the post via checkbox then delete.

![image](https://cloud.githubusercontent.com/assets/1033332/13012307/beb80782-d178-11e5-9cce-fed99f2d1cfe.png)

[2016-02-12 16:17] middle8media commented on #893
fixed via https://github.com/ushahidi/platform-pattern-library/commit/fb0216d8bdc86f89b4259e1bfc8f690e9c3e5ab6

[2016-02-12 16:17] #893 closed

[2016-02-12 17:11] jshorland opened #894 "Soft delete for some entities in platform"
e.g. post types (forms) and posts

[2016-02-12 17:24] sebm90 commented on #894
I created a long post type with many fields and long lists of checkbox options (spending roughly 45 minutes). When I tried to publish posts with that post type, I was told a post step was incomplete. I went to the post type and deleted the step, not realising that it would delete the whole post type. There is no option to undo the action and now I have to repeat the same post type setup again.

[2016-02-14 01:38] #881 closed

[2016-02-14 01:38] #882 closed

[2016-02-15 18:07] snilsmitchell opened #896 "See which reports have triggered notifications and to whom"
- A deployer should be able to see a list of reports that have triggered notifications to users
- A deployer should be able to see  who has received notifications, or what kind of notifications users have subscribed to

Aha! Link: https://ushahiditeam.aha.io/features/PROD-715

[2016-02-15 18:18] rjmackay opened #897 "Update tier config's for new responder features"
- We need to manually update the tier config in the cloud DB to toggle new features on/off.
- Once that is done we need to trigger a configure task for every deployment
  - You can do this through the platform-cloud-artisan playbook

[2016-02-15 18:29] rjmackay opened #898 "Make responder plan live"
- [ ] Show responder as available in plans (cloud-ui)
- [ ] Show responder as available in plans (platform-client)
- [ ] Set responder plan to active in cloud DB (update via tier table seeder)
- [ ] Check responder details: features, price etc (update via tier table seeder)

.. probably keep this all on a branch until just prior to launch

[2016-02-15 19:11] rjmackay commented on #896
Can you provide a description and some background about *why* this is useful to customers?

[2016-02-15 19:37] rjmackay opened #899 "Create OSS release candidate"
Once features are merged to develop - create an RC tag for client and platform.
This could be deployed to QA for testing

[2016-02-15 19:56] rjmackay opened #900 "Tag open source release"
https://wiki.ushahidi.com/display/WIKI/Release+process

[2016-02-15 20:06] rjmackay commented on #891
@jasonmule is this all done with a feature flag on the backend?
Does the UI for making a deployment private show/hide itself based on that feature flag too?

[2016-02-15 20:07] rjmackay opened #901 "Limit CSV import based on feature flag"
- [ ] Feature flag in backend to disallow imports
- [ ] UI for importing is hidden/disabled when feature flag disabled

[2016-02-15 20:09] jasonmule commented on #891
@rjmackay It's done with a feature flag on the backend and this needs to be added on the config UI as well.

[2016-02-15 20:12] #623 closed

[2016-02-15 20:26] rjmackay commented on #898
Ideally we can deploy responder features to Cloud the day before launch and update the tiers, but hold back the UI updates (ie. plans screens). Then we can manually update quakemap to responder and test features there.

[2016-02-15 20:38] rjmackay commented on #898
@zhalloran assigning to you. I'll take a look at the UI updates if I get time but I want to make sure this isn't missed if I get stuck offline/travelling

[2016-02-15 20:43] rjmackay commented on #830
Assuming this is done?? Reopen if not

[2016-02-15 20:43] #830 closed

[2016-02-16 04:27] jshorland opened #905 "CSV error message confusing for non technical people"
Selected a .docx

See screenshot for error message

The wording should read something like:

"File type not supported. Please upload a .csv file less than xx"

![screen shot 2016-02-15 at 11 19 59 pm](https://cloud.githubusercontent.com/assets/3224856/13067186/8b7322ce-d43b-11e5-88fb-4477a888b5f7.png)

[2016-02-16 04:46] jshorland opened #906 "After clicking "save role" should redirect back to main roles page"
Steps:

1. navigated to roles
2. clicked "add role"
3. filled in relevant information
4. clicked "save"
5. saw success message appear at top of screen

Expectation:
Either
1. redirect to main roles screen or
2. option to save and add another

[2016-02-16 17:39] willdoran commented on #906
So at the moment, the page redirects to the edit page for the newly created role. I will change it to send the user back to the roles page.

I could add the save and add another function pretty easily BUT it should really be added for all entities such as user, category etc. Do you want me to go ahead and do that?

There is one UI question, should there be two buttons side by side?
[Save] [Save an

[2016-02-16 18:03] willdoran commented on #906
Ok actually, adding the save and add another is super simple code wise BUT I need UI input. @middle8media when we get your platform up would you be able to help me make the button I'm creating...eh...look not awful :)

[2016-02-16 18:16] caharding opened #908 "Location Search does not grab businesses"
Action: I tried to make a post on the QA deployment and when prompted to "Enter A Location" and Search, I searched for a local business in LA "Old Style Guitars" but nothing was found

Expected result: When I search for a business or location, it gives me a list of options (like Crowdmap did)

Aha! Link: https://ushahiditeam.aha.io/features/PROD-714

[2016-02-16 20:26] willdoran commented on #905
Ok I think this is done.

[2016-02-16 20:26] #905 closed

[2016-02-16 20:26] #906 closed

[2016-02-16 21:02] jshorland opened #910 "Add guidelines for CSV file upload"
to include:
- max size of file
- how to match structure to post type
- how to format location in CSV file so platform supports it

Brief instructions should be included in /data-upload screen.
![screen shot 2016-02-16 at 3 57 49 pm](https://cloud.githubusercontent.com/assets/3224856/13090852/2822b03c-d4c6-11e5-95c4-73f1e27522be.png)

[2016-02-16 21:13] willdoran commented on #910
@jshorland for the second point
how to match structure to post type

Do you mean how they should layout the csv in terms of columns? The tool will let them match whatever columns they choose against post type fields.

[2016-02-16 21:29] jshorland commented on #910
Oh, fantastic. Ignore second point then. I'll test that out.

[2016-02-16 21:32] willdoran commented on #910
Ok, cool, I'm adding the other two as items under the initial explanation.

[2016-02-16 22:49] #901 closed

[2016-02-17 12:26] sebm90 opened #912 "CSV Upload Error Message is blank"
![image](https://cloud.githubusercontent.com/assets/5349387/13109484/cbc8d316-d579-11e5-887a-0bc7eed45b83.png)

Happened when I uploaded a CSV file that doesn't meet the guidelines. It would be helpful if the alert box explained why the error occurred.

[2016-02-17 12:27] sebm90 opened #913 "Duplicate icons in front-end"
![image](https://cloud.githubusercontent.com/assets/5349387/13109532/1a0160f2-d57a-11e5-8576-bf4a5c881051.png)

On http://qa.ushahidi.com/settings/forms, mousing over the delete button causes two trash icons to appear.

[2016-02-17 13:27] jshorland opened #914 "Selecting audience for "who can see this" when adding a post sets off an error alert"
Steps to recreate:
1. click "add post" when logged into deployment
2. write title of post
3. click drop down menu for "who can see this" and select "admin"
4. See error message appear

![screen shot 2016-02-17 at 8 22 13 am](https://cloud.githubusercontent.com/assets/3224856/13110791/253a2d20-d550-11e5-90b2-3a5fa18a2dd7.png)

Confusing for me as it appears I need to select the audience second in t

[2016-02-17 13:33] jshorland commented on #913
Adding on to this as I experienced the issue as well on Post types screen.

![screen shot 2016-02-17 at 8 32 10 am](https://cloud.githubusercontent.com/assets/3224856/13110952/0c8e0f48-d551-11e5-9ef5-e1365a0c92ce.png)

[2016-02-17 15:40] willdoran commented on #914
@jshorland taking a look at this now.

[2016-02-17 16:35] middle8media commented on #913
fixed via https://github.com/ushahidi/platform-client/commit/d5ebc5e2a808db1ee6d9e1c5af870a19e626ea12

waiting to be merged via https://github.com/ushahidi/platform-client/pull/88

[2016-02-17 16:35] #913 closed

[2016-02-17 18:14] #914 closed

[2016-02-17 18:14] #910 closed

[2016-02-17 18:18] willdoran opened #915 "Issue saving contacts on notification"
<img width="1345" alt="upload" src="https://cloud.githubusercontent.com/assets/2694405/13119814/f6fffd4e-d578-11e5-869f-76deb589d030.png">

[2016-02-17 18:19] willdoran opened #916 "Line spacing for permissions and title is too small"
![screen shot 2016-02-17 at 1 17 04 pm](https://cloud.githubusercontent.com/assets/2694405/13119835/0d7c75d4-d579-11e5-9df4-9f3a865dffd5.png)

[2016-02-17 18:26] willdoran opened #917 "Add default role for user whose current role has been deleted"
We should default it to "member" and have a notification pop up before they delete it that the users associated with the role will be changed to members.

[2016-02-17 18:37] #916 closed

[2016-02-17 18:48] aoduor opened #918 "Page Title doesn't change when switching to "Roles settings" Page"
Steps to reproduce
* Click on settings
* Click on any menu item except roles
* THEN click on roles

Expected outcome
* On switching navigation from one settings page to the other, page title should change to reflect "Role Settings" page

Actual Outcome
* e.g I'm switching from viewing the "Users" page. Page title remained "Managing Users", despite the fact that I'm on the roles settings page.

Thi

[2016-02-17 18:53] aoduor opened #919 "Forced to update password field when editing a user"
So, they will likely be times an admin is editing certain details about a user, but may not necessarily want to change the password.

I tried editing a single user, and only wanted to change the name and role, and when I clicked on save(without updating the password field) - and the "Save button" was NOT responsive. On updating the password field, i was successfully able to edit this user.

Recomm

[2016-02-17 18:58] willdoran commented on #918
Fixed! thanks

[2016-02-17 18:58] #918 closed

[2016-02-17 19:02] willdoran commented on #919
@jshorland @rjmackay could you comment? We can stop forcing users to update the password when updating a user quite easily but may be there is a historical reason I'm not aware of for why we do this

[2016-02-17 19:07] aoduor opened #920 "Unable to create a new saved search"
A couple of screenshots to explain my issue.
![screenshot1](http://i.imgur.com/SqVjywD.png)
With this first screenshot, I'm logged in as a user with a custom role that only allows me to manage posts
![screenshot2](http://i.imgur.com/0e7XwWJ.png)
With this second screenshot, I'm logged in as the admin

In both cases, I'm unable to create a new saved search :(

[2016-02-17 19:37] aoduor opened #921 "Custom User Role saves without selecting permissions"
Steps to reproduce
- Click on Roles
- Then click on add new role
- Fill out name and description
- Leave permissions options unchecked

Expected outcome
- I should get an error message prompting me to select at least one option OR there should be a "None" option selected by default that would just allow for member access i guess?

Actual outcome
- The form submitted and saved with no error message

[2016-02-17 19:37] willdoran commented on #920
We tracked this and it's most likely a privilege issue. @jasonmule is going to resolve it!

[2016-02-17 19:38] aoduor commented on #920
privilege issue even for an admin @willdoran? Oiyoyoi... Alrighty, will wait :)

[2016-02-17 19:40] willdoran commented on #921
We actually don't check if permissions are set. I think technically you can have a role with no permissions, all you can do is read stuff that is available to everyone. I think that's a valid use case but would need @jshorland @rjmackay input.

It's an easy change to prevent the pending sobbing epidemic :)

[2016-02-17 19:44] willdoran commented on #920
@aoduor For user I can update but not save, will fix that.
For admin I can do both on my local and on qa. Would you terribly retesting in case I'm missing something?

[2016-02-17 19:47] aoduor commented on #920
Just tried it again, no luck. Mind sharing your screenshot so that I can compare?

[2016-02-17 19:55] aoduor commented on #920
Ok, so this works out for admin users. :D.

[2016-02-17 20:01] aoduor opened #923 "Bulk Deletion of Custom Roles?"
This is more of a question and for us to brainstorm.

What do you guys think about adding the ability to bulk delete roles?

[2016-02-17 21:06] willdoran commented on #908
The search works correctly for a department store in Dublin but "Old Style guitars" doesn't work for me either. I'll check if there is an issue when there are multiple issues.

[2016-02-17 21:40] willdoran opened #925 "Set featured option for collection editor not appearing"
Permission check is not functioning correctly for set featured option

[2016-02-17 22:08] #920 closed

[2016-02-17 22:12] rjmackay commented on #917
Previously this would have been handled by the foreign key for user.role (ie. on cascade set null) .. that doesn't give them a role, but it at least keeps the DB sane. Is that still happening or did we remove the foreign key and break this?

If there's a clean way to assign them the 'member' role then do that too.

[2016-02-17 22:14] rjmackay commented on #917
answering my own  question: foreign key is still there so that'll work. I'll just shush now :)

[2016-02-17 22:19] #872 closed

[2016-02-17 22:19] #875 closed

[2016-02-17 22:19] #874 closed

[2016-02-17 22:19] #873 closed

[2016-02-17 22:19] #877 closed

[2016-02-17 22:19] #876 closed

[2016-02-17 22:49] jasonmule commented on #915
The email address 'admin' is invalid and would probably not be used in a production environment.

[2016-02-17 22:49] #915 closed

[2016-02-17 22:50] #925 closed

[2016-02-17 23:03] rjmackay commented on #908
This isn't something we explicitly tried to support.. I'd guess its pure luck that this works for some locations already. I think its a matter of what is in the OSM database right now .. Old Style Guitars isn't.

Jess - assigning to you for triage in a future sprint.

[2016-02-17 23:07] rjmackay commented on #912
Do we know **what** the 500 error was here? We shouldn't be throwing a 500 error regardless so theres more than just an error reporting bug here.

[2016-02-17 23:09] rjmackay commented on #923
Seems like a really minor usecase - when would you want to delete many roles?

[2016-02-17 23:09] willdoran commented on #912
I think this was caused by the dir permission issue related to the header image upload as there was an error on application logs.

[2016-02-17 23:12] rjmackay commented on #921
- I think role w/ no permissions is valid. On a private deployment you might want that so you can give people minimal access.
- Is a role with no permissions identical to a member? Can you delete the member role? in which case this is needed to recreate it.

[2016-02-17 23:13] willdoran commented on #921
You can delete the member role but not the admin role.

[2016-02-17 23:14] rjmackay commented on #919
This is absolutely a bug. This wasn't the previous behaviour.. in fact we hide the password field initially so its obvious you can skip it.