[2016-09-19 21:51] brandonrosage commented on #1392
@jshorland:

First, posts with no survey are grouped into the survey label "Unknown" and, by default, not included in the dataset (they're unchecked):

![unknown posts](https://cloud.githubusercontent.com/assets/1136279/18650150/0841d9ce-7e89-11e6-8783-660f26de7440.png)

So, out of the gate, the message about posts not being shown because they lack location data will only apply to the posts in con

[2016-09-19 21:57] brandonrosage commented on #1389
[Fixed](http://preview.ushahidi.com/platform-pattern-library/f-embeds/assets/html/5_layouts/embed-post-detail.html).

Totes. I've slimmed it down to "Share" and "Add to Collection." I only had them all in case embeds could be aware of logged-in users, and therefore provide those with permission a quick jump to "Edit" (and so on) from an embed.

[2016-09-19 22:02] jshorland commented on #1387
Hahahahahahah

[2016-09-20 00:29] caharding commented on #1387
Looks good to me

[2016-09-20 00:30] caharding commented on #1389
I think we should also not include steps conversations and comments these
should just be viewable on deployment

On Mon, Sep 19, 2016 at 2:57 PM, Brandon Rosage <notifications@github.com>
wrote:

--
Charlie Harding
Product Director

[2016-09-20 00:31] caharding commented on #1392
Agree

On Mon, Sep 19, 2016 at 2:51 PM, Brandon Rosage <notifications@github.com>
wrote:

--
Charlie Harding
Product Director

[2016-09-20 00:32] caharding commented on #1388
Two notes:

   - Bottom section doesn't make sense to me
   - Font size may be large if this is being embedded, but prob should work
   out for V2

On Mon, Sep 19, 2016 at 2:46 PM, Brandon Rosage <notifications@github.com>
wrote:

--
Charlie Harding
Product Director

[2016-09-20 00:33] caharding commented on #1399
Very happy with this solution. Thanks Brandon.

On Mon, Sep 19, 2016 at 12:01 PM, Jess Shorland <notifications@github.com>
wrote:

--
Charlie Harding
Product Director

[2016-09-20 00:51] rjmackay commented on #1376
I think @willdoran is looking at this within the scope of #1366.
@willdoran Can you move this into dev if you're already started?

[2016-09-20 00:53] rjmackay commented on #1401
@spiral99 thanks for the bug report. @zhalloran is already working on a fix for this alongside other changes to that form. You should see this fixed in a few weeks.

[2016-09-20 00:56] rjmackay commented on #1400
@jshorland Q on process: this is clearly a bug.. I don't think sizing a bug like this is particularly useful.
Should I drop it straight into Waiting for sprint? or waiting for dev?

[2016-09-20 00:57] rjmackay commented on #778
@jshorland I should flag that the issues in #490 still stand: because of the way the client is built, facebook/twitter/etc are unable to provide a useful preview for a deployment. I think we should look into fixing that, however it is a larger technical challenge so probably a separate task.

[2016-09-20 01:01] rjmackay commented on #1398
I'm curious what the justification for "Change “Notifications” to Alerts" is?
Alerts is familiar for v2, but I would have thought Notifications is more familiar from other we apps? (clearly I have no data either way)

[2016-09-20 01:02] rjmackay commented on #1397
What does that mean?

[2016-09-20 01:08] rjmackay commented on #1395
FYI our existing email provider does this. Just checked their docs and it looks like inbound email handling is free. We only pay for outbound and are currently well under the limit before we start being charged.

[2016-09-20 01:13] rjmackay commented on #1379
This seems potentially more complicated/confusing than just providing a 'Save and edit next post' button regardless if I selected multiple posts or just hit edit next to a single post. Is there something that stops us always including "Save and edit next post"?

[2016-09-20 01:18] jshorland commented on #1400
Let's drop this straight into waiting for dev, I'd say

Sent from my iPhone

[2016-09-20 01:24] rjmackay commented on #1380
@Urfaqadri @willdoran Is this resolved?

[2016-09-20 01:34] rjmackay opened #1402 "Bugs in collections UI"
Migrated from https://github.com/ushahidi/Ushahidi_Web/issues/1453

when I click on collections there is a number of bug-like behaviour including: duplication of collection names, and when clicking on "edit" for the current collection, it takes you to another collection. I am trying to teach a new group of volunteers to use this product so I would be very grateful if you could fix these problems a

[2016-09-20 02:06] Urfaqadri commented on #1380
Not that I know of

Sent from my BlackBerry 10 smartphone.
From: Robbie Mackay
Sent: lunes, 19 de septiembre de 2016 10:25 p.m.
To: ushahidi/platform
Reply To: ushahidi/platform
Cc: Qadri, Urfa; Mention
Subject: Re: [ushahidi/platform] I have filled in fields but it says i haven't (#1380)

@Urfaqadri<https://github.com/Urfaqadri> @willdoran<https://github.com/willdoran> Is this resolved?

�
You ar

[2016-09-20 02:53] rjmackay commented on #1399
Just checking, is this the current iteration of this in the PL? http://preview.ushahidi.com/platform-pattern-library/f-metadata/assets/html/5_layouts/post-edit.html

- When I click the status chip, the dropdown appears but theres no way to cancel. Its not clear if the existing Cancel and Save buttons will save the entire post or just status?
  - Can we disable/hide the post  Cancel/Save buttons fo

[2016-09-20 02:56] rjmackay commented on #1361
While looking at #1399 I wondered - how does the user editor interact with posts with just an SMS number? or can I set a post to 'anonymous' when editing?

[2016-09-20 02:59] rjmackay commented on #1388
Looks good to me so far 👍

[2016-09-20 03:15] rjmackay commented on #1389
I think they *could* be aware of logged in users, but I suspect that would add confusion.

- "Conversation with the author" definitely shouldn't be included
- I think other asks ie. Verify. Should be included
- I'm on the fence about including comments.

[2016-09-20 03:19] rjmackay commented on #1387
I think this is pretty good. Only complaint is that it gets a bit cluttered at smaller sizes with an icon in every corner of the map..

[2016-09-20 03:53] caharding commented on #1389
Embed should assume a logged out state. We want this to be a path to get
people to the platform. Just like SoundCloud now makes you go to their app
after you pause a song.

On Mon, Sep 19, 2016 at 8:15 PM, Robbie Mackay <notifications@github.com>
wrote:

--
Charlie Harding
Product Director

[2016-09-20 14:39] brandonrosage commented on #1379
@rjmackay Ostensibly, the problem with including an action like that in the toolbar at all times is this:

![busy toolbar](https://cloud.githubusercontent.com/assets/1136279/18674721/ceddf32e-7f15-11e6-8b68-a061cc0d992b.png)

It's why I think "bulk editing" is a thing we should take seriously, so we can offer tools catered especially for it. We already do this for bulk-editing postcards.

[2016-09-20 15:36] jshorland commented on #1391
Got it — thanks. Looks good.

[2016-09-20 15:55] tuxpiper commented on #1380
Unless I missed what the issue was to begin with... this seems resolved to me. The form elements are clearly aligned and error messages are clearly displayed for missing inputs.

[2016-09-20 16:06] Urfaqadri commented on #1380
No they are not aligned and I put it all the required elements,

Sent from my BlackBerry 10 smartphone.
From: David Losada
Sent: martes, 20 de septiembre de 2016 12:56 p.m.
To: ushahidi/platform
Reply To: ushahidi/platform
Cc: Qadri, Urfa; Mention
Subject: Re: [ushahidi/platform] I have filled in fields but it says i haven't (#1380)

Unless I missed what the issue was to begin with... this seems r

[2016-09-20 16:18] tuxpiper commented on #1380
@Urfaqadri aren't you seeing something like the attached screenshot?

![screen shot 2016-09-20 at 18 16 25](https://cloud.githubusercontent.com/assets/467393/18679125/94a0616c-7f5e-11e6-8728-9062d55f3028.png)

If not, you may have to clear your cache.

[2016-09-20 16:21] Urfaqadri commented on #1380
No, I filled in all the info, per the screen shot I sent.  The title and name of organization line to not line up with the text entered; this means that when I click save, it tells me I don't have anything in those fields.

All of this is moot, I believe, as the due date was last week before I first contacted you.

From: David Losada [mailto:notifications@github.com]
Sent: Tuesday, September 20, 2

[2016-09-20 16:44] tuxpiper commented on #1380
Really sorry that we couldn't be of assistance on time.

Just as @willdoran  said back then, we couldn't see your screenshot as it was filtered by github when processing your email. ( open this URL to see what we can see: https://github.com/ushahidi/platform/issues/1380 ).

If @Urfaqadri  would be willing to send a newly generated screenshot showing how the problem he/she meant to report persists,

[2016-09-20 22:35] rjmackay commented on #1242
@brandonrosage design is done on this. But it could do with an answer on how to handle multiple notifications at once, sometime before it gets into a sprint.

[2016-09-20 22:42] rjmackay commented on #1402
Deployment URL is palestine-reports.ushahidi.io

[2016-09-20 22:43] jshorland commented on #1402
I'm going to try to reproduce it, or contact user if i can't

[2016-09-20 22:45] jshorland commented on #1377
Hey @ljh468525, we're going to close this issue for now. If you are still experiencing the issue and can send a screenshot through, please do and we'll reopen the issue.

[2016-09-20 22:45] #1377 closed

[2016-09-20 22:48] jshorland commented on #1380
I'm closing the issue.

[2016-09-20 22:49] #1380 closed

[2016-09-20 22:52] jshorland commented on #1335
@brandonrosage I'm moving this to design because i'm still not completely clear the desired behaviour here -- is this a bug, ux issue, or new feature?

[2016-09-20 22:53] #1347 closed

[2016-09-20 22:56] jshorland commented on #1346
@fegul are you still experiencing this issue after updating to the latest version (v3.5.1)?

[2016-09-20 22:58] jshorland commented on #1339
This isn't a bug, as @willdoran has explained. This should actually have a location picker --> should share the same location picker as a post. @brandonrosage do you have any strong feelings about this otherwise?

[2016-09-21 03:29] rjmackay opened #1403 "New lines in deployment description aren't rendered in mode context"
### Expected behaviour
When I type new lines in to the description field in settings > General, I expect to see them on the sidebar

### Actual behaviour
New lines are only show as spaces, not new lines

### Steps to reproduce the behaviour/error

More info on intercom https://app.intercom.io/a/apps/hl5rfiga/inbox/tech/conversations/5726562662

[2016-09-21 03:45] rjmackay commented on #1402
@daneasterman we're looking into this issue and will post updates here.

[2016-09-21 03:58] rjmackay commented on #1368
@willdoran is there anything in this task that should go back into platform? or shall we just close it?

[2016-09-21 04:24] rjmackay commented on #1362
Anyone know/have opinions on the best way to store a date time and timezone in mysql? @zhalloran @willdoran @jasonmule

mysql `datetime` doesn’t store timezone, timestamp always converts before to UTC but can’t handle a pre 1970 date.
Currently we don’t do much/anything with datetime fields on a survey, we blindly throw input into `strtotime` then save to mysql
Similar with our created/updated tim

[2016-09-21 04:26] rjmackay commented on #1402
I think this might reproduce:
1. Create a new collection (C2)
2. Navigate to a different colleciton (c1)
3. Click edit - C2 is shown in edit, rather than C1.

[2016-09-21 10:16] spiral99 opened #1404 "QA observations and improvement suggestions."
1.     Creating my first basic post I expected the save button to be under the location selection.
2.  As a fist time user i have no idea what the collections section entails maybe a small description     would be suffice.
3.  A key that show what is displayed on the map may also be helpful to users.
4.  The icons at the bottom left are not intuitive to first time users most user don't expect the

[2016-09-21 20:52] brandonrosage commented on #1399
I've made some revisions to the 'metadata' pattern, as well as the 'chips' and 'mainsheet' patterns that are connected to it.

First, the visual appearance:

![metadata](https://cloud.githubusercontent.com/assets/1136279/18727686/729410da-800f-11e6-9ade-1d544304147e.png)

## Chips
Chips now share more visual DNA with buttons, so they appear even more clickable. They also have an optional treatment

[2016-09-22 09:27] kollinsayz opened #1406 "Custom icons for Survey types"
### Expected behavior
As in V2, each post would appear as an icon on the map showing the location instead of the Pin.
### Actual behavior
Currently we just have the default location pin :(

[2016-09-22 09:30] tuxpiper commented on #1406
@jshorland @aoduor  I think this is a +1 to add to #625 and #1368

[2016-09-22 09:35] aoduor commented on #1406
Thanks for flagging @tuxpiper ;)

[2016-09-22 10:08] spiral99 opened #1407 "bug in editing post collections."
### Expected behaviour

editing  a collection should make observable changes to the selected colllection
### Actual behaviour

Trying to edit a created collection doesn't seem to work as expected instead the feature creates a new collection while retaining the unedited collection.
### Steps to reproduce the behaviour/error
1. Login to your deployment
2. Click on the collection icon on the bottom l

[2016-09-22 17:15] KrisKuri opened #1408 "P0 Bug Image upload"
Deployment url: https://hillclearinginpenang.ushahidi.io/
### Expected behaviour
After an image upload , the images should appear as uploaded in the post.

### Actual behaviour
Images disappeared , images don't appear in the post. A number appears in the text field.
### Steps to reproduce the behaviour/error
upload image to a post
save.

[2016-09-22 21:38] brandonrosage commented on #1339
Yes, two opinions:

### Location picker
The selecting of a location should always use the "location picker," scoped out in Issue #1327.

### The 'Default location' setting
The "General" setting for "Default location" has always been a little confusing as to _which_ map it was affecting. Historically, the "General" setting for location was about the "Map" view. But, as I've advocated in the past, t

[2016-09-22 21:41] brandonrosage commented on #1335
@jshorland This is the impetus for the "free-form surveys" issue we've discussed over the past few weeks. I'd like for it to be high-priority, and therefore slotted into the earliest sprint possible. If it looks like that'll be possible, I'll prepare a feature branch right away, demonstrating it.

[2016-09-22 21:52] brandonrosage commented on #1391
As far as I'm concerned, @jshorland, this is ready for "Tech Spec & Sizing."

[2016-09-22 21:54] nickbadams commented on #1335
!   :)

On Thu, Sep 22, 2016 at 2:41 PM, Brandon Rosage <notifications@github.com>
wrote:

--

*Nick Adams, Ph.D.Research Fellow – Social Science, *

*Berkeley Institute for Data Science*
*University of California, Berkeley*

[2016-09-22 21:56] brandonrosage commented on #1388
@caharding: My clumsy attempt to avoid two separate layouts led to this confusion, I think. That bottom section is simply the sheet that would appear in place of the survey form once it was submitted:

![submitted](https://cloud.githubusercontent.com/assets/1136279/18767540/7233daea-80e5-11e6-8ab9-8802799409b3.png)

[2016-09-22 22:09] brandonrosage commented on #1389
These embeds are embedded "Post detail" views.

If they're "Post detail," I think they should include publicly-visible comments and tasks. Otherwise, there'd be no intuitive way for readers to access that content (let alone that it existed).

If we're saying they should be "Postcards," instead, that's where comments, tasks, and many fields would reasonably be left off. It'd make sense, then, that

[2016-09-22 22:21] jshorland commented on #1335
Thanks for that context @brandonrosage. let's get this thing built. I'm going to tag it with Sprint 12 for now.

[2016-09-23 03:47] caharding commented on #1388
Makes sense. Can we add some sort of success graphic. Something to add some
delight.

On Thursday, September 22, 2016, Brandon Rosage <notifications@github.com>
wrote:

--
Charlie Harding
Product Director

[2016-09-23 03:50] caharding commented on #1389
I think that posts should be a competent logged out experience that only
shows the content of the original post we can tell people to see the whole
throng visit the link. We want to encourage people to visit deployments.
Further I think here could be issues of PII wish comments. Even if people
make them publicly they might be surprised to see them hosted elsewhere on
the web.

On Thursday, Septemb

[2016-09-23 09:04] spiral99 opened #1409 "adding new custom posts on the platform."
The ability to add new posts in V3 should be easier to access it took me a while to realize that I could add custom posts using the survey feature. I would suggest an icon on the development homepage be added for that.

[2016-09-23 17:27] jshorland commented on #1408
@KrisKuri when you log a P0 bug, can you make sure to add the P0 label? Thanks!

[2016-09-23 17:30] jshorland commented on #1408
@willdoran @zhalloran I can't seem to reproduce this. Can either of you?

[2016-09-23 17:37] jshorland commented on #1368
we should try to get this into platform if possible, but this will need a better idea of UI for platform. I would suggest we move back to design. @willdoran thoughts?

[2016-09-23 17:39] willdoran commented on #1368
The major issue with this will be supporting custom sprite files and mixing them into our own. The other changes are actually extremely straightforward. And can be moved directly from 1000ocean

[2016-09-23 17:40] jshorland commented on #1240
This is working for me in qa.ushahididev.com. @caharding would you mind logging in and double checking that this pattern solves the issue you described?

[2016-09-23 17:43] jshorland commented on #1349
This is great. I get clear feedback on progress and don't click a thousand time.

Passes QA, tested in qa.ushahididev.com

[2016-09-23 17:46] jshorland commented on #1314
@brandonrosage correct me if I'm wrong, but this really gets addressed in free-form survey build also addressing #1335

[2016-09-23 17:50] jshorland commented on #1315
I'm going to close this. We need to get back in touch with the user when #1387 #1388 and #1389 are complete.

[2016-09-23 17:50] #1315 closed

[2016-09-23 17:51] jshorland commented on #1308
oops sorry moving the wrong one. moving back to QA and I'll qa during #1366

[2016-09-23 17:56] jshorland opened #1410 "V2 --> V3 migration"
We need to identify everything in V2 we're missing in V3. So far I have:
- category structure (category, sub categories vs surveys, categories)
- comments
- news links

Is there anything else I'm missing here @aodour and @zhalloran?

We'll also need to address how the migration will happen. Automated tool? What potential problems do we need to flag out of the gate?

Aha! Link: https://ushahiditeam

[2016-09-23 18:23] jshorland commented on #1408
https://app.intercom.io/a/apps/hl5rfiga/inbox/all/conversations/6060959927

[2016-09-23 18:27] jshorland commented on #1410
@kamaulynder would love your input on this as well if you have time.

[2016-09-23 18:29] brandonrosage commented on #1314
@jshorland Spot on.

[2016-09-23 19:27] jshorland commented on #1408
Another user experiencing problems with image upload: https://app.intercom.io/a/apps/hl5rfiga/inbox/unassigned/conversations/6089553793

[2016-09-23 19:28] jshorland commented on #1376
Another user complaint: https://app.intercom.io/a/apps/hl5rfiga/inbox/unassigned/conversations/6089553793

[2016-09-23 21:51] jshorland commented on #1406
@tuxpiper this was done for 1000 oceans, right?

[2016-09-23 21:58] jshorland commented on #1339
I LIKE THIS.

[2016-09-23 22:00] jshorland opened #1411 "Map should auto size to fit all posts"
This was a feature spec'd in mustang but not yet built and integrated. to fix #1339 properly as @brandonrosage, we need to implement this. This is still lower priority than embeds, location search, and free form survey builds in my opinion.

@rjmackay given this is already scoped pretty clearly in the mustang patterns, can I throw this to you for a first pass for sizing? and/or letting me know add

[2016-09-23 22:18] jshorland commented on #1399
I keep thinking it's a toggle button or a scrollable-esque bar when there is a label. Especially with the "alpha" status coloring.  I like the consistency though. I think we should align left vs. centered. Makes total sense re: date labels. @caharding would love to hear your thoughts on this too. This might be something we should put to user testing to see which version is most clear.

[2016-09-23 22:23] jshorland commented on #1379
@brandonrosage I think your solution makes a lot of sense, and agreed that we can't just have the save and edit next at all times.

[2016-09-23 22:26] jshorland commented on #1361
So meta data also gets rid of our need for this right? because you actually edit author and date by clicking those chips themselves.

[2016-09-23 22:35] tuxpiper commented on #1406
That is exactly right @jshorland

On 23 Sep 2016 11:51 p.m., "Jess Shorland" <notifications@github.com> wrote:

[2016-09-23 22:44] jshorland commented on #1408
Another user experiencing the issue: https://app.intercom.io/a/apps/hl5rfiga/inbox/all/conversations/6046609134

[2016-09-23 22:48] jshorland commented on #1399
User having an issue with pre-dating a post relevant to this: https://app.intercom.io/a/apps/hl5rfiga/inbox/all/conversations/6065074701

[2016-09-23 22:51] willdoran commented on #1408
This is not occuring for me on ushahididev.com but it is slow, on the deployment Chris linked to I am getting a fail at the Gateway:
Request URL:https://hillclearinginpenang.api.ushahidi.io/api/v3/media
Request Method:OPTIONS
Status Code:504 Gateway Time-out
Remote Address:104.130.102.242:443

This seems to be a system issue, I'm afraid I'm not sure where to look @rjmackay @zhalloran @tuxpiper wou

[2016-09-25 10:14] tuxpiper commented on #1408
I haven't been able to reproduce. I uploaded and created a post with my test kitten jpeg in my .io deployment without any transfer problems.

![test-kitten](https://cloud.githubusercontent.com/assets/467393/18814616/6fd4dd4a-8319-11e6-84ff-0c1952c4138a.jpeg)

Any specific steps to follow? Maybe this was a transient problem?

[2016-09-25 15:59] jshorland opened #1412 "Change category visibility to match pattern library"
From same user having issues with images. @rjmackay, can you help ID the issue when you're back online today?:

Another problem keeps arising as well. While you've restored the pictures, our categories seem to keep going missing! I have taken a snip of the drop down filters bar and this is what happens,

The category not only dissapears here in the filters bar but also in the settings bar, where t

[2016-09-25 16:00] jshorland commented on #1408
Hey all, after the server reboot, she says she is able to see her previously uploaded pictures, but not upload NEW pictures. She says she tries to click upload, waits about 5 minutes, clicks save, but then sees nothing on the post.

[2016-09-25 16:02] jshorland commented on #1412
https://app.intercom.io/a/apps/hl5rfiga/inbox/all/conversations/6060959927

[2016-09-25 18:37] zhalloran commented on #1408
It's possible that these new files are oversized. There's a practical limit based on our setup.

[2016-09-25 22:17] rjmackay commented on #109
Closing in favour of #752

[2016-09-25 22:17] #109 closed

[2016-09-25 22:18] rjmackay commented on #1410
There are a few old issue list here: https://github.com/ushahidi/platform/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22V2+to+V3+Migration%22
They include
- Adding custom pages to deployments ie. about us, etc
- Contact Us page (for contacting the deployer)

As I see it there are a few likely stages in building migrations:

1. Building missing features / or deciding to EOL a feature
2. Building a p

[2016-09-25 23:55] rjmackay commented on #1335
Ok.. for the benefit of the spectators (me!) can @jshorland or @brandonrosage add a few sentence scope to this issue? I'm not sure what 'free form surveys' are compared to status-quo.

[2016-09-26 00:33] rjmackay commented on #1399
Pretty happy with this revision. Still missing a 'cancel' action on the post status modal though.. less of an issue now but still in consistent with the other 2 modals.

[2016-09-26 00:34] rjmackay commented on #1406
@willdoran @tuxpiper  is this just a matter of pulling the code out of 1000 oceans? or is there some rework needed?

[2016-09-26 00:37] rjmackay commented on #1361
No. Meta data changes the UI for getting to user editing and other meta data.. but doesn't remove the work needed to actually allow editing users on the backend, and feedback on the actual UI of the edit user dialog (or fields if this goes in *before* meta data fields)

[2016-09-26 00:46] rjmackay commented on #1379
- The common approach I've seen elsewhere is a split button with 'save' and a dropdown arrow to pick "save and edit next" etc, combined with having the client remember and default to whatever action you took previously. That removes the issue of buttons not fitting in the UI, but brings its own complications/isn't present elsewhere in our UI.
- I'd also expect most bulk editing with happen on a la

[2016-09-26 00:51] rjmackay commented on #1339
I'm happy with that.. less config UI win.

What that still leaves a couple of minor questions:
1. what view do we show in the map when you have no located posts? I guess just a full world map?
2. What location do we default to on location fields when they're first created? ie. before the admin sets the locations. Again I guess just full world map?
3. How do we prompt new deployers to configure the

[2016-09-26 00:52] rjmackay commented on #1411
.. erm can you summarize what the change is? I'm not at all clear what is scoped in mustang but not implemented.

[2016-09-26 00:54] rjmackay commented on #1411
FYI the map currently auto sizes to fill the screen, and auto *centers* to show all posts.
If it doesn't thats a bug, though quite possible given we've broken this code a couple of times.

[2016-09-26 00:59] rjmackay commented on #1368
@willdoran how did you resolve posts with multiple categories? did 1000oceans always use categories for icons? or is it optional? ie. how do we know when to use category icons vs survey icons.

[2016-09-26 01:01] rjmackay commented on #1407
Thanks for the bug report @spiral99
I think this is a duplicate of #1402 .. though you've provided MUCH more info thanks!

[2016-09-26 02:53] rjmackay commented on #1412
This is because 1 category was only visible to logged in users

This is how it was set
<img width="907" alt="screenshot 2016-09-26 15 46 53" src="https://cloud.githubusercontent.com/assets/7965/18821263/23e0e396-8401-11e6-8b58-014400672134.png">

This is what it needed to be to be seen by everyone.
<img width="860" alt="screenshot 2016-09-26 15 46 59" src="https://cloud.githubusercontent.com/asset

[2016-09-26 02:54] rjmackay commented on #1412
Lower priority since this is fixed for the reporting user

[2016-09-26 05:12] tuxpiper commented on #1406
I don't think it's just a matter of grabbing the code. Two specific things that were done for 1000oceans:

1. the icons corresponded to categories instead of survey types
2. we could afford the assumption that the icons had already been uploaded

[2016-09-26 08:34] spiral99 opened #1413 "issue with V3 collections feature."
### Expected behaviour
If a user deselects a post from a collection this setting should be saved.
### Actual behaviour
A user is not able deselect one collection for another on collections feature of the V3 platform, if you attempt to do so you will realize both collections are indicated as selected.
### Steps to reproduce the behaviour/error
1. Create a number of posts and collections.
2. Assign

[2016-09-26 08:57] rjmackay commented on #1387
Suggested tech approach:
- [ ] Add a new entry point `embed.html`
   - Initially this should support a single route /map
   - Initially this loads the entire JS bundle - we can optimizing in next iteration
   - This shouldn't load the mode bar
- [ ] Force all links to load in a new borwser window
- [ ] Modified map view w/ Ushahidi branding, and 'filter by' button in small views.

[2016-09-26 08:58] rjmackay commented on #1387
Sized on the large side because I'm not 100% sure how adding an extra entry point will work, or if this should just be part of index.html .. but aim for quicker implementation first.

[2016-09-26 09:06] rjmackay commented on #1023
@brandonrosage are you still waiting on us?

This looks really good to me so far. I'd probably err towards just implementing the 'Select all X posts in this dataset', and increasing the default page size. Rather than adding a 'Load x more'.. just because its simpler. That said we never implemented the 'load more' so we should fix that up anyway.

[2016-09-26 11:42] aoduor commented on #1410
I'm going to add notes i'd made a while back on this, and the we can work out what's feasible/isn't. Feel free to reject anything that seems out of scope(and apologies in advance for the deluge :D).

**General Settings**
- Site copyright statement - help deployers determine if others have rights to reuse their content/data
- Cache pages/cache timeline? - will greatly
- Contact page ( this is huge)

[2016-09-26 11:44] aoduor commented on #1410
@jshorland @rjmackay perhaps this would be better as a milestone with individual issues tagged to it?

[2016-09-26 12:52] willdoran commented on #1368
@rjmackay in their setup, they only use their icons. Multiple categories per post is not supported. I didn't have time/it wasn't considered necessary to force single categories per post. Instead only the first category returned is used to determine the post category and I think David told them that it was only one category per post.

I perhaps misunderstood but I thought we would still be marking

[2016-09-26 18:09] jshorland commented on #1411
Got it. Apologies for incorrect verbage in my first description. The map should auto center and zoom to fit all posts displayed on the map in any deployment. Currently, the map centers and zooms based on settings in "general settings". I'm going to double check this, but on quakemap.ushahidi.io, it does not auto center and zoom to include all posts (zoom out and you'll see a ton of posts on the no

[2016-09-26 18:35] willdoran commented on #1375
Hi,

In conjunction with the savedsearch notifications the following should be running as a cron job on the platform deployment:
bin/ushahidi notification:savedsearch queue

This will collect updates to the savedsearches and send appropriate emails. Savedsearches are handled a bit differently to collections. Let me know if this resolves the issue or if you need further assistance.

[2016-09-26 20:07] brandonrosage commented on #1411
@jshorland is right. The change is effectively to make the map in "Map" mode *always* use Leaflet's [`fitBounds`](http://leafletjs.com/reference.html#map-set-methods). When loading a dataset in "Map" mode, the map should just center and zoom to "the maximum zoom level possible" for the geographical bounds of the markers in context.

[2016-09-26 20:13] brandonrosage commented on #1023
@rjmackay I'm perfectly happy game-planning for this feature by saying we'll implement:
* The "Select all X posts in this dataset" UX
* Replacing pagination controls with "Load more"
* Increasing the number of posts that are loaded from 10 to 20

We can table the "Load X more" pattern until we learn that the aforementioned solutions aren't cutting it.

[2016-09-26 20:30] brandonrosage commented on #1339
**Yes**, the whole world, as well all as any necessary messages regarding the dataset. For example:

![no posts](https://cloud.githubusercontent.com/assets/1136279/18850518/88aa1b02-83fd-11e6-8ed3-7579885e932b.png)

![posts with no location](https://cloud.githubusercontent.com/assets/1136279/18850529/9ba67a8e-83fd-11e6-95d9-43f36ccef19e.png)

**Yes**, the whole world.

I don't see a reason to go o

[2016-09-26 20:51] brandonrosage commented on #1335
@rjmackay: "Free-form surveys" is shorthand for an approach to assembling a survey's fields in any order, with only the fields necessary for that survey. So we don't assume things like a "Title" text field, "Description" textarea, or "Location" location field.

The deployer dictates what each of their survey's fields are, what they're called, and what order they're in.

Furthermore, this creates a

[2016-09-26 21:17] rjmackay commented on #1412
Correct UI for this is present on http://preview.ushahidi.com/platform-pattern-library/develop/assets/html/5_layouts/settings-category-edit.html

[2016-09-26 21:42] rjmackay opened #1416 "First time user experience"
Right now the platform is overwhelming for first time users.

Initial ideas:
- Building a guided config workflow for new users
- Adding better placeholder data
- Adding template surveys

[2016-09-26 21:43] rjmackay commented on #1416
oops might just be duplicating #1396

[2016-09-27 18:54] jshorland commented on #1408
A couple of issues:
- we don't have sufficient logging to immediately ID the error
- timeouts on media endpoint
- SSH was failing, couldn't connect to port22 on either API server
- Issues with performance on each of those servers
- all of this indicates it could have been a load issue. Rebooting fixed the error.

Potential solutions:
- completely side step API servers and post directly to CDN stor

[2016-09-28 00:01] caharding commented on #1399
I'm happy with this solution.

On Sun, Sep 25, 2016 at 8:34 PM, Robbie Mackay <notifications@github.com>
wrote:

--
Charlie Harding
Product Director

[2016-09-28 00:02] caharding commented on #1240
Works for me

[2016-09-29 00:13] caharding opened #1417 "Speed up survey creation"
When I create a new Survey field form, the cursor should automatically enter the name field form so I can start typing. Hitting enter should make it save. The default name of the form should not exist, and it should not let you save until you create one.

[2016-09-29 00:14] caharding commented on #1417
Hitting ESC on keyboard should X out of a new field form

[2016-09-29 01:56] jshorland opened #1418 "When I click on a pin towards any edge of the map, the pop up is hidden"
Expected behavior:
the map (or popup) recenters so I can see the pop up

See screenshot
![screen shot 2016-09-28 at 6 58 22 pm](https://cloud.githubusercontent.com/assets/3224856/18938466/93f48216-85ad-11e6-9494-1f7d327046f3.png)

[2016-09-29 08:59] ACFsitrep commented on #1141
Hi there,

Yes, after the major update, I've never had the problem again.

Thank you very much.

I'll proceed to close the issue

[2016-09-29 08:59] #1141 closed

[2016-09-29 09:17] ACFsitrep opened #3620 "Collections. Suggestions to work with them more easilly"
Hi there,

Since I've been working with the free version of Ushahidi a few months, I'd like to suggest some improvements that would be very usefull... I hope you find them interesting.

I think it would be really great if I could create sub-collections.

I have to have my post somehow classified in their corresponding year, month and week, and I have to send once a week an URL to all my department

[2016-09-29 13:27] willdoran commented on #1376
@jshorland This should be available in qa.

[2016-09-29 15:22] jshorland commented on #1376
@aoduor I've tested several different filter configurations and this seems to be working. Would you test a few times as well?

A few things to note:
- there are several things that are labeled as they are in the backend -- this can be changed, but is another issue. We should deal with that when we work on the backend, not now, as there is risk of breaking everything. (categories = tags, collection

[2016-09-29 15:27] jshorland commented on #947
Also received this error from a .csv saved on microsoft for mac: The Array Must Contain Unique Values

[2016-09-29 15:28] brandonrosage commented on #1409
@spiral99 Could you clarify something for me? Are you saying it's difficult to figure out how to add a post to the deployment? Or are you saying it's difficult to figure out how to create a (customized) survey to collect data from people?

[2016-09-29 16:16] willdoran commented on #947
That's interesting. I believe we need to set
auto_detect_line_endings=1

[2016-09-29 16:17] willdoran commented on #947
I think we can do that in
https://github.com/ushahidi/platform/blob/e834389e2443d0598e9be477540fbf22d814c09f/application/bootstrap.php

is that correct @zhalloran @rjmackay

[2016-09-29 16:55] jshorland opened #1419 "Open source deployment not counting posts properly, won't export"
### Expected behaviour

After @saheleasy adds a basic post to "basic survey", that count should increase and reflect that.
Clicking export never actually exports. ... buttons forever
### Actual behaviour

Instead, it is appearing in "unknown" count
Exported file should start downloading
### Steps to reproduce the behaviour/error

Add basic post
Submit
See count
click export

http://ushahidi.umt.ly

[2016-09-30 11:03] aoduor commented on #1376
On http://qa.ushahididev.com, this problem still exists.

I got a column with this heading: New date field.06491e6e-8d3c-4736-b4cb-62f8adaab285

On http://qa.ushahidi.com this works fine, but clicking on "Cancel" doesn't yield any result, and clicking "Ok" doesn't close the pop up box either.

[2016-09-30 12:38] willdoran commented on #1376
@aoduor "New date field.06491e6e-8d3c-4736-b4cb-62f8adaab285" is actually correct - because the field names are not unique at any level we need to differentiate them to some degree, and the alphanumeric is the attribute UUID.

Hmmm let me see if I can hide the key

[2016-09-30 13:24] willdoran commented on #1376
@aoduor Ok, I've changed it so that the column names no longer contain the key, note that if for example "test column name" appears as a field name in multiple surveys there will be multiple columns called "test column name" with the values appropriate based on which survey the given post belongs to.

Let me know if this works ok on qa

[2016-09-30 18:43] brandonrosage commented on #1157
@spiral99 Let's conduct a user test for this user question: "How do you create a new survey?"

This can be tested using the existing product. It doesn't require a prototype.

Of course, we want to know what _their_ answer is. But there is currently only one way for the participant to successfully complete this task: Settings > Surveys > "+" button

We're curious to know if it's necessary to provid

[2016-09-30 18:55] brandonrosage commented on #1379
@spiral99 I'm preparing a design solution for this that will be ready to test early next week.

Let's conduct a user test for this user question: "How do you edit a group of responses?"

This will require testing either a graphic prototype (using something like InVision) or a Pattern Library prototype (which I can help stage), since the solution isn't implemented in the product.

The proposed solu

[2016-09-30 18:58] brandonrosage commented on #1399
@spiral99 I'm preparing a design solution for this that will be ready to test early next week.

Let's conduct a user test for this user question: "How do you edit a response’s author, date, and status?"

This will require testing either a Pattern Library prototype (which I will help stage), since the solution we want to test isn't implemented in the product.

The proposed solution would provide a

[2016-09-30 22:35] brandonrosage commented on #1335
@rjmackay, @jshorland, @caharding, @nickbadams: I've completed a wave of initial work and thought on this "free-form surveys" solution. There's a lot of detail I won't cover just yet (like how things change depending on your permissions, or what things default to). I'll try to keep this first brain dump concise.

## Configuring a survey
When creating a new survey, here's what you get:

![new surve

[2016-10-03 01:25] jshorland commented on #892
https://app.intercom.io/a/apps/hl5rfiga/inbox/unassigned/conversations/6186400032
https://app.intercom.io/a/apps/hl5rfiga/inbox/unassigned/conversations/6191198202

Two users who need to discover deployments around them

[2016-10-03 11:29] spiral99-zz opened #1420 "switching posts from one survey to another."
### Expected behaviour

Users should be able to move created posts from one survey to another.
### Actual behaviour

A user can't transfer a post from one survey to another
### Steps to reproduce the behaviour/error
1. Create two or more surveys from the settings feature.
2. Create a post on one of those surveys and attempt to move it to another survey.

Aha! Link: https://ushahiditeam.aha.io/feat

[2016-10-03 17:30] jshorland commented on #1394
Will need links in the product to the support page for this

[2016-10-03 21:32] #1314 closed

[2016-10-03 21:38] jshorland commented on #1419
Just FYI -- the open source user is now on ushahidi.io

[2016-10-03 21:43] rjmackay commented on #1419
@saheleasy it looks like your server is throwing 500 errors for some API requests. My best guess is this is timing out. Can you check your logs in application/logs/ and let us know what errors you're seeing?

[2016-10-03 21:45] jshorland commented on #1417
We should find other bahviours like this and fix them all at once.

[2016-10-03 21:48] jshorland commented on #1402
same as #1407. Closing in favor of that one.

[2016-10-03 21:48] #1402 closed

[2016-10-03 21:49] jshorland commented on #1346
@fegul we are going to close this. Please let us know if we should reopen.

[2016-10-03 21:49] #1346 closed

[2016-10-03 22:05] saheleasy commented on #1419
Www.umt.ly/platform/application/logs/2016/09.zip

This is the log folder it contains tow files

[2016-10-03 22:06] saheleasy commented on #1419
I can give you the access for my cpanel if you think you can fix it for me

[2016-10-03 22:08] saheleasy commented on #1419
@rjmackay i can give you my access details for my cpanel

[2016-10-04 10:01] spiral99 commented on #1409
Yes adding customized surveys is what I was trying to convey. The moment you create your first deployment the default survey presented is basic post and there is no indication of where and how a user can add a new survey.

[2016-10-04 17:18] jshorland opened #1421 "Adding a user to the platform should send that user an email with a link to reset their password"
### Expected behaviour

When I add a user to my deployment, that user has no idea they've been added unless I tell them and give them their dummy password I assigned to them.
### Actual behaviour

An email sends to them with a link to reset their password and then login to the deployment.
### Steps to reproduce the behaviour/error

Add user
do nothing.

Aha! Link: https://ushahiditeam.aha.io/featu

[2016-10-04 17:25] jshorland opened #1422 "Weird behavior when redeeming my staff coupon"
### Expected behaviour
After redeeming my staff coupon to upgrade ushaverse.ushahidi.io to responder, my deployment should become a responder plan immediately and stay that way

### Actual behaviour
After redeeming my staff coupon, I was able to start creating a second survey immediately. But as I clicked "save" after adding all my fields and tasks, it returned an error message that it was unable

[2016-10-04 18:54] rjmackay opened #1423 "Document Crowdmap Classic"
Drop as much as you know in a google doc.

[2016-10-04 18:58] willdoran commented on #1406
This requires us to integrate custom icons into our sprites dynamically. I don't know how to do that.
But allowing icons to be different on the map per survey is extremely simple and the code can be ported.

[2016-10-04 22:43] rjmackay commented on #1365
Resolved by 2e59f0c

[2016-10-04 22:45] rjmackay commented on #980
@jshorland this has been waiting around for months? do we want to finish it off and deploy it? or shall I icebox it?

[2016-10-04 22:51] jshorland commented on #980
One of those issues that slipped through the cracks. Let's finish this up and get it out. On phone but please put it in appropriate column?

Sent from my iPhone

[2016-10-04 23:44] rjmackay commented on #1366
Haven't tested the import yet, but noticed the 'This post is currently in an invalid state. ' is showing up all the time, even on a valid post.

[2016-10-05 02:15] rjmackay commented on #1366
Working in QA:
- [x] Mapping to categories
- [x] Mapping to other fields
- [ ] Mapping to post status
- [ ] Validating required fields
- [ ] skipping required tasks

Issues from QA:
- No loading image when uploading the CSV
- If theres an error during import I get a dropdown notification, and I'm stuck at this step:
<img width="893" alt="screenshot 2016-10-05 15 02 46" src="https://cloud.githubuse

[2016-10-05 03:19] rjmackay commented on #1376
This works perfectly for me :)

[2016-10-05 14:54] brandonrosage commented on #1339
@rjmackay Here's a look at the configuration window for a location field:

![Edit location](https://cloud.githubusercontent.com/assets/1136279/19118159/260e5428-8ae1-11e6-8f8a-78504329d567.png)

Noteworthy:

* "Use this location to locate responses" is on by default. But it allows the deployer to do things like collect location data without necessarily mapping the entire post according to it, or t

[2016-10-05 15:26] willdoran commented on #1366
@rjmackay

1. We can easily give another display if there is an error, that page has a completed state, so itcan have an error state, what should it contain? The error and "import another csv file"?
2. When you click: "Defined by column..." there is a message
<img width="576" alt="screen shot 2016-10-05 at 11 24 54" src="https://cloud.githubusercontent.com/assets/2694405/19119630/60771408-8aee-11e

[2016-10-05 16:30] willdoran commented on #1375
They have contacted me to say that they are changing the person managing their backend and will update us if they are still unable to resolve the issue.

[2016-10-05 20:16] willdoran commented on #1407
@rjmackay I just fixed 1402, it's PR is up on the repo

[2016-10-05 20:44] brandonrosage commented on #1252
Let's table the "smart input" solution for another day and another issue. In the interest of improving on this issue, let's do what @caharding suggested: Prepend search info above the survey filter.

[2016-10-05 23:38] rjmackay commented on #1366
sorry apparently I just don't read things!
Does it work if the user users 'Under review'? or do I need to use the backend value 'draft' ?

re 3: it'll be generating a slug based on title, and failing to truncate it.

[2016-10-06 02:00] willdoran commented on #1366
@rjmackay No, you're right, the backend doesn't remap under review to draft. I will change that tomorrow morning. and I'll investigate the slug

[2016-10-06 11:46] spiral99 opened #1424 "bug with monitoring activity on the platform."
### Expected behaviour

There should be accurate representation of activity conducted on the platform.
### Actual behaviour

On the Activity feature categories section shows no activity despite there being categories created and posts assigned to those categories.
### Steps to reproduce the behaviour/error
1. Create categories via the settings feature.
2. Assign posts to your desired category.
3.

[2016-10-06 15:27] #1413 closed

[2016-10-06 17:56] spiral99 opened #1425 "bug with monitoring activity on the platform."
### Expected behaviour
There should be accurate representation of activity conducted on the platform.
### Actual behaviour
On the Activity feature categories section shows no activity despite there being categories created and posts assigned to those categories.
### Steps to reproduce the behaviour/error
1. Create categories via the settings feature.
2. Assign posts to your desired category.
3. Mo

[2016-10-06 17:56] #1425 closed

[2016-10-07 07:51] elbin opened #1426 "How to add New themes in ushahidi v3"

[2016-10-07 18:30] willdoran opened #1427 "Notifications for savedsearch not sending on .io"
### Expected behaviour
- When a user creates a savedsearch
- Enables notifications for their account
- Set's get notifications for the savedsearch
- Subsequently a new post is added that is covered by the saved search, the user should receive a notification via email
### Actual behaviour
- Currently no notification is received
### Steps to reproduce the behaviour/error
- Issue reports from palesti

[2016-10-07 18:31] brandonrosage commented on #1327
@seth While this waits for a sprint, can you debug the issues with this pattern where the "searchbar" doesn't align properly in *all* cases?

There's already a `f-location-picker` branch.

[2016-10-08 06:06] umarfarukm opened #1428 "How can i add pages in new ushahidi version?"
After installing the new ushahidi i am not able to add new static pages. Any possibilities for that?

[2016-10-10 22:25] rjmackay commented on #1366
@willdoran can you prioritize finishing this? otherwise its going to block deploying anything else built off develop

[2016-10-11 12:34] chrisdubia opened #1430 "Allow HTML in long text and short text field on survey"
Would be great to allow HTML  in the long text and short text field.

Our users share stories and solutions about global issues and many of their solutions are videos.
- allow html
- allow iframe embed
- Work on integration with https://ziggeo.com/ as the video would be hosted on their servers.  Open source tool that supports the recording and playing of videos.  Integrates  nicely into a WYSWIG e

[2016-10-11 16:00] willdoran commented on #1366
@rjmackay yep doing so now

[2016-10-11 17:10] jshorland commented on #1425
@spiral99 did you close this because it wasnt a bug?

[2016-10-11 17:19] jshorland commented on #1376
Passes QA -- let's get this pushed into production ASAP.

[2016-10-11 17:26] jshorland commented on #1366
Is this ready for me to test?!? (she says way too eagerly)

[2016-10-11 17:29] willdoran commented on #1366
Hopefully shortly, I'm just fixing mapping for the under review to draft so that users can pass in under review via csv

[2016-10-11 17:30] spiral99 commented on #1425
it was repetitive I had already posted it.

On Tue, Oct 11, 2016 at 8:10 PM, Jess Shorland <notifications@github.com>
wrote:

[2016-10-11 18:30] jshorland commented on #1335
@brandonrosage something charlie brought up that i think we deliberately eliminated in the transition to mustang is help text. We don't have a way for deployers to provide any context or instructional text alongside their custom fields. Ex: In my deployment, ushaverse.ushahidi.io, I added instructions to a survey field as the default text. A contributor has to manually delete that in order to fill

[2016-10-11 18:32] jshorland opened #1433 "Not clear that title and description are required."
### Expected behaviour
There should be asterisks beside them by default so I know I have to fill them in.

### Actual behaviour
There are no asterisks, but I can't save my post.

### Steps to reproduce the behaviour/error
go to ushaverse.ushahidi.io, fill in "home base" survey and leave out the description. Try to save

Can we add asterisks for now? #1335 will provide a more elegant overall soluti

[2016-10-11 18:36] caharding commented on #1335
One thing I've found to be a problem about this solution is the continued use of the up/down arrow to reposition questions. It can be very slow and difficult to add a field at the bottom you want to appear on top. Could there also be a click/drag solution?

[2016-10-11 18:53] rjmackay commented on #1320
If I can get builds with webpack working it will replace this.

[2016-10-11 19:02] caharding commented on #1335
I'm actually also confused about why the Desc/Title field are still treated in a unique way upon survey creation. Are they still a standard entity or not?

[2016-10-11 19:04] brandonrosage commented on #1335
@caharding The fields that appear atop a "postcard" are not necessarily title or description. They can be any of the fields in your survey -- the deployer determined which ones in the "Edit appearance" window demonstrated above.

As you can see in the later postcard samples, some of cards show a long-form text field in the top spot, others a short text field for a name, and another places a photo

[2016-10-11 19:32] #1408 closed

[2016-10-11 19:38] rjmackay opened #1434 "Image uploading doesn't show progress, and saving post doesn't wait for image to save"
### Expected behaviour

When I am uploading an image, I can see upload progress, and saving the post also saves the image.
### Actual behaviour

When I upload an image there is no feedback about upload progress.
If I click save while the image is uploading, the post is saved but the image is not.
If I click save without clicking upload, the post is saved but the image is not.
### Steps to reproduc

[2016-10-11 19:39] jshorland commented on #1335
@brandonrosage I want to try to get this into the sprint kicking off Thursday. Are you able to get this into Tech spec and sizing by tomorrow? Is that reasonable?

[2016-10-11 19:44] rjmackay opened #1435 "Add an image field to default survey"
### Expected behaviour

When I start a deployment my default survey accepts images
### Actual behaviour

I have to add an image field to my survey before I can collect images.
### Steps to reproduce the behaviour/error

Seen on intercom..

[2016-10-11 19:47] jshorland commented on #1288
Related #1434

[2016-10-11 20:03] rjmackay opened #1436 "Allow changing map icons"
### Expected behaviour

I can set different map icons for posts, based on a posts survey.. or category.
### Actual behaviour

Can't set map icons, only color.

Refs ushahidi/platform#1368

Initially this probably just needs to be icons based on survey, categories have other complications  that are being handled in ushahidi/platform#1397

Aha! Link: https://ushahiditeam.aha.io/features/PROD-660

[2016-10-11 20:04] jshorland commented on #1368
Closing in favor of #1436

[2016-10-11 20:04] #1368 closed

[2016-10-11 20:17] #461 closed

[2016-10-11 21:32] brandonrosage commented on #1335
@jshorland That's reasonable.

[2016-10-12 03:32] jshorland commented on #1366
This is working well.

@willdoran When I didn't map lat/lon to "basic post" lat lons in qa.ushahididev.com even though it wasn't required, I got an error that read "array_combine(): Both parameters should have an equal number of elements". It ONLY happens when I choose which column to map to lat, and then re-select "leave empty".

I did the same action (map to a field, then re-select "leave empty"

[2016-10-12 03:35] jshorland commented on #1308
After testing #1366, this is fully functional.

[2016-10-12 03:55] willdoran commented on #1366
Ok, cool, I'll fix that first tomorrow morning and let you know when it's up! Thanks!

[2016-10-12 04:24] caharding commented on #1335
What confuses me is that in edit mode they look like the survey publish view and all the other items are these modal things you have to click to edit. I thought we were going to unify the front end and backend experience of survey creation more tightly. Is that for a future sprint?

Charles Harding

Product Director

tel:207-720-0713

On Tue, Oct 11, 2016 at 2:32 PM Brandon Rosage

<
mailto:Brando

[2016-10-12 13:02] spiral99 opened #1437 "survey colour settings needs more colours."
Currently we only have 4 colors Red,Blue,Gold and Green this will present an issue when users want to create more than 4 surveys.
![2016-10-12](https://cloud.githubusercontent.com/assets/7393879/19310968/38e15686-9095-11e6-9c56-1aeae319b22f.png)

[2016-10-12 16:05] willdoran commented on #1366
Ok this should be fixed and in develop

[2016-10-12 19:26] jshorland commented on #476
This is in the product. I'm closing.

[2016-10-12 19:26] #476 closed

[2016-10-12 19:29] jshorland commented on #1338
Hey @nickbadams -- do you know someone still interested in contributing to reply via twitter in the platform? Let us know if so.

[2016-10-13 04:43] jshorland commented on #1366
@willdoran the original issue with the errors is fixed. I noticed one more issue during a demo with brandon -- after successfully importing posts from a CSV file, you are given two options: see imported posts, or dismiss. Is this meant to have "import another" as well? Or not on this particular screen? And upon clicking  "see imported posts" I am taken to the timeline view of all posts, not just t

[2016-10-13 04:51] willdoran commented on #1366
1. I think import another is on the page but I can add it to the body of that message I think.
2. I don't know if we ever filtered the posts. I will take a look first thing tomorrow. If it's straightforward I will add it immediately.

[2016-10-13 13:36] spiral99 opened #1438 "Deleting collections on the platform."
### Expected behaviour
There should be a feature to delete collections.
### Actual behaviour
Deleting collections that had initially been created is not possible.
### Steps to reproduce the behaviour/error
![2016-10-13](https://cloud.githubusercontent.com/assets/7393879/19351111/1780f324-9163-11e6-92a9-cdf1b677d04d.png)

[2016-10-13 18:30] nickbadams commented on #1338
I had someone... not sure if I lost him. Sent him an email yesterday.
Awaiting a reply. Will keep you posted.

On Wed, Oct 12, 2016 at 12:29 PM, Jess Shorland <notifications@github.com>
wrote:

--

*Nick Adams, Ph.D.Research Fellow – Social Science, *

*Berkeley Institute for Data Science*
*University of California, Berkeley*

[2016-10-13 19:14] rjmackay commented on #1434
Solution:
- Provide simple 'loading' style feedback when upload
- Make sure the image is always uploaded when a user hit save on the post

[2016-10-13 19:18] rjmackay opened #1441 "Replace post list pagination with 'Load more'"
- Replace pagination on post-list with 'load more' button as seen in our designs
  http://preview.ushahidi.com/platform-pattern-library/develop/assets/html/5_layouts/timeline.html
- Increase the _page size_ to 20
- Clicking 'load more' should load an additional 20 posts into the view, while leaving the existing posts in the view

[2016-10-13 19:21] rjmackay commented on #1023
Potential issues:
- User can't edit some or all the posts in the set
- How do we run auth on API

[2016-10-13 19:35] rjmackay opened #1442 "Cordova Exploration"
- [x] Set up a cordova starter app (for stanford students)
- [ ] Install Thali and see if it works
- [x] Set up a basic ionic form

[2016-10-13 20:54] jshorland commented on #1366
Additional scope:
- imported CSV posts should be automatically batched into a collection on the backend named "[import date and time] import"
- clicking on "see imported posts" should take me to the list view of that collection.
- collection needs to be set to visible by admin by default.
- needs to be a path for users to get to edit collection settings, as with any other collection view

[2016-10-14 01:43] willdoran opened #1444 "Importing post should create a new collection"
### Expected behaviour
- [x] Importing posts should create a new collection, when you click on "See imported posts" you should be taken to the collection
- [x] The confirmation slider on import success should show a "Import new csv button"

[2016-10-14 03:33] rjmackay commented on #836
Pretty sure this was resolved.

[2016-10-14 03:33] #836 closed

[2016-10-14 16:17] jshorland commented on #1444
Can't see the "import to which survey" selection box: http://d.pr/i/Yzr8

[2016-10-14 16:26] jshorland commented on #1400
works like a dream. Passes QA.

[2016-10-14 19:30] nickbadams commented on #1338
He got back to me. We're going to talk this weekend or Monday and then I
will hand him off to you!  -Nick

On Thu, Oct 13, 2016 at 11:29 AM, Nicholas Adams <nickbadams@berkeley.edu>
wrote:

--

*Nick Adams, Ph.D.Research Fellow – Social Science, *

*Berkeley Institute for Data Science*
*University of California, Berkeley*

[2016-10-15 11:27] tuxpiper commented on #1400
Thank you! Applied the fix to the 1000ocean.ushahidi.com deployment.

@Celestine22

[2016-10-15 22:33] nickbadams commented on #1338
Hi Jess, Meet Chris!

Chris and I just spoke over the phone about him helping out with an
Ushahidi 'reply via twitter' feature. He's got some technical questions...
Can you all orient him a bit so he can determine how he might get started?

Thanks and all best to all of you,

:)

Nick

On Wed, Oct 12, 2016 at 12:29 PM, Jess Shorland <notifications@github.com>
wrote:

--

*Nick Adams, Ph.D.Research

[2016-10-16 12:06] tuxpiper commented on #1321
This is set up in develop branch to deploy into staging now.

One thing I've noticed, I must have fixed an error or undone a hack. Before deploying with this new approach, I was able to access http://tuxpiper.ushahididev.com . Thing is the tuxpiper deployment exists in .io but not in ushahididev.com . Now it's properly failing.

Please let me know if we are comfortable using this in production.

[2016-10-16 12:55] tuxpiper opened #1445 "Create deployments per branch"
Before starting to work on this, clarify:
- [x] Multi-domain deployment? Against which backend URL/s?
- [x] Desired URL layout? (i.e http://{deployment}.{branch}.ushahidi.dev)

Tasks:
- [x] Choose storage + web server (i.e. AWS S3, Rackspace cloud files , whatever is easier to automate)
- [x] Build (if it has to be built) something to map deployment URLs to web server and set up DNS
- [x] Write au

[2016-10-16 21:38] rjmackay commented on #1023
Initial thoughts on tech approach:
- I don't think this clearly matches a HTTP PUT semantics so it should probably use POST
- This should probably be an additional endpoint or 2 ie. `POST /posts/bulk...`
- The payload needs to include 1. the action to take 2. the filters params for the posts. This could look something like
[code]
- If we try to combined bulk delete and bulk update into a single en

[2016-10-17 00:48] rjmackay commented on #1362
To test:
- [ ] New posts get current date/time as post date
- [ ] Existing posts have post date populated
- [ ] I can edit the post date
- [ ] Editable post date value is used on listing and detail display
- [ ] When I search posts it uses the editable post date value

[2016-10-17 01:20] rjmackay opened #1446 "Collections view is still filtered"
### Expected behaviour

When I view a collection I expect to see _all_ posts in the collection
### Actual behaviour

When I view a collection I see posts in the collection, but filtered by default filters. This is particularly problematic since we don't show 'archived' posts by default
### Steps to reproduce the behaviour/error

[2016-10-17 01:21] rjmackay commented on #1444
This works for me. We could improve a little by creating a collection of imported posts, even when the import fails part way through.

[2016-10-17 01:51] rjmackay commented on #1446
@jshorland Assigning to you for triage. I struck this while testing CSV import: I imported a CSV as archived, viewed the set but got no posts to start with, because that archived posts were filtered out.

[2016-10-17 01:52] rjmackay opened #1448 "Better handling of CSV import failures"
### Expected behaviour

When I import a CSV and it fails I expect either: 1. the import is rolled back or 2. I am provided a collection containing what _was_ imported
### Actual behaviour

I'm presented an error, and some posts are left imported.. but no collection is created.
### Steps to reproduce the behaviour/error

Related issue https://github.com/ushahidi/platform/issues/2839

Aha! Link: htt

[2016-10-17 01:52] rjmackay commented on #1448
@jshorland not sure what the ideal solution is here. This is really a follow up to #1444

[2016-10-17 02:20] rjmackay commented on #1444
@jshorland I've deployed this to production - it was blocking too much work.
Leaving this ticket here in case you want to do some final checks

I've logged ushahidi/platform#1448 to issues with handling import failures but nothing in there is a new issue, so I didn't think it should delay releasing.

[2016-10-17 02:21] rjmackay commented on #1362
Todo:
- [ ] add `post_date` into CSV import fields

[2016-10-17 02:43] rjmackay commented on #1406
I think this is replaced by https://github.com/ushahidi/platform/issues/1436

[2016-10-17 02:43] #1406 closed

[2016-10-17 02:44] rjmackay commented on #625
Closing this - super old and not helpful

[2016-10-17 02:44] #625 closed

[2016-10-17 02:45] rjmackay commented on #1339
Depends on #1327 finishing first

[2016-10-17 02:47] rjmackay commented on #1392
Tech:
- Add meta info to posts/geojson response to include # of posts not mapped
- Add info the UI as specc'd above

[2016-10-17 16:24] Nesp opened #1450 "Problems Installation on Heroku - API Deployment"
### Expected behavior
The [manual](http://ushahidi.s3.amazonaws.com/downloads/community_docs/Ushahidi_Platform_v3_Manual.pdf) suggests using a link to create a new Ushahidi platform deployment starting from this [link](https://heroku.com/deploy?template=https://github.com/ushahidi/platform/tree/release). Once created a new name and filled all the information, what should happen is shown in the fol

[2016-10-17 17:45] KrisKuri opened #1451 "Image Description Disappears when marker on map is clicked on."
### Expected behaviour
The image description should appear when the marker on the map is clicked on.

### Actual behaviour
The Image and image title appear,but the image description has stopped appearing.

### Steps to reproduce the behaviour/error
The image description was working a few hours ago, on clicking the image, the description doesn't appear , however it appears in the timeline.
![pasted

[2016-10-17 19:09] rjmackay commented on #1445
Ideally I think QA environments should be multidomain, but they could be single domain if that proves tricky. The should share the backend with ushahididev.com deployments.

we have a little piece of JS that handles this in config.js. It'll probably work untouched

[2016-10-17 21:13] willdoran opened #1452 "UX design for embeded video on posts"
### Expected behaviour
- The user should be able to provide a link to a youtube or vimeo video, select its type and save
- The detail page should display the video embed in an iframe
### Actual behaviour
- This is the current version I made for fun: http://d.pr/v/zeqJ

[2016-10-17 21:38] rjmackay commented on #1451
This is the result of a styling change in the latest release. Post cards on the map are now fixed height but should 1. show post content above the image and 2. show a 'show complete post' button

<img width="328" alt="screenshot 2016-10-18 10 37 37" src="https://cloud.githubusercontent.com/assets/7965/19456670/063385ea-951f-11e6-8e1c-b9c68367ad97.png">

[2016-10-17 21:42] jshorland commented on #1450
@aoduor the PDF manual currently points to the wrong version of the code. Where does the PDF generate from? I want to make sure we keep it updated at it's source

[2016-10-17 21:43] rjmackay commented on #1450
@Nesp can you go to https://github.com/ushahidi/platform and click on the 'deploy to heroku' button there? That should deploy the current version of the code, the link in the manual points to an old version.

[2016-10-17 21:51] jshorland commented on #1448
Ideal solution scope:
1. user needs to see which rows had errors and what the error was
2. create collection of successfully imported posts that user can navigate to
3. should try to import the rows after the first error up to 25 errors

@brandonrosage do we have designs for errors beyond our notifications? If not, we'll need a design for that. it shouldn't involve major changes as we'd like to mo

[2016-10-17 21:53] rjmackay commented on #1446
Also: collections don't show active filters

[2016-10-17 22:00] rjmackay commented on #1419
@saheleasy sorry I missed your reply. I can't find that file http://www.umt.ly/platform/application/logs/2016/09.zip doesn't work.

[2016-10-17 22:03] jshorland commented on #1338
@rjmackay could you help chris get up to speed? @nickbadams, could you mention chris in the github thread with his github username?

[2016-10-17 22:05] jshorland commented on #1422
Upgrading may need investigation.

[2016-10-17 22:05] #1422 closed

[2016-10-17 22:07] jshorland commented on #1421
Need to scope new flow for this.

[2016-10-17 22:53] nickbadams commented on #1338
@chrisco23

[2016-10-18 06:02] PenangHillsWatch commented on #1451
Hi rjmackay,
Thanks for your update on that. However from the user end, I feel that this is a very unusual feature as the photo is cut in half  and there is no tab to show full post in my deployment. Please investigate and if possible can you revert to the original post features? It's much better that way for a user as information is available on one click rather than two clicks as it is now.

[2016-10-18 09:41] Nesp commented on #1450
@jshorland @aoduor  also the instructions on the[ website](https://www.ushahidi.com/support/install-ushahidi#installing-on-heroku)  are maybe not updated

@rjmackay thank you very much, indeed that worked :)

[2016-10-18 10:16] aoduor commented on #1450
Thanks for the heads up @Nesp @jshorland.

Jess, i'm emailing you the doc link we generate the pdf from

[2016-10-18 11:57] tuxpiper commented on #1445
Alright I think I'm ready to start rolling with this. Some highlights:

1. I've been looking at the unused domains we have laying around. Not super psyched about it, but I think I'll settle with ushahidilab.com by now.

That means we would be looking at URLs like this: http://{deployment}.{branch}.ushahidilab.com  . We can change this easily later if someone has a better idea.

2. Although some ti

[2016-10-18 16:58] willdoran opened #1453 "Immediately create posts from new survey"
### Expected behaviour

- On save the success slider notifcation should contain a button allowing the user to go straight to adding a new post of this survey type
- Two buttons. "Dismiss" (default blue button style) and "Add to survey" (button-beta)

### Actual behaviour
- No button yet

[2016-10-18 18:22] willdoran opened #1454 "CSV import should feed back useful errors"
### Expected behaviour
- When an import fails or contains rows that failed to import
- The platform should explicitly list which rows errored

### Actual behaviour
- At present we only return number of errors

### Steps to reproduce the behaviour/error
- Import csv with erroneous rows

[2016-10-18 21:44] jshorland commented on #1444
all good. passes QA

[2016-10-18 21:44] #1444 closed

[2016-10-18 21:46] #1400 closed

[2016-10-18 21:46] #1366 closed

[2016-10-18 21:46] #1348 closed

[2016-10-18 21:46] #1376 closed

[2016-10-18 22:04] jshorland commented on #1418
This still seems to be happening sometimes. Should I be doing something differently?

[2016-10-18 22:05] jshorland commented on #1403
:-)

[2016-10-18 22:05] #1403 closed

[2016-10-18 22:05] #1349 closed

[2016-10-18 22:06] #1308 closed

[2016-10-19 02:41] willdoran commented on #1427
@zhalloran would you have time to look at this with me? I don't really know what the issue is and I think you got closer.

[2016-10-19 02:56] willdoran commented on #1288
I'm closing this in favour of #1434 as it covers the same criteria.

[2016-10-19 02:56] #1288 closed

[2016-10-19 04:05] rjmackay commented on #1321
If this is working for staging I'm happy to move to using it in production

[2016-10-19 13:43] timkaboya opened #1456 "Test Issue"
Test text

[2016-10-19 14:07] PenangHillsWatch commented on #1451
Hi rjmackay
Any update on the status of this issue? I am eagerly awaiting your reply :) And on a side note are there any other changes from this styling change? One thing you could consider would be changing the colour of pin points according to their categories. Would be a very useful and powerful feature which your users would anticipate.

Regards,
Penang Hills Watch

[2016-10-19 18:59] rjmackay commented on #1454
This is a duplicate of #1448

[2016-10-19 18:59] #1454 closed

[2016-10-19 19:00] rjmackay commented on #1453
I think this makes sense. @jshorland next steps? would you like to backlog/design/scope?

[2016-10-19 19:06] rjmackay commented on #1445
A couple of extra bonus points:
- We currently have heroku doing PR builds.. I thought these were broken but they actually work. Do you still think its worth building this out? I'm leaning towards yes, because the heroku builds don't match any of our other process
- One thing I'd like to reproduce from heroku is pushing notifications to the github deployments API with a link to deployments. We're

[2016-10-19 19:07] rjmackay commented on #1450
@Nesp glad that worked. I've fixed our website docs so I'll close this

[2016-10-19 19:07] #1450 closed

[2016-10-19 19:12] rjmackay commented on #1397
From https://github.com/ushahidi/platform/issues/1451#issuecomment-254823157

[2016-10-19 19:15] rjmackay commented on #1338
I think this is probably possible but first step is to check the twitter API would do what we needed.
We currently require a completely separate twitter app per deployment. I *think* the tokens we use are already associated with a user so it should be a matter of post replies to the twitter API.

The relevant code needs to live here: https://github.com/ushahidi/platform/blob/master/plugins/twitter

[2016-10-19 19:19] rjmackay commented on #1452
As mentioned on our call ideally this shouldn't extend the media input type, rather it should extend varchar but have a custom validator and input.

[2016-10-19 19:22] #1456 closed

[2016-10-19 19:23] rjmackay commented on #1418
I'm not sure - there's definitely something buggy going on with our maps :/

[2016-10-19 19:24] zhalloran commented on #1427
@willdoran I checked our SMTP relay provider. There are no records of saved search notifications being sent in the logs. I still believe you need to configure the email for outgoing notifications for it to work. When I have a moment I'll check the postfix logs for anything weird. I didn't see anything the last time I looked.

[2016-10-19 19:27] rjmackay commented on #1438
This is actually possible just not from the list view.
If you click on a specific collection, then open the menu ('...' icon) there's a delete button there:

<img width="268" alt="screenshot 2016-10-20 08 25 21" src="https://cloud.githubusercontent.com/assets/7965/19534108/077b43da-969f-11e6-965a-3b19a14ca7b0.png">

[2016-10-19 19:27] #1438 closed

[2016-10-19 20:02] rjmackay commented on #980
Putting back to waiting for sprint. We can pick it up and fix anything thats changed in the next sprint

[2016-10-19 20:04] willdoran commented on #1452
@rjmackay yep, though this ticket is I think for mocking a UI for the video input

[2016-10-19 20:07] rjmackay commented on #947
@willdoran makes sense. Can you test it out and PR?

[2016-10-19 20:08] #1240 closed

[2016-10-19 20:10] rjmackay commented on #1411
Ok. In that case this is actually just a bug. I think our mapping code need a refactor because this keeps breaking. I suggest we take the opportunity to remove `angular-leaflet-directive` and simply use leaflet directly.. that should be much less error prone.

[2016-10-19 20:13] rjmackay commented on #1384
@middle8media what actually fixed this? What do we need to change in the client?

[2016-10-19 20:13] rjmackay commented on #1418
Maybe revisit this along with #1411

[2016-10-19 22:07] rjmackay commented on #1407
@willdoran I see https://github.com/ushahidi/platform-client/pull/355 which fixed https://github.com/ushahidi/platform/issues/1413
but not #1402

Am I missing something?

[2016-10-19 22:09] willdoran commented on #1407
@rjmackay I think that was a typo on my part I meant #1413

[2016-10-19 23:40] brandonrosage commented on #1452
@willdoran I intend to stage a flow that removes the need to select a service (e.g. YouTube), and instead sniffs the URL you provide and does the rest. If it can't sniff a known service, it'll ask the user to include all the embed HTML.

I'll do the sniffing in the PL for YouTube and Vimeo. But is that kosher?

[2016-10-20 01:20] willdoran commented on #1452
At the moment there is a function which converts the URLs given to the
embed format, each one has a slightly different format. Pulling the
source directly out of the URL is a good idea. We can clean them or
provided html before saving it. It's a bit dodgy to allow users to
insert html code. I'll check if we can adequately sanitize it to make it
save. It's a good idea though so I think it's worth t

[2016-10-20 16:04] willdoran commented on #1427
@zhalloran how do you mean configure email for outgoing notifications? There may be a step I'm missing but both palestine and quakemap had email contacts setup for notifications I think. Were they missing something additional or was the email setup wrong?

[2016-10-20 19:43] willdoran commented on #1434
Test these changes by:
- [ ] On a post with an image field, add an image and click save
- [ ] Edit the above post to delete the image, you should be asked to confirm\

After deleting image the following should be tested:
  - [ ] Save post
  - [ ] Add a new image and save post

After creating a post with an image the following should be tested:
  - [ ] Replace current image and cancel
  - [ ] Repla

[2016-10-20 19:44] willdoran commented on #1387
@jshorland The PL styles for this should now be available in develop

[2016-10-20 19:45] willdoran commented on #1453
Test these changes by:
- [ ] Having successfully created a survey the success slider now allows you to immediately start adding to the survey
- [ ] Having successfully imported a csv the text and buttons should have a tighter layout exacty as in PL

[2016-10-20 19:52] willdoran commented on #1433
@jshorland Not 100% sure when but I remember adding this. It is working for me in qa, it might just be waiting to be deloyed to .io or it might have gone up in the most recent version. Could you retest on .io and on qa?

[2016-10-21 20:37] brandonrosage opened #1458 "Map embed shouldn't display 'button-group' on small screens"
### Expected behaviour
![image](https://cloud.githubusercontent.com/assets/1136279/19610811/fe599166-97a3-11e6-9565-4fd9f42d2fb5.png)

### Actual behaviour
![image](https://cloud.githubusercontent.com/assets/1136279/19610815/099c2cc8-97a4-11e6-84b8-dd8a87485ac9.png)

### Steps to reproduce the behaviour/error
View embed on small viewport/iframe

###Solution
Include the class name `hide-until-mediu

[2016-10-21 20:42] brandonrosage opened #1459 "Map embed should include 'Filter by survey' button on small screens"
### Expected behaviour
![image](https://cloud.githubusercontent.com/assets/1136279/19610931/ad90e562-97a4-11e6-8e75-82f0657be6fb.png)

"Filter by survey" button to trigger the visibility of the survey filters.

### Actual behaviour
![image](https://cloud.githubusercontent.com/assets/1136279/19610963/cf0595c6-97a4-11e6-9e68-a378c0f3e9ac.png)

No labeled trigger for survey filtering.

### Steps to r

[2016-10-21 20:58] rjmackay commented on #1433
Asterisks are already there on production

https://www.dropbox.com/s/mc6d0jfj79syz6t/Screenshot%202016-10-22%2009.58.26.png?dl=0

[2016-10-21 20:58] #1433 closed

[2016-10-21 21:20] brandonrosage opened #1460 "'Post: Add' embed toolbar obscuring content under it"
### Expected behaviour
When scrolled to the top of the page, the toolbar should not obscure any content.

### Actual behaviour
![image](https://cloud.githubusercontent.com/assets/1136279/19612032/0036a09a-97aa-11e6-9678-0659208c7519.png)

When scrolled to the top, the top-most field -- title -- is obscured by the toolbar.

### Steps to reproduce the behaviour/error
The `body` needs to include the

[2016-10-23 21:10] rjmackay commented on #1427
@willdoran notifications use the email data provider.. if thats not set up correctly for outgoing email it can just fail.

[2016-10-24 15:57] brandonrosage commented on #1157
We tested this matter in our Oct. 6 study and @spiral99 found that "testers were able to intuitively match colour strips to posts belonging to the same surveys, but had some difficulty when the surveys were hidden /not selected on the front page so the colour strips were not at the moment visible."

I think this tells us that the color-coding of surveys and the legend/filter in the mode context ar

[2016-10-24 15:58] jshorland commented on #1451
@brandonrosage this appears broken. Any comments/advice on exactly where it's broken so we can fix quickly? @penanghillswatch has a demo on oct 31 and I'd like to get it fixed and pushed before that.

[2016-10-24 16:00] jshorland commented on #1451
@penanghillswatch -- Thanks for the feedback on coloring map markers by categories. it's not something that will be dealt with before your demo, to manage expectations, but we are thinking hard about custom pin coloring!

[2016-10-25 12:27] aoduor commented on #1157
Yes please!

[2016-10-25 12:28] #1157 closed

[2016-10-25 20:07] jshorland commented on #1335
@brandonrosage as soon as you're ready, please talk to @willdoran and @zhalloran about getting some tech eyes on this

[2016-10-25 20:45] willdoran commented on #1427
@rjmackay ah....that's definitely not documented

[2016-10-25 22:10] #1458 closed

[2016-10-25 22:10] #1459 closed

[2016-10-25 22:50] jshorland commented on #1434
I'm not able to save post after uploading the image. After clicking save, there doesn't appear to be anything happening. I cannot test other changes until I'm able to save the original post.

[2016-10-25 23:00] jshorland commented on #1453
Creating a new survey gives me the correct slider and clicking on both buttons on the slider works. See success in gif upload

[2016-10-25 23:04] willdoran commented on #1434
@jshorland I don't know why but the code was broken. It should be fixed now, and should deploy shortly.

[2016-10-25 23:08] jshorland commented on #1453
I am not able to successfully import a csv file. The deployment doesn't appear to recognize my .csv file.

[2016-10-25 23:13] jshorland commented on #1362
Editing the post date works. But when I return to timeline mode, the post is out of order.

[2016-10-25 23:18] jshorland commented on #1387
@brandonrosage @willdoran I don't see the share --> embed menu on the map. Is that not how I'm supposed to access embed?

[2016-10-26 00:59] rjmackay commented on #1453
@willdoran is this CSV upload issue related to the image upload changes?

[2016-10-26 01:02] rjmackay commented on #1452
I'd be very nervous about allowing users to give us the embed HTML. I'd rather we just supported a set list of services and let users know if they URL they provide doesn't match.

[2016-10-26 01:20] willdoran commented on #1453
Actually, yes it was, I stupidly changed a variable name without checking other occurrences of it. I've fixed it now though

[2016-10-26 02:12] jshorland commented on #1434
Posts are saving with images correctly.

- I was asked to confirm, but the message read "are you sure you want to remove this notification" when it should read "are you sure you want to remove this image?" (see gif upload)
- After replacing the photo and saving, it returns me to the post detail where I see a weird "46" under photo. I have no idea what this is or where it came from? (see screen gra

[2016-10-26 02:14] jshorland commented on #1434
Punting back to you @willdoran

[2016-10-26 02:23] jshorland commented on #1453
After importing and mapping, I click "finish import" and then "see imported posts". I've marked them all as archived, so I'm assuming that's why I can't see them (i tested by marking as both draft and published). But since I'm logged in as an admin, and imported them which makes them a collection... shouldn't I be able to see them in the list form? May need to be new issue?

Styling looks great th

[2016-10-26 02:24] willdoran commented on #1434
@jshorland I will look at these in the morning first

[2016-10-26 03:21] jshorland commented on #1434
All three issues I've listed fixed and pass QA. I'm doing a little more testing around other features and then will move to waiting to deploy as long as no others arise.

[2016-10-26 03:28] jshorland commented on #1453
@willdoran punting back to you

[2016-10-26 03:54] jshorland commented on #1034
Creating deployment worked. Form sign up functional and matches patterns. Log in successful after creation.

small feedback:
- my password was too short at first, but it didn't give me that feedback or tell me how long it needed to be. The box had a red outline, but specifics would be better.

[2016-10-26 05:14] zhalloran commented on #1034
@jshorland That's great feedback, and something that we can easily implement in the template. I'll throw an error message in there tonight before I sign off and anyone else can tweak it if they want.

[2016-10-26 14:26] willdoran commented on #1453
@jshorland yuck, that's kind of difficult....hmmmm...I'll have to think it out. I'm not sure that archived posts should be hidden in collections...or should they?

[2016-10-26 14:45] jshorland commented on #1034
Should also be a title for "email" box, and email instructions to the right side are not centered horizontally with the box.

[2016-10-26 14:49] jshorland opened #1461 "translations cause weird design flaws"
After translating to portuguese, the left side icon descriptions bled off their side bar. @brandon this isn't urgent, logging as p2 for now.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-658

[2016-10-26 14:49] jshorland commented on #1461
![screen shot 2016-10-26 at 7 47 31 am](https://cloud.githubusercontent.com/assets/3224856/19730968/bb00938c-9b50-11e6-91f2-26c91fcf8e5f.png)

[2016-10-26 16:04] jshorland commented on #1453
No they should not be hidden in collections when being viewed by admin

iPhone iTypo

[2016-10-26 17:08] willdoran opened #1462 "Archived posts should be shown in collections created from CSV imports"
### Expected behaviour
- When a user imports a set of posts that contain archived posts, the resulting collection should always display the archived posts

### Actual behaviour
- Archived posts are hidden

[2016-10-26 17:10] willdoran commented on #1462
To achieve this we can add a field to the collection object 'Source' which give the origin point of the collection. If 'Source' is set to import then the archived filter will be enabled on the collection views so that the archived posts are visible.

[2016-10-26 18:13] brandonrosage commented on #1399
@spiral99 What's the latest on the task of testing this question?

[2016-10-26 19:07] brandonrosage commented on #1335
Alright, gang (@jshorland, @caharding, @rjmackay, @willdoran, @zhalloran). Here's what I'm proposing for free-form surveys, presented as Jane's workflow for some key tasks.

## Create new survey
### 1. Select "Create new survey"
Jane can begin creating a new survey a couple different ways:

A. By selecting the "Create new survey" link appended to the survey filter (e.g. in Map and Timeline modes).

[2016-10-26 20:00] rjmackay commented on #1462
I think this is a dupe of #1446  and applies to all collections not just those from import. I don't think adding a source parameter fixes this properly. We shouldn't have any status filter when viewing a collection by default.

[2016-10-26 20:15] willdoran commented on #1462
@rjmackay, should we then clear all filters by default on collections? That would greatly simplify the issue or is there another dimension I'm missing?

[2016-10-26 20:18] rjmackay commented on #1462
No I think thats right. We should clear all filters by default, and add a display of any active filters.
The only complication might be maintaining filter while switching between map and timeline views on the same collection.. but tbh we could ignore that right now for a quick fix.

[2016-10-26 20:20] willdoran commented on #1462
@rjmackay how do you mean "display of any active filters" is there a pattern for that or how would you imagine it being formed?

Clearing the filters or rather setting 'collection defaults' is straightforward and I can stage quickly/

[2016-10-26 20:50] brandonrosage commented on #1448
I'd suggest the following solution:

## If the user is viewing the Import progress screen...

![import progress](https://cloud.githubusercontent.com/assets/1136279/19744067/7bc478fa-9b91-11e6-9166-c92bc61a91bb.png)

...and the process encounters an error. The sheet here should be updated with content like the following:

![import error](https://cloud.githubusercontent.com/assets/1136279/19744132/b

[2016-10-26 23:12] rjmackay commented on #1023
On bulk add to collections: I think you can ignore that for this ticket since it would mean an entire extra endpoint. Do it if its easy. But otherwise we can just hide/disable the add to collection button when selecting an entire set of posts.

[2016-10-27 14:12] jshorland commented on #1034
@rjmackay the only thing left on this are titles for email and password fields. See video above. The password error message is working well.

[2016-10-27 14:15] jshorland commented on #1362
@rjmackay should i move this back into in progress? or let you do that?

[2016-10-27 14:19] jshorland commented on #1365
fixed in qa.ushahididev.io. Moving to waiting to deploy.

[2016-10-27 14:20] jshorland commented on #1365
oops. already in that column.

[2016-10-27 14:21] jshorland commented on #1387
@willdoran I'm still only seeing the "export" button on the map mode, instead of the "share" menu. Am I missing something?

[2016-10-27 14:29] jshorland commented on #1453
Summary from our slack discussion on logic:
- after importing a CSV file, the logged in user who imported the CSV (thus, this user has manage posts and bulk import privileges) should be able to see posts that were marked as "archived" in the CSV import process after clicking "go to my imported posts". Right now, after going to the imported posts, it's not entirely obvious that "archived" is defaul

[2016-10-27 14:35] jshorland opened #1464 "Left side bar doesn't scroll"
Steps to reproduce:
1. navigate to usaelectionmonitor.ushahidi.io
2. try to scroll the surveys on the left side bar

[2016-10-27 14:36] jshorland commented on #1427
Update: I'm definitely getting notifications from ushahididev.com in a more timely manner than before

[2016-10-27 14:40] brandonrosage commented on #1387
I was confused by this, too. @willdoran informed me that it's currently only accessible to deployers in Settings > General. But the intention is for it to be accessible to anyone visiting the deployment via the "Share" button and modal, demonstrated in the PL's `develop` layouts.

Map, for example: http://preview.ushahidi.com/platform-pattern-library/develop/assets/html/5_layouts/map.html

![Share

[2016-10-27 14:51] brandonrosage commented on #1464
I don't know why, but @middle8media [changed the CSS for this specific behavior](https://github.com/ushahidi/platform-pattern-library/commit/22a63a928eadd6f61b721bb10938468cc5390a97) on the mode context last month. I've revised this in `develop` and published to npm.

[2016-10-27 14:53] middle8media commented on #1464
I changed it to fix this issue - https://github.com/ushahidi/platform-pattern-library/issues/78

[2016-10-27 14:56] brandonrosage commented on #1464
Thanks, @seth. Unfortunately, the only solution that I can conjure for [ushahidi/platform-pattern-library#78](https://github.com/ushahidi/platform-pattern-library/issues/78) is to ensure `tooltip` elements are always left-aligned. Otherwise, as we've seen here, we break scrolling.

The element referenced in that issue is aligned to the left in the `metadata` pattern improvements.

[2016-10-27 15:00] willdoran commented on #1387
@brandonrosage @jshorland I don't remember "embed share" being part of the spec for this feature. I added embed example code to the settings>general view as a mechanism for admins.

We don't have a share functionality at the moment. Was adding "Share" meant to be part of this issue?

[2016-10-27 15:08] brandonrosage commented on #1387
I think it's fair to call out that this wasn't explicitly part of the scope of this feature.

As backstory, much like "How to post" in the mode context, Mustang always assumed a "Share" button and modal. But in the rush to implement it, I assume it got reduced to just "Export." So I've also assumed that, as we rolled out support for those sharing options, we understood the mechanism for users to a

[2016-10-27 15:18] middle8media commented on #1384
I used svg4everybody to fix this issue which requires a js file and two script tags in `_scripts.html`

https://github.com/jonathantneal/svg4everybody

https://github.com/ushahidi/platform-pattern-library/commit/699c6dbe71cb0660266e2359aec9202f343b13f7#diff-b5edb800ce5968498d73755dc833d6f8R6

[2016-10-27 15:19] willdoran commented on #1453
@jshorland to add confusion we have this issue #1462, so what @rjmackay suggest is that all collections should behave in this way and not hide archived, also we need to add the active filters back but I think that is a separate bug

[2016-10-27 15:24] jshorland commented on #1453
Oh great! Do you have a recommendation as to how best to proceed? The way I see it we have two options: go ahead and push what we have now and address #1462 separately, or address it now and THEN push.

[2016-10-27 15:25] jshorland commented on #1453
Ok based on slack message, seems like we should try to wrap this up this week by also addressing #1462 tomorrow, and dealing with share menu today. Sound good?

[2016-10-27 15:26] willdoran commented on #1453
perfect will do

[2016-10-27 15:26] willdoran commented on #1387
If we move share to its own issue, does this count as passing qa/closeable?

[2016-10-27 15:27] willdoran opened #1465 "Add share functionality"
### Expected behaviour
- Share menu exists in client
- Share menu incorporates export
- Share menu has embedable option
- Implements http://preview.ushahidi.com/platform-pattern-library/develop/assets/html/5_layouts/map.html

[2016-10-27 15:37] jshorland commented on #1453
I'm going to close this. This issue is done and passes QA.

[2016-10-27 15:38] jshorland commented on #1387
Passes QA. Moving to waiting to deploy.

[2016-10-27 15:38] willdoran commented on #1453
Ok, great, I'll figure out if it's a bug a submit a fix for it!

On 2016-10-26 12:04, Jess Shorland wrote:

[2016-10-27 15:45] jshorland commented on #1387
Yes, if we move share to it’s own issue, this is closable.

[2016-10-27 15:50] willdoran commented on #1387
Done!

On 2016-10-27 11:45, Jess Shorland wrote:

[2016-10-27 20:41] rjmackay commented on #1200
Filter needs some refactor:
- Post filters needs to know about state: are we viewing a collection, search or all posts?
- Post filters should handle reset when state changes
- Collections and saved search controllers need less custom logic
- Ideally we would also push current filters onto the URL too (bonus)

[2016-10-27 20:47] willdoran commented on #1200
That all sounds good, the current filters on URL will also allow users to share specific filtered searches

[2016-10-27 21:28] willdoran opened #1466 "Add share for post detail/create"
### Expected behaviour
- User can share current post detail
- User can share survey create

### Actual behaviour
- Not implemented
### Steps to reproduce the behaviour/error

[2016-10-27 22:27] willdoran commented on #1451
When this is ready for implementation it can be assigned to me and I'll update the client side

[2016-10-27 22:28] willdoran commented on #1464
@brandonrosage do we need to bump the PL version in client to pick this up?

[2016-10-28 00:06] brandonrosage commented on #1464
Yes, sir.

On October 27, 2016 at 5:28:25 PM, will (notifications@github.com) wrote:

[2016-10-28 02:40] rjmackay commented on #1362
@jshorland pushed a fix to this. Should be live soon

[2016-10-28 02:46] #1460 closed

[2016-10-28 02:48] #1442 closed

[2016-10-28 02:56] rjmackay commented on #1362
Well I fixed the ordering but I have timezone issues of some form.
If I set a date, then view the post the post date doesn't match what I set. Its off by 13 hrs (I'm in UTC+13)

[2016-10-28 03:04] rjmackay commented on #1465
@willdoran I'm seeing JS errors in the console from facebook:
https://sentry.io/ushahidi/platform-client-staging/issues/174672350/

[2016-10-28 13:24] PenangHillsWatch commented on #1451
Hi has there been any update on the issue? I only have less than 72 hours till our launch and would appreciate if something is done the soonest.
Sincerely,
Penang Hills Watch

[2016-10-28 13:30] willdoran commented on #1451
hi @PenangHillsWatch, I will do my best to get this fixed today

[2016-10-28 13:38] willdoran commented on #1451
hi @PenangHillsWatch, we believe that this is fixed, and we should be able to push it out in our next release, which will hopefully be today

[2016-10-28 14:00] tuxpiper commented on #1445
Ok, just finishing this up, with the bonus points :)

[2016-10-28 14:26] PenangHillsWatch commented on #1451
Thank you.That is just what I wanted to hear @willdoran .Please let me know as soon as you do. I am eagerly waiting.

Thank you once again

[2016-10-28 14:57] brandonrosage commented on #1452
@jshorland, @willdoran, and @rjmackay: How do y'all feel about [the following UX](http://d.pr/i/UXxV/5LOebrjN)?

![Video embed demo](https://d1zjcuqflbd5k.cloudfront.net/files/acc_450437/UXxV?response-content-disposition=inline;%20filename=Screen%20Capture%20on%202016-10-28%20at%2009-55-01.gif&Expires=1477666918&Signature=Tp43jyqEJ1IA18rQi727B3X2cLViC4W~rPSG9DItgJF1Plhq6aE4bd6ysp31rDo0Z6wBGGv7jQps

[2016-10-28 15:02] willdoran commented on #1452
@brandonrosage wow - this looks amazing :dancing_men:

[2016-10-28 16:55] jshorland commented on #1451
Fixed. Passes QA.

[2016-10-28 17:02] jshorland commented on #1465
YES! passes QA. moving to waiting to deploy.

[2016-10-28 17:03] jshorland commented on #1464
PASSES QA! very excited to see this fixed so quickly. ~24 hours from logging to pushing fix to production.

[2016-10-28 17:08] jshorland commented on #1466
basic embeds pass QA. Facebook and twitter passes QA.

[2016-10-28 17:13] jshorland commented on #1327
this doesn't appear to be working fully in qa.ushahididev.com. I get a similar pattern in main map search, but nothing in add-post.

[2016-10-28 17:15] willdoran commented on #1327
@jshorland will check

[2016-10-28 17:17] brandonrosage commented on #1466
Markup revision: The "Share" button in the toolbar for Post Add should include the class `button-flat`.

[2016-10-28 17:18] jshorland commented on #1466
thanks, @brandonrosage I'll move this back to QA

[2016-10-28 17:18] jshorland commented on #1327
Here's gif of current status:
![screen capture on 2016-10-28 at 13-16-41](https://cloud.githubusercontent.com/assets/3224856/19815476/11df1c5c-9d11-11e6-8b91-e5e82574b15a.gif)

[2016-10-28 17:21] jshorland commented on #1362
oh interesting. its probably because it matches the default time zone set in the deployment. It's the same for me in eastern standard time US

[2016-10-28 17:22] jshorland commented on #1362
My recommendation is to push the changes in this issue, and resolve any confusion around time zones in a new issue.

[2016-10-28 17:59] jshorland commented on #1034
BOOM. PASSES QA.

[2016-10-28 18:12] jshorland commented on #1466
button class is correct. passes QA, moving to waiting to deploy.

[2016-10-28 18:31] #1462 closed

[2016-10-28 19:55] #1466 closed

[2016-10-28 19:56] #1034 closed

[2016-10-28 19:56] #1453 closed

[2016-10-28 20:04] tuxpiper commented on #1445
This is in the following PRs:

- ushahidi/platform-cloud-ansible#25

[2016-10-28 20:59] #1464 closed

[2016-10-28 20:59] #1465 closed

[2016-10-28 20:59] #1451 closed

[2016-10-28 21:01] willdoran commented on #1451
@PenangHillsWatch this is now deployed

[2016-10-28 22:02] rjmackay commented on #1362
I really don't think this should go into production till we fix timezone issues. The primary issue TBH is that if you edit a post, and save it (having made no changes on the form) it overwrites the post date.. so we're corrupting post data.

[2016-10-28 22:07] rjmackay commented on #1362
Let me provide better info on whats broken here:
- If I edit a post, and don't touch the form or date fields.. then save. It overwrites the post date, rounding it to the nearest half hr, possibly breaking timezone.
- If I set a post date, its assumed the date is UTC, not my actual timezone. This isn't influenced by deployment timezone and basically leads to corrupt data.
- Under some unclear condi

[2016-10-29 00:16] rjmackay commented on #1362
I've hidden this on production until its fixed. The more I messed with it was broken :(

[2016-10-29 00:30] rjmackay commented on #1362
Also noticed that you can't edit the post date when creating a new post, kinda counter productive.

[2016-10-29 01:49] jshorland commented on #1362
Fair enough. Create a new issue, or make sure the same issue goes backward so we don't lose it

iPhone iTypo

[2016-10-31 21:05] brandonrosage opened #1469 "Survey fields: Don't assume Title & Description"
Surveys should no longer assume "Title" and "Description" fields. Users should be able to name and configure all fields -- no matter which ordered position they're in -- however they like.

In an effort to lay the foundation for [a larger "Free-form surveys" solution](https://github.com/ushahidi/platform/issues/1335#issuecomment-256446871), we need to scope this one of two ways:

**1. Make surveys

[2016-10-31 21:11] brandonrosage opened #1470 "Append "Create new survey" button-link to survey filters"
The "survey filter" pattern should include a "Create new survey" button-link, as seen here:

![Create new survey](https://cloud.githubusercontent.com/assets/1136279/19734465/444b6e16-9b6d-11e6-91a4-935e7d3ed06d.png)

It'd take users to the configuration screen for a new, "Untitled" survey.

It's currently staged in the `f-freeformsurveys` branch of the PL.

SAMPLE: [Timeline layout](http://preview

[2016-10-31 23:16] #1401 closed

[2016-10-31 23:22] rjmackay commented on #1446
I think this was resolved by https://github.com/ushahidi/platform-client/pull/385

[2016-10-31 23:22] #1446 closed

[2016-11-01 01:31] rjmackay commented on #1469
@willdoran do you think option 1 is doable in the next 2 weeks? Would option 2 be much better?

[2016-11-02 18:07] brandonrosage opened #1472 "Remove "Filter by survey" button from non-embed views"
### Expected behaviour
On small screens, the "Filter by survey" button should only appear on Map and Timeline _embeds_. And the searchbar should only appear on Map and TImeline non-embed views.

### Actual behaviour
On small screens, the "Filter by survey" button (and the searchbar) is appearing on all Map and Timeline views. Only the searchbar and share buttons should appear on non-embed views.

[2016-11-02 18:49] rjmackay opened #1473 "SMS Autoresponse should be shown in message thread"
### Expected behaviour
- SMS auto responses should be shown in message thread

### Actual behaviour
Only manually sent responses show up, auto response doesn't create a message in the backend.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-657

[2016-11-02 18:56] brandonrosage commented on #1472
I've also staged a small CSS tweak to improve how search input render in iOS. Please let me know how I can publish that change so that it makes it out in this push.

[2016-11-02 19:05] rjmackay commented on #1472
@brandonrosage what branch is that on?

[2016-11-02 19:06] brandonrosage commented on #1472
[`develop`](https://github.com/ushahidi/platform-pattern-library/commit/b29e07db8395b20078666cb1a4d9b508ccbbad93)

[2016-11-02 22:45] #1472 closed

[2016-11-02 22:52] jshorland opened #1475 "Login screen pops up every time i click anywhere in the deployment if I'm not logged in"
### Expected behaviour
If I am just viewing the deployment, I don't want to be annoyed by the login screen. I want to filter and view data without interruptions throughout, with one login screen at the start.

### Actual behaviour
It pops up every time I click on a filter in the deployment.

### Steps to reproduce the behaviour/error
Navigate to usaelectionmonitor.ushahidi.io
Do not login at first

[2016-11-02 23:13] #1387 closed

[2016-11-02 23:14] #1321 closed

[2016-11-02 23:14] #1365 closed

[2016-11-02 23:14] #1418 closed

[2016-11-02 23:14] #1434 closed

[2016-11-03 18:33] jshorland commented on #1475
Additional notes -- i believe this either progressively gets worse the more you're on the site OR it starts happening more and more frequently after you login and then logout and stay logged out. increasing to p0

[2016-11-03 18:55] natmanning opened #1476 "free trials"
Had about 50% of SaaS-interested sales leads ask for a free trial of a week or two. Would be great to offer this.

[2016-11-03 18:56] natmanning opened #1477 "Video embed in reports"
We can't host video, but gosh it would be great if a user could drop in a URL from youtube or other video hosting service and have that video embed in a post so you can watch it from the timeline or map easily.

How hard would this be?

[2016-11-03 18:56] natmanning opened #1478 "Published single reports showing up twice on map"
Expected behaviour

A published report will show up once on a map

Actual behaviour

There is a report i just published in Arkansas in “Other” Survey. It is just one report, and only coming up as one on Timeline. But on my Map it is showing up twice, and showing two of the same report in the same place.

Steps to reproduce the behaviour/error

Go to usaelectionmonitor.ushahidi.io
look at arkansas

[2016-11-03 18:57] jshorland commented on #1477
Closing in favor of almost done #1452

[2016-11-03 18:57] #1477 closed

[2016-11-03 19:00] natmanning commented on #1478
Note: other reports are not showing up twice. This report came in via Twitter, and was then edited and turned into a report by the admin, which seems to be the only major variable

[2016-11-03 19:29] rjmackay commented on #1469
Complications:
- SMS messages have no title
- Data sources
     - Where do we save sms message/email title and subject?
- Searching ?q=blah now needs to search all text/varchar fields
- Converting unknown post to a survey
    - No longer guaranteed to have title + description field
    - Need to map fields between SMS and survey etc. And do this bulk
- Post export
    - No common fields between su

[2016-11-03 19:31] rjmackay commented on #1469
@brandonrosage @jshorland I talked with @willdoran and it looks like Option 2 is the only thing feasible in our timeline. As we went through it we realised the huge complication is how where does data from SMS/Email go if we don't have fixed title and description fields..

[2016-11-03 19:35] rjmackay commented on #1335
I commented on #1469 about this.. but theres a big complication with this when it comes to dealing with data sources. We currently use a posts title and description to save info from SMS, Twitter and Email. Once we get rid of those fixed fields we have a couple of problem

1. Where does the data for unknown posts go? I think this is manageable since we can create a new home for this data in the ba

[2016-11-03 21:48] brandonrosage commented on #1335
Great question, @rjmackay.

I propose that each data source be a pseudo-survey -- it has its own form fields and responses.

The "survey filter" in mode context is a good example of the kind of impact this would have on the web client, for example:

![survey filter](https://cloud.githubusercontent.com/assets/1136279/19985711/e3df92fc-a1e1-11e6-917a-d358ee1c810a.png)

No more "Unknown" posts. Each

[2016-11-03 21:49] brandonrosage commented on #1469
Makes sense. I hope [my answer to your question](https://github.com/ushahidi/platform/issues/1335#issuecomment-258284288) about this issue lays out a reasonable solution for Option 1 and beyond.

[2016-11-04 16:52] willdoran commented on #1475
@jshorland I can't reproduce this locally but I can see it happening on the deployment though ONLY when I click on the timeline. It's pretty strange. Not sure, why. I'll keep looking

[2016-11-04 17:21] willdoran commented on #1478
@natmanning I'm not seeing the post, is it published? can you link me to it directly?

[2016-11-04 20:06] jshorland opened #1480 "Task descriptions are disappearing after navigating away and then navigating back"
### Expected behaviour
After I save a task with it's description written in the description box, it should stay there forever unless i change it

### Actual behaviour
The description disappears after saving, navigating back to map, and then back to survey settings edit mode

### Steps to reproduce the behaviour/error
login
create a task in a survey and include title AND description
save
navigate b

[2016-11-04 20:09] jshorland opened #1481 "tasks and all information are completely visible to everyone"
I thought tasks were supposed to be visible internally to logged in users only?

[2016-11-05 02:09] zhalloran commented on #1023
@rjmackay @jshorland Getting into the nitty-gritty of the update and was wondering about what fields we should allow for bulk updates. I'm of the impression that we should initially only use it for updating the published status of reports. To your point, @rjmackay, I think the use case for bulk adding and removing collections is different from managing them on individual posts and we need to scope

[2016-11-05 05:04] jshorland opened #1482 "After deleting a post from the map mode, it auto directs me back to list mode"
### Expected behaviour
After I click on a map marker and delete the post related to the map marker, I expect it the system to keep me on the map

### Actual behaviour
After clicking "delete" on the drop down menu on the map marker (while logged in), it immediately directs me to the timeline mode.

### Steps to reproduce the behaviour/error
Login
click on a map marker's drop down action menu
select

[2016-11-06 03:33] jshorland opened #1483 "My saved search saves incorrectly."
### Expected behaviour
Once I save a search, returning to the saved search through the saved search menu in the global header should return me to the same filtered view that I saved

### Actual behaviour
After I save the search, it returns me to the wrong filtered view. See gif

### Steps to reproduce the behaviour/error
Select "show only unknown" in surveys in left navigation bar
Save that search

[2016-11-06 05:01] aoduor opened #1484 "Pagination on saved search not working"
### Expected behaviour
I've got a listing of 3 pages on my saved search. When i click on the "next" button or any page number indicated on the bottom of my page, it should take me to the next page populated with more content in my saved search.

![screenshot](http://i.imgur.com/RAilrVE.jpg)

### Actual behaviour
Clicking on either page number or the "next/back" buttons takes me to a page saying "Y

[2016-11-06 11:21] aoduor opened #1485 "Remove Conversation with author section from twitter posts"
### Expected behaviour
This section shouldn't appear for posts that have come in via tweets, since we technically aren't able to respond to tweets directly from the platform
![screenshot](https://drops.azureedge.net/drops/files/acc_531939/yQfh?rscd=inline%3B%20filename%3DScreen%2520Shot%2520on%25202016-11-06%2520at%252014%253A13%253A58.png&rsct=image%2Fpng&se=2016-11-06T11%3A46%3A45Z&sig=qyTl3YSWl

[2016-11-06 15:18] aoduor opened #1486 "Allow multiple selection of roles when creating a saved search"
### Expected behaviour
I'd like to be able to limit the audience of saved searches to more than one user role

### Actual behaviour
ATM, i can only select a single role in a dropdown

### Steps to reproduce the behaviour/error
* Set search criteria
* Click on "Save search"
* Add saved search details
* Select audience of your saved search

[2016-11-06 16:52] Nesp opened #1487 "`Logo Image becomes unavailable on Heroku Deployment"
### Expected behaviour
When a new image is set as a logo, it stays there until changed.

### Actual behaviour
The updated logo becomes unavailable after some time
![image](https://cloud.githubusercontent.com/assets/12881499/20039762/cc9876d0-a449-11e6-945c-c218b415748c.png)

### Steps to reproduce the behaviour/error
1. Make an Heroku deployment;
2. update a logo;
3. wait for some hours.

Could yo

[2016-11-07 13:27] jshorland opened #1488 "Member roles receiving error message on login"
### Expected behaviour
members should be able to login and view all resources available to their permissions
- account settings
- create/edit/delete saved searches
### Actual behaviour
- logged in members see a Forbidden error

### Steps to reproduce the behaviour/error
- Sign up as member and login to the deployment (USAElectionMonitor.ushahidi.io)

[2016-11-07 13:29] jshorland commented on #1488
From zack's investigation of the issue:
Well, for whatever reason, my account (and probably everyone else’s) doesn’t have authorization to read a resource that’s loaded on the page. That’s why the page starts to load and then redirects to the forbidden template.

[5:49 PM]
Here’s the resource: https://usaelectionmonitor.api.ushahidi.io/api/v3/contacts/21

[6:02 PM]
Zack Halloran	It’s strictly a pe

[2016-11-07 13:31] jshorland commented on #1488
Robbie's response:
 there are a few things on the frontend that blindly request relations, even though they might not have permissions. There is a flag to ignore failures.. but we must have missed setting it somewhere.

[4:20 PM]
Not sure what the ‘search’ privilege issue is though? Non admins shouldn’t have permission to access contacts, since contacts include phone numbers and emails

[4:25 PM]

[2016-11-07 13:33] jshorland commented on #1488
@zhalloran a quick fix would be good, but concerned about continual new member sign ups throughout today and tomorrow.

If we decide to move forward with the quick fix, can we disable the member sign up and not allow new sign ups? At this point it might be the most pragmatic fix we can do.

[2016-11-07 14:04] jshorland opened #1489 "Search related posts doesn't appear to work at all"

[2016-11-07 15:41] jshorland opened #1490 "exiting/clearing a saved search is really hard."

[2016-11-07 15:53] jshorland opened #1491 "Combining nearby posts completely negates map marker color differentiation"

[2016-11-07 18:30] rjmackay commented on #1488
This might actually be resolved by the same change as 1475

[2016-11-07 19:35] rjmackay commented on #1488
Should be resolved by https://github.com/ushahidi/platform-client/pull/407

[2016-11-07 19:36] rjmackay commented on #1475
This happens when trying to load the contact associated with twitter or SMS report (I think). I've added a flag to ignore permission errors loading contacts

[2016-11-07 19:45] jshorland commented on #1475
Currently on usaelectionmonitor.ushahidi.io, the login screen appears whenever i navigate to timeline mode, no matter where i am in the deployment, or how long i've been on the page.

[2016-11-07 19:48] jshorland commented on #1488
I can see the map after logging in with a member account, but not timeline. It says "sorry, you're not allowed to do that"

[2016-11-07 19:53] jshorland commented on #1475
Might be a caching issue -- working properly in incognito mode

[2016-11-07 19:53] jshorland commented on #1488
might be caching issue. working properly in incognito mode

[2016-11-07 19:53] #1488 closed

[2016-11-08 00:11] rjmackay commented on #1485
I think we need to keep the thread in case someone submits additional info in a follow up section, but we should hide the reply UI

[2016-11-08 01:03] rjmackay commented on #1489
er.. what? Where do we even have 'related posts'?

[2016-11-08 01:38] jshorland commented on #1489
Log in the USA election deployment and look at “verification” task. There’s a way to add a “related post” data field, but it doesn’t actually search? At least from all my tests.

[2016-11-08 01:52] jshorland commented on #1482
@rjmackay I'm still getting redirected to list after deleting from map.

[2016-11-08 02:17] jshorland commented on #1485
Yes! this is removed from the usaelectionmonitor.ushahidi.com, but remains in SMS and email posts. Passses QA. Moving to closed.

[2016-11-08 02:17] #1485 closed

[2016-11-08 03:45] rjmackay commented on #1484
This was related to weird handling of the post status filter. It should be fixed on production now.

[2016-11-08 03:45] rjmackay commented on #1482
Turns out I broke the test and this didn't deploy. Try again now.

[2016-11-08 04:33] jshorland commented on #1482
Ok. Passes qa now. Can someone double check on correct branch to make sure?

[2016-11-08 06:29] Chissico opened #1492 "Faile lto launch http://localhost/platform/httpdocs/"
### Expected behaviour

launch index.php

### Actual behaviour
{
    "errors": [
        {
            "status": 404,
            "title": "Unable to find a route to match the URI: platform/httpdocs",
            "message": "Unable to find a route to match the URI: platform/httpdocs",
            "class": "Kohana_HTTP_Exception",
            "file": "/var/www/html/platform/vendor/kohana/core/class

[2016-11-08 09:11] rjmackay commented on #1482
Not sure what you mean? I deployed this straight to prod in this case, have done so with a few of the minor fixes.

[2016-11-08 09:11] #1482 closed

[2016-11-08 09:29] #1260 closed

[2016-11-08 09:30] rjmackay opened #1493 "Intercom only shows on login, but not on return to deployment"
1. Got to deployment
2. Login
Intercom shows
3. Reload page
Still logged in, but no intercom

Aha! Link: https://ushahiditeam.aha.io/features/PROD-656

[2016-11-08 13:58] cmurphyUSAID opened #1494 "The Title entry box is not obvious n the submission page"
### Expected behaviour
Show a text box for entering the title

### Actual behaviour
The format for the title box is different than the other text entry fields on the page.  It appears ot be a white space with no border amking it bleed into the background.

### Steps to reproduce the behaviour/error

![text entry](https://cloud.githubusercontent.com/assets/7262256/20101784/7311c32a-a591-11e6-8e4b-3

[2016-11-08 17:17] willdoran opened #1495 "Map marker not centering on click"
### Expected behaviour
- When in embed mode, if I click on a map marker I expect the map to reposition so that the popup post card is entirely visible
### Actual behaviour
- Map does not reposition
<img width="812" alt="screen shot 2016-11-08 at 12 18 18" src="https://cloud.githubusercontent.com/assets/2694405/20109305/7c083f10-a5ad-11e6-9ba4-066f10238352.png">

### Steps to reproduce the behaviou

[2016-11-08 17:22] willdoran opened #1496 "Add post needs a cancel button in embed"
### Expected behaviour
- When I click to add a post and am taken to the submit page, I may want to cancel this action and return to the previous view

### Actual behaviour
- It is possible to do this via the filters menu but it is not intuitively obvious
<img width="966" alt="screen shot 2016-11-08 at 12 21 42" src="https://cloud.githubusercontent.com/assets/2694405/20109410/ef12cdf4-a5ad-11e6-8fe

[2016-11-08 17:29] willdoran opened #1497 "Intelligently log out user"
### Expected behaviour
- If I am working on a deployment I expect to remain logged in unless I am idle for a certain amount of time

### Actual behaviour
- User is always logged out when token expires

### Steps to reproduce the behaviour/error
- Login, wait for token expiration
- Click to change to a different view, signin is requested

Aha! Link: https://ushahiditeam.aha.io/features/PROD-655

[2016-11-08 17:31] willdoran commented on #1497
A significant issue with this is detecting "activity". While changing views and making requests to the server is a clear way to indicate activity. If I am editing a complex post for more than the token expiration limit BUT I have not saved to the server or otherwise made request the system should still consider me active.

[2016-11-08 20:48] willdoran opened #1498 "Survey Edit minor issues"
1. Field type not shown on survey edit
2. On field edit should be update and close not add and close
3. Should we have an email type? phone number type?
4. On field name, this should be placeholder text not an auto generated name

[2016-11-08 23:54] rjmackay commented on #1483
@jshorland I can't reproduce this. Can you give another example or re-record it? d.pr link doesn't work for me

[2016-11-09 00:01] rjmackay commented on #1489
Worked for me? https://www.dropbox.com/s/7t1mfo6un22vgtr/Screenshot%202016-11-09%2013.01.22.png?dl=0

[2016-11-09 00:01] rjmackay commented on #1489
It has no 'searching' indicator though.. so maybe misleading UX.

[2016-11-09 00:04] rjmackay opened #1499 "All filters appear to apply immediately, not when I click 'apply'"
### Expected behaviour
Filters shouldn't apply until I click apply

### Actual behaviour
Filters apply as soon as I change my selection

### Steps to reproduce the behaviour/error
1.Go to timeline
2. Open filters
3. Change status or other filters
See posts reload as you change filters, without pressing 'apply'

[2016-11-09 00:16] #1480 closed

[2016-11-09 03:51] rjmackay commented on #1481
This wasn't ever implemented: See https://github.com/ushahidi/platform/issues/1363

[2016-11-09 03:54] rjmackay commented on #1252
@jshorland not sure what to do with the 'smart input' part of this. Send it back to backlog?

[2016-11-09 09:10] #797 closed

[2016-11-09 09:15] rjmackay commented on #1497
First step on this might just be to use refresh tokens to extend the life of a session

[2016-11-09 18:20] brandonrosage commented on #1388
This should be closed, no? @jshorland

[2016-11-09 18:21] brandonrosage commented on #1389
This should be closed, no? @jshorland

[2016-11-09 19:56] brandonrosage commented on #1379
@spiral99 I've staged a couple of things for you in order to test the viability of this design solution:

* The Pattern Library includes a [`test-bulk_post_editing`](http://preview.ushahidi.com/platform-pattern-library/test-bulk_post_editing/assets/html/5_layouts/timeline.html) branch that includes a flow for editing multiple responses, assuming the user does so by selecting multiple response from

[2016-11-09 22:25] rjmackay commented on #1335
@brandonrosage that makes sense. It probably makes sense as a way to represent this data in the backend too (ie. a pseudo-survey with fixed fields).
Look forward to seeing UI for mapping fields, since that could be complex.

[2016-11-10 19:39] jshorland commented on #1362
Post dates not editable at all on qa.ushahididev.com -- is that where I'm suppsoed to be testing this?

[2016-11-10 19:43] rjmackay commented on #1362
No. Sorry sent the link in Slack a few days ago.. but not here: http://qa.fix-date-timezone-issues.ushahidilab.com/

[2016-11-10 19:46] rjmackay commented on #1407
Test on http://qa.fix-collection-editing-14-7.ushahidilab.com/

[2016-11-10 19:47] rjmackay commented on #1470
Test on  http://qa.147--create-survey-button.ushahidilab.com/

[2016-11-10 19:47] rjmackay commented on #1320
Test on http://qa.webpack.ushahidilab.com/

[2016-11-10 19:53] jshorland commented on #1407
Editing name of collection is successful.

Editing default view does not work.

Editing permissions is ok to change only upon returning to the collection/refreshing.

[2016-11-10 20:05] jshorland commented on #1362
- successfully edited post date on post 2530 (http://qa.fix-date-timezone-issues.ushahidilab.com/posts/2530)
- system successfully updated the "last edited" meta data on the post with my date and time in MY timezone
- system successfully ordered post by the most recently updated post date on timeline
- post still visible in map view with the correct post date

CHANGED TIME ZONES ON MY COMPUTER to

[2016-11-10 20:11] jshorland commented on #1484
Fixed in production. Thanks. Closing the issue.

[2016-11-10 20:11] #1484 closed

[2016-11-10 20:17] jshorland commented on #1470
passes QA

[2016-11-11 00:59] #1362 closed

[2016-11-11 03:07] filantropiintern opened #1501 "Bug for Categories"
### Expected behaviour
There will be "categories" option everytime we want to inputting data on surveys
### Actual behaviour
Sometimes the "Categories" option went missing
### Steps to reproduce the behaviour/error

[2016-11-11 04:08] rjmackay commented on #1407
I think setting view mode works as expected. You can view a collection with either map or timeline view.. the default is just the default with you first navigate to it. It won't change mode when you reload the view, because the URL is `/collections/5/list` or `/collections/5/map`. That is the way this worked prior to this change too

To test
1. Open collections menu and click on a collection
2. Ed

[2016-11-11 04:09] rjmackay commented on #1407
I'm going to land the change since it fixes the original bug. I can do a follow up if the default view behaviour is a problem.

[2016-11-13 00:31] nickbadams commented on #1338
Can someone offer @chrisco23 some guidance to get a dev environment up, so he can see the issue? He's kind of blocked right now.

[2016-11-14 08:07] aoduor opened #1502 "Add post sources to search filter"
### Expected behaviour
It would be great to be able to filter posts by source.

### Actual behaviour
Our search filter currently only has
* Surveys
* Categories
* Status
* Date range
* Location

### Steps to reproduce the behaviour/error
Log onto your deployment and click on the search filter.

[2016-11-14 14:39] jshorland commented on #1427
Update: I'm receiving email notifications in about 20 minutes with my alert that's set up for usaelectionmonitor.ushahidi.io. I am NOT receiving any SMS alerts even though I signed up for them.

[2016-11-14 20:01] willdoran commented on #1427
@jshorland What provider did you have setup for sms?

[2016-11-14 21:47] brandonrosage commented on #1385
This is all done in "Tasks" mode, where users (with permission) can see posts that have tasks attached to them.

![Tasks mode](https://cloud.githubusercontent.com/assets/1136279/20284113/67d07c14-aa81-11e6-94ba-cf51e9f6ee58.png)

By default, this mode displays all posts that have incomplete tasks assigned to you. Its toolbox includes controls for configuring how the posts are sorted, and showing t

[2016-11-14 21:55] brandonrosage commented on #1383
This is provided by the "Tasks" mode:

![Tasks mode](https://cloud.githubusercontent.com/assets/1136279/20284199/c5507542-aa81-11e6-8f12-4749facb8f56.png)

By default, this mode displays all posts that have incomplete tasks assigned to you. Its toolbox includes controls for configuring how the posts are sorted, and showing tasks based on who they're assigned to, whether they're complete, and/or wh

[2016-11-14 22:31] jshorland opened #1503 "After changing location of a twitter post, the post appears in two locations, not the updated one"
### Expected behaviour
If I change the location of a tweet when structuring it as a post, it should update to that location. NOt the original location of the tweet
### Actual behaviour
The post appears with two locations

### Steps to reproduce the behaviour/error
1. login to usaelectionmonitor.ushahidi.io
2. grab an unstructured tweet
3. try to change the location
4. click save
![screen shot 2016

[2016-11-14 22:32] jshorland commented on #1489
This technically works, but needs a little UX work (as you said, robbie). Removing P0

[2016-11-14 22:39] brandonrosage commented on #1382
An individual post's tasks are dictated by its survey's task configuration. Those tasks are appended to the post automatically, using the structure defined by the survey. That definition includes custom-built tasks, the order of those tasks, whether those tasks require another task be completed first, whether to display the contents of the task with the rest of the post, and who the task is assign

[2016-11-14 22:57] brandonrosage commented on #1381
Users with permission to create, edit, and delete surveys can (by extension) do the same to their tasks. They can do so one of two ways:

## 1. Editing a survey
When editing a survey, one of its secondary configuration sections is "Tasks," included in the mode context.

![edit survey mode context](https://cloud.githubusercontent.com/assets/1136279/20285794/69add7ea-aa89-11e6-96d3-f0585f17f74a.png)

[2016-11-14 23:00] brandonrosage commented on #1381
@jshorland + @caharding + @rjmackay: This is one of four issues that combine to define the next iteration of "Tasks" for Ushahidi. Those four issues include #1381, #1382, #1383, and #1385.

Though they may not be actively developed in the near term, I'd really like to jump on iterating and testing many of the decisions and assumptions here. So your timely feedback and questions are appreciated. Th

[2016-11-14 23:00] brandonrosage commented on #1382
@jshorland + @caharding + @rjmackay: This is one of four issues that combine to define the next iteration of "Tasks" for Ushahidi. Those four issues include #1381, #1382, #1383, and #1385.

Though they may not be actively developed in the near term, I'd really like to jump on iterating and testing many of the decisions and assumptions here. So your timely feedback and questions are appreciated. Th

[2016-11-14 23:01] brandonrosage commented on #1383
@jshorland + @caharding + @rjmackay: This is one of four issues that combine to define the next iteration of "Tasks" for Ushahidi. Those four issues include #1381, #1382, #1383, and #1385.

Though they may not be actively developed in the near term, I'd really like to jump on iterating and testing many of the decisions and assumptions here. So your timely feedback and questions are appreciated. Th

[2016-11-14 23:01] brandonrosage commented on #1385
@jshorland + @caharding + @rjmackay: This is one of four issues that combine to define the next iteration of "Tasks" for Ushahidi. Those four issues include #1381, #1382, #1383, and #1385.

Though they may not be actively developed in the near term, I'd really like to jump on iterating and testing many of the decisions and assumptions here. So your timely feedback and questions are appreciated. Th

[2016-11-15 08:20] tinodj opened #1504 "bin/update is broken when composer not installed on the system"
### Expected behaviour
bin/update should work, and should use ./composer.phar if composer not installed on the system.

### Actual behaviour
When composer is not installed in the system bin/update exists without doing anything.

### Steps to reproduce the behaviour/error
Run bin/update on a machine that has no composer installed. The which $composer fails and whole script fails.

### How to fix?
A

[2016-11-15 08:24] tinodj commented on #698
@tuxpiper I just came across this problem. It was ubuntu 12.04 with php-fpm 5.5 and apache 2.4.

The fastcgi was defined in Apache virtual host as:

FastCgiExternalServer /usr/lib/cgi-bin/php5-fcgi-www **-pass-header Authorization** -socket /var/run/php5-fpm

Adding the bold part helped me resolve the issue - without that part it was not working.

[2016-11-15 09:03] aoduor opened #1505 ""Disappearing" Categories"
Got this from a user on intercom, and I experienced it to on our US Election Monitor deployment.
"when I want to input categories in the survey, the checkbox for categories sometimes goes missing, and sometimes I need to wait about 5 to 10 minutes and then refresh the page so it will appear again"

The categories intermittently disappear from a survey during submission.

Caching issue maybe? @rjma

[2016-11-15 13:43] jshorland commented on #1427
Twilio. This is on usaelectionmonitor.ushahidi.io

[2016-11-15 20:06] jshorland commented on #1381
@brandonrosage one thing I found with usaelectionmonitor was the need to build a single workflow and apply it to multiple surveys. Is that feature included in your designs here and I missed it?

[2016-11-15 20:16] jshorland commented on #1381
@brandonrosage @rjmackay @caharding task privacy settings are going to be necessary. I'd like to try to get them into version 1 of this if possible.

[2016-11-15 20:28] jshorland commented on #1382
To test: order of completion requirements. I think this is one of the most complex settings

[2016-11-15 20:58] willdoran commented on #1452
Test these changes by:
- [ ] Create a new survey
- [ ] Add to this survey a video embed field
- [ ] Save survey
- [ ] Add new post of the above survey type
- [ ] Set the field to junk and attempt to save
- [ ] Set field to youtube url of different types and save
- [ ] Set field to vimeo url of different types and save
- [ ] Attempt to view video on Post detail field
- [ ] Attempt to edit
- [ ] Cha

[2016-11-15 20:59] willdoran commented on #1469
- [ ] Create a new survey
- [ ] Edit the Title and Description field labels
- [ ] Ensure it saves
- [ ] Create a new post based on this survey and ensure the field labels appear as set
- [ ] Edit an existing survey
- [ ] Edit the Title and Description field labels
- [ ] Ensure it saves
- [ ] Edit an existing post based on this survey and ensure the field labels appear as set
- [ ] Create a new pos

[2016-11-15 21:21] jshorland commented on #1452
No video embed field to add from "add field" menu

[2016-11-15 21:46] jshorland commented on #1469
BOOM. PASSES QA. let's get this shipped!

[2016-11-15 21:53] jshorland opened #1506 "Embed video preview in post summary box on map"
embed should be in post summary box on map, as we do for pictures. This is a new issue produced by original embed ushahidi/platform#1452  as it was out of scope of original issue.

@willdoran is concerned about performance issues, so he proposed only a preview image and then load only when it is clicked.

@brandonrosage thoughts?

Aha! Link: https://ushahiditeam.aha.io/features/PROD-653

[2016-11-15 22:17] willdoran commented on #1452
@jshorland The first two are fixed, I think the last one is for @brandonrosage, hopefully I didn't make a mistake in the html.

[2016-11-15 22:38] willdoran commented on #1452
No wait the last one is totally my fault, fixing now

[2016-11-16 03:27] rjmackay commented on #1486
@jshorland I don't think this is P0.. nor a bug.

[2016-11-16 03:29] rjmackay commented on #1478
Closing this since we can't reproduce it

[2016-11-16 03:29] #1478 closed

[2016-11-16 03:29] rjmackay commented on #1478
Might be related to #1503

[2016-11-16 03:30] rjmackay commented on #1481
Closing this. Not a bug..

[2016-11-16 03:30] #1481 closed

[2016-11-16 03:30] rjmackay commented on #1483
@jshorland can you provide steps to reproduce this or can we close it?

[2016-11-16 16:55] brandonrosage commented on #1506
The "free-form surveys" ethos is for the fields that appear in postcards to be manually chosen. I recognize that's a few months from being realized.

In any case, I'd recommend video embeds only be included in postcards if they can be presented in that context with keyframe images, with an overlaid "play" button that, when clicked, replaces the image with the embed and cues the video.

[2016-11-16 18:37] brandonrosage commented on #1506
I've pushed some support inside the `.video_embed-fluid` pattern for the aforementioned keyframe image + play button. It makes it possible to replace the iframe inside it with the keyframe image and play button, which would use the interaction logic I described above.

Here's an HTML example:

[code]

[2016-11-16 20:28] natmanning opened #1508 "Two map pins after changing location"
### Expected behaviour

When I change the location of a report that has location on it, there is only 1 location (the one i changed it it)

### Actual behaviour

If a post comes in with location (Twitter w/ location turned on for instance), and then I change the location to the location of the content, not where the person was when they submitted, it ends up showing two pins on the Map, both locat

[2016-11-16 21:41] jshorland opened #1509 "Duplicate emails being pulled into platform"
### Expected behaviour
Each unique email should only be pulled into platform once.

### Actual behaviour
User xenowatch.ushahidi.io has thousands of duplicate emails being pulled into their platform.

@willdoran  can you write notes as appropriate?

[2016-11-16 21:49] willdoran commented on #1509
Yep, the main issue with this is the way we are using IMAP, unfortunately at present we end up redownloading what is already in the mail box IF the mail provider doesn't treat access as having been read. So we need to change this, so that we store the UID of the messages we have retrieved, we then each time ask for all the messages with UID > last_uid. We are not a full mail client so we don't tak

[2016-11-16 21:57] jshorland commented on #1452
Confirmed. Passes QA. lets get this shipped.

[2016-11-17 00:20] natmanning opened #1510 "When I delete a post - i get sent back to page 1"
### Expected behaviour

I am on page 3 of my timeline reports and triaging reports. If I delete a post it asks me "are you sure?" and then when I press yes, the post would delete and I would be on page 3 to be able to tackle the next post.

### Actual behaviour

I am on page 3 of my timeline reports and triaging reports. If I delete a post it asks me "are you sure?" and then when I press yes, the

[2016-11-17 00:44] natmanning opened #1511 "Private survey and task fields"
### Expected behaviour

I can make a specific survey field, or task field, only visable to the logged in users, or by certain role. Particularly when doing verification, I want to include the original post details from FB for our internal team, but they have PII on them so I dont' want them published. This means I have to delete the content or not publish it.

### Actual behaviour

All fields are

[2016-11-17 17:01] natmanning opened #1512 "Sent back to page 1 of timeline each time I finish a post"
### Expected behaviour
After I finish publishing or editing a post and press "save" it then takes me back to the page I was on previously (say page 6 of posts).

Essentially I need an easy way to go from one post I am working on directly to the next, at the moment it takes 5-6 clicks.

### Actual behaviour
At the moment after I finish editing a post, I either am stuck on that page, and I have to p

[2016-11-17 18:08] jshorland commented on #1441
@rjmackay Two things:

1. when navigating to post detail from timeline screen with several "load mores" performed, I deleted the post and was auto navigated back to timeline. Is it possible to place me where I was in the timeline BEFORE going to post detail?
2. After loading more about 17 times, scrolling up was a chore. a quick "back to top" would be helpful

I realize these two might be out of s

[2016-11-17 22:15] rjmackay commented on #1441
1. We can't do this easily. We had the same issue with paging too.. its definitely something we should look into, but not something I can do in a day.

2. I'd rather send that back round to @brandonrosage and get something properly designed for a later sprint.

[2016-11-17 22:18] rjmackay commented on #1495
This might be fixed by the map refactor in ushahidi/platform-client#446

[2016-11-17 22:48] #1469 closed

[2016-11-17 22:48] #1470 closed

[2016-11-17 22:48] #1407 closed

[2016-11-17 22:48] #1452 closed

[2016-11-17 23:02] rjmackay commented on #1320
@spiral99 I've done some initial QA on this. However it could do with a full run through the entire app.
I started working my way through a QA checklist
https://docs.google.com/document/d/1NqeLuVfT54VobZDdUYwCze6vd0ph7lbVYLultBr3IVI/edit

Could you pick this up?

[2016-11-18 19:40] natmanning opened #1514 "Survey and Task fields need to have an internal/external setting"
### Expected behaviour

I want to be able to make certain Survey fields and certain Task fields only visable to admins, and not the public.

### Actual behaviour

All Survey fields and Task fields are automatically public.

### Steps to reproduce the behaviour/error

[2016-11-21 14:12] analyticandrew opened #1515 "Multiple hate crimes - same location - NYC"
### Expected behaviour: http://prntscr.com/d9zc0t

### Actual behaviour: http://prntscr.com/d9zc90, http://prntscr.com/d9zcf5

### Steps to reproduce the behaviour/error: zoomed to NYC, saw 11 items in same area, clicked - saw discrepancies

[2016-11-21 23:56] rjmackay commented on #1381
@brandonrosage sorry about the slow feedback

- What does a new survey look like? does it start blank or with some tasks?
- What does a new deployment look like? Does it start with a default survey + tasks?

[2016-11-21 23:56] rjmackay commented on #1382
- How does this interact with publishing/archiving a post? Do users still have the ability make a task required before publishing? Does publishing become a task?
- Should there be a default setting for 'Due date' ie. 1 week after post creation

[2016-11-22 00:03] rjmackay commented on #1383
This looks good to me.

One aside: Is there an issue for adding data source filters to the mode-context? And is there an issue to track turning data source posts (ie. SMS/Twitter messages) into their own pseudo survey? .. I see both of these implied in Tasks, so it would be good to track them as dependencies or at least related issues.

[2016-11-22 00:24] rjmackay commented on #1338
@chrisco23 @nickbadams sorry I'm not clear - whats blocking him here? What do you need beyond normal install instructions?
Those are here: https://www.ushahidi.com/support/install-ushahidi#installing-with-vagrant-a-nodejs-dev-server

[2016-11-22 00:25] rjmackay commented on #1389
Maybe - @willdoran worked on the Embed maps task, and covered a lot of this in the process. However I don't know if embedding individual posts was QA'd?

[2016-11-22 00:25] rjmackay commented on #1388
Same as my comment on embed post, not sure if this was QA'd

[2016-11-22 00:29] rjmackay commented on #1461
This is probably going to get worse in Arabic, Mandarin or languages with non latin characters too - could we make a point to test those?

[2016-11-22 00:31] #1445 closed

[2016-11-22 00:35] rjmackay commented on #1487
Heroku deployments don't use a CDN by default but have no persistent local storage. You'll need to configure a CDN like S3 or Rackspace Cloudfiles in application/config/cdn.php

[2016-11-22 06:55] aoduor opened #1516 "Permissions to categories"
### Expected behaviour
I should be able to set category permissions based on audience.

### Actual behaviour
Currently all categories are public on creation.

[2016-11-22 07:29] aoduor commented on #1516
NM, can see this is in.

[2016-11-22 07:29] #1516 closed

[2016-11-22 08:31] Nesp commented on #1487
ok, thank you!

[2016-11-22 23:36] jshorland commented on #1476
Initial scope: https://docs.google.com/document/d/1n0uk_ljwbNHxUeZDR2BZNccauaHVsXCMhE5ZeyQdxfc/edit#

@rjmackay mind taking a look when you get a chance? no rush, but would like to get designs and spec tee'd up for Q1

[2016-11-23 11:57] spiral99 opened #1518 "importing csv feature on qa.ushahididev.com/"
### Expected behaviour
the user should be able to select attributes from the csv columns.
### Actual behaviour
when importing csv files the csv columns are blank when on mozilla firefox. There are also duplicate survey fields.
### Steps to reproduce the behaviour/error
![2016-11-23_li](https://cloud.githubusercontent.com/assets/7393879/20560989/2a02930a-b18d-11e6-9679-5e2f629741ac.jpg)
![2016-11-2

[2016-11-24 18:07] rjmackay opened #1519 "Collections lost when user deleted"
This showed up for a solutions client.

A users collections are deleted when they are, this makes sense for private collections, but no sense for public collections created by an admin.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-652

[2016-11-27 21:29] chrisco23 commented on #1338
Thanks and sorry for the delay.

This is the first time I've seen the install instructions.  I'd only ever seen this github ticket.
The suggestion then is that to even reproduce the issue I should by setting up my own server and client--correct?

[2016-11-28 07:46] rjmackay commented on #1518
@spiral99 can you attach the CSV you were trying to upload?

[2016-11-28 07:47] rjmackay commented on #1518
Also - does this issue exist on production? or only staging?

[2016-11-28 08:07] spiral99 commented on #1518
it's on production as well although initially it was working meaning a
recent change ha affected it.

On Mon, Nov 28, 2016 at 10:47 AM, Robbie Mackay <notifications@github.com>
wrote:

[2016-11-28 09:13] rjmackay commented on #1486
- This should apply to both saved searches and collections
- The collection view in the pattern library shows how this should look:
http://preview.ushahidi.com/platform-pattern-library/develop/assets/html/5_layouts/map-collection.html
(click on edit in the sidebar)
- This roles control exists in a few places already, so hopefully it can be reused from there

https://github.com/ushahidi/platform/is

[2016-11-28 11:01] aoduor commented on #1475
Guys - this is still happening :(.

Try accessing https://brinland.ushahidi.io

[2016-11-28 13:54] willdoran commented on #1475
I think this only happens in browsers and for deployments someone has been previously logged into. I can't reproduce it with the above example. It may be a persistence of a session token. I think the logic maybe that if you were logged in before, are now logged out then you probably want to log back in.
I can look at changing it so that when you're logged out it only offers login when you click si

[2016-11-28 16:06] middle8media commented on #1384
@rjmackay are we good on this?

[2016-11-28 20:10] caharding commented on #1381
Something I find confusing is the "add field" to tasks. Feels like a survey form creation. Could we use another word like step or description instead? Want to make sure that Tasks are visually distinct.

[2016-11-29 10:02] nqcm opened #1520 "smssync is sending the same message hundreds of time"
when i send an sms to smsysnc and update it manually one, it sent it 234 times to ushahidi app. and the emails are not reaching at all. any help?

[2016-11-29 18:19] jshorland commented on #1338
Hi Chris,

To reproduce the issue, it's probably best to set up on your own server, as
you'll need to set up the code base to work on the issue itself. if you'd
prefer to see the issue in a hosted deployment, let me know.

--Jess

On Sun, Nov 27, 2016 at 1:29 PM, Chris Cortese <notifications@github.com>
wrote:

[2016-11-29 21:50] rjmackay commented on #1384
Not really. I'm not sure svg4everybody is a functional solution in AngularJS or not.. either way we'll have investigate a little more. I'm not 100% clear what the fallback method is .. do we fallback to png or object? or both depending on browser?

[2016-11-30 01:17] rjmackay commented on #1518
@spiral99 can you send me the CSV thats having issues? Are you sure this worked previous with *that csv*? It might be an issue with just that file

[2016-11-30 01:35] #1441 closed

[2016-11-30 01:35] #1320 closed

[2016-11-30 01:43] rjmackay commented on #1518
I've pushed a fix for the duplicate title and description fields in the list. I can't reproduce the issue with missing CSV columns myself.

[2016-11-30 08:47] spiral99 commented on #1518
the issue is on Mozilla Firefox.

[2016-11-30 09:36] spiral99-zz opened #1521 "making the homepage survey tiles movable for better arrangement."
### Expected behaviour
It would be a convenient feature to be able to move the survey tiles up and down depending on the user's desired arrangement.
### Actual behaviour
The survey tiles on the Ushahidi homepage are not movable
### Steps to reproduce the behaviour/error
![2016-11-30_li](https://cloud.githubusercontent.com/assets/7393879/20747023/86dac7b6-b6f9-11e6-81a8-8ce124339494.jpg)

Aha! Link

[2016-11-30 14:39] Angamanga commented on #1486
I have been looking through the code and starting to find my way. There is no separate directives for this in the survey-editor but the code for the functionality is there, so I started writing a directive. That in turn led me to questions about where to put files, and how everything is put together so a client-code-Q&A-skype-session would be good. Is it you @willdoran, @rjmackay or someone else w

[2016-11-30 17:31] willdoran commented on #1486
@Angamanga We can do a complete code walk through tomorrow together during the one on one

[2016-11-30 22:23] rjmackay commented on #1023
@zhalloran you asked about UI for this yesterday. This comment https://github.com/ushahidi/platform/issues/1023#issuecomment-247398829 has a design for adding 'Select all 1000 posts in this dataset' .. once thats clicked any bulk actions using existing buttons should be sent to the bulk actions API.

[2016-12-01 13:51] spiral99 opened #1522 "invalid error pop ups"
### Expected behaviour
A user should not be receiving an error pop up after filling in all the required fields
### Actual behaviour
The error pop up appears even after the all the fields have been filled. It seems as though the front end  JavaScript changes are not being validated.
### Steps to reproduce the behaviour/error
![2016-12-01](https://cloud.githubusercontent.com/assets/7393879/20795838/

[2016-12-02 20:59] middle8media commented on #1384
@rjmackay here is what I read concerning browser and fallback support. FYI. Whether or not we can use this in Angular requires a dev chat. I will run this by @willdoran to get his opinion.

**Browser support**

**Fallback Support**
![image](https://cloud.githubusercontent.com/assets/1033332/20850131/c376dc3c-b8a7-11e6-8865-ffb5041bcabd.png)

[2016-12-03 05:37] NonSecwitter commented on #698
On a fresh install, I ran into a problem of not being able to log in as admin/admin, or creating a new user.

1) Attempting to login returned no errors or information whatsoever, other than failed login.

2) Creating a user returned "The request is missing an access token in either the Authorization header or the access_token request parameter. " (searching for this brought me here.

As @panterz m

[2016-12-04 18:32] NonSecwitter commented on #698
@tuxpiper
Another interesting development in this:
I have the site up and running, and almost everything seems to be working fine. However, any images that I upload, such as deployment logo and images attached to survey submissions, do not render. The images are successfully uploaded to the proper directory with the proper name. If I download the image from from the server's file manager, the imag

[2016-12-05 22:36] rjmackay opened #1524 "Track route changes in google analytics"
Currently we have google analytics on deployments, but not integrated with angular.
Register route changes in angular as page views

[2016-12-05 22:38] rjmackay commented on #1524
Ideally also track plan upgrades for conversion tracking

[2016-12-06 14:36] Angamanga commented on #1412
I might mistake what the behaviour of the roles for the categories should do but I think I found an error. The roles selected in categories does not seem to do anything with the categories. They are visible to all users independent of what roles are set. A member can choose between all categories when creating a post and if a category that is only available for admins is set, it is still visible i

[2016-12-07 20:34] tuxpiper opened #1525 "Keep original map/timeline display status when coming back from viewing/editing a report"
Reported from community support channel

### Expected behaviour
1. Browsing reports through map or timeline
2. Click on any report to see its details
3. Click on browser back button to return to map/timeline
4. The map or timeline view is in the same state (zoom/scroll position) that it was on step number 2

### Actual behaviour
on 4. The map zoom position is reset , the timeline scroll position i

[2016-12-07 21:45] ArturoQuintana commented on #1525
Hello,
I have the same point of view related to this behavior.
I would like to preserve the same map state (zoomed position) once I return to the map. The option to keeps the map position is important for users.

[2016-12-08 03:41] willdoran commented on #1508
@natmanning are the two pins both there after a page refresh or indeed trying the same view from a different browser? I'm trying to work out if we don't clear the map properly.

[2016-12-08 04:23] jshorland commented on #1508
@natmanning @willdoran both pins are there after refresh. I tried in a different browser (firefox vs. chrome) and it's there for me as well. @natmanning could you double check these?

[2016-12-08 07:22] natmanning commented on #1508
yes still there. It seems to be the case when someone submits a post from Twitter w/ their Geolocation turned on, but the post itself is about a different place. After the post structurer/admin moves the point to a new place, it now shows up as both places.

If you load usaelectionmonitor.ushahdi.io as a viewer (dojn't login) and look at the posts in Sweden, and then open up that post page. You wi

[2016-12-08 19:25] jshorland commented on #1509
Still happening. The test deployment I created keeps bringing in the most recent email over and over and over and over

[2016-12-08 19:27] jshorland commented on #1412
@Angamanga This is not correct behavior. Do you mind creating a new issue for this and assigning to me so I can try to reproduce it on a hosted deployment?

[2016-12-08 19:32] jshorland commented on #1412
QA:
- patterns are now correct
- after making the "other" category only visible to admins in qa.ushahididev.com, I logged out and was still able to see "other" listed in categories as a logged out visitor to the deployment. @Angamanga good catch. @rjmackay do you want us to make a new issue for this?

[2016-12-08 23:01] rjmackay commented on #1503
Probably the same as  #1508

[2016-12-09 15:09] #1486 closed

[2016-12-09 19:49] jshorland opened #1527 "Youtube and Vimeo icons have disappeared in product"
![screen shot 2016-12-09 at 11 48 44 am](https://cloud.githubusercontent.com/assets/3224856/21062382/7b29014a-be05-11e6-8b79-69dc0e0dec47.png)
 @willdoran is this a quickfix?

[2016-12-09 19:50] jshorland opened #1528 "Add "you cannot undo this action" warning to delete confirmation pop ups"
We need to inform the user that deletions CANNOT be undone.

[2016-12-09 20:05] willdoran commented on #1527
hmmmm....that's super weird...the images are in the repo for master and production.
@tuxpiper Any idea where they might have gone?

[2016-12-09 20:10] willdoran commented on #1527
Ok weirdly, I'm getting this for a request for either image:
<div class="alert error"> <p>Sorry, something went wrong. Try reloading the page.</p> </div>
Which is basically saying it's broken somehow when fetching the image :/

[2016-12-09 20:43] willdoran commented on #1527
Fixing now

[2016-12-12 21:19] rjmackay commented on #1412
I suspect this could be a caching issue where the endpoints need to clear their local cache on log out.
We should try to fix that before this deploys

[2016-12-12 21:20] jshorland commented on #1505
This is a caching issue. If you immediately refresh after adding a category, the category doesn't appear for a few minutes.

[2016-12-12 21:21] rjmackay commented on #1503
@Angamanga I think you were already looking at this?

[2016-12-12 21:21] rjmackay commented on #1508
@Angamanga I think you were already looking at this?

[2016-12-12 22:38] caharding opened #1529 "Warn a user if their data will be public/private"
When a user is submitting data to Ushahidi over any medium they should know if their data will be published privately or publicly

Aha! Link: https://ushahiditeam.aha.io/features/PROD-649

[2016-12-14 22:58] jshorland commented on #1520
@aoduor experienced this as well. over 600 replicas of the same SMS were pulled into her deployment.

[2016-12-15 14:15] jshorland commented on #1509
@willdoran can we hand this to @Angamanga to finish up?

[2016-12-15 16:14] willdoran commented on #1509
Ah yes! I got entirely drawn into rollcall and this fell out of my head. I'll take @Angamanga through the issue and the needed fix.

[2016-12-15 17:35] jshorland opened #1531 "Payment page has wrong price in recurring billing disclaimer"
Surveyor disclaimer still identifies it at $199 (the old price) instead of $99. @angamanga If this is a quick fix, mind picking this up as well?

![screen shot 2016-12-15 at 9 36 57 am](https://cloud.githubusercontent.com/assets/3224856/21235062/19a9d562-c2aa-11e6-8f70-76723e081308.png)

[2016-12-15 20:08] Angamanga commented on #1531
@jshorland I dont manage to get to this disclaimer, how do I find it?

[2016-12-15 20:09] jshorland commented on #1531
Hmmm try logging into qa.ushahididev.com <http://qa.ushahididev.com/> with u: jess@ushahidi.com <mailto:jess@ushahidi.com>, p: password and going to settings —> plans, then click on Surveyor.

[2016-12-15 21:28] Angamanga commented on #1531
@jshorland That particular piece of code is from somewhere I don't have access/knowledge about right now, but I'll let you know as soon as I know more! @middle8media @rjmackay Do you have any advice where to fix this?

[2016-12-15 23:39] NonSecwitter opened #1532 "Install docs cites wrong php version"
### Expected behaviour
Install with PHP 5.4 should run phinx

### Actual behaviour
stderr: PHP Parse error: syntax error, unexpected '$value' (T_VARIABLE) in /wwwroot/platform/vendor/aws/aws-sdk-php/src/functions.php on line 36

### Steps to reproduce the behaviour/error
CentOS 7
nginx 1.10.2 from epel
mariadb 15.1 Distro 5.5.52
php, php-mysql, php-fpm

run phinx as stated in install instructions

[2016-12-16 21:35] natmanning opened #1533 "Sort by embed-source"
### Expected behaviour

UI category/collection filter capability to filter reports based on input from embeds sources. AKA, if the NYtimes puts a Document Hate form embed on their site, and the Washington Post puts a form embed on their site, can we show Nytimes the reports from their embed, and WP the reports from their embed.

1) Can we then make that into a UI filter that they can use.

2) Can

[2016-12-16 21:36] natmanning opened #1534 "Read Only role/permission"
### Expected behaviour

Can we create a read only role that only allows someone to read all the unstructured posts, but doens't allow them to edit?

This would be for a partner or a funder for instance

### Actual behaviour

### Steps to reproduce the behaviour/error

Aha! Link: https://ushahiditeam.aha.io/features/PROD-647

[2016-12-16 21:42] natmanning opened #1535 "Multi-survey form embed?"
### Expected behaviour
Other sites want to embed our surveys for Document Hate. However, we have created the surveys as 5 distinct groups (harassment, violence, hate speech, protest, other), because it is an engaging way to sort a view the data on the page.

But for someone looking to embed a form, this means they have to embed 5 different forms, which doesn't work.

q1) is there an elegant techni

[2016-12-18 21:58] rjmackay commented on #1509
@jshorland is it *just* the most recent email? or many recent emails?
I wonder if this is just an off-by-one error ie. we're saving the ID of the last email we brought in, and rather than doing `id > lastid` we're doing `id >= lastid` or something like that.

[2016-12-19 16:21] willdoran commented on #1509
@rjmackay This is actually an issue with the mail fetcher, if there are no new emails and you ask for emails from last_uid to last_uid + N, then it just returns the last mail again :( Always. So I suggested to @Angamanga that the best way to handle it is to add a check that what's returned doesn't equal the last uid.

[2016-12-19 23:41] jshorland opened #1537 "Data source tech debt"
- [ ] How they are currently wired up
- [ ] how they *should* be wired up
- [ ] tech spec/sizing to close that gap

[2016-12-19 23:55] jshorland commented on #1022
Closing in favor of #1502

[2016-12-19 23:55] #1022 closed

[2016-12-19 23:59] jshorland opened #1538 "Filter by custom fields on surveys"
- as a logged in user managing and sorting data, I want to be able to filter by custom fields on surveys

Aha! Link: https://ushahiditeam.aha.io/features/PROD-645

[2016-12-20 00:01] jshorland commented on #1019
@rjmackay is this fixed? can we close?

[2016-12-20 00:06] jshorland commented on #1417
Closing in favor of #1335

[2016-12-20 00:06] #1417 closed

[2016-12-20 00:07] jshorland opened #1539 "Annual Plan pages"

[2016-12-20 00:08] jshorland commented on #1539
Discounted annual plans available for Surveyor ($999) and Responder ($4999)

[2016-12-20 00:14] jshorland commented on #1501
@filantropiintern Are you still experiencing this issue? We believe it is a caching issue.

[2016-12-20 07:48] rjmackay commented on #1531
@jshorland does this happen on production? or only on QA? I think chargebee's test site might just have the wrong price.

[2016-12-20 08:14] rjmackay commented on #1509
I think @Angamanga fixed this. @jshorland can you retest?

[2016-12-20 19:22] FIU-Editor opened #1540 "Required Fields Prompt is displayed despite them being completed."
### Expected behaviour
Post is submitted when all fields with an "*" are completed.

### Actual behaviour
Although all required fields (with an asterisk) are completed as the post is submitted, this still does not occur.
We receive the following message when this occurs:
![ushahidi required fields error](https://cloud.githubusercontent.com/assets/17600339/21364598/868c9d40-c6bf-11e6-8d66-dd1a9529f

[2016-12-21 03:47] filantropiintern commented on #1501
Unfortunately, yes, and the time span between the disappearance to appearing again is now about 10 to 15 minutes

---- On Tue, 20 Dec 2016 07:14:14 +0700 Jess Shorland &lt;notifications@github.com&gt; wrote ----

@filantropiintern Are you still experiencing this issue? We believe it is a caching issue.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on G

[2016-12-21 12:16] Angamanga commented on #1475
@aoduor is this still happening? I tried to login to brinland but cannot reproduce it there or locally...

[2016-12-21 18:45] FIU-Editor commented on #1490
Hello,

We're having the same trouble, and are unable to return the original webpage after entering a saved search.

Have you found a solution to this problem?

Thanks

[2016-12-21 19:46] FIU-Editor opened #1541 "Checkbox and Radio Button Fields do NOT show the asterisk which indicates that they are required."
### Expected behaviour
After clicking the toggle which makes the checkbox or radio field required, and saving the survey, users entering the survey should be able to see the "required" asterisk to determine whether or not such fields are required.
### Actual behaviour
After such actions, users are not able to see the "required" asterisk in fields that have been set as required, causing confusion.

[2016-12-21 19:54] FIU-Editor opened #1542 "Request: Development which allows users in roles in each state to see and be notified of ONLY posts/surveys in their individual state."
For our deployment, we have attempted to create roles based upon state, so that each and every role is notified of and can only see activity in each state, using categories and saved searches. However, this system has had its defects, and we have been hindered from doing this because of the following issues:

1. Notifications intended for one role's state & saved search have been distributed to ev

[2016-12-22 19:09] jshorland commented on #1531
yup. @rjmackay is indeed correct. This only happens in QA, not in production. Sorry everyone. Should have double checked that before putting into an issue. cc: @Angamanga

[2016-12-22 19:09] #1531 closed

[2016-12-24 13:13] djrmf opened #1543 "MS Edge location search publishes posts"
### Expected behaviour
Pressing search in the location section of a post should look up a location on the map

### Actual behaviour
Pressing the location search button publishes a post, (without any location information)

### Steps to reproduce the behaviour/error
This occurred multiple times when trying this in Microsoft Edge, but did not happen with Firefox.

Aha! Link: https://ushahiditeam.aha.

[2017-01-02 13:13] Angamanga commented on #1412
@jshorland @rjmackay The issue with the categories being visible although they shouldn't was fixed through issue #1505 (was caused by the same problem) and can now be QA:ed.

[2017-01-02 13:15] Angamanga commented on #1505
@jshorland  I added a list for QA in the pr: https://github.com/ushahidi/platform-client/pull/465

[2017-01-02 13:16] Angamanga commented on #1503
@jshorland Corresponding pr with list for testing: https://github.com/ushahidi/platform-client/pull/461

[2017-01-02 13:35] Angamanga commented on #1508
@jshorland Same as #1503, fixed by pr: https://github.com/ushahidi/platform-client/pull/461

[2017-01-03 12:41] Angamanga commented on #1495
@rjmackay @willdoran This seems to work now, the marker centers in the bottom of the iframe.

[2017-01-04 11:28] Angamanga commented on #1326
@willdoran This was fixed in #1412 https://github.com/ushahidi/platform/issues/1412 and #1486 https://github.com/ushahidi/platform/issues/1486

[2017-01-12 14:54] aoduor opened #1544 "Field level permissions"
We're working with a client who needs to be able to collect contact info from people submitting posts, but only limit access to this information to an admin.

### Expected behaviour
I should be able to limit who sees responses to a particular field on a survey

### Actual behaviour
There are no options provided for me to limit who sees responses to specific fields on a survey, and when a post is p

[2017-01-12 19:02] FIU-Editor opened #1545 "Email notification "cron job," takes longer than is supposed to."
Hello!

Our programmer for our Ushahidi deployment, bb.fiu.edu, recently set the cron job of our email notifications to 5 minutes. Afterward, a colleague and I decided to make a few posts to test whether notifications would arrive at the designated time:

![image](https://cloud.githubusercontent.com/assets/17600339/21903672/c5314822-d8ce-11e6-9f27-1b3a4ed5f588.png)

Now, we have already opted for

[2017-01-17 14:03] willdoran commented on #1200
@rjmackay What is happening with this? I'd like to move it out code review should it go back to backlog?

[2017-01-17 14:05] willdoran commented on #1427
I think this was a config issue, I think it can be closed @jshorland

[2017-01-20 06:08] tuxpiper opened #1546 "Present vertical whitespace in Survey description"
### Expected behaviour
When entering vertical whitespace in the survey description (i.e. separating blank lines), this should be preserved when presenting the survey.

### Actual behaviour
Whitespace is not presented. The complete description appears in a single block of text.

### Steps to reproduce the behaviour/error
Attaching screenshots

<img width="625" alt="screen shot 2017-01-20 at 9 05 29

[2017-01-20 06:15] tuxpiper opened #1547 "Allow survey fields helper text"
It would be useful to add the possibility of providing helper text to survey fields (Title and Description included). A deployer could use this to help reporters better understand how to fill the form.

[2017-01-20 06:20] jshorland opened #1548 "FIU (open source user) experiencing issues with categories"
@rjmackay @willdoran -- This isn't an issue I can replicate in .io. Can you identify the issue he's talking about?

Just wanted to touch bases about the problem we have been having with the Categories function at bb.fiu.edu. We thought creating one Category for each of the 50 states would allow reporters filling out a survey to be able to:

1)      Assign their report to one of 50 states.
2)

[2017-01-20 06:25] jshorland commented on #1547
This should be covered by #1335

[2017-01-20 06:28] jshorland commented on #1544
@aoduor mind sharing who the client is and any info on when they would need this by?

[2017-01-20 06:29] jshorland commented on #1545
@rjmackay @willdoran alerts are delayed in .io as well. Is this a bug?

[2017-01-20 06:40] jshorland commented on #1548
Deployment URL: http://bb.fiu.edu/

[2017-01-20 06:43] jshorland commented on #1404
@brandonrosage this is brian's first pass at testing. Read through and we'll discuss pulling out what we can

[2017-01-20 06:45] #1394 closed

[2017-01-20 06:48] aoduor commented on #1544
Sure @jshorland. This is for Campaign for Tobacco Free Kids. They plan on launching their campaign in early february in about 20 countries.

[2017-01-20 06:51] jshorland commented on #1544
Perfect. This has been a pretty burning issue with other users as well, and would significantly improve privacy

[2017-01-20 06:52] Shadrock opened #1549 "Set up COMRADES repo / branch"
I'm not sure if I'm using the right terminology but COMRADES code needs to go into its own place. The notes we have from our last conversation in Basecamp (soon to be dead) are:

[2017-01-20 09:14] Shadrock opened #1550 "Review Yodie for potential COMRADES Integration"
**Task:** We are planning a "test integration" to ensure that tech developed by COMRADES consortium partners can be integrated with Ushahidi's work flow. To that end, please review [YODIE](https://gate.ac.uk/applications/yodie.html) as an example. Identify any potential issues that need to be addressed such as differences in programming language, UI/UX needs, general compatibility with platform.

[2017-01-20 18:05] aoduor opened #1551 "Setting to allow/block public download of CSV file"
In addition to limiting permissions to field responses, Campaign for Tobacco Free Kids would like to block the public from being able to download the CSV file of their deployment data since they forsee collection of sensitive data.

cc @jshorland

[2017-01-20 18:08] aoduor opened #1552 "Allow users to select fields they would like included in downloaded CSV"
### Expected behaviour
* When downloading a CSV file, it would be useful to be able to have the option of omitting/leaving out certain fields as opposed to downloading the entire field set of data

### Actual behaviour
* Clicking on download simply downloads CSV file with all fields and their data in it.

### Steps to reproduce the behaviour/error
* Click on the export button

This came as a reque

[2017-01-20 19:16] FIU-Editor opened #1553 "FIU Open Source: We are not able to get the SMS Data Source to work"
We have been able to configure the SMS number; however, while incoming text messages are delivered successfully, Ushahidi still does not receive the texts as unstructured posts.

I have inputted the Phone Number, the Auth Token and the Account SID exactly as inputted by both Twilio and Nexmo, but Ushahidi is still not receiving texts.

Any pointers?

Thanks

[2017-01-25 15:20] aoduor opened #1554 "Make tasks easily replicable across surveys"
I'm setting up tasks on three different surveys on my deployment, and I have to recreate the same tasks on each survey. it makes me want to cry

![wailing](https://media4.giphy.com/media/d2lcHJTG5Tscg/200.gif#7)

I'm not sure how this would be done from a design perspective but... this would be super helpful IMO.

### Expected behaviour
* I Should have the option to replicate a task on different s

[2017-01-25 15:24] jshorland commented on #1554
LOVE THIS — pinging @brandonrosage to keep in his mind as we design tasks further

[2017-01-25 15:53] aoduor opened #1555 "Show field type when editing a field"
### Expected behaviour
When i click to edit a specific field on a survey/task, i'd like to know what kind/type it is i.e radio button etc
The title for the modal where we edit fields should have the field type, taken from the `attribute` object (keys to use to determine this are  `type` and `input`)  in the frontend .

<img width="536" alt="Screenshot 2019-07-10 at 16 19 35" src="https://user-imag

[2017-01-25 17:14] aoduor commented on #1382
Adding in some more thoughts onto this.

As an admin user, i'd like to be able to assign tasks to specific user roles. i.e have verification be visible ONLY to the verification team etc.

[2017-01-25 17:15] aoduor commented on #1382
@jshorland should i create a separate issues for ^^ or is it all good if i just add my notes/user stories in here?

[2017-01-25 21:02] brandonrosage commented on #1382
@aoduor I consider the user stories defined at the top of the issue (marked as to-do items) as requirements for the design solution. Once I've addressed each of them, my work is done.

So if you're suggesting new user stories and they're not at the top of an Issue, I can't confidently say I'll address them.

[2017-01-25 21:14] caharding opened #1556 "Link to OSM from platform to map a location"
User story: If a user cannot find what they are looking for on the map, they should be directed to map what's missing on OSM

[2017-01-26 04:41] aoduor commented on #1382
Thanks. I'll add it to the top.

[2017-01-26 09:28] jshorland commented on #1483
Can't reproduce again. Closing.

[2017-01-26 09:28] #1483 closed

[2017-01-26 09:37] jshorland commented on #1528
@rjmackay this is a quick user knowledge issue we've seen pop up after they delete something. If we can get this done quickly, would prevent a lot of disappointment/frustration in our users.

[2017-01-26 09:48] jshorland commented on #1427
I'm going to retest this to be sure. If it's still not fixed, this should be a priority.

[2017-01-26 09:49] jshorland commented on #1023
@rjmackay I'm moving this into a new milestone for upcoming work once devs move back onto platform

[2017-01-26 10:06] jshorland commented on #1554
@brandonrosage i wish there were a way to drag cards on top of one another and create sub tasks, but there's not. So I moved this to the design column as we actively continue to design the "tasks" feature.

[2017-01-26 10:07] jshorland commented on #697
Moving backward into backlog and removnig the milestone.

[2017-01-26 10:13] jshorland commented on #1552
@aoduor I'm going to move this into icebox for now since it hasn't arisen in user testing/feedback elsewhere. Most users alter the CSV file in excel after opening.

@rjmackay can you help answer the question about exporting a location as an address instead of lat/long? my understanding from the surface is that there are several problems with storing addresses (or lack thereof)  in our DB

[2017-01-26 10:15] jshorland commented on #1338
We need to deal with this in Q1. Quickly fix hiding the feature for twitter since you can't ACTUALLY do it.

[2017-01-26 10:18] jshorland commented on #1409
Moving to icebox as I think we have solved some of this, and will solve more once free form surveys are built

[2017-01-26 11:17] jshorland opened #1557 "Create CTFK discount code"
30% off Responder plan. Needs to be available as both a code and a link. Should be titled "CTFK"

[2017-01-26 11:21] jshorland commented on #1511
@brandonrosage @rjmackay this has been a highly highly requested feature and has significant implications for security/privacy issues, as well as strategic partnerships that will benefit Ushahidi business and brand.

I'd like to move this along quickly if possible.

[2017-01-26 11:22] jshorland commented on #1514
Duplicate of #1511. Closing.

[2017-01-26 11:22] #1514 closed

[2017-01-26 11:26] jshorland commented on #1544
Duplicate of #1511. Closing.

[2017-01-26 11:26] #1544 closed

[2017-01-26 11:27] jshorland commented on #1389
This was QA'd and needs to be closed.

[2017-01-26 11:28] #1389 closed

[2017-01-26 11:28] #1388 closed

[2017-01-26 11:29] jshorland commented on #1388
This was QAd. closing.

[2017-01-26 12:16] aoduor commented on #1557
Clarification that it's on both surveyor AND responder :)

[2017-01-26 13:21] jshorland commented on #1423
@rjmackay can you drop link to the docs in here?

[2017-01-26 13:34] jshorland commented on #1549
@rjmackay @tuxpiper we need to figure out the best way to house and manage a COMRADES code base. Please advise and move on the best way forward.

[2017-01-26 13:44] jshorland commented on #1557
@aoduor what's the deadline on this?

[2017-01-26 13:48] jshorland commented on #1326
@willdoran Does this need to be QA'd at all, or can we move to done?

[2017-01-26 13:52] jshorland commented on #980
Moving this up in priority given our need to increase our security.

[2017-01-26 13:53] aoduor commented on #1557
@jshorland end of day tomorrow **runs and hides**

[2017-01-26 14:02] #1489 closed

[2017-01-26 14:13] jshorland commented on #1397
Moving this up in priority.

[2017-01-26 14:14] jshorland commented on #1436
Moving this back to backlog. We won't be able to to get to it this quarter.

[2017-01-26 14:18] jshorland commented on #1416
Yep. Duplicate. Closing

[2017-01-26 14:18] #1416 closed

[2017-01-26 14:19] jshorland commented on #1396
Note: we need to have to have this in "dev up next" by end of quarter.

[2017-01-26 14:50] aoduor commented on #1489
Is there somewhere the UX issue for this has been addressed that we can refer to? I think it's worth leaving it open just to make sure we don't miss it if it hasn't been documented elsewhere?

[2017-01-26 14:54] aoduor commented on #1382
@brandonrosage done :).

[2017-01-26 21:28] nickbadams commented on #1338
Just to clarify: is "the quick solution" to stop advertising the feature that makes Ushahidi so ideal for a project like ours (or any project where a team wants to scan twitter and then automatically recruit form data from twitter users who fit a keyword and geography profile? I ask because, with protests all over the world (and more to come), I may need to make it my full time job to find a volun

[2017-01-26 21:38] natmanning opened #1558 "Export button broken"
### Expected behaviour

Press export, data exports

### Actual behaviour

Press export, nothing happens

### Steps to reproduce the behaviour/error

I am working off of our https://usaelectionmonitor.ushahidi.io/views/map

When i press "export" in the Share button, nothing happens

[2017-01-27 05:51] jshorland commented on #1338
Apologies if my language was unclear @nickbadams. If the feature doesn't actually work, I'd prefer/it's our responsibility to set expectations of all users that that is the case while we implement a proper fix -- especially if properly fixing it will take more significant time and dev resources.

[2017-01-27 07:18] aoduor commented on #1557
Done. Closing. Thanks for the guide @rjmackay

[2017-01-27 07:18] #1557 closed

[2017-01-27 08:59] aoduor opened #1559 "Add list of countries or location search option on map settings page"
### Expected behaviour
As an admin, i'd like to be able to select my geographic area of focus from a list, OR the ability to search for a location that my map will span over, and have my map automatically zoom to that location, as opposed to having to drag and drop the pin on the map as my only option

### Actual behaviour
Right now, for example, if my map is centered on kenya, and i want to chang

[2017-01-27 09:29] aoduor commented on #1099
Adding a note in here that this would also be super useful when assigning colors to surveys. cc @jshorland @brandonrosage

[2017-01-27 09:51] aoduor opened #1560 "Survey Permissions: Limit who can view survey responses"
In addition to determining who can submit responses to a survey, I'd like to be able to determine who can view posts to a certain survey.

An example:

- I have survey A, and Survey B.

- I want to be able to limit who can view posts assigned to survey B, e.g, Angie should be able to view posts from Survey A, but not Survey B.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-641

[2017-01-27 21:25] brandonrosage commented on #1511
In the interest of a quick implementation, I've cooked up a revision to the "Edit survey" view (which is also a proxy for the "Create survey" view) that helps us clean up that experience, and adds the ability to fine-tune the permissions around individual fields.

Some quick notes, though:

- This ignores "Tasks" for the moment.
- The "delete" button for surveys has moved to the "Surveys" listing,

[2017-01-27 21:30] brandonrosage commented on #1555
[I've staged some revisions to the "Edit/Create survey" views](https://github.com/ushahidi/platform/issues/1511#issuecomment-275778898) that improve the display of fields during configuration, specifically addressing this issue. The work is aimed to address the "private fields" issue. But does it fix this issue, too, @aoduor?

Reference: #1511

[2017-01-29 11:28] aoduor opened #1561 "Non descript error message when there are no saved searches for me to view"
### Expected behaviour
If there are no saved searches available on the list for me to pick from, i should get a message saying "No saved searches available" or something?

### Actual behaviour
I get this error on the dropdown list
![screenshot](http://i.imgur.com/eNKODIj.png)

### Steps to reproduce the behaviour/error
* Go to https://testctfk.ushahidi.io/views/map
* Click on saved searches, while

[2017-01-29 15:52] aoduor opened #1562 "CSV Column to Survey field Mapping Not working"
I successfully uploaded a CSV file but was unable to proceed with import because the platform didn't show me what fields i'm mapping to my CSV columns. See below.

![screenshot](http://i.imgur.com/g5f3YbX.png)

[2017-01-30 08:53] jshorland commented on #1561
@aodour can you tag this as a p0?

[2017-01-30 08:57] jshorland commented on #1511
@brandonrosage This looks really really good. Thank you for the quick turnaround on this. Can you assign a dev to take a look from a tech perspective?

[2017-01-30 14:34] Angamanga commented on #1527
I'll QA this!

[2017-01-30 14:35] Angamanga commented on #1427
I'll QA this!

[2017-01-30 16:19] brandonrosage commented on #1242
No. 1, we should only show one `.message` pattern on a layout at any given time. So if there are multiple to display, the ideal logic would be:

1. Show all "modal" messages before finally showing "non-modal" messages.
2. Otherwise, display each message in the order that the app generated it.

No. 2, in the `develop` branch, I've revised the layout-level styles for messages so that the addition of

[2017-01-30 17:47] brandonrosage opened #1563 "Revise HTML structure of toolbar for Map + Timeline"
The "toolbar" on Map and Timeline views currently inserts some containers for "embed-only" content between the "searchbar" and the non-embed-only "button-group":

![code sample](https://cloud.githubusercontent.com/assets/1136279/22434346/47208698-e6e1-11e6-8dc2-574b195f0f28.png)

Can we please revise the source order of these children to the "toolbar" to:

1. `.fab`
2. `.searchbar`
3. `.button-gro

[2017-01-30 18:08] brandonrosage commented on #1399
Nov. 10 user test findings, from @spiral99:

[2017-01-30 18:28] brandonrosage commented on #1494
Both in response to this issue and the overall move toward free-form fields, I've revised the PL (in `develop`) to demonstrate the "title" field as a generic text input that has no special source order or treatment:

![sample](https://cloud.githubusercontent.com/assets/1136279/22435067/2d712344-e6e4-11e6-8631-f1e52f190f14.png)

The client should apply this same treatment, allowing the short text f

[2017-01-30 18:52] pedrofuentes commented on #1562
@rjmackay @aoduor any progress on this? we are blocked on uploading information to chileayuda.ushahidi.io from our csv files, thanks.

[2017-01-30 19:20] natmanning opened #1564 ""Sorry something went wrong" when creating new deployment"
### Expected behaviour
I create a deployment, and after the tour and choosing my plan, it sends me to the deployment
### Actual behaviour
After I created the deployment and choose Mapper, it says "Sorry, something went wrong. Try reloading the page"

I have attempted to reload on multiple browsers, no luck.
### Steps to reproduce the behaviour/error
See if you can go to
https://equality.ushahidi.i

[2017-01-30 19:21] natmanning commented on #1564
After about 2 min, the page loaded.

[2017-01-30 19:46] brandonrosage opened #1565 "Include 'progress' feedback on 'Export to CSV'"
**User story**: After choosing to "Export to CSV," I want the deployment to tell me that it's doing so _and_ when it's finished.

cc/ @jshorland, @caharding

------

I've demonstrated an interaction and pattern in the `develop` branch that addresses this need, [most recently called out by @natmanning in Slack](https://ushahidi.slack.com/archives/platform/p1485466755000003). You can sample it in [M

[2017-01-31 07:46] aoduor commented on #1562
@pedrofuentes - i've got @willdoran investigating this issue. What browser are you using?

[2017-01-31 14:09] willdoran commented on #1562
@pedrofuentes I've created an account on your deployment, would you give it admin rights?

[2017-01-31 15:43] willdoran commented on #1562
@tuxpiper @rjmackay I can confirm this is happening for ctfk.ushahidi.io, it appears to be the csv failing to parse in the api but I can't get further. Would one of you ping me when you are on?

[2017-01-31 16:42] brandonrosage commented on #1511
@aoduor, @KrisKuri: Please verify that I've addressed this and any relevant user stories that demand a solution like this. I want to make sure I've covered the need completely.

[2017-01-31 16:43] brandonrosage commented on #1494
@aoduor, @KrisKuri: Please verify that this solution doesn't undermine or overlook other needs expressed to you by users.

[2017-01-31 16:45] brandonrosage commented on #1565
@aoduor, @KrisKuri: Please use this as a cue to create fresh issues for other actions users perform in Ushahidi that they've expressed don't prompt adequate system feedback from the app. I can then direct how exactly the "progress" pattern(s) should be attached to those actions.

[2017-01-31 17:00] brandonrosage opened #1566 "Empty datasets should use 'message' to provide context"
### Expected behavior
When encountering a deployment's survey responses (in Map or Timeline mode), including Collections & Saved Searches, and there are no responses to show, messaging about the empty dataset should be delivered in a non-modal "message" pattern:

![Empty Collection](https://cloud.githubusercontent.com/assets/1136279/22475222/e5fd8b7c-e7a3-11e6-9e94-49652c302927.png)

### Actual be

[2017-01-31 22:52] pedrofuentes commented on #1562
@willdoran now you are an admin

[2017-01-31 23:03] willdoran commented on #1562
@pedrofuentes thanks I think I have found the problem, will fix as quickly as possible!

[2017-02-01 09:02] Angamanga commented on #1427
I tested this locally and doesn't get it to work. I have:
1. Added an emailprovider for email-datasource (both outgoing and incoming)
2.  Added an twilio-account for twilio-datasource
3. Created a saved search and added an email-address and phone number for notifications
4. Created and published a post that matches my saved search
5. Ran the scripts for sending notifications from inside the vagran

[2017-02-01 09:09] Angamanga commented on #1528
@rjmackay Are you working on this? Else, I can do it.

[2017-02-01 09:13] Angamanga commented on #1527
I can see the images now so this issue is fixed.

[2017-02-01 09:18] Angamanga commented on #1509
@rjmackay @jshorland Yes, this was fixed in https://github.com/ushahidi/platform/pull/1536.

[2017-02-01 09:37] Angamanga opened #1567 "Not possible to turn off notifications for saved search"
### Expected behaviour
When clicking on "Turn off notifications" on a search saved by someone else, the notifications should be turned off and the button "Get notifications" should be visible instead:

### Actual behaviour
Nothing happens, the text is still "Turn off notifications" and the notifications are not turned off.
Before clicking:
![screen shot 2017-02-01 at 10 30 05](https://cloud.github

[2017-02-01 15:12] Angamanga commented on #1427
I tested this on http://qa.ushahididev.com and there I actually got a notification after about 45 mins. I assume this issue is fixed and my problems above was config-related. However, since we all seem to have been a bit confused about the config, we should consider improve the documentation/support-docs for this part? That might be a separate issue though? @willdoran @rjmackay @jshorland

[2017-02-01 17:06] pedrofuentes commented on #1562
Awesome @willdoran ! were you able to fix it?

[2017-02-01 19:35] rjmackay commented on #1200
Not sure where this got to. Might actually be done.

[2017-02-01 19:59] rjmackay commented on #1423
https://drive.google.com/open?id=0B0A6Dk9aXj5oR09SOVk0SjdNeEE

[2017-02-01 20:40] brandonrosage commented on #1383
@jshorland, @aoduor: I have a handful of wireframes I want to use to solicit feedback from existing users who can help steer us toward the right mental model for presenting pending tasks. **Who can I ask to connect me with four to eight willing participants?**

As I see it, we're asking these folks for 20 minutes of their time (ideally, within my working hours) to join me (and other Ushahidi folks

[2017-02-01 20:51] rjmackay commented on #1427
I'll close this out for now.

[2017-02-01 20:51] #1427 closed

[2017-02-01 20:55] rjmackay commented on #1563
I think this can go straight into backlog

[2017-02-01 21:12] rjmackay opened #1568 "Send survey questions to reporters by SMS or Email"
Add ability to send survey questions out to reporters by SMS or Email, either as a one off or on a regular schedule (ie. weekly).

This would be helpful for organisations with an established volunteer base who need to be prompted to report.

This surfaced in discussions with IFRC.

[2017-02-01 21:13] rjmackay commented on #1568
@jshorland this may not be a usecase we want to support at all. But thought I'd log it and we can Icebox or close it if its not relevant.

[2017-02-01 21:14] rjmackay commented on #1550
@Shadrock is the test integration due by Feb 17th? or just review for scoping?

[2017-02-01 21:17] rjmackay commented on #1542
Would this be best addressed by allowing admins to upload a geographic state boundaries and create saved seaches based on those? or does it need to be even simpler than that?

[2017-02-01 21:19] rjmackay commented on #1545
Looks like a bug. I'd expect a delay of update to 30 mins, in part because notifications is combination of 3 different tasks running in sequence - so the delay is cumulative. But 1 day if *far* longer than expected.

[2017-02-02 00:49] rjmackay commented on #1527
@willdoran can you make sure this is deployed? (not sure what the code changes were?)

[2017-02-02 00:52] #1495 closed

[2017-02-02 00:58] rjmackay commented on #1501
Cache time is set to 15 mins I think. My guess is that theres a race condition somewhere such that sometimes categories isn't populated in the view..

[2017-02-02 01:01] #1487 closed

[2017-02-02 01:18] rjmackay commented on #1419
@saheleasy I'm going to close this out - feel free to reopen or comment if you have further info so I can debug

[2017-02-02 01:18] #1419 closed

[2017-02-02 01:19] #885 closed

[2017-02-02 01:23] #1373 closed

[2017-02-02 01:23] rjmackay commented on #1476
I've commented on the doc. @jshorland lets discuss once devs move back to platform

[2017-02-02 08:40] Angamanga commented on #1200
@willdoran @rjmackay This seems to be partly done here: https://github.com/ushahidi/platform-client/pull/413 but never got merged. There is still a problem when clicking on 'map' or 'timeline' in the nav-menu, /map or /list gets added to the current url and the saved search stays visible. I will not mess with this today, would rather hear your thoughts on how to move on. You seemed to have a discu

[2017-02-02 17:57] natmanning opened #1569 "Categories dissapear"
### Expected behaviour

Categories don't disappear.
### Actual behaviour

the categories to disappear and then only reappear when I attempt to reenter a category with the same slug

### Steps to reproduce the behaviour/error
Create some categories, and then jump between pages and they disappear.

[2017-02-02 21:49] brandonrosage commented on #1383
[I've staged an outline for the user test ](https://docs.google.com/a/ushahidi.com/document/d/1g054jelY7PcabE0zQOb22E1hNLFDSwXRoqeXwg_8m-s/edit?usp=sharing)I intend to facilitate this month, with a summary of the plan, questions, and an empty space for a list of the participants ;)

[2017-02-03 13:04] xoako commented on #555
Hi,

We are trying to add this feature to our deployment. It would be good to have it.

Thanks to all the team.

[2017-02-03 17:53] willdoran opened #1570 "Custom Pages"
This feature will allow users to add additional content information to their deployments. It is intended to address the user created pages for v2.

It is currently covered by the following issues:
- [1575](https://github.com/ushahidi/platform/issues/1575)

[2017-02-03 17:56] willdoran opened #1571 "Semi-Anonymous Posting"
- [x] Visitors to a deployment should be able to create posts without having to become full deployment users.
- [ ] It should be possible to collect some details about the user such as:
   - [ ] Name
   - [ ] Email
   - [ ] Organisation

This feature existed previously but was wiped out by one of the post rewrites.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-639

[2017-02-03 18:00] willdoran opened #1572 "Trusted Reporters"
This is a feature which exists in v2 but not in v3.

For a given user, it should be possible:
 - [ ] To set a trust level for that user
 - [ ] Depending on trust level threshold when a post/inbound message is received from that users:
    - [ ] SMS
    - [ ] Deployment account
    - [ ] Email address
    - [ ] Twitter account
- [ ] It should be automatically published

This feature is important fo

[2017-02-03 18:03] willdoran opened #1573 "Field level permissions"
This feature is already under design and is covered by [1511](https://github.com/ushahidi/platform/issues/1511)

[2017-02-03 18:06] willdoran opened #1574 "Mapping v2 data to Post entity in v3"
﻿The tables below describe the complete set of v3 and v2 Post/Incident tables
- [x] A complete mapping should be constructed covering all relevant tables and their fields

<img width="786" alt="screen shot 2017-01-25 at 11 51 29" src="https://cloud.githubusercontent.com/assets/2694405/22602538/a5d40740-ea11-11e6-816d-a948dd87d87c.png">

**Key fields:**

**service:**
  - Is equivalent to source? Ch

[2017-02-03 18:11] brandonrosage opened #1575 "Campaigns: a deployment 'overview' screen"
**User story**: I want to tell people who visit my deployment what its purpose is, the story its data might be telling, and what they can do to contribute, using text, images, and video. I want this information to be the first thing they see when arriving at my deployment.

**User story**: A deployer wants to be able to send updates to anyone who subscribes to the deployment which are sent out as

[2017-02-03 18:11] willdoran opened #1576 "Mapping v2 data to Form entity in v3"
﻿The tables below describe the complete set of v3 and v2 Form tables
- [x] A complete mapping should be constructed covering all relevant tables and their fields

<img width="737" alt="screen shot 2017-01-25 at 11 51 39" src="https://cloud.githubusercontent.com/assets/2694405/22602711/49b7b14a-ea12-11e6-8fc1-231c882c92d6.png">

**Key fields:**

**form_field:**
  - Maps to form attribute
  - Relies

[2017-02-03 18:15] willdoran opened #1577 "Mapping v2 data to Messages entity in v3"
﻿The tables below describe the complete set of v3 and v2 Message
- [x] A complete mapping should be constructed covering all relevant tables and their fields tables

<img width="692" alt="screen shot 2017-01-25 at 11 50 53" src="https://cloud.githubusercontent.com/assets/2694405/22602761/7b8a29f0-ea12-11e6-8040-650d829f7678.png">

**Key fields:**

- **alerts:**
  - Could be very important if a lar

[2017-02-03 18:19] brandonrosage commented on #1575
For reference, @jshorland, @caharding, and I have contributed design assets to this story, considering a range of scopes.

For example, here's a wireframe for a deployment (called a "campaign," in this context) overview in a larger product shift:

![v4 wireframe](https://cloud.githubusercontent.com/assets/1136279/22602818/6ac868e6-ea0a-11e6-9dfa-4580d98685b2.png)

Here's a mockup of that same idea

[2017-02-03 18:21] willdoran opened #1578 "Mapping v2 data to User entity in v3"
﻿The tables below describe the complete set of v3 and v2 User
- [ ] A complete mapping should be constructed covering all relevant tables and their fields tables

<img width="746" alt="screen shot 2017-01-25 at 11 50 40" src="https://cloud.githubusercontent.com/assets/2694405/22602872/095928e4-ea13-11e6-8bdf-b418da145d9b.png">

**Key fields:**

**incident_person:**
  - Maps to post.author_email an

[2017-02-03 18:22] willdoran opened #1579 "v2 plugin study"
- [ ] Identify most common plugins
- [ ] Determine if useful

Aha! Link: https://ushahiditeam.aha.io/features/PROD-633

[2017-02-03 18:33] willdoran opened #1580 "Define user migration process"
- [ ] What will the user migration experience look like?
- [ ] What level of technical skill will migration require?
- [ ] Is the v3 deployment created by the user or automatically by the migration tool
- [ ] What tier would users migrate to?
- [ ] How much support do we offer? Can we give them an migration guide. “Upgrade Day/Week”, specific day day dedicated to support for upgraders, there after

[2017-02-03 21:34] caharding commented on #1575
I really like the simplified version at the bottom. Questions that arise
* Is there another top level menu for browsing between deployments (campaigns)?
* How could someone run the same campaign in multiple places?
* Are surveys and their management done under settings with links to them also in "contribute" and "responses"?

[2017-02-03 23:48] caharding commented on #1335
A couple things:
1. You're going to need to be able to hide/collapse all Surveys or Data Sources for screen real estate
2. I think that what goes in the "Preview" card should be chosen not on the field, but in the preview mode, where the user can then drop down select which field they want in what order. It is confusing that they would have to reorder the survey if they want to reorder the preview

[2017-02-06 16:22] brandonrosage commented on #1396
I've put together the pieces to a first pass at scoping and designing the solution to this need.

**First**, is [a modest scope](https://docs.google.com/a/ushahidi.com/document/d/1AkFDYpYWMuwWfRB93GO81Afvq0wPvNYTQcfP-PcGRtg/edit?usp=sharing), which takes an iterative approach to rolling out an increasingly "smart" onboard tasking system.

Version 1 simply provides a step-by-step experience for on-

[2017-02-06 18:43] FIU-Editor commented on #1542
Would this be a question for developers? Is it possible for boundaries to be coded in the first place, and how difficult would that be?

As a deployment team, we would ideally like to see states being assigned to categories based upon their borders. What are your thoughts?

Thanks

[2017-02-06 19:30] FIU-Editor opened #1581 "Visualizations w/ Categories May Be Misleading"
![ushahidi visualization flaw](https://cloud.githubusercontent.com/assets/17600339/22662914/b68c2c02-ec78-11e6-99b0-06153a48fc68.PNG)

In the above picture, we've noticed that distinct visualizations appear based upon category. However, since categories cannot be mandated, and have been disappearing continually, then this may be a misleading visualization.

[2017-02-06 20:34] brandonrosage commented on #1554
I've done some work that touches on this issue in the run-up to an upcoming user test of "Tasks" -- #1383.

[2017-02-07 08:47] rjmackay commented on #1372
@jshorland This got slightly more urgent now Kohana is taking everything offline as of July http://discourse.kohanaframework.org/t/kohana-retirement-2017-07-01/1277