[2018-04-25 23:49] rjmackay opened #2846 "Retest categories permissions after refactor"
A landed a small refactor in https://github.com/ushahidi/platform/pull/2738

Test checklist:
- [x] Pre-requisite: Logged in, in creation page for a category. Example: http://csvexportsforever.v3-qa.ush.zone/settings/categories/create
- [x] Create a category and set `Who can see this category?` to Admin
- [x] Create a child category and check `Who can see this category?` shows permissions are manag

[2018-04-25 23:53] rjmackay commented on #2846
@Eve-wanderi @aoduor this should be deployed now. Could someone QA please?

[2018-04-26 00:38] rjmackay commented on #2842
In the lumen branch the global default is just the first enabled provider we find. The main case where this actually matters is notifications (ie. when subscribed to a saved search), because we don't know which provider is the right one for a users contact number.

[2018-04-26 01:29] kinstelli commented on #2844
Actually, it looks like this is just happening on subsequent outgoing messages in targeted surveys. A quick fix might just to pass along the name of the data-provider that was used for the incoming message.

[2018-04-26 01:51] rowasc commented on #2807
@Erioldoesdesign I think this was resolved with the conversations yesterday and the new screen, but lmk if that's not the case and there are more questions

[2018-04-26 02:05] rowasc commented on #2807
@rjmackay @Erioldoesdesign burning question/suggestion: maybe we should never return the hdx api key .It's useless in the frontend and why would we do that* when we can just have a way to update it or create it instead ?

*obviously this means we can't show it in the client.. but it's pretty common not to show api keys after you set them up. Maybe just the last 4 digits or something  like that ?

[2018-04-26 02:08] rowasc commented on #2814
@willdoran can we discuss PULL vs PUSH tomorrow?

[2018-04-26 02:32] rowasc commented on #2805
@rjmackay answering: "other questions"

the one to request a HXL job. Need to define .

A short version I think would be this:
There is a way to create a HXL Export with an HTTP Request that includes
- filters
- selected_fields
- field_to_hxl_map (where each form field is mapped to a tag+attributes or to "empty" )
With the details for each field that I have in the ticket's description .

+ a detai

[2018-04-26 02:41] rjmackay commented on #2805
I would hope this could be shared with CSV export ie. so we have a single export job API, you just specify the `type` of export you want.

On acceptance criteria, maybe the deliverable should be a postman collection then? Thats something actually testable and demo-able. And slightly beyond just behat API tests.

[2018-04-26 02:45] rjmackay commented on #2805
I don't think its overkill. But it might be worth seeing how far you could get without it? What issues come up if its just an optional field on the export job table? (only required if type = hxl)
I do think a new entity would be overkill, even if its a different DB table, we should probably handle it within a single Repo + entity... does that make any sense?

[2018-04-26 02:48] rjmackay commented on #2807
@rjmackay I like the idea of not returning the API key once set. I don't have a strong opinion on it - it'd be a neat addition though and easy enough to implement in the API

[2018-04-26 05:33] jrtricafort commented on #2842
I still don’t have full familiarity with the Targeted SMS workflow, but
Justin’s suggestion makes sense to me. Let me know if we need another
opinion. Perhaps we should confirm with someone from the Implementation
team?

On Wed, Apr 25, 2018 at 6:08 PM Mark Kinsella <notifications@github.com>
wrote:

--
----
Juan Ricafort
juan@ushahidi.com
+1.805.405.2558

[2018-04-26 08:41] DafneCalvo commented on #2778
Hi:

Now I can export, but the category of the name of the community does not export on the CSV.

[2018-04-26 09:03] evchristelis opened #2847 "mysqli::__construct(): (HY000/1045): Access denied for user ''@'localhost' (using password: NO)"
I tried to follow the "Installing the API" instructions and when I reach http://192.168.33.110/ I get a json response but not the a successful one.
`{
    "errors": [
        {
            "status": 2,
            "title": "mysqli::__construct(): (HY000/1045): Access denied for user ''@'localhost' (using password: NO)",
            "message": "mysqli::__construct(): (HY000/1045): Access denied for

[2018-04-26 11:16] tuxpiper commented on #2559
@crcommons  Looks like the x-ref ticket https://github.com/ushahidi/account-management/issues/12 was closed satisfactorily . I think this can be closed

[2018-04-26 12:04] Angamanga commented on #2485
@crcommons Yep, checklist added! this is also deployed to production

[2018-04-26 12:05] Angamanga commented on #2431
@crcommons Test-script added. This is merged to develop, not production

[2018-04-26 12:09] Angamanga commented on #2559
@crcommons This is deployed to production. Added test-checklist ✅

[2018-04-26 12:11] Angamanga commented on #2754
@crcommons This is merged to develop!

[2018-04-26 12:14] Angamanga commented on #2468
@crcommons Fixed checklist, this is deployed to QA.

[2018-04-26 12:54] Angamanga commented on #2807
@rowasc @Erioldoesdesign Could we in some way indicate to the user that they have an api-key saved in the case we decide not to return it to the client? Otherwise I think it will be confusing.

[2018-04-26 13:33] rowasc commented on #2807
@Angamanga @Erioldoesdesign
Yes. I think if we end up going that route, we should still return a few of the last characters (maybe ~4 or so) and make it obvious in the UI that there's an API key  so the user doesn't think "oh no, my API was not saved"

[2018-04-26 13:37] rowasc commented on #2847
Hi.
For the database configuration, you should not need to edit application/classes/Database/MySQLi , the correct way to configure it is to use the .env file that you copied from .env.default and change the settings there, specifically the keys starting with DB_ .

For the `Uncaught TypeError: Argument 1 passed to Kohana_Kohana_Exception::handler() must be an instance of Exception, instance of Par

[2018-04-26 13:39] rowasc commented on #2805
@rjmackay re: endpoint - Yes, you are right that specifying the type might be best.
re: tables => I think that makes sense. I'll think more about that

[2018-04-26 13:40] evchristelis commented on #2847
Hello @rowasc ,
I know I shouldn't edit the application/classes/Database/MySQLi but I tried in order to make the platform bypass the problem. Initially, I have edited the .env file with my DB configuration. I am using php 7.0.

[2018-04-26 13:43] willdoran commented on #2814
@rowasc yep ping me

[2018-04-26 14:08] Angamanga opened #2848 "[Platform Client] Fetch surveys+survey-fields to export for HDX"
### Description
in order to display and add tags and attributes to the survey-fields, we need to fetch the surveys from the api

### Designs
https://xd.adobe.com/view/2690f082-d88d-4788-5db7-b04c9474a404-50a1/?fullscreen

### Todo
*When going to the hdx-page in data-export-settings...*
- Fetch all surveys available, except targeted surveys from the api
- Fetch attributes for each survey
- Add test

[2018-04-26 14:56] StaicyG opened #2849 "Unable to download CSV"
### Expected behaviour
The user should be able to receive the downloaded CSV file after selecting "Export CSV file"

### Actual behaviour
The process gets stuck at "Export in progress" for a long period of time then the user gets logged out

### Steps to reproduce the behaviour/error
Logged into my deployment www.speech.ushahidi.io
Select Settings
Select Export CSV
Select Export All data
Process g

[2018-04-26 15:11] jrtricafort commented on #2849
@crcommons Tagging you here for prioritization. Attempting to repro this myself now.

[2018-04-26 15:27] kinstelli commented on #2849
Do we know how long this wait was? Under the data-providers process, this can take a very long time.

[2018-04-26 15:47] #1619 closed

[2018-04-26 15:50] jrtricafort commented on #2849
@StaicyG What tier (plan) is the deployment?

[2018-04-26 17:27] crcommons commented on #2400
Duplicate issue created. See #2838 for reference

[2018-04-26 17:28] crcommons commented on #2838
Closing in favor of #2400

[2018-04-26 17:30] rowasc commented on #2849
@aoduor @StaicyG can you get in touch with the user and ask them to check if the deployment finished?
It's a tier 1 / free deployment so it was most likely an issue with the providers taking a long time because they run every hour.

[2018-04-26 17:31] crcommons commented on #2796
@kinstelli This seems like a P2. Is that accurate?

[2018-04-26 17:32] kinstelli commented on #2796
@crcommons - Yes, probably true.

[2018-04-26 17:54] crcommons commented on #2778
@DafneCalvo can you provide a little more detail? Are you missing an entire field in your export or are you missing post data for a specific field? Can you also provide your deployment url and the steps you took when exporting to CSV? We will try to reproduce on our end. Thanks!

[2018-04-26 17:59] rowasc commented on #2849
@crcommons which status should I use here?

[2018-04-26 18:00] crcommons commented on #2849
In development, I believe.

[2018-04-26 18:08] crcommons opened #2852 "CSV Doesn't Download After > 1 hour"
### Expected behaviour
CSV exports should happen within an hour
### Actual behaviour
User attempted to export to CSV. Checked back 4 hours later and they were still in progress. Checked back the following day and they were still in progress.
![in-progress-export-csv.png](https://images.zenhubusercontent.com/5a7084ec4b5806bc2bc4e02b/76ac8ce9-e921-4f12-9a88-8dd9da1bfed3)
### Steps to reproduce the b

[2018-04-26 18:37] DafneCalvo commented on #2778
@crcommons I missing an entire field, concretely "¿Cuál es el nombre de la organización?" (The name of the organization that complete the post).

1. I visit my map (https://resistenciasdigitales.ushahidi.io)
2. I go to data (https://resistenciasdigitales.ushahidi.io/views/data)
3. I click on "Share" and then in "Export filtered data".
4. I visit Setting and then Export data
5. I click on Export hi

[2018-04-26 18:38] jrtricafort opened #2853 "Display CSV Export expected wait time in UI"
**Context:**
Currently, wait times for CSV are opaque for users. They click "export to CSV" and expect to immediately receive the CSV download link. However, our wait times are much longer than they expect (up to ~1 hour for basic, 5-7 minutes for premium).

**Rationale:**
While we work to improve those times, we should also communicate the wait times to the users in some way, so they know what to

[2018-04-26 18:39] jrtricafort commented on #2853
Tagging @justinscherer here for UX input/copy guidance.

[2018-04-26 18:48] crcommons commented on #2778
@DafneCalvo Thanks! This is so helpful. I have one more request:

Can you export without filters and let me know if you experience the same issue?

[2018-04-26 19:25] kinstelli commented on #2852
@crcommons - This appears to be a similar issue to the previous one, where the signature wasn't being computed correctly due to the domain format. Any new CSV exports should work for them now.

[2018-04-26 19:34] #2400 closed

[2018-04-26 19:35] jrtricafort commented on #2849
Downgrading this from p0 to p2 since we believe it is actually expected behavior. @StaicyG we will wait for you to let us know if the user got the CSV (or if they are able to try again and receive the CSV after 1 hour).

[2018-04-26 19:36] justinscherer commented on #2853
Two different messages. One for paid, one for unpaid.

**Paid**
![settings export export all in progress w- notification paid](https://user-images.githubusercontent.com/29209303/39327941-d6d83b7c-4956-11e8-98ca-1e04c41946db.png)

**Unpaid**

![settings export export all in progress w- notification unpaid](https://user-images.githubusercontent.com/29209303/39327945-dc211a04-4956-11e8-930c-968cc4306

[2018-04-26 19:39] Angamanga opened #2854 "[Platform Client] Buttons for export to csv and to hdx"
### Description
Add buttons to the hdx-export-screen that:
1. Starts a "normal" csv-export with selected fields
2. Starts an upload to hdx
3. Cancels the tagging

#Test-script
*Assumes hdx-feature-flag is on*
- Go to settings->data-export->hdx-export
- [ ] There should be 3 buttons in the end of the table, all enabled
-  Click upload-button without any fields selected
-  [ ] A warning should be di

[2018-04-26 19:40] rowasc commented on #2838
Checking on this now

[2018-04-26 19:41] rowasc commented on #2838
As an update:
- When I generate and request an export, I'm not missing fields. I have the opposite problem,  basically, I have them all (which is fine except when I select specific fields. )

[2018-04-26 19:41] jrtricafort commented on #2853
Assigning to @crcommons for prioritization input. This looks like a low-lift enhancement to partially address UX related some recent CSV export bugs.

[2018-04-26 19:43] kinstelli commented on #2842
Setting this to P2, since this situation is apparently not typical.

[2018-04-26 19:46] kinstelli commented on #2797
Closing this since the initial problem is solved. Secondary issue mentioned in conversation appears related to #2795.

[2018-04-26 19:46] #2797 closed

[2018-04-26 19:52] Angamanga opened #2855 "[Platform Client] Add confirmation-modal before a user exports the selected fields to csv"
### Description
When a user clicks on the "Export to csv", a confirmation-modal should be visible before the user moves on.

Designs: https://xd.adobe.com/view/2690f082-d88d-4788-5db7-b04c9474a404-50a1/screen/20ecc9ee-fef4-4e23-8c68-05bf26ad3a9b/Data-export-HDX-single-survey-29

QA-checklist
*Assumes HDX-feature-flag is on*
- Go to settings -> Data-export -> HDX-view
- Select a couple of fields an

[2018-04-26 19:54] Angamanga opened #2856 "[Platform Client] Add a notification-window when upload has started"
### Description
Once the user has selected and tagged their fields, added metadata and selected upload to HDX, the user is moved to the export-screen with this screen: https://xd.adobe.com/view/2690f082-d88d-4788-5db7-b04c9474a404-50a1/screen/7dac3889-0383-4c74-b670-1bb7223460f2/Data-export-CSV-landing-page-HDX-single-survey-19

### QA-checklist
Pre-requisite: complete all steps to generate an HXL

[2018-04-26 19:56] kinstelli commented on #2830
Appears to be a duplicate of #2844. Closing this for clarity.

[2018-04-26 19:56] #2830 closed

[2018-04-26 20:05] rowasc commented on #2838
so I had the opposite problem, which I fixed. Trying to figure out how both issues can happen 😕

[2018-04-26 20:32] rowasc commented on #2838
@aoduor was this happening in a deployment without data  ?

[2018-04-26 20:37] crcommons commented on #2852
Checking with deployment to be sure it works. Will update issue depending on their answer

[2018-04-26 20:37] rowasc commented on #2838
@StaicyG ccing you in case you can help me figure out how to reproduce this

[2018-04-26 20:47] crcommons commented on #2853
I agree it's a p2. I'll have anna take a look tomorrow if she has a chance.

[2018-04-26 20:57] rjmackay commented on #1601
This is now fixed.

[2018-04-26 20:57] #1601 closed

[2018-04-26 21:05] jrtricafort opened #2858 "HDX User Permission Requirements"
In addition to putting the HDX Integration features behind a feature flag (#2815) we should also restrict all HDX-related features to users who have the following permissions:

+Manage Posts
+Manage Settings
+Bulk Data Import

This issue covers both API and Client work, unless otherwise stated.

### Test script with HXL feature flag enabled:
Without an authorization token
- [ ] Request all/any end

[2018-04-26 21:06] jrtricafort commented on #2858
Moved to Ready for Spec because this issue does not require design, and scoping is completed in description above.

[2018-04-26 21:17] aoduor commented on #2838
I have at least 160 posts on this deployment. I can give you log in creds. see dm ;)

[2018-04-27 07:49] Erioldoesdesign commented on #2807
@rowasc @Angamanga So in the new screen where the user configures their API key are we suggesting that it's an empty field for the very first time a user adds in a key and then once 1 key has been added it changes to say...text like:

'****-****-****-1234' 'change your API key'

with 'change your api key in the blue link style which would re-initialise the typeable field? this would get around som

[2018-04-27 07:53] Erioldoesdesign commented on #2811
@rowasc Agreed on the text above org field re. contextualisation.
Also agreed that source doesn't need to be a drop down if that's a good default for the user. Or are you suggesting a type-able field?

What i'll end up doing with a lot of these fields that have contextualisation text is heaviliy usertesting versions with text and without to see whether users 'get it' without contextualisation, bec

[2018-04-27 08:11] DafneCalvo commented on #2778
@crcommons I think I do not have that option. When I click on "Share" I only have the option "Export filtered data", although I do not use not filter on the Data.

[2018-04-27 11:50] Eve-wanderi commented on #2559
Tested this on http://targetedsurveytesting.v3-qa.ush.zone/posts/613 and can confirm this now works as expected.

[2018-04-27 12:12] Eve-wanderi commented on #2846
When adding a Child category and i select a Parent on the field for "This category is a child to field" i get an error "Role must match the parent category". Yet there is nowhere i have selected the roles for this child Category Please  see attached screenshot.

![image.png](https://images.zenhubusercontent.com/5a730b1e4b5806bc2bc534d6/117264b9-3a5f-492e-8d63-4ff2dac33ab5)

[2018-04-27 13:15] Eve-wanderi commented on #2485
@Angamanga                        Got a few issues on this.

1. Duplicate surveys are not visible on the Data mode: Once i duplicate a survey i cannot view this survey on data mode.
2. When i duplicate a survey and try to change the role i get an error message. (See screenshots below) if users cannot change the roles for duplicate surveys could we change the validation message to a more user frien

[2018-04-27 13:25] Eve-wanderi commented on #2468
Confirmed fixed.

[2018-04-27 13:32] Eve-wanderi commented on #2431
Confirmed this has now been fixed. Share URL does not point to the one in settings.

![image.png](https://images.zenhubusercontent.com/5a730b1e4b5806bc2bc534d6/f8e3fcd9-07c4-47de-b146-c481ba2322c8)

[2018-04-27 13:49] Angamanga commented on #2485
Ohh @Eve-wanderi Did you try to duplicate a targeted-survey by any chance? That should not be possible, we should probably remove the delete/duplicate-button from the survey-list. Good catch. I also think the role-error is connected to targeted surveys :/

[2018-04-27 13:53] Eve-wanderi commented on #2795
Confirmed the numbers are being Formatted.

![image.png](https://images.zenhubusercontent.com/5a730b1e4b5806bc2bc534d6/1d5bb8f0-2c55-404b-ad88-7cab76157889)

[2018-04-27 14:02] Eve-wanderi commented on #2562
Confirmed Fix.

![image.png](https://images.zenhubusercontent.com/5a730b1e4b5806bc2bc534d6/8d773548-07a4-4730-9afa-6054f5da529e)

[2018-04-27 14:10] Angamanga commented on #2818
@rowasc Does this mean each field can only have an attribute each? Or is it one attribute per survey? Or export?

[2018-04-27 14:13] Eve-wanderi commented on #2768
Cant test this since i currently cannot respond via SMS to a Targeted Survey.

[2018-04-27 15:05] Eve-wanderi commented on #2399
Export Functionality works however, i have a few concerns.
1.  The report is not user friendly. There are multiple columns that do not have data can these columns be automatically deleted so that once users export the file they dont have to see these empty columns.

[2018-04-27 15:13] Eve-wanderi commented on #2485
Yes this was a targeted-survey. Let me re-try with a normal survey and see if i will face the same issue.

[2018-04-27 15:31] #2556 closed

[2018-04-27 15:31] #2562 closed

[2018-04-27 15:31] DafneCalvo commented on #2778
Thanks! @crcommons

[2018-04-27 15:32] #2468 closed

[2018-04-27 15:32] #2559 closed

[2018-04-27 15:33] #2755 closed

[2018-04-27 15:33] #2731 closed

[2018-04-27 17:36] crcommons opened #2863 "Only allow survey duplications for regular surveys, not targeted surveys"
### Expected behaviour
When I navigate to a targeted survey, I should not see the button to duplicate the survey
### Actual behaviour
When I navigate to a targeted survey, I can attempt to duplicate a survey but it fails
### Steps to reproduce the behaviour/error
Navigate to a targeted survey, attempt to duplicate
#### Where does this issue happen?
- [ ] [Local setup with Vagrant ](https://www.ush

[2018-04-27 17:37] crcommons commented on #2485
FYI - I added this issue for removing the functionality to duplicate a targeted survey #2863

[2018-04-27 17:52] justinscherer commented on #2825
I have no idea where this came from @kinstelli . @Eve-wanderi can you clarify where this came from?

[2018-04-27 18:48] kinstelli commented on #2829
This was working for me yesterday, as long as I circumvented the issues related to #2844

<img width="189" alt="screen shot 2018-04-27 at 1 45 10 pm" src="https://user-images.githubusercontent.com/6600708/39379592-5eb21db8-4a21-11e8-8402-212db3adf9af.png">

(Note: The  `Thank you for your response` messages were arriving in the correct, chronological order, they just sort wrong because of a known

[2018-04-27 18:49] Shadrock commented on #2572
@evhart can you comment on the above, please? Do you have links to the post examples?

[2018-04-27 19:08] Shadrock opened #2865 "Write technical documentation for CREES & YODIE"
## Task
COMRADES requires documentation for both CREES and YODIE (it is also required for the FB Bot but that is covered in issues [2741](https://github.com/ushahidi/platform/issues/2741) and [2740](https://github.com/ushahidi/platform/issues/2740)).

The audience could roughly be described as "power user" but the documentation shouldn't be uber-complex. The goal will be to give a potential user o

[2018-04-27 19:17] Shadrock commented on #2740
Just a note to say, that some documentation for the FB bot can be found on [pages 21-23 of the second report to the EU for the COMRADES project](https://drive.google.com/open?id=1gXpCl-gr6A3vFpQXq6kegLalsX4Tnb_b). This information may be reusable or provide a starting point.

[2018-04-27 19:30] kinstelli opened #2866 "Incoming messages are always set to default 'pending' in messages table."
### Expected behaviour
- Incoming messages should say 'received' in the messages table
### Actual behaviour
- Incoming messages always say 'pending' in the messages table.

*Note: this is the default value for that table column, per the DDL.*

This doesn't break any functionality, but it makes debugging a little confusing.

### Steps to reproduce the behaviour/error
- Send an incoming message, eit

[2018-04-27 19:34] crcommons commented on #2852
Closing issue because CSV exports now work. They're now experiencing the issue in #2838.

[2018-04-27 19:34] #2852 closed

[2018-04-27 19:55] kinstelli commented on #2829
After fix for #2844, this seems to be working now:
<img width="534" alt="screen shot 2018-04-27 at 2 51 11 pm" src="https://user-images.githubusercontent.com/6600708/39382391-e9314208-4a2a-11e8-9b9b-f4a55d3ddd3c.png">

[2018-04-27 19:56] kinstelli commented on #2829
@Eve-wanderi - I'm not sure what SMS provider you are able to use, but please test this when you can.

[2018-04-27 20:00] kinstelli commented on #2844
After fix for #2844, this seems to be working now, at least via Twilio.
<img width="534" alt="screen shot 2018-04-27 at 2 51 11 pm" src="https://user-images.githubusercontent.com/6600708/39382391-e9314208-4a2a-11e8-9b9b-f4a55d3ddd3c.png">

And here is the database side for this interaction. Note the post_id is changed when any new messages are sent after the survey is complete.
[code]

[2018-04-27 20:01] kinstelli commented on #2768
After fix for #2844, this seems to be working, as well, at least via Twilio.
<img width="534" alt="screen shot 2018-04-27 at 2 51 11 pm" src="https://user-images.githubusercontent.com/6600708/39382391-e9314208-4a2a-11e8-9b9b-f4a55d3ddd3c.png">

And here is the database side for this interaction. Note the post_id is changed when any new messages are sent after the survey is complete.
[code]

[2018-04-27 20:15] kinstelli commented on #2754
@Angamanga, @crcommons

I tried and tried to break this. I even went back and forth between survey stages, but reordering and renumbering questions didn't break anything.
So it appears to be fixed to me. Here was my most recent attempt:

[code]

[2018-04-27 20:30] kinstelli commented on #2844
This seems to be working for me now. Not sure if we can consider it QA'd without another set of eyes, @crcommons

[2018-04-27 23:01] rowasc commented on #2838
Found root cause for @aoduor  issue and sent to code review. It was a faulty sql query where I joined form_stages and ids by wrong key.

---- separate note @crcommons
I'm not convinced that DafneCalvo's issue is the same, I think we should open a separate one to investigate properly because it's not the field that is missing, it's the data for the field.

[2018-04-28 07:44] Angamanga opened #2868 "Confusing behaviour of private/hidden/public fields in tasks"
For background, here's the the "bug" that was previously reported by a user. Turned out to  not actually a bug but a UX misunderstanding, which we have captured here. https://github.com/ushahidi/account-management/issues/15

Its not clear to the users what is actually happening when selecting the switches in tasks. I experimented  with this and it made no real sense. This is what happens to the su

[2018-04-28 10:07] Angamanga commented on #2854
Questions:

@Erioldoesdesign
- What should be the default state of the buttons before any fields are selected? Disabled? Or give a warning-label that the user has to select fields?
- What should happen when I click on the "cancel"-button? Should I return to the initial data-export-screen? (https://xd.adobe.com/view/2690f082-d88d-4788-5db7-b04c9474a404-50a1/screen/9528cb6c-dcb2-43ef-aa90-0dd0842cff

[2018-04-28 10:10] Angamanga commented on #2813
Questions:
@Erioldoesdesign
- is the error-message in the design correct?
https://xd.adobe.com/view/2690f082-d88d-4788-5db7-b04c9474a404-50a1/screen/c46a2347-1fc6-4540-9866-af8d945d2059/Configure-HDX-API-Error?fullscreen)

[2018-04-28 10:13] Angamanga commented on #2817
Questions:
@Erioldoesdesign
To which URLS should the links point to in here:
https://xd.adobe.com/view/2690f082-d88d-4788-5db7-b04c9474a404-50a1/screen/9528cb6c-dcb2-43ef-aa90-0dd0842cff6a/Data-export-CSV-landing-page-HDX

[2018-04-28 13:05] Erioldoesdesign commented on #2817
This has come from HDX via email:

HXL tags: http://hxlstandard.org/tagging/

HXL attributes: http://hxlstandard.org/dictionary/

Not from HDX but my best choice:

Humanitarian Data Exchange:  https://data.humdata.org/

I think there are links that need defining on other screens that i'll hunt down too

[2018-04-28 13:31] Erioldoesdesign commented on #2854
@Angamanga The buttons should give an error if:

- No fields have been selected (assigning 1 tag will automatically check that field to be 'exported' so that action will check that field.
So this error: https://drive.google.com/open?id=1jOcCBxFDkrGKKs04MppkDocjPNBGpzSP

No disabled state - so users who choose to scroll and check out button options first can do so before doing any data tagging etc.

[2018-04-28 14:27] Angamanga commented on #2854
Thanks! @Eve-wanderi Could you double-check the QA-checklist, is anything missing you would like to have there?

[2018-04-28 14:47] Angamanga opened #2869 "[Platform Client] Add confirmation-modal before a user uploads the selected fields to HDX"
### Description
When a user clicks on the "Upload to HDX", a confirmation-modal should be visible before the user moves on.

Designs: https://xd.adobe.com/view/2690f082-d88d-4788-5db7-b04c9474a404-50a1/screen/01c9f863-e129-42cc-938c-c44b13193306/Data-export-HDX-single-survey-30

QA-checklist
*Assumes HDX-feature-flag is on*
- Go to settings -> Data-export -> HDX-view
- Select a couple of fields an

[2018-04-28 14:54] Angamanga commented on #2840
Questions
@Erioldoesdesign or @rowasc What should be in the dropdowns for metadata? Does the user add that themselves or do we fetch it from somewhere?![Screen Shot 2018-04-28 at 16.53.17.png](https://images.zenhubusercontent.com/5a6f2bce4b5806bc2bc4b158/39aa9ab4-9f5b-4637-87fb-3c0b5e8d1c1d)

Where should the link "Read more about licences" point to?

[2018-04-28 14:57] Erioldoesdesign commented on #2840
Pretty sure we fetch this default but it's then able to be changed via drop down

[2018-04-28 16:26] Erioldoesdesign commented on #2817
![Screen Shot 2018-04-28 at 17.26.04.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/e4996326-a985-4f26-b5da-b937b0ec9263)

HXL tag assist: https://tools.humdata.org/examples/hxl/

HXL cheatsheet: http://hxlstandard.org/standard/1_1beta/postcards/

[2018-04-28 16:28] Erioldoesdesign commented on #2817
Also to note on the above screenshot ^^^ there's a blue link that does not have an icon before it because it takes you internally to the new settings link 'Configure HDX API' so if it's not an external link it's still blue, but no icon :)

[2018-04-28 22:55] joseantonioprado commented on #2838
Thank you very much for filing this, @aoduor . I really am not able to understand this github tool yet.
I wanted to add that Ive tried every alternative for downloading csv, in two very different deployments, choosing all, some, few, fields, and the result was always the same: only the 7 columns mentioned by Angela (the number of rows/responses is ok tho).
Thank you all for any help.
PS. I dont kn

[2018-04-30 11:05] evhart commented on #2572
@willdoran @Shadrock From the [COMRADES test instance](https://comrades-test1.ushahidi.com), I have the following examples:
1. Information types missing:
    * https://comrades-test1.ushahidi.com/posts/350
    * https://comrades-test1.ushahidi.com/posts/352
    * https://comrades-test1.ushahidi.com/posts/316
2. Service name displayed:
    *  I could not find an example so maybe it got fixed? (my c

[2018-04-30 14:01] rowasc commented on #2840
Correct. The client only fetches this and the user can change the default

[2018-04-30 14:29] crcommons commented on #2844
I think that's safe, @kinstelli. We'll consider your test as QA

[2018-04-30 14:32] crcommons commented on #2868
@justinscherer @Erioldoesdesign I wanted to flag this new issue for you.

[2018-04-30 15:34] willdoran opened #2870 "CSV should be feature flagged when ported to Lumen Branch"
### Expected behaviour
- CSV feature is feature flagged so that it can be disabled

### Actual behaviour
- CSV is not feature flagged in master but should be when porting feature to Lumen

### Steps to reproduce the behaviour/error

#### Where does this issue happen?
- [ ] [Local setup with Vagrant ](https://www.ushahidi.com/support/install-ushahidi#installing-for-development)
- [ ] [Local setup f

[2018-04-30 16:16] jrtricafort commented on #2491
Moving this back to Spec instead of In Development

[2018-04-30 16:17] jrtricafort commented on #2848
I strongly recommend that we explicitly do **not** support HDX tagging for Targeted SMS, at least in the v0 scope (assuming that it adds any front-end/back-end complexity to do so).

Both features are under feature flags, and my understanding is that in the foreseeable future, the intersection of those feature flags is expected to be close to zero.

@rowasc @Erioldoesdesign @Angamanga if you're in

[2018-04-30 16:26] caharding commented on #2593
@aoduor can you please illuminate the need for this feature enhancement. Where have users been running into it? What use cases is this problematic in?

[2018-04-30 16:32] caharding commented on #2491
@caharding @jrtricafort figure out more about this user and scope issue

[2018-04-30 16:33] caharding commented on #2325
@willdoran can you see if it is reproduceable and still an issue?

[2018-04-30 16:34] caharding commented on #2095
Not fixing in favor of JS rewrite

[2018-04-30 16:57] jrtricafort opened #2871 "When sharing deployment map links externally, image and description should appear on social media"
### Expected behaviour
User shares link to their deployment map on social media, image and description appear.
### Actual behaviour
User shares link to their deployment map on social media, but image and description do not appear. In browser Developer Tools, Meta tags do not appear to be filled out correctly.

(https://images.zenhubusercontent.com/5ac5411e4b5806bc2bcdb0c4/95fc1081-4b80-46cb-bfa2-d

[2018-04-30 18:26] rowasc commented on #2848
@jrtricafort absolutely, agree that tagging targeted surveys should be out of scope at the moment

[2018-04-30 19:44] jrtricafort commented on #2870
@willdoran should this be part of the CSV Epic or Lumen Epic?

[2018-04-30 20:15] jrtricafort commented on #2868
Tagging @justinscherer just for awareness.
This still needs to be triaged.

[2018-04-30 20:15] willdoran commented on #2870
@jrtricafort I think Lumen, I've add it to that one.

[2018-04-30 20:32] jrtricafort commented on #2870
Excellent. Is the scope for this issue to feature flag the entire CSV export feature? Or just the new changes that were implemented recently (i.e. have "old CSV export" enabled for anyone who doesn't require "new CSV export"). By "new CSV export" I mean the work captured here: https://app.zenhub.com/workspace/o/ushahidi/platform/issues/2399

[2018-04-30 20:51] rowasc commented on #2815
@rjmackay adding you here for the library `todo` for laravel

[2018-04-30 21:08] willdoran commented on #2870
@jrtricafort Yes I think that is a good definition, I believe Lumen should the "old" csv and the "new" should be the one feature flagged.

[2018-04-30 21:15] rowasc commented on #2516
This is now in #2809.  Closing

[2018-04-30 21:27] rowasc commented on #2519
Can we move this to done now or is it going to change?

[2018-04-30 22:02] crcommons opened #2872 "Determine Babel target browser"
We need to set a target for babel based on this documentation https://babeljs.io/env/

We need to use our analytics data to do so

[2018-04-30 22:49] kinstelli commented on #2825
I'm not sure this makes sense to implement. I think this will actually be counterproductive to targeted surveys. Any thoughts @jrtricafort, @caharding ?

[2018-04-30 22:59] caharding commented on #2825
This is a problem with SMSsync not the platform. SMSsync should only route messages with a given keyword. @rjmackay think we should reach out to Henry?

[2018-04-30 23:48] #2760 closed

[2018-05-01 00:53] rjmackay commented on #2675
I think ideally we should order by priority *and* attribute ID. So if priority is identical we go in ID order.

[2018-05-01 01:11] rowasc commented on #2814
@Erioldoesdesign After playing more with the API, I think we need a way for the user to select the dataset's name since they could choose to update one instead of creating one. Can we discuss this in the morning?

[2018-05-01 01:15] rowasc commented on #2818
@Angamanga this would be that a single attribute should not be used more than once per tag.

[2018-05-01 01:35] rowasc opened #2873 "[Platform API] Return HDX license list"
## TASKS
- [ ] Add a list of available licenses to the platform API from here https://data.humdata.org/about/license
- [ ] New endpoint: /hxl/licenses to return the static list of licenses that HDX supports.
[code]

Acceptance criteria:
- Postman collection demonstrating usage

[2018-05-01 01:56] rowasc opened #2874 "[Platform API] Start an HXL Export from lumen job"
### Description

- Platform API should be notified to call the usecase/command to upload the data
    - This could potentially (ideally) be a call like the one for regular CSV exports to a controller that then calls the export HXL usecase
- Ideally we should reuse what we have done for CSV Exports as much as possible, to be able to meet our deadilnes. We can open a second ticket for any architectu

[2018-05-01 02:01] rowasc opened #2875 "[Platform API] Export history list should include HXL tags for HXL exports"
TODO:

When the client requests the export history

Test script:
- [ ] Open the csv export screen (/settings/data-export)
- [ ] Click on the "History" tab
- [ ] You should only see exports that have not expired.
- [ ] Pending exports should not have an expiration date
- [ ] The export jobs have a Job ID, a created date, a status, and a user-friendly expiration date
- [ ] Each HXL Export has the HX

[2018-05-01 02:13] rowasc commented on #2838
@StaicyG can you test this?
Thanks!

[2018-05-01 03:54] #2846 closed

[2018-05-01 05:48] #2735 closed

[2018-05-01 05:51] #2714 closed

[2018-05-01 07:44] Erioldoesdesign commented on #2814
@rowasc Did you want to talk to me about something? I had a notification about users updating a datasets name?

[2018-05-01 10:57] Erioldoesdesign commented on #2807
It'd be super awesome if I can get an idea if we need what I suggested in the above comment approved and then if it needs reflecting in the design work.

[2018-05-01 11:02] Erioldoesdesign commented on #2519
@rowasc Pretty sure this is done as it seems to describe the design task and research. Ticked the boxes in the tickets description and I feel that this is now broken up into individual tickets so perhaps this is a 'done' rather than 'ready for spec'

[2018-05-01 13:06] rowasc commented on #2814
@Erioldoesdesign sorry, I had a question about the dataset name but it's resolved since you added that field already. Thanks for checking in

[2018-05-01 13:47] rowasc commented on #2807
Yep, I love this. I think yes, reflect it in the design if possible.

[2018-05-01 14:53] Erioldoesdesign commented on #2807
It is done! Updating the prototype links now :)

[2018-05-01 14:57] #2396 closed

[2018-05-01 15:40] crcommons commented on #2485
Passed QA

[2018-05-01 15:40] #2485 closed

[2018-05-01 15:42] crcommons commented on #2838
Passed QA

[2018-05-01 17:16] crcommons commented on #2829
Test in twilio and it all works.
SMSSync is just broken.
Nexmo TBD
FrontlineSMS TBD

[2018-05-01 17:25] #2261 closed

[2018-05-01 17:41] kinstelli opened #2877 "ExportBroker can't authenticate to QA server"
### Expected behaviour
- ExportBroker should be able to create signatures to talk to QA server

### Actual behaviour
- for every deployment, ExportBroker gets a 403

### Note
- .env on QA seems _much shorter than usual_ and was changed `Apr 30 21:08 UTC`
- no code has changed on ExportBroker
- lots of code has been constantly deployed to QA server

### Steps to reproduce the behaviour/error

####

[2018-05-01 18:26] rowasc opened #2879 "[Platform API] Refactor CSV Export into a usecase that we can extend to support HDX export"
### TODO
- [ ] src/Console/Command/PostExporter's handle should only deal with getting params and calling the ExportPost usecase
- [ ] an ExportPost use case should be created to handle:
    - Getting posts with correct permissions
    - Creating header rows
    - Adding columns with data
    - Running validator and formatter
    - Returning the result
- [ ] Add tests to validate the Post Exporter

[2018-05-01 18:50] rowasc opened #2880 "[ Platform API ] Setup CKAN API Client for laravel"
### TODO
- [ ] Setup a CKAN client in Lumen to connect to the HDX CKAN API

###  Acceptance criteria:
- [ ] I can call a package from the HDX usecases and get/send data to ckan api
- [ ] I can configure the CKAN API url to be test-humdata.org or humdata.org depending on .env vars
- [ ] I can return a friendly error message to the client if CKAN is down

## Implementation notes
I found a few packag

[2018-05-01 18:50] rowasc opened #2881 "[ Platform API ] Setup CKAN API Client for laravel"
### TODO
- [ ] Setup a CKAN client in Lumen to connect to the HDX CKAN API

###  Acceptance criteria:
- [ ] I can call a package from the HDX usecases and get/send data to ckan api
- [ ] I can configure the CKAN API url to be test-humdata.org or humdata.org depending on .env vars
- [ ] I can return a friendly error message to the client if CKAN is down

## Implementation notes
I found a few packag

[2018-05-01 18:51] rowasc commented on #2880
duplicated for some reason... closing

[2018-05-01 20:11] kinstelli commented on #2877
Apparently fixed?

[2018-05-01 20:43] #2877 closed

[2018-05-01 20:46] crcommons commented on #2838
@rowasc Passed QA

[2018-05-01 20:52] crcommons commented on #2768
Passed QA

[2018-05-01 20:53] crcommons commented on #2778
Passed QA

[2018-05-01 20:57] rowasc commented on #2881
@rjmackay is there a CKAN client you prefer? I know you looked at some but I can't remember if you liked any of them .
I was going to just make a quick wrapper myself but this laravel one seems ok as a starting point that we could extend as needed / contribute back to

[2018-05-01 21:41] caharding commented on #1551
Closing in favor of #2404

[2018-05-01 21:41] #1551 closed

[2018-05-01 22:09] caharding commented on #2816
@Angamanga just checking that this is completely broken down now

[2018-05-01 23:28] rjmackay commented on #2881
No. Basically pick something that seems stable and recently maintained

link?

[2018-05-01 23:42] caharding commented on #2543
@justinscherer please look at this while you're working on the UI refresh to see what issues we can get rid off. Thanks.

[2018-05-01 23:44] caharding commented on #2538
@justinscherer something worth fixing or wait till UI refresh?

[2018-05-01 23:46] caharding commented on #2671
@willdoran can we close this now?

[2018-05-01 23:47] caharding commented on #2704
@sethburtonhall any updates on this or should move into next cycle?

[2018-05-01 23:48] caharding commented on #2610
@rjmackay is this complete or scheduled?

[2018-05-01 23:56] caharding commented on #2736
@Eve-wanderi is this complete?

[2018-05-01 23:59] caharding commented on #2717
Can we close this?

[2018-05-02 00:02] caharding commented on #1681
Pinging this thread

[2018-05-02 00:04] #2615 closed

[2018-05-02 01:29] #2778 closed

[2018-05-02 01:29] #2838 closed

[2018-05-02 01:29] #2431 closed

[2018-05-02 01:29] #2768 closed

[2018-05-02 01:29] #2795 closed

[2018-05-02 01:29] #2754 closed

[2018-05-02 01:29] #2844 closed

[2018-05-02 02:03] rjmackay commented on #1340
We still have guzzle/guzzle because the rackspace flysystem driver requires it. But we no longer depend on it ourselves

[2018-05-02 02:03] #1340 closed

[2018-05-02 03:35] crcommons commented on #2838
@dafneCalvo can you attempt a CSV download again? If it doesn't work, please let us know.

[2018-05-02 04:07] rjmackay commented on #1597
I've set APP_ENV and APP_DEBUG in the lumen builds now. This should be resolved once lumen gets to production

[2018-05-02 04:30] rjmackay opened #2888 "Update install documentation for lumen branch"
Update install documentation for lumen

[2018-05-02 04:31] rjmackay commented on #2737
@tuxpiper do you think you could migrate the production servers to PHP7 in the next cycle?
If we are going to be able to deploy lumen to production we'll need to do this.

[2018-05-02 04:34] rjmackay commented on #2736
@caharding I don't think this *can* be complete since the lumen work was only ready a few days ago. I can and should start now though

[2018-05-02 04:36] rjmackay commented on #2736
@Eve-wanderi I don't know if you've been creating test cases as you went already, but I think it would be really valuable to the team if you could write test cases for some of the major features in platform while you do this, ie. so we can use them for testing during other refactors or background changes. If that takes an extra day or so I think it would be worth it. What do you think?

[2018-05-02 04:38] rjmackay commented on #1372
@tuxpiper to make migrations easy I think I'll keep the using `httpdocs` directory. However to follow the lumen conventions I might symlink `public` to httpdocs. Does that sound reasonable?

[2018-05-02 04:38] rjmackay commented on #1372
This is now primarily just waiting for QA

[2018-05-02 04:47] rjmackay commented on #2736
This can be QA'd on https://qa.ushahididev.com

[2018-05-02 04:59] rjmackay opened #2890 "Migrate scheduled tasks to use lumen scheduler and/or queues"
- Currently we run several schedule jobs via cron:
  - datasource:incoming
  - datasource:outgoing
  - webhooks send
  - notification:queue
  - savedsearch:sync

These should move to more appropriate places
- Use the lumen scheduler for datasource:incoming
- Move datasource:outgoing to jobs in a lumen job queue
- Move webhooks to jobs in a lumen job queue
- Move notifications to jobs in a lumen jo

[2018-05-02 05:01] rjmackay opened #2891 "Migrate DIY listeners and events to lumen listeners"
- There is already an example of this for message.receive
- Migrate other Listeners to same approach
- Move events to usecases where possible, not repos

#### It is ready for development when
- [ ] Has a description that includes purpose of this particular feature/improvement (how it will help the user and for which use cases)
- [ ] Can be delivered within a sprint (make sure issues are small piec

[2018-05-02 07:18] Angamanga commented on #2816
@caharding Yes it is!

[2018-05-02 08:25] Angamanga commented on #2450
@justinscherer @rowasc What is needed to be done in this issue? Can I close it?

[2018-05-02 09:24] Angamanga opened #2892 "[Platform Client] Add basic layout and exitlinks to HDX on export-screen"
### Designs
https://xd.adobe.com/view/2690f082-d88d-4788-5db7-b04c9474a404-50a1/screen/9a17d59a-cdfd-4ed4-aec5-573cdfeadb97/Data-export-HDX-single-survey

### TODO:
- Add header, text and links to export-screen
- Add basic table to export-screen

### QA-checklist
*Assumes HDX-feature-flag is on*
- Go to settings->data-export->export hdx
- [ ] There should be a Heading with the text: "Assign your H

[2018-05-02 09:40] Angamanga commented on #2818
Closing this issue, its covered in this issue https://app.zenhub.com/workspace/o/ushahidi/platform-client/issues/1120

[2018-05-02 09:46] rjmackay opened #2893 "Deploy lumen csv export queue to staging"

[2018-05-02 10:41] Eve-wanderi commented on #2736
@rjmackay   Yes i can create the test-cases for this since this is what  i will be using to do regression tests. I will Create the testscripts on https://ushahidi.ontestpad.com/project/1/folder/f8/

 However, i have a blocker since i currently cannot access https://qa.ushahididev.com

I get this error.
![image.png](https://images.zenhubusercontent.com/5a730b1e4b5806bc2bc534d6/d1d2a47b-01be-4303-a7

[2018-05-02 11:05] tuxpiper commented on #1372
@rjmackay that sounds totally reasonable to me. I've approved in the PR

[2018-05-02 11:06] tuxpiper commented on #2737
Sure that sounds like a good plan . Hopefully we'll get it done without downtime or much queue interruption

[2018-05-02 12:17] #2671 closed

[2018-05-02 13:13] aoduor commented on #2768
Hey folks - just tried testing this out on a  deployment linked to Africaistalking and frontline, it didn't send em out :(. was testing with @jrtricafort @Celestine22

[2018-05-02 13:39] Eve-wanderi commented on #2829
Tried with SMSSync but i still cant respond to the messages? Will try with FrontlineSMS

[2018-05-02 14:07] aoduor commented on #2768
sorry folks, wrong issue. :)

[2018-05-02 14:25] joseantonioprado commented on #2838
Hi. Just to complement, I did too try a CSV download and while we now have all columns back (good!!), the two default fields (or columns) of any survey, originally named "title" and "description", come blank (which by the way is impossible because these 2 fields are mandatory).
So, we are better than last week but still unable to recover our "kidnapped" data.
Thanks!

[2018-05-02 15:53] rowasc commented on #2881
https://github.com/Germanaz0/laravel-ckan-api

[2018-05-02 15:56] rowasc commented on #2815
@rjmackay checking in : did you find anything that looks good for the feature flags? how should we proceed?

[2018-05-02 16:05] rowasc commented on #2815
as an alternative, maybe we can do it like the data import feature flag if nothing looks good enough at this stage?

[2018-05-02 16:58] Erioldoesdesign commented on #2817
@Angamanga No it doesn't, as it takes you to another settings menu item inside Ushahidi :) so it should be in the same browser tab

[2018-05-02 17:16] crcommons opened #2894 "Data Missing from CSV Exports"
### Expected behaviour
When I export to CSV, all columns I expect are there, but data is missing from some columns
### Actual behaviour
I expect all data to be included in download
### Steps to reproduce the behaviour/error
I haven't been able to reproduce on QA (It's probably happening but there's just way too much data to know if we're missing any) But here are the steps to reproduce from a cust

[2018-05-02 18:14] crcommons opened #2897 "Merge Lumen Compat Branch into React Branch"
- Set up lumen branches locally
- merge lumen compat
- resolve conflicts

[2018-05-02 18:17] crcommons opened #2898 "Create First Draft Agenda for Montreal"
- Objectives
- Outcomes
- Priorities/Epics
- Consider Migration, design, AWS/dev ops, HDX
- What other Dev-related discussions and work do we want to have? (e.g. Dev process, COMRADES, product roadmap)

[2018-05-02 19:01] #1602 closed

[2018-05-02 20:00] crcommons opened #2899 "Migrate Components 2-6"
See migration documentation https://docs.google.com/document/d/1y8ATQvfFIccvnHGM4uZ7GTNuB5P951jqO3_xrhByk7k/edit?usp=sharing

[2018-05-02 21:02] rjmackay commented on #2736
Ok for now just use http not https - I'll see if I can figure out how to replace the SSL cert soon

[2018-05-02 21:58] jrtricafort commented on #2870
@willdoran I think @rjmackay said that CSV has actually already been ported to Lumen, but it might be too late (?) to feature flag this and restore old code.

Questions for us on this issue:
- Is this something we need to prioritize for this cycle or no? If so, what priority level is this? CSV Stabilization has been marked as a P2 in our Cycle Planning.
- Is this something we can even do?

[2018-05-02 22:08] rjmackay commented on #2870
The existing CSV export code has been ported to lumen pretty much as-is, so it still relies on an external service. We removed the previous CSV export APIs. So if we feature flag CSV we would be disabling CSV export entirely for users who previously had that features (even if it broke sometimes).

I'm not sure if thats what was intended? or if the intention was to switch to the old CSV API when th

[2018-05-02 22:10] rjmackay commented on #2787
@jrtricafort we should consider implementing this in this cycle or the next one. It won't solve all the CSV issues but it might make them simpler to debug.

[2018-05-02 23:39] rowasc opened #2900 "Ob_clean in CSV formatter should be preceded by ob_get_length"
### Expected behaviour
We don't get a warning/error when running the exporter in lumen branch

### Actual behaviour
We get an error when running the exporter  in lumen branch
  `ob_clean(): failed to delete buffer. No buffer to delete  `
### Steps to reproduce the behaviour/error

#### Where does this issue happen?
- [x] [Local setup with Vagrant ](https://www.ushahidi.com/support/install-ushahidi

[2018-05-03 00:32] rjmackay commented on #1607
Tagged this to cycle 4 since its current in progress

[2018-05-03 00:32] rjmackay commented on #2900
I'm assuming this only happens for an empty CSV?

[2018-05-03 01:27] rjmackay commented on #2815
So there are a couple of options

1. https://github.com/bitnetic-software/maturity - I really like they approach of flagging features by maturity ie. alpha/beta/prod. _but_ thats only 1 part of why we enabled/disable features.
2. https://github.com/francescomalatesta/laravel-feature - really popular and fairly complete DB based features. By default works with eloquent but we can drop in our own re

[2018-05-03 01:56] rowasc commented on #2815
Lets do (3) for now and add a helper or whatever we need to check for this feature, and spec the ideal implementation as another ticket

(TLDR from slack convo)

[2018-05-03 03:43] jrtricafort commented on #2870
I believe that was the intention, but @willdoran can probably clarify better than I can.

[2018-05-03 03:44] rjmackay commented on #2736
FYI: CSV exports are currently broken. Hopefully I'll fix it before the end of my day though

[2018-05-03 08:28] rjmackay commented on #2893
Ok so this is deployed but broken. I think I might have broken something in the signature auth handling

[2018-05-03 08:42] rjmackay commented on #2893
Ok. Fixed I think

[2018-05-03 08:42] rjmackay commented on #2736
Ok CSV exports should now work.

[2018-05-03 10:37] Eve-wanderi commented on #2736
Okay thanks.

[2018-05-03 11:08] Angamanga commented on #2813
@rowasc Could you please review?

[2018-05-03 11:14] Angamanga commented on #2810
@rowasc Could you please review?

[2018-05-03 11:14] Angamanga commented on #2840
@rowasc Could you please review?

[2018-05-03 11:15] Angamanga commented on #2869
@rowasc Could you please review?

[2018-05-03 11:15] Angamanga commented on #2855
@rowasc Could you please review?

[2018-05-03 11:15] Angamanga commented on #2808
@rowasc Could you please review?

[2018-05-03 11:15] Angamanga commented on #2856
@rowasc Could you please review?

[2018-05-03 11:16] Angamanga commented on #2854
@rowasc Could you please review?

[2018-05-03 11:16] Angamanga commented on #2848
@rowasc Could you please review?

[2018-05-03 11:17] Angamanga commented on #2892
@rowasc Could you please review?

[2018-05-03 13:45] rowasc commented on #2840
@Angamanga after " The detailed metadata-screen should appear [link]" I would add
- The source is preloaded with the name of the deployment
- The organization is loaded with all the user's organizations
- The License list is loaded from the backend
- The maintainer is a text field where we load the username in HDX , fetched from the API. The user is free to change this to another value.

[2018-05-03 13:48] rowasc commented on #2856
@Angamanga I'd add a simple qa checklist
- Pre-requisite: complete all steps to generate an HXL export.
- Click the "Submit to HDX account" button in the details page
- [ ] A notification bar should appear, letting the user know that we are uploading the file.

[2018-05-03 13:52] rowasc commented on #2854
@Angamanga I'm confused . How do we let the user download normal CSV files if we give them a warning for not selecting anything in HDX?

[2018-05-03 14:31] rowasc commented on #2875
@kinstelli  @willdoran Can you review?

[2018-05-03 14:31] rowasc commented on #2881
@kinstelli  @willdoran Can you review and provide any input you have?

[2018-05-03 14:31] rowasc commented on #2873
@kinstelli  @willdoran Can you review?

[2018-05-03 14:45] rowasc commented on #2814
@willdoran can you review? this covers the CLIs to update/create datasets and their resources, not the previous steps of generating the file . It has the steps needed to do it and the requests to ckan we need to do.
It depends on a separate ticket (listed in the description) for the CKAN wrapper

[2018-05-03 14:46] rowasc commented on #2809
@willdoran @kinstelli can you review?

[2018-05-03 14:46] rowasc commented on #2807
@willdoran @kinstelli can you review?

[2018-05-03 14:46] rowasc commented on #2805
@willdoran @kinstelli can you review?

[2018-05-03 14:54] Angamanga commented on #2691
@crcommons @kinstelli Are you working on this? If so, could you move the issue to the correct column and if not could you deassign yourself?

[2018-05-03 14:54] Angamanga commented on #2404
@rowasc @kinstelli Are you working on this? If so, could you move the issue to the correct column and if not could you deassign yourself?

[2018-05-03 14:57] Angamanga commented on #2826
@crcommons Whats the status of this issue? Is it in development?

[2018-05-03 14:57] rowasc commented on #2404
Nope this isn't in progress. I'm not really sure why it's part of cycle 4 actually since it's a P2?

[2018-05-03 14:58] Angamanga commented on #2804
@rowasc Whats the status of this issue? Is it in development? Or could you deassign yourself until it is?

[2018-05-03 15:09] rowasc commented on #2804
@Angamanga should go back to you.

[2018-05-03 15:17] Angamanga commented on #2808
This is covered by other issues for HDX in the client, closing.

[2018-05-03 15:19] crcommons commented on #2691
@Angamanga I unassigned Mark. It's still in spec. Thanks!

[2018-05-03 15:43] #2900 closed

[2018-05-03 15:44] rowasc commented on #2900
@rjmackay no, I think it was a side effect on the lumen branch since it didn't happen in develop before.
Closing as fixed.

[2018-05-03 17:08] willdoran commented on #2870
@rjmackay @jrtricafort If the previous version is gone then we can't do much unless we want to restore the old endpoint. If we intend to fix the behaviour in a future release so that it is available more readily for FOSS users then we can revisit at that time but this can be closed.

[2018-05-03 17:08] #2870 closed

[2018-05-03 17:28] dalezak opened #2904 "Ensure Platform Servers Support IPv6"
Looks like platform servers currently do not support IPv6, which as we recently discovered with TenFour can result in app updates getting rejected from Apple.

http://ipv6-test.com/validate.php >> https://dale.ushahidi.io

![screenshot 2018-05-03 11 26 38_preview](https://user-images.githubusercontent.com/91811/39592808-1cb4649a-4ec5-11e8-845c-6e611f2b9e11.png)

[2018-05-03 17:31] dalezak commented on #2904
**Supporting IPv6-only Networks**

https://developer.apple.com/support/ipv6/

[2018-05-03 17:51] willdoran commented on #2787
@jrtricafort I would also suggest waiting.

[2018-05-03 17:52] willdoran commented on #2873
@rowasc Will we pass through a request to HDX side or do we have to hardcode?

[2018-05-03 17:54] willdoran commented on #2881
@rowasc Approve

[2018-05-03 17:58] willdoran commented on #2875
@rowasc Approved, spec cover behaviour

[2018-05-03 18:01] willdoran commented on #2805
@rowasc As well as a formatter, will an authorizer also be needed ?

[2018-05-03 18:03] willdoran commented on #2807
@rowasc Approved

[2018-05-03 18:05] willdoran commented on #2809
@rowasc Should the endpoint provide search, so you can return tags by attribute type?

[2018-05-03 18:10] rowasc commented on #2809
@willdoran oh good question. I didn't add search in the spec because I don't expect we will need it for v0 as we will be pulling the full export screen with all the attributes, but I can add it quickly if you think there's a use-case for it?

[2018-05-03 18:11] willdoran commented on #2814
@rowasc Only minor concern is calling the CLI, I think it might be better to use Lumen queues or similar queuing generated by an event when the creation is triggered. I don't think we need to loop out to CLI to affect the work, we should be able to add a job that will execute it. Does that make sense? Can discuss further.

[2018-05-03 18:12] rowasc commented on #2805
@willdoran yup good point. Adding

[2018-05-03 18:12] willdoran commented on #2809
@rowasc Nope, sounds good. It's not hard to add when the need arises.

[2018-05-03 18:12] willdoran commented on #2809
Approved

[2018-05-03 18:13] willdoran commented on #2521
@rowasc I think this needs more work. I can take a look at it, moving it backwards a step for now.

[2018-05-03 18:19] crcommons opened #2905 "Create list of industry standard best practices"
- As a Dev team, we have a lot of ideas of what can and should be incorporated into the rewrite to get our code up to industry standards, so we're attempting to put them all in one document so that we can figure out how and when to incorporate them into the rewrite.

Consolidate all ideas here:

https://drive.google.com/open?id=1ChXGCuASdDYcVwE_c_G1-jMlKILdFSyUg0ksQIaumvs

[2018-05-03 18:28] rowasc commented on #2814
@willdoran ah good point yea no need to use the CLI we will have the usecases already

[2018-05-03 18:39] rowasc commented on #2873
@willdoran sadly we have to hardcode, there's no api for it

[2018-05-03 18:42] #2732 closed

[2018-05-03 18:45] crcommons opened #2906 "Take cycle 4 baseline measurements"
- update Indicator tracking spreadsheet BEFORE issues get pushed or removed from Cycle 4 workboard
- spreadsheet: https://drive.google.com/open?id=1t8zd20V_7KTcwX2s9nUppvc904DOLQ_bdvfjy9eBJso

[2018-05-03 20:34] sethburtonhall commented on #2644
@justinscherer I agree.

[2018-05-03 20:44] crcommons commented on #2894
![imagen](https://user-images.githubusercontent.com/36405677/39522523-c8c756e2-4e12-11e8-8c3b-b46d445e04ac.png)

[2018-05-03 20:45] willdoran commented on #2838
@dafneCalvo Could you confirm that you are still experiencing the issue where a column other than Title and Description is blank when it shouldn't be?

[2018-05-03 21:40] tuxpiper commented on #2904
added necessary DNS records for production

[2018-05-03 21:40] #2904 closed

[2018-05-03 21:42] dalezak commented on #2904
![screenshot 2018-05-03 15 41 36_preview](https://user-images.githubusercontent.com/91811/39604231-84c74598-4ee8-11e8-82f6-401b816abfae.png)

Nice work @tuxpiper 👍

[2018-05-03 21:55] crcommons opened #2907 "Set up redux in react branch"
- set up redux so it works.

[2018-05-03 23:05] justinscherer commented on #1335
@caharding @jrtricafort this should get sorted in the [UI refresh](https://app.zenhub.com/workspace/o/ushahidi/platform-pattern-library/issues/205).

[2018-05-03 23:09] justinscherer commented on #1437
@caharding @jrtricafort I question the need for any colours on map view. Most of the time they just get grouped together anyways, which erases the colours.

In any case, if we decide to keep the colours, they should be generated from our brand colours.

[2018-05-03 23:11] justinscherer commented on #1875
@jrtricafort @caharding this will get handled in the [UI refresh.](https://app.zenhub.com/workspace/o/ushahidi/platform-pattern-library/issues/205)

[2018-05-03 23:12] justinscherer commented on #1299
@jrtricafort @caharding this will get handled in the [UI refresh.](https://app.zenhub.com/workspace/o/ushahidi/platform-pattern-library/issues/205)

[2018-05-03 23:13] justinscherer commented on #2064
@jrtricafort @caharding this will get handled in the [UI refresh.](https://app.zenhub.com/workspace/o/ushahidi/platform-pattern-library/issues/205)

[2018-05-03 23:14] justinscherer commented on #2339
@jrtricafort @caharding this will get handled in the [UI refresh.](https://app.zenhub.com/workspace/o/ushahidi/platform-pattern-library/issues/205)

[2018-05-03 23:16] rjmackay commented on #2815
Updated to change 403 to 404. Its easier to just remove an endpoint entirely when the feature is disabled

[2018-05-03 23:16] justinscherer commented on #2488
This is 100% usability best practice, especially when forms get very long.
**but...**
This is really only a viable feature on web-based survey responses, which are far and away the least used way to submit replies to a survey, so I'm going to recommend icing this for now.

[2018-05-03 23:17] justinscherer commented on #2543
done. I feel like you can close this epic out

[2018-05-04 07:10] Angamanga commented on #2853
@crcommons I am moving this back to ready for spec, ok?

[2018-05-04 08:06] Angamanga commented on #2840
@rowasc Thanks, added that so moving to "ready for dev"

[2018-05-04 08:07] Angamanga commented on #2856
@rowasc Thanks! Added so moving to ready for dev.

[2018-05-04 09:40] DafneCalvo commented on #2838
@willdoran I still experiencing this issue. I have a column with the Tittle of the question, but I have no answers there (although is a mandatory field, so it should not be empty). I attach a screenshot.

![imagen](https://user-images.githubusercontent.com/36405677/39621676-e20ca660-4f8f-11e8-946b-896e1a585753.png)

[2018-05-04 13:12] rowasc commented on #2815
@rjmackay ah alright.Thanks

[2018-05-04 13:13] rowasc commented on #2514
@willdoran I think this should be closed, right?

[2018-05-04 13:14] rowasc commented on #2841
@willdoran can you review?

[2018-05-04 13:26] willdoran commented on #2838
@DafneCalvo Just to check, did you rename the column Title to above column your missing? I'm trying to tack down the issue and this info would be very helpful. Thank you!

[2018-05-04 14:37] rowasc commented on #2874
TODO: add how the queues will change to support this

[2018-05-04 14:39] Angamanga commented on #2817
@rowasc could you please review?

[2018-05-04 14:43] DafneCalvo commented on #2838
@willdoran Yes, the Tittle of the post correspond to the empty column which have a new name: "¿Cuál es el nombre de la organización". I did, I renamed this field.

[2018-05-04 15:27] Angamanga commented on #2854
@rowasc Its just a warning, not a blocker to assign tags/attributes. But the warning is needed since it would suck if someone works through the fields and has forgotten to add the api-key and need to do it all again :/

[2018-05-04 15:28] Angamanga commented on #2854
@rowasc oh wait I was in the wrong screen in my head. Yes, you are true, the warning should not be there for csv-export

[2018-05-04 15:30] Angamanga commented on #2854
@rowasc hehe, third comment, no it makes sense. They still have to select and assign fields with hdx. The 'normal' field-export is done in another view. This one is only for hdx-fields. If they dont select anything, they won't have anything to export.

[2018-05-04 20:01] willdoran commented on #2838
@DafneCalvo  Fix should be there ten mins from now roughly, would you mind retesting and letting me know?

[2018-05-04 20:01] #2894 closed

[2018-05-04 20:10] caharding commented on #2491
@willdoran can you take a really look at this issue to see if its a quick fix of changing user permissions?

[2018-05-04 20:15] jrtricafort commented on #2491
And by "changing user permissions", we mean, are collections currently feature flagged to the incorrect user type?

[2018-05-04 22:20] jrtricafort commented on #1437
@justinscherer In my experience as an analyst, more color options is generally better. Can we have standard options but also a spectrum color picker for people who want to go custom?

[2018-05-05 00:33] joseantonioprado commented on #2838
Sorry for interfering and commenting over and over, but I wanted to report that the problem is now solved for me. I dont know if it is also the case for @DafneCalvo (espero que si :) but I can confirm that I tested this in two different deployments, with different surveys and different filters and everything is looking fine now. I wanted to inform it on time for the weekend, I hope you have a happ

[2018-05-05 17:46] tuxpiper commented on #2737
This is done

[2018-05-05 17:46] #2737 closed

[2018-05-06 10:27] DafneCalvo commented on #2838
@willdoran @rowasc @crcommons  Now it is working, thanks so much for your kindness and and patient!

@joseantonioprado saludos desde España! :)

[2018-05-07 07:28] Angamanga commented on #1596
@willdoran Is this part of the security-update for this cycle? Could you move to spec once you start speccing it?

[2018-05-07 07:31] Angamanga commented on #2521
@willdoran @rowasc It looks like this is in spec? Assigning Romina and moving it to spec.

[2018-05-07 07:50] Angamanga commented on #2806
@rjmackay @kinstelli Could one of you spec this issue?

[2018-05-07 07:50] Angamanga commented on #2491
@willdoran Could you spec this issue?

[2018-05-07 08:25] Angamanga commented on #2894
@willdoran Who needs to do QA for this?

[2018-05-07 12:43] willdoran commented on #2491
@Angamanga @caharding Yep, I will look at this slowly this afternoon

[2018-05-07 12:47] willdoran commented on #2838
@joseantonioprado Thanks so much for the feedback, and thank you so much for testing it! Hope all your stuff goes well. Let us know if there is anything else you find.

@DafneCalvo I'm very glad that it is working for you now, thank you for retesting and thank you for letting us know about the issue. Please do let us know if you find anything else! Best of luck with your project.

[2018-05-07 13:24] Angamanga opened #2913 "Add hdx-tags to export-history"
#### Description
List all tags and attributes that was part of an export in export-history

*Designs:* https://xd.adobe.com/view/2690f082-d88d-4788-5db7-b04c9474a404-50a1/screen/d204535d-c71b-4c3e-ab55-df51d1bdc949/HDX-Export-history

#### TODO:
1. Get all tags and attributes from where <-- check from where, are they covered by the export-jobs request? Or do we get them from another end-point
2. A

[2018-05-07 15:32] rowasc commented on #2858
Moving to `in development`. This will be open/in development while we move forward with other endpoints and can test accordingly.

[2018-05-07 16:05] willdoran commented on #2491
I suspect the issue with this is related to the Set being restricted to specific groups.

Spec:

- [ ] Check before is the same on the Lumen branch
- [ ] Test that Users can see their own collections
- [ ] Test that Admin users can see all collections
- [ ] Test that Users can see collections assigned to their role.

[2018-05-07 21:45] rjmackay commented on #2806
@Angamanga This seems to be a fairly well defined bug. I don't think I can add anything without actually debugging and solving the issue.
It sounds like the issue is probably in the ushahidi/platform-cloud-interface repo

[2018-05-07 21:51] rjmackay commented on #2806
I also hate to say it - but people using that style of email address are probably a minority so I'm not sure this represents a P1

[2018-05-07 21:55] rjmackay commented on #2815
@rowasc I think the new code for this is done with #2902. However we still need the list of deployments that will get this feature. The other requirements about migrations should probably move to the EPIC or other issues?

[2018-05-07 21:56] Angamanga commented on #2806
Thank you @rjmackay. I am fine with down-prioritising this as we got a new P0 into the cycle                   today. @jrtricafort @caharding You ok with making it a P2 for now?

[2018-05-08 01:07] rjmackay commented on #2806
Ah. I tracked this down: We're not URL encoding the email sent to the cloud UI.
So we send:
`https://ushahidi.io/settings/login?subdomain=testemail&username=robbie+test@ushahidi.com&tier=responder`
instead of
`https://ushahidi.io/settings/login?subdomain=testemail&username=robbie%2Btest%40ushahidi.com&tier=responder`

[2018-05-08 02:11] jrtricafort commented on #2806
@Angamanga it isn't clear to me from the description which users are currently encountering this. If there is a high-priority deployment that totally blocked by this bug (e.g. they all have '+' characters) then I think we need to keep at P1. If not, and if this is just a known bug but one that no current users are actually encountering (because the format is uncommon) then, I agree we should downg

[2018-05-08 04:01] nirabpudasaini opened #2916 "mcrypt is discontinued form PHP 7.2"
### Expected behaviour
Should be able to download and install the platform

### Actual behaviour
Installing the php mcrypt mod is not possible with Ubuntu 18.04 and php 7.2

### Steps to reproduce the behaviour/error
On a fresh install of Ubuntu 18.04 install PHP, nginx and Mysql. Then try installing the php mod mcrypt and it will not be available.

#### Where does this issue happen?
- [ ] [Local

[2018-05-08 08:13] Angamanga commented on #2806
@jrtricafort Looks like @rjmackay already fixed it 💃 @rowasc could you review?

[2018-05-08 13:45] rowasc commented on #2815
@rjmackay yep agree.
@jrtricafort can you gather the list of deployments where this will be enabled (in a ticket) and link it to this one?

[2018-05-08 14:16] willdoran commented on #2601
### Spec:

- [ ] Export Job History should show only export jobs from the currently logged in user
- [ ] Export Job Repository should filter export jobs by current user

I believe the reason it was like this is because in order to perform an Export you must be an admin and by default all admins can see everything.

@caharding @Angamanga Instead of restricting the jobs to the current user would it

[2018-05-08 14:25] #2517 closed

[2018-05-08 14:29] Angamanga commented on #2601
@willdoran As long as its only admins that can see other users exports thats ok i think.

[2018-05-08 14:47] willdoran commented on #2491
This is working correctly in the Lumen branch.

[2018-05-08 15:02] jrtricafort commented on #1736
@justinscherer would love to have a quick conversation with you to get up to speed on this and https://github.com/ushahidi/platform/issues/1339. I think it may be worth bringing back from the Icebox and prioritizing as a quick fix in one of the next couple cycles. I'll connect with you on Slack next week.

[2018-05-08 15:26] jrtricafort commented on #1736
Scroll down to the last ~5 comments on this issue to see a spec for a potential fix: https://github.com/ushahidi/platform/issues/1339

TL;DR: Remove Default Map from General Settings, or make it more explicit to user how and when this Default Map gets activated vs. when AutoZoom is activated.

[2018-05-08 15:53] jrtricafort commented on #2815
@rowasc There is one deployment that will have this: https://comrades-stg.ushahidi.com/views/map

Let me know if you'd like for me to document that in a separate ticket.

[2018-05-08 16:50] Angamanga commented on #2491
@willdoran So no change was needed?

[2018-05-08 17:01] rowasc commented on #2815
Cool. Yes please do . @jrtricafort

[2018-05-08 17:20] willdoran commented on #2491
@Angamanga Nope was working in Lumen unless I have failed to understand the issue.

[2018-05-08 17:31] jrtricafort opened #2918 "Provide list of deployments that will have HDX Feature Flag enabled"
These deployments will have HDX Feature Flag enabled:
 - https://comrades-stg.ushahidi.com/views/map

[2018-05-08 17:31] jrtricafort commented on #2918
@Shadrock just tagging you here for awareness. Let me know if there's any other deployments that need HDX turned on besides COMRADES deployment pasted above.

[2018-05-08 17:33] jrtricafort commented on #2815
@rowasc done. I put it in Scope but let me know if I should move to Ready for Dev or Closed. Not sure what the protocol is for nontechnical issues.

[2018-05-08 19:13] #2893 closed

[2018-05-09 01:58] aaron-hall-7 commented on #2715
I've implemented the following in our nginx config as per the above comments.

add_header X-Content-Type-Options nosniff;
add_header X-Frame-Options "SAMEORIGIN";
add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;
add_header X-XSS-Protection "1; mode=block";

I've also setup specific vhost files for each of our sites and have disabled the default nginx site which sh

[2018-05-09 07:44] Angamanga commented on #2829
@willdoran @kinstelli Can this be QA-d now? Is it on master?

[2018-05-09 10:07] Brad-Anthony commented on #2715
@digitalhuman @caharding @willdoran @jrtricafort @aoduor Is there a consensus here that these improvements are addressing the critical vulnerabilities?

[2018-05-09 15:37] rowasc commented on #2918
Thanks Juan!

[2018-05-09 23:40] rjmackay commented on #2858
@rowasc I generally err towards fewer permissions for simplicity. If the naming doesn't make sense, just rename it to "Data import and export" / `DATA_IMPORT_EXPORT`

[2018-05-10 00:17] rjmackay commented on #2873
@rowasc how / where in the UI is this set? Are we setting this per export or per deployment?
Because it seems to me that data licensing is kind of a deployment wide concern. Though maybe its too late to change now

[2018-05-10 04:15] jrtricafort commented on #1736
Duplicate of #1339

[2018-05-10 06:26] Angamanga commented on #2601
@willdoran Looks good, moving to ready for dev!

[2018-05-10 17:24] rowasc opened #2926 "Get HDX License list from /license_list action"
## TASKS
- [ ] Fetch list of licenses  from here https://data.humdata.org/about/license
- [ ] Save/update the licenses from ckan HDX to our database

## Info:
I didn't find the license list endpoint until today when Will was working on the ckan integration, so I'm adding this as a feature for V1 since we need to keep moving and it won't really interefere anyway (it'd be a job that runs every day o

[2018-05-10 17:25] rowasc commented on #2858
ok cool, will do.

[2018-05-10 20:36] crcommons commented on #2826
Note: As long as we migrate from the smallest components upward, we won't need to change any routing except <Link>, which is done. Once we have migrated a section that has sub-routes, we can implement React-Router in that section of the code (all sub components will be migrated at this point, so we won't have to worry about how to route to angular components other than through clicks/links).

[2018-05-10 21:43] rjmackay commented on #2873
Ok. We should flag that for a future HDX iteration as something to test/check. ie. do deployment owners want to be able to restrict the license on their data/prevent relicensing?

[2018-05-11 16:52] jrtricafort commented on #2873
@rjmackay I heard that we may want to revisit the Permission requirements to export to HDX. This can be flexible, I just want to understand what our rationale is before making any changes. Definitely want to weigh whatever is 1) technically most sensible and 2) best user experience. @rowasc is starting a slack channel for us to discuss more in depth.

[2018-05-11 18:50] crcommons opened #2933 "Refactor reducers"
Weird behavior with Redux reducers where selectors for a particular reducer have to know what namespace this reducer is used under. We don't want this. Unsure of how to resolve yet. See comment by Robbie in first reducer: https://github.com/ushahidi/platform-client/pull/1130/files#diff-1feb98ffd4e9212296d9276ac61061fe

[2018-05-11 19:10] rowasc commented on #2805
@willdoran we need to add the configuration settings per export here beyond just org name

[2018-05-11 19:18] rowasc commented on #2805
So there's a few things we need to add in each export that are important to capture when creating the export job. I think we need to just create a table for HDX Exports or alternatively a table for hdx export settings .

<img width="1191" alt="screen shot 2018-05-11 at 4 17 10 pm" src="https://user-images.githubusercontent.com/2434401/39942723-c739be3e-5536-11e8-9036-7e697c8ad62d.png">

- Organiza

[2018-05-11 20:35] willdoran opened #2934 "Deploy HDX to COMRADES system"
### Overview
HDX feature should be deployed to COMRADES system. COMRADES is a separate system from Prod, it runs as part of the enterprise system.

There should be two deployments of this system 1. QA, 2. COMRADES HDX Demo

### Spec
- [ ] Ansible scripts must update to use php 7
- [ ] Export handler service must be deployed
- [ ] New servers must be provisioned
- [ ] Create simple cli to send requ

[2018-05-11 22:45] willdoran opened #2935 "Improve Composer Version ranges"
### Expected behaviour
- When composer is updated it does not break our build on the versions of php we support
### Actual behaviour
- When composer is updated it will change the versions of certain libs within the range we've allowed which will break our build for php 7.0

### Steps to reproduce the behaviour/error

#### Where does this issue happen?
- [ ] [Local setup with Vagrant ](https://www.

[2018-05-11 23:42] willdoran commented on #2805
To recap let me see if I understand what is happening here.

1. We need to define an endpoint that receives:
- Filters
- Selected fields to be included
- Field to hxl tag/attribute mappings

@rowasc Am I correct that in future the same behaviour will be available for both CSV and send to HDX. So the difference ends up being that you just don't get a CSV back if you send to HDX and instead it goes

[2018-05-12 03:41] rowasc commented on #2805
YES

Alright. This was defined as a table (the one in the spec) because storing this as json didn't really seem like a good idea. But it's ok if we have to go and do it in JSON .

This is why we have organization and such as defaults that are saved at the user level

Mantainer is incorrect. It should be an input. Licenses yeah, that's a dropdown. That's why we have a licenses endpoint.

YUP. I thi

[2018-05-12 05:37] kinstelli commented on #2805
I'm mixed about whether the HXL/attribute mappings should be in their own table, but I guess I'm leaning to JSON, since according to the HXL description, it looks like it's possible to have several HXL tags mapped to a single Ushahidi attribute (and maybe even vice-versa?) If that's true, then those mapping queries would get ugly. I agree with @willdoran that JSON might capture this better, but co

[2018-05-12 13:28] willdoran commented on #2805
ok thanks for reading and parsing what I wrote for sense @rowasc @kinstelli, repharsing the above to be more clear, does this set cover the pieces of work:

1. Export Meta Data table - this table stores data about the export job and is linked by to the specific export job

2. We extend the current endpoint to take account of optional HXL mappings and to set a flag on an export job related to inclu

[2018-05-12 13:46] rowasc commented on #2805
Thank you Will, this is excellent. I support  this 100%.

[2018-05-12 14:51] willdoran opened #2936 "[Platform API] HXL Meta Data Table"
### Overview
In order to capture user entered HXL Meta data we will create a new Entity and associated Table HXL Meta Data. This table should be associated with an Export Job. Currently, it is not intended that this information will be reused but in future it may be the case that it will be split between reusable fields, however, this is not not designed and does not require current consideration.

[2018-05-12 14:56] kinstelli commented on #2805
Yep, no objections to this.

My only tiny addition would be that adding individual columns for each of the possible destinations (`send_to_hdx` + `send_to_browser`) vs (`destination`/`target`) might spare us from making some enhancements in the future. It also might also make coding easier now, since a single-valued field inevitably means writing a lot of conditional blocks that interprets that si

[2018-05-12 14:57] willdoran opened #2937 "[Platform API] HXL Meta Data Endpoint"
### Overview
The HXL Meta Data entity will should be createable via the API for completeness

### Requirements
1. Validation
  - private:
     - boolean
     - required
  - dataset_title:
     - text
     - required
     - length: varchar 255
  - organisation:
     - text
     - required
     - length: varchar 255
  - source:
     - text
     - required
     - length: varchar 255
  - maintainer:

[2018-05-12 15:04] willdoran commented on #2805
@kinstelli

I don't disagree, it might also be much simpler later because if we change to allow many destinations or connect to the webhook functionality we can easily write a migration to remove these fields and replace them with a foreign_key that links out to another table or to another system. It would make that migration much simpler since we won't have to do an odious text comparison for eac

[2018-05-12 15:24] willdoran opened #2938 "[Platform API] Extend Export Endpoint, Entity and Table to accept optional HXL mappings"
### Overview
In future users will be able to optionally include HXL mappings, in addition an include_hxl flag. Since there will now be two distinct destination for the export we will capture those as two flags.

`send_to_browser` and `send_to_hdx`, the rationale for these two setting is as follows:
1. A single text field would require text logic comparison which requires hardcoding or knowledge of

[2018-05-12 15:26] willdoran commented on #2938
@rowasc @kinstelli Please consider the naming scheme of the table fields and confirm you are ok with them while reviewing.

[2018-05-12 15:28] kinstelli commented on #2938
@willdoran I posted this to the other ticket, but I deleted it and moved it here :)

Since the process of sending the job to HDX is potentially fragile, we ought to have a field to store whether it got sent -- and ideally, (assuming HDX is nice about sending success/failure responses), a success/failure about whether HDX received it.

I'm not sure if HDX responds with other important data, like a

[2018-05-12 15:36] rowasc commented on #2805
@willdoran yep that sounds ok. We can migrate it if we hate it

[2018-05-12 16:00] willdoran commented on #2938
@kinstelli @rowasc

Do the current statuses we have cover this or should we add hdx_failed, hdx_succeeded or can we infer that from the destination + status.

This is important, @rowasc do you know if we cover this? and if we don't how would we raise it up to @jrtricafort?

[2018-05-12 16:04] kinstelli commented on #2938
@willdoran  - Now I'm thinking that if HDX sends back a reference id on success, (Not sure because I can't find their docs right now... _Where are you hiding, HDX API docs?_), this might be sufficient to prove success/failure of an upload, as well as serving as the basis for referencing this in the future.

[2018-05-12 16:26] rowasc commented on #2938
@kinstelli that sounds good.
We might need to extend our status.
This is a typical response (success) for a resource being created
[code]

I'm thinking We need to save the `package_id` for a resource to be able to add to them

[2018-05-12 16:27] rowasc commented on #2938
@willdoran Create form_attribute_hxl_attribute_tag link table is missing a reference to the export_id I think?

[2018-05-12 16:30] willdoran commented on #2938
@rowasc Will add now

[2018-05-12 16:32] rowasc commented on #2937
@willdoran is there a reason we allow a text_medium for title? I think it might be too much.  How about a varchar with maybe 256? This is the title that users in HDX will see when they look for datasets so I think it's reasonable to keep it short .

In addition to this, we might want to save organization that the dataset belongs to, as well as a resource id that can be associated to the dataset.

[2018-05-12 16:53] kinstelli commented on #2874
For discussion, here is the current workflow, in its current, imperfect state:
1. *Platform User* requests export
2. A new job is created in `export_jobs` table with new `job_id`
3. At pre-defined intervals, *platform-job-queue* code looks for incomplete jobs in each deployment
4. For each discovered incomplete job, *platform-job-queue* sends an API request to *Export-Broker* to initiate a new job

[2018-05-12 16:55] willdoran commented on #2937
@rowasc Updated spec

[2018-05-12 16:55] rowasc commented on #2938
@willdoran  @kinstelli  sorry I’m a bit confused. Should we have hxl_heading_row even when we also have the `form_attribute_hxl_attribute_tag` table ?

[2018-05-12 17:01] willdoran commented on #2938
@rowasc Sorry I should have been more clear, we need to store the computer hxl row for the export once right? So that we can reuse it for subsequent chunks? or do we not?

[2018-05-12 17:03] rowasc commented on #2938
ahhh. Yea no that's completely correct. We `could` recalculate it since we know what maps to what.. but that would be awful.
Makes sense .

[2018-05-12 17:05] rowasc commented on #2938
@willdoran ok sorry second dumb question: `hxl_mappings: json not required` is this needed now that we have form_attribute_hxl_attribute_tag ?

not having a bright day  over here

[2018-05-12 17:08] willdoran commented on #2938
@rowasc good catch, fixed

[2018-05-12 17:10] kinstelli commented on #2937
@willdoran  Is there other info besides organization that we potentially need in this endpoint?
Does this store to the HXL specific table?
Also, is this just a POST endpoint?

[2018-05-12 17:17] kinstelli commented on #2874
Proposed changes to incorporate HDX needs are in bold, assuming that we can use the existing export count/chunk code for doing HDX exports.

Proposal 1 — We let Platform initiate its own send to HDX after the exports are completed.  This is potentially cleaner, since Platform will already know all about the data that has to be sent to HDX. This is also less migration if/when we abandon *Export-Bro

[2018-05-12 17:26] rowasc commented on #2937
@willdoran hey sorry I still don't see `organization` there , but maybe it was missed in the comment. Can you confirm if we will have it or if you think we dont need to / why?

[2018-05-12 17:28] rowasc commented on #2937
ah

So this is technically correct, we do save defaults there for when the user does a new export, but that's just a default, not the value that matches the dataset itself. To make this clear: organization is a value that can change for each user. For instance, I'm part of Ushahidi and Comrades in hdx.

[2018-05-12 17:32] rowasc commented on #2938
@willdoran @kinstelli I believe the validations are needed here, but to be clear those would be enforced in the validator's code not at the table level  (same thing we do for targeted_surveys when we check that  `everyone_can_create` and `targeted_survey`  are both true for it to work and validat ethat)

[2018-05-12 17:33] kinstelli commented on #2938
Ok. @willdoran  Reviewed:Approved.

[2018-05-12 17:35] willdoran commented on #2937
ah!!! I didn't realise, fixed can you recheck

[2018-05-12 17:35] willdoran commented on #2936
@rowasc changed this slightly, can you recheck

[2018-05-12 17:37] rowasc commented on #2936
APPROVED .

[2018-05-12 17:37] rowasc commented on #2937
APPROVED

[2018-05-12 17:38] kinstelli commented on #2936
~Sorry, but where are Source, Organization, Maintainer, and License stored for each export job?~

REVIEWED. APPROVED.

[2018-05-12 17:38] willdoran commented on #2938
@kinstelli good catch on migration, should we set the send_to_browser to true for existing rows in the DB for completenes?

[2018-05-12 17:41] kinstelli commented on #2937
Can we include the verbs of this endpoint in the spec? :)

[2018-05-12 17:43] rowasc commented on #2938
Nice addition. Thanks.

APPROVED

[2018-05-12 17:43] kinstelli commented on #2938
Yes. Reviewed. APPROVED.

[2018-05-12 17:44] rowasc commented on #2937
I'd support that :D @willdoran  @kinstelli

[2018-05-12 17:51] rowasc commented on #2937
APPROVED

[2018-05-12 17:51] willdoran commented on #2874
@kinstelli This in principle sounds good, I have two comments which are not necessarily important right now.

1. Because we allow only one export at a time I think it is ok for Platform to send immediately to HDX when it get's the update `PENDING_HDX`
2. In future, when we have some kind of architecture that allows us to do more than one thing at a time, we should probably have a separate job that

[2018-05-12 17:52] kinstelli commented on #2937
Okay, POST is great. APPROVED post-hoc.

[2018-05-12 17:56] kinstelli commented on #2874
We can definitely break this into as many changes / tickets as necessary, but I thought I'd wait until after we decided how much of a bad idea this proposed approach might be.

[2018-05-12 18:01] rowasc commented on #2936
@willdoran @kinstelli not urgent, but is `hxl_metadata` the table name?  I didn't notice it until now but it's not there in the ticket

[2018-05-12 18:43] willdoran commented on #2936
@rowasc good question
hxl_meta_data?

[2018-05-12 18:43] willdoran commented on #2936
We should make a standard format for table definitions to catch those things

[2018-05-12 19:27] kinstelli commented on #2874
It's completely possible that we could avoid changing ExportBroker, if we:
1. Let platform recognize the HXL jobs and be in charge of adding any HXL headers, along with the row headers, when it gets the initial `include_headers=true`.
2. Figure out how to deal with the fact that platform-client is going to interpret the 'SUCCESS' flag as the job being complete and ready for download. (Maybe we upd

[2018-05-12 22:54] rowasc commented on #2938
@kinstelli @willdoran I think should we check the feature flag ('hxl') for validation. Otherwise, we will break export jobs when the HDX flag is off.
Does that sound sane? I know we only want to deploy to comrades initially but still

[2018-05-13 00:27] kinstelli commented on #2938
I'm cool with feature flagging all the things.

[2018-05-13 00:38] willdoran commented on #2938
@rowasc Yes, good catch, can you update the spec with that

[2018-05-13 20:42] dalezak opened #2939 "Fix Broken Favicons on Ushahidi Website and Deployment Sites"
Several of the public website and deployment sites are missing standard favicons.

https://realfavicongenerator.net/favicon_checker?protocol=https&site=www.ushahidi.com#.WviirNMvwWo

![favicon checker 1](https://user-images.githubusercontent.com/91811/39971631-afa1d0be-56bb-11e8-976e-327c5c3a748a.png)

You can use https://realfavicongenerator.net to generate all the necessary favicon images.

Aha!

[2018-05-13 20:42] dalezak commented on #2939
https://realfavicongenerator.net/favicon_checker?protocol=https&site=dale.ushahidi.io#.Wvii9tMvwWo

![favicon checker 1](https://user-images.githubusercontent.com/91811/39971654-e0f6c232-56bb-11e8-8535-b53bd3822d01.png)

[2018-05-13 21:08] dalezak opened #2940 "Improve Google Lighthouse Report Score For Deployments"
**[Google's Lighthouse Report ](https://developers.google.com/web/tools/lighthouse/)** is a great tool to audit your website to help identify problems with SEO, accessibility, performance, etc.

Using https://dale.ushahidi.io as a test, here's the **Lighthouse Report** for my deployment:

**Map View**
![lighthouse_deployment_map](https://user-images.githubusercontent.com/91811/39971844-558f1aaa-56

[2018-05-14 00:26] rowasc commented on #2874
I really like this since it avoids modifying the broker too much. I support not having export broker decide things about where an export will go, the platform should be responsible for that.
regarding (2) : yea I think that'd be reasonable and easy to do with the current codebase
regarding (3): absolutely. I think that's ideal.
This is looking great @kinstelli @willdoran . I think we should divide

[2018-05-14 14:52] rowasc commented on #2938
updated!

[2018-05-14 15:10] rowasc commented on #2938
@willdoran @kinstelli One more thing. We need to require include_hxl to be true when send_to_hdx is true. The hxl tags are required for datasets when you are creating them, so if we don't receive include_hxl, we are just generating junk because it would mean the client does not intend to add the hxl headers that we will then use to generate the 'tags' field on HDX uploads

[2018-05-14 15:13] willdoran opened #2942 "[Platform API] On Export Job completion check destination and trigger functionality"
### Overview
When the Export Job API receives the final update from the Export Broker it needs to check the destination to which the output CSV file link should be sent. At present, this is either `send_to_browser` or `send_to_hdx`.

In the event of `send_to_browser`, the current behaviour should be taken which is to update the record.

in the event of `send_to_hdx`, the API should trigger a send

[2018-05-14 15:18] willdoran commented on #2874
@kinstelli @rowasc

Should be covered by #2521

Should be covered by #2942, can you both review

Should be covered by #2814

[2018-05-14 15:49] kinstelli commented on #2942
Now that I think about it, the less ExportBroker knows about the job's details, the fewer side-effects we'd potentially have to debug.

So, here's one option:
... after processing the export...
- ExportBroker creates a concatenated downloadable on CDN
- ExportBroker sends PUT of status:`EXPORTED_TO_CDN` to Platform at `/api/v3/export/jobs/{job_id}`
- Platform looks at the `export_job` data table,

[2018-05-14 16:37] willdoran opened #2943 "[Platform Export Broker] Update final success status"
### Overview

Export Broker should explicitly return a status indicating that its success is having saved the file to the CDN.

### Requirements
- [x] Change `SUCCESS` to `EXPORTED_TO_CDN` for status returned to Platform API on completion of save of export file to CDN

[2018-05-14 16:37] willdoran commented on #2943
@kinstelli can you review?

[2018-05-14 16:37] kinstelli commented on #2943
APPROVED.

[2018-05-14 16:50] willdoran opened #2944 "[Platform API] Export to HDX event"
### Overview
In order to transmit the dataset to HDX the Platform will use an event that is triggered upon successful completion of the Export Brokers work and when the `send_to_hdx` flag is set.

When the Platform API receives the `EXPORTED_TO_CDN` status from the Export Broker it will check for the above mentioned flag, if true it will fire an event responsible for sending the dataset to HDX

##

[2018-05-14 16:51] willdoran commented on #2942
excellent:

is covered now by #2943

Covered by #2944

[2018-05-14 16:52] willdoran commented on #2944
An issue is do we differentiate between Update and Create for the dataset? Do we need to in this version? @rowasc

[2018-05-14 16:58] kinstelli commented on #2938
Yep, @rowasc, that's another good catch.

[2018-05-14 17:03] willdoran opened #2945 "[Platform API] Package Review"
### Overview
We should carefully limit the versions within our composer.json to avoid breaking dependencies for our supported PHP versions when 3rd party libs update.

We should review the existing libs and determine the proper limits and we should setup a tracking method for versions, may be something similar to greenkeeper but with a designated owner.

### Requirements
- [ ]  Review the existing

[2018-05-14 17:26] rowasc commented on #2942
looks great.

[2018-05-14 17:27] rowasc commented on #2944
@willdoran  re Update vs Create:  I think we should be doing a dataset show with the dataset title(name) to check if it's an existing dataset, and update if there's already one  in HDX for that user/organization .

[2018-05-14 17:42] kinstelli commented on #2942
APPROVED.

[2018-05-14 18:55] willdoran commented on #2944
@rowasc thanks updating both now, could give last review

[2018-05-14 21:02] willdoran commented on #2938
@rowasc good catch will add

[2018-05-14 21:29] rowasc commented on #2944
@willdoran excellent thank you
APPROVED

[2018-05-15 19:26] rjmackay commented on #2610
Done. Here's the video https://www.dropbox.com/s/nc89bjpnc6ozj0u/lumen-walkthrough.mp4?dl=0

[2018-05-15 19:26] #2610 closed

[2018-05-15 21:42] sethburtonhall commented on #2314
@justinscherer reminder on what specifically should be in the circle?

[2018-05-15 22:29] kinstella opened #2953 "Update ExportBroker to allow no expiration dates for specific CDN data"
## Requirements
When ExportBroker receives a job, it should accept and interpret an optional parameter that requests that no expiration is set for that job's public file on the CDN.
The reason for adding this is that files we send to HDX should not expire

Requirements:
- [ ] ExportBroker should accept a flag `no_expiration` flag in the initial request call
- [ ] A field `expire` should be added i

[2018-05-16 01:59] rjmackay commented on #2626
Closing. I think this is all the QA process doc now

[2018-05-16 01:59] #2626 closed

[2018-05-16 22:47] kinstelli commented on #2942
confirming that this line should be changed from:
`If update status is success and send_to_hdx Export Job API should change status from EXPORTED_TO_CDN to PENDING_HDX`
to
`If update status is success and send_to_hdx Export Job API should change status from EXPORTED_TO_CDN to SUCCESS`

[2018-05-17 01:33] rjmackay commented on #2937
Noting some context here, because I had great trouble understanding *why* this endpoint was read only.

^ It's important to capture intent in our specs. Even if its repeating other existing specs

[2018-05-17 02:33] rjmackay commented on #2945
I was thinking about this while fixing the composer.lock issues. This is what composer.lock is for. While versions shouldn't be completely open, we shouldn't have to heavily limit versions because composer.lock doesn't that for us. I think especially if we limit the PHP version in composer.json, then composer is supposed to handle this.
We should define how/when we run composer update though.

[2018-05-17 02:50] rjmackay opened #2959 "Make util class usable outside of angular"
- Remove angular dependencies
  - Replace $window with window
  - Stop using CONST
- Move https://github.com/ushahidi/platform-client/blob/develop/app/app.js#L38 from app to util
- Move https://github.com/ushahidi/platform-client/blob/develop/app/app.js#L41 from app to util
- Update to es6 export style.

This should probably be enough to enable Util to work in both angular and react

[2018-05-17 02:57] rjmackay commented on #2761
From our discussion earlier. Additional requirements
- Migrate Util class https://app.zenhub.com/workspace/o/ushahidi/platform/issues/2959
- Create new endpoint class that doesn't use angular cache or resource.
     - This might still need to use $http via https://github.com/bcherny/ngimport to take advantage of the http interceptor for authentication

[2018-05-17 13:40] justinscherer commented on #2314
status: Published, under review, etc.

[2018-05-17 19:53] kinstelli commented on #2953
@willdoran, @rowasc -- Just FYI. As we briefly discussed about expiration dates, I don't think this is necessary for v0, but I wanted to include it in the board.

[2018-05-17 20:58] caharding opened #2965 "Link to TenFour from website"
Change highlighted section of the website to:
"**Newly released:** TenFour, the emergency check-in app for teams"
Link directly to www.tenfour.org"

[2018-05-17 21:26] caharding commented on #2965
Super helpful! I got it next time. Thanks for teaching me to fish.

On Thu, May 17, 2018 at 2:23 PM Seth Hall <notifications@github.com> wrote:

--
Charlie Harding
Product Director

[2018-05-17 21:43] caharding commented on #2056
@jrtricafort thinking this is a won't fix yeah?

[2018-05-17 21:44] caharding commented on #2839
@kinstelli do you know if this was added in our CSV improvements? Or needs to still be speced?

[2018-05-17 21:50] kinstelli commented on #2839
@caharding - I haven’t seen this, so i think it still needs spec’ing and doing.

[2018-05-17 21:52] kinstelli commented on #2839
Note that this is for imports not exports

[2018-05-17 21:56] caharding commented on #2839
Ahh good point. Added it to the improved CSV epic for prioritization later.

[2018-05-17 22:15] rowasc opened #2968 "Add a DATA_IMPORT_EXPORT permission that allows users to both import and export from CSV"
- As a user with the DATA_IMPORT_EXPORT permission, I can export data as CSV files
- As a user with the DATA_IMPORT_EXPORT permission, I can import data from CSV files
- As a user with the DATA_IMPORT_EXPORT permission, I can export data into HDX

[2018-05-17 22:19] rowasc opened #2969 "[Platform API] HXL Meta Data Endpoint - READ"
### Overview
The HXL Meta Data endpoint will have a `show` method in the controller that matches the
`GET /hxl/metadata/:job_id` request

This is needed so the client can check if a metadata object exists before they let the user create one, and to show the data the user has set up in their metadata screen if they have.

### Requirements
1. Routing:
    - `GET /hxl/metadata/:job_id` routes to `sho

[2018-05-17 22:27] rjmackay commented on #2969
If HXL metadata is a child of the job, the URL should be `GET /hxl/job/:id/metadata`.
The write endpoint should change to `POST /hxl/job/:id/metadata` too

Other spec points:
- Permissions: Same authorizer, allow only owner +admin access?
- Data structure: I assume thats straight forward/same as whatever we returned after create?

[2018-05-18 14:35] willdoran opened #2973 "[Platform API] HDX Dataset Title Validation"
### Overview
The HDX Dataset Title that the user enters must be converted to an alpha dash slug representation. The slug is currently auto generated by swapping spaces for dashes and converting to lowercase. We need to ensure that there is proper validation for the slug and title. We need to decide whether the User will be allowed to enter UTF-8/16 and we will generate a hash slug or how this shou

[2018-05-18 14:36] willdoran commented on #2973
@jrtricafort This is ready for spec but probably in the next epic, please move it if I've put it in the wrong column.

[2018-05-18 14:45] jrtricafort commented on #2973
Perfect.

[2018-05-21 08:07] Angamanga commented on #2869
@Eve-wanderi Ready for QA

[2018-05-21 08:08] Angamanga commented on #2804
Dev to test this issue

[2018-05-21 08:09] Angamanga commented on #2855
@Eve-wanderi Ready for QA :)

[2018-05-21 08:10] Angamanga commented on #2856
@Eve-wanderi Ready for QA :)

[2018-05-21 08:11] Angamanga commented on #2854
@Eve-wanderi Ready for QA :)

[2018-05-21 08:17] Angamanga commented on #2848
@Eve-wanderi Ready for QA :)

[2018-05-21 08:18] Angamanga commented on #2810
@Eve-wanderi Ready for QA :)

[2018-05-21 08:18] Angamanga commented on #2892
@Eve-wanderi Ready for QA :)

[2018-05-21 08:19] Angamanga commented on #2813
@Eve-wanderi Ready for QA :)

[2018-05-21 08:52] Angamanga commented on #2856
Closing this in favour of #2840

[2018-05-21 15:51] jrtricafort opened #2976 "Uploading data to HDX results in blank error, data not uploaded"
### Expected behaviour
After I tag fields and click "Submit to HDX" I should get confirmation that the CSV was created and then be able to view the data in the HDX portal.

### Actual behaviour
After I tag fields and click "Submit to HDX" I get this screen for about 10 seconds:
![Screen Shot 2018-05-21 at 11.38.43 AM.png](https://images.zenhubusercontent.com/5ac5411e4b5806bc2bcdb0c4/e20b617c-4ccb-

[2018-05-21 16:02] jrtricafort opened #2977 "CSV files from HXL tag+export do not appear to include the actual HXL tags"
### Expected behaviour
After I add HXL tags and export to CSV, I should see those tags in the resulting CSV file.

### Actual behaviour
After I add HXL tags and export to CSV, I do not see those tags in the resulting CSV file. See attached screenshot of entire csv output. This looks different from what Romina demo'd last week, which included the tags in a separate column.
![Screen Shot 2018-05-21

[2018-05-21 18:27] willdoran commented on #2977
Fixed. Re-testing export to hdx.

[2018-05-21 19:04] willdoran opened #2978 "[Platform API] Race condition when exporting to HDX"
### Overview
Because the queue jobs run on a timed window if the Job is saved but the HDX Creds are not saved before the Queue executes the Job will fail.

The relationship between Export Job and HDX meta data should be reversed, the Job should contain a reference to the HDX Meta Data table entry.

[2018-05-21 19:06] willdoran opened #2979 "[Platform Client] HDX Meta Data should be saved before Export Job"
### Overview
To avoid a race condition where the Job may be executed before the Meta Data is available the Export Job should be saved after the Meta Data

[2018-05-21 19:16] jrtricafort opened #2980 "In HDX dataset window, list of organizations not populating even after user's API key provided"
### Expected behaviour
After I provide my HDX API key in Ushahidi, my list of Organizations populates once I get to the "Add dataset details screen".

### Actual behaviour
The list of organizations does not populate. This prevents the user from moving forward to Submit upload to HDX.
 ![Screen Shot 2018-05-21 at 3.06.52 PM.png](https://images.zenhubusercontent.com/5ac5411e4b5806bc2bcdb0c4/d98378ef

[2018-05-21 19:16] jrtricafort commented on #2980
This issue is p2 if it is just isolated to Juan. But it is p0 if there's a chance Shadrock or other users could hit it. Since that's unknown right now, I'm averaging out to p1.

[2018-05-21 20:54] jrtricafort commented on #2980
Will and I have been scoping this, but putting on the shelf for now while we work on other higher priority HDX bugs. We'll revisit shortly.

[2018-05-22 11:36] Eve-wanderi commented on #2813
No validation error message on *first attempt* to save without Api key.

1. Click on Settings.
2. Go to Configure HDX API.
3.Click on Change your API Key.
4. Click on Save.

![image.png](https://images.zenhubusercontent.com/5a730b1e4b5806bc2bc534d6/5a16b602-f626-4e96-becf-c053ba83fe9f)

[2018-05-22 13:04] willdoran commented on #2976
I'm pretty sure this is fixed but will retest

[2018-05-22 13:40] Eve-wanderi commented on #2840
Can we change this Error message?  to show "You need to select some fields to export "

![image.png](https://images.zenhubusercontent.com/5a730b1e4b5806bc2bc534d6/1466847f-Error6482-4ec9-a104-113b39ac178a)

[2018-05-22 14:52] Eve-wanderi commented on #2854
Unfortunately i am seeing a diffrent error message from the one reuested in the Requirement.

When i click on the option for upload to a HDX Account without filling in any details i get this error

![image.png](https://images.zenhubusercontent.com/5a730b1e4b5806bc2bc534d6/023c05a8-e895-41e2-880f-196549087727)

However from the Requirements this is the error i should get.

https://drive.google.com/

[2018-05-22 22:33] jrtricafort commented on #2980
@willdoran I am no longer able to repro this on my end. The organizations are populating correctly now. Not sure what changed, but closing this now.

[2018-05-22 22:33] jrtricafort commented on #2841
@willdoran This is no longer In Development, right?

[2018-05-22 22:38] willdoran commented on #2841
@jrtricafort It's done yep

[2018-05-22 22:51] jrtricafort commented on #2841
Cool @willdoran can you update the workboard stage?

[2018-05-22 23:06] jrtricafort commented on #2938
@willdoran Since this is for the future, can I move this to the HDX v1 Epic instead of v0?

[2018-05-23 14:26] willdoran commented on #2938
@jrtricafort This one is done, closing

[2018-05-23 14:29] #2811 closed

[2018-05-23 14:29] #2934 closed

[2018-05-23 14:31] #2918 closed

[2018-05-23 14:39] rowasc commented on #2944
@willdoran closing as this technical task has been . completed

[2018-05-23 14:47] willdoran opened #2983 "Test Export to CSV when HDX flag is set to disabled"
### Test
- [x] With HDX feature flag set to off
- [x] Ensure that the "Configure HDX API" Settings menu item is not visible to the user
- [x] Ensure that the "ASSIGN TAGS AND ATTRIBUTES" button is not present on the Data Export view
- [x] Ensure that Export ALL Data returns a CSV with all the Data from the Platform instance
- [x] Ensure that "SELECT FIELDS" allows selection of Surveys and FIelds
-

[2018-05-23 14:47] willdoran commented on #2983
@Eve-wanderi when you have completed all other QA let me know and I will disable the HDX feature to allow testing of the above.

[2018-05-23 14:48] rowasc opened #2984 "Validate that maintainer and API Key are correct against HDX API"
@rowasc Suggested spec:

### Overview
This encompasses multiple cleaning tasks for HDX

### Requirements
- [ ] Error handling
  - [ ] Ensure that all HDX errors are saved
  - [ ] If the error returned is related to HDX unavailability(for example 503) reset the job to "pending" so that it can be rerun later
  - [ ] Add error field to the export job table to store the resulting errors that are produ

[2018-05-23 14:51] willdoran opened #2985 "[Platform Client] Maintainer input should move to API Config screen for HDX"
### Overview
The "maintainer" field is constant and is tied directly to the API. The field should only be entered once by the user when they configure the HDX API Key.

### Designs
https://xd.adobe.com/view/d2db5a90-5a14-42f5-6a02-3ede842856b2-a4ea/?fullscreen

### Requirements
- [ ] Remove Maintainer field from HDX Details view
- [ ] Add user field to HDX API config page
- [ ] Change HDX Config S

[2018-05-23 15:02] willdoran opened #2986 "[Platform API] Move Maintainer field to User Settings"
### Overview
The maintainer field should be moved to be closely linked with the API key.

### Requirements
- [x] Maintainer field is removed HXL Meta Data table
- [x] Maintainer field is removed from HXL Meta Data entity and Validation
- [x] Maintainer field is renamed as hdx_user_id
- [x] hdx_user_id is substituted throughout API
- [x] hdx_user_id is now retrieved from User settings.

## Acceptan

[2018-05-23 15:04] rowasc commented on #2984
Moving to V1 as discussed with @willdoran

[2018-05-23 15:28] willdoran opened #2987 "[Platform API] Obscure API key for HDX at the API side"
### Overview
We should never return the full API key to the client

### Requirements
- [ ] Ensure that HDX API key is reduced to last for digits before being return from API

[2018-05-23 15:38] jrtricafort opened #2988 "Improve notification bar for HDX uploads"
This issue captures three changes to the notification bar when doing an upload to HDX:

1. After you click "Submit to HDX" the In Progress notification currently says  "We are preparing your CSV file..."
<img width="828" alt="screen shot 2018-05-23 at 8 15 41 am" src="https://user-images.githubusercontent.com/37776843/40434862-2e64fc0a-5e64-11e8-9b28-ded22f5d0349.png">
It should instead say "We ar

[2018-05-23 15:40] jrtricafort commented on #2979
@willdoran Tested. This is good to go.

[2018-05-23 16:01] crcommons opened #2989 "Route to react component when going to settings/users/create"
## Routes
- [x] create new route for settings/user/create
  - Do not need to pass anything into route controller
  -  use "settings" in route name so that it inherits permissions from settings
  - do not use "users.create" in route name so that it does inherit from users
- [x] update old routes to use new route

[2018-05-23 16:03] crcommons opened #2990 "Create UI and Behavior for users/create"
## Components
- [x] Create a PersonContainer component that
  - [x] is a connected component that maps roles and people actions and selectors
  - [x] Routes to the form component without person data for /create
  - [x] Routes to the form component with person data for /edit

- [x] Create a PersonCreateForm component that
  - [x] saves person when you click the Save button
  - [x] clears the form a

[2018-05-23 16:07] crcommons opened #2991 "Prototype/implement form validation"
- [ ] research form validation options
- [ ] get input/buy-in from the team
- [ ] implement validator into UserForm
- Validations
  - [ ] Email: should be email
  - [ ] Password: should be at least 7 characters long
  - [ ] realname: should be at least 1 character long? no numbers?
  - [ ] role: should be one of the role options
  - [ ] should run onChange
  - [ ] submit should be disabled until v

[2018-05-23 16:28] jrtricafort commented on #2812
@rowasc @willdoran This is done. It was originally scoped as part of v1 but we did it as  part of v0. Alright if I close?  ;)

[2018-05-23 16:29] crcommons opened #2992 "Create actions and reducers for roles and users"
## State/Redux/Actions

### Roles
- [x] create actions for roles
  - [x] action to call endpoint and handle response
  - [x] action to receive endpoint
  - [x] action to handle errors
- [x] create reducers for roles
  - [x] set initial state of
    - [x] roles array
    - [x] Boolean value for loading users
    - [x] error object
  - [x] reducer to return loading=true when roles are being fetched

[2018-05-23 16:45] crcommons opened #2993 "Create new endpoints for settings/users/create"
## Endpoints
- [ ] create new endpoint for POST user that runs through authentication middlewear
- [ ] create new endpoint for GET roles that runs through authentication middlewear
- [ ] migrate util to be agnostic to angular/react
- [ ] Error handling for async http requests

[2018-05-23 16:54] #2933 closed

[2018-05-23 16:55] crcommons commented on #2933
This is normal behavior. We can simply change how we call in the reducer to the root reducer if we want a specific name.

[2018-05-23 16:55] #2906 closed

[2018-05-23 18:25] #2812 closed

[2018-05-23 18:25] #2978 closed

[2018-05-23 18:26] #2979 closed

[2018-05-23 18:26] crcommons opened #2994 "Merge develop (lumen compat) into react branch"
- [ ] use with lumen backend
- [ ] Run tests

[2018-05-23 19:08] willdoran opened #2995 "Convert steps to non technical epic"

[2018-05-23 19:08] willdoran opened #2996 "Review Retro suggestions"
### Overview
Meet for max 45 mins to review prescient points from past retros for consideration for inclusion in Dev Process v1.0

[2018-05-23 19:09] willdoran opened #2997 "Create New Trello for Super Retro"
### Overview
- Create new Trello board to store cherry picked points from past retro boards and docs

[2018-05-23 19:09] willdoran opened #2998 "Review and transfer key points from retro docs/trello into a the Super Retro Trello"
### Overview
- [ ] Review all existing retro documents
- [ ] Review all retro trello boards
- [ ] Collect most voted for points
- [ ] Ignore redundant points
- [ ] Group points into a the new Trello board

[2018-05-23 19:09] willdoran opened #2999 "Define style guide expected that team can use"
### Overview
Create short guide describing clearly the core standards to adhere to when producing the document. Intended to reduce strain on editor and avoid basic mistakes.

[2018-05-23 19:09] willdoran opened #3000 "Define architecture/structure of library in terms of sections to be considered"
### Overview
This piece of work will provide the backbone for the Process Doc. Based on a review of the existing doc and any already made changes to it we should identify:

- Most important overarching sections
- Any areas that lack clarity or have complete holes

Based on this we will define a clear library of documents and guides covering the sections defined in the above step.

[2018-05-23 19:10] #2995 closed

[2018-05-23 19:11] willdoran opened #3001 "Super Retro 0: Dev Process Doc v1.0"
### Overview
The intention of this super retro is to output a fully formed Dev Process v1.0 document.

#### Characteristics of document:
- Condensed
- Skimmable/Parsable
- Structure based on Scrum guide
- Clear delineation of sections
- Need for these to be reference docs
- Each section answers a clear question about development process
- Consistent formatting
  - Consistent vocabulary, structure

[2018-05-23 20:01] crcommons opened #3002 "redux dev tools breaks configuration of ngReduxProvider and middleware"
### Expected behaviour
Redux dev tools should work with ngRedux
### Actual behaviour
When dev tools are added according to documentation, thunk no longer works. You get the following error in the console:
`Actions must be plain objects. Use custom middleware for async actions.`
### Steps to reproduce the behaviour/error
Go to app.js and replace null with `[window.__REDUX_DEVTOOLS_EXTENSION__()]`

[2018-05-23 20:53] crcommons opened #3003 "settings/users (aka people) Migration"
Note we'll want to update any issues for users/create + create issues for users/edit and user list

(Document folder: https://drive.google.com/open?id=1FQcHivNUyuDhdhbs3RiDTo-lGl13JzXq )

1. API -> State Interactions
https://docs.google.com/spreadsheets/d/1ZHCExmiDQbrdMHJAU0YJl5_HAzuBG9ZUYjK3TakPlPk/edit?usp=drive_web&ouid=113225898055453652609

2. Libraries
https://docs.google.com/spreadsheets/d/

[2018-05-23 20:54] crcommons commented on #2589
Closing this issue because 10/4 is migrating to Ionic.

[2018-05-23 20:54] #2589 closed

[2018-05-23 20:54] crcommons commented on #2588
Closing this issue because 10/4 is migrating to ionic.

[2018-05-23 20:54] #2588 closed

[2018-05-23 21:16] crcommons opened #3004 "categories migration"
# Categories Epic

## Overview
- As an admin, I should be able to see a list of my categories
- As an admin, I should be able edit categories
- As an admin I should be able to delete categories
- Ad an admin I should be able to add new categories and sub-categories
    - sub categories should have the same permissions as parent categories

Follow the categories designs: https://xd.adobe.com/view/e

[2018-05-23 23:54] crcommons commented on #2999
Here's a rough draft. https://docs.google.com/document/d/1P4IByZRpYXqY-LZZB0LFmLr6clcS7SIAJyS_VJFPsl4/edit?usp=sharing

[2018-05-24 00:27] crcommons opened #3005 "Modal for confirmation/errors/notifications"
## Overview
When I save something, get an error, etc... I will see a notification in the form of a modal; it may require some interaction or may disappear after a set time

## Requirements/User interface behaviors
- When a user attempts an action (like deleting a user), a confirmation modal appears with action buttons (delete and cancel). like this -> https://xd.adobe.com/view/e8878276-4282-4a3c-5

[2018-05-24 00:38] crcommons opened #3006 "Create a survey Migration"
As a user, I should be able to create and edit a survey. A survey must have a name but not necessarily have a description. As I complete each step of the survey, my answers will persist and I will move forward in the survey flow. Surveys should have a multitude of options for inputs. Those options will be presented to me in a modal. I should be able to add as many questions as I want and adding a

[2018-05-24 00:39] crcommons opened #3007 "Edit a survey migration"
As a user, I should be able to create and edit a survey. A survey must have a name but not necessarily have a description. As I complete each step of the survey, my answers will persist and I will move forward in the survey flow. Surveys should have a multitude of options for inputs. Those options will be presented to me in a modal. I should be able to add as many questions as I want and adding a

[2018-05-24 06:11] jrtricafort commented on #2998
Done. https://trello.com/b/P1ri8Wm5/super-retro-0-dev-process-this-is-a-curated-selection-of-process-related-retro-cards-from-cycle-0-cycle-4

[2018-05-24 06:11] #2998 closed

[2018-05-24 06:12] jrtricafort commented on #2997
Done. https://trello.com/b/P1ri8Wm5/super-retro-0-dev-process-this-is-a-curated-selection-of-process-related-retro-cards-from-cycle-0-cycle-4

[2018-05-24 06:12] #2997 closed

[2018-05-24 10:30] Erioldoesdesign commented on #2988
@jrtricafort Messaging suggestions are good - I'll make a note to test the wording on users during usertesting sessions to uncover any jargon/messaging assumptions we may have overlooked. 👍

[2018-05-24 16:49] crcommons opened #3008 "Migrate Post and Filter Data to Redux Store"
We can't begin migrating more complex, interconnected sections of Platform without ensuring we're getting consistent data all over. We can’t begin to migrate things like filters, map-view, data-view, collections, etc… until we get posts stored in redux. So we’ll ensure that each call to query posts or get geojson is saved to the store. Currently those endpoints are being called in 4 directives: po

[2018-05-24 16:57] crcommons opened #3009 "Handle HTTP errors - Discuss, decide"
We do not currently have a method for handling errors (aside from when a user unsuccessfully tries to create or update).

Example Scenario: If I want to create a new user, I have to GET the list of roles for the deployment which dynamically loads in the create user form. If that request fails, what do we do?

- [ ] Discuss scenarios where we need error handling
- [ ] Decide how to approach them pr

[2018-05-24 18:04] caharding opened #3010 "Duplicate issue"

[2018-05-24 21:44] caharding commented on #3010
Duplicate, closing

[2018-05-25 11:15] Angamanga commented on #2698
@justinscherer should there be any focus-ring around the checkbox? I think it needs it to be accessible?

[2018-05-25 15:34] justinscherer commented on #2698
good catch. Is there a browser default for it?

If not, use a #777777 dashed border 1px wide with 8px between the focus border and the border of the checkbox.

[2018-05-28 01:00] dalezak opened #3011 "Improve Facebook Sharing Information"
It doesn't look like deployments or reports have very good meta information, which means the site isn't included very useful information when people share to Facebook.

Best Practises https://developers.facebook.com/docs/sharing/best-practices/

Example https://developers.facebook.com/tools/debug/sharing/?q=https%3A%2F%2Fdale.ushahidi.io%2Fviews%2Fdata

Aha! Link: https://ushahiditeam.aha.io/featu

[2018-05-28 01:03] dalezak opened #3012 "Improve Twitter Card Share Information"
It doesn't look like we've provided any Twitter Card meta information, which means reports are not including much/any useful information when shared to Twitter.

Twitter Validator https://cards-dev.twitter.com/validator >> https://dale.ushahidi.io/posts/108

![screenshot 2018-05-27 19 01 28_preview](https://user-images.githubusercontent.com/91811/40592798-826ffbe0-61e0-11e8-9843-786fad051ccd.png)

[2018-05-28 08:16] Angamanga commented on #2698
@justinscherer should it really be 8px between the focus-border and the checkbox-border? It looks a bit wide?

8px between:
![Screen Shot 2018-05-28 at 10.12.32.png](https://images.zenhubusercontent.com/5a6f2bce4b5806bc2bc4b158/a26847c1-3722-4641-9295-b8f96a4e028c)

2px between:
![Screen Shot 2018-05-28 at 10.14.14.png](https://images.zenhubusercontent.com/5a6f2bce4b5806bc2bc4b158/a36d89f7-0365-4f

[2018-05-28 13:38] willdoran opened #3013 "[Platform Client] Auto-tick "include" checkbox"
### Overview
On the Export Tagging screen, a survey field row that has at least one hxl tag assigned should have the checkbox for the field automatically 'ticked' when the tag has been added.

### Requirements
- [ ] A survey field row that has at least one hxl tag assigned should have the checkbox for the field automatically 'ticked' when the tag has been added

[2018-05-28 15:09] justinscherer commented on #2698
you're right, 2px is better.

[2018-05-28 22:49] jrtricafort commented on #2491
Hey @willdoran it sounds like this was fixed with Lumen, but since Lumen is not on production yet, the original deployment who reported this (Iran Protests) is not yet seeing the fix. Can I reopen this and mark it as blocked on Production Lumen?
https://app.zenhub.com/workspace/o/ushahidi/platform-cloud-interface/issues/271

cc @rowasc

[2018-05-28 23:07] jrtricafort opened #3014 "For Lumen branch: Allow Farsi in Category titles without error message"
_**Note: Will fixed this issue for non-Lumen branches. This ticket is to make sure we fix it in the Lumen branch as well. Since this has been previously fixed, this is Ready for Dev.**_
Previous fix: https://github.com/ushahidi/account-management/issues/22#issuecomment-389797184

### Expected behaviour
I am able to create or edit categories with Farsi in the title.

### Actual behaviour
When I try

[2018-05-29 07:43] Angamanga opened #3644 "Add api-translations to transifex"
### Expected behaviour
Translations in the api should be downloaded from transifex

### Actual behaviour
Translations in the api is hardcoded in the api: https://github.com/ushahidi/platform/tree/master/application/i18n
(only spanish is present right now)

### Steps to reproduce the behaviour/error

Aha! Link: https://ushahiditeam.aha.io/features/PROD-336

[2018-05-29 13:30] rowasc commented on #2491
@jrtricafort  yep. sounds  good

[2018-05-29 13:52] rowasc opened #3016 "When a dataset name already exists outside of the organisation, the user should be notified to change the name"
### Expected behaviour
When I try to create a dataset with a name that already exists for another dataset outside of my organizations, I should receive an error and have a way to change the dataset name.
### Actual behaviour
When I try to create a dataset with a name that already exists for another dataset outside of my organizations, it fails silently.

### Steps to reproduce the behaviour/error

[2018-05-29 15:39] crcommons opened #3017 "Remove test react code from base react branch"
Robbie and Carolyn created some test code with react which will act as samples for the team to use. Before we actually merge the react branch into develop, we need to remove

TestRouteContainer.jsx
Ush-logo.jsx
ush-logo.action.js
ush-logo.reducer.js
ush-logo.spec.jsx
ush logo snapshots

[2018-05-29 15:42] #2899 closed

[2018-05-29 15:43] #2898 closed

[2018-05-29 15:46] crcommons opened #3018 "Create tests for session.js"
The session service has been migrated from angular to vanilla JS so that it can be used in both react and angular. Now all the tests are broken. Tests need to be migrated to jest. Tests are currently commented out.

**Spec**
- [x] Mock localStorage data (already done)
Write tests for:
- [ ] If no data is in LocalStorage, then getSessionData returns empty session data
- [ ] If data is in localStora

[2018-05-29 15:48] crcommons opened #3019 "Add tests for roles actions"
- Tests to be written
- [x] creates HANDLE_REQUEST_FAILURE when GET roles fails
- [x] creates RECEIVE_ROLES when we GET roles successfully
- [x] When a GET request for roles succeeds, create REQUEST_ROLES and RECEIVE_ROLES with roles object
- [x] When a GET request for roles fail, create REQUEST_ROLES and HANDLE_REQUEST_FAILURE with error object

[2018-05-29 15:50] crcommons opened #3020 "Continue migrating authentication-interceptor to axios interceptors"
## Spec todos
- [x] walk people through the interceptor
- [x] find out what's missing

- [x] define which tests need to be written

## Parts TODO
- [ ] response interceptor TODO
    - [ ] error handler
        - [ ] If we get 400 or 401 AND we were logged in (loginStatus=true), throw the unauthorized event
        - [ ] If we get 400 or 401 AND we were NOT logged in, and it's an ignorable request,

[2018-05-29 15:58] crcommons opened #3021 "Handle proptypes in temporary migration connect component"
### Expected behaviour
I should not need to define props of each component in connectWithStore that uses it

Component >> https://github.com/ushahidi/platform-client/blob/c81e0a281d5474413bd03a69bf457eaa2617ccbd/app/react/react-transition/connectWithStore.jsx

Context on connectWithStore > https://github.com/reduxjs/react-redux/issues/390
### Actual behaviour
I get errors in the console like this:

[2018-05-29 16:44] jrtricafort commented on #3008
cc @willdoran
Discuss this on first day of Montreal Hit Team

[2018-05-29 16:50] jrtricafort commented on #3020
@crcommons Need more detail. Make sure to spec in pairs+.

[2018-05-29 16:55] jrtricafort opened #3022 "Create feature branches for JS Framework Rewrite Epic"
Create branch `migration/cycle-5 .
Depends on #2983

[2018-05-29 16:58] jrtricafort commented on #2733
@crcommons doing this prior to Hit team

[2018-05-29 17:55] jrtricafort commented on #2111
Discussed w @willdoran @kinstelli @rowasc agreed we should do this eventually - marking as Cycle 6 for now.

[2018-05-29 17:57] jrtricafort commented on #2111
We should reprioritize (P?) in Cycle 6

[2018-05-29 17:58] jrtricafort commented on #2601
Needs a new spec. @willdoran

[2018-05-29 18:09] rowasc commented on #2813
@Eve-wanderi this should be tested again.

[2018-05-29 18:11] rowasc commented on #2804
Blocked by testing in #2983.

[2018-05-29 18:15] rowasc commented on #2809
Closing, this was done  and deployed

[2018-05-29 18:51] rowasc commented on #3021
Assigning myself to research and then come back to this with @crcommons @kinstelli

[2018-05-29 19:15] jrtricafort commented on #2781
@jrtricafort to confirm if this can still be repro'd or if its fixed.

[2018-05-29 19:40] rowasc opened #3023 "Migrate CONST in a way that is usable to Angular and React"
Const file:
- [ ] should provide access to window.ushahidi like this: `window.ushahidi = window.ushahidi || {};`
- [ ] these constants come from window (see app.js)
  - [ ] BACKEND_URL: backendUrl,
  - [ ] API_URL: apiUrl,
  - [ ] INTERCOM_APP_ID: intercomAppId,
  - [ ] APP_STORE_ID: appStoreId,
  - [ ] MAPBOX_API_KEY:
            window.ushahidi.mapboxApiKey ||    "pk.eyJ1IjoidXNoYWhpZGkiLCJhIjoi

[2018-05-29 19:54] rowasc commented on #3020
We did an initial estimate and agree on 5 (Carolyn, Mark, Romina)

[2018-05-29 20:01] rowasc commented on #3020
APPROVED

[2018-05-29 20:14] willdoran commented on #2871
@jrtricafort is this explicitly a link to a post? Could you share an example link?

[2018-05-29 20:19] kinstelli commented on #3020
APPROVED

[2018-05-29 20:50] crcommons commented on #3019
Carolyn, Mark, Romina voted and agreed on an estimate of 1

[2018-05-29 20:50] rowasc commented on #3019
APPROVED

[2018-05-29 20:51] kinstelli commented on #3019
Spec APPROVED

[2018-05-29 21:57] kinstella opened #3024 "Cleanup where some config values are stored -- whether in const, .env, or elsewhere"
Currently, it's unclear why some values are hardcoded, some are stored in .env, some are copied to CONST, and some are defined throughout the Angular codebase.

After migration to React, we should clean this up and decide if we can streamline this or better organize it.

(This was discussed with @crcommons and @rowasc when spec'ing  #3023, so I'm only tagging them here in case they would like to c

[2018-05-29 23:10] rjmackay commented on #2736
This passed QA right?

[2018-05-30 00:06] crcommons commented on #3020
APPROVED

[2018-05-30 01:08] rjmackay commented on #3020
Are we anticipating throwing angular events here? or triggering redux actions? or both?

Could this task also include documenting the existing flow? I think @tuxpiper made a diagram at some stage, maybe we could update it.

[2018-05-30 07:03] Nthiga opened #3025 "Kenya Deployment Targeted Survey + Frontline Link not synced"
### Should be able to view sent out messages on frontline + recipient phone

### SMS are sent out, but not delivered to frontline, deployment or recipient phone

### Steps to reproduce the behaviour/error

More specific repro details available in Slack - ping @kinstelli @jrtricafort for more info from product side.

[2018-05-30 09:18] Eve-wanderi commented on #2848
Yes this has passed QA.

[2018-05-30 10:21] Eve-wanderi commented on #2840
@rowasc   Yes we can change it to that. Retested and can confirm the issues have now been fixed. However i still feel like we need to increase the time for issue number 3 dont think users will mange to read all that information within few seconds.

[2018-05-30 10:27] Eve-wanderi commented on #2854
Confirmed this is now fixed.

![image.png](https://images.zenhubusercontent.com/5a730b1e4b5806bc2bc534d6/2038ef01-4aa9-409c-926a-3e1e1c43bfb6)

[2018-05-30 13:15] rowasc opened #3026 "The "It looks like you haven't configured your HDX API" message appears for a second every time you load the HDX export screen"
Current behavior:
- Load the HDX/ Export and tag data screen AFTER having configured your API key for HDX
- Before the "Export all data" / Select fields button load, you will see the "It looks like you haven't configured your  Humanitarian Data Exchange..." message appear. Then it will disappear quickly

Expected behavior 1:

- [ ] Load the HDX/ Export and tag data screen AFTER having configured y

[2018-05-30 13:16] rowasc commented on #2840
@Eve-wanderi great. Thanks. I opened https://github.com/ushahidi/platform/issues/3026 to track the error message that disappears too quickly. Please add the steps to reproduce in that issue.

[2018-05-30 13:20] rowasc commented on #3024
@crcommons @kinstelli moving this out of cycle 5 since it was not planned, but leaving it linked to the JS epic.

[2018-05-30 13:42] StaicyG opened #3027 "User not receiving reset email after resetting password"
### Expected behaviour
Requests reset password
### Actual behaviour
Receives notification below but never receives a reset email
![image.png](https://images.zenhubusercontent.com/5a8e72064b5806bc2bc7edf1/508de79a-a9ec-4d4d-b19b-cf3b867b52b1)
### Steps to reproduce the behaviour/error
Clicked on forgot password
Keyed in my email address
Got the notification similar to the one on the screenshot
Did

[2018-05-30 14:12] jrtricafort commented on #3027
@StaicyG which deployment is experiencing this issue? Can you provide a link and a username that we can use to test? We would need this so we can help debug. Thanks!

[2018-05-30 14:26] Eve-wanderi opened #3028 "When uploading HDX Data system does not inform users upload is in progress."
### Expected behaviour
When uploading HDX Data system should inform users upload is in progress. i.e Have a progress bar or icon showing users the upload is ongoing.

### Actual behaviour

### Steps to reproduce the behaviour/error
When uploading HDX Data system does not inform users upload is in progress.

#### Where does this issue happen?
- https://comrades-hdx.ushahidi.com/settings/hdx-details

[2018-05-30 14:40] jrtricafort commented on #3027
@rowasc Could we ask someone on the team to look into this? I believe this is P0 since there is no workaround if the user forgot their password.

Btw, this looks similar to issue #2608 except that 2608 is particularly for private deployments. In this case, I was able to reproduce the bug even on a non-private deployment: https://juantest.ushahidi.io/

[2018-05-30 15:18] rowasc commented on #3027
Checking it . I'll report back in a bit

[2018-05-30 15:38] crcommons opened #3029 "refactor axios instance"
When we create the axios instance, you can set things like `baseUrl`. However, because of the order in which it is instantiated, `window.ushahidi.backendUrl` and util's services are not available. We should refactor so that the instance has the backend url set.

[code]

[2018-05-30 15:57] kinstelli commented on #3025
It appears that the messages are correctly getting picked up from Platform and sent to FrontlineSMS, but that no activities are being triggered within FrontlineSMS.

From my (very recent) understanding, the expected behavior is:
1. A new outbound message is created in Platform
2. Platform-queues looks for all pending outbound messages
3. Platform-queues sends these messages to FrontlineSMS to be s

[2018-05-30 16:09] rowasc commented on #3027
@jrtricafort also to clarify, this is not like #2608 since in this ticket we just don't get an email (at least for me ), while in 2608 the email was received but the link did not work. I'm not sure what's causing it yet

[2018-05-30 16:14] crcommons commented on #2763
https://github.com/airbnb/javascript/tree/master/react#ordering

[2018-05-30 16:29] crcommons commented on #2992
New issue added to add tests for roles actions. moving forward.

[2018-05-30 16:30] #2762 closed

[2018-05-30 16:30] #2577 closed

[2018-05-30 16:47] jrtricafort commented on #3027
@rowasc Got it. Thanks for investigating.

[2018-05-30 17:02] dukedanny commented on #3025
I have updated the deployment API key to match the one in the FrontlineSMS configurations.

FrontlineSMS API Keys for DREAMS deployments
<img width="1203" alt="frontline sms config" src="https://user-images.githubusercontent.com/437728/40735475-edc4c53c-6443-11e8-9590-b85e5ea67f28.png">

ACWICT Deployment API Key
<img width="724" alt="deployment current api key" src="https://user-images.githubuser

[2018-05-30 18:14] rowasc commented on #3027
@rjmackay can you take a look? I can't find any logs pointing to the issue

[2018-05-30 18:22] Eve-wanderi commented on #2983
Did some tests on this below are the issues i encountered.

1.Configure HDX API" Settings menu item is still visible to the user even when HDX flag is disabled.

![image.png](https://images.zenhubusercontent.com/5a730b1e4b5806bc2bc534d6/aba22f6d-b673-4c9a-acca-80603826ade9)

2. When i change the Api Key i am able to see options for Start Tagging Data. ( However when i click on the option its inact

[2018-05-30 18:33] rowasc commented on #2983
@willdoran did you disable HDX? I see that Eve tested it but I'm not sure if you disabled it or if this was tested with the flag "ON" by mistake

[2018-05-30 19:32] rowasc opened #3030 "Find a react library to handle long-tap and shift/control+click actions"
We need a library to implement the long tap & shift+click feature to multi-select items in the screen. This would replace the checkboxes for bulk actions

[2018-05-30 19:32] rowasc opened #3031 "Find a react library to handle long-tap and shift/control+click actions"
We need a library to implement the long tap & shift+click feature to multi-select items in the screen. This would replace the checkboxes for bulk actions

[2018-05-30 19:57] #3031 closed

[2018-05-30 20:35] crcommons commented on #3019
APPROVED

[2018-05-30 20:53] willdoran commented on #2983
ok thanks @Eve-wanderi

[2018-05-30 22:32] jrtricafort commented on #2825
Closed won't fix

[2018-05-30 22:32] #2825 closed

[2018-05-30 23:37] rjmackay commented on #3027
It turns out that way back in September 2017, somewhere near this commit https://github.com/ushahidi/platform-cloud-ansible/commit/2e730c483c35b00ec26e470f0bbb168cfb77895d#diff-04a78849dbc24e615f3b8487782d6a2b

We moved the postfix email configuration from the `ushahidi.cloud-common` role into `ushahidi.common`. However we failed to configure `smtp_user` and `smtp_password` correctly and so postfi

[2018-05-31 00:55] rjmackay commented on #3027
I also found that password resets are broken in Lumen so fixed that separately in #3032

[2018-05-31 01:52] #2736 closed

[2018-05-31 11:02] Angamanga commented on #3025
@jrtricafort I don't think it is related, the other issue is about Clickatell not sending messages to FrontlineSMS. The configuration between FrontlineSMS and the platform seems to work there.

[2018-05-31 13:02] rowasc commented on #3027
confirmed that this is fixed. Received email and was able to change it
@jrtricafort @StaicyG .

thanks @rjmackay  🙌

[2018-05-31 13:03] #3027 closed

[2018-05-31 14:37] StaicyG opened #3033 "Selecting a post in the collections map view does not direct you to the selected post on data view"
## Requirements
When I select a post to see details while in a collection, I should be routed to the data view with that post selected

## Acceptance criteria
- navigate to a collection
- select a post
- click the post again to go to detail view
- [ ] confirm you are routed to the data view with the post selected

##### Expected behaviour
When you click on a post on map view, it should show some i

[2018-05-31 14:53] jrtricafort commented on #3025
@Angamanga Got it thanks :)

[2018-05-31 14:54] jrtricafort commented on #3025
Update from @Nthiga after testing again after @dukedanny fixed the API keys:

[2018-05-31 14:57] dukedanny opened #3034 "Make message sending button more logical"
### Expected behaviour
When a user is sending out a message from platform, the click action should be displayed as SEND.
<img width="473" alt="message" src="https://user-images.githubusercontent.com/437728/40789328-d8254154-64fa-11e8-8e4c-1b4ad10d0d33.png">

### Actual behaviour
When a user is sending out a message from platform, the click action is displayed as SAVE.
<img width="473" alt="message

[2018-05-31 15:04] crcommons opened #3035 "refactor reducers to not use switch statements"
Switch statements and verbose and ugly and unnecessary! So let's use another pattern to generate reducers. The redux documentation has some thoughts on generating reducers here: https://redux.js.org/recipes/reducing-boilerplate#generating-reducers

We could use this library: https://www.npmjs.com/package/redux-create-reducer or write it ourselves.

After refactoring, make sure to update the patter

[2018-05-31 15:18] jrtricafort commented on #3027
Huge thanks @rjmackay and @rowasc for solving this mystery! @StaicyG - please confirm here that the user is able to reset/login now :)

[2018-05-31 18:36] rowasc commented on #2983
@Eve-wanderi can you please re-test ? Thanks!

[2018-05-31 19:14] Eve-wanderi commented on #2983
Re-tested and can confirm that the Configure  HDX Option is not visible if HDX flag is disabled.

![image](https://user-images.githubusercontent.com/36038029/40802842-73d39910-651f-11e8-80b4-97cbda016536.png)

![image](https://user-images.githubusercontent.com/36038029/40802869-82ef6c12-651f-11e8-864f-ac8bd5a95ff9.png)

[2018-05-31 19:15] Eve-wanderi commented on #2983
I was also able to export the data as CSV with the selected fields in the survey.

[2018-05-31 19:47] #2763 closed

[2018-05-31 20:24] kinstelli opened #3036 "Migrate caching"
Writing a placeholder issue for spec'ing this cross-cutting concern, whether or not this gets included within this or another cycle.

Also, there are a few 3rd party libraries for React/Redux that could handle some of this.

[2018-06-01 02:57] rowasc commented on #2983
Moving to Waiting to Deploy then

[2018-06-01 03:40] rjmackay commented on #2491
I don't understand how/why this behaves any differently on develop (ie. lumen) than in production. The SetAuthorizer is the same (except for code style). This isn't something I changed in Lumen.

This is wrong. As far as I can tell, all Collections should be visible to everyone unless 'Who can see this' is set to specific roles. The "Manage posts" permission has nothing to do with it.

I suspect t

[2018-06-01 07:32] Angamanga opened #3643 "Adjust html for checkboxes and radiobuttons"
## TODO
The new checkboxes and radio-buttons requires the label to be situated below the input-element. Go through the client-code and make sure this is the case everywhere.

HTML is here:
- https://github.com/ushahidi/platform-pattern-library/blob/ui-refresh/assets/templates/partials/_Checkbox.hbs
- https://github.com/ushahidi/platform-pattern-library/blob/ui-refresh/assets/templates/partials/_Ra

[2018-06-01 13:54] tuxpiper commented on #3020
@rjmackay  I made a rather quick and dirty attempt, it would be really good to review it. I've shared it in Lucidchart with everyone I could find having an account in there

[2018-06-01 14:09] jrtricafort commented on #2553
idea to incorporate: https://uber.github.io/kepler.gl/#/

[2018-06-01 14:44] rowasc commented on #3036
This sounds like it will get handled in another cycle, I don't see us adding more things to the current one unless we remove something else. Not saying it isn't important, just saying that if this is something we absolutely want to do this cycle, we need to pick something that will be leaving, too.
cc @willdoran  @jrtricafort

[2018-06-01 15:17] rowasc commented on #2491
Thanks @rjmackay . That makes sense, yea. But it's not so much that the user configured the roles, it's mostly that you can't see collections you can't edit if you are in that "Add to collection" screen, and since we removed the collections "star" list a while back, there's no obvious way to see a list of collections either.

@jrtricafort @willdoran this is actually being manipulated by the client

[2018-06-01 16:46] rowasc opened #3038 "Cannot save a targeted survey post in the data view"
**Describe the bug**
I can't edit targeted survey responses in the data view.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://ush-sales-demo.ushahidi.io/posts/2
2. Click on edit
3. Try to edit the post and save
4. Nothing happens. You will a JS error in the chrome console
<img width="1617" alt="screen shot 2018-06-01 at 1 32 06 pm" src="https://user-images.githubusercontent.com

[2018-06-01 16:47] rowasc commented on #3038
@jrtricafort assigning you to prioritize

[2018-06-01 16:49] rowasc opened #3039 "Targeted surveys posts: conversation with author is not appearing on the edit view"
**Describe the bug**
Conversation with author is not appearing on the edit view

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://ush-sales-demo.ushahidi.io/posts/2
2. Click on edit
3. You will not see the "Conversation with author" section below the post

**Expected behavior**
1. Go to https://ush-sales-demo.ushahidi.io/posts/2
2. Click on edit
3. You should see the "Conversatio

[2018-06-01 16:50] rowasc commented on #3039
@jrtricafort tagging so you can prioritize.

[2018-06-01 17:17] jrtricafort commented on #3038
Discussed w @willdoran - this is p0 since our understanding is that anyone using Targeted SMS is experiencing this, and it blocks the manual data structuring workflow.

[2018-06-01 17:26] willdoran opened #3040 "[Platform Client] Twilio Autoresponse field should not be required"
**Describe the bug**
On the Twilio Datasource view the field Autoresponse is set as required and it is not possible to save the Twilio settings without entering this field.

Instead Autoresponse should be optional.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings/Datasource -> Twilio
2. Click on Twilio down arrow to expand that config
3. Fill in entries for each field except th

[2018-06-01 17:31] rowasc opened #3041 "Blank CSV when exporting (cannot reproduce)"
**Describe the bug**
A blank CSV was produced instead of a CSV with rows. The deployment had data available and other exports worked correctly.

**To Reproduce**
Steps to reproduce the behavior: not sure. It happened and then it did not happen again.

**Expected behavior**
The CSV has all the rows and columns for the posts the user decided to export.

**Screenshots**
If applicable, add screenshots

[2018-06-01 17:42] rowasc commented on #3038
@jrtricafort assigned to cycle so I can track points later

[2018-06-01 17:52] jrtricafort commented on #3034
@justinscherer @Erioldoesdesign does this require a Dev or is this just Design?

[2018-06-01 17:56] Shadrock commented on #2573
I'm closing this issue. There may be a bit of additional research time around chat bots for COMRADES but there will not be any further coding on the bot and, at this time, no research time is needed.

[2018-06-01 17:56] #2573 closed

[2018-06-01 17:57] Shadrock commented on #2572
@willdoran can you comment on whether we've addressed the bugs in this thread? Once that's done, we can close this issue. I do not foresee any further work on CREES for the COMRADES project.

[2018-06-01 17:57] crcommons opened #3042 "Add endpoint Get user by ID"
- [ ] Create endpoint to get user by ID in endpoints/users
- [ ] Mock endpoint
- [ ] Create test for endpoint

[2018-06-01 17:58] Shadrock commented on #2865
Would love an update on this so we can close it out.

[2018-06-01 17:58] kinstelli opened #3043 "Routing for usersContainer"
Routing to UsersContainer will be handled by react2Angular, but routing within usersContainer will be handled internally, based on the route passed to UsersContainer

Spec
- [ ] add users container component to settings module
- [ ] In settings.routes.js: adjust settings.users, settings.users.create, settings.users.edit to point to usersContainer
- [ ] handle programmatic routing in UsersContainer

[2018-06-01 17:59] crcommons opened #3044 "Create endpoint to get users"
- [ ] create an endpoint to get 1 page of users in endpoints/users
- [ ] create a mock of endpoint
- [ ] test endpoint

[2018-06-01 18:00] crcommons opened #3045 "Create endpoint to query users"
- [ ] create an endpoint to query users in endpoints/users
- [ ] create a mock of endpoint
- [ ] create a test for endpoint

[2018-06-01 18:03] kinstelli opened #3046 "routing"

[2018-06-01 18:03] #3046 closed

[2018-06-01 18:03] crcommons opened #3047 "Infinite Scroll on lists"
## Overview
When the user scrolls near the bottom of a list, load the next 10 items.
Make sure the items do not hang out in the dom forever, rendering only DOM nodes that the user is able to see or might soon see

## Requirements
- Find library for infinite scroll add it to users (https://github.com/seatgeek/react-infinite )

### State tree
No

### User interface behaviors
When the user scrolls ne

[2018-06-01 18:17] crcommons opened #3048 "users actions refactor and new actions"
- [ ] create action to save an existing/edited user that calls UserEndpoints.saveUser and handles errors by dispatching handleRequestError and handles success with new action...
- [ ]  create action to handle edited user success. it should:
    - [ ] find the position of the user in the existing store
    - [ ] returns object with position and user data
- [ ] create action to clear state
- [ ] ref

[2018-06-01 18:17] willdoran commented on #2572
@Shadrock We haven't addressed them yet, but I'll move them up and look at them next week during the retreat. I believe I have fixed them but I need to confirm this on the Comrades deployments. I'll update the issue when I test.

[2018-06-01 18:19] crcommons opened #3049 "refactor saveUser endpoint"
Save userEndpoint should:

- [ ] check if there is a user ID
- [ ] if yes, return PUT axios request
- [ ] if no, return existing POST request

[2018-06-01 18:28] jrtricafort commented on #2871
@willdoran Example provided in the description above and also here: https://twitter.com/IranProtestsMap/status/1002272182649720832

Spoke w @rowasc - the cause of this problem is how we generate our site using JS. To fix this, a most likely solution would involve using some sort of Pre-Renderer. It is nontrivial.

[2018-06-01 18:38] crcommons commented on #3048
Mark and I discussed this and estimated it at a 1. Approved by both of us.

[2018-06-01 18:39] crcommons commented on #3048
SPEC APPROVED! ( by Mark and Carolyn)

[2018-06-01 18:42] crcommons commented on #3045
Carolyn and Mark voted on a point estimate of 2. And APPROVE this spec.

[2018-06-01 18:47] crcommons commented on #3043
Carolyn & Mark voted on 3 estimate. Note that research may change how we want to handle programmatic routing and new issues may be needed for that. Spec is APPROVED!

[2018-06-01 19:32] willdoran opened #3051 "[Platform Client] Remove text from Targeted Survey questionexample"
**Describe the bug**
On the targeted survey question creation step, the modal contains example question text which includes "Your response is free", this text is misleading and should be removed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings, Surveys, Create Survey, new targeted survey
2. Progress to the Add question step(step 3)
3. Add a question
4. The example text in the q

[2018-06-01 23:11] rowasc commented on #3030
Apparently, we should just check for the native events/key presses. For the long tap we need to specifically check for a delay between down and up, which we could just write a quick library for.
Closing

[2018-06-01 23:11] #3030 closed

[2018-06-01 23:14] rowasc commented on #3047
I think https://github.com/seatgeek/react-infinite might work for us since they specifically mention and address the problem of leaving dom nodes hanging around and messing up the page performance.

[2018-06-01 23:22] rowasc commented on #2828
:/ I am not sure what to spec here.

[2018-06-02 19:47] rowasc commented on #3003
@crcommons `user/delete` should also be listed under `Interface behavior requirements`, right?

[2018-06-02 22:15] crcommons commented on #3003
@rowasc I suppose it depends on how we're defining interfaces. I wouldn't consider delete users it's own interface, but rather a small subcomponent of the edit interface.

[2018-06-02 22:25] crcommons opened #3052 "create and refactor users reducers"
- [ ] refactor receive_user to accept an array of users, rather than a single user object
- [ ] Change name of Save_new_user to save_user
- [ ] create a reducer to clear state
- [ ] break apart ui state and application state
- [ ] create new reducer to handle saving an existing user (editing a user); it should return current state and set saving to true
- [ ] create a new reducer to handle and edi

[2018-06-02 22:48] crcommons opened #3053 "Create UsersContainer (top most users route)"
- [ ] Create a UsersContainer component that:
  - [ ] is a connected component
  - [ ] gets users and roles
  - [ ] programmatically decides whether to show UsersList or UserContainer
  - [ ] has Add People header

[2018-06-02 23:17] crcommons opened #3054 "Create a UI and behavior for People List"
## Overview
Describe the output of this ticket. Include *why* this feature/improvement is being made.

### Requirements; Create a PeopleList container that:
- [x] Gets users and can query for users
  - [ ] create an endpoint, mock it, test it.
- [x] Checks if current user has access to the list of people. If not, redirects to map view (check).
- [x] displays the Add people header based on the rout

[2018-06-03 15:32] crcommons opened #3055 "Add endpoint to delete users"
create an endpoint to delete users in endpoints/users
create a mock of endpoint
create a test for endpoint

[2018-06-03 16:19] crcommons opened #3056 "Create UI and behavior for people edit"
A user should be able to select user (person) and edit their data. When navigating to users/:id, a user should see:

- [x] A header that says "Edit Contact"
#### A form that
- [x] displays the following inputs with user data filled in:
  - [x] Name
  - [x] email
  - [x] role
- [x] displays loading component until user data has been fetched from API
- [ ] disables buttons until form is validated (s

[2018-06-03 23:09] jrtricafort commented on #2491
Update: I caught up with @rowasc to sort this out. @aoduor I have a question for you at the bottom of this comment in order to move this forward. Here's the summary, which I am also adding to the description of this issue above:

1) What the user is expecting is that any account with the **"Manage Posts"** permission is should be allowed to **add to/edit Collections, regardless of who created the

[2018-06-03 23:15] jrtricafort commented on #2491
If we can't make the desired change, an alternative solution is to have an option for each Collection, to basically make it a privately managed Collection (only editable to the owner) or a collaboratively managed Collection (editable by anyone with Manage Posts permission. However, this would be much more complex, so I'd like to avoid this and go with the more lightweight solution if at all possib

[2018-06-03 23:20] jrtricafort commented on #2608
Checked in with @tuxpiper and @Celestine22 . This appears to not be an issue anymore, and we do not know which deployment originally reported this to double check. Closing this for now unless more information surfaces.

[2018-06-03 23:20] #2608 closed

[2018-06-04 11:59] willdoran commented on #2491
@jrtricafort I would be more in favour of either version of 6 rather than changing the way collections behave in terms of permission to edit collections. Which ever is chosen it would be good to pair that change's release with an update of the support docs and a blog post explaining the change and how users existing collections will(or won't) be effected.

[2018-06-04 12:57] justinscherer commented on #3034
Requires dev, they control the interface copy.

[2018-06-04 14:41] aoduor commented on #2491
Hey folks!
Chiming in here.
@jrtricafort important to flag that the Uchaguzi usecase for collections was quite different, and i needed control limited to specific groups of people.

I agree with @willdoran on going with Option 6

That said, I wonder if it's worth exploring our entire permissions model and auditing what things user may/may not want to control using custom roles.

[2018-06-04 18:44] jrtricafort commented on #3003
@rowasc I added the note about two password fields in the description here. Let me know if there is a better place for that.

[2018-06-04 18:47] rjmackay commented on #3042
How will you test this? What are the requirements?

[2018-06-04 18:47] rjmackay commented on #3044
How will you test this? What are the requirements?

[2018-06-04 18:47] rjmackay commented on #3049
How will you test this? What are the requirements?

[2018-06-04 22:20] jrtricafort commented on #2761
Spoke to @crcommons . Closing this. Everything else covered by #2990

[2018-06-04 22:20] #2761 closed

[2018-06-05 01:31] Shadrock opened #3057 "Integrate 2 new web services with COMRADES"
## Overview
The output of this Epic will be the integration of two additional web services to the [COMRADES platform](https://github.com/ushahidi/platform-comrades). This requirement is spelled out in the proposal in work package 3, "Content Informativeness and Validity Assessment", which can be found on [pages 47-50 of the COMRADES proposal](https://drive.google.com/open?id=0B0fInrbWAUMsNDR0MDMwc

[2018-06-05 01:32] Shadrock commented on #3057
@jrtricafort I wasn't sure about all of the fields that were suggested in creating this Epic, so I've left some of them blank. The next logical step for me is to have a call with the University of Sheffield, which is the one hosting the services to be integrated. Let me know how you'd like to proceed.

[2018-06-05 03:18] jrtricafort opened #3058 "Granular Permissions Model"
Revise the options we make available for Roles/Permissions in v3.
Possibly consider closer to "feature parity" with v2.

[2018-06-05 03:51] rowasc commented on #2491
I agree with taking this path, yea. It would not make us change permissions, it would be additive and off by default as you said. :tada

[2018-06-05 13:47] rowasc commented on #3022
renamed experimental branch to  `migration/cycle-5`

closing

[2018-06-05 13:47] #3022 closed

[2018-06-05 14:09] rowasc opened #3060 "Select items in a list"
## Overview
When a user has the option for bulk edits on a list (e.g. people), they should have the ability to select many items or one item in that list and be able to perform actions on those items.

## Requirements/UI Behavior
- A list should have fixed button at the bottom that says "Select Many"
- Clicking the select many should allow the items in the list to be selected and opens a help tip

[2018-06-05 14:26] rowasc opened #3062 "Delete people (settings/users) from list"
## Overview
Create the delete functionality for settings/people list
create an endpoint to delete users in endpoints/users
create a mock of endpoint
create a test for endpoint

## Requirements/User interface behaviors
- Shift+Click behavior https://github.com/ushahidi/platform/issues/3060
- After the select event, show a button with the text "Delete {n} users" where {n} is the number of selected u

[2018-06-05 14:34] rowasc opened #3063 "Change role for a person (settings/users) from the people list"
## Overview
Ctrl+Shift shows a "Change Role" option above delete users button at the bottom that is a drop-down and bulk changes the role of selected options

## Requirements/User Interface Behavior
- A user should select a person using the select behavior  https://github.com/ushahidi/platform/issues/3060
- After select event, show a button - "Change Role". The button is at the bottom of the list

[2018-06-05 14:38] rowasc opened #3064 "Settings Hint component for people list"
## Overview
A component that displays in the any settings list component that tells the users how to bulk edit/delete.

## Requirements/User interface behaviors
- When a user visits settings/users and selects "Select Many", a hint will appear within the list that describes how to bulk edit users (see design here: https://xd.adobe.com/view/df0747b4-7640-404f-6d3c-6af8f7a9db9c-a936/screen/a2d503ba-8

[2018-06-05 14:44] rowasc opened #3065 "Search/Sort/Filter for People"
## Overview
Create a filter component for people which allows you to search, sort, and filter

## Requirements/User interface behaviors
- [ ] When viewing the users list, there is a search component that has a search input, a sort button, and a filter button
-------
- [ ] When you use the search (TBD on when to query), it will query users for the string that you provided and display a loading comp

[2018-06-05 15:26] willdoran opened #3066 "[Platform Discover] Number of results actually returned different from text"
**Describe the bug**
When searching on the discover tool, the number of results that are returned are inconsistent with the number of stated results.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://ushahidi.com/discover
2. Enter "Montreal" in search input
3. Hit search
4. See "14 results for montreal" but only 3 deployments shown

**Expected behavior**
Show either "3 results fo

[2018-06-05 15:51] Shadrock opened #3067 "Create COMRADES "demo""
## Overview
The output of this Epic will be a COMRADES deployment that is populated with data that have been processed by all of the COMRADES features and can be explored by potential users. The current COMRADES deployment and repo can be used for this purpose. There are a variety of ways that the demo could work, especially in tandem with other pieces of collateral. Such as:

- We could have a de

[2018-06-05 16:28] jrtricafort opened #3068 "Ushahidi.io user unable to access their deployment."
Repro Steps:

1) Go to https://ornet.ushahidi.io

2) See this error message:
![image.png](https://images.zenhubusercontent.com/5ac5411e4b5806bc2bcdb0c4/dc76a886-e8a7-4b66-bba5-c4e21c5b31ec)

Here is the original conversation, reported from an end user via @aoduor from Ushahidi's Facebook page.
![image.png](https://images.zenhubusercontent.com/5ac5411e4b5806bc2bcdb0c4/06eafbb3-fc94-451f-a563-843639

[2018-06-05 16:49] Shadrock opened #3069 "Support for COMRADES platform evaluations in September"
## Overview
The output of this Epic will be a few deployments that are spun up with all COMRADES features available (including the "multiple deployments" view - #2799 - which seems to have fallen off the radar) for a COMRADES simulation and evaluation at some point in September. Another output will also be a schedule of support for the deployers.

## Who is it for? Who are the users?
This is for T

[2018-06-05 17:04] jrtricafort commented on #2491
Great! I will change this issue accordingly. Would like to get this in this
cycle.

On Mon, Jun 4, 2018 at 11:51 PM Romina Suarez <notifications@github.com>
wrote:

--
----
Juan Ricafort
juan@ushahidi.com
+1.805.405.2558

[2018-06-05 18:22] rjmackay opened #3070 "Categories list"
# Categories List

## Overview
- As an admin, I should be able to see a list of my categories
- Admin should be able to delete categories
- Admin should be able to create / edit categories (actual UI for this provided by other features. Just ensure linking works)
- Admin can search/filter categories by ???

## Requirements

### UI routes and views

- /settings/categories
    - replace existing ang

[2018-06-05 18:22] rjmackay opened #3071 "Categories Edit"
# Categories Create / Edit

## Overview
- As an admin, I should be able edit categories
- As an admin, I should be able create categories
- Admin should be able to delete categories (from edit view)
- As an admin I should be able to add new categories and sub-categories
    - sub categories should have the same permissions as parent categories

## Requirements

### UI routes and views

- /settings

[2018-06-05 18:22] rjmackay opened #3072 "Categories Create"

[2018-06-05 18:47] Shadrock opened #3073 "Create Complete Uchaguzi Dataset for COMRADES use"
## Overview
The output of this Epic (perhaps just an issue?) will be a complete dataset of Uchaguzi data in .csv format. While there have been several Uchaguzi datasets downloaded for COMRADES all of them have been difficult to use (requiring concatenation; confusing headers; etc.) and we need a _complete_ and unified dataset for evaluations.

## Who is it for? Who are the users?
This is for use b

[2018-06-06 15:34] jrtricafort commented on #3068
@aoduor it sounds like we can close this now, is that correct? Can you confirm with the user that they can now access their deployment from this link? https://ormet.ushahidi.io/

I think we had a typo in a previous version of the link we were using to test.

It also sounds like this was a new deployment that might have not been live yet at the time the user was trying to access it. Is that correct

[2018-06-06 15:36] aoduor commented on #3068
Yes. Correct on both fronts. I'll close out.

User confirmed being able to access.

Thank you both.

[2018-06-06 15:36] #3068 closed

[2018-06-06 16:43] jrtricafort opened #3075 "Incorporate Accessibility practices into our Dev Proc Docs v1.0"
Capturing these actions from Accessibility session at Hit Team.:

- [ ] Add Accessibility to specing practices
- [ ] Add Accessibility to code review practices
- [ ] Add Accessibility testing to QA document
- [ ] Add Accessibility tooling for developers

@rowasc @willdoran let me know if you'd like these broken out as separate issues under an epic.

Aha! Link: https://ushahiditeam.aha.io/features/

[2018-06-06 21:20] jrtricafort commented on #3034
Ok. @justinscherer are you good with the spec for this being a one-word change of "Save" -> "Send"? This sounds reasonable to me. If so, I'll queue it up as an issue to do next cycle.

Tagging @rowasc - this should hopefully be a quick 1-point enhancement

[2018-06-06 21:20] jrtricafort commented on #3057
@willdoran Looping you in on this. Let's discuss this week.

[2018-06-06 21:21] jrtricafort commented on #3067
@willdoran Looping you in on this. Let's discuss here this week.

[2018-06-06 21:21] jrtricafort commented on #3069
@willdoran Looping you in on this. Let's discuss here this week.
@Shadrock Flagging that Multiple Deployments is not production ready and I don't think we'll be able to get in place for this.

[2018-06-06 21:22] jrtricafort commented on #3073
@willdoran Looping you in on this. Let's discuss here this week.

[2018-06-06 21:41] jrtricafort commented on #3057
Connected with @willdoran , capturing notes

For @Shadrock
-Yes, we can set up a call with them next week.
-When does the integration need to happen?

Questions for University of Sheffield
-Is there an adapter involved?
-We need documentation for those two integrations

If this is straightforward, Will estimates ~1 day dev work.

[2018-06-06 21:55] jrtricafort commented on #3067
Connected with Will.

Questions for @Shadrock
-We need clarification on what exact data should be on here. Can we decide this or is this something COMRADES decides?
-Does the deployment need to be on its own domain, or can it be something like comrades.ushahidi.com ?

Risk:
-If the data requirement comes from COMRADES and is complex (e.g. that twitter data is in a tough format) then this could bal

[2018-06-06 22:01] jrtricafort commented on #3069
As for the actual support during the evaluations in September, we can provide developer support for this, we just need to know more of the specifics (i.e. schedule) how the evaluations will be run and on how the feedback will be provided.

[2018-06-06 22:12] jrtricafort commented on #3073
1) We (Platform team) @willdoran will do a CSV export of the entire Uchaguzi data with the newly-corrected columns. We will do one export that includes all surveys, as well as separate exports for each survey type.

2) Share with @Shadrock and have conversation about what else he needs of that CSV.
Possible outcomes and actions:
2a) CSV now matches what Shadrock needs -> Woohoo
2b) CSV contains ad

[2018-06-07 01:13] jrtricafort commented on #3025
Updating: We got on a call to investigate this. It was a configuration issue with Frontline and is now solved.

@dukedanny could you add the names of the configuration fields that we changed here? It would be good to capture for our documentation of setting up targeted SMS.

[2018-06-07 01:13] #3025 closed

[2018-06-07 01:38] rjmackay commented on #3069
We can easily add some more deployments to the existing dashboard, or replace the ones that are there. I'm not sure if there are more requirements than that.

[2018-06-07 01:40] jrtricafort commented on #3069
@Shadrock @willdoran  I caught up with @rjmackay and got some more context here about Multiple Deployments. I may have been misunderstanding this earlier, so you can disregard my previous comment on it. It sounds like we don't even need to deploy another Multiple Deployments dashboard-- we can use the existing one and add new deployments to it (Lumen shouldn't break this).

[2018-06-07 02:36] rowasc commented on #3034
Excellent. Yea, 1pointer @jrtricafort

[2018-06-07 13:02] #2804 closed

[2018-06-07 19:00] rowasc commented on #3038
@willdoran should we move this to QA Backlog for Eve to re-test?

[2018-06-07 19:03] rowasc commented on #2587
@crcommons this would be Done, right?

[2018-06-07 19:56] #3043 closed

[2018-06-07 19:56] #2587 closed

[2018-06-07 19:56] #3053 closed

[2018-06-07 19:57] #2905 closed

[2018-06-07 19:58] rowasc commented on #2905
We do not need to continue with this since we are following existing standards by google and the modifications are noted in the spreadsheet in this ticket already

cc @crcommons per our discussion

[2018-06-07 19:59] rowasc commented on #2759
Note to self: this is a ticket that we have each cycle

[2018-06-07 21:47] jrtricafort commented on #2491
@rowasc I updated this ticket to redefine it as a feature request. I sent an update to the user with our new plan, and am waiting on his confirmation that this will serve their needs. I will report back here.

@aoduor - Romina also mentioned that if we are adding "Manage Collections" it would also be trivial/sensible to add one for "Manage Categories". How does that sound? I'm assuming this is a g

[2018-06-08 18:56] jrtricafort commented on #2491
@rowasc @willdoran The user replied back to me and said that this sounds great, even better than the original "bugfix" suggestion. As discussed, I'm going to add it into this cycle and move to Ready for Spec since it does not need Design.

[2018-06-08 19:01] jrtricafort commented on #3033
Thanks @StaicyG adding this to bug backlog to consider for possible next cycles.
@rowasc tagging you for general awareness here, but no action needed at this time.

[2018-06-13 04:15] rjmackay commented on #1619
@willdoran I can't find the commits that fixed this at all. Are you sure it was resolved?

[2018-06-13 13:29] jrtricafort commented on #2491
@rowasc Great, I'll open that new ticket for Saved Searches and we can keep this one for Collections.

@aoduor Looping you in on this. I'll also create a documentation ticket to go along with this new enhancement. Let me know if you have any questions or concerns. Thanks!

[2018-06-13 13:55] rowasc commented on #2491
@jrtricafort Please say TRUE/FALSE to these  (we might want to just jump on a call, there are many questions here .. )
- [ ] As a user with the MANAGE_COLLECTION setting, I can edit the collection's name if the collection has that role selected under "can edit" .
- [ ] As a user with the MANAGE_COLLECTION setting, I can edit the collection's permissions if the collection has that role selected und

[2018-06-13 13:57] jrtricafort opened #3076 "Upgrade to higher Testpad Account"
Paraphrasing from @rowasc :

We keep hititng our limit on Testpad, which blocks Eve. We should get a subscription with a higher limit ASAP. Otherwise, test-pad does not serve its purpose very well

[2018-06-13 14:04] rowasc commented on #2781
@jrtricafort were you able to repro this?

[2018-06-13 14:05] rowasc commented on #3004
@jrtricafort I think we should drop this from cycle 5, as we will not get to it

[2018-06-13 14:05] rowasc commented on #3006
@jrtricafort I think we should drop this from cycle 5, as we will not get to it

[2018-06-13 14:05] rowasc commented on #3007
@jrtricafort I think we should drop this from cycle 5, as we will not get to it

[2018-06-13 14:16] jrtricafort commented on #2491
@rowasc sent an invite for a call to answer these q's

[2018-06-13 14:57] #3038 closed

[2018-06-13 14:57] rowasc commented on #3038
Closed as this is in production  already

[2018-06-13 16:41] jrtricafort commented on #2491
@rowasc See new description above for answers to your questions.

[2018-06-13 16:50] jrtricafort opened #3077 "SupportDocs: User Roles - New Permission for "Manage Collections and Saved Searches""
Existing SupportDocs page: https://www.ushahidi.com/support/custom-roles#add-a-role

There is a new enhancement to Role Permissions: https://github.com/ushahidi/platform/issues/2491

As such, we have to make changes to our documentation. We will also use this opportunity to further clarify how Collections work (i.e. Collection ownership)

-clarify that Admin can NOT be edited
-add Manage Collectio

[2018-06-13 16:53] jrtricafort opened #3078 "Add link to Permissions Documentation on Roles page"
Current Behavior:
As a user, when I edit Settings/Roles, I can see a list of Permissions checkboxes. But I don't know what the Permissions actually mean, aside from the title of the permission.

![image](https://user-images.githubusercontent.com/37776843/41365967-d24ad1c8-6f08-11e8-939b-b9bf1136851d.png)

Solution:
- [ ] Copy that sits above the checkbox lists, under the title 'Permissions' should

[2018-06-13 16:55] jrtricafort commented on #3078
@Erioldoesdesign Is this something you could provide some quick copy on? We just need one sentence (or maybe a phrase/not even a full sentence) providing a link to our support documentation from this page.

@rowasc This is what we discussed in relation to Manage Collections.

[2018-06-13 17:11] willdoran commented on #1619
Yeah this was fixed in february it seems
https://github.com/ushahidi/platform/commits/develop/src/Core/Tool/Authorizer/RoleAuthorizer.php?author=willdoran

[2018-06-13 17:49] rowasc commented on #3054
@Angamanga i think this should be a 3. What do you think(we didn't estimate initially, but better late than never :( )

[2018-06-13 17:50] rowasc commented on #3054
(without counting the external tickets we linked from here)

[2018-06-13 17:55] rowasc commented on #2749
@Angamanga @sethburtonhall is this in the correct pipeline ? (Ready for Dev)

[2018-06-13 17:55] rowasc commented on #2748
@Angamanga @sethburtonhall is this in the correct pipeline ? (Ready for Dev)

[2018-06-13 17:55] rowasc commented on #2746
@Angamanga @sethburtonhall is this in the correct pipeline ? (Ready for Dev)

[2018-06-13 17:55] rowasc commented on #2745
@Angamanga @sethburtonhall is this in the correct pipeline ? (Ready for Dev) Do we need to divide this  into smaller issues?

[2018-06-13 18:32] willdoran commented on #2491
@rowasc Is it correct that the existing permissions for owners and non-users remain the same?

[2018-06-13 18:33] crcommons commented on #3019
Closing as there isn't any QA required.

[2018-06-13 18:33] #3019 closed

[2018-06-13 18:34] rowasc commented on #2491
@willdoran existing permissions remain the same. Admin permissions remain the same, but we should include the "Manage collection" permission in the default admin role, I think, since that role always has all permissions. Editing

[2018-06-13 18:34] willdoran commented on #2491
@rowasc Is it correct that this will have 0 affect on existing deployments because they only change is the inclusion of a new permission?

[2018-06-13 18:37] rowasc commented on #2491
@willdoran yes.
For database changes, it should be only Inserts
INSERT: New permission "MANAGE COLLECTIONS" has to be added in the permissions table
INSERT: New permissions "MANAGE COLLECTIONS" should be assigned to Admin role by default in the roles_permissions table

For code, it should only check against the new permission, and not modify the behavior for anything else.

[2018-06-13 18:38] willdoran commented on #2491
Ok looks good, I approve.

[2018-06-13 18:40] rowasc commented on #2491
Setting estimate as 2 , agreed with Will in slack

[2018-06-13 18:43] rowasc commented on #2491
@Eve-wanderi can you start writing the regression tests for this and thinking of different test scenarios for the ticket? Thanks!

 This will be done during the cycle 5

[2018-06-13 18:53] rowasc commented on #2586
I think This should be closed as you already defined >4 components (users, categories, surveys and their own components) to migrate, and it's not adding value by being in code review .
Is that correct?

[2018-06-13 18:53] rowasc commented on #3035
Closing as Robbie already did this

[2018-06-13 18:53] #3035 closed

[2018-06-13 18:53] rowasc commented on #3021
Closing as Robbie finished this

[2018-06-13 18:53] #3021 closed

[2018-06-13 18:54] rowasc commented on #2733
@crcommons we should sync on this before EOW , right?

[2018-06-13 19:00] rowasc commented on #2994
I think this ticket should be closed as  we don't have an action that can be done after it, it was "just" the merge and we are not QAing a merge, we are going to QA the migration itself
. @jrtricafort @crcommons toughts?

[2018-06-13 19:19] crcommons commented on #2733
@rowasc Yes, we need this to be complete before any code gets pushed to production. Let's get something on the calendar.

[2018-06-13 19:19] crcommons commented on #2994
@rowasc Agreed!

[2018-06-13 21:57] rowasc commented on #2994
Closing then. 👍

[2018-06-13 21:57] #2994 closed

[2018-06-13 21:58] rowasc commented on #2733
excellent sending invite, you can change it if it doesn't fit your schedule.

[2018-06-14 05:54] dukedanny opened #3079 "Enable targeted SMS feature for new DREAMS partner"
Regular dev request.

Please enable the targeted SMS feature for our new DREAMS partner RHSP.

URL: https://rhsp.ushahidi.io/

[2018-06-14 08:09] Alengai opened #3080 "CSV export from the Settings tab exports a full data set despite selecting particular fields to export"
## Overview
Export should correctly take account of fields/surveys selected only when exporting data

## Requirements
- Only selected fields and surveys should appear in exported data

## Acceptance criteria
- Go to the Settings->Data Export view
- Select a survey and a subset of fields to export
- [x] Ensure that only the selected survey(s) and field(s) are present in the exported CSV

#Acceptanc

[2018-06-14 09:04] Angamanga commented on #2745
Moving to ready for spec

[2018-06-14 09:05] Angamanga commented on #2746
@rowasc Moving to ready for spec

[2018-06-14 13:51] rowasc commented on #2491
@willdoran are you working on this ticket or should I do it today?

[2018-06-14 13:52] rowasc commented on #1610
@willdoran is this in the correct column? Are we blocked?

[2018-06-14 14:05] willdoran commented on #1610
@rowasc I'm not 100% sure, I don't think it should be in In Development, I'm moving it to ready for spec. I believe the solution for this is to change our nginx config and add some docs for OSS users.

[2018-06-14 14:07] jrtricafort commented on #3079
@rowasc @kinstelli This is just a simple feature flag on our end, right?

@dukedanny What country will this be? Once we set up the Targeted SMS feature on the platform for them, you can setup the SMS configurations, correct?

[2018-06-14 14:09] jrtricafort commented on #3079
Moved to Cycle 5, Ready for Spec.

[2018-06-14 14:14] dukedanny commented on #3079
@jrtricafort This is for Uganda. Yes, I actually have the SMS configurations already set up for the deployment.

[2018-06-14 14:42] kinstelli commented on #3079
@jrtricafort - yes, I think so. I believe I can do this in a few minutes

[2018-06-14 15:48] kinstelli commented on #3079
@dukedanny - Okay, this appears to be complete, at least as far as Platform is concerned. I'm not sure what SMS providers they will want to use, of course, but let me know if you need to coordinate testing.

[2018-06-14 16:56] jrtricafort commented on #3079
@dukedanny let me know if this is set up now for you and if we can close this.

[2018-06-14 17:17] jrtricafort commented on #3080
Tested and was able to repro this using the steps above.

@willdoran @rowasc I'm adding this as P2 since there is technically a workaround available and thus it won't block our upcoming training event on Monday. However, it is difficult to educate all 13 partner orgs on this workaround in the meantime, so we should address this next week at the beginning of Cycle 6 . Does that sound reasonable?

[2018-06-14 17:53] dukedanny commented on #3079
@jrtricafort I confirm that I've been able to test the targeted SMS feature with success on this deployment. Thanks for the support @kinstelli

[2018-06-14 21:41] jrtricafort commented on #2781
I was not. DREAMS is also reporting that CSV export from Data Mode->Filter is working as expected. Let's close this and reopen if it pops back up.

[2018-06-14 21:41] #2781 closed

[2018-06-14 21:41] jrtricafort commented on #3079
Great, thanks @dukedanny and @kinstelli !

[2018-06-14 21:41] #3079 closed

[2018-06-14 22:59] rowasc commented on #2491
Update for later: waiting on permission text to be defined to update ticket and approve PR .

[2018-06-14 23:00] rowasc commented on #2005
@Eve-wanderi can you confirm this was tested and passed/not passed? -as discussed earlier today, need to re-test-

[2018-06-14 23:00] #2996 closed

[2018-06-14 23:01] #3000 closed

[2018-06-14 23:01] #2999 closed

[2018-06-15 02:15] rjmackay commented on #3020
Here's the published link to the lucid chart https://www.lucidchart.com/documents/view/4b6f2372-a4bd-4139-b09b-74be0567d4ba
I think that'll work for anyone to view

[2018-06-15 03:13] rjmackay commented on #2798
I think this may be resolved now? I updated settings in Chargebee that were incorrectly set.

[2018-06-15 03:37] rjmackay opened #3082 "Backport fixes to master"
## Overview
Backport fixes from develop to master, before releasing audit report.

## Requirements
- [x] Backport #2851
- [x] Backport #2876
- [x] Backport #2896

## Acceptance checklist
### Roles:
- [x] With Roles feature enabled set to false
- [x] Attempt to create/update a new role via HTTP Post
- [x] You should receive a 422

### Password reset
Using link
- [x] Open a deployment where you have

[2018-06-15 04:36] rjmackay commented on #1621
@willdoran did this end up being fixed anyway?

[2018-06-15 04:44] rjmackay commented on #1612
This is probably not worth fixing in Kohana. But should be doable in Lumen.

## Overview
Add an API endpoint for destroying an oauth session

## Requirements

### API endpoint definitions

- New endpoint: `POST /oauth/logout` (to match `/oauth/token`
- Implemented purely in Laravel, doesn't need to touch app core
- Empty payload

### New UI behaviour

- When a user logs out, send a POST request to

[2018-06-15 04:48] rjmackay commented on #1609
Requirements:

- Update configuration to include this header by default
- Maybe: Update ushahidi.io to include this header for all URLs except explicit embed URL
- Update documentation to include header
  - Be sure to explain the impacts on our ability to embed this site

- Assess and spec: Adding an embed-only entry point (ie. `embed.html`) which doesn't include the rest of the site
  - This is f

[2018-06-15 04:49] rjmackay commented on #1624
@dalezak what operations scopes does the ushahidi app need with Vimeo? A quick check looks like it has more than necessary. Could we get by with only the upload scope?
That would be a quick and easy security win.

[2018-06-15 15:15] willdoran commented on #1621
I think so yes

[2018-06-15 16:27] #2643 closed

[2018-06-15 17:29] rowasc opened #3083 "Lat & Lon columns for location fields in CSV files with HXL tags should have different HXL tag+attributes"
## Overview
When you map a "#geo+lat" or "#geo+lon+lat" or r "#geo+lat"  to a location field, that will be assigned to both lat and lon, and there's no way to assign the correct attributes to each. This is incorrect as each column should be mapped to the correct attribute. We will make the assumption that when a user adds a +lat or lon to a #geo tag, they are adding both and want a correct export

[2018-06-15 17:32] rowasc commented on #3083
@willdoran @shadrock @Erioldoesdesign I think we should discuss this as it came up during our demo (when HDX was demo-ed to Shadrock) and it looks pretty bad.
From a user perspective, I'm not so sure of what's the correct thing to do. Ideas? Thoughts?
IMO this should be considered for cycle 6

[2018-06-15 17:45] rowasc commented on #2491
@Erioldoesdesign @justinscherer initially we were thinking of this as a "manage collections" permission since that was the original request, but Will pointed out that the collections and saved searches are basically the same entity and use the same authorizer, so it doesn't make a lot of sense for the backend to handle them differently. This presents the problem of using either "Manage collections

[2018-06-15 17:53] rowasc opened #3084 "<Icon> component for react migration"
## Overview
To be able to add svg Icons in the client for the react app in a way consistent to react, we need a react component that has the available/used SVG icons, receives the icon name and returns the component.
This blog post is pretty complete and explains this process in detail https://medium.com/@david.gilbertson/icons-as-react-components-de3e33cb8792

## Requirements
Add a new <Icon /> c

[2018-06-15 17:55] rowasc commented on #516
@rjmackay should we close this?

[2018-06-15 17:56] rowasc commented on #2888
@rjmackay do you need me to write this and test it? I have some steps in a doc from when we set it up

[2018-06-15 18:39] rowasc commented on #2625
@jrtricafort is this something we are going to work on soon? Should it go into a cycle (6/7/any) ?

[2018-06-15 18:41] rowasc commented on #2081
@willdoran do you know if any of the changes we are backporting to kohana going to solve this?
`testing that auth does not fail when sending reports from bot to platform (this can be tested once Lumen is landed)`

[2018-06-15 18:43] rowasc commented on #3067
@jrtricafort this should be assigned to cycle 6, right?

[2018-06-15 18:53] willdoran commented on #2081
@rowasc This should be retested, though I'm not sure if we have a set up that can be used for test. @Angamanga do we have a working facebot somewhere?

[2018-06-15 19:13] rowasc commented on #3047
@willdoran can you help me review/improve this spec? Not sure what else to add here

[2018-06-15 20:21] rowasc commented on #2986
@jrtricafort I think this should be part of cycle 6, as not doing it raises a requirement to ask the user to re-validate their user id when generating an HDX export, which is more complex than just moving this to the correct screen.
We still  need to improve our export validation but this is an 'easy' improvement that would make it way more usable and allow users to make mistakes without having to

[2018-06-15 20:23] rowasc commented on #2987
@willdoran what would you rank this, in terms of priority? P1?

[2018-06-15 20:23] sethburtonhall commented on #2766
Can you link to a mock example of bulk actions? I have styles for bulk selected list below but I need more info.

![image](https://user-images.githubusercontent.com/1033332/41487826-32680a3e-70b8-11e8-9d46-7c4d97de241b.png)

[2018-06-15 22:36] kinstelli commented on #3056
This spec mostly looks good, but before we put this in ready for dev,  we should probably clarify any of the items that have question marks:
- "if saving results in an error, redirect to 404 with explicit error message (should we stay on page with edited data????)"
- "if saving errors...?"

And I could have sworn we decided against this, but I could just be confused after all of our discussions: "

[2018-06-18 13:23] Erioldoesdesign commented on #2491
Let's not use language that isn't used elsewhere. So if we don't refer to collections+saved searches as 'sets' anywhere else, let's not start adding new terms to our lexicon now.

My hunch is that not many people used saved searches as it is 1) Hard to find and 2) Hard to understand what it actually does when you get it to work properly so if the backend treats saved searches and collections permi

[2018-06-18 13:37] #2745 closed

[2018-06-18 13:40] #2750 closed

[2018-06-18 13:42] #2749 closed

[2018-06-18 16:34] jrtricafort commented on #2491
@Erioldoesdesign I agree with your reasoning for why we should not use "Manage Sets."

Between the two options, I prefer "Manage Collections and Saved Searches" because even if Saved Searches is not heavily used, I'd rather bias towards transparency when it comes to something like permissions. Part of the weakness of our UX around permissions right now is opacity in what we call things. My hunch i

[2018-06-18 17:46] crcommons commented on #3056
You can see in the designs that we are supposed to keep buttons disables for the /edit view, but not the /create view. https://xd.adobe.com/view/e8878276-4282-4a3c-59e9-3a9fa771fc90-9eb6/screen/dbd984f9-6fdf-4f06-9c6f-697c70390467/settings-people-Lauren-Ipsum

Will look into error states

[2018-06-18 18:17] Erioldoesdesign commented on #3056
(added in from slack convo)

In what scenarios would a user get an 'error' here though?

I can see a few different things that I would want to be inline/validation errors on the fields e.g.

1. User doesn't include a @ or .com in an email
2. User doesn't type in a minimum amount of digits for a phone number for that country code
3. User doesn't include correct info for twitter and/or facebook (@ o

[2018-06-18 18:36] rowasc commented on #3042
Closing as its covered by the user list

[2018-06-18 18:36] #3042 closed

[2018-06-18 18:40] rowasc commented on #3045
Closing as this is covered in user list

[2018-06-18 18:40] #3045 closed

[2018-06-18 18:43] rowasc commented on #2991
@crcommons is this ticket happening somewhere else (ie user create) ? should we close or keep it ? is it in the right column?

[2018-06-18 18:47] #2991 closed

[2018-06-18 18:47] crcommons commented on #2991
@rowasc Closed it because we're now addressing validation in users components.

[2018-06-18 18:52] #2823 closed

[2018-06-18 18:58] #2813 closed

[2018-06-18 18:58] #2848 closed

[2018-06-18 18:58] #2854 closed

[2018-06-18 18:58] #2858 closed

[2018-06-18 18:58] #2892 closed

[2018-06-18 18:58] #2807 closed

[2018-06-18 18:58] #2808 closed

[2018-06-18 18:58] #2840 closed

[2018-06-18 18:58] #2881 closed

[2018-06-18 18:58] #2969 closed

[2018-06-18 18:58] #2976 closed

[2018-06-18 18:58] #2516 closed

[2018-06-18 18:58] #2519 closed

[2018-06-18 18:58] #2818 closed

[2018-06-18 18:58] #2841 closed

[2018-06-18 18:58] #2856 closed

[2018-06-18 18:58] #2873 closed

[2018-06-18 18:58] #2938 closed

[2018-06-18 18:58] #2980 closed

[2018-06-18 18:58] #2814 closed

[2018-06-18 18:58] #2874 closed

[2018-06-18 18:58] #2880 closed

[2018-06-18 18:58] #2944 closed

[2018-06-18 18:58] #2977 closed

[2018-06-18 18:58] #2521 closed

[2018-06-18 18:58] #2805 closed

[2018-06-18 18:58] #2809 closed

[2018-06-18 18:58] #2810 closed

[2018-06-18 18:58] #2816 closed

[2018-06-18 18:58] #2855 closed

[2018-06-18 18:58] #2869 closed

[2018-06-18 18:58] #2879 closed

[2018-06-18 18:58] #2937 closed

[2018-06-18 18:58] #2942 closed

[2018-06-18 18:58] #2943 closed

[2018-06-18 18:58] #2936 closed

[2018-06-18 18:58] #2983 closed

[2018-06-18 18:59] jrtricafort commented on #2871
Moving to Icebox because requires Server-Side rendering, which we would like but not happening soon.

[2018-06-18 19:00] jrtricafort commented on #3080
@jrtricafort and @rowasc to sync on this during Spec week.

[2018-06-18 19:28] #2747 closed

[2018-06-18 19:55] Erioldoesdesign commented on #3056
@justinscherer We had a slack conversation around this and settled on inline validation/errors and 404 page when server falls down (and users lose any edits) because I'm pretty sure we want to attempt to depreciate the snackbar/pop-up notification thingy.

[2018-06-18 20:48] rowasc commented on #3009
Discussion happened.
output (from Carolyn)
*Errors when requesting data from the API:*
- if unusable, semi-complete data (like getting roles for create user form), send user to 404 with explicit error message (we still need to design and build the 404)
- if the page is still usable (like the user data doesn’t load for a post), lazy-load data forever
*Erros when saving data:*
- First, check on subm

[2018-06-18 20:48] #3009 closed

[2018-06-18 20:49] rowasc commented on #2835
@Angamanga should we close this since you opened new ui tickets? or is it still useful/something to scope

[2018-06-18 20:50] rowasc commented on #3055
Closing covered in delete user

[2018-06-18 20:50] #3055 closed

[2018-06-18 20:51] rowasc commented on #3049
@crcommons is doing the roles version of this refactor

[2018-06-18 20:52] #3049 closed

[2018-06-18 20:52] #3044 closed

[2018-06-19 00:56] rjmackay commented on #516
Its not fixed. I'll update the ticket with actual details on whats broken

[2018-06-19 01:00] rjmackay commented on #516
Updated:

[2018-06-19 01:00] rjmackay commented on #516
Updated:

URLs for form attributes and stages don't include the form parent
ie. URLs are returns like
- `http://qa.api.ushahididev.com/api/v3/form_attributes/53` instead of `http://qa.api.ushahididev.com/api/v3/forms/7/attributes/53`
- `http://qa.api.ushahididev.com/api/v3/form_stages/2` instead of `http://qa.api.ushahididev.com/api/v3/forms/7/stages/2`

[2018-06-19 01:01] rjmackay commented on #516
@rowasc we can backlog this. It's not super significant, just annoying

[2018-06-19 01:04] rjmackay commented on #2888
@rowasc that would be amazing. There are existing docs here: https://www.ushahidi.com/support/install-ushahidi

@aoduor was authoring some other docs but I forget where those live, so check in on that too.

[2018-06-19 06:44] #2835 closed, assigned to Angamanga

[2018-06-19 09:24] aoduor opened #3085 "Platform sends out responses to SMS messages multiple times"
**Describe the bug**
User was sending a response to a text message received on a DREAMS deployment via data view. User sent a single response message "How did you find the training" to respondent. The respondent received this message from Ushahidi user more than 30 times.

**To Reproduce**
Steps to reproduce the behavior:
1. Log into any ushahidi.io deployment
2. Select an unstructured message fro

[2018-06-19 12:29] Erioldoesdesign commented on #3078
Well first things first, is there a reason we refer to 'posts' in the management and support docs when in the deployments they are titled as 'reports'? We have a few places where consistency is iffy with our terminology

Copy that sits above the checkbox lists, under the title 'Permissions' should be italic text and something like:
'These options control what this type of role can make changes to.

[2018-06-19 13:03] Erioldoesdesign commented on #3034
@jrtricafort @rowasc  Just confirming that changing the button copy from "Save" to "Send" is the right course of action from Design POV

[2018-06-19 13:16] Hazellaura opened #3086 "Unable to Name Saved Searches"
**Describe the bug**
We were trying to create new saved searches. We were able to filter and select the specific search but were unable to complete the process by naming the saved search and saving it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the sort and filter menu via the map view.
2. Click on a key word to search e.g. District name and then filter out any other fields or cat

[2018-06-19 13:57] aoduor commented on #3078
Hey @Erioldoesdesign thanks for flagging this. When we switched to v3, we changed terminology to posts. There should be no reference of reports anywhere on platform/support docs.

[2018-06-19 14:07] jrtricafort commented on #3085
@aoduor @dukedanny What is the SMS setup for this deployment? Can you provide the configuration details?

[2018-06-19 14:09] jrtricafort commented on #3086
@aoduor @Hazellaura Can you provide (via a private channel like LastPass) information on how to log into this deployment? We need a support@ account or admin@ account to be able to test. Or please upgrade my juan@ account so it has admin access.

[2018-06-19 14:19] rowasc opened #3087 "Invalid or expired reset token error while trying to set my new password"
**Describe the bug**
When I try to reset my password by clicking the link in the reset password email, I get an error "Invalid or expired reset token".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a ushahidi.io deployment
2. Click on the Login button
3. In the login modal, click on "forgot your password? "
4. In the "Forgot your password" modal, set your email and hit the "RESET MY

[2018-06-19 14:20] rowasc commented on #3087
@jrtricafort I found this while trying to reproduce another issue. Can you prioritize?

[2018-06-19 14:32] jrtricafort commented on #3086
Marked as P0.

Tag @rowasc and @willdoran . Let's get Dev attention on this as well. Contact me if we need clarity on what should get deprioritized so that this can be supported. Please reach out to Hazel or me if you need a login.

I was able to repro this.

[2018-06-19 14:45] jrtricafort commented on #3087
@rowasc If this bug is currently live in the production environment and reproducible in all Forgot Password cases, then this is a p0 since there is no workaround.