[2017-06-07 01:05] caharding opened #1781 "Facebook QR code"
Investigate for 30m if the QR code location encoding is worth doing. Scope eng time.

[2017-06-07 01:06] caharding opened #1782 "Add language switching support for Swahili"
In the menu, add language switching support for Swahili

[2017-06-07 01:07] caharding opened #1783 "Use user profile API to detect language (En/Swahili)"

[2017-06-07 01:07] caharding opened #1784 "Use Chat Extensions API to bring in Uchaguzi web view to submit a full report"

[2017-06-07 02:25] #1689 closed

[2017-06-07 02:25] #1628 closed

[2017-06-07 02:25] #1528 closed

[2017-06-07 02:25] #1327 closed

[2017-06-07 02:26] #1651 closed

[2017-06-07 02:26] rjmackay commented on #1651
@jshorland do we need a task to track adding this to mobile?

[2017-06-07 02:26] #1672 closed

[2017-06-07 02:27] #1511 closed

[2017-06-07 02:28] #1392 closed

[2017-06-07 02:29] rjmackay commented on #1595
Waiting for #1734 to be finished before this is enabled

[2017-06-07 02:31] rjmackay commented on #1625
@tuxpiper how can I QA this? or is it deployed and we should just close?

[2017-06-07 02:31] rjmackay commented on #1613
@tuxpiper how can I QA this? or is it deployed and we should just close?

[2017-06-07 02:31] rjmackay commented on #1600
@tuxpiper how can I QA this? or is it deployed and we should just close?

[2017-06-07 02:34] rjmackay commented on #1600
`nmap ushahidi.com` still shows port 22 as open

[2017-06-07 02:37] #1668 closed

[2017-06-07 02:38] #1549 closed

[2017-06-07 02:39] rjmackay commented on #1423
@tuxpiper closing this out. Reopen if there was still work to do.

[2017-06-07 02:39] #1423 closed

[2017-06-07 02:41] rjmackay commented on #711
Part of #1372

[2017-06-07 02:41] #711 closed

[2017-06-07 02:44] #510 closed

[2017-06-07 02:44] #460 closed

[2017-06-07 02:47] #435 closed

[2017-06-07 02:48] rjmackay commented on #675
Done in #1372

[2017-06-07 02:49] #675 closed

[2017-06-07 02:49] rjmackay commented on #451
Done in #1372

[2017-06-07 02:49] #451 closed

[2017-06-07 02:53] rjmackay commented on #1177
I believe this was completed in the last release

[2017-06-07 02:53] #1177 closed

[2017-06-07 02:53] #1654 closed

[2017-06-07 02:54] rjmackay commented on #1340
Installation works just fine with the current set of packages

[2017-06-07 02:55] #1325 closed

[2017-06-07 02:57] rjmackay commented on #1548
Does this have any resolution? Can we close or Icebox it?

[2017-06-07 03:05] rjmackay commented on #1602
I don't think this makes sense given that requests are always authenticated. If auth was via cookie it would be a concern, but it isn't. They can't pull the oauth token from local storage unless there's already an XSS issues. @willdoran am I missing something?

[2017-06-07 03:09] rjmackay commented on #1597
Looking at the referenced pages. We *are* using prepared statements, and escaping, however we're still outputting debug info in production.

We just need to fix this in the deployment scripts

[2017-06-07 03:09] rjmackay commented on #1597
@tuxpiper could you look at this? we should be setting `KOHANA_ENV=production`

[2017-06-07 03:10] rjmackay commented on #1597
Hrm. Actually maybe I'm wrong. We might still be outputting the error regardless of KOHANA_ENV. Guess we need to sanitize those errors somehow

[2017-06-07 03:11] rjmackay commented on #1601
Deployment issue: need to set APP_DEBUG=false on platform-cloud-interface

[2017-06-07 03:12] rjmackay commented on #1598
`post_date` is user editable by design. `created` should not be however.

[2017-06-07 03:15] rjmackay commented on #1604
This issue was moved to ushahidi/platform-cloud-interface#173

[2017-06-07 03:15] #1604 closed

[2017-06-07 03:15] rjmackay commented on #1603
This issue was moved to ushahidi/platform-cloud-interface#174

[2017-06-07 03:15] #1603 closed

[2017-06-07 03:17] rjmackay commented on #1602
I'd actually argue the impact is lower than low. Its just not a bug.

[2017-06-07 03:21] rjmackay commented on #1605
- Disable mailgun rewriting the URL
- Ensure we use SSL

[2017-06-07 03:27] rjmackay commented on #1596
Not sure exactly how we do this. But perhaps the `dataCallback` option will allow it https://docs.sentry.io/clients/javascript/config/

[2017-06-07 03:30] rjmackay commented on #1608
I might be missing something... but I don't think they can run anything in the context of a logged in user, because they can't steal the users auth token?

[2017-06-07 03:32] rjmackay commented on #1609
This should be a simple fix.

For client: add this header via nginx config
For cloud ui: add the header via middleware

[2017-06-07 03:33] rjmackay commented on #1610
This should be a simple fix.

For client: add this header via nginx config
For cloud ui: add the header via middleware

[2017-06-07 03:33] rjmackay commented on #1611
This issue was moved to ushahidi/platform-cloud-interface#175

[2017-06-07 03:33] #1611 closed

[2017-06-07 03:37] rjmackay commented on #1619
- Check for user id in RoleAuthorizer
- Check this doesn't break client behaviour

[2017-06-07 03:40] rjmackay commented on #1624
That definitely the best solution, and allows for uploads from the web client eventually

[2017-06-07 03:42] rjmackay commented on #1620
Given our vagrant box is purely for dev. Closing as won't fix.

[2017-06-07 03:42] #1620 closed

[2017-06-07 03:44] rjmackay commented on #1621
This is by design. We need user info to display user names and avatars in the UI. Closing this

[2017-06-07 03:44] #1621 closed

[2017-06-07 03:44] rjmackay commented on #1612
- We should add an endpoint to destroy an oauth session

[2017-06-07 03:46] rjmackay commented on #1607
We have a rate limiter for auth, we should add that to this endpoint.

[2017-06-07 03:48] rjmackay commented on #452
These are now in the repo.

[2017-06-07 03:48] #452 closed

[2017-06-07 03:57] rjmackay commented on #778
I think this is done? @jshorland ??

[2017-06-07 04:02] #1411 closed

[2017-06-07 04:06] rjmackay commented on #1322
@tuxpiper is the set up we have for rollcall reusable here?

[2017-06-07 05:36] tuxpiper commented on #1322
It should be, although I'm not sure it's going to be the best option for the coming months while we are deploying several important changes in cloud. At some point, we may need to be able to serve one client version or another, depending on the deployment subdomain.

[2017-06-07 06:07] tuxpiper commented on #1322
Maybe we could use cdn only for (cachebusted) assets

[2017-06-07 06:33] tuxpiper commented on #1597
yep we have KOHANA_ENV=production everywhere I checked

[2017-06-07 07:44] rjmackay commented on #1613
This issue was moved to ushahidi/platform-cloud-ansible#32

[2017-06-07 07:44] #1613 closed

[2017-06-07 07:44] rjmackay commented on #1600
This issue was moved to ushahidi/platform-cloud-ansible#33

[2017-06-07 07:44] #1600 closed

[2017-06-07 07:44] rjmackay commented on #1625
This issue was moved to ushahidi/platform-cloud-ansible#34

[2017-06-07 07:44] #1625 closed

[2017-06-07 07:55] Angamanga commented on #1778
Existing content of the bot. The persistent menu is in last parts of the document: https://docs.google.com/a/ushahidi.com/document/d/1DIlBYze-NcazKobB0i4PGboc0SFJhr3iDFNCar-qVDU/edit?usp=sharing

[2017-06-07 07:55] Angamanga commented on #1779
Existing content is here:
https://docs.google.com/a/ushahidi.com/document/d/1DIlBYze-NcazKobB0i4PGboc0SFJhr3iDFNCar-qVDU/edit?usp=sharing

[2017-06-07 07:58] tuxpiper commented on #1774
Heads up @dalezak : this configuration parameter will probably appear as a property in GET /api/v3/config/map .

Would that be suitable to also enforce the zoom limit in the mobile app?

[2017-06-07 14:52] willdoran commented on #1602
This may have been a based on anonymous form submission. If we want to make sure only our client(s) can perform anonymous form submission CSRF is important. Otherwise it just acts as a deadbolt. Lumen has CSRF through Laravel, I think.

[2017-06-07 14:56] willdoran commented on #1548
I think we can close it, as the FIU no longer have an issue with categories. I think this may have actually been a cache issue.

[2017-06-07 14:56] #1548 closed

[2017-06-07 20:30] caharding commented on #1772
@ClearLakeHABMap can you please explain the use case further? Accounts that don't accept, won't be able to login. To clarify, the existing and new privacy policy both give the account owner ownership of the data submitted to the account.

[2017-06-07 20:56] Shadrock commented on #1772
In response to @rjmackay and, perhaps, @ClearLakeHABMap I can see valuable distinction between Ushahidi's need for this and a deployers need for this. As @caharding clarified above, this issue relates to Ushahidi - as an organization - updating its privacy policy. However, I could see a use case for offering this _functionality_ to OSS deployers: allowing them to configure a pop-up that spells out

[2017-06-07 22:20] jshorland opened #1785 "make sure EVERY USER ADDED agrees to terms of service"
Currently, admin can add users and they just sign in. don't agree to terms of service. We need to make sure on first login, they agree and change password.

[2017-06-07 22:21] #1696 closed

[2017-06-07 22:22] jshorland commented on #1697
@mazenbaroudi -- we're continuing to look into it!

[2017-06-08 11:51] aoduor opened #1787 "Custom field description not saving"
### Expected behaviour
When I click on "Show field description", once I enter the help text on this, and update this field, it should save and display the help text.

### Actual behaviour
Help text entered does not get saved when I update my custom field

### Steps to reproduce the behaviour/error
* Log into your deployment
* Click on settings
* Click on surveys
* Select a survey and create a cust

[2017-06-08 12:23] aoduor opened #1788 "Assign category as sub categories of another via category list page"
As an admin, I would like to be able to assign multiple categories as a subcategory of another, without having to click on individual categories and edit each one on its own.

Currently, I only have the delete option, as shown below.

![screenshot](http://i.imgur.com/olAsGRw.png)

Aha! Link: https://ushahiditeam.aha.io/features/PROD-597

[2017-06-08 12:43] ClearLakeHABMap commented on #1775
PII is incredibly important to our end users and clients. I believe that this could be pivotal in the ability for many clients to adopt the platform.

[2017-06-08 12:50] ClearLakeHABMap commented on #1772
@caharding : RE: In some situations, when working with US Federal agencies, PII is so important to the internal review board (IRB) that no project can occur without the PII being accepted to exist on a server with their permission. There could be a case where some information can only be accepted if an account is made and the person accepts the terms. If a deployment were to exist and need to be u

[2017-06-08 12:52] ClearLakeHABMap commented on #1728
This is still a major issue for our deployment.

[2017-06-08 12:54] ClearLakeHABMap commented on #1773
I am finding that our deployment backend address is not linking to the SMSSync app and will not work with the newest version of the ushahidi app. The description stated that it would work with privately hosted maps, but I am unable to get it to link to the map. Is this issue related? It appears to be based on the URL issues.

[2017-06-08 13:48] jshorland commented on #1728
Hi @clearlakeHABmap,

The latest release should include fixes for this. Are you hosted or OSS?

[2017-06-08 19:02] ClearLakeHABMap commented on #1728
OSS. I can update but it looked you were all working on a few more issues. Ready to pull the trigger.

Jay Colingham, MPH
Environmental Protection Specialist
Water Division - Tribal Office

Email: colingham.jay@epa.gov
Region 9: 1 (415) 972-3562
Research Triangle Park: 1 (919) 541-3122

Addresses:
WTR 3-4
75 Hawthorne St
San Francisco, CA 94105

D320L
109 T.W. Alexander Drive
Durham, NC 27709

Fro

[2017-06-09 08:31] aoduor opened #1789 "Permissions assigned to a top level category should apply to it's sub categories"
### Expected behaviour
When I set permissions to a top level category, the same should apply to all it's child categories. e.g, I have a top level category called Verification, with the sub categories "verified" and "unverified". When I set the "Verification" category permissions to viewable, only for specific roles i.e admin and verification teams, i expect that  the "Verified" and "Unverified" c

[2017-06-09 08:48] erapisardi opened #1790 "Categories: shouldn't be able to add a child category without also adding the parent category"
### Expected behaviour
New categories should be displayed in the post/survey form.

### Actual behaviour
New categories added to the initial set of categories are not displayed  in the post/survey form

### Steps to reproduce the behaviour/error
1. create some categories and sub categories
2. create and publish new post/surveys
3. add new categories not from the post/survey form, but from the sett

[2017-06-09 08:49] aoduor commented on #1790
Confirming that I'm experiencing this same issue.

[2017-06-09 09:16] Angamanga commented on #1790
@erapisardi @aoduor This is a part of the user-flow that is not intuitive enough. You need to manually add categories to each survey and you do that in settings->surveys->edit a survey->go to the categories-field and choose the new categories there. Then they should appear in the post. Think we need to look into this and find a better way of handling this. @aoduor suggested we keep all handling of

[2017-06-09 09:19] erapisardi commented on #1790
Thank you for the suggestion.
This is what I did. But as some new categories are subcategories I modified the new category in the settings panel. The problem is that the category is displayed but the parent category is not.

[2017-06-09 09:23] Angamanga commented on #1790
@erapisardi Hm, that definitely sounds like a bug, that should not be possible. Can you please check if the child- and parent-categories have the same roles set?

[2017-06-09 09:24] aoduor commented on #1790
@erapisardi see this .gif below for more details. I had to go in and edit the parent category for it to show.

![screenshot](http://i.imgur.com/mnC8WXS.gif)

[2017-06-09 09:26] aoduor commented on #1790
@angamanga i filed a separate issue on category permissions and roles, we have an issue on that front as well
https://github.com/ushahidi/platform/issues/1789

[2017-06-09 09:45] aoduor opened #1791 "Top level category checkbox should not remain selected if no subcategories under it are selected"
### Expected behaviour
If a category has subcategories, I shouldn't be able to select the top level category on its own.

### Actual behaviour
Granted, at the moment, selecting a top level category checks all its subcategories. However, deselecting each of the subcategories *still* leaves the top level category checked.

Proposed solutions
1. Make the top level category checkbox unselectable( is t

[2017-06-09 09:49] aoduor commented on #1771
@tuxpiper i think this got fixed with the new release. The delete button no longer exists next to the title and description fields.

see ![screenshot](http://i.imgur.com/49dRTMh.png)

[2017-06-09 09:50] tuxpiper commented on #1497
Related to #431 .

And bump!

[2017-06-09 09:51] #1771 closed

[2017-06-09 09:51] tuxpiper commented on #1771
Totally agree, thx @aoduor !

[2017-06-09 10:51] erapisardi commented on #1790
Thank you!

[2017-06-09 13:16] Angamanga commented on #1791
@aoduor I think this is the correct behaviour according to Brandons original plan. You are allowed to check a parent without its children, but not a child without its parent. Is this behaviour not good?

[2017-06-09 13:34] ClearLakeHABMap commented on #1791
@aoduor I understand where you are coming from. There are certain nested behaviors that cannot exist outside of their parent. In other situations, that is not the case. If the interface limits you to only view and review the subcategories, this could be a problem. In many cases, people will not know where to categorize something and expect someone more knowledgeable or experienced to assist. This

[2017-06-09 20:47] caharding opened #1793 "Bot user journey"
Map out all the flows for the bot

[2017-06-12 09:24] tuxpiper opened #1794 "Enable login with OAuth2 providers such as google, facebook, twitter"
1. New browser users should be able to sign up into platform, by using their account from one of the supported OAuth2 providers
2. Signed-up browser users should be able to link their account with one or several accounts from supported OAuth2 providers
3. Signed-up mobile app users should be able to log into a deployment, by using supported OAuth2 provider account credentials stored in their devic

[2017-06-12 09:52] tuxpiper commented on #1794
- [ ] Backend changes to verify authorisations provided by clients and store relevant account data from oauth2 provider
- [ ] Changes to platform's /oauth/token endpoint to accept authorisations generated by OAuth2 provider
- [ ] Changes in the browser client to initiate log in flows with OAuth2 providers
- [ ] Changes in the mobile client to integrate with mobile platform (iOS, Android) services

[2017-06-12 09:53] aoduor opened #1795 "Add Lat/Lon fields to location field options"
There are instances where a user is unable to find the location they're looking for using our geolocation tool BUT have coordinates to the location they want to add.

As a user, I'd like to be able to add lat/lon information if the location search feature doesn't work for me.

( This is crucial to our workflow for the geolocation team on Uchaguzi )

[2017-06-12 10:16] tuxpiper commented on #1794
Here's a summary / refresher on how the OAuth2 authorization flow works: https://aaronparecki.com/oauth-2-simplified/

[2017-06-12 10:41] aoduor commented on #1795
To be abit clear on how this would work, exactly what we have on the general settings page would suffice methinks! :)

[2017-06-12 10:54] aoduor opened #1796 "[Grammarly] Roving whitespace movement when adding a new category."
I don't know how best to describe this, so i'll just show you!

![screenshot](http://i.imgur.com/LOluZI2.gif)

Steps to reproduce
* Log into your deployment
* Click on settings, then categories
* Attempt to create a new category.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-595

[2017-06-12 10:58] aoduor opened #1797 "Limit assignment of (specific) categories by role."
***Original request:***
In the same way that I can limit who responds to a survey, but allow users to view surveys, I'd like to be able to limit who submits responses to a category, but still have people be able to see a post tagged to a category I've selected. e.g setting a post as verified should be handled by someone on a deployment team, however, the public should be allowed to view and differ

[2017-06-12 13:42] justinscherer commented on #1793
Targeting Tuesday to have this done.

[2017-06-12 14:34] justinscherer commented on #1793
Can someone take a stab at the intro-copy on this page.  Maybe @Nthiga?

Current copy reads:
"Hi <username>,

Let’s get started. Together, we can create reports on any suspicious or violent activity during the 2017 Kenyan general election."
![onboarding.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/593714fffc98e900201ba2a5/125516c66e82c728ace21e0d46e79a982c8391ad86e7b801

[2017-06-12 17:33] crcommons opened #1798 "Upgrade Deployment Plan fails on first try (when using a promo code)"
### Expected behaviour
After upgrading the deployment plan using a promo code, it should reroute to the deployment homepage with newly upgraded features available; it should also send confirmation email.

### Actual behaviour
Instead, the page reroutes to deployment homepage with original plan features; no email is sent. Take multiple tries for upgrade to work properly.

### Steps to reproduce the

[2017-06-12 18:04] justinscherer commented on #1793
As a title, I went with "Uchaguzi Citizen Reporter" as the name for the chatbot based on some copy I found in the about pages. Obviously open to feedback on this as well.

[2017-06-12 18:16] crcommons opened #1799 "Access Denied When Configuring twitter"
### Expected behaviour
Should have alternative instructions on how to create a a new twitter application.
### Actual behaviour
Instructions don't tell you to sign in before trying to create new twitter application. There is nowhere to sign in on the access denied page. Unclear instructions.
### Steps to reproduce the behaviour/error
First log out of twitter
Then in the platform go to Settings>Data

[2017-06-12 18:46] willdoran opened #1800 "Category display on Post Edit view"
### Expected behaviour
- The categories should display within a collapsed box to limit the space taken up

### Actual behaviour
- The categories display as a very long list of checkboxes which pushes other content far down

### Steps to reproduce the behaviour/error

[2017-06-12 18:48] willdoran opened #1801 "Categories: Select all when adding category field to survey"
### Expected behaviour
- When adding a category field to a survey, there should be an option to select all
- The category list should also display as a collapsed box to limit screen space taken up
### Actual behaviour
- Categories display as one long list and it is necessary to select each individually

### Steps to reproduce the behaviour/error

[2017-06-12 19:03] jshorland commented on #1796
Haha weird!

[2017-06-12 19:03] jshorland commented on #1797
I understand what you mean.

At the moment, no.

[2017-06-12 19:03] jshorland commented on #1797
We might want to think about adding a verified feature into the platform specifically for verification. Seems like tags aren’t *quite* enough

[2017-06-12 19:31] Angamanga commented on #1793
@justinscherer Thank you Justin! Wow, what a relief to have you looking through the flow, these are great adjustments. I will start going trough the flow tomorrow and see if I run into any hiccups when implementing it + see if I have answers to your questions/feedback.

[2017-06-12 22:40] caharding commented on #1772
Question: are you suggesting his feature for open source so open source deployments can create their own TOS?

[2017-06-12 22:42] Shadrock commented on #1772
@caharding Yes.

[2017-06-12 22:45] caharding commented on #1772
This TOS change only applies to hosted deployments. The open source license applies as he terms of service to all the open source users.

[2017-06-13 08:30] Angamanga commented on #1777
Part of  #1702

[2017-06-13 11:22] Angamanga commented on #1793
@justinscherer
Some input:
1. On the 'About Uchaguzi-menu', the title-length is limited to 30 characters which means 'How will  my information be used?' and ' Badilisha lugha / Change language'  are too long. I changed it to 'How will my info be used?' and 'Change language' for now.
2. On 'How do I submit a report?', the number of buttons are limited to 3. How about removing the facebook-option an

[2017-06-13 12:20] ClearLakeHABMap commented on #1772
@caharding I believe the benefit would also apply to users of open source deployments as well. Is there a way to enable that tool in the open source version as well?

[2017-06-13 13:42] Nthiga commented on #1793
@justinscherer below some further input:

1. Name for the chatbot another suggestion is Uchaguzi "Linda Kura Yako" or Uchaguzi Witness & Report
2. For the badilisha lugha/change language maybe just have "select language"
3. Another suggestion under about uchaguzi page for "How do I submit a report" would be just "How to Report"
4.Under response flows there seem to be a bit of repetition under get

[2017-06-13 14:21] justinscherer commented on #1793
@Angamanga : Thanks for your feedback. My responses below.

No problem re: character count. I will add a second level navigation for the languages so that we don't have to assume that Swahili-only speakers will know what "change language" means in English.

Also sounds good. I'll make the update.

That was my assumption, yes. It should open in the Messenger native browser. @Nthiga What's the URL g

[2017-06-13 14:28] justinscherer commented on #1793
@Nthiga Great suggestions, thanks!

How might we shorten the name a bit? How about
- "Uchaguzi Witness"
- "Uchaguzi Reporter"
- "Election Reporter"
- Is there another name we could use that's only 2 words long? You want to be able to think about the bot as a sentient being, kinda, that could introduce itself as "Hello, I am _____." @caharding any ideas on the name?

Good idea.

Agreed.

Thanks for

[2017-06-13 14:28] justinscherer commented on #1793
I'll work on a new cut of the doc today.

[2017-06-13 15:15] crcommons opened #1803 "Calendar doesn't display all days in month or navigational arrows"
### Expected behaviour
When using filter dates, calendar should display all dates within month and you should be able to move back and forth between months. Dates that are on dark colored lines should have light colored text.

### Actual behaviour
Weeks alternate between light gray and dark gray. Dates are nearly unreadable on dark gray lines. There are no ways to navigate through the calendar. If

[2017-06-13 15:46] justinscherer commented on #1793
@Angamanga the logo for the Uchaguzi bot is here:
https://www.dropbox.com/s/70dinwqm1mpetzs/uchaguzi_KE_square.png?dl=0
The header image I'm using is here:
https://www.dropbox.com/s/sci2bnti07nbx1l/uchaguzi3.jpg?dl=0

[2017-06-13 15:54] justinscherer commented on #1793
@Angamanga can the user edit their location or input a custom location? If not, we may need to create some ability to scrape the lat long from a map link or a free-text description of the location. Thoughts on this?

The user story would look like:

**As a person sending reports to Uchaguzi via the Facebook Messenger bot, I want to be able to add locations other than the location where I am at the

[2017-06-13 16:12] justinscherer commented on #1793
New version of the PDF with the changes we discussed:
[v1.1Uchaguzi Chatbot_13JuneJS.pdf](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/593714fffc98e900201ba2a5/125516c66e82c728ace21e0d46fec5d472b780a18eeeaa59ad1dd39c2852257c3d3bf2785a90ed2d9571394d4d1f0cf31b0d0c00eef39b2ea3e23d71de5f5eeb873f5973c53d47acb88a1eb653b874995397f4edd4189fb5646fb2c99d452c1c031288fb5432a39e4bcb5df44

[2017-06-13 16:25] Nthiga commented on #1793
@justinscherer the url to point this to is uchaguzi.or.ke

[2017-06-13 20:50] jshorland commented on #1252
issue should have been closed months ago. Sorry folks.

[2017-06-13 20:50] rjmackay commented on #1635
@crcommons you could look at this as a first issue in the API. This should be a change needed in the Media Formatter class somewhere.  Have a look around, and then I can give you a run through of *how* that various parts fit together

[2017-06-13 20:50] jshorland opened #1804 "Smart search"
I've staged a solution to this that focuses on making the "searchbar" an all-in-one tool for searching, filtering, and summarizing what filters are applied.

searchbar

How it appears depends a lot on the interaction and what's being done. It listens to and reflects what the user does within the "Filters" dropdown. It can be used for text-only filtering or as a summary of what's been configured in

[2017-06-13 20:50] #1252 closed

[2017-06-13 20:52] rjmackay commented on #1697
@willdoran can you look into whether we really allowed removing title + description in the API? ... assuming the API side is all fine, then @crcommons can dig into the client side

[2017-06-13 21:04] jshorland commented on #1798
Related to #169?

[2017-06-13 21:15] caharding commented on #1804
I love seeing this idea. The video interaction doesn't load though.  

a, pre, code, a:link, body { word-wrap: break-word !important; }

[2017-06-13 21:18] jshorland commented on #1804
@charlie sorry I didn't want to lose a piece of another issue that we decided not to implement for sake of time, but would like to put into backlog. The droplr brandon originally uploaded is gone. sigh.

[2017-06-13 21:19] jshorland commented on #1686
are we good to close this? we know what we have to deliver now?

[2017-06-13 21:19] jshorland commented on #1682
Can't replicate. Closing.

[2017-06-13 21:20] #1682 closed

[2017-06-13 21:21] jshorland commented on #1632
@aoduor I'd suggest that instead of putting a link on the map itself, we add it to the location search tool if no results can be found. Thoughts?

[2017-06-13 21:36] caharding commented on #1772
@ClearLakeHABMap thanks for describing your issue. I understand that in the case of some academic settings it may be more convenient to use the Ushahidi OSS tools under your own TOS. However our OSS terms are the OSS license. While it may be permissible within that license to fork the code and build new TOS, the spirit of the license is that users contribute back to the code base. Creating a tool

[2017-06-13 22:10] jshorland commented on #1795
@rjmackay @tuxpiper I thought the location search allowed for lat/lon too?

[2017-06-13 22:13] jshorland commented on #1791
Thanks for the input @clearlakehabmap! @aoduor @Angamanga I'm going to close this issue and put all feedback we've gotten on categories and their behavior into a new issue.

[2017-06-13 22:14] jshorland commented on #1790
@Angamanga so the bug here is that you shouldn't be able to add a child category without also adding the parent category, right?

[2017-06-13 22:39] jshorland commented on #1790
@rjmackay has a fix for this ready to be QA'd: https://github.com/ushahidi/platform-client/pull/661

[2017-06-13 22:44] jshorland commented on #1773
cc: @dalezak are you able to shed any light on what may be the issue here?

[2017-06-13 22:51] jshorland commented on #1769
Closing in favor of #1789

[2017-06-13 22:51] #1769 closed

[2017-06-13 22:53] jshorland commented on #1762
Hi @blackferrari -- I'd recommend spinning up a new instance of the Ushahidi platform, either our hosted version which takes a few minutes to create (ushahidi.io/create), or through the open source version which takes longer as you'll need to install and set up on your own servers and hosting.

[2017-06-13 22:55] jshorland commented on #1759
yeah, this'll drive a perfectionist nuts.

[2017-06-14 07:26] rjmackay commented on #1772
I think for OSS deployments, and probably for our hosted deployments too it would make sense to provide users submitting info with some kind of TOS/consent info. I'll add a new issue to track that though, as its kind of tangential to this one.

[2017-06-14 07:32] rjmackay opened #1805 "Present reporters with TOS or info about what their report is used for."
Forked from #1772:

Allow deployers to configure a modal/display that spells out whatever privacy/data policy they have set up for their deployment.

This should be relatively free form so that it could be a full TOS for some deployments, or it could just be a brief notice: "you data will be used for x, y and z".

For hosted deployments it should always be clear that our TOS applies regardless.

A

[2017-06-14 08:49] Angamanga commented on #1793
@justinscherer Thanks for the updated pdf!
In response to your questions:
1. We cannot trigger to open the image-upload for the user. They have to click that icon themselves.
2. We cannot detect if a user still is typing. I experimented with timeouts but that gets very hacky, could we add an explanatory text that the user can still keep adding text to the report in  the add-image/add-location-mess

[2017-06-14 12:20] ClearLakeHABMap commented on #1772
@rjmackay Thanks for understanding my issue. @caharding I don't believe that we are talking about the same thing. Robbie's description strongly fits the need. It presents a user with an understanding of what they are contributing. To deny the initial screen, would be a denial of the terms and conditions of posting. Thereby refusing consent. It helps educate our users. Sometimes, a deployment could

[2017-06-14 12:44] ClearLakeHABMap commented on #1773
@jshorland It is my understanding that this may have been an issue resolved in the latest Ushahidi update. We are about to see if that will work. Can you confirm this is the case?

[2017-06-14 14:20] justinscherer commented on #1793
@Angamanga Thanks Anna! My responses below.

That's ok. I updated the copy to reflect that so we're good. It reads *"Ok great! Just add a photo here like a normal chat, and Iʼll attach it to your report."*

No worries. It's not ideal, but we're not sure how much this use case will come up. We'll be able to find out pretty quick once we start beta testing it. I hinted that the user can keep typing

[2017-06-14 15:29] willdoran commented on #1697
@rjmackay Yep, will look now, I don't remember us allowing deletion of those fields but will check through the code.

[2017-06-14 15:50] willdoran commented on #1697
@rjmackay Actually we don't have delete validators at all for form attributes so through the api you can delete whatever you like without injunction. There is no option to delete the 'Title' or 'Description' in the client. Technically, if you were to use the API without the client there is no explicit reason to not delete those two fields since those fields only have special meaning to client but

[2017-06-14 19:03] MazenBaroudi commented on #1697
@willdoran these fields are probably very helpful in humanitarian deployments
In other cases such as mine, I am collecting spatial data for research purposes and these two field are very confusing
If there is no technical need for these two field from your side, there will not be a problem to give clients the choice to keep or skip these fields
with regards/Mazen

[2017-06-14 20:09] willdoran commented on #1697
Hi @MazenBaroudi,

These two fields or at least the title field are important for our client as the title is used as a link anchor between sections, for example, on our timeline view the list of posts link to their detail pages via the title. This does create a structural requirement for the title at least.

I have a couple of questions so I can understand your usecase a bit better if that's ok. A

[2017-06-15 03:09] rjmackay commented on #1772
@ClearLakeHABMap If you're got further requirements or comments, could you post them on #1805? Bear in mind that we're a small team, with limited resources - so while you can suggest *all* the features that would exist in the ideal version, its more helpful to either give just the top priority requests, *or* rank your needs by priority so we can triage.

[2017-06-15 03:12] rjmackay commented on #1697
@willdoran removing them entirely is the key change in the #1335 but thats a big chunk of work since titles are used throughout the API and client. Its a bit further down the roadmap.

[2017-06-15 06:19] MazenBaroudi commented on #1697
Hi @willdoran,
I am using the cloud deployment. I managed to change the name of the field and its position but that did not help me a lot as I don't have such long open questions in my survey.
here is the link of the survey if that helps:
https://takecareumea.ushahidi.io

Thanks and regards/Mazen

[2017-06-15 08:15] Angamanga commented on #1783
Duplication of #1782, closing this one.

[2017-06-15 08:15] #1783 closed

[2017-06-15 08:17] Angamanga commented on #1793
@justinscherer It all looks good. One more tiny thing. If the user uploads an image without having started the reporting flow, could we add a reply that asks if the user want to continue and add a report?

[2017-06-15 08:46] Yourlogin1 opened #1806 "Incorrect displaying of images"
### I have tryied to upload images to display in posts as it have to be done, but got some problem

### When I upload an imagem I see it in my browser in draft post, but when I publish my post, image doesn`t displaying. I cheked uploads - image is there, but it doesn`t display on site.
Also I would like to know how can I configure ushahidi for NGINX ?

[2017-06-15 09:06] Angamanga commented on #1793
Oh, one more note. Our current database does not support emojis so I will unfortunately have to remove them for now. Created an issue for it here: https://github.com/ushahidi/engineering/issues/95

[2017-06-15 09:28] Angamanga commented on #1793
@Nthiga do you want to check the texts one last time? And then we are ready to send them to the translators :)

[2017-06-15 11:43] ClearLakeHABMap commented on #1772
@rjmackay Of course! I definitely understand your limitations. Issues allows people to do a crowdsourced QA that sheds light on issues and their importance as they affect different groups or individual projects. It seems like it is helpful for your team prioritization. Obviously no expectations come from the user side, save for progress and stability of the system as it is now.

Features (High to

[2017-06-15 11:45] ClearLakeHABMap commented on #1806
Which version of the map are you using? Is this a new deployment? Is it on a private server or on the Ushahidi.com site?
This issue has been happening to us on our deployment and a number of others. Please look back for past tickets regarding this problem.

[2017-06-15 11:46] ClearLakeHABMap commented on #1805
Features (High to Low Priority):

a EULA type pop up option where the site can post terms and conditions with an accept or decline.
Allow it to scroll for longer agreements.
The ability to create future EULA Update pop ups for the map. (Admin can trigger a pop up on next use)
Specific EULA type pop ups for members with a log in. (Admin triggers a pop up on next log-in)
The EULA offers HTML capacit

[2017-06-15 15:55] jshorland commented on #1749
Is it possible to improve the efficiency of the CSV upload? This is a good right away solution, but longer term, I think we need to improve CSV upload to import more lines of data. Our paying users have consistently run into this issue -- They want to upload large data sets, but can't, and then have to go in and break them up into CSV fils with 250 rows each.

See:

[2017-06-15 18:01] rjmackay opened #1807 "Clarify what languages we are translated into"
- [ ] Check if the Vietnamese translations are distinct
- [ ] Check what variant of Chinese is in transifex (we have `Chinese` and `Chinese (Taiwanese)` and `Chinese (China)` but I'm not clear what the former is)

Aha! Link: https://ushahiditeam.aha.io/features/PROD-592

[2017-06-15 19:07] justinscherer commented on #1793
@Angamanga

great idea! We can use the same text: "Describe what you'd like to report."

[2017-06-15 20:01] jshorland commented on #1749
Putting the above into a separate issue

[2017-06-15 20:02] jshorland opened #1808 "improve CSV import efficiency"
Is it possible to improve the efficiency of the CSV upload? This is a good right away solution, but longer term, I think we need to improve CSV upload to import more lines of data. Our paying users have consistently run into this issue -- They want to upload large data sets, but can't, and then have to go in and break them up into CSV fils with 250 rows each.

See: https://waffle.io/ushahidi/platf

[2017-06-15 21:54] jshorland opened #1809 "Error when trying to save survey"
I *think* it has to do with renaming the survey and adding a description? unclear. But here's the error I get:

You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '))' at line 1 [ INSERT INTO `forms` (`name`, `description`, `type`, `disabled`, `created`, `hide_author`, `require_approval`, `everyone_can_create`, `tag

[2017-06-15 22:46] caharding commented on #1793
Anna just did a great demo with Facebook. Bot looks great. The only thing not in there is edit functionality, but this is a fairly serious technical hurdle, so I recommend putting it on hold for testing. Anna is going to clean up the code, deploy with David and submit for approval tomorrow so we can get more people testing. We can always make updates once it's live.

In our conversation with Faceb

[2017-06-16 14:20] justinscherer commented on #1793
@Angamanga Can you elaborate a little on what makes the edit capability technically difficult? There might be a simpler way to do it that doesn't take as much effort to implement.

To your point @caharding

Concatenating the image / location / text together and auto-sourcing a title might be error-prone, and being able to recover from errors is very important for usability, especially because a us

[2017-06-16 14:47] jshorland commented on #1793
I just learned so much about the importance of a confirm button.

[2017-06-16 14:49] jshorland commented on #1772
👍👍👍

[2017-06-16 18:08] tuxpiper opened #1811 "Provide integration with wikirumours / unahakika.org"
# Una hakika integration

## Una Hakika’s data model and API

https://www.unahakika.org/explore_api

* Rumours have…
	* id
	* text (description)
	* status (unconfirmed, under investigation, confirmed…)
	* date
	* location (lat, long)
	* keywords
	* sightings
		* in turn, sightings have a similar set of properties like rumours
	* findings

## Goals
Create a datasource or separate integration app (l

[2017-06-16 18:12] Shadrock commented on #1805
For an example of what @ClearLakeHABMap might be talking about see [pages 8-9 of this report](https://www.usaid.gov/sites/default/files/documents/2151/USAIDCrowdsourcingCaseStudy.pdf) for a USAID crowdsourcing effort in which the agency _required_ volunteer acknowledgment / sign off of the ToS to address the issues listed in the report. This was achieved by using a pop-up consent/ToS checkbox to a

[2017-06-16 18:18] ClearLakeHABMap commented on #1805
@Shadrock That is an example. I believe that with the USEPA, it will likely be a lot more extensive as we also have to consider the impacts of releasing information that may have implications to health. Certainly that data could play a role in a participants future, insurance, and other non-trivial complications.

[2017-06-16 20:55] Angamanga commented on #1793
@justinscherer The edit-functionality is tricky for a combination of reasons, first of all that response is a bit different than the other responses, since we need to fetch and concatenate parts of the replies from the user-report. Other answers are picked from the answer-db-table directly. Second the formatting of the reply is a bit hard and third it adds more logic to the already stuffed logic.

[2017-06-16 21:04] Angamanga commented on #1777
Not necessary w new user-journey, closing

[2017-06-16 21:05] #1777 closed

[2017-06-16 21:05] Angamanga commented on #1780
Taken care of in the bot-user-journey so closing this now

[2017-06-16 21:05] #1780 closed

[2017-06-16 21:05] Angamanga commented on #1779
Taken care of in the bot-user-journey so closing this now

[2017-06-16 21:05] #1779 closed

[2017-06-16 21:06] Angamanga commented on #1778
Taken care of in the bot-user-journey so closing this now

[2017-06-16 21:06] #1778 closed

[2017-06-18 18:52] jshorland opened #1812 "little type in "add field" pop up box"
When adding a field, the field options list has a typo under "long text"

It says: "Multiple sentences or paragraphs<"

We shouldn't have that less than character, no? @middle8media are you able to fix this quickly?

[2017-06-19 11:21] ryanchristo commented on #1809
It looks like this is happening for any attempt to duplicate a survey and the issue is occurring when attempting to duplicate the "tags" property associated with the original survey.

There might be a better solution but a quick fix would be to prevent this attempt to duplicate "tags" property associated with the survey by clearing the field along with "id", "created", "updated", "url", and "can_c

[2017-06-19 14:21] jshorland commented on #1809
We <3 devs who share!

Thanks, ryan. Our team is in the midst of traveling to our team retreat so we will be a bit delayed but will respond soon!

[2017-06-19 14:37] middle8media commented on #1759
@rjmackay I believe this falls into design/front-end/PL and should be assigned to me ... fix in the PL as opposed to inline styles ... right?

[2017-06-19 16:32] middle8media commented on #1812
@jshorland can you provide a screenshot for better context? I will fix asap.

[2017-06-20 08:53] ryanchristo commented on #1801
I would be happy to help build this feature.

I added the ability to select all categories when creating a survey and submitted pull request #672 to ushahidi/platofrm-client.

Let me know if this is what you had in mind and if you would like me to make any changes. Also, were you thinking the collapsed box would include the select all checkbox and look and act similar to "Show field description" a

[2017-06-20 14:58] #1812 closed

[2017-06-21 05:12] ryanchristo commented on #1801
I updated the pull request (ushahidi/platform-client#672) with the ability to select all categories when creating a post (ushahidi/platform#1800) and the ability to show/hide the categories list.

I realize the team is on a retreat so no rush getting back to me but looking forward to your input and feedback. Let me know if this is what you had in mind.

[2017-06-21 05:14] ryanchristo commented on #1800
I updated the pull request (ushahidi/platform-client#672) with the ability to select all categories when creating a post and survey and the ability to show/hide the categories list (ushahidi/platform#1800).

I realize the team is on a retreat so no rush getting back to me but looking forward to your input and feedback. Let me know if this is what you had in mind.

[2017-06-21 09:24] willdoran commented on #1800
@ryanchristo Thanks so much for helping out. We should make it much clearer what our flow is for fixing issues/adding features. The general flow is
Scoping -> Design -> Tech Spec -> Dev Backlog

Issues tagged with "dev backlog" are generally ready for work. The categories issue needs a little bit of design in terms of the show/hide I will check and see if we have an existing pattern in our Pattern

[2017-06-21 09:34] ryanchristo commented on #1800
@willdoran Apologies for jumping the gun on this one. Thank you for clarifying the workflow!

[2017-06-21 11:49] willdoran commented on #1800
@ryanchristo, no problem, thank you so much for taking the time to contribute. I'll review and see what I can integrate with what we already have.

[2017-06-21 20:32] yuri25 opened #1813 "Error migrations"
./bin/phinx migrate -c application/phinx.php

Phinx by Rob Morgan - https://phinx.org. 0.8.0

using config file ./application/phinx.php
PHP Fatal error: Class 'Database_Mysqli' not found in /......../mapshow.ru/platform/vendor/ohanzee/database/src/Database.php on line 76
{
"errors": [
{
"status": "Fatal Error",
"title": "Class 'Database_Mysqli' not found",
"message": "Class 'Database_Mysqli' not f

[2017-06-22 04:10] ryanchristo opened #1814 "Improve form validation when creating and editing a survey"
### Expected behaviour
- If you attempt to save a new survey without entering a description, you receive an error message that says "description must not be empty".
- If you remove the name or description when editing a survey and attempt to save, you receive an error message that says "name must not be empty" or "description must not be empty".

### Actual behaviour
- If you attempt to save a new

[2017-06-22 04:32] ryanchristo opened #1815 "Fields are not visible after creating a survey"
### Expected behaviour
- After creating a survey and saving, the survey fields are visible.

### Actual behaviour
- After creating a survey and saving, the survey fields are not visible.

before saving:

<img width="950" alt="screen shot 2017-06-21 at 9 28 11 pm" src="https://user-images.githubusercontent.com/12519942/27417364-a7b43c14-56c8-11e7-9871-e741e41eba03.png">

after saving:

<img width="

[2017-06-22 04:56] ryanchristo commented on #1803
It looks like the issue with the styling was a minor typo. I submitted pull request ushahidi/platform-client#675. The calendar still appearing after exiting the modal is a little more complicated but I will keep an eye out for a solution as I continue to familiarize myself with the project.

Also, I thought I might add that when you click one date field then the other, the calendars stack on top o

[2017-06-24 10:40] willdoran opened #1816 "RTL is not applied automatically on language change"
### Expected behaviour
- When selecting an RTL language the UX should switch to RTl
### Actual behaviour
- When selecting an RTL language the UX does not switch only the language file is loaded

### Steps to reproduce the behaviour/error

[2017-06-24 10:53] willdoran opened #1817 "'Submitting' placeholder text on "save" not translated"
### Expected behaviour
- When saving a post the 'Submitting...' spinner text is translated
### Actual behaviour
- When saving a post the 'Submitting...' spinner text is not translated

### Steps to reproduce the behaviour/error
- [x] Switch to a non-english lang
- [x] Create a new post
- [x] Fill in required fields
- [x] Click save
- [ ] The 'Save' text will change to 'Submitting...' but is not tr

[2017-06-25 13:27] #1671 closed

[2017-06-26 22:22] jshorland opened #1819 "User registration must include email and phone number"
Require phone number when they register, admin needs to be able to see phone number to follow up via phone if necessary. Login/Registration page needs to pop up first, option to navigate to deployment without logging in or registering. Account will be automatically signed up for notifications on status changes on posts they submit.

[2017-06-26 22:25] jshorland opened #1820 "Change category UI labels to "domains""
"categories" need to be renamed "domains" everywhere the word "categories" appears.

- settings menu
- within settings menu
- side context modal (under survey names)
- on the survey / post itself
- system feedback messages while working with categories (e.g. are you sure you want to delete these "CATEGORIES"?)
- survey form builder when selecting the field type

[2017-06-26 22:28] jshorland opened #1821 "Filter by incident status"
Filter by custom statuses instead of the normal "draft, published, archived".

[2017-06-26 22:31] jshorland opened #1822 "Distribute notifications via email"
All users who submitted reports receive notifications about any status change of their reports via email they used when they created their accounts. Should have opt out option.

Should build as if we will put back into platform if we have time to do so.

[2017-06-26 22:33] jshorland opened #1823 "While labeled App must be available in both english and arabic for iOS and android"
app language switching AT LEAST to arabic, needs to be viewed and switched between arabic and english. May be easiest to inherit OS language. We should ideally build this to put BACK into platform app.

[2017-06-26 22:34] jshorland opened #1824 "Custom status indicator for incidents"
based on custom statuses associated with posts: "pending, open, in-progress, finished".

Needs design on where to place indicator.

[2017-06-26 22:35] jshorland opened #1825 "Custom icons for categories that represent specific domains"
each domain requires its own icon. Where that is displayed is a mystery to me. Will need the brains of design.

[2017-06-26 22:37] jshorland opened #1826 "Editing of posts will be closed to users (you cannot go back and edit your post you submitted) and only available for admins"
This should be built as an option for platform. weee! configurable setting to not allow people to edit their own posts after submitting.

[2017-06-26 22:38] jshorland opened #1827 "Needs for reskinning mobile app"
Justin needs from client: icons (SVGs), Logomarks and wordmarks (svg), any relevant image content(might not go in, though), fonts in all weights, colour palette

ASAP

[2017-06-27 00:45] jshorland opened #1828 "White labeled app for GISCON kuwait"
Full scope of customizations here: https://docs.google.com/spreadsheets/d/1fMlJDRa64RoYp7vE9VZkOIckVeYY3_enVYpR3PTFzuk/edit#gid=1612533017

Justin is waiting on feedback from client on #1827 before he can do designs.

We should also wait until contract is signed to actually start doing work, but it would be good to get out ahead of this and spec out what will need to be done (if anything) on the b

[2017-06-27 05:12] ryanchristo commented on #1803
After further investigation, it looks like the spelling of "klass" was not a typo according to datepicker docs (http://amsul.ca/pickadate.js/date/) but the way it was being used was overriding the styling. I updated pull request ushahidi/platform-client#675.

[2017-06-27 05:43] ryanchristo commented on #1803
The issue with the calendar remaining after exiting the modal and the calendars overlapping can be solved by increasing the z-index of the picker class in the pattern library. I submitted pull request ushahidi/platform-pattern-library#137. This fixes the issue in combination with ushahidi/platform-client#675.

[2017-06-27 09:17] ryanchristo commented on #1787
It looks like there was no model hooked up to the input and there is an "instructions" column in the "forms/attributes" table, which would be my best guess for "description". I submitted a pull request (ushahidi/platform-client#677), which fixes the issue as long as "instructions" is the right column.

[2017-06-27 11:03] ryanchristo commented on #1789
I submitted pull request ushahidi/platform-client#678, which applies the same permissions to each child category. In the example, the permissions of the parent are being limited. If you are changing the permissions of the parent to "Everyone", should the children also be updated to "Everyone"? It would be a slight adjustment if so. I hope this helps!

[2017-06-27 11:32] ryanchristo commented on #1750
I love the video! I came across this issue after creating ushahidi/platform#1815 and submitting pull request ushahidi/platform-client#676, which loads the survey data after saving a new survey. This should solve the issue.

[2017-06-27 11:42] ryanchristo commented on #1750
Also, there is currently an issue (ushahidi/platform#1809) preventing duplicate surveys from being saved, which would need to be fixed in order to test.

[2017-06-27 12:29] Angamanga commented on #1702
These are the features currently available:

- [ ]  A persistent menu situated in the bottom of the chat-window where the user can choose to read more about Uchaguzi or send a report
- [ ]  Ability to submit reports with text only or image and/or location to Uchaguzi (currently only to a specific form but there is functionality prepared to add a menu where the user can choose to which form to subm

[2017-06-27 12:34] Angamanga commented on #1793
The full issue for the bot is found here: #1702

[2017-06-27 12:36] #1776 closed

[2017-06-27 13:33] Angamanga commented on #1789
@ryanchristo Thank you very much for your submission! @aoduor @jshorland Should the children always have the same permissions as their parent? In that case, I think we should remove the option to change permission on children completely?

[2017-06-27 13:59] Angamanga commented on #1796
@aoduor I cannot reproduce this, which browser did you use when this happened?

[2017-06-27 14:35] jshorland commented on #1789
Yep. Remove it.

Sent from my iPhone

[2017-06-27 15:10] aoduor commented on #1789
Yes. Children should have same permissions as parents. Agree with removing it from children UI

[2017-06-27 15:11] aoduor commented on #1789
Or, instead of removing it, simply have a label indicating its permissions being tied to its parent category?

[2017-06-27 15:12] aoduor commented on #1796
Google chrome :(

[2017-06-27 15:20] justinscherer commented on #1702
@Angamanga Uchaguzi logo for the bot is here:
![Uchaguzilogomark 1040.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/593714fffc98e900201ba2a5/125516c66e82c728ace21e0d46dd9792228596b386e5b044ab50f186220676237d54e1673295f127b54778154d555ca9440c5e45a8fadc2df0e43a77895c5dedd1655e7d943f45bea4905dee5fee7fd616cfe3fe9846d2eb3c2fe68f86473b1903108bfe5937a58b06.png)

let me know if

[2017-06-27 16:13] jshorland opened #1829 "email integrations reported to not be working again."
I'm not sure what the problem is here, whether its documentation, the fact that it's just difficult to integrate, or if technically it's actually not working. Can we double check that data source jobs are running properly? I'm double checking on QA, but so far it's been 17 minutes and my email has not pulled through.

[2017-06-27 16:16] jshorland commented on #1816
If possible, This is ideally fixed for GISCON kuwait delivery.

[2017-06-27 16:17] jshorland commented on #1817
@willdoran is this a new string of text that needs to be translated in transifex?

[2017-06-27 16:24] willdoran commented on #1817
@jshorland It's actually two parts, one a new string and two the template might just have a static string. It's a quick fix. I was going to suggest @crcommons look at it, since it covers a couple of things. I want to extend the issue to add "See if this is a pattern of incorrect string setting"

[2017-06-28 01:15] ryanchristo commented on #1789
@aoduor @jshorland @Angamanga Would something like this work?

<img width="773" alt="screen shot 2017-06-28 at 8 13 53 am" src="https://user-images.githubusercontent.com/12519942/27616416-e9dcb592-5bd9-11e7-91ee-fa4e6b2f6c40.png">

[2017-06-28 03:48] ryanchristo commented on #1789
@Angamanga @jshorland @aoduor I updated the pull request (ushahidi/platform-client#678) with a preview of mentioned changes. Let me know if you would like me to adjust the message or anything else. I also made sure that if you edit a child category and change the parent, the child category will be updated with the permissions of the new parent.

[2017-06-28 06:20] ryanchristo commented on #1736
@rjmackay I submitted pull request ushahidi/platform-client#679, which removes the auto-focus. I started thinking afterwards that this might be a good optional feature that the user could toggle on and off in general settings rather than choosing the default location and zoom. Thoughts?

[2017-06-28 07:22] Angamanga commented on #1702
@justinscherer Thanks! Nothing else right now...

[2017-06-28 11:23] justinscherer commented on #1702
logo with transparent background:
![logomark 1040 trans.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/593714fffc98e900201ba2a5/125516c66e82c728ace21e0d46e49b9d2c8f82bb84a9ee13f00db0803b4729606b48e13b628ae92dbc56395b4d5a4bf840590b47a9ffdf79a0b13f70dc5c0be5d0640d76922f0dbefad341eb5ee779c11ac7a4b6984fc1e23c21ee83894b371e051b8fff5e27ed.png)

[2017-06-28 13:14] jshorland opened #1830 "Add ability to create member account on mobile app"
Will need to include email and phone number per Giscon requirements.

[2017-06-28 13:15] jshorland opened #1831 "Reset password on mobile"
ability to reset password on mobile. Needs to trigger an email with reset token.

[2017-06-28 13:58] justinscherer commented on #1828
We can get started on the structural changes to the onboarding flow before I get design assets from the client. See attached first crappy draft of an onboarding flow for the app:

![Kuwait onboarding flow.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/593714fffc98e900201ba2a5/125516c66e82c728ace21e0d46c3818d228b97e980e7bd4ca54ff49d27416775250bb4693cc7f33ab0487e021b4d44be4

[2017-06-28 16:24] jshorland commented on #1829
Email still hasnt' pulled through

[2017-06-28 16:29] jshorland commented on #1817
great! moving to dev backlog

[2017-06-28 19:00] willdoran opened #1832 "Subdomain taken but user is told it is available"
### Expected behaviour
- When I attempt to create a new deployment I expect to be able to register a domain when I am told it is available
### Actual behaviour
- When signing up for a new deployment, I am told a deployment name is available
- When I submit I receive an error message that it is already taken
- But the domain checker still says it is available
### Steps to reproduce the behaviour/er

[2017-06-28 19:01] willdoran opened #1833 "Grammar mistake in message on platform"
### Expected behaviour
- Add a basic post
### Actual behaviour
- Add to a basic post
### Steps to reproduce the behaviour/error
- Add a post of any survey type

[2017-06-28 19:20] willdoran opened #1834 "Grammar mistake in message"
### Expected behaviour
- You have reached the survey limit for your plan.
### Actual behaviour
- You have reached the surveys limit for your plan.
### Steps to reproduce the behaviour/error
- When trying to add additional surveys Mapper users are told they have reached their "surveys" limits should be "survey" limit based

[2017-06-28 19:32] willdoran opened #1835 "Search location in Posts gives unstable responses"
### Expected behaviour
- Stable consistent results for text being entered
### Actual behaviour
- When entering an address the initial results are not consistent with results when typing and searching based on results displayed
### Steps to reproduce the behaviour/error
- Attempt to search for postal code 'H2V2K8'
- No results will be returned
- When typing H 2 V 2 K 8 the results returned will be

[2017-06-28 19:35] willdoran opened #1836 "Search location has no working spinner"
### Expected behaviour
- When searching I expect to hit search before the search takes places
- If the search is live as I type, I expect to see some kind of spinner comfort noise when the search is happening
### Actual behaviour
- When I type search is done live but this is not communicated, thus when the results change because there is a lag in the search it is confusing for the user.

### Steps

[2017-06-28 19:44] Offliner21 commented on #1564
“Sorry, something went wrong. Try reloading the page.” on client
Hello, I've been having this issue fo days now,
I am running the API and the client on different domains as you see below
I am running the API on my local machine.

![apiconf](https://user-images.githubusercontent.com/6979276/27656877-9bdce380-5c42-11e7-9365-cdb06aaf5a62.png)
![clientconf](https://user-images.githubusercontent.com/69

[2017-06-28 19:48] Offliner21 opened #1837 "“Sorry, something went wrong. Try reloading the page.” on client"
### Expected behaviour

The API should show the Map running already

### Actual behaviour
“Sorry, something went wrong. Try reloading the page.” on client
Hello, I've been having this issue fo days now.
I am running the API and the client on different domains as you see below.
I am running the API on my local machine.

![apiconf](https://user-images.githubusercontent.com/6979276/27656950-f53b2932-

[2017-06-28 20:34] willdoran commented on #1697
@MazenBaroudi Apologies I was away for the last 15 days. Could you walk me through exactly how you made the changes?

[2017-06-28 20:48] willdoran commented on #1697
@rjmackay I think that this highlights a more general problem which is that users need to be able to define what appears in the post preview on timeline and elsewhere, and that as I said above we need to stop using certain fields as linkage points.

[2017-06-28 20:58] crcommons commented on #1759
@middle8media I made the changes in the pattern library but still don't have access to push the changes. Waiting for Robbie or David to get back online after travels to help me with this.

[2017-06-29 01:37] dalezak commented on #1823
https://github.com/ushahidi/platform-mobile/issues/123

[2017-06-29 01:38] ryanchristo commented on #1750
I also came across issue ushahidi/platform#1713 and submitted pull request ushahidi/platform-client#680, which redirects to the survey list after successfully saving and this would make the above mentioned pull request (ushahidi/platform-client#676) unnecessary. Looks like there are two options here: (1) load the field data after successful save when creating a new survey or (2) redirect to the su

[2017-06-29 08:50] tuxpiper commented on #1837
Hi, we would like to test it out... but http://harrasrevealer.com gives DNS resolution error .

Are all the involved hostnames known to the device where the browser for your tests is running?

[2017-06-29 14:13] middle8media commented on #1759
@crcommons ok. Feel free to assign a PR to me and let me know if you need any help.

[2017-06-29 15:20] jshorland opened #1838 "support multilingual editable text"
This has been a recurring issue for both enterprise and free users. They've created a hack where they input language 1 / language 2 side by side into the editable text fields (see attached image), but it often breaks our layouts (it's a game of chance depending on # of characters).

@justin @dalezak @tuxpiper piper can you please add any context to this issue?

![screenshot 2017-06-29 09 09 16](ht

[2017-06-29 20:56] Shadrock opened #1839 "COMRADES posts are being duplicated upon publish"
### Expected behaviour
Publish or submit post with geolocation and have it appear once in map view.

### Actual behaviour
The action of publishing posts seems to have the effect of duplicating the post. [The example post is 2562](https://comrades-stg.ushahidi.com/posts/2562) - screenshot below
<img width="1048" alt="comrades duplicate posts" src="https://user-images.githubusercontent.com/4574998/2

[2017-06-29 21:09] justinscherer commented on #1838
Some context around this:

Reading and processing text, especially on digital displays, is a relatively high-friction way to impart information (compared to an image, for example, or a common interaction affordance).

With this in mind, having text in two languages in the same interface has several drawbacks user experience-wise:
1. It automatically increases the total information density of every

[2017-06-30 01:29] willdoran commented on #1839
Fixed in Service Proxy

[2017-06-30 04:30] rjmackay commented on #1697
Yup, but thats a much bigger chunk of work, and is really the issue attempting to be solved by "free form surveys" in #1335.

I don't think we can resolve this issue separately.

[2017-06-30 04:59] rjmackay commented on #1736
@ryanchristo Agreed. I don't think we want to remove auto focus entirely... its still a sensible behaviour in a lot of cases, but the current combination of configuring a default location is confusing.

@jshorland @justinscherer any thoughts on the best resolution to this issue?

Theres an older issue thats relevant here: #1339 - this basically specc'd:
- Remove the default location setting entire

[2017-06-30 05:08] rjmackay commented on #1635
@dalezak could you test this against a staging deployment? ie. (qa.ushahididev.com)

[2017-06-30 05:25] rjmackay commented on #1750
I think the redirect seems like the better option

[2017-06-30 08:01] ryanchristo commented on #1736
@rjmackay I like the solution in #1339 and would be happy to help build it out.

The map would still zoom in after the first post if the custom location field settings went unchanged ("Use this location to locate responses" being on by default) but in this case it would be much more clear why this is happening. This would prevent the confusion caused by the current default location option in Gener

[2017-06-30 10:53] ryanchristo commented on #1750
Agreed.

[2017-06-30 17:14] Shadrock commented on #1839
This is still an issue. I made a new post this morning (number 2568), waited until YODIE and CREES callbacks were completed, reviewed, and then published the post. I received the error message (see screenshot below) and when I dismissed it, found duplicate posts in map view: the duplicates do not appear in Timeline view, only map view.
![screen shot 2017-06-30 at 11 10 58 am](https://user-images.g

[2017-06-30 17:27] Shadrock opened #1840 "COMRADES Language Dropdown text not appearing in Firefox"
### Expected behaviour
Click "Language" option at bottom of categories and immediately see list of available languages.
### Actual behaviour
Clicking "Language" option at bottom of categories first opens up _another_ drop down menu called "select language" which you need to click _again_ (Yes, I know this is a UI issue), then the list of available languages pops up but appears blank: language name

[2017-06-30 17:30] Shadrock commented on #1686
Yeah, we're good on this version. I'll get together with you after the review to work out the delivery for the next version.

[2017-06-30 17:30] #1686 closed

[2017-06-30 20:21] rjmackay commented on #1809
@jshorland just need to test this on staging now.

[2017-06-30 20:50] willdoran commented on #1839
@Shadrock I believe this is fixed now. Please confirm.

[2017-07-03 14:25] caharding opened #1842 "Submit location via Desktop"
Right now if a user tries to submit a location via Desktop they are unable since location can only be grabbed by messenger App. We should allow text entries on desktop.

[2017-07-03 14:26] #1793 closed

[2017-07-03 23:38] jshorland opened #1843 "CSV import duplicated some of my posts"
### Expected behaviour
I am importing this data: https://docs.google.com/spreadsheets/d/17KqUg5eIEMhfppEI3ZsRqWN87-ofaMgME7D_o2sytSU/edit#gid=0 into deploymentswithlocations.ushahidi.io Should map to 1106 posts.

Actual behavior
I broke it up into 11 different sheets with ~100 rows and downloaded each sheet as a separate CSV and imported them. My total number of posts is 1316 according to the plat

[2017-07-04 02:32] rjmackay commented on #1803
Ready to test on qa.ushahididev.com

[2017-07-04 09:25] tuxpiper commented on #1843
I think the theory is right, it most probably kept the posts you uploaded the first time.

my 2c:
I'm not sure they should have been deleted though, one could argue that it's a desirable behaviour to keep the rows that successfully imported, despite other failures.

I'm also remembering now that rows imported during a CSV import job are kept in a collection, which makes it easy to delete all of th

[2017-07-04 09:37] aoduor opened #1844 "Categorization of posts from Facebook"
Open question, not sure how we'll tackle this.

As it stands now, we have different surveys to collect data on different themes e.g voter issues, security issues etc.

Assume we received a post from the Facebook bot, that belong to one of these other surveys, how do we reassign a post from FB to the correct survey?

Is there a way we could force the user to select a survey to submit to from the bo

[2017-07-04 12:15] Celestine22 opened #1845 "Language drop down option to only show English and Arabic."
### Expected behaviour
When a user click on the language tab, it should give the option of switching between only these 2 languages

[2017-07-04 13:31] #1839 closed

[2017-07-04 13:39] Celestine22 opened #1846 "The toggle button is unresponsive"
### Expected behaviour
The toggle button should switch from green to grey

<img width="900" alt="screen shot 2017-07-03 at 3 43 39 pm" src="https://user-images.githubusercontent.com/8900438/27832224-a3457306-60d6-11e7-9f33-dd7cde8d1a21.png">
### Actual behaviour
This button is stuck at green making this task viewable as a public task. The tasks that posts go through should in a deployment should h

[2017-07-04 21:39] rjmackay commented on #1819
Client comments about login flow

[2017-07-04 21:47] rjmackay commented on #1828
This looks pretty good to me. I also imagine a chunk of this is going to be common to most whitelabel deployments ie. custom splash page + icon, dropping the deployments in the menu.

Its looking like that might not be the case. Waiting on some clarity from client + @Celestine22

[2017-07-04 22:09] dalezak commented on #1828
I'm leery about changing the flow of the app for the whitelabel, especially considering the short timeframe to deliver the contract. So unfortunately I don't think its gonna be possible to move primary actions like _Log in_, _Responses_, etc from the Deployment details screen into the side menu. We discussed this on the intro call last week.

As an alternative for the whitelabel apps, I suggest th

[2017-07-05 09:07] Celestine22 commented on #1819
IMPORTANT: Email field for registered users will be automatically pulled in when they need to submit a new post! Phone number must not be mandatory!
Non registered users who don't want to log in via default platform way, but want to quickly submit a post will be required to submit an email address at the minimum!

[2017-07-05 09:12] Celestine22 commented on #1822
@willdoran @rjmackay seems like Robbie mentioned that the requirement for non registered users to get notifications via email is not a hard requirement (since we're already writing custom code anyway). Could we pull this off in time? It would be an ideal scenario for the client and us if we can push to get this!

[2017-07-05 13:04] willdoran commented on #1822
@Celestine22 I am not aware of a way to do this at all. @rjmackay how had you intended to do this?

[2017-07-05 13:06] willdoran commented on #1822
@Celestine22 Just for clarification is 'non-registered user' equivalent to anonymous?

[2017-07-05 15:10] Celestine22 commented on #1822
@willdoran in this case, yes it is

[2017-07-05 16:30] justinscherer commented on #1827
Copying over the elements from the slack channel:

Primary colour: #3696B4
Secondary colour: #274F62
Text colour: #373A3C
Background: #FFFFFF
Secondary background: #EFEFEF

![icon.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/593714fffc98e900201ba2a5/125516c66e82c728ace21e0d46e197952dc0cfeb9ffbb049a15ee4d6730472262d55f22f2380b52ebd142c525f094eac49595616fead9b37b4f46d2ede

[2017-07-05 16:31] justinscherer commented on #1827
![splash.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/593714fffc98e900201ba2a5/125516c66e82c728ace21e0d46fb849622918bebc3abaf51ab57f5973d047d317c51a77a2181b02de9447957585c4efa41585745f5ab8b7fb4aa2e32db025fb28c341521842f1bbeba8415be05b329894887b4bf8d48c2ed2f68.png)

[2017-07-05 16:32] justinscherer commented on #1827
The splash image is too big to share here. You can view it here:

https://ushahidi.slack.com/files/justin/F64JWL3BR/splash.png

[2017-07-05 16:32] justinscherer commented on #1827
App name: Beatona

[2017-07-05 16:33] justinscherer commented on #1827
As far as I know, these are all the design elements @dalezak needs to get started on the dev work, so I'm moving it out of the design phase and into dev in progress.

[2017-07-05 19:07] rjmackay commented on #1822
The current task spec's a custom notification ie. sending a notification on status change. Where right now we only send notifications when the post is published. So we need to write at least custom code to trigger notifications based on status change, maybe custom code for sending them too.

Given that, if we're collecting user email along with each report, I think we could use that email to send

[2017-07-05 20:10] willdoran commented on #1819
@rjmackay @Celestine22 Is this still the case?
**"Email field for registered users on the survey will be automatically filled in when they need to submit a new post!"**

I'm not sure this was in the original spec

[2017-07-05 20:15] willdoran commented on #1822
@rjmackay The original ticket issue says "All users who submitted reports receive notifications about any status change of their reports via email they used when they **created** their accounts."

I wasn't sure how much custom code we were writing to do this but we are expecting to expect the email survey field to be present always and unchangeably?

[2017-07-05 20:24] willdoran commented on #1821
@Celestine22 What are the custom statuses to be?

[2017-07-05 20:54] justinscherer commented on #1825
This story requires a minor (I think) update to our "Post card" module and our checkbox modules.

**Post card module**
Example of the updated post card module in English
![Responses mobile.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/593714fffc98e900201ba2a5/125516c66e82c728ace21e0d46da9189338d8dba8afaff4eab5ff9982c046b313916ac217586f76ae5002e540b5e4ff8420d5912aeff8e28a

[2017-07-05 20:55] justinscherer commented on #1824
I covered the solution for this in #1825

[2017-07-05 21:03] Celestine22 commented on #1822
@rjmackay correct - the client expects all users to get notifications about their reports, this is not an opt in approach! It seems important to them for the users to get notifications about the status of their post!

[2017-07-05 21:06] justinscherer commented on #1830
@Celestine22 @jshorland Am I to understand that we are still adding enrolment to the mobile client?

[2017-07-05 21:22] dalezak commented on #1825
@rjmackay any idea how we'll achieve custom icons per category tag?

[2017-07-05 21:49] rjmackay commented on #1821
is mentioned in the google sheet. I'll assume thats correct unless otherwise specified

[2017-07-05 21:55] rjmackay commented on #1821
Assuming this is a custom field, we can filter by passing a query param `values[key]=filtervalue`
Then we just need to add some custom UI specific to this client

[2017-07-05 22:02] rjmackay commented on #1821
Just tried adding this as a custom field + task... but that makes it editable by the user when they create the post. We might need to hack around that :/

[2017-07-05 22:21] justinscherer commented on #1831
The easiest / best solution seems (to me) to be to trigger the web client password recovery flow in a native browser. @rjmackay @dalezak thoughts?

See for context:
[GISCON Kuwait enrolment and authentication.pdf](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/593714fffc98e900201ba2a5/125516c66e82c728ace21e0d46cfbda900adade9a4fca842ad49b0912754287f2401ad3f3084ed2cff436e15070a1

[2017-07-05 22:22] justinscherer commented on #1830
Enrolment and authentication flow.

Need feedback from @dalezak
[GISCON Kuwait enrolment and authentication.pdf](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/593714fffc98e900201ba2a5/125516c66e82c728ace21e0d46cfbda900adade9a4fca842ad49b0912754287f2401ad3f3084ed2cff436e15070a10e8180b0e00a5a6d739baa47c32d5065ebe957f5566c33845adb9d61cea07ec728d4886b6ea8a4cc8e93477e5df9d532c5c54

[2017-07-05 22:25] jshorland opened #1848 "Tasks should only be editable (and visible when incomplete) by admins/users with manage posts permission"
### Expected behaviour
When I'm visiting a deployment to submit a survey response, I want to see only the information I'm meant to submit. As a deployment admin/manager, I've created tasks as an internal workflow for my team to triage incoming posts. It's meant to be used internally, and the information MIGHT be displayed to everyone once its complete (or maybe its meant for internal use only). Po

[2017-07-05 22:26] dalezak commented on #1830
At initial glance, it looks good :+1:

[2017-07-05 22:31] dalezak commented on #1831
Ya @justin, I think redirect to web client for password reset is a good idea, I'm not even sure whether the API (http://github.ushahidi.org/platform/docs/api/index.html) has a password reset option, does it @rjmackay?

[2017-07-05 22:31] justinscherer commented on #1825
The icons we're using are here:
[GISCON Kuwait Icons.zip](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/593714fffc98e900201ba2a5/125516c66e82c728ace21e0d46cfbda900adade9a4fca842ad49b0bd2a4929606b48e13b628ae92dbc56395b4d5a4bf840590b47a9ffdf79a0b13f70dc5c0be5d0640d76922f0dbefad341eb5ee779c11ac7a4b6984fc1e23c21ee828d463d160c1f80f95827ed.zip)

Let me know if you need different fo

[2017-07-05 22:37] justinscherer commented on #1828
See #1827 for theming colours/assets

[2017-07-05 22:38] dalezak commented on #1825
Hmm, @justinscherer I'm not sure whether it is possible via the API to assign a custom icon to a category tag. Here's an example of the JSON for a single tag:
[code]

There is a `"icon": "tag"` attribute, although don't believe there is a way to assign it in the backend?

The app is currently using Ionic standard icons http://ionicframework.com/docs/ionicons/, which render according to the target

[2017-07-05 22:43] justinscherer commented on #1825
@dalezak My understanding is that the client has requested that we use their proprietary icons as part of the white label. Looking at the website they're about to release, the icons seem to be a big part of their re-brand.

@Celestine22 Did I misunderstand the icon requirement?

[2017-07-05 22:51] justinscherer commented on #1825
Looking at the ionic icons...if we don't have to use the client's specific icons we can use these ones:
Air: `` <ion-icon ios="ios-partly-sunny" md="md-partly-sunny"></ion-icon>``
Land: ``  <ion-icon ios="ios-leaf" md="md-leaf"></ion-icon>``
Water: ``  <ion-icon ios="ios-water" md="md-water"></ion-icon>``

[2017-07-05 22:58] dalezak commented on #1825
Since it appears there is no current way in the backend to associate a custom icon per tag, we have three possible options:

1. refactor the backend to allow upload of a custom image or icon per category tag
2. use a hack for the web app and mobile app to display an icon based on the tag name
3. tell the client its not possible to have custom icons per category tag

@justinscherer @rjmackay @jshor

[2017-07-06 00:08] rjmackay commented on #1825
@dalezak Correct, there's no UI for setting `icon` on the tag object, but I can do it manually. With only 3 categories its hardly worth building a configuration UI.

If we set `icon` to `water` `air` `land` could we map those to the clients icons (or ionic icons, whichever works)?

It might be sensible to err towards their proprietary icons, just so we can match those on the web ui too.

[2017-07-06 00:09] jshorland commented on #1830
That’s correct. There should still be a sign up function, but not forced sign in to submit :-)

[2017-07-06 00:12] dalezak commented on #1825
Cool, that can work so something like the following could serve the purpose:

[code]

[2017-07-06 00:16] rjmackay commented on #1825
@Celestine22 can you confirm with the client if we need their branded icons or can use generic ones?

[2017-07-06 00:16] jshorland commented on #1825
@justinscherer I think you've covered it. Using their icons in branding is ideal. Double checking that the solution also includes custom status indicators including pending, open, in progress, finished? (I see in progress, I'm assuming it would just be the same but with the different statuses).

[2017-07-06 02:02] rjmackay commented on #1571
This might be a dupe of #350

[2017-07-06 02:28] rjmackay commented on #1821
Given the need to make status private, I'll look at making a change to make all tasks enables only by admins by default.

[2017-07-06 02:48] rjmackay commented on #1363
@Celestine22 there's a little potential for confusion between our current post 'status' (Published, Under Review, Archived) and the client's status as a custom field. Could you confirm if there's any relationship between which posts are visible to the public, and the posts status?

[2017-07-06 04:16] rjmackay commented on #1821
@Celestine22 there's a little potential for confusion between our current post 'status' (Published, Under Review, Archived) and the client's status as a custom field. Could you confirm if there's any relationship between which posts are visible to the public, and the posts status?
If there isn't a relationship, do they have any other plan around what will/will not be public?

Basically I'm trying

[2017-07-06 08:58] Celestine22 commented on #1821
@rjmackay got it! I've asked the client about this! Awaiting feedback! My guess would visibility of posts to the public won't be affected by the posts status. Also we may have to remove some of our default filters to avoid that confusion/redundancy.

@willdoran I've also asked for a confirmation on whether those are the custom statuses.

[2017-07-06 09:15] Celestine22 commented on #1825
@rjmackay on it! @justinscherer this looks good, do you want to join the next call with client to talk through this?

[2017-07-06 09:26] Celestine22 commented on #1819
@willdoran this is correct! Let's huddle on a call later today so you can be on the clear about this spec!

[2017-07-06 14:04] jshorland opened #1851 "Re-skinning web app"

[2017-07-06 14:10] jshorland commented on #1821
These will go in filter box. Remove icons from the status. How they are displayed is detailed in #1825

[2017-07-06 14:13] jshorland commented on #1819
@willdoran is going to check with @rjmackay on the best way to do this.

[2017-07-06 15:04] jshorland commented on #1717
@tropicalrambler -- just following up that this feature has been pushed to the platform. Happy duplicating!

[2017-07-06 15:04] #1717 closed

[2017-07-06 15:12] willdoran commented on #1819
@rjmackay:

My understanding of the requirement that the Email field of the Survey be prepopulated for registered users is that we will have to "assume" presence of this field in the Post Editor.

- Retrieving the current user's email is straightforward

There are lots of ways to do this 2 choices are:

1. Attach a "special" field like title/description to the Post model called email that is alway

[2017-07-06 15:56] willdoran commented on #1819
Requirements:

1. User registration page includes Phone Number
2. Login/Registration Modal appears on page load
3. Visitors can choose to cancel Modal and continue to deployment
4. User accounts will be automatically signed up for Notifications on Posts they create
??. Survey contains Email Field, for registered signed in users this field will be prepopulated with their Email address

[2017-07-06 16:24] dalezak commented on #1830
Hey @justinscherer, looks like the API has `/api/v3/passwordreset` endpoint, which means I can implement password reset inside the app :+1:

[2017-07-06 16:34] dalezak commented on #1830
Hmm, although this long code will be tough / impossible to enter into the app 😯

![screenshot 2017-07-06 10 33 58](https://user-images.githubusercontent.com/91811/27921961-b3b31af2-6236-11e7-985d-7eac9e908f07.png)

[2017-07-06 16:38] willdoran commented on #1819
Tech Spec:

API
- [ ] Add test for User creation with Phone Number
- [ ] Add test for User registration including Phone Number
- [ ] Add test for User creation with invalid Phone Number
- [ ] Add test for Automatic creation of Email Contact for New User
- [ ] Add test for Automatic enabling of Contact for New User for notification
- [ ] Add Phone Number field to User object
- [ ] Add Phone Number

[2017-07-06 16:42] willdoran commented on #1822
Requirements:
1. All registered users receive notifications about any **status change** of their reports
2. Users should automatically receive notifications about any **status change** of their reports
3. Users can opt out of receiving these notifications
4. _Non-registered users that have submitted reports receive notifications about any **status change** of their reports_

If point 4 is not a re

[2017-07-06 17:05] justinscherer commented on #1827
cc @middle8media

[2017-07-06 17:06] justinscherer commented on #1825
cc @middle8media

[2017-07-06 17:08] willdoran commented on #1822
Tech Spec:

API:
- [ ] Add test to ensure Notification entity can be saved with a post_id or set_id
- [ ] Add test to ensure that when a User creates a new Post they are automatically signed up to receive notifications for that Post
- [ ] Add test to ensure that Notifications are sent for a New User when the status of a post they own is modified
- [ ] Add test to ensure that a given User can disab

[2017-07-06 17:10] justinscherer commented on #1851
@jshorland @Celestine22

Can we have a due date for the re-skinned / forked pattern library for the web client?

[2017-07-06 17:17] middle8media commented on #1851
I had a chat with @justinscherer. I am up to speed and bringing this to the front burner.

[2017-07-06 17:22] willdoran commented on #1825
@rjmackay For the client are we going to pull the icons in from the PL or just store them in the client? Or even just include the svg directly in the templates.

[2017-07-06 18:08] dalezak commented on #1831
Good news @justinscherer, the API has  a`/api/v3/passwordreset` endpoint, which means I can send the password reset request from the app.

However the confirm code `bIrutYpfEVb5Ba7bMuLkcs5456o60rVz2+A1ZLrWgNg=` is pretty long to enter into the app, so maybe best from that point to confirm and enter the new password in the web app.

[2017-07-06 18:09] dalezak commented on #1831
![simulator screen shot jul 6 2017 12 09 32 pm](https://user-images.githubusercontent.com/91811/27925985-fcf6a104-6243-11e7-8089-d9c0946d9e35.png)

[2017-07-06 18:14] jshorland commented on #1851
July 18 delivered to Celestine for QA

[2017-07-06 18:29] dalezak commented on #1830
![simulator screen shot jul 6 2017 12 20 30 pm](https://user-images.githubusercontent.com/91811/27926751-ba68021c-6246-11e7-9636-ab0264926158.png)

[2017-07-06 18:29] dalezak commented on #1830
![simulator screen shot jul 6 2017 12 20 47 pm](https://user-images.githubusercontent.com/91811/27926761-c2ed4df2-6246-11e7-8c72-508abf70d327.png)

[2017-07-06 19:15] willdoran opened #1852 "Add PATCH to Platform"
### Expected behaviour
- It is possible to partially update entities via the platform API
- The client API handler service supports PATCH (knows how to send it and handle the response)
- This is done following a known standard that we can refer to (we don't reinvent a patch strategy 😄  )
### Actual behaviour
- PATCH is not currently available
### Steps to reproduce the behaviour/error

Aha! Link:

[2017-07-06 21:19] rjmackay commented on #1819
Why add it to the user object rather than saving it into `contacts`?

[2017-07-07 01:45] rjmackay commented on #1825
I think any of those is fine. It'll depend if the client requires their branded icons or not. For now substitute the simplest thing you can.

[2017-07-07 02:02] rjmackay commented on #1819
### Re: collect user phone number during registration:
The spec looks solid, my only suggestion alteration would be to suggest we save the users phone number into contacts, even if we accept it via the users API. (vs adding a phone number field to the users table)

### RE: saving user email on posts:
I'd suggest we take a quick look at #1571. Previously we had an author name + email collected when

[2017-07-07 04:18] rjmackay commented on #1824
I've added a basic version of this in https://github.com/ushahidi/platform-client-fix-our-environment/pull/1
Waiting on a branded pattern library before I try to go any further

[2017-07-07 04:34] rjmackay commented on #1822
Where? to what?

### A few things we might need to cover too:
- Configure cronjob to run notifications (maybe? assuming they're not run by the standard notification sender)
- Create a custom notifications sending command, with text that talks about status change. The current `bin/ushahidi notifications` will send a "New post" message which won't make sense for status changes.
- Modify the message

[2017-07-07 04:36] rjmackay commented on #1851
@jshorland this should be in Phase 3 if delivery is July 18th right?

[2017-07-07 05:01] rjmackay commented on #1571
Related to #1399

[2017-07-07 05:05] rjmackay commented on #1399
Just reviewing this while thinking about the Kuwait deployment and requirement for non-logged in posters to be able to input their name + email. These pattern are really good for admins creating and editing a post, but when a non logged in user creates a post this does provide a useful prompt for them to enter their name + email

[2017-07-07 07:32] ryanchristo commented on #1339
@Angamanga, @rjmackay Is there a working branch for this issue? I would be happy to help out or start a new branch to see what I can do.

The location picker might be better suited as a common module so it can be used when both editing a post and setting the default location for the survey. Would this be a move in the right direction?

The default value could be used for the saved default location

[2017-07-07 13:29] willdoran commented on #1819
@rjmackay So that it can just mimic the email pattern mostly. I believe that the use case for the phone number is that they will want to be able to see it in terms of the User, so on the user's page in settings and this makes doing that vastly more straightforward. Adding it as a contact is also fine but we'll have to add code to the user page to pull through contacts, which may be we should do an

[2017-07-07 13:33] willdoran commented on #1822
@rjmackay Updated

- Configure cronjob to run notifications (maybe? assuming they're not run by the standard notification sender)
  -  @tuxpiper Can this be handled in the sameway comrades webhook crons are?

[2017-07-07 14:15] willdoran opened #1853 "Saving user email on posts"
### Expected behaviour
- For registered users the client expects the Email field on a survey to be pre-filled with the logged in users email address

### RE: saving user email on posts:
I'd suggest we take a quick look at #1571. Previously we had an author name + email collected when posting without logging in, the backend still supports this. Rather than use a custom field for email, could we
1.

[2017-07-07 14:16] willdoran commented on #1819
@rjmackay I've moved the email prefill to it's own issue here #1853

[2017-07-07 14:19] tuxpiper commented on #1822
Yes, we can easily configure any additional number of cron jobs involving execution of the ushahidi cli command

[2017-07-07 15:27] justinscherer commented on #1825
@Celestine22

I'm happy to jump on any calls where you think I'll be useful :-).

Given the timelines and that app development is already done (ish), it makes more sense as a demo/progress update to me, because we're not really looking for feedback/changes. What do you think?

[2017-07-09 06:15] AntonShevchuk opened #1854 "Checkbox "Make response private" doesn't works for "Description" field"
### Steps to reproduce the behaviour/error
Create new survey with default fields: "Title" and "Description"
Check "Make response private" for "Description"
Save it

Submit new survey and publish it

### Expected behaviour
Open "Timeline" page
Show survey without description

### Actual behaviour
Open "Timeline" page
Shown survey *with* description

[2017-07-10 00:05] rjmackay commented on #1819
First, for this issue I don't think it matters if you follow contact or directly on the user object, since its a customization for just this deployment. Assuming you are building this - use your judgement, and pick whichever makes the most sense for you.

--

That aside, I think we should eventually tend towards email and phone numbers stored in contacts *only*, not duplicated on the user object.

[2017-07-10 00:14] rjmackay commented on #1822
Maybe more relevant here than on #1819

ie. when a user is created, a contact should be created with the same email (I think?)

[2017-07-10 01:07] rjmackay commented on #1820
@Celestine22 I'm just deploying this now. Please let me know if there are any issues or you spot instances where 'categories' still shows up.

When they're ready to translate new strings, I can bundle translation files to work with a translation editor like: https://poedit.net/

Here's a quick list of strings that changed so far:
----
[code]
[code]

[2017-07-10 01:16] rjmackay commented on #1339
@ryanchristo I don't think there is a working branch already.

- I'd like @jshorland or @justinscherer to confirm that removing default locations is still the best plan... your welcome to get started anyway but you might need to course correct if plans change.
- I *think* the location picker is in its own directive, but maybe it should move under the `common` modules, rather than `main`. You shoul

[2017-07-10 01:22] rjmackay commented on #1826
@justinscherer I'm thinking about *where* this setting should live. There are a couple of options:

1. In general settings as a simple toggle "Users can edit their own posts"
2. As a permission under Settings > Roles. We currently have various permissions for the default 'Member' role so we could add 'Edit own posts' as an option (enabled by default.
<img width="710" alt="screenshot 2017-07-10 13

[2017-07-10 01:25] rjmackay commented on #1845
@Celestine22 Given this was an additional request, not originally spec'd, could we move this to one of the later phases?

@jshorland do you think the ability to 'enable' specific languages in a deployment would be useful to all deployers? ie. in core?

[2017-07-10 01:36] ryanchristo commented on #1339
Ok, sounds good. Thanks!

[2017-07-10 10:17] Celestine22 commented on #1845
@rjmackay sure? Phase 3 it is!

[2017-07-10 12:13] Celestine22 commented on #1825
@justinscherer great, could you please compile this in a quick presentation so I can demo since we haven't pushed to production? Let me know how you best think we can work around this. Thanks.

[2017-07-10 13:30] Celestine22 commented on #1822
@willdoran my assumption here is that we are now doing dev work for this "Non-registered users that have submitted reports receive notifications about any status change of their reports" !? Any other concerns here that I should be aware of?

If so, I will let the client know? This is not in the initial tech spec, and the client will be fully aware we went above and beyond! Makes my job easier so t

[2017-07-10 13:35] Celestine22 commented on #1820
@rjmackay spotted it in these 2 places:
1: When adding a category in category settings;
<img width="705" alt="screen shot 2017-07-10 at 4 33 55 pm" src="https://user-images.githubusercontent.com/8900438/28020620-bfd6eab6-658d-11e7-8eae-feeac942a716.png">

[2017-07-10 13:36] Celestine22 commented on #1820
2.When posting on the surveys, it shows "add category" ! Both should change to domain.
<img width="705" alt="screen shot 2017-07-10 at 4 33 55 pm" src="https://user-images.githubusercontent.com/8900438/28020668-e581751a-658d-11e7-8eea-ea295f3c4a2b.png">

[2017-07-10 13:52] willdoran commented on #1822
@Celestine22 I'm not positive about that, might be best for you to double check that with Robbie. It's actually quite a big piece of work to add though Robbie might have a good solution for it.

[2017-07-10 13:54] Celestine22 commented on #1822
@willdoran by big, do u mean it will it throw us off our timeline?

@rjmackay just double checking that you have a good/fast solution for this, and we can commit do pushing this to prod?

[2017-07-10 15:12] justinscherer commented on #1339
This solution make sense to me, intuitively. To fix the zoom issue, we can default the zoom level to something that is "wide" enough to get the contexts of the first few posts. The default zoom level of the map is like the establishing shot at the beginning of a film. It gives the user context if she doesn't already know any deployment details.

The behaviour would then be:
1. zero posts --> whole

[2017-07-10 15:19] justinscherer commented on #1825
@Celestine22 when are we doing this update? Ideally, @dalezak would just screenshare the working code from the emulator on his local. Alternatively, if Dale's not available, we can walk through a video screen capture from his local. I'd alway rather demo working code instead of static screens.

[2017-07-10 15:59] dalezak commented on #1825
I'm away today but back online Tuesday, can grab screenshots then of the app. Does the deployment have any responses yet? If not, the list of responses will be blank.

[2017-07-10 16:02] dalezak commented on #1825
I can also share a beta build tomorrow so others can grab screenshots from the current app.

[2017-07-10 22:59] rjmackay commented on #1822
This entire issue is still in the backlog, and so isn't started yet.

^ Will is correct, this expands our scope significantly. I'd suggest we deliver this feature *without* support for non-registered users. While we can offer to build that if its a must have for the client, we shouldn't offer to do it in the original timeframe.

[2017-07-10 23:00] rjmackay commented on #1822
@Celestine22 ^^

[2017-07-10 23:23] rjmackay commented on #1853
- Land #1571
- Confirm the API will accept both user id and author_email on a post, if not modify the validator
- Modify client to prefill author_email based on user.email

@Celestine22 do we need to include + prefill phone number? or just email?

[2017-07-10 23:27] rjmackay commented on #1845
For this deployment I'd suggest we just hard code this. Modify the language switcher in the client and filter to just arabic and english, this will not be configurable by a deployment admin

[2017-07-10 23:30] rjmackay commented on #1845
@dalezak is this a customization for mobile too? How are you deciding which languages are shown in the switcher right now?

[2017-07-10 23:32] rjmackay commented on #1853
@Celestine22 I'm not sure which phase this is expected in. It wasn't in our timeline at all.

[2017-07-10 23:46] dalezak commented on #1845
Good question! The main Ushahidi app will include all the languages, currently has English, Spanish, French, German, Portuguese, Dutch, etc but will expand to include the same set as web app.

For for whitelabel apps, there is an optional property to specify a sub-set of the languages, so the whitelabel can include shorter list of languages.

[2017-07-11 00:21] rjmackay commented on #1845
It just occurs to me, I could make this a build-time parameter for the web client too. That way while its not available for .io deployments, it'll be easily available to future custom deploys

[2017-07-11 00:23] dalezak commented on #1845
If the API returned that data, then the app could use it as well, since the first time the whitelabel app launches, it downloads the deployment config.

[2017-07-11 03:10] rjmackay commented on #1820
Update and redeployed. Those should be fixed now

[2017-07-11 03:20] rjmackay commented on #1664
@ClearLakeHABMap I think thats unrelated. @aoduor is talking about supporting polygons for map data, not custom icons for map points.

The API supports this, and we display polygons, but we dont' have an editor for inputting them. It hasn't been requested very often (suprisingly, I expected more demand)

[2017-07-11 09:35] Celestine22 commented on #1821
@rjmackay visiblity of posts to the public will not be affected by the posts status! Custom status given by client today is (New, In Progress, Resolved) but he says he will confirm internally! Hope this helps!

[2017-07-11 12:49] Celestine22 commented on #1853
@rjmackay just email! It can be moved to phase 3 @jshorland your thoughts?

[2017-07-11 13:44] ClearLakeHABMap commented on #1664
@rjmackay Gotcha. I recall using the polygon editor in outlining oil spills but found that it didn't display in the globalized map view the way I expected. I was hoping for overlaps of polygons that would intensify color opacity.
We would certainly use polygons in the current instance of the ClearLakeHAB map to illustrate the spatial data of the HABs as we render them from Sentinel 1 and 2. I have

[2017-07-11 23:48] caharding opened #1856 "FB submissions should report as "via Facebook" not "via web""
<img width="384" alt="screenshot 2017-07-11 16 47 36" src="https://user-images.githubusercontent.com/1618793/28095693-a871b4e8-6658-11e7-9a20-d31ec556cc00.png">

[2017-07-12 08:13] aoduor opened #1857 "Organising data downloaded from different surveys on separate tabs in CSV file"
As someone looking to analyze data from the Uchaguzi platform, it would be useful if the CSV File has data organized by surveys on separate tabs on the downloaded file.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-586

[2017-07-12 08:15] aoduor opened #1858 "UX: Positioning of the submit button"
Feedback we got from trainees was that it was not intuitive to have the submit button at the top right corner of the post submission page.

Most users expected to find the button at the end of the long submission page.

<img width="1604" alt="Screen Shot 2019-06-09 at 20 17 02" src="https://user-images.githubusercontent.com/2434401/59165529-aadff200-8af3-11e9-9bad-6be816a7c5ea.png">

Aha! Link: ht

[2017-07-12 10:05] aoduor opened #1859 "Narrowing down on user/role permissions"
As it stands now, when setting up roles, we're only limited to 4 options:-
- Managing posts
- Managing users
- Managing settings
- Bulk data import

These need to be broken down abit futher. e.g. When managing posts, I'd like to able to limit
- Ability to publish posts
- Ability to delete posts

Aha! Link: https://ushahiditeam.aha.io/features/PROD-584

[2017-07-12 10:08] aoduor opened #1860 "Related post field not working"
### Expected behaviour
Clicking on search should either
* Yield results OR
* Prompt me if there are no results based on my search

### Actual behaviour
the search button on the related post field is non responsive, and i don't get any results.

### Steps to reproduce the behaviour/error
* Log into your deployment
* Add a related post field to your survey
* Attempt to submit a post and search for a

[2017-07-12 10:18] aoduor opened #1861 "Display posts by source"
It would be helpful, to be able to filter posts by their source e.g via web, via sms, via email, via twitter.

Feasibility of adding this to the search filter?

[2017-07-12 10:20] aoduor commented on #1554
I'm going to flag this again as something we need for Uchaguzi, but i recognise that there's a complete redesign of this happening too.

[2017-07-12 10:37] aoduor opened #1862 "UX: Title field on survey form"
Feedback from uchaguzi trainees is that the Title field doesn't pop out as a text field. It's longer than all other fields, while description field ( which is supposed to cover a larger area) is seen to be smaller.

see ![screenshot](http://i.imgur.com/5Mxga3z.png)

@kamaulynder can probably speak to this much better than I can

[2017-07-12 16:52] aoduor opened #1863 "Locking reports actively being worked on by others"
This was a question/request from volunteers.

Could we add the ability to lock a post while it's actively being edited by someone else on the team?

PS: It's one of those features we've received requests for from as far as 2013.

[2017-07-12 17:17] aoduor opened #1864 "Change log of posts"
It's important to be able to keep track of logs of who has been in contact with a particular post for accountability purposes and backtracking too.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-583

[2017-07-13 06:47] ryanchristo commented on #1339
@justinscherer We can set a max zoom for when there are less than 10 posts (users can still zoom in but the max zoom will prevent the auto zoom from going past this value).

Here's a preview of the zoom levels 0, 5, 10, 15 in that order:

<img width="300" alt="screen shot 2017-07-13 at 1 34 31 pm" src="https://user-images.githubusercontent.com/12519942/28153533-174dd8ba-67d0-11e7-9f15-c141967f5fe5

[2017-07-13 07:32] ryanchristo commented on #1736
As mentioned in https://github.com/ushahidi/platform/issues/1339#issuecomment-314987607. We can set a max zoom when there are less than 10 posts. This would be a quick fix once we decide on a value.

[2017-07-13 09:46] ryanchristo commented on #1854
This also applies to "Make response private" for "Title", which makes me think the toggle option for these two fields might not be intended. Should title and description have the ability to toggle "Make response private"? It would be a quick fix to remove the option from these title and description.

@AntonShevchuk For your particular use case, would it make sense to create a separate field and ke

[2017-07-13 10:52] AntonShevchuk commented on #1854
@ryanchristo So, I can create new private field description but my users will be puzzled with two description fields

[2017-07-13 11:37] ryanchristo commented on #1854
@AntonShevchuk You're right, that would be a little puzzling with two description fields. You can change the name of the description field and the new field but if it's the description field itself that you want to hide from users then removing the option to toggle would not help.

[2017-07-13 13:10] Celestine22 commented on #1822
@rjmackay noted! At least I didn't commit!

[2017-07-13 15:10] jshorland opened #1865 "Task completed toggle not working on some tasks"
Can toggle one at a time, but not multiple. And a user in intercom mentioned their task toggle button isn't working at all. And with validation requirements, they therefore can't publish posts.

[2017-07-13 15:10] jshorland commented on #1846
Changing this to p0

[2017-07-13 16:10] justinscherer commented on #1339
Let's try zoom level 5 if there are less than 10 posts. Roughly a country-level of zoom.

To clarify:
- If the user sets a default location and there are less than 10 posts, it will center on that default location at zoom level 5.
- If there is no default location and zero posts, it will show the whole world at zoom level 2.
- If there is no default location and more than zero posts AND less than

[2017-07-13 17:24] middle8media commented on #1851
I have pushed customizations to the PL [here](https://github.com/ushahidi/platform-pattern-library-fix-our-environment) and I can iterate as needed.

[2017-07-13 19:08] dalezak commented on #1825
@willdoran @rjmackay did you decide on how the backend will handle the custom category icons?

[2017-07-13 20:07] justinscherer opened #1866 "favicon for GISCON Kuwait web client"
add a favicon for the GISCON Kuwait web client

[2017-07-13 20:15] justinscherer commented on #1866
asset here:
![favicon.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/593714fffc98e900201ba2a5/125516c66e82c728ace21e0d46ee958c2a818ca7cda5fd53b652fa912a5265296b51f62f21d4e77bba147d0359584dac17585f4cfdf0db29f2a42062c80d55b98e30063e937f03a6aa811eb500be29824682b0b5884bc6e83937aa.png)

[2017-07-14 02:30] ryanchristo commented on #1339
I updated ushahidi/platform-client#684 which does the following:

1. Removes the ability to set a default location in general settings while keeping the ability to set the base layer and the ability to combine nearby posts.

<img width="1680" alt="screen shot 2017-07-14 at 9 08 45 am" src="https://user-images.githubusercontent.com/12519942/28195393-1af7ba5e-6874-11e7-9a42-5bf21c2ec67f.png">

2. Ad

[2017-07-14 12:14] AntonShevchuk commented on #1854
Yep, I really need this fix, this is last obstacle for migration from old version to new platform

[2017-07-14 15:43] middle8media commented on #1866
done, will push later today.

[2017-07-14 16:47] justinscherer commented on #1339
^^ We had a different intention for this one. Allow the default location in General Settings, but don't make it mandatory.

Otherwise looks good!

[2017-07-14 18:35] middle8media commented on #1851
The GISCONkuwait PL is updated [here](https://github.com/ushahidi/platform-pattern-library-fix-our-environment) and reflects custom colors, custom survey icons, custom post status and custom favicon.

[2017-07-14 20:01] justinscherer opened #1868 "Carry over authentication from onboarding"
If a user enrols and launches a new deployment, we ask them to login again when the deployment loads for the first time, even though they have just entered their login credentials.

heuristic impacted: recognition rather than recall

Aha! Link: https://ushahiditeam.aha.io/features/PROD-582

[2017-07-14 20:03] justinscherer opened #1869 "Position of "save" CTA in surveys"
"Save" CTA in surveys should not only be located in the top right but also the bottom right corner, so that for longer surveys users do not have to bring their attention back to the top of the page to save changes.

heuristic impacted: consistency and standards, user control and freedom,

[2017-07-14 20:04] justinscherer opened #1870 "Rename plan levels"
Find industry-standard names for our pricing tiers and remove ambiguity i pricing model:

e.g. "Free", "Premium", "Enterprise"

TO DO:
- [ ] Change pricing plan page on website to  Mapper->"Free", Responer->"Premium", and >"Enterprise"
- [ ] Change pricing plan page on signup to  Mapper->"Free", Responer->"Premium", and >"Enterprise"
- [ ] Change pricing plan page in settings to  Mapper->"Free", R

[2017-07-14 20:06] justinscherer opened #1871 "off-the-shelf surveys by deployment type"
create more tailored off-the-shelf surveys ffor deployments of specific types in order to minimize necessary configuration.

Ideally we should use data from perviously launched deployments to determine which survey fields make the most sense per deployment type.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-581

[2017-07-14 20:09] justinscherer opened #1872 "tabbed sections in "customize reports""
There is no need for separate build/configure/share tabs for each survey section. It decreases the engagement with subsequent steps, has ambiguous labels.

heuristics impacted: match between system and the real world, consistency and standards, user control and freedom

Aha! Link: https://ushahiditeam.aha.io/features/PROD-580

[2017-07-14 20:09] justinscherer commented on #1872
![Screen Shot 2017-07-14 at 2.07.31 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/593714fffc98e900201ba2a5/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b77246455f76b7191a37af1122c4f5c5e5ecc3c4a4356bcbbd671f3e57862804e0ee8856c5e20c56817faea8418bc01ec208b4784bfee8818d2f42f67b6d5db1063474f4dcbed5727a29f41c95df64be14b57ad173e64e3732431.png)

[2017-07-14 20:13] justinscherer opened #1873 "Admin view for platform"
Admins and managers have unique enough roles, and shouldn't be forced to perform their tasks in a UI optimized for tourists and Reporters.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-579

[2017-07-14 20:14] justinscherer opened #1874 "Tasks/categories ambiguous"
For a novice user, tasks and categories are confusing. Categories should be configurable from within survey customization.,

Aha! Link: https://ushahiditeam.aha.io/features/PROD-578

[2017-07-14 20:17] justinscherer opened #1875 "confirm -->submit pattern for updating surveys is confusing"
When updating a survey, a notification bar with a green thumb icon and a CTA saying "add to survey" appears. This acts as a confirmation step. It does not make sense. The wording is confusing, this not a stabdard confirm pattern.

heuristics impacted: consistency and standards, user control and freedom.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-577

[2017-07-14 20:18] justinscherer commented on #1875
![Screen Shot 2017-07-14 at 2.18.07 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/593714fffc98e900201ba2a5/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b77246455f76b7191a37af113234f5f585ecc3c4a4356bcbbd671f3e57862804e0ee8856c5e20c56817faea8418bc01ec208b4784bfee8818d2f42f67b6d5db1063474f4dcbed5727a29f41c95df64be14b56a01a3e60ee772431.png)

[2017-07-14 20:20] justinscherer opened #1876 "flow after survey edit"
After a deployer/manager has finished changing some fields in a survey, they are redirected to submitting the survey they just configured, rather than back to the settings-->surveys page.

heuristics impacted: consistency and standards, user control and freedom, etc.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-576

[2017-07-14 20:21] justinscherer opened #1877 "Deployment cover changes through the lifecycle of a deployment"
A deployment's cover page should change state before it is active, while it is active, and after it has ceased to be active.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-575

[2017-07-14 20:23] justinscherer opened #1878 "do a better job of showing off premium features"
If a user is using the free version of Ushahidi, currently, premium features appear active but throw an error or behave unexpectedly when a user tries to interact with them. Call out premium features in a way that entices a user to upgrade or hide them completely.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-574

[2017-07-14 20:24] justinscherer opened #1879 "parent/child categoreis"
Replace the parent/child categories model we have with a less ambiguous less over-engineered solution.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-573

[2017-07-14 20:25] justinscherer opened #1880 "Double input passwords"
Users should have to input passwords twice during onboarding to reduce the risk of users making typos during password creation.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-572

[2017-07-14 20:26] justinscherer opened #1881 "Fix contrast problems"
All colours should pass a 4.5:1 colour contrast ratio score.

Currently they do not. people with vision loss, low vision, colour blindness, and other special needs will not be able to use our website until this is fixed...

Aha! Link: https://ushahiditeam.aha.io/features/PROD-571

[2017-07-14 20:27] justinscherer opened #1882 "Reduce the number of field styles"
currently there are 5+ input field styles for a single survey. There should only be 1 for consistency.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-570

[2017-07-14 20:29] justinscherer opened #1883 "tappable/clickable items should appear tappable without a hover state"
Currently, editable fields and tappable links do not appear as if a user can interact with them. This is a major usability/accessibility issue.

[2017-07-14 20:30] justinscherer commented on #1882
![Screen Shot 2017-07-14 at 2.27.17 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/593714fffc98e900201ba2a5/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b77246455f76b7191a37af1102c4f5e585ecc3c4a4356bcbbd671f3e57862804e0ee8856c5e20c56817faea8418bc01ec208b4784bfee8818d2f42f67b6d5db1063474f4dcbed5727a39841c95df64be14b51a611356bef752431.png)

[2017-07-14 20:31] justinscherer commented on #1883
![Screen Shot 2017-07-14 at 2.30.48 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/593714fffc98e900201ba2a5/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b77246455f76b7191a37af1112b4f5b575ecc3c4a4356bcbbd671f3e57862804e0ee8856c5e20c56817faea8418bc01ec208b4784bfee8818d2f42f67b6d5db1063474f4dcbed5727a29f41c95df64be14b51a615366be2712431.png)

[2017-07-14 20:32] justinscherer opened #1884 "label all icons"
Anything other than really old, standard icons (e.g. "+" for add, hamburger menus, "x" for close, etc. ) need to have labels or refactored to be buttons or text links.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-57

[2017-07-14 20:33] justinscherer opened #1885 "icon tap area"
# Updated issue

The tap areas for icons being used as buttons are too small. Tap areas for touch-screen devices (and click areas for mouse/laptop/computer users too) should be a minimum of 40px either tall/height or wide/width. Preferably at least 40px wide and high.

See some visuals in the Figma file here: https://www.figma.com/file/Q2wVoHZ7lPllxE7zWxW19B/Ushahidi-issue-1885?node-id=0%3A1

This

[2017-07-14 20:36] justinscherer opened #1886 "undo/redo pattern"
At a bare minimum, every time a user submits new information to the system, a consistent undo affordance (e.g. regret bar from Material Design) should be present.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-568

[2017-07-14 20:41] justinscherer opened #1887 "FAB treatment"
FABs are supposed to have very specific use cases for Android native apps and Material design applications. They are supposed to represent the most important task on a view, depending on the use case "answer survey" may not be the most primary action. This may get solved by #1873

Aha! Link: https://ushahiditeam.aha.io/features/PROD-567

[2017-07-14 20:43] justinscherer opened #1888 "inline error handling"
error handling on the field level should occur on off-focus and we should do as much client-side error handling as possible.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-566

[2017-07-14 20:43] justinscherer opened #1889 "remember user email on subsequent logins"
remember user email on subsequent logins

Aha! Link: https://ushahiditeam.aha.io/features/PROD-565

[2017-07-14 20:45] justinscherer opened #1890 "label support and give it a better icon"
label support and give it a better icon

related to issue ushahidi/platform#1884

icon does not represent support, but rather ushahidi in general, this increases the ambiguity of the CTA.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-564

[2017-07-14 20:46] justinscherer opened #1891 "Making set up and configuration easy breezy"
Create affordances for novice users configuring a deployment for the first time, for example, it should be clear why I would change certain settings.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-563

[2017-07-14 20:47] justinscherer opened #1892 "decrease interaction cost for onboarding and config"
a brand new user should be able to come to .com, enrol, launch, and configure a deployment with *confidence* in less than 5 minutes.

[2017-07-14 20:48] justinscherer opened #1893 "dropdowns open modals"
on the web, drop downs needn't open modal windows, use more consistent dropdowns with the rest of the internet. also make input fields more consistent.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-561

[2017-07-14 20:56] justinscherer opened #1894 "Deployment "cover page" or "overview screen""
As a Deployer I want to create and configure a splash page for my deployment in under 5 minutes so that I can effectively communicate the "pitch" of my deployment to stakeholders.

See relevant feedback here https://github.com/ushahidi/platform/issues/1723
Related (duplicate?) issue here https://github.com/ushahidi/platform/issues/1575

Aha! Link: https://ushahiditeam.aha.io/features/PROD-560

[2017-07-14 20:57] justinscherer opened #1895 "deployers invite team to deployment"
As a manager, I want to be invited to a deployment by a deployer, so that I can quickly onboard and begin configuring our deployment.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-559

[2017-07-14 20:58] justinscherer opened #1896 "decrease ixn cost of grooming - LAYOUT AND BEHAVIOR changes"
As a manager, I want the platform to help me perform actions to posts in the most efficient way possible because my time is valuable and situations may be urgent.

[2017-07-14 20:58] justinscherer commented on #1871
As a manager, I want my deployment to work at a basic level off the shelf with no configuration so that I can quickly understand what the Ushahidi platform can do.

[2017-07-14 20:59] justinscherer commented on #1891
As a manager, I want to be guided, step-by-step, through configuring a deployment, so that I can perform just enough configuration for our needs

[2017-07-14 20:59] justinscherer opened #1897 "deploy reward"
As a deployer, I want Ushahidi to congratulate me for launching a new deployment

Aha! Link: https://ushahiditeam.aha.io/features/PROD-558

[2017-07-14 21:00] justinscherer opened #1898 "publish reward"
As a manager, I want the deployment to reward me for finishing the grooming tasks for a report, so that I do not get bogged down by the drudgery of data processing

Aha! Link: https://ushahiditeam.aha.io/features/PROD-557

[2017-07-14 21:00] justinscherer opened #1899 "status of data in the system should be more clear"
As a manager, I want to know what the what reports in my deployment need (grooming, publishing, etc.), so that I know at at a glance what actions are required for each piece of data coming into our deployment.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-556

[2017-07-14 21:00] justinscherer opened #1900 "report reward"
As a reporter, I want the deployment to reward me for submitting a report

Aha! Link: https://ushahiditeam.aha.io/features/PROD-555

[2017-07-14 21:01] justinscherer opened #1901 "deployment results should be visible"
As a reporter, I want to know if/how my report made a difference "on the ground"

As a deployer, I want to be able to demonstrate that my deployment made a difference "on the ground"

Aha! Link: https://ushahiditeam.aha.io/features/PROD-554

[2017-07-14 21:01] justinscherer opened #1902 "Ushahidi brings the crowd"
As a deployer, I want Ushahidi to offer on-demand teams of mechanical turks to fulfil the "manager" role in my deployment, so that I don't have to generate and coordinate a team of data groomers for my deployment.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-553

[2017-07-15 01:41] caharding opened #1903 "Bot does not have help command to provide support in conversation."
Suggested: Link Help to the main Menu

![screenshot 2017-07-14 18 39 55](https://user-images.githubusercontent.com/1618793/28235504-ef542a9a-68c3-11e7-9e15-8b81235f7659.png)

[2017-07-15 01:42] caharding opened #1904 "Bot does not set expectations for execution time."
Is there an issue with load time registering to the deployment? Seems to be VERY slow.

![screenshot 2017-07-14 18 41 22](https://user-images.githubusercontent.com/1618793/28235507-1a45ec8e-68c4-11e7-8b63-4a978df08c0c.png)

[2017-07-15 01:43] caharding opened #1905 "Bot does not utilize CTA buttons."
![screenshot 2017-07-14 18 43 06](https://user-images.githubusercontent.com/1618793/28235518-4986c89c-68c4-11e7-823f-a78f71b2511e.png)

[2017-07-15 01:44] caharding opened #1906 "Bot sends direct URL link instead of bubbles"
Replace link to deployment with a Chat Bubble link

![screenshot 2017-07-14 18 43 28](https://user-images.githubusercontent.com/1618793/28235527-6b1f5aa0-68c4-11e7-846a-f111af7e43c6.png)

[2017-07-15 01:45] caharding opened #1907 "Bot does not encourage feedback."
Allow a user to send feedback which the Uchaguzi team can respond to
![screenshot 2017-07-14 18 44 28](https://user-images.githubusercontent.com/1618793/28235536-847c7a82-68c4-11e7-9967-2d88c0efd4b0.png)

[2017-07-15 01:50] caharding opened #1908 "Bot does not have at least 3 distinct and alternating failure messages."
Rotate the failure message between these 3 texts:

1. "I am sorry, I didn't understand that."
2. "Sorry, I'm just a bot built for reporting, so my vocabulary is pretty limited."
3. "Oh my, I'm not programmed to understand what you're saying. Sorry!"

![screenshot 2017-07-14 18 46 25](https://user-images.githubusercontent.com/1618793/28235563-341b53f0-68c5-11e7-94cb-3ba12407fc68.png)

[2017-07-15 01:56] caharding opened #1909 "Bot does not have minimum personality."
Suggested replies:

- What's your name: "I'm the Uchaguzi reporting bot. Ready to get started?"
- How old are you: "I'm not that old, so I can only do a few things. Ready to get started reporting?"
- What can you do: "I can help you report what you see during the Kenyan election. Ready to get started?"

![screenshot 2017-07-14 18 50 31](https://user-images.githubusercontent.com/1618793/28235571-57

[2017-07-15 01:57] caharding opened #1910 "Bot does not have link to an about/ help/FAQ page in contact details."
Add About link that takes you to the Uchaguzi website

![screenshot 2017-07-14 18 56 55](https://user-images.githubusercontent.com/1618793/28235605-3b33f42a-68c6-11e7-8212-0ebc99df3ab0.png)

[2017-07-15 01:58] caharding opened #1911 "Bot does not greet the user by name."
Great the user by name
![screenshot 2017-07-14 18 58 05](https://user-images.githubusercontent.com/1618793/28235612-6228ff3a-68c6-11e7-8ea3-3d5dca937b65.png)

[2017-07-15 01:59] caharding opened #1912 "Bot does not use Share buttons in conversation or web view"
Use Share Button in both conversation and web view
![screenshot 2017-07-14 18 58 48](https://user-images.githubusercontent.com/1618793/28235618-852e3914-68c6-11e7-91ef-4925189500de.png)

[2017-07-15 02:00] caharding opened #1913 "Bot sent an attachment that was unavailable"
![screenshot 2017-07-14 19 00 02](https://user-images.githubusercontent.com/1618793/28235626-ab1e9844-68c6-11e7-9664-11798b434d59.png)

[2017-07-16 14:34] ryanchristo commented on #1339
@justinscherer Thanks! I just want to double check before rebuilding the branch. The original idea was to remove the default location from General Settings https://github.com/ushahidi/platform/issues/1339#issuecomment-249035714 and the decision moving forward is to keep the default location in General Settings but make it optional?

[2017-07-16 21:05] jshorland commented on #1657
This also consistently appears during DREAMS feedback. We will need to figure out how to address the higher level need here -- deployers and deployment managers want to PUSH questions and information to people instead of waiting for them to initiate contact.

@ifender Is there any other nuance you'd like to add to this?

[2017-07-16 21:15] jshorland commented on #1844
@Angamanga @charlie the user currently selects a survey, correct?

[2017-07-16 21:25] jshorland opened #1914 "Aggregate DREAMS ux feedback"
@ifender can you help me do this? -- I see a lot of feedback scattered throughout drive. It'd be good to get them all in a spreadsheet.

[2017-07-16 21:30] jshorland commented on #1749
For now, warning should inform the user of max file size.

[2017-07-16 21:34] jshorland opened #1915 "Audit feature blocking"

[2017-07-16 22:37] jshorland opened #1916 "Create a tag specifically for Verified"
We need a way to allow deployers to make posts as verified straight out of the box instead of configuring a category for it. It would be nice to be able to have a visual indicator for this, and filtering.

See #1797, but also a request that's come up from other users.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-552

[2017-07-17 03:55] rjmackay commented on #1339
@justinscherer if we keep default location that leaves us with the same kind of confusing situation - ie. its not clear to a user *why* their default location isn't being used on the map mode.
If we include a default location, I think we should explicitly ask the user to pick between 1. center map on a fixed location or 2. automatically focus map based on their posts.

[2017-07-17 06:45] ryanchristo opened #1917 "Instructions are not visible for title and description attributes"
### Expected behaviour
- When I add instructions to the `title` and `description` attributes, I see the instructions in the post form when I am creating or editing a post.

### Actual behaviour
- When I add instructions to the `title` and `description` attributes, I do not see the instructions in the post form when I am creating or editing a post.

### Steps to reproduce the behaviour/error
1. cre

[2017-07-17 09:58] ryanchristo commented on #1854
@AntonShevchuk It looks like the team is exploring "free form surveys" (https://github.com/ushahidi/platform/issues/1335), which would break from the current pattern of postcards (e.g. title, description, metadata). The title and description are not currently handled in the same way as the other fields (metadata), which is why the `Make response private` feature is not working.

With the implement

[2017-07-17 15:36] ccorreia64 commented on #1700
Did you manage to solve it? I also followed the same steps as indicated  [here](https://forums.ushahidi.com/t/uploaded-images-not-showing-up-on-ushahidi-3/4178/5) and the images are broken, but saved on a disk.

[2017-07-17 16:36] justinscherer commented on #1339
@rjmackay @ryanchristo Totally understand. Let's go with number 2 ^^ and remove default location from general settings.

[2017-07-17 16:38] caharding commented on #1657
We need to be very careful about permission here. I highly recommend that any push service is done only through integration to existing email marketing channels and our share feature.

[2017-07-17 16:41] justinscherer commented on #1905
@caharding did they give an example of the CTAs that we should be using? I'm looking at the messenger design kit and I only see messages with buttons like this:
<img width="724" alt="screen shot 2017-07-17 at 10 40 31 am" src="https://user-images.githubusercontent.com/29209303/28279031-69c401aa-6adc-11e7-9648-3002d86dea04.png">
and I see quick replies like this:
<img width="793" alt="screen shot 2

[2017-07-17 16:48] justinscherer commented on #1903
We included an "About Uchaguzi" item in the global navigation in the design. Would it be a sufficient fix to include the about Uchaguzi items automatically after the "help" query?

![about uchaguzi](https://user-images.githubusercontent.com/29209303/28279210-f90ee5b4-6adc-11e7-9b48-c6fc0474095d.jpg)

It would look like this:
<img width="490" alt="screen shot 2017-07-17 at 10 47 59 am" src="https:/

[2017-07-17 17:25] caharding commented on #1903
Perfect!

On Mon, Jul 17, 2017 at 9:56 AM, justinscherer <notifications@github.com>
wrote:

--
Charlie Harding
Product Director

[2017-07-17 17:25] caharding commented on #1905
TBH I don't know what they were pointing to here. Let's close this issue
since it looks like we are using the CTAs.

On Mon, Jul 17, 2017 at 9:51 AM, justinscherer <notifications@github.com>
wrote:

--
Charlie Harding
Product Director

[2017-07-17 17:25] #1905 closed

[2017-07-17 17:31] ClearLakeHABMap commented on #1700
@ccorreia64 EliotLandrum on the forum is working on the project for me. We still have the images on the webserver but are unable to get them to load in the software. We are wondering if it is better to load the system on Apache or NginX.

[2017-07-17 21:02] ccorreia64 commented on #1700
@ClearLakeHABMap  I have the application in a VPS with ubuntu 16.04 and Apache, and I also have the same problem. It should be something of the .htaccess at the root of the app. If I can solve it, I write the solution here.

[2017-07-18 02:00] rjmackay commented on #1664
@ClearLakeHABMap here's an example of what the data posted to/from the API looks like for polygons: https://github.com/ushahidi/platform/blob/develop/tests/integration/posts.feature#L29
It just uses WKT format

[2017-07-18 04:26] rjmackay commented on #1848
I think this might actually have been a bug. It seems we're currently toggling the visibility of tasks data entry, based on the `Show this task to everyone when published` setting, but its pretty clear that was only meant to effect final visibility when published.

[2017-07-18 04:43] rjmackay commented on #1848
Tech changes:
- When returning stages - as a normal user - we currently filter out stages without `show_when_published`.
    - This is fine, though should filter down to attributes too.
    - This should also be enforced in the Authorizer, not the repo.
- The client needs to hide all tasks if we don't have manage posts permission
- API needs to reject attribute values for tasks if we don't have ma

[2017-07-18 10:28] ryanchristo commented on #1865
@jshorland I'm not able to reproduce the issue. I created a survey with two tasks and then created a new post and was able to toggle `task completed` for both tasks and save the post. Do you have an example deployment I could look at? Do the tasks that the toggle is not working for have something in common or maybe something that makes them different from the other tasks?

[2017-07-18 11:16] ryanchristo commented on #1860
@aoduor It looks like the search button is working but there is no indication that no results were found. Should the error message read and look like the following?

![](http://recordit.co/yUvb4Iyijs.gif)

[2017-07-18 11:34] aoduor commented on #1860
Oh my, Ryan you're on a roll. YES. This is exactly what we need.

Handheld Sent,

Angela Oduor Lungati,
Director of Community Engagement,
Ushahidi | www.ushahidi.com

[2017-07-18 11:36] Celestine22 opened #1918 "Cannot duplicate survey on SFCG deployment."
### Steps to reproduce the behaviour/error
@willdoran @rjmackay When I select duplicate survey for SFCG deployment, I am getting the below error. What could be wrong?
Deployment link: https://sfcgguineaewer.ushahidi.io/views/list
<img width="932" alt="screen shot 2017-07-18 at 2 16 18 pm" src="https://user-images.githubusercontent.com/8900438/28315247-58bcbc36-6bc6-11e7-8c04-a63dbaa9b420.png">

[2017-07-18 11:37] tuxpiper commented on #1904
API response times from the Ushahidi deployment seem to be ok from my side. Are we talking very slow as in >30 seconds?

[2017-07-18 17:05] #1918 closed

[2017-07-18 21:32] rjmackay commented on #1853
@Celestine22 I've merged some changes for this. We're now collecting user email when they submit a report (when not logged in). If they are logged in, we just show their user email on the report. I'm not sure if I need to continue with

I can demo this to the client and get feedback.

[2017-07-18 21:33] rjmackay commented on #1820
Waiting on client for decision on domains as surveys vs categories.

[2017-07-18 21:50] rjmackay commented on #1853
Should email be required for not-logged-in reports?

[2017-07-19 00:54] rjmackay commented on #1819
@willdoran I assume Dale needs to implement this in the mobile app? Whats does the post to the API look like?

[2017-07-19 01:10] willdoran commented on #1819
@rjmackay done

[2017-07-19 01:10] #1819 closed

[2017-07-19 01:50] ryanchristo commented on #1860
Another option for the searching indictor would be the following:

![](http://recordit.co/JkIdILuqOf.gif)

Let me know if this would be the preferred look and I can update the pull request.

[2017-07-19 02:11] rjmackay commented on #1825
It depends a little if they go with categories or surveys for domains, however right now I'm not handling them on the backend at all. The icons are simply shipped in the fork of the client and I check the name of the survey.

[2017-07-19 07:47] ryanchristo commented on #1836
@willdoran Would something like this work?

![](http://recordit.co/afxTnu54Ly.gif)

I also added a timeout function in the above example to prevent excessive calls to the api while the user is still typing, therefore only searching for the latest search text a quarter of a second after the keydown event, which still gives it the feel of live loading without getting hung up on other calls.

Let me

[2017-07-19 08:43] rjmackay opened #1921 "Translate site name + description"
- /config/site accepts site_name_ar and site_description_ar, these are saved with other config
- Add an "Arabic Site Name" field below the original "English Site Name" field in the UI, repeat for description
- Update views to switch strings based on current language

[2017-07-19 08:43] rjmackay opened #1922 "Translate categories"
-  Add a translations table the backend to store the translated text
- Accept and return translations via existing API endpoints. Structure something like:
[code]
- Update Tags endpoint to use translations depending on current language
- UI might need to reload when switching languages, to ensure we don't miss translating any already loaded content
- Add 'Arabic name' to category settings UI

[2017-07-19 08:43] rjmackay opened #1923 "Translate surveys, tasks and fields"
- Following on from #1922
- Accept and return translations via existing API endpoints. Structure something like:
[code]
- Update survey settings to add extra fields to configure translations
- Update Forms, Stages and Attributes endpoints to use translations depending on current language

[2017-07-19 10:22] Celestine22 commented on #1853
@rjmackay its required as it will help them manually send notifications about post status of a report!

As for showing their user email on the report for as long as they're logged in, I think that's enough and I've added this to the agenda for tomorrows meeting.

[2017-07-19 10:25] Celestine22 commented on #1820
@rjmackay Good stuff!!! 💃

[2017-07-19 14:12] #1397 closed

[2017-07-19 14:13] #1735 closed

[2017-07-19 14:13] #1715 closed

[2017-07-19 14:15] #1669 closed

[2017-07-19 15:43] caharding commented on #791
no longer using doorbell

[2017-07-19 15:43] #791 closed

[2017-07-19 15:44] caharding opened #1924 "Bug reporting mechanism"
- People can report a bug web client and mobile
- Bug tool captures user log and time stamp
- Bug tool can submit a screenshot

[2017-07-19 15:46] caharding commented on #1164
View doesn't exist anymore

[2017-07-19 15:46] #1164 closed

[2017-07-19 15:51] caharding commented on #1770
@jshorland can we close this in favor of fixing this issue in other ways?

[2017-07-19 15:55] caharding commented on #1568
turning this into email and using #493 into the SMS issue, long been open

[2017-07-19 16:03] caharding commented on #796
@jshorland closing this issue as it will be covered in tasks. Adding to the user story in #1381 and closing

[2017-07-19 16:03] #796 closed

[2017-07-19 16:05] #1588 closed

[2017-07-19 16:05] caharding commented on #983
Closing this b/c all OSS should be self-serve.

[2017-07-19 16:05] #983 closed

[2017-07-19 16:17] caharding commented on #1552
I've never seen this done in another tool. Its always the users job to manage their CSV and choose the right fields on their own. It's very easy to run pivot tables and accomplish this in a CSV file with existing spreadsheet/DB tools. The only reason we would do this is if there is a high data cost to us for the downloads and even then we would need to get people to use it. @jshorland I recommend

[2017-07-19 16:24] caharding opened #1925 "EPIC: Messages"
Currently, Messaging and Report Data Sources are the same things. They should be separate.

- [ ] Admin should be able to configure all incoming messages including SMS, Email, FB
- [ ] Manager should be able to see a list of all message
- [ ] Manager should be able to sort this list
- [ ] Manager should be able to reply to messages
- [ ] Manager should be able to turn a message into a report
- [ ]

[2017-07-19 16:25] caharding commented on #1925
Originally addressed partially in #1179

[2017-07-19 16:25] caharding commented on #1179
Closing in favor of #1925 as I don't think this issue was scoped well.

[2017-07-19 16:25] #1179 closed

[2017-07-19 16:30] caharding commented on #1709
@aoduor can we please close this in favor of Tasks #613 which will solve the same problem?

[2017-07-19 16:31] willdoran commented on #1247
Done.

[2017-07-19 16:31] #1247 closed

[2017-07-19 16:50] willdoran commented on #1836
@ryanchristo thanks very much! I'll review the PR but it looks good.

[2017-07-19 18:39] caharding commented on #1904
They said more than 1m. An abiration?

On Tue, Jul 18, 2017 at 4:37 AM, David Losada <notifications@github.com>
wrote:

--
Charlie Harding
Product Director

[2017-07-19 22:38] rjmackay commented on #1866
Need to update the web client to pull this in

[2017-07-19 22:39] rjmackay commented on #1821
This is deployed

[2017-07-19 22:39] rjmackay commented on #1824
Deployed!

[2017-07-20 05:53] ryanchristo opened #1926 "Creating a new collection as an unauthorized user"
### Expected behaviour
When I am unauthroized to create a collection, I should not be presented with the option to create a collection or I should be notified that I must log in as an authorized user to create a collection.

### Actual behaviour
When I attempt to create a collection as an unauthorized user, I am redirected to the forbidden page with the login modal open and a somewhat cryptic vali

[2017-07-20 08:49] rjmackay commented on #1825
- [ ] Add icons to create post drop down on web client

[2017-07-20 08:52] rjmackay commented on #1821
- [ ] Check why filter box jumped
- [ ]  Test filtering actually works on demo site

[2017-07-20 09:18] Celestine22 commented on #1923
Option below selected by client.
@rjmackay @willdoran @jshorland

*Option 2*
--

- [ ] Build in translations for categories, site name, site description as in option 1.Build in translations for surveys, as well tasks and fields within the survey.Take a similar approach to translating tags for survey title, tasks and fields.
- [ ] Create only a single survey for Arabic and English (so just 1 survey

[2017-07-20 09:21] Celestine22 commented on #1922
No need to translate categories! We will have 3 surveys (Air, Land, Water) with multiple categories/sub categories under each! @rjmackay @dalezak @willdoran

[2017-07-20 09:24] Celestine22 commented on #1853
Points to note;

- This approach works for client.
- No point of pre-populating the user email when the user is logged in.

[2017-07-20 09:27] Celestine22 commented on #1825
- Client selected 3 surveys for the different domains.
- We will also need to update the icons for the different surveys on the map.

[2017-07-20 09:28] Celestine22 commented on #1820
Domains now surveys! :)

[2017-07-20 14:05] ClearLakeHABMap commented on #1700
Wonderful, thank you!

[2017-07-20 15:45] dalezak opened #1927 "Add Dale To Apple and Google App Accounts"
To be able to publish the iOS and Android apps, dalezak@gmail.com will need to be added to the following sites so I can create the app profiles and upload the binaries.

*iTunes Connect* https://itunesconnect.apple.com/WebObjects/iTunesConnect.woa/ra/ng/users_roles

*Apple Developer Team* https://developer.apple.com/account/#/people/

*Google Play Console* https://play.google.com/apps/publish

[2017-07-20 15:58] dalezak commented on #1824
@rjmackay how was this implemented? Was it hardcoded in the web client? Or changed in the pattern library? Any idea how these changes will make it to the mobile app?

[2017-07-20 15:59] dalezak commented on #1821
@rjmackay how was this implemented in the backend? Does the API return a list of available statuses which the mobile app can use?

[2017-07-20 17:15] dalezak commented on #1845
FYI, the mobile app has a `appLanguages` whitelabel config variable which lets you specify a subset of the available languages, so the app will only show English and Arabic as language options.

[2017-07-20 18:05] dalezak opened #1928 "Mixed Use Of Underscore And Dash in JSON Data"
### Expected behaviour
There should be a consistent format for representing JSON data. For example, always use underscores as opposed to dashes in key names.

### Actual behaviour
*Dashes*
[code]
[code]
*Underscores*
[code]
[code]
### Steps to reproduce the behaviour/error
View JSON data from /api/v3/config and other endpoints.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-550

[2017-07-20 22:53] rjmackay commented on #1824
Its hardcoded in the web client.
- Because they've used several different surveys, status is a custom field on each survey.
- The client has a variable hardcoded in with the keys for each of those field (ie. attributes)
- It checks each of them when displaying the post card, and uses that to populate the status indicator
- For filtering I added a custom parameter to the posts API used like this `?

[2017-07-20 22:54] rjmackay commented on #1821
See my comment here: https://github.com/ushahidi/platform/issues/1824#issuecomment-316852800

[2017-07-20 23:54] dalezak commented on #1824
I see, so there is a _Form_ _Attribute_ called `Incident Status` which has the the _Options_ ` "New", "In Progress", "Resolved"`, the value is displayed on the response card, plus is used in response filtering.
[code]
Hmm, I don't see an easy way how we are gonna implement this in the mobile app 😟

[2017-07-21 01:34] rjmackay commented on #1853
@dale this is the task for the author fields. They're a part of the main posts API, have been for a while but we lost the UI for them a while back.
- Basically for any user who isn't logged in we ask for name + email
- We send that to `author_realname` and `author_email` on the post object
- I probably need to finesse the language so if you have better ideas for labelling that'd be great. Possibly

[2017-07-21 01:36] rjmackay commented on #1848
@dale so far I've just hidden all tasks from users without 'Manage Posts' permission when creating/editing a post.
I haven't updated the API to reject values for those tasks yet though. I need to sync with Jess when she's back online as its possible this might need to be optional so we can account for existing deployments where tasks are currently visible

[2017-07-21 04:06] ryanchristo commented on #1860
Another option that would be consistent with the current resolution for ushahidi/platform#1836:

![](http://recordit.co/SbJic0dQir.gif)

[2017-07-21 07:57] rjmackay commented on #1824
2 be clear: there are 3 attributes called 'Incident Status', 1 per form.

[2017-07-21 13:22] crcommons opened #1930 "Update platform cloud ansible"
### Expected behaviour
Just making a reminder note for myself and will.

### Actual behaviour

### Steps to reproduce the behaviour/error

[2017-07-21 13:28] Celestine22 commented on #1820
Closing this for now!

[2017-07-22 16:36] caharding commented on #1171
Is this button broken? If so we should just fix it.

[2017-07-22 18:09] willdoran commented on #1646
This is already working in the comrades branch and should be merged

[2017-07-22 18:15] #1573 closed

[2017-07-22 18:41] willdoran commented on #1571
closing in favour #1399

[2017-07-22 18:42] willdoran commented on #928
@rjmackay Is this still relevant?

[2017-07-22 18:48] #1498 closed

[2017-07-22 18:52] willdoran commented on #855
I would favour ldap/AD over this

[2017-07-24 02:36] rjmackay commented on #1845
Doing much the same thing for client, adding an APP_LANGUAGES option to the .env

[2017-07-24 03:32] rjmackay commented on #928
I think so yes. The default admin user for an OSS install has email: `admin` which clearly isn't actually an email at all

[2017-07-24 13:17] Angamanga commented on #1913
Has somebody else managed to reproduce this? I cannot, it should be just a 'send a report'-button.

[2017-07-24 13:23] Angamanga commented on #1907
@caharding @justinscherer Not sure if I understand the issue here? Feedback on what? The bot? Uchaguzi?

[2017-07-24 13:28] Angamanga commented on #1904
I cannot reproduce this. There is a small delay but not 1 minute... And the typing-dots are visible during the time it takes to save the report... @justinscherer Is there something we can add to set the expectations that saving might take a little bit longer than a normal reply?

[2017-07-24 13:39] Angamanga commented on #1784
@caharding I am unsure what this is?

[2017-07-24 19:32] justinscherer commented on #1907
@Angamanga both, I think is the intention here. It's not a bad idea.

What do you think of adding a persistent menu option: "Leave feedback" which triggers a message: "How can we make your experience of Uchaguzi better?"
and then we can send the response to a repository of feedback somewhere?

@jshorland @aoduor any ideas about a useful place for that repository?

After they respond we say:

"Than

[2017-07-24 19:33] justinscherer commented on #1904
If you cannot reproduce this and the loading indicator is present I think we are good here.

[2017-07-25 00:28] rjmackay commented on #1845
English is listed twice!?

[2017-07-25 00:39] middle8media commented on #1816
@jshorland top priority tomorrow.

[2017-07-25 01:07] rjmackay commented on #1571
Reopening because this is already partially implemented and #1399 is far too broad in scope IMO.

@jshorland can you review this and #1399. A minimal version of this is implemented in https://github.com/ushahidi/platform-client/pull/682 for the Kuwait deployment. But we need to decide if it goes into core. If it does, should we give users an option to enabled/disable/require author info?

[2017-07-25 01:08] rjmackay commented on #1848
@jshorland as mentioned in Slack. I'm happy to hide these from non-admin users... *but* I'm concerned about how this impacts existing deployments. ie. if they already have tasks they expect normal users to fill in and then we hide them, thats not great

We need to check if many users are using tasks already before this goes into production

[2017-07-25 07:04] Angamanga commented on #1904
@caharding, I am closing this issue for now, cannot reproduce it.

[2017-07-25 07:04] #1904 closed

[2017-07-25 13:57] Angamanga commented on #1912
@justinscherer I am adding a share-button but need content that will be displayed in the  messenger-window of the user that the bot is shared to. It has to be a 'generic template' (https://developers.facebook.com/docs/messenger-platform/send-api-reference/generic-template) with an image_url and text. Do you have any suggestions? I am thinking of using the Uchaguzi-logo but need help with a catchy

[2017-07-25 15:06] willdoran commented on #1844
@Angamanga could we do the following:

- User selects survey and we store that survey id
- User fills in information the same as now, title, description, image
- When we save the details to the survey we choose the form based on the survey the user selected in the first step?

[2017-07-25 15:47] justinscherer commented on #1912
Uchaguzi logo will work for the image.

For share text:
<h1>Uchaguzi</h1>
<p>Helping Kenya have a free, fair, peaceful and credible general election</p>

For the person who sent the share: "Nice job! What do you want to do next?" (and then show the same options as we show after they post a report.)

@Nthiga @aoduor ^^ does this share text sound right?

[2017-07-25 23:14] rjmackay commented on #1922
Very rough UI for editing tags:
<img width="884" alt="screenshot 2017-07-26 11 13 16" src="https://user-images.githubusercontent.com/7965/28597708-8cab81b6-71f3-11e7-8d34-23e3d758fb19.png">

[2017-07-25 23:16] rjmackay commented on #1922
@justinscherer any thoughts on simple improvements to the edit UI for translations?
Original categories editing UI is here: http://preview.ushahidi.com/platform-pattern-library/develop/assets/html/5_layouts/settings-category-edit.html

My rough version is above. I'm only dealing with Arabic and English right now... if this goes back into core we'd have to cope with more (and probably give users a

[2017-07-26 12:12] Angamanga commented on #1912
@justinscherer This is what the actual userflow will look like when sharing, right now I have only added it to after a user has posted a report:

**When user has submitted a post:**
![img_1836](https://user-images.githubusercontent.com/8624777/28620100-cec9c93c-720b-11e7-9922-31f4242c7ba1.PNG)

**When user is taken to the share-screen:**
![img_1837](https://user-images.githubusercontent.com/862477

[2017-07-26 12:16] Angamanga commented on #1912
@justinscherer @willdoran Another question, I need a link to the logo, right now when I tested I used a logo-link from GitHub, do we have any repo to put logos like this to be able to host/use them? I am thinking about the pattern-library but that isn't that more general for the platform?

[2017-07-26 16:26] justinscherer commented on #1912
Looks good @Angamanga

Logos you can find here:
/Dropbox (Ushahidi)/Design/Logos

[2017-07-26 17:53] justinscherer opened #1933 ""Proper" multilingual support"
This initially came up as part of the Lovomar deal. We need to be able to support multiple languages.

As a deployer, I want to be able to configure a deployment in multiple languages using those languages

As a reporter/tourist, I should only see the target language I have chosen in the language dropdown.

For example, if I choose Mandarin, I should not see **any** English text **anywhere** in th

[2017-07-26 17:56] justinscherer commented on #1922
This is super interesting.

The most flexible way to do this would be to allow our users to "add" whichever languages they want. If, for example, we need to do a legally compliant deployment in a country with 4 or 40 official languages, it should technically be possible.

For the example above, the Arabic copy on the config page should also be in Arabic, and it should be displayed right-left.

I a

[2017-07-26 21:02] rjmackay commented on #1922
Absolutely. I imagine this being a site wide setting where you enable/disable whatever languages you need.

They can switch the entire UI into Arabic if they like, but we only show 1 language at a time, not a mix of the two. Maybe thats the wrong approach though?

Definitely. I've built the backend to support many languages already, but the making the frontend flexible is harder.

I'll see if I ca

[2017-07-27 15:52] dalezak commented on #1816
Related to mobile issue https://github.com/ushahidi/platform-mobile/issues/160

[2017-07-27 15:54] Celestine22 commented on #1816
@middle8media is this done?

[2017-07-27 16:23] middle8media commented on #1816
I am currently working on this.

[2017-07-27 21:22] rjmackay commented on #1860
@ryanchristo could you update this to use the bouncing loading button shown here: http://preview.ushahidi.com/platform-pattern-library/develop/assets/html/2_fragments/

[2017-07-27 21:23] rjmackay commented on #1836
@ryanchristo could you update to use the loading button shown here: http://preview.ushahidi.com/platform-pattern-library/develop/assets/html/2_fragments/

[2017-07-27 22:37] rjmackay commented on #1759
@crcommons @middle8media it looks like this got lost somewhere? I'm still seeing weird styling on http://qa.ushahididev.com/settings/categories

[2017-07-28 05:52] ryanchristo commented on #1836
@rjmackay Updated. I'm not sure when the user would use the "Search" button if the search results are updated when the user types. I noticed the button was not included in [the layout preview](http://preview.ushahidi.com/platform-pattern-library/develop/assets/html/5_layouts/post-add.html#0). I also noticed the icons next to search results were missing and added them in.

Here is what it looks lik

[2017-07-28 07:17] ryanchristo commented on #1860
@rjmackay I ran into an issue with the loading button and the `input-inline` class:

![](http://recordit.co/0lYjaoXoIV.gif)

We could decrease the width of the `input-inline` class in the pattern library, but this would also affect the input for adding options to "Select", "Radio Buttons" and "Checkboxes":

<img width="411" alt="screen shot 2017-07-28 at 2 02 53 pm" src="https://user-images.github

[2017-07-28 10:09] aoduor opened #1934 "Platform doesn't seem to list users beyond a certain limit on user management page"
We have users signing up on our sandbox and main website for uchaguzi, but the UI only displays 89 users, so there's about another 20 that I cannot access to upgrade from the UI

[2017-07-28 10:17] aoduor opened #1935 "Auto geolocation of uploaded data"
In the event that I don't have lat/lon information on a CSV file, if we have location names indicated, it would be helpful to automatically geocode info.

Requested both for Uchaguzi and IFES UWIANO team.

[2017-07-28 10:18] aoduor commented on #1917
How soon do we expect this up :)? Have the same issue on Uchaguzi

[2017-07-28 10:21] aoduor opened #1936 "Lock Reports while being edited"
It's critical to be able to lock reports while they're currently being edited, as there is a HUGE risk of overwriting changes between users of different teams, within uchaguzi.

We have a manual work around to ensure that members of the same team are not working on the same report, but no way to ensure that members of different teams are not editing the same report.

This is fairly urgent.

Had a

[2017-07-28 10:22] aoduor commented on #1795
Team. Flagging this for urgent action.

Location search at the moment does not allow for manual input of lat/lon information.

[2017-07-28 17:37] middle8media commented on #1816
I went through the whole pattern library and updated each pattern/layout to support RTL [here](https://github.com/ushahidi/platform-pattern-library/commit/1ce1d527a836b74c4e5e01d91cf412d524d22061) and then published to npm via [this](https://github.com/ushahidi/platform-pattern-library/commit/93b47006407f2c146b04a719c61062d61c30e744)

If all goes well, once the PL is installed in the client and th

[2017-07-29 04:58] rjmackay commented on #1860
Would it make sense to completely drop the 'Search' label while loading? ie. just show the bouncing dots. Does that solve the size issues?

[2017-07-29 05:01] rjmackay commented on #1836
You're right, the search button doesn't really make sense! I'm not sure what other loading styles we have that'd make sense. You could try using the bouncing loader below 'Search results' and hide it entirely once done? If you want to experiment I'm happy to take suggestions, otherwise your updated version is still an improvement on what we already had so we could land it as is.

[2017-07-29 07:38] ryanchristo commented on #1860
Removing the text and leaving the bouncing dots would work. I also played around with [flexbox](https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Flexbox) and was able to achieve the following results:

![](http://recordit.co/ZCuE8Rq2DK.gif)

<img width="457" alt="screen shot 2017-07-29 at 12 31 05 pm" src="https://user-images.githubusercontent.com/12519942/28742423-09f1ae62-745a-11e7-

[2017-07-29 08:09] ryanchristo commented on #1860
I submitted a pull request with the added flex attributes to the `inline-input` class for review. I think removing the text and leaving the bouncing dots would be the best solution otherwise.

[2017-07-29 08:34] #1845 closed

[2017-07-29 08:34] #1866 closed

[2017-07-29 08:40] ryanchristo commented on #1836
What about something like this? The loading button would require some additional styling changes but the below example is a simple change to the template. Also, I think the loading button seems a bit strange showing up when not having been a button before.

![](http://recordit.co/dNezM4eHnV.gif)

[2017-07-29 08:42] rjmackay commented on #1836
That looks perfect. Thanks!

[2017-07-31 04:59] Angamanga opened #1939 "Login-popup covers survey-list when opening deep link /views/create"
### Expected behaviour
Open /views/create
The survey-list shows up

### Actual behaviour
- [ ] If you have been logged in before and that session has expired,  the login-popup covers the survey-modal

### Steps to reproduce the behaviour/error
1. Go to /views/create
2. The log-in popup covers the survey list if you have been logged in before and the session has expired

[2017-07-31 08:07] Angamanga commented on #1844
@jshorland No, right now it goes to a specific survey. After discussing with @aoduor I am trying to add survey-selection in the bot. It will look something like this:

![screen shot 2017-07-31 at 10 01 43](https://user-images.githubusercontent.com/8624777/28768321-7593fc1e-75d7-11e7-9218-4964cb859666.png)

@justinscherer What do you think about this? I have combined two lists above each other. The

[2017-07-31 17:56] willdoran opened #1940 "RTL is not set on language change"
### Expected behaviour
- When an RTL lang is selected, I expected the UX to change to RTL
### Actual behaviour
- When an RTL lang is selected, the UX does not change to RTL
### Steps to reproduce the behaviour/error
- The issue is a mistake in the RTLEnable code

[2017-07-31 18:37] caharding opened #1941 "Custom Icons"
PROBLEM: Kuwait deal needed custom icons for surveys. It was a heavy lift. We should make this resellable. We built this already 3 times and need to do it in a scalable way.

- [ ] Enterprise users can go to survey settings and set a custom icon based on a list of pre-set icons and colors
- [ ] Icon updates on the survey icon
- [ ] Posts in map view are the icon of the survey
- [ ] List view shows

[2017-07-31 18:40] caharding opened #1942 "Custom colors"
PROBLEM: Kuwait deal wanted custom deployment colors which required significant development time.

- [ ] User should be able to set settings of Primary, Secondary, maybe Tertiary colors
- [ ] They should be able to pick colors from a color picker
- [ ] Those colors should update the app based on what sections @justinscherer thinks we should change
- [ ] Feature should be gated to only enterprise u

[2017-07-31 18:44] middle8media commented on #1942
I have thought about this in the past and look forward to diving in.

[2017-07-31 19:14] justinscherer commented on #1844
It probably makes the most sense at the beginning of the flow.

BOT: "What kind of issue would you like to report?"
BOT: "<list of survey options>"
USER: <chooses a CTA>
BOT: Great, thanks! <continues with the normal reporting flow...>

By my count there are 7 surveys currently in the Uchaguzi deployment:
- counting and results
- polling station administration
- positive events
- security issues
-

[2017-08-01 00:53] diegodorgam commented on #1806
+1
I'm using a docker-compose install for V3.7

having the same upload images issues

[2017-08-01 02:51] diegodorgam commented on #1700
@ClearLakeHABMap @ccorreia64 @tuxpiper , any progress here?
I'm running a docker instance with nginx, and having the same problem...

[2017-08-01 07:40] Angamanga opened #1943 "When adding default value for location, it is not translated to lat/long"
### Expected behaviour
If I add a post to a form with a location-fieldtype and where a default value is set I would expect:
1. If I save a post without adding my location, the default value would show up on the map.
2. When opening the add-post-view, the default location would be marked in the location-picker

### Actual behaviour
As a user, I don't see the default location at all. It is saved in

[2017-08-01 13:55] aoduor commented on #1863
Realized this is a dupe of #1936. Will close this in favor of it and add this for more context.

[2017-08-01 13:55] #1863 closed

[2017-08-01 13:59] aoduor opened #1944 "Representation of trusted reporters"
We have a predefined list of reporters who will be sharing information on Uchaguzi, who we need to be able to identify as trusted reporters on the platform.

Refs: https://github.com/ushahidi/biz/issues/601

[2017-08-01 19:20] ccorreia64 commented on #1700
@ClearLakeHABMap ,@diegodorgam, I managed it to work in Apache and Ubuntu 16.04 as a developer mode using this [link](https://www.ushahidi.com/support/install-ushahidi#installing-for-development).

The API and client are in separate folders. As the instructions say, I gave permissions to the platform/application/{logs,cache,media/uploads} (platform I renamed it as api).

The vhost of each is as fo

[2017-08-01 20:03] crcommons commented on #1759
Justin weighed in on broader styling changes, so I created an entirely new issue in the pattern library. @middle8media is going to work on it since my sass skills aren't great.

[2017-08-01 21:29] rjmackay commented on #1857
CSV's are not excel. CSV's don't have tabs... they're a single flat file of data. The only way to do this would be to download a file per CSV.

The only way to resolve this would be to completely reimplement the export to export to .xls instead.

[2017-08-01 23:11] #1827 closed

[2017-08-01 23:11] #1851 closed

[2017-08-01 23:11] #1823 closed

[2017-08-01 23:12] #1831 closed

[2017-08-01 23:19] rjmackay commented on #1853
This issue was moved to ushahidi/platform-fix-our-environment#20

[2017-08-01 23:19] #1853 closed

[2017-08-01 23:20] rjmackay commented on #1824
This issue was moved to ushahidi/platform-fix-our-environment#21

[2017-08-01 23:20] #1824 closed

[2017-08-01 23:20] rjmackay commented on #1825
This issue was moved to ushahidi/platform-fix-our-environment#22

[2017-08-01 23:20] #1825 closed

[2017-08-01 23:21] rjmackay commented on #1822
This issue was moved to ushahidi/platform-fix-our-environment#23

[2017-08-01 23:21] #1822 closed

[2017-08-01 23:22] rjmackay commented on #1927
This issue was moved to ushahidi/platform-fix-our-environment#24

[2017-08-01 23:22] #1927 closed

[2017-08-01 23:22] rjmackay commented on #1923
This issue was moved to ushahidi/platform-fix-our-environment#25

[2017-08-01 23:22] #1923 closed

[2017-08-01 23:22] rjmackay commented on #1923
This issue was moved to ushahidi/platform-fix-our-environment#26

[2017-08-01 23:22] rjmackay commented on #1921
This issue was moved to ushahidi/platform-fix-our-environment#27

[2017-08-01 23:22] #1921 closed

[2017-08-01 23:25] rjmackay commented on #1821
@dalezak Did this get implemented on mobile?

[2017-08-01 23:26] #1922 closed

[2017-08-01 23:32] #1828 closed

[2017-08-01 23:32] #1830 closed

[2017-08-01 23:36] rjmackay commented on #1821
This issue was moved to ushahidi/platform-fix-our-environment#29

[2017-08-01 23:36] #1821 closed

[2017-08-02 02:53] #1784 closed

[2017-08-02 02:53] #1913 closed

[2017-08-02 03:00] rjmackay commented on #1816
@middle8media did you go through layouts too?

Looking at http://preview.ushahidi.com/platform-pattern-library/develop/assets/html/5_layouts/map.html
- If you switch to RTL, the categories in the mode context are no longer visible.
- I'd also generally expect the mode bar and mode context to move to the right side of the page when in RTL (though @justinscherer could correct me if that shouldn't ha

[2017-08-02 10:16] aoduor commented on #1865
confirming i had this same problem on the UWIANO project

[2017-08-02 12:54] #1817 closed

[2017-08-02 12:56] crcommons commented on #1817
This was just an issue with the link to our en.json file not auto-updating in Transifex. I removed the link and added again (more than a few times) and eventually it accepted the link and updated a few hours later. Once new translations come in, this should work properly.

[2017-08-02 14:24] middle8media commented on #1816
@rjmackay I am currently working on layouts. Yes, I agree, the PL is designed to be a mirror image with in RTL.

[2017-08-02 15:07] jshorland commented on #1944
here are codes: https://docs.google.com/document/u/1/d/1Lc2z7nas8m3S02V4zNvMKnJvWQUXMHDCovJOJotyO84/edit?usp=sharing

[2017-08-02 15:22] jshorland opened #1945 "Tasks shouldn't be visible to non-logged in users on survey form"
See #1848 too. That was specifically for Lovomar so I've created another issue for UCHAGUZI.

Expected behaviour
When I'm visiting a deployment to submit a survey response, I want to see only the information I'm meant to submit. As a deployment admin/manager, I've created tasks as an internal workflow for my team to triage incoming posts. It's meant to be used internally, and the information MIGHT

[2017-08-02 18:05] crcommons commented on #1934
It appears that there may have been some confusion with users; @aoduor will give us a heads up if this happens again.

[2017-08-02 19:32] jshorland commented on #1632
Scope:
- Add link to improve the baselayer on the map itself. Should be exactly like the example provided in Shadrock's link

[2017-08-02 19:38] jshorland commented on #1660
Fixed. Closing.

[2017-08-02 19:38] #1660 closed

[2017-08-02 20:06] rjmackay commented on #1945
Duplicate of https://github.com/ushahidi/platform/issues/1848 ?

[2017-08-02 20:14] rjmackay commented on #1936
Would make sense to look at edit logs with this: https://github.com/ushahidi/platform/issues/1864

[2017-08-02 20:33] justinscherer opened #1946 "test"
testtest

[2017-08-02 20:39] #1946 closed

[2017-08-02 21:40] rjmackay opened #1947 "White labelling web client"
### Expected behaviour
We should be able to quickly white label the web client, particularly changing colours and maybe icons. This should be build time configuration.

### Actual behaviour
We first have to white label the pattern library, then build that and install it into the web client. Then commit that change and deploy it.

Any icon changes are tricky hacks.

Aha! Link: https://ushahiditeam.

[2017-08-03 02:27] jshorland opened #1948 "When navigating to a saved search, the saved search list doesn't disappear automatically"
### Expected behaviour
On sandbox.uchaguzi.or.ke, After I click on a saved search in the list, it will navigate to it and close the saved search list window.

### Actual behaviour
The window with saved search list doesn't go away. I have to manually X out of it.

### Steps to reproduce the behaviour/error
![mdg5q](https://user-images.githubusercontent.com/3224856/28903199-6d010064-77b8-11e7-98c6-9

[2017-08-03 02:55] jshorland opened #1949 "Search should search ALL post content, not just title"
### Expected behaviour
When I search using the search bar, I want it to search all post content

### Actual behaviour
I believe it only searches titles

### Steps to reproduce the behaviour/error

Aha! Link: https://ushahiditeam.aha.io/features/PROD-544

[2017-08-03 04:29] jshorland commented on #1936
When a report is taken into edit mode by a user, that post should not be able to be edited by another user.

Any other user who tries to edit the post at the same time should receive a message that the post is currently being edited by someone else.

There should also be a timeout in case someone accidentally leaves a post open in edit mode. @rjmackay @aoduor I can't seem to find the discussion in

[2017-08-03 04:30] jshorland commented on #1864
Simple log of who edited the post when is enough. Doesn't have to be pretty for now, but should be accessible by clicking a link on the post to view edit log.

[2017-08-03 19:03] Shadrock commented on #1246
Just saw this the other day on the product call and wanted to add a few thoughts. These are just cursory reactions: not well researched yet. This problem will likely involve connecting to an external service and the results will largely depend on that service. Moreover, users can (and do) write addresses a myriad of ways (think about different types of abbreviations, etc.) so the service would hav

[2017-08-03 21:40] caharding commented on #1870
I scoped this out. @jshorland I'll leave to you to assign and prioritize.

[2017-08-04 08:57] aoduor opened #1951 "Unable to upload CSV file on uchaguzi sandboz website"
See error message I receive.

![http://i.imgur.com/84m7uTY.png]

[2017-08-04 17:28] #1623 closed

[2017-08-04 18:44] jshorland commented on #1951
This is fixed, right? Closing.

[2017-08-04 18:44] #1951 closed

[2017-08-04 20:16] middle8media commented on #1816
The PL layouts now fully support RTL.

To test:
- http://preview.ushahidi.com/platform-pattern-library/develop/assets/html/5_layouts/map.html
- choose a layout
- toggle the “direction switcher” in the mode-bar

[2017-08-04 20:53] kamaulynder commented on #1862
It's basically not easy to tell that is where to type the title until you click

[2017-08-04 22:32] aoduor commented on #1944
@jshorland @willdoran automatic coding def can't happen, but is there any way to flag/odentify who a trusted reporter is on the UI? Forwarding you a list via email

[2017-08-05 05:41] rowasc commented on #1948
https://github.com/ushahidi/platform-client/pull/707
@rjmackay does this look like the right approach? I went for the most simple solution I could think of, to avoid overcomplicating what used to be a simple href=//, but it might not be the right one..

@jshorland I'm uploading a quick test/demo video (like yours) in a few minutes (to github)

[2017-08-05 06:01] rowasc commented on #1948
![video1948.gif](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5940898e29d5f5001ab2826d/125516c66e82c728ace21e0d46fe9d9e268dd2f0dbb1fd0fe64de29b234324676b5ee17e2581b279bb117e57090d48ab42580944fcf18822f4b46862964e49bc8f3900299f7744eeaa880dbc00b0218e4f84bfbd884bc1e13527e699c2.gif)

Ok, my video is pretty bad but basically, it shows that now the modal box is being closed when a

[2017-08-05 08:10] wanjar commented on #1862
The problem is in the css. Left and right margins set to 0 and left and right border colors set to transparent on the form template in the pattern library. Two solutions exist. Either remove the title class from the new post page or make changes to the pattern library by altering the margins and the border colors.

[2017-08-05 08:57] wanjar commented on #1862
The problem is in the css. Left and right margins set to 0 and left and right border colors set to transparent on the form template in the pattern library. Two solutions exist. Either remove the title class from the relevant div on the post page or make changes to the pattern library by altering the margins and the border colors. The latter may cause a global layout change.
![screenshot 2](https:/

[2017-08-05 08:59] wanjar commented on #1862
Looking at the css, the left and right margins set to 0 and left and right border colors set to transparent on the form template in the pattern library. Two solutions exist. Either remove the title class from the relevant div on the post page or make changes to the pattern library by altering the margins and the border colors. The latter may cause a global layout change.
![screenshot 3](https://us

[2017-08-05 09:01] wanjar commented on #1862
Looking at the css, the left and right margins set to 0 and left and right border colors set to transparent on the form template in the pattern library. Two solutions exist. Either remove the title class from the relevant div on the post page or make changes to the pattern library by altering the margins and the border colors. The latter may cause global layout changes.
![screenshot 4](https://use

[2017-08-05 14:29] dexwakhu opened #1952 "Invalid Time Stamps"
Time stamps appear on the platform for a time in the future

[2017-08-05 14:30] dexwakhu commented on #1952
![Screen Shot 2017-08-05 at 17.22.03.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5892dafedfd7da1a00517efd/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b772b6454f66b7191a379e80c2953415f4dbe5d4a1f06a3a3dc78e2a436628f595fecd0395c21c06b43aabf811fe901ba288a46d7b4e89850d2aa6c7bb3d4d216744b470a83ed5e34aa984ec859ff4fe24954ad17336af43b.png)

[2017-08-06 07:02] aoduor commented on #1711
Flagging this for urgent action too :)

[2017-08-06 07:29] aoduor commented on #1952
O_o!

[2017-08-06 08:18] Angamanga opened #1953 "Clear-button in filter-modal does not clear filters"
### Expected behaviour
When I click on the clear-button, all previously set filters are cleared.
### Actual behaviour
When I click the clear-button, all previously set filters remains.

### Steps to reproduce the behaviour/error
1. Open filter-modal
2. Add a filter
3. Click apply
4. Open filter-modal again
5. Click clear
6. Open filter-modal agan, filters remains

[2017-08-06 11:08] dexwakhu opened #1954 "Uchaguzi favicon missing"
Can we add a favicon on the Uchaguzi site please?

[2017-08-06 12:44] aoduor opened #1955 "Unable to select categories across multiple surveys on main map page"
### Expected behaviour
I would like to be able to select categories across all surveys while interacting with data on the main map

### Actual behaviour
The moment I select a category on a particular survey, all other surveys get deselected. See
![gif](http://i.imgur.com/J6YXXgG.gif)

[2017-08-06 13:58] aoduor opened #1956 "Limit rights to editing saved searches/collections to roles"
### Expected behaviour
I'd like to limit the ability to alter my existing saved searches to specific roles

### Actual behaviour
Right now, any logged in users who can view saved searches are able to edit it. (I had two of my saved searches that are crucial to the uchaguzi workflow broken by an unintended edit)

[2017-08-06 17:38] aoduor commented on #1956
Related to https://github.com/ushahidi/platform/issues/1859

[2017-08-06 17:39] aoduor commented on #1956
And to https://github.com/ushahidi/platform/issues/1711

[2017-08-06 19:31] willdoran commented on #1955
@aoduor I will look at this but there is a high change it can't be fixed because of a code design issue

[2017-08-07 00:28] willdoran commented on #1956
This is done: to test it

- [ ] Create saved search
- [ ] set edit role to admin only
- [ ] set visibility to everyone
- [ ] save
- [ ] Log out
- [ ] Log in as member
- [ ] go to savedsearch
- [ ] change the filters
- [ ] look for the edit button, you shouldn't see it or the options menu
- [ ] look for the reset/update savedsearch, you should see neither

[2017-08-07 00:30] willdoran commented on #1861
@rjmackay might be able to get this in but it's relatively unlikely

[2017-08-07 00:32] willdoran commented on #1955
This is done, but very hacky

[2017-08-07 00:33] #1934 closed

[2017-08-07 00:33] #1936 closed

[2017-08-07 00:33] #1955 closed

[2017-08-07 01:08] rjmackay commented on #1838
Duplicate of #1933 or related at least

[2017-08-07 01:09] rjmackay commented on #1710
This is done

[2017-08-07 01:09] #1710 closed

[2017-08-07 01:11] willdoran commented on #1795
This is done, might need nicer UX

[2017-08-07 01:17] willdoran commented on #1795
- [ ] Create post with location
- [ ] you should see lat lon inputs and update button
- [ ] enter lat lon
- [ ] hit update
- [ ] marker should be added and map recentred
- [ ] check that it saves and that it reloads correctly

[2017-08-07 01:34] rjmackay commented on #1861
Should be fairly easy actually - we already have source from the messages table. Through frustratingly no easy way to expand to 'facebook' as a source.

[2017-08-07 04:24] jshorland commented on #1795
This looks good to me @willdoran and @rjmackay

[2017-08-07 05:57] jshorland commented on #1956
@rjmackay I QA'd this twice. Good to go.

[2017-08-07 05:58] rjmackay commented on #1711
So there are some caveats to this:
- Creating posts is already controlled on a per survey basis, I'd rather not limit that in permissions too because it'll get confusing.
- The API treats downloading and viewing as the same action.
- I can easily enough split 'edit posts' from 'publish posts' as they're already managed separately on the backend.
- I might be able to split out 'view unpublished pos

[2017-08-07 06:04] rjmackay commented on #1955
This is kinda concerning. We made this change because otherwise the UI was really misleading. For a user *without* a deep background in the platform, its totally unclear that their changes to the categories filtered apply to *all* surveys, not just the survey they've currently expanded.

I understand the inability to filter by multiple surveys + categories at the same time is problematic, but I th

[2017-08-07 06:27] rjmackay opened #1958 "Location search lags by a character"
### Expected behaviour
When I type Nairobi - it will search for that

### Actual behaviour
When I type Nairobi - it searches for Nairob. When I remove the 'i' it then searches for Nairobi.
Seems to lag weirdly

### Steps to reproduce the behaviour/error

[2017-08-07 07:27] Celestine22 opened #1959 "Users with manage posts permission cannot access SMS conversation"
<img width="727" alt="screen shot 2017-08-07 at 10 21 20 am" src="https://user-images.githubusercontent.com/8900438/29016243-59c66836-7b5a-11e7-825c-0987f8afb991.png">
### Expected behaviour
There should be a button/function that allows conversation with author and its missing for all posts.
@tuxpiper please unbreak this now

[2017-08-07 07:54] aoduor commented on #1959
Logged in as an admin, and I can see this box,so it looks like it's been limited to admin roles. We need to open this up to anyone who can manage posts.

URGENT.

[2017-08-07 08:08] rjmackay commented on #1959
Hrm. That might be standard that you can't reply until you've chosen a survey... though I realize that doesn't totally make sense. @kamaulynder let me know how you get on with this

[2017-08-07 08:17] Celestine22 commented on #1959
@aoduor did you test with an unstructured post? @rjmackay thank you!

[2017-08-07 08:21] Celestine22 opened #1960 "After editting a post in my saved searches, clicking a step back resets the saved search"
@rjmackay @tuxpiper when I go back to the timelines view after finishing editing a post, I have to click again on my saved search to be able to view posts that I'm working, can we fix saved searches until a user resets?

[2017-08-07 08:22] rjmackay commented on #1959
@Celestine22 was this seen on production or sandbox?

[2017-08-07 08:23] aoduor commented on #1959
Production. @Celestine22 yes I did.

[2017-08-07 08:23] aoduor commented on #1959
the conversation box always appears for me even when i haven't selected a survey

[2017-08-07 08:29] Celestine22 commented on #1959
In that case could we have structuring and geolocation team upgraded with that permission? Or what's a work away around this? @rjmackay

[2017-08-07 08:45] rjmackay commented on #1959
It looks like there isn't a permission for this explicitly. Messages are locked to purely admins. Would adding something like a "Manage messages" permission work? This would allow sending and viewing messages, and I guess needs to allow viewing contacts too.

[2017-08-07 09:01] Celestine22 commented on #1959
That would will definitely work if manage messages means responding @rjmackay

[2017-08-07 09:02] rjmackay commented on #1958
This might be handled by https://github.com/ushahidi/platform-client/pull/691 already

[2017-08-07 09:19] Angamanga commented on #1912
Fixed in https://github.com/ushahidi/platform-facebook-bot/issues/4

[2017-08-07 09:19] #1912 closed

[2017-08-07 09:20] Angamanga commented on #1909
Fixed in https://github.com/ushahidi/platform-facebook-bot/issues/4

[2017-08-07 09:20] #1909 closed

[2017-08-07 09:20] Angamanga commented on #1908
Fixed in https://github.com/ushahidi/platform-facebook-bot/issues/4

[2017-08-07 09:20] #1908 closed

[2017-08-07 09:20] Angamanga commented on #1906
Fixed in https://github.com/ushahidi/platform-facebook-bot/issues/4

[2017-08-07 09:20] #1906 closed

[2017-08-07 09:20] Angamanga commented on #1903
Fixed in https://github.com/ushahidi/platform-facebook-bot/issues/4

[2017-08-07 09:20] #1903 closed

[2017-08-07 09:54] #1958 closed

[2017-08-07 09:54] #1956 closed

[2017-08-07 10:00] tuxpiper commented on #1960
I think this is an issue with keeping browser status in the client. I may be wrong but I think it's significant error to fix.

[2017-08-07 10:03] rjmackay commented on #1960
Yea. Its pretty fiddly to fix. Theres actually a long standing PR to address some of the issues around clearing a saved search https://github.com/ushahidi/platform-client/pull/413 but I don't think that resolves this specifically

[2017-08-07 10:07] Celestine22 commented on #1960
Very significant, especially for the structuring team that has to process many incoming posts at a time.

[2017-08-07 10:10] #1948 closed

[2017-08-07 10:12] aoduor opened #1961 "Display location info on the post summary"
![screenshot](http://i.imgur.com/WWeyfRx.png)\

Request from Analysis team :).

-------
Expected behavior:
- Users should be able to select what fields should be visible in the post summary

[2017-08-07 10:16] aoduor opened #1962 "Post edit locking improvements -- indicate who is working on it"
To make it easier for folks to identify who is working on what.

Currently, we block the edit button, but its hard for team members to figure out who's working on what.

Kinda urgent :D

[2017-08-07 10:27] Celestine22 commented on #1962
Jumping in just to say its very urgent :)

[2017-08-07 10:30] aoduor opened #1963 "Add kenya county information to location search on main filter"
Analysis team would benefit greatly from being able to filter incidences by region, without having to type out names physically.

Thoughts on adding a county drop down box?

Cc @kamaulynder

[2017-08-07 10:30] Nthiga opened #1964 "Activity tab needs to display metrics on all reports"
Currently, activity tab is only showing metrics for published reports.

We need to be able to show metrics for both published and unpublished reports.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-542

[2017-08-07 11:08] Celestine22 commented on #1860
@rjmackay this looks good as below
<img width="626" alt="screen shot 2017-08-07 at 2 08 01 pm" src="https://user-images.githubusercontent.com/8900438/29024254-df46f25e-7b79-11e7-9eed-e728712cf6af.png">
however when there's no related search it doesn't prompt me that there are no results based on my search

[2017-08-07 11:11] rjmackay commented on #1960
I've merged that other fix. There might be a way to make a saved search more sticky beyond that.

[2017-08-07 11:18] rjmackay commented on #1860
@Celestine22 that looks like the previous code. Could you clear cache and retest? or you might have just caught it before I deployed.
It should look like the video above.

[2017-08-07 11:30] Celestine22 commented on #1860
@rjmackay Actually just done all the above, but it doesn't prompt when their is no related search.

[2017-08-07 11:48] Celestine22 commented on #1862
@wanjar @rjmackay this looks good, border color is purple, separating the fields, and description box is  indented and
<img width="723" alt="screen shot 2017-08-07 at 2 43 18 pm" src="https://user-images.githubusercontent.com/8900438/29025373-0640de38-7b7f-11e7-91d3-33945e180775.png">
visible.

[2017-08-07 11:48] #1862 closed

[2017-08-07 11:52] dexwakhu opened #1966 "Time field missing from certain surveys"
Can we change the field type from "date" to "date and time" in the following surveys:
- Polling station administration
- Security issues

[2017-08-07 12:22] Celestine22 opened #1967 "Hide archived posts from users"
Saved search for sms email and twitter correspond to the unknown survey, it currently shows 872 posts that have been archived, but none under review, could we hide this figure for archived posts just to avoid confusing folks
<img width="675" alt="screen shot 2017-08-07 at 3 19 12 pm" src="https://user-images.githubusercontent.com/8900438/29026396-3bcc7c92-7b84-11e7-9d5e-13ab5243cd4f.png">

[2017-08-07 12:30] tuxpiper commented on #1966
@dexwakhu I've made the changes, please check it out

[2017-08-07 12:31] Celestine22 opened #1968 "Export function for CSV, file not coherent"
Selected below posts to export
<img width="717" alt="screen shot 2017-08-07 at 3 23 50 pm" src="https://user-images.githubusercontent.com/8900438/29026626-58b44a0a-7b85-11e7-8515-6483ea235a44.png">
file received is as below:

[2017-08-07 12:40] tuxpiper commented on #1968
I don't think there's support for exporting specific posts (although, maybe if they are put in a collection first?)

In any case, I'm noticing that, regardless the set of filters active at the moment, the feature seems to be always generating the same CSV file.

Needs investigation

[2017-08-07 12:45] middle8media commented on #1954
@justinscherer do you have this, this should be as simple as uploading the `favicon.io` to the server.

[2017-08-07 12:47] tuxpiper commented on #1967
I think this could be an overall product change. In general, archived posts shouldn't count towards stats? @jshorland

[2017-08-07 12:55] gitudaniel commented on #1954
@middle8media just sent in a pull request fixing this issue. Kindly review and give feedback

[2017-08-07 14:05] #1966 closed

[2017-08-07 14:07] Celestine22 opened #1969 "Show cumulative total per saved search"
A popup or some kind of script-generated total would be brilliant, at the moment, you have to keep clicking on the Load More icon to check for more posts.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-541

[2017-08-07 14:12] larsbromley opened #1970 "CSV export not working correctly"
The CSV export on https://uchaguzi.or.ke/views/map is not producing nicely structured CSV data. Instead, the data is very confused / garbled, with repetitive field headers and end-of-line errors. And, it seems the filters are not applied. To see this, click 'Share' and 'Export to CSV' and look at the results.

[2017-08-07 14:19] Celestine22 commented on #1970
#1968 linked to this

[2017-08-07 14:21] Celestine22 commented on #1967
The 872 highlighted are all archived, any chance that can be hidden in stats? @tuxpiper

[2017-08-07 14:21] tuxpiper commented on #1969
Is this only relevant to saved searches, or going through posts in the timeline view in general? Would this be useful only in the timeline view?

In that case, maybe it would help to have something similar to

"Showing posts 1-20 of 1000 matches"

both at the top and the bottom of the list?

I'm wondering what @jshorland , @justinscherer and @middle8media think about this.

[2017-08-07 14:22] Celestine22 commented on #1969
This would be relevant to the timeline view in general @tuxpiper

[2017-08-07 14:24] tuxpiper commented on #1969
or... "XXX more posts available for display" next to the "Load More" button

[2017-08-07 14:25] Celestine22 commented on #1969
The first one makes "urgent" sense, however if we could have both, even more brilliant

[2017-08-07 14:30] jshorland commented on #1962
We don't have time to get this in. @willdoran and I had talked about it last week while he was building it, and it's too much work.

[2017-08-07 14:33] jshorland opened #1971 "Unbreaking edit lock isn't available for admin"
### Expected behaviour
I should see the edit icon as a logged in admin, click the edit icon, and receive a message that I can override the edit lock.
### Actual behaviour
As a logged in admin, I see no edit icon.
### Steps to reproduce the behaviour/error
Login as admin to uchaguzi.or.ke
Open a post in edit mode
Open the same post in edit mode in another tab
See no edit icon

[2017-08-07 14:40] jshorland opened #1972 "I still see delete button and can delete posts (I think?) when post is in edit mode elsewhere"
### Expected behaviour
As a logged in admin, I shouldn't see the delete button when post is open in edit mode elsewhere unless I select "edit" and then override the edit lock. OR I can still see delete and receive the same message I receive when I override edit lock -- "This post is currently being edited elsewhere. As an administrator, you may choose to override the current edits and delete the p

[2017-08-07 14:56] jshorland opened #1973 "Edit mode completely disappears on some posts and I can't get it back"
### Expected behaviour
As a logged in admin, When I open a draft post in edit mode, and then navigate OUT of edit mode (no matter which was I navigate out), that post should have the option to re-enter edit mode.

### Actual behaviour
This is specifically for posts that aren't fully filled out for required fields and tasks. I receive the proper message that I can't re-publish until I finish everyt

[2017-08-07 15:02] jshorland commented on #1971
@willdoran When QA'ing on sandbox.uchaguzi.or.ke, I can't get edit mode to appear for any of the posts and there's a client side bug on post width (it's too small). Logging this issue separately!
![grpauh](https://user-images.githubusercontent.com/3224856/29032555-a8f61c30-7b46-11e7-9e19-c3daf6ef5194.gif)

[2017-08-07 15:16] jshorland commented on #1967
@tuxpiper I agree with you re: product change, but I'd like to focus on getting it right for uchaguzi for now and then worry about cleaning code and writing proper tests to get it back into platform next week.

[2017-08-07 15:18] middle8media commented on #1954
@gitudaniel can you link me to the PR? I don't see it [here](https://github.com/ushahidi/platform/pulls)

[2017-08-07 15:19] jshorland commented on #1968
CSV export appears to work correctly for me.

I:
- filtered by published posts
- exported CSV
- received the file screenshotted below which appears to be 100% correct

<img width="1440" alt="screen shot 2017-08-07 at 8 19 20 am" src="https://user-images.githubusercontent.com/3224856/29033220-27be9022-7b49-11e7-8f7b-e05ef48df74c.png">

[2017-08-07 15:33] Celestine22 commented on #1967
Thanks @jshorland

[2017-08-07 15:43] jshorland commented on #1970
Duplicate. Closing in favor of #1968

[2017-08-07 15:45] willdoran commented on #1972
@jshorland can you retest on sandbox?

[2017-08-07 15:45] willdoran commented on #1971
@jshorland should be fixed can you retest on sandbox?

[2017-08-07 15:45] willdoran commented on #1973
@jshorland this should be fixed can you test on sandbox?

[2017-08-07 15:45] jshorland commented on #1969
What is easiest? this is definitely something that should go back into product, but again, let's focus on making this possible for Uchaguzi for right now. @tuxpiper

[2017-08-07 15:47] jshorland commented on #1968
Dropping this lower in priority to p2 compared to other issues with uchaguzi. We can manually clean data if anyone needs it.

[2017-08-07 15:47] jshorland commented on #1968
Important to know though:

Who will be using CSV export, for what, and when?

[2017-08-07 15:49] willdoran opened #1974 "Timeline is broken for most recent post"
### Expected behaviour
- All timeline entries are aligned
### Actual behaviour
- First timeline entry isn't aligned
<img width="1436" alt="screen shot 2017-08-07 at 11 47 36" src="https://user-images.githubusercontent.com/2694405/29034499-6eac18ac-7b66-11e7-9860-e6c282f270af.png">

### Steps to reproduce the behaviour/error

[2017-08-07 15:54] Celestine22 commented on #1968
Analysis and research team will be using this, for data analysis and viz, for published posts

[2017-08-07 15:55] jshorland commented on #1968
The only way I can think to make this more coherent would be:
- replace category ID numbers with the names

Otherwise, exporting via CSV doesn't allow for tab separation, and we have data across multiple surveys so every field for each of those surveys has to be included.

[2017-08-07 15:56] aoduor commented on #1968
Related to https://github.com/ushahidi/platform/issues/1857 and https://github.com/ushahidi/platform/issues/1808

[2017-08-07 15:57] aoduor commented on #1968
maybe organise the fields in the CSV file in order of how they appear on platform

[2017-08-07 16:04] Celestine22 commented on #1968
@jshorland is it possible to organize it like this 👇
<img width="873" alt="screen shot 2017-08-07 at 7 03 14 pm" src="https://user-images.githubusercontent.com/8900438/29035099-248138d8-7ba3-11e7-8fdf-e255a9e06850.png">

[2017-08-07 16:27] #1971 closed

[2017-08-07 16:55] jshorland commented on #1967
@willdoran And this.

[2017-08-07 17:09] #1974 closed

[2017-08-07 17:25] jshorland commented on #1973
@willdoran an issue with this (I should have been more thorough in my initial logging. apologies for that).

When I'm logged in as a user with "manage posts" permission, but NOT an administrator, the post with the conditions described above remains locked, even though it is not open anywhere else in edit mode (and i'm logged out of my admin account and logged in with my "publisher" account)

Steps

[2017-08-07 17:31] jshorland commented on #1972
Delete does in fact disappear. passes QA.

[2017-08-07 17:34] middle8media commented on #1954
This will take effect on our next push to production.

[2017-08-07 17:34] #1954 closed

[2017-08-07 17:34] jshorland commented on #1959
@kamaulynder you ready for me to test this?

[2017-08-07 17:50] jshorland opened #1975 "CSV is broken"
### Expected behaviour
When I navigate to uchaguzi.or.ke as a logged in admin and export all data with no filters selected, I should get ALL posts

### Actual behaviour
I get 20 rows of data -- I think it might be giving me only published?

### Steps to reproduce the behaviour/error
1. login to uchaguzi.or.ke as an admin
2. don't mess with filters AT ALL (you should be seeing all posts with locati

[2017-08-07 17:56] jshorland commented on #1952
ahhh i can't seem to replicate this in sandbox. I've tried changing the post date to a time in the future and it throws an error and won't let me do it (as it should have). Where did that post come from?

[2017-08-07 18:05] willdoran commented on #1967
@jshorland very unlikely this will get done today

[2017-08-07 18:06] jshorland commented on #1945
Done. closing.

[2017-08-07 18:06] #1945 closed

[2017-08-07 18:14] jshorland commented on #1848
Removing uchaguzi tag since it's done there

[2017-08-07 18:22] willdoran commented on #1969
@jshorland this is unlikely to get done today

[2017-08-07 18:23] #1972 closed

[2017-08-07 18:53] willdoran commented on #1973
@jshorland above is working for me now

[2017-08-07 18:57] willdoran opened #1977 "Share menu style is broken"
### Expected behaviour
- Share menu displays correctly
### Actual behaviour
- Share menu does not display correctly
<img width="1102" alt="screen shot 2017-08-07 at 14 55 47" src="https://user-images.githubusercontent.com/2694405/29041391-ad2a313a-7b80-11e7-9d59-da1175bccf84.png">

### Steps to reproduce the behaviour/error
- On timeline view, click share menu

[2017-08-07 19:06] jshorland commented on #1973
Confirmed fixed. At first, I logged in as an admin and had to break the edit lock. I suspect someone had the same post open in edit mode before me. I then logged out and logged back in as a non-admin user with manage post permissions and was able to access the edit mode exactly as I expected to since I had logged out of my admin session.

[2017-08-07 19:09] jshorland commented on #1962
Bumping this up to P1 just in case.