[2020-08-21 12:29] tuxpiper opened #4054 "USSD: Allow entering coordinates instead of using geolocation"
Add configurable flag on the USSD engine (environment variable at this point).

That enables offering users to enter a specific mode for submitting coordinates instead of geocoding

1. Flow reaches a location field
2. The question sent to the user asks:
[code]

[2020-08-21 12:46] tuxpiper opened #4055 "USSD: avoid presenting empty language in options"
On ussd.staging.ush.zone, this is presented:

[code]

The first option shouldn't be presented

Aha! Link: https://ushahiditeam.aha.io/features/PROD-91

[2020-08-24 10:31] #4050 closed

[2020-08-24 14:59] #4051 closed

[2020-08-24 15:10] #4052 closed

[2020-08-25 11:57] Angamanga commented on #4049
Closing since related to reverted changes.

[2020-08-25 11:57] #4049 closed

[2020-08-25 13:46] Obadha2 commented on #3956
QA'd, passes. :+1:

[2020-08-25 13:46] #3956 closed

[2020-08-25 16:03] tuxpiper commented on #3913
Thank you for the detailed report @anje123 !

We will be handling some of these with https://github.com/ushahidi/platform/pull/3811 , using this issue as anchor .

I think we will be seeing general improvements to validations as we move on to the next major version of API, which will drop kohana for good. .

@all-contributors please add @anje123 for bug

[2020-08-25 16:16] #493 closed

[2020-08-25 16:37] #3265 closed

[2020-08-25 16:48] tuxpiper commented on #4027
@aoduor  we will tentatively close this one with the next release along with the other related issues @Angamanga mentioned.

There are some really not very specific bits in the additional context, I hope we will not miss anything important there.

[2020-08-25 16:50] tuxpiper commented on #4019
Done as noted here: https://github.com/ushahidi/platform-release/releases/tag/v4.6.0

[2020-08-25 16:50] #4019 closed

[2020-08-25 16:51] tuxpiper commented on #4030
I think I recall this was solved by indicating that in order for the embeds to be response, the iframe needs to be created with non-fix dimensions.

Tentatively closing .

[2020-08-25 16:51] #4030 closed

[2020-08-25 16:58] tuxpiper commented on #3920
Closing due to inactivity

[2020-08-25 16:58] #3920 closed

[2020-08-25 16:59] tuxpiper commented on #3812
@Angamanga  this was done and released, correct?

[2020-08-25 17:07] #3966 closed

[2020-08-25 17:12] tuxpiper commented on #4022
Looks like it was a transient problem

[2020-08-25 17:12] #4022 closed

[2020-08-25 17:14] tuxpiper commented on #4003
Application logs can be found on under the storage/logs folder

Closing this for now. Please feel free to reach us at https://gitter.im/ushahidi/Community if you need assistance filling a full issue report.

[2020-08-25 17:14] #4003 closed

[2020-08-26 05:24] Angamanga commented on #3812
@tuxpiper Yes yes!

[2020-08-26 05:46] #3812 closed

[2020-08-26 10:43] tuxpiper opened #4059 "4.6.1 release"
- [x] smoke test
- [x] changelog
- [x] merge develop to master
- [x] create tags
- [x] create github releases, platform-release too
- [x] deploy to SaaS and customers

## Changelog

## Client

- Fixes and improvements to the search/filter box ( ushahidi/platform#4027 , ushahidi/platform#4050 , ushahidi/platform#4051 , ushahidi/platform#4052  )
- User list is now sortable ( ushahidi/platform#3265 )

[2020-08-26 12:23] Angamanga opened #4060 "Labels for private fields are visible when not logged in"
**Describe the bug**
If a field has private responses, the labels for that field is still visible.

**Where was the bug observed**
.io and in local development

**To Reproduce**
Steps to reproduce the behavior:
1. Create a survey with a field marked as private
2. Add a post and publish the post
3. Log out
4. Go to the post
5. You see the labels but no replies

**Expected behavior**
The fields shou

[2020-08-26 18:53] #4024 closed

[2020-08-26 18:53] #4027 closed

[2020-08-26 18:53] #4043 closed

[2020-08-26 20:13] #4059 closed

[2020-08-26 21:28] AmTryingMyBest opened #4062 "GMail Data Source - Date selected in date field does not persist."
**Describe the bug**
Date that is selected in the date picker on the date field when filling in a GMail Data Source does not persist. Save button appears to persist the date, but when you navigate away and then back, there's no selected date.

**Where was the bug observed**
Test deployment - https://gmail.staging.ush.zone/settings/datasources

**To Reproduce**
1. Log into deployment as an authoris

[2020-08-31 08:15] bb opened #4064 "More markers than posts visible on clustered maps"
**Describe the bug**

I think there's an issue with fetching markers for the map. It's easily verified with deployments which have clustering enabled, I didn't bother counting on those which don't use clustering.

There are more markers on the map than there are posts in the database. When clustering is enabled, you just need to zoom out, so there's only one cluster left. This one cluster should h

[2020-08-31 08:31] Obadha2 commented on #4016
Suggested improvements to messages shown for various fields that are provided invalid values:
 - Decimal field:
    - Actual Error Message: The number must be a number.
    - Suggested Error Message: Provided value is not a valid decimal number.
 - Integer Field:
    - Actual Error Message: The number must be an integer.
    - Suggested Error Message: Provided value is not a valid integer.
 - Date

[2020-08-31 08:34] tuxpiper commented on #4062
@Obadha2 this should be ready to take another look at now

[2020-08-31 09:06] bb commented on #4064
I made some interesting observations:
1) The total on the map count is always a multiple of 200 (i.e. 5000, 5200, 5400, 5600, 5800) etc... and interestingly, the limit/offset on the geojson queries is exactly this (200).
2) Many geojson calls are made twice, others not at all: The first 5 requests (offsets 0, 200, 400, 600, 800) are made exactly once. The next 5 are made exactly twice (offsets 100

[2020-08-31 13:04] Obadha2 commented on #4062
QA'd, passes. :+1:

[2020-08-31 15:14] tuxpiper opened #4066 "Incoming data providers give up the complete message batch if a single message fails processing"
**Describe the bug**
The generic data provider manager obtains batches of messages from some data provider implementations (i.e. e-mail or gmail).

If for some reason the data provider manager finds an exception while processing one of the messages of the batch (let's say for instance the 3rd message out of a batch of 10) , it will immediately abort and give up processing of the remaining messages

[2020-09-01 08:42] Obadha2 opened #4067 "GMail Data Source - Unable to disconnect gmail account."
**Describe the bug**
Attempts to disconnect gmail account fail with error message: Undefined index: access_token.

**Where was the bug observed**
https://gmail.staging.ush.zone/settings/datasources

**To Reproduce**
1. Go to deployment that has gmail account connected.
2. Log in as an admin.
3. Navigate to Gmail under Data Sources.
4. Click on Disconnect Your Gmail Account.
5. This fails. See erro

[2020-09-01 10:25] tuxpiper commented on #4067
any clue what could be causing this @webong ?

[2020-09-01 14:11] Obadha2 commented on #4067
@webong  @tuxpiper this isn't happening anymore. I changed the email address and then I was able to disconnect the old email. I'll double-check to see if I can cause it to happen again. Will update if I find anything.

[2020-09-04 16:48] #3992 closed

[2020-09-08 15:09] rowasc opened #4069 "Merge arabic translation fixes **to Transifex**:"
ushahidi/platform#4037, ushahidi/platform#4038, ushahidi/platform#4039, ushahidi/platform#4040, ushahidi/platform#4041, ushahidi/platform#4042

We'll give it a few more days in case the original contributor sends them to transifex but if they are not there by Monday we'll do it manually (and of course credit them )

Aha! Link: https://ushahiditeam.aha.io/features/PROD-777

[2020-09-08 15:14] rowasc commented on #3943
@jlittle22 yep, very likely. We need to find out where exactly it's happening. LMK if you want to give it a try otherwise we'll look into it ASAP

[2020-09-08 16:03] Obadha2 commented on #3934
(Where) Is this deployed @rowasc

[2020-09-08 16:14] rowasc commented on #3934
@Obadha2 it should be in steve (check codeship to make sure it landed )

[2020-09-09 06:49] Obadha2 commented on #3934
@rowasc this passes QA.

[2020-09-09 10:31] tuxpiper opened #4070 "Add developer documentation about webhooks"
Draft here:

https://app.gitbook.com/@ushahidi/s/platform-developer-documentation/~/drafts/-MF6aubj4fKtFO6rbGZ7/@drafts

Aha! Link: https://ushahiditeam.aha.io/features/PROD-785

[2020-09-09 10:32] tuxpiper commented on #4070
@rowasc Could you please review the doc draft above? It would be good to merge if it looks good to you.

[2020-09-09 10:33] tuxpiper commented on #3398
Document draft (WIP) here: https://app.gitbook.com/@ushahidi/s/platform-developer-documentation/~/drafts/-MF-AphZ1Bm7xEHnWBPo/@drafts

[2020-09-09 14:14] rowasc opened #4071 "[Automation] Run our "experiment" test scripts"
- When a pull request is created, the test suite should run.
- When a test suite runs, and it succeeds, it should notify back to GitHub and allow merging.
- When a test suite fails it should notify of the failure and block the merge.
- There should be a way to see why it failed (logs).
- There should be a way to trigger a manual test run.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-787

[2020-09-10 01:24] rowasc commented on #4070
@tuxpiper this is great. I left a couple of comments only because I got confused reading the first section. Thanks!

[2020-09-10 08:17] tuxpiper commented on #4070
Changes accepted and merged to develop :+1:

[2020-09-10 08:17] #4070 closed

[2020-09-10 08:31] tuxpiper opened #4072 "Post creation date is forced at the data repository level but it should be done on the API controller"
Currently we've got this line of code

https://github.com/ushahidi/platform/blob/d6c575f/src/App/Repository/PostRepository.php#L1177

forcing the post creation date at the model/repository level, whenever we create a post in the database. This is generally reasonable behavior, but it doesn't work well when we are doing i.e. data import using our repository classes. This sort of thing rather belong

[2020-09-10 08:34] tuxpiper commented on #4072
For the moment, targeting this as a fix to roll with the v2->v3 import tool (#3418)

[2020-09-10 10:11] tuxpiper opened #4073 "Allow configuration of proper cache-control headers for unauthenticated requests"
**Which user group(s) are the primary audience for this feature/enhancement.**

Specially important for deployers hosting popular deployments

**Is your feature request related to a problem? Please describe.**

As traffic increases, so does pressure on the API service. Servers may start struggling / may demand resource expenditure beyond what is in the budget for the deployer.

**Describe the solu

[2020-09-10 11:30] rowasc opened #4074 "Timezone configuration support"
Ushahidi Platform does not support setting up your timezone through an admin interface of any kind. This would be useful especially  in Ushahidi.io where users could be anywhere and they (generally) share resources.

Minimum needs
- General settings "Timezone" field
Second phase
- Posts should also allow you to see timezones used
- Posts should allow you to change the timezone for your post

Aha!

[2020-09-10 11:31] rowasc commented on #4074
@CeciliaHinga is this something you have seen come up through intercom? People wanting more granular support for timezones?

[2020-09-11 15:16] #4016 closed

[2020-09-11 16:49] tuxpiper commented on #4016
@Obadha2 this is ready for checking again

[2020-09-15 02:41] rowasc commented on #3934
Thanks!

[2020-09-15 10:18] Angamanga opened #4075 "Check if the user have permissions before making request to users-endpoint"
**Describe the bug**
If a user isn't logged in or has the wrong permissions, there is an error in the console when visiting a view with the filters-bar in it:
<img width="234" alt="Screenshot 2020-09-15 at 11 19 46" src="https://user-images.githubusercontent.com/8624777/93197779-5b539180-f74c-11ea-9528-03433741313a.png">

**Where was the bug observed**
.io
local develop-environment

**To Reproduce

[2020-09-15 11:02] CeciliaHinga commented on #4074
@rowasc No, I do not think i have received such a request

[2020-09-15 11:08] Angamanga opened #4076 "Warnings about non-unique ids in the console"
**Describe the bug**
When going to any view that has the filter-toolbar, there is a warning in the console complaining about non-unique ids:
<img width="240" alt="Screenshot 2020-09-15 at 12 52 13" src="https://user-images.githubusercontent.com/8624777/93202019-4a0d8380-f752-11ea-8bb7-9d62727dfd8a.png">.

**Hints to solving the issue**
This happens because we are hiding some elements that are only

[2020-09-16 06:50] #3904 closed

[2020-09-17 14:02] #3959 closed

[2020-09-23 12:40] tuxpiper commented on #2111
Just adding a note to say that this is also affecting other data providers (i.e. Twitter) , output:

[code]

[2020-09-24 14:30] CeciliaHinga opened #4077 "Roles that have permission to manage posts cannot edit posts submitted via SMS or Emails"
**Describe the bug**
The admin is the only role that can edit posts submitted via all datasources platform offers. Any role that has permission to manage posts cannot edit posts submitted via emails or sms

**Where was the bug observed**
Production

**To Reproduce**

1. Log in as a member with permission to manage posts
2. Click on data view
3. Click on a post submitted via sms or email , then cli

[2020-09-29 08:03] Angamanga commented on #3946
@rowasc This is fixed now I? Closing

[2020-09-29 08:04] #3946 closed

[2020-09-29 15:36] renujain31 commented on #3933
Hey @Angamanga , Can I work on this one! I am new to open source and want to contribute in the project as a part of my outreachy application.

[2020-09-30 09:21] #2374 closed

[2020-09-30 09:21] #2356 closed

[2020-09-30 09:24] Angamanga commented on #3897
@rowasc It sounds like the decision here is to keep the share-button on post-creation-screen? Can I close this issue?

[2020-09-30 09:53] Angamanga opened #4078 "Add information that posts need to be published in related post field"
##TODO
When searching for posts in the related-posts field, the search is only happening on published posts. Add a information-text above the search-box informing the user about this.

##How to reproduce
1. Add a number of posts to a survey
2. Let a few stay "Under review", and publish some by clicking the '...' and select "Publish" on the post-card in the data-view:
<img width="249" alt="Screensh

[2020-09-30 09:55] Angamanga commented on #3933
Hi @renujain31 and welcome 🎉 ! I realised after adding this issue that its already solved and waiting for release. I am in the process of adding new first-timers-only issues, I suggest you start with this one instead: https://github.com/ushahidi/platform/issues/4078

[2020-09-30 09:55] #3933 closed

[2020-09-30 13:13] renujain31 commented on #3933
Okay @Angamanga! Thanks for the issue. I would start working on that!

[2020-09-30 13:14] renujain31 commented on #4078
Hey! Can this issue be assigned to me. Thanks!

[2020-09-30 15:02] BatoolMM commented on #4078
Hi, can I also help in resolving this issue with @renujain31, please?

[2020-10-01 03:22] GunjanRajTiwari commented on #3828
Is this issue solved?
If not can I work on it?

[2020-10-01 05:30] renujain31 commented on #2603
Hey, I guess the issue is already fixed. If not, can I help on this one? Thanks!

[2020-10-01 08:05] Angamanga commented on #2794
NOTE: This issue is a side-effect of this issue: https://github.com/ushahidi/platform/issues/2794. When the request fails, the watch-function does not get activated... Removing from community-tasks for now.

[2020-10-01 08:07] Angamanga commented on #4075
Solving this issue will likely solve this one as well: https://github.com/ushahidi/platform/issues/2794

[2020-10-01 11:55] Angamanga commented on #2603
This appear fixed so closing this issue. @renujain31 I am adding more issues today, check out this one for example: https://github.com/ushahidi/platform/issues/4076

[2020-10-01 11:55] #2603 closed

[2020-10-01 12:42] Angamanga commented on #4078
@BatoolMM Welcome! 🎉  I have added more first-timer-issues today, I suggest take a look at this one to start with: https://github.com/ushahidi/platform/issues/2394.

[2020-10-01 13:02] Angamanga commented on #3828
@GunjanRajTiwari This one is unfortunately already solved, closing it. Take a look at the issues in the "Ready for development" here: https://github.com/ushahidi/platform/projects/11. Ping me in any issue you want to work on! 🎉 🎉

[2020-10-01 13:02] #3828 closed

[2020-10-01 21:38] GabrielFalcom commented on #4076
I would like to contribute to this issue.

[2020-10-02 03:13] GabrielFalcom commented on #4076
I just submitted a pull request for the issue. If something is not right, please let me know.

[2020-10-02 06:04] renujain31 commented on #2794
I guess this bug still exists! Can I work on this one?

[2020-10-02 06:06] renujain31 commented on #4075
Found this linked at #2794. Can I give this a shot?

[2020-10-05 05:08] Angamanga commented on #4075
@renujain31 Yep, thank you!  👍

[2020-10-05 07:30] Angamanga opened #4079 "Go through labelling in all forms and improve accessibility"
## Overview
In the Ushahidi Platform, we use a lot of forms, for adding posts, for signing up users, for adjusting settings, and so on. Not always have we done so with accessibility in mind, so we need to go through all forms available and make  sure it is clear what element a label is attached to and adjust where needed.

There are two ways labels are handled in the platform, depending on the mar

[2020-10-05 07:36] Angamanga opened #4080 "Check labelling for logging in and signing up users"
There are two ways labels are handled in the platform, depending on the markup of the form:

[code]
and

[code]

Go through the following forms and make sure the element is either using the for-attribute to associate the form-control or is encapsulating the form-control like the second example.

The login and sign-up forms are found when clicking on Login and Signup in the lefthand mode-bar:
<img

[2020-10-05 07:40] Angamanga opened #4081 "Check labels for creating and editing posts"
There are two ways labels are handled in the platform, depending on the markup of the form:

[code]
and

[code]

The form that is used for creating and editing posts are divided into a number of angular-directives. Go through the templates (html-files) in the following folder https://github.com/ushahidi/platform-client/tree/develop/app/main/posts/modify  and make sure the element is either using t

[2020-10-05 09:42] #4078 closed

[2020-10-05 10:06] Angamanga opened #4082 "Check labels for saved searches, collections and filters for posts"
There are two ways labels are handled in the platform, depending on the markup of the form:

[code]
and

[code]

Go through the following forms and make sure the element is either using the for-attribute to associate the form-control or is encapsulating the form-control like the second example:

**Collections**
Create a collection:
The form is found when clicking on the collection-icon in the mode

[2020-10-05 10:06] Angamanga opened #4083 "Check and fix labels for saved searches and collections"
There are two ways labels are handled in the platform, depending on the markup of the form:

[code]
and

[code]

Go through the following forms and make sure the element is either using the for-attribute to associate the form-control or is encapsulating the form-control like the second example:

**Collections**
Create a collection:
The form is found when clicking on the collection-icon in the mode

[2020-10-05 10:13] #4082 closed

[2020-10-05 10:34] Akshansh99 commented on #4080
Can I work on this?

[2020-10-05 10:48] Akshansh99 commented on #4080
I've checked all the mentioned files and no further adjustment is required.

[2020-10-05 11:42] jaiwanth-v commented on #4083
Hi @Angamanga ,I would like to work on this issue? Could you please assign it to me? Thanks.

[2020-10-05 11:43] jaiwanth-v commented on #4083
Hi @Angamanga, I would like to work on this issue. Could you please assign it to me? Thanks.

[2020-10-05 13:03] Red-0111 commented on #4083
I would also like to contribute plz assign I will try my best

[2020-10-05 13:11] Red-0111 commented on #4081
@Angamanga Please assign will try my best

[2020-10-05 18:01] UdokaVrede commented on #3640
Hi is this still available

[2020-10-05 20:25] niksseif commented on #4080
Hi there,
I went through all the files mentioned above and all the labels have for attribute same as the id of input field.

[2020-10-06 10:07] Angamanga commented on #4080
@Akshansh99 @niksseif Thank you for your contribution 🎉 !

[2020-10-06 10:08] Angamanga commented on #4081
@Red-0111 Thank you for your interest! Please go ahead!

[2020-10-06 10:10] Angamanga commented on #4083
@jaiwanth-v Please go ahead! Thank you for your interest! @Red-0111 I have assigned you to this issue: https://github.com/ushahidi/platform/issues/4081

[2020-10-06 10:12] Angamanga commented on #3640
@UdokaVrede Hi there! Please go ahead, we have not had time to write further instructions on this issue, so if you need guidance, let me know :)

[2020-10-06 10:12] Angamanga commented on #3640
@UdokaVrede Hi there! Please go ahead, we have not had time to write further instructions on this issue, so if you need guidance, let me know :)

[2020-10-06 10:22] Angamanga commented on #4080
@all-contributors please add @Akshansh99 for ally

[2020-10-06 10:22] Angamanga commented on #4080
@all-contributors please add @Akshansh99 for a11y

[2020-10-06 10:23] Angamanga commented on #4080
@all-contributors please add @niksseif for a11y

[2020-10-06 10:36] Red-0111 commented on #4083
@Angamanga thanks will try my best

[2020-10-06 12:22] Angamanga opened #4086 "Check and fix labels for Settings->Categories, Data export and Users"
There are two ways labels are handled in the platform, depending on the markup of the form:

[code]
and

[code]

Go through the following forms and make sure the element is either using the for-attribute to associate the form-control or is encapsulating the form-control like the second example:

**Categories**
The code is found here:

https://github.com/ushahidi/platform-client/blob/develop/app/se

[2020-10-06 12:37] Angamanga opened #4087 "Check and fix labels on General settings, Roles and Webhooks"
There are two ways labels are handled in the platform, depending on the markup of the form:

[code]
and

[code]

Go through the following forms and make sure the element is either using the for-attribute to associate the form-control or is encapsulating the form-control like the second example:

**General settings**
The code is found here:
https://github.com/ushahidi/platform-client/blob/develop/a

[2020-10-06 12:48] ray3du commented on #4087
Hey @Angamanga  am a first-timer can I be assigned to this.

[2020-10-06 18:29] JaniPaasiluoto commented on #4087
@Angamanga I could work with this, if @ray3du skips.

[2020-10-06 18:54] error404-sp commented on #4080
Hi @Angamanga ,
I came across this project from the outreachy website and found it interesting. I went through the given links and found that some minimal adjustments can be made to improve accessibility.
I will like to be assigned this issue.
Could you please provide the docs to set up environment if it's necessary in this project.

[2020-10-06 20:08] calcem commented on #4083
Hi do you still need help with this issue? If so, I would love to help out.

[2020-10-06 20:38] nibble0101 commented on #4087
@Angamanga I am interested in this too.

[2020-10-07 03:44] Red-0111 commented on #4081
can u please add hacktoberfest label

[2020-10-07 07:37] renujain31 commented on #2394
Hey, I was checking for this issue but as said by @whytejas, I couldn't find the Settings tab in the sidebar. Does we need to have an admin role for that or something? Would like to solve this issue.

[2020-10-07 07:51] UdokaVrede commented on #3640
The steps to reproduce these error leads to this page, Am I to sign in, how please

[2020-10-07 08:08] Angamanga commented on #4080
@error404-sp Please go ahead :) Here is the docs for the environment: https://app.gitbook.com/@ushahidi/s/platform-developer-documentation/, check especially these pages for setting up the dev-environment:
https://app.gitbook.com/@ushahidi/s/platform-developer-documentation/development-and-code/setup_alternatives#platform-api-backend-install-guides

and

https://app.gitbook.com/@ushahidi/s/platfor

[2020-10-07 08:10] Angamanga commented on #4083
@calcem Hi and thank you for your interest! Please go ahead 🎉

[2020-10-07 08:11] Angamanga commented on #4087
@JaniPaasiluoto and @nibble0101 Thank you for your interest! I am going to add more first-timer issues today, please check later in the day and there will be more to choose from 🎉!

[2020-10-07 08:15] Angamanga commented on #3640
@UdokaVrede Ahh, that link is internal so you don't need to worry about that one. Sorry for the confusion, it happened to appear right under the "Steps to reproduce". Adding steps now :)

[2020-10-07 08:46] UdokaVrede commented on #3640
Alright awaiting the steps, thanks

On Wed, Oct 7, 2020 at 9:15 AM Anna Iosif <notifications@github.com> wrote:

[2020-10-07 11:02] error404-sp commented on #4080
Thank you @Angamanga. I will let you know. Unfortunately, the link
https://app.gitbook.com/@ushahidi/s/platform-developer-documentation/development-and-code/setup_alternatives#platform-api-backend-install-guides
and
https://app.gitbook.com/@ushahidi/s/platform-developer-documentation/development-and-code/setup_alternatives#platform-client-frontend-install-guides
 give "Page not found" errors. I we

[2020-10-07 12:45] JaniPaasiluoto commented on #4086
I could take this if still available?

[2020-10-07 16:20] TunrayoIlawole commented on #4087
Hey @Angamanga I'm a first timer. Can i please work on this?

[2020-10-07 16:41] bimbolabuari commented on #4087
Hello @Angamanga I am an Outreachy Internship Applicant, Please Can i work on this issue?

[2020-10-07 17:01] TunrayoIlawole commented on #4086
Hey @Angamanga Can i work on this one?

[2020-10-07 17:06] error404-sp commented on #4080
Hi @Angamanga ,
I have created the changes in the above files. Kindly review it.
https://github.com/ushahidi/platform-client/pull/1554#issue-499389488
I would really appreciate feedback on it.
I have refered to the W3C standards for the changes.
Thanks

[2020-10-07 17:06] bimbolabuari commented on #2746
Hi @Angamanga, I'm an outreachy internship applicant. Please can I contribute to this issue?

[2020-10-07 17:21] itolimaesther commented on #4086
@Angamanga  am an outreachy applicant. Can I work on this issue

[2020-10-07 18:09] stacytonui commented on #4087
Hey @Angamanga Outreachy applicant, can I please work on this?

[2020-10-07 18:58] muchirijane commented on #4087
Hey @Angamanga, I am an Outreachy applicant, could I please work on this issue?

[2020-10-07 19:15] onyeepeace commented on #2746
Hi @Angamanga , I am interested in fixing this. Can you please assign this to me? I will also write out my procedure on working on this as I contribute and link it as well.

[2020-10-07 19:23] lape15 commented on #4087
@Angamanga  please can i work on this

[2020-10-07 19:32] onyeepeace commented on #3480
Hi @Angamanga , I am interested in fixing this. Can you please assign this to me? I will also write out my procedure on working on this as I contribute and link it as well.

[2020-10-07 19:38] Riju19 commented on #2394
Hi, I'm an outreachy applicant. I would like to work on this issue.

[2020-10-07 20:18] stacytonui commented on #4086
Hello, Outreachy Applicant here, can i work on this?

[2020-10-07 20:23] s8mcmahon commented on #4087
@Angamanga I am an Outreachy applicant, can I please work on this issue?

[2020-10-07 20:49] mariehposa commented on #4087
Hi @Angamanga, I'm an Outreachy applicant, I would like to work on this issue.

[2020-10-07 23:38] GitWrld commented on #4087
do i have to work on all of them or just one? are they all in one category?

[2020-10-08 00:55] Somaru-chan commented on #2394
@Angamanga Hi Anna. Are there more issues for first-timers like this one? I'm an Outreachy applicant interested in contributing to this project, if possible.

[2020-10-08 02:19] AishaSaman commented on #4086
Hey @Angamanga, I am an Outreachy Applicant and willing to work on this issue, Please assign this to me, Thanks

[2020-10-08 05:04] anap226 commented on #3665
Hi @Angamanga, hi @rowasc. I am an outreachy applicant and was wondering if this could be one the first issues I could work on. Thanks

[2020-10-08 05:27] Shreets commented on #4087
Hi @Angamanga, I am an Outreachy Internship Applicant. I would love to work on this issue.

[2020-10-08 05:28] Shreets commented on #4086
Hi @Angamanga, I am an Outreachy Internship Applicant. I would love to work on this issue. Thank you.

[2020-10-08 06:12] renujain31 commented on #3994
Hey, Can I work on this one! Thanks!

[2020-10-08 06:13] Angamanga commented on #3253
Solved here: https://github.com/ushahidi/platform/issues/4078, closing

[2020-10-08 06:13] #3253 closed

[2020-10-08 06:14] Angamanga commented on #3215
Closing this since will be solved in v5.

[2020-10-08 06:14] #3215 closed

[2020-10-08 06:21] Riju19 commented on #2386
Hi, I would like to work on this issue

[2020-10-08 06:46] Angamanga opened #4089 "Check and fix labels on survey-creation"
There are two ways labels are handled in the platform, depending on the markup of the form:

[code]
and

[code]

Go through the following forms and make sure the element is either using the for-attribute to associate the form-control or is encapsulating the form-control like the second example:

**Survey-creation**
This is quite a complex view, split down in several templates. I suggest you start

[2020-10-08 06:57] renujain31 commented on #4089
Hey, As I am also working on a similar issue for the survey forms can this also be assigned to me? Thanks!

[2020-10-08 07:03] helen-ndip commented on #4089
@renujain31 @Angamanga  its my first time to contribute can I work on this issue?

[2020-10-08 07:24] Angamanga commented on #4080
@error404-sp Thank you for your contribution! I will review shortly!

[2020-10-08 07:25] Angamanga commented on #2746
@bimbolabuari and @onyeepeace Thank you for your interest in contributing! Please go ahead! 🎉

[2020-10-08 07:25] Angamanga commented on #3480
@onyeepeace Thank you for your interest! Please go ahead! 🎉

[2020-10-08 07:27] Angamanga commented on #2394
@renujain31 Yes, you need to login as an admin to find the settings-link. In your local dev-environment both username and password is "admin".

[2020-10-08 07:29] Angamanga commented on #3665
@anap226 Thank you for your interest in contributing! Please go ahead with this issue :)

[2020-10-08 07:33] Angamanga commented on #4087
@ray3du Thank you for your interest! Please go ahead and work on this issue. @Shreets @GitWrld @mariehposa @s8mcmahon @lape15 @muchirijane @stacytonui @bimbolabuari @TunrayoIlawole @JaniPaasiluoto @nibble0101 Please check out this link if you can find something else you are interested in: https://github.com/ushahidi/platform/issues?q=is%3Aopen+is%3Aissue+label%3A%22Community+Task%22 We are adding

[2020-10-08 07:35] Angamanga commented on #4086
@JaniPaasiluoto @TunrayoIlawole @itolimaesther @stacytonui @AishaSaman @Shreets There is already a pullrequest waiting for review so I suggest you hold on to not do unnecessary work :) Please check this link if you find something else to work on: https://github.com/ushahidi/platform/issues?q=is%3Aopen+is%3Aissue+label%3A%22Community+Task%22

[2020-10-08 07:35] Angamanga commented on #3994
@renujain31 Please go ahead :) 👍

[2020-10-08 07:37] Angamanga commented on #4089
@renujain31 I have assigned you to this issue: https://github.com/ushahidi/platform/issues/3994 @helen-ndip Please go ahead with this issue 🎉

[2020-10-08 07:37] Angamanga commented on #2394
@Riju19  and @Somaru-chan Please go ahead. @renujain31 I have assigned you to this issue: https://github.com/ushahidi/platform/issues/3994

[2020-10-08 07:39] mariehposa commented on #3664
Hi @Angamanga Can I work on this? I would love to.

[2020-10-08 07:43] Angamanga commented on #3664
@mariehposa Please go ahead 🎉 !

[2020-10-08 08:11] ray3du commented on #4087
Thank you @Angamanga, working on it.

[2020-10-08 08:15] muchirijane commented on #4087
@Angamanga, I totally understand. Let me check for others.

[2020-10-08 08:17] bimbolabuari commented on #2746
Thanks @Angamanga, working on it

[2020-10-08 08:21] muchirijane commented on #3663
hey @Angamanga, If the issue is still open, could please I work on it.

[2020-10-08 08:23] muchirijane commented on #3662
Hey @Angamanga, could I please work on this as part of my outreachy contribution?

[2020-10-08 08:23] Shreets commented on #2384
Hey @Angamanga , i an Outreachy applicant. I would like to work on this issue. Could you please assign it to me

[2020-10-08 08:41] siggrid commented on #2384
Hi @Angamanga ! I am an Outreachy applicant. Would like to work on this issue.

[2020-10-08 08:57] A-DML commented on #4087
Morning @Angamanga  I will like to work with you and this task for my Outreachy internship contribution.

[2020-10-08 09:06] A-DML commented on #2384
Hi @Angamanga i will like to work on this for my outreachy contribution

[2020-10-08 09:09] A-DML commented on #3957
Hi @Angamanga i will like to work on this for my outreachy contribution

[2020-10-08 09:11] onyeepeace commented on #2746
Okay, great. Thanks @Angamanga

[2020-10-08 09:12] A-DML commented on #3918
Hi @rowasc @Angamanga i will like to work on this for my outreachy contribution .  if it's still available.

[2020-10-08 09:12] onyeepeace commented on #3480
Okay, great. Thanks @Angamanga

[2020-10-08 10:11] onyeepeace commented on #2746
Hi @Angamanga, I will like to ask a quick question. Should this be implemented on the platform repository or the platform-client repository? I am a little confused on the two repositories and where to start on. Thanks.

[2020-10-08 10:23] Somaru-chan commented on #2394
@Angamanga Thanks. I'll start working on it right away.

[2020-10-08 11:54] helen-ndip commented on #4089
ok thanks

[2020-10-08 12:03] Angamanga commented on #2746
@onyeepeace The platform-client repository. Check out our docs for the setup:  https://docs.ushahidi.com/platform-developer-documentation/development-and-code/setup_alternatives#platform-api-backend-install-guides and here: https://docs.ushahidi.com/platform-developer-documentation/development-and-code/setup_alternatives#platform-api-backend-install-guides. You need to setup both the backend and t

[2020-10-08 12:05] onyeepeace commented on #2746
Thank you so much @Angamanga. I will set it up now.

[2020-10-08 12:09] Angamanga commented on #3957
Thank you @A-DML 🎉  Please go ahead!

[2020-10-08 12:11] Angamanga commented on #2384
Thank you @Shreets @siggrid! Please go ahead 🎉 !
@A-DML I have assigned you to this one: https://github.com/ushahidi/platform/issues/3957

@siggrid You only need to care about the en.json file, the other ones gets updated by our translators :)

[2020-10-08 12:13] Angamanga commented on #3662
Thank you @muchirijane! Please go ahead :)

[2020-10-08 12:14] Angamanga commented on #3663
@muchirijane I assigned you to this one so start with that: https://github.com/ushahidi/platform/issues/3662

[2020-10-08 12:21] TunrayoIlawole commented on #3943
Hey @Angamanga Can i please work on this one?

[2020-10-08 12:25] TunrayoIlawole commented on #4081
Hi @Angamanga Can i work on this?

[2020-10-08 12:31] TunrayoIlawole commented on #4044
Hi @Angamanga Can i work on this?

[2020-10-08 12:38] TunrayoIlawole commented on #3906
Hi @rowasc Can i work on this?

[2020-10-08 12:45] muchirijane commented on #3662
Thanks 💯

[2020-10-08 12:49] amycruz97 commented on #3665
can i help with this also

[2020-10-08 12:51] amycruz97 commented on #3663
can i take on this issue

[2020-10-08 12:55] blossom-babs commented on #3665
Hello, @Angamanga I am an outreachy applicant. Can I work on this too?

[2020-10-08 13:01] amycruz97 opened #4090 "https://www.ushahidi.com/ need more enhancement in terms of accessibility"
**Which user group(s) are the primary audience for this feature/enhancement.**
Include deployment names if possible
Specify key workflows (e.g. crisis, elections)
Specify key use cases (program/data workers, incident management, advocacy/storytelling)

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrate

[2020-10-08 13:02] amycruz97 commented on #4090
can i work on it

[2020-10-08 13:03] kamzzy commented on #4086
hello, am an Outreachy applicant, please can I be assigned this

[2020-10-08 13:03] kamzzy commented on #4086
hello, am an Outreachy applicant, please can I be assigned this

[2020-10-08 13:03] kamzzy commented on #4086
hello, am an Outreachy applicant, please can I be assigned this

[2020-10-08 13:03] kamzzy commented on #4086
hello, am an Outreachy applicant, please can I be assigned this

[2020-10-08 13:03] amycruz97 commented on #4079
is this issue still open

[2020-10-08 13:03] amycruz97 commented on #4079
can i take this

[2020-10-08 13:07] kamzzy commented on #4083
hello am an Outreachy intern, I would like to know if you can assign me a task here

[2020-10-08 13:08] blossom-babs commented on #3664
Hello @Angamanga can I work on this too?

[2020-10-08 13:10] kamzzy commented on #4083
Hello, am an Outreachy applicant, I would like to know if I can be assigned a task

[2020-10-08 13:11] onyeepeace commented on #1994
Hello @rowasc, what needs to be done with this? I am an Outreachy intern and I will like to work on it. I opened up uchaguzi.or.ke on firefox in windows and the radio buttons are clickable. Was it fixed previously or it has a different problem?

[2020-10-08 13:21] TunrayoIlawole commented on #4080
Can I work on this?

[2020-10-08 13:39] A-DML commented on #3957
Thanks @Angamanga . I will

[2020-10-08 14:10] IfyN commented on #3664
Hello @Angamanga can I please work on this? I would love to contribute to this? I am also an outreachy applicant.

[2020-10-08 14:28] rowasc commented on #3664
Hey folks. Totally. This ticket is mainly about checking out the docs and reporting issues with it. Everyone can participate :tada: thanks! @IfyN @blossom-babs

[2020-10-08 14:33] rowasc commented on #4080
@TunrayoIlawole Hey. There's already someone working on it, so in this case, no. However you can check the other tickets in the hacktoberfest and outreachy labels. Thank you!

[2020-10-08 15:27] mariehposa commented on #3664
Note:
1. **Issues** are written in bold only.
2. **_Suggestions_** are written in bold and italics.

Page: https://docs.ushahidi.com/platform-developer-documentation/code-of-conduct

Currently reads:
Like Ushahidi's staff base, Ushahidi's community is incredibly diverse. **Ushahidi** is dedicated to creating an inclusive environment for everyone, regardless of race, ethnicity, religion, color, nat

[2020-10-08 16:13] IfyN commented on #3664
Please Note:
- Issues are highlighted in bold
- Suggestions are written in bold and italics

Page in which text is derived: https://docs.ushahidi.com/platform-developer-documentation/contributing-or-getting-involved

Text currently reads:
Ushahidi **is** open source software created for the benefit of a large global community improving the world for **themselves** and others, holding governments a

[2020-10-08 16:19] IfyN commented on #3664
Please Note:

- Issues are highlighted in **bold** .
- Suggestions are written in **_bold_** and **_italics_** .

 Page in which text is derived: https://docs.ushahidi.com/platform-developer-documentation/contributing-or-getting-involved

Text currently reads:
Ushahidi **is open** source software created for the benefit of a large global community improving the world for **themselves** and others,

[2020-10-08 16:54] Annysah commented on #3665
Hello, I'm Anisat Akinbani an Outrreachy applicant.
Can I work on this issue?

[2020-10-08 16:57] lalidiaz commented on #3638
Hi, I am Outreachy applicant... may I work on this please?

[2020-10-08 17:02] lalidiaz commented on #3619
Hi, I am outreachy applicant. May I work on this one please?

[2020-10-08 17:03] rowasc commented on #1994
Hey. I just edited the description to make it more generally applicable. Does it make sense now? (Thanks for letting us know)
cc @Angamanga tagging Anna for follow up about any specific implementation details

[2020-10-08 17:03] lalidiaz commented on #3578
I am Outreachy applicant, could I try to solve this? Thanks!

[2020-10-08 17:04] rowasc commented on #4079
Hey @amycruz97 yes, please go ahead! Thanks

[2020-10-08 17:12] lalidiaz commented on #2484
I am Outreachy applicant , may I work on this one please? I will try my best 🙌

[2020-10-08 17:14] onyeepeace commented on #1994
Yes, it is clear now. I will reach out if I need anything again.

[2020-10-08 17:15] lalidiaz commented on #2321
I am Outreachy applicant , may I try to solve this one please?

[2020-10-08 17:15] onyeepeace commented on #2746
I am currently trying to set up the dev-environment locally on my computer, I have gone through a lot of steps and I am at the point where I need to run 'vagrant up'. I did that but I am getting this error;
C:\Users\Peace\Desktop\platform>vagrant up
Check your Homestead.yaml file, the path to your private key does not exist.

I found possible solutions here https://stackoverflow.com/questions/4446

[2020-10-08 19:52] imaliesiera commented on #4086
Hello @Angamanga . I'd like to work on this. Is it still open?

[2020-10-08 20:33] Ifycode commented on #4089
Hi @Angamanga, I'm an outreachy applicant. Can I still contribute on this issue?

[2020-10-08 20:35] SaraLatif99 commented on #3662
Hi, Can I take this as part of Outreachy 2020 and hacktober first 2020 contributions?

[2020-10-08 21:23] UdokaVrede commented on #3536
Hi can I work on this for my outreachy contribution

[2020-10-09 00:09] hyounes4560 commented on #4086
Hi, I am an Outreachy Applicant, can I work on this? @Angamanga

[2020-10-09 00:11] hyounes4560 commented on #4087
Hello, Outreachy Applicant here, can I work on this? @Angamanga

[2020-10-09 00:12] hyounes4560 commented on #3536
Hello, Outreachy Applicant here, can I work on this? @rowasc @Angamanga  Thanks

[2020-10-09 00:38] amycruz97 commented on #4079
pls where is the instruction on how to set it up in our local environment

[2020-10-09 02:59] hyounes4560 commented on #3664
@rowasc @Angamanga
Hi there, Please kindly review my contribution to **The Ushahidi Platform Roadmap** documentation page found [here: ](https://docs.ushahidi.com/platform-developer-documentation/roadmap)

**I made many changes and rewrote the complete sections to better reflect the Ushahidi platform. I proofread and checked the grammar and punctuation of my final draft. Also, used appended links

[2020-10-09 08:28] Dev-Som commented on #4087
Hello @Angamanga I'm a first timer. Can I please work on this?

[2020-10-09 08:31] Dev-Som commented on #4089
Hi @Angamanga  I am an outreachy applicant, Can I work on this?

[2020-10-09 09:55] Angamanga commented on #3943
@TunrayoIlawole Yep, please go ahead :)

[2020-10-09 09:56] Angamanga commented on #4081
@TunrayoIlawole I assigned you to this one: https://github.com/ushahidi/platform/issues/3943

[2020-10-09 10:17] muchirijane commented on #1647
Hey @Angamanga , Could I please work on this issue for the outreachy contribution.

[2020-10-09 10:47] Angamanga commented on #3662
@muchirijane You can write your suggestions here as a comment :)

[2020-10-09 10:48] Angamanga commented on #3662
@SaraLatif99 Yes, please go ahead :)

[2020-10-09 10:51] muchirijane commented on #3662
@Angamanga, I did a pull request an hour ago. Didn't know it was to be a comment. Oops.
https://github.com/ushahidi/platform/pull/4092
Let me copy the information here.

[2020-10-09 10:55] Angamanga commented on #3638
@lalidiaz This issue need triage and is not open for the community, so in this case, no. However you can check the other tickets in the community-task, hacktoberfest and outreachy labels. Thank you!

[2020-10-09 10:55] muchirijane commented on #3662
- In the documentation configuring the API section, Change the DB_USER to root in the `.env` file there is DB_USERNAME listed instead. That's what I changed. Maybe that section could be updated in the documentation.
- When running `composer migrate` I got an error

composer migrate

Running OAuth key checks
Good job! Your OAuth keys are in the right place.
We will check the environment file next.

[2020-10-09 10:56] Angamanga commented on #3578
@lalidiaz Sorry this issue is outdated so closing it now. You can check the other tickets in the community-task, hacktoberfest and outreachy labels. Thank you!

[2020-10-09 10:56] #3578 closed

[2020-10-09 10:58] Angamanga commented on #2746
@onyeepeace Make sure you are in the platform-api folder before running vagrant up, its in this folder the Homestead.yaml file is.

[2020-10-09 10:58] Angamanga commented on #4086
@kamzzy @hyounes4560  There is already a pullrequest waiting for review so I suggest you hold on to not do unnecessary work :) Please check this link if you find something else to work on: https://github.com/ushahidi/platform/issues?q=is%3Aopen+is%3Aissue+label%3A%22Community+Task%22

[2020-10-09 10:59] Angamanga commented on #3536
@UdokaVrede @hyounes4560 This issue is outdated so closing it now. Please check this link if you find something else to work on: https://github.com/ushahidi/platform/issues?q=is%3Aopen+is%3Aissue+label%3A%22Community+Task%22

[2020-10-09 10:59] #3536 closed

[2020-10-09 11:00] Angamanga commented on #4079
@amycruz97 The docs with instructions can be found here: https://docs.ushahidi.com/platform-developer-documentation/development-and-code/setup_alternatives#platform-api-backend-install-guides and here: https://docs.ushahidi.com/platform-developer-documentation/development-and-code/setup_alternatives#platform-api-backend-install-guides.

[2020-10-09 11:01] Angamanga commented on #4087
@hyounes4560 @Dev-Som There is already someone working on this issue so in this case no. Please check out this link if you can find something else you are interested in: https://github.com/ushahidi/platform/issues?q=is%3Aopen+is%3Aissue+label%3A%22Community+Task%22 We are adding more issues continuously but due to the large interest in Outreachy this year we are lagging behind. Please bear with us

[2020-10-09 11:02] Angamanga commented on #4089
@Ifycode @Dev-Som There is already someone working on this issue so in this case no. Please check out this link if you can find something else you are interested in: https://github.com/ushahidi/platform/issues?q=is%3Aopen+is%3Aissue+label%3A%22Community+Task%22 We are adding more issues continuously but due to the large interest in Outreachy this year we are lagging behind. Please bear with us :)

[2020-10-09 11:03] Angamanga commented on #1647
@muchirijane This needs triage so it is not open for the community yet. Please check out this link if you can find something else you are interested in: https://github.com/ushahidi/platform/issues?q=is%3Aopen+is%3Aissue+label%3A%22Community+Task%22 We are adding more issues continuously but due to the large interest in Outreachy this year we are lagging behind. Please bear with us :)

[2020-10-09 11:04] muchirijane commented on #1647
Noted. Thank you.

[2020-10-09 11:13] siggrid commented on #2384
Hi @Angamanga
Created PR. https://github.com/ushahidi/platform-client/pull/1556
List of languages for the dropdown comes from `languages.json` file in `common/locales` folder. I added a `nativeName` field with corresponding value for each language in this file. Languages are shown in their native names regardless of selected language. Users won’t get lost even if they accidentally chose any other

[2020-10-09 11:13] UdokaVrede commented on #3536
Alright thanks

On Fri, Oct 9, 2020 at 11:59 AM Anna Iosif <notifications@github.com> wrote:

[2020-10-09 11:32] renujain31 commented on #3994
@Angamanga
Here's a possible solution: We can disable the ADD button when the option added is same of any of the options already added by changing the code [here](https://github.com/ushahidi/platform-client/blob/develop/app/settings/surveys/attribute-editor.html#L38)

To prevent the error while adding posts I understand that I have to make changes [here](https://github.com/ushahidi/platform-client

[2020-10-09 11:46] muchirijane commented on #2386
Hey, @Angamanga Could I work on this issue if it's still open.

[2020-10-09 11:55] Angamanga commented on #2384
@siggrid Thank you! I will review shortly!

[2020-10-09 11:57] Angamanga commented on #2386
@Riju19 @muchirijane Sorry this issue is outdated. Closing it. Please check out this link if you can find something else you are interested in: https://github.com/ushahidi/platform/issues?q=is%3Aopen+is%3Aissue+label%3A%22Community+Task%22 We are adding more issues continuously but due to the large interest in Outreachy this year we are lagging behind. Please bear with us :)

[2020-10-09 12:00] Angamanga commented on #3665
@blossom-babs @Annysah @amycruz97 Thank you! This ticket is mainly about checking out the docs and reporting issues with it so everyone can participate 🎉. Please go ahead!

[2020-10-09 12:11] Ifycode commented on #4081
@Angamanga please can I contribute to this?

[2020-10-09 12:12] Ifycode commented on #4089
Ok. Thank you for your response.

[2020-10-09 12:33] ypresion commented on #1555
Hi @rowasc, would be happy to work on this issue. :) The only thing is, I can see that for now you set the title using a value from a .json file ("edit_field" : "Edit field"). To add the type of the field I'd either have to scrape it completely or change it to edit_field" : "Edit". What would be preferable?

[2020-10-09 13:49] hyounes4560 commented on #4079
@Angamanga @rowasc is it okay to contribute to this as well? Thanks

[2020-10-09 14:19] amycruz97 commented on #4079
ok thanks working on it

[2020-10-09 14:48] amycruz97 commented on #3665
the issues we should report is it going to be focused on accessibility

[2020-10-09 15:30] rowasc commented on #1555
hey @ypresion thanks for contributing!
mmm I think I'd go for modifying "Edit field" to "Edit {fieldType} field" and then doing using the translate-values syntax in the tag attributes
An example of this can be found in how we do the "nav.selected_items" translation in app/common/directives/list-toolbar.html which has its corresponding lang key in 'nav' > 'selected_items' around line 615 of the en.

[2020-10-09 15:31] rowasc commented on #4081
hey @Ifycode this one is already taken , but I'm adding more issues so we should have more issues available soon today if you havent been able to find any

[2020-10-09 15:31] #2386 closed

[2020-10-09 15:45] rowasc commented on #1647
I'm officially entering this one into "Community task" status @muchirijane assigning it to you so you can work on it. Keep in mind this will involve not just the change in the code, but a change in user *docs* as well which @CeciliaHinga may need to guide you through

[2020-10-09 15:48] rowasc commented on #2746
hey @Angamanga who is assigned to this one? It's not clear and I'm worried maybe there's two folks working on it at the same time? @bimbolabuari I'm assuming you are working on this one no?

[2020-10-09 15:57] rowasc commented on #3638
hmmm yea I think this isn't happening anymore, I can't repro at all. CLosing!

[2020-10-09 15:59] rowasc commented on #3638
I could repro it. Ok tagging for community and assigning @lalidiaz ! Thank you
Make sure you test with a RTL language (ie Arabic ) or it won't happen to you :)

[2020-10-09 16:05] rowasc commented on #2484
mmmm this definitely needs a bit of triage, I'm not even sure what we should do
@Angamanga is this something you understand/could help define?
@lalidiaz I assigned you a different issue that you can work on , in the meantime

[2020-10-09 16:11] rowasc commented on #3619
@lalidiaz I assigned you a different ticket but when you are done with it, ping me again here and we can collab on a scope and design docs for this

[2020-10-09 16:16] rowasc commented on #3906
hi @TunrayoIlawole no there's already a PR for it. Do you have another ticket assigned? (I can't check but I think I assigned one earlier today) . LMK if not

[2020-10-09 16:18] rowasc commented on #3918
@A-DML please go ahead ! thanks

[2020-10-09 16:30] rowasc commented on #3994
Ah right so the problem happens because of the `track by` trying to use a repeated key.
Error: [ngRepeat:dupes] Duplicates in a repeater are not allowed. Use 'track by' expression to specify unique keys. Repeater: option in attribute.options, Duplicate key: string:ad, Duplicate value: ad
https://errors.angularjs.org/1.8.0/ngRepeat/dupes?p0=option%20in%20attribute.options&p1=string%3Aad&p2=ad
    A

[2020-10-09 16:56] rowasc commented on #3643
@Angamanga lets check in on this one

[2020-10-09 16:57] #3626 closed

[2020-10-09 16:59] rowasc commented on #3962
closing in favor of #3994  (where we are fixing this!)

[2020-10-09 16:59] #3962 closed

[2020-10-09 17:01] rowasc commented on #2794
hey @renujain31 I think Anna is working on this? @Angamanga

[2020-10-09 17:02] rowasc commented on #2341
Fixed / not happening naymore

[2020-10-09 17:02] #2341 closed

[2020-10-09 17:06] rowasc commented on #1796
I'm tagging for community task and maybe someone can do some research to fix it (and we can help)

[2020-10-09 17:09] stacytonui commented on #1067
Hey, Outreachy applicant here, can you please assign me this issue?

[2020-10-09 17:15] stacytonui commented on #3179
is this issue still open? I'd like to work on it

[2020-10-09 18:37] muchirijane commented on #1647
Hey @rowasc, Thank you. I will work on it. Yes I would absolutely appreciate some guidance.

[2020-10-09 18:46] Ifycode commented on #4044
Hi @Angamanga I want to try work on this if i'm assigned.

[2020-10-09 18:49] ypresion commented on #1555
Sounds good, will start working on it! :)

[2020-10-09 19:09] eriyanto87 commented on #2073
@Angamanga Hi Anna. I'm an Outreachy internship applicant. Can I get assigned to this issue?

[2020-10-09 19:11] Ifycode commented on #4044
Hi @Angamanga I'm not able to access the aha link to check out this issue https://ushahiditeam.aha.io/features/PROD-68. Can I help with how to access it?

[2020-10-09 19:11] Ifycode commented on #4044
And then can i also be assigned?

[2020-10-09 19:38] hyounes4560 commented on #4044
@Angamanga Can you assign me this task? Thanks

[2020-10-09 19:40] OluyemisiA commented on #2073
@Angamanga Hello Anna. I'm an Outreachy internship applicant, can I get assigned to this issues?
Thank you

[2020-10-09 19:42] hyounes4560 commented on #3663
@rowasc @Angamanga Could you please allow me to work on this task? Thanks a lot

[2020-10-09 19:47] hyounes4560 commented on #3642
Can I claim this task? @rowasc Thank you

[2020-10-09 20:12] SaraLatif99 commented on #3662
Thanks @Angamanga

[2020-10-09 20:15] bimbolabuari commented on #2746
Hi @rowasc, Yes, I am working on it. Thanks for assigning it to me.

[2020-10-09 21:05] Dev-Som commented on #3660
Hi @Angamanga can you assign the issue here to me?

[2020-10-09 21:27] bimbolabuari commented on #2746
Hi @rowasc and @Angamanga, Please I need your help on where to implement the "skip to content" link, as it is not clear since the root page (http://localhost:8001/views/map) and other links I have access to doesn't seem to have main content

Thanks.

[2020-10-09 23:01] Ifycode opened #4095 "Behavior when navigating links in the mode-bar with the tab key"
Expected behaviour:

As a user, I expect that pressing the tab key should take me the next link in the mode-bar and in the order that the links are visually arranged. With visible outline around the link elements to know what link i'm currently on.
![tabbing-modebar](https://user-images.githubusercontent.com/45185388/95636340-bcb50a80-0a43-11eb-8d18-c6a1a7e4acf1.PNG)
![tabbing-modebar-2](https://u

[2020-10-09 23:03] Ifycode commented on #4095
@Angamanga I found this while trying to navigate the page, I haven't been assigned any task. Is this approved and can I try my hands on this?

[2020-10-09 23:48] vanessa-ariel commented on #1884
Hello @Angamanga , can I work on this issue? I am an outreachy applicant (:

[2020-10-09 23:51] vanessa-ariel commented on #1885
Hi, @Angamanga. Is it okay if I work on this issue?

[2020-10-09 23:53] vanessa-ariel commented on #1881
I am interested on working in this issue, @Angamanga.

[2020-10-10 05:28] renujain31 commented on #2794
I have already filed a PR(after discussion with Anna in #4075) which would solve this issue. [Link to PR](https://github.com/ushahidi/platform-client/pull/1549)

[2020-10-10 05:44] renujain31 commented on #3994
@rowasc I agree in the case when the user is admin, but for general user a possible solution might also be to display the checkbox where we take care of duplicate options by removing just the duplicate options.

Is there anything I could help you with in fixing the issue @rowasc? Maybe I can take care of the part to display the warning when user is admin? Thanks!

[2020-10-10 06:05] Jenniline commented on #3660
Hi @Angamanga. So sorry for the late reply. I will do the changes on the doc when I have finished setting up my Ushahidi environment and tested the commands again. Thanks

[2020-10-10 11:31] Naimaoye commented on #3642
Hi @rowasc , can I claim this task for my outreachy contribution?

[2020-10-10 13:23] UdokaVrede commented on #3643
If this is open I would like to take it up @rowasc

[2020-10-10 19:17] ypresion commented on #1555
Hi @rowasc, I managed to get the API and client working, although I can't access the surveys. When I log in, no 'settings' option shows up. Read through documentation although didn't find any answers. Tried changing the URL path to '/settings' but it redirects me to the main map. Any idea why this might be happening?

[2020-10-10 20:05] Sunairaa commented on #4079
Hey @Angamanga is this issue still available? can I work on it from windows Os?

[2020-10-10 21:30] rowasc commented on #4079
@Sunairaa hey, no, this isn't available as @amycruz97 is working on it (see comment above)
Please check for unclaimed tickets in the https://github.com/ushahidi/platform/issues?q=is%3Aopen+is%3Aissue+label%3A%22Community+Task%22 list :)
Thanks!

[2020-10-10 21:32] rowasc commented on #1555
@ypresion hrm that's interesting, are you logged in with an admin user? You should see a sidebar with a settings icon (like a gear icon)
Like this
![Screenshot from 2020-10-10 18-32-07](https://user-images.githubusercontent.com/2434401/95665475-f3178600-0b26-11eb-89bf-3a87f8d283ea.png)

Thanks!

[2020-10-10 21:36] rowasc commented on #4095
@Ifycode Hey thanks for this report. Yes, please go ahead , assigned to you !

cc @Angamanga I didn't find any other ticket reporting this issue so I've approved this one.

[2020-10-10 21:39] rowasc commented on #3643
Hey @UdokaVrede this one seems to be blocked and needs triage. https://github.com/ushahidi/platform/issues?q=is%3Aopen+label%3A%22Community+Task%22+milestone%3A%22Hacktoberfest+%22 please check this list and check for unclaimed issues
Thanks

[2020-10-10 21:45] rowasc commented on #3994
@renujain31 Definitely definitely please work on the warning and the blocking of the add button :ship:  on monday we can catch up here on the other part that's not clear regarding regular users

[2020-10-10 21:47] rowasc commented on #2794
oh, awesome. Ok holding for Anna's review then :tada:

[2020-10-10 21:50] rowasc commented on #1881
Hey @vanessa-ariel this ticket is not marked for community contributions yet (it needs a lot of design work to make it into core)
https://github.com/ushahidi/platform/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22Hacktoberfest+%22+label%3A%22Community+Task%22 please check this list and find an unclaimed issue.
Thanks!

[2020-10-10 21:52] rowasc commented on #4028
@Angamanga Did we stop this one due to other priorities? Do you want me to add it to the next release target?

[2020-10-10 21:57] rowasc commented on #2746
@bimbolabuari in the case of the map, it's also unclear to me how we define content. I *assume* it's the posts in the map. In the  data view however, "skip to content" should "take" the user directly to listen/read the first post card on the left.
You can start with the data view, and we can all continue the discussion on this ticket on monday @bimbolabuari since I definitely need @Angamanga to he

[2020-10-10 21:59] rowasc commented on #2073
Hey @eriyanto87 please go ahead, I'm assigning it to you :) Thanks!

@OluyemisiA please check https://github.com/ushahidi/platform/issues?q=is%3Aopen+is%3Aissue+label%3A%22Community+Task%22+milestone%3A%22Hacktoberfest+%22 for unclaimed tickets . Thanks!

[2020-10-10 22:00] rowasc commented on #4044
@lfycode Please go ahead. I'm assigning it to you (first-come first serve :) ) . Ignore the Aha links, it's an internal thing, sorry

[2020-10-10 22:01] Ifycode commented on #4095
Yay! Thank you @rowasc

[2020-10-10 22:07] rowasc commented on #1647
So this will require changes in the API code, not the frontend. Would that be something you are still interested in? If so, you'll need to modify the migrations/20150904021011_add_default_post_type.php so that it reads "Untitled survey" instead of "Basic Post".
Note that this will *only* affect new deployments, so to test it, you essentially need to "re create" the database through the migrations

[2020-10-10 22:09] rowasc commented on #3179
Hey, no this isn't yet available to be picked up. Please check https://github.com/ushahidi/platform/issues?q=is%3Aopen+is%3Aissue+label%3A%22Community+Task%22+milestone%3A%22Hacktoberfest+%22 for unclaimed issues

[2020-10-10 22:11] rowasc commented on #1067
@stacytonui this issue needs to be fully spec'd yet, do you want to help get it to that point? Basically we need more details on how it'll be implemented so before starting to code it you'd need to work with us (through comments here) on defining it. Please note this may involve both backend and frontend changes.
Thanks!

[2020-10-10 22:13] eriyanto87 commented on #2073
@rowasc Thanks! I will start working on it as soon as I can!

[2020-10-10 22:20] rowasc commented on #2073
Brilliant, thank you !

[2020-10-10 22:23] #2863 closed

[2020-10-10 22:25] rowasc commented on #2385
@Angamanga I'm closing this as saved searches have changed in how they are handled and it would introduce more complexity than we can cope with right now.

[2020-10-10 22:25] #2385 closed

[2020-10-10 22:25] rowasc commented on #2321
@Angamanga is this something we want to do?

[2020-10-10 22:43] rowasc commented on #2296
Not happening anymore

[2020-10-10 22:43] #2296 closed

[2020-10-10 22:45] rowasc commented on #2297
@Angamanga I think we were working on this in another ticket no?

[2020-10-10 22:46] rowasc commented on #703
Closing since we do this through adminUserSeupt.

[2020-10-10 22:46] #703 closed

[2020-10-10 22:48] #2336 closed

[2020-10-10 22:53] #3609 closed

[2020-10-10 22:57] #2424 closed

[2020-10-10 22:58] #1877 closed

[2020-10-10 22:58] #2283 closed

[2020-10-10 22:58] #2426 closed

[2020-10-10 22:58] #2427 closed

[2020-10-10 22:58] #2432 closed

[2020-10-10 23:00] #3267 closed

[2020-10-10 23:34] eriyanto87 commented on #2073
@rowasc I'm trying to go to the website https://ushahiditeam.aha.io/features/PROD-521 to see what the issue is but I am having trouble to make an account.

[2020-10-10 23:54] Ifycode commented on #4044
Ok. Thanks. Please @rowasc @Angamanga by default value, you mean placeholder and value attributes on input fields right?

[2020-10-11 00:08] hyounes4560 commented on #4044
@rowasc I apologize but @Ifycode is already working on another task! Is it okay that I can help her in this at least??? Thanks @Angamanga

[2020-10-11 02:51] treasurechristain commented on #4086
I can work on This if its still available. I'm Amadikwa Joy N. from Outreachy

[2020-10-11 03:07] codedladiesinnovate commented on #4083
Hi, I'm Amadikwa Joy N, an Outreachy applicant. I would like to work on this project. Should I go ahead?

[2020-10-11 03:10] codedladiesinnovate commented on #3662
@Angamanga please can I do this as part of my outreachy contribution?

[2020-10-11 03:25] Ifycode commented on #4044
@rowasc @Angamanga I found this short article that I think clarifies this for me https://html.com/attributes/input-value/

[2020-10-11 03:26] treasurechristain commented on #4034
Hi can I work on this issue if it's still open for my outreachy contribution.
I'm Amadikwa Joy N

[2020-10-11 03:28] treasurechristain commented on #3642
Can I work on this issue for my outreachy contribution. I'm Amadikwa Joy N

[2020-10-11 03:34] treasurechristain commented on #3612
@Angamanga can I work on this? Amadikwa Joy N from outreachy

[2020-10-11 06:21] muchirijane commented on #1647
Hey @rowasc, I am still interested. I have seen the code in the file thank you. I would appreciate your help in the testing process of the code. How do I get started with "re-creating" the database?

[2020-10-11 10:37] Shreets commented on #2384
Hey @Angamanga . I am just done with setup and looks like @siggrid  has already done a great deal of a job .
Could you please assign me a new issue in this case?
Thanks :) !

[2020-10-11 11:30] Naimaoye commented on #4034
Hi, my name is Naimat Oyewale. Can I work on this issue for my outreachy contribution?

[2020-10-11 14:23] hyounes4560 commented on #3544
@rowasc @Angamanga Can I work on this task? Thanks

[2020-10-11 15:30] emalindahk commented on #3315
Hi, I'm Emmah I would like to work on this for my outreachy contribution

[2020-10-11 15:44] emalindahk commented on #2314
Hi, I'm Emmah I would like to work on this for my outreachy contribution

[2020-10-11 15:47] emalindahk commented on #1796
Hi, I'm Emmah I would like to work on this for my outreachy contribution

[2020-10-11 16:29] LizzyKate commented on #4086
I can work on This if its still available. I am an Outreachy applicant

[2020-10-11 19:13] ypresion commented on #1555
@rowasc, my mistake, I was using my personal account!
The PR is now raised and ready for a review, hopefully it looks alright :)

[2020-10-11 19:38] UdokaVrede commented on #3662
Hi you are using an organization account to make this request, please
recheck

On Sun, Oct 11, 2020 at 4:11 AM Coded Ladies Innovate Tech <
notifications@github.com> wrote:

[2020-10-11 19:39] UdokaVrede commented on #4083
Hi Joy, please check the account you are using

On Sun, Oct 11, 2020 at 4:07 AM Coded Ladies Innovate Tech <
notifications@github.com> wrote:

[2020-10-11 20:37] treasurechristain commented on #3662
Sorry @Angamanga I forgot to logout of the organization mail.
I'm Amadikwa Joy N, can I work on it

[2020-10-11 20:39] codedladiesinnovate commented on #3662
Sorry @Angamanga It was a mistake. I was meant to use Amadikwa Joy N.

[2020-10-11 20:41] treasurechristain commented on #4083
Thanks @UdokaVrede for notifying me

[2020-10-11 21:45] onyeepeace commented on #1994
@rowasc I am in need of some help. How do I access the css file for this issue. I could inspect it in my browser and I have seen what's wrong. I am now stuck at working on the css file. The css file that points to it is in the node modules. I know I shouldn't edit the node modules. Do I create a css file to target the issue? or what do I do? Please I need some help.

[2020-10-11 23:01] amycruz97 commented on #4079
Good day i have submitted a pull request. But the bot is saying i havent signed our Contributor License Agreement, yet.
please where can i find it

[2020-10-12 05:25] AishaSaman commented on #1889
Hello I am an Outreachy internship Applicant and I want to work on this issue.
Can someone explain me in which files I have to work for this issue. Thanks

And what I understand is that the email id have to be stored in the cookie so that the next time user wants to log in the browser remembers the email id. Am I right?

[2020-10-12 05:39] AishaSaman commented on #3319
Hello I am an outreachy internship applicant and want to work on this issue.
Does this issue is about design part only or also includes storing multiple images at the backend also?

[2020-10-12 06:43] renujain31 commented on #3994
Update 1: I have worked on disabling the add option when duplicates are present. So it looks like this now:
![image](https://user-images.githubusercontent.com/70752431/95713280-e0669380-0c83-11eb-860c-9501e71f8547.png)

Let me know if this is what we want or not. Thanks

[2020-10-12 06:55] Angamanga commented on #3638
@lalidiaz This might require changes in the css. Our css lives in the pattern-library, check out how to set it up here: https://docs.ushahidi.com/platform-developer-documentation/development-and-code/setup_alternatives/setting-up-the-pattern-library-for-development

[2020-10-12 07:24] Angamanga commented on #2484
@rowasc This one definitely needs design and some of testing before it can be worked on.

[2020-10-12 07:27] Angamanga commented on #3663
@amycruz97 @hyounes4560 Yep, please go ahead. This issue is open for multiple contributors. Please add your findings as comments to this issue :)

[2020-10-12 07:31] Angamanga commented on #1884
@vanessa-ariel This one needs designs before its ready to work on, please check here for other issues: https://github.com/ushahidi/platform/issues?q=is%3Aopen+is%3Aissue+label%3A%22Community+Task%22

[2020-10-12 07:33] Angamanga commented on #1885
@vanessa-ariel This one needs triage before its ready to work on, please check here for other issues: https://github.com/ushahidi/platform/issues?q=is%3Aopen+is%3Aissue+label%3A%22Community+Task%22

[2020-10-12 07:35] Angamanga commented on #3660
@Dev-Som Please go ahead :)  @Jenniline No problem!

[2020-10-12 07:36] Angamanga commented on #3643
@rowasc This is related to the js-migration/ui-refresh, guess we can close it?

[2020-10-12 07:38] Angamanga commented on #4028
@rowasc Yea, I have started making the changes but reprioritised it. It requires changes in both the PL and the client so I think we should not make it a community-task right now.

[2020-10-12 07:41] Angamanga commented on #2746
@rowasc @bimbolabuari Lets start with the data-view, that is a huge win and once we have decided how to handle the map we can add it to that view :).

[2020-10-12 07:45] Angamanga commented on #2321
Lets close it.

[2020-10-12 07:45] #2321 closed

[2020-10-12 07:46] Angamanga commented on #2073
@eriyanto87 You don't need to care about that link, its for internal use only :). Sorry for the confusion!

[2020-10-12 07:49] Angamanga commented on #3642
@hyounes4560 Please go ahead :). For this you will need to set up the pattern-library since it probably requires changes to the css. You can find the docs here: https://docs.ushahidi.com/platform-developer-documentation/development-and-code/setup_alternatives/setting-up-the-pattern-library-for-development.

[2020-10-12 08:25] Angamanga commented on #3612
@treasurechristain This issue is not available for the community right now. Please look here for issues:  https://github.com/ushahidi/platform/issues?q=is%3Aopen+is%3Aissue+label%3A%22Community+Task%22

[2020-10-12 08:31] Angamanga commented on #2384
@Shreets Please check here if you find something you are interested in working on: https://github.com/ushahidi/platform/issues?q=is%3Aopen+is%3Aissue+label%3A%22Community+Task%22

[2020-10-12 08:32] Angamanga commented on #3544
@hyounes4560 Sorry this is mislabeled, it is not open for the community yet.

[2020-10-12 08:32] #3544 closed

[2020-10-12 08:33] Angamanga commented on #3315
@emalindahk Please go ahead :)

[2020-10-12 08:35] Angamanga commented on #1796
@emalindahk I assigned you to this one: https://github.com/ushahidi/platform/issues/3315

[2020-10-12 08:36] Angamanga commented on #3662
@treasurechristain No problem! Please go ahead :)

[2020-10-12 09:09] IjayAbby commented on #3664
Hello  **@Angamanga** can I work on this too?

[2020-10-12 10:32] #3906 closed

[2020-10-12 11:14] vanessa-ariel commented on #2347
Hi @Angamanga, can I be assigned to this issue?

[2020-10-12 11:26] vanessa-ariel commented on #1029
Hi @Angamanga, can I work on this issue? (:

[2020-10-12 11:33] bimbolabuari commented on #2746
@rowasc @Angamanga Thanks for the clarification, I will start with the data-view however there is no seed data for the post view, and am having an issue creating a new post so as to get the idea of skipping to the main content for the view. Please is there a way I can create a new post from the backend?
I am having this error on creating a new post:
[code]
![data-view-post-err](https://user-images

[2020-10-12 11:36] OluyemisiA commented on #2238
Hello @Angamanga,
I'm from outreachy, can I be assigned to this?

[2020-10-12 12:30] Naimaoye commented on #3663
can I also work on this issue? @Angamanga

[2020-10-12 12:56] Sunairaa commented on #3897
Hey, @Angamanga  is this issue still available?

[2020-10-12 13:02] Sunairaa commented on #2314
Hi @Angamanga is this issue still available can I work on this? i am an outreachy candidate and would love to contribution on it
.

[2020-10-12 13:28] helen-ndip commented on #3221
@rowasc @Angamanga  is this issue still available to work on? I would like to take on it.

[2020-10-12 13:43] #4076 closed

[2020-10-12 15:29] Somaru-chan commented on #2394
@Angamanga I have made a PR for this issue. Waiting for your review whenever possible. Thanks!

[2020-10-12 17:03] ulomau commented on #3663
@angamanga please can i join and work on this issue?

[2020-10-12 17:04] ulomau commented on #3663
Hello @Angamanga, i am an Outreachy intern looking for issues to work on. Please can i also join and work on this issue

[2020-10-12 17:13] ulomau commented on #3665
@Angamanga hi, please i am an Outreachy intern looking for issues to work on. Please can i join and work on this issue? Thank you

[2020-10-12 18:14] Somaru-chan commented on #3664
@Angamanga @rowasc

### I didn't find any details about what type of documentation, so I hope a technical review of my setting-up experience isn't out of place.

# Vagrant Set Up Page

Page from which text is derived: https://docs.ushahidi.com/platform-developer-documentation/development-and-code/setup_alternatives/vagrant-setup

- Text currently reads:
Prerequisites
Please make sure you install e

[2020-10-12 18:19] Somaru-chan commented on #3664
Hi @IjayAbby. Romina stated before this is open for everyone. So definitely!

[2020-10-12 19:26] rowasc commented on #1029
@vanessa-ariel assigned to you! Thank you. I just edited the spec's expected behavior so it's more clear, LMK what you think/if you have questions.

[2020-10-12 19:29] Sunairaa commented on #4083
Hey @Angamanga is this issue still available? if yes can I would like to work on it?

[2020-10-12 19:30] rowasc commented on #2347
hey @vanessa-ariel I assigned #1029 instead. Thanks

[2020-10-12 19:45] Sunairaa commented on #3662
Hey @Angamanga can I work as an outreachy contribution? I followed the whole tutorial and found some improvements need to be done in the documentation but in the end, I did some fixes too again not able to run the code. so I have to choose a vagrant option which is working perfectly on my side. can I suggest some editings in it.?

[2020-10-12 22:29] dariatsvetkova commented on #3663
Hi @Angamanga, I would also like to work on this issue. And I have a suggestion right away:

Current documentation [Development environment setup with Vagrant](https://docs.ushahidi.com/platform-developer-documentation/development-and-code/setup_alternatives/vagrant-setup) mentions different versions of PHP depending on which version of the platform is used. However, later in the manual, there is

[2020-10-12 22:49] amycruz97 commented on #4079
Good day

[2020-10-13 06:14] emalindahk commented on #1796
@Angamanga I cannot reproduce this issue, I'm using Chrome everything seems to be okay.

[2020-10-13 08:48] #4064 closed

[2020-10-13 09:33] Angamanga commented on #1796
@emalindahk You need to have the Grammarly-extension for Chrome installed to see it: https://www.grammarly.com

[2020-10-13 09:48] tuxpiper commented on #4069
Found a significant hitch while working on this one. It turns out that we are not doing translations well :(

Unfortunately, as far as I have been able to tell, with .php resource files, transifex can't parse structures like this:

[code]

They need to be flattened:
[code]

cc: @rowasc : do you know if we can use JSON translation files with Lumen? Nothing I found gave me a positive feeling it was

[2020-10-13 09:49] emalindahk commented on #1796
![ezgif com-optimize](https://user-images.githubusercontent.com/12936055/95845148-7cf76700-0d52-11eb-871b-a7ddc444f17b.gif)

[2020-10-13 09:50] emalindahk commented on #1796
@Angamanga I have the extension, this is what is happening on my chrome

[2020-10-13 12:25] #4075 closed

[2020-10-13 13:03] rowasc commented on #2314
@emalindahk please go ahead!

[2020-10-13 13:25] Angamanga opened #4100 "Change the alt-text on the user-avatar"
## Description
When logged in, there is an image in the modebar showing the user-avatar:
<img width="50" alt="Screenshot 2020-10-13 at 15 19 33" src="https://user-images.githubusercontent.com/8624777/95865993-a078dc80-0d67-11eb-8d30-825c5ce5e901.png">

## Todo:
- The alt-text for this icon is the user-name, change this to say "Account-settings".
- Below the image there is a span, which shows the t

[2020-10-13 13:26] treasurechristain commented on #3662
![doc_break_link](https://user-images.githubusercontent.com/20610726/95866403-c7331500-0d5f-11eb-932d-b896df4bb422.PNG)
I think the above link is not correct because its taking me to empty page.
@Angamanga could the link below be the actual link?
https://docs.ushahidi.com/platform-developer-documentation/development-and-code/setup_alternatives/xampp

if yes, let me continue with the work

[2020-10-13 13:30] Angamanga opened #4101 "Go through all image-tags and add alt-texts"
To improve accessibility, all images need an alt-text:

The codebase for platform is huge and therefore, we have divided the elements to separate issues so the task does not become too overwhelming. To work on this, grab one of the issues in the list below:

**Modebar:**
https://github.com/ushahidi/platform/issues/4100

**Deployment logo:**
https://github.com/ushahidi/platform/issues/4102

Aha! Li

[2020-10-13 13:33] Angamanga commented on #4100
@sunairaa Assigning this issue to you!

[2020-10-13 13:39] Angamanga opened #4102 "Add alt-text on the deployment-logo"
## Description:
The deployment-image is set when navigating to Settings-> General. Once uploaded, the image is visible in the map-view, the activity-view and the settings-view. This image has no alt-text so we need to add that.

## Todo:
Search for the deployment-logo <img> tag in the code. Hint! The class used is "deployment-logo" so you can easily find it! Add an alt-text saying "Deployment-logo

[2020-10-13 13:47] Angamanga opened #4103 "Add alt-text to avatar-images"
## Description
On the post-cards, there is a small image with the user-avatar. There is no alt-text for these images so we need to add that to improve accessibility.

## TODO:
Find all img-elements that are displaying avatars. HINT! We use gravatar to display the images so searching for that will get you in the right direction. Add an alt-tag to each of these with the text "user avatar". Note. Do

[2020-10-13 14:12] joneskj55 commented on #4103
Hi @Angamanga I'd like to take this one.

[2020-10-13 14:55] Shazeen15 commented on #4103
@Angamanga
I would like to work on this issue.

Shazeen Fabius
Outreachy Candidate

[2020-10-13 15:01] Ifycode commented on #4095
@Angamanga @rowasc I've submitted 2 pull requests for this task. Please help review.

[2020-10-13 15:09] Somaru-chan commented on #4102
Hi @Angamanga . Can I work on this?

[2020-10-13 15:33] Sunairaa commented on #4100
Hey, Thanks @Angamanga for assigning this issue to me..

[2020-10-13 16:05] #3547 closed

[2020-10-13 16:07] #3051 closed

[2020-10-13 16:08] #2753 closed

[2020-10-13 16:08] #3091 closed

[2020-10-13 16:08] #3144 closed

[2020-10-13 16:14] #2641 closed

[2020-10-13 16:14] #2645 closed

[2020-10-13 16:14] #2646 closed

[2020-10-13 16:14] #2647 closed

[2020-10-13 16:14] #2650 closed

[2020-10-13 16:14] #2651 closed

[2020-10-13 16:14] #2652 closed

[2020-10-13 16:14] #2654 closed

[2020-10-13 16:14] #2658 closed

[2020-10-13 16:14] #2659 closed

[2020-10-13 16:14] #2660 closed

[2020-10-13 16:14] #2661 closed

[2020-10-13 16:14] #2664 closed

[2020-10-13 16:14] #2666 closed

[2020-10-13 16:14] #2667 closed

[2020-10-13 16:14] #2668 closed

[2020-10-13 16:14] #2670 closed

[2020-10-13 16:14] #2698 closed

[2020-10-13 16:14] #2699 closed

[2020-10-13 16:14] #2701 closed

[2020-10-13 16:14] #2766 closed

[2020-10-13 16:14] #2779 closed

[2020-10-13 16:17] #2027 closed

[2020-10-13 16:20] rowasc commented on #1838
Closing as this is related to the v5-translations work we are doing (so ends up duplicate) but tagged to be able to find the early references

[2020-10-13 16:20] #1838 closed

[2020-10-13 16:22] #1933 closed

[2020-10-13 16:33] rowasc commented on #1543
If anyone doing outreachy is able to test on edge and validate this issue (and wants to work on it) please ping me! It's an old issue so I'm not sure if its still happening (if you reproduce it but can't fix it, lmk as well)

[2020-10-13 16:34] #1723 closed

[2020-10-13 16:34] #1894 closed

[2020-10-13 16:42] rowasc commented on #2271
related ticket https://github.com/ushahidi/platform/issues/2272 can be done after fixing this one (so if you request this issue, you can also claim the related one)

[2020-10-13 16:44] #2357 closed

[2020-10-13 16:45] #1969 closed

[2020-10-13 16:46] rowasc commented on #2279
<img width="939" alt="Screen Shot 2019-06-09 at 14 53 29" src="https://user-images.githubusercontent.com/2434401/59162385-60944c00-8ac6-11e9-82cf-9c72985e5510.png">
Closing as we have bulk actions in data view now and infinite scrolling instead of a  number of posts to view
Can reopen if needed

[2020-10-13 16:46] #2279 closed

[2020-10-13 17:35] Sunairaa commented on #4100
Hey, @rowasc  @Angamanga do I need to login on this link https://ushahiditeam.aha.io/features/PROD-852 if yes? then what are credentials?

[2020-10-13 19:20] renujain31 commented on #1436
Hey @rowasc , is this issue still open? I would like to work on this one. But I couldn't see where is this happening. Can someone give me the detailed steps to reproduce. Thanks.

[2020-10-13 19:39] renujain31 commented on #3221
Hey can I work on this? @rowasc @Angamanga

[2020-10-13 19:53] rowasc commented on #3897
Yep @Angamanga Walter is right. Clsoing

[2020-10-13 19:53] #3897 closed

[2020-10-13 19:57] rowasc commented on #4079
Awesome @amycruz97 I just commented.

[2020-10-13 19:57] rowasc commented on #4095
Great. We're aware, thanks. We're working through PRs .
Thanks

[2020-10-13 19:58] rowasc commented on #4100
Hey @Sunairaa no need.
Thanks

[2020-10-13 19:59] rowasc commented on #3221
@helen-ndip you can, altough it's likely this involves backend development (and debugging) as well, is that okay?
If yes, go ahead and I'll assign it.

[2020-10-13 19:59] Isaac-Tait commented on #4101
I would like to start working on this 🤓

[2020-10-13 20:00] rowasc commented on #4034
@treasurechristain please go ahead!
Assigned.

[2020-10-13 20:12] rowasc commented on #1436
@renujain31 this is still a little far from full spec, would you be interested in https://github.com/ushahidi/platform/issues/3611 instead? It's a full stack issue, but if that's not a problem it'd be a great fix to have.
This other issue is also quite large but may be interesting to you: https://github.com/ushahidi/platform/issues/600#issuecomment-484030829 (look out this comment in particular as

[2020-10-13 20:41] hyounes4560 commented on #4101
Hi @Angamanga @rowasc Can I work on this one? Thanks

[2020-10-13 21:03] ulomau commented on #3665
Hello @Angamanga and @rowasc  my name is Uloma,  an Outreachy intern. I worked on this "Ushahidi platform user-manual documentation" to make it more accessible to users so that the guide can help every user achieve its  objective which is a guide to user manual installation.
I took my time to go through the installation guide and picked out all the grammar mistakes and effected  corrections to the

[2020-10-13 21:18] Sunairaa commented on #4102
Hi @Angamanga can i work on this task? i am an outreachy candidate.

[2020-10-13 21:26] hyounes4560 commented on #4100
@Sunairaa did you fork, create a branch and then created PR for your code?

[2020-10-13 21:29] hyounes4560 commented on #4102
Hi @Angamanga can I work on this task?

[2020-10-13 21:35] Sunairaa commented on #4100
yes I forked code yesterday.. then today I use these command before starting work
[code]
then made some changes - (issue assigned)
[code]
after that, i got above fatal!

[2020-10-13 21:55] bimbolabuari commented on #2746
@rowasc I am using vagrant set up for backend.

[2020-10-13 22:02] ulomau commented on #4102
Pls can i claim this issue

[2020-10-13 22:57] Ifycode opened #4105 "Documentation: The different methods/options of installing the changed styles into platform-client locally for testing are not written in one place"
**Expected arrangement:**

Discovered this issue with the documentation while working on Issue ushahidi/platform#4095 which required me to make changes to (both platform-client and) platform-pattern-library. As the mentioned issue was my first contribution to ushahidi's large code base, I expected that the documentation guide would group related/similar installation options together. In this case,

[2020-10-13 23:14] Ifycode commented on #4095
Ok @rowasc. Thanks for the response. I found this other issue while working on this project.

[2020-10-13 23:24] Ifycode commented on #4105
@rowasc @Angamanga I found another issue.

[2020-10-13 23:28] Sunairaa commented on #4100
I made PR https://github.com/ushahidi/platform-client/pull/1566 . @rowasc @Angamanga kindly check my work 👍

[2020-10-13 23:45] Sunairaa commented on #4100
while doing this task i found some UI issues:

1. logo text is breaking (not shown completely) on my screen.
![image](https://user-images.githubusercontent.com/66335481/95927324-4120c980-0d73-11eb-8160-848bd396e576.png)

2. language dropdown options text was not visible when I select particular language like currently there is only English option so when I hover on so I can see text otherwise text

[2020-10-13 23:49] Sunairaa commented on #4103
Hey! @Angamanga can i work on this issue?

[2020-10-13 23:51] Sunairaa commented on #4101
Hey @Angamanga i have done with #4100.. now can I work on issue #4102 Deplyment logo.

[2020-10-14 01:10] treasurechristain commented on #3662
Under Setting up the Platform API with XAMPP
Go to http://localhost and verify that you see the XAMPP welcome page.
should be Open your **browser** and type **http://localhost**

**Apache and MySql not starting do**

- click on **Apache Config button**

![apache_config](https://user-images.githubusercontent.com/20610726/95927177-faa08e80-0db5-11eb-8fd0-423dc2d42e0c.PNG)

- from the dropdown menu,

[2020-10-14 01:20] treasurechristain commented on #3662
@Angamanga This is what I came up with after going through https://github.com/ushahidi/platform/issues/3662
Hope it's helpful enough.

[2020-10-14 01:30] RaissaMariaB commented on #4102
Hello, can i work on this task? i am an outreachy applicant

[2020-10-14 01:34] treasurechristain commented on #4034
ok @rowasc , Thank you very much. I'm currently on it.

[2020-10-14 01:45] treasurechristain commented on #4034
@rowasc I'm Unable to locate any twitter tweets on this link https://test-deployment.steve-buscemi.ush.zone/views/data

![twitter1](https://user-images.githubusercontent.com/20610726/95933762-3c860080-0dc7-11eb-8ad6-0ca1cab23fae.PNG)

![twitter2](https://user-images.githubusercontent.com/20610726/95933773-43147800-0dc7-11eb-9b42-6e2e65661947.PNG)

Please confirm from your end if it's an issue from

[2020-10-14 01:52] treasurechristain commented on #4103
@Angamanga I'm Amadikwa Joy N. An outreachy Applicant. Can I work on this issue please.

[2020-10-14 01:56] treasurechristain commented on #4102
@Angamanga I'm Amadikwa Joy N. An outreachy Applicant. Can I work on this issue please.

[2020-10-14 01:56] treasurechristain commented on #4101
@Angamanga I'm Amadikwa Joy N. An outreachy Applicant. Can I work on this issue please.

[2020-10-14 02:06] treasurechristain commented on #3898
@Angamanga @rowasc  I'm Amadikwa Joy N. An outreachy Applicant. Can I work on this issue please.

[2020-10-14 02:11] treasurechristain commented on #3663
@Angamanga I'm Amadikwa Joy N. An outreachy Applicant. Can I work on this issue please.

[2020-10-14 02:12] treasurechristain commented on #3665
@Angamanga I'm Amadikwa Joy N. An outreachy Applicant. Can I work on this issue please.

[2020-10-14 03:14] helen-ndip opened #4106 "Language drop down contains white text on white background, not visible."
**How to reproduce issue**
When user opens the platform-client on the browser then select language from the sidebar.

**What I expect**
I expected to see all possible languages when I click on the drop down.

**What actually happened**
The language text is white over a white background making it invisible except when user hovers over it before it becomes visible with a blue text color.

**Image**

[2020-10-14 03:16] helen-ndip commented on #4106
@rowasc @Angamanga  Can I please work on this. I would like to change the text to the default select color of the application.

[2020-10-14 03:28] helen-ndip opened #4107 "`undefined` variable shows on page after logout"
**How to reproduce issue**
- platform-client on the browser
- Log in and select 'Activity' or 'Settings' from the side menu.
- Log out.
- Refresh the page

**What I expect**
I expect to see the exact view I had before logging in.

**What actually happened**
I am successfully logged out but I see and undefined variable on the screen.

**Image**
![undefine](https://user-images.githubusercontent.com/

[2020-10-14 03:31] helen-ndip commented on #4107
@rowasc @Angamanga  can I send a pull request for this. I added checks to make sure the value is set before displaying.

[2020-10-14 03:42] helen-ndip commented on #3221
Thanks I will.

[2020-10-14 04:15] Aqsa48 commented on #4100
@Sunairaa Hey,

Create issues for that , Once issues are created that can be resolved later.

[2020-10-14 05:45] onyeepeace commented on #1994
@Angamanga @rowasc I have made a pull request on the platform-pattern-library https://github.com/ushahidi/platform-pattern-library/pull/244 to fix this issue. Please kindly review. Thanks.

[2020-10-14 05:51] renujain31 commented on #3611
Hey @rowasc, I would like to take up this issue! Can you assign this to me!

[2020-10-14 05:51] renujain31 commented on #600
Hey @rowasc, I would like to take up this issue! Can you assign this to me!

[2020-10-14 07:16] renujain31 opened #4108 "Go through the codebase and improve accessibility using W3-ARIA"
Complex web applications become inaccessible when assistive technologies cannot determine the semantics behind portions of a document or when the user is unable to effectively navigate to all parts of it in a usable way. We can increase the accessibility of the codebase a lot by adding some attributes in the HTML code.

As the codebase can be huge, we can divide the issue into multiple small issue

[2020-10-14 07:24] stacytonui commented on #4108
Hello, I'm looking for issues to work on, maybe I can work on the alerts?

[2020-10-14 07:26] renujain31 opened #4109 "Add alert role where there's an alert to improve accessibility."
# Description:
Alerts are used to convey messages to alert the user. In the case of audio warnings this is an accessible alternative for a hearing-impaired user. We can add alerts by using `role=alert` in the HTML element and thus can increase the accessibility of platform.

# Todo:
Search for `class="alert"` or `class="alert error"` in the codebase of platform-client and add `role=alert` in the h

[2020-10-14 07:27] renujain31 commented on #4108
Hey Ya sure! I just created an issue for the same #4109 . You can comment there if you want to get it assigned.

[2020-10-14 07:32] stacytonui commented on #4109
Hello, please assign this to me, thanks!

[2020-10-14 08:14] Angamanga commented on #4044
@Ifycode The default values are values you can add yourself when setting up the survey, if you go to Settings->surveys->create a new survey and add a "Field". In the box that appears, some of the field-types have "Default values".

<img width="498" alt="Screenshot 2020-10-14 at 10 10 54" src="https://user-images.githubusercontent.com/8624777/95961639-97d6e380-0e05-11eb-9799-9e3ef109317c.png">

The

[2020-10-14 08:17] Angamanga commented on #2297
Hm, yes, it is related to this one: https://github.com/ushahidi/platform/issues/4031

[2020-10-14 08:23] Angamanga commented on #1889
@AishaSaman Yes please go ahead! The files for the login-box is found in this folder: https://github.com/ushahidi/platform-client/tree/develop/app/common/auth

You can see an example on how we are using local storage here:
Setting local storage: https://github.com/ushahidi/platform-client/blob/develop/app/common/services/translation.service.js#L102

Getting local storage: https://github.com/ushahi

[2020-10-14 08:24] Anisha-28 commented on #4102
@Angamanga Hi I'm Anisha i can work on this issue

[2020-10-14 08:31] rtwitty72 commented on #4109
Hi @renujain31, I would like to resolve this issue, please?

[2020-10-14 08:39] renujain31 commented on #4109
Hey. @Angamanga Can you please assign this issue to @stacytonui I am unable to assign as I don't have permission for it. Thanks!

@rtwitty72 I would create another issue for you.

[2020-10-14 08:49] Angamanga commented on #3319
@AishaSaman I assigned you to this issue: https://github.com/ushahidi/platform/issues/1889

[2020-10-14 08:52] Angamanga commented on #4086
@treasurechristain @LizzyKate There is already a pull request open for this issue, please check here for other issues: https://github.com/ushahidi/platform/issues?q=is%3Aopen+is%3Aissue+label%3A%22Community+Task%22

[2020-10-14 08:53] Angamanga commented on #2238
@OluyemisiA Absolutely! Please go ahead!

[2020-10-14 08:54] onyeepeace commented on #4108
@renujain31 I will like to work an an issue as well.

[2020-10-14 08:55] renujain31 opened #4110 "Add button role to improve accessibility in common/auth"
# Description:
Standardizing the appearance of buttons enhances the user's recognition of the widgets as buttons. We can add buttons by using `role=button` in the HTML element and thus can increase the accessibility of platform.

# Todo:
Go through the files in this folder: [platform-client/app/common/auth](https://github.com/ushahidi/platform-client/tree/develop/app/common/auth)

Search for any b

[2020-10-14 08:56] Angamanga commented on #2394
@Somaru-chan Thank you! I will review shortly!

[2020-10-14 08:57] Somaru-chan commented on #4110
Hi can I work on this?

[2020-10-14 08:58] renujain31 commented on #4110
Hey! Ya sure @Somaru-chan Thanks for contributing!

[2020-10-14 08:58] renujain31 opened #4111 "Add button role to improve accessibility in common/directives"
# Description:
Standardizing the appearance of buttons enhances the user's recognition of the widgets as buttons. We can add buttons by using `role=button` in the HTML element and thus can increase the accessibility of platform.

# Todo:
Go through the files in this folder: [platform-client/app/common/directives](https://github.com/ushahidi/platform-client/tree/develop/app/common/directives)

Sear

[2020-10-14 08:59] renujain31 opened #4112 "Add button role to improve accessibility in common/notifications and user-profile"
# Description:
Standardizing the appearance of buttons enhances the user's recognition of the widgets as buttons. We can add buttons by using `role=button` in the HTML element and thus can increase the accessibility of platform.

# Todo:
Go through the files in these folder:
1. [platform-client/app/common/notifications](https://github.com/ushahidi/platform-client/tree/develop/app/common/notificati

[2020-10-14 09:00] onyeepeace commented on #4111
@renujain31 I'll like to work on this

[2020-10-14 09:00] onyeepeace commented on #4112
@renujain31 I'll like to work on this

[2020-10-14 09:05] Angamanga commented on #1796
@emalindahk Hm interesting! Thank you for looking into it. It seems like Grammarly has fixed this issue for us :) Closing this.

[2020-10-14 09:05] #1796 closed

[2020-10-14 09:05] renujain31 opened #4113 "Add button role to improve accessibility in app/main"
# Description:
Standardizing the appearance of buttons enhances the user's recognition of the widgets as buttons. We can add buttons by using `role=button` in the HTML element and thus can increase the accessibility of platform.

# Todo:
Go through the files in these folder:  [platform-client/app/main](https://github.com/ushahidi/platform-client/tree/develop/app/main)

Search for any buttons in th

[2020-10-14 09:07] renujain31 opened #4114 "Add button role to improve accessibility in app/settings"
# Description:
Standardizing the appearance of buttons enhances the user's recognition of the widgets as buttons. We can add buttons by using `role=button` in the HTML element and thus can increase the accessibility of platform.

# Todo:
Go through the files in these folder:  [platform-client/app/settings](https://github.com/ushahidi/platform-client/tree/develop/app/settings)

Search for any butto

[2020-10-14 09:09] Obadha2 commented on #4034
Hi @treasurechristain

You are unable to see any posts because posts are not published. Posts need to have a status of published for them to be visible to non-logged in users.

I have changed the status of a few posts to published, you should be able to see them now without having to log in.

[2020-10-14 09:10] pg00019 commented on #4103
Hii @Angamanga . I would like to work on this issue.

[2020-10-14 09:13] Angamanga commented on #4105
@Ifycode Thank you for checking our docs and suggestions! I will review and change shortly!

[2020-10-14 09:13] babra99 commented on #4103
Hii @Angamanga i am Babra. I am outreachy  appilicant. Can i owrk on this issue?

[2020-10-14 09:18] A-DML commented on #3957
Hey @Angamanga, I need assistance with figuring some things out for this task, I tried using JS to solve this, it's not looking like it. Is there certain instruction I need to follow

[2020-10-14 09:20] muchirijane commented on #4113
Hey @Angamanga, Can I work on this issue.

[2020-10-14 10:00] Ifycode commented on #4044
OK. Thanks. Will go through and update you soon @Angamanga

[2020-10-14 10:02] Ifycode commented on #4114
@Angamanga can I do this too?

[2020-10-14 10:11] Ifycode commented on #4108
Me too 🙌

[2020-10-14 10:49] Dev-Som commented on #4107
@Angamanga Can I work on the issue here?

[2020-10-14 10:51] Dev-Som commented on #4106
@Angamanga I please work on this?

[2020-10-14 10:52] siggrid opened #4115 "Checkboxes in filter area are not visible when tabbing through the Map page"
**Describe the bug**
Users can’t see and so check/uncheck checkboxes in the filter area, when using a keyboard to navigate the page. Checkboxes are skipped, even though they receive focus.

**Where was the bug observed**
localhost:3000/views/map

**To Reproduce**
1. Go to Map page
2. Use Tab key to navigate through page
3. See error

**Expected behavior**
When using keyboard user can see and inter

[2020-10-14 11:06] Angamanga commented on #3662
@treasurechristain Thank you for your contribution 🙏

[2020-10-14 11:09] Angamanga commented on #3898
@treasurechristain This is not open for the community yet. Please check here for other issues: https://github.com/ushahidi/platform/issues?q=is%3Aopen+is%3Aissue+label%3A%22Community+Task%22. @rowasc This will be fixed in v5 so I suggest we can close it?

[2020-10-14 11:10] Angamanga commented on #3663
@treasurechristain Yes :) Please go ahead!

[2020-10-14 11:11] Angamanga commented on #3665
@treasurechristain Yes, please go ahead :)

[2020-10-14 11:12] Dev-Som commented on #4109
@renujain31 Can I please get an issue to work on?

[2020-10-14 11:14] Angamanga commented on #4100
@Sunairaa It would be super helpful if you could submit new issues for above findings! Thank you 🙏

[2020-10-14 11:15] Angamanga commented on #1994
@onyeepeace Thank you! I will review shortly!

[2020-10-14 11:31] codedladiesinnovate commented on #3898
OK, thank you @Angamanga

[2020-10-14 11:40] Ifycode opened #4116 "Another issue for tab key users on the map page while navigating through the mode-context"
**Expected behaviour:**
When using tab key to navigate to the elements in this particular component (tagged mode-context in the code base), users expect that there is visible outline around the elements to know where they are currently on.

**Actual behaviour:**
Nothing shows that the user is currently on a particular element when they navigate this portion using the tab key which may cause confus

[2020-10-14 11:41] Ifycode commented on #4116
Hi, @Angamanga @rowasc found this issue and it's solution.

[2020-10-14 11:50] Angamanga commented on #4113
@renujain31 Do we need to add role="button" for the button-elements? I think that is only used for elements that behaves like buttons but are not button-elements. We DO have some of these in the platform, so searching for class="button would probably return those places.

[2020-10-14 11:52] Angamanga commented on #4107
@helen-ndip Please go ahead! @Dev-Som Please look here for other issues: https://github.com/ushahidi/platform/issues?q=is%3Aopen+is%3Aissue+label%3A%22Community+Task%22

[2020-10-14 11:56] renujain31 commented on #4113
Oh yes! I agree. I completely forgot about that. I am sorry!

[2020-10-14 12:01] Angamanga commented on #4116
@Ifycode Well done! Please go ahead and work on the issue!

[2020-10-14 12:06] Firenz commented on #3799
I think I can fix the issue, please @rowasc assign it to me 😊

[2020-10-14 12:07] Ifycode commented on #4116
Thank You! @Angamanga

[2020-10-14 12:08] Angamanga commented on #4113
@renujain31 Thank you for updating the description <3 Are you working on this or can I assign @muchirijane?

[2020-10-14 12:11] siggrid commented on #4116
@Angamanga @Ifycode Hi! I’ve created an issue about the same problem with possible solution.

[2020-10-14 12:12] renujain31 commented on #4113
Hey you can assign this to @muchirijane

[2020-10-14 12:14] Angamanga commented on #4109
@stacytonui I have assigned you to this issue. @rtwitty72 @Dev-Som We are working on adding more issues continuously, check the community-task label as new issues will appear there!

[2020-10-14 12:19] Angamanga commented on #4116
@siggrid Ah, that is true! @Ifycode You may want to hold back before doing work on this.

[2020-10-14 12:23] Ifycode commented on #4116
Oh! ok @Angamanga although I already updated the issue with my additional findings

[2020-10-14 12:24] Angamanga commented on #4113
@muchirijane Assigning you to this issue!

[2020-10-14 12:26] muchirijane commented on #4113
@Angamanga Thank you, let me work on it. 💯

[2020-10-14 12:31] Angamanga commented on #4116
@Ifycode For Outreachy though, I think it is ok to have submitted prs but not got them merged to get them counted. I don't recommend that in normal cases since it would mean a lot of "unused" work, but if you already started working on it, go ahead and submit a pr!

[2020-10-14 12:36] Ifycode commented on #4116
Ok. Thank you @Angamanga Ok, for the purpose of outreachy, I will submit my PR. But I will like to know more about the normal cases as you have mentioned.

[2020-10-14 12:44] Ifycode commented on #4105
OK. Thank you @Angamanga

[2020-10-14 12:51] Angamanga commented on #4116
@Ifycode With normal cases I meant I try not to assign more than one person to the same issue. Don't worry, you are already doing it right by submitting issues and prs :)

[2020-10-14 13:11] Ifycode commented on #4116
Oh. OK. I understand what you mean now @Angamanga

[2020-10-14 13:28] ulomau commented on #4103
@Angamanga  please can i claim this issue

[2020-10-14 13:58] onyeepeace opened #4117 "Add alt-text to empty image alt attributes"
## Description
To improve accessibility, all images need an alt-text.
I have noticed some icons and logos don't have an alt-text

## TODO:
Find all img-elements with empty alt-text and add an alt-text. Make sure that you do not make any changes to the UI of platform.

[2020-10-14 14:46] helen-ndip commented on #4107
ok

[2020-10-14 14:59] bimbolabuari commented on #4102
@rowasc @Angamanga,
Hi, I'm Abimbola an outreachy applicant and I would love to work on this issue

[2020-10-14 15:04] bimbolabuari commented on #4103
@rowasc @Angamanga,
Hi, I'm Abimbola an outreachy applicant and I would love to work on this issue

[2020-10-14 15:40] OluyemisiA commented on #2238
Thank you @Angamanga.
I will get right on it

[2020-10-14 15:43] Anisha-28 commented on #4103
@Angamanga i'm an outreachy applicant .. i can work on this issue

[2020-10-14 16:04] Sunairaa commented on #4100
@Angamanga yeah sure I will create a issue!

[2020-10-14 16:14] onyeepeace commented on #1994
@Angamanga Okay, great. Thanks.

[2020-10-14 17:49] LavellTheDev commented on #4102
Is this issue still open to 1st timers? If so, I would like to work on this.

[2020-10-14 18:33] Somaru-chan commented on #4110
Hey @renujain31 . Thanks for assigning this issue to me. Are you sure there are non-button elements in the /auth directory though? I've looked through the files and the only matches I've found to "class="button were button elements. :)

Such as in demo-deployment.html:
`<button class="button" ui-sref="settings.plan" translate="message.button.upgrade">`

[2020-10-14 20:27] Sunairaa opened #4118 "Make Logo text responsive for larger screen"
### Desciption
Header -> logo text is not showing properly when we have a screen size of more than 1024.

**Problem**
![image](https://user-images.githubusercontent.com/66335481/96039252-3ae72780-0e1d-11eb-88d0-9b65befd5e74.png)
**Expected Output**
![image](https://user-images.githubusercontent.com/66335481/96041450-b5657680-0e20-11eb-96ab-bbf8c79ae785.png)

### TODO
Resize logo text so it should

[2020-10-14 20:40] Sunairaa commented on #4118
Hello, @Angamanga @rowasc I have found this issue and it's solution can I work on it?

[2020-10-14 20:50] Ifycode commented on #4115
@siggrid Have you started work on this? Please let me know. Thanks.

[2020-10-14 21:00] Ifycode opened #4119 "Weak color contrast and issues for tab key users in the map and search area of the map page."
**Description:**

- Same Issues for tab key users found in Issues #4095 #4115 and #4116 affect the map and search area of the map page. Links/buttons are skipped.

![map-area](https://user-images.githubusercontent.com/45185388/96044411-3d4d7f80-0e25-11eb-9ecb-236eb3f0bfc2.PNG)

**Additional findings:**

- **Weak color contrast:** Apart from skipped elements and previously shown outline problems in

[2020-10-14 21:04] Ifycode commented on #4119
@Angamanga The thing is I only edited the code for issue #4115 #4116 in the dev tool and not in the actual code base. I found the some of the Issues also happens on the map and search area of the page.

[2020-10-14 21:29] Mod5ied commented on #4103
@Angamanga I would really love to solve this issue and improve accessibility onsite.
I'm an Outreachy candidate.

[2020-10-14 21:36] Sunairaa opened #4120 "Enhance dropdown options"
### Description
Language dropdown is not showing properly, options are not visible when unselected.

**Problem**
![image](https://user-images.githubusercontent.com/66335481/96047493-104f9b80-0e2a-11eb-9043-91c4fed21261.png)

**Expected Output**
![image](https://user-images.githubusercontent.com/66335481/96047448-f7df8100-0e29-11eb-8917-01d1ceb7d19d.png)

### TODO
This issue could be solved by addi

[2020-10-14 21:38] Sunairaa commented on #4120
Hello, Dear @Angamanga @rowasc, i found this issue and its solution. can I work on this issue?

[2020-10-14 21:39] Sunairaa commented on #4117
@Angamanga can i work on this issue?

[2020-10-14 21:46] Ifycode commented on #4116
@Angamanga

_Originally posted by @Ifycode in https://github.com/ushahidi/platform/issues/4119#issuecomment-708659017_

[2020-10-14 21:48] Ifycode commented on #4120
Same as #4106

[2020-10-14 22:10] Sunairaa commented on #4120
Hey @Ifycode i just noticed now! even I just saw something already created PR too on platform-pattern-library repo.. so I think I should close this issue!

[2020-10-14 22:16] treasurechristain commented on #3665
After Going through the Manual, I must say its really awesome and straight forward.
But I think these area needs some modifications

You mentioned three plans
![threeplans1](https://user-images.githubusercontent.com/20610726/96050067-eff6ff80-0e70-11eb-9338-cae8b542c25d.PNG)

But I saw only two plans after clicking on the link attached to it
![threeplans2](https://user-images.githubusercontent.com

[2020-10-14 22:19] treasurechristain commented on #3665
@Angamanga Those are my findings, hope it will be helpful.

[2020-10-14 22:35] siggrid commented on #4115
Hi, @Ifycode Yes, I have. Draft result is on second gif, need to check other styles to be sure, that everything works fine.

[2020-10-14 22:37] treasurechristain commented on #3663
@Angamanga this link https://docs.ushahidi.com/platform-developer-documentation/getting-started/setup_alternatives/installing-for-production-environments is taking me to this environment.
![misleadinglink](https://user-images.githubusercontent.com/20610726/96052797-284d0c80-0e76-11eb-9b37-4ae235e9a47a.PNG)

I guess this is the right link to the issue
https://docs.ushahidi.com/platform-developer-do

[2020-10-14 23:31] siggrid commented on #4113
@Angamanga @renujain31

Not sure, if it has to be a new issue. Besides `role=button`, `tabindex=0` must be applied to elements that behave like a button, but are not actually a `<button>` element (e.g. `<span class=”button” ng-click=””>`), except for links with href attribute (`<a href=””>`)
Using `tabindex=0` we will insert those elements into tab order. Therefore elements will receive focus when

[2020-10-14 23:59] Ifycode commented on #4115
Oh, ok. You are doing a great job already then. @Angamanga @rowasc With your approval, can I work on #4119 instead?

[2020-10-15 01:10] bimbolabuari commented on #4103
@Angamanga @rowasc,
I would love to work on this issue

[2020-10-15 11:12] bimbolabuari commented on #3892
@ rowasc and @Angamanga can i work on this please?

[2020-10-15 11:54] Angamanga commented on #4119
@Ifycode Yes, I'll assign you to this issue. We need to make this change in the pattern library and also make sure we identify all places in the platform where it would be needed. Which colors do you suggest to use? Would they work generally over the platform?

[2020-10-15 11:56] Angamanga commented on #4118
@Sunairaa Yes, please go ahead. You may need to make changes in the Pattern Library for this one.

[2020-10-15 12:00] Angamanga commented on #2238
@OluyemisiA This needs changes in the Platform-client. Have you managed to set it up? Otherwise, start here: https://docs.ushahidi.com/platform-developer-documentation/development-and-code/setup_alternatives#platform-api-backend-install-guides and here: https://docs.ushahidi.com/platform-developer-documentation/development-and-code/setup_alternatives/setting-up-the-platform-client

[2020-10-15 12:16] bimbolabuari commented on #2746
pinging @Angamanga @rowasc

[2020-10-15 12:19] Sunairaa commented on #4118
Okayy thank you @Angamanga

[2020-10-15 12:21] bimbolabuari commented on #4101
Hi @Angamanga @rowasc Can I work on this one? Thanks

[2020-10-15 12:35] bimbolabuari commented on #4081
@Angamanga  @rowasc please can I contribute to this?

[2020-10-15 13:08] Dev-Som commented on #3660
Hi @Angamanga After installing and deploying the platform pattern library and platform client and deployed them, I had no issues deploying them and no issues installing them, if there is any other way I can help on any other issue, I am available.

[2020-10-15 15:54] #4110 closed

[2020-10-15 16:26] renujain31 commented on #4113
Hey, ya @siggrid that's a good suggestion. I would add that in the description. Thanks!

[2020-10-15 17:26] Firenz commented on #2271
Hello @rowasc @Angamanga, can you assign me this issue? I think I can fix it.

[2020-10-15 17:37] Firenz commented on #1543
Hi @rowasc, I have access to a Windows 10 with Microsoft Edge browser.

I'll need to install some things (is not my usual SO for working) before starting to work on this but I think I can handle it!

[2020-10-15 17:59] LilyLME commented on #4060
@Angamanga @rowasc please can I work on this?

[2020-10-15 18:08] codifyit commented on #4103
Hi Can I work on this issue? I am an outreachy applicant

[2020-10-15 18:34] Barkty commented on #4103
@Angamanga I would really love to work on this issue. I'm an Outreachy applicant.

[2020-10-15 18:34] Barkty commented on #4103
@Angamanga I would really love to work on this issue. I'm an Outreachy applicant.

[2020-10-15 21:55] #4120 closed

[2020-10-15 22:23] Kennygrace commented on #4103
@Angamanga I'm Kennygrace, an outreachy applicant, I would like to work on this issue

[2020-10-15 22:32] Sunairaa commented on #4118
Hey @Angamanga I have done with this task https://github.com/ushahidi/platform-pattern-library/pull/247

[2020-10-15 22:39] Sunairaa commented on #4114
Hey @Angamanga is this issue still available? i would love to work on it.

[2020-10-15 23:06] Kennygrace commented on #4114
@Angamanga  I would like to take this up

[2020-10-15 23:07] Kennygrace commented on #4117
@Angamanga I would like to work on this issue

[2020-10-16 03:15] #4117 closed

[2020-10-16 07:42] Angamanga commented on #4106
@helen-ndip Please go ahead. I think I remember this is a browser-specific thing. I think you likely need to fix this in the pattern-library. Check the docs here if you haven't already:  https://docs.ushahidi.com/platform-developer-documentation/development-and-code/setup_alternatives/setting-up-the-pattern-library-for-development

[2020-10-16 07:46] Angamanga commented on #2235
@bimbolabuari Please go ahead. I *think* the change has to be made in the pattern-library but it can also be a case of fixing the html-structure in the platform-client. Check here if you haven't already: https://docs.ushahidi.com/platform-developer-documentation/development-and-code/setup_alternatives/setting-up-the-pattern-library-for-development.

[2020-10-16 07:48] Angamanga commented on #4102
@Somaru-chan Please go ahead with this issue if you are still interested 🙏 .

[2020-10-16 07:53] Angamanga commented on #3665
@treasurechristain Thank you! This is very useful, we'll review shortly! 🙏

[2020-10-16 07:54] Angamanga commented on #3663
@dariatsvetkova @treasurechristain Thank you for your suggestions! It is very useful, we'll review shortly 🙏

[2020-10-16 07:58] Angamanga commented on #4115
@Ifycode I assigned you to #4119 👍

[2020-10-16 08:01] Angamanga commented on #2746
@rowasc Could you please check?

[2020-10-16 08:02] Angamanga commented on #4101
@hyounes4560 Please go ahead. @Sunairaa @treasurechristain @bimbolabuari Sorry this one is taken. Look out for more issues as we add them.

[2020-10-16 08:03] Angamanga commented on #4101
@hyounes4560 Ah wait this one is the collection-issue for the alt-texts, don't work on this. Look out for more issues here, I will add new ones today.

[2020-10-16 08:22] Angamanga commented on #3660
@Dev-Som Thank you for testing the installation-helper! Look out for new issues, adding more today!

[2020-10-16 08:24] Angamanga commented on #4113
@siggrid @renujain31 Definitely. I think that fits as a new issue, would anyone of you like to add it? 🙏

[2020-10-16 08:26] Angamanga commented on #2271
@Firenz Yes, please go ahead! I think it needs to be fixed in the pattern-library. Check the setup here if you haven't already: https://docs.ushahidi.com/platform-developer-documentation/development-and-code/setup_alternatives/setting-up-the-pattern-library-for-development

[2020-10-16 08:27] Angamanga commented on #4060
@rowasc Are you working on this?

[2020-10-16 08:28] Angamanga commented on #3892
Closing this in favour of https://github.com/ushahidi/platform/issues/4106

[2020-10-16 08:28] #3892 closed

[2020-10-16 08:38] Angamanga commented on #4103
@joneskj55 Please go ahead!

[2020-10-16 09:08] codifyit commented on #4111
Hi @Angamanga is this still open? If so, can I please take this? I haven't been able to find any issues :(

[2020-10-16 09:18] renujain31 commented on #4113
Hey, Ya I can add that!

[2020-10-16 10:51] Angamanga commented on #4118
@Sunairaa Thank you! I will review shortly!

[2020-10-16 11:04] Angamanga commented on #4111
@onyeepeace Please go ahead! @codifyit I am adding more issues today!

[2020-10-16 11:27] Sunairaa commented on #4118
You're welcome 👍 @Angamanga assign me another issue

[2020-10-16 11:47] bimbolabuari opened #4121 "Check and fix labels on new posts"
## Description

Some labels are not associated with their respective input elements in the create post field.
Clicking on an associated label activates its respective input by changing the focus to it and other accessibility advantages.

### To Reproduce

Steps to reproduce the behavior:
1. Log in as admin
2. Click on "Data" in the left-hand mode-bar list
3. In the post-view, click on the "+" icon

[2020-10-16 11:55] AishaSaman commented on #4121
Assign me this issue I am an Outreachy Internship Applicant

[2020-10-16 12:12] Sunairaa commented on #4121
Hey, @Angamanga I am an outreachy candidate, can I work on this issue?

[2020-10-16 12:22] bimbolabuari commented on #4121
Hi @sunairaa @AishaSaman, I am already working on this issue. Thanks :slightly_smiling_face:

[2020-10-16 12:31] Sunairaa commented on #4121
Were you assigned by @Angamanga?

[2020-10-16 12:45] Angamanga opened #4122 "Hdx-logo is not showing"
**Describe the bug**
The hdx-logo on /settings/user-settings is not showing. In the dev-tools the image url is shown as "[object Module]". This is likely due to how we load images in Webpack 4.

**Where was the bug observed**
locally and in .io

**To Reproduce**
Steps to reproduce the behavior:
1. Go to settings->Configure HDX api
2. The logo in the upper right corner is not displayed.

**Expected

[2020-10-16 12:55] Angamanga commented on #389
@rowasc I think this would work as a community-task? Just the notification-part of it?

[2020-10-16 12:57] Sunairaa commented on #4122
Hey @Angamanga can I work on this issue?

[2020-10-16 13:09] Dev-Som commented on #4122
@Angamanga Can I work on this issue?

[2020-10-16 13:13] codifyit commented on #4122
Hi @Angamanga Can i work on this? I haven't had my first issue yet

[2020-10-16 13:15] bimbolabuari commented on #4121
Hi @Sunairaa, No, I am not assigned yet, however, I created this issue while I am trying to work on #2746 and I have opened a pull request here https://github.com/ushahidi/platform-client/pull/1581.

I am sure how this works, but I think you can also open another pull request, let's wait for @Angamanga respond

[2020-10-16 13:22] codifyit commented on #1378
Hi @Angamanga I want to know more about this issue. Can you guide?

[2020-10-16 13:35] Angamanga commented on #2347
@Dev-Som check out this issue instead!

[2020-10-16 13:37] Angamanga commented on #1880
@codifyit check out this issue instead!

[2020-10-16 13:37] Angamanga commented on #4122
@Sunairaa Please go ahead. @Dev-Som I pinged you on this issue: https://github.com/ushahidi/platform/issues/2347 and @codifyit on this one https://github.com/ushahidi/platform/issues/1880. Please let me know if you want to work on these issues.

[2020-10-16 13:39] Sunairaa commented on #1858
Hey @Angamanga i am an outreachy candidate can i work on this issue?

[2020-10-16 13:44] codifyit commented on #1880
Sure!

[2020-10-16 13:49] Sunairaa commented on #1067
Hey @rowasc and @Angamanga i would love to work on frontend changes.. can you please assign this task to me and share details?

[2020-10-16 13:49] Dev-Som commented on #2347
@Angamanga Thanks, I'll start working on it.

[2020-10-16 13:59] bimbolabuari commented on #2235
Thanks @Angamanga, Working on it

[2020-10-16 14:15] Sunairaa commented on #1649
Hello @Angamanga is this issue still available? if yes please share details i would love to work on it.

[2020-10-16 14:20] siggrid commented on #4115
Hi, @Angamanga Seems like I need your guidance here. Could you please share your opinion on the following?

Generally, the problem is in css-styles (checkbox visible only when hovering the parent element). To solve it we need to make changes in the Pattern library.

The first solution that comes to mind is focus-within pseudo-class, which is unfortunately not supported by Internet Explorer. Polyfi

[2020-10-16 14:38] mariehposa commented on #1858
Hi @Angamanga, can I work on this?

[2020-10-16 14:54] LavellTheDev commented on #4083
@Angamanga Can I take a crack at this?

[2020-10-16 15:04] Sunairaa commented on #4122
Hey @Angamanga thanks for assigning me this issue.. I have confusion when I login on to my local with my profile credentials I am not able to see settings options. do I need to login as an admin? if yes share credentials?

[2020-10-16 15:41] muchirijane opened #4123 "Associated the labels to their respective inputs"
### Description
The search and date inputs on the search page lack labels.

<img src="https://i.ibb.co/r58KgLL/Fire-Shot-Capture-009-Posts-Ushahidi-Write-Speak-Code2019-localhost.png" alt="Fire-Shot-Capture-009-Posts-Ushahidi-Write-Speak-Code2019-localhost" border="0">

### TODO
Ensure the inputs have the label tag for accessibility.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-875

[2020-10-16 15:42] rowasc commented on #1647
Hi @muchirijane
I'm not sure if I already answered by email, but just in case: you do so by dropping the database locally, then re-running the migrations
Basically drop the database locally (you can do this through the mysql cli, inside vagrant) then run the migrations again with `composer migrate` .
Thanks

[2020-10-16 15:42] muchirijane commented on #4123
Hey @Angamanga, could I work on this issue?

[2020-10-16 15:49] rowasc commented on #2484
@Angamanga thanks Anna. Ok yea this feels larger than I'd be comfortable with (even with the fantastic offer by Eriol to help). Let's hold it.

[2020-10-16 15:51] rowasc commented on #1885
@Erioldoesdesign I saw you mentioning you may want to help with design? (Thanks BTW, sorry for the delay I was sick and had a hard time keeping up with notifs) . ZERO pressure but if you do, this may be a good opportunity to fix the tap area issues? Or errr, bring clarity to what this ticket meant (or close it if we think it's not something to do??? I'm officially out of my depth)
Keeping in triag

[2020-10-16 15:52] rowasc commented on #3643
Yea lets close

[2020-10-16 15:52] #3643 closed

[2020-10-16 15:52] rowasc commented on #4028
Ahhhh ok. Yea makes sense I'll just leave it assigned to you then

[2020-10-16 15:54] rowasc commented on #4086
@Obadha2 you mentioned this failed QA (the https://github.com/ushahidi/platform-client/pull/1552 PR) could you add the failures here so @fabiomus can continue?
Thanks

[2020-10-16 16:27] mariehposa commented on #3665
Hi @Angamanga, Can I work on this too?

[2020-10-16 17:07] Sunairaa commented on #4121
okay @bimbolabuari Good Luck 👍

[2020-10-16 18:43] Ifycode commented on #4044
Hi @Angamanga @rowasc I'm back again. Here are my obesrvations about this tasks:

**Observations:**
Fields that have the default value input found in settings > surveys > create a new survey > add field grouped below with observations stated.

**Default values that show on created post:**
- Short Text
- Long Text
- Select
- Radio Buttons
- Check Boxes
- Mark Down

**Default values that **only** wo

[2020-10-16 18:55] Ifycode commented on #4044
I haven't been able to test for related posts because it rejects what ever I type in both when using default value and when not using default value. I typed in text and even number, it keeps giving me errors.

![related-post](https://user-images.githubusercontent.com/45185388/96297705-22564900-0fa6-11eb-8c89-852ab33e5419.PNG)

I don't understand what it means by "valid post id". Can I get a sample

[2020-10-16 19:03] Ifycode commented on #4044
About these ones, I have 2 suggestions:
- Removal
- Add a placeholder showing the right type of values for the user as listed above and use form validation to prevent user from continuing if right type of values are not entered.

**Question 2:**

Which of the above do you suggest or advice?

[2020-10-16 19:08] Ifycode commented on #4044
I have made a pull request that removes default value for location, since that's the only one i'm sure of. Want to be sure about the other ones I just talked about. Please help with answers to questions 1 & 2 above as it would help clarify what to do with them.  @Angamanga @rowasc

[2020-10-16 19:23] Ifycode commented on #4119
Ok. Great. Thank you! Hmm... Identify all the places in the platform... That's true. About the color, I suggest that the dark yellow color used on the save button and the round button button should be used for uniformity since it's one of the major colors all over the site.
I will test that first and then try some other colors and see what I find. If I find that some other color works better than

[2020-10-16 20:06] rowasc commented on #3611
@renujain31 hey if you don't have a ticket, yes go ahead!
Ideally, the links should save as markdown and render as HTML (like we do for `markdown` fields) . For title, we should *only* support links, nothing else (ie no bold/no images/etc) since titles have a specific styling applied already. I'm thinking however that I don't know how links should look, so we may need to explore that a bit

@Angam

[2020-10-16 20:06] rowasc commented on #600
@renujain31 hey I assigned  you  another one a minute ago, but we can come back to this once that's done!

[2020-10-16 20:07] rowasc commented on #2297
Ok, I'll close this one so we don't get confused

[2020-10-16 20:07] #2297 closed

[2020-10-16 20:09] rowasc commented on #3957
@A-DML hey. What specific issue are you having?
1. Were you able to reproduce the issue?
2. Are you looking for assistance on knowing where the files are?
3. What have you tried (you mentioned you tried JS but specifics would be helpful)
This may help Anna provide the correct guidance. Please make sure you attempt to reproduce the issue (and are able to reproduce it) before coding, since it'd be h

[2020-10-16 20:11] rowasc commented on #3799
@Firenz absolutely. I see you sent a PR already :)

[2020-10-16 20:13] rowasc commented on #3898
I don't think I understand this issue. It specifically  requires changing the code to reproduce it, which doesn't make sense to me? What am I missing?

[2020-10-16 20:21] rowasc commented on #1543
@Firenz you rock <3 Thank you! assigning.

[2020-10-16 20:29] rowasc commented on #4081
hey @Red-0111 how are you doing with this ticket?

[2020-10-16 20:32] rowasc commented on #4114
@onyeepeace this seems to be the issue you worked on https://github.com/ushahidi/platform-client/pull/1580 would you mind commenting here so I can assign it to you? Otherwise GitHub seems to not let me do that.

[2020-10-16 20:37] rowasc commented on #2746
@bimbolabuari that's odd, I think I can link this to a mysql 8 thing but... I don't see why you'd be in mysql8 if you're using our vagrant box.
Can you check `mysql --version` inside the vagrant box?
Thanks

[2020-10-16 20:38] rowasc commented on #4060
@Angamanga eeeeee no :/ I meant to work on them then got sidetracked. @LilyLME go ahead! assigning
Thanks

[2020-10-16 20:39] rowasc commented on #4060
@LilyLME go ahead! assigning
Thanks

[2020-10-16 20:42] rowasc commented on #1858
@Sunairaa please go ahead.

[2020-10-16 20:43] rowasc commented on #389
@Angamanga yea absolutely, adding.

[2020-10-16 20:44] rowasc commented on #1378
Hey @codifyit sorry this was already handled .

[2020-10-16 20:44] #1378 closed

[2020-10-16 20:45] rowasc commented on #1880
@codifyit assigned!

[2020-10-16 20:47] rowasc commented on #4122
@Sunairaa to work on this, you need a backend setup locally or to link up with (your  own) ushahidi.io backend. Check out the gitter channel for an explainer on that a few days ago (where I explain that you can create and connect to ushahidi.io instances)
We will not provide admin privileges
Thanks

[2020-10-16 20:47] rowasc commented on #1067
@Sunairaa there's already a ticket assigned to you. Thanks!

[2020-10-16 20:48] rowasc commented on #2347
@Dev-Som assigned! Thanks

[2020-10-16 20:50] codifyit commented on #1880
Hi@rowasc I have veen looking at the code of platform-client but I can't seem to locate the relevant piece of code. Can you please point me in the right direction?
I am looking to understand the code

[2020-10-16 20:50] rowasc commented on #1649
@Sunairaa there's allready a ticket assigned to you. Let us know when you're done (just commenting in one ticket is fine, we get notified for each time) and I'll assign another one.

[2020-10-16 20:52] onyeepeace commented on #4114
@rowasc Yes, I worked on this. This https://github.com/ushahidi/platform-client/pull/1580 is the link to the PR.

[2020-10-16 21:12] codifyit commented on #1880
Hey @rowasc ok that makes sense! I felt so lost , lol. Sure, let me check it out

[2020-10-16 21:22] codifyit commented on #389
Hi @rowasc What is the codebase for this issue? frontend or backend?

[2020-10-16 22:04] Sunairaa commented on #1858
Thanks for assigning me this task.

[2020-10-16 22:10] Sunairaa commented on #1649
@rowasc yeah sure..

[2020-10-16 22:52] Somaru-chan commented on #4102
Thanks @Angamanga ! Will open a PR soon.

[2020-10-16 23:50] Erioldoesdesign commented on #1885
So there general advice that tap areas for icons/buttons should be a minimum of 40px by 40px as that accounts for an 'average' finger or thumb size and also, those that might not have steady fingers/hand motion. So typically as long as something clickable in a UI is a min 40px wide and high you should be all good.

That....doesn't always mean thats easy because we all know tool tips and smaller ic

[2020-10-17 01:09] Red-0111 commented on #4081
Sry was not able to do

[2020-10-17 10:41] Ifycode commented on #4119
![check-box](https://user-images.githubusercontent.com/45185388/96334953-6c344300-1029-11eb-95c8-e2235eea03eb.PNG)

The dark yellow on its own doesn't look great.
On the other hand, the dark yellow mixed with the box-shadow on the white background (as shown in screenshot) gives it an elevated look and is easier to see when one moves to the next check box or radio button. The only thing is -moz-out

[2020-10-17 13:09] bimbolabuari commented on #2746
@rowasc checking `mysql --version` shows that the vagrant box is using mysql 8.

![image](https://user-images.githubusercontent.com/66112760/96337459-3d48bc00-107f-11eb-96f3-39c2d23dc6e1.png)

[2020-10-17 16:41] Somaru-chan commented on #4102
Hi @Angamanga . Would you mind taking a look to see if anything needs modification? Thanks!
PR: https://github.com/ushahidi/platform-client/pull/1586

[2020-10-18 13:30] hariclerry commented on #4123
Hey @Angamanga and @rowasc,  can I work on this issue too?

[2020-10-18 13:57] hariclerry commented on #3641
Hello @Angamanga and @rowasc, I'm an outreachy applicant. May I please work on this issue?

[2020-10-18 14:35] hariclerry commented on #4077
Hello @rowasc  and @CeciliaHinga, I'm an outreachy applicant. Can I work on fixing this bug?

[2020-10-18 22:48] siggrid commented on #4115
**Update 2**
Came up with a solution where `ng-focus` and `ng-blur` are applied to input in order to style parent element. But still unable to fix focus problem within Data source filters.

[2020-10-19 00:21] amycruz97 commented on #4111
can i work on this too

[2020-10-19 00:21] amycruz97 commented on #4112
can i work on this

[2020-10-19 00:22] amycruz97 commented on #4108
can i work on this too

[2020-10-19 07:08] Angamanga commented on #3898
@rowasc It is a part of another issue that is fixed. One of the field-types were wrong in the client, so when adding a new field and trying to save, that survey was still created but above problem was happening. This issue is to prevent the form to save if something goes wrong when saving the attributes. But since v5 has another structure, we can close this now I think.

[2020-10-19 07:17] Angamanga commented on #1885
@Erioldoesdesign Yes please :) 🙏

[2020-10-19 07:20] Angamanga commented on #4102
@Somaru-chan Thank you! I will review shortly!

[2020-10-19 08:07] codifyit commented on #389
Hi @rowasc and @Angamanga, are we looking to do something like this:
![image](https://user-images.githubusercontent.com/72559719/96417621-fab3ea80-120a-11eb-9035-86ea54b454b9.png)
![image](https://user-images.githubusercontent.com/72559719/96417728-1dde9a00-120b-11eb-8c72-a2218da4ea1f.png)
?
Or do we want to make it a bit fancier like with DOM and CSS?
Also, currently, I am doing this with addeven

[2020-10-19 08:16] Erioldoesdesign commented on #389
Just a UX two cents, if a message window like this isn't styled like the product then at best users are confused and think things are buggy and at worst, they might think it's a scary virus/ad/malware and be nervous to click ok.

Definitely pro this being CSS'd and styled like the product :)

[2020-10-19 09:13] codifyit commented on #389
@Erioldoesdesign Appreciate your input :) Will try to make it better!

[2020-10-19 11:22] Obadha2 commented on #4086
@rowasc @fabiomus details for the failures are listed on the PR [here](https://github.com/ushahidi/platform-client/pull/1562), including screenshots.

[2020-10-19 12:44] helen-ndip commented on #389
I think the previous conversations above have the desired alert. The codebase already has an alert system so it will better to use it.

[2020-10-19 12:58] Firenz commented on #2271
@Angamanga I just made the PR, check it whenever you can, please :relaxed:

[2020-10-19 13:33] hariclerry commented on #4028
Hello @Angamanga, @rowasc, I'm an outreachy applicant, can I please work on this?

[2020-10-19 14:19] Ifycode commented on #4044
Hi @Angamanga @rowasc I'm still on the related post issue and Question 1 & 2

[2020-10-19 14:39] rowasc commented on #389
Yep, exactly.

[2020-10-19 14:58] codifyit commented on #389
@helen-ndip thanks 👍
@rowasc alright.

[2020-10-19 16:15] Firenz commented on #1543
Today I installed everything to work in my Windows 10 system, so now I'm ready to take on this issue 😄

However, while I was waiting to things get installed, I tried to reproduce the bug in a [production environment that I already had the link](https://isooko.ushahidi.io/views/map), tried to look for the Search location button in a post but it's nowhere to be seen.

Maybe that feature has been rem

[2020-10-19 20:42] Sunairaa commented on #4122
Hey @Angamanga @rowasc
I have figured out with deployment instances and now I am able to see settings options and user settings and I also got where hdx logo is missing.

In the issue description, it was mentioned that I need to configure hdx.
![image](https://user-images.githubusercontent.com/66335481/96509026-516ff300-1210-11eb-923e-6f1c89ab7abd.png)

for this, I need hdx maintainer ID and API k

[2020-10-20 02:46] rowasc commented on #3573
This works this way now.

[2020-10-20 02:46] #3573 closed

[2020-10-20 02:46] rowasc commented on #3573
@allcontributors add  gausam for bug

[2020-10-20 06:32] renujain31 opened #4129 "Add tabindex to enable navigation flow"
# Description:
The HTML tabindex attribute is used to manage keyboard focus. It indicates that an element can be focused on, and determines how that focus is handled.
Adding `tabindex="0"` at the places which are not buttons but behave as button element will enable navigation flow and the element would be inserted into the tab order based on its location in the source code.

# Todo:
When we choose

[2020-10-20 06:59] renujain31 opened #4130 "Add img role in all svg images to improve accessibility."
# Description:
When using embedded SVG images, it is a good idea to set role="img" on the outer <svg> element and give it a label.
This will cause screen readers to just consider it as a single entity and describe it using the label, rather than trying to read out all the child nodes.

# Todo:

Search for `<svg class="iconic"` in the *.html files of platform-client codebase and replace it with `<s

[2020-10-20 07:38] SaifurRahmanMohsin commented on #3783
Shouldn't this be closed since #3810 addresses this?

[2020-10-20 07:43] emalindahk commented on #3315
@Angamanga & @rowasc  I have worked on the issue, kindly review it [](https://github.com/ushahidi/platform-client/pull/1590)

![actualizar](https://user-images.githubusercontent.com/12936055/96555890-fcd88080-12c0-11eb-9a10-8abaf1ef0322.png)

![Screenshot 2020-10-20 at 10 41 13](https://user-images.githubusercontent.com/12936055/96555914-05c95200-12c1-11eb-89bf-0658feebfbc5.png)

[2020-10-20 07:45] emalindahk commented on #3315
The issue was `translate`  missing on `<span class="label" translate>`

[2020-10-20 08:53] renujain31 commented on #3611
Okay! From what I understood we just wants that the user can add links in title just as user adds links in markdown but we don't want any other functionalities of markdown.

So, do I have to write a markdown renderer myself with just the link functionality?

[2020-10-20 09:15] hariclerry commented on #4129
Hello @renujain31, @rowasc, I'm an outreachy applicant. Can I please work on this?

[2020-10-20 09:24] AishaSaman commented on #4130
I would like to take this. If it's available

[2020-10-20 09:32] Angamanga commented on #2300
A start of solution is found here: https://github.com/ushahidi/platform-client/pull/1492

[2020-10-20 10:34] amycruz97 commented on #4130
can i work on this pls

[2020-10-20 10:34] amycruz97 commented on #4129
can i work on this also

[2020-10-20 12:34] SaifurRahmanMohsin commented on #3918
@rowasc It's been 2 weeks and I see there has been no progress on this yet. Is this hacktoberfest accepted issue? I'd like to take it up if so.

[2020-10-20 13:02] tuxpiper commented on #3783
Indeed! Thank you @SaifurRahmanMohsin !

[2020-10-20 13:02] #3783 closed

[2020-10-20 14:45] rowasc commented on #4069
ouch, ok. I'm pretty sure there's no native JSON support but I'll take a look at the options. Flattening may work if we extend the translation features, I guess, but not ideal either

[2020-10-20 15:04] bukolabisuga commented on #4130
Hi @Angamanga I'd love to work on this. Thank you!

[2020-10-20 15:18] rowasc commented on #4081
all good! Un-assigning.

[2020-10-20 15:20] rowasc commented on #4081
@Angamanga @renujain31  there may be overlap between this and the new accessibility tickets created? Unsure if I should close or merge them and I bet you both know better than me.

[2020-10-20 15:23] rowasc commented on #4119
oh ok. Yeah I think we should go with this as an initial fix, sharp edges are better than the low contrast situation we have right now IMO. It's progress.

[2020-10-20 15:24] rowasc commented on #2746
ah , that's odd. Are you using the same vagrant box we are using, or the new/standard homestead box?
I have `mysql  Ver 14.14 Distrib 5.7.29, for Linux (x86_64)` this in mine.

[2020-10-20 15:40] rowasc commented on #3641
Absolutely, go ahead @hariclerry

[2020-10-20 15:42] rowasc commented on #4077
@hariclerry I just assigned a different ticket. If you want to work on this one after that, LMK. Keep in mind this is a backend issue so you should be comfortable with PHP / backend development to contribute to it.
Thanks!

[2020-10-20 15:44] rowasc commented on #4115
hey @siggrid , thanks ! @lfycode has also sent a solution around checkboxes, thinking it may be a good idea to coordinate between you so it looks consistent across the app https://github.com/ushahidi/platform/issues/4119
@Angamanga I'm quite lost here, can you review th messages by @siggrid above? Thanks

[2020-10-20 15:54] rowasc commented on #4044
Question 1 - related post -  should not allow a default value. In terms of using it when sending a post, you should search for the title of post that's related through the related post survey (ie Form A has a related post field called "B".  Field B allows relations with Form C, D. You should be able to find posts by title that are in Form C and D, and hit enter to search)
 Question 2: add a placeh

[2020-10-20 17:03] KarenEfereyan commented on #4130
@renujain31 can I work on this? I'm an outreachy applicant!

[2020-10-20 17:03] KarenEfereyan commented on #4129
@renujain31 can I work on this? I'm an outreachy applicant!

[2020-10-20 17:04] KarenEfereyan commented on #4123
A pull request on this already

[2020-10-20 17:39] codifyit commented on #4108
@Angamanga Can i work on this ?

[2020-10-20 17:49] bukolabisuga commented on #4129
Hello @renujain31, I'd love to work on this

[2020-10-20 18:27] Ifycode commented on #4044
Ok @rowasc i'll do as you have suggested and send the PR.

[2020-10-20 18:42] renujain31 commented on #4081
Hey, As far as I know, the issues are completely different and there is no overlap between accessibility tickets that I created and this one but the files involved might be the same. Though, I don't think this might be any problem.

[2020-10-20 18:51] hariclerry commented on #3641
Okay. Working on it.

[2020-10-20 18:53] Sunairaa commented on #1858
Hello @rowasc and @Angamanga I have done with this task can you please review my PRs: https://github.com/ushahidi/platform-client/pull/1594 and https://github.com/ushahidi/platform-pattern-library/pull/251

[2020-10-20 19:11] treasurechristain commented on #4130
@Angamanga please let me work on this issue. I'm Amadikwa Joy N. an outreachy applicant

[2020-10-20 19:20] treasurechristain commented on #4129
@Angamanga please let me work on this issue. I'm Amadikwa Joy N. an outreachy applicant

[2020-10-20 19:47] bimbolabuari commented on #2746
Not sure if I am using the same vagrant box. However, I followed the setup instruction in the documentation
https://docs.ushahidi.com/platform-developer-documentation/development-and-code/setup_alternatives/vagrant-setup-
Currently using vagrant version 2.2.10 and also virtual box version 6.1.14
Do you suggest I downgrade the vagrant version?

[2020-10-20 20:12] onyeepeace commented on #3480
@Angamanga Please I will like to get a clear view on how this will work out. Are there links I should have for the redirection?

[2020-10-20 20:18] rowasc commented on #4129
@amycruz97 go ahead. Assigned.

[2020-10-20 20:24] rowasc commented on #4130
@AishaSaman @amycruz97  you already have a ticket assigned. Let us know (in the corresponding ticket) if you are blocked. Thanks.
@bukolabisuga please go ahead with this one. Good luck.

[2020-10-20 20:34] rowasc commented on #3898
Yeah, I think closing is the best here. Thanks

[2020-10-20 20:34] #3898 closed

[2020-10-20 20:35] rowasc commented on #1885
Oh wow yes that'd be fantastic thanks you

[2020-10-20 20:36] bukolabisuga commented on #4130
Thanks so much @rowasc , I've raised a PR for this issue here : https://github.com/ushahidi/platform-client/pull/1593

[2020-10-20 20:38] rowasc commented on #4028
No, but I assigned a different ticket. Thanks!

[2020-10-20 20:39] KarenEfereyan commented on #4130
This woman ehn😂😂😂

[2020-10-20 20:40] rowasc commented on #1543
@Firenz hey! Thank you ! Ok so it should be the search input that comes up when you are trying to add a location to a post (so in edit/add mode, not in view mode)
Like this
![Screenshot from 2020-10-20 17-39-16](https://user-images.githubusercontent.com/2434401/96641548-447bfe00-12fb-11eb-8153-905ceb718abf.png)

LMK how it goes!

[2020-10-20 20:42] rowasc commented on #4122
@Sunairaa you shouldn't have to fully configure HDX with valid credentials to make the logo appear (since as you can see it should be appearing there). The issue mentions "Configure HDX api" as in "go to the configure HDX api screen", not as an action (sorry that may have been confusing!)
Regarding the deployment yeah that's fine, as long as you're connecting from your local client to it, which I

[2020-10-20 20:52] amycruz97 commented on #4129
pls can u review my other pull request https://github.com/ushahidi/platform-client/pull/1561

[2020-10-20 20:59] rowasc commented on #3315
@emalindahk oh this is great thank you!   Make sure the pull request has a link to the ticket. Thanks

[2020-10-20 21:31] rowasc commented on #3611
@renujain31 ok so I believe If you add the 'linkify' directive to a tag, it'll automatically detect links. So at least that wouldn't require new markdown renderers/configurations.
Example
        <h1 class="mode-context-title"><bdi linkify>{{post.form.name}}</bdi></h1>

The only problem really is unrelated (but maybe you can look at it while you are looking at this) and it's that we probably want

[2020-10-20 21:46] rowasc commented on #3918
@A-DML are you working on this? Do you need a hand?
@SaifurRahmanMohsin cc
Thanks

[2020-10-20 21:57] rowasc commented on #4044
Awesome thanks!

[2020-10-20 21:57] rowasc commented on #4081
ah alright. Wanted to make sure :)
Thanks

[2020-10-20 21:59] rowasc commented on #3943
hey @TunrayoIlawole how is it going? Are you working on this issue? Thanks

[2020-10-20 22:15] rowasc commented on #2746
@bimbolabuari no you should not need to change the version of vagrant itself. I'm confused since that version is even lower than the one I have. You may be able to make the change in Homestead.yml to avoid mysql8
https://stackoverflow.com/questions/61189727/laravel-homestead-downgrade-to-mysql-5-7 similar to this
[code]
And if that fails I guess uninstalling mysql8 in the box itself and reinstalli

[2020-10-20 22:18] rowasc commented on #4130
@KarenEfereyan I have no idea what you intend with this comment, can you explain?
Thanks!

[2020-10-20 22:22] codifyit commented on #389
@rowasc I am having trouble using the class alert with my code. I have also commented on gitter. Can you please help me?

[2020-10-20 22:39] TunrayoIlawole commented on #3943
No, I’m not. Please assign it to someone else

[2020-10-20 22:42] rowasc commented on #389
@codifyit I'm not sure I follow. Can you show me an example of the code that's giving you trouble when you add the alert class?

[2020-10-20 22:54] codifyit commented on #389
@rowasc I am not familiar with Angular JS so I  just kind of tried to follow the code that was already written there. So here is an example:
 <div class="alert" role="alert" >
				<script type="text/javascript">
					window.addEventListener('online', updateStatus);
					window.addEventListener('offline', updateStatus);
					function updateStatus(event) {
						if(navigator.onLine){
							// alert

[2020-10-20 22:57] codifyit commented on #389
@rowasc I am not that familar with Angular JS so I just kinda followed how the code was written and tried to replicate it. Here is an example:
                           <div class="alert" role="alert" >
				<script type="text/javascript">
					window.addEventListener('online', updateStatus);
					window.addEventListener('offline', updateStatus);
					function updateStatus(event) {
						if(naviga

[2020-10-20 23:10] rowasc commented on #3480
@onyeepeace this is a full size feature, so we need to spec it out together. Ok so we need
1 - A way for survey admins to be able to add information with markdown. The submission input should be similar to the ones we have for field descriptions, with UI that allows you to edit styles.  We'll call this information a "post submit hook" (ie: after submit). Rough example of what that could look like.

[2020-10-20 23:10] rowasc commented on #3943
Thanks!

[2020-10-20 23:36] rowasc commented on #389
Ah alright. Ok no worries.
So there's a couple of parts to this, hopefully this rough guidelines will help
- You'll need to bind the connection checker to the app.run in the app.js code. You may want to follow something like this https://stackoverflow.com/questions/16242389/how-to-check-internet-connection-in-angularjs but move it to a separate file, like we do in our .run() code in app.js for int

[2020-10-21 00:21] siggrid commented on #4115
Agree, I’ll text @Ifycode to make sure that our changes are not conflicting. As I have understood from a description so far, @Ifycode  currently working on an outline color issue and this one is mostly related to keyboard navigation within a page.

[2020-10-21 00:31] siggrid commented on #4115
@Angamanga This issue looked like a platform-pattern-library problem at first sight. When I started working on it, it turned out that changes needed to be done in platform-client repo as well. I submitted PR with an angular-based solution and updated previous post with an alternative.

#4115

[2020-10-21 02:31] Ifycode commented on #4119
Ok. Makes sense! Thanks. I'll get to work then.

[2020-10-21 04:01] Ifycode opened #4131 "Focus is not trapped inside the modals - keyboard input"
Found this issue while solving issue #4095. After fixing links skipped by the tab key and able to click on the links using the enter key as noted in [4095 pull request](https://github.com/ushahidi/platform-client/pull/1564#issuecomment-713254498). Some links take you to a different page, some other links just open up a modal.

**Describe the bug:**

The issue is for links/buttons that open up a mo

[2020-10-21 04:24] Ifycode commented on #4131
@Angamanga @rowasc I found this issue which is more like a continuation for the modebar issue. Please can you take a look at it? #4095 has to be completed first to see this one... I also dropped a comment in the changes I was asked to make in that pull request. Please let me know your thoughts.

[2020-10-21 04:32] KarenEfereyan commented on #4130
She sent in the PR minutes after she was assigned. It was so fast. That's what i mean

[2020-10-21 06:23] renujain31 commented on #3611
Oh okay! Yes I can make the title look small. Just for the confirmation, I would need to edit code in [platform-pattern-library](https://github.com/ushahidi/platform-pattern-library), right?

Maybe we can look for a solution that if the title size is greater than `<some x>` characters, we can change it to a smaller value or else we can keep it as it is.

[2020-10-21 07:14] siggrid commented on #4129
@renujain31 @Angamanga

Sorry, my fault. My suggestion with tabindex=“0” may do more harm than good, if we apply it to links without `href` attributes.

`<a ng-click=function() class=“button”>` is one of the most commonly used non-button element that behaves like a button within the codebase.

What I have found so far:

`<a ng-click=function() class=“button” role=button tabindex=“0”>` receives foc

[2020-10-21 07:26] Angamanga commented on #4122
@Sunairaa Don't worry about configuring the HDX-api, this bug probably comes from is how we bundle the code and process the images. We use Webpack 4 to do that and there is something in that config that makes the image-url become an object instead of the url.

[2020-10-21 08:04] Angamanga commented on #4121
@bimbolabuari This issue is overlapping with this one: https://github.com/ushahidi/platform/issues/4081. Closing this and assigning you on that one instead.

[2020-10-21 08:04] #4121 closed

[2020-10-21 08:05] Angamanga commented on #4081
@bimbolabuari this one is about the same as you already started. Please have a look and add to your PR if there is something more to check/add 🙏

[2020-10-21 09:14] Sunairaa commented on #4122
Thanks @rowasc and @Angamanga for the reply. I am working on it!

[2020-10-21 10:29] tuxpiper commented on #3480
I kind of like 2, as a way for deployment teams to document and follow their own triaging/verification/etc process right within the tool. But I am not 100% is the best fit for that and I feel that the UX for that specific case would look different, so it looks like a long route to take advantage of that.

As for 1, I am not a great fan of adding database columns for each ad-hoc feature that pops u

[2020-10-21 10:39] Erioldoesdesign commented on #3480
Just having a read of the progress here and Its so cool to see this being worked on 😄

Just saying from a UX pov the process you've gone through in speccing sounds great and as far as option 1,2 or 3, I think I'm not clearly understanding the options...I think one of them is that you add the post-submit details like you would any survey field type if you want it and populate it as such. Great for

[2020-10-21 10:43] bimbolabuari commented on #4081
Okay,I will check it up @Angamanga
Thank you!

[2020-10-21 12:26] hariclerry commented on #3641
Hello @rowasc, I could use a bit of a pointer here please,  I can't seem to reproduce the issue from this link  https://ushahiditeam.aha.io/features/PROD-358 because I can't login. How do I access the survey tab locally? do I need to create/add a post first? Do I need to be logged in with a different role? I'm logged in currently but I can't see the survey tab. Thanks

[2020-10-21 13:28] renujain31 commented on #600
Hey @rowasc I almost completed that one and sent a PR. Can I now work on this one?

[2020-10-21 14:40] codifyit commented on #389
Hi @rowasc thanks a lot for the clarification. I tried to use the notify functionlity earlier but I guess as I wasn't doing the offline broadcast, it didn't work.
I am on it, I am going to try and implement it like you described with Angular and get back to you.
In the meanwhile though, can I please work on one of the more straightforward issues like adding roles to the elements https://github.com

[2020-10-21 15:32] SaifurRahmanMohsin commented on #3918
???

[2020-10-21 16:14] OluyemisiA commented on #2238
Hi @Angamanga, I have set up the backend but the backend url for platform-client as the one in the tutorial did not work for me for some reason. The error I'm getting is attached below
![browser](https://user-images.githubusercontent.com/67320238/96747970-dc8feb00-13c0-11eb-8b05-ba97eb0a786b.png)

[2020-10-21 17:49] Sunairaa commented on #4122
Hey, @Angamanga @rowasc I have go through the issue and got an error in the console about manifest (screenshot attached) but when I go through platform-client files I didn't get any manifest even it was also linked in index.html.

Screenshot are also attacthed.
![image](https://user-images.githubusercontent.com/66335481/96755561-b8fc7e80-1387-11eb-92dd-519f324a3f73.png)
![image](https://user-image

[2020-10-21 18:12] siggrid opened #4133 "Add visually-hidden class to Pattern library to make visually hidden content accessible to screen reader users"
**Which user group(s) are the primary audience for this feature/enhancement.**

People who use screen reader to interact with platform

**Is your feature request related to a problem? Please describe.**

When image(non-text) buttons are used, we need to make sure that button’s purpose is clear to screen reader users.
In the platform `<span class=”hidden”>Button text</span>` provides an explanation

[2020-10-21 18:30] Sunairaa commented on #4122
Hey @rowasc @Angamanga this is what you want from me to do.. to show logo on hdx API configure screen.
![image](https://user-images.githubusercontent.com/66335481/96767038-d41fbc00-1390-11eb-8d0f-2f57ea506b0e.png)

[2020-10-21 18:36] bimbolabuari commented on #2746
@rowasc, I made the changes in homestead.yml

[code]
and also remove the vagrant box and re-provisioned it but still unable to create a post.
mysql version is still version 8. I tried the second option by uninstalling mysql8 but ubuntu0.20.04.4 is only compatible with mysql8.

[2020-10-21 19:27] hariclerry commented on #3641
Hello @rowasc, you can disregard the above inquiry. I have managed to access the survey tab. Thanks

[2020-10-21 20:38] Sunairaa commented on #4122
@rowasc @Angamanga review my work here https://github.com/ushahidi/platform-client/pull/1598
Thanks 👍

[2020-10-21 21:20] rowasc commented on #3611
for styles, yeah definitely the pattern library. For the linkify change, in the platform-client. (Sorry for the delay!)_
Thanks @renujain31

[2020-10-21 21:52] siggrid commented on #4133
@Angamanga @rowasc Please have a look at the suggestions above. This may be divided into individual issues(adding css-class, replacing css-class, providing meaningful description) when approved.

[2020-10-22 00:47] amycruz97 commented on #4133
can i work on this

[2020-10-22 04:13] amycruz97 commented on #4129
@rowasc please what do you suggest i do, should i go with her second solution

[2020-10-22 07:13] SaifurRahmanMohsin commented on #3918
@rowasc Hey, any update on this. Could I take it up?

[2020-10-22 07:20] bimbolabuari commented on #2746
Good morning @rowasc, I eventually get my mysql Ver 14.14 Distrib 5.7.31, for Linux (x86_64) after some search
![Screenshot from 2020-10-22 08-16-05](https://user-images.githubusercontent.com/66112760/96837953-19022c00-143f-11eb-9239-e45d18c025fa.png)

I want to be sure it works, will get back to you

Thank you!

[2020-10-22 08:29] Angamanga commented on #4108
This is a collection-issue, please read in the description, there are links to more specified issues there!

[2020-10-22 08:45] siggrid commented on #4133
Hey @amycruz97  You may need to hold back till mentors approve this issue as valid and assign you, because I don’t have permission to do that.

[2020-10-22 09:21] Angamanga commented on #2238
@OluyemisiA Which url do you use for your BACKEND_URL in the .env file?

[2020-10-22 09:44] OluyemisiA commented on #2238
I used this URL http://wsc2019.api.ushahidi.io/.
Unless I mistyped it.

[2020-10-22 10:08] renujain31 commented on #3611
Thanks, I already filed two PRs regarding the same. Waiting for your review.
ushahidi/platform-pattern-library#253
ushahidi/platform-client#1596

[2020-10-22 11:15] Angamanga commented on #3611
@renujain31 Thank you!

[2020-10-22 11:18] Angamanga commented on #2238
@OluyemisiA Ok, make sure you did not mistype it, and also use https instead of http. Then restart the development server in the platform-client (`npm run watch`).

[2020-10-22 11:39] OluyemisiA commented on #2238
Okay. I will try that now. Thank you @Angamanga

[2020-10-22 14:44] siggrid commented on #4129
@Angamanga @rowasc

Have a solution that provides keyboard support for `<a ng-click=function() class=“button”>`

Because this element lacks an href attribute, it is not detected as a link, which normally receives focus and works with Enter.
tabindex=”0” makes the element focusable. But in order to make it interactive we need to add a keyboard event - keydown. If we use role=”button”, then element

[2020-10-22 22:26] bimbolabuari commented on #2746
@rowasc, I have been able to create a new post!

I discovered that the default version for mysql is version 8 for the latest version of laravel homestead box [here](https://app.vagrantup.com/laravel/boxes/homestead/versions/10.0.0). So i changed the version to `9.6.1` in the code below:

[code]

This adds ubuntu 18 and mysql 5.7 (`mysql  Ver 14.14 Distrib 5.7.31, for Linux (x86_64)`)

Thank you @r

[2020-10-23 03:42] siggrid commented on #4119
Hey @Ifycode
Want to ask a question to be sure that our solutions are not conflicting: are you working specifically on outline colors of focusable elements within the platform? I submitted a PR with a fix around checkboxes, it doesn’t make any changes to outline color, it was positioning/display issue.
Thanks.

[2020-10-23 06:10] AishaSaman commented on #1889
@Angamanga  I can't solve this for now, sorry. Please assign me any first-timer-issue. Thanks

[2020-10-23 13:41] OluyemisiA commented on #2238
@Angamanga I changed the backend url to "https://wsc2019.api.ushahidi.io/"and when I open localhost:3000 I get this message "Deployment no found". I checked the /api/v3/config path, the status code is a 404, however, pasting the url directly into my browser I get the json object.

[2020-10-23 22:17] bukolabisuga commented on #3665
Hi @Angamanga, the user manual is really great but I found a few areas that need modification.

**Suggestion 1:**
To improve accessibility and readability, I suggest that these points should be numbered so the user knows that they are two different options:
![image](https://user-images.githubusercontent.com/28568830/97056563-33dcb980-1581-11eb-85cd-985bd4e2c61b.png)

**Suggestion 2:**
This image o

[2020-10-24 06:55] SaifurRahmanMohsin commented on #3918
Hey, @rowasc could I take this up instead?

[2020-10-24 19:46] Ifycode commented on #4119
@siggrid Yes I'm working on making the outline more visible when using the tab key (and fix skipped elements - if any). Maybe you can give more detail about what you've done or send a link to the PR for the fixes you made? So I can ensure we aren't tweaking same things. Thanks.

[2020-10-25 13:13] Erioldoesdesign commented on #1885
@Angamanga @rowasc it is done! 😄

[2020-10-25 16:40] OluyemisiA commented on #2238
Hi @Angamanga
I have successfully set up my local environment. Could you please tell the exact file in platform-client that needs to be updated?

[2020-10-25 19:24] SaifurRahmanMohsin commented on #3918
@rowasc Hello, I've pushed PRs as per the spec you mentioned in the first comment. Kindly review and merge if everything is well. I would appreciate if this PR includes the hacktoberfest-accepted label. Thank you.

[2020-10-26 08:24] Erioldoesdesign commented on #2746
Hi there! sorry I'm stepping in late! I noticed some comments on how skip to content on map should be handled and I'm wondering how important it is to have the skip to content read out the about information about the deployment first (the information that sits under the logo circle)

For sure, on a first users visit the info blurb first to better understand what the deployment is doing to give con

[2020-10-26 09:56] Obadha2 commented on #4086
This failed QA because:
 - User creation page has Display name and Email Address text fields missing.
<img width="1032" alt="95717906-5bc14880-0c76-11eb-9214-340384dec6a6" src="https://user-images.githubusercontent.com/38259840/97158451-8210d900-178a-11eb-943b-2c54983b849c.png">

 - Category creation page has Category Name and Description text fields missing.
<img width="1119" alt="95718102-a773f2

[2020-10-26 09:59] #4089 closed

[2020-10-26 11:54] Firenz commented on #1543
Hey @rowasc, when creating a new post I tried searching for locations, and using my current location, everything worked as expected.
![msedge_7PjXrqHWPC](https://user-images.githubusercontent.com/2558299/97168776-504b4280-1789-11eb-8b6a-50403ea67255.png)

I haven't checked yet if in Edit Mode when the post is already posted and is edited later, it happens, but I don't think the error is going to h

[2020-10-26 13:20] rowasc commented on #3957
@A-DML Hey since you haven't been back I'm unassigning this, please do let me know if you are working on it. Thanks

[2020-10-27 00:22] OluyemisiA commented on #2238
@Angamanga Please take a look at my PR for this issue.
Thank you

[2020-10-27 07:54] helen-ndip commented on #4106
@rowasc  @Angamanga  I created a pull request for this here [https://github.com/ushahidi/platform-pattern-library/pull/255](https://github.com/ushahidi/platform-pattern-library/pull/255)

[2020-10-27 11:36] AngadSethi commented on #3943
Hello!

I am working on this issue. According to me, the main problem arises because of the `Validator\Post\Integer` class, which just checks whether the input is a digit or not. I added another validation rule which checks whether the Integer input is within the given range or not, specifying the minimum value as the minimum value of INT in SQL and same for the maximum value.

The problem, howeve

[2020-10-27 12:28] #4114 closed

[2020-10-27 13:04] #2105 closed

[2020-10-27 13:54] onyeepeace opened #4137 "Filter modal footer has an absolute positioning"
**Feature description**
The way the filter modal footer is positioned looks confusing as it sits on top of other elements when selecting filter options for search result. It will be better if the footer stays at the bottom of the filter options so it is easier for a user to understand that they have gotten to the end of the filter options.

**Actual behaviour**
Filter modal footer has an absolute

[2020-10-27 13:57] onyeepeace commented on #4137
@rowasc @Angamanga Let me know what you think of this change. I could make the changes after your feedback. Thanks.

[2020-10-27 21:23] siggrid commented on #4119
@Ifycode Hope, it is not too late.
The link to Pattern library PR [](https://github.com/ushahidi/platform-pattern-library/pull/252)

[2020-10-28 00:09] bukolabisuga opened #4138 "Improve tab-order on the Ushahidi home page header for better site accessibility (WCAG standard)"
**Improvement of the logical tab-order on the Ushahidi Platform header**
For Keyboard Users, it is necessary to ensure strict logical tab-order while using the tab key. This ensures easy navigation while on the Ushahidi Platform.
This improvement will not only meet the WCAG guidelines, but also ensure that the Ushahidi Platform is an inclusive site for all users.

**Problem Description**
In the he

[2020-10-28 00:12] bukolabisuga commented on #4138
Hello @renujain31 @Angamanga , I raised this issue in accordance with the Ushahidi Platform Outreachy task (based on WCAG guidelines). I hope this is a helpful contribution in ensuring maximum site accessibility on the Ushahidi Platform for all users.
Thank you.

[2020-10-28 04:11] Ifycode commented on #4119
No it's not. Thank you @siggrid
Will look through before I commit, push & PR changes related to this.

[2020-10-28 07:30] #3954 closed

[2020-10-28 09:44] #4111 closed

[2020-10-28 14:16] Angamanga commented on #4129
@siggrid @rowasc @amycruz97  I think when a link has the role of a button rather than a link, we should use the button-element. If that means the styling becomes off, we need to fix the styling in the Pattern-library instead, like we did in this issue: https://github.com/ushahidi/platform-client/pull/1564#issuecomment-714421374.

[2020-10-28 14:19] Angamanga commented on #4131
@Ifycode This kind of issues are exactly what we want to work on during the internship-period. Thank you for filing it!

[2020-10-28 14:24] Angamanga commented on #4133
@siggrid Thank you for filing this! I think this issue can be divided into two different issues, or even more if it turns out it needs changes on many places (one issue for the pattern-library and then 1 or more to use the class in the platform-client + make sure the content actually makes sense)

[2020-10-28 15:06] Angamanga commented on #1889
@AishaSaman I don't think we have many first-timer issues left, but check here if you find something interesting: https://github.com/ushahidi/platform/labels/Community%20Task.

[2020-10-28 15:49] Angamanga commented on #3665
@bukolabisuga Thank you! 🙏

[2020-10-28 18:03] Angamanga commented on #1885
@Erioldoesdesign Thank you ❤️ !!!

[2020-10-28 18:44] renujain31 commented on #600
Hey @rowasc, I researched a bit about this issue and it appears to me that first of all I need to make sure that the platform-client passes the zoomlevel in case when there's a click on the map to the API (Would need to add some code here: [modify/location.directive.js](https://github.com/ushahidi/platform-client/blob/develop/app/main/posts/modify/location.directive.js))
Also I would need to creat

[2020-10-29 04:49] Ifycode commented on #4131
😊 ok @angamanga.

[2020-10-29 09:35] tuxpiper commented on #3306
Verified that it works, *as long as* the `SITE_URL` environment variable is appropriately set, as is documented now.

[2020-10-29 09:35] #3306 closed

[2020-10-29 10:00] tuxpiper opened #4139 "ETag and/or Last-modified headers in API"
**Which user group(s) are the primary audience for this feature/enhancement.**
All deployments, but specially those with high-traffic/concurrency.

**Is your feature request related to a problem? Please describe.**
Currently the REST API is not tagging its resources with ETag or Last-Modified headers.

This makes prevents taking advantage of caching re-validation mechanisms and conditional updates

[2020-10-29 10:24] tuxpiper opened #4140 "Languages not showing in platform-client dev mode"
**Describe the bug**
When a developer starts platform-client in local dev mode, the language drop down doesn't show the available languages.

**Where was the bug observed**
Self observation, numerous reports by developers.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up your platform-client environment
2. Run `gulp`
3. Open http://localhost:3000
4. Open the languages drop down
5. It's

[2020-10-29 10:29] #4140 closed

[2020-10-29 11:30] AngadSethi commented on #3977
@rowasc Please review the pull request whenever you get a chance. Thanks!

[2020-10-29 22:28] siggrid commented on #4129
@Angamanga  Agree. I thought that this must be implemented without changing the markup. As long as native button tags are used, we don’t need to worry about keyboard operability. Might it be applicable to other non-button elements in the codebase as well? For example, [an element that shows/hides a dropdown](https://github.com/ushahidi/platform-client/blob/609914d9649c362ad6800746988b565b1df0197b/

[2020-10-30 10:26] CeciliaHinga opened #4141 "Text are hidden by the menu tool bar when you try to print posts on data view"
**Describe the bug**
When you try to print posts on data view, some of the content on the posts is hidden by the menu and 'bulk action' toolbars on the page preview

**To Reproduce**
Steps to reproduce the behavior:
1. Go to data view
2. Click on fn+command+p for shortcut or file then print (This is with a mac laptop)
3. See error on the page preview

**Expected behavior**
Once you click on print

[2020-10-30 13:13] Angamanga commented on #4137
@onyeepeace It sounds like a useful and good change! I know its in the last minute for the Outreachy deadline but if you have time, please go ahead 👍

[2020-10-30 13:16] onyeepeace commented on #4137
@Angamanga Thank you. I will work on it right away.

[2020-10-30 14:26] Angamanga commented on #4129
@siggrid Yes, definitely, eventually we want to improve and make these changes all over the platform 😬 .

[2020-10-30 16:19] eriyanto87 commented on #2073
@Angamanga @rowasc Hello, I'm sorry I couldn't find where the issue is coming from.

[2020-10-30 18:02] renujain31 commented on #2073
Hey @eriyanto87, so when you create a new survey, it says that the cursor should automatically point at Survey name and you should be able to start typing. But it doesn't. You have to set the focus on that input element every time you open up that page.

I found that this issue is not just limited to survey, it is almost in the whole platform:
- while adding a new post to any survey
- while adding

[2020-10-30 18:42] eriyanto87 commented on #2073
@renujain31 yes please! this is the first time I am looking at an open source code. I am grateful you are willing to help and explain. I'm not even sure will this code be?

[2020-10-30 19:02] onyeepeace commented on #4137
@Angamanga @rowasc The changes have been made. I hope you can review soon. Thanks.

[2020-10-30 19:58] wino commented on #3939
@tuxpiper @rowasc I took a crack at this one and have a forked PR here: https://github.com/ushahidi/platform/pull/4142
I went with the "Manage Posts" permission mentioned above for now. I think it could be switched to use scopes if needed, but I didn't have time today to figure it out in my first crack at this project.
I also tried to look into writing a test but didn't quite figure out how to han

[2020-10-31 19:28] renujain31 commented on #2073
Okay, so a way to make elements focusable might just be to add `autofocus` as an attribute where the input is taken.

To find where the code is: (Hoping you have cloned and setup the platform-client repository)
- Inspect the webpage where you find that the element is not getting focused.
- Try to search for similar keyword present in that element in the editor you are editing the code in.

For exa

[2020-10-31 21:29] #3994 closed

[2020-11-01 13:28] tuxpiper commented on #2394
@all-contributors please add @Somaru-chan for code

[2020-11-01 13:31] #2394 closed

[2020-11-01 13:34] tuxpiper commented on #4111
@all-contributors please add @onyeepeace for code

[2020-11-01 13:39] tuxpiper commented on #4089
@all-contributors please add @helen-ndip for code

[2020-11-01 13:49] tuxpiper commented on #4100
@all-contributors please add @Sunairaa for code

[2020-11-01 13:50] #4100 closed

[2020-11-01 13:52] tuxpiper commented on #3961
@all-contributors please add @AngadSethi for code

[2020-11-01 15:40] AngadSethi commented on #3961
Thank you @tuxpiper!

[2020-11-01 16:18] bimbolabuari commented on #3999
@Angamanga @rowasc, Please I would love to contribute to this issue!

[2020-11-02 01:01] Ifycode opened #4149 "Input type file uses white outline on focus in general settings page"
Based on the fix I made here in [PR 259](https://github.com/ushahidi/platform-pattern-library/pull/259) that should affect all buttons on the site, button elements that should have been skipped now receive focus - this is the reason why the buttons are not skipped in the screenshot below.

**Describe the bug:**

Input type file has a white outline when in focus instead of the one applied to other

[2020-11-02 01:16] Ifycode opened #4150 "Links and buttons not in the correct tab order in the survey page"
Based on the fix I made here in [PR 259](https://github.com/ushahidi/platform-pattern-library/pull/259) that should affect all buttons on the site, button elements that should have been skipped now receive focus - this is the reason why the buttons are not skipped in the screenshot below.

**Describe the bug:**

The bug is noticeable once skipped elements have been fixed. When navigating through t

[2020-11-02 01:41] Ifycode opened #4151 "Skipped elements in create survey page"
Based on the fix I made here in [PR 259](https://github.com/ushahidi/platform-pattern-library/pull/259) that should affect all buttons on the site, button elements that should have been skipped now receive focus - this is the reason why the buttons are not skipped in the screenshot below.

**Describe the bug:**

Some elements are skipped on the create survey page e.g. the build, configure, add fie

[2020-11-02 11:18] siggrid commented on #4133
Hi @Angamanga
Submitted a PR to the Pattern Library. Added a new helper class “visually-hidden”.
Then checked the codebase templates - there are approximately 40 html files in Platform client, where “hidden” class is used for hiding text content.

[2020-11-02 13:13] #3611 closed

[2020-11-02 15:45] #4103 closed

[2020-11-02 16:14] CeciliaHinga opened #4152 "Inclusion of the Author's name in an exported CSV file"
**Which user group(s) are the primary audience for this feature/enhancement.**
Include deployment names if possible
eirusa.ushahidi.io

**Is your feature request related to a problem? Please describe.**
When you export the data via a CSV file, the names of the people who submitted the posts are not indicated in the exported file.

**Describe the solution you'd like**
Inclusion of the authors' name

[2020-11-02 16:15] CeciliaHinga commented on #4152
@rowasc Is the request clear enough?

[2020-11-02 22:09] siggrid opened #4153 "Interactive elements in mode-context-filter don’t receive keyboard focus"
**Describe the bug**

Element, that shows/hides dropdown doesn’t receive focus;
Show only and Hide controls are skipped when navigating inside dropdown.

**To Reproduce**

- Login as admin
- Go to Map page
- Use Tab key to navigate through the filters area

**Screenshots**

Skipped controls inside dropdown
![dropdown](https://user-images.githubusercontent.com/52042098/97924440-554f5980-1d68-11eb-8

[2020-11-03 10:44] #4081 closed

[2020-11-03 14:00] tuxpiper commented on #600
Hi @renujain31 , thank you for your points!

A few observations:

I don't think it's so good to bundle together all that information in a single JSON object.

Presently latitude and longitude are stored in a MySQL POINT column, which is good , because it is a native datatype and allows meaningful indexing. We would lose that by moving them into an arbitrary JSON object.

I think #608 should be tac

[2020-11-03 14:49] #4122 closed

[2020-11-04 09:23] #2238 closed

[2020-11-04 10:19] #4095 closed

[2020-11-04 10:53] tuxpiper commented on #2111
PR #4154 addresses the background initiated data providers

[2020-11-04 12:14] tuxpiper opened #4155 "Datetime fields: creation and edit not responsive"
**Describe the bug**
In the platform client web UI, if a field is defined as date & time , the date picker is not responsive

The following error is found in the browser console:
[code]

**Where was the bug observed**
- master and production: ushahidi.io
- develop: develop.staging.ush.zone

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://tuxpiper.ushahidi.io/posts/create/1
2. Tr

[2020-11-04 15:30] tuxpiper commented on #3961
Fix reverted by ushahidi/platform-client#1613

[2020-11-04 15:33] #4155 closed

[2020-11-05 07:42] bimbolabuari commented on #4034
@Obadha2 @rowasc, can I work on this if it's available?

[2020-11-05 07:54] bimbolabuari commented on #3308
@rowasc @Angamanga, I would love to work on this

[2020-11-06 04:19] Ifycode commented on #4150
Hi @Angamanga @rowasc, can I work on this?

[2020-11-06 08:00] renujain31 commented on #600
Hi @tuxpiper
Thanks for the help. Few concerns that I have:

But then we would have to change the schema of the SQL table used every time we need to add new values in zoom level? If this is something which can be done without getting any breaking, then I think it would be feasible to add a new column for zoom level. It would be great if you can please reference me to a pull request or a commit whe

[2020-11-06 13:31] tuxpiper opened #4156 "Support for WhatsApp as SMS through Twilio datasource"
**Which user group(s) are the primary audience for this feature/enhancement.**
Deployers which may be able to obtain an activated WhatsApp account from Twilio.

**Is your feature request related to a problem? Please describe.**
No support for WhatsApp in Platform currently

**Describe the solution you'd like**
Twilio provides a WhatsApp gateway service that operates almost identically to their SMS

[2020-11-07 04:56] renujain31 commented on #2073
Hey @eriyanto87 are you working on this? If not, can I take this up @rowasc?

[2020-11-09 14:44] tuxpiper commented on #600
@renujain31

nifty thinking 😁 But it's not really the same sort of indexing. With geographic data types you get spatial indexing, which means that it's really fast to do things like finding which rows have points contained within a given spatial rectangle.

With text-storage based values, we get something like lexicographical indexing, which only understands ordering of letters and numbers

Mmm no

[2020-11-10 10:20] Angamanga opened #4158 "Add timezone info to post-date stamp"
**Background**
There is no timezone information displayed for the timestamp on posts and the behaviour of the time varies if you have edited the post-time in the edit-view. If no changes to the post-time is made, the time is stored in UTC but displayed in the timezone the user has on their computer. If edits are made, the time added in the editor will be converted to UTC and displayed as such, whi

[2020-11-10 11:14] CeciliaHinga opened #4159 "Add timezone settings under general settings"
**Which user group(s) are the primary audience for this feature/enhancement.**
Ushahidi.io Users

**Is your feature request related to a problem? Please describe.**
Submitted posts display time based on each person's timezone, meaning you will see a report's post time based on the local time that your computer was set in.

**Describe the solution you'd like**
Add timezone settings to have a deploy

[2020-11-11 09:11] Angamanga opened #4160 "Dates and times for posts and surveys"
## Overview
The output of this epic is to standardise input, save and display of dates and times for posts and date/time fields in surveys all over the platform

## Problem
Timestamps and date-time information is displayed and saved differently in platform. At some places, time is adjusted to the settings in the users computer, and sometimes it is displayed in UTC.

## Goal
For survey-fields:
- Sa

[2020-11-12 06:39] renujain31 commented on #2073
I have added a Pull request for it's fix. Can you please review it @rowasc. Thanks!

[2020-11-12 08:38] Angamanga opened #4161 "The map is located in the bottom of posts"
**Describe the bug**
When adding a post with location, the map is located in the bottom of the post-detail in data-view, no matter what priority it has. When creating/editing the post, the position is correct.

**Where was the bug observed**
In develop and production. Not on the v5 branch

**To Reproduce**
Steps to reproduce the behavior:
1. Create a post with a location field and other fields bel

[2020-11-12 09:10] Angamanga opened #4162 "Save and display timezone in the date/date-time field in posts"
### Background
The date and date-time fields information in posts are converted and saved as a date-time field without any information about the timezone it was added in. This means that if another timezone than UTC was used when adding the post, the time when displaying the post will be confusing to the user.

### Expected behaviour/TODO
- Continue saving the information in UTC but add a column i

[2020-11-12 09:11] Angamanga commented on #4036
Closing in favour of https://github.com/ushahidi/platform/issues/4162

[2020-11-12 09:11] #4036 closed

[2020-11-12 09:13] Angamanga commented on #3999
Closing in favour of https://github.com/ushahidi/platform/issues/3961

[2020-11-12 09:13] #3999 closed

[2020-11-12 09:13] Angamanga commented on #466
Closing in favour of https://github.com/ushahidi/platform/issues/4162

[2020-11-12 09:13] #466 closed

[2020-11-12 09:58] Angamanga commented on #3640
Closing in favour of https://github.com/ushahidi/platform/issues/4162

[2020-11-12 09:58] #3640 closed

[2020-11-15 13:57] tuxpiper commented on #4095
@all-contributors please add @Ifycode for code

[2020-11-15 13:57] tuxpiper commented on #4103
@all-contributors please add @bimbolabuari for code

[2020-11-15 13:59] tuxpiper commented on #2238
@all-contributors please add @OluyemisiA for code

[2020-11-15 14:12] tuxpiper commented on #4103
@all-contributors please add @bimbolabuari for code

[2020-11-15 14:17] tuxpiper commented on #2238
@all-contributors please add @OluyemisiA for code

[2020-11-15 14:19] tuxpiper commented on #2238
@all-contributors please add @OluyemisiA for code

[2020-11-16 08:50] #2384 closed

[2020-11-17 10:12] Obadha2 opened #4169 "Unable to select dates on Date Picker in Sort & Filter page."
**Describe the bug**
Selecting a date on Date picker modal under Date Range field in Sort & Filter modal won't work. This seems to be broken in three ways:
1. On selecting a date, the date picker modal persists and does not get auto-dismissed.
2. Once a date has been clicked on to be selected, clicking outside the modal has the calendar jumping around.
3. Even when the date picker is dismissed, th

[2020-11-18 12:05] Sunairaa commented on #4161
Hey @Angamanga can I work on this issue?

[2020-11-18 15:11] onyeepeace commented on #3480
Hello @rowasc @Angamanga. I have created a new deployment to work on this. I still do not have a clear view on it yet. But here's what I have thought of;
Will this come under the build tab in the picture below?

![Screenshot (132)](https://user-images.githubusercontent.com/53520853/99545986-3979c380-29b6-11eb-9ed5-d2796f749085.png)

So will a field be added with the add field button and then the m

[2020-11-18 15:21] #4118 closed

[2020-11-19 10:43] #4106 closed

[2020-11-19 11:49] #4137 closed

[2020-11-20 12:27] #1858 closed

[2020-11-20 15:32] Angamanga commented on #4169
@rowasc @Obadha2 Can this be closed now?

[2020-11-23 17:33] tuxpiper commented on #4130
@all-contributors please add @bukolabisuga for code

[2020-11-23 17:34] #4130 closed

[2020-11-23 17:38] tuxpiper commented on #4133
@all-contributors please add @siggrid for code

[2020-11-23 17:39] #4133 closed

[2020-11-23 17:39] tuxpiper commented on #4169
Since we are releasing the fix, assuming we are good here

[2020-11-23 17:39] #4169 closed

[2020-11-23 17:43] #1994 closed

[2020-11-23 17:45] tuxpiper commented on #4170
@all-contributors please add @Firenz for code

[2020-11-23 17:47] #4170 closed

[2020-11-23 17:57] #2271 closed

[2020-11-23 18:01] #4115 closed

[2020-11-23 18:09] #4102 closed

[2020-11-24 12:41] Angamanga commented on #4150
@Ifycode Yes absolutely :)

[2020-11-25 09:26] Ifycode commented on #4150
Yay! Ok thank you @Angamanga

[2020-11-25 13:18] #4112 closed

[2020-11-25 14:02] #3918 closed

[2020-11-26 13:07] #4119 closed

[2020-11-27 07:54] #2746 closed

[2020-11-27 08:27] #4080 closed

[2020-11-27 15:39] Angamanga commented on #1555
Closing this in favour of https://github.com/ushahidi/platform-client/pull/1630

[2020-12-02 18:21] tuxpiper commented on #3918
@all-contributors please add @SaifurRahmanMohsin for code

[2020-12-02 18:22] tuxpiper commented on #3641
@all-contributors please add @hariclerry for code

[2020-12-02 18:23] tuxpiper commented on #4080
@all-contributors please add @error404-sp for code

[2020-12-03 09:30] Obadha2 opened #4177 "List of issues found in v5-main"
- [x] Field name edit-text fields are missing.
<img width="386" alt="Screen Shot 2020-12-02 at 2 15 52 PM" src="https://user-images.githubusercontent.com/38259840/100990684-390b2c00-3563-11eb-967c-ab959bb7767e.png">

 - [x] Share and Submit button should be at the bottom of the survey being filled as well as the top of the page. Only present at the top of the page.

 - [x] Post on card, the time s

[2020-12-03 12:13] Angamanga commented on #4177
@Obadha2 I have just merged the fix for the edit-field so it can be tested in a bit when its deployed.

[2020-12-03 13:44] #3997 closed

[2020-12-03 22:00] rowasc commented on #4177
@Obadha2  > If a decimal value is provided in an integer field, user can submit response successfully. User should be alerted of incorrect format and submission should fail. Submitted post has the decimal value missing, there's no value.
Should be fixed now. Thank you !

[2020-12-04 00:13] rowasc commented on #4177
@Obadha2 I just pushed something that should help with the duplicates issue, but it's a bit rough around the edges. Would really appreciate feedback on how usable it turned out from your POV (I mean, besides "does it work :D " )

[2020-12-07 12:28] Obadha2 commented on #4177
Hmm. well it does work. An enhancement would be having duplicate fields highlighted, but this works! Marking as resolved.

[2020-12-08 13:27] Angamanga opened #4178 "Add E2E tests to Github actions"
**Description**
As we start adding E2E tests for the Platform Client, we want to run the tests when pushing to the Platform Client repository. Right now, the tests lives in their own repository (https://github.com/ushahidi/experimental-e2e-testing). We need to:
1. Create a folder structure for the E2E-tests and clean up existing repository
2. Write or copy a script for github actions to import the

[2020-12-11 09:54] Angamanga opened #4179 "Alt text (1.1.1): All images and non-text content needs alt text."
Right now we have alt-texts on most images, but we need to add alt-texts to user-uploaded images as well. This includes:
- Deployment-logo (in site-settings)
- Images uploaded in posts

Both needs update in both the frontend and the backend (we need to save the alt-text somewhere).

Things to figure out:
- Should the alt-texts be required?
- How do we save the alt-text? Hint: Check how the caption

[2020-12-11 10:15] Angamanga opened #4180 "Improve color contrast in Platform"
There must be a color contrast ratio of at least 4.5:1 between all text and background. Audit and suggest a new color-scheme where needed (needs design).

Places where contrast-ratio fails:
Between background and button:
<img width="275" alt="Screenshot 2020-12-11 at 11 14 15" src="https://user-images.githubusercontent.com/8624777/101891312-2b2c5b00-3ba2-11eb-9905-437cd98d14fe.png">

Between backg

[2020-12-11 13:19] Obadha2 commented on #4177
Closing this as there are no known pending issues on v5.

[2020-12-11 13:19] #4177 closed

[2020-12-14 12:35] Angamanga opened #4181 "Skip to content"
We have a skip-to-content link on the data-view, but would like to add this to the whole site.

#TODO:
- Identify what "main-content" is on each view
- Add the link to this content on each page

[2020-12-15 08:46] renujain31 opened #4182 "2.1.1 Keyboard Only"
Ushahidi platform must be fully accessible with only a keyboard.

Elements to double check:
- [ ] Forms
- [ ] Submission buttons
- [ ] Media players
- [ ] Navigation menus and submenus
- [ ] Sidebar content
- [ ] Embedded content

Related issues:
- [ ] #4151
- [ ] #4116
- [ ] #4153
- [ ] #4187
- [ ] #4188
- [ ] #4189

[2020-12-15 08:46] renujain31 opened #4183 "2.1.2 No Keyboard Trap"
Keyboard-only users must be able to navigate to and from all parts of a website. No mouse should be necessary to move away from any element of a website.

With no keyboard trap, it’s especially important to test:

- [x] pop-ups
- [x] forms
- [ ] embeds

on the platform to make sure that users can back out of them with ease.

Related issues: #2300

[2020-12-15 08:46] renujain31 opened #4184 "2.4.3 Focus order and 3.2.3 Consistent Navigation"
When users tab through surveys and forms, the content should appear in a logical order.

Also, keep the navigation menu placement and order consistent throughout the platform. To ensure this, header and footer menus should stay consistent. Consistency involves placement and order of links, search bars, and skip navigation links

Related issues: #4138 #4150

[2020-12-15 08:46] renujain31 opened #4185 "2.4.7 Visible Focus"
When an interactive element (link, button, form field, selectable element, etc.) receives focus, a visual indicator shows so a user can see what element they are currently on.
We should provide a strong, contrasting colour for a box border when it is in focus.

Related issue: #4149

[2020-12-17 08:58] tuxpiper commented on #4002
Same as #3481 .

This has been fixed in a recent release.

[2020-12-17 08:58] #4002 closed

[2020-12-17 08:58] tuxpiper commented on #3481
This has been fixed in a recent release

[2020-12-17 08:58] #3481 closed

[2020-12-21 04:05] Nthiga opened #4186 "FCDO Project: User Unable to submit posts on https://kenyacovid19.ushahidi.io/views/map"
**Describe the bug**
A clear and concise description of what the bug is.
Two of the trained community mappers submitted posts are either blocked or disappear after submission (The posts cannot be verified by an administrator)

**Where was the bug observed**
Include Deployment and page URL (e.g. "https://test.ushahidi.io/views/map")
https://kenyacovid19.ushahidi.io/views/map

**To Reproduce**
Steps

[2020-12-22 12:27] renujain31 opened #4187 "Accessibility issues in maps navigational menu"
**Describe the bug**
The drop down menu for options in posts is not accessible via keyboard.

**Where was the bug observed**
/views/map in v5 deployment

**Screenshots**
![Ushahidi Platform v5](https://user-images.githubusercontent.com/70752431/102888377-a7fee500-447e-11eb-8629-d56f9fd3c4b7.gif)

[2020-12-22 12:39] renujain31 opened #4188 "Surveys in create posts button is not accessible"
**Describe the bug**
Surveys in create posts button is not accessible via keyboard.

**Where was the bug observed**
views/map in v5 deployment

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '/view/maps'
2. Click on the '+' icon to create a new post.
3. See that the surveys are not accessible

**Screenshots**
![image](https://user-images.githubusercontent.com/70752431/102888904-a97cdd

[2020-12-22 12:43] renujain31 opened #4189 "Elements in share modal not accessible"
**Describe the bug**
Elements in Share modal are not accessible via keyboard.

**Where was the bug observed**
views/map in v5 deployment

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to the /views/maps
2. Click on the share button in top right corner.
3. Observe that the social media platform are not accessible via keyboard.

**Screenshots**
![image](https://user-images.githubuserconte

[2020-12-22 13:12] renujain31 opened #4190 "Keyboard trap in date picker"
**Describe the bug**
When we open the date picker we can't access anything else with the keyboard

**Where was the bug observed**
in v5 deployment /views/maps

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the maps view.
2. Click on the search input box.
3. Navigate to the date range and edit that using keyboard
4. The date picker is not accessible via keyboard

**Screenshots**
![imag

[2021-01-01 17:44] rowasc commented on #4186
Hey folks, we're having trouble reproducing this issue. We just sent a report from the mobile app  (check out the "post called "Test from Ushahidi", it's still in review since we were just trying to check submission of posts ), and we don't see anything missing right now, but I'm sure we are missing some information or doing something differently.
Thanks
Romina

[2021-01-10 07:19] rene-saenz commented on #3665
Hello! I saw this marked as a good first issue and wanted to make my first contribution. Unfortunately, this guide seems to be mostly accurate to the material. The one note I have is that the use of _**Bold Italics**_ should be more judicious to increase readability. The overuse of emphasis makes the page more noisy and reduces the usefulness of emphasis. It seems that bold italics are used for qu

[2021-01-11 14:39] Ifycode commented on #4151
Listed in #4182

[2021-01-15 06:53] Angamanga opened #4191 "The mode-bar is in the wrong place for "medium" sized-windows"
**Describe the bug**
On screen-sizes with the width >1024px and <1151px the mode-bar is situated to the side of the screen instead of the bottom:
<img width="1126" alt="Screenshot 2021-01-15 at 07 49 06" src="https://user-images.githubusercontent.com/8624777/104691434-8a800c80-5706-11eb-81e7-eab093c49ae0.png">

**Where was the bug observed**
Pattern-library version 4.4.4-pre.6 in any environment
*

[2021-01-21 18:05] Angamanga opened #4192 "Collections in list are not reached from tabbing"
**Describe the bug**
The collections are not reached when tabbing in the modal.

**Where was the bug observed**
Local dev in branch `modals_acc` right now, pr: https://github.com/ushahidi/platform-client/pull/1637

**To Reproduce**
1. Go to collections through tabbing
2. Continue tabbing in the modal
3. The list of collections is not reached

**Expected behavior**
List of collections should be rea

[2021-01-21 18:11] Angamanga opened #4193 "Sections in "Saved searches" modal and "Collections" modal are not reached via tabbing"
**Describe the bug**
"Who can see this?",~~ "Featured" and "Default viewing mode"~~ is not reached from tabbing in Saved searches modal and Collections modal.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to collections or saved-searches modal (you need to click your way here right now)
2. Tab in the window
3. "Who can see this?", ~~"Featured" and "Default viewing mode"~~ is not reached

[2021-01-21 18:19] Angamanga opened #4194 "All items are not reached via tabbing in account settings"
**Describe the bug**
All items in "Account-settings" are not reached from keyboard

**Where was the bug observed**
Local dev in branch `modals_acc` right now, pr: https://github.com/ushahidi/platform-client/pull/1637

**To Reproduce**
Steps to reproduce the behavior:
1. Tabb to "Account settings" in the modebar (you need to be logged in)
2. Try tabbing around, all items are not receiving focus:
3.

[2021-01-21 18:26] Angamanga opened #4195 "The edit/save-buttons for saved-searches are not reached from tabbing"
**Describe the bug**
The "Edit", "Save search" and "Update saved search" buttons in the filter-dropdown is not reached from the keyboard

**Where was the bug observed**
.io

**To Reproduce**
1. Tab to the filter-dropdown in data-view or map-view
2. Add a number of filters
3. Try reaching the "Save search" button from the keyboard, it is not working
4. Select a saved search in the dropdown, try rea

[2021-01-22 12:41] AmTryingMyBest opened #4196 "Role Fixes CheckList"
**Categories**
- [x] Create a category
- [x] Set and save visibilities
- [x] Add category to survey
- [x] Log in as unprivileged user
- [x] Check categories fields presented as set
- [x] Submit response to survey
- [x] Categories selected in survey response persist
- [x] Edit category
- [x] Check edits and changes to categories persist

**Collections**
- [x] Create collection, setting permissions

[2021-01-25 09:08] Angamanga commented on #4028
@Angamanga Take up work on this again

[2021-01-26 15:12] CeciliaHinga opened #4197 "The order of fields on the survey editor page is different from the order of fields on the survey submission page"
**Describe the bug**
Once you add fields to a survey and save it, the fields on the survey editor page confusingly rearrange themselves in a different order from the initial one you had saved them in when you click on the same survey to edit. But the initial order will be observed in the survey form on the 'add post' submission page. [See steps to reproduce for better explanation]

**Where was the

[2021-01-29 00:46] timmwille commented on #2715
can be closed?

[2021-01-29 00:49] timmwille commented on #980
I'm very curious what the status is about this one?

[2021-02-03 07:48] renujain31 opened #4198 "Focus Trap in dropdown menus"
**Describe the bug**
Focus isn't trapped in dropdown menus..

**Where was the bug observed**
.io deployment

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to the "sort and filter" option.
2. The focus isn't trapped in the filter dropdown menu.

**Expected behavior**
The dropdown menu should trap focus alternatively close when focus is outside of the dropdown.

**Hints**
- Check the moda

[2021-02-04 08:18] Angamanga opened #4199 "Scroll content into view when focused"
**Background**
Not all content is scrolled into view when focused in all modals. This is an existing bug that appeared when we made it possible to tab through modals.
![2021-02-04 08 55 09](https://user-images.githubusercontent.com/8624777/106864110-bd943b00-66c9-11eb-9390-c1b7ee558c00.gif)

**Todo**
Find a general way, perhaps in the modal-container-directive, to extend the size of the modal-body

[2021-02-04 08:50] renujain31 opened #4200 "Trap focus inside dropdown menu"
**Which user group(s) are the primary audience for this feature/enhancement.**
All users.

**Is your feature request related to a problem? Please describe.**
After tabbing to the last element of dropdown the focus moves to the next element and the dropdown remains open which can make it difficult to navigate for users.

**Describe the solution you'd like**
We can trap the focus inside the dropdown