[2018-03-09 23:14] caharding commented on #2588
Great, will punt till then

[2018-03-12 11:57] willdoran commented on #2531
@rowasc No a message would still be created for a new inbound SMS just not a new Post. I believe, unless I have misunderstood completely.

I think we would use the existing survey end point, the only difference is that we set everyone_can_create to false and we need a way to differentiate the surveys, so perhaps a flag?

When would we need to get the list of contacts? I am not against that just no

[2018-03-12 13:45] rowasc commented on #2531
AH! OK that makes sense. Sorry, I kind of assumed it'd be a new one.

I believe it'd be a second request that's sent when the user hits submit, just to handle it separately iff validation fails maybe? but I'm not sure

[2018-03-12 17:00] rowasc opened #2591 "Survey API - changes to add targeted survey"
### Purpose
To create and validate targeted surveys using the pre-existing survey endpoint (/api/v3/forms)

### Spec
For a targeted survey, the everyone_can_create flag must be set to false and the targeted_survey flag must be set to true.
- [x] Add `targeted_survey` flag to migrations and code
- [x] Add validation so that `everyone_can_create` has to be false when `targeted_survey` is true

### T

[2018-03-12 17:00] rowasc commented on #2591
@willdoran can you review? does this make sense?

[2018-03-12 17:01] rowasc opened #2592 "Survey API - Adding contacts to a targeted survey"
### Purpose
To attach a list of contacts provided by a user to a targeted survey.

### Spec
- [x] Add new endpoint /api/v3/forms/:id/contacts to receive contacts

- [x] After receiving a valid list of contacts:
    - [x] save all contacts to the database with their country code
    - validation happens here https://github.com/ushahidi/platform/issues/2595
    - [x] register an Event to start creat

[2018-03-12 19:07] rowasc commented on #2592
@willdoran Will, does this look like what we discussed today or did I misunderstood?

[2018-03-12 19:09] rowasc commented on #2531
dividing in a few different tickets that can be worked on independently. (added as references / dependencies as they are created)

[2018-03-12 19:20] rowasc commented on #2592
@willdoran updated to reflect conversation from friday (about only first message being created on the initial request )

[2018-03-12 19:32] rowasc commented on #2531
Thinking of the state table or contact / survey/ question. Thinking we need:
`contact_id`, `question_id` , `status`... where status would start off as "PENDING" then move to "QUEUED" once the job-queue picks it up then "DELIVERED" once it gets sent?
Then when we receive a response the new entry would be created when the message is created?

@kinstelli @willdoran thoughts?

[2018-03-13 02:26] kinstelli commented on #2535
I'm trying to think through what else we need to close this out, and I realize I'm stuck on the following open questions. Tagging @willdoran (who might have the most insights into this, though maybe not the time to answer):

1. Which parts of these requirements already exist? Does the platform-job-queue already interface with a SMS provider?
2. How do we know which SMS provider will be responsible

[2018-03-13 03:32] kinstelli commented on #2532
@willdoran , @rowasc  -- I was trying to think through the statuses of messages from creation to receipt of SMS from the user. I drafted a few updates regarding schema and the flow. Let me know if these make any sense, and please feel free to critique these as necessary.

[2018-03-13 03:41] kinstelli commented on #2531
@rowasc -- in response to your thoughts on the data table, I realized that message records do have a status (currently 'pending' and 'sent'), which might be fine, except that we might add a few more states for outgoing messages, like `'awaiting reply'` (similar to `sent` but means that there are child questions that depend on this), and `'done'`.

What we might need, however, is a table (called `t

[2018-03-13 10:28] Angamanga commented on #2540
@kinstelli @rjmackay I started preparing a deliverable-doc here: https://docs.google.com/document/d/1m_cUxvZ1Cdqoo6dCVEr-ZjjA7-1HlXe-RHWI7zerFCs/edit

[2018-03-13 11:46] tuxpiper opened #2593 "Importing CSV doesn't allow assigning multiple categories to a post"
### Expected behaviour
If a post has to be related to multiple categories, it should be possible to reflect this in a CSV file for importing.

### Actual behaviour
There's currently no CSV column formatting or mapping that platform can correctly parse to understand that the post needs to be assigned to multiple categories.

Only one category can be assigned to each imported post.

### Steps to rep

[2018-03-13 13:24] tuxpiper commented on #2593
I believe this will affect importing any data types that can take multiple values: multiple select lists and checkbox lists .

The essence of the problem is this:

While the CSV import code in the API assumes that any multiple values will be spread across several columns in the CSV ... the UI doesn't have any way for the user to specify a mapping of multiple CSV columns to a single form value.

[2018-03-13 13:36] rowasc commented on #2531
@kinstelli I guess I'm having trouble understanding why we need to mark the dependencies separately, considering there's an existing "priority" field for survey attributes?

[2018-03-13 13:48] kinstelli commented on #2531
@rowasc - No, you're absolutely right, I don't know why I thought we'd add a table here. Best reason of all to not work when I'm not feeling well. Removed it.

[2018-03-13 14:55] rowasc opened #2595 "Survey API - Contacts validation"
- [ ] Get rules from sms providers
- [ ] Sanitize the phone numbers before saving to Contacts or sending to SMS provider
- [ ] Ensure that all numbers are valid numbers for the survey country - https://github.com/giggsey/libphonenumber-for-php should check for validity of number by country. We are also doing this on the frontend.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-410

[2018-03-13 15:00] willdoran commented on #2591
@rowasc Yes this looks good to me.

[2018-03-13 15:22] willdoran commented on #2592
Yep this looks good, I think it covers all the functionality, moving it to ready for dev.

[2018-03-13 15:51] rowasc commented on #2591
starting this after our calls

[2018-03-13 16:11] Shadrock commented on #2573
This is a place-holder issue to hold 10% time for @Angamanga to continue with some FB bot research during the April and early May cycle [as outlined in the roadmap](https://docs.google.com/spreadsheets/d/1eMB83Dp-iC5aQNP4MykFAA0ekEHKKcvPunfJeHKXlbQ/edit#gid=1205873777). This will be largely research, writing possible scripts for the bot, and documentation work. There will be relatively little codi

[2018-03-13 16:13] Shadrock commented on #2572
This is a place-holder issue to hold 10% time for @willdoran or another dev to continue with some CREES research during the April and early May cycle [as outlined in the roadmap](https://docs.google.com/spreadsheets/d/1eMB83Dp-iC5aQNP4MykFAA0ekEHKKcvPunfJeHKXlbQ/edit#gid=1205873777). This will be assistance helping to gather or structure data from Uchaguzi so that the Open University can create a

[2018-03-13 16:47] kinstelli commented on #2532
@willdoran  - does this seem Ready for Dev?

[2018-03-13 17:24] willdoran commented on #2532
I think so

[2018-03-13 17:35] crcommons commented on #2528
Adding checklist for testing:
Step 1 and step 2.

Still needs work:
- functioning, mocked endpoint for country data
- Fix alert div styles to be blocks, rather than inline
- how to handle if user inputs ' ' or '   ',  etc... if at all? currently only handle totally empty string: ''

Testing checklist:
Step 1:
- [ ] Attempt to "Continue" to step 2 without filling in step 1; alerts should appear for

[2018-03-13 20:32] crcommons opened #2599 "Add API Endpoint for country codes"

[2018-03-13 20:36] crcommons commented on #2599
[{ "name": "Afghanistan", "dial_code": "+93", "code": "AF" }, { "name": "Åland Islands", "dial_code": "+358", "code": "AX" }, { "name": "Albania", "dial_code": "+355", "code": "AL" }, { "name": "Algeria", "dial_code": "+213", "code": "DZ" }, { "name": "American Samoa", "dial_code": "+1684", "code": "AS" }, { "name": "Andorra", "dial_code": "+376", "code": "AD" }, { "name": "Angola", "dial_code": "

[2018-03-13 21:32] rowasc commented on #2445
@willdoran @kinstelli I think we should move this to Testing?

[2018-03-13 21:41] kinstelli commented on #2445
Works for me

[2018-03-14 09:21] tuxpiper commented on #2559
@caharding could we add this to the next cycle?

[2018-03-14 09:25] tuxpiper commented on #1497
@caharding just a note that we received a bump about this from one of our clients (ref:           https://ushahidi.slack.com/archives/C88G57ND6/p1519907151000071 )

[2018-03-14 14:21] #2584 closed

[2018-03-14 14:48] rowasc opened #2601 "BUG: CSV Export history should ONLY show exports from the logged in user"
### Expected behaviour
- When I see my exports history, I only see the ones that belong to me
### Actual behaviour
- When I see my exports history as an admin, I see all the exports

### Steps to reproduce the behavior/error
- Login to http://csvexportsforever.v3-qa.ush.zone/settings/data-export or another qa deployment from v3-qa.ush.zone
- Go to the exports page
- Go to the history tab
- Expecte

[2018-03-14 18:55] crcommons opened #2602 "Opening sent SMS survey"
#Requirements
- [ ] routes should be adjusted so that SMS surveys open in sms view
- [ ] Survey name, description, # of recipients message, questions, and sent message must all be shown, per this design https://xd.adobe.com/view/a9b0da01-2589-465d-ab05-db3a178d6a6f/screen/9e86d2a1-324a-47f5-a8cd-3ee0426c98c3/review-sms-survey
- [ ] Response stats should be included as well
- [ ] View Responses but

[2018-03-14 20:38] #2591 closed

[2018-03-15 10:52] tuxpiper commented on #2593
Closing without merging due to the whole hackiness of it

[2018-03-15 10:58] tuxpiper commented on #2593
Convo from slack:

@rjmackay dixit:

@tuxpiper dixit:

[2018-03-15 11:44] tuxpiper opened #2603 "CSV import column mapping UI doesn't work on Firefox"
See https://github.com/ushahidi/platform/issues/3297 for more information
### Expected behaviour
When importing a CSV file using the Firefox browser, I should be able to map the correspondence between columns in the CSV and the survey questions.

### Actual behaviour
The mapping options appear empty, so there's no way to tell what I'm actually selecting

![2018-03-15 12 40 16](https://user-images.

[2018-03-15 16:21] crcommons opened #2604 "Navigating from collection in map view to different collection in data view doesn't work"
### Expected behaviour
When I go from a map-view-collection to a different collection that defaults to data view, it should work.

### Actual behaviour
When I go from a map-view-collection to a different collection that defaults to data view, the first collection will open in data view, not the new collection.

### Steps to reproduce the behaviour/error
Go to a collection that defaults to map view

[2018-03-15 16:53] #2492 closed

[2018-03-16 09:03] tuxpiper commented on #2017
This is technical description of the underlying problem for issue #2018

[2018-03-16 09:04] tuxpiper commented on #2018
Bump and adding client request tag. This issue has been flagged by a responder client. @caharding could we consider adding it to the next cycle?

Related issue #2017 describes the underlying problem in the API

[2018-03-16 13:15] tuxpiper commented on #2251
For upcoming cycle planning . Do we have an idea of how much time is required to fix this for good?

[2018-03-16 15:19] kinstelli opened #2606 "Association/state for Contact_id <-> Survey_ids"

[2018-03-16 15:48] kinstelli commented on #2606
@rowasc, @willdoran  -

Will and I talked about this briefly, but I'm open to feedback on whether this is the right approach, as opposed to (for example) adding a survey_id to contacts, or (our current situation) inferring associations between surveys/contacts through a complicated set of joins that might not always be accurate.

I have minor concerns that this introduces potential conflict of "tr

[2018-03-16 15:53] kinstelli commented on #2606
Also, criticisms of field or table names are welcome.

[2018-03-16 16:08] willdoran commented on #2606
So long as these are treated as foreign keys and the rules for cascade are honoured, I think this is ok. It should be managed by the inbound/outbound system. I think using the name targeted survey is good for the table name because it will be reusable.

[2018-03-16 19:43] kinstelli commented on #2606
@rowasc
I'm not sure where it makes sense to insert these, but it might be cleaner to do it as soon as possible -- the attribute id can be null, so it doesn't depend on a message being sent.

Also, yes, I was just thinking it might make more sense to call it something more like `last_attribute_sent_id`, to be clearer.

[2018-03-16 19:44] rowasc commented on #2606
ok neat. I'll add it to the part where the posts are created in #2592 then.
thanks @kinstelli

[2018-03-16 20:22] rowasc commented on #2599
@Angamanga note that the requirements changed to include translation

[2018-03-16 20:22] rowasc commented on #2444
@kinstelli why is this still in development? Are we missing something?

[2018-03-19 14:59] Angamanga commented on #2599
@romina @carolyn @will Could we add the country-names in the translation-file instead? We already have the languages there and the translation would work as it does in the rest of the app. And only fetch country_code and nb_code from the db

[2018-03-19 16:58] #2119 closed

[2018-03-19 21:21] crcommons commented on #2599
@crcommons test

[2018-03-19 21:36] crcommons commented on #2599
that makes sense to me. We'll still have to have the country name in the DB as well, otherwise we wouldn't be able to appropriately match the country code and the country name.

[2018-03-20 11:43] tuxpiper opened #2608 "Forgot password link doesn't work in private deployments"
### Expected behaviour
- In a private deployment
- when I request for a password reset
- and I receive an email with the details
- when I click the link in the email
- I should be taken to the password reset form

### Actual behaviour
- I am taken to the login form

![2018-03-20 12 40 13](https://user-images.githubusercontent.com/467393/37652503-09b09d4c-2c3c-11e8-8bec-646d3ec4861f.gif)

### Steps

[2018-03-20 20:37] #2539 closed

[2018-03-20 23:26] rjmackay opened #2610 "Walkthrough lumen branch with devs"
Walkthrough lumen branch with devs and record walkthrough.

[2018-03-21 04:40] Angamanga opened #2611 "Perform an accessibility-audit"
Perform an accessibility audit of Platform-client to get an idea what needs to be adjusted to reach the accessibility-standards (https://www.wuhcag.com/wcag-checklist/). Either ourselves or with the help of a tool (for example SiteImprove) or a consultant (if budget exists)

Steps:
1. Can we make it ourselves?
2. If not, find tool or consultant
2. If so, go through the checklist and perform the au

[2018-03-21 09:01] Angamanga commented on #2599
Workflow:
- create a migration with  `./bin/phinx create MyMigrationName` to create a table for country codes.
- - create country codes table
- - process the country code list in the migration and insert in the new table
- add the endpoint:
--- add the usecase for Read and Search of country codes (to list them)
--- add the entity for the table
--- add the endpoint in application/routes/default.php

[2018-03-21 09:03] Angamanga opened #2612 "Add country-codes to client"
## Overview
The wizard tool requires the user to select the country and country code. Rather than keep a giant data set of country codes in the client, we will store them in the DB. We will get the list of countries, translate them, and add the country name (translated) and dial code to the dropdown.

## Requirements
- [ ] Once #2599 is finished, create endpoint to get country codes
- [ ] Add tran

[2018-03-21 11:07] tuxpiper commented on #2608
This affects a deployment that we've done for a client

[2018-03-21 17:26] willdoran opened #2613 "Fix Client Master"
### Expected behaviour
- Master functions correctly with API
### Actual behaviour
- Develop incorrectly merged to Master

### Steps to reproduce the behaviour/error

#### Is is ready for development when
- [ ] Has a description that includes purpose of this particular feature/improvement (how it will help the user and for which use cases)
- [ ] Can be delivered within a sprint (make sure issues ar

[2018-03-22 09:04] Angamanga commented on #2612
UI for this is mostly done, waiting for api-endpoint to be finished so we can wire and then:
1. add translationstrings (can be done now)
2. process and add the translation-string (country_name) to the UI (need data from api)

[2018-03-22 09:07] Angamanga commented on #2563
Should have moved this to ready for QA. The UI for this is done, but needs the api to be able to properly QA it.

[2018-03-22 09:11] Angamanga commented on #2562
waiting for API to be able to:
- differentiate targeted survey and 'normal survey' when clicking in the survey-list
- get the stats for sent sms'es and responses

[2018-03-22 09:13] Angamanga commented on #2567
This is stubbed out in the UI but needs the real flag to be working + change the stub to actual check for flag.

[2018-03-22 09:14] Angamanga commented on #2534
There is a stub for this in the Targeted survey, but the actual field needs to be added to the datasources in client.

[2018-03-22 16:41] caharding opened #2615 "Remove "Select All" from Categories options"
Some clients have suggested that they expect that selecting all categories in a list would use the same pattern as the category items.

We need to investigate if this is a real user problem or that the feature has a real user need.

#### Is is ready for development when
- [ ] Has a description that includes purpose of this particular feature/improvement (how it will help the user and for which use

[2018-03-22 17:00] crcommons commented on #2579
Be sure to run the lighthouse audit in chrome on our current codebase. it provides some suggestions on what improvements we can make on loading the PL.

[2018-03-22 17:04] willdoran commented on #2576
I would strongly recommend that this section focuses heavily on how this will be QA'd by a human primarily because we are a good distance from real automation which is like Data Model a legit project of its own.

If however there is an immediate way we can do automation cool but please keep in mind that it is likely to be humans that have to run these scripts.

[2018-03-22 18:23] crcommons opened #2616 "Explore which Google Analytics metrics can be used to evaluate migration objectives and outcomes"
## Requirements
- [ ] Research/review google analytics that correspond to existing list of indicators and outcomes
- [ ] Put together brainstorm list
- [ ] Refine and finalize list https://docs.google.com/document/d/1Ng6KI-rvQ19217hOrc-zUF_fbgCMEUXsUdVEcNf_E_Q/edit
- [ ] Update framework indicators https://docs.google.com/document/d/1akWRV7qxR1NhBtDB6YprlA00GknpYYg-naxLroKNAHU/edit?ts=5ab1077b

##

[2018-03-22 18:28] crcommons opened #2617 "Take baseline measurements"
## Requirements
- [ ] Decide on timeframes or other limitations we will self-impose on take measurements per indicator e.g. if we're measuring page load time, what timeframe will we use as our baseline or how many page views will we use to get an accurate average measurement upon which to compare
- [ ] document details of limitations and requirements of measurements in tables
- [ ] Take measuremen

[2018-03-22 18:35] willdoran commented on #2478
@Erioldoesdesign Can we move these to done?

[2018-03-22 18:35] willdoran commented on #2451
@Erioldoesdesign Can we move these to done?

[2018-03-22 18:38] crcommons opened #2618 "Define data source, measurement procedures, data collection periods"
## Requirements

## Definition of done
- tables are updated with each definition per indicator

[2018-03-22 18:49] crcommons opened #2619 "Figure out how we will evaluate rate of event/goal completion"
## Definition of done
- evaluation plan is complete

[2018-03-22 19:40] kinstelli opened #2620 "Generate the next outbound SMS message, based on contact ID and last sent message"
#### Description

After an inbound SMS message is received, as described in #2532, an event will be triggered that will send the next message to a contact, if a next message exists. This ticket describes the process that creates that new message.

#### Requirements
Given the contact_id and the id of the last message sent, this process should:

- [ ] Determine which message should be sent next for

[2018-03-22 19:40] kinstelli commented on #2620
Feel free to update this if anything is missing.

[2018-03-23 00:08] caharding commented on #2291
Do you know if this issue is still occuring?

[2018-03-23 03:13] rjmackay commented on #2251
Landed https://github.com/ushahidi/platform-client/pull/748
but while it works in dev mode, but fails in a production build. Digging further

[2018-03-23 04:00] rjmackay opened #2621 "Lexer Error: Unexpected next character at columns 0-0 [ش] in expression [شكل]"
### Expected behaviour
No errors when changing languages

### Actual behaviour
Lots of lexer errors. This is caused because translators have translated the variable names within the translations. ie.
`Hide {{form}}` has been translated to `إخفاء{{شكل}}` rather than leave the variable as is: `إخفاء{{form}}`

#### Is is ready for development when
- [ ] Has a description that includes purpose of this

[2018-03-23 13:07] Angamanga commented on #2566
Duplicate of #2562, moving over info and closing

[2018-03-23 13:07] #2566 closed

[2018-03-23 15:50] willdoran opened #2622 "The old Post Detail/Edit views should be expunged from the code base"
### Overview

These views are redundant and should be refactored out.

### Dependencies
- The initial Post creation code is dependent on this view but should be refactored
- Legacy deployments use these views so we should create an internal redirect to capture that
http://abaaraha.org/urgent-needs-baahida/

#### Is is ready for development when
- [x] Has a description that includes purpose of this

[2018-03-23 15:52] willdoran commented on #2622
Legacy users need this code :(

[2018-03-23 16:12] rowasc commented on #2561
@crcommons  I'm stealing this from Mark so you can work on it. I'll be pairing and helping you out as needed .

[2018-03-23 17:48] willdoran opened #2623 "Formatting of error messages broken on Post Edit views"
### Expected behaviour
- Errors display correctly beneath fields

### Actual behaviour
- Errors cause Labels of subsequent fields to move
<img width="1118" alt="screen shot 2018-03-23 at 13 44 55" src="https://user-images.githubusercontent.com/2694405/37845314-8dfd9648-2ea0-11e8-8d88-8e7899de9dd2.png">

### Steps to reproduce the behaviour/error
- Create a new Post
- Enter a single character for t

[2018-03-23 20:09] kinstelli commented on #2577
Started a doc here, fwiw. https://docs.google.com/document/d/1VB8mi8vwryPu_KKBWqNG3hBK3pSnUgt2zJBBin8Ls7E/edit?usp=sharing

[2018-03-23 20:55] caharding commented on #2623
@justinscherer can you provide a design recommendation solution. I suggest either:
a) append spacing to accommodate error
b) place error to the right of the fields

[2018-03-23 21:20] justinscherer commented on #2623
^This is the correct solution [per the PL](http://preview.ushahidi.com/platform-pattern-library/master/assets/html/2_fragments/). We're missing the vertical spacing between fields.

Assigning Seth to look at this.

[2018-03-26 02:10] rjmackay commented on #2251
Turned out to be an issues with a combination of webpack plugins. See ushahidi/platform-client@bcc26c5 for details

[2018-03-26 02:17] rjmackay commented on #2251
Passed QA. Will deploy once I confirm other hotfixes are safe to deploy too

[2018-03-26 08:28] tuxpiper commented on #2541
I'd like to work on this,  sp. for metrics important for production

[2018-03-26 15:47] crcommons commented on #2541
Fantastic, @tuxpiper I've broken this issue/epic down into smaller issues. We've gotten a big chunk of the foundation work done and really need to hammer out the specific metrics. Take a look at the issues here and let us know what you think. https://app.zenhub.com/workspace/o/ushahidi/platform/boards?epics=6126775_2541&repos=6126775&showPRs=false

[2018-03-26 18:06] caharding opened #2625 "Include "How To Work With Ushahidi" on Plans page"
Katy wrote this great piece on how to partner with Ushahidi that answers a lot of common questions: https://www.ushahidi.com/blog/2018/03/23/so-how-would-we-work-with-ushahidi

Design @Erioldoesdesign                        @justinscherer                         can you take a look at how you think we could create a hack way to get this onto our website?

[2018-03-26 18:35] middle8media commented on #2623
This is fixed.

http://localhost:8000/assets/html/4_blocks/#pl-pattern-survey

[2018-03-26 19:06] #2623 closed

[2018-03-26 20:01] middle8media commented on #2611
My vote is to work with a consultant. I had an initial consultation with SiteImprove (a cloud based accessibility product) where they walked through their product dashboard. I took notes and they are sending a product demonstration video as well. I can do a deep dive when the time comes, but I think SiteImprove has huge value to our products and organization. It will help us meet accessibility sta

[2018-03-26 21:52] caharding opened #2626 "Decide on QA process to get things to Done"
Our current QA process is not well documented. Furthermore, it is not clear how people move code from In Dev to Done through testing.
- [ ] Decide what branches we develop on
- [ ] Decide what branches we test on
- [ ] Decide the process of moving QAed items to master
- [ ] Decide on process of making releases
- [ ] Document this whole process

Documentation is taking place here: https://docs.goog

[2018-03-26 22:09] rowasc commented on #2592
API example request:
- POST to /forms/:form_id/contacts
- POST body
{"form_id":1, "contacts":"598291636917,59898190532", "type": "phone", "country_code": "UY"}
- You will receive a 200 OK with "count" & "form_id" properties if successful
- You will receive a 400 for general erros (ie invalid user)
- You will get a 422 with validation errors specified if you send an invalid list of contacts or try

[2018-03-26 22:10] caharding commented on #2357
@justinscherer as you designed this mode do you think we should make any changes?

[2018-03-26 22:10] caharding commented on #2355
@middle8media is it possible to make a quick fix on this without new logic required by another dev?

[2018-03-27 02:10] rjmackay commented on #2613
@willdoran can you document what happened here? ie. you rewound master... from what commit? to what commit?

Trying to figure out what, if anything I should do to get these in sync now I merged the API changes. Or if I should just back those changes out again.

[2018-03-27 02:36] rjmackay commented on #2583
@willdoran I've deployed. Can you verify this deployed correctly?

[2018-03-27 02:37] rjmackay commented on #2585
@willdoran I've deployed. Can you verify this deployed correctly?

[2018-03-27 02:38] rjmackay commented on #2251
@tuxpiper @caharding RTL changes are live on ushahidi.io

[2018-03-27 02:38] #2251 closed

[2018-03-27 07:01] Angamanga commented on #2592
@rowasc Fantastic! I'll wire it up and test!

[2018-03-27 12:20] Angamanga opened #2627 "Perform css-performance-audit"
Perform a css-performance audit to identify areas where we lack and could improve.
#Todo#
1. Make a first audit with lighthouse on production-build to get first idea of where we lack and what selectors are not used. Evaluate results.
2. Is all css needed everywhere? (no its not), identify which parts can be divided and loaded later on when users enter that part (for example settings/data-view and

[2018-03-27 12:21] Angamanga opened #2628 "Research what/if there is something we must change for PL to make it work with react"
To get to know what options are for styles and react, and what the pros and cons are.
#Todo#
1. Research react-docs
2. Is there something that MUST get changed/done related to the PL to make it work with React?

[2018-03-27 12:24] Angamanga opened #2629 "Summarize recommendations for pattern-library from audit and other best-practice-sources"
Write a recommendation for pattern-library-performance based on
1. Performance-audit
2. Research from other sources/optimisation guides
3. Research about changes we absolutely need to do for styles in react

Summarise findings and a suggested recommendation on how to optimise our css-usage in the deliverable-template https://docs.google.com/document/d/1BXoBx7wqMraheHZbjIovTTiPYymRbBldSjz15C98G4w/e

[2018-03-27 12:27] Angamanga opened #2630 "Research css-optimisation"
Research and look at case-studies about how to optimise the performance of css

[2018-03-27 12:31] Angamanga commented on #2611
@middle8media Thanks! Do you have any idea about the cost? @caharding do we have budget for this? It would increase the chances of delivering accessible html-templates in time for the js-migration.

[2018-03-27 12:34] Angamanga commented on #2562
Left to do after api is done: Add the real count of recipients and responses

[2018-03-27 13:02] middle8media commented on #2611
@Angamanga I am writing up notes and details to present to @caharding. Will keep everyone posted.

[2018-03-27 17:41] middle8media commented on #2355
@caharding I can change the styling but the `0 for 0 reports` will need to be hidden programmatically by the devs. Will do this asap.

[2018-03-27 17:42] willdoran opened #2631 "User Management / Contacts Initial Spec"
### Overview
Construct a thorough high level initial spec for the Contacts UX Design in order to identify potential issues, time costs and complexity.

### Requirements
#### Cleint
- [ ] User view list changes
  - [ ] Basic PL style changes
  - [ ] Naming scheme change Users to People
  - [ ] Add person integrated into People list view
  - [ ] Add import contact template
  - [ ] Wire import contac

[2018-03-27 18:27] Angamanga opened #2632 "Do not show targeted surveys in the survey-list when adding posts"
Targeted surveys should be filtered out from the list of surveys a user can choose to add to.

TODO:
Filter out surveys that has the targeted_survey set to 1 when listing surveys in the add-post list.

Testing/demo-checklist
- [ ] Add a new targeted survey
- [ ] Go to map-view
- [ ] Click on the fab-button to add a new post
- [ ] The new targeted survey should not show up in the list
- [ ] Go to d

[2018-03-27 19:10] justinscherer commented on #2357
No question it could be improved. Not sure how high priority it is at the moment, to be honest. @Erioldoesdesign What do you think about a light, nice illustration for the background.

[2018-03-27 19:30] rowasc commented on #2601
@Angamanga I couldn't reproduce this.

[2018-03-27 20:07] crcommons opened #2633 "Finalize list of metrics for "Improve ability for Devs to build and deploy new code" Objective"

[2018-03-27 21:12] rjmackay commented on #1616
https://ushahidi.slack.com/archives/C024G437R/p1515623114000153

[2018-03-27 21:47] caharding commented on #2420
@willdoran can you confirm that this ticket should be closed in favor of the EPIC? Seems the research is done.

[2018-03-27 22:02] caharding commented on #2357
I think this would probably be better addressed in the UI/UX design debt for Cycle 5

[2018-03-27 23:06] caharding commented on #2626
@kinstelli FYI I've made this an EPIC for tracking in this cycle.

[2018-03-28 10:48] StaicyG commented on #2442
@willdoran issue #2442 only passed the first test.
Please expound on what the "error below" is from "Within a reasonable time frame(less than X mins) you should receive a notification as shown below:"
It takes too long to export the data (around 2 hours) and even after waiting for that long your session expires so you have to redo the steps again. Due to this the export never completes both for sm

[2018-03-28 11:41] StaicyG commented on #2429
@rowasc Just to clarify, I can see the test check boxes checked; does that mean that the QA has already been done?

[2018-03-28 12:29] willdoran commented on #2420
@caharding yep

[2018-03-28 12:34] willdoran commented on #2442
@StaicyG I created most tickets but I am not necessarily owner of the specific issues. I'm not sure how we can capture who the right person to contact is

@rowasc @kinstelli Do you guys have any idea why the download would be taking two hours, is that normal? Does it indicate that the jobs might not be running? Or may be there is something with the job deployment?

[2018-03-28 13:05] rowasc commented on #2442
@willdoran when I tested they were taking ~5 minutes which is how QA was configured to run.
From reading Stacy's comment, I'm concerned there might be some kind of mistake in the deployment tho.

We have a history tab for this exact reason, so people can go and download it whenever they remember to download it, even if their session expires. The links last ~24hs so even then they should be fine.

[2018-03-28 13:07] rowasc commented on #2429
@StaicyG we run tests for each ticket internally (the devs) before it gets to QA, it's a requirement in the team. So long story short, no, it just means a dev tested it before they merged it to develop. I'd still recommend testing it in case something went wrong at integration time

[2018-03-28 14:45] kinstelli commented on #2442
@willdoran , @rowasc

Some observations so far:
1. I don't see evidence on platform-export-qa to indicate that anything has been received from platform-job-queue:
- Per the queue logs on platform-export-qa, and the last job run was apparently on the 14th.
- Per the nginx logs, no calls have been received that look relevant (lots of scripts looking for phpmyadmin, though...should we whitelist IPs?)

[2018-03-28 17:34] kinstelli opened #2635 "Do load testing for outbound SMS system"
#### Requirements

[ ] - Create fake SMS API using Nodejs or other simple server to mimic function of SMS servers
[ ] - Add a realistic delay to this fake server
[ ] - Add logging to platform-job-queue subsystem to log steps in the sequence of events for outbound messages

#### Test
[ ] - Create 5000-10000 'pending' outbound messages in platform at the same time
[ ] - Wait for these pending messag

[2018-03-28 17:40] willdoran opened #2636 "Nodejs Testing Endpoint For Dataprovider SMS Outbound"
### Overview
Create simple Nodejs server to receive and log outbound SMS for Testing Network

### Requirements
- [ ] Configurable as datasource
- [ ] Runs on own server deployment
- [ ] Logs received HTTP requests for testing.

[2018-03-28 17:43] #2636 closed

[2018-03-28 17:51] kinstelli commented on #2535
@willdoran   - I realize we're probably missing a step here:

This process should also send an update back to platform to mark it as 'sent'.
Does that currently happen, or do we need to add this?

And if it doesn't, then I'm not sure the platform API has a way to receive these updates. That might need to be an added ticket.

[2018-03-28 18:08] willdoran commented on #2442
@StaicyG Can you retry we believe this should be working now?

[2018-03-28 18:50] kinstelli opened #2637 "CSV export request fails for jobs that are requesting a CSV header"
### Expected behaviour
A request for CSV using a URL such as `GET http://csvexportsforever.api.v3-qa.ush.zone/api/v3/exports/external/cli/57?limit=200&offset=0&include_header=1&api_key=.......` should initiate the generation of a small CSV file with headers.

### Actual behaviour
This request results in a `500 Internal Server Error` response with the following payload:
{"errors":[{"status":"Notice

[2018-03-28 19:28] aoduor opened #2638 "Unable to edit collection from Data Mode"
### Expected behaviour
I should be able to find an edit button somewhere on this page to edit my collections

### Actual behaviour
I can only create new collections from data mode

### Steps to reproduce the behaviour/error
*Log in
* Create a new collection and set default viewing mode to data
* Navigate to said collection
* Try to edit

#### Where does this issue happen?
- [ ] [Local setup with V

[2018-03-28 20:32] #2523 closed

[2018-03-28 21:40] justinscherer opened #2639 "Atoms - typography"
## Summary

These are the [currently existing font rules from settings.scss](https://github.com/ushahidi/platform-pattern-library/blob/develop/assets/sass/_settings.scss#L138-L142)

[code]

## Analysis:

- The bones of what we have is completely adequate. Our main font and font stack can stay the same for now.
- Reliance on allcaps (buttons, labels) to show tappability (less accessible, harder to

[2018-03-28 21:42] justinscherer opened #2640 "Atom -> Form fields"
# Analysis of current state

Look here to see [what we currently have in the PL](http://preview.ushahidi.com/platform-pattern-library/master/assets/html/2_fragments/)

![Screen Shot 2018-04-05 at 10.52.13 AM.png](https://images.zenhubusercontent.com/5a661d504b5806bc2bc3c395/7a930c14-de53-42e7-80a6-3974066ec490)
![Screen Shot 2018-04-05 at 10.52.18 AM.png](https://images.zenhubusercontent.com/5a661

[2018-03-28 21:43] justinscherer opened #2641 "Atom -> containers"
## Analysis

**Benefits of cards in Ushahidi right now:**
1. They are easy ways to structure information
2. They force down our information density with padding between content and the edge of a card and between the cards themselves.

**Problems:**
1. From Material Design - “The use of cards isn’t recommended when “a user is not directly comparing images or text.” https://medium.theuxblog.com/when

[2018-03-28 21:44] justinscherer opened #2642 "Atom -> Loaders and progress indicators"
# Loading indicators

## What we have
- Bouncing balls on first load
- bouncing balls inside buttons
- Yellow barbershop stripe on the top of elements

## What we need
- Branded first load screen instead of generic bouncing balls
- Lazy loading (elements load in order and you don’t have to wait for an entire page)
- The barbershop spinning thing is ugly as sin. We need something clean and obvious

[2018-03-28 21:51] justinscherer opened #2643 "Atom -> Vertical spacing variables"
## Current variables

You can find them in our `_settings.scss` doc [here](https://github.com/ushahidi/platform-pattern-library/blob/develop/assets/sass/_settings.scss#L138-L142)

[code]
They look like this laid out:
![old spacing.png](https://images.zenhubusercontent.com/5a661d504b5806bc2bc3c395/dcbd9f59-a19d-44b7-9afe-c782a35cb57e)

## Proposal

Basically, Fibonacci numbers from around the same

[2018-03-28 21:53] justinscherer opened #2644 "Atom -> responsive grid and viewport sizes"

[2018-03-28 21:54] justinscherer opened #2645 "Atom -> Map base layers"
## Solution

You can view a live, interactive version of the map on [Mapbox](https://api.mapbox.com/styles/v1/justinscherer/cjfxzqkmr2fbr2snwc0wimn5z.html?fresh=true&title=true&access_token=pk.eyJ1IjoianVzdGluc2NoZXJlciIsImEiOiJjamU3b3ZvYWgwNGt6MnhtOTR2M20wdHh5In0.ppiP-r4swli62CbnKdFR-w#11.9/-1.298625/36.824637/0
)

### Rationale
I used brand colours and fonts and tweaked the relative prominence o

[2018-03-28 21:55] justinscherer opened #2646 "Atom -> Points of interest for map"
reassess markers (POIs) on the map

Aha! Link: https://ushahiditeam.aha.io/features/PROD-402

[2018-03-28 21:57] justinscherer opened #2647 "Atom -> graphs and data visualizations"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-401

[2018-03-28 22:00] justinscherer opened #2648 "Molecule -> Navigation"
## Analysis

1. Our current nav is not scalable (e.g. languages like German make the labels too wide and break the pattern
2. Unlabelled icons (not accessible) and icons are not the representational view of what they are representing (not usable). Also we use colour change only for on-states (also not accessible).
2.5. Icon labels are microscopic...
3. Breadcrumbs in mode-context are great, but it

[2018-03-28 22:01] justinscherer opened #2649 "Molecule -> Labelled form fields in all states"
zero, hover, focus, error, warning, info

[2018-03-28 22:02] justinscherer opened #2650 "Molecules -> tabs and segmentation control"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-400

[2018-03-28 22:07] justinscherer opened #2651 "Molecule -> progress indicators(stepper)"
## Analysis

**Old stepper**
![old stepper.png](https://images.zenhubusercontent.com/5a661d504b5806bc2bc3c395/4c0ea953-a536-41b3-8e58-859d26105a81)

This is one of those elements where what we have does a fairly good job. Progress indicators, especially ones with complex steps, are a pretty tricky UI element to design in my experience and I don't see a good reason to change what we have in any sig

[2018-03-28 22:08] justinscherer opened #2652 "Molecule -> Tooltips"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-398

[2018-03-28 22:09] justinscherer opened #2653 "Molecule -> Breadcrumbs"

[2018-03-28 22:11] justinscherer opened #2654 "Molecule -> Pagination"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-397

[2018-03-28 22:11] justinscherer opened #2655 "Organism -> Forms"
A form is the logical combination of

- Input fields #2640, #2740, etc.
- Containers #2641
- Spacing Variables #2643
- Type #2639
- Buttons #2699
- and Navigation #2648

If we put those things together as they currently stand, it looks something like this:

![containers.png](https://images.zenhubusercontent.com/5a661d504b5806bc2bc3c395/bbc97940-6159-4c11-96d3-69052bbee1da)

![settings.png](https:/

[2018-03-28 22:12] justinscherer opened #2656 "Organism -> Search"

[2018-03-28 22:13] justinscherer opened #2657 "Organism -> Search/Filter/Sort"
## Analysis

Our current search/filter/sort component has gone through a lot of surgery over the last 6 months and the scars are showing. Beyond some pesky UI bugs that we haven't fixed yet, the need to include CTAs for saving searches and the sheer number and variability and logic of things to filter by has made this component a complete mess to use.

We **desperately** need to iron out our data

[2018-03-28 22:15] justinscherer opened #2658 "Organism -> Post/Report"
map view and data view

Aha! Link: https://ushahiditeam.aha.io/features/PROD-396

[2018-03-28 22:15] justinscherer opened #2659 "organism -> graphs/data viz"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-395

[2018-03-28 22:16] justinscherer opened #2660 "organism -> change log"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-394

[2018-03-28 22:17] justinscherer opened #2661 "Organism -> multi-deployment cards"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-393

[2018-03-28 22:18] justinscherer opened #2662 "Organism -> modals"
## Analysis

We currently have 2 modal styles in the pattern library, neither of which are used consistently in production. Modal windows are a fairly standard piece of UI, so I will just apply existing styles to a floating container on a translucent, dark background overlaying a page's content.

My primary issue with modals in our platform is that they are used inconsistently in the information a

[2018-03-28 22:19] justinscherer opened #2663 "Organism -> global navigation"

[2018-03-28 22:20] justinscherer opened #2664 "mode context/ secondary navigation"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-392

[2018-03-28 22:21] justinscherer opened #2665 "organism -> data list"
This is a slight upgrade from #2800 where the analysis rests for this issue. I needed about 20 iterations on the initial list I was using for secondary navigation in settings.

<img width="1666" alt="screen shot 2018-04-24 at 4 11 14 pm" src="https://user-images.githubusercontent.com/29209303/39216809-646449be-47da-11e8-833b-620c504cd02b.png">

## Inspiration

I stole pretty shamelessly for this i

[2018-03-28 22:23] justinscherer opened #2666 "Template -> Map View"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-391

[2018-03-28 22:24] justinscherer opened #2667 "Template -> Data view"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-390

[2018-03-28 22:25] justinscherer opened #2668 "Template -> Activity"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-389

[2018-03-28 22:26] justinscherer opened #2669 "Template -=> Settings and settings sub-pages"

[2018-03-28 22:27] justinscherer opened #2670 "Template -> Pricing"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-388

[2018-03-28 23:06] willdoran opened #2671 "Package Sec Audit Issues as Epic"
### Overview
Package Sec Audit Issues as Epic then push to PM

[2018-03-29 07:38] rjmackay commented on #2637
I messed this up yesterday. I didn't push changes to develop to stop it deploying to QA. So the most recent changes on develop got deployed to QA - that could be what broke this. Certainly you were probably testing the wrong commit. Sorry!

[2018-03-29 07:44] rjmackay commented on #2637
How would I reproduce this myself?

[2018-03-29 08:58] #2630 closed

[2018-03-29 09:54] StaicyG commented on #2442
@willdoran thanks for the heads up. Yes I agree we need to have a way of tagging the owner of the specific issues to make it easier for follow ups.
I have tested it and it works fine now. Thank you. I shall run the test again.

[2018-03-29 14:43] rowasc commented on #2637
It's solved now. I just got a successful CSV

[2018-03-29 14:43] rowasc commented on #2637
@kinstelli should we close this?

[2018-03-29 17:25] kinstelli opened #2673 "Ensure that an API endpoint exists on Platform to receive updates to message status."
### Requirements
[ ] - The API needs an endpoint to update a message status to something like 'sent' or 'undeliverable'

### Test (backend)
[ ] - Create a message, note its ID
[ ] - Send a request via Postman or similar tool to the specified API for that message, with a payload that contains the new status
[ ] - The message status should be updated in the platform DB

(Note: This may already exist

[2018-03-29 17:30] kinstelli opened #2674 "Add feature in dataproviders to update a platform message status upon successful send or failure"
#### Requirements

- [ ] When a message is sent to SMS provider, we need a way to update Platform with the new message status

Note: We are doing something similar with CSVs, where we send a callback to the platform:
[See this example.](https://github.com/ushahidi/platform-job-queue/blob/3e8aacc0c44d897f7a23063cc892303feb92b9a5/dataproviders.py#L106)

However, given the large bulk nature of this u

[2018-03-29 17:33] kinstelli commented on #2637
@rowasc
Some bad news: I'm afraid I'm still seeing this error for _some_ of the csv requests.

I get the impression that this might only happen with certain types of data during the process of converting it into CSV format.

Here is the most recent one. More strangely, this is not a request with include_header=1:

[code]

[code]

[2018-03-29 18:11] kinstella opened #2675 "Enforce `priority` uniqueness for form, form_stages, form_attributes"
We are using `priority` to generate followup messages. If two priorities are the same within a survey, then questions could either get skipped, or we will have a condition where the automatic generation of the next question won't be accurate.

### Requirements
- [ ] Ensure that no new records are created with same priority for the same form.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-38

[2018-03-29 18:13] rowasc commented on #2675
@willdoran @kinstelli we also need to decide how to handle it for pre-existing data. If two identical priority+stage entries are found, which one gets p=0 and which one is p=1? do we decide by attribute id being lower/higher?

[2018-03-29 18:25] kinstelli commented on #2675
Yeah, that's an excellent point, unfortunately.

I suppose we could create some tool to reconcile conflicts based on the id (since presumably that would mean sorting this according to the order of creation), but since it sounds like we'd have to update data in _every single deployment_, (i.e., we can't feature-flag a db constraint can we?) maybe a platform-wide database constraint is out of scope

[2018-03-29 19:18] rowasc commented on #2675
Yep. That's the more sane-ish way to do it right now.
- enforce via validation rules
- check for duplicate priorities when looking up the next message

[2018-03-29 21:51] kinstella opened #2678 "Ensure that contacts are only part of one active survey at a time"
###  Background

Because an inbound message can't be automatically associated with a particular survey, if a contact is part of multiple active surveys, the answers they send to various SMS questions can easily be confused with the wrong questions.

Therefore, our original spec requires that contacts can only be part of one active survey at a time.

The current plan is to assume that all newly imp

[2018-03-29 21:58] kinstelli opened #2679 "Create an alert that tells the user if any contacts are part of an existing, active targeted survey"
### Background

Because an inbound message can't be automatically associated with a particular survey, if a contact is part of multiple active surveys, the answers they send to various SMS questions can easily be confused with the wrong questions.

Therefore, our original spec requires that contacts can only be part of one active survey at a time.

### Requirements
- [ ] During the contact import

[2018-03-29 22:14] justinscherer commented on #2679
It's a simple warning message for now

![Screen Shot 2018-03-29 at 4.13.36 PM.png](https://images.zenhubusercontent.com/5a661d504b5806bc2bc3c395/1aab7362-b669-4452-8753-9d6f0b1a4a18)

[2018-03-29 22:15] kinstelli commented on #2635
A few more scenarios we might consider looking at:

- How does the system handle requests that are refused?
- How does the system handle outbound message records that are malformed?
- How many simultaneous normal requests does it take to break this system?
- How many simultaneous refused requests does it take the break this system?
- If a queue worker crashes, does a new one restart and does our a

[2018-03-29 22:59] kinstelli commented on #2637
For reference: according to the logs on the deployment, the array-to-string issue happens here.

 EMERGENCY: ErrorException [ 8 ]: Array to string conversion ~ (APPPATH/classes/Ushahidi/Formatter/Post/CSV.php [ 106 ]) (https://github.com/ushahidi/platform/blob/c916f4ad7e437067028f00c4d8740db89e9e3c62/application/classes/Ushahidi/Formatter/Post/CSV.php#L106)

[2018-03-29 23:10] kinstelli commented on #2637
@rowasc, @willdoran   - Any thoughts on what we ought to write to the CSV if one of the elements of `$values` is also an array?

Could we just `implode()` this into a single string? Or is it theoretically possible that we'll have several levels of arrays?

[2018-03-29 23:14] rowasc commented on #2637
@kinstelli this sounds like there is an issue before we get here, at "getValueForRecord". At this point, the values should all be sane and ready to be inserted. I can take a look when I wake up (it's a bit late now) , in case you want to assign it to me since I know this part and it's probably my own bug anyway

[2018-03-29 23:39] kinstelli commented on #2637
Okay, if you know it well and seems quick to fix, I'll tag you here, but if not I can try and work on it tomorrow.

[2018-03-30 04:12] willdoran commented on #2637
@rowasc @kinstelli I have confusing news, the above example passed for me :(
Could it be failing intermittently? I used the id 63, was this right?

[2018-03-30 19:28] rowasc commented on #2637
Posting the information we have now:
- The database in csvexportsforever is BROKEN. There are  many records pointing to invalid form attributes (ie form attribute id 999, but that attribute does not exist) and there are records of lat/lon (and possibly other fields) associated with text fields. This creates a problem with the csv getRecordForValue function that maps values to their format.
- We sh

[2018-03-30 19:28] rowasc commented on #2637
<img width="502" alt="screen shot 2018-03-30 at 12 00 49 pm" src="https://user-images.githubusercontent.com/2434401/38150868-62edc8dc-3437-11e8-84da-200dfe5f6ec8.png">
Screenshot of a record with a point field matched to text

[2018-03-30 19:56] rowasc commented on #2679
Note to self: POST /forms/id/contacts MUST validate against this and return the list of contacts that are in another survey + the other survey id

[2018-03-31 17:11] Erioldoesdesign commented on #2639
Found this that was interesting: http://www.bdadyslexia.org.uk/common/ckeditor/filemanager/userfiles/About_Us/policies/Dyslexia_Style_Guide.pdf

[2018-03-31 19:56] Erioldoesdesign commented on #2380
In UT, the terminology 'child and parent' is jargon/tech speak too.

[2018-03-31 20:04] Erioldoesdesign commented on #2458
This is likely to be covered in our UI refactor. Most likely the forms one: https://github.com/ushahidi/platform/issues/2655

[2018-04-02 16:20] middle8media commented on #2355
fixed via above commit in `develop`

[2018-04-02 16:20] #2355 closed

[2018-04-02 21:43] crcommons opened #2681 "display count of messages in sent survey"
## Requirements
Once API work is complete:
- [ ] display in step 4 "We are processing X number of messages. We have sent Y number and you've gotten Z." after survey is sent.

## Test script

[2018-04-02 21:56] crcommons commented on #2619
UPDATE: Romina and I discussed and we don't think it's possible at the present time to use events/goal completion as an indicator because it requires too many extra changes in the existing code base and we're already tight for time. We're going to discuss with Juan in his first couple of weeks about setting this up to start testing for future use. @tuxpiper                        @rjmackay

[2018-04-02 21:59] crcommons commented on #2633
Can you look at table 2 in the M&E plan results framework tables and discuss if/where/how we can get the data necessary to take the above measurements and questions and concerns in comments? Need this done by EOD Wednesday so we can finish #2618 and #2617 by Monday. @rjmackay @tuxpiper

[2018-04-02 22:00] crcommons commented on #2616
Can you look at table 1 in the M&E plan results framework tables and discuss if/where/how we can get the data necessary to take the above measurements and questions and concerns in comments? Need this done by EOD Wednesday so we can finish #2618 and #2617 by Monday. @rjmackay @tuxpiper

https://docs.google.com/document/d/1akWRV7qxR1NhBtDB6YprlA00GknpYYg-naxLroKNAHU/edit?ts=5ab1077b

[2018-04-03 08:33] StaicyG commented on #2442
@here
Test 1: for the small data set:
The second column on the left reads "Import" instead of export
After selecting select data to export, a list of the fields to export appear but are not clickable or selectable.
After clicking on "Export button" an error message displays because no data was selected

Test 2: Large data set
After opening the export file, the title for each column isn't visible h

[2018-04-03 09:08] StaicyG commented on #2444
@willdoran Is this tool on the QA test platform? How do I access it?

[2018-04-03 11:36] StaicyG commented on #2403
@rowasc
I tried opening data mode to compare the information there with the data in CSV and I received the error below:
![Screen Shot 2018-04-03 at 2.31.50 PM.png](https://images.zenhubusercontent.com/5a8e72064b5806bc2bc7edf1/4db9e984-cc8c-4022-b4cf-dbc6fa963f1d)

and yet when you look at map view, there seems to be quite a number of posts made to the different surveys as shown below:
![Screen Sho

[2018-04-03 11:40] StaicyG commented on #2400
@rowasc

I am not able to view column titles from the CSV exports as shown below:
[Uploading... Screen Shot 2018-04-03 at 2.38.47 PM.png ]

[2018-04-03 12:44] willdoran commented on #2444
@StaicyG Hey, you can't access it directly but when you order a CSV to be exported it is the underlying system that handles that so by exporting CSVs you are testing it indirectly. Sorry should have made that clear!

We don't have any good load tests defined that you can run to tests it. But you could try to export several large CSVs and see if you can cause it to break. It is most likely to be se

[2018-04-03 12:52] #2581 closed

[2018-04-03 12:53] crcommons commented on #2581
Decided to remove this as a body of work because we have too much work to do. Using the lighthouse PWA audit checklist instead. Will figure out work as we go.

[2018-04-03 13:00] crcommons commented on #2627
Awesome! Can your deliverable include recommendations how to make recommended do it and when we can/should or is it going to be ? I just want to make sure changes that should be made during the setup actually happen.

[2018-04-03 13:22] Angamanga commented on #2627
@crcommons I added a specific issue for the recommendation: https://github.com/ushahidi/platform/issues/2629

[2018-04-03 18:03] dalezak opened #2682 "Map shows 'undefined' message while loading deployment information"
### Expected behaviour
Everything works perfectly, and is super awesome!

### Actual behaviour
While loading deployment information, an `undefined` message is displayed in the top left corner of the site.

### Steps to reproduce the behaviour/error
Visit https://dale.ushahidi.io and watch the top left corner of the page.

#### Where does this issue happen?
- [ ] [Local setup with Vagrant ](https:/

[2018-04-03 19:42] kinstelli commented on #2673
Marking this as 'done', since it was a non-issue in the first place.

[2018-04-03 19:45] kinstelli opened #2683 "Ensure that a count of sent messages is available to the client"
### Requirements
- [ ] Include a count of sent and received messages, per survey -- see client requirements at #2681
- [ ] There is an endpoint at `/forms/:formId/stats/` where some stats information is already provided. If possible, this data should be included there.

Per #2681 , the API should provide this data:

"total_messages_sent": 2113,
"total_messages_pending": 887,

[2018-04-03 20:01] kinstelli commented on #2533
Does anyone have strong opinions on where this data should live?

My guess is that this should be in the `config` table, but I'm not sure if it deserves its own `config_key`, along with a currency, or if we ought to embed it into each data provider's JSON details (since, in theory, this cost might vary per provider), though I assume this is much more complicated.

@rjmackay , @willdoran ??

[2018-04-03 20:39] willdoran commented on #2533
Yeah, I'm not positive where it should go, it could in the short term not be user set but instead just be in a .env somewhere.

[2018-04-03 22:45] rjmackay commented on #2533
@kinstelli keeping it in config makes sense. The way we configure data providers need a rework eventually but right now config is the appropriate place

[2018-04-03 23:40] caharding opened #2684 "Merge Obfuscation (formerly "Anonymization") of Reporters into Core"
### Requirements:
- [x] User can configure Hide Location per Survey
- [x] User can configure Hide Author Information per Survey
- [x] User can configure Hide Date/time per Survey
- [x] User can set a global value for the precision of locations when using Hide Location
- [x] When Hide Location is enabled, location will be only precise to a certain number of decimal places
- [x] When Author Informat

[2018-04-03 23:40] caharding opened #2685 "Anonymization of Reporters Mobile"
Reference #2398 for Client issue

Aha! Link: https://ushahiditeam.aha.io/features/PROD-385

[2018-04-04 00:36] caharding commented on #2631
@justinscherer FYI here is a quick tech spec on estimated effort to do the first lift of a People mode. But I think we're waiting on a design revision based on the feedback session before we can give this a more thorough spec.

[2018-04-04 03:46] rjmackay opened #2688 "Test the size, latency, and client burden of including both Angular and React in one UI"

[2018-04-04 03:46] rjmackay opened #2689 "Test running Angular & React side by side"

[2018-04-04 03:47] rjmackay opened #2690 "Identify what data is shared across different sections of the app ie. where do we *need* shared state? Attempt to identify self contained sections."

[2018-04-04 03:47] rjmackay opened #2691 "Research and decide on strategy for RTL/i18n handling"

[2018-04-04 03:48] rjmackay opened #2692 "Find a state management approach for react and angular"

[2018-04-04 06:34] Angamanga opened #2693 "Name of post from sms should not contain contact-info"
The posts that are generated from each contact for targeted surveys contains contact info. This should be removed.

## Spec:
- When I retrieve a post that belongs to a targeted survey, I should not see the contact number that it was created for
- When I retrieve a post that belongs to a targeted survey, I should see "Survey Name" and an autogenerated number. Example: "newsurvey - 107812"
-

## Tes

[2018-04-04 08:14] Angamanga commented on #2602
@crcommons I think this is a duplicate of this: https://app.zenhub.com/workspace/o/ushahidi/platform/issues/2562
Its already in the sms-branch but needs to be wired to the actual stats.

[2018-04-04 12:14] Angamanga commented on #2557
New tag pushed to PL (v3.7.2-rc.35)

[2018-04-04 12:15] Angamanga commented on #2599
Merged to `cycle-2-sms-api`

[2018-04-04 12:24] Angamanga commented on #2530
Waiting for cost-estimates

[2018-04-04 13:52] crcommons commented on #2683
@kinstelli If possible, we should return this data with the form/stats api call we're already doing.  We're calling "/forms/:formId/stats/".

[2018-04-04 18:18] rowasc commented on #2561
Merged in cycle2-sms-api

[2018-04-04 20:24] rowasc commented on #2674
@willdoran said this is done
Please close @kinstelli

[2018-04-04 21:31] caharding opened #2695 "Push COMRADES fixes to Production"
COMRADES changes merged in December are unreleased. They need to be pushed to production. However, there may be blocking bugs that should first be Speced.

[2018-04-04 21:32] caharding opened #2696 "Push Categories Fixes To Production"
There are Categories issues that have not been pushed to production. Opening this issue to make sure this work happens.

[2018-04-04 21:36] caharding commented on #2695
References #2613

[2018-04-04 21:40] kinstelli commented on #2674
@willdoran  - I'm just confirming, is this just marking messages as 'sent'?
Is it updating several at once, or one-by-one?

[2018-04-04 21:47] willdoran commented on #2674
@kinstelli This is handled already by the dataprovider job that runs on the api side, so once platform-job-queue fires the dataprovider outgoing command the message status is updated as part of that process.

[2018-04-04 21:58] kinstelli commented on #2674
Nope, that's all I was asking.

[2018-04-04 22:04] kinstelli commented on #2681
I wanted to clarify some of this, since various devs have been discussing it. I think we initially hoped for the information provided to the user to be very simple, but some of us have concerns about how this is potentially misleading/confusing.

Below are some of my concerns about providing data in the format described above. ( @rowasc , feel free to add/edit this to include your concerns as well

[2018-04-04 22:09] kinstelli commented on #2534
@rowasc @Angamanga @crcommons @justinscherer @willdoran

Does anyone have concerns about just hardcoding the SMS cost for the primary customer and pushing this to a lower priority (and potentially to a future cycle) -- at least until we decide how much control we want to users to have over this information?

[2018-04-04 22:27] kinstelli commented on #2403
@StaicyG - Sorry about that, the data was messed up on the csv QA server, but it should have been fixed as of this morning. I'm sending this back to Testing column.

[2018-04-04 22:28] kinstelli commented on #2400
@StaicyG  _ Can you try this again, since we've recently changed the data on the server?

[2018-04-04 22:32] kinstelli commented on #2442
@StaicyG  - Sorry again for reassigning this, but can you try this again now that the data on the server has been updated?

[2018-04-05 00:41] crcommons commented on #2602
@angamanga We still have to show the number of contacts that the user entered in step 2. Do we have that saved somewhere were we can easily access that data? I know you were working on contacts. If not, we can probably add it to the stats api request.

[2018-04-05 01:12] crcommons commented on #2681
I agree this is very confusing. Also given the fact that messages are not all sent at one data and time, it will be difficult to have something like We sent your survey to {{number of recipients}} people on {{data}} at {{time}} UTC, which was in the design.

I definitely agree we should have a sent and pending. Perhaps a message that says "We're processing your messages" when sent for Q1 is still

[2018-04-05 02:03] justinscherer commented on #2681
Good to know that this complexity exists. What does "pending" actually mean in this context? @kinstelli @crcommons

[2018-04-05 02:09] justinscherer commented on #2534
We could hardcode something like this for now: "We will send `(numquestions)` questions to `(numrecipients)` people via SMS for a total of `(numquestions * numrecipients)` messages. your telecommunications provider will charge you for each message. Please be careful about the costs you will incur by sending this survey. This action cannot be undone.

[2018-04-05 02:10] willdoran commented on #2681
@kinstelli To be useful or meaningful the amount of data we would have to show users would have to be in the vein of what you've marked in point 2.

I would be concerned that the single line in the design would be misleading because it implies a moment in time that will be fleeting at best. We can at the moment do the following sort messages by targeted survey, by question, by status and draw out

[2018-04-05 02:27] rjmackay commented on #2695
@caharding just to be clear. This is already very much ready to go as I considered it part of gettin #2613 complete

[2018-04-05 02:27] rjmackay commented on #2696
@caharding just to be clear. This is already very much ready to go as I considered it part of gettin #2613 complete

[2018-04-05 02:29] justinscherer commented on #2681
"We are processing X number of messages. We have sent Y number and you've gotten Z."

The simplified version sounds good to me for now. Let's follow up with users and see what kind of info they need before we build in complex sending SMS analytics visualizations.

[2018-04-05 07:54] Angamanga commented on #2534
@kinstelli I agree with @justinscherers option. A plus there is that way don't make any estimates based on the users input that later could turn out wrong with the result that the actual cost would be much higher than what we present...

[2018-04-05 11:13] StaicyG commented on #2444
@willdoran thank you for the clarification.

The Data Export Process Handler tool seems to be working well.

[2018-04-05 11:32] StaicyG commented on #2582
@rowasc

Passed test. Moving it to "waiting to deploy"

[2018-04-05 11:42] willdoran commented on #2447
@StaicyG How did you test the update so I can take a look, thanks

[2018-04-05 12:15] StaicyG commented on #2428
@Angamanga what does this mean? : "Completion of this ticket should mark a demo point"

[2018-04-05 12:28] StaicyG commented on #2445
@willdoran how do I test for this? Still by trying to do exports of large data?

[2018-04-05 12:34] willdoran commented on #2445
@StaicyG This one should be fine I'll move it

[2018-04-05 12:35] StaicyG commented on #2445
@willdoran ok thanks

[2018-04-05 13:00] StaicyG commented on #2442
@willdoran

Test 1: Small data set. After exporting select fields from the deployment, the CSV file still has all the fields from the deployment and not just the selected ones. Therefore CSV file doesn't display the expected data.

[2018-04-05 13:05] willdoran commented on #2442
@StaicyG thanks, @kinstelli do you know this one?

[2018-04-05 13:42] Angamanga commented on #2428
@StaicyG It means that it should be demoable when the ticket is done. That checkbox is mostly for when we spec and divide things into smaller pieces, each piece should be demoable...

[2018-04-05 14:57] kinstelli commented on #2442
@willdoran -- I see this requirement is spec'd in #2405, but I don't know if the API side of this was built.
@Angamanga , @rowasc : Do you know if there's a corresponding API piece for this? ("After exporting select fields from the deployment, the CSV file still has all the fields from the deployment and not just the selected ones." )

[2018-04-05 15:07] kinstelli commented on #2534
Ooops, I think my cough suppressant was controlling my mind when I wrote that. Sorry. I didn't really mean hardcoding -- I meant that we'd just include this as a deployment configuration on the backend, but not provide a way for them to change it in the UI, at least not yet.

That said, I do like this approach better. Can we consider this postponed until future UX research is done, and I'll add a

[2018-04-05 15:49] kinstelli commented on #2683
Sounds good, @crcommons. Adding it to spec.

[2018-04-05 16:12] willdoran commented on #2535
@kinstelli Yes, but we're going to load test it today to make sure and identify any issues that might crop up and mitigate, I'll up date the ticket after the tests!

[2018-04-05 16:27] kinstelli commented on #2683
Per #2681 , the API should provide this data:
[code]

If possible, API could also include something like this:
[code]

[2018-04-05 17:25] justinscherer opened #2698 "Atoms -> Checkboxes"
## Analysis

Our current check boxes are fine except for a few minor things:
- The boxes are too small to be tapped comfortably
- the boxes rely on inset drop-shadows for visibility
- the outlines don't contrast enough on white
- they don't have a pattern for errors, et al.
- the checkmark icon is very small and a bit difficult to see

## Proposal
![checkboxes.png](https://images.zenhubusercontent

[2018-04-05 17:28] justinscherer opened #2699 "Atom -> radio buttons"
## Analysis

Our current radio buttons are fine except for a few minor things:
- The radio button circles are too small to be tapped comfortably
- the circles rely on inset drop-shadows for visibility
- the outlines don't contrast enough on white
- they don't have a pattern for errors, et al.

## Proposal

![radio buttons.png](https://images.zenhubusercontent.com/5a661d504b5806bc2bc3c395/d430c0d1-

[2018-04-05 17:28] justinscherer opened #2700 "atoms -> dropdowns"
These ones were fairly straightforward. Dropdowns just inherited the styles from [other form fields (#2640)](https://app.zenhub.com/workspace/o/ushahidi/platform/issues/2640) and [spacing variables (#2643)](https://app.zenhub.com/workspace/o/ushahidi/platform/issues/2643).

This meant getting rid of dropshadows and carrying over the chevron icon we use currently.

## Solution

![droppdowns.png](ht

[2018-04-05 17:36] justinscherer opened #2701 "atom -> date picker"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-382

[2018-04-05 17:37] justinscherer opened #2702 "Atom -> Time picker"

[2018-04-05 17:48] justinscherer commented on #2643
### Arbitrary ideas:

Fibonacci numbers: 8, 13, 21, 34, 55
Fibonacci sequence beginning with 12: 12, 24, 36, 60
Fibonacci sequence beginning with 6: 6, 12, 18, 30, 48, 78

[2018-04-05 19:41] rowasc commented on #2442
@willdoran @kinstelli this was the "include"/"exclude" feature. In theory it was already built in the api, yes

[2018-04-05 19:43] rowasc commented on #2683
excellent. @kinstelli the "1", "2" indexes are the form attributes?

[2018-04-05 19:46] kinstelli commented on #2683
Yes, sorry if that wasn't clear.

Incidentally, I've been trying out an SQL statement for this, but haven't completely solve it. If it helps, here's what I've got so far:
[code]

[2018-04-05 19:47] rowasc commented on #2683
super cool. Thanks.I'll get on this  today. Should be super easy

[2018-04-05 20:41] crcommons commented on #2602
This work was partially complete, so I've updated the issue to reflect the remainder of what needs to get done; here's the old issue:

## Overview
After an SMS survey has been sent, the user should be able to select the survey and view details of the sent survey in the same format as the wizard tool (but not editable). Additional relevant stats will be added to the view as well.

## Requirements
-

[2018-04-05 20:42] caharding opened #2703 "Test that Pattern Library Documentation works"
### Expected behaviour
Developers want to be able to update the pattern library

### Actual behaviour
Seth has updated the documentation, but we need to stress test it.

http://preview.ushahidi.com/platform-pattern-library/master/assets/html/front-end-guidelines/introduction.html

### Steps to reproduce the behaviour/error
Read documentation and test implementing a small change
#### Where does thi

[2018-04-05 20:43] caharding opened #2704 "Updated PL documentatino to include how to merge into the platform"
http://preview.ushahidi.com/platform-pattern-library/master/assets/html/front-end-guidelines/introduction.html

[2018-04-05 21:07] crcommons commented on #2681
Closing in favor of #2562

[2018-04-05 21:07] #2681 closed

[2018-04-05 21:07] crcommons commented on #2562
Closed #2681 in favor of this issue

[2018-04-05 22:29] kinstelli commented on #2637
This appears to work now. This should be implicitly QAd as described in other tickets, so I'm closing it.

[2018-04-05 22:29] #2637 closed

[2018-04-05 22:46] kinstelli commented on #2443
I'm not sure if this is more relevant to the CSV exporter tool, or if it's an issue with the creation of CSVs to begin with, but since this is a problem that exists at the 200-row line -- which is where each chunk is divided -- I think this might be related to the exporter.

In short, the number of columns is different for the first export than it is for the subsequent chunks. See the ID column (c

[2018-04-06 03:02] rjmackay commented on #2540
- So I did a quick build with preact + https://github.com/coatue-oss/react2angular + a single react component running inside angular.
    - Code is here https://github.com/ushahidi/platform-client/compare/develop...experiment/react-angular
    - It adds maybe 200k raw, but only 20k once uglified... if that.
    - *Conclusion*: running react inside angular is a really minimal hit to page weight.

-

[2018-04-06 03:08] rjmackay commented on #2540
I also ran a visualizer over our routes as a quick answer to 'What are our top level components?'

<img width="1213" alt="screenshot 2018-04-06 12 14 32" src="https://user-images.githubusercontent.com/7965/38401750-bc0de5cc-39ab-11e8-9761-303e55933834.png">

As discussed:
- Settings views are standalone, along with a few others: activity, login, register
- Map and Data are sort of separate
    - B

[2018-04-06 03:27] #2420 closed

[2018-04-06 05:46] TechnoDexx opened #2705 "[ErrorException] The each() function is deprecated."
### Expected behaviour
Run Phinx Migration normally
### Actual behaviour
 Running migrations
Phinx by Rob Morgan - https://phinx.org. 0.8.0

using config file ./application/phinx.php

  [ErrorException]
  The each() function is deprecated. This message will be suppressed on further calls

### Steps to reproduce the behaviour/error
1. Install PHP 7.2 , clone Ushahidi Platform repo and run "bin/upda

[2018-04-06 06:02] TechnoDexx commented on #2705
We have new version  of Phinx (0.9.2 vs 0.8.0 in our project). Maybe it help to solve my problem. Thank you.

[2018-04-06 10:24] StaicyG commented on #2400
@kinstelli
The CSV file has a lot of columns with confusing titles that do not necessarily match which the field names on the platform.

[2018-04-06 11:41] StaicyG commented on #2403
@kinstelli

The data on the CSV file seems to be jumbled up, some "title names" fall under the contact column, some fall under "sets" column some fall under "content" column.
There is no column for "date" and "date and time" as indicated from the test script
no column named "image" or "video" : the ones that are there are link0 and link1. This makes it hard to tell apart the video link from the ph

[2018-04-06 11:42] StaicyG commented on #2428
Thanks @Angamanga

[2018-04-06 14:44] caharding commented on #2081
Rate limiting is a platform authorization issue which will be fixed by Lumen

[2018-04-06 14:50] Erioldoesdesign commented on #2693
@justinscherer If you haven't seen this because of the various slack and git 'white noise'

Very in favour of 'Survey name + Auto-generated person number' solution.

[2018-04-06 15:25] kinstelli commented on #2400
This looks like it's just not working as spec'd. Marking it as a bug.

[2018-04-06 15:26] rowasc commented on #2400
@kinstelli can you add details?
thanks

[2018-04-06 15:29] kinstelli commented on #2400
Copying what Staicy left on another ticket, which includes some examples:

---
The data on the CSV file seems to be jumbled up, some "title names" fall under the contact column, some fall under "sets" column some fall under "content" column.
There is no column for "date" and "date and time" as indicated from the test script
no column named "image" or "video" : the ones that are there are link0 and

[2018-04-06 15:43] justinscherer commented on #2693
seconded.

[2018-04-06 15:45] justinscherer commented on #2534
^^ What warning will we be showing in this case?

[2018-04-06 17:43] kinstelli commented on #2679
The API will be checking against the existing surveys to ensure that a contact is allowed to be part on only one targeted_survey.

However, if Design feels that a simple warning will suffice, then I suppose this client feature can be omitted for this cycle.

[2018-04-06 17:51] crcommons commented on #2534
@kinstelli Wondering about this too. Right now we just have "This could cost up to USD $." and am not sure what amount or calculation to put in.

[2018-04-06 17:56] kinstelli commented on #2534
@justinscherer, @crcommons -

In hindsight, I like Justin's suggestion better than taking on the liability of SMS costs, especially since the model of pricing might not always be a constant cost per SMS message.
Should we stick with something like the following?

---
"We will send (numquestions) questions to (numrecipients) people via SMS for a total of (numquestions * numrecipients) messages. you

[2018-04-06 18:00] kinstelli commented on #2533
Per discussion on #2534, I think we're going to avoid estimating costs to the user for now, and instead just provide a general warning about potential costs incurred.

[2018-04-06 19:30] crcommons commented on #2577
Note to address RTL and i18N

[2018-04-06 19:31] crcommons commented on #2691
Made a note in that issue that we should discuss

[2018-04-06 19:36] caharding commented on #2625
@Erioldoesdesign @justinscherer I know this is a dangling issue from this cycle, but we'd love to close it if possible. Any hack solution?

[2018-04-06 19:52] justinscherer commented on #2534
Looks good. Thanks all.

[2018-04-06 21:32] justinscherer commented on #2625
We could just add a FAQ section like we have on https://www.ushahidi.com/plans and turn Katy's thing into the content.

[2018-04-09 08:41] Angamanga commented on #2538
@justinscherer @Erioldoesdesign There is no designs for this but would something like this work?

 ![Screen Shot 2018-04-09 at 10.39.24.png](https://images.zenhubusercontent.com/5a6f2bce4b5806bc2bc4b158/e5266ecf-21bb-4898-b792-5d1bad485bb0)

![Screen Shot 2018-04-09 at 10.39.18.png](https://images.zenhubusercontent.com/5a6f2bce4b5806bc2bc4b158/6a27f1cd-0fb2-40af-8d58-4adef94d7038)

[2018-04-09 13:30] Erioldoesdesign commented on #2698
omg I love these

[2018-04-09 13:31] Erioldoesdesign commented on #2700
Just an FYI - I sort of noticed that drop downs (which I presume you're working on right now) and containers have a very similar style basis.

I'm uploading my container work now but it'd be good to see where there's overlap on these two atoms

[2018-04-09 15:27] willdoran opened #2710 "Update webhooks to remove enforcing from requirement"
https://forums.ushahidi.com/t/how-to-use-webhooks/4417/4

Aha! Link: https://ushahiditeam.aha.io/features/PROD-381

[2018-04-09 18:37] caharding commented on #1852
This should be covered by Lumen branch

[2018-04-09 18:40] crcommons commented on #2695
Will be part of next release

[2018-04-09 18:41] Shadrock commented on #1681
@Erioldoesdesign this issue is related to the discussion we had about CREES (and to less of an extent YODIE), which is the tool that allows incoming posts to be automatically tagged. There was some discussion about giving the user more information about how the post was tagged (e.g. by a machine or by a person) and if there was some level of confidence in the accuracy of the tagging. This thread i

[2018-04-09 18:56] caharding commented on #2519
@Shadrock can you scope this out more

[2018-04-09 18:56] caharding commented on #2518
@Shadrock please update scope

[2018-04-09 18:58] caharding commented on #2520
@Shadrock please add a paragraph of scope

[2018-04-09 19:12] crcommons commented on #2685
Waiting on Lumen branch, so moving to cycle 4

[2018-04-09 19:31] caharding commented on #2572
@Shadrock to add additional context in this scope and to open a bug for additional technical info from the partner

[2018-04-09 19:37] caharding opened #2714 "Update `lumen` branch with changes from `develop`"
Probably in a couple of stages:
-  [ ] Merge `master` into lumen
-  [ ] Merge `develop` or SMS release into lumen

[2018-04-09 19:41] caharding commented on #1372
@rjmackay can you break this out into you'd like to accomplish this cycle

[2018-04-09 19:51] caharding commented on #2397
Next action is for @Erioldoesdesign to review this issue for design scoping so we can get back to @Shadrock @caharding  on anticipated timeline for design

[2018-04-09 21:33] caharding commented on #2374
@justinscherer are you OK fixing this in the JS Framework update instead of now?

[2018-04-09 21:36] caharding commented on #2390
Not a usecase for viewing the 0 state of data mode. Closing.

[2018-04-09 21:36] #2390 closed

[2018-04-09 21:40] caharding commented on #2341
Fix: add Name* validation requirement when creating a new Field

[2018-04-09 21:42] caharding commented on #2468
Would like Dev to investigate for 30m, if there is not a clear potential solution, we will move to next cycle

[2018-04-09 21:46] caharding commented on #2005
@rjmackay did you ever retest this, we need to prioritize for next Cycle

[2018-04-09 22:05] crcommons commented on #2431
I did not fix this... if it's no longer an issue, it was either someone else or it was a ghost @caharding

[2018-04-10 00:33] Shadrock commented on #2518
There are three issues under the HDX epic that relate to the use of the humanitarian exchange language (HXL) and how it might be applied to the data structure of an Ushahidi/COMRADES deployment: [#2518](https://github.com/ushahidi/platform/issues/2518), [#2519](https://github.com/ushahidi/platform/issues/2519), [#2520](https://github.com/ushahidi/platform/issues/2520). I view all of these issues a

[2018-04-10 00:34] Shadrock commented on #2519
There are three issues under the HDX epic that relate to the use of the humanitarian exchange language (HXL) and how it might be applied to the data structure of an Ushahidi/COMRADES deployment: [#2518](https://github.com/ushahidi/platform/issues/2518), [#2519](https://github.com/ushahidi/platform/issues/2519), [#2520](https://github.com/ushahidi/platform/issues/2520). I view all of these issues a

[2018-04-10 00:34] Shadrock commented on #2520
There are three issues under the HDX epic that relate to the use of the humanitarian exchange language (HXL) and how it might be applied to the data structure of an Ushahidi/COMRADES deployment: [#2518](https://github.com/ushahidi/platform/issues/2518), [#2519](https://github.com/ushahidi/platform/issues/2519), [#2520](https://github.com/ushahidi/platform/issues/2520). I view all of these issues a

[2018-04-10 12:19] Celestine22 commented on #2559
@caharding @tuxpiper when is the expected release date for this? our customer would need this bug fixed and I need a timeline to feedback with.

[2018-04-10 14:43] Brad-Anthony opened #2715 "Security Event: Malicious User Hijacking Login Pages"
### Expected behaviour
https://research.okap.io site should **not** redirect or display on external domains. The use of proper security headers may resolve this issue...

### Actual behaviour
https://research.okap.io login page is being hijacked to display on http://login.plugemail.net/views/map

### Steps to reproduce the behaviour/error

From Dreamhost tech/security support:
"It does appear that

[2018-04-10 15:01] jrtricafort commented on #2715
@caharding labeled this p0 and added to Cycle 3, let me know if you agree.

@willdoran assigning this to you for now since we started discussing on Slack. Feel free to change that.

@aoduor I'll assign to you so that after the change is implemented, you can make announcement to community, does that sound good?

[2018-04-10 15:02] aoduor commented on #2715
Yes, perfect @jrtricafort.

[2018-04-10 15:44] dalezak opened #2716 "Add description to Settings "Make this deployment private""
### Expected behaviour
The Setting `Make this deployment private` would have an explanation letting the user know what that option does to the deployment, perhaps a similar description like below the API Key.

### Actual behaviour
The Settings > General simply says `Make this deployment private` without any explanation what that actually does.

![screenshot 2018-04-10 09 41 03_preview](https://use

[2018-04-10 16:09] willdoran commented on #2715
WIP
Based on Security Headers test for our own .io servers the recommended headers we should add are

**Strict-Transport-Security**
 - This is intended to prevent MiTM attacks when a request on HTTP is bounced back to the browser to redirect to HTTPS. If an attacker is reading outbound HTTP requests or inbound HTTPS redirects on a network they can intercept the TLS connection to the remote server

[2018-04-10 16:33] rowasc commented on #2693
@Angamanga @willdoran
I can start on this today if we want to. It should be simple . Two questions :
- How long should the number be?
- Do we want some kind of uuid or just the contact id instead ?

[2018-04-10 16:41] caharding opened #2717 "review of industry best practices for QA and release processes"

[2018-04-10 16:41] Erioldoesdesign commented on #2640
Oh we also have the green outline: ![Screen Shot 2018-04-10 at 17.40.54.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/fdc1a077-e899-43cb-9d31-f21591e6c0b7)

Probs best to axe this style? idk leaving it to you :)

[2018-04-10 16:58] Brad-Anthony commented on #2715
@aoduor @willdoran @jrtricafort  I've linked in our security engineer Victor for additional comments.

[2018-04-10 17:05] willdoran opened #2718 "Strict-Transport-Security"
### Overview

 - This is intended to prevent MiTM attacks when a request on HTTP is bounced back to the browser to redirect to HTTPS. If an attacker is reading outbound HTTP requests or inbound HTTPS redirects on a network they can intercept the TLS connection to the remote server and pose as the victim while passing packets along to the victim in vanilla HTTP. [Here's how to do it](https://scotth

[2018-04-10 17:09] willdoran opened #2719 "Content-Security-Policy"
### Overview

  - This allows us to lock the content that the browser will load in relation to our site to a whitelisted set.
  - Requires audit of all current external libs/sources that we rely on and then extensive UI testing to ensure that behaviour is as expected

Aha! Link: https://ushahiditeam.aha.io/features/PROD-378

[2018-04-10 17:10] willdoran opened #2720 "X-Frame-Options"
### Overview

  - This option will prevent framing of the site - for Ushahidi this is problematic to add as it would prevent the ability for embedding of the Ushahidi instance in other sites. There are[ real security concerns](https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Other_embedding_technologies#Security_concerns) around embedding via frames, however, at the mom

[2018-04-10 17:11] willdoran opened #2721 "X-XSS-Protection"
### Overview

  - sets the configuration for the cross-site scripting filter built into most browsers.
  - Howto
    - Recommended value
`X-XSS-Protection: 1; mode=block`
    - Default: Use the recommended value. Browsers will attempt to sanitize by default, but it'd be best to block if an attack is possible/detected .
    - For ushahidi hosted deployments, default to BLOCK
    - Docs: a blog post

[2018-04-10 17:13] willdoran opened #2722 "X-Content-Type-Options"
### Overview
  - stops a browser from trying to MIME-sniff the content type and forces it to stick with the declared content-type.
  - Howto
    - The only valid value for this header is
`X-Content-Type-Options: nosniff`
    - Use the recommended option.
    - Important: We might run into issues if something we have is not correctly setting the content type of a response. Super important to test w

[2018-04-10 17:14] willdoran opened #2723 "Referrer-Policy"
### Overview

  - a new header that allows a site to control how much information the browser includes with navigations away from a document and should be set by all sit. This allows some control over information passed to linked site by browser, it is not enforceable in anyway and is defeated by almost all analytics systems or just having facebook or gmail open :/
  - Howto
    - Recommend we do

[2018-04-10 17:33] willdoran commented on #2693
@rowasc Let's not use a real system id, let's just use a somewhat inoffensive uuid - a number is probably easier for a user to parse than a hex - it would be neat if we could do a human readable version but it might come out as "furious-green-ideas" which might be more confusing.

It would seem likely that users might expect the number to be in someway meaningful, so why don't we just use the Post

[2018-04-10 18:04] willdoran commented on #2693
@rowasc
- around 6 to 8 digits?
- uuid

[2018-04-10 19:35] rowasc commented on #2693
Cool.

[2018-04-10 19:38] #2688 closed

[2018-04-10 19:59] willdoran commented on #2391
By additive do we mean versioned? Our API is going to be versioned right?

[2018-04-10 20:01] willdoran commented on #2392
It might be worth considering whether we always want to hydrate these objects or whether it's context dependent in order to reduce data weight but perhaps that's an improvement in a future iteration?

[2018-04-10 20:13] willdoran commented on #1609
This breaks embed

[2018-04-10 20:15] willdoran commented on #2721
related to #1610

[2018-04-10 22:03] rjmackay commented on #2005
No I don't think this was ever retested and tracked down. Lots has changed since then so it'd be good to have this QA'd again

[2018-04-10 22:13] gsvlopez opened #2725 "SMSSync not working"
### Expected behaviour
SMS option works when testing
### Actual behaviour
SMS messages do not come through after trying several times and making sure that all steps have been followed with SMSSync (I tried reaching out to the team through Intercom but have not received a response)
### Steps to reproduce the behaviour/error
SMSSync instructions online for Ushahidi Data Sources and use of Android ph

[2018-04-11 08:54] digitalhuman commented on #2715
Ok so; because not everybody is aware of these kind of attacks, the OWASP security headers should be default implemented in Ushaidi. But be aware, if the server-side provides the same headers this will create conflicted web-requests and responses and can cause issues in loading CSS or JS files (or any other). Therefor it needs to be well documented and communicated to the end-users.

Personally I

[2018-04-11 09:13] digitalhuman commented on #2719
Not only UI testing, really end-to-end as well as functional. This is also not something you can automated sadly. You need to keep track of all changes third parties make. It can break the application. I would advice to pick up this ticket when all the rest is finished and done. You don't want to delay a release by this item.

[2018-04-11 09:15] Brad-Anthony commented on #2715
On private deployments or deployments with higher security issues which must **NOT** allow embeds the **X-Frame** option is probably essential. In fact, I think we would be looking to completely disable the embed function or remove it altogether.

[2018-04-11 09:48] Brad-Anthony commented on #2715
@willdoran @aoduor @rjmackay @caharding @tuxpiper @jrtricafort We're suspending our cloud server to fix the problems so the original issue reference links will no longer be functional. FYI.

Do you want to close this issue or keep it open for comments?

[2018-04-11 10:00] Brad-Anthony commented on #1609
As noted in https://github.com/ushahidi/platform/issues/2715 we would love to disable embeds permanently and securely. I suspect this option will be a part of that solution and should be noted to other users that do not want to have their content on external embeds for security reasons, etc.

[2018-04-11 11:58] Angamanga opened #2726 "Modebar for mapper-plan is off"
### Expected behaviour
I expect the modebar on small screens when on a mapper-plan to stretch out to the full width of the screen.
### Actual behaviour
Modebar is empty and leaving a whitespace where the activity-button should be.

### Steps to reproduce the behaviour/error

#### Where does this issue happen?
- [ ] [Local setup with Vagrant ](https://www.ushahidi.com/support/install-ushahidi#insta

[2018-04-11 12:47] Angamanga commented on #2526
Findings from QA:
1. Publish button only says "Publish" not "Publish survey"

[2018-04-11 13:08] digitalhuman commented on #1609
@willdoran @rjmackay this is an 'easy' fix yeah, but with big impact. It can/will affect functionality in Ushaidi if you implement this as "lets just do it" like I explained to @Brad-Anthony. This area is, in my opinion, a shared responsibility. Every sysadmin should have implemented these security headers by default know, but on compute machines things work a bit different. The risk impact by not

[2018-04-11 13:16] Angamanga commented on #2529
Findings from QA:
1. Error-label for text-field is off (probable reason: the error-label html has changed and the text should be wrapped in <p>-tags instead of <span>-tags)

![Screen Shot 2018-04-11 at 15.09.21.png](https://images.zenhubusercontent.com/5a6f2bce4b5806bc2bc4b158/725b8bb6-edef-4e54-a1c3-a28d46792ed7)
2. It is possible to save even though the content is too long
3. Spelling-error in t

[2018-04-11 13:56] StaicyG commented on #2529
@willdoran
For this test:
1."The user should be prevented from saving if the counter is greater than the allowed character count" : the user can still save the question even after it exceeds the character count
2. "When the user clicks cancel the modal should close and no question should be added": there is no cancel button, only "Save and Close" and "Delete"

[2018-04-11 16:37] kinstelli opened #2727 "API server rejects incoming message from existing targeted survey contact"
### Expected behaviour

- Sending a message via POST to http://targetedsurveytesting.api.v3-qa.ush.zone/sms/testservice
with secret, message, from as key/value pairs should return `{"payload":{"success":true,"error":null}}`

### Actual behaviour

- Sending a message via POST to http://targetedsurveytesting.api.v3-qa.ush.zone/sms/testservice
with `secret`, `message`, and`from` as key/value pairs on

[2018-04-11 16:54] Shadrock commented on #2518
See additional discussion [in this Gdoc](https://docs.google.com/document/d/1ufkDI1QQ_BuSHs_4bacOwTXVbkRDkahysTYTpVeCF4U/edit).

[2018-04-11 16:54] Shadrock commented on #2519
See additional discussion [in this Gdoc](https://docs.google.com/document/d/1ufkDI1QQ_BuSHs_4bacOwTXVbkRDkahysTYTpVeCF4U/edit).

[2018-04-11 16:55] Shadrock commented on #2520
See additional discussion [in this Gdoc](https://docs.google.com/document/d/1ufkDI1QQ_BuSHs_4bacOwTXVbkRDkahysTYTpVeCF4U/edit).

[2018-04-11 17:30] crcommons commented on #2602
@StaicyG This should just be to test step 2. I've updated the Test script. Step 4 is still waiting for an API PR to be approved.

[2018-04-11 18:42] willdoran commented on #2443
We should hold off on any implementation of removing empty columns it would be a complex piece of work for us to do whereas removing empty columns from any data analysis application is trivial. For me, this crosses a line into data cleaning which is not what we do. We are responsible for ensuring the data is in an intelligible consistent format.

@romina We should ensure that each of the files gen

[2018-04-11 18:52] willdoran opened #2728 "Allow disabling of embed feature in conjunction with X-Frame-Options"
### Expected behaviour

- Provide means to disable in built embed feature to allow FOSS users to prevent their instances being embedded without consent in other sites.

### Actual behaviour
 - Can not currently disable embed

### Steps to reproduce the behaviour/error

#### Where does this issue happen?
- [ ] [Local setup with Vagrant ](https://www.ushahidi.com/support/install-ushahidi#installing-

[2018-04-11 18:53] willdoran commented on #2728
@Brad-Anthony Can you expound if this issue inadequately captures your request in terms of disabling embed?

[2018-04-11 18:54] willdoran commented on #2715
@Brad-Anthony We will keep it open if that's ok as a reference point.

[2018-04-11 21:58] kinstelli commented on #2727
@rowasc - I'm trying to have a look at the code, but I'm not sure I fully understand the intent of this line:
 https://github.com/ushahidi/platform/blob/1b5505df4a540c782ee4a2f9b9cd8ed929d01112/src/Core/Usecase/Message/ReceiveMessage.php#L184

It seems to be testing against the brand new incoming message, but I think it's meant to look at the most recent _outgoing_ message. Am I understanding that

[2018-04-11 22:22] crcommons opened #2731 "Set up React (in angular app)"
- [ ] create working "master" branch for migration
- [ ] Set up React to load inside platform-client

[2018-04-11 22:40] crcommons opened #2732 "Take cycle 3 baseline measurements for M&E Plan"
M&E Plan can be found here: https://docs.google.com/document/d/1akWRV7qxR1NhBtDB6YprlA00GknpYYg-naxLroKNAHU/edit
Cycle indicator tracking can be found here: https://docs.google.com/spreadsheets/d/1t8zd20V_7KTcwX2s9nUppvc904DOLQ_bdvfjy9eBJso/edit#gid=0

[2018-04-11 22:44] crcommons opened #2733 "Create final targets for M&E Plan results framework"

[2018-04-12 00:02] kinstelli opened #2734 "First questions not being sent first, priorities are all set to 99"
### Expected behaviour
- First question should be sent first.
- One question should be sent at a time.

### Actual behaviour
- Multiple questions appear to have been sent at once, in one situation
<img width="487" alt="screen shot 2018-04-11 at 6 57 41 pm" src="https://user-images.githubusercontent.com/6600708/38649141-82edad8c-3dba-11e8-8103-ad790053ee3f.png">

- The second question, in this surv

[2018-04-12 01:25] rowasc commented on #2727
@kinstelli this is looking for an outgoing message. If it doesn't find one, it complains
About the error itself, I need to check since the error you are receiving is not correct.

[2018-04-12 01:27] rowasc commented on #2734
@kinstelli this is a client issue. We should make sure priority is set correctly for targeted surveys because of the issue where we don't actually verify uniqueness of the priority

[2018-04-12 04:27] rjmackay commented on #2714
@caharding I've repurposed this issue. I don't think an audit is necessary... I've kept the lumen branch from diverging too far from core. The missing bits are mostly from the last couple of cycles and should all be picked up by merging branches.

[2018-04-12 04:27] rjmackay opened #2735 "Redeploy lumen to staging"
- Make sure deployment director can deploy the lumen branch to staging
- Deploy it!

[2018-04-12 04:28] rjmackay opened #2736 "QA Lumen refactor"
Because Lumen touched every bit of the API, we need to do some general QA of platform.

[2018-04-12 04:28] rjmackay opened #2737 "Update production to PHP7"
Lumen relies on PHP 7+
Staging has been updated, but production servers will need to be rebuilt with PHP7

[2018-04-12 04:33] rjmackay commented on #2736
@Eve-wanderi I think you looked at this in February - doing general QA on qa.ushahididev.com after our API refactor.
How far did you get? Were there any significant issues? Any estimate of how long you would need to do it again? (ie. a general QA pass over major platform features)

[2018-04-12 08:47] Angamanga commented on #2522
Findings from QA:
- Clicking on "Create survey"-text gives a 404

[2018-04-12 08:50] Angamanga commented on #2563
Findings from QA: No notification appears :(

[2018-04-12 08:55] Angamanga commented on #2530
Findings from QA:
- The text about cost has to be changed, old copy is still there. I know this has been discussed somewhere its not in this issue.
- Notification has gone missing, see issue #2563
- User is not sent to survey-list but to survey-summary-view. Which one is correct @justinscherer

[2018-04-12 08:57] Angamanga commented on #2632
Passes QA!

[2018-04-12 09:07] Erioldoesdesign commented on #2530
@Angamanga From what I can see in the prototypes when a user has finished and published a survey, they should see the survey list page but with a snackbar notification at the bottom with some relevant call to actions:
![screen shot 2018-04-12 at 10 04 53](https://user-images.githubusercontent.com/11681324/38667399-3de9ebf4-3e39-11e8-9c9b-2035ab796c55.png)

[2018-04-12 12:33] justinscherer commented on #2526
@StaicyG

Can you post a screen cap of this?

[2018-04-12 12:34] justinscherer commented on #2640
yep!

[2018-04-12 12:37] justinscherer commented on #2538
@Angamanga

Can we re-use a searchbox module from elsewhere in the platform?

[2018-04-12 12:37] StaicyG commented on #2530
@Angamanga
1. "When they click publish the Survey is published and the user is sent to the Survey List view": the user is still left at the 4 steps page and not the Survey list view as indicated.
2. "The user sees a notification telling them that the survey has been successfully sent and allow them to click to view the Survey in Data Mode": I could not see a notification that indicates this. This

[2018-04-12 12:46] justinscherer commented on #2644
Going to recommend we not fiddle with these right now.

[2018-04-12 12:47] Angamanga commented on #2538
@justinscherer Like the filter-search-dropdown? I think thats the only one we got? Or the box with a dropdown in the location-picker

[2018-04-12 13:05] Angamanga commented on #2530
@justinscherer Just a double-check, the text in the survey-box says "You will receive an invoice for the total cost of these messages via email". I get the impression that Ushahidi will send an invoice, is this something we do? Could I change to "You will be charged for these messages by your telecommunications-provider"

[2018-04-12 13:11] Shadrock commented on #2573
Quick note that the initial paper that @Angamanga and I wrote with our colleagues Lara has been submitted to the first [Conference on Computing and Sustainable Societies](https://acmcompass.org/). Should have an answer on acceptance soon.

[2018-04-12 14:04] justinscherer commented on #2530
yep

[2018-04-12 14:05] justinscherer commented on #2538
^^ would that work?

[2018-04-12 15:33] StaicyG commented on #2522
@Angamanga seems that the error 404 issue has been solved. Have a look to confirm..

[2018-04-12 17:14] rowasc commented on #2727
@willdoran @kinstelli isn't {"success":true,"error":null}}  the correct response here?
Also, I can't reproduce the error you mentioned (below)

{"payload":{"success":false,"error":"mysqli::mysqli(): (HY000\/2002): No such file or directory","code":2,"class":"Database_Exception","file":"\/var\/www\/platform\/application\/classes\/Database\/MySQLi.php","line":59}}

 Can you expand on the steps?

[2018-04-12 17:17] rowasc commented on #2727
I just tested and got the message to change for the contact and the survey marked as finished  because there wasn't a new attribute to send. I also tested and was able to get the next attribute to be sent in a contact that had pending questions to answer.

[2018-04-12 17:18] kinstelli commented on #2727
My original description might have been confusing. Yes, ` {"success":true,"error":null}} ` is the expected response.

I'll create a list of steps to try to replicate the issue in a few minutes. I was using http://targetedsurveytesting.api.v3-qa.ush.zone/sms/testservice

[2018-04-12 17:19] rowasc commented on #2727
@kinstelli  just realized you are linking to a qa server...which branch are you testing? All of the incoming  message code is pending code review/merge.

[2018-04-12 17:37] kinstelli commented on #2727
@rowasc

If you send a POST to `http://targetedsurveytesting.api.v3-qa.ush.zone/sms/testservice` with:
`secret: howamisupposedtoknowitsasecret`
`message: whatever you want`
`from: 4045551213`

This should work and return success.

However, switch the payload to a phone number in the targeted survey, and it returns an error.
Send a POST to `http://targetedsurveytesting.api.v3-qa.ush.zone/sms/testse

[2018-04-12 20:14] crcommons commented on #2572
Just noting that this issue will be on a short pause until Will returns from vacation.

[2018-04-12 21:42] willdoran commented on #2727
@kinstelli I think this is fixed can you confirm and close?

[2018-04-12 22:18] #2451 closed

[2018-04-12 23:14] #2727 closed

[2018-04-13 07:26] rowasc opened #2739 "RetrieveColumnNameData - Tech debt"
### Expected behaviour
RetrieveColumnNameData should not require us to iterate through all records to get the data as this is really inefficient and not necessary.
https://github.com/ushahidi/platform/pull/2730#discussion-diff-181270812R167
### Actual behaviour
We need to request the data per item.
See discussion https://github.com/ushahidi/platform/pull/2730#discussion_r181270812
### Steps to rep

[2018-04-13 08:38] rowasc commented on #2403
@StaicyG thanks for your feedback, I really appreciate that you found these issues.

A couple things:
`About Date&Time `

Those are data types (all the test script items are just data types, they may or may not exist in a specific csv, it depends on the data set in the surveys)

-  Date: Changes - should be a date, not date+time. Timezone UTC
-  Date Time: Changes - Timezone UTC
That said, you can

[2018-04-13 08:39] rowasc commented on #2403
@StaicyG also, about the data mode: I'm not really sure how to reproduce that, but can you report it in a separate ticket? It's not related to CSV and we should prioritize it accordingly. Thanks!

[2018-04-13 08:40] rowasc commented on #2400
Moving to in-development since it's the same as the headings ticket

[2018-04-13 10:56] rowasc commented on #2602
@StaicyG you should be able to retest this one since the count code was merged

[2018-04-13 12:14] StaicyG commented on #2526
@justinscherer
See below:

<img width="1259" alt="screen shot 2018-04-13 at 3 13 21 pm" src="https://user-images.githubusercontent.com/25605883/38734209-6122a38c-3f2d-11e8-8ee9-85c3f0c9a5e4.png">

[2018-04-13 12:47] rowasc commented on #2595
@crcommons as discussed this was removed as validation will happen on the client to avoid multiple unnecessary queries, but I'd like to keep it in the backlog to be able to figure out a workaround at some point if we want it. I'm not sure but is flagging as Follow up correct here?

[2018-04-13 13:20] Angamanga opened #2740 "Write user-documentation for Facebook bot"
- Write documentation for a fb-user can use the bot to add a post to the platform
- Send documentation to Shadrock to send it to Comrades

[2018-04-13 13:22] Angamanga opened #2741 "Write technical documentation for fb-bot"
- Write detailed documentation for how to set up the bot for a developer
- Send to Shadrock to send to Comrades

[2018-04-13 13:27] justinscherer commented on #2526
Ahh yes!

^ This was intentional. This is a minimum testable version of the feature and we didn't have the dev hours to integrate it properly with the rest of our survey design module.

[2018-04-13 13:27] Angamanga commented on #2731
@crcommons I'll help out with integrating PL and make sure the needed libraries are included to optimise css-performance from the beginning...

[2018-04-13 13:29] rowasc commented on #2606
@crcommons I'm not sure what to do with technical tasks like this one . Do I just keep it until the dependencies are approved?

[2018-04-13 13:31] rowasc commented on #2683
@crcommons what should we do about API tasks? I think I might keep them until client passes? right now we are not well set up for Stacy/Eve to run API QA .
Ideally we could have a postman setup for them but looking for the middle solution atm

[2018-04-13 13:32] rowasc commented on #2532
@kinstelli I'm ending my day in a bit, can you follow up on SMS testing for this one? thanks!

[2018-04-13 13:32] rowasc commented on #2592
@crcommons same as other API tasks. Do you think I should keep them until client passes?

[2018-04-13 13:33] rowasc commented on #2674
@kinstelli @crcommons this issue is just a technical task. I believe we might want to either keep them open until the dependency closes or close it after tested/reviewed by dev

[2018-04-13 13:33] rowasc commented on #2599
@crcommons same as other API tasks. Do you think I should keep them until client passes?

[2018-04-13 13:34] rowasc commented on #2561
@crcommons same as other API tasks. Do you think I should keep them until client passes?

[2018-04-13 13:34] rowasc commented on #2693
@crcommons same as other API tasks. Do you think I should keep them until client passes?

(Taggged in all to remember where I had questions. Obviously answer in one or just slack me and I'll update them all :) )

[2018-04-13 13:37] rowasc commented on #2419
@crcommons If I move this to the same pipeline as the left-most dependent issue, we are in the backlog basically because of things that are not prioritized for the moment. Is that correct?

[2018-04-13 13:38] Angamanga commented on #2291
@dalezak I cannot reproduce this anywhere, have tested locally, on qa and .io. Could you check if it is still happening for you?

[2018-04-13 13:40] rowasc commented on #2291
@Angamanga there used to be a refresh issue. It was fixed here https://github.com/ushahidi/platform-client/pull/1007
 It already made it to production.

AKA:  We need good release logs =(

[2018-04-13 13:41] rowasc commented on #2291
https://github.com/ushahidi/platform-client/commit/ad71947367186611bf3c0649c5b8f0cc26f4f85e

[2018-04-13 15:48] #2464 closed

[2018-04-13 15:48] #2557 closed

[2018-04-13 15:48] #2579 closed

[2018-04-13 15:48] #2627 closed

[2018-04-13 15:48] #2628 closed

[2018-04-13 15:48] #2629 closed

[2018-04-13 15:48] #2410 closed

[2018-04-13 15:48] #2412 closed

[2018-04-13 15:48] #2435 closed

[2018-04-13 15:48] #2436 closed

[2018-04-13 15:48] #2353 closed

[2018-04-13 15:48] #2408 closed

[2018-04-13 15:48] #2423 closed

[2018-04-13 15:48] #2425 closed

[2018-04-13 15:48] #2449 closed

[2018-04-13 15:48] #2475 closed

[2018-04-13 15:48] #2565 closed

[2018-04-13 16:03] Shadrock commented on #2573
It looks like this cycle will likely be scoping for the next or the one after.

[2018-04-13 16:11] Shadrock commented on #2572
For @willdoran (when he gets back!).

This feedback on potential CREES integration issues came to me via e-mail from @evhart. The issues were compiled as part of an evaluation that was done, I believe, as a simulation with students in the Netherlands as part of COMRADES. Several Ushahidi staff supported this simulation: Robbie, Will, and David were involved specifically.

[code]

[2018-04-13 17:32] kinstelli commented on #2405
While QAing this, I did the following:
On `http://csvexportsforever.v3-qa.ush.zone/settings/data-export`
 I chose Settings->Export Data -> Select Fields

Under a new survey called `Test Survey with various field types`, I chose `Select All`.

This generated a new record in `export_job`, with the following data related to the query:

`filters`: `NULL`
`fields`: `NULL`
`header_rows`: `[{"label":"Pos

[2018-04-13 20:06] crcommons commented on #2674
@rowasc API issues that have a paired/related client issue(s) should remain in testing or QA backlog and only move on when the client work can be moved with it. Does that make sense? Is that what you were asking about?

[2018-04-13 20:10] Angamanga commented on #2291
ok, thanks @rowasc. @caharding and @crcommons this is not an issue anymore so closing.

[2018-04-13 20:10] #2291 closed

[2018-04-13 20:27] kinstelli commented on #2530
Minor issues...

The arithmetic is missing here:
`We will send 5 questions to 4 people via SMS for a total of messages`

I don't think telecommunications-provider is typically hyphenated.
`20 messages will be sent as part of this survey. You will be charged for these messages by your telecommunications-provider`

[2018-04-13 21:11] Angamanga commented on #2405
Fix is merged so can be QAd again!

[2018-04-14 16:01] kinstelli commented on #2620
Currently, these still seem to be arriving out of order, even though the client priorities seeming to be correct. Investigating more, but in the meantime, here's an example...

![Screen Shot 2018-04-13 at 5.07.34 PM.png](https://images.zenhubusercontent.com/5a629a264b5806bc2bc37fde/f34b5cc3-7cd7-4ea0-8004-b1793a555f37)

[2018-04-14 16:02] kinstelli commented on #2620
Added PR: https://github.com/ushahidi/platform/pull/2742

[2018-04-15 00:13] rowasc commented on #2530
@StaicyG can you test this on monday? Thanks!

[2018-04-15 00:13] rowasc commented on #2620
@StaicyG @kinstelli ready to test

[2018-04-16 01:46] rjmackay opened #2743 "Targetted Surveys feature flag does not disable API"
### Expected behaviour
API does not allow sending targetted surveys if feature flag is disabled

### Actual behaviour
API  allows sending targetted surveys if feature flag is disabled

### Steps to reproduce the behaviour/error
- Send contacts to some form/[id]/contacts endpoint with `targeted-survey.enabled` set to false.
- See messages are still queued

### Changes needed:

- Either in `CreateFo

[2018-04-16 11:28] StaicyG commented on #2526
@Angamanga @kinstelli

QA test passed

[2018-04-16 11:48] StaicyG commented on #2602
@Angamanga @kinstelli

QA test passed

[2018-04-16 11:48] StaicyG commented on #2602
@Angamanga @kinstelli

QA test passed

[2018-04-16 11:51] StaicyG commented on #2527
@crcommons @kinstelli

QA test passed

[2018-04-16 11:56] Angamanga opened #2744 "Provide text alternatives for non-text content"
Step one, in the Pattern-library:
- Add a text alternative to all of images.
- Add a text alternative to audio and video (a succinct description of the topic).
- Add a name to all controls (such as ‘Search’ or ‘Submit’).

https://www.wuhcag.com/non-text-content/

[2018-04-16 12:14] Angamanga opened #2745 "Make all content available from keyboard-only"
In pattern-library:
Make sure all content on all layouts are accessible with the keyboard only. Fix those places that are not possible to reach.

In the client:
When integrating the new html, make sure click-events are possible to perform with keyboard as well.

Resources:
https://www.wuhcag.com/keyboard/
https://www.wuhcag.com/no-keyboard-trap/

[2018-04-16 12:18] Angamanga opened #2746 "Provide a ‘Skip to Content’ link"
## Overview
Screen readers announce all of the links on the page to the user, in order. To help navigation, provide a way for them to bypass parts of each page, for example such as long navigation links in mode-bar, filter-bar in the toolbar and each map-icon.

## Requirements
- Add a ‘Skip to Content’ link to all views that skips the mode-context-bar, filter-bar and goes direct to the "main-windo

[2018-04-16 12:27] Angamanga opened #2747 "On Focus and on Input"
Dont think we do any of this but both in PL and most importantly in client (since we do more js-events and things there) ensure that
for FOCUS
- Links don’t open automatically on focus; and
- Forms don’t submit without the user taking action (such as clicking the ‘Submit’ button); and
- There are no automatic pop-ups; and
- Focus never jumps to another element automatically; and
- No other action

[2018-04-16 12:53] Angamanga opened #2748 "Logical structure of HTML - headings"
**Headings**
- Do not use text formatting, such as font size or bold to give the visual appearance of headings - use actual heading `(<h1>-<h6>)` for all content headings.
- Likewise, do not use headers to achieve visual results only.

*TODO*
Walk through pattern-library and identify if we are using headers in the correct way. If not, change to apply headers for structure only and style according

[2018-04-16 13:04] Angamanga opened #2749 "Logical structure of HTML - lists"
**Go through pattern-library and check all HTML-lists we are using with the following in mind:**
- Unordered lists should be used when there is no order of sequence or importance.
- Ordered lists suggest a progression or sequence.
- Definition lists should be used explicitly for presenting a structure for definitions.
- Unordered and ordered lists should always contain list items.
- Definition lis

[2018-04-16 13:12] Angamanga opened #2750 "Logical structure of HTML - labels"
*Todo*
- Label all elements (for example, sidebar widgets, forms, search boxes, tables).
- Make sure its clear what element a label is attached to, add `for` and `form` attributes where needed.

*Resources*
- https://www.w3.org/TR/WCAG20-TECHS/G131.html

[2018-04-16 13:19] StaicyG commented on #2522
@kinstelli @crcommons

Passed QA testing

[2018-04-16 13:33] rowasc commented on #2405
cc @StaicyG this can be re-tested 🎉

[2018-04-16 13:34] rowasc commented on #2674
yup cool thank you @crcommons

[2018-04-16 13:46] StaicyG commented on #2530
@kinstelli @Angamanga

Passed QA testing

[2018-04-16 14:14] StaicyG commented on #2563
@kinstelli @crcommons

Passed QA testing

[2018-04-16 14:20] StaicyG commented on #2632
@kinstelli @Angamanga

The new targeted survey created shows up in the list in Data mode.

Failed the last test: " The new targeted survey should not show up in the list"

[2018-04-16 14:30] tuxpiper opened #2751 "Feature to allow placing a deployment in "maintenance mode""

[2018-04-16 15:13] middle8media commented on #2744
this is completed in accessibility

https://github.com/ushahidi/platform-pattern-library/commit/421d3a2a0df6fc9af2b95acbde384bc6fdaa4a66

https://github.com/ushahidi/platform-pattern-library/commit/75cf795b5aa673c99d5099fdc7ef4da4027445e0

[2018-04-16 15:13] #2744 closed

[2018-04-16 15:26] StaicyG commented on #2529
@kinstelli @Angamanga

Passed QA test

[2018-04-16 15:40] StaicyG commented on #2620
@kinstelli @rowasc

There is no test script for this.

[2018-04-16 15:47] Angamanga commented on #2632
@StaicyG It should turn up in the list of posts in data-mode but not in the list when clicking on the yellow +. This passes QA for me!

[2018-04-16 16:01] justinscherer commented on #2645
### WIP Notes

# Map tiles
The main questions we have to start with are:
1. What is the Map View for?
	1. A way to get a quick sense of how a deployment is going.
	2. Something to show the engagement with a deployment
	3. A way to visualize the state a crisis/response
	4. Spark interest and reward exploration

2. Who is it for?
	1. Tourists, mostly, in its current form
		1. Primary mode is explora

[2018-04-16 16:34] kinstelli opened #2753 "For each targeted survey, all messages for a contact are shown, not just messages related to that survey."
### Expected behaviour
- Only messages relevant to a specific targeted survey should appear in a post for a contact when viewing a targeted survey.

### Actual behaviour
- Every message sent to/from a specific contact are appearing in the post for a targeted survey.

In this example, questions and responses from a previous survey (form April 13, 2018) are appearing in the list for a newly generate

[2018-04-16 17:04] #2540 closed

[2018-04-16 17:04] #2580 closed

[2018-04-16 17:04] kinstelli opened #2754 "Reordering questions sometimes creates incorrect form_attribute priorities"
### Test/QA-checklist

Testing checklist:
1. Go to settings->survey->new survey->new targeted survey
2. Add a number of questions, remember the order
3. Reorder the questions, remember the order
4. Edit a question
Note, step 3 and 4 could be done in any order and how many time you would like, the outcome should still be:
-  [ ] Click on continue, the list of questions should still be same as after

[2018-04-16 17:10] kinstelli commented on #2529
@Angamanga
I found a few small issues:

- When exceeding the character length, the `Save and Close` button is still shown but inactive, which seems strange. This should probably switch to `Cancel` or at least be greyed out.

- Reordering questions has a small bug, described in detail here:
https://app.zenhub.com/workspace/o/ushahidi/platform/issues/2754

[2018-04-16 17:14] kinstelli commented on #2620
This seems to be working. (!!)

[2018-04-16 17:14] murdoch commented on #281
@francbartoli what do you mean by 'it has to be added on heroku'? I ask because I'm having the same problem, not getting the reset password email.

[2018-04-16 17:21] crcommons opened #2755 "Set up linters for React components in client"
## Requirements
Linters should run where we use React in client, but not where we use Angular; existing linters should not run on React code

## Definition of done
- [ ] new linter(s) installed - es6, react, accessibility
- [ ] new linter only runs on react code
- [ ] old linter only runs on angular code

[2018-04-16 17:26] #2690 closed

[2018-04-16 17:27] crcommons commented on #2692
@rjmackay I was planning to look into it. But if you both have the extra time and have an idea of where to start, I'm happy to let you look into it.

[2018-04-16 17:40] francbartoli commented on #281
@murdoch actually I don't remember quite well but it's likely they were going to migrate the live instance to heroku and I expected that resolved the issue in the meanwhile.

[2018-04-16 17:43] murdoch opened #2756 "Password reset email not received after installing on Heroku"
I have installed Ushahidi platform and client on Heroku, using the Heroku button you provide in the readme file.

I don't receive an email when I try to reset my password. I'm wondering if there's some additional setup step that I need to take before emails can be sent out. Do I need to set up a worker? Are there any instructions for doing that?

FWIW, I installed the latest release, and almost ev

[2018-04-16 17:44] murdoch commented on #2756
Do I need to add a paid dyno (something I will do if I can get it working)?

Is Heroku advised for production use? Or is it just for demo purposes?

[2018-04-16 17:54] murdoch commented on #2756
My api is down because it's asleep (heroku free dyno restrictions), but this issue happens even when it's awake.

I am going to add a paid dyno once this is resolved, and my boss gives it the go ahead.

Do I need paid dyno's on both frontend and backend?

Thanks in advance. Sorry for so many questions! I will write a nice blog post about it all once I'm done, so that people can see how to do it. C

[2018-04-16 17:59] murdoch commented on #281
Thanks @francbartoli - I opened an issue, I'll get to the bottom of it. Cheers

[2018-04-16 18:03] caharding opened #2757 "SMS Surveys v2"
EXPAND UPON ORIGINAL SCOPE. Make sure to grab issues that were marked out scope: https://docs.google.com/document/d/1uUkSG0NsoDTxIkKfmVG6oSX5u1rVOVvAuOoY_E0VaTQ/edit#heading=h.68p54zclhue3
- User wants to be able to send survey's via SMS to a list of contacts
- User wants to be able to respond to send SMS surveys that have more than one question (As built in MVP)
- User wants to be able to have sk

[2018-04-16 18:17] rowasc commented on #2753
@mkinsella really interesting/frustrating but, status update in case you have ideas:
-The post ID for the message not in a targeted survey and the one in a targeted survey is not the same (this is good. It was my initial concern, but discarded now).
- I believe this is only related to how we fetch “conversation with author”

[2018-04-16 18:25] crcommons opened #2758 "Update google analytics for React Router"
## Requirements
We're going to continue to use angular router until we're ready for the entire app to use react router. When that happens, we need to figure out what aspects of google analytics need to be updated to be compatible with react-router.

[2018-04-16 18:28] crcommons opened #2759 "Take cycle 5 baseline measurements"
M&E Plan can be found here: https://docs.google.com/document/d/1akWRV7qxR1NhBtDB6YprlA00GknpYYg-naxLroKNAHU/edit
Cycle indicator tracking can be found here: https://docs.google.com/spreadsheets/d/1t8zd20V_7KTcwX2s9nUppvc904DOLQ_bdvfjy9eBJso/edit#gid=0

[2018-04-16 18:30] crcommons opened #2760 "Set up testing framework and first test"
## Requirements
We need testing set up to work with react components

## Definition of done
- [ ] testing libraries set up in platform-client
- [ ] tests written for first component

[2018-04-16 18:32] crcommons opened #2761 "Migrate settings/user/create to react"
- [ ] create new route
- [ ] create user container component and userform component
- [ ] create initial state, reducers, and actions
- [ ] create new endpoints for getting roles and posting users
- [ ] create UI tests, reducer tests, action tests, endpoint tests

Documentation:
- wiring (note that this is not reflective of new designs)
https://www.lucidchart.com/documents/edit/9e4ee737-e89e-41a1-

[2018-04-16 18:36] crcommons opened #2762 "Map state/api interactions for 1st component"
## Requirements
We should consider what data we'll need from the api for this component and how that will map to the redux state

## Definition of done
- Deliverable doc with:
- [ ] List of api endpoints
- [ ] Data that we will receive from API
- [ ] mocked up state object

[2018-04-16 18:40] crcommons opened #2763 "Create folder of review docs for team ahead of Montreal"
- [x] PWA Checklist
- [ ] Industry standards checklist
- [x] Dev environment setup instructions/documentation
- [x] templates for component migration
- [ ] test scripts for critical paths related to components 1-6
- [ ] order of migration
- [ ] Agenda
- [ ] Issues/tasks
- [ ] objectives

[2018-04-16 18:40] rowasc commented on #2753
@caharding

sending the TLDR of the solution now that I had some more time to research:
- [Easy] don't create a new post if one exists , even if not in a targeted survey
- [Easy] add post_id filter in the client to only bring back the messages for contact+post_id
- [Not sure, should be easy ] add filter for post_id in the backend. In theory this already should exist but it's not working so I'm che

[2018-04-16 18:42] jrtricafort commented on #2757
@caharding I changed the label to distinguish it from the other SMS epic. Feel free to change it to something else that's more descriptive.

[2018-04-16 19:52] kinstelli commented on #2754
I just tried this again and was able to reproduce it.

I don't know what was different, except that I re-sorted some questions a few times and renamed the question to add their new expected order.

Here is some output from each of the POST calls to forms/x/attributes using devtools:

<img width="305" alt="screen shot 2018-04-16 at 2 43 50 pm" src="https://user-images.githubusercontent.com/6600708/

[2018-04-16 19:52] justinscherer commented on #2648
NB: We can use a blocked our colour gradient in the backgrounds from left to right to indicate hierarchy at some point.

[2018-04-16 20:03] justinscherer commented on #2663
closing for [#2648](https://app.zenhub.com/workspace/o/ushahidi/platform/issues/2648)

[2018-04-16 20:03] #2663 closed

[2018-04-16 20:19] caharding opened #2764 "SMS Surveys should route separately from SMS Data Source"
**EXPECTED OUTCOME**
- When I send an SMS Ushahidi should know if my SMS is meant to be a post, a response to a targeted survey, or a message threaded as part of a post

**CURRENT APPROACH**
- SMS as a data source is handled uniformly. So we can't know which of these an SMS is coming from
- If an SMS is part of a targeted survey, it attaches to that survey until the survey is closed

**USER STORIE

[2018-04-16 20:41] #2653 closed

[2018-04-16 20:44] caharding commented on #2532
@willdoran Q about this, when a Reporter sends an SMS report (not survey) and then there is a thread of communication between the Deployer and the Reporter about that message, is the current outcome that those messages both appear in the original post messaging thread and creates a new post every time?

If so this is a nasty bug that we need to find a solution to and we should open a new issue.

[2018-04-16 20:52] rowasc commented on #2532
@caharding I'm pretending to be Will until Apr 23.

Current behavior (pre-sms release):
- All messages are shown in a thread when you click a post related to that contact.
- A new post is created every time a contact sends a message

Expected new behavior (SMS release):

- All messages are shown in a thread
- When a user sends a message (first time):
---- A new post is created. (example: POST ID=1

[2018-04-16 20:59] justinscherer opened #2766 "Organism --> bulk actions"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-367

[2018-04-16 21:15] rjmackay commented on #2692
I think that probably right. Where possible we should try to plug the same state into angular components - there are a few angular redux plugins.

It's possible that some bits of state and angular services might need to work together ie.
- We might fetch data from the API with endpoint services, then save it into the state
- Or we could migrate API handling to new react style services, and then re

[2018-04-16 21:26] caharding commented on #2753
OK this is better understood now.

CURRENT SOLULTION
For SMS not part of a Targeted Survey:
- treat as currently handled in production
- the proposed solution would thread all messages into a single post
- this would break Ushahidi Platform for users. For example Uchaguzi field reporters making reports over SMS would make many posts about different issues over SMS. It would be bad if these were al

[2018-04-16 22:01] rowasc opened #2768 "Users should be able to send messages to the platform after they are done with a targeted survey"
### Expected behaviour
- When a user is in a targeted survey and finishes the survey, they should be able to continue sending messages to the platform outside of it.

### Actual behaviour
- When a user is in a targeted survey and finishes the survey, they can't add messages to the platform because of a bug that causes them to be rejected.

### Steps to reproduce the behaviour/error
- Create a targ

[2018-04-16 22:27] caharding commented on #2559
Devs are tackling this bug next, hopefully early this week

[2018-04-16 22:45] caharding commented on #2005
Added to QA Backlog for this cycle

[2018-04-17 01:08] rowasc commented on #2757
@caharding

I might be interpreting this the wrong way, but targeted surveys CAN have more than one question in the current release(the one we send today), and it system sends the next one after the user responds.

[2018-04-17 09:26] StaicyG commented on #2526
@kinstelli @Angamanga

Passed QA test on .io

Point to note: For step 2 it seems that it's not allowed to input more that 7 numbers. When you do you get an error as below: (Not really sure if this was the intention or not so just thought to flag it)
![Screen Shot 2018-04-17 at 12.18.07 PM.png](https://images.zenhubusercontent.com/5a8e72064b5806bc2bc7edf1/18822c64-1dbb-4008-972a-2f749f8f39b8)

[2018-04-17 09:30] StaicyG commented on #2602
@kinstelli @Angamanga

Passed QA test for numbers that are less/ equal to 7.

For numbers more than 7, you get an error illustrated on the screenshot. (I also pointed this same issue on ticket #2526)

![Screen Shot 2018-04-17 at 12.18.07 PM.png](https://images.zenhubusercontent.com/5a8e72064b5806bc2bc7edf1/7c8f9370-753b-4c87-9c09-e78509bb428c)

[2018-04-17 09:41] Erioldoesdesign commented on #2640
![Screen Shot 2018-04-12 at 12.30.30.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/09c94b35-9d3f-4c7a-976c-603bb8169be5)

I also found this weird style the other day....

[2018-04-17 09:42] StaicyG commented on #2527
@kinstelli @crcommons @Angamanga

Passed QA test for .io

[2018-04-17 09:44] StaicyG commented on #2528
@kinstelli @crcommons @Angamanga

Passed QA test on .io

[2018-04-17 09:47] StaicyG commented on #2522
@kinstelli @crcommons @Angamanga

Passed QA test on .io

[2018-04-17 09:48] Erioldoesdesign commented on #2748
I've had a look in the PL refactor epic #205 and can't see a specific related to headers but I would also suggest that the header type sizes actually follow a logical size. e.g. header 6 should not be smaller than body text.

Body text should be the smallest font size on a page (imo) especially when an sight impaired person is using zoom instead of a screen reader. These people still rely on visua

[2018-04-17 09:53] StaicyG commented on #2530
@kinstelli @Angamanga

Passed QA test on .io

[2018-04-17 09:54] StaicyG commented on #2563
@kinstelli @Angamanga

Passed QA test on .io

[2018-04-17 09:59] StaicyG commented on #2632
@kinstelli @Angamanga

Passed all the QA tests EXCEPT : "The new targeted survey should not show up in the list" on .io
Shows the targeted surveys in data mode as illustrated on the screenshot:
[Uploading... Screen Shot 2018-04-17 at 12.59.06 PM.png ]

[2018-04-17 10:13] StaicyG commented on #2529
@kinstelli @Angamanga

Passed Qa test on .io

[2018-04-17 12:35] Angamanga commented on #2526
@StaicyG Could it be that those 8 not working are wrong in some way? It looks like they did not pass the phone-number validation. I am not sure about the formatting-rules in Kenya so its hard to test, but I managed to add more than 7 numbers for Sweden.

[2018-04-17 12:48] StaicyG commented on #2526
@Angamanga

The 8 that did not get through were in the same format as the the 7 that passed. Although on retesting with other countr codes they seem to send to all 15 numbers.

It could could be an issue with the Kenyan country code I guess.

[2018-04-17 13:09] Celestine22 commented on #2559
Thanks @caharding

[2018-04-17 15:12] DafneCalvo opened #2775 "Export data"
### Expected behaviour
Exporting data
### Actual behaviour
Data does not export
### Steps to reproduce the behaviour/error
Settings>Survey>Share>Export filtered data
#### Where does this issue happen?
- [ ] [Local setup with Vagrant ](https://www.ushahidi.com/support/install-ushahidi#installing-for-development)
- [ ] [Local setup from platform-release ](https://www.ushahidi.com/support/install-ush

[2018-04-17 15:27] rowasc opened #2778 "Bug: Export with sortBy + filters fails"
Description:
- We do not need the orderBy that comes from filters to select post ids. This caused an exception in some filtering queries that came in

Current behavior: if you add filters the export does not get done (stays pending) because it fails to fetch the list of post ids for headers
Expected behavior: if you use filters the export is generated using the filters.

Test checklist:
- [x] star

[2018-04-17 15:34] jrtricafort commented on #2648
@justinscherer This is awesome! I was passing by here from your slack link and was curious- With the removal of the avatar, will certain customers still have a way of adding their branding, or is that being removed?

[2018-04-17 15:57] justinscherer commented on #2648
@jrtricafort

^^ Absolutely they'll still have branding there. I was referring to the user avatar in the secondary nav at the very bottom. We will for sure need to keep the ability to upload logos. Keep an eye out for that one in #2664

[2018-04-17 15:58] justinscherer commented on #2640
That's the `$highlight` colour variable...

[2018-04-17 16:40] justinscherer opened #2779 "Molecule --> tables"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-366

[2018-04-17 16:48] crcommons commented on #2595
@rowasc Right, thank you!

[2018-04-17 17:44] crcommons opened #2781 "Filters don't work properly with CSV Exports"
Is this a filters issue or a csv issue?

### Expected behaviour
When I export to a csv from the data or map view with filters on, the correct data should be in the csv
### Actual behaviour
- not all correct posts are included
- not all post information is included
### Steps to reproduce the behaviour/error
- [ ] Go to data mode
- [ ] filter data down to a number of posts you know you can easily re

[2018-04-17 23:16] crcommons opened #2786 "Audit our bundling/build files"
- look at the standard structures - ie. create-react-app or similar - and try to match them in an effort to make them smaller

[2018-04-18 00:02] caharding commented on #2781
Can you please add additional Spec. What is missing? Is it random?

Do we know if this is likely to create a problem for the DREAMS partners based off your assessment.

[2018-04-18 00:05] caharding commented on #2753
@rowasc was this resolved with yesterdays release?

[2018-04-18 00:07] caharding commented on #2768
@rowasc should this be closed with the pull request you made yesterday?

[2018-04-18 00:47] caharding commented on #516
@rjmackay I don't know what this is, OK for you to just own this?

[2018-04-18 01:00] caharding commented on #2076
Shadrock, I have a question about this. CSV is a standardized form of spreadsheet. Any Google or Excel sheet can be exported easily saved as a CSV to then import into Ushahidi.

We don't include Excel and Google import methods b/c it requires frequent updating to enable all different versions of these documents. Microsoft makes such frequent updates to Excel, that it is very difficult to stay curr

[2018-04-18 01:03] caharding commented on #2679
@kinstelli was this out of scope in the release?

[2018-04-18 01:06] caharding commented on #2518
@Shadrock did you feel that your feedback was adequately addressed in Eriol's presentation? Her system enables mapping on export.

[2018-04-18 01:12] caharding commented on #2518
@jrtricafort as you look at this issue can you tell if we need #2519 and #2520 which seem to be extensions of this issue

[2018-04-18 01:28] caharding commented on #2611
@middle8media can we close this issue?

[2018-04-18 01:33] caharding commented on #2775
Known issue #2778 tagging you there to follow

[2018-04-18 01:34] caharding commented on #2778
@StaicyG can you test that this is working?

[2018-04-18 01:39] caharding commented on #2757
Yes, already built, just clarified in issue

[2018-04-18 01:41] caharding commented on #1681
@Shadrock can you confirm the deliverable that you need for this issue?

[2018-04-18 02:24] #2525 closed

[2018-04-18 02:25] #2524 closed

[2018-04-18 02:25] #2442 closed

[2018-04-18 03:20] #2678 closed, assigned to rowasc

[2018-04-18 04:40] rjmackay commented on #2781
@crcommons any chance you could retest with this branch: https://github.com/ushahidi/platform/pull/2785
I think its likely the fix is related to us failing to properly apply user permissions

[2018-04-18 07:45] Angamanga commented on #2611
@caharding yes, closing it.

[2018-04-18 07:45] #2611 closed

[2018-04-18 08:36] tuxpiper opened #2787 "CSV exports without lumen-csvexport-queues requires documentation or changes"
With the new release (master as of Apr 17 2018), we have deployed CSV exports to be handled through an additional component ( ushahidi/platform-lumen-csvexport-queues ). This method is not accessible for other deployers (open source community).

I'm proposing to either document how to obtain CSV exports without installation of the component or to study what changes need to be introduced to bring t

[2018-04-18 08:36] tuxpiper commented on #2787
@willdoran do you have comments that could guide us on this one?

[2018-04-18 09:14] Angamanga opened #3635 "Styles for saved-search-filter-dropdown-bug icons is broken on rtl"
### Expected behaviour
Styling for saved searches in the filter-dropdown on rtl-mode should look like saved-searches on ltr-mode but in the opposite way.
![Screen Shot 2018-04-18 at 11.12.58.png](https://images.zenhubusercontent.com/5a6f2bce4b5806bc2bc4b158/956bee7d-9fe1-4e88-a2ac-1d7e11785ee9)

### Actual behaviour
Styles are messed up
![screen shot 2018-04-20 at 09 49 20](https://user-images.git

[2018-04-18 09:29] Angamanga opened #3636 "FAB-icon is hidden behind modebar on rtl"
### Expected behaviour
FAB-icon should go to the left when on data-view and rtl
### Actual behaviour
FAB-icon stays to the right and is hidden by the modebar

![Screen Shot 2018-04-18 at 11.28.15.png](https://images.zenhubusercontent.com/5a6f2bce4b5806bc2bc4b158/018ce019-27fa-4b04-8913-2fd00f5c53c2)
### Steps to reproduce the behaviour/error
- Switch to arabic
- Go to data-view
- FAB-icon is hidde

[2018-04-18 09:44] DafneCalvo commented on #2778
I tried to export with filter and the export stays pending again. I am not good at programming and I do not know how to solve it :-S

[2018-04-18 10:00] Angamanga opened #3637 "Status-bar on posts in data-view list is off on rtl"
### Expected behaviour
The status-indicator should not be cut off on rtl

### Actual behaviour
Status-indicator is chopped off:
![Screen Shot 2018-04-18 at 11.49.22.png](https://images.zenhubusercontent.com/5a6f2bce4b5806bc2bc4b158/e101c9fd-b0a3-4718-98c6-7f86681777a1)
### Steps to reproduce the behaviour/error

Aha! Link: https://ushahiditeam.aha.io/features/PROD-362

[2018-04-18 10:02] Angamanga opened #3638 "Action dropdown on post-detailed is cut off by the post-list in data-view on rtl"
### Expected behaviour
The whole action dropdown should be visible when clicking ... on a post

### Actual behaviour
![Screen Shot 2018-04-18 at 12.00.58.png](https://images.zenhubusercontent.com/5a6f2bce4b5806bc2bc4b158/59a087b5-ab59-408c-8fe5-ad69220d356f)
### Steps to reproduce the behaviour/error

Aha! Link: https://ushahiditeam.aha.io/features/PROD-361

[2018-04-18 10:05] Angamanga opened #3639 "All posts are fetched again and again on data-view and displayed as 'new posts' in arabic deployments"
### Expected behaviour
Only new posts should be visible as "New posts"

### Actual behaviour
All posts are fetched again and again when in an arabic deployment. Probable cause: the date is sent in arabic and the api does not understand it and sends all posts again

### Steps to reproduce the behaviour/error

Aha! Link: https://ushahiditeam.aha.io/features/PROD-360

[2018-04-18 10:07] Angamanga opened #3642 "See new posts-button is off on rtl"
### Expected behaviour
New-posts button should cover the whole column in rtl-layout
### Actual behaviour
![Screen Shot 2018-04-18 at 12.06.38.png](https://images.zenhubusercontent.com/5a6f2bce4b5806bc2bc4b158/6593bc6d-b808-4959-844c-b90f823ffbf5)

### Steps to reproduce the behaviour/error

Aha! Link: https://ushahiditeam.aha.io/features/PROD-359

[2018-04-18 10:10] Angamanga opened #3641 "New survey-button is not rtl"
### Expected behaviour
The yellow button should go to the left and text to the right

### Actual behaviour
![Screen Shot 2018-04-18 at 12.09.49.png](https://images.zenhubusercontent.com/5a6f2bce4b5806bc2bc4b158/e8d8ae27-35f7-4813-bb95-ceec58206563)

### Steps to reproduce the behaviour/error

Aha! Link: https://ushahiditeam.aha.io/features/PROD-358

[2018-04-18 10:58] StaicyG commented on #2400
@rowasc @kinstelli

Failed QA test. I don't seem to get passed "Export in progress" for both "Export All Data" and " Selected Fields"

[2018-04-18 11:27] StaicyG commented on #2429
@rowasc @Angamanga

Passed QA

[2018-04-18 11:47] StaicyG commented on #2428
@rowasc @Angamanga

Did not pass QA test

[2018-04-18 15:27] justinscherer opened #2788 "Organism -> survey creation"

[2018-04-18 15:41] justinscherer opened #2789 "Molecule -> buttons"

[2018-04-18 17:38] aoduor commented on #2306
@caharding this happens ALL. THE. TIME. not just for dreams deployments.

[2018-04-18 17:53] #2443 closed

[2018-04-18 17:56] kinstelli commented on #2443
Closing this as the original spec is complete. Issues related to appear to be defined in  #2730 and #2739

[2018-04-18 18:07] caharding commented on #2306
I spoke with Daniel. Right now people know a workaround: reload the tab or open incognito. We will fix in next cycle or two, but have to prioritize COMRADES right now.

[2018-04-18 18:49] caharding commented on #2428
Notification should be via email correct?

On Wed, Apr 18, 2018 at 4:47 AM, StaicyG <notifications@github.com> wrote:

--
Charlie Harding
Product Director

[2018-04-18 18:52] kinstelli commented on #2447
@willdoran, @Angamanga  - Is there supposed to be a way to make changes to an already-requested data export via the UI? I think the test script of this ticket might be unclear for QA.

[2018-04-18 18:54] kinstelli commented on #2405
@StaicyG  - Are you testing this on the QA server?
Do the CSVs that are eventually generated actually match the fields requested?

[2018-04-18 19:25] kinstelli commented on #2428
@caharding: No, this ticket is intended to describe the notification bar and automatic download of CSVs.

@Staicy: Was there no CSV generated at all? Or was one generated and you just didn't get a notification when it was complete?

Everyone:
I think we might be experiencing some slow CSVs related to how frequently the dataproviders are now being run. Previously they were set to run every 5 minute

[2018-04-18 20:05] kinstelli commented on #2679
@caharding -- Reading through this again, I think we can close this. Our original discussed implied a more complex UI for dealing with contacts in multiple surveys, but in this ticket, we opted to just provide a warning, which was completed.

[2018-04-18 20:25] #2612 closed

[2018-04-18 20:45] #2561 closed

[2018-04-18 20:48] Angamanga commented on #2428
@kinstelli @StaicyG I finally got a csv downloaded today, but it took a while and I was logged out in the mean-time, logging in again, i got the notification.

[2018-04-18 20:50] kinstelli commented on #2428
@Angamanga -- in my testing, I've never had an issue with the notifications themselves.
I'm inclined to close this since it's already deployed, it's just been tricky to properly test this on the QA deployments.

[2018-04-18 20:52] kinstelli commented on #2674
Closing this, since this has been working per deployments and is already deployed.

[2018-04-18 20:52] #2674 closed

[2018-04-18 20:52] kinstelli commented on #2535
@willdoran - Can I close this? I think we've done as much testing as we can.

[2018-04-18 21:01] Angamanga commented on #2447
@kinstelli Hm, yes this is unclear. There should not be a way to make changes to an already requested data-export (more than deleting it from the notification-bar that shows up when starting an export). I think this issue is more describing what was needed for the api (and the client to talk to the api) than the client behaviour.

[2018-04-18 21:08] Angamanga commented on #2428
@kinstelli Agree!

[2018-04-18 21:10] kinstelli commented on #2564
Closing this, as test script for #2525 passes, and 2525 is also closed and deployed.

[2018-04-18 21:10] #2564 closed

[2018-04-18 21:16] kinstelli commented on #2532
@caharding

Is Issue #2764 meant to be the issue that emerged from the conversation in this ticket? If so, I'd like to close this ticket, which is generally complete, in favor of that ticket which contains a specific bug.

[2018-04-18 22:00] caharding commented on #2640
Can we also reduce space between fields? Not sure where to make that comment.

[2018-04-18 22:07] #2428 closed

[2018-04-18 22:07] caharding commented on #2641
I personally find this style to be not attractive. Can we not just comply with standards set up with Material Design or elsewhere on the Web? I'd prefer

https://material.io/guidelines/components/cards.html

Other points of reference
https://designmodo.com/web-design-cards/
https://www.smashingmagazine.com/2016/10/designing-card-based-user-interfaces/
https://www.webdesignerdepot.com/2017/01/50-cr

[2018-04-18 22:10] caharding commented on #2642
Love this

[2018-04-18 22:10] kinstelli commented on #2542
@willdoran @rowasc - I'm assuming this is complete, right?
For now I moved this to cycle 3, but I believe we had to have done this before deployment, I just wanted to double check there's not a missing piece not documented here.

[2018-04-18 22:14] caharding commented on #2645
Once this is complete, you should break out a ticket on platform repo with your wishlist features.

Also, would be good to consider a dark/light alternative.

[2018-04-18 22:33] caharding commented on #2532
Yes closing

[2018-04-18 22:33] #2532 closed

[2018-04-18 23:37] crcommons commented on #2781
@rjmackay It appears that filters are working now, but data is missing from the filtered results. Specifically title and description in the test I ran.

[2018-04-19 08:27] StaicyG commented on #2405
@kinstelli
Question 1:Anna had requested me to test this on .io (https://annatest1000.ushahidi.io/)
Question 2: Yes the one that eventually downloaded matched the fields requested

[2018-04-19 08:29] StaicyG commented on #2400
@kinstelli
I was doing the tests here: (https://annatest1000.ushahidi.io/)
Out of about 7 csv export requests only 2 CSV files were downloaded and it took a period of about an hour, an hour and a half

[2018-04-19 12:48] Angamanga opened #2794 "Bug-icons for filters in the filter-dropdown are only visible when logged in"
### Expected behaviour
Bug-icons for filters should be visible to everybody

![screen shot 2018-04-20 at 09 45 25](https://user-images.githubusercontent.com/8624777/39037087-c174790c-447f-11e8-8c5d-6d996268eaa2.png)
### Actual behaviour
Bug-icons for filters are only visible when logged in
![screen shot 2018-04-20 at 09 46 22](https://user-images.githubusercontent.com/8624777/39037112-cdc3dd1a-447

[2018-04-19 14:42] kinstelli commented on #2567
@Angamanga , @crcommons - this is implemented, correct?

[2018-04-19 15:52] justinscherer commented on #2640
@caharding It's related to Spacing variables (#2643) . The problem now isn't that our variables are too big but that we're using the wrong ones. Definitely something to address in Forms (#2655).

[2018-04-19 16:04] kinstelli opened #2795 "Phone numbers should be formatted for use by SMS provider (either as they're saved or before they're sent to SMS provider)"
### Expected behavior
- The phone numbers sent to SMS provider should either accept a variety of formats, or else it should be clear from the UI which formats they will accept.

### Actual behavior
- Even though the country code was already chosen in the UI, I was only able to send to a US number via Twilio using the formats:
`18885551212` and `1-888-555-1212`   (in the US, this corresponds to: 1

[2018-04-19 16:12] crcommons commented on #2567
@kinstelli It actually just reroutes to map view, which is totally fine. I just didn't want it to 404 or something like that.

[2018-04-19 16:12] #2567 closed

[2018-04-19 17:07] kinstelli opened #2796 "Data providers should allow for no autoresponse to be set, especially for targeted surveys"
### Expected behaviour
- I'd like to send an SMS that doesn't autorespond to every message, because subsequent messages are probably sufficient

### Actual behaviour
- I can't leave this `autoresponse` setting blank in the Twilio config (not sure if that's a requirement of the Twilio API)
- All of my SMS messages reply with an autoresponse

### Steps to reproduce the behaviour/error

#### Where do

[2018-04-19 17:13] kinstelli commented on #2795
@crcommons  , @Angamanga  - Looking at this again, I wonder if we're maybe just not prepending the country code to the numbers when it's selected in the UI?

[2018-04-19 17:25] crcommons commented on #2795
@kinstelli We're sending an array of the contact numbers without the country code, then the country-code separately to the DB.

'''
{
formId: id,
contacts: $scope.textBoxNumbers,
country_code: $scope.selectedCountry.country_code
}
'''

I believe you need to prepend the country code on the backend.

[2018-04-19 17:33] kinstelli commented on #2795
Thanks for clarifying!

Ugh -- a side effect of nonstandardized phone numbers: incoming responses are only matched to outgoing questions if the number format is exactly the same.

In other words, sending to 1-312-555-8888 will be received by that number, but Twilio (for example) replies with 13125558888, so it won't be matched up to the original contact.

Maybe we should at least scrape unnecessar

[2018-04-19 18:05] caharding commented on #2794
What is a bug icon?

[2018-04-19 18:42] kinstelli opened #2797 "If targeted survey has no more outgoing questions, server responds with Error 400 to last incoming message"
### Expected behaviour
- HTTP should respond with 200, then just not send another message to the recipient

### Actual behaviour
- HTTP responds with 400
[code]

### Steps to reproduce the behaviour/error
- Create a targeted survey
- Send messages to the server via Postman to an SMS endpoint
- When no more questions remain, observe the HTTP response from the server

#### Where does this issue happ

[2018-04-19 18:45] kinstelli commented on #2797
@rowasc -- Would you have a chance to confirm this issue?
Looking at the code, I think it's throwing an exception when there might not be any more questions remaining to be sent, but I'm not sure.

[2018-04-19 18:49] rowasc commented on #2753
@caharding
No. We need to invest some time on this to solve it. I think it's a 2-3 pointer but @rjmackay might want to jump in here too.
Following up on the suggested solution posted by you after our chat:
------

For SMS part of a targeted survey:

SMS Messages should be added as thread until a new SMS survey is created, then threads move to that new survey. => Let me go step by step to make sure

[2018-04-19 18:51] rowasc commented on #2753
@rjmackay the proposed solution changed after I had a call with Charlie. To answer your questions: The original spec specifically said we should have been creating only 1 post and adding to it not creating multiple posts.

[2018-04-19 18:57] rowasc commented on #2570
@willdoran could we solve this with a different message type that is not added to a post automatically + adding post/thread_id as a param somehow when we send and receive messages?
@caharding

I think this idea is great. It needs to be fully spec'd and I don't have the answer for "how do we accomplish this" right now. It would be a different way of handling messages than what we have now. Some mes

[2018-04-19 19:26] caharding commented on #2570
All good questions, will return to them when scope later in the quarter.

[2018-04-19 19:36] caharding opened #2798 "When someone’s card fails, they are NOT automatically kicked off plan."
### Expected behaviour
If a credit card payment fails, a deployment should be frozen and the deployer notified. When they try to access their deployment, they should have to enter payment details. If a non admin tries to login, they should be told to tell their admin

### Actual behaviour
When someone’s card fails, they are NOT automatically kicked off plan. There are a number of people using Surv

[2018-04-19 21:12] caharding commented on #2573
@Shadrock can you clarify if there when you mean scoping for the next, does that mean next cycle will require coding of new elements of the bot? We should open an issue if there is eng work beyon d research that we will need to do.

[2018-04-19 21:13] caharding commented on #2610
@rjmackay do we have a meeting set up for this walkthrough?

[2018-04-19 21:13] caharding commented on #2542
@rowasc can you confirm this is complete?

[2018-04-19 21:14] caharding commented on #2704
@middle8media tagging you here as a reminder to update our docs

[2018-04-19 21:16] caharding commented on #2671
@willdoran when you're back can you please make sure that issues are added to 249 on the other repo

[2018-04-19 21:58] caharding opened #2799 "Demo of multiple deployments"
Ushahidi has built a demo of multiple deployments that we want to share with external partners. This EPIC contains the issues that need to be completed to demo the tool.

[2018-04-19 22:23] justinscherer opened #2800 "molecule -> lists"
## Analysis

Right now our lists are either actually big streams of cards or a list with keylines inside a card. Data lists shouldn't use cards because they create too much vertical space between important pieces of information, have no images, and aren't accessible. Currently we also use very small italics to describe primary list information and clickable list labels don't look clickable.

If we

[2018-04-19 22:29] justinscherer commented on #2641
I took another look at these after Charlie's feedback and a convo Eriol and I had the other day. I re-evaluated the usage of cards in our UI. Updated the ticket accordingly.

[2018-04-19 22:31] justinscherer commented on #2641
Eriol's original work

Working file folder link: https://www.dropbox.com/s/nq4j8pm1g6ubh6m/other-card-like-modules.png?dl=0

## Analysis
- There are lots of things which could be classed as 'containers'
- They look slightly different
- Main offender is the 'card with shadow'
- Some of the styles are user chosen so we have limited ability to force accessible colours here (setting a colour for a sur

[2018-04-19 22:38] caharding commented on #1617
I'm sorry I don't understand this issue as written

[2018-04-19 22:40] caharding commented on #2739
@rowasc is this part of an existing EPIC or feature?

[2018-04-19 23:09] justinscherer commented on #2669
Got a start on these today. Will obviously need to break them out into sub sections for implementation.

![containers.png](https://images.zenhubusercontent.com/5a661d504b5806bc2bc3c395/6b341851-51e6-495a-b4a7-561de61d67d3)

![forms - long form.png](https://images.zenhubusercontent.com/5a661d504b5806bc2bc3c395/26722a45-d18b-429f-80f2-a773c1e946f5)

![settings.png](https://images.zenhubusercontent.c

[2018-04-19 23:11] kinstelli commented on #2447
Ok, that explains the confusion, so I'm closing this. It doesn't make sense for QA to test.
The jobs can be updated to 'SUCCESS' or 'FAILED' or 'PENDING', and I think that's all that this describes.

[2018-04-19 23:11] #2447 closed

[2018-04-19 23:34] caharding commented on #2669
I really feel like settings could be improved with icons. I find it hard to
scan settings visually.
--
Charlie Harding
Product Director

[2018-04-19 23:37] caharding commented on #2641
Agreed that in most cases we want to use lists, not cards, as detailed in material design but I think there is a need for different kinds of frameworks for different kinds of info:

- Lists with no separation: lists of information like survey form fields do not need separation as they are continuous
- Lists with line separation: data in data view will need visual separation
- Cards: probably just

[2018-04-19 23:38] caharding commented on #2641
Also your Survey Before and After shows Sruvey and then Settings, confused... but that might be the German

[2018-04-19 23:41] rjmackay commented on #2787
IMO I think the architecture for CSV exports should be refactored. The short version is:
- Remove the `lumen_csvexport_queues` entirely
- Remove csv export code from `platform-job-queue`
- Replace it with laravel's job queues
- Add some kind of trigger in the export job API that creates a Job (in the lumen queue)
- Migrate whats currently done in `lumen_csvexport_queues` into that Job ie.
    - Ch

[2018-04-20 00:53] caharding commented on #2333
@justinscherer confirm this will be fixed in UI cleanup so I can close

[2018-04-20 00:55] caharding commented on #2319
@justinscherer can I close in favor of UI refresh https://app.zenhub.com/workspace/o/ushahidi/platform-pattern-library/issues/205

[2018-04-20 00:56] caharding commented on #2453
I don't understand the real world user need on this ticket

[2018-04-20 07:47] Angamanga commented on #2794
@caharding Updated description with screenshots 👍

[2018-04-20 08:07] Angamanga commented on #2601
@rowasc @caharding Unfortunately, yes I can reproduce it on .io. I created a new user and went to the data-export in settings and started an export. In the export-tab I see all export-jobs that is finished.

I also see all the export-jobs in the response from the api so its not a caching-issue.

[2018-04-20 14:04] crcommons commented on #2795
@kinstelli Can you update this issue with the intended fix (i.e. cleaning the number when it comes back from data provider, right?)?

[2018-04-20 15:01] justinscherer commented on #2333
confirmed.

[2018-04-20 15:04] justinscherer commented on #2669
Good question. I'm toying with alternatives to pure white as a background colour. Problem is that off-whites often feel "dingy". The bright white hasn't been too bad so far because we don't use any pure blacks.

[2018-04-20 15:07] kinstelli commented on #2795
@crcommons - I updated the issue description with what I _think_ should fix this, but there are three individual pieces, the last of which should probably spawn its own issue.

[2018-04-20 15:09] justinscherer commented on #2669
scan settings visually."

I can see that. This is super minimal. The problem with icons is that you need to find representational icons for things like "Webhooks" and "General" <- these icons don't exist. It also means that every new settings category we ever introduce also needs icons.

I can work on scannability a bit more, though.

[2018-04-20 17:11] StaicyG commented on #2400
@rowasc @kinstelli
Test environment: http://csvexportsforever.v3-qa.ush.zone
Test 1: Deployment Manager.
CSV passed QA test for "Export All Data"
Column names are not visible for "Select Fields" CSV downloaded file

Test 2: Please clarify who the deployment visitor is

[2018-04-20 18:32] StaicyG commented on #2405
@Angamanga @kinstelli
Qa environment: http://csvexportsforever.v3-qa.ush.zone

Passed QA test.

Point to note: the CSV file doesn't contain title name for the different column (I am not sure if that was intentional so just thought to flag that)

[2018-04-20 18:33] StaicyG commented on #2429
@Angamanga @kinstelli
QA test environment: http://csvexportsforever.v3-qa.ush.zone

Passed QA test

[2018-04-20 18:34] StaicyG commented on #2428
@Angamanga @kinstelli
QA Test environment: http://csvexportsforever.v3-qa.ush.zone

Passed QA test

[2018-04-20 18:41] #2405 closed

[2018-04-20 19:19] rowasc opened #2804 "[Platform Client] HDX Feature Flag"
### HDX Feature Flag
- To prevent this feature from going out to the general public before it's ready, we need to make sure we have a feature flag for it.
- Other HDX Platform-client Development work will not start without this ticket.

- Test script (flag=FALSE):
    - When the flag is FALSE, go to the CSV Export tool.
    - You should not see any HDX or HXL references.
    - When the flag is FAL

[2018-04-20 19:20] rowasc commented on #2804
@Angamanga can you review?

[2018-04-20 19:35] rowasc opened #2805 "[Platform API] Map HXL tags & attributes to survey fields for an export job"
### Objective
- There is a way to create a HXL Export with an HTTP Request that includes
    - filters
    - selected_fields
    - field_to_hxl_map (where each form field is mapped to a tag+attributes or to "empty" )

## Acceptance critiera
- Deliver a (working) postman collection to create an export with the hxl tags mapped to attributes
    - Example getting a 422 response
    - Example getting

[2018-04-20 19:40] StaicyG commented on #2400
@rowasc @kinstelli

update after retest: when requesting for "Export Select Fields", I get the error illustrated in the screen shot below and no CSV file gets downloaded:
![Screen Shot 2018-04-20 at 10.31.25 PM.png](https://images.zenhubusercontent.com/5a8e72064b5806bc2bc7edf1/d3ea3a3f-5f69-41fe-b5c9-eb0551d0dfb0)

After requesting for a 2nd time, CSV file downloads with title names

[2018-04-20 19:44] rowasc commented on #2518
This is not in scope for V0 as I understand it (it's not the same as the export map of survey fields to tags, this seems to be talking about "Edit HXL mappings on survey creation - A way for users to assign HXL tags and attributes when setting up a survey field." right?

@caharding @Erioldoesdesign

[2018-04-20 19:50] #2683 closed

[2018-04-20 19:51] #2592 closed

[2018-04-20 19:53] #2531 closed

[2018-04-20 19:53] #2693 closed

[2018-04-20 19:54] rowasc commented on #2516
We will need to spec this closer to the start date of CSV downloads with HDX.
Updating HDX API comes first at this point (this might change)

[2018-04-20 19:57] #2535 closed

[2018-04-20 20:00] rowasc commented on #2515
@willdoran this is a feature that won't be needed until much later. Right now while we do map of fields to tags, it's not at a global "this field is always this tag" level.

@caharding is moving to Product Backlog the correct thing here? leaving it up to you

[2018-04-20 20:03] crcommons commented on #2778
@StaicyG Are you currently testing this? If not, can you do the following once you're done testing?

Issues passes QA by passing testing script by QA person
if an Issue doesn’t pass QA: moved back to Ready for Development by the QA; original Dev should be notified by QA;
If an Issue passes QA: moved to Waiting to Deploy by QA

[2018-04-20 20:09] crcommons commented on #2403
@kinstelli To make a new ticket for bugs.

[2018-04-20 20:09] #2403 closed

[2018-04-20 20:29] #2542 closed

[2018-04-20 20:37] rowasc commented on #2518
@jrtricafort sorry, I should have tagged you instead of Charlie! see question above

[2018-04-20 20:43] rowasc opened #2806 "Users should be able to use any valid email to register and upgrade their plan in ushahidi.io"
### Expected behaviour
When I create a new user with an email user+something@something I should be able to upgrade my plan
### Actual behaviour
If I create a user romina+testing@ushahidi.com I can't update my plan because the UI fails to sent the correct information to the server and does not recognize my user.
When I attempt to upgrade, it says my password is wrong, unless I change my user to rom

[2018-04-20 21:03] jrtricafort commented on #2518
@rowasc Good catch! This issue previously did not specify if this was for Survey Creation or Export. I clarified it to make it specifically about Survey Creation, and am going to move it to the Product Backlog since it is not in scope for either v0 or v1 of HDX Integration. cc @caharding

[2018-04-20 21:16] jrtricafort commented on #2518
@caharding in regards to your earlier comment, I edited and updated the tickets you mentioned. There were a whole bunch that were previously ambiguous.

#2518->clarified the description, backlog
#2519->edited the description to differentiate it from 2518
#2520->move to icebox since it is now duplicative of 2518
#2515->move to icebox since it is now duplicative of 2020

[2018-04-20 21:20] rowasc opened #2807 "[Platform API] User based datasource configuration for HDX"
## Acceptance criteria/Deliverable
- [ ] New endpoints listed in the ticket
- [ ] Postman collection for testing the endpoints

## Expected behavior
- A user with access to the HDX feature should be able to configure an API Key in the new "Configure HDX API" page.
- This API Key will be saved and used only for their own HDX connections.
- The API Key is not shared amongst other admins in the deplo

[2018-04-20 21:24] jrtricafort commented on #2518
@rowasc I'm not sure whether or not you think this is duplicative of #2805, or if you think its useful to keep this issue separate to track the front-end work vs. the back-end work of 2805. Let me know what you think and we can either keep this issue or archive it.
Tagging @caharding

[2018-04-20 21:26] rowasc opened #2808 "[Platform-Client] HXL mappings on export"
## Description
HXL mappings on export: A way for users to export multi-survey data with HXL tags and attributes via the export setting menu item.

## View
Multiple Survey Export view
https://drive.google.com/drive/u/1/folders/1B0-2RnlTd6Tb8TtZYOBmdHGr9Caznuxo

## Notes
- Important to remember: CSV exports take ALL surveys included in a set of filters
- HXL tags represented with `bug icon` UI
- Eac

[2018-04-20 21:28] jrtricafort commented on #2516
@crcommons assigning you since this is Ready for Spec. Let me know if that makes sense?

[2018-04-20 21:29] rowasc opened #2809 "[Platform API] Return available HXL tags and attributes for each survey field type"
### Description:
Endpoint that returns a list of tags and hxl attributes available for each form attribute type available.

### Tasks
- [x] Create new tables

Table:  `hxl_tag_attributes` => where we save which  hxl_tags are available for each form_attribute type
    - form_attribute_type: <= this is not an id. This is the type of attribute. So text field, checkbox, list, etc.
    - hxl_tag_id: re

[2018-04-20 21:32] rowasc opened #2810 "[Platform Client] Populate the tags & attributes available for each field from the backend"
### Description:
- A flexible table of tags & attributes pulled from HXL standards.
- Each field has a set list of attributes and tags available (for example `Location` fields have #geo+lat, #geo+lon)
- Each attribute is available for a specific tag. Not all attributes match all tags
### Tasks
- Get the information from the API <-- new issue needed to set up the api-endpoint in client
- Add the ta

[2018-04-20 21:39] rowasc opened #2811 "[UI]Sending data to HDX : required fields that user needs to fill out"
https://data.humdata.org/contribute/new#

 There are a few required fields that are more obvious there.

Specifically:  Organization, and License are important and should be selected with an explicit decision from the user . Source could be Ushahidi+Deployment Name , I think?

We need a way for users to add this data.

[2018-04-20 21:47] jrtricafort opened #2812 "HDX Export - Send to CSV"
After mapping HXL fields during export (#2519), user can send to CSV, which will include the HXL fields as additional headers.

Aside from a button to send to CSV, this issue is mainly an export/backend task. Most of the designs should be covered in #2519.

[2018-04-20 21:48] rowasc opened #2813 "[Platform Client] User based datasource configuration for HDX"
## Expected behavior
A user with access to the HDX feature should be able to configure an API Key in their datasource configuration. This API Key will be saved and used only for their own datasources. The API Key is not shared amongst other admins in the deployment and each HDX user needs their own key set up.

## Notes

- We need a new user-dataprovider screen or module in a screen where they can

[2018-04-20 21:51] jrtricafort opened #2814 "HDX Export - Send to HDX via API"
After mapping HXL fields during export (#2518), user can send data from the Ushahidi platform to HDX via the HDX API.

When the CSV is generated with the HXL tags and the export_job is complete, we need to run an additional set of actions
- Create or update a dataset [Q: how do we decide if an update or create is used here?]
- Create or update the dataset's resources

## TODO - connection to HDX:

[2018-04-20 21:52] jrtricafort commented on #2812
Moved back to Scoping since Eriol and Juan are confirming comparative prioritization of this versus "Send to HDX via API" #2814.

[2018-04-20 21:54] rowasc opened #2815 "[Platform API + Ansible] HDX Feature Flag"
### Overview
To prevent this feature from going out to the general public before it's ready, we need to make sure we have a feature flag for it.

### Requirements
- [ ] A feature flag 'hxl-export' is defined
- [ ] A list of deployments where we need to enable this feature when going live is needed.

### Dependencies

### Test script

[2018-04-20 22:00] jrtricafort opened #2816 "Add HDX Designs to Pattern Library"
HDX - Add HDX designs from #2397 to Pattern Library.

Prototype:
https://xd.adobe.com/view/2690f082-d88d-4788-5db7-b04c9474a404-50a1/?fullscreen

[2018-04-20 22:01] jrtricafort commented on #2816
@caharding I don't really know how to write up the scope for this one. Could you take a stab at filling this out?

[2018-04-20 22:02] rowasc commented on #2518
@jrtricafort I created a different ticket for the current scope that is for client work only. https://github.com/ushahidi/platform/issues/2808

[2018-04-20 22:12] rowasc opened #2817 "[Platform Client] Exit text links to support documentation"
## Description
Add links in prominent places so users can self-serve information. e.g. "Learn more about HXL here".

## Details
- The links and descriptions will be available in the client app

@Erioldoesdesign can you link to the places to add them when you have the final list?

[2018-04-20 22:29] rowasc opened #2818 "[Platform Client] HXL Export - Prevent duplicate attributes"
### Description:
 - A way for dropdown menus to ‘know’ when a previous ‘attribute’ has been used and ‘grey-out’ the option so it cannot be selected twice.

[2018-04-21 17:07] caharding commented on #2518
Yeah good to have both the front end and back end tickets.

On Fri, Apr 20, 2018 at 3:02 PM, Romina Suarez <notifications@github.com>
wrote:

--
Charlie Harding
Product Director

[2018-04-21 17:07] caharding commented on #2816
Going to pass to @Erioldoesdesign to map write out this ticket in a bit more detail just outlining each screen once they are finalized.

[2018-04-21 17:36] caharding commented on #2669
I think my aversion to pure white is only when it takes up the majority of
the screen.

[2018-04-21 17:36] #2333 closed

[2018-04-23 06:05] rjmackay commented on #1372
Outstanding questions (leaving this for myself):
- [ ] Should I change `httpdocs` to `public` to match the standard laravel convention?
- [ ] Can I replace artisan migrate with phinx?

[2018-04-23 12:11] Angamanga opened #3640 "Setting time in post-edit in posts is buggy"
### Expected behaviour
The time set on a date-time field in a survey is showing the same time as the user selected.

### Actual behaviour
The time is converted to UTC and displays as UTC but there is no mentioning of it and it is confusing and it looks like the wrong time is displayed to the user.  This only affects date-time-fields in a survey, not the post-date box where you can set the date for

[2018-04-23 14:17] Celestine22 commented on #2559
@Angamanga @tuxpiper when should I test for this? I will update our customer after that. Please let me know, thanks.

[2018-04-23 14:37] Eve-wanderi commented on #2528
Passed QA tests

[2018-04-23 14:46] jrtricafort opened #2823 "HDX Integration v0"
Container Epic for all issues that are P1 (required) for v0 scope.

Delivery Date: May 21 (end of Cycle 4).

Child epic of #2397 HDX Integration Epic.

For reference: https://docs.google.com/spreadsheets/d/1w-4euXYUleDFrRAcXaxQ2N1BimxQp3cFcH8xFjzAppc/edit?userstoinvite=shadrock@ushahidi.com&ts=5ad781dc#gid=2113011469

[2018-04-23 14:50] jrtricafort opened #2824 "HDX Integration v1"
Container Epic for all issues that are P1 (required) for v1 scope.

v1 Delivery Date: June 22 (mid Cycle 6).

Child epic of #2397 HDX Integration Epic.

For reference: https://docs.google.com/spreadsheets/d/1w-4euXYUleDFrRAcXaxQ2N1BimxQp3cFcH8xFjzAppc/edit?userstoinvite=shadrock@ushahidi.com&ts=5ad781dc#gid=2113011469

----
Once we complete QA for HDX v1, let’s apply the new changes to this deploy

[2018-04-23 15:03] jrtricafort commented on #2818
@rowasc What stage should this be in currently? Ready for Design?

[2018-04-23 15:08] jrtricafort commented on #2804
Marking this as part of the HDX v0 Epic (in scope for v0). @rowasc Let me know if that's incorrect.

[2018-04-23 15:13] tuxpiper commented on #2559
I haven't seen any pull request relative to this, so I don't think anything got deployed yet @Celestine22

[2018-04-23 15:14] jrtricafort commented on #2808
@rowasc Does this issue cover back-end implementation, front-end/UI implementation, or both? I just want to make sure the scope is clear in the issue.

[2018-04-23 15:38] #2649 closed

[2018-04-23 15:48] Eve-wanderi opened #2825 "Incoming Messages for Targeted Surveys are not being filtered based on the Keywords."
### Expected behaviour

Using the SMSsync Integrations If a user adds in Keywords e.g "Ushahidi" all incoming messages to the platform should be filtered or disabled so that users can only see messages with the world ushahidi.

### Actual behaviour
Currently all messages are being sent to the platform regardless if user has added the keyword.

### Steps to reproduce the behavior/error
1. Add in co

[2018-04-23 16:05] rowasc commented on #2807
@caharding YUP.
cc @Shadrock I understand this is the requirement. If not: then we need a per-deployment key

[2018-04-23 16:08] rowasc commented on #2815
@Shadrock can you add a google doc link with the list of deployments this feature will have to be enabled for ? Thanks

[2018-04-23 17:00] Angamanga commented on #2559
@tuxpiper @Celestine22 Its in review, not merged or deployed yet.

[2018-04-23 17:41] crcommons commented on #2586
Only one package to migrate for this component:

https://docs.google.com/spreadsheets/d/1Lz8-qCb89EOdYsXKWlwW0tSeujCy5d5558vvdP_riJM/edit?usp=sharing

[2018-04-23 17:43] crcommons opened #2826 "Resolve Routing in Migration Branch"
### Requirements
- implement a <Link> component that allows us to swap it out for react-router in the future
- Route component?

[2018-04-23 17:46] Celestine22 commented on #2559
@kinstelli this is closed but has not been deployed. I would need to test this before we close it, so I'll re-open it for easy tracking.

[2018-04-23 17:57] Eve-wanderi commented on #2526
@StaicyG  i think validation for this field is based on what country code you select. In Kenya the Digit format is mostly 12 digits thats plus the 254 so in this case the field will not accept more than 10 digits.However if you select a country code like China the field will accept 15 digits.

Tested this with 8 digits and the validation works from my End. However i noticed that SMS are not being

[2018-04-23 18:25] Eve-wanderi opened #2827 "Unable to send a Targeted survey via sms from the platform"
### Expected behaviour
When a user creates a targeted survey from the platform and sends this to valid numbers. Recipients should receive this survey via sms.

### Actual behaviour
Platform does not send out the survey to the recipients.

### Steps to reproduce the behaviour/error

Prerequisite **Ensure SMSsync is enabled from your phone**
1. log into the  Test Server
URL: http://targetedsurveytes

[2018-04-23 18:30] kinstelli commented on #2827
@Eve-wanderi - Can you try this with the country code as part of the phone number? I had issues with this last week, but if I include the country code, it seems to work fine.

[2018-04-23 18:37] Eve-wanderi commented on #2827
Yaap this works when i put the country code. Though we should let users know the format they'l use even if its through a validation message since most users will assume they dont have to add in the country code.

[2018-04-23 18:44] kinstelli commented on #2827
@Eve-wanderi  - Okay, then this is the same as #2795 - but thank you for looking into it with another provider. I wasn't able to test elsewhere.

[2018-04-23 19:01] Eve-wanderi commented on #2827
Yes that is the same.. Ur welcome Guess we can close this now.

[2018-04-23 19:28] crcommons commented on #2577
Only two packages to migrate for this component:

https://docs.google.com/spreadsheets/d/1Lz8-qCb89EOdYsXKWlwW0tSeujCy5d5558vvdP_riJM/edit?usp=sharing

[2018-04-23 19:32] #2827 closed

[2018-04-23 19:33] crcommons opened #2828 "Install/Set up react-intl"
### Requirements
- follow set up https://github.com/yahoo/react-intl and https://medium.freecodecamp.org/internationalization-in-react-7264738274a0
- attempt to make it so that existing translations don't need to be re-translated/duplicated
  - either by compiling different files into one or using existing files
- Come up with recommendations on pluralization, dates, numbers, etc...

[2018-04-23 19:38] Eve-wanderi opened #2829 "Unable to Respond to a Survey via sms."
### Expected behaviour
Users should be able to respond to surveys via sms

### Actual behaviour
When i receive a survey via sms am currently unable to respond to the same survey through sms.

### Steps to reproduce the behaviour/error

rerequisite Ensure SMSsync is enabled from your phone

log into the Test Server
URL: http://targetedsurveytesting.v3-qa.ush.zone
User: qa@ushahidi.com
Password: tes

[2018-04-23 19:48] Eve-wanderi opened #2830 "System does not send out All Questions that have been created in a survey."
### Expected behaviour
Incase a user adds 3 or more questions recipients should receive all questions which were added when creating the survey.

### Actual behaviour
System sends out just the first question.

### Steps to reproduce the behaviour/error

1.log into the Test Server
URL: http://targetedsurveytesting.v3-qa.ush.zone
User: qa@ushahidi.com
Password: testing
2.Go to settings>Surveys> New

[2018-04-23 20:13] kinstelli commented on #2830
Looking at the logs for Twilio, I think this is related to #2797, as is #2829.

[2018-04-23 20:14] kinstelli commented on #2829
Looking at the logs for Twilio, I think this is related to #2797, as is #2829.

[2018-04-23 20:16] rowasc commented on #2797
@kinstelli did this have the latest code merged in? With the fixes for the message-receive to allow messages even if there's no survey, this wouldn't happen

[2018-04-23 20:17] kinstelli commented on #2830
@Eve-wanderi - Did you respond to any of the messages in this survey? The 2nd and 3rd questions should only go out if the user has responded.

[2018-04-23 20:24] rowasc commented on #2797
@kinstelli yea just checked. They are in `develop` :/  I was hoping there was a weird merge issue

[2018-04-23 20:40] rowasc commented on #2797
ugh trying to repro locally does not result in this bug :( checking qa now..

[2018-04-23 21:52] Erioldoesdesign commented on #2811
Take a look at this page in the prototypes:
https://xd.adobe.com/view/2690f082-d88d-4788-5db7-b04c9474a404-50a1/screen/1c15cc61-5a2e-4dbe-8018-a7bd2b559d40/Data-export-CSV-landing-page-HDX-single-survey-20?fullscreen

We'll need to discuss whether it covers everything needed (if I've missed some crucial information)

[2018-04-23 21:54] Erioldoesdesign commented on #2519
Pretty sure this is final designs ready for platform meeting tomorrow: https://xd.adobe.com/view/2690f082-d88d-4788-5db7-b04c9474a404-50a1/?fullscreen

[2018-04-24 00:47] crcommons commented on #2755
4/21

-removed pre-commit hooks, jshint, eslint, etc...
- added eslint with new configuration file
- added airbnb
- added lint-staged to only lint on changed or new files and husky to run precommit

Need to do:
- accessibility linter
- es6 linter
- prettier

[2018-04-24 02:54] caharding opened #2831 "Push DREAMS features to all deployments"
Make sure the DREAMS CSV and SMS features went to every deployments on this list including the test deployment https://dreamsic.ushahidi.io/ @declan isn't seeing it there https://docs.google.com/spreadsheets/d/1cxzOJdR58x3EI6hDSCGnay7lPB0S62-MfwNokt3-jRU/edit#gid=1663680881

[2018-04-24 07:13] rjmackay commented on #2815
@rowasc to answer your question in slack. Yes feature flag API and frontend.

Also ideally we want to deploy with the feature disable so the migrations have time to run, so make sure migrations can run by themselves, and don't break any existing code

[2018-04-24 07:35] rjmackay commented on #2805
It might be better to just have a special parameter for `all`. That would work better if we ever set up repeating exports. Also just less ugly than listing *every field*

Just checking. You just mean the HXL mappings would be stored in another table?

Did you have a plan for handling the default mappings define in survey settings? would the share the same HXL mappings table?

Couldn't that just be

[2018-04-24 07:58] Eve-wanderi commented on #2830
I cant send a response to the first question. Raised that as well https://github.com/ushahidi/platform/issues/2829

[2018-04-24 08:02] Eve-wanderi commented on #2522
Passed QA

[2018-04-24 09:30] Angamanga commented on #2468
This can be QAd on any .io site now.

[2018-04-24 11:16] Angamanga commented on #2485
This can now be tested on http://targetedsurveytesting.v3-qa.ush.zone

[2018-04-24 11:17] Angamanga commented on #2559
@Celestine22 This can be tested on http://targetedsurveytesting.v3-qa.ush.zone now

[2018-04-24 11:33] Eve-wanderi commented on #2778
Will pick up testing for this.

[2018-04-24 14:44] willdoran commented on #2570
@rowasc

Not totally sure I follow, what is the usecase/flow?

[2018-04-24 15:00] willdoran commented on #2787
The originally purpose, I think, of creating the export handler in Lumen was so that it could be merged back to platform when Lumen was in the API. So the above seems reasonable.

[2018-04-24 15:03] rowasc commented on #2831
@caharding
DONE.

Note: this deployment wasn't in the list the day we deployed (at least, checking the history, it doesn't look like it), so I didn't add it to the script initially.

Is there any other new deployment or any other deployment that is not seeing the changes but should?

@dexwakhu can you check if it's on now? Please clear cache just in case.

[2018-04-24 15:05] Erioldoesdesign commented on #2816
@Angamanga I'm guessing that breaking out individual FE tickets would be useful here?

I can go ahead and add each as an item in the main description here but I have a feeling we'll split into individual tickets!

[2018-04-24 15:42] Erioldoesdesign commented on #2812
Here's the design prototype screen from the 'export to CSV' modal onwards: https://xd.adobe.com/view/2690f082-d88d-4788-5db7-b04c9474a404-50a1/screen/20ecc9ee-fef4-4e23-8c68-05bf26ad3a9b/Data-export-HDX-single-survey-29?fullscreen

[2018-04-24 15:43] Erioldoesdesign commented on #2814
Here's the screens from 'upload to HDX' modal onwards: https://xd.adobe.com/view/2690f082-d88d-4788-5db7-b04c9474a404-50a1/screen/01c9f863-e129-42cc-938c-c44b13193306/Data-export-HDX-single-survey-30?fullscreen

[2018-04-24 15:49] Erioldoesdesign commented on #2810
Can I also add here that tags and attributes should display alphabetically if possible?

(of course if they're pulled in from HDX via the API in a certain order let's not make extra work for ourselves in order to force alphabetical listing)

[2018-04-24 15:56] Erioldoesdesign commented on #2807
Can I get an update today on whether I need to look into any UI/UX design work for the configuring of the API?

So if we decide to move it to user account or webhooks or it's own settings section and if the setting up of the API requires anything (UI) that we don't have already?

This section, once in v0 will be heavily user tested to improve it for v1 but as it stands, we don't have time to test

[2018-04-24 16:02] Erioldoesdesign commented on #2808
@jrtricafort This looks like it covers a bit of both? BE & FE.

I think this criteria was initially just to make sure that if the user chooses 'Assign tags and attributes' on the first screen that they see all of the survey associated with a deployment (because the full prototype flow only shows one)

[2018-04-24 16:24] Angamanga commented on #2816
@Erioldoesdesign Thats fine to start with, I have tomorrow set out for speccing/breaking-out-issues ✂️ ✂️ ✂️

[2018-04-24 16:45] dexwakhu commented on #2831
Thanks Romina. Hate to have you do this again but we added some deployments
in Uganda:

https://superwoman.ushahidi.io/
https://mcu.ushahidi.io
https://wvu.ushahidi.io/

On 24 April 2018 at 18:04, Romina Suarez <notifications@github.com> wrote:

[2018-04-24 16:47] rowasc commented on #2831
no worries. Solved. Can you check? @dexwakhu

[2018-04-24 18:10] rowasc commented on #2829
@kinstelli did you have a chance to check if this is related to the twilio or testservice setup?

[2018-04-24 18:26] kinstelli commented on #2829
@rowasc - QA was testing with SMSSync, and I'm afraid I haven't tested with that yet.

However, I'm getting similar errors as #2797, even when I am just using Postman -- both when sending to testservice and twilio.

Note that this only seems to happen when a phone number is already in a targeted survey.

Here's my test with testservice:
Sending to: `http://targetedsurveytesting.api.v3-qa.ush.zone/

[2018-04-24 18:28] rowasc commented on #2795
@willdoran  @kinstelli @crcommons I thought we had agreed on removing validation ( and therefore manipulation) of the contact number in the backend to speed it up?

If we want to prepend the country code in the backend it has to also run validation and check the format.

[2018-04-24 18:31] kinstelli commented on #2795
@rowasc - True. We did. I think it might make more sense to prepend the country code to the number _before_ we send it to the API, because of the complexity of doing this on the backend.

[2018-04-24 18:53] crcommons opened #2835 "Add Styles to UserForm and UserContainer"
## Requirements
- Add styles in the new React way

[2018-04-24 18:56] crcommons opened #2836 "Remove render blocking CSS"
Aha! Link: https://ushahiditeam.aha.io/features/PROD-355

[2018-04-24 19:26] rowasc commented on #2797
@kinstelli ok so this happens when your contact WAS in a different survey before, as Mark suspected.
The issue is in

where we just select one and not the one that's active

[2018-04-24 19:34] willdoran commented on #2572
@Shadrock Would it be possible to get links to Post examples for the above 3 issues? I can use the text of those posts to see what's happening specifically.

[2018-04-24 21:26] crcommons commented on #2755
Added commitizen

found out that accessibility linter works directly in github, will have to set up later

[2018-04-24 22:09] justinscherer commented on #2800
closing in favour of #2665

[2018-04-24 22:09] #2800 closed

[2018-04-24 22:25] justinscherer commented on #2701
copy airbnb

no shame.

![Screen Shot 2018-04-24 at 4.24.56 PM.png](https://images.zenhubusercontent.com/5a661d504b5806bc2bc3c395/48d83e40-84e4-4df6-a26c-a4a2cc4d3c99)

[2018-04-24 22:26] justinscherer commented on #2766
click + shift + click to multi-select in a list

tap and hold to activate multi-select in mobile

can only do bulk actions in data mode.

[2018-04-24 22:28] justinscherer commented on #2664
break into two issues -> search/filter/sort and "About"

[2018-04-24 22:29] justinscherer commented on #2658
do we need this anymore?

This is just a variation on a data list item now. There's no special postcard style.

[2018-04-24 22:31] justinscherer commented on #2656
closing for #2657

[2018-04-24 22:32] #2656 closed

[2018-04-24 22:50] justinscherer commented on #2666
current WIPs
![stepper copy 15.png](https://images.zenhubusercontent.com/5a661d504b5806bc2bc3c395/2401d94d-31a1-4898-9cac-1e9b115e4dec)
![stepper copy 17.png](https://images.zenhubusercontent.com/5a661d504b5806bc2bc3c395/e788f69d-3fd0-4e0b-899c-121206eb4b81)
[Uploading... stepper copy 19.png ]
[Uploading... WINNER.png ]

[2018-04-25 07:25] dexwakhu commented on #2831
Super, thanks.

On 24 April 2018 at 19:47, Romina Suarez <notifications@github.com> wrote:

[2018-04-25 12:02] aoduor opened #2838 "CSV file downloaded doesn't give me all fields I expect on export"
### Expected behaviour
When exporting data from platform ( be it using the share button) or via the admin panel, I expect to be able to see my survey fields available in the CSV file.

### Actual behaviour
These are the only headers available for me on the CSV file, even after selecting fields from two of my surveys.

`Post ID | Created (UTC) | Updated (UTC) | Post Date (UTC) | Contact ID | Contac

[2018-04-25 12:49] aoduor commented on #2593
I'll just leave this here..

![wailing](https://media.giphy.com/media/3ohfFLdE4NeyPQtJbG/giphy.gif)

[2018-04-25 12:51] aoduor commented on #2593
I'll just leave this here...

![wailing](https://user-images.githubusercontent.com/721918/39246855-67a08da6-48a0-11e8-8a42-ffcf79f6e7e4.gif)

[2018-04-25 13:16] rowasc commented on #2797
@kinstelli @StaicyG @Eve-wanderi
 This specific issue is solved now.
@kinstelli because of https://app.zenhub.com/workspace/o/ushahidi/platform/issues/2795 if you use the test service you might run into issues. For instance , if you add numbers with + before country code (+59891222333) and send a message with test service, all is lost because it seems test service is stripping the + from country c

[2018-04-25 13:19] rowasc commented on #2795
@Angamanga yes. I think it varies by provider tho.
@kinstelli  you might want to add details here about the specific issues for each

[2018-04-25 13:48] aoduor opened #2839 "Data Import failure handling improvements"
### Expected behaviour
In the event that I have a CSV file to import that has, say, 1500 posts, and i've got one record that fails to upload for one reason or the other e.g inability to assign a post to multiple categories/field options ( see #2593), I'd rather have the importer skip the records it can't upload, upload everything else for me, and them notify me **_at the end_** with details why ce

[2018-04-25 14:13] Erioldoesdesign commented on #2642
Soooo I found another weird thing that technically could be classed as a loader?

![button-loader](https://user-images.githubusercontent.com/11681324/39251450-3bb4aac4-489b-11e8-82ed-64823e810642.gif)

[2018-04-25 14:24] aoduor commented on #2056
Also confirming that one of our users is experiencing this same issue. Opened up his CSV file and couldn't detect the line endings. Recreated my own CSV from it and it worked out fine.

So guessing there's two issues here:
1. Formatting issues with certain CSV files
2. Confusing import notification

[2018-04-25 14:37] Eve-wanderi commented on #2797
@rowasc  tried with a valid number without adding + but still cant get the sms. Am currently using SMSsync service is there any other test service i can use so as to get the sms?

[2018-04-25 16:15] kinstelli commented on #2838
@rowasc - Was this in scope for CSV?

[2018-04-25 16:40] rowasc commented on #2811
This looks great. I'll creat the client and backend tickets for it now

[2018-04-25 16:41] rowasc opened #2840 "[Platform Client] HDX Export configuration settings"
### Description
The user needs to add metadata to their dataset before uploading it to HDX

DESIGNS:  https://xd.adobe.com/view/2690f082-d88d-4788-5db7-b04c9474a404-50a1/screen/1c15cc61-5a2e-4dbe-8018-a7bd2b559d40/Data-export-CSV-landing-page-HDX-single-survey-20/?fullscreen

### QA-checklist
*Assumes HDX featureflag is ON*
- Go to settings-> data-export-> HDX-view
- Select a number of fields and

[2018-04-25 16:42] rowasc commented on #2818
Ready for spec. Moving

[2018-04-25 16:45] #2831 closed

[2018-04-25 16:46] rowasc opened #2841 "[Platform API] Return HDX organizations for user"
Design ticket: https://github.com/ushahidi/platform/issues/2811
Platform client ticket:  #2840

## Tasks
- [ ] Create new endpoint
- [ ] Connect to HDX API to get the list
- [ ] Return list with only active organizations to the client

## Backend Notes:
- To return the list of organizations a user belongs to:
GET https://data.humdata.org/api/action/organization_list_for_user
Headers: Content-Type:

[2018-04-25 17:04] rowasc commented on #2838
Certainly. This looks like a bug with the include fields feature to me. @kinstelli

[2018-04-25 17:08] rowasc commented on #2811
@Erioldoesdesign I think `source` should be plain text, maybe with the deployment name as a default?
cc @willdoran

[2018-04-25 17:09] rowasc commented on #2811
@Erioldoesdesign @willdoran I think maintainer would always be the person uploading the data, so maybe this could go in the api config (they would give us api key + username basically)?

[2018-04-25 17:15] rowasc commented on #2811
@Erioldoesdesign another question/suggestion: do you think it'd be worth it to add a short explanation to organization list like  "This is a list of all the organizations you are part of in the HDX portal." so users know how we got it?

[2018-04-25 17:34] kinstelli commented on #2795
Added PR here that should fix the client part of this issue:
https://github.com/ushahidi/platform-client/pull/1116

[2018-04-25 18:37] kinstella opened #2842 "It's unclear which SMS provider is outgoing provider if deployment has more than one."
** Updated this to only reflect issue in the title, and spawned new issue for related but separate bug: #2844  **

Aha! Link: https://ushahiditeam.aha.io/features/PROD-354

[2018-04-25 18:40] kinstelli commented on #2842
@justinscherer - I'm probably combining issues here, but I wonder if we could add a select menu in the UI of Targeted Surveys to let someone choose options from the active data providers list when they create a targeted survey? Than have that stored in each targeted survey?

[2018-04-25 19:19] rowasc commented on #2810
@Erioldoesdesign I'm pretty sure we will need to add them ourselves and have no good way to pull them from an endpoint (still waiting on my meeting with hdx to be sure) so this would be feasible in that scenario. I'll confirm after we meet

[2018-04-25 19:34] kinstelli commented on #2797
@rowasc - I'm afraid I've never used SMSSync before, either -- just Twilio -- and I don't have a functioning Android phone to set this up.

I believe that @aoduor agreed last week to help with Eve with a configuration of this, however.

[2018-04-25 19:59] crcommons commented on #2559
@Angamanga What's the status of this ticket? Has it been deployed to production or is it still in QA  or QA backlog?

[2018-04-25 20:00] crcommons commented on #2485
@Angamanga could you add a test script, please! thanks!

[2018-04-25 20:02] crcommons commented on #2431
@Angamanga Test script here too, please :)

[2018-04-25 20:04] crcommons commented on #2468
@Angamanga and here too, please!

[2018-04-25 20:08] #2558 closed

[2018-04-25 20:10] crcommons commented on #2005
@rjmackay Are you retesting this cycle?

[2018-04-25 20:34] rjmackay commented on #2005
No. I have zero plans to work on this task.

[2018-04-25 20:58] justinscherer commented on #2642
That's definitely a loader. In the case of something like this, we could do a determinate loader on top of the button. I have an example for this in my mocks, but I didn't upload it for some reason.

[2018-04-25 21:03] justinscherer commented on #2842
nice catch.

Add a dropdown that automatically selects the first provider they added.

It would look like this

![send via](https://user-images.githubusercontent.com/29209303/39272665-c6565332-4899-11e8-8746-b1f803aff2dd.png)

[2018-04-25 21:06] justinscherer commented on #2842
Also, the dropdown should only appear if the user has more than one data provider integrated.

[2018-04-25 21:52] justinscherer commented on #2842
Even if you do this, you'll still need to let users override the default, which means there'll still need to be a provider dropdown with every survey sent out.

For example, if I send a survey to the US, then to Kenya, then to Tanzania, I'll have to choose a different data provider for each survey sent if I have multiple integrated already

[2018-04-25 22:08] kinstelli commented on #2842
That's an excellent point, @justinscherer , and it's a strong case for tying outbound provider to a survey.

[2018-04-25 22:12] kinstelli opened #2844 "SMS provider is set to NULL for all subsequent outgoing messages"
### Expected behaviour
- SMS provider should stay configured to an SMS provider for the duration of a targeted survey

### Actual behaviour
- SMS provider is set to `NULL` for outbound messages after the first one is sent

Example:
[code]