[2017-02-07 11:52] aoduor commented on #1511
@brandonrosage solid in my opinion! quick question: we have a "hide author" option, so i'm assuming that we're now going to offer fields collecting author information by default?

[2017-02-07 11:53] aoduor commented on #1494
This looks good to me as well..

[2017-02-07 11:55] aoduor commented on #1511
Wondering if this issue here also addresses https://github.com/ushahidi/platform/issues/1560?

[2017-02-07 12:00] aoduor commented on #1562
Ping @willdoran confirming this still isn't working for me :(

[2017-02-07 12:03] aoduor commented on #1565
Got it @brandonrosage :)

[2017-02-07 12:06] aoduor commented on #1383
@brandonrosage i can help identify groups of users to include in this study.

Clarifying question: These would be existing users of current version of platform using tasks currently, yes?

[2017-02-07 13:20] aoduor commented on #1396
I *really* dig this, @brandonrosage. As a first pass, i think this looks good. As we continue to iterate, it would be great to figure out
1. Where elements of training/showing them HOW to perform these tasks would fall into place. The simplified questions help quite alot.
2. How to tackle templating based on focus areas they select on deployment creation - in as much as we may not be able to handl

[2017-02-07 16:27] willdoran commented on #1562
@aoduor hmmm nuts, Ok let me double check again

[2017-02-07 17:29] willdoran commented on #1562
@pedrofuentes It should be fixed and live now, sorry for the delay, can you confirm if the problem is fixed for you?

[2017-02-07 21:40] pedrofuentes commented on #1562
@willdoran yes I got confirmation that is working, thanks!

[2017-02-08 00:39] willdoran commented on #1562
@pedrofuentes Wonderful!

[2017-02-08 00:39] #1562 closed

[2017-02-08 15:09] brandonrosage commented on #1511
@aoduor: No, the "hide author information" option for surveys isn't intended to suggest there would be new or additional fields. Nothing would change about how we handle capturing author data.

That control is simply an extension of the user story here -- that the contributor may be fine with the content of their response being publicly visible, but not some (or any) of their information or attrib

[2017-02-08 15:45] brandonrosage commented on #1560
I think the only elegant way to accomplish something like this would be to provide an option to more narrowly define who can see any given survey -- not just its posts, but its entire presence in the deployment.

Otherwise, I think we'd be pulling the rug out from under the function and hard-won value of post statuses. Here's why:

When we first released Version 3, our approach to the visibility o

[2017-02-08 15:50] brandonrosage commented on #1511
From what I can tell, @aoduor, I don't think this solution addresses #1560. That issue seems to imply that deployers might need to make whole surveys invisible to its users. If that's the case, it doesn't really touch on contributor's privacy because it would potentially never make the survey visible to those users to begin with.

That said, the solution above does suggest where a control like the

[2017-02-08 15:54] brandonrosage commented on #1383
@aoduor: The user test intentionally avoids discussing "Tasks" as a feature in its existing form. So it's not terribly important that the participants be able to speak to their experience with it. Participant requirements would just be, A, that they are Ushahidi deployers, and B, that they're willing to jump on a video conference to talk and offer feedback on some wireframes.

Past that, a bonus (

[2017-02-08 21:47] aoduor commented on #824
Piggy backing on this one more time.

While I understand the resistance to build this into the platform UI, its a bit frustrating not having the option to manually pull a plug and pull in items from my data sources.

Case in point - @natmanning set up a deployment to pull in tweets, having followed instructions to the tee, and the deployment wasn't pulling in tweets, and we don't know why.

It wou

[2017-02-08 22:55] brandonrosage commented on #1396
**Note**: I've revised my summary above to include work I've added in order to outline Version 1: Intercom-powered on-boarding support. That work is included in the scope for the overall issue, as well as in [the addition of a UX concept](https://drive.google.com/open?id=1oDS_pZrX1TXq21Nqc7nEQRFt_UoeeIzITncmNbfho-o) for the Intercom-powered solution.

Example:

![Intercom example](https://cloud.gi

[2017-02-09 07:29] aoduor opened #1582 "No tweets being pulled in despite correct data source integration"
### Expected behaviour
* We should be seeing posts from tweets under #resist and #equality on https://equality.ushahidi.io under the Unknown posts saved search

### Actual behaviour
* We're getting no tweets corresponding to hashtags set under twitter configuration

### Steps to reproduce the behaviour/error
* Log into your deployment
* Set up twitter config
* Set up hashtags #equality #resist
* C

[2017-02-09 14:32] brandonrosage commented on #1396
I think it'd be ideal for each of the messages I've drafted in [the UX concept](https://drive.google.com/open?id=1oDS_pZrX1TXq21Nqc7nEQRFt_UoeeIzITncmNbfho-o) to include links to relevant ushahidi.com/support pages (or embedded content, like videos). I haven't included it, however, because it's not clear what that content would be, how it's going to get created, or when. So short of those details,

[2017-02-09 16:38] aoduor commented on #1383
Hey @brandonrosage, i've got a solid list of potential users to run this test with.

I'm trying to draft messaging to request their participation. Please let me know proposed dates and times you'd like to host the test :)

[2017-02-09 17:40] brandonrosage commented on #1383
@aoduor: If necessary, I can do some middle-of-the-night interviews. Otherwise, my preference is any of the following times and dates:

- **Monday, Feb. 13**: 8:30 a.m. to 5 p.m. CT
- **Tuesday, Feb. 14**: 10 a.m. to 2 p.m. CT
- **Wednesday, Feb. 15**: 8:30 a.m. to 5 p.m. CT
- **Thursday, Feb. 16**: 8:30 a.m. to 5 p.m. CT
- **Friday, Feb. 17**: 8:30 a.m. to 5 p.m. CT
- **Monday, Feb. 20**: 8:30 a.

[2017-02-10 07:08] aoduor commented on #1383
Alrighty, [let me know if this is all good](https://docs.google.com/document/d/1WT5ALXGt1u8pi3JrXLhkv4rdYQRtCuITIxlgLNHGjRk/edit#) and i'll send these out to the list of participants i drafted

[2017-02-12 23:00] rjmackay commented on #1569
@natmanning is this on an ushahidi.io deployment? or open source?

[2017-02-12 23:04] rjmackay commented on #1548
I think this is the case. Notifications are only sent on published posts. I think we could consider accepting a pull request to change this if it updated the notifications code to validate user permissions for the user receiving a notification.. ie. check if the receiver can view the post

The categories issue does seem to be very messy. I'm not sure whats going on but there must be some race cond

[2017-02-12 23:04] rjmackay commented on #1548
Related #1501 and #1569

[2017-02-13 05:11] aoduor commented on #1569
I've experienced this on Ushahidi.io as well

[2017-02-13 07:15] aoduor commented on #1383
@brandonrosage this is set in motion, and we've already got some of these getting scheduled for this week.

**fistbump**

[2017-02-13 23:23] #1384 closed

[2017-02-14 06:57] caharding commented on #1396
In my mind these onboading tips should be in addition to an in product tutorial, which will be much more helpful as a visual aid. These sorts of onboarding tips should only appear if people fail to complete essential functions I'd think.

[2017-02-14 12:33] tuxpiper opened #1583 "Textual search functionality doesn't do token matching"
Currently, the search function matches search terms (introduced by the user) as a substring, against post titles and descriptions.

This is counterintuitive for most search engine users, who expect terms and text content to be broken up in tokens and matched as sets of tokens.

### Expected behaviour
- Assuming two posts P1 and P2 , with titles "Mister Pickles goes camping" and "Camping day calls

[2017-02-14 16:53] willdoran opened #1584 "Add save draft"
### Expected behaviour
- As I work on a post, it should automatically be saved as a draft every X amount of time

### Actual behaviour
- If I am logged out I loose my work

### Steps to reproduce the behaviour/error

Related https://github.com/ushahidi/platform/issues/2306

Aha! Link: https://ushahiditeam.aha.io/features/PROD-630

[2017-02-14 16:54] caharding commented on #1584
This issue was described on intercom where a researcher lost 2 hours of survey design about Measuring User Innovation in Nigeria's Small and Medium Entreprises .

[2017-02-14 19:39] Shadrock commented on #1550
Robbie: that date is for scoping. To test the integration is going to be a bit of a logistics lift... we'll need to get the devs from the COMRADES consortium to enter it via Github to start with... so they'll be a call, etc. But I want to make it as easy for them as possible so that they'll actually do it the way we want to.

[2017-02-15 18:55] brandonrosage commented on #1575
The wireframe at the bottom is intended to be something that doesn't require any engineering beyond the scope of this single feature. So it doesn't assume the ability to manage multiple deployments under a single account or any "Discover"-like functionality.

That said, in my mind, we get there by simply establishing another "layer" behind the campaign for Ushahidi. Visually, similar to this:

![v

[2017-02-15 21:35] caharding commented on #1575
@brandonrosage that question is really about how do we deal with an organization that wants to run the same kind of campaign in 7 countries (think UN). Can they duplicate? Can they manage all of them from 1 account? Can they export and mash up data?

[2017-02-15 21:36] caharding commented on #1575
I think I was confused about how / when this would be implemented, since the top level menu items were top nav rather than left nav. Makes sense to get the simple thing out first.

[2017-02-15 21:49] brandonrosage commented on #1396
As I understand your comment, @caharding, you're saying that Version 1 (Intercom messaging) and Version 2 (immersive, step-by-step) need to co-exist -- that they can never stand alone in the absence of the other.

Is that what you're saying?

[2017-02-16 06:25] tuxpiper commented on #1583
This is a quick something something I put together for Pheme: https://github.com/project-pheme/project-pheme-platform/commit/0dffa62ac79c883828a4c39ccba268a32b722ae6

[2017-02-16 09:32] tuxpiper opened #1585 "Unencrypted IMAP doesn't work"
### Expected behaviour
When configuring an IMAP server with no encryption as datasource, platform should be able to retrieve emails from it

### Actual behaviour
Platform doesn't attempt to connect to the IMAP server because of a malformed connection string. In the logs can be seen:

[code]

The remote specification is indeed malformed (notice the "None" after "IMAP/").

### Steps to reproduce the

[2017-02-17 09:21] jshorland commented on #1569
This keeps popping up, but I'm never able to replicate it. I'd like to get to the bottom of this urgently.

[2017-02-17 20:48] natmanning commented on #1569
So i haven't been able to replicate this either. But the user was working on:
https://mappingmediafreedomus.ushahidi.io/views/map

They said it's totally random for them too. They are working and things are moving along, and then, pop categories are gone, and so they go to and different page (within Ushahidi), then press backwards, and now categories are back.

But i can't figure out what is trigg

[2017-02-20 18:59] Shadrock commented on #1550
@rjmackay @jshorland I just love the great whooshing sound a deadline makes as it goes by... I'm setting up a call with Jess this week to talk integration: it would be nice to have this done. Robbie: would it be easier for you to just start by sitting in on that call? If so, I'll arrange a time.

[2017-02-21 03:30] rjmackay commented on #1423
@tuxpiper did you get a chance to review the docs?

[2017-02-21 03:30] jshorland commented on #1475
@aoduor I'm not replicating this either. Still a problem anywhere that you've seen?

[2017-02-21 03:46] rjmackay commented on #1501
Closing in favour of #1569

[2017-02-21 03:47] jshorland commented on #1548
@willdoran I'll set up an hour call with them as we discussed to try and understand their issues a bit more

[2017-02-21 03:48] jshorland commented on #1505
@Angamanga what URL should I test this on?

[2017-02-21 03:49] rjmackay commented on #1501
Actually this seem subtly different so I'll leave it open

[2017-02-21 03:51] jshorland commented on #1509
Great! I' going to check in with the user who reported this and let them know. I'll close after they confirm fixed. And to double check @Angamanga since this is fixed, their duplicate emails within their deployment should be cleared out, correct?

[2017-02-21 12:15] jshorland opened #1587 "survey custom colors on platform aren't appearing on the side of surveys, pop up summary boxes, or cards in timeline view"
### Expected behaviour
Assigned colors appear on post cards, summary boxes, and on the side of each survey in the map view left side info bar

### Actual behaviour
![screen shot 2017-02-21 at 7 11 51 pm](https://cloud.githubusercontent.com/assets/3224856/23164511/fa5e50fc-f869-11e6-997b-3f9e989c9c56.png)

[2017-02-21 17:13] tuxpiper commented on #1423
@rjmackay just going through them, hopefully I will be done in the next couple days

[2017-02-21 17:57] tuxpiper commented on #1423
Ok @rjmackay that was quicker than I thought, I've added comments. It looks like most immediately we've got:

1. A few items to clarify
2. Some basic cleaning up to do (i.e. ensuring server access, repossessing the crowdmapid repo from Evan)

A note about costs. At a first glance, it doesn't look like we can save a lot of money (say 50%) by powering down replicated servers. My wild guess is that s

[2017-02-22 02:49] rjmackay commented on #1550
Yikes. Sorry!

### Initial thoughts:
- Ideally we wouldn't run or host YODIE ourselves, but use it through an API. Rather the partner that built it should run it.
- The existing YODIE api appears to be very simplistic: http://services.gate.ac.uk/yodie/api.html
  - **There is no spec for the expected response format. We'll need this to start anything**
  - It looks like the API returns links to any

[2017-02-22 02:50] rjmackay commented on #1550
@willdoran could you take a look at this in case I missed something obvious?

[2017-02-22 15:14] Angamanga commented on #1505
@jshorland You can test here: http://qa.ushahididev.com

[2017-02-22 18:58] Angamanga commented on #1569
I cannot manage to reproduce it either. But it may be fixed by this pr: https://github.com/ushahidi/platform-client/pull/465/commits/575e00aeeb71eb1a28a170b5266f7e4864f4b100

[2017-02-23 11:08] Angamanga commented on #1501
Related to  #1569 and #1505, fixed in #465

[2017-02-23 16:54] sethburtonhall opened #3622 "Option to set the default location by typing name of location."
### Expected behaviour
set default location by typing city, state, town, etc...

### Actual behaviour
the only way to set default location is to either drag the map marker or know the lat/long

### Steps to reproduce the behaviour/error
go to settings -> general

[2017-02-23 17:41] jshorland commented on #1338
Can you look into effort needed to actually add the contact author feature via twitter and give a rough estimate of time?

iPhone iTypo

[2017-02-25 00:40] caharding commented on #1243
@rjmackay I was cross referencing platform with Rollcall to figure out payment method requirements. Seems we don't have a good solution here either.

[2017-02-27 18:21] willdoran opened #1588 "Add mobile client_id for mobile app"

[2017-02-28 08:01] aoduor commented on #1582
Got another one of our users complaining about the same issue on intercom.

See below.

"I have gone through all of the support materials, and I just need a little help with troubleshooting if you have a moment.

As far as I can tell, I have set up the twitter and email data sources correctly.

If the twitter feed is supposed to forward hashtagged tweets into the installation as unknown posts, it

[2017-02-28 12:49] Angamanga commented on #1392
@jshorland Should we add the unmapped-option to the filter-dropdown as well?

[2017-02-28 12:52] jshorland commented on #1392
Yes, add to filter drop down. Same behavior

[2017-03-01 15:55] Shadrock commented on #834
This is an important feature that goes hand-in-hand with the idea that Ushahidi can help connect to other online communities and tools. I'm not sure if it's relevant in anyway, but the [old Crowdmap](https://crowdmap.com/) had a search feature on the homepage and [Brian had done some work tutorials on publicly listing deployments](https://www.youtube.com/watch?v=aCDO5DyNt0Q).

[2017-03-01 16:28] willdoran commented on #834
@jshorland  Is this the right place to comment?

This sounds super awesome. It would be nice to have category tags and geography, in theory we could use a deployment to map deployments that mark themselves as discoverable.

We could add a discoverable setting to settings and push an alert for it via intercom or indeed on login post the update. It might be nice generally to have a dialog pop in whe

[2017-03-01 17:54] willdoran opened #1590 "Infinite Scroll for Platform List View"
### Expected behaviour
- As I scroll to the bottom of the page of posts the next batch should be requested and loaded ad infinitum
### Actual behaviour
- Timeline is paginated

### Steps to reproduce the behaviour/error

[2017-03-01 17:55] willdoran commented on #1590
@jshorland this feature exists on Rollcall, there is a library that manages infinite scroll. Implementing it in platform client would be relatively straightforward, it should be around 1 day of effort total.

[2017-03-01 18:10] willdoran commented on #1582
There appears to be a bug with hashtags, it works correctly when the # is dropped. I'll take this now.

[2017-03-01 18:20] Shadrock commented on #1550
@rjmackay @jshorland @willdoran My feeling is that we will have to build an intermediate service to do this ourselves. I've just heard back from the YODIE developers who checked in on this thread and sent me the following e-mail:

One thing I'm unclear on is if the YODIE developers are on the COMRADES project: I was introduced to them from one of the COMRADES leads but it's unclear to me how they

[2017-03-01 19:38] jshorland commented on #892
Rough notes: https://docs.google.com/document/d/1a0DsSj1AGFzD-FqPViI4kxunUMBZXKQfAlCnBH-ttMY/edit

Epic scope: https://docs.google.com/document/d/1MoVVo8-jXDHeqT0MajGzBJAc4dOS_Ir4cCvj4W-GNVA/edit

cc: @willdoran @Shadrock

[2017-03-01 19:40] jshorland commented on #892
From @Shadrock: This is an important feature that goes hand-in-hand with the idea that Ushahidi can help connect to other online communities and tools. I'm not sure if it's relevant in anyway, but the old Crowdmap had a search feature on the homepage and Brian had done some work tutorials on publicly listing deployments.

[2017-03-01 19:40] jshorland commented on #892
From @willdoran: @jshorland Is this the right place to comment?

This sounds super awesome. It would be nice to have category tags and geography, in theory we could use a deployment to map deployments that mark themselves as discoverable.

We could add a discoverable setting to settings and push an alert for it via intercom or indeed on login post the update. It might be nice generally to have a d

[2017-03-01 19:41] jshorland commented on #834
Closing in favor of #892

[2017-03-01 19:41] #834 closed

[2017-03-01 19:42] jshorland commented on #892
@willdoran we *could* do what crisisnet was supposed to eventually do: ushahidi.org

[2017-03-01 19:45] jshorland commented on #1475
Closing. not an issue anymore.

[2017-03-01 19:45] #1475 closed

[2017-03-01 20:04] jshorland opened #1591 "Change crowdmap.com to redirect to ushahidi.com"
or something to indicate that crowdmap is dead.

[2017-03-01 20:31] Shadrock commented on #892
I love, love, love the .org idea. I've been thinking about it a lot lately. It would also make a sensible place to put programs, etc...

[2017-03-01 20:37] jshorland commented on #892
Shhhh we're going to secretly delight our team.

[2017-03-02 13:30] Angamanga commented on #1582
I dont manage to reproduce it, for me, both # and no-# works locally, but only with a `,` between the search-terms. Where did you reproduce it @willdoran ? I am going through the requests we do anyway and check that we are doing correct queries to twitter...

[2017-03-02 15:32] willdoran opened #1592 "Associate inbound SMS with Surveys via Keywords"
### Expected behaviour
- An inbound SMS should be automatically associated with a Survey when an associated Keyword is present at the beginning of the SMS

### Actual behaviour
- At present, it is necessary to manually associated inbound SMS with specific surveys

Aha! Link: https://ushahiditeam.aha.io/features/PROD-629

[2017-03-02 15:38] willdoran commented on #1592
This should involve the following:
- Client:
  - Add input field on survey edit that allows entry of a keyword
  - Ensure that keyword is unique
- API:
  - Add filter to test first word of inbound SMS against keyword set
  - Associate SMS with given survey and immediately generate post
This should take 1-2 days of effort, if the above approach is reasonable.

[2017-03-02 15:44] willdoran commented on #1592
This depends on #1420.

[2017-03-02 21:21] natmanning opened #1593 "Change URL of usaelectionmonitor.ushahidi.io"
can we change this deployment from usaelectionmonitor. to documenthate.ushahidi.io?

[2017-03-02 23:50] jshorland commented on #1550
@willdoran @tuxpiper are one of you able to look into this next week?

[2017-03-03 01:22] willdoran commented on #1550
@Shadrock @jshorland To simplify for the intellectually challenged(me)

1. Build a webhook within platform which
- Forward all inbound posts to a intermediary service
**Question**: does "all posts" include post created by users via the web client?
2. Build an intermediary service which
- Exposes a webhook to Platform API
- Receives post data
- Requests Yodized post data
- Updates the Post in the A

[2017-03-03 10:04] Angamanga commented on #1338
I don't think this would be a very big problem, we already use the twitter-api and have the connections for getting the tweets. Posting a tweet/replying to a tweet would just require a slightly different request to the twitter-api. I  would say 1-2 days maximum but my estimations are not very accurate yet :).

[2017-03-03 17:56] nickbadams commented on #1338
[fingers crossed] yay!

On Fri, Mar 3, 2017 at 2:04 AM, Anna Iosif <notifications@github.com> wrote:

--

*Nick Adams, Ph.D.Research Fellow – Social Science, *

*Berkeley Institute for Data Science*
*University of California, Berkeley*

[2017-03-03 20:18] brandonrosage opened #1595 "Configure six webhooks for Intercom to monitor"
In order to properly target new deployers for an Intercom-powered on-boarding process (and to send the right message at the right time), we need to be able to monitor a few things in Intercom regarding any given deployment/user:

* User's deployment has a description (true or false)
* User's deployment has a logo (true or false)
* Number of active data sources on user's deployment
* Number of user

[2017-03-03 20:23] brandonrosage commented on #1396
[The Intercom-powered v1 on-boarding campaign is staged](https://app.intercom.io/a/apps/hl5rfiga/engage/messages/auto/campaigns/184844
).

Just [waiting on devs to configure the webhooks we nee](https://github.com/ushahidi/platform/issues/1595)d in order to send these messages to the right people at the right time.

[2017-03-04 01:22] caharding commented on #1396
Fantastic!

Charles Harding

Product Director

207-720-0713

On Fri, Mar 03, 2017 at 12:23 PM Brandon Rosage

<
mailto:Brandon Rosage <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

https://app.intercom.io/a/apps/hl5rfiga/engage/messages/auto/campaigns/184844
.

Just
https://github.com/ushahidi/platform/issues/1595
d in order to send these messages to

[2017-03-06 07:33] willdoran opened #1596 "USH-001 -- Secure Credentials Leak"
### Expected behaviour
- Never send OAuth 2.0 authentication headers to a third party. This undermines thewhole OAuth 2.0 concept of keeping tokens secure.
### Actual behaviour
- Ushahidi.io sends information to third party Getsentry for stacktrace logging. This can be used to troubleshoot and resolve anyissues that users experience.

## Implementation

### Client

- Add `sanitizeKeys` configurati

[2017-03-06 07:33] willdoran opened #1597 "Disable SQL error output on production"
### Expected behaviour
- Properly escape and filter user input. Only use prepared statements whencommunicating with a SQL database. Use additional escaping on the backend if thisis not already present. Don't return any SQL errors to the client.
### Actual behaviour
- Sql errors appeared on several pages. It was possible to injectSQL commands but getting a working query was not possible.
### Steps

[2017-03-06 07:34] willdoran opened #1598 "USH-004 -- Abuse of Function"
### Expected behaviour
- Set the created and post_date server side, do not rely on the client.
### Actual behaviour
- It is possible to manipulate the variables "created" and"post_date" which leads to false post-chronology.
### Steps to reproduce the behaviour/error

[2017-03-06 07:37] willdoran opened #1599 "USH-003 -- Insecure SSL/TLSConfiguration"
### Expected behaviour
- Use Diffie-Hellman parameters larger than 1024 bits.
### Actual behaviour
- This server supports weak Diffie-Hellman (DH) key exchange parameters
- Ref: USH-003
### Steps to reproduce the behaviour/error

[2017-03-06 07:39] willdoran opened #1600 "USH-005 Open Port 22 SSH"
### Expected behaviour
- Implement a bruteforce protection (for instance fail2ban or log2iptables)
- Create firewall rules who can access SSH. (only internal access for instance)
- Use a different port for SSH. (this will evade automatic portscanners that only scan for SSH on the
default port
- Use portknocking to open the port on demand
### Actual behaviour
- The Nmap scan reveals an open SSH por

[2017-03-06 07:40] willdoran opened #1601 "USH-006 — Path Disclosure Revealed by Stacktrace (Ushahidi.io)"
### Expected behaviour
- Disable detailed error reporting to users, and catch all uncaught exceptions. Log detailed error messages in
dedicated logfiles which aren't available for Internet users
### Actual behaviour
- Causing an exception in https://ushahidi.io/settings/timeline.html leads to information
leakage about the running code as well as the nature of the triggered error.
### Steps to repr

[2017-03-06 07:40] willdoran opened #1602 "USH-007 — API Does Not Have a CSRF Protection (X.ushahidi.io)"
### Expected behaviour
- Implement anti-CSRF tokens to all requests that perform actions to change the application state,
or that add, modify, or delete content. An anti-CSRF token should be a long, randomly-generated
value, unique to each user, so attackers cannot easily brute-force it
- It is important to validate anti-CSRF tokens when the application handles user requests. The
application shoul

[2017-03-06 07:41] willdoran opened #1603 "USH-008 — Persistent Cross Site Scripting in Post Description (X.ushahidi.io)"
### Expected behaviour
- Filter all client-provided input parameters, and escape all output variables.
- Make use of a whitelist, and prevent certain characters from being inserted if it's not necessary for
the working of the application.

### Actual behaviour
- It is possible to inject Javascript and HTML into pages by modifying the description field of an individual post.
### Steps to reproduce

[2017-03-06 07:42] willdoran opened #1604 "USH-009 — Persistent Cross Site Scripting Site Description (X.ushahidi.io)"
### Expected behaviour
- Filter all client-provided input parameters, and escape all output variables.
- Make use of a whitelist, and prevent certain characters from being inserted if it's not necessary for
the working of the application.

### Actual behaviour
- It is possible to inject Javascript and HTML into pages by modifying the description field of the website.

### Steps to reproduce the be

[2017-03-06 07:43] willdoran opened #1605 "USH-010 — Password Resetlink Does Not Use a Https Connection."
### Expected behaviour
- Use End-to-End (HTTPS TLS Encryption) for the communication between server and client.
### Actual behaviour
- The password resetlink (in the case your accounts password is lost) does not use a https connection.
### Steps to reproduce the behaviour/error

[2017-03-06 07:43] willdoran opened #1606 "USH-011 — Length of Password is Not Validated After Reset"
### Expected behaviour
- Use Server-Side Validation of the length and complexity of the password.
### Actual behaviour
- When using the password protection link it is possible to alter to request and create a password that is only one character long or when you intercept the login request an user-account without password.
### Steps to reproduce the behaviour/error

[2017-03-06 07:44] willdoran opened #1607 "USH-012 — Lack of Bruteforce Protection new user."
### Expected behaviour
- Captcha
- IP limit or lockout for a certain amount of time
### Actual behaviour
- There is no protection against the automatic creation of useraccounts. It was possible to create 10 accounts in 10 seconds.

### Test script
- Go to a deployment (ie. qa.ushahididev.com)
- In under 1 minute:
    - Register a new user
    - Register a second new user
    - Register a third new

[2017-03-06 07:46] willdoran opened #1608 "USH-013 — CORS Policy allows access from any domain"
### Expected behaviour
- Use a whitelist approach and only allow known valid domains.
### Actual behaviour
- A HTML5 Cross-Origin Resource Sharing (CORS) policy controls if and how content running on other domains can perform two-way interactions with the domain that publishes the policy. The policy is fine-grained and can apply access controls per-request based on the URL and other features of th

[2017-03-06 07:47] willdoran opened #1609 "USH-014 — No Clickjacking Protection"
### Overview
The Ushahidi platform allows certain urls to be embed in frames to allow users to frame their deployments on their own pages. However, we should limit this to only that specific url via configuration and update our docs for OSS users.

### Requirements:

- Update configuration to include X-Frame-Options HTTP Response header by default (#2720)
- Update ushahidi.io to include this heade

[2017-03-06 07:48] willdoran opened #1610 "USH-015 — Missing X-XSS-Protection HTTP Header"
### Expected behaviour
- Add the HTTP header in the response as: X-XSS-Protection: 1; mode=block
### Actual behaviour
- The X-XSS-Protection HTTP Header is not set by the webserver. This header enables the Cross-Site Scripting (XSS) filter built into most recent web browser.

### Steps to reproduce the behaviour/error

## Acceptance criteria:
- [ ] Add documentation for OSS deployers
- [ ] The ser

[2017-03-06 07:49] willdoran opened #1611 "USH-016 — SSL Cookie Without Secure Flag Set"
### Expected behaviour
- Set the Secure flag for all cookies that are being communicated over a secure channel.
### Actual behaviour
- The following cookies were issued by the application and do not have the secure flag set:
  - XSRF-TOKEN
  - laravel_session
 The cookies appear to contain session tokens, which may increase the risk associated with this issue. You should review the contents of the

[2017-03-06 07:50] willdoran opened #1612 "USH-017 — The Session Does Not Expire When the User Logs Out."
### Expected behaviour
- Revoke the session when the user logs out.
### Actual behaviour
- The session (Bearer Token is used for this) does not expire when the user logs out. It is possible to close the session and still use the same one to send request until it expires. When a user logs out the session is still available until it expires.

This is probably not worth fixing in Kohana. But should b

[2017-03-06 07:50] willdoran opened #1613 "USH-018 — Ansible - No Firewall Restrictions SSH"
### Expected behaviour
- Only allow internal ip-addresses (so ansible can access the server) access to this port. If any support personal should have access to the box they should use login to a special Management Server and connect from there internally.
### Actual behaviour
- The use of port 22 is very common when using ansible but this is open to the rest of the world.
### Steps to reproduce th

[2017-03-06 07:51] willdoran opened #1614 "USH-019 — Ansible - User Januus"
### Expected behaviour
- Determine if this user still needs access.
### Actual behaviour
- There is a user mentioned in the following files that might not need that access anymore.
### Steps to reproduce the behaviour/error

[2017-03-06 07:52] willdoran opened #1615 "USH-020 — Ansible - Weak Password Mysql"
### Expected behaviour
- When possible, always encrypt user names and passwords.
- Use strong passwords for all accounts on all environments.
- Use strict separation between environments and make sure not to share user names and
passwords.
### Actual behaviour
- The MySQL password in Ansible is weak.
### Steps to reproduce the behaviour/error

[2017-03-06 07:52] willdoran opened #1616 "USH-021 — Oauth2 Implementation"
### Expected behaviour
- When using grant_type=password it is recommended that the client_secret should not be included.
- Generate a random client secret during installation.
### Actual behaviour
- No major issues found in the Oauth2 implementation. Only the implementation of the client_secret could be improved.
### Steps to reproduce the behaviour/error

[2017-03-06 07:53] willdoran opened #1617 "USH-022 — Role Creation and Permission Assignment"
### Expected behaviour
- Verify if a user is a paid or non-paid user.
### Actual behaviour
- It is possible to create roles and make permission assignment in the FREE version, that feature only would be available on RESPONDER version. With this request is possible to create the user and then in the platform is possible to make the assignment of permissions.
### Steps to reproduce the behaviour/err

[2017-03-06 07:54] willdoran opened #1618 "USH-023 — Internal Server Error While Uploading Photo"
### Expected behaviour
- Don't show (detailed) error messages to users.
- Validate the input.
### Actual behaviour
- An internal server error appears when using a NULL byte in the filename. This reveals the underlying host where the images are located.
- Server throws a 500, not 422

[code]

### Steps to reproduce the behaviour/error
- [ ] Simulate a file upload where the file name is `test.png%00

[2017-03-06 07:54] willdoran opened #1619 "USH-024 — Retrieve Available Member-roles as an Anonymous User."
### Expected behaviour
- Only allow users what they should be able to see and restrict what is out of their scope.
### Actual behaviour
- It is possible to retrieve available member-roles as an anonymous user.
### Steps to reproduce the behaviour/error

[2017-03-06 07:55] willdoran opened #1620 "USH-025 — Vagrant - Public Image"
### Expected behaviour
- Consider the use of an internal image.
### Actual behaviour
- For the creation of the base image is the public ubuntu/trusty64 used.
### Steps to reproduce the behaviour/error

[2017-03-06 07:56] willdoran opened #1621 "USH-026 — Retrieve Members With Low Privilege User."
### Expected behaviour
- Only allow users what they should be able to see and restrict what is out of their scope.
### Actual behaviour
- It is possible to Retrieve Information Of Members With Low Privileges
### Steps to reproduce the behaviour/error

[2017-03-06 07:57] willdoran opened #1622 "USH-027 — Ansible - Passwords in Different Files"
### Expected behaviour
- Do not put your password as plain text, certificates, privatekeys in your git repo, use ansible-vault (http://docs.ansible.com/ansible/playbooks_vault.html) or git-crypt (https://github.com/AGWA/git-crypt) for encrypting.
### Actual behaviour
- The review of the ansible files showed the use of plain passwords in files.
### Steps to reproduce the behaviour/error

[2017-03-06 07:58] willdoran opened #1623 "USH-028 — Multiple Oauth2 Requests using Grant_type Client_credentials"
### Expected behaviour
- Fix bug
### Actual behaviour
- Multiple Oauth2 requests are made when a user logs in as an anonymous user (grant type client_credentials).
- This behaviour is probably a bug, and will cause unnecessary load on the server. It also increases the attack surface, as a lot of tokens are being generated, which all could be mis-used
### Steps to reproduce the behaviour/error

[2017-03-06 07:59] willdoran opened #1624 "USH-029 — Vimeo API-key Secure Storage"
### Expected behaviour
- Upload the vid to your server as intermediary where the upload to vimeo with the API
- Ask users to login with their own Vimio account. (is more of a hassle)
### Actual behaviour
- The Developer of the Mobile Apps asked how to securely storage access tokens needed for API calls.
### Steps to reproduce the behaviour/error

[2017-03-06 08:00] willdoran opened #1625 "USH-030 — SSH Server of ushahidi.com Insufficiently Hardened"
### Expected behaviour
- Disable the key exchange algorithms ecdh-sha2-nistp256, ecdh-sha2-nistp384, ecdh-sha2-nistp521, diffie-hellman-group1-sha1, diffie-hellman-group14-sha1 and diffie-hellman-groupexchange--sha1.
- Disable the server authentication algorithms ssh-dss and ecdsa-sha2-nistp256.
- Disable the encryption algorithms 3des-cbs, arcfour128 and blowfish-cbc.
- Disable the message authen

[2017-03-06 09:46] sudheesh001 opened #1626 "shadowhand/email deprecated and removed, breaking setup"
### Actual behaviour

The setup process involves the `composer` process fetching the required modules but it looks like the `shadowhand/email` module has been removed altogether by the owner after deprecation. ushahidi is still dependant on the module, is there an alternative module that we could use to set this up ?

### Expected behaviour

A clean setup process after `bin/update`

### Steps to r

[2017-03-06 10:39] tuxpiper commented on #1550
my 2c. To me the "intermediary service" idea sounds more modern, leaning more towards the idea of microservices, which I would favour.

[2017-03-06 10:51] tuxpiper commented on #1626
Confirmed on my side. Since it's probably affecting everyone, I think this deserves P0 @jshorland

[2017-03-06 10:56] jshorland commented on #1626
Yep. Add p0 and put in dev backlog please?

iPhone iTypo

[2017-03-06 14:04] sudheesh001 commented on #1626
I found this module after digging through the internet, https://github.com/kierangraham/email
If this is the module that's been taken down, I wouldn't mind helping you to get an entry into Packagist ! 😄 Would love to help if needed.

[2017-03-06 14:36] aoduor commented on #1396
![yay](http://media2.giphy.com/media/2qPUYiMHrlkoU/giphy.gif)

[2017-03-06 19:28] willdoran commented on #1626
@sudheesh001 if you have time and would like to contribute we'd be happy to receive said help :D If you want to submit a PR you can assign me for review and I'll take a look.

[2017-03-06 19:39] rjmackay commented on #1626
@willdoran I've still got a cached copy of the module I can drop in a repo or compare against the keirangraham one.

[2017-03-06 20:51] willdoran commented on #1626
@rjmackay awesome, that would be super handy, if you link me I can compare

[2017-03-06 20:52] willdoran commented on #1582
@Angamanga Just to clarify here, I was able to reproduce on staging and prod, but did it succeed for you? I'll try again to see if I can still reproduce.

[2017-03-06 21:27] Angamanga commented on #1582
@willdoran no, i could not reproduce it, tried on staging (qa.ushahididev.com) and locally with different variations of search-terms and they comes through.

[2017-03-07 02:39] rjmackay commented on #1626
@willdoran https://github.com/kierangraham/email is the original kohana email module, rather than the updated version packaged for composer. I've pushed my cached version to https://github.com/rjmackay/shadowhand-email

[2017-03-07 04:06] sudheesh001 commented on #1626
@rjmackay Awesome ! Have you uploaded the entry to packagist so that we can update the composer entry ?

[2017-03-07 06:16] jshorland commented on #1569
I Can't get it to happen in qa.ushahididev.com, @Angamanga. It's hard for me to say whether this passes QA or not since i couldn't actually replicate the issue anywhere. @natmanning have you seen this issue happen to you again?

[2017-03-07 06:50] jshorland commented on #1587
Fixed. Closing.

[2017-03-07 06:58] jshorland commented on #1327
@angamanga as I understand it, the search should happen as i type and not require me to click "search". And when I select a search result, it's not clear I need to click on it because my mouse turns into a cursor that seems to indicate i need to type (would be nice to be the pointer hand that indicates a click). And finally, when I click on "use my location" nothing happens. Gif attached. cc: @bra

[2017-03-07 07:04] jshorland commented on #1509
Fixed. Closing.

[2017-03-07 07:05] #1509 closed

[2017-03-07 07:05] jshorland commented on #1200
Is this ready to be QA'd @Angamanga and if so, which URL should I QA on?

[2017-03-07 07:16] jshorland commented on #1501
Still having a hard time duplicating anywhere. Can anyone help me try to QA this? @natmanning @aoduor

[2017-03-07 07:18] jshorland commented on #1326
I QA'd anyway and this is fixed. Moving to "waiting to deploy". If already deployed, please close!

[2017-03-07 07:19] jshorland commented on #1582
On QA.ushahididev.com, I could not reproduce this. cc: @willdoran

[2017-03-07 07:35] aoduor commented on #1501
Yeah, sure @jshorland. I'll test this and share a gif to demonstrate in abit.

[2017-03-07 07:57] aoduor commented on #1501
@jshorland this looks to be fixed now. I wasn't able to replicate.

[2017-03-07 08:05] Angamanga commented on #1582
This is what I have changed to try to make the tweets work better: I have tweaked the fetch-functionality a bit in pr to reset the last imported twitter to 0 when new search-terms are added. This might have limited which new tweets are being pulled in when a new search-term was added (before i did that only newer tweets than the last one imported was being pulled in, even if I added new search-ter

[2017-03-07 08:10] #1587 closed

[2017-03-07 08:11] Angamanga commented on #1587
This is deployed so closing.

[2017-03-07 08:16] Angamanga commented on #1569
I think it is fixed on staging now, that is why we cannot reproduce it there, but it is not deployed and that is why it is still appearing on some deployments. I actually remember being able to reproduce it on staging when starting working with this issue: https://github.com/ushahidi/platform/issues/1505 which sounds like the same.

[2017-03-07 08:32] Angamanga commented on #1327
@jshorland Ah, i see, i'll add the search when typing. But do we need the 'search'-button then? The use your current location-button should work, I'll check why it doesn't...

[2017-03-07 08:47] Angamanga opened #1628 "It is not possible to add a photo to a post"
### Expected behaviour
When choosing a photo, the photo should be added to that post and stay after saving.

### Actual behaviour
After saving a post together with a photo, the new photo is not saved together with the post.

### Steps to reproduce the behaviour/error
1. Create a new post
2. Choose a new photo to be uploaded
3. Save the post
4. Publish/review the post
5. The photo is not there!

[2017-03-07 11:44] aoduor opened #1630 "Add warning about loss of data when deleting surveys/fields"
### Expected behaviour
I expect a distinct warning notifying me that if i proceed with deletion of a survey, i will loose all my data associated with that survey

(I tested this out and yes, when you delete a survey, you loose all your posts)

### Actual behaviour
I just get the "Are you sure you want to proceed" pop up box, which isn't enough of a disclaimer methinks

### Steps to reproduce the b

[2017-03-07 11:52] Angamanga commented on #1630
This sounds similar to https://github.com/ushahidi/platform/issues/1528 that was fixed in https://github.com/ushahidi/platform-client/pull/548. It was for some reason closed and not labeled for testing, I just added it back to correct column...

[2017-03-07 11:52] aoduor commented on #1630
Okidoks. I'll close this one.

[2017-03-07 11:53] Angamanga commented on #1630
Actually, it sounds slightly different so I'll keep it open...

[2017-03-07 13:51] Angamanga commented on #1327
@jshorland I have added fixes, you can qa them here: http://qa.location-picker-fixes.ushahidilab.com/posts/create/8. The 'use current location' is only working on https so I simply removed that box when not on https. Not sure if we have a testing-site that is on https?

[2017-03-07 15:41] jshorland commented on #1397
@brandonrosage can you make sure there's designs for this IN this issue? We'll want to get this done by end of Q1 -- I know you've got designs for this somewhere.

[2017-03-08 06:43] sudheesh001 commented on #1626
@rjmackay I've updated my composer file to contain a reference to https://packagist.org/packages/sudheesh001/email for the breaking `email` and managed to successfully setup the migrations.

[2017-03-08 06:53] Angamanga commented on #1338
@jshorland This can be tested on qa.ushahididev.com

[2017-03-08 06:54] jshorland commented on #1338
WEEE! testing now.

[2017-03-08 09:11] Angamanga commented on #1628
This seems to be two different problems: 1. If trying to upload a photo that is too big, I don't get a warning, it just saves and the photo is not uploaded = post with no photo. I'll try to fix that today. 2. Images cannot be set to required but it is set to required on your survey-type that was bugging yesterday @jshorland. Has it been possible to add the required-option before and now it is remo

[2017-03-08 17:50] jshorland commented on #1528
@aoduor Do you think this adequately solves the issue you described in #1630?

[2017-03-08 17:58] derDieDasJojo opened #1631 "other deployments as data source"
It would be great to have the possibility to add other ushahidi deployments as a data source.
this way you could create overviews and meshups over several deployments.

For example:
we have an map for a local movement event.
friends of us in france, Netherlands, UK also have a deployment
It would be great to have the possibility to make a meshup of a europe-wide overview,
by importing the data of

[2017-03-08 18:30] aoduor commented on #1528
@jshorland i'd really love for this to be specific in mentioning the consequences, in addition to not being able to undo the action.

i.e Tell me what happens to my data when i delete a field or a survey, AND tell me that this action is cannot be undone :)?

[2017-03-08 18:55] rjmackay opened #1632 "Add link to improve the map base layer"
Add a link to improve the OSM base data https://www.mapbox.com/blog/improve-this-map/

[2017-03-09 14:14] Angamanga commented on #1508
@jshorland You can test this on this post: http://qa.ushahididev.com/posts/5027

[2017-03-09 14:15] Angamanga commented on #1412
@jshorland Fixed in #1505 You can test on qa.ushahididev.com

[2017-03-09 14:16] Angamanga commented on #1501
@jshorland you can test here: qa.ushahididev.com

[2017-03-09 14:16] Angamanga commented on #1569
@jshorland Same as #1505. You can test this here: qa.ushahididev.com

[2017-03-09 22:12] brandonrosage commented on #1397
First, given the existing behavior and modeling of categories in Ushahidi -- where a post can have any combination of categories assigned to it, without exclusion -- I'd recommend we not describe these to users as "categories." Instead, I propose we call them "labels."

There are four parts to defining how labels work on Ushahidi:

1. Their relationship to other data.
2. How you interact with them

[2017-03-09 22:14] caharding commented on #1397
Would I be able to select all the labels I want as a part of a survey in
survey settings?

On Thu, Mar 9, 2017 at 2:12 PM, Brandon Rosage <notifications@github.com>
wrote:

--
Charlie Harding
Product Director

[2017-03-09 22:16] brandonrosage commented on #1397
Yes, let me include that example and detail in the notes above.

[2017-03-09 22:48] brandonrosage commented on #1397
@caharding: I've added a fifth section to the notes above describing how "Edit survey" interacts with all of this.

[2017-03-10 02:09] rjmackay commented on #1023
@willdoran I have some uncommited revisions to this locally. Ping me if/when you get to it.

[2017-03-10 05:53] rjmackay opened #1633 "Add monitoring on rabbitmq"
We need alerts when a queue gets above a normal thresholds ie. 10k items in the dataproviders queue.
Right now if the queue stops processing, we won't actually notice

Aha! Link: https://ushahiditeam.aha.io/features/PROD-625

[2017-03-10 05:57] #1585 closed

[2017-03-10 05:57] #1561 closed

[2017-03-10 05:57] #1326 closed

[2017-03-10 05:57] #1527 closed

[2017-03-10 05:59] jshorland commented on #1338
Passes QA -- original contributor is mentioned in a tweet from the integrated account when admin replies from within the platform.

[2017-03-10 12:31] tuxpiper opened #1634 "Log API errors from twitter"
### Expected behaviour
Error responses from twitter should be logged, so that an administrator can check those logs to diagnose problems.

### Actual behaviour
Error responses are ignored

### Steps to reproduce the behaviour/error

Aha! Link: https://ushahiditeam.aha.io/features/PROD-624

[2017-03-10 18:08] nickbadams commented on #1338
Cool! Can I try it?

On Thu, Mar 9, 2017 at 9:59 PM, Jess Shorland <notifications@github.com>
wrote:

--

*Nick Adams, Ph.D.Research Fellow – Social Science, *

*Berkeley Institute for Data Science*
*University of California, Berkeley*

[2017-03-13 12:48] Angamanga commented on #1338
@nickbadams It is not merged to production yet, I'll let  you know as soon as it is!

[2017-03-13 15:55] Angamanga commented on #1397
Things to change in order to get new labels to work:
- [ ] Update database-relations to include survey-label-relation
- [ ] Add quick-add feature to labels within surveys
- [ ] Show labels in survey-filter
- [ ] Add labels to filter-dropdown
- [ ] Change settings-UI for labels
- [ ] Add quick-add-feature to settings-labels
- [ ] Create UI for adding labels as a survey-field
- [ ] Make sure naming

[2017-03-13 20:04] dalezak opened #1635 "API Config Site Returns Non-Encoded Image_Header URL"
### Expected behaviour
The `/api/v3/config/site` endpoint is returning non-encoded `image_header`, which is causing some issues in the mobile app.

### Actual behaviour

Some Deployment `image_header` include whitespace in the URL.

### Steps to reproduce the behaviour/error

With a valid `access_token`, hitting https://USAelectionmonitor.api.ushahidi.io/api/v3/config/site returns:

[code]

Which

[2017-03-13 20:16] dalezak opened #1636 "Include image_url in API's Posts Response"
### Expected behaviour
Currently, the API `/posts` endpoint does not return a default image for a post.

It would ideal, when a post has at least one value that is an image, to include the first image as `image_url` in the `/posts` response.

### Actual behaviour

Since `/posts` does not return an `image_url`, the mobile client needs to download `/api/v3/forms` and `/api/v3/forms/attributes` and `

[2017-03-13 21:01] dalezak opened #1638 "Implement Way For Mobile Clients To Obtain API Endpoint From The Deployment URL"
### Expected behaviour
For the custom deployments like http://ushahidi.ibercivis.es, the mobile client needs a way to reliability obtain the location of the API. In this case, the API endpoint is at http://ushahidi.ibercivis.es/platform.

### Actual behaviour
The `config.js` file does define `window.ushahidi.backendUrl` which is used by the web client, but there is no easy way for the mobile clien

[2017-03-13 21:06] willdoran commented on #1550
[The Platform API changes](https://github.com/ushahidi/platform/pull/1637)
[Comrades Yodie Proxy](https://github.com/ushahidi/comrades-yodie-proxy)

[2017-03-13 21:53] willdoran commented on #1511
- [ ] Move delete button to Surveys list
- [ ] Survey Name and Description fields changed
- [ ] Create tabbed view of fields split into 'Build', 'Configure', 'Share'
- [ ] Configure:
  - [ ] Require responses to be reviewed
  - [ ] Hide Author Information
  - [ ] Who can create
  - [ ] Colour picker
- [ ] Share:
  - [ ] Reuse embed interface
- [ ] Build:
  - [ ] Add field modal:
    - [ ] Show fie

[2017-03-13 22:06] rjmackay commented on #1511
Just adding to this. The design shows a 'Who can submit responses to this survey' and 'Who can see the response to this field'

If I can submit responses to a survey, but not see responses to a field. Can I submit responses to that field?

[2017-03-13 23:13] nickbadams commented on #1338
!  :)

On Mon, Mar 13, 2017 at 5:48 AM, Anna Iosif <notifications@github.com>
wrote:

--

*Nick Adams, Ph.D.Research Fellow – Social Science, *

*Berkeley Institute for Data Science*
*University of California, Berkeley*

[2017-03-14 09:04] mentalacrobatics opened #1639 "Unavailable subdomains initially shows up as available"
### Expected behaviour
During .io registration if a sub domain is unavailable the system should let you know immediately

### Actual behaviour
During registration the System shows: the url you have chosen is available  but once you submit a new message shows "The subdomain is already taken"

Screenshot attached

![screenshot 2017-03-14 10 53 41](https://cloud.githubusercontent.com/assets/2631543/2

[2017-03-14 11:33] Angamanga commented on #1397
@brandonrosage The color-picker and the possibility to add custom colors to labels are removed in the pattern-library-branch, is that correct?

[2017-03-14 15:15] fsindaco commented on #1582
Hello. I am the user referenced above by aoduor. I thought I'd check in, as I created a new twitter app (set to read/write, if that matters) and put in the new information for the data source for my installation: https://movemap.ushahidi.io
Sadly, there is still nothing showing up in the unknown posts.
I have to make some choices and weigh factors about project implementation very soon, and I am w

[2017-03-15 03:14] Shadrock opened #1641 "Review / Prioritize possible COMRADES Feature requests"
Please [review the following document](https://docs.google.com/document/d/1X_J2hWKRrIojQOaSWuwz40dWML_CpnmLDhzzh55e7r8/edit#) to look for harmony between possible COMRADES requests and

1. the existing roadmap
2. the proposed list from Jess about areas to explore (more concepts than full-fledged features).

**I need to present ideas and push for some direction at the meeting on March 29-30th.**

[2017-03-15 09:16] #1532 closed

[2017-03-15 09:17] tuxpiper commented on #1532
Updated the version on support site.

[2017-03-15 14:05] #1591 closed

[2017-03-15 14:17] brandonrosage commented on #1397
@Angamanga: Yes, that's right. Colors are only for surveys.

[2017-03-15 17:53] jshorland commented on #1511
@willdoran asked: "Does the Survey Field Role setting Supersede the Survey role or how do the two relate? Is the latter only for restricting who can submit or does it control visibility as well?"

ie.

- If I can edit a form, but I'm not in the roles for an attribute .. I can't edit the attribute
- If I can't edit a form, I can't edit the attributes no matter their roles.
- To edit an attribute I

[2017-03-15 21:27] brandonrosage opened #1642 "Build v1 of ushahidi.com/discover"
**User story**: I want to be able to find Ushahidi deployments by name and topic, and see what people have been using Ushahidi to do lately.

------

Our first pass at providing a solution to this is to stage a tool at ushahidi.com/discover, with a search input (for searching for deployments by name), as well as three groups deployments:

- **Recommended**: Curated by Ushahidi staff and manually u

[2017-03-15 21:41] willdoran commented on #1550
@rjmackay So a Yodie response looks like this:

{
	"text": "The framework ships with a public/.htaccess file that is used to allow URLs without index.php. If you use Apache to serve your Lumen application, be sure to enable the mod_rewrite module.\n\nIf the .htaccess file that ships with Lumen does not work with your Apache installation, try this one:",
	"entities": {
		"Mention": [{
			"indices":

[2017-03-15 21:58] dalezak opened #1643 "API Deployment Search Should Search Deployment Name"
### Expected behaviour
Searching https://api.ushahidi.io/deployments?q=Document%20Hate does not return any results, although there is a map with the name `Document Hate` https://usaelectionmonitor.ushahidi.io/views/map

### Actual behaviour
However searching https://api.ushahidi.io/deployments?q=USA%20Election does return two results, one of which is the `Document Hate`map https://usaelectionmonit

[2017-03-16 02:13] rjmackay commented on #674
This might be a good idea as prep for the move away from Kohana #1372

[2017-03-16 10:06] xoako commented on #555
Hello everyone,
Is there anything new about this matter?
Thank you!

[2017-03-16 15:44] dalezak opened #1645 "OAuth Loses scope Permissions When grant_type is refresh_token"
### Expected behaviour
The API `/oauth/token` does not fully support `grant_type:"refresh_token"`, so the mobile client is not able to obtain a new `access_token` with the provided `scope` through this means.

### Actual behaviour
The API `/oauth/token` does return an `access_token` using `refresh_token`, however it does not seem to take the `scope` parameter into account, so upon refreshing the u

[2017-03-16 16:29] middle8media commented on #1642
I am currently working on this ... stay tuned.

[2017-03-16 17:29] brandonrosage opened #1646 "Direct posts generated by data sources into buckets named for their source"
Today, Ushahidi data sources transform their data into posts and assign them to the catch-all "Unknown" bucket, which is appended to the list of surveys in the survey filters and filters dropdown.

I'd propose each data source transform its data into posts and assign them to a bucket of the same name as the data source (e.g. Twitter) dedicated to storing only posts that were generated by that sour

[2017-03-16 19:21] brandonrosage opened #1647 "Change the name of the default survey to "Untitled survey""
**User story**: I want to know what I can change about the data in my deployment. I want to be able to easily figure out what's editable and what's fixed.

To keep in step with our implementation of [first-time deployers' on-boarding experience](https://github.com/ushahidi/platform/issues/1396#issuecomment-277732730) -- and to encourage the customization of surveys -- I'd propose we change the nam

[2017-03-17 14:18] willdoran commented on #1511
@brandonrosage Yes, this would be vastly simplify the implementation and removes any of the potential weird collisions. Thanks!

[2017-03-17 14:25] willdoran commented on #1511
@brandonrosage @jshorland I should point out though this is not field level permissions, it's more field level locking. It means that I can't give limited edit access to a post. So if I want someone to be able to edit only parts of a post I can't do that, either they can edit it all or none of it.

Is that ok? This does seem to fit the original issue description which was only concerned by visibil

[2017-03-17 17:36] brandonrosage commented on #1511
That's right, @willdoran. The permissions effect visibility in detail and postcard presentation. Not editing. By making a field "private," you're simply saying that only the people who can edit the post will also see its private fields in detail and postcard presentations.

[2017-03-17 19:31] jshorland commented on #1511
That’s right, @willdoran. Thanks for pointing out this difference though

Jess Shorland
Product manager
jess@ushahidi.com

[2017-03-17 19:35] jshorland commented on #1582
@rjmackay @Angamanga is there still an issue with the job queue? (the problem that @rjmackay fixed in dreamsdemo.ushahidi.io)?

[2017-03-17 20:52] Angamanga commented on #1582
@jshorland I think @rjmackay started the workers that pulls in the tweets again this week so should be ok now.

[2017-03-20 03:32] rjmackay commented on #1582
I think the job queue broke again when rackspace restarted the server. It should be working again as of this morning. We need better alerting so it doesn't go unnoticed so long :/

[2017-03-20 03:36] rjmackay commented on #1626
@willdoran did you have time to resolve this? if not I'll take a look this week

[2017-03-20 03:38] rjmackay commented on #1200
It looks like I never finished that PR. I'd guess it needs rebasing and cleaning up then we can test

[2017-03-20 03:43] rjmackay commented on #1338
@nickbadams this is deployed on ushahidi.io now. Try it out and let me know how it goes

[2017-03-20 03:43] #1338 closed

[2017-03-20 03:48] rjmackay commented on #1646
Since we already have the data for this on the backend, I suspect we could do this pretty easily. ie. entirely on the frontend.

@jshorland should this jump into spec? or scoping first?

[2017-03-20 03:52] rjmackay commented on #1511
I do love when our speccing process results in an overall clearer and simpler feature.. not just better technical implementation.

[2017-03-20 04:05] rjmackay commented on #1595
@willdoran you should probably spec this along with the other intercom events issue

[2017-03-20 04:09] rjmackay commented on #1588
@willdoran this might be a silly idea. But given our client id/secrets aren't secret, and don't give us any extra privileges.. should we just drop oauth and just take user/password and return a session token?

I know laravel has some support for API auth, both oauth and not.. so it might be something we could tackle while migrating

[2017-03-20 04:12] rjmackay commented on #824
That sounds like a completely different problem. ie. we need a "Test provider" button when configuring data sources.. and we need logging of errors.

[2017-03-20 04:14] rjmackay opened #1649 "Need to be able to test a data source is correctly configured"
### Expected behaviour
When configuring a data source I have a simple way to test it. ie. I click "Test" and it goes red/green depending on success.

### Actual behaviour
I can't test the data source. I have to wait for the queue to run and hope..

### Steps to reproduce the behaviour/error

Refs https://github.com/ushahidi/platform/issues/824#issuecomment-278471964

[2017-03-20 04:15] rjmackay commented on #824
Logged a new issue ^

[2017-03-20 04:18] rjmackay commented on #1542
Not easily no. Boundaries for different countries come in a range of formats, we couldn't provide them all. If we did we'd likely find many of them were out of date/inaccurate.

The best solution might be to pull boundaries from Open Street Map..

[2017-03-20 14:01] willdoran commented on #1626
@rjmackay No, I didn't get a chance yet. If I do before you're online. I'll update here.

[2017-03-20 14:07] Shadrock commented on #1641
Bump: happy to jump on a call to discuss as well.

[2017-03-20 14:10] Shadrock commented on #1550
@rjmackay asking for pre-created markup sounds good to me. Will and I discussed creating the integration in the way that makes the most sense to us and presenting that to them. Do you and @willdoran still need me to ask them for more details? I'm under the impression that this is already taken care of but ping if not.

[2017-03-20 14:13] Shadrock opened #1650 "Review COMRADES Integration Notes for new tools"
**Need:** document review (2 pages)
**Due Date:** Would love initial reactions/thoughts by March 24th if possible since I'll be going to the COMRADES working meeting the following week.
**Related Work:** [issue #1550](https://github.com/ushahidi/platform/issues/1550)

**Details:** The work on the YODIE integration for COMRADES  is going pretty well thanks to Will's hard work. There are a few other

[2017-03-20 14:19] willdoran commented on #1595
This should be done at the same time as [132](https://github.com/ushahidi/platform-client/issues/132)

[2017-03-20 14:31] willdoran commented on #1595
As opposed to [132](https://github.com/ushahidi/platform-client/issues/132), these should be configured on the API. The following needs to be implemented:

- [ ] Add Intercom Listener
- [ ] Load Intercom Config
- [ ] Add hook at Config update for
  - [ ] Deployment Logo - send boolean to Intercom
  - [ ] Deployment Description - send boolean to Intercom
- [ ] Add hook at datasource update
  - [ ]

[2017-03-20 14:33] willdoran commented on #1550
@Shadrock I think we can present it to them as the solution and if it doesn't work for them we can revisit it but until then I think it's ok to assume it's covered - pending feedback from them when the integration is ready for them.

[2017-03-20 15:19] Angamanga commented on #1628
@jshorland this can be tested on qa.ushahididev.com

[2017-03-20 15:40] tuxpiper commented on #1549
So we could do this pretty much the way we have been doing other platform custom deployments.

However, I would like to take the chance to improve our practices :) I'm thinking:

* Hosting in AWS (with shared managed RDS database)
* Use Terraform to provision the resources
* Automatic deployment with Codeship
* Configure errors to go to Sentry
* Save uploads to S3 (instead of local disk)
* SSL wit

[2017-03-20 15:52] willdoran commented on #1549
@tuxpiper this sound super great, I really like the default setup of S3 and LetsEncrypt!

[2017-03-20 16:11] Shadrock commented on #1549
@tuxpiper sounds good to me. Any chance this will get done this week? I've got a working meeting next week and would love to introduce the COMRADES consortium to it.

[2017-03-20 16:21] tuxpiper commented on #1549
Yep @Shadrock , this is my P0 this week.

[2017-03-20 18:13] Shadrock commented on #1632
To clarify this issue: When I initially had the conversation w/ Mapbox the goal was to provide users with a quick, easy, way to identify any issues in the underlying OSM database without necessarily having to go into OSM edit mode and make the changes themselves, which the blog post linked above seems to suggest.

We wanted to pursue the "Improve this map" link that's used for _feedback_ and not d

[2017-03-21 08:39] aoduor opened #1651 "Allow visitors of a deployment to choose language to view from homepage"
### Expected behaviour
When visiting a deployment made available in another language, It would help to be able to access it in English as well.

Something like what we had on v2 deployments here
![screenshot](https://drops.azureedge.net/drops/files/acc_531939/AXpH?rscd=inline%3B%20filename%3DScreen%2520Capture%2520on%25202017-03-21%2520at%252011-37-39.gif&rsct=image%2Fgif&se=2017-03-21T09%3A08%3A1

[2017-03-21 08:40] aoduor commented on #1651
Flagging coz this does sound like an urgent request.

[2017-03-21 17:47] dalezak commented on #1642
Looks like https://github.com/ushahidi/platform/issues/1643 might be related to this.

[2017-03-21 19:29] rjmackay commented on #1651
Should this be a per user setting? or just changable for the current session?

[2017-03-21 19:36] Angamanga commented on #1651
@brandonrosage Do you have any suggestions where to put it this kind of dropdown?

[2017-03-21 20:11] aoduor commented on #1651
This should be per session I would think?

Handheld Sent,

Angela Oduor Lungati,
Director of Community Engagement,
Ushahidi | www.ushahidi.com

[2017-03-21 20:39] stevenblumenfeld opened #1652 "Cannot create new deployments because all ushahidi.io sub-urls display as unavailable"
### Expected behaviour: I should be able to quickly select a URL for my new deployment from the ushahidi.io/create page

### Actual behaviour: All Deployment URLs are noted as unavailable. As a result, I cannot create a new deployment.

### Steps to reproduce the behaviour/error: Go to ushahidi.io/create and attempt to create a new deployment.

[2017-03-21 20:41] willdoran commented on #1652
@rjmackay It seems to be having a problem making requests to api.ushahidi.io
https://ushahidi.io/check_subdomain?subdomain=downw

[2017-03-21 21:06] willdoran commented on #1652
@rjmackay resolved this by restarting nginx/php but there may be a background issue so I'm going to downgrade this and leave it open in case something recurs

[2017-03-21 21:14] rjmackay commented on #1639
We think this was an issue where 1 server was failing to look up domains, but the other passed. So sometimes it would show available, then others not. We've fixed it and added monitoring to test in future

[2017-03-21 21:14] #1639 closed

[2017-03-22 00:41] rjmackay commented on #1626
@sudheesh001 I've fixed this on the master and develop branches now. It uses ushahidi/shadowhand-email

[2017-03-22 12:38] tuxpiper commented on #1549
Created

ushahidi/platform-comrades
ushahidi/platform-client-comrades

thinking that we may want to have a staging environment for comrades, I've set up both develop and master branches. The code for both branches comes from the develop branch of the corresponding upstream repository.

Created pull requests with the customisations @willdoran made

ushahidi/platform-comrades#1
ushahidi/platform-cli

[2017-03-22 13:12] willdoran commented on #1549
@tuxpiper Awesome, thank you so much.

[2017-03-22 13:23] tuxpiper commented on #1652
Suspect DNS resolution within rackspace managed domains . Checking with them.

[2017-03-23 05:47] tuxpiper commented on #1652
It's all explained here: https://laravel-news.com/dns-resolver-issue  . Including why we had to restart things twice.

[2017-03-23 09:55] tuxpiper commented on #1652
For good measure, restarted php5-fpm in all places I could remember we have it running. Hopefully this is the end of it by now.

[2017-03-23 09:55] #1652 closed

[2017-03-23 10:13] tuxpiper opened #1653 "Provide SMPP integration feature / example"
It looks like SMPP ( https://en.wikipedia.org/wiki/Short_Message_Peer-to-Peer ) is still one of the preferred ways for some telcos to deliver SMS messages for customer-side processing.

It may be useful for deployers that deal with such telcos (i.e. get shortcodes) to have ready to run SMPP gateway code, easily configurable to interact with a Ushahidi platform setup.

Some open source projects tha

[2017-03-23 11:29] chrisveness opened #1654 "Build failure "undefined function Symfony\Component\Config\ctype_alpha()""
I am attempting to build Ushahidi platform as per [Install Ushahidi on Linux](https://www.ushahidi.com/support/install-ushahidi#installing-on-linux) instructions.

After the following steps:

    $ git clone https://github.com/ushahidi/platform.git
    $ cd platform
    $ [setup .env]
    $ mv httpdocs/template.htaccess httpdocs/.htaccess
    $ chmod 0777 application/logs application/cache applica

[2017-03-23 11:34] chrisveness commented on #1626
Having reported this a couple of days ago via the developer community (www.hipchat.com?), I can confirm this is now fixed for me (though I've now hit another problem #1654).

[2017-03-23 16:53] Shadrock commented on #1549
Is there a deployment associated with these? I just visited both and am not quite clear on how they are to be used by the consortium. Please advise. Could I please get an explanation between the client / non-client repos as well as how they work with develop and master branches? Sorry, but I'm going to need to spell this out very clearly for everyone involved: most of the consortium does not use G

[2017-03-23 18:29] jshorland commented on #1632
We will likely need to add help text -- "Clicking this link will take you to... blah blah blah"

[2017-03-23 18:58] jshorland commented on #1584
awesome -- putting a p1 on this. Frustrations run high and seems like a huge barrier to long term user engagement/adoption.

Work should *ideally* be saved as close to real-time as possible as changes are made.

In addition to technical functionality, we will need:
1. design for notifying the user that their changes are being saved
2. design for notifying the user when changes failed to save
3. de

[2017-03-23 19:08] Shadrock commented on #1632
Yep. I think @brandonrosage should have a pick at this from the UI/X angle. I think it can be fairly easily done, but will require a clear distinction between OSM as the base-layer of physical objects and the Ushahidi layer of posts. That being said, it's also an improvement for users who may need to add a building, road, or re-name something but who don't want to do it themselves in OSM.

[2017-03-23 20:35] jshorland opened #1655 "SMS alerts aren't sending even though it's all configured"
I'm not receiving SMS alerts from usaelectionmonitor.ushahidi.io

I'm assuming this is happening everywhere

[2017-03-23 20:42] jshorland commented on #1651
@Angamanga I'm going to move this back to design column and assign @brandonrosage

[2017-03-23 22:13] rjmackay commented on #1655
Hrm. The queue is huge again and seems stalled.

[2017-03-23 23:23] rjmackay commented on #1549
@tuxpiper I'm happy to improve the way we deploy, but lets make sure Shadrock still gets a test deployment for this before the consortium meeting.

My only concern from the bullet points above is splitting deployments across rackspace and AWS, especially given discounts we have on rackspace. However I guess terraform support for RS is still flaky?

[2017-03-23 23:24] willdoran commented on #1549
@Shadrock
Sorry only just saw this, add @willdoran to any messages here and I will see them faster, add @tuxpiper for David.

The above repos are the API and Client specific to Comrades. The distinction between Master and Develop is just a development process approach.
To give a step by step for clarity, I'm going to assume zero knowledge so please ignore the parts that are obvious when you want t

[2017-03-23 23:56] rjmackay commented on #1655
I've purged the job queue, and increased the number of workers slightly which might help..
However this seems to be a running issue. Brainstorming solutions with @willdoran

We have a recurring issue with the .io dataproviders queue backing up.. I think its just not processing jobs as fast as the come in. My initials thought are:
1. remove ansible as the middleman between celery + php
2. Try to on

[2017-03-24 03:19] rjmackay commented on #1655
This might be temporarily resolved.. but it needs a permanent fix. I was testing some improvements to the celery task but its friday afternoon so I think I'll have to reconfirm on Monday

[2017-03-24 03:21] rjmackay commented on #1655
Ah.. so I did see the queue just from 0 to 10k a few times. I realized this is because the dataprovider.generate task goes into the same queue.. if the queue is overloaded then celerybeat queues up multiple generate tasks. When they finally fun they queue up WAY more tasks thus overloading the queue some more.

We can reduce the frequency we run at, or we need some rate limiting mechanism on celer

[2017-03-24 03:30] rjmackay commented on #1655
@tuxpiper could you reduce the frequency of the dataprovider task for now and purge the dataprovider queue? that should keep this functioning till Monday

[2017-03-24 06:54] tuxpiper commented on #1654
Thank you for your report @chrisveness . We are looking into this.

[2017-03-24 11:34] tuxpiper commented on #1655
Done that. Let's hope it holds over the weekend.

[2017-03-24 14:04] brandonrosage commented on #1651
My recommendation is to include this control in the mode context. After the mode bar (menu), It contains the most global content. The toolbar, by contrast, is intended to display controls for manipulating the content immediately in view -- not the whole deployment.

So we get this:

![medium screen](https://cloud.githubusercontent.com/assets/1136279/24297150/a97d0412-106f-11e7-9a81-af8ebb2aa0f3.pn

[2017-03-24 14:14] #1550 closed

[2017-03-24 14:54] willdoran opened #1656 "Automated User Guide Generation"
### Expected behaviour
- Guides with screenshots should not have to be manually created.
- When new features/user flows are added it should be straightforward to define an e2e like test that generates screenshots and markdown
- The markdown should be served to the support site
- This should require only minimal human interaction to double check that the docs are correctly generated
- Tests should

[2017-03-24 17:30] jshorland opened #1657 "Dynamic and push alerts"
User stories gathered so far:

- As an administrator of the platform, I want to bulk import a contact list to automatically sign them up for alerts
- As a user with the correct permissions, I want to sign groups of my contacts up for alerts that I create
- As a user with the correct permissions, I want to push SMS, email, and in-app notifications to all contacts (perhaps groups of contacts too --

[2017-03-24 17:32] jshorland opened #1658 "Facebook embed"
- as a platform administrator, i want to be able to embed my map, forms, and individual posts within a facebook group/organization/page (I think facebook just calls them Pages now?)

[2017-03-24 18:39] Shadrock commented on #1549
@willdoran this is perfect. The way you've laid this out, above, is perfect and will likely be useful for the COMRADES devs as well: I don't believe they use Github much so they will likely benefit from a walkthrough or, at least, refresher.

@tuxpiper Thanks for the help on the repos. I definitely need a deployment spun up in conjunction, however! Would love to see this ASAP since I'm presenting

[2017-03-24 20:59] jshorland commented on #1651
@Angamanga -- this is good to go on design! implement early next week if you can?

[2017-03-24 21:16] jshorland commented on #1338
@nickbadams -- any luck testing this feature in your deployment?

[2017-03-24 21:45] nickbadams commented on #1338
I am very excited to test, but working on three grant applications due over
the next week and a half. Will report back soon!  :)

On Fri, Mar 24, 2017 at 2:16 PM, Jess Shorland <notifications@github.com>
wrote:

--

*Nick Adams, Ph.D.Research Fellow – Social Science, *

*Berkeley Institute for Data Science*
*University of California, Berkeley*

[2017-03-24 22:41] tuxpiper commented on #1654
@chrisveness looking at your command sequence,  did you run `composer install`?

[2017-03-25 12:43] Angamanga commented on #1651
@brandonrosage If a logged in user also is an admin of the site, should this new language-selector change the default language to the site then too?  Like when using the selector in settings->general->select language?

[2017-03-25 18:34] chrisveness commented on #1654
@tuxpiper I ran `bin/update`, which I believe ultimately runs `composer install`, yes.

[2017-03-26 08:31] tuxpiper commented on #1549
@willdoran things are running for the staging, just last mile configurations pending for the yodie proxy. I've sent you details through slack.

For everyone , the URL is

http://comrades-stg.ushahidi.com  (admin credentials in list pass)

I'm hoping this is enough for the next couple weeks, while I have time to develop a better production deployment (with SSL , autodeploy, and all the items I list

[2017-03-26 14:21] willdoran commented on #1549
@tuxpiper Super awesome, I can complete the configuration of the yodie proxy, I have some updates to push to the API and I want to add seed data. Thank you very much for your work!

[2017-03-26 22:22] rjmackay commented on #1511
@willdoran FYI I ping'd @jshorland about the name change from (ie. tasks -> sections). AFAIK that should actually be happening/implemented.

@brandonrosage was that intentional or something that slipped in? I'd really like to see name changes 1. called out explicitly 2. avoided unless theres a solid, user tested reason to change..

When we change names it makes the codebase harder to understand be

[2017-03-26 23:22] rjmackay commented on #1655
Deploying the change to remove ansible from dataproviders task. Will check how that speeds up the process.

[2017-03-27 00:33] rjmackay commented on #1655
Dropping ansible takes us back to a 15min run time.. still need to optimize I think.
- We could log the move recent queue time for each deployment and only requeue if the queue time is more than 10 mins ago. Or just log queue status as: done vs queued

[2017-03-27 02:49] rjmackay commented on #674
I'm trying to sort out a naming scheme for platform that avoids having an `Ushahidi\App` layer since that'll get confusing with Laravels typical `App` namespacing. I'm consider something like

`Ushahidi\Core` : Domain layer has entities, repo interfaces, usecase
`Ushahidi\Infrastructure` or just `Ushahidi\Infra` : concrete repos, validators, tooling (what I had started moving into `Ushahidi\App`)

[2017-03-27 11:02] tuxpiper commented on #1549
@willdoran @Shadrock is the staging site ok for the time being? Or would we need a production site shortly (i.e. in the next couple weeks)?

[2017-03-27 11:03] tuxpiper commented on #1549
created ushahidi/engineering#75 to improve the engineering quality of this deployment

[2017-03-27 11:08] tuxpiper commented on #1599
Duplicates ushahidi/engineering#37

[2017-03-27 11:34] sudheesh001 commented on #1626
Looks like this is fixed, good to close. 👍

[2017-03-27 11:34] #1626 closed

[2017-03-27 13:23] tuxpiper commented on #1656
@willdoran just checking, do we have a solution for pushing the docs to Craft? Or are we planning to move the support site to a different tech if necessary?

[2017-03-27 14:18] brandonrosage commented on #1584
I'm thrilled to see this prioritized.

Before I offer some design direction, let me contribute a few things to the scope:

### Draft vs. Auto-save
I think we're talking about two functionalities that (in some cases) work in concert.

- **Draft**: A distinction available only to individual posts.
- **Auto-save**: The process of saving a user's work on an entity (e.g. post, role, survey) without req

[2017-03-27 14:22] tuxpiper commented on #1654
@chrisveness I haven't been able to reproduce the problem in a fresh system

What distribution and version of PHP are you trying?

[2017-03-27 16:43] chrisveness commented on #1654
I've tried the install process again, and am no longer seeing that issue, so perhaps it's been fixed (either in ushahidi directly or in phinx).

However, I'm now seeing

    [InvalidArgumentException]
    There was a problem creating the schema table: SQLSTATE[42000]: Syntax error or access violation: 1067 Invalid default value for 'end_time'

Searching previous issues, this appears to be related

[2017-03-27 17:34] willdoran commented on #1656
@tuxpiper I don't think we do, I remember about a year ago we were looking into better doc pushing but none of the system were working. But do you mean the support.ushahidi.com docs or a different ones?

I think the support.ushahidi.com ones are fully manual.

I would argue that we should be as open as possible and consider any change that make the doc system better. I think that if the platform i

[2017-03-27 17:51] willdoran commented on #1549
@tuxpiper I think the integrated system is to be demoable by the end of June and a production environment would be need for then. In the mean time, ideally, the partners will work on their own integrations in their local environments and only push to staging when they want to share with each other.

For me, the only super useful thing in the immediate term would be autodeployment from the repo.

@

[2017-03-27 17:56] brandonrosage commented on #1584
I also want to pay some lip service to "Import CSV," which @jshorland included in the scope, but I didn't mention in the previous roundup.

That's because, first and foremost, the UX for in-progress and problematic imports was [largely addressed in its most recent implementation](https://github.com/ushahidi/platform/issues/1448#issuecomment-256472844). But I awnt to refine and better articulate it

[2017-03-27 18:40] brandonrosage commented on #1511
@rjmackay The term "sections" largely _slipped in_. I do want to make a case for it, however, based on my user interviews with deployers regarding "tasks."

@jshorland and I discussed this in a call this morning and I'll be joining your next one-on-one briefly to talk about it there, as well.

In short, the argument has two components:

1. "Tasks" in the product today don't behave much like tasks.

[2017-03-27 18:52] brandonrosage commented on #1642
Feedback on the current state of the "slider" @middle8media introduced in the dotcom PL:

**The directional controls don't behave as I'd expect**, which is that, when selecting an arrow button, once I've revealed the last item in the row, I'd expect the forward arrow to become disabled. It currently allows me to continue to advance the slider such that it creates empty space.

**The pager controls

[2017-03-27 19:21] tuxpiper commented on #1654
Yes, #1177 is probably causing your trouble. It's actually MySQL that shook things up by changing the default way their engine worked with some aspects of SQL. If you adjust the sql_mode in MySQL, that should fix your problem.

Attention: our codebase is not compatible with PHP 7.x . You should install and use 5.6 .

[2017-03-27 19:31] brandonrosage commented on #1397
**Note**: @jshorland and I launched a poll today to around 200 v2 and v3 deployers via email and Intercom in order to gather data regarding which term they prefer to organize their data: Categories, Labels, or Tags.

We'll use this data to confirm the naming of the overall feature (e.g. Categories vs. Labels). We intend to collate the data and make a decision on Wednesday, March 29.

[2017-03-27 21:10] brandonrosage commented on #1642
More feedback: The arrow buttons should adopt one of the existing button styles from the PL.

[2017-03-28 02:02] caharding commented on #1657
This really starts to sound like creeping into building a full messaging service. We're also missing that users want to send custom SMS alerts, not just alerts triggered by Saved Searches.

[2017-03-28 02:38] caharding commented on #1511
I find this slightly confusing. Sections of a survey read to me "You did
part 1, now fill out part 2" but in reality, a user may just do part 1, and
then a different user type would do part 2. This gets particularly
confusing especially when the person to submit can't actually submit b/c
something else has to be done to the survey.

On Mon, Mar 27, 2017 at 11:40 AM, Brandon Rosage <notifications@g

[2017-03-28 07:05] tuxpiper commented on #1655
How about adding a command mode to the `ushahidi` command line tool? That would cut down the repeated work of forking php processes and bootstrapping the platform every time. i.e.:

[code]

Just not sure how hard it is to reconfigure the database connection on the fly.. within the same process.

[2017-03-28 14:30] Angamanga commented on #1392
@jshorland This can be qa:ed here: http://qa.1392-unmapped-posts.ushahidilab.com/views/map

[2017-03-28 15:53] chrisveness commented on #1654
I'm afraid I'm struggling with this. From #1177, I take it the problem revolves around NO_ZERO_DATE?

I'm not sure how to switch off this option, and I'm also not sure that I will be able to for the entire database (e.g. in my.cnf). I see that NO_ZERO_DATE is default for MySQL 5.7, which is now some three years old.

If it's not possible to update Ushahidi to fix this issue, can you advise how I c

[2017-03-28 18:00] brandonrosage opened #1660 "Hide 'submit survey response' FAB button when none are accessible to me"
### Expected behaviour
If there are no surveys that I'm allowed to respond to, the "+" FAB button should not appear.

### Actual behaviour
Though the "Add to..." options are hidden from the survey filters' dropdown menu, the "+" FAB button still appears. When I click it, nothing happens.

### Steps to reproduce the behaviour/error
Visit a deployment, like [Penang Hills Watch](https://hillclearingi

[2017-03-28 19:06] tuxpiper commented on #1654
In that case, could probably try to use a newer version of phinx. We haven't tested this fully, so YMMV.

Commands:

[code]

then `composer update` and `./bin/update`

[2017-03-28 23:44] jshorland opened #1661 "match reports to government boundaries"
From quakemap:
With QuakeMap, we found that Ushahidi was difficult to use for avoiding duplication of effort and gap analysis because it doesn't have an inbuilt way to match reports to a government boundaries so they can be overlaid with delivery reports.

We didn't quite solve this issue with our Quakemap work-arounds, but we did find a way to link reports to boundaries (and export by them) in Ne

[2017-03-28 23:47] jshorland commented on #1646
I see no problem moving this to spec. And such a necessary filter. Note that this should be filterable in both the side bar and the global filter bar

[2017-03-28 23:48] jshorland commented on #1595
@willdoran should i move to dev backlog?

[2017-03-29 11:14] Angamanga commented on #1397
@brandonrosage No probs with the naming, its not a big deal to change! I have a question about the labels-fields in the surveys. Does it make sense to have more than one field with labels? Its totally possible but would take some more time, so just checking before I dive into that. Currently I have prepared for one field with labels per survey.

[2017-03-29 13:55] Angamanga commented on #1397
@brandonrosage actually nevermind my previous question, it was me not getting how the form-attributes-posts-values relationship works, now I do  :)

[2017-03-29 15:45] Shadrock commented on #1650
I know that @willdoran has probably already looked at this (or discussed it to some degree on the "integration telco") but would really like to have @jshorland have a quick peek at it to see if there are any issues.

[2017-03-29 16:12] jshorland commented on #1511
@charlie we're not making a decision on "sections". Keeping them as tasks, as we need more information.

[2017-03-29 18:14] brandonrosage commented on #1642
Style feedback:

**The fade should match the background color of the document**; not the cards -- to create the effect that the document is subsuming the cards.

Unless we can more easily style the icon (as we do in the client), **let's just have the directional controls not adopt a button style, and instead be icon triggers**.

I've mocked up both of these suggestions using dev tools:

![browser

[2017-03-29 18:25] brandonrosage commented on #1642
Some feedback on the searchbar:

Now that we can see it in the browser, I think the search control is an opportunity to also implicitly communicate the purpose of the web page. So let's inch toward styling it like a title.

Here's a mockup I did using dev tools on your layout:

![searchbar](https://cloud.githubusercontent.com/assets/1136279/24469926/c821e326-1482-11e7-9ca0-a84fb8a3ab19.png)

One d

[2017-03-29 18:29] brandonrosage commented on #1642
Some feedback on the content box:

1. We should be prepared to display deployment logos using the same style that's used in the client. In short, circular image masks. The current dotcom pattern demonstrates square images.
2. Can we make the whole content box the click target, rather just the deployment's URL? If so, let's use a lighter-color and smaller-font-size treatment on the URL text.

[2017-03-30 09:19] aoduor opened #1664 "Support for additional map geometries apart from markers"
As a user submitting a post, I may be sharing a post that isn't necessarily tied to a single point, but a larger area on a map. I'd like to be able to select a region on a map(polygongs), or a road(lines), or even multiple markers.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-618

[2017-03-30 10:34] chrisveness commented on #1654
Thank you for your support, but having followed that procedure, I now have the following from `bin/update`:

    PHP Warning:  Module 'PDO' already loaded in Unknown on line 0
    PHP Warning:  Module 'curl' already loaded in Unknown on line 0
    PHP Warning:  Module 'dom' already loaded in Unknown on line 0
    PHP Warning:  Module 'gd' already loaded in Unknown on line 0
    PHP Warning:  Modul

[2017-03-31 00:01] #674 closed

[2017-03-31 01:17] fsindaco commented on #1582
Everything is working wonderfully now. Thanks!

[2017-03-31 10:41] tuxpiper commented on #1654
Sorry about that @chrisveness .

We are now in an effort to performing some general updates to the dependencies. We hopefully should be in a better place soon.

[2017-03-31 15:34] dalezak opened #1667 "Add Smart App Banners To Deployments"
Adding Smart App Banners to each deployment site can allow deep linking into the app, including automatically adding the deployment, viewing a report, or jumping right into a survey.

![smartbanner_2x](https://cloud.githubusercontent.com/assets/91811/24557759/19fe9f62-15f6-11e7-8ae9-9d9bce803106.png)

iOS https://developer.apple.com/library/content/documentation/AppleApplications/Reference/SafariW

[2017-03-31 18:06] brandonrosage commented on #1667
@dalezak: Can we integrate deep linking without including a "Smart App Banner" to the web client? Must they go together?

[2017-04-03 14:56] aoduor opened #1668 "Add "In progress" or "Waiting" bar to notify users of actions happening in the background."
Feedback from user.

"When we click "Invia" (or SEND), there is no "message" like waiting or rounding wheel or similar... this means that people click on the button twice or thrice. It is possible to have a pop-up or a message for waiting?"

User complained of duplication of submissions because no feedback was being given to a user on success of e.g submission of a post, creation of a field

[2017-04-03 16:19] aoduor opened #1669 "Image upload issues on mobile web"
We've got android users having trouble with image uploads on mobile web

A user on intercom narrowed this down to users on Android version 4.1.x and lower.

"They get message like "not enough memory" (but mobile gas a lot of free memory), or even worse, once the image uploads, the page reloads."

More info from the user

"With two different LG devices I've had the same problem: the page reloads wh

[2017-04-03 19:21] middle8media commented on #1642
pattern is done. I am just waiting to sync with Will to figure out the best way to handle Craft search and integration

[2017-04-03 19:38] jshorland commented on #1642
WOO

[2017-04-04 08:28] Angamanga commented on #1397
@brandonrosage Should all users be able to add new tags? Or only logged in? Or only admin?

[2017-04-04 21:07] brianherbert opened #1671 "Email Template "Deployment Ready" Title Off"
### Expected behaviour

The title of my new deployment should be inside the simulated browser window.

### Actual behaviour

The title is too large and offset. See image:
<img width="559" alt="screen shot 2017-04-04 at 5 00 54 pm" src="https://cloud.githubusercontent.com/assets/106068/24678552/f02779be-1958-11e7-8bcc-10d08723d0cd.png">

### Steps to reproduce the behaviour/error

Create a new depl

[2017-04-05 00:43] jshorland opened #1672 "bug in HTML in sidebar"
Little html bug. If you use simple html code inside the description (like add a link to a page/url) it does work when you open the post, but it doesn't inside the timeline. Here an example https://scattonetto.ushahidi.io/views/list

But if you enter the single post: https://scattonetto.ushahidi.io/posts/177 the link works fine ;)
<img width="466" alt="schermata 2017-04-05 alle 09 20 27" src="https

[2017-04-05 11:20] tuxpiper opened #1673 "[TOP-3] Configure build of ushahidi/platform-client to allow change of base url"
The <base> tag in index.html is currently hardcoded to "/" . It would be good if the build process accepted a configuration variable (i.e. BASE_URL) to allow automating the configuration of that.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-617

<sub>[USH-643](https://linear.app/ushahidi/issue/USH-643/configure-build-of-ushahidiplatform-client-to-allow-change-of-base-url)</sub>

[2017-04-05 15:28] jshorland commented on #1673
YES!

[2017-04-05 18:35] jshorland commented on #1672
@brandonrosage is this in your wheel house, or should I send directly to devs?

[2017-04-05 22:08] brandonrosage commented on #1397
**First**: Polling of deployers indicated that their preferred term for this feature is "Categories." So we're sticking with that.

**Second**:

Any user with permission to "manage posts" should be able to add a new category 'on the fly' within _add/edit post_ views. This pathway to creating categories does not, however, enable them to create a category description, define it as a child of another

[2017-04-06 12:17] Angamanga commented on #1397
Thank you @brandonrosage! And don't think you are an dumbass, this looks great ;)!

[2017-04-06 17:03] jshorland commented on #1511
@willdoran is there a specific url where I should be testing this, or just on qa.ushahididev.com? And any dependencies that I should be testing too?

[2017-04-06 17:10] willdoran commented on #1511
@jshorland Hey, it should be in qa.ushahididev.com and I don't think there are any dependencies

[2017-04-06 23:05] jshorland commented on #1511
@willdoran notes from my QA:

- Require field doesn't look right across all edit field and add field boxes
<img width="536" alt="screen shot 2017-04-06 at 10 05 20 am" src="https://cloud.githubusercontent.com/assets/3224856/24778103/aab7d3fc-1add-11e7-980d-55af143896a0.png">

- When the add field/edit field box comes up, if the content is too long I can't scroll and get to the "update and close" b

[2017-04-06 23:39] rjmackay commented on #1643
This is because the deployments API only has the info from deployment creation, and never updates it after that. I'm going to see if I can fix this without too much trouble

[2017-04-07 12:54] willdoran commented on #1511
@jshorland will fix on flight and send update later today

[2017-04-07 21:03] rjmackay commented on #1642
So I haven't got all the data + search stuff working on api.ushahidi.io yet - but I think we can happily define the API:
`api.ushahidi.io/deployments?q=searching!` for the search
`api.ushahidi.io/deployments` should return the most recent deployment already
`api.ushahidi.io/deployments?sort=active` ... doesn't work yet but I think I can make this work.

You can already see the structure looks like

[2017-04-07 21:05] rjmackay commented on #1642
I think you could do 'recommended' by having a field in craft cms where they can specify a list of deployment subdomains.. Then a url like: `https://api.ushahidi.io/deployments/api.ushahidi.io/hillclearinginpenang` will load the details
where the last part is the subdomain (yes the URL structure is weird)

[2017-04-08 05:06] gmckone opened #3621 "Feature Request: Allow Ushahidi users managing incoming messages to open links in a new tab by default"
Not an Error exactly.  More of a feature request.
Perhaps it is already possible, so if so I'd appreciate learning how this works.

### Expected (Desired) behaviour
A user clicking on a link in a message (sms/twitter) would have that link's destination open in a new tab. (Preserving the Ushahidi window they just clicked in)

### Actual (Existing) behaviour
On the platform (at least the deployments

[2017-04-09 04:30] gmckone commented on #549
absolutely.  And keyboard shortcuts for managing messages as well.     e.g. "delete current record" no confirmation,  "mark current record as spam" no confirmation.    When facing a messages box that grows by 20 per minute, its a LOT of clicking :-)

[2017-04-09 23:40] rjmackay commented on #1595
@will where's this at?
Dale suggested using https://segment.com/ to funnel metrics to various tools.. which could actually work well if we *haven't* already done the intercom work. It'll cost a little but may give us more flexibility for data warehousing later. If we've already started on sending intercom events we can ignore Segment for now.

[2017-04-10 04:03] rjmackay opened #1675 "Images on posts rotated sideways"
### Expected behaviour
Image should be shown without rotation

### Actual behaviour
Image is show rotated 90 degrees. For example

https://scattonetto.ushahidi.io/posts/238
But the raw image looks fine: https://74ddb495e3f187ded630-0b4c691ea14dad11384ab079da46af4f.ssl.cf2.rackcdn.com/scattonetto.api.ushahidi.io/5/8/58e74cdd65911-20170406_112123.jpg

https://scattonetto.ushahidi.io/posts/241
But ag

[2017-04-10 12:28] aoduor opened #1676 "Missing option to make Image upload field required"
### Expected behaviour
I should be able to set an Image upload field as required ( as with all other custom field)

### Actual behaviour
Option to set field as required doesn't exist when I select an image upload field

### Steps to reproduce the behaviour/error
* Log into deployment
* Select surveys and attempt to add an image upload field onto your survey.

Refs https://app.intercom.io/a/apps/hl

[2017-04-10 12:33] aoduor opened #1677 "Make image upload caption field optional"
One of our users would like the option to omit the caption field on a custom image upload field.

Ref: https://app.intercom.io/a/apps/hl5rfiga/respond/inbox/unassigned/conversations/9192046250

[2017-04-10 13:07] aoduor opened #1678 "Add ability to add custom descriptive text to top of survey pages"
One of our users would like to be able to add custom descriptive/help texts for users submitting posts to their deployments, much like what we had on v2 on the top of the report submission page.

Wondering of this could also double up as a user story for the need for custom pages on v3?

cc @jshorland @brandonrosage

Refs https://app.intercom.io/a/apps/hl5rfiga/respond/inbox/angela@ushahidi.com/co

[2017-04-10 13:08] aoduor commented on #1668
User brought this up again

Refs https://app.intercom.io/a/apps/hl5rfiga/respond/inbox/angela@ushahidi.com/conversations/9204361285

[2017-04-10 13:14] aoduor opened #1679 "Support upload of geodata"
As a user, i'd like to be able to upload geodata on my ushahidi deployment. e.g. Shapefiles, KML/KMZ files.

Refs https://app.intercom.io/a/apps/hl5rfiga/respond/inbox/angela@ushahidi.com/conversations/9101993694

Aha! Link: https://ushahiditeam.aha.io/features/PROD-614

[2017-04-10 13:30] aoduor opened #1680 "Filtering out twitter noise"
I know this is something we've tried to tackle with third party applications, but i'll still add it here for us to think about ( legacy issue from v2 as well).

We currently pull out ALL tweets corresponding to a hashtag ( retweets included) - which pulls in alot of noise for our users.

Is there anything at all we can do to help identify/sift out retweets on the platform?

Refs https://app.interc

[2017-04-10 13:44] willdoran opened #1681 "Display meta information about results from ML tools"
### Expected behaviour
- New posts will be parsed through several machine learning(ML) tools
- After they have been parsed they will have the following new pieces of information:
  1. For each label(eg: Protest, Fire, Violence...etc) we will have an Accuracy Value, this describes how confident the ML tool is that it has correctly labeled the Post.
  2. The text(content) of the post will be annotat

[2017-04-10 13:48] aoduor opened #1682 "CSV Import failing on attempts to import more than 50 entries at a time"
Feedback from one user on Intercom

"Through trial and error, I discovered that the system imports a CSV file with just 20 entries very well. 50, 100 and 200 entries result in a success notification, but the reports aren't shown in list or map views; "Your search didn't match any posts". 300 entries result in an error message without any text, i.e. just a red exclamation symbol. Uploading only the

[2017-04-10 13:56] willdoran opened #1683 "Comrades: Data Filtering"
### Expected behaviour
- Users should be able to filter Posts based on the following criteria:
  - Is Machine Labeled/Annotated
  - Is User Validated/Verrified
  - Machine Created Labels
  - User Labels

We also need to capture any changes from Machine Labeled/Annotate to validated/verified/improve by user. The goal of recording this change is to be able to supply that information back to the ML t

[2017-04-10 14:01] aoduor opened #1684 "Omit everything except email body from email data source"
User on intercom complained of email's being pulled into his deployment containing header information. See below

"Delivered-To: ********
Received: by 10.37.51.84 with SMTP id z81csp2829026ybz; Fri, 31 Mar 2017
02:29:55 -0700 (PDT)
X-Received: by 10.223.142.18 with SMTP id n18mr1958152wrb.188.1490952595088;
Fri, 31 Mar 2017 02:29:55 -0700 (PDT)
Return-Path:
Received: from mail-wr0-x234.google.com

[2017-04-10 16:39] jshorland commented on #1682
To do: @jshorland try to replicate on internal QA deployment

[2017-04-10 16:40] jshorland commented on #1593
@tuxpiper are you able to do this quickly on the backend?

[2017-04-10 16:43] jshorland commented on #1537
closing in favor of #697

[2017-04-10 16:43] #1537 closed

[2017-04-10 16:48] jshorland opened #1685 "Migrating from unique DB for each deployment to 1 DB for all deployments"
@rjmackay or @tuxpiper can you summarize a description of what we're trying to do here? I think one of you is in a better position than I to scope this properly.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-613

[2017-04-10 16:51] tuxpiper commented on #1593
@jshorland I wouldn't do a change like this quickly, but rather I'd rather do it in the right setup, with a cup of tea and lounge music. But yea, I can take a look.

[2017-04-10 16:52] jshorland commented on #1658
@tuxpiper can you look into this and give me a rough estimate of how much work would be involved to do this for 1 client?

[2017-04-10 16:54] jshorland commented on #1655
I'm still not receiving any SMS alerts from usaelectionmonitor.ushahidi.io, even though I'm set up to do so. I believe we can figure out this issue when we rewrite the datasource integrations as laid out in #697 -- a Q2 OKR non-negotiable.

[2017-04-10 16:55] jshorland commented on #1421
As we see more and more orgs coming onto the platform, this is significantly increasing in priority. We MUST get this done soon.

[2017-04-10 16:55] jshorland commented on #1421
To do next: @jshorland will write user stories here.

[2017-04-10 17:00] jshorland commented on #1657
@caharding I'm with you on scope creep. I think it's worth going through the scoping process to see if there's a way to auto-sign people up for alerts, especially when you're part of a large org... it just doesn't make sense for each individual to sign up as a member, create their own saved search, and sign up for alerts. How onerous.

[2017-04-10 17:24] jshorland opened #1686 "1st iteration of comrades deployment"
@shadrock @will let's clearly scope out what's required for this so we can appropriate schedule work to deliver by May 15!

[2017-04-10 17:29] caharding commented on #1657
Agree

On Mon, Apr 10, 2017 at 10:00 AM, Jess Shorland <notifications@github.com>
wrote:

--
Charlie Harding
Product Director

[2017-04-10 17:30] jshorland commented on #1628
Passes QA!

[2017-04-10 17:48] jshorland commented on #1683
This will be easier to do earlier in Q2 if feasible. @brandonrosage can you read through this and see if this is do-able to get done early Q2?

[2017-04-10 17:48] jshorland commented on #1681
This will be easier to do earlier in Q2 if feasible. @brandonrosage can you read through this and see if this is do-able to get done early Q2?

[2017-04-10 17:59] jshorland commented on #1672
might be fixed by @willdoran 's fixes he's doing today

[2017-04-10 18:02] brandonrosage commented on #1671
The title of the deployment is not intended to appear within the device(s) mockup. It is, however, intended to be included in the heading of the message:

"Your [deployment name] deployment is ready"

![email](https://cloud.githubusercontent.com/assets/1136279/24875510/e49692b2-1ded-11e7-82c5-d2fe3148f607.png)

[2017-04-10 18:04] jshorland commented on #1584
"Track changes", or, seeing past revisions on posts should be done after laravel

[2017-04-10 18:08] brandonrosage commented on #1678
There is currently a survey description field, which is improved upon in the iteration that's on deck to be even more free-form:

![add survey](https://cloud.githubusercontent.com/assets/1136279/24875679/88fda76e-1dee-11e7-965b-cd13fed30a74.png)

This is then intended to appear atop each survey response:

![post add](https://cloud.githubusercontent.com/assets/1136279/24875742/b608b19a-1dee-11e7-86

[2017-04-10 19:05] brandonrosage commented on #1681
The design solution could certainly be staged in April.

I'd posit that an elegant solution might amount to a small pattern that's appended to values and inline text that's being machine-generated or -analyzed.

For example, a machine-generated list of categories might have a small visual indicator attached to it that, A, summarizes its "accuracy," and B, can be clicked on to reveal a popup with m

[2017-04-10 19:12] brandonrosage commented on #1683
**Questions**:

Is "User Validated/Verified" referring to the verification of a specific machine-added item (like a link or category)? Or is referring to the verification of the overall post?

Would the filter controls need to distinguish between categories that a user created (or verified) and categories that a machine created? Or is it simply that they all need to be accounted for in the filter

[2017-04-10 21:23] tuxpiper commented on #1658
@jshorland : the most interesting question about this one is, what should appear as the image in the facebook post? If we would like to have specific images that are tailored to the shared content, that will be a significant part of the estimate.

Facebook will most probably not be able to generate the image automatically, because of the very dynamic nature of our frontend code (same reason why SE

[2017-04-10 21:33] tuxpiper commented on #1685
I think this means (possibly among other things):

1. inserting a column in all database tables with the deployment id
2. adjusting all the models and queries to take that deployment id into account
3. possibly looking up and setting that deployment id at the beginning of each http request transaction, and background job execution . Default to a special id for non multisite deployments (open sourc

[2017-04-10 21:39] tuxpiper commented on #1655
just noting here, we are not lagging that much behind on job execution now .. in the precise case of that deployment, it must be a configuration issue with the integration of the SMS gateway, or the gateway itself.

[2017-04-10 21:56] rjmackay commented on #505
Removing test runner for #1372

[2017-04-10 21:56] #505 closed

[2017-04-10 21:57] rjmackay commented on #1371
Close in favour of #1685

[2017-04-10 21:57] #1371 closed

[2017-04-10 22:24] rjmackay commented on #1680
I gave this advice to someone on intercom yesterday:

The quickest thing to do is to customize your search term. The 'Twitter search term' field in the data source configuration should accept any search terms that work on twitter itself. Try playing with the twitter advanced search on twitter to create a search string that gives you less noise.

[2017-04-10 22:50] rjmackay commented on #1668
Rollcall has a nice simple solution to this. @brandonrosage could we do something similar?

[2017-04-10 23:20] rjmackay commented on #1075
Mentioned in https://app.intercom.io/a/apps/hl5rfiga/respond/inbox/tech/conversations/9014117161

[2017-04-10 23:21] rjmackay commented on #480
Dupe of #1075

[2017-04-10 23:21] #480 closed

[2017-04-10 23:22] rjmackay opened #1687 "Pull photos from incoming email"
### Expected behaviour
If I attach a photo to an email and send it to Ushahidi, the photo is included in the post.

### Actual behaviour
If I attach a photo to an email and send it to Ushahidi, the photo is ignored

Aha! Link: https://ushahiditeam.aha.io/features/PROD-612

[2017-04-10 23:22] rjmackay commented on #1687
https://app.intercom.io/a/apps/hl5rfiga/respond/inbox/tech/conversations/9014117161

[2017-04-11 13:27] Angamanga opened #1688 "Add new permission for managing categories"
Decide if a new permission-type for managing categories is needed? The alternative would be to adjust the permissions for Manage-Post-roles  so they can add categories, update the forms_tags-table and form_attributes-table.

https://cloud.githubusercontent.com/assets/1136279/23771318/2f9fd866-04dc-11e7-8c6f-cbf634f0f394.png

[2017-04-11 13:32] Angamanga opened #1689 "Move filter-dropdown and saved-searches-dropdown to modals"
Move the filter- and saved-searches-dropdowns to modals according to pattern-library:
![labels](https://cloud.githubusercontent.com/assets/1136279/24774108/5094ac24-1add-11e7-849e-39d996062fb7.png
)

and

![saved searches](https://cloud.githubusercontent.com/assets/1136279/24773873/7c611078-1adc-11e7-97db-b2f015d40b1a.png)

[2017-04-11 15:07] middle8media commented on #1642
@rjmackay Just checking to see how `api.ushahidi.io/deployments?sort=active`, description and image are coming along?

[2017-04-11 15:14] middle8media commented on #1642
@rjmackay as far as 'recommended' ... I am not sure how this fits into dotcom Craft or how Craft would determine a deployment worthy of recommedation.

So far this 'Discover' page does not even need a data model within Craft.

I am using a Craft plugin that takes advantage of Guzzle https://github.com/davist11/craft-guzzle

`https://api.ushahidi.io/deployments/?limit=9` - displays most recent

`ht

[2017-04-11 15:14] jshorland commented on #1584
to do: @jshorland create new issue about track changes that doesn't force this to be dependent on replacing kohana.

[2017-04-11 15:18] jshorland commented on #1642
@willdoran would you mind taking a look at @middle8media 's questions here?

[2017-04-11 15:55] dalezak commented on #1667
@brandonrosage @jshorland Smart Banners and Deep Linking serve different purposes.

*Smart Banners* are used to promote the app, if it has not been installed, linking directly to the App Store or Google Play for download. If its been installed, than shows Open instead of View. Optionally, it can pass additional information, for example the deployment URL which can be used on install. This means we

[2017-04-11 15:56] willdoran commented on #1642
@middle8media For the last one, I think you might need a way to take a search term from the user or is that needed for the discover tool. So if they enter "test" and hit search the request would become:

https://api.ushahidi.io/deployments?q=test

It should return results similar to

https://api.ushahidi.io/deployments/?limit=9

just a lot more of them. You could use a simple form on the page so t

[2017-04-11 20:32] rjmackay commented on #1642
Sorry I know very little about craft. I'm assuming you could add a page/data type for 'Discover' that has some kind of custom fields? An admin (ie. Jess) would then have to edit the page to update which deployment were recommended. Does that make sense at all?

[2017-04-11 20:33] rjmackay commented on #1642
I think its ready, but only on staging right now. I'll have someone review and then push it

[2017-04-11 21:57] rjmackay commented on #1642
Deployed to production. Scheduled tasks should run in a few minutes and hopefully the API will then return everything you need

[2017-04-11 21:58] rjmackay commented on #1685
I think a key addition to this is probably: replacing IDs with UUIDs to avoid a clash of primary keys across different deployments.

[2017-04-11 22:48] rjmackay commented on #1685
- [ ] Add migration to add `deployment_id` column to db tables
- [ ] Adjust Entities and repos to take `deployment_id` into account
- [ ] Replace multisite DB lookup code: currently this switches DBs based on deployment subdomain. I'd suggest we plan for a transition period where new deployments go in a single DB, and we migrate old DBs 1 by 1.
- [ ] Replace deployment creation/provisioning: inste

[2017-04-11 22:51] rjmackay commented on #1685
@willdoran I've added a list of what we need to migrate for multi -> single db. Any idea what have I missed ?

[2017-04-12 00:37] jshorland commented on #1528
@StaicyG mind QA'ing tomorrow? on qa.ushahididev,com, a message should appear when you try to delete ANYTHING (post, survey, user, user role) that warns you that the action cannot be undone and asks you to confirm.

[2017-04-12 00:47] jshorland commented on #1327
@Angamanga sorry this took me so long :-/
- it definitely now searches as I type! yay!
- I've lost my "use your current location" button, though

And one other minor thing I don't think we thought about when scoping this -- I can't actually exit out of the dropdown search box, so it covers the map and I can't actually see the map if I want to drag and drop the pin instead of typing in a location.

[2017-04-12 00:48] jshorland commented on #1582
Can we close this now @rjmackay ?

[2017-04-12 00:48] jshorland commented on #1569
Passes QA as far as I can tell. Let's get this deployed (if it hasn't been already!)

[2017-04-12 00:53] jshorland commented on #1392
PASSES QA! BOOM. LET'S GET THIS DEPLOYED!

- even counts only posts that are visible to my role (e.g. not logged in vs logged in admin)

yesssss

[2017-04-12 00:54] jshorland commented on #1200
@rjmackay @Angamanga should I throw back into dev backlog?

[2017-04-12 00:54] jshorland commented on #1501
Fixed on qa.ushahididev.com. Ready to deploy (if not already deployed)

[2017-04-12 00:55] #1582 closed

[2017-04-12 00:59] jshorland commented on #1503
Again. Sorry this has taken me so long :-/ fail on my part. Passes QA. Let's get this deployed!

[2017-04-12 01:00] jshorland commented on #1505
Should be fixed. Let's get this deployed (If it hasn't been already)

[2017-04-12 01:00] jshorland commented on #1508
Fixed by #1503

[2017-04-12 01:01] jshorland commented on #1412
Fixed. DEPLOY!

[2017-04-12 01:13] jshorland commented on #1511
@willdoran the only issue I still see is not seeing a photo even though I upload it and have marked the field as private and am logged in as an admin, but it might be because @angamanga fixed an issue with photo upload recently? All other fields, when marked as "private" work as we want them to.

And whooaaaa... duplicate task is there. and it works. and its kind of blowing my mind. Who caused so

[2017-04-12 01:18] jshorland commented on #1511
@willdoran how hard would it be to add "duplicate survey"? I can make a new issue if necessary, but curious if we can slip that in there too?

[2017-04-12 08:18] klimeto commented on #1654
I used "monkey patching" from [here.](https://github.com/robmorgan/phinx/issues/243) in /platform/vendor/robmorgan/phinx/src/Phinx/Db/Adapter/PdoAdapter.php as follows:
` //->addColumn('end_time', 'timestamp')
->addColumn('end_time', 'timestamp', ['default' => 'CURRENT_TIMESTAMP'])`

which solved the problem and migration has succeeded:  All Done. Took 1.6829s

[2017-04-12 10:01] tuxpiper commented on #1687
Should we look at something similar for twitter?

[2017-04-12 12:31] klimeto commented on #1654
The aforementioned monkey patch did not help, the app indeed installed the db, however later it could not use the database (error while inserting, e.g. new role, etc). I downgraded to Mysql 5.6 and all works fine.

[2017-04-12 14:23] StaicyG commented on #1528
@jshorland sure

No message warning that once the delete action is taken it cannot be undone. The confirm delete pop up is the last message that appears after clicking on delete.

words appear jumbled up on some posts in the timeline:
<img width="594" alt="posts_-_internal_qa_and_slack_-_ushahidi" src="https://cloud.githubusercontent.com/assets/25605883/24958892/9d9b0624-1f99-11e7-9274-b0ac00d7934

[2017-04-12 15:35] middle8media commented on #1642
I have the API search and display working. I am just waiting for 'image' and 'description' to become available in the API. They are currently 'null' - https://api.ushahidi.io/deployments

I also need to make a few UI tweaks.

[2017-04-12 17:08] dalezak commented on #1667
@brandonrosage @jshorland Here's a good article outlining both _Smart Banners_ and _Universal Links_

https://medium.com/@ageitgey/everything-you-need-to-know-about-implementing-ios-and-android-mobile-deep-linking-f4348b265b49

[2017-04-13 09:27] niccolov commented on #1668
Hi @rjmackay and @brandonrosage any news about it?

People get stuck with it every time. The problem is that a lot of person click more time the send buttom (so we receive duplicate posts) or go back and stop sending the post :/

When we click SEND nothing happens and this bring persons to think that something is not working or that they pressed wrongly.

We are hoping for a solution ;)

[2017-04-13 09:28] niccolov commented on #1675
We are going to correct the post manually, but it would be nice to have it working or at least have a change to correct it by the backend (for example a buttom like replace image to rotate image would be nice).

[2017-04-13 09:29] niccolov commented on #1672
Hi @jshorland and @willdoran, do you have any news about it? At the moment we still see error in posts with urls :(

[2017-04-13 14:11] jshorland commented on #1672
Hi @niccolov -- thank you for your patience while we get this fixed! We believe we have a fix for it, and should be able to push it to product early next week after it passes QA testing.

[2017-04-13 22:01] Shadrock opened #1692 "Scope better handling of PII for COMRADES"
## COMRADES
Scope: Auto detection of personally identifiable information: is it possible to have automatic responses to certain inputs?

We'd discussed this previously, but it may be that private form fields that are being rolled out are enough right now. I can check to see if we have any dev resources from the COMRADES partners but *I'll need your confirmation that you want that.* It may be more

[2017-04-13 22:03] Shadrock opened #1693 "Scoping Feedback Loops for COMRADES"
## COMRADES
Scope: Feedback loops - esp. alerts for people who haven’t signed up via the platform.

I can check to see if we have any dev resources from the COMRADES partners but *I'll need your confirmation that you want that.* It may be more difficult than it's worth to bring new devs into our workflow.

[2017-04-13 22:19] Shadrock opened #1694 "Scope New Data Sources for COMRADES: including current deployment"
## COMRADES
This issues is two fold: scoping new data sources that a deployment can ingest for posts and piloting a way for a deployment to push out structured humanitarian data to users and alert subscribers if they are not also users (see #1693).

### Ingesting social media data other than Twitter
Is it possible to somehow integrate FaceBook groups or messenger into an Ushahidi deployment? Lots

[2017-04-13 22:21] Shadrock opened #1695 "Scope Enterprise Ushahidi for COMRADES"
## COMRADES
Is it possible to have an “Enterprise” Ushahidi (e.g. multiple, federated, Ushahidis under a larger deployment) for COMRADES? The goal would be to deliver sometime in Q4.

[2017-04-14 14:45] gsvlopez opened #1696 "Posts duplicated"
### Expected behaviour

### Actual behaviour - I added a task to my survey and a new survey post was submitted. When I refreshed the timeline view, all of the posts had been duplicated.

### Steps to reproduce the behaviour/error

[2017-04-14 15:13] jshorland commented on #1696
hi @gsvlopez -- are you running a self-hosted deployment, or a .io deployment? Do you mind sharing the URL?

[2017-04-14 15:22] gsvlopez commented on #1696
Hi Jess,

Sure - I was developing an initial deployment with your colleague Steven
Blumenfeld. It looks like this issue was fixed or it was just a temporary
issue, since the duplicated posts disappeared just after I submitted this.
There was however another issue we ran into when trying to save a task -
the task was "Verify this information", but the field I had added for the
Task (Provide Name) d

[2017-04-14 15:23] jshorland commented on #1696
Thank you for this info @gsvlopez — we’ll look into it ASAP.

[2017-04-14 15:38] jshorland commented on #1696
@gsvlopez I haven't been able to replicate the task issue you noted above. I believe it might be a confusing design around how to save a task (which will ultimately get fixed by our auto save feature in #1584). For now, can you try adding the task and then saving survey itself and letting me know if the issue is still there? (See example at this link: http://d.pr/i/5Zsa)

[2017-04-17 19:07] tuxpiper commented on #1593
Done!

[2017-04-17 19:17] jshorland commented on #1687
@tuxpiper yes if that's possible

[2017-04-17 19:20] jshorland commented on #1678
note: we should close this if the solution above addresses the issue

[2017-04-17 19:21] jshorland commented on #1363
@brandonrosage just checking that you've got this included in your designs for tasks?

[2017-04-17 19:22] jshorland commented on #1369
Moving to icebox for now, unless sales revives this and thinks its a good idea

[2017-04-17 19:26] jshorland commented on #1245
to answer during scoping:
- what if a pin doesn't have an address associated with it?
- how do we display locations that were typed in as city/state or something broad like that?

[2017-04-17 19:27] jshorland commented on #1089
I believe this is fixed. Closing.

[2017-04-17 19:28] jshorland commented on #1323
Reviving this @rjmackay as we address our data provider integrations this quarter.

[2017-04-17 19:30] jshorland commented on #1436
Moving to icebox. this is so low of a priority IMO right now, unless a paying client request pops up for it.

[2017-04-17 19:32] willdoran commented on #1363
@rjmackay Both of those are in, though the var is called show_task_when_published, which might be better as show_when_published to be explict. But right now it defaults to don't show, is that correct?

[2017-04-17 20:10] #1614 closed

[2017-04-17 20:19] tuxpiper commented on #1614
Removed from playbooks. Quick check in the corresponding servers reveals the access is not there.

[2017-04-17 20:47] aoduor commented on #1678
It does. Thanks @brandonrosage!

Handheld Sent,

Angela Oduor Lungati,
Director of Community Engagement,
Ushahidi | www.ushahidi.com

[2017-04-17 21:29] rjmackay commented on #1363
I think so? Whats the current behaviour of tasks? We should maintain that, any tasks already in a deployment should keep the visibility they already had.
For new tasks, I'll defer to @jshorland. Should tasks default to hidden from the public?

[2017-04-17 22:24] Shadrock commented on #1686
The grant stipulates that the first version of the COMRADES platform will:

Because the requirements doc from WP2 is not yet finished, but the integration work @willdoran is doing moved so quickly we're on track to have:

- YODIE: functionality as it is now is fine for this version.
- CREES: I'd like to see this at the same level of YODIE for the first pass. Better UI/UX can come later.

Additiona

[2017-04-18 11:49] MazenBaroudi opened #1697 "title and description field deletion"
### Expected behaviour: when deleting the "title" and the "description" fields in a survey, they should not appear when somebody wants to add a post

### Actual behaviour: even after the deletion, these two fields continue to appear in the survey as a mandatory fields whenever someone is adding a post

### Steps to reproduce the behaviour/error

[2017-04-18 12:21] aoduor commented on #1697
Thanks for filing the report @MazenBaroudi

Refs https://app.intercom.io/a/apps/hl5rfiga/respond/inbox/unassigned/conversations/9255847445

[2017-04-18 12:25] #1678 closed

[2017-04-18 12:27] aoduor commented on #1520
This was fixed i believe.

[2017-04-18 12:27] #1520 closed

[2017-04-18 12:31] aoduor commented on #1632
@jshorland could I get a sense of where we're at with this - I'd spoken to the mapbox team about this and it would be great to share an update on what we're doing about it so far?

[2017-04-18 12:52] aoduor commented on #929
@rjmackay @jshorland I'm bumping this up your radar as well. Is this something we can get done fairly quickly?

[2017-04-18 13:25] jshorland commented on #697
Moving forward and highlighting. let's get this done this quarter! @willdoran this will be the next next thing we'll need to work on (after mobile app banners)

[2017-04-18 13:53] willdoran opened #1698 "Deleting all items on a page does not show next set of results"
### Expected behaviour
- When I select all and delete all posts on timeline I expect the next set to appear
### Actual behaviour
- When I select all and delete all posts on timeline a message appears telling me there are no posts to display

### Steps to reproduce the behaviour/error

[2017-04-18 14:07] willdoran opened #1699 "Timeline: Survey filter numbers don't update after delete"
### Expected behaviour
- Number of posts per survey updates correctly when I delete posts
### Actual behaviour
- Number of posts per survey does not updates correctly when I delete posts
### Steps to reproduce the behaviour/error

[2017-04-18 14:26] jshorland commented on #1632
@aodour I'm going to chat with @brandonrosage about this today. I don't *think* there's any sneaky design issues we should be concerned about, but want to double check with him before we send to devs. It should be quick to actually develop.

The only other thing I'm concerned about is being able to track how many people actually use the link. I have a call scheduled with @rjmackay to speak with hi

[2017-04-18 15:28] ClearLakeHABMap commented on #1411
I would seek the opposite action upon opening the map. By negating the zoom level on the General setting and fitting to zoom, the current situation disregards the geographic area of concern. An example of this would be when you have no data points in Maine and Florida, so those points are zoomed out of a USA based map. Other maps may see more extreme loss of coverage and could discourage participa

[2017-04-18 16:13] ClearLakeHABMap opened #1700 "Deployment logo not saved after session"
### Expected behaviour
Upload and save a logo for the Settings>General Page reappearing on the next session.

### Actual behaviour
Upload a logo in Settings>General, then save. The logo appears in the main map screen. After logging out and logging back in, the logo is missing and the file in Settings>General shows a broken image file logo.

### Steps to reproduce the behaviour/error
This occurs on

[2017-04-18 16:19] jshorland commented on #1642
to do: look at how github tells users their free plan is discoverable.
for v2 of this -- opt out feature (should that be feature gated?)

[2017-04-18 16:20] ClearLakeHABMap commented on #1679
I can see the expected behavior working in Settings>Import but it may also be functional through a process similar to an added field for a Survey. This way we can delegate the role to a member through the survey interface.

[2017-04-18 17:02] jshorland commented on #1595
@will this after mobile banners

[2017-04-18 17:58] jshorland commented on #1700
Hi there @ClearLakeHABMap -- are you running a self-hosted open source version, or a deployment hosted by Ushahidi?

[2017-04-18 18:14] Shadrock commented on #1686
@jshorland @willdoran just confirmed the above with Harith. Would love to think about how to tackle that number 3. Anyways, they are feeling really good about where we're at! And we are AHEAD OF SCHEDULE! Joyfully so.

[2017-04-18 18:35] ClearLakeHABMap commented on #1700
I installed a database and client on Heroku and have been working from there. Do you have that run through Ushahidi on the backend? It looks like a large number of resources are on the system I am managing.

[2017-04-18 18:39] ClearLakeHABMap commented on #1700
It may be an image titling issue. I just tried it with one having only A# and it seems to be sticking. Underscore and % appear to be stopping the stickiness of the pictures?

[2017-04-18 18:53] ClearLakeHABMap commented on #1664
This could also be done similar to v2 where a similar logo could be selected for specific points. Perhaps Unicode or emoji support for this?

[2017-04-18 19:03] willdoran commented on #1686
@Shadrock @jshorland
Taking these and converting them into items:

- [x] Privacy at the field level
- [ ] Mobile version
  - [ ] What is the requirement for this? Is it met by our existing mobile app
- [ ] UX changes review, I would suggest that we do an initial iteration of this while we still have Brandon, this would cover the following:
  - [ ] Display accuracy for Yodie/Crees results
  - [ ] C

[2017-04-18 19:29] Shadrock commented on #1686
Looks great @willdoran. Our current mobile app does check the box (and so I have checked the box: super meta). It seems to me that the UX review is the most pressing concern. @jshorland what's the best way to move forward on this: I'd like to take advantage of what little time we have Brandon. I need a bit more time to mull over the other checkboxes...

[2017-04-18 19:54] ClearLakeHABMap commented on #1398
Alert seems like an important aspect of the system coming from v2. I am torn between using v2 for this feature alone. Are there any current work around tools that replicate the feature?

[2017-04-18 20:03] willdoran commented on #1667
Deep links:
- [ ] It seems like I need an appId and to define what should be linked for iOS
- [ ] add /.well-known/apple-app-site-association
- [ ] Do you have the fingerprint or at least the key I need to generate it?
- [ ] add /.well-known/assetlinks.json - I think this should be ok with subdomains as we push all to the same app
- [ ] Host both files on CDN

Banners
- [ ] add meta tag
- [ ] Add

[2017-04-18 20:12] ClearLakeHABMap opened #1701 "Survey Map Search Lock"
### Expected behaviour
When searching for a location but unable to find it in search, the search screen disappears when you click out of it (white space or otherwise.
### Actual behaviour
The search location pop up/drop down remains open until a found location can be searched for successfully.
### Steps to reproduce the behaviour/error
Search in "Find a location...:" in a survey input, delete all

[2017-04-18 20:52] ClearLakeHABMap commented on #1653
Could some of this be achieved by utilizing the Google Voice API? I know that it has been mentioned in using Google Voice in Python, Java, Ruby, and a few other approaches. Their architecture is stronger now than before and even offers MMS on most big carriers. [https://productforums.google.com/forum/#!topic/voice/OcP6CYmrAJc]

[2017-04-18 21:50] jshorland commented on #1700
cc: @tuxpiper any idea what might be happening here?

[2017-04-18 22:06] Angamanga commented on #1397
@jshorland This is ready to be QAd here: http://qa.1397-new-labels.ushahidilab.com

[2017-04-19 07:04] Angamanga commented on #1651
@jshorland This can be QAd here: http://qa.language-switcher-1651.ushahidilab.com/. The behaviour is this:
1. If the user is logged in, the chosen language is stored and will stay the same until the user changes the language again.
2. If the user is not logged in, the chosen language remains for the current session only.
3. If no language is set, the site-default language is used.
Language is chan

[2017-04-19 12:47] tuxpiper commented on #1700
Underscores and % signs are usually taken well by filesystems... I haven't been able to reproduce in my .io deployment.

@ClearLakeHABMap  What was the original file name of your image?

[2017-04-19 13:28] niccolov commented on #1669
Any news about that? Same problems happens with other mobiles.
There are 2 kinds of problems:

- in some mobiles if you select camera for the picture you get the error: not enought memory (but the mobile has a lot of free memory, RAM and ROM)
- in some mobiles if you select the photo from the documents, once you choose the photo, the page reload itself :(

Please help us ;)

[2017-04-19 13:30] niccolov commented on #1672
Good to know @jshorland We are waiting to see it online.
At the moment is not yet published right?

Thanks,

Niccolò

[2017-04-19 13:33] niccolov commented on #1675
Lately it didn't happened again... did you work on it?
Can I correct the old images?

[2017-04-19 13:34] niccolov commented on #1676
Hi @jshorland any news about that?

[2017-04-19 13:36] niccolov commented on #1678
Hi @aoduor and @brandonrosage. What do you mean with the latests messages? It means that it will work soon? It will be great!

[2017-04-19 13:40] niccolov commented on #1668
@rjmackay @brandonrosage Any update about that? I've seen a lot of person get stuck or nervous about this problema. Once they click SEND, nothing change on the "window" and no "wait messages" appers on screen. People then think:

- I did it and they close the phone (and in many case the upload stop) :(
- I did something wrong, let's push again... and they press send 2/3/4 times until they get the

[2017-04-19 13:42] niccolov commented on #1696
Sometimes it happens to us too! If I'm logged in with the administrator of the survey sometimes I see some posts duplicated but not in orderd... it happens to see the lastes 5 posts and then again the 5 posts, the new 5 posts and again another repetition.

I solve reloading the page... and the problem dissapear.

[2017-04-19 15:09] ClearLakeHABMap commented on #1700
@tuxpiper I can do you one better and shoot you both copies
![clear lake hab map logo](https://cloud.githubusercontent.com/assets/27732679/25187290/71081eb0-24d7-11e7-8c92-4071f473b293.png)
![clearlakehabmaplogo](https://cloud.githubusercontent.com/assets/27732679/25187294/742041c2-24d7-11e7-8324-1b89399a10ab.png)
First one was Clear Lake HAB Map Logo.png, second (see some blur on the black spot)

[2017-04-19 17:33] ClearLakeHABMap commented on #1700
The problem happened again on the same deployment. This is an interesting problem.

![ushahidilogocapture](https://cloud.githubusercontent.com/assets/27732679/25193326/971125d4-24eb-11e7-8c90-8d3065dfde26.JPG)

[2017-04-19 19:01] caharding opened #1702 "Election Facebook bot Epic"
Facebook is partenred with Ushahidi to help create a FB bot data source for the Kenyan election. Most people are on FB messenger, we should be there too.

## Use cases and User flow

1. Simple Bot
- [x] User is told they can report election violation via a bot
- [x] User can connect to a bot that points them to Uchaguzi
- [x] User can go to Uchaguzi FB page where the bot will pop up

2. Report Bot

[2017-04-19 19:01] caharding commented on #1702
User can get info to register to vote X time before election (req partner with reg)
User is reminded to register
User can check polling location before election (requires polling loco data)
User is alerted of polling location on voting day
User is asked to share that they voted  (link to share on FB)
User is alerted they can report on violations (
User can submit a report and image/video
User is n

[2017-04-19 19:37] willdoran commented on #1684
@aoduor I'm having trouble reproducing this, my concern is that the issue is the content of the email. Above looks like email headers, we don't pull in the headers at all we just grab the body of the email. I think what might be happening is that either the inbound message is including the headers in the body or there is an issue with retrieving them.

I've asked the user for further feedback. I'v

[2017-04-19 19:45] Angamanga commented on #1689
@brandonrosage What should happen when I click 'Create New' on the saved searches? The only similar behaviour I can find is when clicking 'Save search' after performing a search, but that depends on that the user already has added a search-term in the search-box?

[2017-04-19 22:01] jshorland commented on #1686
@shadrock Ok — can we talk about this next Monday morning at 8am pacfic? It’s my regularly scheduled catch up time with brandon and a good chance for you, he and I to do a full UX review.

[2017-04-19 22:03] willdoran commented on #1702
@caharding @rjmackay @jshorland

## Preamble
- FB bots are connected to businesses/orgs, it's a 1:1 relationship so any bot would have to be specific to a Kenyan Election Facebook entity rather than Ushahidi's own page
- The bot can be accessed in the following ways:
  - Directly from Facebook page
  - Through facebook search
  - Through adding as a contact on messenger
  - Through Messenger Codes

[2017-04-20 00:12] jshorland commented on #1651
Passes QA. LET'S GET THIS DEPLOYED!

[2017-04-20 00:19] jshorland commented on #1651
@Angamanga I take that back -- I found just one small thing. On the window tab on chrome, somehow "ushahidi" is translated into arabic I believe, but I can't get it to change no matter how many times I log in or out or change the language itself. Any idea what the behavior might be?

[2017-04-20 00:27] #1667 closed

[2017-04-20 01:06] jshorland commented on #1397
@angamanga QA feedback:
1. the interaction when naming a new category field is off. See gif. When I type a new name the "new category field" default text remains instead of disappearing.
![screen capture on 2017-04-19 at 17-25-25](https://cloud.githubusercontent.com/assets/3224856/25207752/792bcf26-2525-11e7-94a1-b2d9c54280ff.gif)

2. padding seems a little off (aka delete and add buttons are a bi

[2017-04-20 01:44] #1593 closed

[2017-04-20 01:45] jshorland commented on #1528
@angamanga italic text should read under the "Are you sure you want to delete this post?" that says "This action cannot be undone. Please proceed with caution."

[2017-04-20 02:16] natmanning opened #1703 "Change wording on "Embed Video" survey field"
### Expected behaviour
When I add the "Embed video" field to a survey it should read, "Embed Video: Embed Youtube or Vimeo videos in the post, or upload videos directly from the mobile app."

### Actual behaviour
When I add the "Embed video" field to a survey it reads, "Embed Video: Allows Youtube or Vimeo videos to be embed in the post."

We had a user who thought that the mobile app couldn't tak

[2017-04-20 02:40] willdoran commented on #1511
@jshorland yep I merged duplicates as a separate so they are ready to test. It doesn't have an associated issue though. Field level is good to go since you've ok'd it. So we can close this.

[2017-04-20 05:44] tuxpiper commented on #1700
Oh you are running on Heroku, sorry I should have caught this before.

Heroku provides ephemeral filesystems, so locally stored data (like uploaded images) can be lost:  https://devcenter.heroku.com/articles/dynos#ephemeral-filesystem . Are you using a free dyno or did you redeploy / restart anything?

I've just added a note in our documentation about this.

[2017-04-20 09:46] tuxpiper opened #1704 "Heatmap visualisation on map"
After talking with Luis Hernando Aguilar, I learned that the heatmap visualisation functionality is very useful in their deployments of the version 2.

They have been using this plugin:

https://github.com/dkobia/heatmap

This issue is about porting that functionality or adding a similar one to version 3.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-611

[2017-04-20 11:58] Angamanga commented on #1651
@jshorland I could not reproduce it but I tweaked it a bit to set the translate and set the page-title, please check if it still is an issue?

[2017-04-20 12:42] Angamanga commented on #1397
@jshorland 1. Fixed now, 2. Please check again, I don't think the latest pattern-library was used, 3. Fixed now, 4. Fixed now, 5 and 6 fixing that today

[2017-04-20 13:52] #1505 closed

[2017-04-20 13:52] #1569 closed

[2017-04-20 13:52] #1503 closed

[2017-04-20 13:52] #1508 closed

[2017-04-20 13:52] #1412 closed

[2017-04-20 13:52] #1501 closed

[2017-04-20 16:21] jshorland commented on #1651
@Angamanga BOOM. not an issue.

Passes QA, moving to waiting to deploy!

[2017-04-20 16:28] jshorland commented on #1397
@Angamanga woop! 1, 3, and 4 are fixed!

I still see the same patterns I screenshotted on 2, but to me it's not a big enough deal to hold us back from deploying this next week in a batched release.

[2017-04-20 18:00] nickbadams commented on #1338
Testing today! Thanks!

On Fri, Mar 24, 2017 at 2:45 PM, Nicholas Adams <nickbadams@berkeley.edu>
wrote:

--

*Nick Adams, Ph.D.Research Fellow – Social Science, *

*Berkeley Institute for Data Science*
*University of California, Berkeley*

[2017-04-20 18:35] Angamanga commented on #1528
:+1: I'll fix this and the issue @StaicyG found!

[2017-04-20 18:39] Angamanga commented on #1327
@jshorland The "use your current location"-button is only visible on https and therefore it is not visible on qa.ushahididev :( Do we have a testing-site that is on https? I'll sort out the closing of the dropdown!

[2017-04-20 18:40] Angamanga commented on #1397
@jshorland For 2, I now looked at the pattern-library and it is the same there.

[2017-04-20 18:41] Angamanga commented on #1689
@jshorland This can also be tested on http://qa.1397-new-labels.ushahidilab.com (I am working on the filtering of categories right now but the rest should be as above!)

[2017-04-20 20:46] #1638 closed

[2017-04-20 22:36] Angamanga commented on #1689
And now the filtering of categories are as above too!

[2017-04-20 23:05] #1698 closed

[2017-04-21 14:56] Clifford574 opened #1706 "I'm trying to sign in for Switchpoint 2017 and it is not allowing be to enter my NAME on the presenter page. All other fields are working and accepting entries."
### Expected behaviour   Entering name on presenter page Switchpoint 2017

### Actual behaviour Other fields accepting data but not the "Your Name" field

### Steps to reproduce the behaviour/error

[2017-04-21 14:59] #1706 closed

[2017-04-21 15:44] jshorland commented on #1397
@Angamanga Ok great. 5 and 6 are fixed now?

[2017-04-21 15:48] jshorland commented on #1528
Passes QA

[2017-04-21 16:03] caharding commented on #1702
@willdoran @jshorland @rjmackay I updated the user story into 4 stages up above.

[2017-04-21 18:42] willdoran commented on #1702
@caharding Cool, looks good, I would be happy to help @Angamanga get setup next week to start making the basic bot if that fits with @jshorland scheduling?

[2017-04-21 18:46] willdoran commented on #1699
Adding interceptors to each endpoint method response, to broadcast a event that can be listened for by other entities in the app. Therefore, for example, force update of survey filter numbers on post.delete.success

[2017-04-21 18:48] willdoran commented on #1699
Relies on #1023

[2017-04-22 14:46] dalezak opened #1708 "Obtain Associated Media For Posts"
There currently, is no easy way to obtain`Media` for related `Posts` via the API.

As a result, the mobile app needs to make five network requests to get a basic listing of `Posts` with `Media`:

1. Recent Posts `/api/v3/posts?order=desc&limit=10`
2. All Forms `/api/v3/forms`
3. All Form Attributes `/api/v3/forms/attributes`
4. All Users `/api/v3/users`
5. All Media `/api/v3/media?order=desc?limit

[2017-04-24 06:53] aoduor opened #1709 "Category permissions"
As a user, i'd like to distinguish permissions of categories in two separate ways:-
 - Who can add to categories
 - Who can view categories

Right now, we have these two bundled up together, which means its all or nothing when it comes to assigning permissions to roles on categories.

cc @jshorland @Nthiga

Aha! Link: https://ushahiditeam.aha.io/features/PROD-609

[2017-04-24 06:54] aoduor commented on #1709
@Nthiga tagged you since this is for Uchaguzi ;)

[2017-04-24 07:05] aoduor opened #1710 "Ability to add subcategories"
I have created a bunch of categories to be used for Uchaguzi workflows, as shown below.

![screenshot](http://i.imgur.com/gcVCF5y.png)

As a user, i'd like to be able to group related categories into subcategories of one encompassing category

[2017-04-24 07:15] aoduor opened #1711 "Limit publishing rights to specific roles"
I'd like to be able to limit publishing rights on a deployment to specific roles.
Currently, we have "Manage posts" as a blanket permission we grant to roles. We need to drill this down a little further.

cc @Nthiga @jshorland

[2017-04-24 07:30] aoduor commented on #1711
Examples of permissions we can drill this down into:-
- Viewing
- Creating/Editing
- Publishing
- Download

[2017-04-24 07:33] jshorland commented on #1710
This is getting pushed with the new categories feature tomorrow! Wee!

Sent from my iPhone

[2017-04-24 07:38] aoduor opened #1712 "Limit roles that can download data via CSV"
I'd like to be able to limit download of reports to specific audiences, or at least have the option to.

In cases where we're dealing with sensitive data, download via CSV being a publicly available option raises concerns on privacy.

Specifically for Uchaguzi, i think it would be helpful to have this option limited to specific roles on the platform.

Related to ushahidi/platform#1711

Thoughts @j

[2017-04-24 07:40] aoduor commented on #1710
YEEEEEEEHHAAAAAAAWWWWW!

[2017-04-24 08:10] aoduor opened #1713 "Redirect me to survey list page after successful creation"
### Expected behaviour
After i've created a survey, it would be great to send me back to the survey list page, especially if I have to create a few more.

### Actual behaviour
After successful creation of a survey, I remain on the survey editing page, and i have to click on surveys to head back to the list page, which is a teeny bit annoying if i'm creating multiple surveys at a time :)

[2017-04-24 08:11] aoduor commented on #1713
This *might* also help with duplication,

( I clicked on save twice, as i was waiting for confirmation of success, and it created my survey twice)

[2017-04-24 08:12] niccolov commented on #1668
Good morning, sorry to ask again but the 27 of April we will launch the project to the public... so we would like to have some news about it to be ready to answer to technical and/or assistance request.

[2017-04-24 08:13] aoduor commented on #1632
Ping @jshorland :). Any update on this?

[2017-04-24 08:13] niccolov commented on #1672
@jshorland are we ready to deploy? we are very happy to see it solved ;)

[2017-04-24 08:15] niccolov commented on #1675
@aoduor @rjmackay Unlikely it happend again a couple of times... we have correct them manually... Are you working on this bug? Can we correct the new upload or we have to leave uncorrect?

The 27 of April we will launch the project to the public... so we would like to know how to manage this cases. Thanks,

Niccolò

[2017-04-24 08:15] aoduor commented on #1668
Hey @niccolov thanks for reaching out.

Ping @jshorland @rjmackay @brandonrosage - somewhat related to #1713 - confirming that we need this for Uchaguzi as well.

[2017-04-24 08:16] tuxpiper opened #1714 "Cannot change password of default user ("admin")"
### Expected behaviour
OSS deployers should be able to change the password of the default user.

### Actual behaviour
In the user update screen, the username "admin" is rejected as invalid, and thus, no modifications are possible.

This is related to #955

[2017-04-24 08:19] niccolov commented on #1678
Hi @aoduor, @brandonrosage and @jshorland I see that the task is closed but I don't see the solution. It is normal? Are you working on it or do I have to make some changes?

Thanks,

Niccolò

[2017-04-24 08:20] niccolov commented on #1668
Ping @jshorland @rjmackay @brandonrosage Please pay attention to this... People are getting confused about this :/

[2017-04-24 08:20] niccolov commented on #1713
Ping @jshorland @rjmackay @brandonrosage Please pay attention to this... People are getting confused about this :/

[2017-04-24 10:41] Angamanga commented on #1339
@jshorland Just want to doublecheck that I have understood the discussion above about what should be done in this issue:
1. Remove the possibility to add a 'default-location' from a deployment
2. Use bounds of the data-set or whole world if no dataset exists yet on map-view
3. Add the possibility to add default location on each location-field
4. Add location-picker when editing the settings for a

[2017-04-24 14:43] dalezak commented on #1708
Related to #1636

[2017-04-24 15:08] jshorland commented on #1668
@angamanga Can you add this to your "up next"? we have a convention for upload progress on csv import as well. We might want to use the same.

@niccolov we understand and are trying to help with this as quickly as possible.

Sent from my iPhone

[2017-04-24 15:09] jshorland commented on #1678
@niccolov the development work is done and is just waiting to be pushed to production today. Thanks for your patience as we are working as fast as we can while also balancing other priorities in our pipeline.

Sent from my iPhone

[2017-04-24 16:28] Tropicalrambler opened #1715 "Enable Nested Categories [Feature Request]"
Add the ability to "nest" up to 6 categories (or more if possible)

The expected behavior would be to create a Category, and have an option to declare it a "parent" category. You then "Add child"  to this category, or when add the next category as a new category, you can select "Is Child or Node" (meaning the "last in the series), as well as selecting the "parent" category.  User can set a "defaul

[2017-04-24 16:42] willdoran opened #1716 "Can't save post when no category field associated with Survey"
### Expected behaviour
- When I try to add a post for a survey that does not have a category field it should save
- When I try to add a post for a survey that does not have a category field, should I see?
Categories
+ Add new category
### Actual behaviour
- Saving returns a validation error: tag does not exist

### Steps to reproduce the behaviour/error

[2017-04-24 20:16] Tropicalrambler opened #1717 "Add command to duplicate a survey"
Creating each survey one by one or loading it up on the database can be tedious.  I am suggesting a "duplication" feature, accessed by a button that allows you to duplicate an existing survey, which copies all the setting such as Title, Description, fields, color, etc. to a new survey that you can save upon modification (to prevent surveys with the same name).

[2017-04-25 11:14] Angamanga commented on #1668
👍 I'll look at it today and tomorrow if needed!

[2017-04-25 15:49] MazenBaroudi commented on #1697
Problem not solved yet 😞

[2017-04-25 16:33] #1716 closed

[2017-04-25 21:12] niccolov commented on #1668
Thank @Angamanga and @jshorland. I had a couple of hours free.. that's why I've wrote to you again ;)

Take your time... you are doing great things!

[2017-04-25 21:15] niccolov commented on #1678
thanks @jshorland

Let me know when the changes are online and how can I fix it. I was asking about the status "closed" just to know the meaning of it.

Thanks again!

[2017-04-26 03:06] caharding commented on #1702
@jshorland does that timing work for you?

[2017-04-26 11:37] niccolov opened #1719 "Hour of a photo: strange behaviuor"
It happens when you change a post

### Expected behaviour

When you change a post the "timestamp" for the photo should remain the same, unless you force the change

### Actual behaviour

Everytime you modify a post and you save it, the timestamp for the photo change and goes 2 hours back :(

### Steps to reproduce the behaviour/error

Open a post, modify something and save it.

[2017-04-26 11:42] niccolov opened #1720 "No preview (photo and text) when you share the url of a post in Facebook, Whatsapp or Telegram"
### Expected behaviour

When I copy and past an url of a webpage on Facebook, Whatsapp or Telegram, normally it generates a preview of the artcile with a picture and a short description

### Actual behaviour

Nothing happens. No preview is shown :(
I attach 2 images that reproduce the strange action.

### Steps to reproduce the behaviour/error

Copy for example this url: https://scattonetto.ushahi

[2017-04-26 16:34] jshorland commented on #1702
@charlie @willdoran @angamanga I'm starting to get concerned about the amount of work piling up in platform. Especially with this non negotiable tech debt we need to fix, minimal devs, and we are almost through April. I'm scheduling a planning meeting with @willdoran @angamanga this week to figure out how we are going to manage this.

[2017-04-26 17:17] jshorland commented on #1685
@tuxpiper is going to take lead on this. @tuxpiper can you have a draft work plan scoped out by mid-may?

[2017-04-26 17:17] jshorland commented on #1421
@jshorland DO THIS TODAY!

[2017-04-26 17:20] jshorland commented on #477
Closing in favor of #1702

[2017-04-26 17:21] #477 closed

[2017-04-26 17:22] jshorland commented on #1554
"duplicate task" is being pushed to production this week with our latest release. closing.

[2017-04-26 17:27] willdoran opened #1721 "Map should support >30k geo points"
Currently a geojson request attempts to return all Posts with geo data, this is problematic as the connection will timeout or the code will timeout as the request is too large.

- [ ] Adjust geojson endpoint to fully handle requests by tiles
- [ ] Chunk large data requests
- [ ] Pre-parse DB to ensure that posts are pre grouped rather than needing to return all items and then group them in client

[2017-04-26 17:27] jshorland commented on #1325
This is done, right?

[2017-04-26 17:29] jshorland commented on #1717
@tropicalrambler -- we hear you! how frustrating. We have a solution to this in our latest merge that is going through testing now and will be pushed to production this week.

[2017-04-26 17:53] jshorland commented on #1668
@angamanga as we discussed today, to quickly get a solution out to the problem of users clicking the submit button a million times and wreaking havoc on the deployment, let's disable the "submit" button after they click it once, and notify the user that the photo is uploading by changing the text on the button to "saving".  Even if they navigate away, the post will still continue uploading as they

[2017-04-26 18:34] brandonrosage commented on #1383
For review by @jshorland, @caharding, and @nat:

Below is my proposed solution to this particular slice of the overall "Tasks" epic, starting with the definition of a task within Ushahidi:

By assigning a field to someone (or "anybody"), you've created a task. To see your "to-do list," you simply select "Tasks" mode from the mode bar:

![Tasks](https://cloud.githubusercontent.com/assets/1136279/25

[2017-04-26 18:58] caharding commented on #1383
Looks good. Two requests:
1. More information density.
2. Some way to see all the tasks that need completion associated with a survey like the note you made at the bottom of your last comment

[2017-04-26 19:09] brandonrosage commented on #1382
My revised proposal for the solution to this issue is below, directed by our user interviews in February and the SF Hit Team review April 20. It awaits your review, @jshorland, @natmanning, and @caharding.

A task in Ushahidi is "an explicit indication that a field (or group of fields) needs to be completed; by a specific person or group of people."

You can assign a task to someone (or "anybody")

[2017-04-26 21:00] jshorland commented on #1668
@niccolov -- we LOVE when users log issues that they find -- we'll try to address them as soon as possible :-) I think we can get you a fix for this relatively quickly to stop users from clicking submit over and over and over, which I'm sure is incredibly frustrating. We'll keep you updated!

[2017-04-27 09:54] tuxpiper commented on #1685
Ok, I think Robbie pretty much nailed it :) I will add details around that.

[2017-04-27 13:49] brandonrosage commented on #1681
I'd propose we consider a broader feature to address this and other related needs: Field- and section-level attribution.

What that'd mean is, when a user completes a field, that field's data is attributed to that user -- they're the author, essentially. If someone changes it, that person is credited.

I acknowledge that this suggests the need for revision history. But I think it's valid in a more

[2017-04-27 14:34] brandonrosage commented on #1683
In addition to enabling any field to be included among the filter controls, this would require a filter control for attribution (e.g. "includes data contributed by X").

Also, consider that "verification" (or the act of confirming that certain data is legit) would be possible through "[Tasks](https://github.com/ushahidi/platform/issues/1382#issuecomment-297511346)," which are designed to be "an ex

[2017-04-27 18:55] natmanning opened #1723 "Volunteer management & onboarding"
Here is a user story on experience running USA Election Monitor and Document Hate.

Setting up

1. As a user I realized that there was nowhere to write about the purpose and goal of why we were doing this. Thus had to create a Squarespace page to manage all the content, and link over to Ushahidi from there.

2. As a user setting up the workflow I wanted to be able to easily assign people roles and

[2017-04-27 20:58] brandonrosage opened #1725 "Define and visualize the workflow for survey responses"
**User story:** I want to be able to define the workflow that my team and I will use to process incoming survey responses. I also want to see incoming survey responses within that workflow, so I can see what stage responses are in within my workflow.

[2017-04-27 21:51] ClearLakeHABMap commented on #1725
This is an interesting idea. Are you thinking graphically or more like drop carrots/dynamic tabs? Would this include the Tasks?

[2017-04-27 22:05] brandonrosage commented on #1725
For your review, @jshorland, @natmanning, @caharding, and @rjmackay

------

[NOTE: I'm going to refer to "posts" as "_responses_"]

I'd propose we leverage the existing "post status" mechanism to articulate (and configure) a response's "stage," since so much of the intent and meaning of those two terms is the same.

Stages, therefore, would be deployment-level entities. a deployment's default, ou

[2017-04-28 05:27] rjmackay commented on #1675
@niccolov No I haven't had a chance to work on this. My suspicion is that the images were originally rotated sideways, but with a camera that saved EXIF data about orientation. Chrome probably honors this when viewing an image directly, but within a webpage it doesn't.
The simple work around is to edit the images locally and ensure they're really rotated the right way.

The possible fix in the app

[2017-04-28 05:48] rjmackay commented on #1725
- Does 'who can see responses in this stage' effect who can edit them at all?
- Does this interact with existing tasks at all? (I'm assuming it will interact with some future tasks eventually)

[2017-04-28 08:03] niccolov commented on #1675
Hi @rjmackay Actually I've corrected the 2 images that where suggested on the task... the next one wrong I will let them rotated.

The problem is the following: on the post on ushahidi the image appears rotated, but If I donwload it locally and I open it on my computers it appears correct!!!! In fact what I do is to rotate once left again once right to bring it backwards and I save the picture. Th

[2017-04-28 08:09] Angamanga commented on #1200
@jshorland This can be tested on: http://qa.track-filter-state.ushahidilab.com/views/map

[2017-04-28 13:59] ClearLakeHABMap opened #1726 "Dynamic analysis of verified data within Ushahidi"
Feature Request
I would expect to have the capacity to either:
1) have a tab available in the main navigation bar that allows me to add my own sub site that pulls data directly from the database to present information and present it inside Ushahidi
2) provide integration in an additional tab for advanced analysis using R or a similar/lighter open source package that can work within a server and pr

[2017-04-28 14:03] ClearLakeHABMap commented on #1725
This is really cool @brandonrosage . I would actually implement this immediately in the ecosystem we are developing as it fits the hierarchical report verification system used in my two deployments.
Also, glad to see the use of this in Austin. The N. Lamar gave it away for me, but later images were confirmation. I left there in 2013 and come back often. I would love to chat more.

[2017-04-28 14:15] ClearLakeHABMap commented on #1726
One tool used by the USEPA at the moment is RETIGO. It was designed to import CSV data and project it onto a map with analysis including temporal, spatial, regression, and standard deviation. This would be a major draw for use by groups that are more science-related and provide increased exposure to the tool, and both business and support.

[2017-04-28 14:47] ClearLakeHABMap commented on #1720
Even seeing something like this error on SMSSync website
http://smssync.ushahidi.com/contributors/

[2017-04-28 18:32] niccolov commented on #1676
Hi @jshorland and @aoduor today we received many posts without image :(
How can we force this to be mandatory on our survey?

[2017-04-28 20:08] middle8media commented on #1642
Deployment discoverability is ready for internal testing at https://www.ushahidi.com/discover. Just login with your normal dotcom login to test the UI, search and anything else.

Please file issues or feature requests here - https://github.com/ushahidi/biz/issues

[2017-04-28 22:18] natmanning opened #1727 "Metrics Needed for Cisco Grant"
As we begin to string up Grow, here are the metrics i need to be able to pull for Cisco grant that I currently can't find from Chargebee or DIV grants:

Alerts Generated
reports generated over all .io
Tasks created and closed across all. io
Average Time it takes to close a task across all .io

[2017-04-29 04:47] rjmackay commented on #1702
I might be missing something but the "Simple bot" spec seems a little vague:

I assume this is: a user can send a message to the bot and it responds letting them know they can report violations?

I have no idea what this really means?

When? Based on what?

[2017-04-29 04:48] rjmackay commented on #1702
FYI there are a few possible PHP modules around for powering bots: https://github.com/setkyar/laravel-messenger-bot-management
https://github.com/christophrumpel/chatbot-php-boilerplate

I'm sure there are more. That was just initial google results. But definitely worth seeing if there is existing code to speed us along

[2017-04-30 22:27] niccolov commented on #1678
Hi @jshorland this modification is not online yet, right?

[2017-05-01 15:51] #1599 closed

[2017-05-02 10:08] niccolov opened #1728 "Photos are not showing up :("
![schermata 2017-05-02 alle 12 03 26](https://cloud.githubusercontent.com/assets/27413767/25613882/1f8965f4-2f30-11e7-9035-3c75a052c6f6.png)
![schermata 2017-05-02 alle 12 04 55](https://cloud.githubusercontent.com/assets/27413767/25613886/2303696e-2f30-11e7-9ffc-593adf111237.png)
![schermata 2017-05-02 alle 12 05 06](https://cloud.githubusercontent.com/assets/27413767/25613893/283066a8-2f30-11e7-

[2017-05-02 10:16] niccolov opened #1729 "It is possible to increase the size of the photos and make it mandatory?"
### Expected behaviour

On our survey (https://scattonetto.ushahidi.io/views/map) the photos from user are the most important thing togethere with the geodata information. The user should complete the form and publish the photos.

We would like also to make the photo upload mandatory, but in the configuration we don't have this option :(

### Actual behaviour

Many times the photos are not uploade

[2017-05-03 20:47] rjmackay commented on #1372
**Progress**

- [x] Add lumen in to codebase #1663
- [ ] Migrate API controllers to Lumen #1674
- [ ] Move Repos, Validators, etc out of Kohana
- [ ] Move DI set up out of Kohana (into a service provider)
- [ ] Remove Kohana dependencies from everything other than validators and repos
- [ ] Stop bootstrapping kohana
- [ ] Fix Dataprovider callbacks
- [ ] Migrate event handling/listeners to lumen
-

[2017-05-04 17:02] jshorland commented on #1729
@niccolov FYI  we're looking into all of these photo issues you've logged!

[2017-05-04 17:06] tuxpiper commented on #1729
@niccolov we've isolated a configuration problem affecting the photo upload. It was failing only sometimes because the problem was affecting just one of the servers in our farm. The problem has been resolved now.

[2017-05-04 18:45] willdoran commented on #1595
@jshorland PR with checklist is here for QA #1718

[2017-05-05 00:00] caharding commented on #1727
Done

On Fri, Apr 28, 2017 at 3:18 PM Nat <notifications@github.com> wrote:

--
Charlie Harding
Product Director

[2017-05-08 20:25] jshorland commented on #1595
Passes QA

[2017-05-09 00:30] rjmackay commented on #1511
Hide author feature is relevant to this intercom conv: https://app.intercom.io/a/apps/hl5rfiga/respond/inbox/jess@ushahidi.com/conversations/9555218421

[2017-05-09 00:32] rjmackay commented on #1511
Test reopen intercom issue

[2017-05-09 03:18] willdoran opened #1733 "Improve API and Cloud intercom data capture"
@rjmackay
### Expected behaviour
- [x] On deployment create in API, create company object with name and date created
  - [x] Company is named based on subdomain. Needs to be something API will know and can't change
- [x] On create initial admin user push user object with name and associate to company object
- [x] On Admin create in API add new user and associate with company object
- [x] Original

[2017-05-09 03:30] rjmackay commented on #1733
This could happen in the API by creating intercom users for ALL admin users in a deployment. The deployment scripts use the `bin/ushahidi user create` which in turn users the user repo+usecase so that should capture the initial user too.

[2017-05-09 03:37] rjmackay commented on #1733
Updated the checklist above.

[2017-05-09 15:56] tuxpiper commented on #1685
Couple comments:
- yesterday we had a nice chat with @rjmackay obbie about how this will impact db migrations, and how careful we've got to be with not breaking deployments people have out there.
- today we chatted with @willdoran about using the database name as a matcher in intercom, with the company/organisation running a deployment in a multisite setup (ushahidi.io) . This will probably requir

[2017-05-09 17:46] Shadrock opened #1735 "Ensure new updates in platform are added to COMRADES"
Not sure if this has/will happened but I need to ensure that new features such as field level privacy, deployment translation, reply to Twitter, etc. are added to the COMRADES code.

### Due Date
May 26th!

[2017-05-09 21:59] rjmackay opened #1736 "Auto focusing map on posts is unexpected when theres just 1 or 2 posts"
### Expected behaviour
Users first setting up a deployment expect the default map settings to control their map view.

### Actual behaviour
Default map settings are only used when there are *no* posts. As soon as the users adds 1 post the map focuses on that. This is weird since it zooms right in.

### Steps to reproduce the behaviour/error

[2017-05-09 22:00] rjmackay commented on #1736
https://app.intercom.io/a/apps/hl5rfiga/respond/inbox/unassigned/conversations/9649146068

[2017-05-11 02:17] rjmackay commented on #1340
Outstanding packages are league/url and guzzle/guzzle, most other packages have been updated.

[2017-05-11 02:18] rjmackay commented on #1654
@klimeto @chrisveness can you try the current develop branch? We've update a lot of dependencies now, and improved mysql handling for more mysql 5.7

[2017-05-15 04:02] rjmackay opened #1740 "Vimeo video embeds don't render"
### Expected behaviour
Video will render

### Actual behaviour
Video not shown, errors in JS console.
It seems vimeo won't let us iframe their videos... maybe the video URL needs a different format?

### Steps to reproduce the behaviour/error
- Upload a video from mobile
- Try to view the post in the browser
See errors in JS console

https://mobileappqa.ushahidi.io/posts/13

[2017-05-15 14:16] willdoran commented on #1740
@rjmackay I think it's using the wrong format for the vimeo url
https://developer.vimeo.com/apis/oembed

[2017-05-15 19:22] rjmackay commented on #1740
Ok. @dalezak  is that enough info to correct it?

[2017-05-15 19:29] dalezak commented on #1740
I was attaching the unlisted video URL https://vimeo.com/217095139/0662aab2e1 but looks like that can't be used in an IFRAME.

[code]

https://vimeo.com/api/oembed.json?url=https%3A//vimeo.com/217095139/0662aab2e1

[code]

[2017-05-15 20:56] dalezak commented on #1740
Looks like the switch to Vimeo's Player URL fixed the problem on the web :+1:

https://www.dropbox.com/s/6iil5l1hnmo9p10/Screenshot%202017-05-15%2014.52.43.png?dl=0

[2017-05-15 20:56] #1740 closed

[2017-05-15 21:16] Aspah commented on #1340
Thank you! But, how do these packages affect the Ushahidi v.3x installation?

[2017-05-16 14:26] aoduor opened #1743 "Lock submission of posts to a specific geographic area"
Refs: https://app.intercom.io/a/apps/hl5rfiga/respond/inbox/unassigned/conversations/9695184558

As a user, I would like to be able to limit posts submitted to my deployment to my geographic regions of choice

Aha! Link: https://ushahiditeam.aha.io/features/PROD-606

[2017-05-16 18:17] #1727 closed

[2017-05-16 23:03] ClearLakeHABMap commented on #1700
Looking into this deeper, we just finished installing a new platform on a Google Cloud Platform vm instance and still have an issue. The error looking for the resource shows that it is likely an .htaccess problem. My buddy is working on it, but this likely explains the problem with the Heroku instance.

[2017-05-17 15:00] ClearLakeHABMap commented on #1728
We are seeing this too. First on Heroku, and that was supposed to be an expected behavior of that server. Now we see it on our true deployment and it looks like an .htaccess issue from the resource info when we click to see the image that is missing in it's own window. The files are seen on the server in ls -la for the correct media directories.

[2017-05-17 19:03] jshorland opened #1745 "Email not working"
This user https://vanderbilt.ushahidi.io/views/map

And replicated on qa.ushahididev.com

Can't get emails to pull into the platform

[2017-05-18 07:42] tuxpiper commented on #1700
I don't think we've tried this on GCP VM , although it shouldn't be much different from doing a setup in a VPS.

Any details about the error that you can provide to us? We could also check the URL if it's live.

[2017-05-18 14:13] ClearLakeHABMap commented on #1700
Map
http://104.198.4.216

http://104.198.4.216/index.php/media/uploads/5/9/591b441c3f471-clear%20lake%20hab%20map%20logo.jpg
<img width="640" alt="photo issue" src="https://cloud.githubusercontent.com/assets/27732679/26206368/7d2527aa-3b99-11e7-9043-b7ec4c4324ae.png">

[2017-05-19 04:07] rjmackay commented on #1397
Alright so I'm seeing a bunch of issues with this, some minor and others more major. I'm going to add a list here:

- [ ] Categories appear in every task. I think this is because the migration added a categories attribute to *all* tasks, not just the post fields.
- [ ] Styling on edit category is weird, the new fields don't align properly
- [ ] Category hierarchy (ie. parent/child relations) are n

[2017-05-19 09:20] rjmackay commented on #1397
@jshorland  can you look at this point and see what you think?

[2017-05-19 15:45] willdoran commented on #1745
@jess is this working now?

[2017-05-19 18:23] tuxpiper opened #1749 "Warn user on big CSV imports"
The amount of rows that can be imported from a CSV is limited by the execution time allowed to the PHP script. A usual default is 30 seconds.

Here's the suggestion to warn the user if the CSV file is bigger than 100 rows

Aha! Link: https://ushahiditeam.aha.io/features/PROD-605

[2017-05-22 16:05] willdoran commented on #1580
- Users currently used to interacting via categories not surveys - How do we explain the difference between Survey and Category to user
- Need to extend V2 via patch
- Use deployment owner as .io user
- Get same url on .io
- Do user's have option to migrate self-hosted to self-hosted, or only to cloud? Is latter, how do tiers/costs work?
- If user's take migration to trial of cloud and after trial

[2017-05-23 04:17] rjmackay opened #1750 "Duplicate a survey looses attributes on save"
### Expected behaviour
When I save a duplicate survey the attributes stay there

### Actual behaviour
When I save a duplicate survey the attributes disappear (despite being saved)

### Steps to reproduce the behaviour/error
http://quick.as/PgZHJrZq

[2017-05-24 17:18] Angamanga commented on #1702
@jshorland @caharding @willdoran An update on the bot: It is still not finished to send to review so it will not be ready and reviewed for the 28th of May. Hopefully I will be able to send it to review by the end of this week. After discussion with @rjmackay  yesterday we concluded that for this first version, I'll focus on being able to report to a single facebook-survey, consisting of Title, Des

[2017-05-24 17:55] aoduor commented on #1570
Refs https://app.intercom.io/a/apps/hl5rfiga/respond/inbox/unassigned/conversations/9910447949

[2017-05-24 17:56] aoduor commented on #1570
Feedback from intercom user on importance of custom pages

"Thank you but is there a way to get around this? I mean at least in Germany you can't publish a serious website without publishing at least some details about who you are."

[2017-05-24 18:10] jshorland commented on #1745
@willdoran @tuxpiper restarted our job queues I believe, but it looks like there's still issues? Not sure what's happening exactly, but emails aren't coming in to qa.ushahididev.com.

[2017-05-24 21:42] willdoran opened #1751 "Post list view delete animation"
### Expected behaviour
- While delete is taking place I expect to see a loading/working animation
### Actual behaviour
- No animation is shown until posts are reloaded
### Steps to reproduce the behaviour/error

[2017-05-24 22:04] #1751 closed

[2017-05-25 04:21] rjmackay commented on #1397
@jshorland I think these are all done now. I'm going to retest on staging now though

[2017-05-25 05:28] rjmackay commented on #1397
Ugh.

[2017-05-25 05:29] rjmackay commented on #1397
Found 2 new issues:
- [ ] Categories on the post create/edit view aren't filtered to the correct categories configured for that field
- [ ] Adding a new category while on post edit doesn't select that category for the survey field

[2017-05-25 08:57] rjmackay opened #1754 "API repos sometimes break if a readonly property is modified"
### Expected behaviour
If a readonly property is modified and sent back to the API, we should ignore it *or* throw a sensible error

### Actual behaviour
Often we try to assign it directly in SQL and hit an SQL error

### Background

In the API Update Usecases, it only sends the entity properties to the repo if they've changed. ie. it does something like
`$this->$repo->update($entity->getChanged()

[2017-05-25 12:17] Angamanga commented on #1397
@rjmackay Above is fixed through pr: https://github.com/ushahidi/platform-client/pull/654 But I found two other issues:
- [ ] When editing a category-field in a form, the wrong categories are displayed in the list.
It seems like wrong categories are returned from the api but I cannot find where that happens.
- [ ] When saving a form, there is an error-message since form.tags are not removed before

[2017-05-25 20:59] jshorland commented on #1397
@rjmackay @Angamanga 2 issues i see in qa.ushahididev.com:
1. I don't see ANY categories in the survey form itself. Only "add new category"
2. When I click add category and then the delete button to cancel out of it, the post tries to save. See gif.

http://d.pr/i/zkZ3c

[2017-05-25 21:05] Angamanga commented on #1397
@jshorland Nb 1 is fixed in  ushahidi/platform-client#654. Nb 2 is a new one I haven't seen before :( I can take a look at that tomorrow.

[2017-05-25 21:08] willdoran commented on #1397
Two small additional bugs:
- Delete all/multiple is not working on the Categories list view
- In the CSV importer the Categories field is automatically added to the inbound fields to be mapped, this should now be removed.

[2017-05-26 00:36] rjmackay commented on #1397
- If you delete a parent category, child categorys disappear and parent_id is not reset to null

[2017-05-26 02:22] rjmackay opened #1756 "Move options for tags attributes into a join table"
### Expected behaviour
form_attributes <--> tags relation should be done via a join table

### Actual behaviour
Relation is managed through a JSON options field on form_attributes

### Why?
Current set up means we have to maintain the relationship with code, rather than leveraging foreign keys

[2017-05-26 02:51] jshorland commented on #1397
Final round of QA. I hope.
I get this error when upload a CSV with a categories column and mapping that CSV column to my category field:
<img width="1133" alt="screen shot 2017-05-25 at 7 42 47 pm" src="https://cloud.githubusercontent.com/assets/3224856/26478665/92dd24dc-4182-11e7-88b0-3547dac43c18.png">

If possible, I'd still like to map a CSV column to my category field, and if there are catego

[2017-05-26 03:19] rjmackay opened #1757 "Auto create categories when upload a CSV file"
### Expected behaviour
If I upload a CSV file and map a column to a category field, there should be an option to auto create missing categories

### Actual behaviour
No option to auto create categories exists

Aha! Link: https://ushahiditeam.aha.io/features/PROD-602

[2017-05-26 05:13] rjmackay commented on #1397
^ PRs address the first 2.

I'm not 100% sure how to fix the styling issue on the dropdown. I could do a quick fix but it might break other things. I'd suggest we just log it as an issue for Seth to clean up later and get the release out

[2017-05-26 09:04] Angamanga opened #1759 "Styling in category-settings-list is off"
The styling of the list of categories in settings is a bit off. The trash bin for child-categories is a few pixels to far to the right.

[2017-05-26 09:35] Angamanga commented on #1397
Ok, I am going to test through the categories one, hopefully, last time, this is what I am going to test:
- [ ]  Create a category
- [ ] Edit a category
- [ ] Delete a category inside the edit-menu
- [ ] Delete a single category from the category-settings-list
- [ ] Bulk delete categories from the category-settings-list
- [ ] Delete a parent, child should be set as a upper-level category
- [ ] Add

[2017-05-26 10:00] Angamanga commented on #1397
This is what I have found:
- When deleting a category from inside the edit-page, the warning is: 'This action cannot be undone. Please proceed with caution.' It should be: 'Deleting this category will remove it from all existing posts. This action cannot be undone.'
- All categories are visible in the parent dropdown, which causes:
- A parent can be set to a child of itself.
- A parent can be set

[2017-05-26 13:37] jshorland commented on #1397
@angamanga -- @rjmackay purposefully took categories out of the filter modal

[2017-05-26 18:10] willdoran commented on #1397
@jshorland @Angamanga I have fixed the issues I could reproduce, I am awaiting a review for the two PRs from Anna then I can merge them

[2017-05-26 19:30] tuxpiper opened #1761 "Provide message integration with textit.in"
## Receive message

Using webhook flow event: https://textit.in/webhooks/webhook/#flow

This sends a POST request to an endpoint , with application/x-www-form-urlencoded content type. Example contents:

FORM/POST PARAMETERS

[code]

## Send message

Use message broadcast API : https://textit.in/api/v2/broadcasts

[2017-05-27 02:09] caharding commented on #1702
All good. After catching up yesterday it is clear that this is just the 1st iteration and we will deal with the more complex issues of survey mapping (required fields etc.) in the next iteration.

[2017-05-29 04:37] rjmackay commented on #1397
I've retest - @jshorland if you have a sensible test CSV you can run, that'd be more helpful then my CSV testing.

[2017-05-29 04:42] rjmackay commented on #1397
- [ ] When filtering posts, if I deselect a parent category, it doesn't remove the children from filters too

[2017-05-29 07:17] BlackFerrari opened #1762 "please try to combine both sites"
### Expected behaviour

there is a site to post donations and people who need help
ill post the link below.
its better to combine urs and that site.

### Actual behaviour

its difficult to find who actually want help. sometimes same person have attention while some hidden

### Steps to reproduce the behaviour/error

combine the sites and try to build one place instead two. its difficult to manage

[2017-05-29 07:18] BlackFerrari commented on #1762
http://reliefsupports.org  link for the mentioned site

[2017-05-29 07:51] Angamanga commented on #1397
@jshorland @rjmackay @willdoran I'll take a look at filtering posts now.

[2017-05-29 16:47] willdoran commented on #1397
- [ ]  Create a category
- [ ] Edit a category
- [ ] Children/parent-relationships:
  - [ ] A parent cannot be a child
  - [ ] A child cannot be a parent
  - [ ] Dropdown-box with parents should not be visible for parents
- [ ] Delete a category inside the edit-page
- [ ] Delete a single category from the category-settings-list
- [ ] Bulk delete categories from the category-settings-list
- [ ] Del

[2017-05-29 17:19] jshorland commented on #1397
Ready. here goes. don't hate me.

1. "create a category": I started by trying to create a category "on the fly" from within a new survey on survey editor: see my new survey and all its categories here http://qa.ushahididev.com/posts/create/28. Problem is, I see mismatched categories between the survey post, categories management page within settings, and the filters on the context modal (no catego

[2017-05-29 17:25] jshorland commented on #1397
3. Parent child relationships: a little bit of weird behavior with this. I can select a child to be included in a category field on survey without the parent being added. Is that right?
<img width="1425" alt="screen shot 2017-05-29 at 6 24 38 pm" src="https://cloud.githubusercontent.com/assets/3224856/26557829/2d78b5f8-449c-11e7-938c-d30506d28aa9.png">

[2017-05-29 19:58] tuxpiper commented on #1761
Putting this on hold since we may not get to use it in Uchaguzi

[2017-05-29 23:08] rjmackay commented on #1397
I don't think that should be possible. Let me fix.

[2017-05-29 23:11] rjmackay commented on #1397
I can't reproduce this at all. They all stay in sync perfectly for me?

[2017-05-29 23:46] willdoran commented on #1397
@jshorland I believe 1 is a bug in the caching of tags by the web server nginx, not sure how to address that - adding in @rjmackay - he suggested that while an update should clear the cache it might not be clearing the cache for related objects like tags.

For the second you are right about the behaviour that is occurring but I don't know if it is correct. If you choose a child category on the cat

[2017-05-30 02:31] rjmackay commented on #1397
I was thinking about client side caching in local storage. But I'll test what I can.

[2017-05-30 02:37] rjmackay commented on #1397
@jshorland still can't reproduct 1. - unless you want to demo it to me, I think we can just move on

[2017-05-30 03:38] rjmackay commented on #1372
Looking at the kohana code. I think it might be possible to extract just the Kohana Validation libs into their own library while we transition, and removing the Kohana dependencies from the database lib should be fairly simple too.

[2017-05-30 09:29] jshorland commented on #1397
yeah, 1 isn't happening for me anymore. Must have been caching issues.

TINY TINY TINY issue. When I "uncheck" child categories in the context modal, they continue to have checkmarks beside them (but they do filter correctly).
![screen capture on 2017-05-30 at 09-58-42](https://cloud.githubusercontent.com/assets/3224856/26575902/f2148806-451e-11e7-9a74-81f66e6027a6.gif)

"Having created categories

[2017-05-30 17:52] willdoran commented on #1397
@jshorland

For 1. Is a bug in Pattern Library, I'll ask Seth to take a look at it.

For 2. I think this is actually correct behaviour and my checklist is wrong - good attention to detail!

For 3. I'm seeing "Ultimate Test" as having a category field
<img width="1140" alt="screen shot 2017-05-30 at 1 51 43 pm" src="https://cloud.githubusercontent.com/assets/2694405/26597185/274ad122-453f-11e7-8227

[2017-05-30 18:02] jshorland commented on #1397
Lolol whoops on 3. All good!

[2017-05-30 20:03] tuxpiper commented on #1745
Tested again, it works. Btw, I added "@gmail.com" to the usernames in the email dataprovider configuration.

[2017-05-30 20:03] #1745 closed

[2017-05-31 13:49] ClearLakeHABMap commented on #1762
Have you tried to using a deployment of the Ushahidi.com website? Your need base may require a paid version of the website, but you could migrate your data into one that accepts data import. Surveyor is the most basic plan that allows this. You may have success installing this deployment and formatting your data in a CSV to import into Ushahidi. You can also link any new entry on your website to a

[2017-05-31 13:53] jshorland opened #1763 "Categories are still named "labels" in some instances"
- edit category screen: "who can see this label" and "this label is a child to..." select box
<img width="1420" alt="screen shot 2017-05-31 at 2 50 26 pm" src="https://cloud.githubusercontent.com/assets/3224856/26635089/8ae4293c-4610-11e7-90e6-5f5cd4e85294.png">
- category field edit/add screen on survey build "Which labels should be available"
<img width="1346" alt="screen shot 2017-05-31 at 12 1

[2017-05-31 17:03] jshorland opened #1767 "English isn't listed on language picker"
1. English isn't listed? it's so weird, because it used to be there... You can hit refresh after changing a language and get it back to english, but this is p0 and we should fix ASAP

try to change language back to english on https://mobileappqa.ushahidi.io/views/map

[2017-05-31 17:05] jshorland opened #1768 "language picker is really far down -- hard to find"
usability issue here -- p2 in my opinion.

A bit of design tweaking on location of the language picker would be ideal. It's really hard to find right now if you have several surveys, or a long deployment description.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-601

[2017-05-31 18:38] Angamanga commented on #1767
@tuxpiper @willdoran @rjmackay How/where are the language-files imported in the deployments? Do we import the files from transifex in some way? I get the following error-message when accessing above deployment, and also on qa:
![screen shot 2017-05-31 at 20 31 22](https://cloud.githubusercontent.com/assets/8624777/26647676/59531006-4640-11e7-8103-10d9f548621f.png) English was definitely there befo

[2017-05-31 18:47] willdoran commented on #1767
@Angamanga yep the files are loaded from transifex but I'm not sure in the case of English, that error may be related I'll take a look now.

[2017-05-31 19:37] rjmackay commented on #1767
I think we *shouldn't* be pulling english from Transifex because its the source language.
We might need to push it into the language manually.

There's also some madness around having both `en` and `en-US` ... we should really only support one English variant for now

[2017-05-31 19:37] rjmackay commented on #1767
I'll grab this since its morning my time

[2017-06-01 00:23] rjmackay opened #1769 "Private category can have non-private children"
### Expected behaviour
When a parent category is limited to only be seen by certain roles, the same thing should happen to its children.

### Actual behaviour
When a parent category is limited to only be seen by certain roles, this has no effect on children

### Steps to reproduce the behaviour/error

[2017-06-01 02:27] rjmackay commented on #1767
Tested on staging, and now deployed to production

[2017-06-01 02:27] #1767 closed

[2017-06-01 08:00] rjmackay commented on #1372
@willdoran here's where this is at:

- I'm working on splitting Kohana's Validation lib into a standalone (https://github.com/ushahidi/kohana-validation)...
- Next things are
   - Move dataproviders into namespaces ie. src/App/DataProviders. I suggesting *just* moving the code and namespacing it. *Don't* refactor, we will do that, but first we want to drop kohana. The fastest way to do that is to

[2017-06-01 11:20] tuxpiper opened #1770 "Ability to scroll over / expand small post detail bubbles on the map"
### Expected behaviour

When the title/description of a field is long-ish , the user would like to have means for scrolling or expanding (in place) the small bubble that appears when the marker is clicked.

### Actual behaviour

<img width="1544" alt="screen shot 2017-06-01 at 13 11 55" src="https://cloud.githubusercontent.com/assets/467393/26677462/6bb8dc9e-46cc-11e7-86bf-39e6cadff324.png">

The

[2017-06-01 11:37] tuxpiper opened #1771 "Deleted title / description fields from survey still appear on the form"
### Expected behaviour

Once these fields are deleted from the survey, they shouldn't appear on the survey form.

If the title / description fields are compulsory (because their presence is assumed in other parts of the code), it should not be possible to delete them.

### Actual behaviour

When either title or description are deleted from the survey, they still appear in the form.

### Steps to r

[2017-06-01 16:59] tuxpiper opened #3623 "$parse:lexerr: Lexer Error: Unexpected next character at columns 0-0 [...] in expression [...]."
Seeing several $parse:lexerr:Lexer errors that seem to bear relation with the translations

For instance:

https://sentry.io/ushahidi/platform-client/issues/284771649/

[code]

Aha! Link: https://ushahiditeam.aha.io/features/PROD-600

[2017-06-01 21:26] caharding opened #1772 "Privacy Notice to Users"
We are updating our privacy policy to enable new features on our mobile app and RollCall. For every user who logs into Ushahidi after June 30th (subject to change),

User Stories
- [x] User will be presented with a pop-up dialogue that disables all other features and says:"We have updated our [Terms and Conditions](https://www.ushahidi.com/terms-of-service) and [Privacy Policy](https://www.ushahid

[2017-06-02 18:56] willdoran commented on #1772
@caharding @jshorland
Questions:
1. This is per user right? Not per deployment

Tech spec:
1. Extend user object to include Terms & Conditions boolean
2. Allow this boolean to be set via our ansible playbooks - for future events where we want to change T&C
3. Add Terms & Conditions module to Client with UX - this can extend the first time login system
4. Add Terms & Conditions endpoint to retrieve

[2017-06-02 20:37] caharding commented on #1772
Per user. 

Charles Harding

Product Director

207-720-0713

On Fri, Jun 02, 2017 at 11:56 AM will

<
mailto:will <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

https://github.com/caharding https://github.com/jshorland
Questions:

This is per user right? Not per deployment

Tech spec:

Extend user object to include Terms & Conditions boolean

Allow th

[2017-06-02 20:51] willdoran opened #1773 "Mobile App Configuration For Deployment's API Location"
### Expected behaviour
- Variables are consistently and clearly named for config.json
- Suggested naming:
  - multisite_api_domain
  - api_url <- not sure about this perhaps we should
- Need more clarity of differentiation between domain/url expectations of mobile.

### Actual behaviour
- There is no clarity in terms of the purpose for each backend pointer var. Currently, there are two:
  - backen

[2017-06-05 19:50] rjmackay commented on #1772
What happens if they don't accept?

[2017-06-05 19:51] rjmackay commented on #1772
@willdoran an addition on the tech side: make sure this never shows up for OSS users.

[2017-06-05 20:32] caharding commented on #1772
If they don't accept they can't continue to their profile.

On Mon, Jun 05, 2017 at 12:51 PM Robbie Mackay

<
mailto:Robbie Mackay <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

https://github.com/willdoran
an addition on the tech side: make sure this never shows up for OSS users.

—

You are receiving this because you were mentioned.

Reply to this e

[2017-06-05 20:36] willdoran commented on #1772
@rjmackay @caharding Does this cover it?

Tech spec:
[ ] Extend user object to include Terms & Conditions boolean
[ ] Allow this boolean to be set via our ansible playbooks - for future events where we want to change T&C
[ ] Add Terms & Conditions module to Client with UX - this can extend the first time login system
[ ] Add Terms & Conditions endpoint to retrieve link to relevant terms and condit

[2017-06-06 00:18] caharding commented on #1772
Looks right to me

On Mon, Jun 05, 2017 at 1:36 PM will

<
mailto:will <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

https://github.com/rjmackay https://github.com/caharding
Does this cover it?

Tech spec:

[ ] Extend user object to include Terms & Conditions boolean

[ ] Allow this boolean to be set via our ansible playbooks - for future events wher

[2017-06-06 08:40] #1615 closed

[2017-06-06 08:40] tuxpiper commented on #1615
Closing since this refers to already deprecated automation code

[2017-06-06 08:41] #1622 closed

[2017-06-06 08:41] tuxpiper commented on #1622
Closing since this refers to already deprecated automation code

[2017-06-06 08:48] tuxpiper opened #1774 "Add deployment configuration parameter to limit maximum zoom"
### Expected behaviour
The administrators should have  an option to limit the maximum zoom level available in the site's maps displays. This option would be present in the site's general settings.

This is handy in situations when locations of the posts is PII that should be obfuscated.

### Actual behaviour
No limits exist currently

Aha! Link: https://ushahiditeam.aha.io/features/PROD-598

[2017-06-06 11:34] ClearLakeHABMap commented on #1773
Does this affect the ability to link to systems like SMSSync, the Ushahidi App, and other contributing sites?

[2017-06-06 11:38] ClearLakeHABMap commented on #1772
I think you both bring up use cases. Some organizations will not be able to manage, hold, or retain personal information without disclosure. There may need to be a setting in the admin settings -> data/users or a new settings tab to toggle between remove past data from users that do not accept, remove PID from users that do not accept, or freeze account access from users that do not accept. The po

[2017-06-06 14:59] tuxpiper opened #1775 "Obfuscating of map coordinates"
Related to ushahidi/platform#1774

### Expected behaviour
When location is regarded as PII in a deployment, map coordinates for the post should be obfuscated when provided from the API, so that no one can retrieve the exact locations.

This may be a randomisation within or an assignation to the centroid of a reasonably big geoblock (e.g. in function of the maximum allowed zoom level setting as spe

[2017-06-07 01:02] caharding opened #1776 "Test Messenger Lite"
Test Messenger Lite on EU play store. If we can’t find it, FB will send an APK

[2017-06-07 01:02] caharding opened #1777 "Post after timeout"
After a 5m timeout a post is automatically submitted

[2017-06-07 01:03] caharding opened #1778 "Restart report"
user should have an option to restart report in the persistent menu

[2017-06-07 01:04] caharding opened #1779 "Update FB bot language"
For get started we should add more information “The Uchaguzi bot let’s you report on what you’re seeing in the Kenyan election. Uchaguzi is a collection of _____ that ______.  Click on “report a problem” to answer 4 quick questions to file your report.

[2017-06-07 01:05] caharding opened #1780 "Allow submissions with only a photo"
A user should be able to submit just a photo