[2018-06-19 14:46] jrtricafort commented on #3087
However, because of the Training blockage, #3086 and #3805 should still take priority (order) over this.

[2018-06-19 15:17] dukedanny commented on #3085
I've checked Africa's Talking. From the log, it appears the message was billed once, however the text went out multiple times. Its an error on their end. I'll share in the DREAMS channel the outcome of their investigation. This issue can be closed on platform.

<img width="1068" alt="investigation" src="https://user-images.githubusercontent.com/437728/41606646-d643ad34-73ec-11e8-851c-45300e57d40e.

[2018-06-19 15:36] rowasc opened #3088 "Migrate legacy regression scripts outline to testpad"
Problem: our current regression on testpad does not include the full scope of a regression, so we need to iterate/improve upon it.

### TODO
Using:
https://docs.google.com/spreadsheets/d/1jkXjNiIepHQG2vEVwfG1EHp9pNPiHCryi0qxsHUgAWA/edit#gid=1760039862

- [x] Migrate each section that are still relevant to platfrom
- [x] Add details to each specific sections(ie if it says "Add people " , add the de

[2018-06-19 15:39] Erioldoesdesign commented on #3078
![screen shot 2018-06-19 at 16 36 41](https://user-images.githubusercontent.com/11681324/41607959-2cc50882-73df-11e8-9755-4946f0f3a12f.png)

In my live test deployment there's 'reports' at the top which should be changed at some point it seems :)

[2018-06-19 16:43] rowasc commented on #2644
Need decision on what to do about this ticket. Back to design

[2018-06-19 16:44] rowasc commented on #2766
Going back to design since it still needs testing.

[2018-06-19 17:07] Erioldoesdesign commented on #3083
@rowasc I'm syncing with Hazel on this tonight and @Shadrock has an action from our last HDX demo/meeting to do the task of 'Format your ideal CSV using some existing deployment data' and design team will take this (and Hazels version too) to put together recommendations and talking points around this.

So we'll be waiting on these 'ideal CSV's' for the more in-depth work around CSV optimisations

[2018-06-19 18:07] jrtricafort commented on #2875
@rowasc We actually may be able to descope this entirely. I'll include in our discussion w Shadrock.

[2018-06-19 18:11] jrtricafort commented on #2986
Agreed, added. to Cycle 6.

[2018-06-19 18:11] jrtricafort commented on #3067
Yep, added to Cycle 6

[2018-06-19 18:14] jrtricafort commented on #2625
@rowasc I'm going to add this to the pricing plans epic. Everything that is part of .com/plans should be addressed as part of the same scope and epic.

[2018-06-19 18:33] jrtricafort commented on #2625
@justinscherer Circling back on this issue-- I think I missed previous conversations. Where on dotcom were we proposing this "How to work with Ushahidi" FAQ to be added?

[2018-06-19 18:48] rowasc commented on #2753
@jrtricafort this should be out of cycle 5 , not sure where to send it. Do I just empty the milestone for it?

[2018-06-19 20:34] crcommons opened #3089 "Document, reflect upon, and fix tech debt, anti-patterns, best practices in JS Migration"
It's too difficult to know exactly how to do everything correctly the first time, so we'll need to address tech debt, anti-patterns, and poor practices before we move further into the JS migration beyond users.

We'll document areas to discuss, research, reflect upon here: https://docs.google.com/document/d/1qs6mpANKDwr9x7a89Ei9IXHq4ejIpKffqANCjq1cLLU/edit?usp=sharing

Then we'll discuss at the en

[2018-06-19 20:59] rowasc commented on #3086
@Eve-wanderi this is probably going to go as a hotfix in the morning, can you check my test checklist ? When it's deployed I'll ping you for a test run . :)

[2018-06-19 21:00] rowasc commented on #3085
@jrtricafort looks like we can close it then?

[2018-06-19 21:00] #3085 closed

[2018-06-19 21:00] aoduor commented on #3085
Thanks for handling this with speed everyone.

[2018-06-19 21:43] rowasc commented on #2787
@jrtricafort  Maybe cycle 7 would be a good place for this one?

[2018-06-19 21:45] rowasc commented on #2787
Mark pointed out that this ticket is closely related to https://app.zenhub.com/workspace/o/ushahidi/platform/issues/2890 , so if we move it to cycle 7 they should both go

[2018-06-20 02:47] jrtricafort commented on #3086
@rowasc Can we go ahead and push this as a hotfix so it can unblock the Uganda training?

[2018-06-20 02:55] jrtricafort commented on #3034
Awesome, thanks @Erioldoesdesign

@rowasc I'm going to add this to Cycle 6 as a 1-pointer as defined above.

[2018-06-20 03:23] jrtricafort opened #3090 "API Changes to Enable Custom Payment Plans"
To accommodate custom or nonstandard payment plans, we need to make changes to the API.
## Current behavior
- We map plans in chargebee directly to tiers in the cloud API and DB.
- Feature limits are defined in Tiers (with overrides for each deployment)
- We can easily create new plans in chargebee, but without a matching plan in the cloud DB they don't get any paid features enabled

## Possible s

[2018-06-20 03:28] jrtricafort commented on #2787
@rowasc Isn't this whole issue actually going to be resolved once Lumen is on Prod? If so, can we archive this?

[2018-06-20 03:40] rjmackay commented on #3090
I'll leave the detail of this till we have the overall payments spec. The basic issue back is this:

- We map plans in chargebee directly to tiers in the cloud API and DB.
- Feature limits are defined in Tiers (with overrides for each deployment)
- We can easily create new plans in chargebee, but without a matching plan in the cloud DB they don't get any paid features enabled

A couple of ways we

[2018-06-20 07:04] Nthiga opened #3091 "Expand Character limitations for the First Part of the targeted survey questions"
Current Behaviour: Character limitation at 160 characters. Partners have moved from just sending messages that need AGYW to sending useful notifications/PUSH messages.

Secondly even with the current setting of sending out one question at a time. The typical message to an AGYW needs to have an intro/greeting plus instructions on how to respond

e.g.
Dear Vusha Girl. Thank you for sharing about you

[2018-06-20 08:03] Angamanga opened #3092 "Platform-component-library version 0.1"
This epic holds the issues for what needs to be done for the first trial-version of platform-component-library and is the start of a gradual migration of the existing pattern-library to a new component-library. This epic should be done in cycle 6.

Version 0.1 focuses on:
1. Migrating styles and components for the UI-refresh of people-list from existing ui-refresh-branch in the pattern-library to

[2018-06-20 08:03] Erioldoesdesign commented on #2625
@jrtricafort Seems like to me we can incorporate some of the key useful language used in to the existing plan module. e.g.
Mapper/Surveyor with a line underneath the title that says "Great for Grassroots orgs that operate on a hoe string budget"
Responder could say: "Great for growing grassroots organisations or for those who've just landed funding!

etc etc.

Also the lower section of the page co

[2018-06-20 08:08] Angamanga opened #3093 "Decide on how to use the component-library in the client"
## TODO
Make and document decision on how the component-library should be used in the client.
Options:
1. Component-library in its own repo, publish through npm and import in client
2. Component-library in its own repo, import from github through npm and build in client
3. Component-library is integrated in the client in its own folder, all work is done in the client

[2018-06-20 08:12] Angamanga opened #3094 "Migrate styles from PL/ui-refresh-branch to Component-library"
## TODO:
Move already styled components (including layouts) that belongs to the PeopleList into the component-library.

Designs: https://xd.adobe.com/view/e8878276-4282-4a3c-59e9-3a9fa771fc90-9eb6/screen/2381c9ed-0371-4e4b-8afb-22bfb1ffb7c5/settings-people

[2018-06-20 08:14] Angamanga opened #3095 "Import fonts into component-library"
## TODO:
- Decide on where to get the fonts from? Downloading them ourselves or google-fonts? Current fonts we are using seem to be depreciated/old and google/other places use other naming for the Lato-fonts
- Import the fonts into the component-library and use them

[2018-06-20 08:17] Angamanga opened #3096 "Import svgs into component-library"
## TODO
Find a way of importing svgs and other images to the component-library

[2018-06-20 08:18] Angamanga opened #3097 "Add linters to component-library"
#TODO
Depending on decision in https://app.zenhub.com/workspace/o/ushahidi/platform/issues/3093, add or reuse the same linter and rules as for client.

[2018-06-20 10:49] Angamanga commented on #3093
@rowasc @jrtricafort @rjmackay I am not sure how this decision should be taken. Is it up to Robbie? Everyone? Me and @sethburtonhall ? There is pros and cons with all of the options, and its not a super-huge decision, but it should be taken. I advocate for option 3. Even though we mix our PL-work with the client-work it gives us the opportunity to:

1. QA new styles directly in the client, without

[2018-06-20 13:19] willdoran commented on #3091
@Nthiga @justinscherer @Erioldoesdesign

It may be difficult to change this for the following reason:

We are not certain how multipart messages will deliver, in theory they can enter as much text as they want, however, SMS are sent over networks via a protocol called UDP which does not guarantee the order in which the messages are sent so it is possible that the message split into 160 char sms wo

[2018-06-20 13:40] rowasc commented on #2787
no, this issue is unblocked by lumen , but doesn't get resolved by releasing lumen. Lumen gives us queues that we can use to do this work
@jrtricafort

[2018-06-20 13:48] rowasc commented on #2888
ok super cool, I'll pick this up during cycle6 :D

[2018-06-20 13:48] rowasc commented on #3086
Yep, just waiting for code review, then I'll retest and push to prod as hotfix

[2018-06-20 14:00] rowasc commented on #1624
This should be out of icebox if it's in a cycle. Where should it go?

[2018-06-20 14:01] rowasc commented on #1609
This should be out of icebox if it's in a cycle. Should it be in "ready for spec"?

[2018-06-20 14:03] rowasc commented on #3086
@willdoran I think this is a 1 (forgot to estimate yesterday :( ) . . Do you agree?

[2018-06-20 14:12] dalezak commented on #1624
@rjmackay @rowasc I believe the Vimeo `Personal access tokens` has the necessary scopes for the mobile app to be able to upload a video and then edit that video making it private so that other users can not see it.

![screenshot 2018-06-20 08 10 39_preview](https://user-images.githubusercontent.com/91811/41663793-7da9db92-7461-11e8-9b4f-1ab489a91346.png)

[2018-06-20 14:52] rowasc commented on #3086
Ready in ushahidi.io
 @Hazellaura

[2018-06-20 17:40] jrtricafort commented on #3086
@Hazellaura @aoduor Fix has been pushed. Can you let us know once you've confirmed this is working again?

[2018-06-20 19:02] rowasc commented on #3087
Since this seeems to be a problem with the url encode/decode , I'd say it's a 1.

[2018-06-20 19:44] kinstelli commented on #3087
Yeah, it smells like a urlencode/decode issue, which would be a 1.

[2018-06-20 19:47] aoduor commented on #3086
Working.

[2018-06-20 20:03] #3086 closed

[2018-06-20 20:03] rowasc commented on #3086
@Eve-wanderi can you add this to the test scripts for future regressions?

[2018-06-20 20:09] jrtricafort commented on #3057
Scoping in Cycle 6, but not developing.

[2018-06-20 20:20] jrtricafort commented on #3073
Next steps:

@willdoran to provide @Shadrock with current CSV format.

Then @Shadrock will let us know what, if anything, needs to be changed in the format for this to be acceptable.

[2018-06-20 21:30] rjmackay commented on #3093
I'm happy to take your recommendation and go with option 3. It's also what I had suggested in January, before things got more complex with the JS migration.

On decision making I think: This should be up to you and Seth as the people doing most of the pattern library work, with input from other devs (which you've already got). I think @willdoran or myself could theoretically veto it, but I don't s

[2018-06-20 22:03] willdoran commented on #3093
@Angamanga I concur with option 3 it sounds better, and slightly reduces unnecessary repo sprawl. If it gets very big to justify its own repo we can do that down the road, I think.

[2018-06-21 04:42] #3010 closed

[2018-06-21 06:20] Hazellaura commented on #3086
Thank you guys @rowasc @jrtricafort @willdoran

[2018-06-21 07:19] Angamanga commented on #3093
@rjmackay @willdoran @sethburtonhall I am happy to hear we all agree. Decision taken on option nb 3 and closing this issue for now. 🙌 🔨

[2018-06-21 07:19] #3093 closed

[2018-06-21 07:47] Angamanga commented on #3097
Using the same linters as in the client and it works fine. Closing.

[2018-06-21 07:47] #3097 closed

[2018-06-21 08:19] Angamanga opened #3099 "Fix error-label style"
The error-label in form-fields are misplaced for dropdowns:
![Screen Shot 2018-06-21 at 10.17.17.png](https://images.zenhubusercontent.com/5a6f2bce4b5806bc2bc4b158/2ebf33d5-a2c4-4f20-b5c2-1ef52c25694b)

![Screen Shot 2018-06-21 at 10.22.17.png](https://images.zenhubusercontent.com/5a6f2bce4b5806bc2bc4b158/3a2a0571-fbb2-4cc8-b918-99b2faca5ef8)

Html used:
[code]

[2018-06-21 12:58] Erioldoesdesign opened #3100 "ISOOKO - Workshop framework outline"
Off the back of the ISOOKO Hague meeting. Design is to start working on the workshop framework/outline.

WIP framework here: https://docs.google.com/document/d/11Xgp_5Y1oNez9KjIr86wwVQ--4fwUkw-kuh4SB5pPmc/edit?usp=sharing

[2018-06-21 12:59] Erioldoesdesign commented on #3078
Just finishing this with a final call on copy then:

Copy that sits above the checkbox lists, under the title 'Permissions' should be italic text and read:

'These options control what this type of role can make changes to. Visit our support guides to find out more.'

with 'Visit our support guides to find out more.' being a link to: https://www.ushahidi.com/support/custom-roles#add-a-role

[2018-06-21 13:31] jrtricafort commented on #3028
@rowasc @willdoran  I think we should descope this. Agree?

[2018-06-21 13:38] jrtricafort commented on #2988
@Erioldoesdesign Moving to Ready for Design

[2018-06-21 13:39] jrtricafort commented on #2968
@rowasc Can we move to Ready for Spec or is the scope not clear enough?

[2018-06-21 13:40] jrtricafort commented on #3026
@rowasc Can you and @Eve-wanderi discuss this? If it can't be reproduced, I suggest we descope this.

[2018-06-21 13:43] jrtricafort opened #3101 "BRCK Integration"
User Story:
As a user of BRCK, I can submit a post to an Ushahidi deployment.

Part of the ISOOKO Project.

Delivery Timeline: October 2018.

@Shadrock Please post any docs links here when you get a chance.

[2018-06-21 13:47] rowasc commented on #3028
YEP, we should
Deassigning

[2018-06-21 15:54] thirunjuguna commented on #3072
Some decription please

[2018-06-21 16:58] rowasc commented on #3026
@Eve-wanderi this needs to be re-tested in the https://comrades-hdx.ushahidi.com/  environment.

[2018-06-21 17:04] sethburtonhall commented on #2625
@Erioldoesdesign Yes, please send that to me once you have it and I will integrate into the CMS. I will also update on where (possibly even if?) it can be updated in the CMS moving forward.

[2018-06-21 17:52] jrtricafort commented on #2491
@willdoran Circling back on this. It's unblocked now that we have the name decided. Is this something we can close out early this cycle?

[2018-06-21 18:44] rowasc commented on #2491
@jrtricafort reviewing this now (Will was updating it since I requested some annoying changes)

[2018-06-21 18:58] crcommons commented on #3052
Closing in favor of logic existing in person/edit/create/list

[2018-06-21 18:58] #3052 closed

[2018-06-21 19:21] rowasc commented on #3060
@Erioldoesdesign @jrtricafort @crcommons since we are blocked on this ticket until design confirms how this should work, can we come up with an alternative so that users delete/bulk is not blocked ?
or @Erioldoesdesign do you think this will be decided soon?

[2018-06-21 19:23] Eve-wanderi commented on #3026
This issue still Persists
Steps:
1. Click on Settings
2. Click on export and Tag Data.

There is a message that pops-up on the screen for like 3 seconds so users cannot read what the message is.

[2018-06-21 19:29] rowasc commented on #3026
@Eve-wanderi this instructions are not enough to actually have anything happen, I just get to the export page if I follow those steps . Please add all the reproduction steps, or a gif/video if that's easier.

[2018-06-21 19:36] rowasc commented on #3063
@Erioldoesdesign am I correct that the edit role being an action triggered by the shift click? Can we have some designs for this (I know the actual shift click is probably hard/impossible in  the adobe previews you give us, but at least having the context buttons for the action would be great)

[2018-06-21 20:23] rowasc opened #3103 "Regular users (member) cannot create saved searches"
**Describe the bug**
Users with "member" role cannot create saved searches

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a deployment (ushahidi.io)
2. Login with a regular user (no admin)
3. Add a filter in the filter dropdown
4. You won't see a SAVE SEARCH button. (but should)

**Expected behavior**
1. Go to a deployment (ushahidi.io)
2. Login with a regular user (no admin)
3. Add a

[2018-06-21 20:33] rowasc opened #3104 "Regular users (member) cannot see their own filters as bug icons in the filters dropdown"
**Describe the bug**
Users with "member" role cannot create saved searches

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a deployment (ushahidi.io)
2. Login with a regular user (no admin)
3. Add a filter in the filter dropdown
4. You won't see a bug icon with the applied filters
<img width="544" alt="screen shot 2018-06-21 at 5 22 18 pm" src="https://user-images.githubusercontent.com

[2018-06-21 21:28] rowasc commented on #3080
@jrtricafort do you want to setup a call for this?

[2018-06-21 21:29] rowasc commented on #2601
@jrtricafort do you remember why this was flagged as "needs a new spec" ?

[2018-06-21 21:34] rowasc commented on #3018
I think this is ready for dev, no? @crcommons

[2018-06-21 21:35] rowasc commented on #3023
@crcommons do you think we need to spec this more?

[2018-06-21 21:35] rowasc commented on #3047
@crcommons can you review ?

[2018-06-21 21:54] jrtricafort commented on #2601
@rowasc That comment was to capturing something from a conversation I had with @willdoran , but I don't recall the specifics. Will do you remember? If not, I think we can probably ignore that for now, since we have prioritized this as P2 so not as high a priority.

[2018-06-21 21:56] jrtricafort commented on #3080
@rowasc No need. I think it's pretty well scoped, so let's not have it be a blocker for spec. It is P2, so let's make sure to get to the P1 issues and bugs first.

[2018-06-21 22:01] rowasc commented on #2491
@jrtricafort I just remembered that you can only see saved searches in the select box if they are featured, or if you are the owner. That was a feature introduced in October 2017 .
I need to edit this spec so that the checklist for testing is not confusing / incorrect .
The edit would be  that instead of `Create a saved search with "Everyone can see" view permission` we should say ` Create a featu

[2018-06-21 22:02] crcommons commented on #2657
@justinscherer @Erioldoesdesign Does the search run the query after each letter is typed or should we put a 1 (or 2, 3...) second delay on the query or should there be a button to search once you've finished typing?

[2018-06-21 22:08] crcommons commented on #2657
Also, is there a reason the apply and cancel buttons are different for filter and sort?

[2018-06-21 22:22] crcommons commented on #3023
@rowasc No, it just needs to be reviewed.

[2018-06-21 22:23] crcommons commented on #3018
@rowasc it needs to be reviewed and get an estimate

[2018-06-21 22:27] rowasc commented on #2953
@kinstelli @willdoran  should we wait until AWS migration is done to do this, or is it ok to do it while in Rackspace and then update it if needed?

[2018-06-21 22:35] rowasc commented on #3088
Moving this to "In Development" since Eve already started.

cc @Eve-wanderi

[2018-06-21 22:36] rowasc commented on #3076
@jrtricafort @rjmackay I think now that we reorganized testpad we can drop the priority to P1 and see what we want to do about it without feeling so rushed .

[2018-06-21 22:37] rowasc commented on #3078
Nice, I think this would be pretty helpful @Erioldoesdesign  .
@jrtricafort should I create a ticket for the UI to be changed or is there one already?

[2018-06-21 22:52] rowasc commented on #2973
@willdoran for generating a slug, I found that laravel uses Str::slug (str_slug in laravel) , which is this implementation https://github.com/laravel/framework/blob/5.5/src/Illuminate/Support/Str.php#L414 and seems to have multiple language support.

Anyway, wondering if you think that'd be enough for our slugs or if you had another library in mind.

------

[2018-06-21 22:57] rowasc commented on #2973
@willdoran also can we "pair" on this spec tomorrow? I have some concerns around validation with hdx and about specific implementation issues that we had when we originally did this

[2018-06-21 23:09] rowasc commented on #1624
seeing Dale's response.. should we close this ticket? @dalezak @rjmackay

[2018-06-21 23:10] #2759 closed

[2018-06-21 23:17] rowasc commented on #1612
@rjmackay this looks good to me, can we move it to the description of the ticket or is there a reason for having it separate  until (I assume) Will reviews it?

[2018-06-21 23:20] rowasc commented on #2968
This is no longer a valid ticket since we are reverting to the regular CSV permissions per our discussion (last month?) . This is covered in the tech debt ticket .

[2018-06-21 23:20] #2968 closed

[2018-06-21 23:35] rjmackay commented on #1624
My concern is that if the scopes allow listing private videos, and the access token isn't stored securely, then it doesn't matter if the videos are private: Someone with the token can still access them all.

[2018-06-21 23:36] rjmackay commented on #1612
Moved to description. Ready for review now

[2018-06-21 23:43] rowasc commented on #3047
@crcommons Mostly I'm trying to ensure that when you scroll past a certain amount of items/pages, the first set of items is no longer in the dom (and will have to be re-loaded) . I need to re-check the threshold where that happens again just in case, but the rationale is that you need to be able to g through pagination and NOT have everything still showing up in the dom and slowing things down.

r

[2018-06-21 23:44] rowasc commented on #3018
Right... my point was that I would approve it. Apologies for the confusing question.  I think since it's just the test, a 2 would be fair. What do you think?

[2018-06-21 23:44] rowasc commented on #3023
@crcommons I think this ticket is the one we paired on. Can we finish review+estimate in the morning>?

[2018-06-21 23:46] rowasc commented on #3080
@jrtricafort In that case, and seeing we have >100 issues, I'd probably move it to cycle 7.
My question about the call was because we agreed to sync on it, since I don't really understand the bug here. The export tab does not have filters.

[2018-06-21 23:47] rowasc commented on #2601
Thanks @jrtricafort.  I'd prefer to move this to cycle 7 if it's really a P2 for us , since cycle 6 is pretty full at the moment and we're even behind on specs :/

[2018-06-21 23:50] rowasc commented on #1015
@crcommons I'm kind of confused by this. Is it in the qa backlog + in the migration epic because we fixed it for the migration so we want to track it as part of what we fixed?

or put in another way: is this a ticket Eve can test now, or is it only implemented in the migration?

[2018-06-22 02:29] crcommons commented on #1015
@rowasc I have NO idea why I was moving this card around. I didn't even work on it nor do I remember ever seeing it. Apparently I blacked out and decided to play around in Zenhub? But seriously, I'm sorry. I really don't know why I did anything with this issue. I have zero recollection of any of this.

[2018-06-22 02:31] crcommons commented on #1015
Wait, it's vaguely coming back to me now. I think because we're going to address this issue in the new users components, I added it to JS Migration epic. But I don't really know when or why I moved it through to QA backlog.

[2018-06-22 02:43] Alengai commented on #3080
Hi Romina,

I realize I may have used a technical term in the wrong context as I was
reporting this issue. This could have been due to the fact that there are
two ways in which the platform allows you to export data i.e through the
sort and filter option (we are currently applying this workaround) or
through the settings option where the platform allows you to select the
fields from the survey you

[2018-06-22 03:40] dalezak commented on #1624
Sadly Vimeo's API is pretty limited 😞

I tried to create another Access Token for testing using only `public`, `upload` and `edit` however received the error `Invalid scope combination`.

So it looks like you need to include `public` and `private` to allow other scopes like `upload` and `edit` to be enabled.

Here's description of what each scope does https://developer.vimeo.com/api/authentication

[2018-06-22 06:55] Angamanga commented on #2789
@Erioldoesdesign @justinscherer Link for QA is here:
- http://preview.ushahidi.com/platform-pattern-library/ui-refresh/assets/html/1_atoms/#pl-pattern-buttons
- http://preview.ushahidi.com/platform-pattern-library/ui-refresh/assets/html/2_molecules/#pl-pattern-buttons

[2018-06-22 06:57] Angamanga commented on #2662
@Erioldoesdesign @justinscherer Link to QA: http://preview.ushahidi.com/platform-pattern-library/ui-refresh/assets/html/4_templates/#pl-pattern-modal

[2018-06-22 06:57] Angamanga commented on #2648
@Erioldoesdesign @justinscherer Link to QA:  http://preview.ushahidi.com/platform-pattern-library/ui-refresh/assets/html/4_templates/#pl-pattern-mode-bar

[2018-06-22 06:58] Angamanga commented on #2639
@sethburtonhall Not sure what to link for QA here? Maybe just click around in the different layout-g pages?

[2018-06-22 07:00] Angamanga commented on #2640
@Erioldoesdesign @justinscherer Link to QA:
- http://preview.ushahidi.com/platform-pattern-library/ui-refresh/assets/html/1_atoms/#pl-pattern-forms
- http://preview.ushahidi.com/platform-pattern-library/ui-refresh/assets/html/2_molecules/#pl-pattern-forms
- http://preview.ushahidi.com/platform-pattern-library/ui-refresh/assets/html/3_organisms/#pl-pattern-forms

[2018-06-22 07:02] Angamanga commented on #2700
@Erioldoesdesign @justinscherer Link to QA:
- http://preview.ushahidi.com/platform-pattern-library/ui-refresh/assets/html/2_molecules/#pattern-sample-19

[2018-06-22 07:04] Angamanga commented on #2665
@Erioldoesdesign @justinscherer Link to QA:
- http://preview.ushahidi.com/platform-pattern-library/ui-refresh/assets/html/3_organisms/#pattern-sample-24

[2018-06-22 07:04] Angamanga commented on #2655
@Erioldoesdesign @justinscherer Link to QA:
- http://preview.ushahidi.com/platform-pattern-library/ui-refresh/assets/html/3_organisms/#pl-pattern-forms

[2018-06-22 07:06] Angamanga commented on #2669
@Erioldoesdesign @justinscherer Link to QA:
Links to settings and settings-sub-pages made so far:
http://preview.ushahidi.com/platform-pattern-library/ui-refresh/assets/html/5_layouts/#pl-pattern-layout-g

[2018-06-22 07:07] Angamanga commented on #2642
@Erioldoesdesign @justinscherer Link to QA:
- http://preview.ushahidi.com/platform-pattern-library/ui-refresh/assets/html/1_atoms/#pl-pattern-progress

[2018-06-22 07:09] Angamanga commented on #2788
@Erioldoesdesign @justinscherer Link to QA:
- http://preview.ushahidi.com/platform-pattern-library/ui-refresh/assets/html/5_layouts/settings-surveys.html
- http://preview.ushahidi.com/platform-pattern-library/ui-refresh/assets/html/5_layouts/settings-surveys-view.html
- http://preview.ushahidi.com/platform-pattern-library/ui-refresh/assets/html/5_layouts/settings-surveys-edit.html

[2018-06-22 07:13] Angamanga commented on #2657
@Erioldoesdesign @justinscherer Link to QA:
http://preview.ushahidi.com/platform-pattern-library/ui-refresh/assets/html/3_organisms/#pl-pattern-filters (something appears to have happened to the input-box so you might want to wait to qa this)

[2018-06-22 10:51] sethburtonhall commented on #2625
@rowasc I would vote yes, because it will be a quick revision.

[2018-06-22 11:58] sethburtonhall commented on #2639
@Angamanga This was a general revision that populated across the app. The code lives [here](https://github.com/ushahidi/platform-pattern-library/blob/ui-refresh/assets/sass/_settings.scss#L95-L104) which can be tested throughout the PL.

[2018-06-22 12:00] Erioldoesdesign commented on #2657
Testing in Chrome Version 67.0.3396.87

FE QA notes:

- In the 'zero state' (default search state) the search magnifying glass icon is currently #1E232A in the PL code and in the design files it is #777777 (a dark grey. This is our lightest accessible grey on a white background)
The magnifying glass should change to #1E232A for the 'focus' or 'open' state.

- The copy on the buttons/links is all c

[2018-06-22 12:27] Erioldoesdesign commented on #3083
Here are the designs I showed on the call:

Currently we smush lat & lon together into a combined attribute:

![Data export - HDX single survey – Lat-Lon Geo - combined.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/98239eec-7b47-4caa-b2ca-bb2f4c85a8bb)

My proposal would be that lat and lon are always display like this for a location field that has the #geo HXL tag assigned to

[2018-06-22 13:06] willdoran commented on #2953
@rowasc @kinstelli I think we should wait for AWS since it will be slightly different.

[2018-06-22 13:15] willdoran commented on #3080
@rowasc @jrtricafort I think we should fix this issue as it may be a blocker for partners? I think there is enough information to investigate it and determine how difficult it is to fix

[2018-06-22 13:28] Erioldoesdesign commented on #2662
Testing in Chrome Version 67.0.3396.87

FE QA notes:

- In the designs the modal shadow details are as follows:
Shadow colour: #000000
50% transparency/opacity
Y=2
Blur=4

My CSS fiddle here:
![Screen Shot 2018-06-22 at 14.28.03.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/8b8e65e6-8d37-4eb4-93ab-b45679eaeb5e)

[2018-06-22 13:39] rowasc commented on #2953
ok cool. @jrtricafort we should move this out to do in cycle 7 (closer to aws deploy) then.

[2018-06-22 13:57] sethburtonhall commented on #2657
This is great @Erioldoesdesign!! Thank you. There are so many states with this component and it helps to have a QA. As you noticed, I made some "executive" decisions that I meant to communicate (default buttons instead of "gray" and "purple" left and right buttons for better consistency, one long column of checkboxes for better scaling). Your notes are very thorough and clear. I will comb through

[2018-06-22 14:04] Eve-wanderi commented on #2005
Find attached video.

[Video_6_22_2018_17_00_05_wmv.zip](https://github.com/ushahidi/platform/files/2127919/Video_6_22_2018_17_00_05_wmv.zip)

[2018-06-22 14:04] Erioldoesdesign commented on #2789
Testing in Chrome Version 67.0.3396.87

FE QA notes:

- Looks like our 'Gamma' button's clicked colour state on a white background should actually be grey #777777 (it's currently in the PL as a darker shade of blue #1c1284 which also isn't in our colour palette)
![Screen Shot 2018-06-22 at 14.59.18.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/e5226465-7c60-47a5-a276-479133ee7

[2018-06-22 14:22] crcommons commented on #3018
Agreed on a 2. Will add estimate and move to ready for dev

[2018-06-22 14:34] Erioldoesdesign commented on #2639
Testing in Chrome Version 67.0.3396.87

FE QA notes:

- Across the whole PL there are still instances of 'uppercase' or 'allcaps' we need to change these to a sentence case format (capitalised first letter of a sentence/ sequence of words)

- Noticed the $bold: is at 800 and not 900. I'm pretty sure these are both the same though.

- Not sure where to check for the letter spacing and line height

[2018-06-22 14:36] rowasc commented on #3083
@Erioldoesdesign this is really nice and not overly complex, I think. Thankk you! I'll update the spec

[2018-06-22 14:38] rowasc commented on #2625
@jrtricafort adding this for Seth since he already noted that there's not enough work for him this cycle in a previous conversation.

[2018-06-22 14:40] rowasc commented on #1015
HA. That's alright. If you think we will spec this out, maybe move it to "ready for spec" ? If not we should close and open one that is related to js migration

[2018-06-22 14:52] Erioldoesdesign commented on #2648
Testing in Chrome Version 67.0.3396.87

FE QA notes:

- I noticed that the nav text ('Map' 'Data' etc...) seemed a little too low compared to the centre/mid-point of the icon it's related to:

![Screen Shot 2018-06-22 at 15.48.12.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/dbcaeb87-aa33-4522-b1b4-4ac0bba78848)

I made a small edit to the 'top' element to get this:

![Screen

[2018-06-22 15:06] Erioldoesdesign commented on #3060
@rowasc Of all the Plat UI tickets this is the only one I don't feel comfortable making a decision on without @justinscherer around...only because at the end of the Hit Team he said he knew how he wanted to change/amend this.

I'e had a quick look through files for a newest version and can't find one in the dropbox. This will have to wait till Monday I'm afraid :(

[2018-06-22 15:18] crcommons commented on #3064
TBD on review and estimate until design decides on shift+click

[2018-06-22 15:30] crcommons commented on #3005
@justinscherer @Erioldoesdesign Let's make a final decision on all of this as soon as possible (Monday, perhaps?). This is going to be a blocker for editing and creating a person.

[2018-06-22 15:47] Eve-wanderi commented on #3026
Please find attached video.

[Video_6_22_2018_17_00_05_wmv.zip](https://github.com/ushahidi/platform/files/2128251/Video_6_22_2018_17_00_05_wmv.zip)

[2018-06-22 16:52] jrtricafort commented on #3076
@rowasc Done

[2018-06-22 16:53] jrtricafort commented on #2601
@rowasc Done

[2018-06-22 16:58] jrtricafort commented on #3078
Thanks @Erioldoesdesign ! Great catch on reports vs. posts. I'll make another ticket for us to remove any UX reference to "reports" and make sure it is replaced consistently with "posts". Small change but super important since it's the "primary object" in the platform.

@rowasc I figured it could jsut be included in this issue, but if we need another issue then feel free to create one.

[2018-06-22 17:01] crcommons commented on #3056
@Erioldoesdesign @justinscherer
- Should the cancel button be enabled on page load and if you click it, it would take you back to the people list? Or does it stay disabled until you make a change
- if you make an edit, and then click cancel, should it automatically revert the edits or should it have a confirmation modal saying that you will lose your changes?
- It seems like an anit-pattern to me

[2018-06-22 17:02] jrtricafort opened #3105 "Replace "reports" with "posts""
### Requirements
There should be no instances of the word "reports." Instead all instances should refer to "posts"

### Acceptance criteria
- Navigate to data view
- [ ] see that the list refers to "posts"

**Describe the enhancement**
When we moved to v3, we renamed the primary object in the platform from "Reports" to "Posts". However, throughout the platform there are still some cases where we c

[2018-06-22 17:04] jrtricafort commented on #3078
@Erioldoesdesign @rowasc Added here: https://github.com/ushahidi/platform/issues/3105

[2018-06-22 17:07] crcommons opened #3106 "Update Password for a user (person)"
## Overview
Add a separately functioning form in the people edit view that allows a user to update a password of another user.

## Requirements/User interface behaviors
- [ ] Create a separate form for updating the users password within the edit people view
- [ ] the password section should display 8 * to represent the password as a placeholder
- [ ] there are two password fields (enter and confir

[2018-06-22 17:08] crcommons opened #3107 "Delete a user in user/edit"
## Overview
Create a component within the edit person view that allows you to delete that person

## Requirements/User interface behaviors
- [ ] create a separate component for deleting a user
- [ ] has a delete button that displays a confirmation modal
  - [ ] the confirmation modal should have a delete button that deletes the user and a cancel button that takes you back to the edit page
  - [ ]

[2018-06-22 17:09] jrtricafort commented on #2953
@rowasc Sounds good.

[2018-06-22 17:21] jrtricafort commented on #3080
@willdoran @rowasc @Alengai Good catch. That was my mistake. I was confusing Filters (in datamode) with Field Selection (in export). Since the bug is in Export->Field Selection, the original "workaround" I mentioned is actually not a workaround.

Upgrading to P1 due to lack of workaround and the fact we hit it in production with partners.

[2018-06-22 17:40] rowasc commented on #3107
@crcommons this looks ok. Do we need a loading component while deleting?
I'd estimate this at ~2

[2018-06-22 17:41] rowasc commented on #3106
@crcommons can you add validation rules? as in , the two passwords should match, and whatever our password rules are, if any

[2018-06-22 17:52] crcommons commented on #3107
@rowasc I actually think this should be a 3+. I'm not sure how we're going to do redirect after deleting the user and then removing the user from the list in simple way.

[2018-06-22 17:54] rowasc commented on #3107
Alright super fair then. Would 3 be OK or do you feel strongly that this is a 5?

[2018-06-22 18:00] crcommons commented on #3106
Add the point about the passwords. Agreed on a 2.

[2018-06-22 18:02] crcommons commented on #3107
I feel like it's a 5 because it's complex and I don't know how we're going to do it.

[2018-06-22 18:17] rowasc commented on #3026
@jrtricafort I think this could be a P1-P2. It's not an error that's happening, its a screen that is shown when it shouldn't. Updated title and description to match what's happening. It should be pretty easy to solve but at least it's not an error.

@Eve-wanderi thanks for the video.

[2018-06-22 18:44] rowasc commented on #2985
@Erioldoesdesign do you think we need a design for this? or should we just move the field in the client directly?

[2018-06-22 19:13] rowasc commented on #2985
@willdoran I think the requirements are ok, I only added "Show validation errors" to them. BUT, I tried to add test scripts and realized that we might need Eriol to take a look, since the API Key field is "hidden" under a link and we need to check how this should work in the client. After that I can add test scripts

@Erioldoesdesign after thinking about this, I'd appreciate it if you can provide

[2018-06-22 19:16] rowasc commented on #2986
@willdoran we should add that the server will validate the API Key against HDX  (so far I figured out that if I do a /user_show for a user and it returns the API key + all data, it means it is the same user) and return an error if they don't match

[2018-06-22 19:22] rowasc commented on #3060
@Erioldoesdesign that's alright. Monday/Tuesday would be great  . If it's not possible just let us know :)

[2018-06-22 19:54] rowasc commented on #3107
oh. OK That's way higher than I expected, but I'll agree because I just don't have a (super) strong opinion. lets go with 5

[2018-06-22 19:54] rowasc commented on #3106
APPROVED then

[2018-06-22 19:55] rowasc commented on #3107
APPROVED with 5, btw

[2018-06-22 20:16] rowasc opened #3108 "HDX Datasets should be created and validated when the user requests an export job"
## Overview
This needs to be done to allow the user to fix validation errors at the metadata screen.

## Requirements
- When the request to create new export job metadata is made, platform-api will send a request to HDX to create the dataset.
    - If there are validation errors, we will respond with the errors and the client will display them in the UI
-  A loading state will be shown in the meta

[2018-06-22 20:21] rowasc commented on #2973
@willdoran I separated the HDX / metadata screen side off things from the dataset slug generation/fix that we need to do apart from that.
Can you review? I think this is a pretty simple fix, 1 or 2 points. Not sure if you agree

[2018-06-22 20:25] rowasc commented on #3108
@willdoran I realized we don't need new set of UI changes. We can do the HDX request when the user submits right at the point where we create the hxl_metadata entry for the job and give feedback there.
https://xd.adobe.com/view/2690f082-d88d-4788-5db7-b04c9474a404-50a1/screen/1c15cc61-5a2e-4dbe-8018-a7bd2b559d40/Data-export-CSV-landing-page-HDX-single-survey-20/?fullscreen

[2018-06-22 20:44] rowasc commented on #3016
This is already included in https://github.com/ushahidi/platform/issues/3108 and https://github.com/ushahidi/platform/issues/2973 . Closing

[2018-06-22 20:44] #3016 closed

[2018-06-22 20:45] rowasc opened #3109 "A user should be able to choose if they want to update or create a dataset in HDX"
## Overview
Right now if a user selects a dataset title that already exists, we assume they want to update it.
We should provide the option to select an existing dataset to update or to create a new one with a new title.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-323

[2018-06-22 20:46] rowasc commented on #3109
@willdoran Added this so it doesn't get lost

@jrtricafort @Shadrock @Erioldoesdesign is this a priority ? We discussed adding this with Will today and it would make sense to me, but I don't know if it's something we want to do now or in another cycle

[2018-06-22 20:48] rowasc commented on #3108
@willdoran can you review?  I think this is probably an 8, since I need to change how we handle the metadata creation and HDX creation of datasets, and probably some light refactors of the "library" as well as adding new tests. It also includes small UI changes for showing validation from the server

[2018-06-22 21:02] rowasc commented on #3083
@willdoran can you review? This is a pretty simple change in the API and the UI uses pre-existing components so I think it should be a 3, but CSV is really annoying so maybe a 5 makes more sense.
What do you think?

[2018-06-22 21:21] willdoran commented on #3083
approved, it looks fine

[2018-06-22 21:23] willdoran commented on #3083
@rowasc this looks like a 5?

[2018-06-22 21:24] willdoran commented on #3108
@rowasc I think an 8 would make sense given the number of moving parts.

[2018-06-23 14:12] Erioldoesdesign commented on #2640
Testing in Chrome Version 67.0.3396.87

FE QA notes:

- Zero state form field border in PL is currently #1E232A and should be #777777

- Focus state of form field border is 1px in PL and should be 2px

- The error field style still includes a (x) red icon. It's not in designs but also, I anticipate some users trying to click this as it resembles our 'close' button style. Let's remove it all-togeth

[2018-06-23 14:31] Erioldoesdesign commented on #2655
Testing in Chrome Version 67.0.3396.87

FE QA notes:

The main thing I'm testing here is the spacing between titles, form fields and buttons. Everything looks good on the test link :)

It would be great to have a 'layout' of a set of survey fields to test this at a later date though!

[2018-06-23 14:31] #2655 closed

[2018-06-23 14:53] Erioldoesdesign commented on #2665
Testing in Chrome Version 67.0.3396.87

FE QA notes:

-  On the example 'list with selected' The purple bar for the selected item looks too low and should span the height of the 'cell' of the list information:

![Screen Shot 2018-06-23 at 15.38.09.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/72fba1bf-bcb0-4069-bded-5aedfed76b88)

![Screen Shot 2018-06-23 at 15.38.06.png](http

[2018-06-23 15:08] Erioldoesdesign commented on #2669
Testing in Chrome Version 67.0.3396.87

FE QA notes:

Looking at: http://preview.ushahidi.com/platform-pattern-library/ui-refresh/assets/html/5_layouts/settings.html

- The copy under the headings is #1E232A should be #777777 (think that'kk be covered in typography ticket)

- The h3's need more space above them for the top of the page/browser and/or the hr/line that is directly above them:

PL vie

[2018-06-23 15:40] Erioldoesdesign commented on #2642
Testing in Chrome Version 67.0.3396.87

FE QA notes:

- So I think in the animation, when the yellow bar reaches the centre of the grey bar it goes slightly faster and then fills the entire second (right-hand) half of the grey bar quicker than it did the first half here's a gif of what I see:

![loaders.gif](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/0fdd975d-68d5-4695-af9b-8573

[2018-06-23 15:52] Erioldoesdesign commented on #2788
Testing in Chrome Version 67.0.3396.87

FE QA notes:

http://preview.ushahidi.com/platform-pattern-library/ui-refresh/assets/html/5_layouts/settings-surveys.html

- Survey button has no space between it and the hr/line below:

![Screen Shot 2018-06-23 at 16.42.57.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/f83222b3-f208-4de5-8b13-b31bb4cdc396)

- Copy is #1E232A and should b

[2018-06-25 13:39] rowasc commented on #3087
@Eve-wanderi can you please verify this in the production environment (https://rominacsvsms.ushahidi.io/) ? Thanks

[2018-06-25 14:22] Erioldoesdesign commented on #2746
@Angamanga Does this require any design work? I'm not sure it does but worth checking!

[2018-06-25 14:34] justinscherer commented on #3060
I'm on it today.

[2018-06-25 14:34] Erioldoesdesign commented on #2657
@crcommons omg I didn't answer your questions...sorry!

I would go with after each letter is typed with a delay. It's a typical and expected user journey now for most users. Though, question: for users with slow connections, are we adding to the load time?

I picked up on the different filter/sort buttons in the design. I think that was just a design file error. We get UI 'blindness' sometimes and

[2018-06-25 14:56] Erioldoesdesign commented on #3106
@crcommons re. the error state on min 8 characters for changing a persons password. Yes, if they try to do anything that we don't accept as password character criteria then the fields should have error validation on them notifying them of our general constraints and also that the password 'did not save due to it not following or requirements'

Can we make sure that the field remembers the characte

[2018-06-25 14:57] Erioldoesdesign commented on #3106
Side note: Does the user that is having their password change get an email notification that it's been changed? How do individual users know that their info/password has been changed?

[2018-06-25 15:21] Erioldoesdesign commented on #3107
@crcommons re. error when deleting a person - Ah this is more tricky... so the user journey is:

Individual person (or multiple selected people) -> click a delete button -> Get a modal 'Are you sure?...' -> Click delete button in modal -> Error -> ???

So I would say that in both instances it should go back to the Individual person (or multiple selected people) state. We either need some kind of i

[2018-06-25 15:28] jrtricafort commented on #3109
@rowasc @Shadrock @Erioldoesdesign I don't believe that this should be included in the v1 scope. Let's discuss on slack HDX channel or in a sync if you disagree.

[2018-06-25 15:33] Erioldoesdesign commented on #3005
@crcommons I think this is the same conversation around whether we use some kind of inline error validation for this (a new style as far as where to position it within the hierarchy of the dependant page info) or we re-purpose the undo module in a red/error state (a 'new' adapted style).

I'm leaning towards purposing the undo style in an error red as it seems to appear at the top of the page/over

[2018-06-25 15:50] crcommons commented on #3005
@Erioldoesdesign That sounds good to me. @justinscherer Do you agree?

Also, do we need a success version of the modal in green as well? For example, when a user edits a person and the update is successful, how do we indicate success?

[2018-06-25 15:56] jrtricafort commented on #3077
@aoduor @StaicyG Flagging that this is ready for documentation. I will add some more specific language to the scope of the definition above. Recommending this as a candidate to consider for the Documentation Sprint next week.

[2018-06-25 15:59] rowasc commented on #3106
@Erioldoesdesign
"Can we make sure that the field remembers the characters that were inputted in this field? Will they display as dots?" => do you mean when they edit? I would say no, if that's the case.

"Side note: Does the user that is having their password change get an email notification that it's been changed? How do individual users know that their info/password has been changed?"
Not right

[2018-06-25 16:05] crcommons commented on #3106
@Erioldoesdesign Because it's a password field, it will always display as ******, so the user wouldn't be able to see what the wrote in the text field.

[2018-06-25 16:11] crcommons commented on #2657
@Erioldoesdesign If we have a delayed query, it would affect slow connections in that it would fire off requests to the API whenever a user paused while typing. So I would recommend a search button perhaps.

We definitely need some way to clear the filters and sort, and need to decide how to clear the search (depending on which search implementation we use).

[2018-06-25 16:14] crcommons commented on #1015
Well, we are definitely adding a second password field in the user/create component, but it'll be some time until we update the sign up component. Also, unclear on if we should implement as Angie suggested or what Jess suggested. Thoughts, @rowasc?

[2018-06-25 16:16] jrtricafort commented on #3106
@rowasc "Side note: Does the user that is having their password change get an email notification that it's been changed? How do individual users know that their info/password has been changed?"

Yes, they should. This is industry standard for user accounts on the internet these days, and we should conform to that standard. I actually think that's P1 to include here.

Agreed with @Erioldoesdesign t

[2018-06-25 16:19] rowasc commented on #3106
@jrtricafort can you add that as a P1? it's actually a backend change mostly. I can spec it afterwards.

[2018-06-25 16:23] jrtricafort opened #3110 "Send email to user any time their password is changed."
Anytime a user's password is changed, they should receive an email letting them know that this has occurred.

[2018-06-25 17:37] crcommons commented on #3005
@rowasc Can you provide some input on how to handle various errors (when we would want to let the user retry or not)?

[2018-06-25 18:01] rowasc commented on #3005
@rjmackay @crcommons my reaction is that 4xx errors should not have a retry option, while errors for potentially valid requests that the server fails to process (5xx) and maybe more specifically 503s/500/502 could potentially have a retry. In this case, it can be important to differentiate and let the client know of permanent vs temporary states, I suppose, but initially, we could assume some 5xx

[2018-06-25 18:09] rowasc commented on #1721
@willdoran @jrtricafort are we really doing this in this cycle? I don't think we have the bandwidth ... unless its a high priority item that falls in comrades/accounts / some other priority I'd say it shouldn't be cycle6 :/

[2018-06-25 18:38] rowasc commented on #1721
Ah sorry. I just realized it's tagged COMRADES automation. :(
@willdoran This looks pretty large. We might want to divide into multiple tickets by each of your points in the description?

[2018-06-25 18:39] rowasc commented on #1618
Does this need a more detailed spec or is it good to go?
@rjmackay @willdoran ?

[2018-06-25 18:42] rowasc opened #3111 "Fix int as string issue in hxl_tags endpoint"
## Overview
In the endpoint where we return all tags and attributes and the form_attributes, the hxl_attribute ids are being returned as a string (number, but represented as a string). They should be returned as numbers.

## TODO
- [ ]  Run array map to have INT values for form_attribute_ids.

## TEST SCRIPT
- [ ] Call the /hxl/tags endpoint in a deployment with hxl enabled
- [ ] You should receiv

[2018-06-25 18:42] rowasc opened #3112 "Fix int as string issue in hxl_tags endpoint"
## Overview
In the endpoint where we return all tags and attributes and the form_attributes, the hxl_attribute ids are being returned as a string (number, but represented as a string). They should be returned as numbers.

## TODO
- [ ]  Run array map to have INT values for form_attribute_ids.

## TEST SCRIPT
- [ ] Call the /hxl_tags endpoint
- [ ] You should receive a list of hxl_attribute ids rep

[2018-06-25 18:42] #3112 closed

[2018-06-25 18:46] rowasc commented on #3111
@willdoran this is a pretty silly mistake I made back in hdxv0. I think it should be a 1 pointer since we know the solution already. Thoughts?

[2018-06-25 19:05] rowasc opened #3113 "Cleanup SendHXLUsecase and HXLInterface to have useful logs"
## Overview
Right now SendHXLUsecase and HXLInterface have a lot of debug-like logs from when we released it. Remove them and keep only useful & clean log entries.

Based on the checklist of HDX tech debt from #2984 .

## Requirements
- Log::debug entries without params or useful information should not be in SendHXLUsecase

## Acceptance criteria
- If something goes wrong and I read the logs, It s

[2018-06-25 19:05] rowasc commented on #3113
@willdoran this is a cleanup task from v0. I think it's 1 point. Can you review? I'm not sure I can add more detail, it's just cleaning up logs from the release

[2018-06-25 19:09] rowasc commented on #2984
@willdoran ` Should fail gracefully if API key, maintainer or HDX url is not set for HDX.` I'm not entirely sure how to do this correctly, although it shouldn't happen now that we are moving the keys to the correct place with validation.
Maybe we should be saving export errors in the job table so that we can show it in the export history and the notification shows up with details when the client p

[2018-06-25 19:14] rowasc commented on #3087
Verified in production deployment. Closing

[2018-06-25 19:19] rowasc commented on #2491
@Eve-wanderi can you verify this ticket in https://rominacsvsms.ushahidi.io/views/map ? Keep in mind the two issues ( #3104 and #3103 ) are pre-existing issues so what we need to verify is that other than those two issues, the Manage Collections & Saved searches permissions works in prod as expected.

I did the initial testing of this and it worked for me (before the release), now we need to re-ch

[2018-06-25 19:20] rowasc commented on #1607
@willdoran what should we do about this ticket?  move to ready for dev to port to kohana?

[2018-06-25 19:53] justinscherer commented on #3060
Here's a quick prototype to unblock this:

https://xd.adobe.com/view/df0747b4-7640-404f-6d3c-6af8f7a9db9c-a936/

I'll explain things in comments on the ptype.

Design specs:

https://xd.adobe.com/spec/2110a313-afd9-4e50-6966-bf094ebfd5a8-5721/

[2018-06-25 20:02] rowasc commented on #3060
@Angamanga @sethburtonhall do you think you could implement this (the UI), this week? Anna, maybe its worth doing directly in the new components? Not sure

@justinscherer this looks pretty easy to use. Thankk you for the detailed protoype

[2018-06-25 20:16] sethburtonhall commented on #3060
@rowasc @Angamanga  most of this view has already been coded. I can code the rest tomorrow and I think it would be great to jump in and add this to the React CL.

[2018-06-25 21:13] rjmackay commented on #3106
The general rule with passwords is to allow absolutely any character you can (we should maybe check if emoji passwords break our system), and then set a fairly high minimum length. Ours is too short 😞 , but thats out of scope for the UI itself.

[2018-06-25 21:14] rjmackay commented on #1618
I think it's straight forward. Error messages shouldn't include paths, in this case I think its because we send the flysystem error back in the response. We can drop that.

[2018-06-25 21:30] rjmackay commented on #3005
Agreed. In general 4xx errors should provide enough feedback to give the user useful information ie. what fields failed validation, or if its a 403/401 that they need to log in, or don't have permissions.

That would make sense. A 500 is usually going to be a bug, or server failure. I think the only other status we use is 503  for maintenance or upgrades, so its quite possible retrying could fix t

[2018-06-25 22:43] rjmackay commented on #3082
@rowasc I've added an acceptance checklist.
Are you happy to approve this as is?
I'd suggest point score might be a 3 or 5 because of the complexity of backporting

[2018-06-25 22:53] rjmackay commented on #1596
I've added some spec details to implementation and acceptance criteria.
I believe Will already started work on this in Montreal. @willdoran what branch was your WIP one?

[2018-06-25 23:05] rjmackay commented on #1618
@rowasc added more to the spec. Is that sufficient?

[2018-06-25 23:07] rjmackay commented on #1610
@rowasc @willdoran I don't think this bears any further speccing.
Are we happy to approve this as-is?

[2018-06-25 23:11] rowasc commented on #2787
@jrtricafort setting this up in cycle7 so we don't lose track , lets discuss in planning

[2018-06-25 23:16] rjmackay commented on #1607
It still needs to land to develop. We should fix the conflicts and land it. Then close this issue. Backports are tracked in their own issue.

[2018-06-25 23:21] kinstelli commented on #1596
Where this says 'Check for any other sensitive fields used in the API.', is the intent to filter those fields with processorOptions, as well?

[2018-06-25 23:22] rowasc commented on #1610
I think so. Not much to spec here.
I'd say APPROVED with 2 as is

[2018-06-25 23:38] rowasc commented on #3082
@rjmackay looks good.
Small fix: " With Roles feature enabled set to falseWith Roles feat" => I think this should be " With Roles feature enabled set to false"

I'd also add that the user should be able to copy and paste the token to the screen where you have the option to paste the token and add your new password (right after the forgot password modal) . It's a bit obvious but since we had a bug

[2018-06-25 23:40] rowasc commented on #3005
Yea, I think that might be the safest way to do this without over complicating it.
"{error }, please try again.".. and just take them to the form with the data as they entered it.

[2018-06-25 23:42] rowasc commented on #3060
@sethburtonhall that's awesome. Thank you! Yea, having it in react cl would be great 🎉

[2018-06-25 23:49] rowasc commented on #3026
@jrtricafort can you review and prioritize? If this is something we could move to cycle 7, that'd be great. But if not, at least knowing the priority would help me organize my work

[2018-06-26 01:50] rjmackay commented on #1596
Yes. I just didn't want to try to make an exhaustive list since by the time I've done that I might as well write the code at the same time

[2018-06-26 02:14] rjmackay commented on #1607
I've rebased the existing PR. It just needs tests to run then it can land and go to QA

[2018-06-26 02:30] rjmackay commented on #1607
@Eve-wanderi I've added a test script. It's possible this might be too hard to test manually - ie. registration is too slow through the UI so you never hit the rate limit. If so let me know and I can try to test directly on the API

[2018-06-26 13:32] Erioldoesdesign commented on #3106
I'm always a little proud of myself when I catch a thing like the email/notification thing...go me!

@rowasc I totally agree with your and @rjmackay 's password criteria. Love it. Don't reject characters but have a min and max. Puuurrfect.

I totally get the whole 'still displaying as dots' thing. Even when changing it. I would love to discuss at a **much** further date about building in show/hide

[2018-06-26 13:34] rowasc commented on #3005
@Erioldoesdesign excellent, thanks. @crcommons I think this answers it then, we should move on without a retry, and just have visual feedback of what went wrong (I suppose it's enough with the error message + validation errors placed on fields if there's a validation issue)

[2018-06-26 13:43] Erioldoesdesign commented on #3110
LGTM

'Courtesy' sounds bit formal to me? but that's more because I'm used to brand tone of voices that are more conversational. I think @aoduor would be a good person to approve tone of voice for comms.

[2018-06-26 13:46] Erioldoesdesign commented on #3109
Agreed that this is not priority for HDX v1. Moving it to my '[HDX Future Features and Wish List](https://docs.google.com/document/d/1NCdqNi8t1eiiKR_RwQj2JzVkXV21uZ09LNyLtshUXqo/edit?usp=sharing)' WIP document to keep until we get further funding to develop this feature.

[2018-06-26 13:59] Erioldoesdesign commented on #3063
Resolved shift/click in https://app.zenhub.com/workspace/o/ushahidi/platform/issues/3060

[2018-06-26 14:01] Eve-wanderi commented on #1607
@rjmackay Yea its quite a challenge for me to Do all four Registrations for a new user in less than 1 minute. Since am doing this manually. Could you please assist testing this directly on the API.

[2018-06-26 14:05] Erioldoesdesign commented on #3056
Disabled till you make a change. Cancel 'clears' the form from my perspective. and to get back to the people list you would use a breadcrumb or the browser back button. There's a question here then, as to whether this button should be labelled 'Clear changes' or something like that rathe rather cancel. What do you think @justinscherer ?

I think a confirmation modal is good as the user has made ch

[2018-06-26 14:45] rowasc opened #3115 "Staging environment for master branch"
**Describe the bug**
We need a staging environment for the master branch (on kohana). This is required to be able to run regressions and test features before they go live if they are hotfixes

**Where was the bug observed**
http://staging.ushahididev.com/ is down

**To Reproduce**
Go to http://staging.ushahididev.com/

**Expected behavior**
http://staging.ushahididev.com/ should have the master br

[2018-06-26 14:46] rowasc commented on #3115
@jrtricafort @tuxpiper is this something we could fix in this cycle? Eve is writing regressions and it would be good for her to have a clean environment to test master

[2018-06-26 14:46] rowasc commented on #3115
cc @willdoran

[2018-06-26 15:31] sethburtonhall commented on #2789
@Erioldoesdesign I have made these changes and moved the issue back into QA pipeline.

[2018-06-26 15:33] crcommons commented on #3005
Got it. Issue is updated.

[2018-06-26 15:39] rowasc commented on #3064
APPROVED . 2 points estimate.

[2018-06-26 15:53] justinscherer commented on #2639
A note on `font-weight` after speaking with @Angamanga @sethburtonhall and @Erioldoesdesign

Our base weight will remain as regular(400)
We will change our H3 weight from `semibold` to `bold(700)'
Our link style will still be `black(900)`

This will let us use the Google Fonts hosted version of Lato and not force our users to download it from us.

[2018-06-26 15:58] justinscherer commented on #3005
Agree with @Erioldoesdesign use the modeless undo module with updated styling. and yes, in that case we'd need a success version, too. It functions as a form-level notification, whereas inline is a field-level notification (NB: not always an error)

Note: the error version will have a red "x" icon instead of a green checkmark icon.

[2018-06-26 16:01] justinscherer commented on #3107
Yeah, we use the modeless "undo" module with the error styling (red outline instead of green, red "x" icon instead of green checkmark), and stay on the view where the user first tried to delete the person (person details in this case, or the people list if they try to do it as a bulk action)

[2018-06-26 16:05] justinscherer commented on #3106
@jrtricafort is there an issue open for improving password management security?

[2018-06-26 16:11] justinscherer commented on #2657
great catch. Let's keep the link style for the CTAs in both sort and filter windows.

When the user submits a query and the results are listed, clicking on the text in the search bar will highlight all of the text. They can then delete it as they wish.

Nice catch. Lets say "We didn't find anything that matches your search." in 14px Lato regular in `#1e232a`

[2018-06-26 16:13] justinscherer commented on #2669
@Erioldoesdesign were there any design updates based on this QA?

[2018-06-26 16:14] justinscherer commented on #2665
I agree. Let's add 8px to the left of the bar between it and the nav.

[2018-06-26 16:17] justinscherer commented on #2700
Sorry, I'm a bit lost on this one. Why are there checkboxes inside a dropdown? Also: the vertical spacing here is way too tight. Should be 21px between each checkbox.

[2018-06-26 16:18] justinscherer commented on #2640
yep, let's cut it. A long-text input box is just a double-high input field in terms of styling.

[2018-06-26 16:21] justinscherer commented on #2640
disabled styles for everything are here:

Dropbox (Ushahidi)/Ushahidi Platform/Design/Spring 2018 UI refresh/input fields/"input fields exploration"

[2018-06-26 16:22] justinscherer commented on #2640
yeah, replace them with the normal ones.

[2018-06-26 16:31] Erioldoesdesign commented on #2700
@justinscherer because of the sort & filter search/menu/drop down I would suspect.

Agreed on the spacing though!...can't believe I overlooked that...

[2018-06-26 16:33] justinscherer commented on #3056
The reason it was designed to stay on the person details page instead of jumping to the people list is that you might want to change multiple things and save them between each task. Change name, change password, for example. Generally, I'm not in favour of confirming forms and stuff to navigate you to a new view unless it's a stepper-type situation. I agree that there should be a confirmation that

[2018-06-26 16:36] justinscherer commented on #2648
Nice catch @Erioldoesdesign . They should be vertically centre-aligned with a tappable background of 55px high for the main items and 34px for the secondary items.

[2018-06-26 16:37] sethburtonhall commented on #2639
@Erioldoesdesign

I have integrated this feedback and moved issue back to Design QA pipeline for final review.

[2018-06-26 16:37] justinscherer commented on #2625
where did we land on this?

[2018-06-26 16:39] sethburtonhall commented on #2625
I am waiting on @Erioldoesdesign per comment above.

[2018-06-26 16:44] justinscherer commented on #3091
My main concern on this is cost. If they are sending a targeted survey to 1000 people and they write 3 SMS worth of text, the cost of the message is 300% higher.

[2018-06-26 16:48] justinscherer commented on #2766
@rowasc should be able to lift the designs from here:

https://app.zenhub.com/workspace/o/ushahidi/platform/issues/3060

[2018-06-26 16:49] justinscherer commented on #2644
Decision is that we leave them as-is. probably can close this.

[2018-06-26 16:49] #2644 closed

[2018-06-26 16:50] justinscherer commented on #2491
Do we need any more input on this?

[2018-06-26 16:53] Erioldoesdesign commented on #3056
So these are the users that will take time to update the form in 'sections' and not all in one go. This makes sense, I can see use cases for someone starting an edit, wanting to check on the correct info for another field, saving and then coming back to continue the edits.

I would say let's go with your original process and user test it as I don't think either is a 'bad' experience and doesn't st

[2018-06-26 17:02] justinscherer commented on #2657
@sethburtonhall talked me out of this one. Let's use buttons. Sorry for the flip-flop

[2018-06-26 17:05] justinscherer commented on #2625
Quick note on this: @caharding  @katymoney27 @jrtricafort Are we not going to change the pricing plans and rename them soon? Might make sense to do the change then.

[2018-06-26 17:31] jrtricafort commented on #2491
@justinscherer We're good, thanks.

[2018-06-26 18:04] rowasc commented on #3060
"When a user has the option for bulk edits on a list (e.g. people), they should have the ability to select many items or one item in that list and be able to perform actions on those items. Shift + Click or"
 should be
"When a user has the option for bulk edits on a list (e.g. people), they should have the ability to select many items or one item in that list and be able to perform actions on thos

[2018-06-26 18:08] rjmackay commented on #1618
I'll bump it to a 2 just to account for checking the develop and master branches for the issue

[2018-06-26 18:23] rowasc commented on #3115
Ignore.

[2018-06-26 18:23] #3115 closed

[2018-06-26 18:59] sethburtonhall commented on #2657
@Erioldoesdesign I talked with @justinscherer and we are staying with the current button styles on filter/sort open, the version in the PL not the mock.

Moving back into Design QA pipeline for final approval.

[2018-06-26 19:01] crcommons commented on #2657
@justinscherer So if a user has selected a variety of sorts, filters, and a search, they'll have to go through and remove each one individually? There won't be a way to clear the search completely?

[2018-06-26 19:06] crcommons commented on #3060
@rowasc Fixed it...

I would say an 8 because the functionality is new and unknown plus the reusability. Happy to be convinced of a 5 though.

[2018-06-26 20:07] willdoran commented on #1596
@rjmackay This makes sense to me though I know what allowDuplicates means, just adding a note to the description

[2018-06-26 20:16] willdoran commented on #1721
@rowasc This is already fixed since the posts are loaded in chunks. I don't think this is still an issue.

[2018-06-26 20:16] willdoran commented on #1721
Can we close it?

[2018-06-26 20:17] willdoran commented on #3111
yep agree
approved

[2018-06-26 20:18] willdoran commented on #2984
@rowasc What are the errors that could be triggered? How useful is the information? If they make a mistake configuring their api or username we should warn them that that has happened or that that was the error returned I think.

[2018-06-26 20:20] willdoran commented on #3113
We don't have a good idea of what logs should look like but your description is good in a general sense.

I'd estimate this as a 2, @rowasc do you agree?

[2018-06-26 20:21] willdoran commented on #2913
@Angamanga I'd estimate this as a 2 does that make sense?

[2018-06-26 20:28] willdoran commented on #2973
yep looks good giving it a 2 for safety

[2018-06-26 20:31] sethburtonhall commented on #2640
@Erioldoesdesign I have integrated your feedback, moving back into Design QA for approval.

Keep me posted on the "non-boxed" adapt fields

[2018-06-26 20:34] willdoran commented on #2986
@rowasc Can you review please?

[2018-06-26 20:36] willdoran commented on #1624
@rjmackay If we're uploading to AWS, how much space do we have for this? Are we storing video or just using AWS as a proxy?

[2018-06-26 20:42] willdoran commented on #1609
@rjmackay can you review?

[2018-06-26 20:44] dalezak commented on #1624
If we upload to S3, there are probably _two_ options:

**One**, we only use S3 as an upload bucket and then have asynchronous web workers which handles posting that video to Vimeo and eventually updating the Ushahidi post with final Vimeo video URL.

**Two**, we upload to S3 and our backend API handles generating the WEBM, OGV and MP4 video formats (either using FFMPEG or pay for 3rd party service

[2018-06-26 20:47] dalezak commented on #1624
FYI, my previous startup was a video interview platform, I wrote all kinds of async workers for stitching and processing videos into all the necessary video web formats using FFMPEG. It was pretty complicated and memory intensive.

[2018-06-26 20:47] willdoran commented on #3080
@rowasc Can you review?

[2018-06-26 20:58] willdoran commented on #2111
@rowasc I think we had something like a fake user for export yeah?
Can you review this?

[2018-06-26 20:59] dalezak commented on #1624
If we go the short lived token route, we'll need our API to generate a token from Vimeo prior to the app uploading a video, and then remove the token once the video has been uploaded.

Note, these short lived tokens still runs the risk of providing the same level of access as the current token.

[2018-06-26 21:00] willdoran commented on #2746
@sethburtonhall  @Angamanga I'm stuck on the acceptance criteria section, how do we test this work?

[2018-06-26 21:01] willdoran commented on #1624
@rjmackay Would it be fair to say that this should include the introduction of some kind of limiter feature even if disabled to prevent infinite video upload?

[2018-06-26 21:02] sethburtonhall commented on #2648
@Erioldoesdesign I have integrated your feedback and moved issues back to Design QA pipeline. Thank you!!

[2018-06-26 21:03] justinscherer commented on #2657
Great point. The "Cancel" should be a "Clear all" and clicking outside the box or on the sort/filter boxes would do what "Cancel" does...i.e. closes the filter/sort pane without making any changes.

[2018-06-26 21:03] willdoran commented on #1624
@dalezak @rjmackay if we even transcode the video when before we upload to S3, we still need a player :( Those things are generally awful and have tons of proprietary crap around codecs.

[2018-06-26 21:04] justinscherer commented on #2700
Ah! That's funny. I never really thought of those as dropdowns. But I guess they do much the same thing.

[2018-06-26 21:06] rjmackay commented on #1624
This is the primary reason for looking at AWS. S3 provides much more limited tokens, so we can avoid that risk entirely. Given the transcoding issues, it might be more sensible to have AWS just a temporary store until videos go to vimeo.

[2018-06-26 21:08] rjmackay commented on #1624
@dalezak what does the mobile app do if the vimeo token is revoked or invalid? How does the failure show to the user?

^ This is a key question. Basically can we revoke the existing token and disable mobile video uploads while we solve this issue. Because otherwise we have an open security hole, and we need to release the audit report soon.

[2018-06-26 21:29] Erioldoesdesign commented on #2746
@willdoran (not sure this is helpful but) you should be able to use tab to get to the 'skip to content' as the second or third 'tab' the first should be content/title that orientates the non-sighted user as to what is on the whole site. In our case I would suggest it go:

1 - Deployment name
2 - Deployment description
3 - Skip to content (we need to define what we consider 'content' here I would s

[2018-06-26 21:36] willdoran commented on #2746
@Erioldoesdesign Thanks that's very helpful I'll include that as the acceptance criteria and request reviews from @justinscherer @Angamanga and yourself.

[2018-06-26 23:58] rjmackay commented on #2746
@Erioldoesdesign @Angamanga should the skip to content link be visible to all users? or similar to the github approach, only visible if you tab to it?

[2018-06-27 12:10] Angamanga commented on #2746
@willdoran @Erioldoesdesign @rjmackay When I first wrote this issue, I was thinking about screen-readers only and hiding the skip-to-content link to everybody else. But it actually makes sense to keep it visible for all users since tabbing around everywhere is annoying. But that said, since we don't manage tabbing in the "old" ui right now, I think it makes more sense just keeping it for the scree

[2018-06-27 12:23] willdoran commented on #2746
@Angamanga Sounds like a great approach, can you update the spec with corrections to what I made?

[2018-06-27 13:38] Erioldoesdesign commented on #2746
@rjmackay I don't think it's very useful in our case for all users. Visible only if tabbed would be great

[2018-06-27 14:32] rowasc commented on #2005
@Eve-wanderi can you verify if clustering is enabled in uchaguzi?

[2018-06-27 14:37] aoduor commented on #2005
Flagging that when posts don’t have location info assigned to them, they will not show up on map mode either, but counter may match when on data mode.

Could this be the reason why?

Angela Oduor Lungati,
Director of Community Engagement,
Ushahidi | www.ushahidi.com <http://www.ushahidi.com/>
Twitter: @AngieNicoleOD <https://twitter.com/AngieNicoleOD> | @Ushahidi <https://twitter.com/ushahidi>
Sky

[2018-06-27 14:41] rowasc commented on #3078
@crcommons can you review?

[2018-06-27 14:41] rowasc commented on #3078
I think this is a 1

[2018-06-27 14:42] rowasc commented on #2005
@aoduor ohhh. Maybe, nice catch . I can check it when we work on it . Thanks!

[2018-06-27 14:45] rowasc commented on #2005
@aoduor if that's the case, would we want to show the totals counting only the posts with location, or the "real" totals?

[2018-06-27 14:47] rowasc commented on #2111
@willdoran no , we use the saved user in the export_job table for exporting.

[2018-06-27 14:48] rowasc commented on #2111
@willdoran ohh, I think maybe I fixed that in the hdx/develop branches for lumen but not for kohana? I will check this one

[2018-06-27 14:48] rowasc commented on #2111
@jrtricafort what priority is this ticket? (asking because you mentioned we should reprioritize in cycle 6)

[2018-06-27 14:50] Eve-wanderi commented on #2005
@rowasc Did a test like 5mins ago Clustering does not show. Regardless if am logged in or logged out.

![image](https://user-images.githubusercontent.com/36038029/41981726-49f5d20c-7a32-11e8-8d03-3b863d056460.png)

[2018-06-27 14:55] aoduor commented on #2005
@rowasc i'm torn on this one. I'm leaning heavily to it but worry about how to make sure user is aware of this when they're on data view as well(overkill) ? I might also be overthinking it. So let's got with, yes. show "real" totals.

@Eve-wanderi i think someone's likely just turned off clustering on it? it's been enabled from day 1. Confirm via the general settings page perhaps?

[2018-06-27 14:58] rowasc commented on #3080
@willdoran I think the acceptance criteria is OK, but I'd add two more  to ensure the client sends the correct fields in all scenarios and the server works as expected.
#Acceptance criteria 2
- [ ] Go to the Settings->Data Export view
- [ ] Select a subset of fields for 1 survey (only 1 survey)
- [ ] Select "select all" for that survey
- [ ]  Ensure that all the fields for that survey are present

[2018-06-27 15:00] rowasc commented on #2986
@willdoran APPROVED.

[2018-06-27 15:02] rowasc commented on #3113
Alright. I thought maybe 1 but a 2 might just be OK if we think there'd be a lot of back and forth while doing it
Adding 2 as estimate and moving

[2018-06-27 15:05] jrtricafort commented on #2111
@rowasc P2

[2018-06-27 15:06] rowasc commented on #2984
@willdoran yea, for API and username I think we have it covered in the #2986  "move maintainer field" ticket since we are going to give feedback at the time they add it and submit. I'm not entirely sure what error states we can encounter (realistically) aside from HDX being down with metadata pre-created /validated and api key+maintainer also being pre-validated.

For HDX being down, we should ret

[2018-06-27 15:07] rowasc commented on #1721
Ah, ok that's great, I didn't know :D . Closing then

[2018-06-27 15:07] #1721 closed

[2018-06-27 15:08] rowasc commented on #1721
@eve-wanderi can you make sure this is covered in the regression tests script?

[2018-06-27 15:09] crcommons commented on #2733
Ugh, it's so close to being done. It's a 2+ because Google Analytics doesn't actually measure the last few metrics for us.

[2018-06-27 15:09] rowasc commented on #3060
alright, approving and moving it with 8. We can adjust next cycle if we feel we are overestimating consistently.

[2018-06-27 15:11] rowasc commented on #2766
Yep excellent @justinscherer .
  @sethburtonhall @Angamanga feel free to move to  "QA by design" if this is completed in the PL already , or close if there's another ticket that's being reviewed for it

[2018-06-27 15:23] willdoran commented on #3078
@rowasc I agree

[2018-06-27 16:09] crcommons commented on #3078
@rowasc Agreed.

[2018-06-27 19:43] jrtricafort opened #3116 "Program Whitespace Discovery"
Research and discovery for product opportunities in the Program (Implementation/Management/M&E) space.

[2018-06-28 04:54] jrtricafort commented on #2005
Hey @aoduor @rowasc @Eve-wanderi I'm jumping on this ticket a bit late and want to get a better understanding of it. A few questions and comments:

1) Is this issue impacting only the Uchaguzi deployment? Or also are we also seeing it in core production for all .io?

2) @Eve-wanderi Regarding clustering, that was me. I turned off clustering on Uchaguzi while giving an Uchaguzi demo yesterday. My a

[2018-06-28 06:52] aoduor commented on #2005
Cool.

[2018-06-28 12:21] Eve-wanderi commented on #2005
@aoduor thanks for the heads up @jrtricafort okay noted!

[2018-06-28 12:41] Erioldoesdesign commented on #2988
I've landed on the text for the snackbar to be "Something went wrong with your HDX upload. You can either try submitting the upload again or you can go back and export a tagged CSV file."

with two CTA's one should go 'back' to the page with the HDX account info where the user can re-submit to try again and the other CTA will take the user back to the 'finished' table with tags/attributes so the u

[2018-06-28 13:05] sethburtonhall commented on #2766
Moving to "Ready for Front-End". @rowasc when do you need this by?

Mocks:
https://xd.adobe.com/view/df0747b4-7640-404f-6d3c-6af8f7a9db9c-a936/

https://xd.adobe.com/spec/2110a313-afd9-4e50-6966-bf094ebfd5a8-5721/

[2018-06-28 16:03] Erioldoesdesign commented on #2985
Sup!
What the add details screen should look like with maintainer removed:

![hdx maintainer removed](https://user-images.githubusercontent.com/11681324/42044636-6cd48484-7af1-11e8-943c-b2ac80ff612e.png)

4 screen prototype with the new settings page (copy changes) config page with added 'username' field and an error state if someone tries to save without adding in these to pieces of info.

Both b

[2018-06-28 16:10] justinscherer commented on #2789
Double-checking this and moving back to FED:

for text inside buttons `letter-spacing: 1px;`should be `letter-spacing: 0.2px;`

`border-radius` on buttons should be `3px` not `5px`. 5px is a clicked state only.

all buttons change colour and become invisible after being clicked. e.g.

![Screen Shot 2018-06-28 at 10.05.37 AM.png](https://images.zenhubusercontent.com/5a661d504b5806bc2bc3c395/902afb6

[2018-06-28 16:11] justinscherer commented on #2639
Can I have a link to QA this @sethburtonhall ?

[2018-06-28 16:23] justinscherer commented on #2657
QA:

`border-radius` on checkboxes should only be `2px`

left and right padding between the text and the inside edges of all buttons should be `34px`

checkboxes should have `21px` of vertical spacing between them

border of open sort pane should be `#777777`, not `#1e232a`

checkboxes and buttons should all be `21px` spaced from the edges of the box

unclicked checkboxes have a 1px border of `#77

[2018-06-28 16:28] justinscherer commented on #2657
In the results list, the leading on the detail text for each row item should be `font-size + 6px` so in this case, `20px`

[2018-06-28 16:33] justinscherer commented on #2648
Made by Ushahidi type should have a 55px invisible, tappable background around it and be 21px away from the top and bottom of that box.

The nav items should also have invisible, tappable backgrounds that touch one another, `55px` high for the main nav items and `34px` high for the minor items

![Screen Shot 2018-06-28 at 10.32.08 AM.png](https://images.zenhubusercontent.com/5a661d504b5806bc2bc3c3

[2018-06-28 16:45] justinscherer commented on #2640
QA

zero state for input fields should have a border radius of `2px`.

focus-state for input fields should have `2px` border width and a `5px` border-radius

placeholder text should be `#777777`

unclicked checkbox should have a `1px` border of `#777777` with `2px` border-radius. Clicked checkbox shoul dhave a 2px border of #1e232a` and a `2px` border radius

sets of checkboxes should have a verti

[2018-06-28 16:47] justinscherer commented on #2657
Filters with lists of checkboxes/radios of more than 4 items should display them in two columns. ![Screen Shot 2018-06-28 at 10.47.00 AM.png](https://images.zenhubusercontent.com/5a661d504b5806bc2bc3c395/8768cc7f-cddc-41a2-b177-542a1f0c1f99)should

[2018-06-28 17:11] sethburtonhall commented on #2639
http://preview.ushahidi.com/platform-pattern-library/ui-refresh/

and

https://github.com/ushahidi/platform-pattern-library/blob/ui-refresh/assets/sass/_settings.scss#L95-L104

[2018-06-28 21:08] jrtricafort opened #3119 "Improve Formatting of CSV Exports ("CSV Exports v3")"
## Overview
[need to add more here]
One example of a "bug" that actually turned out to be a UX issue with CSV Export Formatting
https://github.com/ushahidi/account-management/issues/new/choose
There is also feedback from HDX experience to be added here.

## Who is it for? Who are the users?

## What privacy impacts does it have?
- Does it change the personal data we collect?
- Does it expose data

[2018-06-28 21:11] jrtricafort commented on #3116
@justinscherer I am moving this to a different repo. So I will close this one and create a new one. I will post the link here and will tag you on the new one.

[2018-06-28 21:11] #3116 closed

[2018-06-28 21:14] jrtricafort commented on #3116
@justinscherer Moved this issue to here: https://github.com/ushahidi/platform-cloud-interface/issues/310

[2018-06-29 03:29] rjmackay commented on #1612
It turns out there's a built in passport controller for this. It might not be registered yet because of some awkward lumen/passport interaction.

But we should look at AuthorizedAccessTokenController@destroy in case its usable - usually registered as `DELETE /token/{token_id}`

[2018-06-29 07:09] Hazellaura commented on #3119
Hello team, just seeing this messages now, time difference and all @jrtricafort seems similar to the issues that I was speaking about in the call. Let me download a more filtered CSV from one survey and see if the multiple duplicate columns remain the same and then log what i find in.

[2018-06-29 12:45] willdoran commented on #3013
@rowasc I think this is redundant because you can't set a tag until you select the row. What do you think?

[2018-06-29 14:40] rowasc commented on #1617
@willdoran is this in the right column?

[2018-06-29 14:40] rowasc commented on #1606
@willdoran is this in the right column?

[2018-06-29 14:43] rowasc commented on #3013
@willdoran Yea... I think this is still relevant, but only if we stop forcing people to click the checkbox before.
@Erioldoesdesign the intended design was that if you selected a tag, the checkbox would be selected automatically, right?

[2018-06-29 14:57] willdoran commented on #1606
Yeah I think this is done

[2018-06-29 14:57] willdoran commented on #1617
Yeah

[2018-06-29 15:00] Erioldoesdesign commented on #3013
@rowasc Yep that's right :)

There was almost a 50/50 split with user testers that went for the checkbox first and users who when for the dropdown first. Be good to allow for both 'flows'

[2018-06-29 15:20] sethburtonhall commented on #2700
Thanks @Erioldoesdesign

The icon display issue on local is a bug. I'm glad it works in the live environment.

[2018-06-29 15:33] sethburtonhall commented on #2642
@Erioldoesdesign I agree and will definitely be adjusting the animation.

@justinscherer Did you have anything particular in mind?

[2018-06-29 16:50] jrtricafort commented on #3026
@rowasc P2

[2018-06-29 16:51] jrtricafort commented on #3026
@rowasc Not moving to Cycle 7 yet. If this doesn't happen in Cycle 6, we can consider moving to 7 or iceboxing.

@Eve-wanderi Really nice find, and thanks for the great report!

[2018-06-29 18:15] willdoran commented on #3073
@Hazellaura @Shadrock Here is the CSV to be reviewed
https://drive.google.com/open?id=1V3wjESA0hAW5GjobHE6FkeRlo_vzvSsC

[2018-06-29 18:44] jrtricafort commented on #3073
@willdoran uploaded the CSV of Uchaguzi data in the comment above^^

@Shadrock Can you let us know what changes, if any, need to be made to the format prior to providing this to COMRADES and closing out this issue?

@Hazellaura Can you let us know if you have feedback on the format? Feel free to comment on the document or here (but be careful not to share actual data on this issue). Depending on h

[2018-06-29 19:32] rowasc commented on #2985
@Erioldoesdesign looking good.

We might not be able to do validation against HDX  right now (in cycle 6, but we need to re-spec and validate with Juan) but we should at least tell the users that the values cannot be empty. The good thing is that the design allows for both scenarios without changes, even tho it'll really be two requests to save the settings , we can send them one after the other.

[2018-06-29 19:34] rowasc commented on #2985
@Erioldoesdesign I can't find the link to where the user would find the username/maintainer id. Am I missing something?

[2018-06-29 19:38] rowasc commented on #2985
@Erioldoesdesign sorry for the 3rd notification :( should we add a more complete explanation of where they would see the user name (top of the page, on the right side, after they login), or is it obvious enough? Not sure what you think

[2018-06-29 19:56] willdoran commented on #2985
@Erioldoesdesign Can you confirm that the view where the API key is displayed as text rather than in an input box, has been removed?

Is there a reason that username is ordered after api key?

At the moment it works like this:

Display on initial load when both values are set:
<img width="1680" alt="screen shot 2018-06-29 at 15 54 53" src="https://user-images.githubusercontent.com/2694405/42112130

[2018-06-29 20:11] willdoran commented on #2984
@rowasc Suggested spec:

### Overview
This encompasses multiple cleaning tasks for HDX

### Requirements
- [ ] Set IMPORT_EXPORT permission back to normal (same permissions as CSV export had before HDX)
  - [ ] ???
- [ ] Move the [isOppositeBool function](https://github.com/ushahidi/platform/blob/c544cb9f07708dc3c32466671806c002480a8e55/src/App/Validator/ExportJob/Update.php#L104) to the Validator

[2018-06-29 20:27] rowasc opened #3124 "Error handling for HDX Exports"
### Overview
Because of the async nature of CSV exports and HDX uploads in our system, we need a way to save and retrieve the last error of an export to show it to users, and a simple way to re-start a job if it fails for external reasons
### Requirements
- [ ] Ensure that the last HDX error for an export job is saved
- [ ]  If the error returned is related to HDX unavailability(for example 503) r

[2018-06-29 20:31] rowasc opened #3125 "Set IMPORT_EXPORT permission back to match CSV permissions from master"
## Overview
We need to stop using the IMPORT_EXPORT permission and use the same permissions for CSV and HDX exports.
## Requirements
- [ ] stop using IMPORT_EXPORT
- [ ] remove IMPORT_EXPORT permission (create migration to revert this)
- [ ] rename LEGACY_IMPORT permission to IMPORT permission (as it is in master)
- [ ] Permissions for HDX should match permissions for CSV

[2018-06-29 20:32] rowasc commented on #2984
edited ticket and created https://github.com/ushahidi/platform/issues/3125 and https://github.com/ushahidi/platform/issues/3124 as their own tickets.

[2018-06-29 21:20] sethburtonhall commented on #2657
Made all revisions except two column checkbox/radio. I am still working on this but I wanted to highlight @Erioldoesdesign's comment from above to make sure.

@justinscherer This may become a design problem if we have 1 parent category with more than 3 child categories and the 4th child category might align to the left column in the code structure.
For now, let's keep 1 long column vertical list t

[2018-06-29 21:27] jrtricafort opened #3126 "Improve password security - length and characters"
**Describe the solution you'd like**
- Increase minimum length of passwords.
- Make sure we are allowing all characters that should be valid.
- Verify we allow and can store unicode characters - if we can't store them, don't allow them
- Notify users that they'll need to change their password once this runs
[more?]

Aha! Link: https://ushahiditeam.aha.io/features/PROD-320

[2018-06-30 20:04] jrtricafort commented on #2625
Thanks for circling back on this @justinscherer

Question is for @katymoney27 : Do we still need this task to be completed, or will the upcoming Enterprise Page changes take care of this? (I'll ping you on this in Slack as well as requested)

@rowasc We can remove this from the current cycle until we hear back from Katy.

cc @sethburtonhall @Erioldoesdesign .

[2018-07-01 23:46] rjmackay commented on #3126
Added:
Verify we allow and can store unicode characters - if we can't store them, don't allow them

[2018-07-02 12:29] Erioldoesdesign commented on #2625
I actually did a doc incoporating some of the key elements on Katy's blog post:

https://docs.google.com/document/d/13CiZbbL_0WxEBeUSIUjo5sD5bQkBFFLOVPQj0PE8Xek/edit?usp=sharing

It includes
- A new section for Int dev, humanitarian uni's, research org  and foundations, funders.
- Blue links in the top sections that anchor link to the FAQ question that answers that question or gives more details
-

[2018-07-02 12:50] Hazellaura commented on #3073
@willdoran Please find my comments on the CSV file that you sent. let me know if you need me to clarify and of my points. Also, I have attached a CSV download from a specified survey (Gender Based Violence) from one of our DREAMS deployment. I made a comment in the CSV you forwarded and the DREAMS CSV will illustrate my point further @Shadrock @jrtricafort @rowasc , I hope this is useful.
[Hazel's

[2018-07-02 14:00] rowasc commented on #2753
Also, Will is off today, so it should be tomorrow or later in the week

[2018-07-02 14:10] Erioldoesdesign commented on #2985
@willdoran I don't quite understand this sentence: "Can you confirm that the view where the API key is displayed as text rather than in an input box, has been removed?"

Not really but actually would make more sense to guide the user to find the User ID and then the API key since the API key sits under the profile info.

Screenshots look good to me, when editing 1 if both have been set previously

[2018-07-02 14:16] rowasc commented on #3013
@Erioldoesdesign makes sense . Thank you!

[2018-07-02 14:16] rowasc commented on #1617
ah ok. @willdoran is it blocked by lumen (to deploy)?

[2018-07-02 14:17] rowasc commented on #1606
@willdoran are we waiting on lumen to deploy it?

[2018-07-02 14:39] Erioldoesdesign commented on #2985
Updated the prototype - Let me know i've I've missed anything :)

[2018-07-02 15:03] jrtricafort commented on #3080
@rowasc @willdoran It looks like we are already moving forward on fixing this as a P1, which is great. @irenewa recently provided an update that we expect several partners to be doing CSV exports between now and July 10th because of a project deadline. As such, I think we should bump this up to a P0, and that it should take priority over HDX work.

Sorry again for my earlier misunderstanding of th

[2018-07-02 17:01] jrtricafort commented on #3080
Assigning to @rowasc to assign.

[2018-07-02 23:29] rjmackay commented on #2806
@Eve-wanderi this should be ready to test on the v3-qa.ush.zone deployments

[2018-07-03 03:23] rjmackay commented on #1609
Approved

[2018-07-03 11:06] Erioldoesdesign commented on #2701
@crcommons @rowasc Is there any scope in this refresh to not have the 'overlaid' time picker/date picker?

I feel like if we can stop the date/time pickers from pushing users into a (sort of) modal then we can have a really quick usability/accessibility win and make this interaction a lot better for general users too!

[2018-07-03 13:34] willdoran commented on #2985
@Erioldoesdesign This seems good, other than the addition of the second save button this is how it was behaving, we can add that so that it's clear they can be saved separately. It's actually good because they are independent objects.

[2018-07-03 13:35] willdoran commented on #1606
@rowasc Yep it was merged into Lumen.

[2018-07-03 13:50] willdoran commented on #3073
@Hazellaura Sorry I should have said not to share data here as it's public, I've downloaded your docs though and I'll copy the comments here.

Thank you.

[2018-07-03 13:58] Hazellaura commented on #3073
I am so sorry Will.

On Tue, Jul 3, 2018 at 4:50 PM, will <notifications@github.com> wrote:

[2018-07-03 14:19] willdoran commented on #3073
### Columns:
#### Survey name
This is an important column. I think it was previously form name like Will mentioned.
#### Post ID
This is also an important column. It helps findings specific posts.
#### Sets
I usually never use the sets options. Not quite sure what sets mean. I would do away with it.
#### Description
The description field is really confusing to Users based on our DREAMS Partners fe

[2018-07-03 14:20] willdoran commented on #3073
@Hazellaura Don't worry at all, we should have been super clear about that it was our fault.

[2018-07-03 14:20] willdoran commented on #3073
### Comments
This was hugely useful for a number of reasons. I have dropped out some of the comments as they were either - this is very useful or this was not useful at all.

1. Most importantly there is a miscommunication between platform and the PEOs about the structure of the CSV. It's not totally clear to me why we have failed to explain this properly but we need to address it quickly.

If you

[2018-07-03 14:45] willdoran commented on #3080
@rowasc nope, go for it

[2018-07-03 16:18] rowasc commented on #3080
Cool, picking it up today then . :D

[2018-07-03 17:25] jrtricafort commented on #3080
Thanks yall!!

[2018-07-03 17:38] rowasc commented on #3057
Coordinating a call

[2018-07-03 17:40] rowasc opened #3128 "HDX Integration v1.1"

[2018-07-03 17:42] rowasc commented on #1681
@Erioldoesdesign hey. Have we progressed on this ticket? Do we know what's needed in desigN?

[2018-07-03 17:43] rowasc commented on #2984
@jrtricafort Not sure if this should be implemented now or in a future epic

[2018-07-03 17:47] rowasc commented on #2005
Assigned to @jrtricafort to ffollow up

[2018-07-03 17:54] jrtricafort commented on #2111
I'm checking on which DREAMS deployments, if any, are private.

[2018-07-03 18:28] rowasc commented on #3099
@sethburtonhall is this something you can check?

[2018-07-03 18:43] rowasc commented on #3076
This is working out fine for our current needs. Unassigning and setting up the consider tag.

[2018-07-03 18:50] rowasc commented on #2491
bumping.
@Eve-wanderi can you verify this ticket in https://rominacsvsms.ushahidi.io/views/map ? Keep in mind the two issues ( #3104 and #3103 ) are pre-existing issues so what we need to verify is that other than those two issues, the Manage Collections & Saved searches permissions works in prod as expected.

I did the initial testing of this and it worked for me (before the release), now we need

[2018-07-03 19:03] #1015 closed

[2018-07-03 19:03] #2826 closed

[2018-07-03 19:03] #2907 closed

[2018-07-03 19:03] #2959 closed

[2018-07-03 19:03] #2992 closed

[2018-07-03 19:03] #2993 closed

[2018-07-03 19:03] #2989 closed

[2018-07-03 19:14] rowasc commented on #1624
@jrtricafort to sync with Robbie on this

[2018-07-03 19:16] #2987 closed

[2018-07-03 19:20] willdoran commented on #1609
@rjmackay Yeah, that's annoying I had also thought it was a route. Do we need to add another step of changing or at least updating the behaviour to also work with a route? As in leave the check as is but also add an embed route.

[2018-07-03 19:40] Shadrock commented on #3073
### Executive Summary (detailed feedback below):
@jrtricafort @willdoran Here's my feedback. There are two major showstoppers before a CSV structed like this could be used by COMRADES.

- Each row contains multiple records (or appears to). I must have each row showing a single record (or ‘post’). I discuss this in more detail below.
- Several of the "status" variables (e.g. “Translation Status”) r

[2018-07-03 19:57] Shadrock commented on #3073
After reading @Hazellaura's comments (which are great...) I want to be clear that, for this Github issue, I do not want to redact columns just because they were not useful in the context of analyzing things for DREAMS. COMRADES is looking at the whole picture of data during the elections, which includes all the different fields created in the deployment, whether they were later found useful for no

[2018-07-03 20:05] willdoran commented on #3073
@Shadrock Thank you for the level of detail and the time you took to cover this. Combining both your and Hazel's comments I am concerned that the actual system itself is failing to communicate what it is able to do and what is actually it's output.

I'll review the comments now.

[2018-07-03 20:44] jrtricafort commented on #3073
Thanks @Shadrock and @Hazellaura .
@willdoran and I just connected on this. Next steps:

**Near Term **
Confirm scope of what we're doing to close out the COMRADES deliverable.
Shadrock, Will will send you an invite for this Friday for us to discuss and confirm.

**Medium Term**
Translate Hazel and Shadrock's feedback into both of the following:
(1) CSV feature changes
(2) Data model changes
(2) B

[2018-07-03 20:48] jrtricafort commented on #1624
@rjmackay I believe @dalezak answered your earlier question in the slack thread. Let's continue the conversation there.

[2018-07-03 21:46] crcommons commented on #2701
@Erioldoesdesign I think it should be fine to not have the overload date picker. However, isn't that screenshot from airbnb a modal of sorts?

[2018-07-04 14:28] aoduor opened #3129 "Report submission failure after limiting submissions to specific role"
**Describe the bug**
For background, this is an issue that was reported by an intercom user on this conversation below.

ref https://app.intercom.io/a/apps/hl5rfiga/inbox/inbox/252111/conversations/17310391010

User has a set of different roles defined on his deployment e.g admin, data clerk, member, etc.
User also has one survey on his deployment, and has limited submissions to the data clerk rol

[2018-07-04 14:58] Erioldoesdesign commented on #2701
@crcommons I was getting a bit mixed up with the time picker piece of work! I'd also like to figure out how to make calendar picker better too but it'll probably still be some kind of pop-over/modal but with some way of it being more tab/accessibility friendly!

[2018-07-04 14:59] rowasc commented on #3080
@willdoran I think this is a 3.
The issue itself is pretty simple (should filter by survey, not just limit the fields included in the export) but might require some wrangling around filters vs fields code because the code was "designed" with fields not acting as filters. Anyway, I see how this issue can be super confusing after trying it again today, sorry it took me a while to "get it"

[2018-07-04 16:51] willdoran commented on #2572
@Shadrock I believe these issue are fixed as I couldn't reproduce them on the newest setup of Comrades(the one that contains HDX).

[2018-07-04 16:52] Erioldoesdesign commented on #1681
@rowasc Errr not really I've been slammed with various other work. I hope to still analyse this before the end of the cycle on July 8th

[2018-07-04 17:04] rowasc commented on #2985
@willdoran this should move to code review right?

[2018-07-04 17:05] justinscherer commented on #3005
Are there any further actions on this for me @crcommons ?

[2018-07-04 17:07] willdoran commented on #2985
@rowasc yep done

[2018-07-04 17:13] justinscherer commented on #2657
@Erioldoesdesign
re:

For now, let's keep 1 long column vertical list to eliminate this potential visual dissonance.

You're right about this. However, I think the benefit of not having eternal 1 column lists outweighs the risk of losing the indent when there's a parent with a tonne of children. The many children use case feels like an edge case to me, but of course I have zero data or testing to

[2018-07-04 17:16] #2639 closed

[2018-07-04 17:18] justinscherer commented on #2642
fine with me

[2018-07-04 17:24] Shadrock opened #3131 "Wireframes and draft software specification for ISOOKO platform"
## Overview
The EU requires a document that outlines “Wireframes and draft software specification for platform” to be delivered **by August 15th**. Report is described on[ page 52 of the proposal](https://drive.google.com/open?id=1AG6PN77WdJ6_R6NHdoKouyNZyzPeQs7s). These types of reports are considered first drafts and can be somewhat nebulous, but need to present some documentation about what we

[2018-07-04 19:16] rowasc commented on #3080
@Eve-wanderi can you prioritize testing this issue and doing a run of testing for CSV in general in http://csvexportsforever.v3-qa.ush.zone/? I would send to send the hotfix when I wake up since it's a P0 , but I want to make sure you re-test it in http://csvexportsforever.v3-qa.ush.zone/ before we do it since it's a CSV issue.

[2018-07-04 19:20] rowasc opened #3132 "Port platform/3080 to lumen"
## Porting platform/3080 to lumen
https://github.com/ushahidi/platform/pull/3130#partial-pull-merging
## Overview

Export should correctly take account of fields/surveys selected only when exporting data

## Requirements
- Only selected fields and surveys should appear in exported data

## Acceptance criteria
- Go to the Settings->Data Export view
- Select a survey and a subset of fields to export

[2018-07-04 19:31] willdoran commented on #2985
@Erioldoesdesign How do they cancel the action to update?

[2018-07-04 21:09] Hazellaura commented on #3073
I agree with Shadrocks comments concerning the focus not being on solely on
DREAMS for this Github issue. Because DREAMS and Uchaguzi are the only
reference points on the use of CSV's that I have, I agree my comments tend
to lean on these specific deployments. Let me rephrase, when I say
something may not be useful, I mean use in the context of the user. When I
am analysing data to report findings

[2018-07-04 21:39] rowasc commented on #2806
Adding to our cycle board since we merged it.
Assigning to myself for testing

[2018-07-04 23:15] rjmackay commented on #1596
I just tested this on http://csvexportsforever.v3-qa.ush.zone and there's still some data leakage in the trace somewhere. I think the API side is fine, but client needs more checking :(

[2018-07-05 09:13] Erioldoesdesign commented on #2657
Definitely keen to not have an eternal single column. Perhaps there's something code-wise that can override the layout if this were to occur? Like a rule that always has child categories display in the same 'column' as the parent and then the next parent would carry on the 2-column format?

Sounds a bit complicated but not impossible to my rudimentary understanding of code!

[2018-07-05 09:15] Erioldoesdesign commented on #2985
@willdoran We may need to add in a cancel blue link that cancels the action to 'edit/change'

Does the input field 'clear' when you click 'change...'? or does the input field retain the previously inputted info? If that's the case the user can make no changes and then click save again.

Preference to having a 'Cancel change' next to the relevant 'Save'  button only viewable after having clicked a

[2018-07-05 12:32] willdoran commented on #2985
@Erioldoesdesign

For API key it clears for maintainer/user id it doesn't

Nope that's cool it's pretty simple.

[2018-07-05 12:36] willdoran opened #3134 "[Platform Client] Add cancel blue link to for chnage view of HDX Config Settings"
### Overview
Provide means for user to cancel change action

### Requirements
- [ ] Add blue link cancel button next to save button for HDX Config edit view
- [ ] Should only appear on change view

### Acceptance Criteria
- [ ] When no API Key or Maintainer is saved no blue link 'cancel' button appears next to the Save button
- [ ] When editing an existing Maintainer setting a blue link appears ne

[2018-07-05 13:34] justinscherer commented on #2657
Sounds good to me. Let's see what @sethburtonhall and/or @Angamanga says when they're back.

[2018-07-05 14:03] #2986 closed

[2018-07-06 00:09] rowasc commented on #1618
I just tested this in qazone and it worked. I also confirmed that I was able to reproduce the issue before the fix landed in that server.

[2018-07-06 00:23] Shadrock commented on #3067
@jrtricafort here's a bit of additional detail: we should probably hop on a call to follow up.
- Given they way things go, I would definitely expect this to balloon and take more time than we expect. If only for the simple reason that this likely requires us to _upload_ a dataset into a deployment. And based on what I'm seeing with .csv export... this is likely to be more complicated than we antic

[2018-07-06 04:19] rjmackay commented on #1610
I've added this to platform-cloud-ansible. It's only deployed to v3-qa right now. We can deploy to other environments by running
`ansible-playbook -i hosts/ENV cloud-interface.yml platform-client.yml --start-at-task="copy nginx config file"`

This PR adds the header to the example config files
https://github.com/ushahidi/platform-client/pull/1197

[2018-07-06 08:53] tuxpiper commented on #1610
@rjmackay

Yes, these are used in the docker images that can be built from the repo:

https://github.com/ushahidi/platform-release/blob/master/run.sh#L134
https://github.com/ushahidi/platform-release/blob/master/run.sh#L163

And they are bundled in the downloadable tarball, for deployers to take as reference while setting up their systems.

[2018-07-06 13:02] rowasc commented on #3080
@Eve-wanderi great job! thanks for finding all those issues, this is really good.   I'll be opening child tickets for these issues since they are not related to the fix. I think we might have some code in master behind lumen fixes, did not expect all those UI issues to come up.

---------

The export works in a queue, so it won't be consistent. Won't fix.

Ah, that's pretty weird since we didn't c

[2018-07-06 13:13] rowasc opened #3139 "Users do not get notified when an export ends"
**Describe the bug**
Users do not get Notified when an export ends, they have to go to export history to see the status of their export. This always happens, it doesn't matter if the user stays on the export page or leaves the page.

**Where was the bug observed**
http://csvexportsforever.v3-qa.ush.zone/

**To Reproduce**
Steps to reproduce the behavior (Admin):
1. Start a CSV export from the sett

[2018-07-06 13:22] rowasc opened #3140 "When an export's status shows failed, if I refresh the page it switches to complete"
**Describe the bug**
When an export's status shows failed, if I refresh the page it switches to complete

**Where was the bug observed**
http://csvexportsforever.v3-qa.ush.zone/

**To Reproduce**
Steps to reproduce the behavior:
- Have an export job "pending" in the database
- Refresh the client in the export history page. You should see "pending" as status
- Setup the export job status as Failed

[2018-07-06 13:23] rowasc commented on #3080
Eve, I (purely by chance) saw this update now. This is a major problem if it's happening, can you please open a ticket with details to reproduce?

[2018-07-06 13:35] rowasc opened #3141 "Fixed post columns when a user selects fields"
**Describe the bug**
Note: It's this way by design but we need to revisit it.
There are fields that the user cannot "unselect" from an export due to being common to all posts. (the ones highlighted here)

**Post ID | **Survey | **Post Status | **Created (UTC) | **Updated (UTC) | **Post Date (UTC) | **Contact ID | **Contact | **Sets | Description | Test markdown | Title renamed | Full Name | Test p

[2018-07-06 13:36] rowasc commented on #3141
@jrtricafort this is technically not a bug, but worth checking in with you, @aoduor @Hazellaura @willdoran @Erioldoesdesign if it's something we want to keep or stop doing.
To stop doing this we would need to provide some sort of selection for those fields that clearly marks them as "common to all surveys" since we can't remove them only for some surveys and not others

[2018-07-06 13:38] rowasc commented on #3140
@jrtricafort looks pretty bad. :/ Eve found it while testing https://github.com/ushahidi/platform/issues/3080, its not related to the fix but its obviously problematic. Can you prioritize?

[2018-07-06 13:39] rowasc commented on #3139
@jrtricafort this looks like an annoying issue . :/ Eve found it while testing #3080, its not related to the fix but its obviously problematic. Can you prioritize?

[2018-07-06 14:19] Shadrock opened #3142 "Fix / Update COMRADES test deployments"
**Describe the bug**
The 4 COMRADES test deployments are down. Looks like maybe an expired certification issue (see screenshot below)? Will recommended updating the deployments to the latest code for consistency.

**Where was the bug observed**
https://comrades-test1.ushahidi.com
https://comrades-test2.ushahidi.com
https://comrades-test3.ushahidi.com
https://comrades-test4.ushahidi.com

**To Repro

[2018-07-06 14:35] Eve-wanderi opened #3143 "CSV export fails if multiple exports are requested in a short period of time"
**Describe the bug**
If there are multiple users or the same user are trying to do many CSV exports, some of the exports fail. It's not clear yet if the exports are always just failing or if some are marked as success but blank (need details from Eve)

**Where was the bug observed**
http://csvexportsforever.v3-qa.ush.zone/settings/data-export

**To Reproduce**
Steps to reproduce the behavior:

1.

[2018-07-06 14:55] willdoran opened #3144 "Targeted Survey Character Limitation"
### Overview
The character limit restricts the user to sending 1 sms per Targeted Survey question. The limitation is causing significant problems in the construction of the Surveys.

We need to remove the character limit but retain the character count.

The system should be able to correctly count the number of SMS that will be sent overall and tell the user this information.

Do we need some uppe

[2018-07-06 14:56] willdoran opened #3145 "Targeted Surveys v0.02"
### Overview
Series of issues to be addressed to improve the feature overall and to improve experience of partner orgs

[2018-07-06 14:59] willdoran opened #3146 "SMS Contact Upload"
### Overview
The current method for uploading contacts for Targeted Surveys has signfiicant limitation in usability.

1. The User must clean the numbers to be uploaded extensively to ensure that the format of the number is correct
2. The User must convert an excel sheet to a comma separated list using a third party tool
3. The User must then copy and paste that list into the Contacts textbox in th

[2018-07-06 15:02] willdoran opened #3147 "Targeted Survey Responses are Misordered"
### Overview
Response to Targeted Survey questions are displaying out of order on the Post page.

Awaiting example Post showing problem from @Alengai

### Requirements

### Acceptance Criteria

[2018-07-06 15:08] willdoran opened #3148 "Create text explanation of inbound SMS flow post-Targeted Survey"
### Overview
Once a Targeted Survey has completed all new inbound messages from a recipient will spawn a new Post. This may cause confusion for Users if they continue their conversation with a recipient in the original Post, each time the recipient responds a new Post will be created as well as the messages displaying on the original Post. This is by design but problematic.

We need to create a cl

[2018-07-06 16:33] rowasc commented on #3143
@Eve-wanderi this needs to be separated into two issues.
- If some CSVs are blank, then that's one issue which needs to have steps to reproduce it as consistently as possible. In addition to this, It'd help me if you could also note which specific users you utilized for testing this (send them in slack) so I can check the logs.
- If the CSVs take too long, that is a completely separate issue (crea

[2018-07-06 16:39] jrtricafort commented on #2625
@rowasc This is still in play. Adding it to the new epic: https://github.com/ushahidi/platform-cloud-interface/issues/318

[2018-07-06 16:40] rowasc commented on #3143
BTW I just confirmed that if a single user requests 4 or 5 exports one after the other (I did it in a span of ~3 minutes or so), some of the exports fail .. not really sure why :(*
 But I'm not able to get an empty CSV, still not sure how to make that one happen.

[2018-07-06 16:43] #2798 closed

[2018-07-06 16:44] jrtricafort commented on #1870
Closing this issue. This will be replaced by this epic:
https://github.com/ushahidi/platform-cloud-interface/issues/319

[2018-07-06 16:44] #1870 closed

[2018-07-06 16:45] jrtricafort commented on #2512
Closing this epic. This has been superceded by this new epic: https://github.com/ushahidi/platform-cloud-interface/issues/318

[2018-07-06 16:45] #2512 closed

[2018-07-06 17:05] #3134 closed

[2018-07-06 17:07] rowasc commented on #3143
I just added more clarification to this ticket and I'll create the extra time ticket since it's past Eve's EOD

[2018-07-06 17:10] rowasc commented on #3143
@jrtricafort tagging for follow up + prioritization

[2018-07-06 18:30] #3013 closed

[2018-07-06 18:30] jrtricafort opened #3149 "cms"

[2018-07-06 21:19] jrtricafort commented on #3067
Adding clarification from Shadrock: The data import is a one-time act that we can control, not an ongoing workflow we need to support. @Shadrock will connect with Juan next week to walk through how data is exported from other COMRADES systems (CREES, YODIE), so we can begin to scope what the transformation->import step needs to look like.

[2018-07-06 21:48] jrtricafort commented on #3131
Recapping that @willdoran will support this meeting as a technical representative.

[2018-07-06 22:05] rowasc commented on #2806
@rjmackay while testing this, at signup I got this . Not really sure which ticket introduced the error, tho
<img width="971" alt="screen shot 2018-07-06 at 6 56 26 pm" src="https://user-images.githubusercontent.com/2434401/42402102-29def9c0-814f-11e8-9575-314333abfcfe.png">

[2018-07-08 23:00] rjmackay commented on #1624
I plan to revoke the API tokens tomorrow, pending OK from @Celestine22

[2018-07-09 01:34] rjmackay commented on #1610
@rowasc @willdoran all our docs reference apache and nginx configuration templates. I've added the headers into those templates. I think thats probably sufficient and better than messing with the documentation. What do you think?

[2018-07-09 01:35] rjmackay commented on #1617
Dropped back to QA to test the rebased version

[2018-07-09 01:35] rjmackay commented on #1606
Dropped back to QA to test the rebased version

[2018-07-09 02:52] rjmackay commented on #1609
I think a possible interrim solution is:
- Add "X-Frame-Options: DENY" header to any route thats *not* /posts or /view
- In JS, Disable login / password reset / settings routes when embedded.

Thats probably not foolproof but it's unlikely to break any existing embeds, and not super complex. We should definitely figure out adding a separate entry point for embeds in future.. but I don't want to ru

[2018-07-09 08:51] rjmackay commented on #2806
@rowasc because of recent security fixes the /create page currently *only* works on HTTPS, the certs in QA are invalid. You'll need to add an exception then try again over SSL. I mentioned it in slack, but I guess I should have @ everyone https://ushahidi.slack.com/archives/CB9QBGAJC/p1530850571000033

[2018-07-09 14:37] willdoran commented on #1610
@rjmackay Yes, I think that works. Ideally, anyone deploying it themselves needs to understand how webservers are configured which is an unfortunate fact of life right now.

[2018-07-09 15:36] rowasc commented on #3080
@jrtricafort I think we can release this as-is, yes. The bugs are unrelated.

[2018-07-09 15:39] rowasc commented on #2806
my bad. I didn't realize . But this passed 👍

[2018-07-09 15:41] rowasc commented on #2806
@rjmackay ah. Yea ok. I can login with my email and upgrade while creating the deployment so it passes.

[2018-07-09 15:50] rowasc commented on #1606
Testing

[2018-07-09 17:05] rowasc commented on #3143
@Eve-wanderi can you re-test? I think this is solved now

[2018-07-09 17:32] rowasc commented on #3080
@Eve-wanderi This is now deployed in production (ushahidi.io deployments)

[2018-07-09 17:33] #3080 closed

[2018-07-09 17:33] #2491 closed

[2018-07-09 19:02] rowasc commented on #1606
Password is validated in the backend.
Passes

[2018-07-09 19:03] rowasc commented on #3087
This is inconsistent, the decode should have happened in the client to avoid issues when we send the non encoded value from the confirm modal (manual) or an http request directly from curl/postman/etc

[2018-07-09 19:05] Shadrock commented on #2865
Bump on this. @willdoran I believe you've written these up. If you can point me to them, I can close this out.

[2018-07-09 19:06] Shadrock commented on #2741
Hey @Angamanga, I'd love to close this out. Has this been finished? If so can you please point me to the doc?

[2018-07-09 19:06] Shadrock commented on #2740
Hey @Angamanga, I'd love to close this out. Has this been finished? If so can you please point me to the doc?

[2018-07-09 19:07] Shadrock commented on #2572
Excellent, thanks @willdoran. I'm good to close this out and then re-open if they come up again.

[2018-07-09 19:07] #2572 closed

[2018-07-09 19:11] Shadrock commented on #1683
@jrtricafort @willdoran can you comment on whether or not we can close this out? It was originally related to UX for viewing post content that had been annotated or otherwise treated by the AI tools in COMRADES... but I think we're basically expecting to replicate the use of tags the way we did for YODIE & CREES versus really taking things any further.

[2018-07-09 19:13] rowasc commented on #3087
Found issues for this ticket ,  sent PR . This was found while testing https://github.com/ushahidi/platform/issues/1606

[2018-07-09 19:14] Shadrock commented on #1681
There is overlap here with #1683. Re-posting my comment from that issue - @jrtricafort @willdoran can you comment on whether or not we can close this out? It was originally related to UX for viewing post content that had been annotated or otherwise treated by the AI tools in COMRADES... but I think we're basically expecting to replicate the use of tags the way we did for YODIE & CREES versus reall

[2018-07-09 19:45] rowasc commented on #2625
@jrtricafort A couple of questions
-  Is this the final content?
-  what's the deadline or this? I think we should wait until ushahidi/platform-cloud-interface#318 is implemented and ready to launch to do this, right?

cc @sethburtonhall

[2018-07-09 20:13] rjmackay opened #3152 "QA new environments on AWS"
- [x] Create test deployments in `passage` environment from scratch ~based on copying CSV exports forever, quakemap.ushahidi.io~
- [x] Run web regression scripts https://ushahidi.ontestpad.com/script/27#1179//
- [ ] Run mobile regression tests (https://ushahidi.ontestpad.com/script/28)

[2018-07-09 20:15] rjmackay opened #3153 "Copy subset of production deployments to a test environment"
0. Log in to job box: `ssh ubuntu@ansible-jump-staging.aws.ushahidi.com
`
    0. Start a byobu session by running `byobu`
    0. Activate virtualenv `. ~/py3/bin/activate`
1. Disable job queue (specifically celery beat) on target environment
    `ansible-playbook -i hosts.aws -l env_harbinger aws.queue-worker-disable.yml`
2. Run export from production (use something like random order + 10% limit)

[2018-07-10 00:36] rjmackay commented on #3082
- Registration rate limit tests pass
- password reset validation works, but not exactly as in the test script:
  - client validation prevent reset with the wrong thing
  - it looks like maybe you can't reuse the token after the first attempt to reset

[2018-07-10 00:46] rjmackay commented on #3087
@rowasc testing on current master this seems to break all password resets. We're already decoding the URL in the client side, but now we're decoding again on the API and it's breaking. I can't see the client sending a urlencoded password to the API at all on master

I'm going to retest on production, but probably revert this in master.

[2018-07-10 01:35] rowasc commented on #2985
Sending to QA

[2018-07-10 01:59] rowasc commented on #2985
@Eve-wanderi please test in http://qa.ushahididev.com/ (and add to testpad ) . Thanks!

[2018-07-10 08:58] rjmackay commented on #1624
API keys have now been revoked

[2018-07-10 11:45] Celestine22 commented on #1624
@rjmackay we have an OK.

[2018-07-10 16:43] Erioldoesdesign commented on #2700
Note to self @Erioldoesdesign : This still needs further design QA

[2018-07-10 16:44] Erioldoesdesign commented on #2642
Note to self @Erioldoesdesign : Still needs further Design QA

[2018-07-10 16:46] Erioldoesdesign commented on #2642
@sethburtonhall The new animation (to me) is perfect! Closing this ticket and I'm stoked with how this looks here: http://preview.ushahidi.com/platform-pattern-library/ui-refresh/assets/html/1_atoms/#pl-pattern-loaders

<3

[2018-07-10 16:46] #2642 closed

[2018-07-10 20:20] jrtricafort opened #3157 "Remove "elevation" as a tag option"
Because the Ushahidi data model doesn't have a good native concept of elevation, we should remove it as an HXL tag for now (for now = HDX v1).

### Acceptance criteria
Open the HDX export screen
- [ ] Select #geo as a tag in a location type field
- [ ] Check the available attributes. You should not see elevation as an option

## Details
- [ ] Remove elevation as an hxl attribute in the database

[2018-07-10 20:38] jrtricafort opened #3158 "HDX v1 feature writeup (what’s done/isn’t done)"
1-pager describing what is/isn't included with HDX v1.

Include list of known bugs, what level of testing this has gone through (i.e. QA but not daily workflows yet)

Aha! Link: https://ushahiditeam.aha.io/features/PROD-313

[2018-07-10 21:47] Erioldoesdesign commented on #3099
This looks good to me in the PL positioning wise.

I would say that an error state (red border) is a kind of focus state for the field and therefore the border radius of the drop down error state should be 5px not the default 2px. As detailed in #2640

Here's the PL one:

![Screen Shot 2018-07-10 at 22.46.20.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/ff745d78-75dc-4529-b618

[2018-07-10 22:14] Erioldoesdesign commented on #2662
Looks good to me :thumbsupemoji:

[2018-07-10 22:14] #2662 closed

[2018-07-10 22:18] Erioldoesdesign commented on #2700
Looks great to me on this PL link: http://preview.ushahidi.com/platform-pattern-library/ui-refresh/assets/html/2_molecules/#pattern-sample-19

I would flag though that the example is a drop down with checkbox elements and the designs show an example with text options without checkboxes. These are in a bold font so I can conclude that list items within a dropdown that isn't a radio/checkbox etc. sh

[2018-07-10 22:18] #2700 closed

[2018-07-10 22:29] Erioldoesdesign commented on #2657
Everything looks good here to me apart from this issue around double/two column checkbox list in the expanded filter dropdown...

@sethburtonhall Can you take a look at my comment above and see if you can have a dig around to find a potential "rule that always has child categories display in the same 'column' as the parent and then the next parent would carry on the 2-column format"

If it's a no

[2018-07-10 22:34] Erioldoesdesign commented on #2665
Still getting the 'blue bar' a little to low from the top:

PL:
![Screen Shot 2018-07-10 at 23.31.27.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/72027dc4-53a0-49fc-a63a-c2007e88a8be)

vs design:

![Screen Shot 2018-07-10 at 23.33.22.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/692f453c-81be-482c-845d-4e7b6dd4b30b)

Do you see the top of the blue bar is

[2018-07-10 22:36] Erioldoesdesign commented on #2788
Looks great! closing this ticket :D

[2018-07-10 22:36] #2788 closed

[2018-07-10 22:42] Erioldoesdesign commented on #2669
Looking through the Layout G links mostly as the links in other layouts still need other orbiting UI tickets to assess the overall 'look'

http://preview.ushahidi.com/platform-pattern-library/ui-refresh/assets/html/5_layouts/settings-people-add.html

^^^ noticed the phone number field title collapsing(?) backwards

All the other pages look awesome! the spacing looks great and no errors. Almost rea

[2018-07-11 16:23] Eve-wanderi commented on #3080
@rowasc  Great let me do some post-deployment checks for this.

[2018-07-11 16:30] Eve-wanderi commented on #1606
Also confirme dthis from my end Password is Validated.

[2018-07-11 19:34] Shadrock commented on #3131
@willdoran @jrtricafort We now have a draft for the specification for this deliverable. [It's in this Google document on the ISOOKO team drive](https://docs.google.com/document/d/1-HryxbVVPIMOGqc2fCG6EFrrnWu0tOVyrK2Gmm_Bqs0/edit#). A majority of the architecture and API documentation was first compiled for COMRADES. This was done by @rjmackay, I believe. We need to review Section 3, "Ushahidi Plat

[2018-07-11 19:38] #1596 closed

[2018-07-11 19:38] #1607 closed

[2018-07-11 19:38] #1617 closed

[2018-07-11 19:38] #3082 closed

[2018-07-11 19:38] #1606 closed

[2018-07-11 19:38] #1618 closed

[2018-07-11 19:48] jrtricafort commented on #3129
Thanks @aoduor . Yes let's proceed with letting the user know of the workaround, and that admin is really intended to have access to all permissions, since that's the definition of admin we provide here:

https://www.ushahidi.com/support/custom-roles#add-a-role

Because of the intended use of Admin and the workaround, I don't think this is high priority right now, but I have added a tag to conside

[2018-07-11 19:53] jrtricafort opened #3159 "Sort Collections by reverse-chronological order by default"
### Releasing notes: this is waiting for lumen to release
### Requirements
When I view the list of collection, they should automatically be sorted in reverse chronological order (most recent at the top)

### Acceptance criteria
- select the collections icon (be sure there are multiple collections and you know when they were created)
- [ ] confirm collections are in reverse chronological order

###

[2018-07-11 19:54] jrtricafort commented on #3159
@Added to Cycle 7 and assigning to @willdoran as requested.

cc @rowasc

[2018-07-11 19:56] jrtricafort commented on #3159
cc @justinscherer - check out the original message from the user above. This is an interesting workaround use of Collections. It looks to me like there's actually a "hidden" feature request here for something like a timeline filter / date filter on the map. Totally sensible usecase. I've seen several other apps that do this well and we could capture it as a potential feature for the roadmap.

[2018-07-11 20:31] #2806 closed

[2018-07-11 20:59] rowasc commented on #2787
@willdoran I think the spec shouldn't be more than this since it's just a port. Thoughts?

[2018-07-11 21:04] rowasc commented on #3132
@willdoran @crcommons since this is porting an existing feature, what do you think about the spec? is it enough?
I'd estimate around 2 points since the feature itself was simple, but maybe a 3 would be appropiate if we consider that QAing it is really terrible and time consuming

[2018-07-11 21:06] rowasc commented on #3105
@crcommons do we need to spec this any more? It's literally just changing some text so I'd say 1point.. right?

[2018-07-11 21:11] rowasc commented on #2685
@willdoran @jrtricafort @dalezak this is needed this cycle to be able to deliver anonymization right?
@jrtricafort I'm not sure if Dale's availability allows it, but we need to spec this if we want it done. cc @dalezak FYI

[2018-07-11 21:21] #3088 closed

[2018-07-11 21:21] #3087 closed

[2018-07-11 21:29] willdoran commented on #2685
@rowasc good catch

[2018-07-11 21:30] willdoran commented on #2685
We could merge anon and just leave it disabled until some pays us to turn it on so this is not a blocker but would be good to have.

[2018-07-11 21:30] willdoran commented on #3132
agree

[2018-07-11 22:09] crcommons commented on #3105
@rowasc Agreed. Adding estimation now.

Also, I could have sworn this said posts before and we were asked to change it to reports.

[2018-07-11 22:41] crcommons commented on #2601
@willdoran Do you recall your conversation with Juan about why this needed new spec?

[2018-07-11 22:50] crcommons commented on #3033
@rowasc I'm estimating this at a 2 because it's a really small change but it's known that collections routing is a disaster and thus could cause problems. LMK what you think.

[2018-07-11 22:57] crcommons commented on #3159
@jrtricafort are we planning to add sorting functionality to put the collection in reverse or chronological order? Or are we just making the change to default the list to reverse chron. order?

[2018-07-12 14:42] willdoran opened #3160 "Add ability to (un)select structured posts from export ui"
### Overview
Unstructured Posts are currently always included in export all data but can not otherwise be selected to be exported

### Requirements
- Update interface to communicate existence of unstructured posts
- Update interface to allow selection of unstructured posts for export

### Acceptance Criteria
- [x] When I export all data I see 'Unstrucutred' in the Survey Column for unstructured po

[2018-07-12 17:11] willdoran commented on #3159
@crcommons It's just changing the sort not making it a choice

[2018-07-12 17:14] willdoran commented on #2601
@crcommons I think though I failed to write this down it's because admin users should not see all jobs but only their own. But may be double check that with @jrtricafort

[2018-07-12 17:33] jrtricafort commented on #3159
@crcommons @willdoran I'd like to just change the default list to reverse chron sort.

I think having a sort-flipping option would be cool in the future. If it is actually easier to do so now, then we can do it now. But if it adds more than 1-3 points to this issue, then we should table that issue for a future cycle.

[2018-07-12 21:40] jrtricafort commented on #2601
@willdoran @crcommons That's correct. Admin users should only see their jobs.

There's some ambiguity here, because we do tend to give admin users lots of superpowers over lots of their own deployments. But seeing all exports with the username (as was originally spec'd for this issue back in May) is more like an audit of other users' behavior, and at no other point in the UX do we support that. If

[2018-07-13 14:29] jrtricafort commented on #3073
@willdoran FYI see @aoduor 's additional CSV feedback above.

[2018-07-13 14:44] jrtricafort commented on #3073
Moved to Cycle 7 - in Development, assigned to @willdoran

[2018-07-13 14:46] jrtricafort commented on #2005
Moved to Cycle 7

[2018-07-13 14:48] jrtricafort commented on #3057
@Shadrock Has set up a call week of July 16. @willdoran will represent platform team. @jrtricafort is optional to attend.

[2018-07-13 14:58] jrtricafort commented on #3159
@crcommons Exciting to hear that this is almost ready! Let me know when it's released to production and I'll update our IP partners, they'll be happy to see this!

[2018-07-13 15:06] crcommons commented on #3159
@jrtricafort, actually @willdoran is working on this one. Not sure of the status. But flagging for him so he can give you a heads up.

[2018-07-13 19:41] rowasc commented on #3157
@willdoran ah, as a solid 1 line ticket, I think this spec is complete :D can you review? it's 1 point

[2018-07-13 19:45] rowasc commented on #2685
Yea, I think so. We should also check if this is something that would break mobile if mobile does not implement it, and spec it to know what changes we need in the mobile app.
Maybe @dalezak can provide details ?  Dale , did you already implement this somewhere? if that's the case, can you provide a spec or acceptance criteria to add here?

[2018-07-13 19:45] rowasc commented on #2005
@jrtricafort super cool thanks

[2018-07-13 19:48] willdoran commented on #3157
yep approved :D

[2018-07-13 20:13] dalezak commented on #2685
@rowasc the app is currently making use of `hide_author` attribute from the `form`, for example:
[code]
Does that suffice? Or is there more functionality required to anonymize the reporters?

[2018-07-16 14:47] dukedanny opened #3163 "Enhancement - Add New Tables to Activity Page to count Targeted SMS Messages Received and Crowdsourced Posts"
### Overview
DREAMS partners need a way to accurately count messages sent and received via targeted surveys and they need to be distinguished from other posts. Currently data view does not do this. Instead of refactoring our data models, we will implement two new analytics charts to display the required data, and these charts will be displayed in the Activity Page.

### Requirements
- This should

[2018-07-16 14:53] jrtricafort commented on #3163
@dukedanny @Hazellaura Can you clarify the existing behavior? What is being counted currently? It sounds like what is being counted currently is the number of messages sent out, plus the number of responses, is that correct? Or is it just the number of messages sent out that is being currently counted?

@willdoran For background, the reason why this is coming up as a priority from Hazel is since t

[2018-07-16 20:40] crcommons commented on #2005
@jrtricafort What is the solution for this? I'm not sure what to spec because we haven't yet defined what we want to display.

[2018-07-16 20:56] rowasc commented on #2985
@Eve-wanderi this looks like your api key is not configured correctly. Please reach out in slack directly to verify that you are correctly setup.

[2018-07-16 20:59] rowasc commented on #2985
@Eve-wanderi also I want to point out that the video does not show the configuration screen that was ready for testing.  Did you test that one out, or were you unable to test?

[2018-07-16 21:54] jrtricafort commented on #3163
@rowasc FYI This will probably need to be addressed in some form (either product enhancement or database pull) in Cycle 8, but still scoping w DREAMS team to understand needs. See comment above.

[2018-07-17 12:11] dukedanny commented on #3163
@jrtricafort
Yes, this is a correct representation of the issue.

Desired behavior: Posts = responses received only

A targeted SMS sent out should not increment the number of reports. Only responses should.

[2018-07-17 14:59] crcommons commented on #2601
@jrtricafort I've implemented this fix in develop, however, with Kohana (which is in production) we have it so that users who have all manage settings can't even access exports at all, let alone their own exports. Is this something we need to change now in production or can we wait until lumen is released?

Screenshot shows a logged in user with manage settings, posts, and users. Clearly this user

[2018-07-17 17:03] rowasc commented on #3157
Verified in qa

[2018-07-17 17:04] rowasc commented on #2973
Fails QA, I'm adding org id instead of org name ! back to develop

[2018-07-17 17:05] rowasc commented on #3034
@Eve-wanderi please review

[2018-07-17 17:06] rowasc commented on #2985
@Eve-wanderi can you check my comments above?

[2018-07-17 17:06] rowasc commented on #3083
@Eve-wanderi can you test?
passed for me .

[2018-07-17 18:07] rowasc commented on #3105
@crcommons everything passed except for the text in Datasources that says 'In order to receive reports by email, please input your email account settings below' . Can you check?

[2018-07-17 18:08] rowasc commented on #3105
@crcommons from the code it looks as if the text comes from a db option but I can't find it :/ still looking at it

[2018-07-17 18:09] rowasc commented on #3105
@crcommons sorry for spamming. Yes, it's coming from the backend in the /dataproviders endpoint

[2018-07-17 19:09] crcommons commented on #3105
@rowasc Moving back to "In development" and will work on API change for this today or tomorrow.

[2018-07-17 19:42] jrtricafort commented on #3163
Thanks @dukedanny .

@willdoran Can you see my comment above? This is tied to our data model, correct? We need to give
@Hazellaura some way to pull the metric of total reports, not including sent targeted surveys.

@Hazellaura How often do you need to pull these stats for DREAMS? It's just a one-time thing, per deployment, correct?

[2018-07-17 20:15] jrtricafort commented on #2684
@willdoran Do we have plans to put this behind a Feature Flag? Could we?

[2018-07-17 21:47] crcommons commented on #3105
@rowasc Just confirming I need to implement this in lumen and kohana?

[2018-07-17 21:51] kinstella opened #3168 "Support for PFIF, other pre-defined survey types, as well as additional tools for federating/sharing data from surveys"
Overview:
This is a request for Platform to support both pre-defined and federated data types -- specifically PFIF, but potentially others.

If I'm understanding this correctly, data formats such as PFIF are intended to interoperate between various databases (similar to RSS feeds), so anyone who looking for data on a missing person due to a crisis won't have to struggle with searching multiple dat

[2018-07-18 02:24] rowasc commented on #3105
@crcommons I think lumen-only might be OK since it's text change in an admin-only place of the app and we are launching lumen soon anyway (so absolutely not a P0-P1).  @jtricarfort correct me if I'm wrong

[2018-07-18 04:15] rjmackay commented on #1612
@rowasc @jrtricafort could we tentatively schedule this for Cycle 8? It's not worth doing till post-lumen launch

[2018-07-18 12:30] rowasc commented on #2973
Fixed in qa.ushahididev.com .
@Eve-wanderi

[2018-07-18 12:36] rowasc commented on #3077
Hey @aoduor @StaicyG @jrtricafort    is this happening during cycle 7? just checking in case we need to move it out

[2018-07-18 12:47] rowasc opened #3169 "Manage Settings permission not working as documented (does not have access to categories)"
Expected behavior (from the docs)

`Manage Settings: Allows for managing`
General Settings
Map Settings
Data Sources
Surveys
Categories

Current behavior:
A user with Manage Settings has access to
- General
- Surveys
- Data sources
- Map Settings
and does not have access for:
- Categories

[2018-07-18 12:51] aoduor commented on #3077
Yup. It is! thanks for flagging.

[2018-07-18 12:59] rowasc commented on #2601
@jrtricafort @crcommons I added an issue about Manage Settings not allowing some of the permissions it states in the docs that we allow. https://github.com/ushahidi/platform/issues/3169
Manage settings is not supposed to allow a CSV download as far as I know but I realized that we also are not giving users with Manage Settings the permission to see / edit categories .

[2018-07-18 18:10] rowasc commented on #2685
@willdoran @crcommons @dalezak flagging that we might need to meet and discuss this integration/what impact our changes have in mobile when the platform changes are ready/we know what the path fwd is exactly in the API . Please let me know if monday would be a good day for that or if it would be best to do it later in the week

[2018-07-18 19:32] willdoran commented on #2685
### Requirements
- [ ] Anon features for Time, Location and Author are integrated
- [ ] PR is merged with Develop
- [ ] Location anon value is configurable via General Settings
- [ ] Anon feature is feature flagged????
- [ ] API config for default location anon value is set

### Notes
- locationHidden is misleading--it rounds it up to a 500 meter radius; it “obscures” location
- Revisit use of “In

[2018-07-18 19:35] willdoran commented on #2685
@jrtricafort Should this feature be feature flagged or will it be always available?

[2018-07-19 09:04] Eve-wanderi commented on #3083
@rowasc  this passed QA. However this only happens if the #geo is selected as the Attribute Tag if user selects #Meta this is not the case.

![Lat Lon.png](https://images.zenhubusercontent.com/5a730b1e4b5806bc2bc534d6/fb7304cc-414a-4b47-98a2-570c8f229799)

[2018-07-19 10:23] sethburtonhall commented on #3099
Yes, except that I still need to integrate @Erioldoesdesign's latest QA feedback above.

[2018-07-19 14:00] jrtricafort commented on #2005
@rowasc @crcommons
Spoke with @aoduor about this today and we came up with a solution. It will actually be a front-end enhancement to the Map, and will require Design. Not a top priority for Design right now, so I'm going to move this out of this cycle to revisit in next cycle for design. But I'll add the scope details below in another comment and loop in Justin so he can start thinking about it.

[2018-07-19 14:05] rowasc commented on #3083
@Eve-wanderi yep, meta does not apply herel, thanks

[2018-07-19 16:37] Shadrock commented on #3057
**Summary & Action Items from Sheffield / Ushahidi call on July 18th.**
@jrtricafort @willdoran @rowasc [Detailed notes here on Drive](https://docs.google.com/document/d/1Vv_r-8B0ZPaV4exsGrjl56aMZF1YCGGNrdAGE68F49Y/edit).

The services discussed will be applications on Sheffield's [GATE website](https://gate.ac.uk/): accessible via rest APIs that are similar in nature to YODIE. In general, we fore

[2018-07-19 21:56] Shadrock commented on #3142
Checked today and these are back up. Closing issue.

[2018-07-19 21:56] #3142 closed

[2018-07-19 22:04] Shadrock commented on #3073
I think we're close to closing this out. @willdoran can you please create an export of posts, from both Uchaguzi deployments, by survey type? I realize that this will result in multiple .csv files per deployment and that only posts assigned to a survey will be displayed. But having them will help me make some comparisons to the large, single file that I have for each deployment and greatly speed u

[2018-07-19 22:59] rowasc commented on #2973
Tested in comrades-hdx

[2018-07-19 23:00] rowasc commented on #2985
tested and passed, comrades-hdx and ushahididev

[2018-07-20 13:22] willdoran commented on #3073
@Shadrock Sure I can probably do that later today.

[2018-07-20 15:18] jrtricafort commented on #3057
Thanks for the recap @Shadrock . @willdoran @rowasc It sounds like the complexity will be relatively similar to the YODIE integration. How many Story Points does that translate to?

[2018-07-20 20:45] willdoran commented on #3073
@Shadrock those are in the drive

[2018-07-23 14:12] jrtricafort commented on #3163
Cool thanks @willdoran . Let's discuss this Friday in advance of Cycle Planning for Cycle 8 next week.

[2018-07-23 14:45] crcommons commented on #3105
@jrtricafort @rowasc did we decide if this can wait until lumen is in production?

[2018-07-23 15:29] rowasc commented on #3105
@crcommons we are going to release it before lumen goes live

[2018-07-23 18:49] rowasc opened #3171 "Renew enterprise deployments certificates automatically"
**Which user group(s) are the primary audience for this feature/enhancement.**
Developers working at Ushahidi (staff).

**Is your feature request related to a problem? Please describe.**
There is a script (nginx) that we can run to renew a certificate when it expires, but there is no auto-renewal for some certificates.

**Describe the solution you'd like**
Renew certificates automatically

**Descr

[2018-07-23 18:49] rowasc commented on #3171
@jrtricafort to prioritize. I think this should be treated as a P0/P1 since it affects the stability of the platform

[2018-07-23 18:51] jrtricafort commented on #3171
@rowasc Agree that it's high prioritization. What's the points estimate? Are you proposing to add to this cycle or take up in Cycle 8?

[2018-07-23 18:56] rowasc commented on #3171
Cycle 8 should be OK @jrtricafort

[2018-07-23 18:57] rowasc commented on #3171
@tuxpiper and @willdoran might have an idea so we can plan according to a rough estimate (it's likely that the estimate will change once we spec, but at least to know during planning)

[2018-07-23 19:24] rowasc commented on #3057
Reference to our ticket for testing the service https://github.com/ushahidi/platform-cloud-interface/issues/341

@jrtricafort not sure about points yet

[2018-07-23 19:30] Shadrock commented on #3073
I've done a cursory examination of the data and they look ok (although I would really like to see these better structured for the average user) and am closing the issue. If there's anything exceedingly strange, I'll re-open it, but I think I can get most of what I need from a mix of Angie and grueling data clean up.

[2018-07-23 20:12] rowasc opened #3172 "Columns in the HXL row of a CSV for HDX (humdata.org) are being picked up by the map view"
**Describe the bug**
The preview map feature of HDX is taking the HXL tags as valid data for a map .

**Where was the bug observed**
data.humdata.org and demo-data.humdata.org
https://comrades-stg.ushahidi.com
https://comrades-hdx.ushahidi.com

**To Reproduce**
Steps to reproduce the behavior:
1. Create an HDX Upload that has location data. The location input should have #geo +lat and #geo +lon as

[2018-07-23 22:06] crcommons commented on #2601
UPDATE:

- Changes in master have been merged in client and API and waiting to deploy;
- changes in develop have been merged in API and waiting to deploy;
- changes in develop in client are *waiting for review*

[2018-07-24 14:02] Eve-wanderi commented on #3083
Okay this Passed for me as well. Ready for Production

[2018-07-24 14:41] rowasc commented on #2973
@Eve-wanderi that's not the slug.. that's the title . Please check the slug by clicking on the dataset and looking at the url format.

[2018-07-24 14:44] Eve-wanderi commented on #2973
Okay seen it https://demo-data.humdata.org/dataset/ushahidi-new-my-dataset

[2018-07-24 14:46] rowasc commented on #2973
ok great

[2018-07-24 15:10] willdoran commented on #2684
@jrtricafort Will anon of reporters but enabled or disabled by default when it goes to prod?

[2018-07-24 16:32] crcommons commented on #2601
Update: changes in client have been merged into develop.

[2018-07-24 18:33] jrtricafort commented on #2684
@willdoran It will be on by default.

[2018-07-24 18:40] jrtricafort commented on #2684
Confirmed w @willdoran that the current scope is sufficient.

[2018-07-24 18:40] jrtricafort commented on #2685
@willdoran Similar to web app, should be always available.

[2018-07-24 18:41] jrtricafort commented on #2685
@willdoran @crcommons @dalezak circling back on @rowasc 's comment from last week above. Sounds like we need to have a discussion to get on the same page on this, is that correct?

[2018-07-24 18:47] jrtricafort opened #3175 "Support Docs - Update docs to include new Anonymization functionality"
Update support docs to include new anonymization settings that will be enabled by default for all deployments. See parent epic https://github.com/ushahidi/platform/issues/2684 for information on the feature.

[2018-07-24 18:49] jrtricafort commented on #3175
@StaicyG @aoduor @rowasc As discussed previously at the Platform Sync, I'm creating this issue to track that we will need support docs updated for the Anonymization feature, which is currently in QA and will be completed and rolled into prod by the end of this Cycle 7 (July 30). It would be ideal if we can get the Support Docs updated by that date as well. @StaicyG Do you think this is something w

[2018-07-24 18:50] willdoran commented on #2685
@jrtricafort Yes we should meet to be sure, but I'm not certain what needs to be changed on mobile. The information is redacted on the API side. You can't edit surveys config in mobile, right @dalezak?

[2018-07-24 18:53] jrtricafort opened #3176 "Obfuscation Feature - External Announcement and BD Collateral"
For the anonymization feature, we will need external content on this new feature so that it can be included in the proposal template, corp caps doc, and in a blog post.

[2018-07-24 20:20] rjmackay commented on #1609
@rowasc This should probably move to Cycle 8

[2018-07-24 20:32] rowasc opened #3177 "Update lumen to (latest?) version in platform-cloud-interface and review develop-dashboard"
- Update lumen in platform-cloud-interface
- Review and decide if changes from `develop-dashboard` can be brought back into `develop`, and which ones.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-310

[2018-07-24 20:34] rowasc commented on #3177
@rjmackay @jrtricafort not spec'd , but adding this so we don't forget about it and prioritize it into a cycle soon. I think it should probably happen after we finish the lumen epic for platform so I am setting it up to be considered for cycle 9

[2018-07-24 20:34] #3111 closed

[2018-07-24 20:35] #2985 closed

[2018-07-24 20:35] #3157 closed

[2018-07-24 20:35] #3113 closed

[2018-07-24 20:36] #3083 closed

[2018-07-24 21:33] #2824 closed

[2018-07-24 21:46] jrtricafort commented on #2005
@justinscherer This is the issue I was chatting w you about.
Question: Can we display total number of posts in the map view? We currently show mapped (per survey type) and unmapped (in a line of text). Can we show the sum?

For example, a more elegant version of this:
"There are 300 total posts. 254 mapped and 46 unmapped."

[2018-07-24 21:52] tuxpiper commented on #3171
Unfortunately the current setup doesn't lend itself to renew the certificates easily. I expected more from the official ansible letsencrypt module. The whole thing depends on running the ansible playbooks every time, which means a lot of dependencies.

It would probably much easier to switch to an ansible role installing and managing certbot and a cron job for renewal : https://github.com/geerling

[2018-07-25 10:40] StaicyG commented on #3175
@jrtricafort We can work towards this. A kind request: please assist me with the qa deployment for this  and logins so that I can test as well and know how this feature works. It will be easier to document having an understanding of how it works. Thanks.

[2018-07-25 13:19] Eve-wanderi commented on #2601
@rowasc  This has passed for QA.

![image](https://user-images.githubusercontent.com/36038029/43203257-69f06edc-9026-11e8-9d53-0053fd0f03ec.png)

![image](https://user-images.githubusercontent.com/36038029/43202854-41ccec60-9025-11e8-9b2a-a90b6aadabd8.png)

[2018-07-25 13:48] Eve-wanderi commented on #3033
Confirmed Passed QA.

[2018-07-25 13:51] rowasc commented on #3033
@Eve-wanderi moved to waiting to deploy. Please remember to move things once they pass/fail . Thankks

[2018-07-25 14:54] rowasc commented on #3171
@tuxpiper that looks promising. We will need to spec this next cycle and figure out if ansible-role-certbot would solve our problems.

[2018-07-25 20:39] rowasc commented on #3158
@jrtricafort is this still needed?

[2018-07-25 20:47] rowasc commented on #3175
@jrtricafort This is *not* in QA yet. Right now, I don't think we will be on production with this by July 30 because of the QA timeline after it lands in QA (3 days) and because we discovered we have some open questions on the dev side today.

@StaicyG I will ping you as soon as this lands in a QA server and add credentials to lastpass

cc @willdoran tagging  as you are working on the feature.

[2018-07-25 20:57] rowasc commented on #3132
@Eve-wanderi please test in qa.ushahididev.com
Thanks

[2018-07-25 20:59] rowasc commented on #1624
@jrtricafort moved this to cycle 8 as we are not going to get to it on time.

[2018-07-25 21:03] rowasc commented on #1681
@jrtricafort do you think we can close this? see Shadrock's comment above

[2018-07-25 21:07] rowasc opened #3179 "Implement video upload in Platform"
**Describe the feature**
- [ ] We need to implement video upload handling in platform API.
- [ ] we need to change the mobile app to handle that.
- [ ] we need to change the client to handle it.

**Additional context**
- See this https://github.com/ushahidi/platform/issues/1624

### this needs a spec

Aha! Link: https://ushahiditeam.aha.io/features/PROD-309

[2018-07-25 21:09] rowasc commented on #1624
Added a ticket to spec the video upload, I don't think this vimeo ticket is still relevant since we are ggoing with a different approach. I linked the new issue #3179 to this one as reference. We should spec it in cycle 8

[2018-07-26 15:06] rowasc commented on #3090
@jrtricafort why do we need this? I'm not sure I understand since we don't do feature limits for paid customers in the new pricing version

[2018-07-26 15:23] rowasc commented on #3175
@jrtricafort after talking with Will, we think we can go to QA by tomorrow morning, and then Eve can test mobile on monday while devs test the web platform,  and then we can go live.

[2018-07-26 19:59] jrtricafort opened #3181 "Obfuscation (formerly "Anonymization") v2"
## Overview
Improve upon Anonymization v1, which was rolled into production in  Cycle 7, July 2018.
v1: https://github.com/ushahidi/platform/issues/2685

## Who is it for? Who are the users?
- Users who want to anonymize certain posts

## What privacy impacts does it have?
- Increases privacy by reducing data availability and improving obfuscation funcitonality.
- Terms of Service would need to be

[2018-07-26 20:00] jrtricafort commented on #3181
cc @katymoney27 @justinscherer @rowasc @willdoran  creating this placeholder epic. This is not yet prioritized/planned.

[2018-07-26 23:36] rowasc commented on #3175
@willdoran @jrtricafort after a lot of confusion over where this was going, clarifying here.
- This will go live once we release lumen. It's now merged in `develop` and ready to be tested.
- Eve will run a regression for lumen which includes this (before going live)
- We need to figure out the release date of lumen .
------

@StaicyG you can test this at `qa.ushahididev.com` , lastpass has a user

[2018-07-26 23:39] rowasc commented on #2684
@eve this has to be tested on `qa.ushahididev.com`.
Test the issue on both `mobile and web`  . Feel free to ask any questions that might come up here or in the slack channel with Will/myself.

[2018-07-27 09:59] Eve-wanderi commented on #2684
@rowasc  Noticed a few issues.Kindly confirm if they are valid.

1.  When i added a Post to an anyonymised Survey and i edit the Post Date. This date and Time is not anonymized as users can still see eddited dates. However this is not the case for posts which are not edited since they are rounded off.
## Please Note the Survey has been Anonymized survey used Anonymization##

![time diffrence](http

[2018-07-27 11:59] willdoran commented on #2684
@Eve-wanderi The data is only anonymised if the user does not have Post Edit permissions. The system checks to see if the user has permission to edit the Post if they can then they are allowed to see anonymised data.

[2018-07-27 12:00] willdoran commented on #2684
@jrtricafort This is acutally an interesting idea, we might want to create an explicit permission which controls whether or not even anyone can ever see anonymised data even if editing.

[2018-07-27 12:21] Erioldoesdesign commented on #2684
So I've looked into this from a UI perspective. I looked at:
- An input field
- Radio buttons
- Drop down

https://xd.adobe.com/view/f455f026-ce60-4549-4a8d-7118c34b9bba-8264/?fullscreen

There's 5 pages in the prototype to click through

Input field is a no, it's too complicated to figure out the increments system and I suspect would have a lot of human error.

Radio buttons is usable, accessible

[2018-07-27 12:36] Eve-wanderi commented on #2684
@willdoran this happens even for users who have not even logged into the Platform.?

[2018-07-27 12:45] willdoran commented on #2684
@Eve-wanderi I'm confused, how can they edit a post if they are not logged in?

[2018-07-27 12:51] Eve-wanderi commented on #2684
Yes they cannot edit. But when they view the edited post they can see the actual time the post was edited

Like the below screenshot i am not logged in yet when i view the post and hover on the date/time information i can see the exact time and date the post was edited.

![image](https://user-images.githubusercontent.com/36038029/43321498-b994534c-91b4-11e8-91d6-49cca49aafce.png)

[2018-07-27 12:55] willdoran commented on #2684
ah, I think I see the confusion, this feature only removes the time not the date, so they can see the date and the time however is not accurate. The time is cleared to be midnight on the correct date, so this is correct behaviour. Good catch though, thanks

[2018-07-27 12:56] willdoran commented on #2684
@Eve-wanderi I changed one of the acceptance criteria to be more specific and less unclear. Thanks

[2018-07-27 12:58] Eve-wanderi commented on #2684
@willdoran Gotcha! Yes then is works fine.

[2018-07-27 15:38] jrtricafort opened #3183 "Obfuscation - Improve UX of time display and time sorting (data mode) when post information is obfuscated"
Raw dump from Slack thread:

@juan In terms of the anon feature, @eve  found an interesting weirdness to the implementation.
Posted in #plat-cycle-channel-7Today at 10:23 AM
Will Doran
The feature hides the time for Post dates, it however leave the date intact - this is intentional. However, the Data view is primarily chronological, this produces some weirdness as in order to “hide” the time we se

[2018-07-27 16:02] jrtricafort commented on #3163
From @willdoran : This will require substantive API changes, and possibly some light DB migration work to retroactively re-count.

[2018-07-30 04:37] jrtricafort commented on #3090
@rowasc There will be some feature limits. Currently the only feature limit is Targeted Surveys, but in the future this could expand to more feature flags. Does that help clarify?

[2018-07-30 15:23] StaicyG commented on #3175
@jrtricafort @rowasc Please help me with the actual login credentials. Lastpass doesn't seem to be working on my machine.

[2018-07-30 16:15] Eve-wanderi commented on #2684
@willdoran Passed QA.

[2018-07-30 16:17] jrtricafort commented on #3131
@willdoran @rowasc This will likely have to go in Cycle 8 depending on the due date @Shadrock provides. Can we do a high-level point estimate for this to see what may need to get bumped or added for the other things we've planned this cycle?

[2018-07-30 16:18] jrtricafort commented on #3131
added to CYcle 8 for now

[2018-07-30 18:18] jrtricafort commented on #2865
@willdoran to follow up here.

[2018-07-31 12:07] mcarans commented on #3172
The preview feature on HDX uses the standard CKAN preview right now which is not HXL aware eg. see https://data.humdata.org/dataset/fts-requirements-and-funding-data-for-afghanistan/resource/45dc4269-405a-433d-9011-d1ae23d624a5

[2018-07-31 12:43] Eve-wanderi commented on #3132
@rowasc this passed QA.

[2018-07-31 13:50] #2684 closed

[2018-07-31 14:25] rowasc commented on #3172
Thanks, @mcarans .
@jrtricafort sending this to the icebox pipeline for the moment

[2018-07-31 14:37] rowasc commented on #2111
Moving to cycle 9 as its not in the product roadmap, @jrtricafort feel free to change this

[2018-07-31 15:34] rowasc commented on #3158
@jrtricafort is this still needed?

Do we need to add it to cycle 8 ?

[2018-07-31 17:05] rowasc commented on #1681
@jrtricafort assigning for you to review

[2018-07-31 17:24] rowasc commented on #3100
@Erioldoesdesign @jrtricafort should this move to cycle 9? I don't see it in the plan/roadmap  doc for cycle 8, checking just in case I'm missing something

[2018-07-31 17:31] rowasc commented on #2685
Removing from cycle as this is part of V2

[2018-07-31 17:37] rowasc commented on #3132
Closing as this issue will be released with lumen , added to the lumen release

[2018-07-31 17:37] #3132 closed

[2018-07-31 17:42] jrtricafort commented on #1681
@willdoran I think we can close this out, correct? Please verify and close if so.

[2018-07-31 17:42] jrtricafort commented on #3100
@Erioldoesdesign are you anticipating working on ISOOKO Workshop framework this cycle?

[2018-07-31 17:42] jrtricafort commented on #3158
@rowasc Yes we should add this to Cycle 8.

[2018-07-31 18:30] sethburtonhall commented on #2789
@Erioldoesdesign I moved this from "Ready for Front-End" to "QA for Design" on June 29 but I see you moved it back. I have made all the above changes and don't see any more revisions. Am I missing something or was this an oversight on your part?

[2018-07-31 19:10] Erioldoesdesign commented on #3100
@rowasc @jrtricafort I think so. Probably only a 5 pointer though as we're trying to close out on this workshop framework

[2018-07-31 19:11] Erioldoesdesign commented on #3131
Assigned self for the wireframe aspect of this work

[2018-07-31 19:13] willdoran opened #3185 "Add Artisan script to allow managing of maintenance mode"
### Overview
We need to be able to actually manage maintenance mode

### Requirements
- Artisan script should allow for setting maintenance mode for all deployments
- Artisan script should allow for setting maintenance mode for specific deployments

[2018-07-31 19:59] crcommons opened #3186 "Add translations for Maintenance Mode"
### Overview
Maintenance mode error messages return from the API need to be translated according to browser language or deployment language

Current strings:
- {deploymentName}/Deployment not found
- {deploymentName}/Deployment is not ready
- {deploymentName}/Deployment is down for maintenance

Aha! Link: https://ushahiditeam.aha.io/features/PROD-306

[2018-07-31 20:08] #3096 closed

[2018-07-31 20:27] jrtricafort commented on #3100
Got it, thanks.

[2018-07-31 20:36] sethburtonhall commented on #2669
Thanks, @Erioldoesdesign, good catch. This was a quick fix. Closing.

[2018-07-31 20:36] #2669 closed

[2018-07-31 20:40] willdoran commented on #3186
Anna did some work on this but it's might actually need to be ported from Kohana to Lumen. Basically
- we should translate API messages in the client
- we can translate them in the API instead
- We need to sync the API language files with transifex
- We need to re-implement some handling around translating data source options in lumen

[2018-07-31 20:44] willdoran commented on #3186
These might need to be ported to lumen
https://github.com/ushahidi/platform/pull/2860
https://github.com/ushahidi/platform/pull/3061

[2018-07-31 20:46] willdoran commented on #3186
@rjmackay is availalble as a reference to talk through good and bad of existing approach and concerns when porting for whoever is scoping this.

[2018-07-31 20:51] sethburtonhall commented on #3099
Thanks, @Erioldoesdesign. Small and quick change. Closing.

[2018-07-31 20:51] #3099 closed

[2018-07-31 21:07] sethburtonhall commented on #2665
Thanks @Erioldoesdesign. This is fixed and can be seen [here](http://preview.ushahidi.com/platform-pattern-library/ui-refresh/assets/html/2_molecules/#pl-pattern-list-items) and [here](http://preview.ushahidi.com/platform-pattern-library/ui-refresh/assets/html/5_layouts/settings.html). It was an easy fix, so I am closing.

[2018-07-31 21:07] #2665 closed

[2018-07-31 21:09] willdoran commented on #2865
@jrtricafort Shared files with @Shadrock he'll review.

[2018-07-31 22:26] jrtricafort opened #3187 "Enterprise page on dotcom is down"
**Describe the bug**
When I click on the Enterprise page on dotcom, I get a 404 error.

**Where was the bug observed**
https://www.ushahidi.com/enterprise

Reported by @katymoney27

![image](https://user-images.githubusercontent.com/37776843/43490653-826ab094-94ef-11e8-804f-b72938d2c753.png)

[2018-07-31 22:28] jrtricafort commented on #3187
Could this be related to this issue?
https://github.com/ushahidi/platform-cloud-interface/issues/313

In that issue, we had the URL changed from "/enterprise" to "/enterprise-partnerships"

When I go to /enterprise I get the 404
![image](https://user-images.githubusercontent.com/37776843/43490647-80422f36-94ef-11e8-8d60-45b0c017d1e0.png)

When I go to /enterprise-partnerships I get this internal s

[2018-07-31 22:54] sethburtonhall commented on #3187
@katymoney27 and @jrtricafort OK, so I accidentally pushed a bunch of "Enterprise Revamp" code that was meant to stay in the staging environment until testing was complete. Instead of struggling to reverse this, which would have taken longer, I decided to integrate the revamp changes. Please review content on https://www.ushahidi.com/enterprise-partnerships and let me know of any changes.

[2018-07-31 23:05] jrtricafort commented on #3187
@sethburtonhall I'll let @katymoney27 confirm whether or not it is okay for these new changes to be on production already. If it's not ready to be public for some reason, then we will need to roll this back and revert it.

Also @sethburtonhall we need to make the old /enterprise link redirect to /enterprise-partnerships. This was specified in the description criteria for this issue: https://github

[2018-07-31 23:16] jrtricafort commented on #3163
Next action here is for us to have a quick meeting between platform and DREAMS team to confirm this. I am setting this up for Thursday.

[2018-08-01 01:46] sethburtonhall commented on #3187
The "Enterprise" page is up and the revamp is on standby waiting to go into production. Sorry for the mix-up.

[2018-08-01 01:47] rjmackay commented on #3187
I believe the original page is now back up

[2018-08-01 11:13] Eve-wanderi commented on #2601
Confirmed in http://targetedsurveytesting.v3-qa.ush.zone/ works as expected.

[2018-08-01 11:43] Eve-wanderi commented on #3034
Confirmed text changed.

![image](https://user-images.githubusercontent.com/36038029/43519719-347ffcc2-9599-11e8-9f23-8ce51f80cc21.png)

[2018-08-01 14:01] Eve-wanderi commented on #3078
@rowasc I get this error when i try to upgrade my deployment http://targetedsurveytesting.v3-qa.ush.zone/views/map

![image](https://user-images.githubusercontent.com/36038029/43526279-7be8fe7a-95ac-11e8-83c2-a89a90c9b70f.png)

[2018-08-01 14:03] rowasc commented on #3078
oh, can you try using https? I just remembered that http will always end up in that error due to a security update elsewhere in the system

[2018-08-01 14:25] rowasc commented on #3187
@jrtricafort closing as the page is up again. Thanks @sethburtonhall  !

[2018-08-01 14:50] jrtricafort commented on #3187
Thanks @sethburtonhall !

[2018-08-01 14:52] willdoran commented on #1681
@Shadrock Changing the UI for displaying the results from the ML tools is no longer required yes?

[2018-08-01 16:58] rowasc commented on #3187
@sethburtonhall did something change? https://www.ushahidi.com/enterprise-partnerships seems to be down again with a 404

[2018-08-01 17:02] rowasc commented on #3078
@Eve-wanderi how did this go? were you able to test it again?

[2018-08-01 18:18] rowasc opened #3188 "Comrades-Stg reset password email is not being sent"
**Describe the bug**
The password reset email is not being sent from the comrades-stg site.

**Where was the bug observed**
https://comrades-stg.ushahidi.com

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://comrades-stg.ushahidi.com/
2. Request a password reset token for your user
3. You will not receive a password reset email

**Expected behavior**
3. You will receive a passwor

[2018-08-01 18:48] sethburtonhall commented on #3187
ushahidi.com/enterprise-partnerships will be the new link once we go live with the revamp. I rolled back my error and we are now back to ushahidi.com/enterprise

[2018-08-01 18:48] #3187 closed

[2018-08-01 18:50] rowasc commented on #3187
Thanks Seth. Sorry I bugged you on your day off, I didn't remember until 30 minutes ago :/

[2018-08-01 18:55] jrtricafort commented on #3188
@rowasc Is the password reset not being sent for any production deployments? Or just comrades-stg?

[2018-08-01 19:13] Eve-wanderi commented on #3159
Passed for me as well.

[2018-08-01 19:15] Eve-wanderi commented on #3078
@rowasc no still got an error.

[2018-08-01 19:16] Eve-wanderi commented on #3105
Confirmed i checked and reports have been replaced with Post. Passed QA.

[2018-08-01 19:47] rowasc commented on #3176
Do you know who will implement this in cycle 8? Is it something you or Katy have to do?

[2018-08-01 19:49] rowasc commented on #3163
Excellent. Removing the `consider for upcoming` tag as we considered it and added it :D

@jrtricafort : for awareness, @crcommons should be added to that call as she will work on it

[2018-08-01 19:49] rowasc commented on #3163
Nevermind she was already invited. Sorry

[2018-08-01 23:11] rowasc commented on #3188
just comrades-stg @jtricafort

[2018-08-01 23:14] justinscherer commented on #2005
We already show this information:

<img width="980" alt="screen shot 2018-08-01 at 5 13 49 pm" src="https://user-images.githubusercontent.com/29209303/43553857-5313866c-95ae-11e8-8094-635dab670d39.png">

[2018-08-02 15:55] Shadrock commented on #3131
@willdoran @kinstelli bump on this.

[2018-08-02 16:01] jrtricafort commented on #3163
Had a very in-depth discussion on this today. Will update the description. See this document for more details in the meantime:
https://docs.google.com/spreadsheets/d/1VZrArtQJYfzEv-qgHSdzrZVjmairHFTmtEHoTMtqrW4/edit#gid=0

[2018-08-02 16:19] jrtricafort commented on #3163
*Actions from Targeted SMS Survey Counting Call*

- @willdoran  Investigate the “D vs F” bug (see spreadsheet)-- create a new github issue to track
- @crcommons  Spec the implementaiton of the new table for the Activity page (e.g. tied to existing Targeted Survey feature flag, should support existing date filtering widget, etc etc)
- @jrtricafort Scope the new table - particularly coming up with u

[2018-08-02 17:54] rowasc commented on #3078
unblocked. You can re-test

[2018-08-02 19:08] willdoran commented on #3163
This is not accurate, Total Posts is the total Posts in the system, there is not a clear relationship between messages and posts. It won't be possible from the UI for someone to figure out the exact number of Targeted Survey messages sent, unsolicited texts and posts from other sources.

Total Posts is:
- The number of Targeted Survey Recipients
- plus The number inbound messages received not rela

[2018-08-02 19:11] willdoran commented on #3163
This is good so far but we will need to be able to divide the the posts by Survey or at least group them by Survey, so we might want to do columns as you have described but also add rows per survey that break down the numbers.

[2018-08-03 00:35] rjmackay commented on #3185
@willdoran @rowasc Moved this to Cycle 8

[2018-08-03 00:54] #3185 closed

[2018-08-03 15:55] jrtricafort commented on #3163
@crcommons @willdoran @rowasc

Will and I discussed and we decided to implement in Lumen first. We should get Lumen landed by end of next week (August 10). I think we should set an internal goal for this feature to be delivered for DREAMS by August 17 (two weeks from now). Let me know if that's realistic (assuming Lumen lands by Aug 10)

If we are running behind on that, then we can backport to Ko

[2018-08-03 21:17] rowasc commented on #3078
@Eve-wanderi can you confirm if this worked for you?
Thanks!

[2018-08-03 22:13] jrtricafort commented on #3163
As discussed in the Slack channel, we will use the mockup in this document as the format for our first iteration, then we will get the feedback from the DREAMS team

https://docs.google.com/spreadsheets/d/1VZrArtQJYfzEv-qgHSdzrZVjmairHFTmtEHoTMtqrW4/edit?userstoinvite=carolyn@ushahidi.com&ts=5b6335db&actionButton=1#gid=1660507835

There are two new tables. We should only show those surveys that ar

[2018-08-03 22:15] jrtricafort commented on #3163
Assigned to just @crcommons now.

[2018-08-06 10:47] Eve-wanderi commented on #3078
@rowasc  still facing the issue.

![image](https://user-images.githubusercontent.com/36038029/43712530-2bbfefb8-997f-11e8-81bb-2d2bea42bd6e.png)

[2018-08-06 13:44] rowasc commented on #3078
<img width="1295" alt="screen shot 2018-08-06 at 10 43 21 am" src="https://user-images.githubusercontent.com/2434401/43719968-92a7f956-9965-11e8-9570-984b2a921a8d.png">
This is passing in QA.

[2018-08-06 13:53] rowasc commented on #3175
@StaicyG I think this is something you started already, right? if the answer is yes, can you move it to "In Development"?
Thanks!

[2018-08-06 14:24] rowasc commented on #3077
@StaicyG should I move this to In Development? Do you need access to a QA env to review/get context on the changes? (QA environment can be the same one you used for the other doc task last week, if that's the case)

[2018-08-07 15:00] Erioldoesdesign commented on #2648
This sounds picky because it's like 1px but:
![Screen Shot 2018-08-07 at 15.58.46.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/e73f3a9b-e1fd-4af5-96bf-e1b200da43c0)

Height is supposed to be 55px...unless the 1px more breaks the layout I say keep it as 56px @justinscherer

[2018-08-07 20:37] Erioldoesdesign commented on #2702
Hey @crcommons can I ask you to cast your eye over these designs/ticket info when you get a chance and let me know if changing from the current pop-over/overlay/slide up style of time (and also date picker but time in this instance, breaks anything fundamentally in the client?

[2018-08-07 23:02] caharding opened #3191 "Research section of about page is broken"
<img width="977" alt="screenshot 2018-08-07 16 01 47" src="https://user-images.githubusercontent.com/1618793/43806999-4fb5ec10-9a5b-11e8-949d-ca72002f19e2.png">

[2018-08-07 23:28] Erioldoesdesign commented on #2641
Is the best links to test this these @sethburtonhall ?

http://preview.ushahidi.com/platform-pattern-library/ui-refresh/assets/html/5_layouts/activity.html

http://preview.ushahidi.com/platform-pattern-library/ui-refresh/assets/html/1_atoms/#pl-pattern-containers

http://preview.ushahidi.com/platform-pattern-library/ui-refresh/assets/html/5_layouts/data.html

http://preview.ushahidi.com/platform-p

[2018-08-07 23:30] Erioldoesdesign commented on #2657
Updating this ticket with a comment from our design sync today in that we're going with a *single column of checkboxes* for sort and filter as the 2-column, max 4 items proved difficult to layout with anomalies for checkbox lists of uneven numbers.

Moving back into ready for FE because I believe Seth is currently working on what we discussed

[2018-08-08 08:14] StaicyG commented on #3077
Yes, please assist me with QA credentials for me to test it out. Will move this to development.

[2018-08-08 12:17] justinscherer commented on #2648
As long as it's consistently 56, no worries.

[2018-08-08 14:26] Erioldoesdesign commented on #2648
Sweet. @sethburtonhall See above re. consistency of 56px ^^^

Closing ticket

[2018-08-08 14:26] #2648 closed

[2018-08-08 14:56] sethburtonhall commented on #2657
This is ready for QA [here](http://preview.ushahidi.com/platform-pattern-library/ui-refresh/assets/html/3_organisms/#pl-pattern-filters)

[2018-08-08 15:54] rowasc commented on #3191
@jrtricafort tagging so you can check this when you are back tomorrow

[2018-08-08 17:03] tuxpiper opened #3193 "Unable to recover forgotten password"
In the develop branch (lumen), I'm unable to recover a user's forgotten password. The e-mail is apparently never sent. This information is left in the api logs:

[code]

[2018-08-08 17:15] rowasc opened #3194 "IMPORT permission not working correctly in ushahidi.io"
See related https://github.com/ushahidi/platform/issues/3296 for more information
**Describe the bug**
When a user only has the Bulk Data Import permission, they cannot import data and get a permissions error.

**Where was the bug observed**
https://rominacsvsms.ushahidi.io/

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a ushahidi.io deployment
2. Log as a user that has only the Bulk

[2018-08-08 17:18] rowasc commented on #3194
@jrtricafort to prioritize

[2018-08-08 17:47] kinstelli commented on #3193
This should be fixed with #3032

[2018-08-08 18:02] kinstelli commented on #3153
Related: I pushed a commit to add `profile_tasks` to ansible.cfg in 302-snapshot-restore. There are a few profilers available for Ansible, but this seems the most straightforward.

[2018-08-08 20:30] willdoran commented on #3163
@crcommons This looks good, only one thing missing is:
- What happens when there is no data? We should probably display a message rather than a blank table. Can you add that as a requirement and also include it in the tests?

[2018-08-08 20:48] willdoran commented on #3153
@rjmackay This list looks good to start off with as it covers the main bases.

[2018-08-09 08:49] Eve-wanderi opened #3195 "New Users do not get an email once they are added to a deployment."
**Describe the bug**
New users do not get an email once added to a deployment.

**Where was the bug observed**
https://lumen.passage.ush.zone/settings/users

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://lumen.passage.ush.zone/settings/users'
2.Click on settings.
3.Click on users and add a new user

**Expected behavior**
New users should get an email notifying them that they

[2018-08-09 14:18] sethburtonhall commented on #3191
@caharding This is not down for me. Can you refresh and check again?

[2018-08-09 14:58] willdoran opened #3196 "[Platform Cloud Interface] Add Account Freeze State & Deployment End State"
### Requirements
- Add Expiration date to Deployments table
- Add Expiration extension data to Deployments table
- Set expiration date on creation of demo deployment
- Remove all Tier based limits on existing plans

### Acceptance Criteria
- On creation of new deployment an db entry is created with the correct tier and expiration date

[2018-08-09 14:58] willdoran opened #3197 "[Platform Cloud Interface] Add Account Freeze State & Deployment End State"
### Requirements
- [x] Add Expiration date to Deployments table
- [x] Add Expiration extension data to Deployments table
- [x] Set expiration date on creation of demo deployment
- [x] Set expiration date on update of demo deployment
- [x] Set expiration date on tier change of demo deployment
- [x] Remove all Tier based limits on existing plans
- [x] Add migration to add new tiers
- [x] Add migrati

[2018-08-09 15:12] willdoran opened #3198 "[Platform API] Add Account Freeze State & Deployment End State"
### Requirements
- When loading deployment from multi site check the current status of the Expiration and Extension date fields
- Check tier of Deployment
- If Demo tier
  - Restrict number of posts returned to be 25
  - Return number of Posts as part of config info
  - Return expiration <- should be the great of expiration date and extension date
  - Return Tier as part of config info
  - Direct

[2018-08-09 15:31] willdoran opened #3199 "[Platform Client] Add Account Freeze State & Deployment End State"
### Requirements
- Ensure that correct demo bar messages are displayed to users based on the criteria defined in [#329](https://github.com/ushahidi/platform-cloud-interface/issues/329)
- Add logic to check for current number of Posts
- Add logic to check for current expiration status
- Restrict operations based on current status of demo deployement
  - If expired, user should only be able to acces

[2018-08-09 15:48] #3196 closed

[2018-08-09 15:52] willdoran opened #3200 "[Platform Cloud Ansible] Add Account Freeze State & Deployment End State"
### Requirements
- [ ] Provide ability to remove expired deployments that have expired > 6 months ago
- [ ] Provide job that is scheduled to run frequently that removes expired deployments

### Acceptance Criteria
- Can remove deployments that have expired

[2018-08-09 15:53] rowasc commented on #3199
@willdoran  [export view for visitors](https://xd.adobe.com/view/babf344f-ced8-4ca7-46c8-531b05b75f22-cc8e/screen/7feff3e2-340c-4ea3-ab40-7e29af47efb9/tourist-view/) I'm not sure this link is correct since it shows the map and the demo bar, but I cannot find the view you mention that tells the user the deployment expired.

[2018-08-09 15:54] rowasc commented on #3200
I think this is correct.
Moving to ready for dev

[2018-08-09 16:08] willdoran commented on #3199
@rowasc updated

[2018-08-09 16:11] rowasc commented on #3199
cool . moved to ready for dev

[2018-08-09 16:16] rowasc commented on #3171
@tuxpiper @rjmackay I think I should move this to cycle 9 to handle after lumen is done, right?

[2018-08-09 16:21] rowasc commented on #2865
sent to "In review " column for @Shadrock  to confirm (this is a new setup to be able to track progress on non technical tasks or docs that need review)

[2018-08-09 16:23] rowasc commented on #2625
@jrtricafort @Erioldoesdesign can one of you update the issue with the final content/ the link to the final content?
Thanks!

[2018-08-09 18:06] rowasc commented on #3195
@jrtricafort to prioritize and tag. I don't believe this is a regression, it's not something we have ever done in production as far as I know, but it's kind of annoying and wrong that we don't let people know

cc @Eve-wanderi if this is something that is documented anywhere as a feature, or if this is something that is currently working in production, please let us know and we will assign it to cy

[2018-08-09 18:07] Erioldoesdesign commented on #2625
Hmm @jrtricafort @rowasc Due to the changes like Mapper-> Demo etc. my document doesn't make much sense anymore...

It'll need meshing with page 15-17 this one: https://docs.google.com/document/d/11sRWll-Irpmb2r_Py19b6P7PO1EjMFj90sNFm7C8WLI/edit#

Will do that asap and then it'll need another review from @katymoney27

[2018-08-09 18:34] rowasc commented on #2625
Excellent thanks. Sent it to "In review" assigned to Katy when ready and I'll follow up too :D

[2018-08-09 18:40] rowasc commented on #2888
eh so I never re-added this to a cycle. Sorry, it got lost at some point in the placeholder.
@jrtricafort I need to add this for cycle 8 , ffor myself.

[2018-08-09 21:26] rowasc commented on #3152
Setting up a 5 since it's a multi day thing . cc @Eve-wanderi is executing this, leaving it assigned to both of us

[2018-08-09 21:26] #3034 closed

[2018-08-09 21:26] #3159 closed

[2018-08-09 21:26] #2601 closed

[2018-08-09 21:26] #3033 closed

[2018-08-09 22:18] jrtricafort commented on #2625
Thanks @Erioldoesdesign ! That sounds great. And yup, @katymoney27 should be the primary reviewer here. (Katy, let me know if you need additional eyes to review after Eriol provides updated version).

[2018-08-09 22:19] jrtricafort commented on #3176
@rowasc This is on me to provide material to Katy. My goal is to have this done by end of this cycle8.

[2018-08-10 00:50] rjmackay commented on #3153
Tests so far:

- Simple sequential export 5%, paid and large deployments first. 1:25
- Batched export. Batch size 20, 5%, paid and large deployments first. 1:04

We need to run more tests with random batches, and different batch sizes. I want to try and batch the restore process first though

[2018-08-10 08:44] Eve-wanderi opened #3201 "Payment Plan for surveyor is mis-aligned."
**Describe the bug**
Surveyor payment plan details is misaligned. This only happens if user selects mapper and it fails then they select Surveyor.

**Where was the bug observed**
https://lumen.passage.ush.zone

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://lumen.passage.ush.zone'
2. Create a deployment
3. Click on 'Mapper' ensure you get a failed status
4. Click on Surveyor
5

[2018-08-10 09:45] Eve-wanderi opened #3202 "[Passage Env] Unable to export data. (Admin and Other Roles with export rights)"
**Describe the bug**
Unable to export CSV files all files showing status as pending.

**Where was the bug observed**
https://lumen.passage.ush.zone/settings/data-export

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://lumen.passage.ush.zone/settings/data-export'
2. Log in as 'Admin.'
3. Click on 'settings'
4. Scroll down to 'export' and select all fields.

**Expected behavior**

[2018-08-10 11:09] Eve-wanderi opened #3203 "[Passage env] Unable to Import data. (Role with import rights)"
**Describe the bug**
Users who have the Import Rights functionality cannot import files.

**Where was the bug observed**
- https://lumen.passage.ush.zone/settings/data-import
- Ushahidi.io deployments

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://lumen.passage.ush.zone/settings/data-import'
2. Log in as 'Role: import export'
3. Click on 'import'
4. Import file

**Expected be

[2018-08-10 12:32] #2657 closed

[2018-08-10 12:32] Erioldoesdesign commented on #2657
This looks fly. Closing this ticket :D

[2018-08-10 14:50] #3105 closed

[2018-08-10 14:51] #3078 closed

[2018-08-10 15:01] rowasc commented on #3201
@Eve-wanderi please post the steps to reproduce the failing subscription issue and link the issue here, since that issue has a higher priority and this ticket cannot be reproduced without it.

[2018-08-10 18:57] willdoran opened #3204 "[Platform Job Queue] Add Account Freeze State & Deployment End State"
### Requirement
- Add expiration/extension date config tasks
- Add deploy, migrate, configure support for expiration/exstension

[2018-08-10 19:16] sethburtonhall commented on #2702
The intention was to use a jQuery plugin to present the intended date/time functionality in the PL, knowing it would get implemented without jQuery in React. I tried several plugins but had a hard time getting them to work. So in the interest of time the date/time picker are browser defaults. We can discuss this more and implement the intended functionality when we move it over to the React CL.

Y

[2018-08-13 11:00] Erioldoesdesign commented on #2625
Updated my document: https://docs.google.com/document/d/13CiZbbL_0WxEBeUSIUjo5sD5bQkBFFLOVPQj0PE8Xek/edit?usp=sharing

This kind of ended up as duplicate work in a few ways but I saw value in doing it. @katymoney27 please review the document when you can because It may not meet the pricing work standards now. https://docs.google.com/document/d/13CiZbbL_0WxEBeUSIUjo5sD5bQkBFFLOVPQj0PE8Xek/edit?usp=

[2018-08-13 11:31] Erioldoesdesign commented on #2702
Styling is spot on the other form fields.

Only thing I don't see is the AM/PM indicators that update when you add in 24-hr time though this might be because of what you describe above re. needing React CL to do that part.

![Screen Shot 2018-08-13 at 12.29.08.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/515b60a6-0ad8-47ad-8bf9-649e6d1736b8)

![Screen Shot 2018-08-13 at 12.28

[2018-08-13 11:38] Erioldoesdesign commented on #2641
This LGTM but @justinscherer Would love to get your opinion on the following before closing this ticket.

When you have cards in data view and you have one selected so it indents, to follow the style of the fields that have a 1px border when zero state and a 2px, thicker border when 'focus' or active, do you think that when you have selected a card and it is indented 'active' it should also have a

[2018-08-13 14:36] Erioldoesdesign commented on #2640
Good stuff! purrrrfect~ closing ticket

[2018-08-13 14:36] #2640 closed

[2018-08-13 18:07] willdoran commented on #3200
@jrtricafort How long do you think we should wait before expunging old demo deployments? I have 6 months written down but may be something more like 1 month or 3?

[2018-08-13 18:47] sethburtonhall commented on #2641
I also forgot "View" and "Viewing" tabs. I'll pick it back up tomorrow.

[2018-08-13 22:27] jrtricafort commented on #3131
@rowasc This currently has three asignees, is that correct?

[2018-08-14 02:26] #3203 closed

[2018-08-14 02:26] rowasc commented on #3203
This issue is reported https://github.com/ushahidi/platform/issues/3194 as a pre-existing issue in the ushahidi.io deployments and should not be considered a lumen bug.

[2018-08-14 02:28] rowasc commented on #3202
@kinstelli  can you check this ? Otherwise I can pick it up on wednesday

[2018-08-14 02:31] rowasc commented on #3131
@willdoran is leading this and @kinstelli is also working on it, so they should be assigned. Not sure if Shadrock should be assigned.

[2018-08-14 02:36] rowasc commented on #3152
@Eve-wanderi can you confirm when you are done with the passage environment regression testing? thanks

[2018-08-14 13:43] rowasc commented on #2625
@katymoney27 after you review and approve this doc from @Erioldoesdesign ,  please edit the description with the update link and assign it to @sethburtonhall  so he can implement it(or if you need to, just ping me and I'll do it)
Thanks

[2018-08-14 16:52] Shadrock commented on #3131
![](https://github.trello.services/images/mini-trello-icon.png) [Wireframes & Software Report](https://trello.com/c/4e0ZdWAQ/1-wireframes-software-report)

[2018-08-14 19:35] Erioldoesdesign commented on #3131
Starting looking into wireframes for the first round of feedback from Dotsoft/ the consortium here: https://wireframe.cc/pro/pp/4f893d1be184868

Its seems to me the main actions are:
- Setting up a way for Ushahidi platform/s to be pulled into the dashboard to be displayed (Via API?)
      - Displaying posts, categories, collections, saved searches, users & roles.
- Same way to pull in MOJA/BRCK d

[2018-08-14 19:38] kinstelli commented on #3202
So far, all I've learned is that we're getting a lot of `Illuminate\Database\QueryException: PDOStatement::execute(): MySQL server has gone away` errors from the exporter log. This log only goes back to this morning, so I'm not sure if there could have been other issues prior to this.

@tuxpiper - I'm trying to connect to the DB from various passage machines using the config creds in exporter, but

[2018-08-14 20:58] sethburtonhall commented on #2625
I am keeping an eye on this and will implement when we launch new pricing.

[2018-08-14 22:15] Shadrock commented on #3131
Trying to add a bit more info here for @Erioldoesdesign. Might also be helpful for @willdoran & @kinstelli who are adding some diagrams and text. The wireframes are ultimately _aspirational_, so whatever you put together should be relatively basic and will probably be based on our best guesses. Your initial frames posted above look like a good start to me and your assumptions about the main action

[2018-08-15 10:37] tuxpiper commented on #3202
@kinstelli what were you trying exactly? I was able to connect with

`mysql  -h platcloud-passage.cdcy2axpb6yz.eu-west-1.rds.amazonaws.com -u cloud -p platform_export` and the password found in export_platcloud_harbinger_0:/var/www/export/config/database.php

[2018-08-15 12:12] Angamanga commented on #3199
@willdoran The PL-tag for the demo-bar is: v3.11.0-rc.6  and the html can be found here:
http://preview.ushahidi.com/platform-pattern-library/develop/assets/html/2_fragments/#pl-pattern-messages

[2018-08-15 13:48] jrtricafort commented on #3176
@rowasc Moving this to cycle 9, see above comment.

@rowasc @willdoran Is there a test environment where this is available to use, while we wait for it to go up on prod? That would be useful for Angie as she does the writeup.

@aoduor Following up on our conversation, assigning this to you for with target date end of next week (August 24). This is not on prod yet we can get a test environment for

[2018-08-15 16:28] Erioldoesdesign commented on #3131
Here's the flat image of multiple deployment work that I'm pretty sure Justin did:

<img width="436" alt="screen shot 2018-08-15 at 16 09 06" src="https://user-images.githubusercontent.com/11681324/44155619-b18aba7e-a0a5-11e8-8dca-d8a86092562b.png">

I'm pretty sure I can riff off this and include the 'Moja view' and also add an 'other data view'

What I would say is time consuming is doing page d

[2018-08-15 21:13] Erioldoesdesign commented on #3131
Sup! @Shadrock

So I've updated the wireframes over at: https://wireframe.cc/pro/pp/4f893d1be184868

In the top left you can swap between different pages. They are still vague (because they need to be due to not really knowing how the dashboard would need to be used post workshops)

I also did these:

![isooko-wf-dash-1](https://user-images.githubusercontent.com/11681324/44173477-f3976c00-a0d7-11e

[2018-08-15 21:20] rjmackay opened #3208 "Update composer deps prior to lumen deployment"
composer.lock and composer.json are out of sync. Needs to be fixed asap

[2018-08-16 00:16] #3208 closed

[2018-08-16 14:18] rowasc commented on #3193
Eve to retest in passage environment

[2018-08-16 18:11] sethburtonhall commented on #3095
@Angamanga can we work together to close this tomorrow?

[2018-08-16 18:12] sethburtonhall commented on #3094
@Angamanga, can this be closed? If not, maybe we can work together to close tomorrow.

[2018-08-16 18:43] #3202 closed

[2018-08-16 20:41] jrtricafort commented on #3200
@willdoran I think I answered this in slack but let's do 6 months.

[2018-08-16 22:29] Shadrock commented on #3131
@Erioldoesdesign these look great! I would love for you to drop both the wireframes and these mock-ups into the doc along with some text to explain them. The text can be as long or as short as you like and doesn't need to be formatted or written in any specific way. I just need the basic idea behind the wireframe or mock up. I'll add context and polish the text. I'll tag you in the doc so you know

[2018-08-16 23:50] kinstelli opened #3210 "[Platform Client] Passage env asks to confirm TOS after each login, despite confirmation"
**Describe the bug**
I'm guessing that this is simple, and that `TOS_RELEASE_DATE` is just not being set for platform-client env, but I'm making this placeholder ticket to inspect and confirm the situation before full migration.

[2018-08-17 07:50] Angamanga commented on #3095
@sethburtonhall I *think* we could close this but lets look at it when you are online!

[2018-08-17 09:10] Eve-wanderi commented on #3193
Failed QA i cannot reset my password i get the below error.

![image](https://user-images.githubusercontent.com/36038029/44257526-f055ca80-a214-11e8-8b02-d2176bf57c99.png)

[2018-08-17 09:39] Erioldoesdesign commented on #3131
Phew! I'm glad they meet the brief. Adding to the doc you linked me on in an email this morning and please do edit any of my text to make better sense if it doesn't :)

[2018-08-17 15:06] #3095 closed

[2018-08-17 15:06] #3094 closed

[2018-08-17 15:07] #3092 closed

[2018-08-17 18:59] aoduor commented on #3129
ping @jrtricafort - customer has flagged this issue once again and asked for resolution as quickly as possible.

[2018-08-17 20:13] rowasc commented on #3193
@kinstelli can you investigate?

[2018-08-17 21:24] batpad opened #3212 "URL for OAuth end-points in API docs is wrong"
**Describe the bug**

The documentation says the URL for the OAuth end-point is `/api/v3/oauth/token`. However, that URL returns a 404. The correct URL seems to be `/oauth/token` (without the `/api/v3` prefix).

**To Reproduce**
Steps to reproduce the behavior:

1. Visit `/platform/api/v3/oauth/token` as per http://github.ushahidi.org/platform/docs/api/index.html#authorization-with-oauth-2

**Expe

[2018-08-17 21:26] amalmurali47 commented on #3212
I can confirm this is reproducible for me as well.

[2018-08-17 22:08] rowasc commented on #3210
Assigned to cycle and tagging to release so it doesn't get lost