[2016-02-17 23:27] rjmackay opened #927 "Support more ways to import location points from CSV"
Import points from
- lat,lon
- lon,lat
- lat and lon as different columns

Aha! Link: https://ushahiditeam.aha.io/features/PROD-712

[2016-02-17 23:40] willdoran commented on #919
I've changed the behaviour so that a password update is not required when editing a user. On the edit user page, the password field is hidden initial. The user can click a text link 'Update Password' which then reveals the input box.

[2016-02-17 23:41] rjmackay opened #928 "Set email for admin user on first login"
Avoid invalid email by making a user set the admin email on first login

[2016-02-17 23:42] rjmackay commented on #921
Maybe the best solution is just to add a confirm dialog when saving a role with no permissions??

[2016-02-18 02:20] Shadrock opened #929 "Communicate to user which geographic database is being used."
When a user adds a post - if they use the location search - no real information is given about which database is being queried. This is important because certain databases will contain information that others do not. It appears that this deployment is using OpenStreetMap (OSM). I tested this by entering a highly specific business that was created in OSM. There is information at the bottom right of

[2016-02-18 02:31] Shadrock commented on #927
I would definitely like to see this. But wanted to make sure that we right extremely clear guidance on this... right now the guidelines are confusing even to me.

[2016-02-18 02:36] Shadrock opened #930 "CSV Import Guidance needs editing"
This is still quite confusing. The guidance about geographic information looks like I need to script something... I doubt most users were understand this. I would suggest either using standard geographic terminology or ley terms such as "column".
![csv_import_guidance](https://cloud.githubusercontent.com/assets/4574998/13132130/4d4bb2de-d5be-11e5-8e68-b938d09e2594.png)

[2016-02-18 02:39] caharding commented on #908
Ideally we can integrate whatever locations we had in Crowdmap at some
point in the future. You may need to change the UI so it doesn't create
this expectation in the short term.

On Wed, Feb 17, 2016 at 3:03 PM, Robbie Mackay <notifications@github.com>
wrote:

--
Charlie Harding
Product Director

[2016-02-18 04:35] Shadrock opened #931 "Uploaded .csv does not display"
I might be missing something... but I uploaded a .csv (downloaded from the RNI deployment: http://rni.ushahidi.com/reports/download) which seemed to go just fine but never displayed in any way.

[2016-02-18 05:22] aoduor commented on #931
I'm not sure csv files from v2 work, unless the columns match the structure of your post type

Handheld Sent,

Angela Oduor Lungati,
Director of Community Engagement,
Ushahidi | www.ushahidi.com

[2016-02-18 06:44] aoduor opened #932 "CSV Data upload failed, but user notification says it was successful"
I created a test CSV upload file using MS Excel for Mac(don't give me no stinky eye :D) for basic post type with the following columns(purposely leaving out categories AND not setting location to lat/lon columns as instructed on the page)
* Title
* Description
* Location

On upload, I got a message saying "File upload successful", yet it failed

![icry](https://49.media.tumblr.com/tumblr_mbqk0s3ar

[2016-02-18 06:53] aoduor opened #933 "Inform user on number of successful posts uploads"
Recommendation from how we did this in v2. Suppose a user is uploading 200 posts, but maybe 3/5 of them are duplicates and the CSV uploader detects this. The user should be notified that 197/200 posts successfully uploaded, perhaps with a list of the three that failed, and reasons why.

[2016-02-18 06:56] aoduor opened #934 "Add favicon to deployments"
Would be great to have these :). But this is a very, very, very minor issue.

Right now we only allow a "deployment logo" that is used in the site description shown in the map view.

Expected behavior:
- A deployer can also set up a custom favicon to their deployment through the Settings->General page

Aha! Link: https://ushahiditeam.aha.io/features/PROD-710

[2016-02-18 07:00] aoduor opened #935 "Improve Validation before attempting to upload CSV file"
I purposely did not select a post type before selecting the file I would like to upload, and again, I got a prompt telling me my file upload was successful.

![whhy](http://i.imgur.com/I6jHU1s.jpg)

Aha! Link: https://ushahiditeam.aha.io/features/PROD-709

[2016-02-18 07:12] aoduor opened #936 "Consider Geocoding of locations in CSV files"
As it stands now, per instructions on the data import page, users have to specify lat/lon values. While in cases where we're simply using a CSV file downloaded from another v3 deployment, as it stands now, users are manually creating CSV files to upload. Assume a user has 100-500 posts they're trying to upload, they would have to check for lat/lon information for all these 100/500 posts. It would

[2016-02-18 07:19] aoduor commented on #930
Yeah, i'm a little confused here too.

[2016-02-18 07:37] jasonmule opened #937 "Mapping of CSV columns fails"
When you click Import CSV, upload of the CSV file fails:

[code]

[2016-02-18 07:38] aoduor opened #938 "Questions on CSV Upload"
1. Does a user need to set Column Headers? If yes, are these case sensitive?
2. Does the order of the columns affect upload?
3. How are we handling duplicate posts?

[2016-02-18 07:43] aoduor commented on #930
Another recommendation, it might be worth actually giving what a sample csv upload file would look like to the user on this instruction page, maybe have that dynamically switch based on post type selected by a user.

See below( akin to v2)

![upload](http://i.imgur.com/FSbj3z4.png)

[2016-02-18 08:45] rjmackay commented on #937
Fixed by https://github.com/ushahidi/platform-client/pull/92

[2016-02-18 08:45] #937 closed

[2016-02-18 08:47] rjmackay opened #939 "Expose max file size on media/csv APIs"
Need to expose max file size so we can inform users
- Expose max file size from api
- Show max file size on image upload  before users attempt to upload files
- Show max file size on csv upload before users attempt to upload files

Aha! Link: https://ushahiditeam.aha.io/features/PROD-708

[2016-02-18 08:51] rjmackay commented on #867
I'm still seeing this issue on `develop` .. on the QA site. Will investigate further

[2016-02-18 08:59] aoduor opened #940 "Missing post fields in while attempting to match to CSV columns"
ATM, our qa deployment has a basic post type with the following fields:-
* Title
* Description
* Categories
* Location

On attempting to match them with my CSV Columns, I only get Title and Location as field options to match to.

[2016-02-18 09:25] aoduor opened #941 "Update language strings for error message returned when cancelling import"
On cancelling a CSV Import, i got this error message

![screenshot](http://i.imgur.com/fn6zJ7D.png)

[2016-02-18 09:28] aoduor commented on #931
I take that back. You can upload ANY csv file, and then you'll get redirected to a page that asks you to map your CSV columns to post fields of the post type you had earlier selected. I think we can close this one, yes @rjmackay?

[2016-02-18 09:37] aoduor opened #942 "No new posts Imported after successful field mapping"
After mapping CSV columns to post fields and clicking on "Finish Import", I got a message saying my import was successful, but on navigating to the all posts page, no new posts exist.

Tried with two different CSV files, no luck.

[2016-02-18 09:51] rjmackay opened #944 "Give feedback when importing from CSV"
Need to show how many records imported / failed etc..

[2016-02-18 09:56] aoduor commented on #944
Related to #933. I'll close this one out?

[2016-02-18 09:56] #944 closed

[2016-02-18 10:05] rjmackay commented on #938
Does a user need to set Column Headers? If yes, are these case sensitive?

Yes they need to have headers, however these headers can be whatever you like

    Does the order of the columns affect upload?

No

    How are we handling duplicate posts?
We're not at the moment

[2016-02-18 10:05] #938 closed

[2016-02-18 10:09] aoduor commented on #938
Thanks @rjmackay :)

[2016-02-18 10:34] rjmackay commented on #942
I've deployed an update which should at least show # of records import or failed.
Try again in 2 mins and see if that tells you anything?

[2016-02-18 10:39] rjmackay commented on #941
Fixed by ushahidi/platform-client@6d21022

[2016-02-18 10:39] #941 closed

[2016-02-18 10:40] rjmackay commented on #940
- Added description.
- Improving locations
.. categories will have to be post launch

[2016-02-18 10:43] rjmackay commented on #933
ushahidi/platform-client@107ab5f reports # of imported/failed .. but no further reporting

[2016-02-18 10:43] rjmackay commented on #932
Fixed - this was a bug in the client.
ushahidi/platform-client#92

[2016-02-18 10:43] #932 closed

[2016-02-18 12:07] rjmackay commented on #935
Minimal validation care of ushahidi/platform-client@50fdbc7

[2016-02-18 12:08] rjmackay commented on #935
I think we need to improve this still - but much lower priority

[2016-02-18 12:18] aoduor opened #945 "Add 'configure posts' step to CSV import"
CSV import needs a second step to configure fixed values. This was designed but not implemented
http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/settings-import-values.html

- [x] Add option to publish posts imported via CSV during import process
- [x] Add option to set categories on imported posts
- [x] Assign value to unused post fields
- Skip the 'verified' toggle as it

[2016-02-18 12:20] #940 closed

[2016-02-18 12:20] rjmackay opened #946 "Ability to import categories from CSV"

[2016-02-18 12:21] #942 closed

[2016-02-18 12:30] #867 closed

[2016-02-18 12:30] #912 closed

[2016-02-18 13:01] rjmackay opened #947 "CSV import fails on Mac OS9 line endings"

[2016-02-18 13:03] rjmackay commented on #947
![manage users qa deployment](https://cloud.githubusercontent.com/assets/7965/13144048/e45163ba-d6ac-11e5-84ea-13078c936603.png)

[2016-02-18 13:27] jshorland commented on #945
I second this.

Jess Shorland
Product manager
jess@ushahidi.com

[2016-02-21 22:38] rjmackay opened #949 "Multisite 404 actually returns a HTTP 500"
https://testttest.api.ushahididev.com/api/v3/config returns
`HTTP_Exception_404 [ 404 ]: Deployment not found ~ APPPATH/classes/Ushahidi/Multisite.php [ 73 ]` in the body but actual response code is 500

[2016-02-21 23:34] #931 closed

[2016-02-22 03:25] rjmackay commented on #930
Can I close this out? We've redone the way we handle lat/lons so its more clear.

[2016-02-22 03:25] #888 closed

[2016-02-22 03:26] #891 closed

[2016-02-22 05:58] aoduor commented on #930
I think we can.

[2016-02-22 05:58] #930 closed

[2016-02-22 12:23] aoduor opened #951 "No validation during CSV/Post field matching process"
I successfully imported a CSV file, but "Forgot" to match CSV columns to post fields, and when I clicked "Import", a blank record was imported into my instance.

[2016-02-22 12:48] aoduor opened #952 "Non descript alert passed to user when creating a user whose password doesn't meet set rules"
I tried creating a psssword with 5 characters for a new user, as expected, i was unable to successfully create the user.

The password field was highlighted in red, and the I got a blank alert as shown below:-

![blankalert](http://i.imgur.com/d5yVYJb.png)

While I know that the password field is the problem because it's highlighted, we need to add a proper error message to pass to the user.

Also

[2016-02-22 16:39] willdoran commented on #951
Technically, only required fields need to be set and we have a validation check for that but I agree there is no reason to import empty entities. I've added a check with an alert saying that at least one field must be assigned to proceed.

[2016-02-22 16:49] willdoran commented on #951
This is done and will be merged into develop.

[2016-02-22 16:49] #951 closed

[2016-02-22 16:51] willdoran commented on #952
I'll take a look at the blank error message now.

The current requirements for password are:

minlength="7"
maxlength="72"

We're not forcing anything else at the moment.

[2016-02-22 16:54] willdoran commented on #919
This was merged into the last release.

[2016-02-22 16:54] #919 closed

[2016-02-22 17:08] willdoran commented on #952
@aoduor I'm seeing an error message that says:

Validation Error
password must not be empty

It should include the min and max length. Would you mind rechecking that you get the blank error message when you try to save with a password of 5 characters?

[2016-02-22 23:08] rjmackay commented on #952
Thats very weird. Those blank errors should only be happening with API 500 errors right now and 1. we should ever have a 500 for a normal usecase (ie. validation fail) 2. we can expose messages from the 500s by fixing Access-Control headers on the API too

[2016-02-24 02:09] rjmackay opened #953 "Notifications are never queued"
1. Create a saved search for post within 100km of Auckland
2. Set up notifications: email + SMS
3. Add a new post with location Auckland.
- Confirm post shows up in saved search.
Expected: messages queued to send
Actual: No messages are ever queued

[2016-02-24 02:11] #898 closed

[2016-02-24 02:11] #899 closed

[2016-02-24 02:11] #900 closed

[2016-02-24 02:11] #859 closed

[2016-02-24 02:11] #844 closed

[2016-02-24 02:11] #883 closed

[2016-02-24 02:11] #526 closed

[2016-02-24 02:13] #897 closed

[2016-02-24 07:01] rjmackay commented on #953
@jasonmule can you look into this? I haven't tried to reproduce locally yet.
This is a problem for the KRC deployment so needs to get fixed asap

[2016-02-24 12:49] jasonmule commented on #953
I tried to reproduced this locally and it's possible that this fails because of the following reasons:

1. The user has not subscribed to notifications. When the user adds a notification for the first time, it's probably a good idea to direct them to manage their notifications and add at least one contact.
2. The post has not been published. At the moment we only send out notifications for publish

[2016-02-24 15:18] sebm90 commented on #953
When I tried at krcs.ushahidi.io, I checked that I was subscribed to notifications before publishing a post, and made sure that the post had been published (and all post steps completed). The notification was still not sent.

[2016-02-24 16:25] jasonmule commented on #953
Thanks @sebm90. We should probably still remind you to add a contact if you don't have one when you subscribe.

[2016-02-24 16:42] sebm90 commented on #953
@jasonmule Could you explain what adding a contact involves? Aren't my own contact details (my email, which is already in the system) enough? Does this need to be a different person?

[2016-02-24 17:22] jasonmule commented on #953
@rjmackay Did you ran `bin/ushahidi savedsearch` ?

[2016-02-24 17:31] jasonmule commented on #953
@sebm90 Could you go to Manage notifications and check that your email contact is turned on to receive notifications?

[2016-02-24 19:03] rjmackay commented on #953
oops that was me not a bot.

[2016-02-24 22:33] #407 closed

[2016-02-25 21:19] #847 closed

[2016-02-26 09:46] sebm90 commented on #953
@jasonmule My email contact is turned on and was turned on when I tested notifications:
![image](https://cloud.githubusercontent.com/assets/5349387/13348856/3d597640-dc76-11e5-9185-b95a90b30d00.png)

[2016-02-26 10:16] sebm90 opened #954 "Duplicate notification options in Notifications view"
- On krcs.ushahidi.com, I login and go to "Notificatons"

- Expected behaviour: I see one notificaiton option for my saved search "Fire Reports"

- Actual behaviour: I see 18 "Fire Report" notification options:
![image](https://cloud.githubusercontent.com/assets/5349387/13349474/59d7edf2-dc7a-11e5-9bda-9c152777f653.png)

[2016-02-26 11:56] aoduor opened #955 "On log in screen, clarify that you can user either email address/username to log in"
As it stands now, the UI asks for "Email address" and password, while we can actually use usernames and passwords to log in.

For clarity's sake, maybe we should clarify that you can use EITHER your email address OR a username?

[2016-02-26 14:01] aoduor opened #956 "Map base layers unavailable"
On the map settings page, we've got a drop down to select a default base layer, but there are no options listed under it.

![screenshot](http://i.imgur.com/5OlL098.png)

[2016-02-28 21:05] rjmackay commented on #955
This isn't correct. Users don't HAVE a username.
The only case where email isn't really email is on the first login with admin / admin. Thats only because I haven't figured out a better solution yet. However for all cloud deployers, they can only ever log in with an email.

[2016-02-28 21:38] #933 closed

[2016-02-28 21:48] rjmackay commented on #837
@brandonrosage @middle8media UI feedback. Don't know if this needs immediate action really.

[2016-02-28 21:53] rjmackay commented on #809
@willdoran did this happen? Can you update the status?

[2016-02-28 21:54] rjmackay commented on #803
@middle8media @brandonrosage can someone confirm if this is fixed??

[2016-02-28 21:59] #772 closed

[2016-02-28 22:07] rjmackay opened #3565 "Add View settings"
- Should contain settings for map, list and other views
- Should include selecting the default view
  .. TODO: find old designs for this

Aha! Link: https://ushahiditeam.aha.io/features/PROD-707

[2016-02-28 22:10] rjmackay commented on #743
Should be fix by #821 when we drop doorbell

[2016-02-28 22:11] #732 closed

[2016-02-28 22:13] #682 closed

[2016-02-28 22:14] #523 closed

[2016-02-28 22:14] #529 closed

[2016-02-28 22:17] #483 closed

[2016-02-28 22:20] rjmackay commented on #423
@jshorland this might actually be done. Can you check??

[2016-02-28 22:21] #400 closed

[2016-02-28 22:21] rjmackay commented on #380
Covered by mustang designs.

[2016-02-28 22:21] #380 closed

[2016-02-28 22:22] #362 closed

[2016-02-28 22:22] #358 closed

[2016-02-28 22:23] #360 closed

[2016-02-28 22:23] rjmackay commented on #341
@willdoran I think this is done right? can you close this out if it is..

[2016-02-28 22:24] #339 closed

[2016-02-28 22:24] #338 closed

[2016-02-28 22:26] #331 closed

[2016-02-28 22:27] rjmackay commented on #327
Mustang iterations address this.

[2016-02-28 22:27] #327 closed

[2016-02-28 22:27] rjmackay commented on #324
Not sure what this means?

[2016-02-28 22:27] #324 closed

[2016-02-28 22:27] rjmackay commented on #317
I think this is getting address with design iterations

[2016-02-28 22:27] #317 closed

[2016-02-28 22:28] #302 closed

[2016-02-29 00:37] rjmackay commented on #314
Assigned to Brandon for input to future designs.

[2016-02-29 00:55] rjmackay commented on #884
@willdoran Could you summarize what needs to be done in the description for this ticket? ideally use the checklist formatting so we can check things off.

[2016-02-29 00:57] #291 closed

[2016-02-29 01:39] rjmackay commented on #953
Just reproduced the issue locally for myself.
`bin/ushahidi savedsearch` yields " 2 posts were added "
But then `bin/ushahidi notifications queue` says "0 messages queued for sending"

[2016-02-29 01:40] rjmackay commented on #953
Looking in the DB. `posts_sets` is being populated for the posts I added, but only for the default sets: All post, and published posts. Its not picking up the saved search for post near Auckland that I added.

[2016-02-29 01:51] rjmackay commented on #953
Looks like the saved search criteria includes some values which get filtered out by the client, but don't work when used directly on the server. ie. form = 'none'
We'll need to fix our handling for those on both client and server I think

[2016-02-29 08:25] aoduor opened #957 "Unable to place marker on location"
Via intercom

"My deployment is:

https://cyclonewinston.ushahidi.io/views/map

I have been locating information from filtered tweets but sometimes the interface wont let me add a location to the map. It mostly happens when I can’t find the location using the search tool and I manually scroll and zoom to the desired location. Once I have the location centred on the map I can no longer just click o

[2016-02-29 16:43] willdoran commented on #341
Yes, it is.

[2016-02-29 16:43] #341 closed

[2016-02-29 17:42] willdoran commented on #884
**Home: list**
- **Missing features:**

- [ ] "Mark as" button
- [ ] "Export" button
- [ ] "Share" button
- [ ] Icon beside role, Custom Roles UX should allow setting of an icon for the role
- [ ] Comments
- [ ] “via SMS” on Post item - data source origin identified - twitter, sms, etc. We don't currently capture or display this information and we probably should.
- [ ] Post type - colour type - a

[2016-02-29 18:52] jasonmule commented on #953
@rjmackay When the saved searches were added, was there a contact turned on to receive notifications? Could you clarify the bit about only default sets?

[2016-02-29 18:53] #517 closed

[2016-02-29 19:10] rjmackay commented on #840
I think the issue here is that if you can't geolocate an address, theres no other way to place a marker??

[2016-02-29 19:20] rjmackay opened #958 "Create dashboard"
We need the following metrics generally:
- Number of deployments by plan over time
- Number of signed up users by role (those that can log into deployments)
- number of logins over time by user type (admin, member, custom)
- Number of posts over time by status, and by source
- Number of data sources configured by type
- Average number of post types per deployment
- number of alert (notifications)

[2016-02-29 19:26] jshorland commented on #766
I'm pretty sure this was fixed, but now there is issue #956 which is P0

[2016-02-29 19:30] jshorland commented on #769
Closing. this was fixed.

[2016-02-29 19:30] #769 closed

[2016-02-29 19:34] jshorland opened #959 "Post types not showing in filters"
Post types:
on filtering navigation bar, it doesn’t differentiate between post types, just says “all types” and “unstructured”

![screen shot 2016-02-29 at 11 27 55 am](https://cloud.githubusercontent.com/assets/3224856/13406446/8840a35e-def1-11e5-9b82-878647296388.png)

[2016-02-29 20:03] jshorland opened #960 "Map editor is on default location, not marker location+zoom"
In individual post edit view, the map view under "location" is centered on the map settings default location and zoom. It should be on the lat/lon of the post that has been uploaded via CSV.

[2016-02-29 20:26] rjmackay commented on #957
@aoduor can you figure out steps to reproduce this at all? I can't make it happen..

[2016-02-29 20:30] #840 closed

[2016-02-29 20:34] rjmackay commented on #960
This *might* happen on normal posts, not just CSV

[2016-02-29 21:38] #766 closed

[2016-02-29 21:40] rjmackay commented on #644
@middle8media Can you ensure this is fixed in the client to? Not sure if the markup was ever updated.

[2016-02-29 21:41] #809 closed

[2016-02-29 21:45] #845 closed

[2016-02-29 21:50] rjmackay commented on #870
Replaced by https://github.com/ushahidi/platform-cloud-interface/issues/102

[2016-02-29 21:50] #870 closed

[2016-02-29 21:59] rjmackay commented on #884
Thanks @willdoran I'll break this down into smaller tasks (especially for the 'not implemented' things)

[2016-02-29 22:11] CJBann commented on #957
This happens on both Internet Explorer and Chrome browsers when editing a post to add a location. If you zoom into the map to the point where the land becomes plain white and pan around a bit, then try and place a marker. Eventually after panning and zooming you can no longer add a marker. If you zoom out enough you will be able to place the marker again, but then zoom in and it doesn't work.

[2016-03-01 15:55] jasonmule commented on #953
So the `savedsearch` task uses the filters saved with the saved search. The only way I was able to reproduce the issue where 0 messages were queued is when there is no contact subscribed to the queued posts.

[2016-03-01 18:49] jasonmule opened #961 "Admin can view all notifications and contacts"
Fix this so that users can view only the notifications they are subscribed to on the current UI.

[2016-03-02 18:02] willdoran commented on #959
I think this is actually two issues:

1. Unstructured is being displayed
2. filters are not being updated when categories or post types are added.

[2016-03-02 18:37] willdoran commented on #959
Ok this should be fixed by [104](https://github.com/ushahidi/platform-client/pull/104)

[2016-03-02 18:37] #959 closed

[2016-03-02 18:58] FIU-Editor opened #963 "Blank General Settings Page"
The page for General Settings is blank. We did not have this issue with Ushahidi v3.1, so what could have caused this?

![blank general settings](https://cloud.githubusercontent.com/assets/17600339/13471460/affd5f52-e07e-11e5-8321-7ac20521453c.PNG)

[2016-03-02 19:00] willdoran commented on #963
Hi what tag version are you using for the client?

[2016-03-02 19:13] FIU-Editor opened #964 "Extra, Non-deletable Step in Post Type & Lack of Step Options"
When adding a post, there is an impassable step by the name of "Post" with nothing but a long text box "description" field, before the step that was added manually. This is of great concern because it may impede the ability of users to input data in our deployment.

![post types step issue](https://cloud.githubusercontent.com/assets/17600339/13471807/2eb497a6-e080-11e5-94b1-50bbba326b97.png)

In a

[2016-03-02 19:18] willdoran commented on #964
@FIU-Editor Hi there,

Are you working from the master branch?
The first aspect will be fixed in the next patch. I'm adding issues for the update/delete of steps. We'll have that fixed as soon as possible.

[2016-03-02 19:18] willdoran commented on #964
@middle8media
Can we add UI to the pattern library to cover step name edit and step delete? And I can implement them in the client.

[2016-03-02 21:57] middle8media commented on #964
@willdoran this should be good to go

[2016-03-02 21:57] willdoran commented on #964
@middle8media perfect thanks I'll add it in.

[2016-03-02 21:58] middle8media commented on #964
actually, making a quick fix now

[2016-03-02 22:02] middle8media commented on #964
good to go now. @willdoran let me know how it goes.

[2016-03-02 22:59] willdoran commented on #964
@FIU-Editor this is in this [pull](https://github.com/ushahidi/platform-client/pull/107) once it's through our tests I'll merge it to master and let you know!

Thanks for reporting the bug!

[2016-03-03 00:24] rjmackay commented on #961
I think we're double point scoring this, by scoring this issue AND #954

[2016-03-03 12:46] jasonmule commented on #961
Closing this as it's most likely a duplicate of #954

[2016-03-03 12:46] #961 closed

[2016-03-04 01:16] rjmackay commented on #953
Looks like this was dependent on state - filters from previous searches leaked into the next one.

[2016-03-04 18:10] FIU-Editor commented on #963
I'm working with the open-source version, so I suppose the master branch.

[2016-03-04 18:11] FIU-Editor commented on #964
Thank you for your help!

[2016-03-04 18:17] willdoran commented on #964
@FIU-Editor Ok great, I will hopefully be integrating the fixes into master today. I will update here once it's done!

[2016-03-04 19:34] #644 closed

[2016-03-07 19:59] willdoran commented on #956
This is fixed and waiting for merge into master.

[2016-03-07 19:59] #956 closed

[2016-03-08 02:23] aeroheart-c6 opened #969 "Missing API Endpoints Resulting in Login Failures"
### The Setup

Tried to deploy Ushahidi 3.x on an Apache server. I managed to fix the links and everything so the client is now able to redirect to different parts of the app, and also reference the api url properly.

This frontend installation has a base url under `/monitoring-v3`. And the platform is based under: `/monitoring-v3/platform`
### Logging in

Initially, when logging in, the API endpo

[2016-03-08 03:37] rjmackay commented on #969
A few things to start with:
- install.php doesn't do any install, it just checks if requirements are there.
- You need to run migrations with phinx by running `bin/phinx -c application/phinx.php`

But it sounds likely you've just got mismatched versions of the API and client. Those scopes and endpoints were added with a recent release make sure you have the latest code for both platform and platfo

[2016-03-09 12:08] jasonmule commented on #960
Could not reproduce this. Could you confirm if this is still happening?

[2016-03-09 19:42] #863 closed

[2016-03-09 19:42] willdoran commented on #863
This was fixed in the past release.

[2016-03-10 12:14] aeroheart-c6 commented on #969
Hi, thanks for the response. I currently reset my copy of the repositories to `v3.2.1-rc.1`.

I have to ask, I assume that's `bin/phinx migrate -c application/phinx.php` right? Because I'm currently having problems with `bin/phinx migrate -c application/phinx.php`. It's giving off a `invalid default value for 'end_time' error. I'm attaching a screen shot of the red box generated by phinx:

![scree

[2016-03-10 21:09] jasonmule opened #972 "No option to add an email address when configuring an email data source"
### Expected behaviour
A user should be able to add an email address to send out messages when configuring an email data source.
### Actual behaviour
There is no option to configure an email address when adding an email data source.
### Steps to reproduce the behaviour/error
Go to Settings>Data Sources and add Email provider. The option to add an email address for sending out emails is unavailable

[2016-03-11 15:07] jshorland opened #973 "Delete all option"
User requested a "delete all" function instead of deleting by page groupings (which I believe it 20 at a time at the moment).

He set up a twitter search that pulled in thousands of tweets in a short period of time and was not able to handle the volume. He wanted to delete all of the tweets and start over, but deleting 20 at a time was cumbersome and tedious and so he gave up.

[2016-03-11 15:08] jshorland opened #974 "Handling large volumes of tweets"
Mechanism to flag and handle large volumes of tweets in quick succession if twitter search is broad.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-706

[2016-03-11 15:42] #972 closed

[2016-03-13 03:47] aeroheart-c6 commented on #969
Update: It was a MySQL sql_mode issue. Just removed the NO_ZERO_DATE option in the strict mode and the migrations worked fine.

Also, after the migration, I was able to login into the site already. Thanks!

[2016-03-13 03:48] aeroheart-c6 commented on #969
As an addition, wouldn't it be a nice thing to have an option to be able to easily deploy ushahidi with a fixed url prefix rather than assuming it's always in the root `/` url?

[2016-03-14 17:41] jshorland opened #979 "Archive a deployment feature"
Needs a scope at some point when we're ready.

[2016-03-14 18:05] jshorland commented on #350
I can't replicate this. Can anyone else?

[2016-03-14 18:28] jshorland commented on #964
Was this finished @willdoran and can we close?

[2016-03-14 19:22] willdoran commented on #964
Yep, this is in develop and will go into the next release.

[2016-03-14 19:22] #964 closed

[2016-03-14 20:15] jshorland opened #980 "Two factor authentication"
Add two factor authentication to API

Aha! Link: https://ushahiditeam.aha.io/features/PROD-705

[2016-03-15 11:34] jasonmule opened #981 "Multiple notification messages for the same post"
A user subscribed to multiple saved searches will get multiple notifications for a post if the post is added to multiple saved searches.

[2016-03-15 14:28] jshorland opened #983 "Add intercom into OSS with opt out option"
Intercom integrated into OSS deployments, but ONLY if we have a clear and upfront opt-out option.

[2016-03-16 15:42] jshorland opened #984 "Responder client having trouble with email integration"
Deployment url: guyanaelectiontracker.ushahidi.io (soon to be switched to votelikeaboss.ushahidi.io)

note from client:

I've been having some issues with capturing posts via email in the platform. Basically, I've configured the email data source as required and tested the function but to no avail. I am able to see the emails sent to the specific email address via an external client but not within

[2016-03-16 20:00] willdoran commented on #860
This should be fixed in the current release :)

[2016-03-16 20:00] #860 closed

[2016-03-16 20:02] willdoran commented on #839
This is still occurring. @middle8media could you take a look?

[2016-03-16 20:05] willdoran commented on #838
Using the current release version I am not able to reproduce this.

@pierreverbakel could you test with the newest version of the platform and client?

[2016-03-16 20:06] willdoran commented on #821
This has been created and setup to work with intercom for cloud. It passes more details about the user and makes the session active only while the user is logged in.

[2016-03-16 20:06] #821 closed

[2016-03-16 20:07] willdoran commented on #813
This is currently waiting on final review before being merged into develop.

[2016-03-16 20:11] willdoran commented on #350
I don't see this either but I'm wondering if this functionality still exists? Was this for guest posting?

[2016-03-16 20:23] middle8media opened #985 "Date Range picker overlaps the input and displays off screen on small screens"
### Expected behaviour
the date picker should not overlap the input, nor should it display off screen

### Actual behaviour
![upload_thumb](https://cloud.githubusercontent.com/assets/1033332/13827482/1f47c7a2-eb93-11e5-92fa-d6d39516fe52.png)

![image](https://cloud.githubusercontent.com/assets/1033332/13827505/31e2d834-eb93-11e5-8dfc-ff1e2c479a35.png)

### Steps to reproduce the behaviour/error
on

[2016-03-16 20:26] willdoran commented on #397
This is done and in PR [129](https://github.com/ushahidi/platform-client/pull/129)

[2016-03-16 20:42] middle8media commented on #839
screenshot of error for reference. I will get on this asap.

![image](https://cloud.githubusercontent.com/assets/1033332/13828031/e8d6145a-eb95-11e5-9b21-023ac97b2988.png)

[2016-03-16 21:03] rjmackay commented on #350
This should appear for non-logged in users. I think we've lost the functionality entirely.. though it was kinda half baked.

I think it'd be good to put back in - otherwise we never have contact details for a post from non logged in users. @jshorland what do you think?

[2016-03-16 21:08] willdoran commented on #980
If we are ok with the user installing google authenticator we can go this direction:
https://github.com/antonioribeiro/google2fa
http://www.slideshare.net/allandenot/two-factor-authentication-with-laravel-and-google-authenticator

We could also go the yubikey direction:
https://github.com/bitbeans/Yubikey

Are there other nicer services we could use?

[2016-03-17 09:54] aoduor commented on #762
Hey folks - one more thing to add in here. Would be great to generate this list only from the available languages on transifex here automatically:

https://www.transifex.com/ushahidi/ushahidi-v3/

[2016-03-17 18:34] willdoran commented on #838
I can't reproduce this in the current version. Given the time between version I believe this has been fixed. I'm going to close the issue for now.

@pierreverbakel please feel free to reopen the issue if you're still experiencing it.

[2016-03-17 18:34] #838 closed

[2016-03-17 20:04] caharding opened #987 "Intercom not grabbing deployment name and URL"
### Expected behaviour
In intercom you can see the deployment name and URL

### Actual behaviour
These events aren't working...

### Steps to reproduce the behaviour/error
View users on Intercom, you will see that we don't have their info

[2016-03-17 21:18] rjmackay commented on #762
@aoduor Jason's changes grab the languages from transifex if they're over 70% translated.. is that what you meant?

[2016-03-17 22:27] willdoran commented on #987
This behaviour is in the branch but has not been pushed to the staging deployment. I will arrange that it be pushed now.

[2016-03-18 15:08] willdoran opened #3571 "Create complete list of data to be recorded by intercom per user"
Enumerate all pieces of data that should be passed to intercom from the client.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-703

[2016-03-18 15:09] willdoran opened #3572 "Provide update for user data when changed in the client"
### Expected behaviour
- Pass updated data on settings or user change to intercom

Aha! Link: https://ushahiditeam.aha.io/features/PROD-702

[2016-03-18 17:50] FIU-Editor opened #988 "No data appearing for posts"
Hi,

When creating a post, approximately the second half of all fields with data inputted did not appear to the public.

![image](https://cloud.githubusercontent.com/assets/17600339/13887007/01e3433e-ed10-11e5-8ecd-9d0ea4b24ec3.png)

![image](https://cloud.githubusercontent.com/assets/17600339/13887081/4bed8098-ed10-11e5-8a6d-82b0dc4a97d8.png)

(Left/Underneath: Post Type. Right: Displayed Post)

[2016-03-18 17:53] willdoran commented on #988
Hi there @FIU-Editor, looking at this now!

[2016-03-18 17:59] willdoran commented on #988
Ok, so to get more information, are all the fields in a single step?

I notice that on the viewing of the post you have a second step:
"Add secondary sources..."

Does that step have separate fields?

Would it be possible for me to get access to the deployment? I'm not clear why this issue would be occurring.

If you visit ushahidi.com, you can start an intercom conversation with us via the questi

[2016-03-18 18:02] FIU-Editor commented on #988
Nearly all our fields are in a single step, except for one, a short text box, in the second, "Add secondary sources..."

Here's the link to the deployment: bb.fiu.edu

[2016-03-18 18:02] willdoran commented on #988
Ok, looking now, thanks.

[2016-03-18 18:11] willdoran commented on #988
@FIU-Editor would it be possible for you to give me a login for the deployment?

[2016-03-18 18:12] willdoran commented on #988
@FIU-Editor I signed up by creating a user could you give that user admin access and I'll investigate further?

[2016-03-18 18:19] FIU-Editor commented on #988
Just did.

[2016-03-18 18:47] willdoran commented on #988
@FIU-Editor Thanks, ok the info is coming back from the DB with just the fields up to 'Challenge Date'. I'll try to recreate it locally and get back to you

[2016-03-18 18:48] willdoran commented on #988
@FIU-Editor Thanks, ok the info is coming back from the DB with just the fields up to 'Challenge Date'. I'll try to recreate it locally and get back to you

[2016-03-18 19:03] willdoran commented on #988
@FIU-Editor, I'm not seeing the issue locally but I am seeing an error on save.

Can you give me the following info:
1. What version of Platform are you running?
2. What version of Platform Client are you running?
3. On the platform deployment in the dir application/logs/ can you share with me the contents of the log for today?

[2016-03-21 14:06] willdoran commented on #987
This is resolved! Thanks!

[2016-03-21 14:06] #987 closed

[2016-03-21 14:07] #397 closed

[2016-03-21 14:08] willdoran commented on #350
@jshorland @rjmackay *bump*

[2016-03-21 17:56] jshorland commented on #988
@willdoran this is the latest info wing ho gave me via email:

The version of platform is master c582e23
The version of platform Client is master 25151df

we do not have log on March 21 but here's the log for 3/14, 3/16 and 3/18.  If you need more information, feel free to email me.
[14.txt](https://github.com/ushahidi/platform/files/182823/14.txt)
[16.txt](https://github.com/ushahidi/platform/fil

[2016-03-21 18:13] willdoran commented on #988
thanks @jshorland this helps hugely, I'll look into it now.

[2016-03-21 18:41] caharding opened #989 "Report a bug links to GitHub which requires login"
### Expected behaviour

Link will pop up a form that allows me to fill in information about the bug. The submission would collect the user email, and deployment name/info
### Actual behaviour

Pops up GitHub which asks you to login, which will reduce the number of bugs
### Steps to reproduce the behaviour/error

Click on the Report A Bug link at the bottom of any deployment

[2016-03-21 18:41] willdoran commented on #988
ok @jshorland @FIU-Editor
I can reproduce the issue using the same commit numbers locally. This leads me to believe that it may be caused by DB version problem. The steps to test this would be:

1. Update both client and Platform to lastest versions of master
2. From the platform root dir run ./bin/phinx migrate -c application/phinx.php

This should run all database migrations to ensure they are u

[2016-03-21 20:47] willdoran opened #990 "Convert step selection for filtering into radio"
### Expected behaviour
- User should only be able to select a single step to filter by at a time
  ### Actual behaviour
- Does not currently filter correctly based on complexity.
### Steps to reproduce the behaviour/error

[2016-03-21 23:01] rjmackay commented on #443
This is already built for msheria.. we just need to clean up and merge to core.

[2016-03-21 23:05] rjmackay commented on #960
@jshorland assigned back to you to QA

[2016-03-22 02:43] rjmackay commented on #989
@jshorland @caharding I'm not keen to implement a standalone bug reporting mechanism as thats yet another thing to maintain.. could we just push the "Report a bug" link to intercom?

[2016-03-22 08:17] aoduor commented on #989
@jshorland @caharding I agree with @rjmackay. Too many channels to maintain. This is why we have doorbell integrated. I'm not comfortable with this being sent to intercom as i'm not sure intercom has a "push to github" feature like Doorbell does. Intercom IDEALLY shouldn't be used for technical support/bug reporting i would think? But happy to hear more of your thoughts on this.

[2016-03-22 16:01] panterz commented on #698
Had the same issue as well. On apache 2.2, php 5.5 by adding this on .htaccess

SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

[2016-03-22 18:29] jshorland opened #991 "Categories should be able to be assigned as child to parent post type(s)"
### Expected behaviour
When I create a category as an admin, I want to match it to an appropriate post type(s) in a child/parent relationship so it will only be seen when contributors are adding posts of that particular post type(s). Categories should be able to map to multiple post types.

### Actual behaviour
Currently, all categories appear under every post type when adding posts (though, only

[2016-03-22 19:27] rjmackay commented on #989
I thought we were turning off doorbell when we add intercom? I don't think it makes sense to have both. And the kind of feedback we get through doorbell is very similar to what comes via intercom.

Intercom is already being used for tech support.. we're just manually copying confirmed bugs to github. I don't think thats an issue.. there are often multiple reports of the same bug, intercom does ok

[2016-03-22 20:03] caharding commented on #989
Whatever the solution it should not link directly to github

On Tue, Mar 22, 2016 at 12:27 PM, Robbie Mackay <notifications@github.com>
wrote:

--
Charlie Harding
Product Director

[2016-03-22 20:03] caharding commented on #989
Meaning the link on the page should not open github.

On Tue, Mar 22, 2016 at 1:02 PM, Charles Harding <charles@ushahidi.com>
wrote:

--
Charlie Harding
Product Director

[2016-03-22 20:19] rjmackay commented on #991
I'm not sure about this one.. it adds a huge amount of complexity.
If you want a category as a child of a post type.. why not just add a
custom field to that post type instead?
Part of the point of categories is that they're universal..

On Wed, Mar 23, 2016 at 7:29 AM, Jess Shorland <notifications@github.com>
wrote:

--
Robbie Mackay

Head of engineering
Ushahidi Inc
m: +64 27 576 2243
e: robbie@

[2016-03-22 23:09] #981 closed

[2016-03-22 23:09] #762 closed

[2016-03-22 23:09] #954 closed

[2016-03-22 23:09] #953 closed

[2016-03-22 23:09] #813 closed

[2016-03-23 00:31] rjmackay commented on #984
Can you get in touch with the deployer and check if they're having better luck now?

[2016-03-23 13:10] jshorland commented on #984
Checking in with him today, will update soon.

[2016-03-23 13:12] jshorland commented on #350
Agreed. we should put it back in as optional. Where are these stored and retrievable for admin?

[2016-03-23 15:21] jshorland commented on #984
Update: Hi Jess,

Thanks for providing the update. I've checked the platform and we are indeed experiencing an influx of emails. However, it seems as if the same emails are being repeated on each page. Might there be an explanation and fix for this?

Thanks again for your guidance.

[2016-03-23 21:41] rjmackay commented on #350
... I don't know if we ever built the admin side. They're stored with each
post, so it should be easy enough to show them alongside a posts detail
view.

On Thu, Mar 24, 2016 at 2:12 AM, Jess Shorland <notifications@github.com>
wrote:

--
Robbie Mackay

Head of engineering
Ushahidi Inc
m: +64 27 576 2243
e: robbie@ushahidi.com
skype: robbie.mackay

[2016-03-23 22:23] rjmackay commented on #984
@willdoran @jasonmule could one of you look into this?

[2016-03-23 22:33] ushbot opened #994 "Option to disable adding new posts"
The feedback from shemeer@azimpremjiphilanthropicinitiatives.org on March 10th 2016 was:

View it on [Doorbell](https://doorbell.io/applications/2005/feedback/108895)

# Disable add new posts option.

Users: admin of deployment
Use case: a deployment is only meant for sharing data already in deployment, not meant to accept contributions. Data is being collected (or has been collected) by internal

[2016-03-23 22:35] rjmackay opened #995 "Replace doorbell with intercom in deployment creation flow"
ie. on ushahidi.io/create we should show intercom. Not doorbell

[2016-03-24 10:53] msankar1991 opened #996 "mysqli_real_escape_string with php 5.5 getting error with Kohana MVC framework"
With php 5.5 we need to use for this method only

[code]

$link - Will acts as database connection.

https://github.com/ushahidi/platform/tree/master/application/classes/Database

So here how I need to get database connection in controller or model file for filtering the data for form values with kohana framework structure.

[2016-03-24 11:00] jasonmule commented on #984
I am not able to reproduce this. Is the email account set up to remove emails deleted through IMAP?

[2016-03-25 12:26] jshorland commented on #988
Hi Will, This is the latest error Wing received when trying to test this:

[22.txt](https://github.com/ushahidi/platform/files/189487/22.txt)

[2016-03-28 09:08] ihatehandles opened #998 "On hosted deployements, 'Documentation' link in footer points to a non-accessible docs site"
### Expected behaviour

User is supposed to be taken to https://www.ushahidi.com/support

### Actual behaviour

User is taken to http://docs.ushahidi.com/, which redirects to https://www.ushahidi.com/

### Steps to reproduce the behaviour/error

Log in to your hosted deploy, and click on the Documentation link in the footer

[2016-03-28 22:19] rjmackay commented on #998
I think this is fixed in develop but needs to be deployed.

On Mon, Mar 28, 2016 at 10:08 PM, Sam <notifications@github.com> wrote:

--
Robbie Mackay

Head of engineering
Ushahidi Inc
m: +64 27 576 2243
e: robbie@ushahidi.com
skype: robbie.mackay

[2016-03-29 07:16] rjmackay commented on #996
Sorry I'm not at all sure what you're asking? What are you trying to do?
You shouldn't be manually calling mysqli functions at all as they're all handled within the Kohana DB libraries..

[2016-03-30 02:07] ihatehandles commented on #998
Noted

[2016-03-30 02:48] gausam opened #3573 "Changing the default location via clicking on the map in /settings/map-settings"
### Expected behaviour

Taking experience from other sites with maps, I clicked on my desired default location on the map expecting the market to then move there. It was after some fumbling that I discovered the only way to move the marker is by dragging it. I don't have a problem with that of course, but maybe even some text somewhere telling the user to drag the marker would be of help - because

[2016-03-30 02:59] samtheson opened #3574 "Improve validation error messages"
### Expected behaviour

The messages must be more legible for non-technical users
### Actual behaviour

![js error](https://cloud.githubusercontent.com/assets/958800/14130535/e4058516-f633-11e5-9403-a3205c2bde93.png)
### Steps to reproduce the behaviour/error
- For the above, add a required date field to a step
- Then trigger validation by selecting another value in the `Who can see this dropown`

[2016-03-31 00:23] #621 closed

[2016-03-31 20:40] #575 closed

[2016-03-31 21:12] rjmackay commented on #989
ping @aoduor any final comments on this?

[2016-03-31 21:19] rjmackay commented on #946
Closed in favour of #945

[2016-03-31 21:19] #946 closed

[2016-03-31 21:59] rjmackay opened #1000 "Add image upload to post type"
## Introduction:
This feature should allow users to upload images on to posts

## User Stories:
- Deployment admins should be able to add an ‘image’ field to a post type
- When creating or editing a post with an image field, it should show a file upload element
  - When saved the file should be uploaded to the media API, and the media ID (Note: not the media url) should be saved as a value on the

[2016-04-01 07:01] aoduor commented on #989
Yes. I would much rather keep doorbell and minimise bug reports coming in via intercom. The whole idea behind intercom is customer service/support. If we can find ways of offloading some elements of bug reporting to our users, that would be great. Leaving this on intercom alone puts 90% of the work of bug reporting on us(since we're trying to reduce the need for logins to github as a requirement t

[2016-04-03 22:03] rjmackay commented on #989
I don't really understand the distinction you're making between customer
support and bug reporting.. answering a bug report IS customer support IMO.
Can you explain what the different needs are?

I don't think doorbell has been working well for us:
- looking at past submissions the quality of the reports is low.
- We have a total of 6 issue created in github via doorbell - which I think
means the

[2016-04-04 03:05] #705 closed

[2016-04-04 03:11] rjmackay commented on #963
I think this might be resolved on the latest version now. Can you update your code and let me know if that fixes this issue?

[2016-04-04 09:55] aoduor commented on #989
I'm not sure we're on the same page here. I didn't say bug reporting isn't part of customer support. All i would like to see is more empowerment of users to report their issues(in an easier way than having someone on the team having to act as the middle man, troubleshoot AND then file a bug report, which is what leaving things on intercom will lead to.). Having all this coming to intercom means an

[2016-04-05 03:49] rjmackay commented on #474
Another request for embed the map just landed on intercom

[2016-04-05 03:49] rjmackay commented on #474
@jshorland embedding the map something we want to build this quarter at all?

[2016-04-05 16:00] jshorland commented on #984
What's the status of this? Are we going to delete all of his email posts?

[2016-04-05 16:04] middle8media commented on #839
This is good to go.

[2016-04-05 17:31] #839 closed

[2016-04-05 20:29] rjmackay commented on #296
@jshorland bumping this to the next sprint

[2016-04-05 20:40] rjmackay opened #1003 "Create migration runner for shared servers"
**Introduction:**
Running migrations currently requires commandline access but shared servers don't normally allow this. Create a web based migration runner to run phinx migrations

**User Stories:**
- Deployers should be able to visit a URL (ie. mydomain.com/migrate) to run migrations

[2016-04-05 20:42] rjmackay opened #1004 "Create migration runner for shared servers"
**Introduction:**
Running migrations currently requires commandline access but shared servers don't normally allow this. Create a web based migration runner to run phinx migrations

**User Stories:**
- Deployers should be able to visit a URL (ie. mydomain.com/migrate) to run migrations

[2016-04-05 20:44] rjmackay opened #1005 "Export posts to CSV"
Deployment admins and other users often want to do further analysis on data in a deployment. The quickest way to enable this is to allow a CSV export of posts data.

User Stories:
- When I am viewing a post list I should be able to click a link/button to export the current data set
  - This export should honor the filters that are currently active
  - This export should honor my user permissions
-

[2016-04-05 20:46] rjmackay opened #1006 "Install: bundled single file install"
We want to make it easier for OSS users to install the platform themselves. One of the confusions is the need to download and *build* the platform and the client. A single pre built package would make life easier for deployers

- Deployer should be able to download a single zip file with both client and api codebases
- Deployer should be able to install the client without having nodejs, npm or gul

[2016-04-05 20:48] rjmackay opened #1007 "Install: support install into a subdirectory"
- Deployers should be able to install the API into a subdirectory ie. mydomain.com/ushahidi rather than having to be at the root of the domain
- Deployers should be able to install the client into a subdirectory ie. mydomain.com/ushahidiui rather than having to be at the root of the domain

[2016-04-06 04:27] rjmackay commented on #984
Not sure what we have/haven't done here.. I can see 5376 emails in the messages table. But none of them have posts associated??

[2016-04-06 13:49] jshorland commented on #984
Do these appear as “unstructured posts” in the deployment itself?

Jess Shorland
Product manager
jess@ushahidi.com

[2016-04-06 22:24] rjmackay commented on #984
No without a post associated they won't see then at all
On 7/04/2016 1:49 am, "Jess Shorland" <notifications@github.com> wrote:

[2016-04-08 05:01] rjmackay commented on #958
I'm failing at this quite badly..
 @jshorland Can you clarify the DIV grant metrics above to be sure I'm not missing something? Then split them into metrics we can automate, vs metrics we can just track in a spreadsheet.

So far I can get mysql queries into klipfolio but the chart builder is insane.
Datahero has a much nicer chart build but I can't get stats into geckoboard or datahero.
HostedGrap

[2016-04-09 14:46] jshorland commented on #988
Hey @willdoran -- any updates on this? Their deployment is dead until they get the calendar issue fixed.

cc: @FIU-Editor

[2016-04-09 14:50] willdoran commented on #988
@FIU-Editor were you able to try my suggestions above for upgrading to the latest release and database version for platform? If you want we can discuss more directly via IM and I can walk you through the steps. Apologies for delay, I must have missed your update to the issue.

You can connect to us here:
https://gitter.im/ushahidi/Community
or here:
Hipchat Platform v3 room

[2016-04-11 03:51] #1004 closed

[2016-04-11 03:57] rjmackay commented on #1003
@zhalloran could you look into this? it should be fairly straight forward..
ie. a stand alone PHP file ie. `httpdocs/migrate.php`
You could base in on something like https://github.com/robmorgan/phinx/blob/0.5.x-dev/app/web.php

It just needs to run phinx migrations. Though ideally we might also add an enable/disable flag in our .env file so that this is disabled by default.. its not quite a secur

[2016-04-11 03:58] rjmackay commented on #995
This should be a really quick matter of dropping doorbell and adding the intercom JS to platform-cloud-interface.. can you take a look?

[2016-04-11 04:08] rjmackay commented on #1007
@jasonmule assigning this to you. Feel free to delegate to anyone else as needed (including myself).

[2016-04-11 12:58] aoduor opened #1010 "Don't prefill Field details on creation of a new field"
### Steps to reproduce the behaviour/error
- Click on "Add field" on post type edit screen
- Select desired field type
### Expected behaviour

User should get blank fields to fill out desired field type details
### Actual behaviour

"Field name" field comes pre-populated. Would be great to have it empty! :D.

[2016-04-11 13:09] aoduor commented on #773
Hey folks, just adding in my voice here. What's our intended course of action for this :)?

[2016-04-11 13:20] aoduor opened #1011 "Do users really need to determine field-key?"
So, i'm assuming that this is what determines how the field is named in the DB. Seeing as this gets automatically filled out as the user types out a field name, i don't see the reason why this needs visibility on the UI.

Additionally, leaving this for users to edit created an opportunity for creation of duplicate field keys.

Option 1: Hide this field altogether
Option 2: Make this an non editabl

[2016-04-11 13:32] aoduor opened #1012 "Mark required fields during creation(for fields, users, roles etc)"
e.g, when creating a custom field, validation fails if certain fields are empty, e.g Field Name and Field Key.

Would be nice to have these fields marked as required to prompt user to know that those fields MUST be filled out.

[2016-04-11 13:41] willdoran commented on #1011
@aoduor I entirely agree, though it should be noted that you could in theory have a non-unique field name and a unique field-key. Though I'm not sure why you would want to do that. We can just make the field-key a hidden field.

[2016-04-11 18:10] FIU-Editor opened #1013 "Error Page Appears Every Time Deployment is Refreshed."
Every time our users refresh our deployment, bb.fiu.edu, a "Not Found" page is conveyed. Is this solely an HTML problem or something much deeper?

![image](https://cloud.githubusercontent.com/assets/17600339/14437415/144dec12-ffef-11e5-8844-444c388e064b.png)

Thank you.

[2016-04-11 18:14] FIU-Editor commented on #988
Hi, Will.

Yes, we have recently upgraded to the latest release and database versions
(as conveyed by your fix to delete steps!). Nonetheless, I have inquired
our team whether something was not updated, just to make sure.

The calendars are still not working, and all fields after a field with the
"Date" or "Date/Time" type still disappear in the post.

On Sat, Apr 9, 2016 at 10:50 AM, will <notifi

[2016-04-11 18:15] willdoran commented on #1013
@FIU-Editor Hi, that looks like a miss config of the web server. It looks as though it's trying to directly server the files rather than going through the angular setup. Could you share your config?

[2016-04-11 18:17] willdoran commented on #988
@FIU-Editor Ok, I will try again to reproduce the error locally.

[2016-04-11 20:14] willdoran commented on #988
@FIU-Editor let me know if it is possible for your team to use the Master branch for both platform and platform-client.

[2016-04-12 02:03] rjmackay commented on #1011
I think there's a possibility of key collision right now - we need to make sure thats fixed before hiding it.

[2016-04-12 02:05] rjmackay commented on #773
Right now this isn't flagged in a current sprint. We'll resolve if/when it is.. @jshorland should this go into Sprint 6?

[2016-04-12 03:37] jshorland commented on #773
we should hold off putting this in until we have new patterns. Makes more sense to implement with new patterns once than implement twice at this point.

[2016-04-12 04:08] aoduor commented on #773
Makes sense! :)

Thanks @jshorland and @rjmackay

Handheld Sent,

Angela Oduor Lungati,
Director of Community Engagement,
Ushahidi | www.ushahidi.com

[2016-04-12 12:06] aoduor opened #1014 "User gets reassigned to blank role when custom role is deleted"
### Expected behaviour

Ideally, perhaps we shouldn't be able to delete custom roles till all users on that role have been reassigned to another custom role, or reassign them to a different role. Open to discussing what the best option here would be
### Actual behaviour

Deleting a custom role renders any user assigned to that custom role on a blank/unassigned role.
### Steps to reproduce the beha

[2016-04-12 12:34] aoduor opened #1015 "Add password verification field when creating new users/adding new passwords"
At the moment, we only have one text field for input of a new password. Would be great to have an additional password field to ensure that the passwords match.

[2016-04-12 12:36] aoduor commented on #952
Just verifying that this is still happening for me at the moment.

[2016-04-12 12:37] aoduor commented on #952
Also, another question, do we have any other requirements apart from # of characters :)? @willdoran

[2016-04-12 12:45] aoduor opened #1016 "No error message passed to user on attempt to create a new user without assigning custom role"
### Steps to reproduce the behaviour/error
* Create a new user and leave the "Role" field blank
* Click on save

### Expected behaviour
An alert prompting me to select a role to assign this new user should appear on my screen

### Actual behaviour
The "Save" wheels turn in a never ending loop, without the page submitting. See screenshot below
![screenshot](http://i.imgur.com/gzCvZY8.png)

[2016-04-12 13:33] aoduor opened #1017 "Default "Admin" role should not be editable or deletable"
ATM, a user with the right permissions can edit the Admin role/delete this role. Since it currently serves as the "Superadmin" role, i would recommend making it non editable or non deletable.

Thoughts @rjmackay @willdoran @jasonmule

[2016-04-12 13:41] aoduor opened #1018 "Unable to sign up as a new user on deployment without "User" role"
### Steps to reproduce the behaviour/error
* Delete "User" role on your deployment
* Log out of your deployment
* Attempt to create a new user account by signing up

### Expected behaviour
The admin should either
* Be able to set which custom role he/she would like assigned to any new user signing up on their deployment

OR

* This "User" role should not be editable/ deletable(is that even a word

[2016-04-12 14:15] willdoran commented on #1017
In roles we check to make sure the last admin role can not be destroyed, we could add a similar check to users to ensure that there is always at least one full admin in the system. Would that work?

[2016-04-12 14:17] willdoran commented on #952
I think that's it, we should probably add a password "strength" checker

[2016-04-12 14:45] jshorland commented on #994
Disable add new posts option.

Users: admin of deployment
Use case: a deployment is only meant for sharing data already in deployment, not meant to accept contributions. Data is being collected (or has been collected) by internal team only.

Solution: I suggest we add this as a setting.

Scheduling as p2 normal for now, as Ushahidi is a tool designed for collaborative data collection, posts added

[2016-04-12 15:20] jshorland commented on #960
This is still occurring for me with CSV import through chrome web browser on qatesting.ushahididev.com

Steps to reproduce in CSV import:

1. Login with email: jess@ushahidi.com, password: password
2. check map settings.
3. default zoom = 2, default lat = -1.3048035, default lon = 36.8473969
4. import.
5. Select "basic post type" and upload CSV file here: https://docs.google.com/spreadsheets/d/1XN

[2016-04-12 15:22] jshorland commented on #583
This needs to be combined and tackled alongside the issue of categories, post types, and how those are related in new mustang designs.

[2016-04-12 15:28] jshorland commented on #923
@rjmackay can you grab stats on:
1. Average number of roles per deployment
2. Range of number of roles across all deployments
3. number of deployments with > 5 user roles

[2016-04-12 15:29] jshorland commented on #921
Add confirm dialog when adding without permissions is a good solution. There are many valid cases for not adding any of the permissions we have currently.

[2016-04-12 16:21] jshorland opened #1019 "Double check that analytics are functioning properly on deployments"
### Expected behaviour

Most important metrics to track properly:
- page views
- uniques
- time on site
### Actual behaviour

Currently seeing analytics that appear to be working correctly in https://citycrime.ushahidi.io/views/map
(see screen shot), but can't access in analytics dashboard when logged in.
### Steps to reproduce the behaviour/error

![screen shot 2016-04-12 at 11 17 34 am](https://

[2016-04-12 17:01] jshorland opened #1020 "Method of tracking OSS installs"
### Expected behaviour
- total count of OSS installed instances for DIV reporting metrics

### Actual behaviour
- we currently pull cumulative count of downloads from GithubAPI
- this count doesn't include clones, and doesn't account for installs that are aborted before successful install
- we currently do a terrible estimation of OSS cumulative download total *2 to approximate.

There might alrea

[2016-04-12 18:59] jasonmule commented on #1007
@tuxpiper Do you want to take a look at this?

[2016-04-13 09:03] aoduor opened #1021 "Role name edit doesn't reflect on User Management Page"
### Steps to reproduce the behaviour/error

Edit a single role name and save it
Navigate to user management page
Look out for a user assigned this role you've just edited
### Expected behaviour

On editing a role name, the name should also change on the user management page
### Actual behaviour

Role name didn't change on user management page.

See screenshots below
![screenshot](http://i.imgur.co

[2016-04-13 09:07] aoduor commented on #1020
Do we currently actually track OSS installs at all?

[2016-04-13 12:53] aoduor opened #1022 "Add ability to filter unstructured posts by source"
Right now, clicking on "Unstructured posts" simply brings you a list of all messages from SMS, Email and Twitter. The search filter doesn't have the option to choose either of the three.

It would be great to be able to filter these messages according to source i.e SMS Only, Email Only, and Twitter Only.

[2016-04-13 12:59] aoduor opened #1023 "Bulk actions & set number of records to view on Posts List page"
We have this on the User management page, perhaps we should add this on the posts lists page as well.

See ![screenshot](http://i.imgur.com/AgsKoru.png)

[2016-04-13 13:02] jshorland commented on #1020
Just downloads of the code off of github.

[2016-04-13 17:22] aoduor opened #1024 "Date displayed on posts lists page updates to when post was last edited"
### Steps to reproduce the behaviour/error
- Select a non published post and take note of the date of creation
- Edit the post, save and publish it.
### Expected behaviour

I should see the date when the post was created. As an admin, perhaps seeing an edit log would be great
### Actual behaviour

The date displayed changes to reflect the date the post was edited/published

[2016-04-14 08:23] aoduor opened #1025 "Notifications are currently broken"
### Steps to reproduce the behaviour/error
* Log into your deployment
* Select a saved search or collection
* Click on Add notification
* Go to notifications management page

### Expected behaviour
I should see the following screen allowing me to determine how I receive notifications, add new contacts, and turn notifications on and off
![screenshot](http://i.imgur.com/2WHajGz.png)

### Actual beha

[2016-04-14 09:22] aoduor opened #1026 "Shouldn't a user be able to add a post to a collection from the post creation page?"
This is more if a question. At the moment, you can add posts to a collection from
- The Collections menu on the homepage
- The Posts List page
- The individual Post view page

Thoughts on also having this option within the post creation page? @rjmackay @jshorland

[2016-04-14 12:29] aoduor opened #1027 "Documentation link on the footer should point to ushahidi support page"
This link currently points to docs.ushahidi.com, which redirects to the Ushahidi homepage. Need to change this.

[2016-04-14 13:26] copystar commented on #815
Just wanted to note that when I try to bring in tweets into my map I get this error:  "Validation Error
values.location_default must be an array of lat and lon "

[2016-04-14 13:30] jshorland commented on #815
Thanks for logging @copystar. Could you give us steps to reproduce the error?

[2016-04-14 14:42] copystar commented on #815
The steps were. First, I wrote a post with the triggering tag https://twitter.com/copystar/status/720598712486084608. Then I logged into the web interface https://bikerackswindsor.ushahidi.io/posts/4/edit to make the post live. All the information came through with the exception of the location data. When I changed the option "Who can see this" I got this popup message: Validation Error values.loc

[2016-04-14 14:47] jshorland commented on #819
This strays too far from "real-time" data collection and response in product vision. We can keep this low priority until we've perfected the real-time part.

[2016-04-14 18:26] tuxpiper commented on #1007
Sure, I can take a look

[2016-04-14 21:13] sebm90 opened #1028 "Pre-header text visible in support emails after creating .io deployment"
![image](https://cloud.githubusercontent.com/assets/5349387/14543854/7f64eefc-0296-11e6-843a-3b319fd06677.png)

[2016-04-15 14:07] aoduor opened #1029 "Password field in Data sources-> Email config should not display password"
Seems like it's just a text field at the moment, so it displays my password in plaintext
Expected behavior:
- When entering the password, use a password field
- By default, do not show the full password when opening the configuration screen. Have a "see password" button, similar to what we do in app/settings/user-settings/user-settings.html when configuring the HDX settings.

Example from what we

[2016-04-15 18:23] FIU-Editor commented on #1013
Sorry for the wait, I have the config file attached. Thank you for your
assistance!

On Mon, Apr 11, 2016 at 2:15 PM, will <notifications@github.com> wrote:

[2016-04-15 18:25] willdoran commented on #1013
@FIU-Editor thanks for getting back to us - I'm sorry I don't see the config. If you replied via email, I'm not positive github grabbed the attachement.

[2016-04-17 22:11] rjmackay commented on #1023
Assigning to @brandonrosage  - this would be something good to resolve in the mustang update. We should either have the ability to set page size everywhere or nowhere.

[2016-04-18 10:07] aoduor opened #1030 "Add option to clear/remove previously added data source config details"
Original issue:
----------
### Expected behaviour

When I delete data source configuration settings, they should be permanently erased
### Actual behaviour

I navigate our of the data source settings page, then come back and find the same details i had earlier erased STILL there.
### Steps to reproduce the behaviour/error
- Add data source details, save and enable
- Delete data source config detai

[2016-04-18 10:48] aoduor opened #1031 "Secret Key option in smssync configuration shouldn't be a required field"
### Expected behaviour

I should be able to save changes without a secret key for SMSSync settings
### Actual behaviour

I get an error message prompting me to fill in this field
### Steps to reproduce the behaviour/error

Enable SMSSync service on deployment WITHOUT a secret key.

Or are we now enforcing the use of secret keys for smssync config?

Aha! Link: https://ushahiditeam.aha.io/features/P

[2016-04-18 11:35] aoduor opened #1032 "No need for "Secret Value" field in Nexmo Data configuration"
---------
Original request:

The nexmo platform doesn't currently allow for setting a secret value, but we have this as a field on the configuration page. We should remove it. cc @sebm90

![screenshot](http://i.imgur.com/hNGOyxA.png)

I'm checking in with their support team to confirm plans for supporting this

----------

Update: while the secret *is* required, we should do a better job of explai

[2016-04-18 13:54] willdoran commented on #1032
@aoduor The secret value should I think be named better, it's actually an Ushahidi secret value. Nexmo forwards texts to the ushahidi platform using a callback url that the user configures in the Nexmo dashboard. That secret let's the platform ensure that the texts being sent to it from Nexmo or wherever else are legitimate.

I'm not sure if I explained that clearly.

[2016-04-18 14:07] aoduor commented on #1032
Ah, so ideally that's what would go here in your Nexmo dashboard?

![screenshot](http://i.imgur.com/FY03Fqh.png)

We should probably add some details on how the user can configure that callback URL

[2016-04-18 14:09] willdoran commented on #1032
Yep, exactly, and yes we absolutely should. Ideally we could have a short sentence explaining it because it's not intuitive at all.

[2016-04-18 14:10] aoduor commented on #1032
Yes please :) ![screenshot](http://24.media.tumblr.com/tumblr_m5ooh7WuPL1rxk0pjo1_250.gif). LMK once you have it up/something i can add into our docs :)

[2016-04-19 04:23] rjmackay commented on #1028
Found where this was.. I missed it when grabbing the template originally

[2016-04-19 04:25] rjmackay commented on #1028
This should be fixed on mandrill emails, I've fixed it on my branch for switching to mailgun too

[2016-04-19 04:25] rjmackay commented on #1028
@sebm90 @jshorland could you retest?

[2016-04-19 17:00] FIU-Editor commented on #1013
Nope, it doesn't seem that Github accepts the ".conf" file type. Do you
have an email address to which I can send it to you?

On Fri, Apr 15, 2016 at 2:25 PM, will <notifications@github.com> wrote:

[2016-04-19 17:04] willdoran commented on #1013
@FIU-Editor yep, you can send it to will@ushahidi.com

[2016-04-19 17:05] FIU-Editor commented on #988
We have been using the Master branch for both. How does the error look on your end?

[2016-04-19 17:07] FIU-Editor commented on #1013
Thanks, I just sent it.

[2016-04-19 23:30] caharding opened #1034 "Feature: Collection Industry info upon Signup"
- Add org name, size and org type to Deployments table
- Add a step after plans, before 'You're all set' in tour
- Record values into db
- Allow users to skip if they want.

When someone signs up for a deployment we need to ask them:

1) Name of org if different from deployment name
2) Size of org by employees (drop down of 1-10, 10-50, 50-100, 100-250, 250-500, 500-1000, 1000+)
3) What are you us

[2016-04-19 23:42] #1028 closed

[2016-04-20 17:28] aoduor commented on #836
Thanks for flagging this for us @ptkn :).

cc @rjmackay @jshorland just flagging this for us internally to fix - until we get this in, we're not able to work with frontlineSMS on platform

[2016-04-21 06:38] #958 closed

[2016-04-21 06:46] rjmackay commented on #1000
@jshorland double checking on media uploads: should media/images be a custom field on a post type? or should all posts just have images? (like they have a title and description but optional)

[2016-04-21 20:40] rjmackay commented on #1005
Couple of notes on the client side:

1. Can we add a confirm modal when someone clicks the export button
2. Could we add an 'Settings -> export' view too? this would just have a filter for which post types to include.. but export all posts otherwise.
  - we can skip this for this sprint if your short on time. I'd rather finish everything in the sprint instead.

[2016-04-22 08:55] aoduor commented on #988
Flagging this @willdoran @rjmackay @jasonmule, someone on intercom reached out about this.

[2016-04-22 08:55] aoduor commented on #1013
Flagging this @willdoran @rjmackay @jasonmule, someone on intercom reached out about this.

[2016-04-22 11:05] sebm90 commented on #1034
Should we have an "Other" field as well?

[2016-04-23 00:07] caharding commented on #1034
Yes

[2016-04-25 07:47] jshorland commented on #1034
Before scoping:

- [ ] - Captured on .com sign up process BEFORE deployment is spun up or AFTER from within the deployment itself?
- [ ] - Best UI practices for type of question/number of answers
- [ ] - Depending on answer to question1, where is data stored?
- [ ] - answers must map to associated deployment?

Based on answers:

- [ ] designs put into proper place in sign up flow
- [ ] implementat

[2016-04-26 07:07] jshorland commented on #1031
@rjmackay are secret keys required for SMSsync now?

[2016-04-26 07:31] jshorland commented on #1015
Thought: I would also add we should re-do this completely to have an email sent to the added user's email address and link directs to create new password.

Needs triage and scoping.

[2016-04-26 07:52] jshorland commented on #991
Closing this issue based on category research and feedback on this basecamp thread: https://basecamp.com/1931265/projects/1216937/messages/56706215#comment_406789758

[2016-04-26 07:52] #991 closed

[2016-04-26 22:15] #995 closed

[2016-04-27 18:38] sebm90 commented on #296
Is this now in Sprint #2 (May 2 - June 3)?

[2016-04-28 23:07] rjmackay opened #1037 "No way to see current value of "who can see this""
### Expected behaviour
I can see value of "who can see this" somewhere on post preview and detail views

### Actual behaviour
I can only see the current value if I open the drop down

### Steps to reproduce the behaviour/error
1. Go to a post detail view
2. Look for current visibility??

[2016-04-28 23:09] rjmackay opened #1038 "Post limit errors aren't handled properly when setting post visibility on post view"
### Expected behaviour
Post limit errors should show a friendly slider drop down

### Actual behaviour
Raw 'post::limit' error is shown
https://www.dropbox.com/s/o0p3orlw5aynlhl/Screenshot%202016-04-29%2010.18.31.png?dl=0

### Steps to reproduce the behaviour/error
On a deployment that is over its post quota (you could manually reduce this)
- Go to a post detail page
- Click on 'who can see this'

[2016-04-28 23:12] rjmackay opened #1039 "Empty 'alert' box is still shown when post limit slider appears"
### Expected behaviour

Post limit slider should show friendly limit error, while alerts box shouldn't appear
### Actual behaviour

After slider disappears the alert box is visible with no errors in it
### Steps to reproduce the behaviour/error

On a deployment thats over post quota
- Edit a (unpublished) post
- Make sure there are no validation errors
- Click on 'who can see this'
- Select 'every

[2016-04-28 23:14] rjmackay opened #1040 "Who can see this dropdown has wrong value after error"
### Expected behaviour
When there is an error setting 'who can see this' we should switch back to the original value

### Actual behaviour
When there is an error setting 'who can see this' the new value sticks in the UI even though it no longer matches the server

### Steps to reproduce the behaviour/error
- Edit a post where some stages are incomplete, and post is visible to "only you"
- Click on

[2016-04-28 23:16] rjmackay opened #1041 "Post list loads collections repeatedly"
### Expected behaviour

Post list should only load collections once
### Actual behaviour

Post list loads collections once per post
### Steps to reproduce the behaviour/error
- Open network tab in browser dev tools
- Go to posts lists
  Look for requests to load collections editable by me.. there should be 2 ( OPTIONS and GET). There is one per post instead.

[2016-04-28 23:19] rjmackay opened #1042 "Step validation fails when setting 'who can see this' on post detail page"
### Expected behaviour

Step validation should work as normal

Ideally, if you can't set the post visible to everyone we shouldn't even show the dropdown. since you can't use it.
### Actual behaviour

Steps are treated as incomplete
### Steps to reproduce the behaviour/error

On a post with all stages complete
- Go to a post detail page
- Click on 'who can see this'
- Select 'everyone' to publish

[2016-04-29 04:27] rjmackay commented on #296
@sebm90 its probably going to get bumped further out. Is there a solutions project waiting on that??

[2016-04-29 08:02] jshorland opened #1043 "Shadrock will need tokens for a training in June"
Shadrock has a training in June and will need upgrade tokens. Ideally they would be time-bound (free full featured trial perhaps?)

Flagging it now and putting a date on it so we don't forget. I'll add more details in the coming weeks. @Shadrock can you give additional details as to how many you think you'll need, etc?

[2016-04-29 08:03] aoduor commented on #1043
Can I just say, super excited that we have this getting set up! WOOOO!

[2016-04-29 16:00] willdoran opened #1044 "Date fields returned as date time fields"
### Expected behaviour
- Date fields should be returned in the format yyyy-MM-dd
### Actual behaviour
- Date fields are returned in the format yyyy-MM-dd HH:MM
### Steps to reproduce the behaviour/error
- Create a new date entry on a post
- Save post
- View post detail

[2016-05-01 21:23] #443 closed

[2016-05-02 20:41] jshorland commented on #520
Can't replicate. Please double check, but if this isn't fixed, it should be alongside mustang.

[2016-05-02 20:50] jshorland commented on #279
Can't reproduce, but good point about optimization

[2016-05-02 20:51] jshorland commented on #288
I'm closing this in favor of mustang design changes and category research happening on basecamp.

[2016-05-02 20:52] #288 closed

[2016-05-02 21:01] jshorland commented on #294
Closing -- addressed by mustang.

[2016-05-02 21:01] #294 closed

[2016-05-02 21:10] jshorland commented on #304
Closing in favor of #1000

[2016-05-02 21:10] #304 closed

[2016-05-02 21:11] jshorland commented on #296
#508 is related

[2016-05-02 21:12] jshorland commented on #305
Should be fixed alongside mustang patterns.

[2016-05-02 21:14] jshorland commented on #309
Should be fixed alongside mustang design implementations

[2016-05-02 21:17] jshorland commented on #319
Can anyone reproduce this?

[2016-05-02 21:21] jshorland commented on #280
I *believe* this was fixed. Assigning to myself to double check.

[2016-05-02 21:22] jshorland commented on #311
Closing. Fixed by mustang patterns phase I.

[2016-05-02 21:23] #311 closed

[2016-05-02 21:24] jshorland commented on #306
Assigning to myself. This has a lot to do with future strategy /vision of platform

[2016-05-02 21:27] jshorland commented on #337
Assigning to @brandonrosage for input.

[2016-05-02 21:29] jshorland commented on #334
Fixed. Closing.

[2016-05-02 21:29] #334 closed

[2016-05-02 21:30] jshorland commented on #346
Fixed. Closing.

[2016-05-02 21:30] #346 closed

[2016-05-02 21:31] jshorland commented on #348
This will be added alongside the development of "table view"

[2016-05-02 22:07] jshorland commented on #914
@rjmackay added #1042  recently. Is that related to this?

[2016-05-02 22:07] jshorland commented on #1042
Also see #914 which was closed. Related?

[2016-05-02 22:10] brandonrosage commented on #337
The "Mustang" Pattern Library suggests we call the Steps:

* Post
* Verify
* Translate

![image](https://cloud.githubusercontent.com/assets/1136279/14969486/54b2549c-1088-11e6-850f-0826ca8c6631.png)

The term "Post" is used much more sparingly in Mustang. But we use it in this case because, A, it's reasonably intuitive, and B, it doubles as a verb (particularly when someone is authoring or editing

[2016-05-02 22:11] jshorland commented on #1037
Mustang addresses this.

[2016-05-02 22:29] rjmackay commented on #1042
@jshorland I think #914 is more just 'confusing' but not broken.
When trying to set audience on the detail page.. it think it fails even if the stage was complete.
Its still confusing but we can address that along with mustang changes..

[2016-05-02 22:36] jshorland commented on #973
This will be addressed in "table view". Putting on hold until scoping for that.

[2016-05-02 22:46] jshorland commented on #864
Fixed. closing.

[2016-05-02 22:46] #864 closed

[2016-05-02 22:48] jshorland commented on #865
Related to #337.

[2016-05-02 22:49] jshorland commented on #855
yeah, this is pretty low for me compared to everything else. How many users are we talking?

[2016-05-02 22:51] rjmackay commented on #855
Maybe just leave it in the backlog until a client needs it?

[2016-05-02 22:51] jshorland commented on #855
yep.

[2016-05-02 22:57] jshorland commented on #1020
Closing in favor of #834

[2016-05-02 22:57] #1020 closed

[2016-05-03 16:09] willdoran commented on #914
@jshorland I think this was a slightly different issue to do with not being able to mark structure completed. That was fixed in responder and I forgot to close this. #1042 should hide or disable the 'who can' option when it's not relevant. That change is pretty quick to add once everything else lands.

[2016-05-03 16:37] jasonmule commented on #1005
Could we add the Settings->export view as a separate task?

[2016-05-03 21:16] willdoran opened #1045 "Figure out how to make e2e tests speedier"
### Expected behaviour
- The e2e tests should run headless
- It should be easy to switch to full browser
- The tests should run in parallel properly so that they execute more quickly
### Actual behaviour
- The tests are very slow both locally and on travis
### Steps to reproduce the behaviour/error
- Run the e2e tests

[2016-05-04 02:58] rjmackay opened #1046 "Mustang: Global UI and navigation aka Frame"
- Update top level markup to include
  - mode bar
  - mode context bar
  - filter bar
- Probably excluding ‘how to add a post’ since this feature doesn't exist yet.
- Make any other general look and feel changes
- @willdoran to review / assist with dev

[2016-05-04 03:02] rjmackay opened #1047 "Mustang: Refactor filters"
- Split each filter into its own directive pushing to global state
   - Ie. date filter in a single directive
- Create a general pattern for filter directives and their communication back to global state
- Create directives for
  - [x] User filters - this will probably be a good example #1048
  - [x] Post filters #1049
  - [x] 'Post type' filter for left sidebar #1050

[2016-05-04 03:10] rjmackay opened #1048 "Mustang: User filters"
- Create updated user filters:
  - Filter by roles
  - Filter by keyword (ie. query param `q`)
- Create a service to maintain state of users (or maybe a generic factory that can be reused for roles, categories etc?)

Each filter could be its own directive? or a single directive for 'user-filters'? However whatever is created here should ideally be reusable for filtering elsewhere.

Refer to mustan

[2016-05-04 03:13] rjmackay opened #1049 "Mustang: posts filters"
- Create posts filters
  - Filter by keyword (ie. query param q)
  - Who can see this
  - Date filter (investigate creating a date filter as per pattern library too)
  - Categories
  - Post type
- Split each filter into its own directive
  - Date filter exists both in filter bar and on right side
  - 'Who can see this' filter exists both in filter bar and on right side
- Update globalfilter servic

[2016-05-04 03:20] rjmackay opened #1050 "Mustang: post type filter for mode context"
- Create post type filter for mode context bar https://www.dropbox.com/s/55wwzc0ydw2jaz6/Screenshot%202016-05-04%2015.19.52.png?dl=0

[2016-05-04 03:25] rjmackay opened #1051 "Mustang: User profile"
- Update user profile for mustang design
  - User profile now appears in a modal https://www.dropbox.com/s/ymhcudntejsuart/Screenshot%202016-05-04%2015.21.54.png?dl=0
  - Ideally this would still be triggered by a route, but I'm not sure our current approach to modals allows that?

[2016-05-04 03:27] rjmackay opened #1052 "Mustang: User notifications"
- Update notifications view to match mustang PL
- Notifications is now a tab under the user profile modal
- Complete #1051 first

Related bug:
- https://github.com/ushahidi/platform/issues/1025

[2016-05-04 03:35] rjmackay opened #1053 "Mustang: Update map mode"
* Update markup for map mode
* Include markup for filter bar - but leave wiring for #1049
* Map now stretches to full screen
* Include context sidebar
* Out of scope:
  - Share button
  - Custom map controls
  - Custom map popups #771

Related bug:
- https://github.com/ushahidi/platform/issues/520

[2016-05-04 03:45] rjmackay opened #1054 "Mustang: Update post edit view"
- Update markup to match mustang PL
- Function is very similar to before. Notably:
  - Delete button is now pulled out explicitly at the bottom
  - Cancel / Save is in the top bar
  - Vertical tabs are now horizontal tabs. We might need a new directive for this.
- Ideally 'who can see this' shouldn't save until the post is saved.. resolving ushahidi/platform-client#148

Related bugs:
- https://git

[2016-05-04 03:46] rjmackay commented on #1054
@brandonrosage Currently the pattern library is missing any UI for marking steps complete/incomplete when editing. Is that intentional?

[2016-05-04 03:48] rjmackay opened #1055 "Mustang: Update post detail view"
- Update markup to match mustang PL
- Function is very similar to before. Notably:
  - Vertical tabs are now horizontal tabs. We might need a new directive for this, also used in #1054
  - Hide tabs if there is only 1 tab
- Fold in post messages view
- Do not include comments

Related bugs:
- https://github.com/ushahidi/platform/issues/1044
- https://github.com/ushahidi/platform/issues/848
- https

[2016-05-04 03:53] rjmackay opened #1056 "Mustang: timeline mode"
- Replace post list view with new timeline view
- Function is similar. But adds:
  - Context sidebar
  - Icons to show 'visible to' state
  - Groupings by day ie. 'Today' header
- Include filter mark up but leave wiring to #1049
- Double check anything that appears to be removed from the UI, this might be an oversight in PL
- Out of scope
  - switch from paginated view, to 'load more' style
  - Sh

[2016-05-04 03:54] rjmackay commented on #1056
@brandonrosage can you confirm how the 'Today' heading works in the timeline view? do we have a heading per day? or longer timespans as you go further back?

[2016-05-04 04:00] rjmackay opened #1057 "Mustang: Activity mode"
- Update activity mode with new markup
- Confirm scope with Brandon, Jess and Robbie before building.
- Activity now differs from previous designs significantly.
  - Timeline is similar to timeline view, and previous designs
  - Charts should be based off old timeline and chart views - not view used in activity
  - Remove Map from activity entirely

Related bugs:
- https://github.com/ushahidi/plat

[2016-05-04 04:02] rjmackay commented on #1057
@brandonrosage @jshorland its not clear how the activity view is supposed to work right now.
I think I'm right in assuming the charts match old timeline and chart views.
However the old map just showed recent posts based on the week/month/all time filter.. is that still the idea here?

[2016-05-04 04:03] rjmackay opened #1058 "Mustang: Collections modal"
- Collections menu is now a modal
- Out of scope
  - New function: keyword search of collections

[2016-05-04 04:04] rjmackay opened #1059 "Mustang: Add to collection modal"
- Add to collection drop down is replace by a modal
- Out of scope
  - Update the directive with new markup inside a modal

[2016-05-04 04:09] rjmackay opened #1060 "Mustang: Saved searches dropdown"
- Saved searches menu is now a dropdown from the filter bar
- Out of scope
  - New function: search by keyword

<img width="589" alt="screenshot 2016-05-04 10 22 09" src="https://cloud.githubusercontent.com/assets/7965/15004979/5e9aa1ae-1212-11e6-9243-1a0b9bc28a94.png">

[2016-05-04 04:10] rjmackay commented on #1060
@brandonrosage The "Create new" button here is new. Previously we created a saved search from the current search params .. if thats still what this intends then I don't think its very clear.

[2016-05-04 04:15] rjmackay opened #1061 "Mustang: Modal, notifications, sliders"
- Update modals for mustang PL
- Update notification slider
- Update alert modals
- Update plan limit modals
- Update confirm modals

Related bugs:
- https://github.com/ushahidi/platform/issues/300

[2016-05-04 04:18] rjmackay opened #1062 "Mustang: Post type settings updates"
- Update post type settings based on new designs
- Function is similar to before
  - We shouldn't be adding any new functions or removing anything either
- Vertical tabs become horizontal. We might need a new directive for this, also used in #1054

Related bug:
- #1021
- https://github.com/ushahidi/platform/issues/773

[2016-05-04 04:21] rjmackay opened #1063 "Mustang: Settings updates"
- Update each settings view to match new design
  - [x] roles
  - [x] categories
  - [x] users #1069
  - [x] general settings
  - [x] map settings
  - [x] data sources
  - [ ] import
- Implement new listing patterns for users, roles, categories - break into directives if needed
- Wait on filters refactoring tasks #1047
- Site settings: Background becomes logo
- Out of scope:
  - Post type settings

[2016-05-04 04:22] rjmackay commented on #1062
@brandonrosage looks like the pattern library is missing a couple of things:
- How do you reorder the steps in a post type?
- How do you edit a step? (ie. edit its name, and if its required or not)

[2016-05-04 04:23] rjmackay opened #1064 "Mustang: Update tour and plan change views"
- Update tour view
- Update plan change view
- Move payments out of a modal and into main content area?

[2016-05-04 04:28] rjmackay commented on #1027
Queued for deployment already

[2016-05-04 04:28] #1027 closed

[2016-05-04 04:31] rjmackay commented on #1025
This doesn't happen to .io users. It only happens on deployments an 'admin' user where 'admin' should actually be an email but isn't..
Can be worked-around by updating your email.

[2016-05-04 04:35] rjmackay commented on #1037
Close in favor of #1055

[2016-05-04 04:35] #1037 closed

[2016-05-04 04:37] rjmackay commented on #336
This will be resolved in mustang updates. Particularly #773

[2016-05-04 04:37] #336 closed

[2016-05-04 04:38] rjmackay commented on #305
Not 100% we can fix this with mustang..

[2016-05-04 05:02] rjmackay commented on #1044
Actually think dates should be formatted better than just YYYY-mm-dd even

[2016-05-04 16:20] brandonrosage commented on #1060
@rjmackay The primary path to this is still to simply search, see a summary of your parameters, and optionally select the appended "Save Search" button:

![image](https://cloud.githubusercontent.com/assets/1136279/15020632/7b13a27e-11e8-11e6-986e-281baa18c1cb.png)

The secondary path -- the "Create new" button within the "Saved Searches" menu -- would help users discover this capability without fo

[2016-05-04 17:17] jasonmule opened #1067 "Adjust image size on upload"
### Note for any OSS contributors
- we are at the spec writing stage on this issue, comments welcome.
- this isn't ready for coding, it's still in the spec stage

### Writing the spec
Requirements: When a user uploads an image, we should automatically generate one or more lower sized images to serve in the user interface.

It should be possible to configure, through environment values
- Desired ma

[2016-05-04 17:18] jasonmule opened #1068 "Use Libphonenumber to validate contact phone numbers"

[2016-05-04 17:34] brandonrosage commented on #1054
Steps are represented in the Pattern Library as more narrowly-defined features. As we've discussed in the past, they're treated *not* as open-ended "Steps," but as 'templatized' tasks: Verify and Translate.

So, in the "Post: Edit" layout, for example, each task has a toggle switch for indicating that it's complete:

![image](https://cloud.githubusercontent.com/assets/1136279/15023081/6cb18d48-11f

[2016-05-04 17:39] brandonrosage commented on #1056
The intention is for there to be a few different "scales":

* By day
* By month
* By year

So if the dataset included posts spanning less than two months, it'd include stamps "by day." If they spanned more than two months, but less than two years, stamps would be "by month." And if they spanned more than two years, stamps would be "by year."

But I'm open to discussion on this logic.

[2016-05-04 17:44] brandonrosage commented on #1057
@rjmackay "Activity" is a look at data in one of three date ranges: All time, this week, and this month. These are accessible from the "Filters" control in the toolbar.

The listing items leverage those date ranges, but individually can be configured to compare specified datasets. The "Activity by region" listing item doesn't happen to include its own "compare" control primarily because it doesn't

[2016-05-04 17:56] brandonrosage commented on #1062
@rjmackay Steps are represented in the Pattern Library as more narrowly-defined features. As we've discussed in the past, they're treated not as open-ended "Steps," but as 'templatized' tasks: Verify and Translate. So that's why ordering or editing its name is not represented.

Anticipating that this approach won't be implemented in this Mustang-implementation-release, I'll create an alternative l

[2016-05-04 18:27] rjmackay commented on #815
For the sprint, we need to:
- Save extra meta data into messages table when pull tweets
- Figure out how to propagate that to the post when saving the posts or assigning a form to the post.

[2016-05-04 18:57] brandonrosage commented on #1062
The aforementioned "alternative" layout is built: https://github.com/ushahidi/platform-pattern-library/blob/mustang/pattern-library/5_layouts/settings-survey-edit-alt.html

[2016-05-05 00:04] rjmackay opened #1069 "Mustang: Update user settings"
- Update user settings markup

[2016-05-05 00:04] rjmackay commented on #1048
Complete alongside #1069

[2016-05-05 00:08] rjmackay commented on #1063
@middle8media do you think you could take this next and just update all the markup for the settings view, then flag any functionality thats not working?

[2016-05-05 00:09] #984 closed

[2016-05-05 00:10] #1000 closed

[2016-05-05 00:12] #945 closed

[2016-05-05 06:59] rjmackay commented on #815
Options for approaching this:
- Save location into post_point table
- either use a dummy form attribute (with form_id = 0)
- or now form_attribute_id
- On client side, populate location fields from twitter location

[2016-05-05 15:13] middle8media commented on #1063
@rjmackay yes.

[2016-05-05 17:06] jasonmule commented on #1005
How to export to CSV

1. Go to Posts and select the List view option.
2. Use Search & Filter to filter posts that you want to export.
3. Click the Export button in the bulk actions row (it should be next to the Delete button) to save exported posts in a file. Alternatively, you can choose to open Excel and import the CSV data.

[2016-05-05 17:17] jasonmule commented on #1000
How to add an image to a post

1. Add an image field to a post type.
2. Add a post and select the post type with the image field.
3. Follow the instructions on the image field to upload the image.
4. After the image is uploaded successfully, save the post type as usual.

[2016-05-05 17:31] #1005 closed

[2016-05-06 18:13] caharding opened #4170 "Success email header incorrectly justified"
The link address and Ushahidi are not centered correctly on the success email http://mustang.robbiemackay.com/assets/html/5_layouts/email-deployment-new.html
<img width="1272" alt="screen shot 2016-05-06 at 11 12 32 am" src="https://cloud.githubusercontent.com/assets/1618793/15082229/8135691e-137b-11e6-854f-39b452ac25e6.png">

[2016-05-08 21:39] rjmackay commented on #1061
@brandonrosage is the slider in mustang still expected to hide automatically after a few seconds? or does it always use a close button instead?

[2016-05-09 01:02] rjmackay commented on #985
This should be fixed by mustang

[2016-05-09 01:02] #985 closed

[2016-05-09 01:03] #998 closed

[2016-05-09 14:09] brandonrosage commented on #1061
Great question. I've revised the *message.js* to, by default, hide messages after five seconds. If the function is called with the 'sustain' parameter set to 'true,' the message won't automatically be hidden.

https://github.com/ushahidi/platform-pattern-library/commit/4172481167b125df768f628636bd23309c622018

[2016-05-09 14:20] willdoran commented on #1069
- [ ] Change image_header to deployment_logo
- [ ] Rebuild map settings management in settings-map-directive
- [ ] Change save button for datasources
- [ ] For general settings pattern, add cancel button to reset content on each page
- [ ] Mode context will be created per template

[2016-05-09 22:47] rjmackay commented on #1069
@willdoran those points are all part of #1063 not this ticket. Feel free to claim that after this one though.

[2016-05-09 22:51] willdoran commented on #1069
@rjmackay I think there is a split then between the two tickets. I've been working through #1063 with @middle8media and these are elements that have come out of it so far. So we're moving them forward in parallel. I can move them over to #1063 but it might be better to redescribe this ticket to cover directive/functional changes as a result of the template changes. What do you think?

[2016-05-09 22:51] willdoran commented on #1069
Ah no, nevermind I see the confusion! I'll move it around.

[2016-05-09 22:54] willdoran commented on #1063
These tasks need to be complete to support the settings conversion:
- [x] Master settings page
- [ ] Change image_header to deployment_logo
- [ ] Rebuild map settings management in settings-map-directive
- [ ] Change save button for datasources
- [ ] For general settings pattern, add cancel button to reset content on each page
- [ ] Mode context will be created per template
- [ ] Break custom sele

[2016-05-10 21:18] rjmackay commented on #1053
You can find the updated mustang views https://github.com/ushahidi/platform-pattern-library/tree/mustang
https://github.com/ushahidi/platform-pattern-library/blob/mustang/pattern-library/5_layouts/map.html
or  https://github.com/ushahidi/platform-pattern-library/blob/mustang/assets/html/5_layouts/map.html

There's a hosted version here http://mustang.robbiemackay.com/assets/html/5_layouts/ but its

[2016-05-10 21:34] #1046 closed

[2016-05-11 12:46] aoduor opened #1072 "Unable to upload image to post"
### Expected behaviour
* Clicking on upload should upload my image, and subsequently i should be able to save the post

### Actual behaviour
* Error console returns the following message: Failed to load resource: the server responded with a status of 422 (Unprocessable Entity)
* I get an alert saying " Could not locate any media matching [id: 9]"
* On trying to save the post without upload, post s

[2016-05-11 21:31] jshorland opened #1073 "Padding between Image field and Rename/delete buttons too tight"
### Expected behaviour
Normal spacing

### Actual behaviour
Spacing is too tight

### Steps to reproduce the behaviour/error
1. login to qa.ushahididev.com
2. navigate to post types
3. select basic post
4. scroll down to fields
5. see screen shot
![screen shot 2016-05-11 at 2 26 10 pm](https://cloud.githubusercontent.com/assets/3224856/15197194/f6323640-1784-11e6-865e-7a3480cb654b.png)

[2016-05-11 21:37] jshorland commented on #1072
The same happened for me, but no error was returned on qa.ushahididev.com

Adding screen shot of never ending spinning wheel

![screen shot 2016-05-11 at 2 36 27 pm](https://cloud.githubusercontent.com/assets/3224856/15197368/f179cc98-1785-11e6-92eb-84e6a90d6779.png)

[2016-05-11 21:45] jshorland opened #1074 "QA testing: Can't successfully save new post without image on qa.ushahididev.com"
### Expected behaviour
Add relevant information to form -- NO IMAGE INCLUDED
Click "save post"
Platform returns confirmation message that post was saved
See post in all posts
### Actual behaviour
Add relevant information to form
Click "save post"
Spinning wheel of infinite doom appears

### Steps to reproduce the behaviour/error
1. login to qa.ushahididev.com
2. click "add post"
3. Select basic po

[2016-05-12 06:20] tuxpiper opened #1075 "Process geographical metadata from images (image geotagging)"
### Expected behaviour

It would be nice if we could process the geographical metadata (geotagging) that sometimes is attached to images and use that as post coordinates (in absence of explicit coordinates provided by the user, probably)

There are several metadata formats out there, but EXIF seems to be the most widely used in digital cameras. IPTC and XMP may be worth taking a look.

Aha! Link:

[2016-05-12 16:18] tuxpiper commented on #663
@rjmackay I was thinking about making some progress here. Should we consider RAML too? It seems to be getting backing from big players (i.e. Paypal)

[2016-05-12 21:38] rjmackay commented on #663
We're using API Blueprint on https://github.com/ushahidi/rollcall - so lets match that

[2016-05-13 01:16] rjmackay commented on #1074
Turns out I screwed up the deployment. Now I've run migration properly could you try this again?

[2016-05-13 01:17] rjmackay commented on #1073
@jshorland I think this was broken **before** the april sprint? Can we just fix this as part of the mustang sprint?

[2016-05-13 01:17] rjmackay commented on #1072
Turns out I screwed up the deployment. Now I've run migration properly could you try this again?

[2016-05-17 02:45] rjmackay commented on #1051
@jasonmule this is probably a good thing to continue with. The main bit of work is moving this into a modal.

[2016-05-17 02:46] rjmackay commented on #1059
@willdoran are you working on this already? should it be tagged in-progress already?

[2016-05-17 02:47] rjmackay commented on #1062
@willdoran did I see a comment about you working on this already?

[2016-05-17 23:27] #1003 closed

[2016-05-18 04:04] rjmackay commented on #1056
Kinda thinking out loud..

I think what matters is the frequency of posts: is there a post per day? or 10? or only a post per week? .. if the stamps appear between every post its weird, but if they don't appear often enough they're no longer useful.

However.. I can't really figure out the frequency all that easily with the current API. So I'm going to just start showing daily timestamps and see h

[2016-05-19 00:21] rjmackay commented on #1053
Not sure if you've started on this - you'll probably want to grab my changes from the mustang/post-card branch where I've been working on the post cards and timeline view.
Or look at develop if that already landed

[2016-05-19 21:32] rjmackay commented on #1064
@middle8media these live in a different codebase. Lets sync up when you're ready to start this and I'll get you set up.

[2016-05-19 21:33] #1061 closed

[2016-05-19 21:35] rjmackay opened #1078 "Create datepicker directive"
Create a date picker directive to match mustang PL.

[2016-05-19 22:41] rjmackay opened #1079 "Update login and register UI"
Move login and register to modals as per mustang PL

[2016-05-19 22:42] rjmackay opened #1080 "Update saved search view"

[2016-05-19 22:42] rjmackay opened #1081 "Update collection view"

[2016-05-20 01:01] #1056 closed

[2016-05-20 16:28] tuxpiper commented on #663
FWIW here are the priorities for a mobile app developer that came to us looking for assistance

(1)  Register
(2)  Login; 
(3)  Get all posts; 
(4)  Post a report; 
(5)  Get All Post types;
(6)  Get All Post Categories  
(7)  Get Notifications (How you get notifications & What you get notified about)
(8)  Get Maps (posts)
(9)  Get User Info
(10)  Update Password      
(11)  Save User Info Changes

[2016-05-20 16:31] tuxpiper commented on #663
Comments from @willdoran

actually a good way to see how the apis work is to work from these tests: (edited)

[4:09]
https://github.com/ushahidi/platform/tree/master/application/tests/features

GitHub
ushahidi/platform
platform - Ushahidi Platform v3 API

[4:10]
for example this describes an OAuth login

[4:10]
https://github.com/ushahidi/platform/blob/master/application/tests/features/api.oauth.f

[2016-05-22 20:30] tuxpiper commented on #1006
Creater a docker wrapped script to build platform-client . That will help removing the requirement for installers to have nodejs, npm , gulp.

Next will work on bundling platform with the composer deps

[2016-05-23 00:46] #1048 closed

[2016-05-23 00:47] #1069 closed

[2016-05-23 09:02] tuxpiper commented on #1007
As far as I can tell, there is nothing in the code restricting this now. I've got single virtual hosts working locally without any issues. This would be purely a matter of documenting this kind of setup.

I guess the question is.. should we update our docs to recommend this setup, or just add it as an option? How should we make that decision? @rjmackay @aoduor

Copying my nginx/php-fpm setup here

[2016-05-23 16:54] tuxpiper commented on #1006
Added commit 926390046c66a4b2ea8b5de7d66e0b989ce9087c , another docker wrapped script for bundling composer deps with platform .

Next step, I'd suggest creating a "platform-release" repository, with the scripts for combining the platform and platform-client bundles and instructions to deploy them.

[2016-05-23 21:49] rjmackay commented on #1063
Is this all complete now @willdoran @middle8media

[2016-05-25 16:11] middle8media commented on #1063
@rjmackay I am moving onto other tasks, but am available to help with settings as needed. My understanding is that @willdoran had a few more things to knock out, then we would be done.

[2016-05-25 17:48] middle8media commented on #1064
@rjmackay I'm ready to tackle this

[2016-05-25 18:14] middle8media commented on #1078
@rjmackay the PL uses http://amsul.ca/pickadate.js/ which requires jQuery. I am wondering how to approach this since the client only has JQlite.

[2016-05-25 18:45] rjmackay commented on #1078
I spent a while trying to make pickadate work with just jqlite and no jquery but got stuck .. it too tied to jquery itself so I'm not really sure what to do there.

[2016-05-25 18:59] rjmackay commented on #1078
Found an angular fork of pickadate: https://github.com/alongubkin/angular-datepicker
Can you try that? Its not maintained but there are bug fixes on forks if you hit issues.

[2016-05-25 20:32] middle8media commented on #1078
I will give it a shot

[2016-05-26 21:59] #1050 closed

[2016-05-26 22:02] #1049 closed

[2016-05-27 01:12] rjmackay commented on #1007
I think the recommended set up should be 2 vhosts - but we should document this as a clear alternative.
Deployers on shared hosts are most likely to be successful with a single zip/tarball they can upload, with a .htaccess ready to go.

[2016-05-27 01:48] #1047 closed

[2016-05-27 01:49] rjmackay commented on #1054
@willdoran its probably worth trying the `ng-model-options` directive on post edit forms too - as it might eliminate some of the old logic.

[2016-05-27 20:53] caharding opened #1083 "Ushahidi.io/login is broken"
### Expected behaviour
Go to Ushahidi.com and click login with option to get into a deployment

### Actual behaviour
Blank screen

### Steps to reproduce the behaviour/error
Click login on our website

[2016-05-27 21:07] rjmackay commented on #1064
Alright. The tour all lives in the a separate code base here: https://github.com/ushahidi/platform-cloud-interface

- Clone that
- Copy api/.env.example to api/.env
- Copy web/.env.example to web/.env
- `cd api/` and run `composer install`
- `cd web/` and run `composer install`
- In the base of the repo run `vagrant up` and that should build a dev server
- `cd api/` and run

[code]
- Add to /etc/h

[2016-05-27 21:50] #1078 closed

[2016-05-30 18:20] willdoran commented on #1063
@rjmackay We're still waiting on the data configure screen which comes from post editor

[2016-05-31 00:16] rjmackay opened #1084 "Investigate 500 error when registering a duplicate user"

[2016-05-31 00:16] rjmackay opened #1085 "Rename User role to 'Member'"

[2016-05-31 01:43] rjmackay opened #1086 "Wire up create post button"
- this already have directive stub https://github.com/ushahidi/platform-client/blob/develop/app/post/views/add-post-button.directive.js
- populate it from the form endpoint and show a dropdown as per the pattern library
- check @willdoran hasnt already wired on his branch
- link each item to /posts/create/FORMID

[2016-05-31 03:11] yuchenglin opened #3618 "Custom Icons for Map Markers"
I want to add a feature about displaying custom markers to distinguish different users or ... based on `/platform` getting from db.
Are there vector icon library and marker design which are decided to adopt?
Thanks!

Aha! Link: https://ushahiditeam.aha.io/features/PROD-693

[2016-05-31 09:12] gregorypeteromondi opened #1087 "Uploading of CSV file"
### Expected behaviour: to be able to tag the category field on the csv to the category post type
### Actual behaviour: I can see the category item in the drop down menu
### Steps to reproduce the behaviour/error

[2016-05-31 10:17] aoduor commented on #1087
For more context into this, currently, CSV uploads don't allow for uploading categories - only post types. A user can only see fields of a particular post type to match to existing columns in a CSV.

[2016-05-31 18:14] middle8media commented on #1062
@willdoran assigned to you, via @rjmackay's above comment. Happy to help if/how I can.

[2016-05-31 21:01] rjmackay opened #1088 "Message thread in mustang"

[2016-06-01 15:30] willdoran commented on #1062
I wasn't working on this but I'll try to wire it up now

[2016-06-02 04:21] rjmackay opened #1089 "Track state properly when switch map/timeline mode"
When switching map / timeline mode, post filters shouldn't be reset.
However when going from a saved search to home, they should be reset.
Similarly when going from ie. settings back to home filters should be reset

[2016-06-02 04:35] #1053 closed

[2016-06-02 06:56] rjmackay commented on #1055
@zhalloran assigning this over to Jason since you're off tomorrow.

[2016-06-02 07:12] rjmackay opened #1090 "Settings visible when not logged in"
Settings link in mode bar shoukd hide when logged out if you dont have permissions.
Should use a call to https://github.com/ushahidi/platform-client/blob/develop/app/common/global/event-handlers.js#L41 to check permissions

[2016-06-02 07:13] rjmackay opened #1091 "Settings list shows blank to normal users"
Should redirect to home if the user has no settings permissions..

[2016-06-02 13:27] #1051 closed

[2016-06-02 13:27] #1052 closed

[2016-06-03 00:21] #1081 closed

[2016-06-03 00:21] #1080 closed

[2016-06-03 00:21] #1060 closed

[2016-06-03 00:22] #1058 closed

[2016-06-03 00:22] #1059 closed

[2016-06-03 01:15] rjmackay opened #1093 "Can't add contact on notifications modal"
- Create a new user
- Log in
- Open user profile modal
- Click 'Notifications
- User email is shown in contacts but not option to add a contact

Why?
- Because the user has an email but that doesn't exist as a contact.
- We should always be able to add a contact I think.

[2016-06-03 11:05] rjmackay opened #1094 "Dont show register buttton in private deployment"
### Expected behaviour
No register button on private deploy. Homepage should force login

### Actual behaviour
Register button is visible and map loads.

- hide register button
- trigger login modal
- load page with just site name and basic info?

[2016-06-03 11:07] #848 closed

[2016-06-03 11:08] rjmackay commented on #300
This is unchanged in mustang. Assigning to Brandon to decide if we should change

[2016-06-03 14:14] aoduor opened #1095 "Custom Logo uploaded doesn't display on QA site"
### Expected behaviour
Once i succesfully upload a custom logo on the general settings page, I should be able to see it on the homepage.

### Actual behaviour
No custom logo appears on homepage

### Steps to reproduce the behaviour/error
Upload custom logo on general settings page and save settings.

[2016-06-03 15:18] aoduor opened #1096 "Email configuration not split into tabs as in Pattern Library"
### Expected behaviour

While on QA site, my email configuration screen should be split into tabs as shown below.

![screenshot](http://i.imgur.com/FNZKdYzr.png)
### Actual behaviour

QA site displays entire email config on one loooooong page as shown below.

![screenshot](http://i.imgur.com/z0H5Fna.png)
![screenshot](http://i.imgur.com/X3TNahp.png)
### Steps to reproduce the behaviour/error
- Cli

[2016-06-04 03:11] zhalloran commented on #1091
@rjmackay I just put in a check for hasManageSettingsPermission() in the controllers, for some of the controllers, a login popup is displayed after redirect to home. It got me thinking that maybe it should redirect to the login screen instead of the home screen?

[2016-06-04 03:34] zhalloran commented on #1091
The code is here: https://github.com/ushahidi/platform-client/tree/hot-fix/1091-settings-redirect

[2016-06-04 14:42] zhalloran commented on #1091
Quick refinement to my redirect suggestion: Redirect to login screen if user is not logged in, redirect to home if user doesn't have permission. Also, do we want to leave the Setting icon in the menu when users don't have permission?

[2016-06-04 14:44] zhalloran commented on #1091
Um, nvm on the settings button. I literally do not know anything other than what I'm working on at the moment. Taking care of that bug now :)

[2016-06-04 15:26] zhalloran commented on #1090
Added a pull request for this item. Looking at test updates later.

[2016-06-04 15:27] zhalloran commented on #1086
@willdoran Just want to make sure you haven't started work on this.

[2016-06-04 15:41] willdoran commented on #1086
@zhalloran Nope go for it

[2016-06-06 02:10] zhalloran commented on #1086
@rjmackay please assign code review for https://github.com/ushahidi/platform-client/commit/5546e83dc8332af85212502e06862e65e277ac4e. I ended up putting an inline style declaration to override the display value in the fab-options class here: https://github.com/ushahidi/platform-client/blob/5546e83dc8332af85212502e06862e65e277ac4e/server/www/templates/posts/views/add-post-button.html#L12.

I'm not t

[2016-06-06 13:15] aoduor opened #1098 "Unable to create new categories"
### Expected behaviour
I should be able to save and create a new category after adding required details

### Actual behaviour
Screen is non responsive, and error console returns the following

![screenshot](http://i.imgur.com/GDfEqV8.png)

### Steps to reproduce the behaviour/error
* Click on categories from settings page
* Click on add icon
* Add category details and save

[2016-06-06 13:18] aoduor opened #1099 "No custom color selection during category creation."
Not sure whether this belongs in the PL Repo or here
### Expected behaviour

As a user, i'd like to be able to select custom colors for my categories as opposed to a fixed list of four
### Actual behaviour

On category creation, i'm only presented with four options. Red, Gold, Blue, and Green
### Steps to reproduce the behaviour/error
- Click on settings, then categories
- Click on the add categor

[2016-06-06 13:58] aoduor opened #1100 "No feedback returned to use when no categories exist on a deployment"
### Expected behaviour
When no categories exist on a deployment, I would expect a "No categories on this deployment" message visible on the category list page or something.
### Actual behaviour
No message exists, as shown in the image below
![screenshot](http://i.imgur.com/bVN0lvv.png)
### Steps to reproduce the behaviour/error
* Click on settings
* Then click on categories

[2016-06-06 15:39] willdoran commented on #1099
@aoduor the colour picker let's you either pick from a fixed list or enter a hex value for the colour you'd like. Does entering the hex value work for you? Or are you only seeing the default colours?

[2016-06-06 15:42] aoduor opened #1101 "Differentiate "Add" and "Edit" Screens"
### Expected behaviour
When adding e.g a new role/category, i expect the "Add" screen to be different from the "Edit screen" - i.e i shouldn't see a "DELETE THIS ROLE" button if it doesn't even exist already.

### Actual behaviour
This is the screen i see on the "Add" screen for roles
![screenshot](http://i.imgur.com/ZWgK9il.png)

### Steps to reproduce the behaviour/error
* Click on settings
* Se

[2016-06-06 16:05] aoduor commented on #1099
Oh, so we can add custom hex values? This isn't intuitive for non technical users - most people don't know what hex values match to other colors. Best thing would be to add a color spectrum to select from as we have done in the past, such that when they click on the field, it pops up and they can select a color from there.

@willdoran a little clearer?

[2016-06-06 16:09] willdoran commented on #1099
Yep, much clearer, let me ping @brandonrosage may be he can comment on what we could add to bridge for users.

[2016-06-06 19:01] brandonrosage commented on #1099
@aoduor I've re-written this pattern to leverage a plugin, MiniColors, to provide a full-spectrum color picker. I've configured it to display the four suggested "swatches."

Example:
![Color picker](https://d1zjcuqflbd5k.cloudfront.net/files/acc_450437/17aQd?response-content-disposition=inline;%20filename=Screen%20Capture%20on%202016-06-06%20at%2013-58-43.gif&Expires=1465239863&Signature=BWls19EZw

[2016-06-06 21:39] willdoran commented on #1101
This should be switching depending on mode, I'll check it and fix it.

[2016-06-06 23:10] rjmackay commented on #1086
Sure. Generally for code review: create a pull request and assign it to will, myself and jason (since we can now assign all of us)

[2016-06-07 00:58] willdoran commented on #1101
Ok, this is fixed and in develop, it should go to qa the next time it's pushed'

[2016-06-07 01:04] willdoran commented on #1098
This is fixed and in develop. It should go into qa with the next push.

[2016-06-07 03:00] #1054 closed

[2016-06-07 07:12] rjmackay opened #1103 "Reconect post export button"

[2016-06-07 07:16] rjmackay commented on #1098
Assigning to @aoduor and @jshorland to confirm fix. Redeploying as I write.

[2016-06-07 07:32] #1086 closed

[2016-06-07 07:35] #1057 closed

[2016-06-07 07:43] #1091 closed

[2016-06-07 08:04] rjmackay opened #1105 "Show/hide menu items on smaller screens"
- Various screens have 'more' buttons for small screens, these need wiring

[2016-06-07 08:05] rjmackay opened #1106 "Animations on dropdowns etc"
- Add post button animation
- Filters animation
- Anywhere else data-toggle-animate appears

[2016-06-07 12:53] aoduor commented on #1101
Looking good! I'll close this out.

[2016-06-07 13:11] aoduor commented on #1098
This is fixed too.

[2016-06-07 13:11] #1098 closed

[2016-06-07 15:42] aoduor opened #1107 "Incomplete warning passed to user on "Delete category" section"
### Expected behaviour
I see a sentence right above the delete button that i guess is supposed to serve as a warning of sorts. It should describe what will happen if i delete the category.

### Actual behaviour
The sentence looks incomplete. It's not clear what will happen if i delete this category.
![screenshot](http://i.imgur.com/sxNnAkJ.png)

### Steps to reproduce the behaviour/error
* Click o

[2016-06-07 15:46] aoduor opened #1108 "Yellow icon lays over number of selected items on category list page"
### Expected behaviour
I should be able to clearly see the number of categories i've selected from this list page.

### Actual behaviour
The yellow icon is lying smack over the number of selected items
![screenshot](http://i.imgur.com/bDDANDe.png)

### Steps to reproduce the behaviour/error
* Click on category settings
* tick the checkbox adjacent to any category

This is probably something that n

[2016-06-07 17:36] caharding opened #1109 "Cursor is misplaced on Post Title"
<img width="923" alt="screen shot 2016-06-07 at 10 32 58 am" src="https://cloud.githubusercontent.com/assets/1618793/15868212/a8729284-2c9b-11e6-9b34-de5baf858452.png">
### Steps to reproduce the behaviour/error
Create a basic post, click on the title, the cursor is in the wrong place

[2016-06-07 17:37] caharding opened #1110 "Map zoom is in the wrong location"
### Steps to reproduce the behaviour/error
Believe is should be in lower left corner

<img width="446" alt="screen shot 2016-06-07 at 10 36 52 am" src="https://cloud.githubusercontent.com/assets/1618793/15868246/d3f0e186-2c9b-11e6-8aa6-2c5ac98ba23e.png">

[2016-06-07 17:39] caharding opened #1111 "Search icon not centered correctly on search bar"
<img width="1274" alt="screen shot 2016-06-07 at 10 39 00 am" src="https://cloud.githubusercontent.com/assets/1618793/15868288/0eea6f64-2c9c-11e6-8819-99667fa5b289.png">

[2016-06-07 17:40] jshorland commented on #1110
I’ve logged and we’ve fixed this bug before. Why the reappearance? cc: @rjmackay

[2016-06-07 17:41] caharding opened #1112 "Map should not allow dragging outside of bounds"
### Expected behaviour
When I drag a map to view above the arctic, it should repeat the map back into the antarctic prevent scrolling further

### Actual behaviour
Map has a N and S boundary where it disappears

### Steps to reproduce the behaviour/error
View map, click and drag far north or south

<img width="670" alt="screen shot 2016-06-07 at 10 39 49 am" src="https://cloud.githubusercontent.co

[2016-06-07 17:41] aoduor commented on #1110
This is related to #1108 as well.

[2016-06-07 17:46] caharding opened #1113 "Filters and Saved Search dropdown corners should not be rounded on top"
### Expected behaviour
The corners on the filters/saved search button should be squared off on the top edge

### Actual behaviour
They are rounded which makes these dropdowns look discontinuous from the search bar

### Steps to reproduce the behaviour/error
Click filters / saved search

<img width="517" alt="screen shot 2016-06-07 at 10 42 07 am" src="https://cloud.githubusercontent.com/assets/161

[2016-06-07 17:50] caharding opened #1114 "Survey creation is not formatted at all"
<img width="1278" alt="screen shot 2016-06-07 at 10 50 10 am" src="https://cloud.githubusercontent.com/assets/1618793/15868645/9c1cca52-2c9d-11e6-9dab-fc0a7f6df8f0.png">

[2016-06-07 17:51] aoduor commented on #1114
Hey @caharding, as per @rjmackay's QA doc, this is still in progress. PMing you with the spreadsheet :).

[2016-06-07 17:58] caharding commented on #1114
Got it hadn't seen this doc

On Tue, Jun 7, 2016 at 10:51 AM, Angela Oduor Lungati <
notifications@github.com> wrote:

--
Charlie Harding
Product Director

[2016-06-07 17:59] #1114 closed

[2016-06-07 18:01] caharding opened #1115 "Post description too long on map"
### Expected behaviour
Post description should be cut off if longer than X characters

### Actual behaviour
Displays full description text when you click a map icon

### Steps to reproduce the behaviour/error
Click on the Nairobi post about Berkeley on the QA test page

<img width="395" alt="screen shot 2016-06-07 at 10 37 25 am" src="https://cloud.githubusercontent.com/assets/1618793/15869001/28b

[2016-06-07 18:15] caharding opened #1116 "Post count not working"
### Expected behaviour
When posts have been made, the mode bar should count the total posts in that survey

### Actual behaviour
No count being made

### Steps to reproduce the behaviour/error
Look at the mode bar on the QA page, should have a count of posts

<img width="286" alt="screen shot 2016-06-07 at 11 13 36 am" src="https://cloud.githubusercontent.com/assets/1618793/15869414/2c4d8618-2ca1-

[2016-06-07 18:16] caharding opened #1117 "Default map should be Humanitarian, as in line with PL"

[2016-06-07 18:21] caharding opened #1118 "When I search for a post on timeline, a page count is created even when there is more than is only 1 page"
### Expected behaviour
There should not be a weird "1" below my search. Should we really be doing multiple pages? If so, a count should only appear if there is more than 1 page, and it should be centered

### Steps to reproduce the behaviour/error
Search for something in Timeline

<img width="1134" alt="screen shot 2016-06-07 at 11 18 50 am" src="https://cloud.githubusercontent.com/assets/1618793/

[2016-06-07 18:31] rjmackay opened #1119 "Redirect create post direct to form if only 1 survey"
Post create button should link straight to the post/create/ID if there is only 1 form.
No dropdown should be shown.

[2016-06-07 18:50] #1090 closed

[2016-06-07 19:00] rjmackay commented on #1112
This is the standard behaviour of Leaflet (and probably all OSM maps) .. we can't change this behaviour

[2016-06-07 19:01] brandonrosage commented on #1108
In the PL, any time a listing toolbar is invoked, the "floating action button" is moved out of view: http://d.pr/i/5Drc/5wcML0N7

It does this by disabling the button -- literally adding the `disabled` attribute to the button -- which animates it out of view. *listing.js* handles all the interaction with the listing toolbar, [including the disabling of the "FAB."](https://github.com/ushahidi/platf

[2016-06-07 19:04] rjmackay commented on #1112
Actually I lie... we might be able to set max bounds so that map can't scroll that far north/south

[2016-06-07 21:19] rjmackay commented on #1100
Assigning @zhalloran too - whoever gets to it first.

[2016-06-07 21:21] rjmackay commented on #1110
This is a bit weird - it starts in the right place but breaks if you navigate away from map and then back.

[2016-06-07 21:25] #520 closed

[2016-06-07 21:27] rjmackay commented on #1040
I think this is irrelevant now it does save-on-change

[2016-06-07 21:27] #1040 closed

[2016-06-07 21:28] rjmackay commented on #1038
Post limits are being removed in mustang

[2016-06-08 00:53] rjmackay opened #1120 "Slider appears behind modal"
- If you have a modal open and a notification happens, it appears behind the modal.
- It should happen in the modal.

[2016-06-08 00:55] jshorland commented on #1109
Also, can't save or input any other fields. only title appears.

[2016-06-08 01:02] jshorland commented on #1115
Yeah this is icky and creates difficulty exploring posts. Labeling P0.

[2016-06-08 03:18] rjmackay commented on #1072
@jshorland make sure this gets a retest??

[2016-06-08 03:22] rjmackay opened #1121 "Add post not working"
### Expected behaviour
Can fill in fields and save a post

### Actual behaviour
can't save or input any other fields. only title appears.

### Steps to reproduce the behaviour/error
???

Related to #1109

[2016-06-08 03:23] rjmackay commented on #1109
@jshorland I've create #1121 and downgraded this. Need to distinguish issues. If the cursor is in the wrong place.. not the end of the world. If we can't create post... kinda a show stopper.

[2016-06-08 03:52] #1121 closed

[2016-06-08 04:04] zhalloran commented on #1100
@rjmackay @willdoran @jasonmule Did someone already get this? This is what I'm seeing on that view now:
<img width="893" alt="screen shot 2016-06-08 at 12 02 45 am" src="https://cloud.githubusercontent.com/assets/446225/15882435/7ad9ae2c-2d0c-11e6-9617-062f9c1c556b.png">

[2016-06-08 04:10] willdoran commented on #1121
That's very strange it works properly in my local copy of develop, but it looks on qa as though it's missing an injection.

[2016-06-08 04:47] #1084 closed

[2016-06-08 04:59] jshorland opened #1123 "Geo locator button doesn't appear on add post"
### Expected behaviour
On map, I should see a pin on the left hand side of the map that allows me to click and locate myself to add location to my post instead of typing in a location.

### Actual behaviour
The location button doesn't appear (there is a square, but nothing inside of it). When I click on the empty, I receive an error message that says "Geolocation error: Only secure origins are all

[2016-06-08 05:00] jshorland commented on #1123
Related, I *think*

I also can't mark structure as complete even after manually selecting a location and filling in all required fields on post structure when adding a basic post.

The mark as complete toggle button just doesn't work

[2016-06-08 05:17] #1109 closed

[2016-06-08 05:30] #1111 closed

[2016-06-08 08:54] #1119 closed

[2016-06-08 09:41] aoduor commented on #1111
hey @rjmackay how soon do we expect this to get pushed to qa for us to test?

[2016-06-08 16:22] willdoran commented on #1121
This appears to be working on qa now, did something change? @rjmackay

[2016-06-08 16:36] jshorland opened #1124 "Mark as complete toggle broken in add post"
### Expected behaviour
After inputting all required information, I should be able to mark the structure step as complete and change visibility of post.

### Actual behaviour
Toggle button on "mark as complete" doesn't work

### Steps to reproduce the behaviour/error
Login to qa.ushahidi.com
Add basic post
Input all required fields
Try to toggle mark as complete

[2016-06-08 17:50] brandonrosage opened #1125 "Datepicker should appear within only the main content area"
### Expected behaviour

The datepicker should appear within (and obscure) only the main content area -- not mode bar, mode context or other blocks on the layout:

![Screenshot from PL](https://cloud.githubusercontent.com/assets/1136279/15904576/2527b2d8-2d77-11e6-9034-ffe8327d63f3.png)
### Actual behaviour

The datepicker should appears (and obscures) the entire viewport:

![Screenshot from client

[2016-06-08 17:51] Shadrock opened #1126 "Not able to publish post when logged in: "structure not yet marked as complete" error message."
### Expected behaviour
Publish Post with title "Shadrock Test Post 2." Post marked as "Everyone can see this." All fields were filled out.

### Actual behaviour
Was not able to "mark as complete" despite all forms being filled out. Was presented with an error stating that I missed a step in "structure" - see screenshot - and post was apparently, not published. I didn't see any tab, button, or fiel

[2016-06-08 17:56] Shadrock opened #1127 "Posts created while not logged in not appearing in timeline or activity once logged in"
### Expected behaviour
Ability to see "Shadrock Test Post" and "Shadrock Test Post 3" in timeline or activity view once logged in. Posts were made while I was *not* logged in but were confirmed by the "moderator will review your post" message.
### Actual behaviour
Couldn't find test posts anywhere. I checked timeline, activity, and searched by keywords.
### Steps to reproduce the behaviour/error
G

[2016-06-08 18:02] jshorland commented on #1126
Closing in favor of #1124

[2016-06-08 18:02] #1126 closed

[2016-06-08 18:02] jshorland commented on #1124
![image](https://cloud.githubusercontent.com/assets/3224856/15905120/853e023a-2d68-11e6-972b-88a4e85220e8.png)

[2016-06-08 18:02] brandonrosage opened #1128 "Mode bar not displaying styles or toggling "more" on small screens"
### Expected behaviour
On small screens, the mode bar should be styled with a blue background, be horizontally aligned, and include "Activity":

![Screenshot from PL](https://cloud.githubusercontent.com/assets/1136279/15904998/c2266b0a-2d78-11e6-9a23-786400880e61.png)

Clicking "More" should also toggle the visibility of the rest of the menu items:

![Screenshot from PL](https://cloud.githubuserco

[2016-06-08 18:08] brandonrosage opened #1129 "Deployments with no logo should not reserve space for it in mode context"
### Expected behaviour
When a deployment has no logo, its mode context should not reserve space for it to the left of the title. The title should be flush-left:

![Screenshot from PL](https://cloud.githubusercontent.com/assets/1136279/15905173/83bdce3e-2d79-11e6-8263-f86b1934778f.png)

### Actual behaviour
Deployments without a logo reserve empty space to the left of the deployment title:

![Scree

[2016-06-08 18:09] jshorland commented on #1127
@Shadrock please confirm that this is for qa.ushahidi.com? I know it should be obvious, but you know what they say about assumptions.

[2016-06-08 18:14] brandonrosage opened #1130 "Postcards have unnecessary empty space between metadata and fields"
### Expected behaviour
Postcards should have balanced spacing between metadata (e.g. author) and fields:

![Screenshot from PL](https://cloud.githubusercontent.com/assets/1136279/15905440/8613e4e2-2d7a-11e6-8879-d9a481e06c50.png)

### Actual behaviour
Postcards have unnecessary empty space between metadata and fields:

![Screenshot from client](https://cloud.githubusercontent.com/assets/1136279/15

[2016-06-08 18:20] brandonrosage opened #1131 ""Who can see this" fieldset should hide nested options until their parent is selected"
### Expected behaviour
The "Who can see this" fieldset should hide the options for "specific roles" until that radio button is selected:

![screenshot from PL](https://cloud.githubusercontent.com/assets/1136279/15905613/1d631e1c-2d7b-11e6-9b51-b4cc5aa3453b.png)

### Actual behaviour
The "Who can see this" fieldset displays the options for "specific roles" at all times:

![screenshot from client](h

[2016-06-08 18:32] Shadrock opened #1132 "UI for adding a post on mobile is confusing & not working"
### Expected behaviour
Immediately understand how to add a post while using Mustang on a smart phone
### Actual behaviour
Didn't see any "+" symbol in map view. Clicked around for a while before finally clicking the star icon. There I saw the coveted "+" symbol but clicking on it didn't do anything.

Edit: before submitting this issue I clicked around a few more times and magically found the "Ther

[2016-06-08 18:34] jshorland opened #1133 "Screen resizing creates weird styling in Activity over time chart"
Steps to reproduce:
1. login to qa.ushahidi.com
2. navigate to activity
3. Change time filter to "all time"
4. Compare status and show cumulative totals
5. Start shrinking your window

See screen shot

![screen shot 2016-06-08 at 11 33 49 am](https://cloud.githubusercontent.com/assets/3224856/15906280/03c6a09a-2d6d-11e6-98e8-5f27d36ecbc6.png)

[2016-06-08 18:39] Shadrock opened #1134 "ADD THE FIRST POST UI is super confusing and button / "open" doesn't work for iPhone"
### Expected behaviour
Click ADD THE FIRST POST button to add post.
### Actual behaviour
Clicked button but nothing happened. Pressed it for a few seconds in anger and was presented with a confusing menu (see screenshot) which asked me to "Open" things (I thought I was making a post not opening anything) or "Add to reading list" (what's a reading list?) or "Copy" (uber-odd since I didn't have anyt

[2016-06-08 18:45] brianherbert opened #1135 "Signing up has warning messages for login"
### Expected behaviour
When I create an account, I should see a message about confirming my email address.

### Actual behaviour
I'm told I don't have the correct email address.
<img width="652" alt="screen shot 2016-06-08 at 2 39 53 pm" src="https://cloud.githubusercontent.com/assets/106068/15906574/795ff3d2-2d87-11e6-9c68-567f477717d0.png">

### Steps to reproduce the behaviour/error
Click "Sign

[2016-06-08 18:51] Shadrock opened #1136 ""More" link on mobile version doesn't do anything. White on gray background is very hard to see."
### Expected behaviour
Well... "more" actually. Not sure what, but certainly more than nothing.

### Actual behaviour
The "more" button and associated ellipsis icon turned white, which is not really helpful since it only makes it WAY more hard to see. Suggest making the active link yellow.
![more button confusing background on mobile](https://cloud.githubusercontent.com/assets/4574998/15906803/b2c

[2016-06-08 19:02] #1083 closed

[2016-06-08 20:40] zhalloran commented on #1100
I see what the issue is now. It's a layout bug. The first time the page renders, the list is in the DOM, but is under the filter bar at the top. looking into it.

[2016-06-08 21:02] rjmackay commented on #1079
@jasonmule this is done. The PR needs review

[2016-06-08 21:21] brandonrosage opened #1137 "Map's post popups should include complete summary"
### Expected behaviour
When clicking a map marker, I expect the post popup ("postcard") to include the same content as its representation in the "Timeline," complete with author, date, visibility, and actions trigger:

![screenshot from PL](https://cloud.githubusercontent.com/assets/1136279/15911272/b665c0e2-2d94-11e6-89b3-9e268f5870ba.png)

### Actual behaviour
When clicking a map marker, the pos

[2016-06-08 21:28] brandonrosage opened #1138 "Saving a new Collection shouldn't take me to the Collection"
### Expected behaviour
After I save a new Collection, I expect the modal to close and display what was underneath it to begin with -- not take me anywhere new. And when it reveals what was underneath, it should show me a message confirming my creation was completed successfully.

### Actual behaviour
After I save a new Collection, I'm taken to the Collection's (empty) landing page, with the button

[2016-06-08 21:56] #1118 closed

[2016-06-08 22:17] #1079 closed

[2016-06-09 01:17] #1055 closed

[2016-06-09 01:17] #1088 closed

[2016-06-09 01:18] #1100 closed

[2016-06-09 03:01] #1105 closed

[2016-06-09 03:01] #1128 closed

[2016-06-09 06:17] #1063 closed

[2016-06-09 06:18] rjmackay opened #1139 "Update post import"
Update settings: Import screen

[2016-06-09 06:19] rjmackay commented on #1139
@jasonmule if you start on this - push whatever you have at the end of day. Then it can hand off to @willdoran or me while you sleep :)

[2016-06-09 06:21] rjmackay commented on #1134
... I think I forgot to wire this at all..

[2016-06-09 07:07] rjmackay commented on #1074
@jshorland please retest with mustang??

[2016-06-09 07:08] #1073 closed

[2016-06-09 07:50] rjmackay commented on #1127
I take it you were you logged in as an administrator, not a normal user?

[2016-06-09 09:16] aoduor opened #1140 "Unable to add new user"
### Expected behaviour
When adding a new user i expect
* A password and password confirmation field
* To be able to select a custom role from the roles drop down field.

### Actual behaviour
![screenshot](http://i.imgur.com/dUJaHhr.png)
* No password confirmation field + the password field isn't labelled(let's not assume this is intuitive for users)
* Roles drop down field is non responsive

### S

[2016-06-09 09:26] aoduor commented on #1101
Reopening, for the sake of adding new surveys.

See screenshot below @rjmackay

![screenshot](http://i.imgur.com/hvRuC9H.png)

[2016-06-09 09:53] ACFsitrep opened #1141 "Error creating a post (free web version of Ushahidi)"
Sometimes, when I try to create a post, It's shown an error message with no information.

All the fields are correct. I use to open a new sesion in a diferent tab, I create a new post and I copy/paste all the information, and then I can save the post.
 I Can't understand this behaviour...

### Expected behaviour
To save a post

### Actual behaviour
An errror occurs. It is shown an error message wi

[2016-06-09 10:18] aoduor opened #1142 "Specifying roles for tasks during survey creation"
This is more of a question than an actual bug. Usecase, Uchaguzi/election monitoring.

I probably only want the Translation task visible to signed up translation team, and geolocation visible only to the geolocation team. But as it stands now, we're only limiting surveys to specific roles, and leaving tasks open to anyone(probably tied to the role assigned to the survey).

Is this something we got

[2016-06-09 10:26] aoduor commented on #1141
Hi, what's the link to your deployment?

[2016-06-09 10:28] ACFsitrep commented on #1141
Hi Angela!

Here’s the link…

https://sitrep.ushahidi.io

Thank you!

De: Angela Oduor Lungati [mailto:notifications@github.com]
Enviado el: Thursday, June 09, 2016 12:27 PM
Para: ushahidi/platform
CC: Emergency Pool 1; Author
Asunto: Re: [ushahidi/platform] Error creating a post (free web version of Ushahidi) (#1141)

Hi, what's the link to your deployment?

—
You are receiving this because you a

[2016-06-09 15:19] aoduor commented on #1101
Aaaaaaaaand Field addition too.

![screenshot](http://i.imgur.com/tK4hMVW.png)

[2016-06-09 15:35] aoduor commented on #1101
Some more details on this for the edit field.

![screenshot](http://i.imgur.com/NKygD0r.png)

[2016-06-09 15:43] aoduor opened #1143 "No confirmation dialogue provided to user when deleting a custom field"
### Expected behaviour
When i click on delete field, i expect a confirmation box prompting me to either proceed or dismiss deletion process to show up on my screen

### Actual behaviour
I click on delete, and the field just disappears, with no feedback provided to me as a user

### Steps to reproduce the behaviour/error
* Log into qa.ushahidi.com
* Click on Settings, then Surveys
* Select a task,

[2016-06-09 15:46] aoduor opened #1144 "Browser tab name still refers to surveys as post types"
### Expected behaviour
Page/Tab name should now be surveys

### Actual behaviour
Page/Tab name still remains "Post types"
![screenshot](http://i.imgur.com/vUtMm0E.png)

### Steps to reproduce the behaviour/error
*Log into qa.ushahidi.com
* Click on settings, then surveys

[2016-06-09 16:00] jasonmule commented on #1139
@rjmackay @willdoran Had a discussion with @jshorland and she was of the opinion that we shouldn't release with the last step until we have a better UX spec. It means that the 2nd step would be become the final step for now and that we just need to wire that to send out the mapping to the API.

[2016-06-09 16:03] aoduor commented on #1143
Looks like the same thing is happening for task deletion too cc @rjmackay @jshorland

[2016-06-09 19:53] jshorland opened #1145 "Prevent editing posts simultaneously"
From @Shadrock:
### Expected behaviour

If three people go to grab a post at around the same time, the post should be "checked" out from editing as soon as the first person takes the post into edit mode. Subsequent edits ​_should_​ over-write. But it’s a work-flow thing: you need to prevent people from grabbing the same record to begin with.
### Actual behaviour

everybody can dog-pile onto the sa

[2016-06-09 20:58] jshorland opened #1146 "Can't save edited post"
### Expected behaviour
After creating a post for the first time, I should be able to revisit that post and edit it's details when logged in as admin, save the edits, and then be able to see those edits on the saved post.

### Actual behaviour
When I revisit an already created post and edit it, after changing visibility settings and location, I can't click save. Save button doesn't work?

### Steps

[2016-06-09 20:58] jshorland commented on #1146
Cancel works though

[2016-06-09 21:03] jshorland commented on #1127
I can replicate this.

Steps i took to reproduce:
1. go to qa.ushahidi.com
2. DO NOT LOGIN
3. add basic post with all required fields and save
4. login to deployment as admin
5. try to find post anywhere in that deployment

[2016-06-09 21:15] jshorland opened #1147 "Mark as complete toggle doesn't work on any step"
### Expected behaviour
As a logged in admin, I can mark all steps complete after completing all required fields while editing post

### Actual behaviour
It works for the first default "structure" step, but when I added a second step, it doesn't work for that second step. I can't mark it complete and save it no matter what I do

### Steps to reproduce the behaviour/error
1. Login as admin to qa.ush

[2016-06-09 21:19] jshorland opened #1148 "Date picker appears, but default date is in 1969"
### Expected behaviour
When I add a date field to a survey, it should appear when adding a post to that survey

### Actual behaviour
See screen shot

### Steps to reproduce the behaviour/error
1. go to qa.ushahidi.com
2. add post to "jess's special posts"
3. See date field

![screen shot 2016-06-09 at 2 09 26 pm](https://cloud.githubusercontent.com/assets/3224856/15946782/3544df5c-2e4d-11e6-8a9a-0

[2016-06-09 21:24] jshorland opened #1149 "Images don't appear in map preview or post detail"
### Expected behaviour
After adding a post with an image, the image should appear in map preview of post, post detail, and on list view

### Actual behaviour
Image only appears in list view

### Steps to reproduce the behaviour/error
1. go to http://qa.ushahidi.com/posts/153 (image is not there)
2. navigate back to map view and click on the seattle washington pin (image is not there)
3. Then, navi

[2016-06-09 21:29] jshorland opened #1150 "Spacing slightly off for add to survey from another post detail"
### Expected behaviour

Should look just like add post from home screen
### Actual behaviour

See screenshot
### Steps to reproduce the behaviour/error
1. login to qa.ushahidi.com
2. navigate to http://qa.ushahidi.com/posts/153
3. click "add to this survey"
4. See screen shot.

![screen shot 2016-06-09 at 2 26 00 pm](https://cloud.githubusercontent.com/assets/3224856/15947057/6ea3fafc-2e4e-11e6-95

[2016-06-09 21:32] jshorland opened #1151 "Image size errors when uploading a photo are unclear"
### Expected behaviour
If photo couldn't upload, understanding why.

### Actual behaviour
Just a blank error was presented to me

### Steps to reproduce the behaviour/error
1. login to qa.ushahidi.com
2. add to "jess's special posts"
3. Try to upload attached image into the image field  (laugh all you want)

Note: i DID successfully upload another image. It's attached to http://qa.ushahidi.com/pos

[2016-06-09 22:06] rjmackay opened #1152 "Post list doesn't reload after deleting a post"
- Go to timeline
- Delete a post

Expected:
- Post to be remove from listing

Actual:
- Post is still there

[2016-06-09 22:13] #1115 closed

[2016-06-09 22:45] rjmackay commented on #1142
This was never actually there before. Because its a feature we never built it was out of scope for this phase of Mustang. Its probably something we'll look at in detail as we expand Tasks

[2016-06-09 22:45] #1142 closed

[2016-06-09 22:46] rjmackay commented on #1141
We've got a fairly major update coming out next week. Its quite possible that will fix your issue. Can I get you to retest this in a week and let us know if its still a problem?

[2016-06-09 22:53] rjmackay commented on #1030
@jshorland this is really a feature request. I don't think we should target this for mustang release. Can I drop priority?

[2016-06-09 22:54] rjmackay commented on #1029
I'm not convinced this is a good idea. Being able to see the password is useful for checking your settings.

[2016-06-09 22:57] #585 closed

[2016-06-09 22:58] #1062 closed

[2016-06-09 22:59] rjmackay commented on #730
Closing: we can review limits needs after release

[2016-06-09 22:59] #730 closed

[2016-06-09 23:00] rjmackay commented on #794
@jshorland assigning to you for testing with other limits.

[2016-06-09 23:02] rjmackay commented on #1016
@jshorland @aoduor Can you retest on QA?

[2016-06-09 23:05] rjmackay commented on #1019
@jshorland we're currently using the same GA profile for ushahidi.com and ushahidi.io
We should probably split: .com, ushahidi.io, deployment.ushahidi.io into their own profiles.
The stats for deployments would still be aggregated as 1 profile though.

[2016-06-09 23:19] #1107 closed

[2016-06-09 23:21] rjmackay opened #1154 "Update feature limits + plans"
Update feature limits + plans in cloud UI

[2016-06-10 00:36] Shadrock commented on #1127
Sorry I missed this: just to (double) confirm: Jess' steps listed above are correct.

[2016-06-10 02:22] #1140 closed

[2016-06-10 02:31] Shadrock opened #1155 "Categories section header appears on forms when there are no categories."
**This is for the COMRADES deployment**: http://comrades.ushahidi.com/views/map

### Expected behaviour
Ability to add date to post which features a date field.

### Actual behaviour
"Date of Activity" text appears but is not followed by a form field. Moreover, the "Categories" text also appears. I did not set categories on the original deployment (https://comrades.ushahidi.io/views/map)
![comrade

[2016-06-10 02:43] Shadrock commented on #1147
I'm having the same problem with http://comrades.ushahidi.com. Just to clarify, this is the toggle for the "Approval" step. Unlike @jshorland, I *cannot* go back to the structure step and save from there. Instead, I get an error message at the top of the screen telling me that "The required step Approval has not yet been marked complete."

[2016-06-10 02:48] rjmackay commented on #1121
@willdoran it was a change when I upgraded angular. You can't have special chars in a input `name` and the key contains `-`

[2016-06-10 02:49] rjmackay commented on #1136
Fixed this

[2016-06-10 02:49] #1136 closed

[2016-06-10 02:58] #1120 closed

[2016-06-10 03:04] rjmackay commented on #1127
hrm. the problem here is the updated filter for "Who its visible to" https://www.dropbox.com/s/jt7mlq4ig4y9w93/Screenshot%202016-06-10%2015.04.20.png?dl=0

This default to "Everyone" but you'll only see those posts under the "Only you" label. However that label isn't even accurate for admins, since its visible to admins.

[2016-06-10 03:10] rjmackay commented on #1127
I'm going to update for now to:
1. Default to showing *everything* again.. I'm just not sure what to call this. Since 'Everyone' implies only showing posts visible to everyone, where we really want posts visible to Anyone.
2. Rename "Only you" to "Only the author (drafts)" if the logged in user is admin.

Who its visible to:
- Everyone
- Admin
- Members
- Only the author (drafts)

[2016-06-10 03:42] rjmackay commented on #1127
Fixed. @jshorland can you retest on QA?

[2016-06-10 04:01] rjmackay commented on #1123
Apparently we can't get location unless we're using HTTPS.
I'll disable it on HTTP, not sure how to fix this icon though :/

[2016-06-10 04:26] rjmackay commented on #1123
@jshorland closing this - but can you retest completing structure and log a new issue if thats still broken?

[2016-06-10 04:26] #1123 closed

[2016-06-10 04:31] rjmackay commented on #1139
@jasonmule I'm happy with that. Can you make that change but keep the next step code in there still? (ie. so the switch back is quick)

[2016-06-10 07:49] aoduor opened #1156 "Unable to delete a user from User Edit Page"
### Expected behaviour
I should be able to click on delete, get a confirmation message and eventually successfully delete a user from the edit page.

### Actual behaviour
Clicking on the delete user button yields no response

### Steps to reproduce the behaviour/error
* Log into qa.ushahidi.com
* Click on settings, then users
* Select a user you'd like to delete
* Once edit page loads, click on de

[2016-06-10 09:48] aoduor opened #1157 "Return ability to tell survey type of a post from Post List page"
### Expected behaviour
This is what we had previously for:-
* A structured post
![screenshot](http://i.imgur.com/eIXvyWj.png)

A label for the survey the post belongs to would be great

### Actual behaviour
We only have an indication of
* whether the post is public or not
* Source
* How to edit, add to a collection or delete the individual post

### Steps to reproduce the behaviour/error
* Click o

[2016-06-10 11:14] aoduor opened #1158 "Unable to add new fields to tasks"
### Expected behaviour
When i click on add field, i should be able to select a field type, and a pop up box shows up for me to fill in field details.

### Actual behaviour
On selecting a field type, the pop up box that appears is as shown below.
![screenshot](http://i.imgur.com/znNFk7Y.png)

### Steps to reproduce the behaviour/error
* Log into qa.ushahidi.com
* Click on settings, then surveys
* S

[2016-06-10 12:35] aoduor commented on #1158
Hmph. It's working now :/. Closing.

[2016-06-10 12:35] #1158 closed

[2016-06-10 12:45] dexwakhu opened #1159 "Adding a post from the menus on the left doesn't work"
### Expected behaviour
When you click "add to basic post" or "add to sample post type" etc should pull up a form to add the post
### Actual behaviour
Nothing happens
### Steps to reproduce the behaviour/error
on left hand menu, click drop down arrow on "basic post" and click  "add to basic post"

[2016-06-10 12:52] dexwakhu opened #1160 "Clicking "add the first post" in a collection doesn't work"
<img width="646" alt="screen shot 2016-06-10 at 15 49 34" src="https://cloud.githubusercontent.com/assets/13867411/15964792/024245c8-2f23-11e6-950d-a981f4820d76.png">
### Expected behaviour
Clicking 'Add the first post' should allow you to add a post
### Actual behaviour
nothing happens
### Steps to reproduce the behaviour/error
go to collections > choose a collection > click timeline > try to add

[2016-06-10 12:56] aoduor opened #1161 "No indication of required fields"
### Expected behaviour
When there are required fields in a specific task, i expect to see an aterisk, or something to flag that they are required

### Actual behaviour
None of the required fields have any mark/indication on them

### Steps to reproduce the behaviour/error
* Log into qa.ushahidi.com
* Click on Settings, then Surveys
* Select a survey, and a subsequent task in the survey
* Add a new

[2016-06-10 12:57] aoduor commented on #1159
Hey @dexwakhu, the yellow (+) icon is what you're meant to use to add a post :D.

[2016-06-10 12:58] aoduor commented on #1159
Tested this as well, +1, unable to add a post from that menu bar.

[2016-06-10 13:03] dexwakhu opened #1162 "Unable to save basic post with location"
<img width="1158" alt="screen shot 2016-06-10 at 15 57 30" src="https://cloud.githubusercontent.com/assets/13867411/15965159/dc628e60-2f24-11e6-8ed7-31870e05870c.png">
### Expected behaviour
Clicking save would save the post or bring up error message
### Actual behaviour
Nothing happens
### Steps to reproduce the behaviour/error
Add new post > Select basic post with location > enter title, descrip

[2016-06-10 13:11] zhalloran commented on #1115
@rjmackay I left this alone. After starting work on this, I noticed that @jasonmule had already pushed a branch with a solution.

[2016-06-10 13:17] dexwakhu opened #1163 "Mark as complete placement"
### Expected behaviour
The mark as complete button is disabled on posts until you enter a description but the description
### Actual behaviour
The order of the fields/buttons makes it appear like the mark as complete button has an issue whereas this may not necessarily be the case
<img width="1152" alt="screen shot 2016-06-10 at 16 10 56" src="https://cloud.githubusercontent.com/assets/13867411/15

[2016-06-10 14:01] jshorland commented on #1147
@Shadrock Toggle button is broken, but not being able to save from step 1, that's because yours is required to publish and mine isn't. That's actually the system working properly for required steps :-)

Update: I was able to toggle it on step 1, but can no longer do that. Mark as complete doesn't work at all.

[2016-06-10 14:03] jshorland commented on #1123
Logged at #1147

[2016-06-10 14:05] jshorland opened #1164 ""visible to" icon help text hidden in post detail view"
### Steps to reproduce the behaviour/error
1. login to qa.ushahidi.com
2. navigate to http://qa.ushahidi.com/posts/157
3. hover mouse over visibility to icon

see screen shot
![screen shot 2016-06-10 at 7 03 29 am](https://cloud.githubusercontent.com/assets/3224856/15966839/b0da1646-2ed9-11e6-8fee-e2aea7f4b18e.png)

[2016-06-10 14:07] aoduor opened #1165 "Rename "Post Type" to "Survey Type" on CSV Import page"
### Expected behaviour
Any references to post types should now have changed to survey types on the CSV import page

### Actual behaviour
We're still referring to Post Types on the CSV import page
![screenshot](http://i.imgur.com/dDkce2o.png)

### Steps to reproduce the behaviour/error
* Log into qa.ushahidi.com
* Click on settings, then, click on Import

[2016-06-10 14:18] willdoran commented on #1156
@aoduor this should be fixed by [233](https://github.com/ushahidi/platform-client/pull/233)

[2016-06-10 14:18] jshorland commented on #1161
Couldn't replicate -- I see a red asterisk next to required fields in mine

[2016-06-10 14:29] #1156 closed

[2016-06-10 14:59] aoduor commented on #1156
No dice on qa.ushahidi.com yet though.

[2016-06-10 15:13] aoduor commented on #1161
Wierd. I was editing fields on the "Basic" post type and set the "Location" field as required - no dice. No asterisk on post creation.

[2016-06-10 15:30] willdoran commented on #1147
@jshorland @Shadrock Hi, I've fixed this now with [235](https://github.com/ushahidi/platform-client/pull/235)

[2016-06-10 15:35] willdoran commented on #1147
Will push to qa shortly

[2016-06-10 16:14] willdoran commented on #1148
@jshorland: this should be fixed by [236](https://github.com/ushahidi/platform-client/pull/236)

[2016-06-10 16:44] brandonrosage opened #1166 "Each data source should be displayed on a single listing "sheet""
### Expected behaviour
Each data source should be displayed on a single listing "sheet":

![screenshot from PL](https://cloud.githubusercontent.com/assets/1136279/15971719/47a20ebe-2f00-11e6-8ca5-4e25f3b3913d.png)

### Actual behaviour
Each data source is displayed as individual listings with one item:

![screenshot from client](https://cloud.githubusercontent.com/assets/1136279/15971748/6384cc34-

[2016-06-10 16:47] willdoran commented on #1124
closing in favour of #1147

[2016-06-10 16:47] #1124 closed

[2016-06-10 16:49] willdoran commented on #1162
This appears to be entering an error state but isn't reporting it.

[2016-06-10 17:09] willdoran commented on #1162
Ok this is legitimate behaviour BUT you should be seeing an error message. The notify service isn't working correctly. I'll fix that now.

[2016-06-10 17:24] willdoran commented on #1162
@rjmackay I think this is caused by
https://github.com/ushahidi/platform-client/blob/develop/app/common/notifications/notify.service.js#L34
it's missing $promise but it won't work anyway because there are no translation keys for auto generated errors :/ I'll look at adding them to en.json

[2016-06-10 18:08] caharding opened #1167 "Selector buttons have a top shadow"
### Expected behaviour
Selector buttons shouldn't have a shadow

### Actual behaviour
All the selector buttons are styled with a top shadow

### Steps to reproduce the behaviour/error
Look under any filters section

<img width="231" alt="screen shot 2016-06-10 at 11 07 25 am" src="https://cloud.githubusercontent.com/assets/1618793/15974107/a47d8afa-2efb-11e6-80cf-3ed5ef0bb587.png">

[2016-06-10 18:11] caharding opened #1168 "Activity needs to show useful information upon load"
### Expected behaviour
I want to see graphs that automatically make sense when I load the page - likely Surveys or Posts. The timeframe filter should default to a period in which there are posts

### Actual behaviour
When you visit activity, there are no graphs and it is not clear how to make it work

### Steps to reproduce the behaviour/error
Visit activity and see that nothing shows

<img width=

[2016-06-10 18:12] caharding opened #1169 "Activity time filters not working"
### Expected behaviour

When I select show activity by last week, I will see activity
### Actual behaviour

No activity is shown
### Steps to reproduce the behaviour/error

Go to QA site, go to activity, select time filter of last week

[2016-06-10 18:15] willdoran commented on #1162
This should be fixed by [237](https://github.com/ushahidi/platform-client/pull/237)

[2016-06-10 18:17] caharding opened #1170 "Activity "Compare" feature confusing"
### Expected behaviour
The current selector on the activity graphs says "Compare..." I expect this to simply be a selector of posts/surveys/categories/status. This should default to All Posts. When I make the selection I expect that the text would change to what I selected. Furthermore compare is just confusing.

### Actual behaviour
No matter what I select, this drop down always says "Compare" it

[2016-06-10 18:32] willdoran commented on #1159
@rjmackay This doesn't appear to be wired up, is it waiting to be merged?

[2016-06-10 18:33] willdoran commented on #1160
@rjmackay @brandonrosage this needs a ui element to allow the user to select a survey similar to the fab button.

[2016-06-10 18:40] willdoran commented on #1151
This picture perfectly captures the pain of not uploading this picture! Testing now

[2016-06-10 18:46] aoduor opened #1171 "Add button to create a saved search from saved search list"
### Expected behaviour

Clicking on "Create New" should yield something
### Actual behaviour

The button is non responsive
![screenshot](http://i.imgur.com/KGOJSiT.png)
### Steps to reproduce the behaviour/error
- Click on the star on the search bar
- Click on Create New

[2016-06-10 19:29] willdoran commented on #1151
Ok this is fixed by [238](https://github.com/ushahidi/platform-client/pull/238)

[2016-06-10 19:59] willdoran commented on #1160
Ok, @brandonrosage has created some new markup and I'm implementing it now.

[2016-06-10 20:05] brandonrosage commented on #1160
I revised the existing "Map: Collection" layout to [include a message](https://github.com/ushahidi/platform-pattern-library/blob/mustang/pattern-library/5_layouts/map-collection.html#L202-L222) explaining that the Collection has no posts, and how to add them.:

![screenshot from PL](https://cloud.githubusercontent.com/assets/1136279/15977146/a4246a4e-2f1c-11e6-8692-008520f24818.png)

[The message

[2016-06-11 07:07] aoduor commented on #1171
flagging @willdoran @rjmackay @jasonmule

[2016-06-11 10:09] aoduor opened #1172 "Add links to support docs + how to report a bug"
We previously had this on the v3.2

![screenshot](http://i.imgur.com/rIejMF5.png)

But I don't see it anywhere on mustang, and it's pretty important.

cc @jshorland @rjmackay

[2016-06-11 10:13] aoduor opened #1173 "Add "How to add a post" section"
### Expected behaviour

This seems to be wired up on the PL as shown below.
![screenshot](http://i.imgur.com/B10XsEI.png)
### Actual behaviour

We don't have that available on the left menu bar on qa.ushahidi.com
### Steps to reproduce the behaviour/error

Navigate to the homepage on qa.ushahidi.com

Question: Ideally, in which sections of the settings would this get wired up?

[2016-06-11 10:14] aoduor commented on #1173
Flagging @brandonrosage @rjmackay @willdoran

[2016-06-11 12:16] aoduor opened #1174 "Add colors to Surveys"
Here's how Surveys appear on the PL

![screenshot](http://i.imgur.com/PrPLDWV.png)

And how they appear on qa.ushahidi.com
![screenshot](http://i.imgur.com/9MYJ6AO.png)

Is this as expected? @brandonrosage @rjmackay @jshorland

[2016-06-11 13:46] willdoran commented on #1174
Not yet, surveys don't yet have a colour field but they will in the next release.

[2016-06-11 16:03] aoduor commented on #1168
I think this is because we don't have much data on the QA deployment for it to pick anything @caharding

[2016-06-12 03:57] rjmackay opened #1176 "Grandfather existing users"
- Log in to recurly
- Rename free plan to free-pre-jun-2016
- Rename free plan in cloud DB (so existing deployments stay on this plan)
- Run plans:chargebee to resync plans (ie. recreate 'free' again, update pricing)

[2016-06-12 04:06] #1110 closed

[2016-06-12 04:29] #1103 closed

[2016-06-12 04:31] rjmackay commented on #1173
This wasn't in scope for this release. Its clearly important though and will be in the next release.

[2016-06-12 04:32] rjmackay commented on #1172
Yikes. @brandonrosage where could we link these from?

[2016-06-12 04:33] rjmackay commented on #1170
.. could have sworn that worked before. I'll investigate.

[2016-06-12 04:35] rjmackay commented on #1168
This is a problem.. but its really out of scope for this sprint. Assigning to @jshorland for future triage

[2016-06-12 04:38] rjmackay commented on #1159
Nope. Thats and oversight on my part. Should be quick to wire up though..

[2016-06-12 04:46] #1159 closed

[2016-06-12 09:55] #1130 closed

[2016-06-12 09:55] #1129 closed

[2016-06-12 12:38] fegul opened #1177 "Issues running migrations with mysql strict mode"
When attempting to install the platform on Ubuntu Server 16.04, the bin/update command returns:

`[InvalidArgumentException] There was a problem creating the schema table: SQLSTATE[42000]: Syntax error or access violation: 1067 Invalid default value for 'end_time'`

[2016-06-12 17:10] #1139 closed

[2016-06-12 20:36] #1108 closed

[2016-06-12 23:07] #1064 closed

[2016-06-13 00:09] rjmackay opened #1178 "Restore first time login modal"
Fix the settings modal which opens the first time you login in to a deployment.

[2016-06-13 01:09] rjmackay commented on #1146
@jshorland Can you retest this?

[2016-06-13 01:23] rjmackay commented on #1171
I'm going to remove that for this release. Its non-trivial to wire up. Sorry!

[2016-06-13 01:40] #1165 closed

[2016-06-13 01:45] rjmackay commented on #1177
Thanks for the bug report @fegul. What version of mysql are you running? What version of the code are you running?

[2016-06-13 01:47] jshorland commented on #1162
Fixed and passed QA.

[2016-06-13 01:50] jshorland commented on #1151
Systems returns error now, but I don't understand the size taxonomy.

When we have time, we should:

1. add help text to the image field that let's users know up front the sizing limitations and
2. Change the help text to be more layman friendly

![screen shot 2016-06-12 at 6 48 57 pm](https://cloud.githubusercontent.com/assets/3224856/15995333/7be5d1f4-30ce-11e6-88bd-1588a200b13b.png)

[2016-06-13 01:52] jshorland commented on #1147
Confirmed fixed. Passed QA

[2016-06-13 01:58] jshorland commented on #1146
Confirmed fixed. Passes QA.

[2016-06-13 02:22] jshorland commented on #1148
Fixed.

Notes from QA:

If no default is set when creating the field in a survey (which is confusing itself as it's not a date picker, you just have to enter a date free hand), it defaults to january 1969. Should default to the contributor's present date (whoever is adding the post)

[2016-06-13 02:24] jshorland commented on #1132
Fixed. Passes QA. Looks beautiful on mobile

[2016-06-13 02:30] jshorland commented on #1127
This works as expected when I filter posts to those visible to Admin. I see posts created as a non-logged in user.

cc: @Shadrock the ux needs re thinking here, but it's technically working.

[2016-06-13 02:30] #1127 closed

[2016-06-13 02:31] jshorland commented on #1072
Confirmed fix. Passes QA.

[2016-06-13 02:31] #1072 closed

[2016-06-13 02:32] #1162 closed

[2016-06-13 02:36] #1147 closed

[2016-06-13 02:36] #1146 closed

[2016-06-13 02:37] #1132 closed

[2016-06-13 02:38] jshorland commented on #1074
done. QA passed.

[2016-06-13 02:38] #1074 closed

[2016-06-13 02:39] jshorland commented on #1151
passing back to you @rjmackay

[2016-06-13 02:39] jshorland commented on #1148
passing back to you @rjmackay

[2016-06-13 02:42] jshorland commented on #1034
Scope from nat:

When someone signs up for a deployment we need to ask them:

1) Name of org if different from deployment name
2) Size of org by employees (drop down of 1-10, 10-50, 50-100, 100-250, 250-500, 500-1000, 1000+)
3) What are you using Ushahidi for? (Choose multiple by clicking CTRL)
Advocacy
Human Rights
Humanitarian & Crisis Response
First Responders
Election Monitoring
International

[2016-06-13 03:00] rjmackay commented on #1169
I think thats just because there aren't enough data points. If theres only going to be  a single point on the timeline.. we don't show anything.

[2016-06-13 03:04] rjmackay commented on #1169
Can you retest? Bearing in mind that time chart graphs the post creation date, if you haven't created many posts this week the chart is probably not going to show anything. 1 week granularity is almost

[2016-06-13 03:08] #1170 closed

[2016-06-13 03:17] rjmackay commented on #1168
I've defaulted to showing "All time" for now.

[2016-06-13 03:17] #1168 closed

[2016-06-13 03:19] jshorland commented on #1168
Yep, little data is precisely the problem. Defaulting to all time gives more context for now.

[2016-06-13 03:22] jshorland commented on #1135
I can sign in, but never received an email (5 minutes have passed since signing up for deployment)

[2016-06-13 03:25] rjmackay commented on #1135
Sorry to be clear: there is no confirmation email (ever). But you shouldn't see any errors after registering.

[2016-06-13 03:26] rjmackay commented on #1135
and you should be able to login

[2016-06-13 03:26] #1135 closed

[2016-06-13 03:36] jshorland commented on #1169
On qa.ushahididev.com, I have added posts today and published those posts, but activity this week still shows no data.

[2016-06-13 03:37] jshorland commented on #1169
Further, If you switch it to "all time" you'll see the post count I've created today.

[2016-06-13 04:29] #1148 closed

[2016-06-13 04:59] jshorland opened #1179 "Change "unknown posts" to incoming messages?"
We need to discuss the naming of unstructured posts. Now, it's "unknown". I'd prefer it to be "incoming messages" per a suggestion by @caharding.

Only concern is that users get confused between this and posts that are already structured, but that have messages associated with them.

Thoughts, @brandonrosage

[2016-06-13 05:00] rjmackay opened #1180 "Ensure plans screen in client is up to date"
This is updated in cloud ui but maybe not in client yet

[2016-06-13 05:02] #755 closed

[2016-06-13 05:03] rjmackay commented on #884
Closing in favour of continued mustang work

[2016-06-13 05:03] #884 closed

[2016-06-13 05:04] #1154 closed

[2016-06-13 05:14] aoduor commented on #1179
In my experience, users I spoke to/trained found the differentiation between structured and unstructured posts much clearer. I would go do keeping it as "unstructured" posts.

[2016-06-13 05:50] jshorland opened #1181 ""stage structure required" error message showing when trying to import posts"
### Expected behaviour
After organizing my data by mapping my csv columns to field types, I should be able to finish my import.

### Actual behaviour
It shows me an error (see screen shot)

### Steps to reproduce the behaviour/error
1. Login to qa.ushahididev.com
2. go to data import
3. select "basic post" as survey
4. upload attached csv file from link: https://docs.google.com/spreadsheets/d/1XNW

[2016-06-13 08:23] rjmackay commented on #1179
"Structured" terminology isn't used *anywhere* in mustang that I saw. I'm happy to bring it back (quickly if need be).. but for tomorrows release its gone.

[2016-06-13 09:11] #1180 closed

[2016-06-13 09:17] rjmackay commented on #1152
Further: this works if you use bulk actions, but not a single post action.

[2016-06-13 09:35] jasonmule commented on #1149
Could not reproduce this for post detail. I think we might need to change the layout for map view @rjmackay ?

[2016-06-13 13:49] zhalloran commented on #1169
Looking through the code now. Don't fully understand how filters are implemented against posts, but my guess would be that the created-before value is the issue (i.e. the filter behavior is starte date <= post date < last date). What we probably want is start date <= post date <= last date. Just not sure where to make that change in the code. @rjmackay @jshorland

[2016-06-13 14:57] jshorland opened #1182 "map zoom hidden behind intercom help box"
![screen shot 2016-06-13 at 7 56 31 am](https://cloud.githubusercontent.com/assets/3224856/16012003/6d507cde-313c-11e6-82e3-6284b836cbeb.png)

[2016-06-13 15:06] brandonrosage commented on #1179
In Mustang, the use of "Unknown" was not intended to be a universal label for all unstructured posts in all contexts. It was to offer a survey filter with an intuitive label. In the Surveys filter, "Police encounters" represents posts whose survey is "Police encounters," and "Unknown" represents posts whose survey is unknown.

So I don't think we're under any pressure to decide what we call this t

[2016-06-13 15:11] aoduor opened #1183 "Export button displays on User Settings page"
### Expected behaviour
This button should only appear on:-
* Map Mode
* Timeline Mode
* Saved Searches
* Collections
* Search Results page

### Actual behaviour
It's showing up on all pages above AND user settings page
![screenshot](http://i.imgur.com/gUs3jOa.png)

### Steps to reproduce the behaviour/error
* Log into qa.ushahidi.com
* Click on settings
* Click on users

[2016-06-13 15:13] jshorland opened #1184 "Map strangely changes back to satellite even though set as humanitarian"
### Expected behaviour
Map stays on selected (what should be default) map baselayer of humanitarian for my entire session unless I change it.

### Actual behaviour
Map strangely changes back to satellite even though set as humanitarian

### Steps to reproduce the behaviour/error
1. login to qa.ushahididev.com (Jess@ushahidi.com, password)
2. complete a few navigations to a fro various screens

[2016-06-13 15:16] jshorland opened #1185 "Load animation appears and doesn't go away when I open my account settings"
### Steps to reproduce the behaviour/error
1. login to qa.ushahididev.com (jess@ushahidi.com, password)
2. click on account
3. see screenshot

![screen shot 2016-06-13 at 8 14 57 am](https://cloud.githubusercontent.com/assets/3224856/16012618/2154cf12-313f-11e6-86cf-c563781d760b.png)

[2016-06-13 15:17] caharding commented on #1179
We need the language about our features to be clear and human readable. The current format of structured/unstructured is abstract and not clear - I could not easily explain it to my grandmother. In the Ushahidi jargonverse, "unstructured" suggests that someone messaging Ushahidi meant to actually fill out a survey, when it is much more likely that they just wanted to report something or ask for he

[2016-06-13 15:18] aoduor commented on #1172
Just to clarify: Documentation should point to ushahidi.com/support and how to report a bug should EITHER link to github issues(https://github.com/ushahidi/platform/issues/new) OR to intercom

[2016-06-13 15:20] brandonrosage commented on #1179
To be clear, the term "unstructured" is no longer used in Ushahidi. Mustang eliminated it.

[2016-06-13 15:22] aoduor commented on #1096
Quick question on this one: What timeline of implementation are we looking at or this?

[2016-06-13 15:46] brandonrosage commented on #1172
I just pushed a revision to the PL that re-purposes the "Ushahidi" menu item in the mode bar as "Ushahidi Support." Upon selecting it, it displays a dialog/modal with links to "Documentation," "Report a bug," and "Features."

DEMO: http://d.pr/i/1eq5N/1u95RoQo

/cc @willdoran

[2016-06-13 15:56] willdoran commented on #1151
We should have a translation mapping for the error message, I'll look at this shortly

[2016-06-13 16:00] caharding opened #1186 "No posts showing on map after submitting a post"
### Expected behaviour
Submit a post and go back to the map

### Actual behaviour
When it goes back to the map, no posts are showing and the default map changed to MapBox away from Humanitarian

### Steps to reproduce the behaviour/error
Submit a post on basic survey
The home page no longer has posts showing on the map

Safari, OSX

[2016-06-13 16:03] jshorland commented on #1186
I've just started experiencing this issue as well. Not happening last night, but happening this morning.

[2016-06-13 16:05] caharding opened #1187 "Mark As Complete doesn't make sense for non-logged in user"
### Expected behaviour
When I see Mark As Complete, I can't flip the switch b/c it requires me to fill out more fields. But it the required fields are also not visually indicated, so there is no way to know when to flip the switch.

### Actual behaviour
Won't let me flip the switch. If I fill in description, I can then

### Steps to reproduce the behaviour/error
Create basic post
Fill in title
Don

[2016-06-13 16:07] caharding opened #1188 "Required fields don't block posting"
### Expected behaviour
When a required field isn't entered, you can't submit a post

### Actual behaviour
A warning pops up that says you must fill in a field only if you fill in a required field and then delete it, but you can still submit a post

### Steps to reproduce the behaviour/error
Create a basic post
Enter a title and description
Delete description
Save post

[2016-06-13 16:11] caharding opened #1189 "Survey settings from survey dropdown doesn't work on Safari"
### Expected behavior
The survey settings from the survey drop down should link to the associated settings page

### Actual behavior
Just loads a blank screen

### Steps to reproduce the behaviour/error
On homepage click dropdown on "Basic post survey"
Select Survey Settings
Blank page is created

Logged in on Safari desktop

[2016-06-13 16:14] caharding opened #1190 "Search has no button and enter doesn't work on Safari"
### Expected behavior
When I enter a search, it automatically begins the search based on what I type. Or if I press enter it will then make that search

### Actual behavior
When I enter a search, I then have to go to "Filters" and hit apply

### Steps to reproduce the behaviour/error
Enter a search, press enter... nothing happens

Logged in / Safari / OSX desktop

[2016-06-13 16:16] caharding opened #1191 "Filters missing horizontal lines between filters"
### Expected behavior
I expect less space between filters so I can see more on the screen. And when a filter description is longer than two lines it looks bad like here in "Who It's Visible To"

### Actual behaviour

### Steps to reproduce the behaviour/error
<img width="446" alt="screen shot 2016-06-13 at 12 15 31 pm" src="https://cloud.githubusercontent.com/assets/1618793/16014761/a2962834-3160-

[2016-06-13 16:17] caharding opened #1192 "Filters dropdown should not have a top shadow or top rounded corners"
<img width="454" alt="screen shot 2016-06-13 at 12 17 11 pm" src="https://cloud.githubusercontent.com/assets/1618793/16014812/d1d22c7e-3160-11e6-9716-e9a0289361a7.png">

[2016-06-13 16:18] caharding opened #1193 "Dropdown boxes need to be restyled"
The dropdown box "Within 1km" box doesn't match the rest of the design of custom fields. Should look like the dropdown perhaps on the Activity page

<img width="454" alt="screen shot 2016-06-13 at 12 17 11 pm" src="https://cloud.githubusercontent.com/assets/1618793/16014830/eb71b49c-3160-11e6-9966-86f068c1d330.png">

[2016-06-13 16:23] caharding opened #1194 "Dropdown dialogue box doesn't go away after hitting OK"
### Expected behavior
After I delete a saved search, a confirmation dialogue drop down happened. I hit OK and I thought the dialogue would go away

### Actual behavior
I hit OK, and it took me back to the homepage, but the dropdown stays### Steps to reproduce the behaviour/error preventing me from doing another search or filter unless I reload the browser

### Reproduce
Select a saved search
Delet

[2016-06-13 16:31] caharding opened #1195 "The count box doesn't make sense on Map mode for posts without locations"
### Expected behavior

I am trying to filter a survey that has posts on the post count, but no pins show on the map.
### Actual behavior

I need to see some sort of dialogue box telling me why. I only figured out that the survey type didn't have a location associated with it.
### Steps to reproduce the behaviour/error

Filter a survey in map mode with no location type but with a count of posts, se

[2016-06-13 16:36] caharding opened #1196 "Count on "Unknown" posts is broken"
There is no post count on "Unknown"

[2016-06-13 16:38] caharding opened #1197 "Need to have "Clear Search" at the bottom of saved search to take you back home"
### Expected behavior

I expected a "Clear Search" button at the bottom of saved search to take me home, I then pressed the Map mode again and though it would clear the search.
### Actual behavior

I couldn't figure out how to clear a saved search
### Steps to reproduce the behaviour/error

Select a saved search and try to get out of it!

[2016-06-13 16:39] caharding opened #1198 "Reset saved search doesn't make sense"
### Expected behavior

I thought "Reset Search" would clear the search, instead it went back to the saved search
### Actual behaviour
### Steps to reproduce the behaviour/error

Add a clear search underneath

[2016-06-13 16:42] caharding opened #1199 "Map resets after I look at a saved search"
### Steps to reproduce the behaviour/error
Select a saved search from the dropdown, map will reset to MapQuest and show no pins

If this doesn't work, click a saved search, and then click on the QA Deployment button to take you to home

Logged in / Safari / Mac OSX

[2016-06-13 16:45] caharding opened #1200 "Keyword doesn't clear after navigating away from saved search"
### Expected behavior

After I go back to home from a saved search, I expect the search term in the search box to go away
- Filters should reset when switching home/saved search/collections views
- Filters should not reset when switch between map and list views
### Actual behavior

When I go home after a saved search, the search term stays in the search box, and doesn't clear in the mode context b

[2016-06-13 16:46] caharding opened #1201 "Distance filter needs an option to enter a field of any distance"

[2016-06-13 16:48] caharding opened #1202 "Location filter breaks GPS coordinates need to be shortened"
GPS coordinates that are created after a search, break the border on the mode context bar.

REPRODUCE
Create a search, filter by Location
<img width="223" alt="screen shot 2016-06-13 at 12 47 26 pm" src="https://cloud.githubusercontent.com/assets/1618793/16015738/2998e782-3165-11e6-9d96-290b8d49059f.png">

[2016-06-13 16:50] caharding opened #1203 "Location Search tile should be the title of the search, not GPS coordinates"
### Expected behavior

When I enter a location like "New York" I expect the search tile to say New York
### Actual behavior

Search tile gives GPS coordinates instead
### Steps to reproduce the behaviour/error

<img width="783" alt="screen shot 2016-06-13 at 12 50 00 pm" src="https://cloud.githubusercontent.com/assets/1618793/16015788/60da1978-3165-11e6-9f54-314b6101ad43.png">

[2016-06-13 16:51] caharding opened #1204 "Export button cancel doesn't work"
### Expected behavior
If I hit export and then cancel, dialogue box will go away

### Actual behavior
I hit cancel and nothing changes, preventing me from doing anything else

### Steps to reproduce the behaviour/error
Hit export button, hit cancel

Logged in Safari / OSx

[2016-06-13 17:00] caharding opened #1205 "Collections: Add The First Post broken"
### Expected behavior
I expect to click this button and it asks me to choose a survey

### Actual behavior
Button does nothing

### Steps to reproduce the behaviour/error
Create a new collection or go to a collection with no posts, press button

Logged in / Safari / Max OSx

<img width="821" alt="screen shot 2016-06-13 at 12 58 47 pm" src="https://cloud.githubusercontent.com/assets/1618793/1601605

[2016-06-13 17:23] caharding opened #1206 "User creation error with no dialogue"
### Expected behavior
Create a user and don't assign a role, doesn't

### Actual behavior
This box should tell me what is wrong

### Steps to reproduce the behaviour/error
Create a new user, don't assign a role, try to save, a dialogue box will drop down without any context

<img width="956" alt="screen shot 2016-06-13 at 1 23 20 pm" src="https://cloud.githubusercontent.com/assets/1618793/16016635

[2016-06-13 17:26] caharding opened #1207 "Creating a user did not send that user an email welcoming them to the deployment"
### Expected behavior

When I create a user, they should get an email that they are part of that deployment
### Actual behavior

No email is sent
### Steps to reproduce the behaviour/error

Create a new user, check their email

[2016-06-13 17:26] jshorland commented on #1190
Can't replicate. The keyword appears as a filter on the left side information bar.

[2016-06-13 17:28] caharding opened #1208 "Update password screws up formatting"
The password box is too close to the save box

<img width="494" alt="screen shot 2016-06-13 at 1 27 49 pm" src="https://cloud.githubusercontent.com/assets/1618793/16016792/b2d998f2-316a-11e6-8d1a-153a427340a0.png">

[2016-06-13 17:32] jshorland commented on #1207
@charlie this isn't a bug. This has NEVER been part of add user, but has been a request on our backlog.

[2016-06-13 17:33] caharding commented on #1190
Try it on Safari, doesn't work

[2016-06-13 17:40] caharding opened #1209 "Email notifications not sending"
### Steps to reproduce the behaviour/error
Create a saved search about a post, Setup a notification about that search, submit a notification that matches that post - doesn't work

Logged in / Safari / OSX

[2016-06-13 17:43] caharding opened #1210 "Activity menu should still have Deployment title/image/desc in it"
### Expected behaviour

Activity menu should still have Deployment title/image/desc in it
### Actual behavior

Activity menu is a description of what you're seeing with a link back to the map
### Steps to reproduce the behaviour/error

<img width="292" alt="screen shot 2016-06-13 at 1 42 26 pm" src="https://cloud.githubusercontent.com/assets/1618793/16017221/ca64efb0-316c-11e6-83c0-b9349c71f7aa.pn

[2016-06-13 17:45] aoduor commented on #1209
we should probably confirm if this is for a published or unpublished post? AFAIK, notifications work with published posts.

[2016-06-13 17:46] caharding opened #1211 "Why does Activity "Status" have published/draft?"
This distinction doesn't exist anywhere else in the platform in any clear way. Where I can filter by published / draft?
<img width="959" alt="screen shot 2016-06-13 at 1 46 00 pm" src="https://cloud.githubusercontent.com/assets/1618793/16017300/30798176-316d-11e6-92b3-edb50843895f.png">

[2016-06-13 17:47] aoduor commented on #1196
Just a quick clarification on this one - i assumed that "unknown" probably refers to posts that haven't been assigned to any survey types(likely for messages coming in from SMS, Email and Twitter) - and we don't have these at the moment?

[2016-06-13 17:59] jshorland commented on #1205
Duplicate -- being handled by #1160

[2016-06-13 17:59] #1205 closed

[2016-06-13 18:01] aoduor commented on #1211
isn't this covered in saved searches? @rjmackay recently added a published posts saved search, yes?

[2016-06-13 18:02] jshorland commented on #1190
Replicated on Safari browser.

[2016-06-13 18:40] aoduor commented on #1187
Related to #1161. I think this issue may be isolated to the Basic Post survey type, as other have an indication of what fields are required. cc @rjmackay @jshorland

[2016-06-13 20:40] aoduor commented on #1172
LMK once we push this live and i can test :)?

[2016-06-13 21:07] rjmackay commented on #1169
Sorry I should have comment on that before I logged off last night. The time filters work fine AFAIK, but we don’t show a chart with less than 3 data points. When you view by week.. theres very little data

[2016-06-13 21:08] zhalloran commented on #1169
No, the issue is that the end_date cuts off at 00 hours for the selected end date. So for example, if I select today as the end date, I will exclude any posts from today that occurred after 00 hours.

[2016-06-13 21:11] rjmackay commented on #1211
Correct. Ideally this would be split by who it was visible to instead however its not possible to do that due to backend limitiations.

[2016-06-13 21:14] rjmackay commented on #1210
This isn't a bug. The activity mode is built as per the designs.

[2016-06-13 21:15] rjmackay commented on #1210
@jshorland @brandonrosage is this something that should change in a future release?

[2016-06-13 21:19] rjmackay commented on #1169
oh. It shouldn't be putting an end date on at all... I'll check.

[2016-06-13 21:25] zhalloran commented on #1169
Sorry. To clarify, if you select week, it doesn't append created_before. I guess I discovered another bug related to created_before for timeline and map filters. My mistake.

[2016-06-13 21:26] Shadrock opened #1212 ""Edit" post requirements are confusing."
**This is for the COMRADES deployment**: http://comrades.ushahidi.com/views/map

### Expected behaviour
That the approval tab (step) would only be available to users with the appropriate roll and that users who aren't logged in wouldn't be able to fill it out.
### Actual behaviour
Report was made while *not* logged in. I was able to fill out the approval step. This did *not* publish the post, but

[2016-06-13 21:35] Shadrock opened #1213 "Posts Not Appearing on Map"
**This is for the COMRADES deployment**: http://comrades.ushahidi.com/views/map

### Expected behaviour
That approved posts set to "Everyone can see this." Would be visible in map view (especially while logged in).
### Actual behaviour
Created a post while not logged in. Then logged in and approved post and set to "Everyone can see this." Post does not appear in map view but does in timeline view.

[2016-06-13 21:41] rjmackay commented on #1169
... ok. Right so what you saying is on map and timeline (and activity to?) if you specify filter dates.. its uses start of day, not end of date on the created_before date?

[2016-06-13 21:47] Shadrock opened #1214 "Post Type count not reflecting posts made using that type"
**This is for the COMRADES deployment**: http://comrades.ushahidi.com/views/map

### Expected behaviour
That when I chose "Add to COMRADES Activities" from the pull-down menu associated with that post-type, that the post would eventually be reflected in the numeric counter associated with that post type.
### Actual behaviour
Choose "Add to COMRADES Activities" from the pull-down menu associated wi

[2016-06-13 22:11] rjmackay commented on #1214
I think this is specific to Comrades. Because its using the production API at ushahidi.io it doesn't yet have the API change needed to return those counts properly. This will get fixes as soon as we go live.

[2016-06-13 22:13] rjmackay commented on #1213
@zhalloran this might be a dupe of the other map bugs I think.

[2016-06-13 22:30] caharding commented on #1196
When I filter timeline for these posts, I see that there are some in the
tool on qa.usahidi.com but I don't see a count of them

On Mon, Jun 13, 2016 at 10:48 AM, Angela Oduor Lungati <
notifications@github.com> wrote:

--
Charlie Harding
Product Director

[2016-06-13 22:31] jshorland commented on #1209
Double checked on qa.ushahididev.com. no email notifications came to me after adding posts within the saved search criteria.

[2016-06-13 22:46] jshorland commented on #1185
As of now, still experiencing the issue. Will clear cache, wait a few minutes, and retest again

[2016-06-13 22:47] rjmackay commented on #1194
I think this was fixed along with post export sliders.

[2016-06-13 22:59] jasonmule commented on #1149
This is probably going to get cumbersome loading stuff again and again from various endpoints to compose fields for map popups. Should we re-work the single API endpoint that this pulls data from?

[2016-06-13 23:19] caharding opened #1215 "Mobile search doesn't work when you type"
### Expected behaviour
I want to enter text, and then it searches automatically

### Actual behaviour
I have to enter text, and then go to to filters and hit apply filters

### Steps to reproduce the behaviour/error
Try to do a search on mobile

![img_3923](https://cloud.githubusercontent.com/assets/1618793/16026339/c8dd9e60-319b-11e6-8a40-6ccd16e896a7.jpg)

Mobile / iOS

[2016-06-13 23:22] rjmackay commented on #1190
As discussed on call: this is also an issue on mobile.
Suggested solutions:
- Show 'suggestions' dropdown when search box is focused. Use that to show a submit button
- Show 'filters' dropdown when search box is focused

[2016-06-13 23:25] caharding opened #1216 "Mobile search bar breaks design when a search is performed"
Do a search on mobile iOS iPhone 6

![img_3924](https://cloud.githubusercontent.com/assets/1618793/16026424/8b711060-319c-11e6-9dc8-50827986f426.jpg)

[2016-06-13 23:33] caharding opened #1217 "Survey filters aren't clickable on certain areas of the page"
Everything in the red box, outside of the "checkbox" is not clickable

Chrome OSX Desktop

<img width="211" alt="screen shot 2016-06-13 at 7 28 30 pm" src="https://cloud.githubusercontent.com/assets/1618793/16026596/9c623510-319d-11e6-957d-f950807f4801.png">

[2016-06-13 23:40] rjmackay commented on #1217
This is the same as in the PL. Its also how checkboxes normally work? you need to click the checkbox or its label..

[2016-06-13 23:41] rjmackay commented on #1217
Unless I'm missing something. ALL of the checkbox itself is clickable for me.

[2016-06-13 23:53] zhalloran commented on #1169
yes, that's correct

[2016-06-14 00:22] jshorland commented on #1194
Fixed. Passes QA.

@caharding assigning to you to retest and confirm.

[2016-06-14 00:24] jshorland commented on #1185
Still experiencing the issue.

[2016-06-14 00:29] jshorland commented on #1169
Do I need to retest this @zhalloran ?

[2016-06-14 00:43] zhalloran commented on #1169
Not as yet, @jshorland. Working on something else right now.

[2016-06-14 00:46] #1215 closed

[2016-06-14 00:46] rjmackay commented on #1216
Fixed by #254

[2016-06-14 00:50] #1194 closed

[2016-06-14 00:51] jshorland commented on #1216
I retested on Android. Fixed. Passes QA.

@caharding can you confirm on ios?

[2016-06-14 00:59] jshorland commented on #1185
still experiencing the issue. i'll give it another go on clearing, waiting, reloading

[2016-06-14 01:01] jshorland commented on #1172
passed qa.

@brandonrosage any design issues?

[2016-06-14 01:04] jshorland commented on #1095
Fixed. Passes qa.

[2016-06-14 01:04] #1095 closed

[2016-06-14 01:06] jshorland commented on #1172
Closing. feel free to reopen if design issues exist.

[2016-06-14 01:06] #1172 closed

[2016-06-14 01:27] rjmackay commented on #1209
@jshorland I'm deploying a fix now. Retest in 10 mins please.

[2016-06-14 02:18] rjmackay commented on #1169
@jshorland Fixed some issues related to this. Retest?

[2016-06-14 02:19] jshorland commented on #1209
I'm still not receiving an email when I add posts that meet criteria for "my posts" in saved searches.

[2016-06-14 02:30] #1182 closed

[2016-06-14 02:37] jshorland commented on #1185
Still experiencing the issue @rjmackay on both safari and chrome after clearing cache.

[2016-06-14 02:47] jshorland commented on #1209
Reassigning to you, @rjmackay . still not receiving email alerts

[2016-06-14 02:51] jshorland commented on #1183
Gone! passes QA

[2016-06-14 02:51] #1183 closed

[2016-06-14 02:58] jshorland commented on #1169
Retested: no clear change to the way the charts change when I switch from all time, to this week, to this month. This month and this week are still "no data"

[2016-06-14 03:04] rjmackay commented on #1134
@willdoran is this fixed along with the collection with no posts issue?

[2016-06-14 03:08] #1134 closed

[2016-06-14 03:42] #1186 closed

[2016-06-14 03:42] #1213 closed

[2016-06-14 03:55] jshorland opened #1219 "Survey limit notification in mapper funky"
Should be link to upgrade your plan

instead:
![screen shot 2016-06-13 at 8 54 05 pm](https://cloud.githubusercontent.com/assets/3224856/16030746/34417f16-31a9-11e6-9b84-a67dad1ac65f.png)

[2016-06-14 03:56] jshorland commented on #1219
tested on jesstest.ushahididev.com

[2016-06-14 03:59] jshorland opened #1220 "User limit notification funky on mapper"
### Expected behaviour
I should hit a limit in adding users and it should link me to upgrade

### Actual behaviour
It gives blank notification

### Steps to reproduce the behaviour/error
1. login to jesstest.ushahididev.com (jess@ushahidi.com, password)
2. try to create new user and save user
3. see notification
![screen shot 2016-06-13 at 8 58 13 pm](https://cloud.githubusercontent.com/assets/322

[2016-06-14 04:06] jshorland opened #1221 "Limiting activity in mapper: I can see activity screen, but no data coming through"
### Expected behaviour
I should be presented with link to upgrade

### Actual behaviour
I see the charts/graphs and can start to press buttons, but never actually see data. Which i suppose is a limit in it's own way.

### Steps to reproduce the behaviour/error
1. login to jesstest.ushahididev.com (jess@ushahidi.com, password)
2. navigate to activity
3. play with dropdowns

[2016-06-14 04:24] #1199 closed

[2016-06-14 04:24] #1184 closed

[2016-06-14 04:24] #1196 closed

[2016-06-14 04:25] #1185 closed