[2016-06-14 04:25] #1181 closed

[2016-06-14 05:16] aoduor opened #1222 "User favicon on mode bar doesn't show picture even though it exists"
### Expected behaviour
Small pet peeve :D.
On the PL, I can see Brandon's face on the mode bar, so i would expect the same with my account
![screenshot](http://i.imgur.com/dVhgy8a.png)
### Actual behaviour
I just have a random icon in place of my picture **wails**
![screenshot](http://i.imgur.com/VFwnx3x.png)

Yet on the user settings page, it exists

![screenshot](http://i.imgur.com/redU1Zq.png)

[2016-06-14 06:05] rjmackay opened #1223 "Can't get notifications for "my posts""
My posts needs to run with user context (for user=me) query. That doesn't work for saved searches task.

[2016-06-14 07:44] #1085 closed

[2016-06-14 18:39] KLyon42 opened #1224 "Collections"
### Expected behaviour
Clicking on collections should, in theory, present a list of created Collections

### Actual behaviour

Typing in the start of the collection's name populates the created object but it doesn't appear until then.

### Steps to reproduce the behaviour/error

Create a new collection, add posts, then click on the generic Collections menu.  In my experience, it remains blank.

[2016-06-15 00:44] jshorland opened #1225 "appi.ushahidi.io has weird map marker placement"
the appi.ushahidi.io instance seems to have gotten into some issues (map markers on the home page) after the migration.
![screen shot 2016-06-14 at 5 43 38 pm](https://cloud.githubusercontent.com/assets/3224856/16064609/9603a086-3257-11e6-87e9-0749448cd591.png)

[2016-06-15 16:18] jshorland commented on #1190
Fixed. Closing.

[2016-06-15 16:18] #1190 closed

[2016-06-15 16:18] jshorland commented on #1204
Fixed. Closing.

[2016-06-15 16:18] #1204 closed

[2016-06-15 16:18] jshorland commented on #1209
Fixed. Wonky fix, but fixed. Closing and opening a new issue to fix properly.

[2016-06-15 16:18] #1209 closed

[2016-06-15 16:23] #1025 closed

[2016-06-15 22:24] caharding commented on #1217
I want this whole area to be clickable, not just the checkbox, but the
areas outside

On Mon, Jun 13, 2016 at 4:41 PM, Robbie Mackay <notifications@github.com>
wrote:

--
Charlie Harding
Product Director

[2016-06-15 23:37] rjmackay commented on #1117
@jshorland this wasn't changed at all (though we fixed other map issues)

[2016-06-15 23:38] rjmackay commented on #1030
@jshorland I don't think this was built? did you really want to close it?

[2016-06-15 23:39] rjmackay commented on #1094
@jshorland 90% sure I never fixed this!?

[2016-06-16 02:37] #1221 closed

[2016-06-16 02:37] #1220 closed

[2016-06-16 02:37] #1219 closed

[2016-06-16 02:37] #1160 closed

[2016-06-16 02:37] #1216 closed

[2016-06-16 02:39] #1176 closed

[2016-06-16 02:40] rjmackay commented on #1157
I think this is mostly solved once Surveys have a colour and we can show that in the listing.. do we also need to include the survey name??

[2016-06-16 02:43] #1038 closed

[2016-06-16 02:45] #794 closed

[2016-06-16 02:46] #319 closed

[2016-06-16 02:49] #1144 closed

[2016-06-16 02:51] rjmackay commented on #1225
I'm not clear whats going wrong here? It seems there are shadows in odd places.. but is there something else wrong too?

[2016-06-16 02:56] #1222 closed

[2016-06-16 08:33] rjmackay commented on #1225
The work around is to turn of 'combine nearby reports' in general settings. Some of our styling is breaking the display of the map clusters

[2016-06-16 09:30] rjmackay commented on #1225
Deploying a bugfix to production right now..

[2016-06-16 09:58] rjmackay commented on #1225
@jshorland can you let the deployers know we've fixed this?

[2016-06-16 18:43] willdoran commented on #1224
@KLyon42 I'm having trouble reproducing this error, would you mind providing a screenshot of what you see?

[2016-06-17 15:16] KLyon42 commented on #1224
I'd be happy to help.  However, as is currently, I can't actually access
the Collections at all.  I'm using Chrome Version 51.0.2704.84.  Legacy
user, under https://klyon42.ushahidi.io/ .  I can't access Collections from
either the main screen or by going to the Timeline, checkboxing a post,
then clicking on "Add to Collection" either.  Both do nothing, including
when "Inspecting" the code.  Two e

[2016-06-17 16:06] tuxpiper commented on #427
I think this deserves to be bumped @jshorland  @rjmackay . This issue is currently affecting the Solutions deployment for Livity, this tweet

https://twitter.com/lildurk/status/743678851851522049

got retweeted 2.4k times so far, which is pretty terrifying in terms of cleanup that needs to be done now.

(cc : @Celestine22 )

[2016-06-17 16:54] sebm90 opened #1226 "Can't mark posts as complete"
### Expected behaviour
When I click the toggle button next to "mark as complete" on a post (on dabanga.ushahidi.io), it should toggle to on:
![image](https://cloud.githubusercontent.com/assets/5349387/16158290/eadc187e-34bc-11e6-8624-2a27f0439b29.png)

### Actual behaviour
The toggle button does not change. This prevents posts from being published.

### Steps to reproduce the behaviour/error
Edit

[2016-06-17 16:56] sebm90 opened #1227 "Error when replying to original author of message"
### Expected behaviour
A reply can be posted.
![image](https://cloud.githubusercontent.com/assets/5349387/16158367/33c118d2-34bd-11e6-9c69-c50c00e53110.png)

### Actual behaviour
An error is shown "Validation - that the message can not be empty" (even when the message is not empty)

[2016-06-18 01:12] kkuang96 opened #1228 "Unable to create new surveys"
## Expected behaviour: After clicking the yellow plus sign on the Surveys page, I should be able to create a new survey.

### Actual behaviour: After clicking the yellow plus sign on the Surveys page, I get a message saying "You have reached the survey limit for your plan", even after I've deleted a few surveys.

### Steps to reproduce the behaviour/error: Settings -> Surveys. Click the yellow plu

[2016-06-18 06:50] KLyon42 commented on #1224
Collections now appear to be showing properly.  Thank you.

If taking suggestions though, a Select All under the Timeline as well as a
way to change the Sort therein would be my two biggest ones so far.  Some
otherwise tedious tasks could be avoided by adding those two options.

Regardless, thanks for your efforts!  I'm looking forward to seeing what
opportunities your platform will prove well sui

[2016-06-19 15:53] jshorland commented on #1228
Hey DemoWatch Team,

I’m going to send this to our dev team to take a look. Sorry for the issue — we’ll get it fixed ASAP.

Jess Shorland
Product manager
jess@ushahidi.com

[2016-06-19 22:21] #1225 closed

[2016-06-20 00:32] rjmackay commented on #1224
way to change the Sort therein would be my two biggest ones so far.  Some
otherwise tedious tasks could be avoided by adding those two options.

If you select an item in the timeline a toolbar should appear with 'select all' .
I'll make a note of the request for 'Sort' order though. Thanks!

[2016-06-20 00:32] #1224 closed

[2016-06-20 00:33] rjmackay opened #1229 "Add option to change sort order of timeline"
Add an option to change the sort order of the timeline view.

From #1224.
Related to #348

[2016-06-20 00:37] rjmackay commented on #1201
@caharding can you add a description? Is this the post filters?

[2016-06-20 00:39] rjmackay commented on #1198
Would it make more sense to have something like 'undo changes'??
Collections also have a "Return to all posts" button which I think should be duplicated on saved searches.

[2016-06-20 00:40] rjmackay opened #1230 "Add return to all posts button to saved search context"
- Collections have a "Return to all posts" button.
- Saved searches should have the same thing.

[2016-06-20 00:41] rjmackay commented on #1230
Close in favour of #1197

[2016-06-20 00:41] #1230 closed

[2016-06-20 00:41] rjmackay commented on #1197
- Collections have a "Return to all posts" button.
- Saved searches should have the same thing.

[2016-06-20 00:43] rjmackay commented on #1191
Not sure if this is broken in the pattern library or just the client?

[2016-06-20 00:45] rjmackay commented on #1188
Required fields are only validated if you're completing the stage or publishing the posts. This is... weird. Needs to revisit how the validation and publishing flow works.

[2016-06-20 00:47] rjmackay commented on #1187
Not 100% what the fix is here. But I think this is confusing enough to warrant a fix.

[2016-06-20 01:36] rjmackay opened #1231 "Add support for polygons in location fields"
### Expected behaviour

Can add polygons to a post
### Actual behaviour

Can only add point fields to a post.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-691

[2016-06-20 01:36] rjmackay commented on #1231
Requested via intercom https://app.intercom.io/a/apps/hl5rfiga/inbox/conversation/5029408229

[2016-06-20 01:39] rjmackay commented on #1228
Via https://app.intercom.io/a/apps/hl5rfiga/inbox/tech/conversations/5088887006

[2016-06-20 01:51] rjmackay commented on #1228
Deploying a fix as v3.4.2

[2016-06-20 01:51] #1228 closed

[2016-06-20 01:59] rjmackay commented on #752
Relevant user request https://app.intercom.io/a/apps/hl5rfiga/inbox/unassigned/conversations/5100150751

[2016-06-20 03:51] rjmackay commented on #1043
@jshorland I think you can handle this right?

[2016-06-20 03:52] rjmackay commented on #1034
Q: Does this need to happen on sign up? or Should it happen after they've created a deployment? ie. should we prioritize more info from users, or reduced friction during sign up?

[2016-06-20 08:39] rjmackay opened #1232 "Redirect loop on private deployments"
Private deployment redirects to /login.
Loops /views/map -> /login -> repeat

[2016-06-20 08:50] tuxpiper commented on #1232
Confirmed in my sandbox .io deployment, setting site.private = true causes the problem. Seems to be related to /login being a modal now.

The network trace shows requests from the client to read tags, forms, stats , geojson etc .. that are rejected with 403 , and thus causing the redirect to /login

[2016-06-20 14:51] willdoran commented on #988
Closing as issue resolved with user.

[2016-06-20 14:51] #988 closed

[2016-06-20 15:02] jshorland commented on #1034
I think it should happen on sign up, as we probably need it to be required to actually get people to fill it out. I don’t see 3 additional questions as too much of a blocker, given our sign up process is crazy simple and short as it is.

[2016-06-20 16:24] caharding commented on #1034
Agree with Jess this is the most important info we can get for sales

On Mon, Jun 20, 2016 at 8:02 AM, Jess Shorland <notifications@github.com>
wrote:

--
Charlie Harding
Product Director

[2016-06-20 18:15] caharding commented on #1198
I'm actually not sure what Reset Saved Search would do. I'm guessing it
reverts back to the original settings for the saved search? That would make
sense. I also want a way to clear out of the saved search. The link back to
home up top is kinda weird and unexpected.

I also wonder if pressing the map again should reset the view

[2016-06-20 19:30] caharding commented on #1201
Sorry about that.

The location filter on posts only allows for preset distances. Should be
able to enter a custom distance.

On Sun, Jun 19, 2016 at 5:37 PM, Robbie Mackay <notifications@github.com>
wrote:

--
Charlie Harding
Product Director

[2016-06-20 19:55] jshorland commented on #280
Closing. Fixed and no longer relevant.

[2016-06-20 19:55] #280 closed

[2016-06-20 19:56] jshorland commented on #287
This is fixed in mustang. closing.

[2016-06-20 19:56] #287 closed

[2016-06-20 20:00] jshorland commented on #292
I don't think this is relevant any more. We are sticking with the "survey" structure.

[2016-06-20 20:07] jshorland commented on #299
Fixed by mustang. Closing.

[2016-06-20 20:07] #299 closed

[2016-06-20 20:07] jshorland commented on #297
Fixed by mustang. Closing.

[2016-06-20 20:08] #297 closed

[2016-06-20 20:10] #292 closed

[2016-06-20 20:10] jshorland commented on #290
Related: #308

[2016-06-20 20:12] jshorland commented on #310
Fixed. Closing.

[2016-06-20 20:12] #310 closed

[2016-06-20 20:15] jshorland commented on #320
Still true. Assigning to @brandonrosage for future consideration.

[2016-06-20 20:23] jshorland commented on #354
I'd like to close this now. we have a quick tour in product.

[2016-06-20 20:23] #354 closed

[2016-06-20 20:24] jshorland commented on #355
There is a larger issue here of the map view zooming to fit whatever set of posts you're looking at.

[2016-06-20 20:25] jshorland commented on #352
We need someone with an ipad to retest this.

[2016-06-20 20:26] jshorland commented on #356
Totally fixed this with mustang. closing.

[2016-06-20 20:26] #356 closed

[2016-06-20 20:26] jshorland commented on #357
No longer relevant. Closing.

[2016-06-20 20:26] #357 closed

[2016-06-20 20:30] jshorland commented on #387
Fixed. Closing.

[2016-06-20 20:30] #387 closed

[2016-06-20 20:31] jshorland commented on #388
Fixed. Closing.

[2016-06-20 20:32] jshorland commented on #394
Need to retest.

[2016-06-20 20:34] jshorland commented on #401
Need to retest. Assigning to myself.

[2016-06-20 20:35] jshorland commented on #404
Need to retest. Assigning to myself.

[2016-06-20 20:39] jshorland commented on #423
Fixed and closing.

[2016-06-20 20:39] #423 closed

[2016-06-20 20:39] jshorland commented on #424
fixed and closing.

[2016-06-20 20:39] #424 closed

[2016-06-20 21:13] #365 closed

[2016-06-20 21:14] #279 closed

[2016-06-20 21:16] #307 closed

[2016-06-20 21:17] jshorland commented on #307
We've added elements to solve this, and there may still be individual bits we'd want to implement, but closing this larger issue.

[2016-06-20 21:24] #343 closed

[2016-06-20 21:25] #367 closed

[2016-06-20 21:26] #436 closed

[2016-06-20 22:05] rjmackay opened #1233 "Issue saving posts with location pulled from twitter"
https://github.com/ushahidi/platform-livity/issues/25 for details

[2016-06-20 22:14] rjmackay commented on #1187
Suggested change:
- Remove 'Mark as complete' entirely. For both admin and non-admin users.
- Remove 'required' stages - no stages required before publishing.

[2016-06-20 22:16] rjmackay commented on #1226
You can't complete a post until its required fields are filled in.
We should add an explanation below the toggle. OR just remove 'mark as complete' as suggested in #1187

[2016-06-20 22:24] rjmackay commented on #1200
Confirmed.

[2016-06-20 22:26] #1016 closed

[2016-06-20 22:27] rjmackay commented on #960
Suspect this happens for all posts, not just CSV imported

[2016-06-20 22:32] rjmackay commented on #1191
Looks like we're missing the horizontal lines between each filter. Spacing is otherwise fine.

[2016-06-20 22:36] #1161 closed

[2016-06-20 22:39] #1113 closed

[2016-06-20 22:42] rjmackay commented on #1163
Closing in favour of #1226

[2016-06-20 22:42] #1163 closed

[2016-06-21 00:11] rjmackay commented on #401
Definitely still broken. We've remove the filter entirely from the UI though :)

[2016-06-21 00:13] rjmackay commented on #388
@jshorland this isn't fixed as such. I guess its a question of: should we be able to filter by user?
There's a single "My posts" saved search. But you can't filter by my posts along with any other filters...

[2016-06-21 03:31] rjmackay commented on #427
@tuxpiper Deployed a fix. Can you confirm its worked as desired??

[2016-06-21 11:28] tuxpiper commented on #427
@rjmackay it was filtering a bit too much :) committed a fix  on https://github.com/ushahidi/platform/pull/1234

[2016-06-21 16:48] brandonrosage commented on #320
How about immediate consideration, @jshorland?

I've revised the PL's handling of "postcard" actions. Note that the first two postcards in the [Timeline](http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/timeline.html) layout, for example, are editable to the user. So they see that action without requiring interaction (on larger screens). But the third postcard is not edita

[2016-06-21 16:52] brandonrosage commented on #1210
You're right, @rjmackay, it's not a bug. The direction was to have "Activity" and "Settings" landing pages display varying mode context content. I was concerned with explaining the differences between those modes, particularly for small-screen users.

But I think @caharding is right here, given our "modes" approach.

So I've [revised the PL](http://github.ushahidi.org/platform-pattern-library/asse

[2016-06-21 17:29] brandonrosage commented on #1217
@caharding I'm a little confused by this issue. Using Chrome on OS X (and everything else I've tested), the survey name's whole container (with the exception of the dropdown trigger) is a click target for toggling the selection of that filter: http://d.pr/i/NZqm/XRRQsgYS

Are you saying that, on your machine, when you click the survey name, nothing happens?

[2016-06-21 17:58] caharding commented on #1217
Check the original image I posted. When you hover over the check box
appears. The area left of, above and below the check box are not clickable.
This has messed me up a couple of times.

On Tuesday, June 21, 2016, Brandon Rosage <notifications@github.com> wrote:

--
Charlie Harding
Product Director

[2016-06-21 18:07] rjmackay commented on #427
Thanks @tuxpiper.

[2016-06-21 18:07] #427 closed

[2016-06-21 18:31] brandonrosage commented on #1157
I'll run a user test with 10-20 people that aims to answer this question.

I will say, though, that on the topic of "what data to call out in a post's summary "card," there's a related discussion about having the option to visually call out the post's category (instead of its survey). This type of flexibility (assuming it's embraced) makes the legend (filter control in the mode context) infinitely

[2016-06-21 19:05] brandonrosage commented on #752
@rjmackay Are there any red flags we should consider in designing for a permanent, editable "Post date" field?

In other words:

* Created: Time & date (not-editable)
* Post: Time & date (editable; derived from 'created' by default)

[2016-06-21 20:13] brandonrosage commented on #1217
Got it. Sorry for being a moron and making you explain it three times. All fixed.

[2016-06-21 20:14] willdoran commented on #1232
I think this issue occurs in part because these endpoints weren't accessed when the /login was served. Now that we redirect from /login to /, those aspects are triggering requests to the backend that are returning 403s and creating the loop as it causes a redirect to /login because of the 403. I'll repair the behaviour.

[2016-06-21 20:48] rjmackay commented on #752
We currently have
- Created: Time & date (not-editable)
- Update: Time & date (not-editable)

We'd be adding
- Post: Time & date (editable; derived from 'created' by default)

For end users - they probably only ever need to the Post date. But we continue to track the others in case we need to expose them later.

[2016-06-21 20:50] rjmackay commented on #1232
Thanks Will!. That sounds correct.
On private deployments it might make sense to render an empty page behind the login modal. Or a simple 'This deployment is private' message. Showing the map when there's no content is a little pointless.

[2016-06-21 20:51] rjmackay commented on #1217
@brandonrosage was this just a CSS fix? or do we need to update markup in the client?

[2016-06-21 21:47] brandonrosage commented on #1217
Just a CSS fix.

On June 21, 2016 at 3:51:37 PM, Robbie Mackay (notifications@github.com)
wrote:

[2016-06-21 22:51] caharding opened #1235 "Intercom randomly breaks the deployment"
### Expected behaviour

Intercom should appear in lower right hand corner.
### Actual behaviour

When I login to a deployment, Intercom pops up and does not let me interact with the deployment in any way. I have to refresh to get started. Then when I refresh, Intercom disappears.
### Steps to reproduce the behaviour/error

I cannot reliably reproduce this problem. Sometimes Intercom is there, some

[2016-06-21 22:52] caharding commented on #1189
This is also not working on Chrome for me

[2016-06-21 22:52] caharding commented on #1189
I think we should escalate this to P0 as it fundamentally doesn't work, which is not good for users. Just screwed up a whole solutions client demo I did.

[2016-06-21 22:55] caharding opened #1236 "Multiple surveys cannot have the same field title"
### Expected behaviour
I create survey 1 and make a custom field called "Location" and hit save
I create survery 2 and make a custom field called "Location" and hit save
Everything works

### Actual behaviour
I create survey 1 and make a custom field called "Location" and hit save
I create survery 2 and make a custom field called "Location" and hit save
I can't enter location and it doesn't tell m

[2016-06-21 22:55] rjmackay commented on #1189
Agreed. 2 things to fix here:
1. link goes to settings/forms/ID instead of settings/surveys/ID
2. Settings link is visible when not logged in/admin

[2016-06-21 22:58] caharding opened #1237 "Steps are called Tasks"
When editing a survey, I want to add more fields, which I can only do under an area called "Tasks" which makes no sense. I want this back end experience to look much more like the front end. I want custom fields to be a plus sign right under the standard description. I can then input a new Step in between custom fields if I want to go to a second page.
<img width="740" alt="screen shot 2016-06-21

[2016-06-21 23:00] caharding opened #1238 "Choose post status on Import"
### Expected behaviour
When I import data, it will be automatically viewable to everyone unless I select who it is viewable by

### Actual behaviour
If I mass import data it is only viewable by me and I have to go post by post and change viewability

### Steps to reproduce the behaviour/error
Import data, and see who can view it

[2016-06-21 23:02] caharding opened #1239 "Add visual feedback when adding a post to a collection"
### Expected behaviour

When I add a post to a collection, I want to get visual feedback that it worked, I have to currently press X
### Actual behaviour

No visual feedback
### Steps to reproduce the behaviour/error

Add a post to a collection
<img width="638" alt="screen shot 2016-06-21 at 4 01 58 pm" src="https://cloud.githubusercontent.com/assets/1618793/16249266/89e9b0c0-37c9-11e6-8031-fca030

[2016-06-21 23:05] caharding opened #1240 "I cannot see the save button when creating a collection"
### Expected behaviour
Save should be easy to see when I'm creating a collection

### Actual behaviour
I have to scroll down the pop up in order to find save

### Steps to reproduce the behaviour/error
Create a collection
Press add new
On small screens you can't see the save button

<img width="948" alt="screen shot 2016-06-21 at 4 03 53 pm" src="https://cloud.githubusercontent.com/assets/1618793/

[2016-06-21 23:06] caharding opened #1241 "Don't show create first post on settings"
### Expected behaviour
Only show me a create your first post pop up when I'm first browsing to the Map or Timeline. Not on settings.

### Actual behaviour
When I create a deployment, it requires configuration, but ever settings page I go to shows me the pop up that I haven't create a post yet.

### Steps to reproduce the behaviour/error
Create a new deployment and try making a few surveys. The pop

[2016-06-21 23:09] caharding opened #1242 "Automatically dismiss a dropdown when you browse to another page"
### Expected behaviour

When I perform an action which creates a dismissable drop down, the dropdown will be dismissed when I browse to another page
### Actual behaviour

Dropdown takes a few seconds to go away after I browse to another page
### Steps to reproduce the behaviour/error

Submit a post
Browse elsewhere
The post sticks around too long, such that I can't do my next action like search

[2016-06-21 23:10] caharding opened #1243 "No way to change billing on a plan"
I entered my credit card to give a Responder demo to a client, now I can't change it. I need a way to be able to update my billing info.

Aha! Link: https://ushahiditeam.aha.io/features/PROD-690

[2016-06-21 23:12] caharding opened #1244 "Default "viewable by" needs to be editable on a survey level"
A new deployment should have default to post viewable by all people. The viewable by default value should be set by the admin at a per survey level. This also screws up all CSV imports right now.

[2016-06-21 23:14] caharding opened #1245 "Location of Pin should show an address"
### Expected behaviour

I created a location by searching an address. When I click on a Pin I want it to show me the address position that I had searched. My solutions client won't sign up without it.
### Actual behaviour

When I'm looking at a post with a location value, and I click on the Pin, it shows me the "key" title. I want to see the address.
### Steps to reproduce the behaviour/error

Cre

[2016-06-21 23:17] caharding opened #1246 "CSV import needs to accept addresses"
### Expected behaviour

On CSV import, people will have different address formatting. We require a specific lat/long data format. We either need a tool that converts other lat/long data formats (combined in one column, physical address etc.) and/or link to an external service that will help people convert their addresses to lat long in our format.

Aha! Link: https://ushahiditeam.aha.io/features/P

[2016-06-21 23:20] caharding opened #1247 "Change default title and description text"
### Expected behaviour

When I'm creating a new survey I want to be able to change the name of the "Title" and "Description" fields to reflect that kind of data I am asking for.

[2016-06-21 23:21] caharding opened #1248 "Select categories is broken"
### Steps to reproduce the behaviour/error
Create a category, select it

<img width="343" alt="screen shot 2016-06-21 at 4 20 46 pm" src="https://cloud.githubusercontent.com/assets/1618793/16249628/2fd7cec0-37cc-11e6-9380-92db2a31c57c.png">

[2016-06-21 23:22] caharding opened #1249 "Strange notification when I add/delete a category"
Delete or add a category

<img width="261" alt="screen shot 2016-06-21 at 4 21 51 pm" src="https://cloud.githubusercontent.com/assets/1618793/16249646/5558cc58-37cc-11e6-9c9e-d80650dcca23.png">

[2016-06-21 23:25] caharding opened #1250 "Categories should be a multi-select drop down, not a list and retitled as "Tags""
When you have a lot of categories it takes up a ton of space on a post. Should be just handled as a multi-select dropdown

<img width="728" alt="screen shot 2016-06-21 at 4 25 00 pm" src="https://cloud.githubusercontent.com/assets/1618793/16249695/bf2695ac-37cc-11e6-94f4-29b91994fe6b.png">

[2016-06-21 23:33] caharding opened #1251 "Default post requirements are in the wrong order"
I find it really confusing that viewability, steps/tasks, and mark as complete all appear below the title, above description, then categories and then custom fields. Its also confusing that the post type is on the left hand side, and not included on the post at all.

This order doesn't make visual sense and it is very confusing when I'm authoring a post. I want to be able to enter all the post dat

[2016-06-21 23:36] caharding opened #1252 "Searches are buried when there are lots of surveys"
### Expected behaviour

When I search I need to get visual feedback that the search was performed, and easily find a way out of that search
### Actual behaviour

When I have lots of surveys I can't see that results of my search, making it difficult to clear that search
### Steps to reproduce the behaviour/error

Use a deployment with more than 7 surveys and you will have a problem
### Recommended

[2016-06-21 23:38] caharding opened #1253 "Unknown is unclear"
### Expected behaviour
I want to be able edit the items that go into unknown and I want to be educated about what it means. There needs to be info about this in the unknown dropdown as well is in settings. It may need to be retitled and rethought

Think about being a first time deployer. Why does unknown even exist? I assume only things that come in from data sources go into unknown.

[2016-06-21 23:39] caharding opened #1254 "Do not show unknown until a data source is configured"
New users should not see Unknown unless they configure a data source. They should be educated about where these data sources go when they configure one.

[2016-06-21 23:49] caharding opened #1255 "Invoice must be sent when people are charged"
### Expected behaviour
I entered my credit card into a Responder account during sign up and expect an invoice to be emailed to me immediately for expensing

### Actual behaviour
No invoice was sent

### Steps to reproduce the behaviour/error
Sign up for Responder, apply Solutions coupon, no invoice sent

[2016-06-21 23:53] caharding opened #1256 "First post notification acting strangely"
### Reproduce

Logged into an old deployment which had been updated to Mustang. The

<img width="1278" alt="screen shot 2016-06-21 at 4 53 15 pm" src="https://cloud.githubusercontent.com/assets/1618793/16250241/ab8440ea-37d0-11e6-96d9-1b865ce56eeb.png">

[2016-06-22 00:02] caharding opened #1257 "Activity Upgrade dialogue is on the wrong part of the screen"
<img width="1279" alt="screen shot 2016-06-21 at 5 02 14 pm" src="https://cloud.githubusercontent.com/assets/1618793/16250411/fdb8568e-37d1-11e6-9a7c-80bd3eb0958d.png">

[2016-06-22 00:03] caharding opened #1258 "Plans settings are not positioned correctly on screen"
<img width="1280" alt="screen shot 2016-06-21 at 5 02 18 pm" src="https://cloud.githubusercontent.com/assets/1618793/16250419/166ee152-37d2-11e6-980f-28ed47cbe4a0.png">

[2016-06-22 00:09] caharding opened #1259 "Post verification is not possible with current post/step/view permission requirements"
### Expected behaviour

I created a survey that has a step that requires someone to Verify something my "marking complete." I expect that a non logged in user can submit that post, and then a logged in user can go to the 2nd step and mark complete.
### Actual behaviour

Because I've required Mark Complete on the 2nd step, a not logged in user can't submit a post that requires verification. Breakin

[2016-06-22 00:11] caharding commented on #1187
Reference this issue #1259 which shows that there is no way to do post verification with the current structure of our deployments

[2016-06-22 00:13] caharding commented on #1253
Duplicate to #1179

[2016-06-22 00:13] #1253 closed

[2016-06-22 00:14] caharding commented on #1179
*reviving this discussion. And reference #1254 at the very least this Survey type should not be viewable to users who have not configured a data source. And when they do it would require education that it would show up in "Unknown" but in that case it might as well just be "Data source" though I imagine people would want to separate Twitter from SMS/Email.

[2016-06-22 02:21] rjmackay commented on #1217
Self assigning to remind me to update production CSS 👍

[2016-06-22 02:43] rjmackay commented on #1248
Is the issue just the + icon on top of everything?

[2016-06-22 02:47] rjmackay commented on #1245
Same as #351

[2016-06-22 02:50] rjmackay commented on #1244
Sorry I'm not clear what the request is.
That posts should be publishable by any user by default? That runs counter to expected behaviour by many users who expect to collect posts and review them first before publishing.

[2016-06-22 02:51] rjmackay commented on #1243
This goes in with a bunch of other billing features needed. The fastest path to these would be to theme Chargebee payment portal and use that. I need to look into that.

[2016-06-22 02:52] rjmackay commented on #1242
What was the specific case where this happened?

[2016-06-22 02:53] rjmackay commented on #1240
@brandonrosage have we screwed up implementing the pattern? or does this need a PL change too?

[2016-06-22 02:54] rjmackay commented on #1239
@brandonrosage was there some expected feedback already that we haven't implemented? if not could you suggest a pattern/solution?

[2016-06-22 02:55] rjmackay commented on #1238
This is actually queued up with the configure posts step. But needs some bugs fixing before it goes live.

[2016-06-22 02:56] rjmackay commented on #1238
@jshorland I think this probably has to wait till Sprint 8 unless its urgent?

[2016-06-22 02:57] rjmackay commented on #1236
This is why we used to expose the `key` field. It looks like that was remove but no one changed the way auto generation happens for keys.

[2016-06-22 03:07] #1233 closed

[2016-06-22 03:08] caharding commented on #1242
Sorry it was everywhere. Creating a post, creating a survey, editing a post
or survey, changing settings.

On Tuesday, June 21, 2016, Robbie Mackay <notifications@github.com> wrote:

--
Charlie Harding
Product Director

[2016-06-22 03:17] rjmackay opened #1260 "Intercom code saves 'company' as custom attribute, not as intercom Company"
### Expected behaviour

Users are assigned a company in intercom
### Actual behaviour

Users are assigned a custom field 'company'

Your user object that you send to Intercom should contain a company array like so:

[code]

[2016-06-22 09:18] jasonmule opened #1261 "Missing contact and notification endpoint providers"

[2016-06-22 10:27] #1261 closed

[2016-06-22 14:20] jasonmule commented on #1155
Possibly needs a modules update?

[2016-06-22 15:52] #1192 closed

[2016-06-22 15:55] brandonrosage commented on #752
@rjmackay Is "Update" the time & date the post was most recently edited? And if so, I assume it changes automatically and presumably the most often?

[2016-06-22 16:47] brandonrosage commented on #752
I've staged a few examples, starting with "[Post: Edit](http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/post-edit.html)."

[2016-06-22 16:57] Shadrock opened #1262 "Mark as Complete toggle button confusing to users"
**This is for the COMRADES deployment**: http://comrades.ushahidi.com/views/map
Notes came from a training with 7 very tech savvy users.

### Expected behaviour
Users would submit a report by filling out a form and clicking a button. Users expected options for saving a post that was not complete or submitting a completed post.

### Actual behaviour
The “Mark as complete” toggle confused several us

[2016-06-22 17:06] Shadrock opened #1263 "Need painfully obvious way to see all posts that need editing/approval"
**This is for the COMRADES deployment**: http://comrades.ushahidi.com/views/map
Notes come from a training with 7 very tech savvy users.

### Expected behaviour
Users should be able to log onto a deployment and quickly be able to see only those posts that needed approval/triage.
### Actual behaviour
Users logged on proceeded to view reports via Map and Timeline views. In neither case were they ent

[2016-06-22 17:18] brandonrosage commented on #1254
Yes. The intention is for the "Unknown" label to hold all posts that aren't yet assigned a survey -- which can only exist by way of a data source, like SMS or email. So, programmatically, this should be the logic for when that label is displayed on a deployment.

And I'll push it along to @rjmackay to triage that part of the task.

To that end, though, I've massaged the dropdown menus that are att

[2016-06-22 17:36] Shadrock opened #1264 "Batch approval for posts?"
**This is for the COMRADES deployment**: http://comrades.ushahidi.com/views/map
Notes come from a training with 7 very tech savvy users.

### Expected behaviour
Users expected to be able to batch approve posts (e.g. posts from a source that had proven to be reliable).

### Actual behaviour
Users were unable to find a way to batch approve posts. They did like the batch Delete and Add to Collection

[2016-06-22 18:03] Shadrock opened #1265 "Cannot correct location information from posts pulled from Twitter"
**This is for the COMRADES deployment**: http://comrades.ushahidi.com/views/map
Notes come from a training with 7 very tech savvy users.
### Expected behaviour

The ability to edit the location of a post pulled from Twitter by changing the location of the map icon.
### Actual behaviour

Unable to change the map icon (e.g. cannot grab it, nor click on the map to re-position it).
### Steps to reprod

[2016-06-22 18:38] willdoran commented on #1232
@rjmackay I think that would be a very straightforward fix. I'll do that. I'll make a "message" page, the contains a text string and opens behind the modal. That will solve the core issue.

[2016-06-22 20:47] brandonrosage commented on #1179
@rjmackay How big a deal would it be to introduce a "Data sources" UX for an upcoming release that gave each "source" it's own view, rather than the all-in-one craziness we currently have?

[2016-06-22 20:58] rjmackay opened #1266 "Can't upload images"
### Expected behaviour

Images will upload
### Actual behaviour

Sometimes the image upload finishes, but other times it goes forever.
### Steps to reproduce the behaviour/error

https://app.intercom.io/a/apps/hl5rfiga/inbox/unassigned/conversations/5133070737

[2016-06-22 21:08] derDieDasJojo commented on #778
1up

[2016-06-22 21:53] Shadrock opened #1267 "Incorrect placement of map icon at certain scale/zoom level"
**This is for the COMRADES deployment**: http://comrades.ushahidi.com/views/map
Notes come from a training with 7 very tech savvy users.

### Expected behaviour
Map icon for an individual post (that is _not_ combined with other posts) will remain the same despite the scale (zoom level) at which the post is viewed.
### Actual behaviour
When viewing the map, _after logging in_ the location of map ic

[2016-06-22 22:11] Shadrock opened #1268 "Twitter API Details are not clear enough."
**This is for the COMRADES deployment**: http://comrades.ushahidi.com/views/map
Notes come from a training with 7 very tech savvy users.
### Expected behaviour

That, at some point during the process for creating a new Twitter application, users would be informed that their application does not give them access to the complete firehose of Twitter data (sometimes referred to as GNIP).
### Actual be

[2016-06-23 18:22] jshorland opened #1269 "Adviceni.ushahidi.io flashes between login and map URL, never letting user login"
### Expected behaviour
adviceni.ushahidi.io leads to /login screen, allows user to login

### Actual behaviour
Adviceni.ushahidi.io flashes between login and map URL, never letting user login

### Steps to reproduce the behaviour/error
Navigate to adviceni.ushahidi.io

[2016-06-23 22:38] rjmackay opened #1270 "Categories not loading properly in Settings > Categories"
### Expected behaviour

Settings/categories should show all categories
### Actual behaviour

On first load Settings/categories doesn't show any categories. But they appear after adding a new one.
### Steps to reproduce the behaviour/error
- When I access to my deploy (sitrep), I can't see the categories.
- I go to settings/categories and there's no categories found.
- I create a new one, and after

[2016-06-23 22:39] rjmackay commented on #1270
https://app.intercom.io/a/apps/hl5rfiga/inbox/tech/conversations/5136872541

[2016-06-23 22:50] rjmackay commented on #1267
This might be fixed on https://comrades.ushahidi.io .. Would it be ok if I redirect comrades.ushahidi.com back to .io?

[2016-06-23 22:52] rjmackay commented on #1179
When you say a "Data sources" UX - do you mean incoming posts from X, with views for twitter, sms, web etc?
Its probably not insignificant. But I think it might be worth it.

[2016-06-23 22:59] rjmackay commented on #752
I'm not sure that Author should really be editable.
On dates, Would it make sense for this to work similar to how it was handled in v2 where the date isn't initially shown as editable but has a button to toggle that
<img width="460" alt="screenshot 2016-06-24 10 57 39" src="https://cloud.githubusercontent.com/assets/7965/16322890/95ca6a28-39fa-11e6-9409-aa4ae1cef62d.png">

[2016-06-24 04:29] #1189 closed

[2016-06-24 04:29] #1232 closed

[2016-06-24 04:29] #1269 closed

[2016-06-24 09:04] #1149 closed

[2016-06-24 09:16] rjmackay commented on #1227
@sebm90 is there a specific solutions deployment this needs to be pushed to?

[2016-06-24 09:18] rjmackay commented on #1137
Done and deployed. Please test

[2016-06-24 09:21] rjmackay commented on #1258
Probably just need to trigger the correct layout class using the layout-class directive

[2016-06-24 11:41] tuxpiper commented on #583
This is probably going to be a popular one, everyone's going to want to tweak that gorgeous map :)

From the perspective of customized projects, I think it would be nice if we could use CSS as a way of specifying the map features sytles, i.e. https://github.com/albburtsev/Leaflet.geojsonCSS

[2016-06-24 16:43] willdoran commented on #1241
The message should be turned off when the user navigates away from the the timeline and map views.

[2016-06-24 17:16] willdoran commented on #1241
@caharding having reviewed the issue. The slider occurs when the user hits the timeline view, the slider will remain on top when the user navigates to any other page. This is the general behaviour of system messages, we want them to be visible until the user actively engages with them and dismisses them.

If the user clicks dismiss and navigates to the settings page the slider will not reappear un

[2016-06-24 17:18] willdoran commented on #1187
Until we can search/filter on completion is stage completion currently useful other than as meta data?

[2016-06-24 17:21] willdoran commented on #1241
To clarify a little further the slider messages are system level messages, perhaps this is not totally clear from their placement in the UI, I think the UI trys to balance between calling attention and blocking the user by forcing them to respond to the message.

[2016-06-24 17:53] willdoran commented on #1236
@rjmackay @caharding the key field is still exposed - but key generation should be changed to use something more logical and to check if the generated key is in use.

[2016-06-24 18:22] brandonrosage commented on #1179
No. I simply mean, when you go to Settings > Data Sources, you can click on "Email" and be taken to Settings > Data Sources > Email, with a dedicated view for all of its options.

[2016-06-24 18:28] willdoran commented on #1236
@rjmackay @caharding @jasonmule I would suggest that we generate a unique hash for the key using [angular-uuid](https://www.npmjs.com/package/angular-uuid) is that reasonable?

[2016-06-24 20:35] brandonrosage commented on #1240
@rjmackay Generally speaking, if a modal requires a save (as in creating or editing something, like a Collection), you'll want to include a `form-field` with the necessary buttons. An example is in the PL, with editing a Saved Search: https://github.com/ushahidi/platform-pattern-library/blob/gh-pages/pattern-library/5_layouts/map-saved.html#L352-L355

[2016-06-24 20:41] brandonrosage commented on #1239
I think [the "message" pattern](https://github.com/ushahidi/platform-pattern-library/blob/gh-pages/pattern-library/partials/_modals-global.html#L401-L407) is appropriate here, displayed within the modal. A good example of this is when you click "Account settings" i[n the PL](http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/map.html), select "Notifications," and remove the

[2016-06-24 21:20] brandonrosage commented on #1263
I've lost some hair this week working through the heart of this issue. And I have a proposed solution that's illustrated in a handful of Pattern Library layouts.

The idea is basically this: From a user-facing point of view, let's scrap "Who can see this," and instead double down on "Post status." A post that's saved within a deployment is either:

* Published
* Under review
* Archived

Any user n

[2016-06-26 00:04] joemellin opened #1271 "when i add a single text field to the post - it asks for lat + long"
### Expected behavior
showing up the text i right
### Actual behaviour
<img width="631" alt="screen shot 2016-06-25 at 5 01 14 pm" src="https://cloud.githubusercontent.com/assets/1232282/16359758/bd3180ea-3af6-11e6-98ea-31bff372bc35.png">
### Steps to reproduce the behaviour/error
add a sentence field to a post and then just put text in it when you create a point on the map

[2016-06-26 00:20] zhalloran commented on #1017
The display name and description should be editable to allow for contextual/language differences, but I've submitted a pull request that prevents the deletion of protected roles. The protected roles are currently the "Admin" & "User" roles.

[2016-06-26 14:38] jasonmule commented on #1258
@rjmackay Not sure how this appears to be fixed on .io?

[2016-06-26 18:07] tuxpiper opened #1273 "Decimal number validation of custom fields seems to be broken"
### Expected behaviour
When adding a custom field of decimal type and creating a post where it has a value like "9.21", the value should be accepted.

### Actual behaviour
Decimal values are rejected with the message: "values.<field-name> must be an array of lat and lon"

### Steps to reproduce the behaviour/error
Create custom field, supply values when creating/editing posts

@rjmackay this was w

[2016-06-26 23:18] rjmackay commented on #1258
It probably depends which view you came from.. if we're not setting the layout class it'll just hold the previous value.

[2016-06-27 11:57] jasonmule commented on #1273
@tuxpiper I can't reproduce this.  Could you check again?

[2016-06-27 14:21] tuxpiper commented on #1273
@jasonmule Still getting it, but when I use comma (,) instead of (.) as a separator, this works. Meaning "9,21" is accepted, but "9.21" gives me a validation error.  Is this user locale dependent? It was definitely working with the dot separator before.

Also, I've experimented with a date-time field, and I can't get that to work now either. Getting the error " values.new-date--time-field must be

[2016-06-27 16:45] caharding commented on #1263
Wow I think you've thought through this really effectively. It makes sense
that visibility should be managed by roles and permissions not by
individual posts. The publish/draft/archive works very well and is a great
compromise. That it is viewable in filters makes it much easier to work
through these posts.

On Fri, Jun 24, 2016 at 2:20 PM, Brandon Rosage <notifications@github.com>
wrote:

--
Char

[2016-06-27 16:51] brandonrosage commented on #752
**RE: Editable 'author' field**
I think this is as (or _nearly_ as) valuable as making "post date" editable. A few scenarios demand it, starting with a single user populating a deployment with a team's contributions. Rather than forcing them to log into each of their accounts to properly attribute their posts to them, the user could create every post and attribute them to the correct user, on the

[2016-06-27 17:31] brandonrosage commented on #1262
My proposed solution to this rests largely on adding two parameters for each optional Task (e.g. Verification):

* Who can see it.
* Who can edit it.

These configurable parameters would ensure that, if the deployers had no intention for its contributors to the Survey to, say, verify their own posts, they'd never be presented with that part of the Survey form to begin with. But it'd also ensure th

[2016-06-27 18:55] willdoran commented on #1273
@tuxpiper I can't reproduce this either though I did notice that our error message is a unhelpful for the decimal when it works correctly so I'll update that. Is there anything in your application/logs/2016/06/ directory?

If you try to trigger an error on a field, you always get the "values. must be an array of lat and lon"? Do you have a point field on that same post?

[2016-06-27 20:21] brandonrosage commented on #1237
You're totally right, @caharding.

From a front-end perspective, I'd suggest we demote a post's "Tasks" (much like Comments). This would primarily effect:

* [Settings: Surveys: Edit survey](http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/settings-survey-edit.html)
* [Post: Detail](http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/post-detail.html)

[2016-06-27 20:30] brandonrosage commented on #1244
I think @rjmackay is right. The overwhelming number of customer interviews during our user research included the need for some semblance of a post review workflow. I think we position users for success, too, by building their deployment such that nothing will appear under their "banner" that they didn't know about or approve first. And if they want to turn that protection off, they can -- easily.

[2016-06-27 20:48] brandonrosage commented on #1251
This structure is significantly improved in the latest layout changes to "[Post: Add](http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/post-add.html)" and "[Post: Edit](http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/post-edit.html)."

_"Post: Add" example:_
![image](https://cloud.githubusercontent.com/assets/1136279/16394898/103f83b8-3c7d-11e6-8e

[2016-06-27 21:47] Shadrock commented on #1267
@rjmackay that would be fine for me, assuming there's no noticeable change for the user. Really appreciate you guys helping me set all that up.

[2016-06-27 21:52] Shadrock commented on #1263
This looks pretty good to me, Brandon. It is a bit of a complicated problem, and it's difficult to really sense how it would work with the cursory reading I gave this, but it's seems like a really sound response to the problem.

[2016-06-27 21:55] Shadrock commented on #1262
I read this before Issue #1263, but this is helping me understand that logic even better and I think you're on the right path with this. Thanks for the thorough explanations.

[2016-06-28 02:04] rjmackay commented on #1267
Alright. That should redirect now. Let me know if that hasn't fixed this issue.

[2016-06-28 02:04] #1267 closed

[2016-06-28 02:04] rjmackay commented on #1155
@Shadrock can you confirm this is still an issue? I think it should have been fixed by redirecting comrades.ushahidi.io

[2016-06-28 02:35] rjmackay commented on #1263
Love it. Thanks @brandonrosage .. this looks amazing and I know this has been a pretty hairy thing to work through.

[2016-06-28 02:47] rjmackay commented on #1241
Discussed this with @willdoran - I think there's a clear solution to hide the slider when navigating away from the map / timeline view?

[2016-06-28 02:50] rjmackay commented on #1179
Ah right. That should be fine @brandonrosage since we're just moving existing UI into a separate view.
I was just confused by the prior discussion on this issue.

[2016-06-28 02:59] rjmackay commented on #1240
Sorry I wasn't very clear. The modal *has* a `form-field` with save/cancel buttons. However on a small screen they disappear off the bottom of the modal and you must scroll to see them. On chrome at least the scrollbar is more obvious though.. I'm not sure if thats obvious enough that you need to scroll down before you can save?

@caharding which browser was this in?

[2016-06-28 03:01] rjmackay commented on #1271
@joemellin thanks for the bug report. Our dev team will look into it

[2016-06-28 03:11] rjmackay commented on #752
👍 moving the meta data to the sidebar is good.
I take your point on editing the post author.. it bugs me a little that we're losing the audit trail but thats really another feature entirely, for another day. I'll queue this for the next sprint.

[2016-06-28 03:28] rjmackay commented on #1187
I think this is probably covered by #1262

[2016-06-28 03:37] rjmackay commented on #1237
Now that I've been through the many explanations... this makes a lot of sense. Thanks Brandon!

Minor:
- [Settings: Surveys: Edit survey](http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/settings-survey-edit.html) doesn't have a button to "Add task" any more?
- This might be a good moment to add templated tasks too ie. when adding a task present the user with options: "Ver

[2016-06-28 03:45] rjmackay commented on #1242
@brandonrosage adding you just to confirm this makes sense. ie. that the slider should disappear whenever the user navigates to another page?

[2016-06-28 03:50] rjmackay commented on #309
Need steps to reproduce

[2016-06-28 03:52] rjmackay commented on #305
I think we fixed styling on this a while ago.

[2016-06-28 03:53] #305 closed

[2016-06-28 15:26] jshorland commented on #1271
Another user (mapworks learning, narrativeatlas.ushahidi.io) also submitted the same issue: I am modifying the "survey" and keep getting this error when trying to submit a story.
Have created a field called "Submit a story"  this is a long text field and story title is a short text field.

Validation Error

values.share-your-story must be an array of lat and lon

[2016-06-28 15:47] caharding commented on #1240
Chrome!

On Mon, Jun 27, 2016 at 7:59 PM, Robbie Mackay <notifications@github.com>
wrote:

--
Charlie Harding
Product Director

[2016-06-28 15:53] caharding commented on #1241
Works for me

On Mon, Jun 27, 2016 at 7:47 PM, Robbie Mackay <notifications@github.com>
wrote:

--
Charlie Harding
Product Director

[2016-06-28 15:54] caharding commented on #1251
Looks great. Only other thing is that Categories should be a multi-select
dropdown to save space.

On Mon, Jun 27, 2016 at 1:48 PM, Brandon Rosage <notifications@github.com>
wrote:

--
Charlie Harding
Product Director

[2016-06-28 15:55] caharding commented on #1251
Also we'll need to test the discoverability of tasks, now that they are
buried under the post

On Tue, Jun 28, 2016 at 8:54 AM, Charles Harding <charles@ushahidi.com>
wrote:

--
Charlie Harding
Product Director

[2016-06-28 16:02] caharding commented on #1244
I believe that the default should be different for our various user
types/plans. Mappers are advocates looking to raise awareness and have only
one survey. To make Ushahidi useful to them, it needs to be easy for things
to be posted so they can see a real benefit. For them the default should be
public. For Responder and Surveyor the approval process may be more
important, and so we should default

[2016-06-28 17:39] brandonrosage commented on #1244
In response to the second half of your comment, @caharding, my assumption is that, if your role gives you permission to review posts, you'd be able to author a new post and toggle its status on the fly.

[2016-06-28 18:25] jasonmule commented on #1271
Possibly related to #1273 but I can't reproduce this with master at the moment.

[2016-06-29 01:46] rjmackay commented on #1244
Definitely. Thats already the case.. the 'visible to' control is shown when creating a post as an admin.

This is kinda hard to implement right now. However the [next iteration on Surveys](http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/settings-survey-edit.html) turns this into a toggle for each Survey: "Require posts be reviewed before they're published".

I suggest the

[2016-06-29 01:50] rjmackay commented on #1240
<img width="612" alt="screenshot 2016-06-29 13 49 33" src="https://cloud.githubusercontent.com/assets/7965/16438056/5d2ddcd6-3e00-11e6-9a7c-ac364b1fd362.png">

Weird. For me this has a really obvious scrollbar in Chrome.

[2016-06-29 02:03] #815 closed

[2016-06-29 03:27] #1273 closed

[2016-06-29 14:30] tuxpiper commented on #1236
@rjmackay  @willdoran  @jasonmule  Would this be affecting search queries over form attributes?

In Pheme we have a number of custom form attributes that need to be filterable. We have code that runs queries like this:

`GET /api/v3/posts?status=all&limit=10&values[theme-id]=989&form[]=2&offset=0`

However, the `values[theme-id]` bit seems to be not working anymore after this change (causes code 5

[2016-06-29 18:20] Shadrock commented on #1155
@rjmackay I just checked this on comrades.ushahidi.io. I made reports with and without being logged in. In both cases the "Categories" title still appears about a blank space: it has not been fixed. The "Date of Activity" *is* now working correctly.

[2016-06-29 18:21] Shadrock commented on #1043
@jshorland @rjmackay this is no longer an issues so can be closed out. I may need tokens in the future but can follow-up as needed.

[2016-06-29 18:24] Shadrock commented on #600
Did anything ever happen with this?

[2016-06-29 19:12] caharding commented on #1240
That scroll bar only appears once you start to scroll. There is not a clear
visual indicator of what you're supposed to do on this screen and it is
confusing.

On Tue, Jun 28, 2016 at 6:50 PM, Robbie Mackay <notifications@github.com>
wrote:

--
Charlie Harding
Product Director

[2016-06-29 20:01] citizenkepler opened #1279 "CSV imports fail with 500 from api/v3/csv/{num}/import"
### Expected behavior

I would expect for my data to be imported, or if it can't be imported present an error to the user explaining the problem or at least there was a server side problem.

### Actual behavior

The data is not being imported, and the user is presented with an error banner that does not contain any text.

![screen shot 2016-06-29 at 12 45 12 pm](https://cloud.githubusercontent.com

[2016-06-30 12:52] jasonmule commented on #1143
CNR

[2016-06-30 18:44] willdoran commented on #1242
@rjmackay @caharding This functionality now exists for notifications. Is there specific messages this should be updated for other than the "add first post".

For saving a new entity the message times out BUT it can't be made to disappear automatically on navigate otherwise it won't appear because it is invoked before the redirect just after the save.

[2016-06-30 21:11] jshorland opened #1280 ".io tour lists four "views" instead of modes"
Tour incorrectly describes data as being available in pre-mustang "views"

![Uploading Screen Shot 2016-06-30 at 2.07.21 PM.png…]()

[2016-06-30 21:25] jshorland commented on #1241
Passed testing. Closing issue.

[2016-06-30 21:38] jshorland commented on #1174
Failed acceptance test. Upon creating new surveys, I can't find a color picker and each new survey doesn't automatically assign a unique color automatically.

Steps to reproduce:
1. login to jshorland88.ushahidi.io (jess@ushahidi.com, password)
2. navigate to Settings --> Surveys
3. Add new Survey --> no color picker
4. Save survey and navigate back to Survey list. See all surveys are associated w

[2016-06-30 21:42] jshorland commented on #1143
Could not replicate either. I get full feedback asking me to confirm deletion. Probably fixed in the pre release scramble.

Closing.

[2016-06-30 21:42] #1143 closed

[2016-06-30 21:46] jshorland commented on #1258
Confirmed fixed. Plan settings are correctly laid out.

[2016-06-30 21:49] #1258 closed

[2016-06-30 21:54] jshorland commented on #1018
Passed testing. Member role is now uneditable and un delete-able, and visitors can successfully sign up to the deployment under that role.

[2016-06-30 21:57] #1018 closed

[2016-06-30 22:00] jshorland commented on #1206
Passed testing. Add user forces a selection. Default select is "member". I also tried to save with the same email address I had used previously, and it showed a correct and informative error message.

[2016-06-30 22:00] #1206 closed

[2016-06-30 22:04] jshorland commented on #1249
Failed testing for add category. Passed testing for delete category

Steps to replicate failure
1. login to jshorland88.ushahidi.io, jess@ushahidi.com, password
2. navigate to settings --> categories --> add category
3. type details in and save category
4. See user notification (screen shot)

[2016-06-30 22:06] jshorland commented on #1017
Passed testing. Both admin and user are not delete-able.

[2016-06-30 22:06] #1017 closed

[2016-06-30 22:13] jshorland commented on #1271
I can't replicate this error. At all. Did someone fix? or is it just... gone.

[2016-06-30 22:17] jshorland commented on #1236
Passed testing. I can now add multiple fields with the same name to multiple surveys.

[2016-06-30 22:18] #1236 closed

[2016-06-30 22:21] jshorland commented on #1248
Failed testing. When I select a category, the + icon is still on top of the text.

Steps to reproduce:
1. login to jshorland88.ushahidi.io (jess@ushahidi.io, password)
2. navigate to settings --> categories
3. select category
4. See screenshot

[2016-06-30 22:23] jshorland commented on #1155
Fails test on jshorland88.ushahidi.io as well. Moving back to in progress

[2016-06-30 22:26] jshorland commented on #1227
@sebm90 can you confirm which deployment this is for?

[2016-06-30 22:29] jshorland commented on #960
Passed testing. Post detail now centers and auto zooms to location of post.

[2016-06-30 22:29] #960 closed

[2016-06-30 22:37] jshorland commented on #1137
Beautiful! Passes test.

![screen shot 2016-06-30 at 3 36 12 pm](https://cloud.githubusercontent.com/assets/3224856/16506630/94339c74-3ed8-11e6-89f2-86bc48c245c7.png)

[2016-06-30 22:38] #1137 closed

[2016-06-30 22:39] jshorland commented on #771
Fails test.

Pattern is not matched. see screen shot.

[2016-06-30 22:58] rjmackay commented on #1179
Related: #1096 - on the data sources settings change

[2016-06-30 23:03] rjmackay commented on #1187
Closing in favour #1262

[2016-06-30 23:03] #1187 closed

[2016-06-30 23:08] rjmackay commented on #1188
Proposed solutions once tasks and post fields are split:
- Users shouldn't not be able to submit/save a post without all required post fields
- Users shouldn't be able to complete a task with all require fields for that task.

[2016-06-30 23:31] willdoran commented on #1174
That's strange it appears not to have been deployed yet. Color picker has changed in PL to be a gradient picker. I'm going to update the client accordingly but the picker works for me in develop.

[2016-06-30 23:36] jshorland commented on #1174
Ah -- moving back to testing -- @rjmackay will land and I will retest.

[2016-06-30 23:37] rjmackay commented on #1174
@willdoran I think we just need to flag **where** to test things.
- If you've just push to develop it'll only appear on ushahididev.com
- If you've tagged and deployed to production. Let Jess know to test on ushahidi.io

[2016-06-30 23:37] jshorland commented on #1241
@willdoran this may also be an issue of code not landing yet?

[2016-06-30 23:39] rjmackay commented on #1241
Test on ushahididev.com
Can you also confirm this doesn't interfere with notifications after saving a post, or trying to create a survey when over the limit?

[2016-06-30 23:45] caharding commented on #1242
I think we need Brandon's input here... Something that may need to be
tested with users.

On Thu, Jun 30, 2016 at 11:45 AM, will <notifications@github.com> wrote:

--
Charlie Harding
Product Director

[2016-07-01 14:21] jshorland commented on #1174
@willdoran @rjmackay where should I be testing this?

[2016-07-01 16:42] brandonrosage commented on #1179
I've updated the PL to assume dedicated views for each Data Source.

* [Data sources](http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/settings-data-sources.html)
* [Data sources: Email](http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/settings-data-sources-email.html)
* [Data sources: Twitter](http://github.ushahidi.org/platform-pattern-library/as

[2016-07-01 17:20] brandonrosage commented on #1179
I've also added a "message" to [the "Data sources" layout](http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/settings-data-sources.html) that suggests what would appear when...

* The user turns on automatic import for a source
* Selects "Done"
* Is directed to the "Data sources" landing page.

In other words, every time they turn on a data source and say "Done," they're re

[2016-07-01 17:24] brandonrosage commented on #1179
@caharding Does the above direction work regarding configuration of data sources and -- if a source isn't configured to add to a specific survey -- the education about the "unknown" survey?

[2016-07-01 17:37] brandonrosage commented on #1254
I've provided direction on the matter of system feedback -- education, really -- about the "Unknown" label in #1179, in two contexts:

* [During the configuration of a data source](https://github.com/ushahidi/platform/issues/1179#issuecomment-229993356).
* [In the confirmation message](https://github.com/ushahidi/platform/issues/1179#issuecomment-230001853) that appears immediately after turning o

[2016-07-01 17:41] brandonrosage commented on #1096
This is spelled out in #1179, but I've staged layouts for dedicated views of Data sources, including [Email](http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/settings-data-sources-email.html). That particular example is staged for the scenario where it's not yet configured, and therefore doesn't display any importing settings, yet.

![email configuration](https://cloud.git

[2016-07-01 19:24] caharding commented on #1179
Works. Thanks.

On Friday, July 1, 2016, Brandon Rosage <notifications@github.com> wrote:

--
Charlie Harding
Product Director

[2016-07-01 20:09] #1006 closed

[2016-07-01 20:22] brandonrosage commented on #1237
@rjmackay I've addressed both of these needs in a revised ["Edit survey" layout](http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/settings-survey-edit.html) that, I think, works whether we're supporting "pre-built" tasks, just "free-form" tasks, or both.

_Example_:
![Tasks: Verify](https://cloud.githubusercontent.com/assets/1136279/16533425/32adfe9c-3f9e-11e6-81e1-0f45b01

[2016-07-01 20:50] brandonrosage commented on #1251
Agreed, @caharding. Although, the more we position Tasks as something you "assign," the more our users will be clicking through to a post's "Translation" task directly from that task assignment (e.g. Task mode, email notification), which would open the post to that position on its detail view.

Deep-linking to posts' tasks is already supported in the PL.

[2016-07-01 21:33] brandonrosage commented on #1240
I've staged a solution for the modal's actions to stick to the bottom of the modal window, with a translucent background that hints at the overflow content below it:

![modal](https://cloud.githubusercontent.com/assets/1136279/16534959/44b1d2ca-3fa9-11e6-9d9c-51e69cb6ce49.png)

This also addresses the need for a clear action being visible at all times.

On the aforementioned example "Add to Collec

[2016-07-01 22:05] willdoran commented on #1248
Sorry I seem to have fundamentally misunderstood how the acceptance testing element works. I need look at how this change can be branched from PL before I can land it.

[2016-07-03 23:42] #1043 closed

[2016-07-03 23:43] rjmackay commented on #600
Nope. We probably need to be saving a label for locations too .. Assigning to Jess for triage

[2016-07-03 23:45] rjmackay commented on #1279
@citizenkepler have you tried with a more recent version of the platform? I think there are fixes in v3.3 and v3.4

The CSV guide on the wiki is for v2, the docs for v3 are here: https://www.ushahidi.com/support/data-import

[2016-07-03 23:46] rjmackay commented on #1271
Fixed

[2016-07-03 23:46] #1271 closed

[2016-07-04 01:15] caharding commented on #1237
Dig it. On the 2nd image is there a way of keeping the help text separate
from the rest of the header and description? It feels a little awkward
right now.

On Fri, Jul 1, 2016 at 4:22 PM, Brandon Rosage <notifications@github.com>
wrote:

--
Charlie Harding
Product Director

[2016-07-04 01:17] rjmackay opened #1281 "Feature: Replace "visible to" with Published/Under review/Archived"
Changes:
- [x] Update post status display with new icons/text
- [x] Update post filters to filter by status, not visible to
- [x] Update post edit with control to set status, remove visibility control
- [x] Add "Mark as" dropdown to timeline bulk actions (excluding spam/duplicate)
- [x] Update post actions dropdown to add Put under review/archive/publish options
- [x] Update post detail and post e

[2016-07-04 01:38] rjmackay opened #1282 "Feature: Add require approval and who can edit controls on surveys settings"
Changes:
- [x] Add toggle for 'require posts be reviewed before they're published' to survey settings
- [x] Add control for 'who can add to this survey' to survey settings
- [x] API: Add `require_approval` field to Form entity
- [x] API: Add `createable_by` field to Form entity (ie. which roles can add to a survey)

Background:
https://github.com/ushahidi/platform/issues/1263#issuecomment-22846492

[2016-07-04 01:45] rjmackay commented on #1262
@brandonrosage Looking at the mocks. Where is the "Who can edit it" for tasks?
We have "Show this task to everyone when the post is published" .. and "Require this task be completed before a post can be published". But I don't see how I would define who can complete a task?

[2016-07-04 01:50] rjmackay commented on #1237
@brandonrosage is "Show this task to everyone when the post is published" a simple on/off field? or do you anticipate setting it visible to specific roles?

[2016-07-04 01:51] rjmackay opened #1283 "Feature: Distinguish between post fields and task fields"
Changes
- [x] API: Mark "Post" stage as special (maybe `type: post` vs `type: task`)
  - Post stage doesn't have complete/not completed
- [x] API: Add description and visibility for stages
- [x] Split post fields and task fields in survey settings
- [x] Split post fields and task fields in post edit
- [x] Split post fields and task field in post detail
- [x] Remove 'completed' toggle from "Post"
-

[2016-07-04 02:00] rjmackay commented on #1034
@jshorland double checking. I think we agreed this should happen at the end of the tour?

[2016-07-04 02:03] rjmackay opened #1284 "Feature: Change the way we validate posts"
Depends on  #1283

Current validation
- `Post fields` are only validated the same other tasks.
- Only `complete` stages are validated
- Only enforces validation when post status = published

ie. validation is a combination of:
- Is this post published?
- Is this stage completed?
- Is this field valid?

Changes
- [x] Required fields on "post" stage are always validated
- [x] Required fields on task

[2016-07-04 02:30] rjmackay opened #1285 "Feature: Embed map"
- Implement [Map embed view](http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/map-embed.html)

[2016-07-04 03:18] rjmackay commented on #771
This is consistent with the current pattern library as in production. Updating the dropdown to match recent PL changes is out of scope for this. Closing.

[2016-07-04 03:18] #771 closed

[2016-07-04 03:21] rjmackay commented on #1248
This should be fixed on all ushahididev.com sites. I'll push to production (ushahidi.io) soon too.

[2016-07-04 03:21] rjmackay commented on #1248
@caharding Can you retest this when you get a chance?

[2016-07-04 03:26] rjmackay commented on #1174
Testing: failed.
Map markers are showing up black on ushahididev.com https://www.dropbox.com/s/go28pt6nxg9817j/Screenshot%202016-07-04%2015.25.16.png?dl=0
As you can see the popup is correct though and uses the gold highlight.

[2016-07-04 04:04] #1138 closed

[2016-07-04 05:33] rjmackay commented on #1241
Should be fixed on ushahidi.io too now

[2016-07-04 05:34] #1174 closed

[2016-07-04 05:34] rjmackay commented on #1217
@caharding can you retest now?

[2016-07-04 14:21] willdoran commented on #1249
This should be fixed by [281](https://github.com/ushahidi/platform-client/pull/281)

[2016-07-04 14:24] willdoran commented on #1242
This is related to [1241](https://github.com/ushahidi/platform/issues/1241)

[2016-07-04 14:38] willdoran commented on #1155
This should be fixed by [282](https://github.com/ushahidi/platform-client/pull/282)

[2016-07-04 19:21] jshorland commented on #1034
Correct.

Jess Shorland
Product manager
jess@ushahidi.com

[2016-07-04 21:21] #1249 closed

[2016-07-04 21:22] #1155 closed

[2016-07-04 21:41] rjmackay commented on #1007
@tuxpiper could you document this and other parts of install from bundled release and add that to the ushahidi.com/support pages?

[2016-07-04 21:43] rjmackay commented on #698
@tuxpiper could you look at the documentation todo's on this while documenting a bundled install?

[2016-07-04 21:59] rjmackay commented on #1167
@brandonrosage I think this is just a minor CSS fix. Probably just fix it on the client branch of the PL

[2016-07-04 23:01] willdoran commented on #1101
Should be fixed by [284](https://github.com/ushahidi/platform-client/pull/284)

[2016-07-04 23:02] #1112 closed

[2016-07-04 23:03] #1101 closed

[2016-07-04 23:20] #1131 closed

[2016-07-04 23:26] #773 closed

[2016-07-05 17:17] caharding commented on #1034
This is Brandon's call

On Sunday, July 3, 2016, Robbie Mackay <notifications@github.com> wrote:

--
Charlie Harding
Product Director

[2016-07-06 10:06] tuxpiper opened #1287 "Unable to change visibility of posts after CSV import"
### Expected behaviour
After any successful CSV import, it should be possible to change the visibility of posts generated as a result. Just like with any other post.

### Actual behaviour
When editing an imported post, the drop down used to set the post visibility appears with the label "{{canSeeThis()}} can see this", and the same drop down doesn't react to mouse or keyboard actions.. making it i

[2016-07-06 10:06] tuxpiper commented on #1287
Screenshot of what I'm seeing:
![screen shot 2016-07-06 at 11 56 43](https://cloud.githubusercontent.com/assets/467393/16614526/11820ad8-4372-11e6-9ff9-9d8791a6c95e.png)

[2016-07-06 14:45] brandonrosage commented on #1237
@rjmackay Yes: Simple on/off switch.

When we went to "Post Status" -- and moved visibility settings to Roles' configuration -- I think we married ourselves (in the interest of simplicity and consistency) to the notion that "published" = "visible to everyone."

And, of course, "everyone" is the broadest audience the deployment is configured to reach.

So the control you're referring to is simply a

[2016-07-06 15:10] tuxpiper commented on #1287
A surveyor user is reporting in intercom a similar issue, in a different scenario: https://app.intercom.io/a/apps/hl5rfiga/inbox/all/conversations/5266403591?nsrc=slack

[2016-07-06 15:54] brandonrosage commented on #1262
@rjmackay Thanks for asking about this. I had thought this through, but I think I arrived at the wrong conclusion. I revisited this this morning, and here's where I landed:

We're careful (and conservative) about how much role-specific configuration we do on a survey-by-survey basis. That's part of the fallout of the "Post Status" decision -- not adding permissions to every last thing.

That said,

[2016-07-06 16:02] brandonrosage commented on #1280
Revised in the Pattern Library: http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/tour.html

[2016-07-06 17:02] brandonrosage commented on #1242
There are many cases, including when successfully adding a post, where the message is intended to appear as the user is being taken to another page.

In that specific case -- if the user isn't logged in -- the message doesn't appear on the "Add post" screen. They select "Submit" and they're taken back to where they came from (say, "Map" mode), where they'll immediately get a "message" confirming w

[2016-07-06 17:12] brandonrosage commented on #1195
Tell me if I'm missing something, but this seems like a purely technical implementation detail: Making sure that number is derived from the number of corresponding posts that appear on the map.

[2016-07-06 18:29] brandonrosage commented on #783
I've improved the location picker so that its search control behaves more like the global 'searchbar' and so that the input doubles as the location field's **_value_**.

![location field](https://cloud.githubusercontent.com/assets/1136279/16629849/313ff244-437d-11e6-9616-6b70950eabb4.png)

The assumption here is that, when a user types anything into the input, it provides buttons to "Search" or "U

[2016-07-06 19:24] brandonrosage opened #1288 "Improve post 'photo' field"
For posts belonging to a survey with a "Photo' field...

### Expected behaviour
When there's no photo attached to the post, I'd expect there to be an intuitive button "Add photo" (with no caption input):

![add photo](https://cloud.githubusercontent.com/assets/1136279/16631345/48079246-4384-11e6-8114-ede8c2e78891.png)

And when there **_is_** a photo attached to the post, I'd expect the photo to b

[2016-07-11 06:36] yuchenglin opened #1289 "Push data to front-end when adding post"
I would like to realtime update my map view when someone adds a post without refreshing the page.

I thought that maybe `notification` is associated. Is there any decided mechanism/ lib I can follow with, or any suggestion? Thanks!

[2016-07-11 19:28] brandonrosage commented on #1023
I'm suggesting "nowhere," and instead having a default max (let's say, 20) number of results, [with a "Load more" button](http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/settings-users.html) to add another 20. We could optionally layer "infinite scroll" over the top of this to auto-load more results for appropriate modes, like "Timeline," ideally for users with suitable b

[2016-07-11 21:06] rjmackay commented on #803
Stale issue. Closing

[2016-07-11 21:06] #803 closed

[2016-07-11 21:12] rjmackay commented on #314
I think this is stale now. Closing

[2016-07-11 21:12] #314 closed

[2016-07-12 00:26] rjmackay commented on #802
Closing in favour of https://github.com/ushahidi/platform/issues/752

[2016-07-12 00:26] #802 closed

[2016-07-12 00:27] #300 closed

[2016-07-12 00:27] #337 closed

[2016-07-12 00:29] rjmackay commented on #1264
I think this is covered by other tasks in Sprint 8. Lets review after that.

[2016-07-12 00:31] #1211 closed

[2016-07-12 00:31] rjmackay commented on #1212
Review after Sprint 8

[2016-07-12 14:12] tuxpiper commented on #1287
It looks like this has been fixed in a recent commit.

[2016-07-12 14:12] #1287 closed

[2016-07-12 19:59] #1280 closed

[2016-07-12 21:37] jshorland commented on #309
I'm closing this -- I can't reproduce it.

[2016-07-12 21:37] #309 closed

[2016-07-12 21:45] jshorland commented on #388
There's a good use case for filtering posts by user (not member, user created by admin with an assigned role).
Questions for scoping:
- [ ] what do we actually filter by? posts that they've created, posts that they've published, or some other task associated with the post?

- [ ] Do people need to filter within posts by a particular user? What's the user story there?

[2016-07-12 21:51] jshorland commented on #394
This is still a weird interaction, but not broken. I can only choose 30 minute increments with a scrolling selector. I understand the mobile usability here, but I think there's a strong case for an option to type exact times for the users, especially in crisis response. I'd like to iterate on this and will apply the correct labels.

[2016-07-12 21:54] jshorland commented on #404
I don't see this happening anymore. Closing.

[2016-07-12 21:54] #404 closed

[2016-07-13 02:22] jshorland commented on #474
Closing in favor of #1285

[2016-07-13 02:22] #474 closed

[2016-07-13 02:24] jshorland commented on #524
this is seems irrelevant and unnecessary with the advent of screenshots considering the legal issues described in this issue. Exporting our in-house visualizations is a possible long tail feature, but embed should come first.

[2016-07-13 02:25] #524 closed

[2016-07-13 02:25] jshorland commented on #1285
related: #474

[2016-07-13 02:47] jshorland opened #1290 "Scope minimal working version of Tasks"
Based on Brandon's designs, what is the minimal working version of this that we can release quickly and progress to a more complex feature as we continue to build? Work needs to be scheduled into Q3

http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/tasks.html

[2016-07-13 02:53] jshorland opened #1291 "Scope minimal working version of "Goals""
Write scope and quick sketches for goals.
- What can we track (must be automated)
- What matters most to the users to track?
- Where do those overlap?
- How/where can we best visualize these? --> link to brandon
- How do users check their progress?
- Why is that information important and what are they trying to achieve with it? What do they do after they have the information?

[2016-07-13 02:55] jshorland opened #1292 "Re-think data source integrations"
- how can we make data source integrations simpler, more straightforward, and less fraught with hurdles just waiting to trip our users?

- Then write up scope for changes.

[2016-07-13 17:48] citizenkepler commented on #1279
Hello @rjmackay ,

I have updated the platform (because of the mapquest direct tile issue, and needing to switch to open streets) and I continue to have this issue. I am upto date on master, currently.

Thanks for looking into this.

[2016-07-13 21:35] citizenkepler commented on #1263
I am building out a grassroots ushahidi platform for politics in America. We had the similar question on finding posts that needed approval/action.  I have looked at the proposed system and I think this would also be applicable to our environment and the proposed fix would also work great for us as well.

Thanks and I just want to voice support for these changes.

[2016-07-13 21:42] rjmackay commented on #1263
@citizenkepler Thanks for the feedback. This should be built out in the next couple of sprints so you'll see this change soon.

[2016-07-17 23:16] jshorland commented on #778
Related: #490

Needs:
1. deployment
2. collection
3. saved search
4. individual post
5. add post to survey (form)

Patterns are built

[2016-07-18 18:40] caharding commented on #1195
This is a complicated issue. Maybe it is just number of posts in the view
that you're looking at. List would have more than map. But this would also
cause confusion. Would prob make sense to visually show that their are
posts that have no location, and you can go see them in list view...

On Wed, Jul 6, 2016 at 10:12 AM, Brandon Rosage <notifications@github.com>
wrote:

--
Charlie Harding
Product

[2016-07-18 18:41] caharding commented on #1242
Very useful. Top bar alerts are more urgent and system wide, blocking you
from further action, on the bottom they allow you to keep your workflow but
still show you important info.

On Wed, Jul 6, 2016 at 10:02 AM, Brandon Rosage <notifications@github.com>
wrote:

--
Charlie Harding
Product Director

[2016-07-18 19:14] caharding opened #1294 "Post "bundles" don't correspond to Post type colors"
### Expected behaviour

The bundles of posts have similar colors to the Post types, but they don't correspond. This makes it very difficult to get a quick visual look at what are the most common types of posts in a geographic region.
### Actual behaviour

Posts are not bundled together by type, and assigned a random color
### Steps to reproduce the behaviour/error

Check out the quakemap site

<im

[2016-07-19 14:16] caharding opened #1296 "Can we collapse "Sign Up" into "Login" on the mode bar"
### Expected behaviour

I would expect that Sign Up would be an option within "Login"
### Actual behaviour

We have two large icons which take up a bunch of screen real estate
### Steps to reproduce the behaviour/error

[2016-07-19 21:04] caharding commented on #1248
Yeah, not resolved unfortunately, the dropdown needs to start at the top of the pg 70px above where it is now.

<img width="1280" alt="screen shot 2016-07-19 at 2 03 31 pm" src="https://cloud.githubusercontent.com/assets/1618793/16966513/b82e049e-4db9-11e6-8b74-7c73d9cde4d7.png">

[2016-07-19 21:06] caharding commented on #1188
That works. The first statement is a double negative so to clarify:

Users can submit a to draft post without all required fields (should get
clear visual that it is only a draft)
User's can complete a task only when all required fields are complete

On Thu, Jun 30, 2016 at 4:08 PM, Robbie Mackay <notifications@github.com>
wrote:

--
Charlie Harding
Product Director

[2016-07-19 21:14] caharding opened #1297 "Investigate Findyr.com as a paid data gathering service"

[2016-07-19 23:34] jshorland opened #1298 "Responder xenowatch.ushahidi.io loses incident date when editing posts after CSV import"
### Expected behaviour
Incident date of the original report (exported from crowdmap) stays the same

### Actual behaviour
After CSV import, user edits post and loses the original incident date. Waiting for more details, including screenshot. Not sure if this is date picker or importer right now.

### Steps to reproduce the behaviour/error
Waiting for user to respond (xenowatch.ushahidi.io)

[2016-07-20 15:47] jshorland opened #1299 "User request: reorder surveys"
User wants to re-order surveys on home page, rather than the default newest --> oldest.

Mechanism could be similar to re-ordering fields in a survey.

[2016-07-20 16:38] jshorland opened #1300 "appi.ushahidi.io post pop ups don't work on map"
### Expected behaviour
I click on a pin on the map
Post summary box pops up in appropriate location in a timely manner

### Actual behaviour
clicking on pins after loading for the first time doesn't initiate any pop up
moving map around, or zooming in on cluster of posts, then clicking on individual pin brings up a summary box, but it's in weird locations and I can't see it.

This DOESN'T happen o

[2016-07-20 23:47] zhalloran commented on #1282
@rjmackay I'd prefer to set the default value for require_approval to false, but...for existing deployments, the default is to require approval (status => draft in posts). Any preference for how to approach this?

[2016-07-21 00:15] zhalloran commented on #1282
@rjmackay @brandonrosage For who can add to a survey the example has the logged in user, Everyone, or Specific Roles as options. Do we intend to allow the ability to select individual users as well? Also, do we have screens for the role selection action?

[2016-07-21 15:27] jshorland opened #1301 "Surveyor izwi.ushahidi.io survey creation form not scrolling properly"
### Expected behaviour
When creating a long survey form that requires the form to scroll, the user should be able to scroll down to see and add new fields to her survey.

### Actual behaviour
when adding a drop-down list to a survey, the form to create it doesn't scroll, so beyond five items it is impossible to continue editing the form.

[2016-07-21 15:32] jshorland opened #1302 "Surveyor izwi.ushahidi.io baselayer is wrong on Twitter posts and new posts"
### Expected behaviour
Changed default baselayer to street. On post form via twitter and new posts, the map to add location should show default baselayer as street.

### Actual behaviour
The map on the add post form shows as satellite

### Steps to reproduce the behaviour/error

[2016-07-21 15:32] jshorland commented on #1302
https://app.intercom.io/a/apps/hl5rfiga/users/5762a5a819f2d02b0f00045a/all-conversations

[2016-07-21 15:36] jshorland opened #1303 "Surveyor izwi.ushahidi.io wants to embed map into wordpress site"
I need to be able to embed the map without the dashboard coming with it (but with the logo and legend)

[2016-07-21 15:41] jshorland opened #1304 "Surveyor izwi.ushahidi.io can't edit Twitter posts properly"
### Expected behaviour

### Actual behaviour
Twitter is configured correctly and posts are successfully being pulled into the platform, but when she goes to edit them and gets the screen shot attached.

### Steps to reproduce the behaviour/error
![screenshot 20- 20twitter 20post](https://cloud.githubusercontent.com/assets/3224856/17029119/cfb0a214-4f1e-11e6-8743-3f8427c1d6fa.jpg)

[2016-07-21 21:42] rjmackay commented on #1188
Sorry double negative wasn't meant to exist:
- Users should not be able to submit/save a post without all required post fields
- Users should not be able to complete a task with all require fields for that task.

[2016-07-21 21:43] rjmackay commented on #1188
Brandon and I covered some of this here too: https://github.com/ushahidi/platform-client/issues/147#issuecomment-230791496

[2016-07-21 21:45] rjmackay commented on #1248
.. no thats expected as per the PL http://preview.ushahidi.com/platform-pattern-library/master/assets/html/5_layouts/settings-categories.html
I'm closing this since the original issue of the (+) icon has been fixed. If you think there's an additional issue, log it on the PL.

[2016-07-21 21:45] #1248 closed

[2016-07-21 21:54] jshorland commented on #1259
I can't seem to reproduce this. @caharding  do you mind trying to reproduce and updating steps to do so if you can?

[2016-07-21 21:54] rjmackay commented on #1034
I think we need to park this in favour of fixing bugs for paying users.

[2016-07-21 21:55] jshorland commented on #1034
agreed 100%

[2016-07-21 22:01] jshorland opened #1305 "Responder xenowatch.ushahidi.io can't integrate Frontline SMS"
Using clickatell with FrontlineSMS. Says he only has API key, not a URL as our current integration requires.

[2016-07-21 22:04] jshorland opened #1306 "Responder xenowatch.ushahidi.io wants to embed site into another site"
Needs full non-logged in user functionality into another site.

https://app.intercom.io/a/apps/hl5rfiga/inbox/all/conversations/5409633811

[2016-07-21 22:06] jshorland opened #1307 "Responder xenowatch.ushahidi.io needs help integrating email account"

[2016-07-21 22:06] jshorland commented on #1307
Less important than frontline sms and embed

[2016-07-21 22:07] caharding commented on #1259
That's because we've changed the Mark As Complete task on the tool. Login to QuakeMap and use the "Test" survey. How can we create a task that forces someone to verify a post submitted by another use before it is published? Requiring a new task called verify means the original poster must verify it. Doesn't make sense.

[2016-07-21 22:08] caharding commented on #1188
So I just opened this convo with Jess on issue #1259
<https://github.com/ushahidi/platform/issues/1259#issuecomment-234396005> -
how can we require a post submitted by one user to then be required to be
verified by another. Is this possible in the new setup?

On Thu, Jul 21, 2016 at 2:43 PM, Robbie Mackay <notifications@github.com>
wrote:

--
Charlie Harding
Product Director

[2016-07-21 22:09] rjmackay commented on #1305
What version of FrontlineSMS are they using? is it local or cloud hosted?
Could we connect direct to clickatell instead?

[2016-07-21 22:10] jshorland opened #1308 "Import categories from CSV"
- We need to make sure users can map a CSV column to categories

Similar issue https://github.com/ushahidi/platform-client-1000ocean/issues/3
Requested by xenowatch.ushahidi.io (responder user)

[2016-07-21 22:13] rjmackay commented on #1188
I don't think so - assigning a task to specific users or roles is part of tasks, which we're still scoping.

[2016-07-21 22:14] rjmackay commented on #1259
We should review this again after sprint 8, but I think this is really part of tasks. We don't have facility to assign ownership of the 'verified' task in sprint 8 or current client.

[2016-07-21 22:20] #1188 closed

[2016-07-21 22:20] #1212 closed

[2016-07-21 22:20] #1226 closed

[2016-07-21 22:20] #1237 closed

[2016-07-21 22:20] #1251 closed

[2016-07-21 22:20] #1262 closed

[2016-07-21 22:20] #1263 closed

[2016-07-21 22:20] #1264 closed

[2016-07-21 22:27] rjmackay commented on #1304
It looks like they hit a JS error - I've justed test with a twitter message on their deployment but I couldn't reproduce this though :/

[2016-07-21 22:45] jshorland commented on #1305
checking on versioning -- he's in EAT so I suspect it'll be a few hours before response.

[2016-07-21 23:39] rjmackay commented on #1302
Note that to test this you should try both
1. loading https://izwi.ushahidi.io/posts/create/3 directly
and
1. Load the homepage
2. Click on (+) then select a survey

[2016-07-21 23:59] caharding commented on #1259
agreed

On Thu, Jul 21, 2016 at 3:14 PM, Robbie Mackay <notifications@github.com>
wrote:

--
Charlie Harding
Product Director

[2016-07-21 23:59] jshorland commented on #1301
Passes QA. Scroll works. I'll reconfirm with user tomorrow morning on our call.

[2016-07-22 00:09] jshorland commented on #1302
Test 1 going directly to link: passes QA
Test 2 going to homepage, select add to survey through (+): passes QA

[2016-07-22 00:16] jshorland commented on #1305
They are running the cloud version of Frontline SMS. Do you need other details about this?

[2016-07-22 00:32] #1301 closed

[2016-07-22 00:34] rjmackay commented on #1282
My take is that require_approval should default to `true`. Because thats what we already have and I think also whats expected. I worry we surprise deployers otherwise by letter anonymous posts go public without review.
@jshorland any thought?

Who can add to a survey should only allow roles, not users to be selected. You can look at http://preview.ushahidi.com/platform-pattern-library/develop/asse

[2016-07-22 01:29] rjmackay commented on #1304
I'm going to add some error logging to production and we'll just have to ask them to let us know as soon as this happens again.

[2016-07-22 01:37] zhalloran commented on #1282
@rjmackay Perfect. I must have been looking in the wrong branch for the layout. Which branch is this?

[2016-07-22 01:39] rjmackay commented on #1282
Ah right. We're just sorting out branches in the PL.. there's a `master` and `develop` branch now. This is still in `develop`.

[2016-07-22 03:27] rjmackay commented on #1282
From discussion with @jshorland. The UI has updated slightly to include a ‘who can edit posts in this survey’ too. But for this iteration we can continue with just the ‘who can add to this survey’ control for this iteration and add who can edit later (probably along with changes to tasks). Make sense?

[2016-07-22 03:45] rjmackay commented on #1298
This is an issue with ALL date fields. We lose the existing value when editing

[2016-07-22 16:41] willdoran commented on #1300
I think the issue may be related to https and this warning:

Mixed Content: The page at 'https://appi.ushahidi.io/views/map' was loaded over HTTPS, but requested an insecure image 'http://www.gravatar.com/avatar/00000000000000000000000000000000?d=retro'. This content should also be served over HTTPS.

[2016-07-22 18:01] jshorland commented on #1304
She's still running into an issue:

Mark as complete: Twitter posts still can't be marked as complete, but can be saved to be visible to everyone; for new posts, I still can't save - the mark as complete works on the "verify" step but not on the "post" step.

[2016-07-23 00:38] #1298 closed

[2016-07-24 17:32] jshorland opened #1309 "Create zero-rated create deployment URL for Surveyor plans (Tech Soup)"
This is for Tech soup partnership launch.

Needs to be done by end of 1st week of August.

- Add zerorate surveyor plan, full price but with coupon
- Check this works with chargebee

[2016-07-25 02:32] yuchenglin commented on #1151
When I upload photos taken by iphone, the same size error would appear. In addition to the friendly help text, wouldn't it limit mobile users? or is it for system consideration? Thanks

[2016-07-25 03:10] rjmackay commented on #1302
Sorry - did this not get resolved? last comment said it passed QA? If this is a new bug, could we open a new issue?

[2016-07-25 03:11] rjmackay commented on #1309
Don't you already have this? Or is this really just a need for a zero-rated surveyor plan? (we already have responder .. though with a few extras)

[2016-07-25 04:48] #1300 closed

[2016-07-25 04:51] jshorland commented on #1309
Sorry, trying to be overly thorough. just zero rated surveyor plan link needs to be created. Responder already exists (I believe)

Sent from my iPhone

[2016-07-25 04:52] rjmackay commented on #1304
This should be fixed. There were validation issues with dates and datetime fields. They will need to add a post title before completing the stage though

[2016-07-25 04:58] rjmackay commented on #1302
@jshorland once you can provide more info, please grab other dev's as needed to resolve this. Don't wait for me to wake up :)

[2016-07-25 04:59] rjmackay commented on #1305
Not sure yet. This might be a good one for @jasonmule or @willdoran to look into too.

We might need to hit up frontline for a test account.. there are also other related github issue to this somewhere..

[2016-07-25 12:59] jshorland opened #1310 "Surveyor izwi.ushahidi.io baselayer is wrong on Twitter posts and new posts"
### Expected behaviour
Changed default baselayer to street. On post edit form for posts via twitter and unpublished posts, the map to add location should show default baselayer as street.

### Actual behaviour
The map on the edit post form for twitter posts and unpublished posts, it shows as satellite
It doesn't happen on add post to a survey screen via web and via a direct link, though

@willdora

[2016-07-25 13:00] jshorland commented on #1302
Ok closing this and adding a new issue -- sorry about that.

[2016-07-25 13:00] #1302 closed

[2016-07-25 13:00] jshorland commented on #1302
New issue: #1310

[2016-07-25 13:03] jshorland commented on #1310
As a note -- we thought we had originally fixed the issue. I created a new post and saw the streetmap baselayer on the add post form. But user saying it's still happening for newly added posts and posts via twitter (on edit post form)

[2016-07-25 15:44] willdoran commented on #1310
For newly created posts it is correct in my local for develop. I'll see if I can reproduce it on cloud.

[2016-07-25 16:11] willdoran opened #1311 "Update help text for Ushahidi cmd tool"
### Expected behaviour

The help text should print the correct functions and commands for the Ushahidi executable
### Actual behaviour

At least the dataprovider command list is out of data and missing 'incoming'
### Steps to reproduce the behaviour/error

Aha! Link: https://ushahiditeam.aha.io/features/PROD-686

[2016-07-25 16:16] willdoran commented on #1310
@jshorland Unfortunately, I'm having trouble reproducing the bug, would it be possible for me to see it occurring in a live instance?

[2016-07-25 16:25] jshorland commented on #1310
The user says this issue is resolved now. Could have been a caching issue for her. Closing.

[2016-07-25 16:25] #1310 closed

[2016-07-25 18:31] willdoran commented on #1305
I messaged them through their site, but is there a direct contact I can ping?

[2016-07-25 18:32] willdoran commented on #1305
Based on their docs it does look like their api support has changed so we might need to change accordingly.

[2016-07-25 20:22] willdoran commented on #1151
@rjmackay @jshorland is there a physical limitation on cloud for the current image size?

[2016-07-25 22:18] jshorland commented on #1305
https://app.intercom.io/a/apps/hl5rfiga/inbox/all/conversations/5409633811

[2016-07-25 23:32] #438 closed

[2016-07-25 23:33] #450 closed

[2016-07-25 23:34] #457 closed

[2016-07-25 23:34] #447 closed

[2016-07-25 23:34] #437 closed

[2016-07-25 23:35] #530 closed

[2016-07-25 23:36] #504 closed

[2016-07-25 23:36] #456 closed

[2016-07-25 23:37] #422 closed

[2016-07-25 23:37] #445 closed

[2016-07-25 23:37] #679 closed

[2016-07-25 23:39] #827 closed

[2016-07-26 00:01] rjmackay commented on #1305
@willdoran take a look at notes on https://github.com/ushahidi/platform/issues/836 .. note: the creator of that issue works for frontline.

[2016-07-26 14:28] jshorland opened #1314 "Unable to change survey name on 6th survey"
From grassroots user adviceni.ushahidi.io

"I’ve been creating the surveys and putting all the fields in under one task – you’re right, it makes it much easier for the user. It worked well for the 1st 5 surveys. However from 6 on when I create a new survey it won’t let me change the name of the first task which it automatically creates and calls “post” and it won’t let me delete it so I have to ad

[2016-07-26 14:28] jshorland commented on #1299
A second user requested this as well. Adviceni.ushahidi.io

[2016-07-26 14:29] jshorland commented on #1314
https://app.intercom.io/a/apps/hl5rfiga/inbox/jess@ushahidi.com/conversations/5467641498

[2016-07-26 15:27] willdoran commented on #1305
@rjmackay @jshorland  ok, cool, then we will need to update our side to support their api. I have not heard back from the messages I sent FontlineSMS. Should I proceed and start to change our api integration?

[2016-07-26 15:29] willdoran commented on #1314
hey @jshorland the default task "Post" is fixed and can't be renamed, I believe this is an intentional UI design. Do we want to change this to make the task renameable?

[2016-07-26 16:27] jshorland commented on #1314
I double checked with the user, and she says she was able to change the first task from Post to a custom title, but wasn't able to do the same at the 4th or 5th survey she created. I've asked her to give me admin privileges to confirm this.

[2016-07-26 16:28] willdoran commented on #1314
thanks! Hmm that is very strange

[2016-07-26 16:28] jshorland commented on #1314
I was also able to change the first task's title in quakemap.ushahidi.io

[2016-07-26 16:29] willdoran commented on #1314
Super weird, I'll test it here

[2016-07-26 16:42] jshorland commented on #1214
I'm still experiencing an issue which might be related:

When I visit adviceni.ushahidi.io, I don't see ANY posts on the map as a non-logged in visitor to the site, but some surveys have post counts on them. I suspect the system is counting the total number of posts, whether visible to me or not.

Ideally, I want to see the count of posts I can access, which changes whether I'm logged in as an adm

[2016-07-26 16:45] jshorland commented on #1214
@Shadrock are you still experiencing the issue you described?

[2016-07-26 16:51] willdoran commented on #1314
Hmmm, I can't edit on my local or on my ushahididev.com instance. Were you able to edit it directly in the text box? Did you save first?

[2016-07-26 17:03] Shadrock commented on #1214
@jshorland I just tested this ([here's the post I used](https://comrades.ushahidi.io/posts/57)) and it appears to be resolved.

[2016-07-26 17:05] jshorland commented on #1314
Update: the surveys on which she was able to edit the name of the first task were from her deployment pre-mustang. Surveys she's now creating post-mustang migration do NOT allow for changing first task name from "post". @brandonrosage do you mind reminding me of the thinking behind this?

[2016-07-26 17:31] willdoran commented on #1305
FrontlineSMS very kindly got back to me and they said the free tier should work for integration testing but they can upgrade us if we need, they asked for an example payload of what we're sending. Do we want to progress and update ourside to work with their cloud system?

[2016-07-26 17:38] jshorland commented on #1217
QA testing: passed. Entire box is clickable.

[2016-07-26 17:38] #1217 closed

[2016-07-26 17:39] willdoran commented on #1305
Additionally their docs cover this integration for Ushahidi
https://frontlinecloud.zendesk.com/hc/en-us/articles/208116073-How-can-I-integrate-FrontlineSMS-with-Ushahidi
which references our 2.x docs

[2016-07-26 17:39] jshorland commented on #1304
Is this pushed? because she said this is fixed.

[2016-07-26 18:18] jshorland opened #1315 "Surveyor izwi.ushahidi.io wants to embed into another site through iframe"
She's got the iframe set up on her wordpress site.

Is this the easiest/fastest approach to do this?

Responder xenowatch.ushahidi.io would like to do the same.

@willdoran @davidlosada any thoughts on approaches to making these customers happy without dev work and/or compromising the quality of the product?

[2016-07-26 18:18] jshorland commented on #1306
Closing in favor of #1315

[2016-07-26 18:22] jshorland commented on #1303
Closing in favor of #1315

[2016-07-26 18:22] #1303 closed

[2016-07-27 14:30] brandonrosage commented on #1314
Short answer: In a world where Ushahidi allows "free-form" tasks, all task names should be editable.

Slightly longer answer: The rollout of Mustang first offered a model for Tasks that was more "choose from these pre-built tasks." And that's where fixed task names originated. The constraints of the release led to this semi-clumsy hybrid.

I'm seeing editable task names across the board on my demo

[2016-07-27 14:34] jshorland commented on #1314
@brandon that's because those are surveys you created prior to mustang that retained that edit able quality in migration.

Try to create a new survey and edit the first pre-loaded task name to replicate the issue. It's presented a bit of confusion for pre-mustang users and requests for custom names from new users.

I'd suggest we make all tasks editable.

Sent from my iPhone

[2016-07-27 14:39] brandonrosage commented on #1314
Oh, I see. It's presented as a field. So I assumed I could change it. Of course, it's disabled. Yeah, that needs to be editable in a "free-form" model.

[2016-07-28 07:42] rjmackay commented on #752
@brandonrosage follow up question on editable authors

In the API we currently have an option to record an author name + email. This was to allow non-logged in users to leave authorship details when submitting a post. At some stage we dropped this from the UI (accidentally). So first

1. I think we should bring that back.. but where would those author name + email fields go? with the Post fields?

[2016-07-28 08:13] jasonmule commented on #752
At the moment, change author simply brings up a form that allows the user to add a custom author to the post:

![author_edit](https://cloud.githubusercontent.com/assets/150815/17205469/e7c8893a-54b3-11e6-868e-e7ceaaed1fac.png)

Please note that the author added/ edited here is set to a post and not a user.

[2016-07-28 16:51] brandonrosage commented on #752
If possible, I'd like to lay the groundwork early for a "user picker." It's obviously needed here. And will definitely be needed for future features, like "Tasks," where picking users as assignees.

It'd amount to a modal, like this:
![Choose user](https://cloud.githubusercontent.com/assets/1136279/17221393/55594b42-54b9-11e6-94d8-b1c90386b246.png)

I battled with this pattern for a long time, try

[2016-07-29 00:45] zhalloran commented on #1282
@rjmackay Outstanding issues for this ticket:

- Need to complete tests. Test environment is a bit of a mess due to permissions issues. We should tie the tests MySQL creds to the creds for the deployment, maybe?
- Want to return the results of the index collection form GET /forms/:form_id/roles when calling POST or PUT /forms/:form_id/roles

[2016-07-29 04:58] zhalloran commented on #1282
One last outstanding issue. Want to remove `roles` from the form_role entity when returned via API.

[2016-07-29 10:06] mentalacrobatics commented on #1247
I would find this feature very useful. For example in on my deployment https://schoolfires.ushahidi.io/ I would like to change Title to "Name of School" for easy reference.

[2016-07-29 13:24] willdoran commented on #1308
@rjmackay did you say there was additional info for this issue?

[2016-07-29 16:05] caharding commented on #1247
Yes very much agree

On Friday, July 29, 2016, Daudi Were <notifications@github.com> wrote:

--
Charlie Harding
Product Director

[2016-08-01 01:44] rjmackay commented on #752
Looks good for setting another User as author.. but that doesn't address any of my [comments about custom/non-user authors](https://github.com/ushahidi/platform/issues/752#issuecomment-235822978).

[2016-08-01 07:31] #1241 closed

[2016-08-01 07:31] #1227 closed

[2016-08-01 07:32] rjmackay commented on #1200
@jshorland this got stuck with a partial solutions - should we move it into the backlog for future sprints?

[2016-08-01 07:33] rjmackay commented on #1242
@jshorland assigning to you for priority

[2016-08-01 07:33] #1166 closed

[2016-08-01 07:33] #1094 closed

[2016-08-01 07:34] rjmackay commented on #957
@jshorland assigning to you for testing/confirmation.

[2016-08-01 07:35] rjmackay commented on #1007
@tuxpiper Do you have time to document this on ushahidi.com/support ? or should I reassign?

[2016-08-01 07:37] rjmackay opened #1319 "Handle user email address properly in contacts"
### Expected behaviour
- When I update the user.email the matching contact will be updated
- When I create a user, a matching contact will be created
### Actual behaviour
- Contact remains unchanged
- No contact is created
### Steps to reproduce the behaviour/error

Related to https://github.com/ushahidi/platform/issues/1093

Aha! Link: https://ushahiditeam.aha.io/features/PROD-685

[2016-08-01 07:38] #1093 closed

[2016-08-01 08:09] tuxpiper commented on #1007
@rjmackay I can work on it this week, I'll complete the doc at https://github.com/ushahidi/platform-release/blob/master/dist/README.release.md and more or less copy to the dotcom support pages

[2016-08-01 17:42] willdoran commented on #1314
@brandonrosage @jshorland I will change this to allow users to edit all tasks - @brandonrosage, all tasks should thus be reorderable, yes? At present the fixed "Post" task is not.

[2016-08-01 19:21] rjmackay commented on #1151
@jshorland is this still high priority or can we bump it off the sprint?

[2016-08-01 19:39] jshorland commented on #1151
Still high priority. Many complaints and questions about this.

[2016-08-01 20:24] rjmackay opened #1320 "Add cache busting to gulp build"
- Rename css/js files based on a checksum
- Replace filenames in index.html

Maybe use https://www.npmjs.com/package/gulp-cachebust

[2016-08-01 20:26] rjmackay opened #1321 "Build JS in a container and deploy built JS"
- Currently deployments take down the client temporarily
- We could build JS in a container then deploy that to servers

[2016-08-01 20:27] rjmackay opened #1322 "Allow deploying assets (js, css, images, fonnts, locales) to separate CDN endpoint"
Deploy JS and CSS for platform-client to CDN. Evaluate:
- Costs with current traffic
- Options of HTTP/2 support

Aha! Link: https://ushahiditeam.aha.io/features/PROD-684

[2016-08-02 00:35] rjmackay commented on #1309
Done now. Please test URLs (sent in private channel)

[2016-08-03 05:05] rjmackay opened #1323 "Implement separate data sources configuration views"
Migrating from [another comment thread](https://github.com/ushahidi/platform/issues/1179#issuecomment-229993356)

---

I've updated the PL to assume dedicated views for each Data Source.
- [Data sources](http://github.ushahidi.org/platform-pattern-library/assets/html/5_layouts/settings-data-sources.html)
- [Data sources: Email](http://github.ushahidi.org/platform-pattern-library/assets/html/5_layo

[2016-08-03 05:06] rjmackay commented on #1323
@jshorland this exists in the PL but not client. I'm not sure what the priority is.
If its a long way out I think we should move it out of the main PL branch to avoid confusion..

[2016-08-03 05:12] rjmackay commented on #1254
@jshorland another one to review and prioritize. I'll backlog for now

[2016-08-03 07:30] rjmackay opened #1324 "Update client from PL"
- [x] Update collection modal
- [x] Review other modals
- [ ] Review filters
- [x] top level html tag
- [ ] File upload UI (may be already with Seth)
- [x]  Plans
- [x] logo on settings main
- [x] logo on activity

[2016-08-03 10:10] jshorland commented on #1309
QA passed. I have also notified TEch Soup and had them test as well. Passed their tests too. Closing.

[2016-08-03 10:10] #1309 closed

[2016-08-03 10:11] jshorland commented on #1314
@willdoran yes, all tasks should be re-orderable as well.

[2016-08-03 10:16] jshorland commented on #1323
We should re-visit these designs this with our data source deep dive (figuring out how to make data sources easier, etc) BEFORE we implement in client, which I'm working on this sprint #1292.

[2016-08-03 10:19] jshorland commented on #957
@rjmackay where should i test?

[2016-08-03 22:57] rjmackay opened #1325 "Feature: Add 'Who can edit this survey' setting"
Add 'Who can edit posts in this survey" setting in survey settings

API To do:
- [ ] Extend `form_roles` join table to add boolean `can_create` and `can_edit` fields.
  - Make sure existing entries have `can_create` set true
- [ ] Change form to validate/receive/save role permissions
- [ ] Bundle can_create/can_edit with form request response
- [ ] Update form/:formid/roles endpoint to split can_c

[2016-08-04 01:10] rjmackay commented on #1281
@brandonrosage @jshorland what should the default status filter be? show everything? or just published? or published+under review?

[2016-08-04 02:20] rjmackay commented on #1281
Running stats on number of posts published with custom 'published_to' values.

[2016-08-04 02:23] rjmackay commented on #1281
@jshorland this is deployed to ushahididev.com - can you test there? it covers a lot of areas of the UI

To test:
- [ ] Post status display matches PL on timeline
- [ ] Post status display matches PL on map
- [ ] Post status display matches PL on post detail
- [ ] Filter by status works
- [ ] post edit set status control works
- [ ] Bulk actions "mark as under review, archived, published" works
-

[2016-08-04 04:28] rjmackay opened #1326 "Implement custom role selector for collections and saved searches modal"
<img width="244" alt="screenshot 2016-08-04 16 27 23" src="https://cloud.githubusercontent.com/assets/7965/17390345/644fb95e-5a60-11e6-9c61-c95964f218ef.png">

[2016-08-04 04:30] rjmackay opened #1327 "Implement improved location picker"
<img width="507" alt="screenshot 2016-08-04 16 28 47" src="https://cloud.githubusercontent.com/assets/7965/17390356/8ce5133c-5a60-11e6-95bf-3d5338cf3297.png">

<img width="512" alt="screenshot 2016-08-04 16 30 17" src="https://cloud.githubusercontent.com/assets/7965/17390386/c38f4542-5a60-11e6-8b3a-1eec48e61fdf.png">
- Needs full specification
  - Do we allow users to edit a caption/label for the

[2016-08-04 04:33] rjmackay commented on #1288
@middle8media any progress on this? do you need dev support on it?

[2016-08-04 04:34] rjmackay commented on #1324
@brandonrosage are the filter changes in the PL ready for implementation? mostly I see minor changes to titles, and a new heading on the dropdown..

[2016-08-04 04:34] #1324 closed

[2016-08-04 11:37] jshorland commented on #1304
This is confirmed fixed by the user.

[2016-08-04 11:37] #1304 closed

[2016-08-04 12:56] middle8media commented on #1288
Working on this today. I will keep you posted and reach out as needed.

[2016-08-04 14:32] jshorland commented on #1281
@rjmackay what link to the PL am I using? http://preview.ushahidi.com/platform-pattern-library/master/assets/html/5_layouts/timeline.html this is wrong.

[2016-08-04 19:49] middle8media commented on #1288
I have pushed an initial pass at this [here](911f30229b37844463183c693a4799a1a932ca6b). It is not complete, only partially functional.

I have a few suggestions that would require additional functionality.

### Post Add
- display the image after the upload button is clicked and before the save button is clicked, this provides visual feedback to the user that the image was actually uploaded.
- hide

[2016-08-05 08:00] jshorland commented on #1281
QA FAILED.
QA'd on qa.ushahididev.com, u: jess@ushahidi.com, p: password. testing while logged in as ADMIN.

Filter by status:
- there's some weird behavior here. When I uncheck all three statuses (stati?), there are still posts on the map as well as on list. Is this the way it's supposed to behave?

Bulk actions:
- when I select all on timeline mode and mark all as "under review", they disappear

[2016-08-05 08:00] jshorland commented on #1281
Assigning back to you, @rjmackay -- failed QA.

[2016-08-05 08:04] jshorland commented on #1255
Passes QA multiple multiple times.
Closing.

[2016-08-05 08:04] #1255 closed

[2016-08-05 11:51] jshorland commented on #1214
Passes QA for the comrades issue. Opening a new issue for post count depending on user

[2016-08-05 11:51] #1214 closed

[2016-08-05 11:54] jshorland commented on #1315
Two paying customers are very intent on getting this done. They both want full site through iframe and have iframe set up. Instructions on what she needs to do would be helpful as first step, or I can connect devs directly to them to talk them through it intercom? unless we'd like to approach it differently.

[2016-08-05 12:11] jshorland commented on #957
Passes QA on qa.ushahididev.com. Closing, reopen if i was supposed to test elsewhere

[2016-08-05 12:11] #957 closed

[2016-08-06 12:31] tuxpiper commented on #1007
Done, instructions here: https://www.ushahidi.com/support/install-ushahidi#installing-zipped-release-bundle

[2016-08-07 20:56] tuxpiper commented on #1321
I've got code for this in ushahidi/ansible-platform-client-code#1 . @rjmackay where should we try it first? Is staging a good place?

[2016-08-07 22:27] rjmackay commented on #1321
Yes test on staging is good. Given that role is shared between ansible-playbooks and platform-cloud-ansible, we should probably test it doesn't break deploys to platform-qa too

[2016-08-07 22:28] #1007 closed

[2016-08-07 22:38] rjmackay commented on #1315
Sorry I thought you were already working on this with @tuxpiper ?

[2016-08-07 22:41] rjmackay commented on #1315
As a first step they can just add this code somewhere on their site:
[code]
They can modify the height and width numbers as needed for their site. Happy to look at specific issues they have after a first attempt.

[2016-08-07 22:43] rjmackay commented on #1281
With all of our filters, no filter = return anything. The UI doesn't really match this but I'm not sure what it *should* do. Returning an empty list is pointless..

I'll investigate other issues.

[2016-08-07 22:44] rjmackay commented on #1281
@jshorland can you put these back into "In Development" column when they fail QA?

[2016-08-07 22:46] rjmackay commented on #1288
I'm not clear what the difference between uploaded and saved is here?

Would it work to book some peer programming time with myself or @willdoran to work on this?
I think most of what you need to display the image should exist so we'll just need to point you at the right data in JS :)

[2016-08-07 22:49] rjmackay commented on #1305
@willdoran where is this at / whats waiting?

Definitely, but I think I already answered this outside of github.

[2016-08-07 22:50] rjmackay commented on #1297
@jshorland do we need a 'research' label for things like this?

[2016-08-07 22:53] rjmackay commented on #1296
@jshorland I'd normally assign this to @brandonrosage for consideration .. however I'm aware this doesn't reflect any thought on priority or capacity to continue this. Do you want to just icebox this until  we pull it into a sprint for design review?

[2016-08-07 22:56] rjmackay commented on #1314
Wait... With the split of Post fields from Task fields I don't think we should treat 'Post' as a task at all. I think this need to loop back to design because [this design](http://preview.ushahidi.com/platform-pattern-library/develop/assets/html/5_layouts/settings-survey-edit.html) doesn't have UI to reorder tasks at all.

[2016-08-08 05:16] zhalloran commented on #1282
@rjmackay @brandonrosage I'm working on the Client component for this issue. One question I have: how do we want to handle the case were a user doesn't have permission to add to a survey? Do we also remove their right to see the survey completely (i.e. do we remove their permission to read that survey at the API level)? Or, do we allow them to see that form in lists, but somehow indicate that it's

[2016-08-08 05:17] zhalloran commented on #1282
Outstanding issue: Add auto-publish to post creation for surveys that don't require approval.

[2016-08-08 08:23] tuxpiper commented on #1315
Sorry, maybe I forgot this if we had only commented the ticket on a call...

[2016-08-08 14:36] middle8media commented on #1288
The way I understand it ...

upload actually uploads the image but does not display it.
save does just that, saves the image into the app.

I will reach out to Will for pair coding.

[2016-08-08 15:05] jshorland commented on #1307
This is fixed for the client. Closing.

[2016-08-08 15:05] #1307 closed

[2016-08-08 15:09] jshorland opened #1330 "Responder Xenowatch wants to embed ONLY map."
He's found a way to embed only the survey forms, but also wants a way to embed only the map. Originally wanted to embed the whole site, now only specific objects.

See intercom conversation here: https://app.intercom.io/a/apps/hl5rfiga/inbox/all/conversations/5409633811

Is this possible at this point without significant dev work? @rjmackay @tuxpiper?

[2016-08-08 16:06] jshorland commented on #1330
Closing in favor of #1285. Transferring comment there.

[2016-08-08 16:06] #1330 closed

[2016-08-08 16:07] jshorland commented on #1285
He's found a way to embed only the survey forms, but also wants a way to embed only the map. Originally wanted to embed the whole site, now only specific objects.

See intercom conversation here: https://app.intercom.io/a/apps/hl5rfiga/inbox/all/conversations/5409633811

Is this possible at this point without significant dev work? @rjmackay @tuxpiper?

[2016-08-09 02:09] rjmackay commented on #1281
I can't reproduce this. We refresh the listing after a 'mark all' but its working fine for me.

Can't reproduce this at all

[2016-08-09 02:31] rjmackay commented on #1281
I'm not 100% clear: who can see archived posts? I'm going to assume *everyone* but we can fix that later if that wasn't desired. @brandonrosage @jshorland

[2016-08-09 02:51] rjmackay commented on #1305
Deployed to production.

[2016-08-09 02:52] rjmackay commented on #836
@jshorland Do you want to queue pull this into the data sources sprint to complete the documentation?

[2016-08-09 03:26] rjmackay commented on #1282
A user who doesn't have permission to add to a survey still has permission to see posts that are in that survey. So it follows that they need to see that survey in various lists in the client. However they _shouldn't_ see it in the list under the add post button.

<img width="323" alt="screenshot 2016-08-09 15 23 03" src="https://cloud.githubusercontent.com/assets/7965/17503631/7b4881de-5e45-11e6-

[2016-08-09 05:39] zhalloran commented on #1282
@rjmackay What do you think about adding the survey permissions to the session data in the $rootscope of the client?

[2016-08-09 08:11] rjmackay commented on #1282
@zhalloran better to avoid adding things to rootScope. Better would be to isolate whatever permissions checks are needed to a service. Also if you just need to cache the forms roles data somewhere the endpoints mostly do that using angularCache.

[2016-08-09 08:12] rjmackay commented on #1282
I may not be on for long tomorrow. Ping @willdoran if you need more feedback on the client approach.

[2016-08-09 18:03] zhalloran commented on #1282
@willdoran @rjmackay One other question I forgot: What role do we want to assign to unauthenticated users? My first thought is to assign them the User role in terms of permissions?

[2016-08-09 18:09] zhalloran commented on #1282
@willdoran @rjmackay What do you think about adding an array of role names to the to the form entity in the API? It would make managing access to add to a survey in the client very clean.

[2016-08-09 19:34] rjmackay commented on #1282
I would say they shouldn't have a role. Which probably means the survey needs to be available to `everyone` before they can add to it.

Yes please.

[2016-08-09 19:35] zhalloran commented on #1282
Hah! I just came to that conclusion myself. Thanks!

On August 9, 2016 at 12:34:48 PM, Robbie Mackay (notifications@github.com)
wrote:

@willdoran <https://github.com/willdoran> @rjmackay
<https://github.com/rjmackay> One other question I forgot: What role do we
want to assign to unauthenticated users? My first thought is to assign them
the User role in terms of permissions?

I would say they shou

[2016-08-10 19:21] brandonrosage commented on #1314
Two things to resolve here:

1. The process and timing for the build-out of Tasks. My understanding was that we'd finish staging a design solution in the PL before the next sprint planning meeting (which launches the client implementation). So while I have a solution for this, I've been careful not roll it out until it had been more thoroughly reviewed.

2. The solution to this point *does* provid

[2016-08-10 19:24] brandonrosage commented on #1281
@rjmackay My intent is for “Archived” posts’ visibility to be identical to that of posts that are “Under Review.”

If nothing else, this keeps things simple.

Until we learn of a user need to expose “Archived” posts publicly, I think we should treat them as posts the deployer explicitly wants to “retire” from the outward-facing dataset, without being forced to either delete or demote them back to

[2016-08-11 02:16] nickbadams opened #1333 "Could Task tabs be moved to bottom of survey page?"
### Expected behaviour

When a user completes a survey task and is at the bottom of the page, it would be nice if the next survey tasks are clearly visible, perhaps even with a pointer directing the user to move on to the next survey task.
### Actual behaviour

When a user completes a survey task and is at the bottom of the page, she might be confused because there is no apparent next action to ta

[2016-08-11 02:17] nickbadams opened #1334 "Text Box questions render with line through them"
### Expected behaviour
Words of a Text box question should not have a line through them.

### Actual behaviour

They do.

### Steps to reproduce the behaviour/error

Write out a text box question and see how it is displayed in the interface (on Chrome).

[2016-08-11 02:26] nickbadams opened #1335 "Free-form surveys"
### Expected behaviour

When in Timeline view and clicking on a post title in order to view post responses, we would like to see the responses displayed in the same sequence as the original survey questions.
### Actual behaviour

The responses display in order of question type.
### Steps to reproduce the behaviour/error

See DemoWatch deployment's posts. Survey Tasks 1, 2, and 4 display according

[2016-08-11 02:32] nickbadams opened #1336 "Display of Post Responses only works if User named their survey"
### Expected behaviour

User should not have to type in a Title to name their survey. And even if users do not type in a Title, admins should still be able to easily browse their post responses in the timeline without clicking the menu button to the right, then the edit button.
### Actual behaviour

If user's do not type in a Title for their survey response (an action that almost no user would exp

[2016-08-11 02:39] nickbadams opened #1337 "Location question type Obscures great GPS location functionality"
### Expected behaviour
User should be able to easily click a button that locates them using their device's GPS. (Would suggest a button that says 'my current location' or something to that effect.

### Actual behaviour
User is encouraged to type in a location, then set a pin on a map. If they are lucky, they might accidentally tap the arrow that locates them using GPS.

### Steps to reproduce the

[2016-08-11 20:32] nickbadams opened #1338 "Does the Author Contact Feature work?"
### Expected behaviour

When admin reviews 'unknown posts' from Twitter and determines that the author of the tweet should receive an Ushahidi survey, the admin types a message into the 'Contact Author' field and sends a message inviting them to fill out a (DemoWatch) ushahidi survey.

Shortly thereafter, the Twitter author should receive the message (probably through Twitter as a tweet?).
### Act

[2016-08-11 20:38] brandonrosage commented on #752
You're right, @rjmackay. When editing a post's author and/or post date, here's what I've staged in the PL:

## Logged out
When you encounter the "Add post" page, you'd see a summary of the metadata:

![logged out](https://cloud.githubusercontent.com/assets/1136279/17603710/18959d44-5fd8-11e6-9046-619a5f6571aa.png)

If you select "Change," the fields for providing author information replace the tex

[2016-08-11 21:00] brandonrosage commented on #1296
In the event we choose to implement this change, I've staged a solution. It doesn't change the design system -- just the UX that's staged in the PL.

When logged out, the mode bar now displays Collections, Log in, and Ushahidi Support:

![mode bar](https://cloud.githubusercontent.com/assets/1136279/17604447/80cfaf6e-5fdb-11e6-87c2-64cc2043e9b9.png)

Upon selecting "Log in," the modal displays only

[2016-08-13 00:34] natmanning opened #1339 "Default map location is confusing"
Updated ticket: as it is now, the default location is used as the default when the map loads, but then the map automatically uses the location bounds of all posts (which may be entirely different than the user's intention when they set up the default location) to decide what to display.
We may want to consider the solutions in https://github.com/ushahidi/platform/issues/1339#issuecomment-315663893

[2016-08-14 13:52] fegul commented on #1177
Hello @rjmackay, not sure how I missed your message. I'm running MySQL 5.7.13 and I'm running `bin/update` in the cloned repo directory which leaves that error message. Just tried it again today.

[2016-08-14 14:00] fegul opened #1340 "Check outdated composer packages."
When running `bin/update` the following messages appear:

`Package guzzle/guzzle is abandoned, you should avoid using it. Use guzzlehttp/guzzle instead.`

`Package league/url is abandoned, you should avoid using it. Use league/uri instead.`

[2016-08-15 21:09] jshorland commented on #1336
@brandonrosage -- really good UX issue noted here. If a fix for this is possible to get done quickly, I'd like to prioritize it. If we need to put more thought into this design, we can group this in with a larger epic to make sure we allocate an appropriate amount of time to a solution. What are your initial thoughts?

[2016-08-15 21:10] jshorland commented on #1333
Related to tasks scope.

[2016-08-15 21:39] jshorland commented on #1314
Sorry for my delay here. @brandonrosage we won't be able to start implementing tasks until after hit team. I'll have a more detailed schedule based on recent issues submitted into out github by wednesday of this week. Is there more clarity you'll need beyond timing for tasks?

[2016-08-15 21:41] brandonrosage commented on #1336
I've been dancing around this problem whole tackling some other issues. And they all come to this question: "Must a 'title' and 'description' be assumed for every post?"

When the answer is "yes," it creates a number of problems, including @nickbadams'. It also makes postcards in Map and Timeline modes very clumsy when it comes to featuring other content, like a photo. We can assume a title and de

[2016-08-15 21:44] jshorland commented on #1242
Thanks @rjmackay -- working on organizing our roadmap today and tomorrow.

[2016-08-15 21:48] brandonrosage commented on #1314
Just a shared understanding of how it'll work ([I've outlined a solution](https://github.com/ushahidi/biz/issues/6)) and the deadlines for each phase of work on the epic.

[2016-08-16 14:00] tuxpiper commented on #698
The apache php-cgi , apache mod-php and nginx php-fpm setups I've tried haven't exhibited this problem. (the configuration files as the ones that can be found in https://github.com/ushahidi/platform-release/tree/master/dist )

This may be something that arises in some setups only under specific circumstances.

Because of that, I'm not going to add it to the documentation yet, but keep this PR as r

[2016-08-16 14:02] tuxpiper commented on #698
Please do comment and mention me if you come across this in any of your setups.

[2016-08-16 14:03] #698 closed

[2016-08-16 18:51] willdoran commented on #1284
Test these changes by on ushahididev:
- Validation
- [ ] Required fields for Post task should always be validated
- [ ] Required fields for a task should only be validated when the task is marked complete
- [ ] It should not be possible to save a post unless all required fields have been filled
- [ ] It should not be possible to publish a post unless required tasks have been marked completed

[2016-08-16 18:52] willdoran commented on #1283
Test these changes by on ushahidev:
- Survey Edit
- [ ] Add Post fields
- [ ] Add Tasks
- [ ] Add fields to Task
- [ ] Set "Require this task be completed before a post can be visible to the public"
- [ ] Save survey
- Post Edit/Detail
- [ ] Create Post from Survey with No Tasks - tasks tabs should not be displayed
- [ ] Create Post from Survey with Tasks - task tabs should be displayed
- [ ] Save

[2016-08-17 01:24] rjmackay commented on #1296
I think this would confuse me if I were looking to sign up. There's now no visible link to sign up.. I just have to stumble through login to discover it.

[2016-08-17 16:12] fegul commented on #1177
I think this issue might be related to [https://github.com/ushahidi/platform/issues/969](url)

[2016-08-18 09:51] fegul commented on #1177
Turns out, it was related to that issue.

Used the following guide to retrieve all the SQL modes set, copied the list of modes, opened up mysql config and manually set SQL mode by pasting in the list of modes I had copied before and removed the NO_ZERO_DATE option. Restarted MySQL and migrations worked fine after that.

[2016-08-19 15:29] brandonrosage commented on #1252
I've staged a solution to this that focuses on making the "searchbar" an all-in-one tool for searching, filtering, and summarizing what filters are applied.

![searchbar](https://cloud.githubusercontent.com/assets/1136279/17814809/12428072-65f7-11e6-8887-29f907de506b.png)

How it appears depends a lot on the interaction and what's being done. It listens to and reflects what the user does within th

[2016-08-20 15:40] willdoran opened #1343 "Option fields incorrectly labelled on CSV Import Mapping"
### Expected behaviour
- The label for field options should be correctly displayed

### Actual behaviour
- Currently the array position of the field options is displayed as a label
<img width="621" alt="screen shot 2016-08-20 at 11 38 41" src="https://cloud.githubusercontent.com/assets/2694405/17832178/d8f134b0-66ca-11e6-9abc-21a607f22814.png">

### Steps to reproduce the behaviour/error

[2016-08-20 15:41] #1343 closed

[2016-08-20 15:42] willdoran commented on #1279
@citizenkepler, sorry for delay, I am trying to reproduce this issue, would you be able to share an example of a CSV which is failing for you?

[2016-08-21 02:48] caharding commented on #1252
I think that this is going in a really nice direction to keep all the
contextual information about a search in the search and filter bar. It
keeps the app more consistent. I'm curious what the state would look like
after the search. Could I click an "X" on one of the filters? Also, is
there another app that does something similar we can borrow ideas from?

On Fri, Aug 19, 2016 at 3:29 PM, Brandon

[2016-08-21 14:22] jshorland commented on #1338
@willdoran users can't reply to a twitter post via twitter, correct? Flagging and assigning to myself to make an issue about clarifying that in the UI if so.

[2016-08-21 14:24] jshorland commented on #1335
@brandonrosage I'm not sure I completely understand this. Is this clear to you?

[2016-08-21 14:33] willdoran commented on #1338
@jshorland That's correct, we do not have bidirectional communication for twitter. The post should not be displaying reply for posts from source twitter.

Replying via twitter would be a very neat feature.

[2016-08-21 18:09] jshorland commented on #1334
@nickbadams I can't seem to reproduce this bug. When I add a text box to a survey, I get a normal display of text. See screenshot. Is there something else that i'm missing to reproduce?

![screen shot 2016-08-21 at 2 08 41 pm](https://cloud.githubusercontent.com/assets/3224856/17838984/e7128966-67a8-11e6-8b98-c2d74ae851d6.png)

[2016-08-21 18:21] jshorland opened #1344 "https://takingplace.ushahidi.io not pulling tweets"
user set up twitter to pull hashtags for #takingplace and #matatu16, but sent a test tweet and it didn't appear in her timeline. Are there errors being returned here?

[2016-08-21 19:42] jshorland commented on #1344
The issue was that his unknown label was still un-checked, thus excluding the unstructured tweets from his timeline.

[2016-08-21 19:42] #1344 closed

[2016-08-22 02:43] brandonrosage commented on #1335
@jshorland After investigating the issue on demowatch.ushahidi.io, I understand the problem. I'll carve out time to address this this week at the hit team.

We hear you, @nickbadams. I'll be in touch shortly.

[2016-08-22 06:36] nickbadams commented on #1335
Y'all are great. Thank you!

On Sun, Aug 21, 2016 at 7:43 PM, Brandon Rosage <notifications@github.com>
wrote:

--

*Nick Adams, Ph.D.Research Fellow – Social Science, *

*Berkeley Institute for Data Science*
*University of California, Berkeley*

[2016-08-22 20:03] natmanning opened #1345 "Admin can Close/Freeze a Survey to public"
(Taking from User running Takingplace.ushahidi.io

### Expected behaviour

As an Admin I want to be able to fill out a survey myself with content, and then close that survey to the public but keep the pins on the map.

### Actual behaviour

The crowd might be confused and fill in my "base map" survey by mistake.

### Steps to reproduce the behaviour/error
Set up a deployment

[2016-08-23 08:02] fegul opened #1346 "SQL: HTTP 500 Error in browser console upon installation: Operand should contain 1 column(s)"
I'm starting from a fresh installation and upon loading the map page for the first time, I start seeing errors like the following in the browser console that are returned by the following REST calls:

**REST call:**
[code]

**Response from platform:**
[code]

[2016-08-24 22:59] nickbadams commented on #1338
A friend may be willing to voluntary add this feature to Ushahidi if that seems possible. Otherwise, we may try to write some sort of bot that does the job. Could you advise as to which path forward would be best for the broader Ushahidi user/developer community?

[2016-08-25 12:58] willdoran commented on #1338
@nickbadams that could be quite interesting. The issue with replying to tweets would be that we do not currently store twitter account credentials, so setting up and authenticated a user would be a first step. After that, connecting twitter send into the existing system would not be too difficult as we have a defined pattern for sending to datasources. The best examples being FrontlineSMS and Twil

[2016-08-25 15:45] jshorland commented on #1284
1. Required fields for post task are not always validated -- fail
2. required fields for a task aren't validated (or are wonky), so i'm not sure if it only validates when task is marked com[lete or not -- fail.
3. i saved a post without all required fields being filled. Fail
4. I was able to click publish on post and i received a message that said "saved post". No indicator that the post was publi

[2016-08-25 20:17] jshorland opened #1347 "Why do we force sign up to get notifications?"

[2016-08-26 01:21] jshorland opened #1348 "Latitude & Longitude are not validated"
Steps to reproduce:
- upload csv file of data including lat/lon
- in timeline mode, bulk delete several sets of 10 posts
- navigate away from the timeline after doing so
- navigate back to timeline
result: blank, no posts loading

error: {"errors":[{"status":0,"title":"invalid latitude: 57983","message":"invalid latitude: 57983"}]}

[2016-08-26 02:19] zhalloran commented on #1348
We've identified the problem. A post was updated with an invalid latitude. We've discovered that points are not validated before being inserted into the post_point table. The error is thrown by Symm\Gisconverter\Decoders\WKT when attempting to decode the point into lat & lon. Might be worth adding a latitude & longitude check to the post_point validator: https://github.com/ushahidi/platform/blob/m

[2016-08-26 02:42] jshorland opened #1349 "After mapping a CSV with a few hundred rows, clicking finish import actually finishes import but doesn't tell the user that or change the screen to list view"
steps to reproduce:
First, I uploaded a CSV with ~60 rows. all good.
Then, I uploaded a CSV with ~280 rows. all good until i hit "finish import" after mapping to my fields in my survey. Nothing happened and I had no indication that it had uploaded. so i clicked again. and again.
Then, navigated away from importer to list view and there were 3x the number of posts in the original csv because i clic

[2016-08-26 14:30] jshorland opened #1351 "Post from twitter doesn't show entire text if tweet too long"
From whatisaroad.ushahidi.io

Navigated to timeline view, clicked on post and went post detail screen. Saw this.
![screen shot 2016-08-25 at 1 17 54 pm](https://cloud.githubusercontent.com/assets/3224856/18008926/16310114-6b78-11e6-9c2f-9916bcd5d94b.png)

[2016-08-27 00:58] jshorland opened #1352 "Select field with three options doesn't display the options in qa.ushahididev.com"
### Expected behaviour
After adding three options for a select field in my survey set up, I should see those in the select dropdown on the survey when I'm adding a post.

### Actual behaviour
It doesn't appear

### Steps to reproduce the behaviour/error
Add options for select field in survey set up
Go to add post for that survey
See screenshot

important. this only happens in qa.ushahididev.com. T

[2016-08-27 01:02] jshorland opened #1353 "Radio buttons should be to the left of text, same as checkboxes"
### Expected behaviour
I want to click in the same area for both checkboxes and radio buttons

### Actual behaviour
radio buttons are to the right of text and it creates an unusual/annoying behavior for me.

### Steps to reproduce the behaviour/error
Create both select and radio fields with a few options
Go to the survey form and see the two compared to one another (see screenshot).
This is in bot

[2016-08-27 01:02] jshorland commented on #1353
And why are the fonts different between radio and checkbox in that screenshot?

[2016-08-27 01:11] jshorland commented on #1352
fixed. closing.

[2016-08-27 01:11] #1352 closed

[2016-08-27 01:33] jshorland commented on #1283
- Add posts fields has a small design flaw. I'm going to pass the adding of fields, and have opened #1353
- Create post from survey with tasks (tasks show): Failed. I can add the tasks in the survey edit mode, but when I add a post to the survey and save, it takes me to a screen that for some reason only shows the first and last task. I tried typing a really long task name to see what happened, bu

[2016-08-27 01:38] jshorland commented on #1283
Its now working for me. All pass QA

[2016-08-27 01:45] jshorland commented on #1281
Passes QA! Moving to done.

[2016-08-27 01:45] #1281 closed

[2016-08-27 01:45] #1305 closed

[2016-08-29 15:30] middle8media commented on #1351
@rjmackay @willdoran There are inline styles being added to this `<textarea>` and I need to override it but I am having trouble finding how the styles are generated.

I see this https://github.com/ushahidi/platform-client/blob/7aae8c9e1046176587bb3a67d700f14285254f80/server/www/templates/posts/modify/post-value-edit.html#L122

notice the `overflow-x: hidden;` in the file above but `overflow: hidde

[2016-08-29 16:16] #1151 closed

[2016-08-29 16:16] #1284 closed

[2016-08-30 15:36] willdoran commented on #1349
@jshorland Ok, this is an issue of async, we should disable the finish import button once they have clicked it and put a loading comfort noise. The page will eventually transition but it appears to be slow for large files. we should probably give them the option to navigate away - they will ultimately receive the notification saying import complete/failed irrespective of where they are in the app

[2016-08-30 16:39] willdoran commented on #1339
@natmanning I'm not sure if this is a clear description so let me know and I clarify further:

To reposition a map's default location you need to grab the Blue Pin on the map and move it:
So if you see in picture 1 the default point is in the middle of Eurasia:
<img width="971" alt="screen shot 2016-08-30 at 12 34 14" src="https://cloud.githubusercontent.com/assets/2694405/18097973/411e3516-6eae-1

[2016-08-30 17:49] middle8media commented on #1351
fixed via https://github.com/ushahidi/platform-pattern-library/commit/de6efc48d9d448aaf599a6910cbc4ddb2c24f7ef

[2016-08-30 17:49] #1351 closed

[2016-08-31 17:10] #1353 closed

[2016-09-01 16:33] jshorland commented on #1349
@willdoran these sound like good options. I prefer 2a to 2b depending on dev time to do it. Could 2a be a good stop gap in the interim? I'd need to really understand technical difficulty of each to properly prioritize. @brandonrosage -- can you input as well in terms of UX of each option?

[2016-09-01 16:35] willdoran commented on #1349
@jshorland I will take a look at how we run the import and if there is an ability for the CSV create usecase to feedback as it runs through the import. It does seem slightly slow actually for even a couple of hundred entities may be there is also a speed up. I'll spend today looking into it.

[2016-09-01 16:36] jshorland commented on #1334
@nickbadams is this still an issue for you? if not, I'm going to close as I can't reproduce.

[2016-09-01 16:48] jshorland commented on #320
Passes QA.

Edit button appears on post.
When clicked, takes me to edit mode.
I am able to edit all fields and change post status, and save.

[2016-09-01 16:48] #320 closed

[2016-09-01 23:59] rjmackay opened #1356 "Remove ambiguous relation id's in API"
### Expected behaviour
- Relations will always use the same key ie form_id or form or form.id .. not all of them
### Actual behaviour

We support all of these in API payloads, and return form_id if null or form.id if defined

This also requires lots of extra code handling 'derived' fields in entities

Aha! Link: https://ushahiditeam.aha.io/features/PROD-679

[2016-09-02 00:00] rjmackay opened #1357 "Remove unused code for posts with parent_id"
- The API has handling for posts with a parent_id
- We should keep the logic for translations, but remove the posts revisions and updates logic

Aha! Link: https://ushahiditeam.aha.io/features/PROD-678

[2016-09-02 00:01] rjmackay opened #1358 "Move traits into directories based on purpose"
### Expected behaviour
Traits should be found close to the other code they relate to

### Actual behaviour
Most traits are in Ushahidi/Core/Traits

[2016-09-02 00:03] rjmackay opened #1359 "Not clear where default values are set in API"
### Expected behaviour

Default values should be defined in a single consistent place
### Actual behaviour

Default values might be defined in the entity, the repo, the db or the usecase..

Need a single place that supports
- simple defaults
- defaults based on relations (ie. post status default varies depending on form settings)
- generated values (ie. random uuid)

Aha! Link: https://ushahiditea

[2016-09-02 00:04] rjmackay opened #1360 "Validators need access to all entity values, *and* changed values"
### Expected behaviour
I can find any entity value needed during validation

### Actual behaviour
I can only get values which have changed. **except** when we hack around this in a usecase

[2016-09-02 02:32] rjmackay commented on #1360
Fixing as part of #1318

[2016-09-02 02:54] #1360 closed

[2016-09-02 03:18] rjmackay commented on #1283
@willdoran was `is_public` and "Show this task to everyone when the post is published" implemented as part of this? I know we talked about splitting this while at team meeting. However if we haven't captured that task somewhere else this issue shouldn't be closed yet.

[2016-09-02 21:29] #1282 closed

[2016-09-05 17:42] brandonrosage commented on #1349
I think the ideal solution would be:

After the user selects "Finish," a fourth screen (using Layout C, which has no toolbar) appears with:

* Content explaining that the import is still in progress, that they'll be notified when the process is done, and that they can navigate away while that process is completed.
* A progress bar.

![Plan A](https://cloud.githubusercontent.com/assets/1136279/1825

[2016-09-06 15:32] willdoran commented on #1349
@jshorland @brandonrosage ok, I will look at this today - feeding back progress will not be possible in the first iteration.

[2016-09-06 15:35] brandonrosage commented on #1349
@willdoran I'll be sure to prepare the `<progress>` pattern for use in an "indeterminate" state, just to show that the process is underway, even if we can't show progress.

[2016-09-06 15:38] willdoran commented on #1349
@brandonrosage Ok excellent that would be very helpful

[2016-09-06 20:39] rjmackay commented on #1314
Assigned to @jshorland for QA since this is probably solved in last sprint

[2016-09-06 20:45] rjmackay commented on #1279
I'm going to close this and reopen if we strike this again.

[2016-09-06 20:45] #1279 closed

[2016-09-06 20:52] #1291 closed

[2016-09-06 20:53] #1290 closed

[2016-09-06 21:01] rjmackay opened #1361 "Editable post author"
Migrating from https://github.com/ushahidi/platform/issues/752#issuecomment-239284562

---

When editing a post's author and/or post date, here's what I've staged in the PL:
## Logged out

When you encounter the "Add post" page, you'd see a summary of the metadata:

![logged out](https://cloud.githubusercontent.com/assets/1136279/17603710/18959d44-5fd8-11e6-9046-619a5f6571aa.png)

If you select "C

[2016-09-06 21:02] rjmackay commented on #752
Moving discussion of editing authors to #1361.

[2016-09-06 21:34] rjmackay opened #1362 "Editable post dates"
This has been designed in the PL but isn't implemented.
Background on #752

![post edit](https://cloud.githubusercontent.com/assets/1136279/16387584/0cdd272e-3c5b-11e6-9e18-92604e760401.png)

Need to
- Add a post date field to the post table and API
  - This should default to creation date but be editable
- Post created and updated dates should remain auto generated
- Add UI for editing post date

[2016-09-06 21:35] rjmackay commented on #752
Moved date editing to #1362 and closing this issue

[2016-09-06 21:35] #752 closed

[2016-09-06 21:36] rjmackay commented on #1361
@brandonrosage I think that looks workable but @jshorland suggested we should user test this since its adding a lot of complexity that may or may not be necessary.

[2016-09-06 21:38] rjmackay opened #1363 "Add 'show this task to everyone' toggle to tasks"
Migrated from #1283
- [x] API: Add is_public field to post stages
- [x] Add "Show this task to everyone when the post is published" to task settings

@willdoran has a branch with this already partially implemented

[2016-09-06 21:39] rjmackay commented on #1363
@willdoran what were the outstanding questions on this?
I remember:
- Better wording around if it is visible when viewing or editing
- Should we allow editing of the task by the author? or just users with 'manage tasks'?
- Should this be added alongside the 'who can complete this task' control?

[2016-09-06 21:39] #1283 closed

[2016-09-06 21:48] zhalloran commented on #1034
@caharding @rjmackay @jshorland @brandonrosage Where will this occur in the process. I've seen mention of it being inserted before the deployment is spun up, and after the tour. Should probably just be included as part of the signup process if we want to make sure everyone is presented with a prompt for this info.

[2016-09-06 21:57] rjmackay commented on #1347
Notifications are currently tied to a contact, which is in turn tied to a user.
We could decouple these.. we need to consider how a user would unsubscribe from notifications. But otherwise I don't think there are major technical issues.

[2016-09-06 21:59] caharding commented on #1034
Def part of the sign up process

On Tue, Sep 6, 2016 at 2:48 PM, Zack Halloran <notifications@github.com>
wrote:

--
Charlie Harding
Product Director

[2016-09-06 22:00] rjmackay commented on #1346
It looks like this was an issue with filtering by post status.
I think its fixed in the latest version. Can you try updating?

[2016-09-06 22:01] rjmackay commented on #1345
I think this is resolved now. You can now set 'who can add to this survey' in survey settings

[2016-09-06 22:03] rjmackay commented on #1345
intercom ref: https://app.intercom.io/a/apps/hl5rfiga/inbox/search/conversations/5673186607

[2016-09-06 22:03] #1345 closed

[2016-09-06 22:06] rjmackay commented on #1335
@brandonrosage does this need dev attention? or just design?

[2016-09-06 22:08] #1334 closed

[2016-09-07 00:21] jshorland opened #1364 "Fill out for for security audit from Open Tech Fund"
https://docs.google.com/a/ushahidi.com/forms/d/e/1FAIpQLSdj02Kvx2jUxTdT3_ComNaFuNWBD2Kk7eWtdoH4TA9iV-0CsA/viewform

Tech team is best positioned to fill this out accurately. Please ping @natmanning if there are any logistical questions

[2016-09-07 13:00] willdoran commented on #1363
@rjmackay I think those were key, I think the core issue is who exactly the Tasks are visible to. is_public would seem to imply that it is simply not published but that signed up users would have the ability to see it. That is the direct interpretation I take from:
"Show this task to everyone when the post is published"
However, if it is intended that only users with a certain permission "manage t

[2016-09-07 17:28] willdoran commented on #1308
@jshorland I'm not 100% clear on the goal, are we creating the following:
- [ ] Allow mapping of columns to categories - if yes, can we dictate the format of the columns
- [ ] Create a very basic configuration step that allows setting of categories for imported posts

[2016-09-07 22:39] jshorland opened #1365 "Update markup to fix arrows in data source menu"
Are they supposed to look like this? They're designed for a giant's thumbs!

![screen shot 2016-09-07 at 3 37 24 pm](https://cloud.githubusercontent.com/assets/3224856/18331080/38b5db72-7511-11e6-8274-77645ca831e3.png)

[2016-09-08 00:29] zhalloran commented on #1034
@brandonrosage Do you have any screens for this?

[2016-09-08 00:58] rjmackay commented on #1365
Not sure. @brandonrosage updated the data sources in the PL so its no longer in sync http://preview.ushahidi.com/platform-pattern-library/develop/assets/html/5_layouts/settings-data-sources.html

@brandonrosage did those changes break the old data sources styling?

[2016-09-08 02:46] rjmackay commented on #1023
@jshorland this needs scoping / requirements from you right?

[2016-09-08 02:48] rjmackay commented on #1308
The 1000ocean project needs to map CSV columns to categories.
At some point we need to reinstate the 'configure posts' step which allowed setting categories for all posts, thats probably not necessary for this task.

[2016-09-08 02:49] rjmackay opened #1366 "CSV import improvements"
- We removed the configure posts step from CSV import
- We need to re-instate this but ensure the UX is more inline with the pattern library.

[2016-09-08 02:50] rjmackay commented on #1366
Assigned to myself to figure out if there are any issues with the current PL designs.

[2016-09-08 03:20] rjmackay commented on #1252
@brandonrosage in general I really like this direction.
One thing I think we'll need to be successful in building this is a super detailed list of the various states. ie. Given "How it appears depends a lot on the interaction and what's being done"  the dev building it needs to know all the possible permutations of that and what other components its interacting with so they can build it cleanly.

[2016-09-08 03:21] rjmackay commented on #1252
All that said: maybe @jshorland should make a call on priority for this, in case it should really move to backlog rather than forward to design and spec

[2016-09-08 03:30] rjmackay commented on #1177
It looks like this was caused by phinx itself - we should update to the latest version of phinx

[2016-09-08 21:08] rjmackay commented on #1366
Suggested minimal version of this:
- Add global toggle for published, or option to map to CSV column
- Add missing mapping for CSV column to categories, post status, etc
- Switch mapping columns so we list all post fields, and dropdown of CSV columns

[2016-09-08 21:13] #617 closed

[2016-09-08 21:17] rjmackay commented on #293
Close in favour of #319

[2016-09-08 21:17] #293 closed

[2016-09-08 21:58] #690 closed

[2016-09-08 22:04] rjmackay commented on #371
Closing in favor of #1327

[2016-09-08 22:04] #371 closed

[2016-09-08 22:05] rjmackay commented on #351
Closing in favor of #1245

[2016-09-08 22:05] #351 closed

[2016-09-08 22:09] rjmackay commented on #1327
From #783
---
I've improved the location picker so that its search control behaves more like the global 'searchbar' and so that the input doubles as the location field's **_value_**.

![location field](https://cloud.githubusercontent.com/assets/1136279/16629849/313ff244-437d-11e6-9616-6b70950eabb4.png)

The assumption here is that, when a user types anything into the input, it provides buttons to

[2016-09-08 22:10] rjmackay commented on #783
Close in favor of #1327

[2016-09-08 22:10] #783 closed

[2016-09-08 22:11] rjmackay commented on #1327
Ideally this should implement #929 and include a note about where locations come from.

[2016-09-08 22:12] rjmackay commented on #1337
This will be covered by #1327

[2016-09-08 22:12] #1337 closed

[2016-09-08 22:17] rjmackay opened #1367 "Store additional info with locations"
This is a combination of ushahidi/platform#587 ushahidi/platform#600 ushahidi/platform#699 ushahidi/platform#1245
### Expected behaviour

When editing a post the location editor should capture location name, lat/lon, zoom level and maybe address.
This address or location name should be displayed when viewing the post
### Actual behaviour

Location editor only captures lat lon. When viewing the pos

[2016-09-08 22:37] rjmackay opened #1368 "Changing map icons based on categories"
https://github.com/ushahidi/platform-client-1000ocean/issues/8
https://github.com/ushahidi/platform-client-1000ocean/issues/9

[2016-09-08 22:38] rjmackay commented on #1238
Closed in favor of #1388

[2016-09-08 22:39] #1238 closed

[2016-09-08 23:04] #1167 closed

[2016-09-08 23:04] #1244 closed

[2016-09-08 23:07] tuxpiper commented on #1308
This was addressed for a project in https://github.com/ushahidi/platform-client-1000ocean/commit/d62b5085612c6aafd580e72e17d2625e9dc3d769 . The file path needs to be slightly changed in order to be compatible with develop branch here

[2016-09-08 23:07] rjmackay opened #1369 "Trials for paid plans"

[2016-09-08 23:07] rjmackay opened #1370 "New feature limits"

[2016-09-08 23:09] #394 closed

[2016-09-08 23:37] rjmackay commented on #1034
.. ok I'm going to move this all the way back to Design so it gets a proper spec. Rather than waste @zhalloran's time

[2016-09-08 23:42] #949 closed

[2016-09-08 23:44] rjmackay opened #1371 "Move to single DB for multisite deployments"
- Currently multisite deployments (ie. ushahidi.io) use a db per deployment
- Switch to using a single db.

[2016-09-08 23:45] rjmackay opened #1372 "Migrate from kohana to laravel / lumen"
This will probably be a multi step process

1. Install laravel, and migrate routing to laravel. All validation, db queries still use Kohana. Use both auto loaders side-by-side. The big lift here is just migrating the Rest controller.
2. Start migrating away from any helpers etc we're using. Try to avoid auto loading anything from kohana. DB and validation code could still use kohana.. but we shoul

[2016-09-08 23:46] rjmackay opened #1373 "Compile angular templates into bundle"
Speed up client by compiling angular templates into the bundle

[2016-09-08 23:46] rjmackay opened #1374 "Client profiling and optimization"
Produce base line figures for client performance
- initial time to load
- time to load map
- time to load timeline

[2016-09-09 17:50] FIU-Editor opened #1375 "Inability to receive notifications from saved search"
### Expected behaviour

We created a new saved search, turned on notifications ("Get Notifications"), and, when testing it, expected to receive email notification of posts within the search.
### Actual behaviour

When testing this feature, however, neither my colleague nor I were able to receive notifications. Is there something wrong with our process, or is it from the backend?
### Steps to repro

[2016-09-09 21:12] brandonrosage commented on #1365
I've fixed this in the PL, whose `master` branch currently represents what's intended for Sprint 10 (with a little but of Sprint 11).

![screenshot](https://cloud.githubusercontent.com/assets/1136279/18403035/2443ccec-76a8-11e6-9e7f-38a8d90e1cbd.png)

"Data sources" sample: http://preview.ushahidi.com/platform-pattern-library/master/assets/html/5_layouts/settings-datasources.html

[2016-09-12 16:42] brandonrosage commented on #1034
The solution for this -- within the "Create deployment" flow and layout -- is staged in the dotcom pattern library:

* Sample: http://github.ushahidi.org/dotcom-pattern-library/assets/html/5_layouts/create-deployment.html

[2016-09-12 16:59] jshorland opened #1376 "CSV export gives me unreadable column labels"
### Expected behaviour
My column labels (row 1 in CSV) should match my survey data field labels, or as closely as possible, so I can read my CSV clearly

### Actual behaviour
Sample of Row labels from an export i did from devex.ushahidi.com:

- 007851e9-215a-4a52-9ec1-7d40a2fef645
- 05bde2bd-bd60-4c93-a15e-5991d8ced0cf
- 06a1aeba-126c-4240-a584-749781c6f64f.lat

### Steps to reproduce the behaviou

[2016-09-12 17:03] jshorland commented on #1308
This is covered by scope in #1366.

[2016-09-12 17:42] caharding commented on #1034
Can you show people that they are on step X/3 to show that it won't take
long to go through the whole process?

On Mon, Sep 12, 2016 at 9:42 AM, Brandon Rosage <notifications@github.com>
wrote:

--
Charlie Harding
Product Director

[2016-09-12 17:51] jshorland commented on #1034
+1

[2016-09-12 18:24] jshorland commented on #1376
Notes from @willdoran: Ok so this is a leetle complicated, I think it will take me about 1 day to fix it. We changed from using keys that looked like the names of the fields to using UUIDs, I need to change the mapping when the csv is exported so that it output the value field name instead of the key

THOUGH there is a caveat, the reason we use UUIDs is so that you an name your field whatever you

[2016-09-12 18:42] brandonrosage commented on #1366
@jshorland, @rjmackay: I've staged the three layouts for the revised CSV import flow in the `sprint-11` branch. You can sample them like this:

* [Step 1](http://preview.ushahidi.com/platform-pattern-library/sprint-11/assets/html/5_layouts/settings-import.html): The screen you see when you first visit "Import."
* [Step 2](http://preview.ushahidi.com/platform-pattern-library/sprint-11/assets/html/5

[2016-09-12 18:51] jshorland commented on #1366
@brandonrosage What's the best way to provide feedback on the designs

[2016-09-12 18:54] brandonrosage commented on #1366
No. 1, if there are needs and requirements that are not addressed, please call those out in the comments here.

No. 2, if you have questions (about how it's supposed to work in various situations, or if something doesn't appear to be working), please toss those in the comments, too.

No. 3, if you have feedback about the visual design (e.g. it's not appealing or too messy), please make a comment.

[2016-09-12 18:59] jshorland commented on #1366
got it.

On screen for step 2, if the user chooses to map a column to set status and/or categories, is it possible to have them complete this at the same time they map the other fields? I believe this would require some back end complications of populating the mapping fields after the user selects the methods of configuring these two. But to me, it's confusing/redundant to do it separately rather

[2016-09-12 19:16] jshorland commented on #1023
The problem we're trying to solve is to complete bulk actions (delete, change status) on posts. The infinite scroll, while appropriate for timeline UX, doesn't sufficiently help users complete bulk actions of all appropriate posts.

Proposed solutions:
1. users need to be able to select all posts (not just visible posts) that meet their selected criteria (ex: gmail attached) to complete bulk actio

[2016-09-12 20:35] brandonrosage commented on #1362
I've staged a solution for editing a post's date, author, and status from the same place: The "metadata" pattern.

![metadata](https://cloud.githubusercontent.com/assets/1136279/18451240/bc93dadc-78fb-11e6-9819-bd64d2c4f159.png)

In the interest of making the visual structure for editing a post reasonably similar to viewing it, this solution keeps those pieces of metadata inside the form sheet, bu

[2016-09-12 21:29] rjmackay commented on #1034
There's some broken styling in Chrome on step 2 https://www.dropbox.com/s/uysyoev81ymos30/Screenshot%202016-09-13%2009.28.55.png?dl=0

[2016-09-12 21:31] caharding commented on #1362
I really like this overall approach. The chips are excellent, easy to find
from non users, and treated in a unique way. Very nice.

I do find the dropdown a little bit confusing a cluttered. Could we not use
a similar drop down like we use on the "mode context" survey dropdown?

On Mon, Sep 12, 2016 at 1:36 PM, Brandon Rosage <notifications@github.com>
wrote:

--
Charlie Harding
Product Director

[2016-09-12 21:32] rjmackay commented on #1362
Sorry - this issue was queued for a sprint with design done. Why are we iterating the design again at all?!
We can't build anything if the design keeps moving.

[2016-09-12 21:36] jshorland commented on #1362
I actually think these are two separate issues. We have two options for this immediate sprint starting tomorrow:
1. we continue with the original issue of matching date picker to the current pattern library in sprint 11, and pull the second issue of meta data chips out into #1361 and deal with that larger issue in a further out sprint, or
2. we nix fixing the date picker pattern for now and deal w

[2016-09-12 21:42] jshorland commented on #1366
Second note: we should remove the set all posts to X categories and just have it be mapped via a csv column. Each post will likely have it's own unique category set. Am I missing a user story/problem though?

[2016-09-12 23:41] rjmackay commented on #1366
1. I think the requirements were address.

However we had agreed to only pull the posts status out separately. I think categories should just be included with other post fields in the table. It doesn't need an option to define a fixed value for all imported posts.

3. I'm not clear why the visual design changed. The main problem could have been addressed by just adding the 'Imported posts should h

[2016-09-13 02:01] rjmackay commented on #1240
You can see the example here: http://preview.ushahidi.com/platform-pattern-library/develop/assets/html/5_layouts/map-collection.html

We just need to wrap save and cancel buttons in a `.modal-actions` container I think
[code]

[2016-09-13 02:06] rjmackay commented on #1365
Needs a dev to update markup + CSS

[2016-09-13 02:14] rjmackay commented on #1325
'Who can add posts to this survey' was implemented as an additional endpoint.
The approach for this next change needs some consideration.

- For storage
  - we could add an additional join table ie `form_roles_edit` and rename the current `form_roles` to `form_roles_create`
  - *or* we could add an additional `permission` field to `form_roles` to specify either: create or edit access.
- For the AP

[2016-09-13 02:16] rjmackay commented on #1325
@willdoran @zhalloran This is still in the spec+sizing stage.
Could you have a read through my previous comment and let me know what isn't clear, and any thoughts on which way to go?

[2016-09-13 02:20] rjmackay commented on #1327
@willdoran This needs spec + sizing. Could you take a look at the info above an let me know if this needs more info to implement? Then estimate size if you can.

[2016-09-13 02:21] rjmackay commented on #1326
@willdoran can you make a size estimate of this? I think we have a pattern for this in the client already?

[2016-09-13 02:24] rjmackay commented on #1242
Tech requirements
- Update Slider service and add param to specify top or bottom slider
- We need to add another slider-container to the markup
- Investigate what happens with multiple sliders at once. @brandonrosage whats the desired behaviour with multiple slider notifications?

[2016-09-13 02:25] rjmackay commented on #1340
We need to do a check of all out of date composer packages.
Some are easy updates, but others will require refactoring.

[2016-09-13 02:27] rjmackay commented on #1366
@willdoran are there any red flags in the designs posted above?

[2016-09-13 04:32] zhalloran commented on #1325
My preference would be to extend the join table to include additional permissions. This would make it pretty easy to manage survey permissions from a role context if we wanted to (and I suspect we will). Also, we already have the join table and the supporting code in place, so adding boolean fields to that table would not be all that difficult. We could split the baby and change the code so it's a

[2016-09-13 06:42] ljh468525 opened #1377 "homepage error?"
I can't see letter behind the black box
How can I solve this ?

[2016-09-13 13:10] willdoran commented on #1327
To be added:
- [ ] Geographic search service
- [ ] Predictive typing search with suggestions
- [ ] Use current location
- [ ] Search button; returns full search
- [ ] Wire Search service to post-location-field

Relies on:
- [ ] UI to display results' origin - where/how does that information appear?

Questions:
1. How many search results can be returned?
2. If the search is also performed while the

[2016-09-13 13:12] willdoran commented on #1326
@rjmackay
- [ ] Update UI for custom role selector
- [ ] refactor role selector directive code, if it's not in a great state
- [ ] Wire role selector into collections and savedsearch modals

I would estimate that this would take 1 day + 1 day review

[2016-09-13 13:51] tuxpiper commented on #1308
pushed ushahidi/platform-client@b31f536

[2016-09-13 13:52] willdoran commented on #1325
@rjmackay I would agree with Zack that extending the join table makes sense as it is the expression of the relationship and would make most sense to be controlled via permission.

I would also agree with adding the roles create/edit to the form request because it reduces elements that client is exposed to.

API To do:
- [ ] Extend join table
- [ ] Change form to validate/receive/save role permissi

[2016-09-13 17:34] brandonrosage commented on #1362
@rjmackay It looks like we have a misunderstanding about the process.

As I understand it, an issue that's designated for a sprint must have it's design completed before its sprint begins. And because this issue's sprint, No. 11, had not yet started, the work I shared above was my attempt to get y'all something solid before things kick off in our scheduled meeting Sept. 13.

If this sprint started

[2016-09-13 17:57] rjmackay commented on #1265
@Shadrock In this case the issue is that the message needs to be assigned to a survey before it can be edited. The experience is a little confusing though.

[2016-09-13 18:07] rjmackay commented on #1362
Once something makes it to 'Waiting for sprint' I don't think it should move backwards unless @jshorland pulls it out. It was put into `Waiting for sprint` on the basis of design worked that already existed in the PL.. and with a scope based on that. The sprint is due to start today.
I think the intention is that in general design + spec should all happen *before* an issue is queued for a sprint.

[2016-09-13 18:10] brandonrosage commented on #1362
In that case, let me stage the previous solution in the `sprint-11` branch and create a new issue for the revised treatment of metadata, which would include changes to "post date."

[2016-09-13 19:24] rjmackay commented on #1366
Issues spotted during sprint:
- How do we handle required tasks if marking all posts published
- If a user maps CSV column to published, how do enforced required fields+tasks

Solution
- When importing from CSV, skip validation of required tasks
- Notify users that tasks will not be marked complete

[2016-09-13 19:26] rjmackay opened #1378 "Add warnings when updating survey which already has posts"
### Expected behaviour

When I update a survey which has posts, I should be warned before delete fields/tasks. I should also be notified that editing required fields/tasks will leave posts in an invalid state (ie. will not auto complete tasks)
### Actual behaviour

No warnings.
### Steps to reproduce the behaviour/error

Aha! Link: https://ushahiditeam.aha.io/features/PROD-673

[2016-09-13 21:19] jshorland opened #1379 "Need a way to move to next post in edit mode"
User need:
When I'm triaging a bunch of posts, I want to be able to quickly move to next post after I'm finished editing one.
### Actual behaviour

Currently, after saving my edits, I am taken back to the same post's detail. I then have to go back to map and/or timeline (I go back to timeline because it's the easiest for me) and click on the next post. This gets especially confusing when I'm on pa

[2016-09-14 12:49] Urfaqadri opened #1380 "I have filled in fields but it says i haven't"
### I filled in everything on the site.  http://1000ocean.ushahidi.com/posts/create/1

### The website won't let me save because it says I have not filled out things I have filled out

### Not sure what to do next.

[2016-09-14 14:59] brandonrosage commented on #1362
@rjmackay & @jshorland: As promised, I've staged the "[Post: Edit](http://preview.ushahidi.com/platform-pattern-library/sprint-11/assets/html/5_layouts/post-edit.html)" and "[Post: Add](http://preview.ushahidi.com/platform-pattern-library/sprint-11/assets/html/5_layouts/post-add.html)" layouts for the `sprint-11` branch such that they use the "toolbox" pattern that [I offered in June](https://gith

[2016-09-14 15:51] brandonrosage commented on #1366
I just pushed a revision to the "[Settings: Import CSV, configure posts](http://preview.ushahidi.com/platform-pattern-library/sprint-11/assets/html/5_layouts/settings-import-configure.html)" layout, which includes the potentially-necessary alert content regarding published posts and incomplete tasks.

![csv alert](https://cloud.githubusercontent.com/assets/1136279/18519263/e679db4e-7a68-11e6-9a7d-

[2016-09-14 16:33] brandonrosage commented on #1366
I also just pushed a revision to the "[Post: Edit](http://preview.ushahidi.com/platform-pattern-library/sprint-11/assets/html/5_layouts/post-edit.html)" layout for `sprint-11`, which includes the potentially-necessary message on page load explaining that, while the post's status is currently "published," it has incomplete tasks that must be complete before it can be re-published:

![message](https

[2016-09-14 16:37] brandonrosage commented on #1240
Yes, wrap the `.form-field` for modal window actions with `.modal-actions` *and* wrap the rest of the modal window's body content with `.modal-body`. All together, this ensures a smooth scrolling experience, too.

[2016-09-14 19:14] brandonrosage commented on #1034
I've pushed a revision to [the "Create new deployment" layout](http://github.ushahidi.org/dotcom-pattern-library/assets/html/5_layouts/create-deployment.html) that addresses the need for an indicator for how many steps are in the form, as well as the multi-select control bug.

The solution for the visual progress indicator borrows from the same pattern we use in the client: The "stepper."

![Step

[2016-09-14 20:10] willdoran commented on #1380
Hi @Urfaqadri,
I'm trying to recreate the issue. Could I ask did you fill in the Description field?

[2016-09-14 20:26] Urfaqadri commented on #1380
Yup!

Sent from my BlackBerry 10 smartphone.
From: will
Sent: mi�rcoles, 14 de septiembre de 2016 05:10 p.m.
To: ushahidi/platform
Reply To: ushahidi/platform
Cc: Qadri, Urfa; Mention
Subject: Re: [ushahidi/platform] I have filled in fields but it says i haven't (#1380)

Hi @Urfaqadri<https://github.com/Urfaqadri>,
I'm trying to recreate the issue. Could I ask did you fill in the Description field

[2016-09-14 20:28] willdoran commented on #1380
@Urfaqadri, Thanks for responding. Interesting, I filled in the Title, Description and the fields marked with an * and the form is saving for me. Could you tell me which fields it tells you to fill in?

[2016-09-14 20:48] Urfaqadri commented on #1380
It is not aligning on my computer as in the text is half way in the word description etc. I can take a screen shot tomorrow and send

Sent from my BlackBerry 10 smartphone.
From: will
Sent: mi�rcoles, 14 de septiembre de 2016 05:29 p.m.
To: ushahidi/platform
Reply To: ushahidi/platform
Cc: Qadri, Urfa; Mention
Subject: Re: [ushahidi/platform] I have filled in fields but it says i haven't (#1380)

[2016-09-14 21:18] willdoran commented on #1380
Ah, I see, a screenshot would be useful. I will share the issue with our UI team.

[2016-09-15 00:48] rjmackay commented on #1362
@brandonrosage thanks for splitting that out. Can you create a github issue for the `f-metadata` change too? so we 1. don't lose track of it 2. it can go through any feedback/spec stages needed.

[2016-09-15 00:55] rjmackay commented on #1325
So just to confirm, by "extend join table" you mean adding boolean fields for `can_create` and `can_edit` fields to the `forms_roles`

Does 20 points sound about right for this?

[2016-09-15 00:56] rjmackay commented on #1308
@jshorland this is on develop now. We could skip QA and just test this when we test #1366

[2016-09-15 00:59] rjmackay commented on #1325
What did you mean by 'Update survey template'??

[2016-09-15 01:07] rjmackay commented on #1327
Also need:
- [ ] Remove 'use my location' control from map

We already have a geocoded search using OSM.. did you mean something else?

I think this actually means we could remove the 'Search for "Montreal"' button entirely...

I don't think this requirement makes sense now I read it. We have another task for capturing this as a kind of 'label' on a location.. that should be out of scope here. But

[2016-09-15 01:09] rjmackay commented on #1377
@ljh468525 I'm not sure what you mean. Which black box? What part of the site are you on?
Can you provide a screenshot?

[2016-09-15 01:11] rjmackay commented on #1376
@jshorland are we classing this as a bug? Is it going straight into dev?
ie. what column does this go in?

[2016-09-15 01:13] rjmackay commented on #1375
@FIU-Editor its likely you need to set up your contacts for your user.
On your deployment
1. Login
2. click on your Account Settings on the bottom left (this probably has your avatar or photo as a button)
3. Go to 'Notifications' tab
4. Add an email or mobile number you need as contacts.
5. save (even if you didn't add more numbers)

Let me know if that solves the problem.

[2016-09-15 05:28] zhalloran commented on #1325
@rjmackay Yes, I meant adding `can_create` and `can_edit` fields to the `form_roles` table. 20 points sounds reasonable.

[2016-09-15 05:37] zhalloran commented on #1034
@brandonrosage Quick question: The second screen suggests that the organization info is required, but I'm pretty sure that's not the case. Anybody have thoughts on this? @jshorland @caharding?

[2016-09-15 12:27] Urfaqadri commented on #1380
[cid:image001.jpg@01D20F33.4D155C80]

From: will [mailto:notifications@github.com]
Sent: Wednesday, September 14, 2016 6:19 PM
To: ushahidi/platform
Cc: Qadri, Urfa; Mention
Subject: Re: [ushahidi/platform] I have filled in fields but it says i haven't (#1380)

Ah, I see, a screenshot would be useful. I will share the issue with our UI team.

-
You are receiving this because you were mentioned.
Re

[2016-09-15 12:43] willdoran commented on #1380
@Urfaqadri I'm afraid the image doesn't come through when sent via email. Could you upload it directly to the github issue?

[2016-09-15 13:47] brandonrosage commented on #1034
If it's not required, I'll add a "Skip this step" button alongside "Continue" in the layout.

[2016-09-15 15:35] willdoran commented on #1380
@Urfaqadri, I believe we have a fix for this issue. @tuxpiper should be able to test and deploy it later today. Thanks for your feedback!

[2016-09-15 16:26] brandonrosage commented on #1327
@willdoran: I've staged the solution for this pattern in the [`f-location-picker`](https://github.com/ushahidi/platform-pattern-library/tree/f-location-picker) branch of the PL. You can sample it in the "[Post: Add](http://preview.ushahidi.com/platform-pattern-library/f-location-picker/assets/html/5_layouts/post-add.html)" layout. It will eventually be merged into a future sprint-specific branch (

[2016-09-15 17:25] middle8media commented on #1365
the markup is up to date, I think we just need to publish the revised PL styles to npm

[2016-09-15 17:41] jshorland opened #1381 "Configure tasks"
User stories:
- [ ] As an admin, I want to be able to assign permissions to manage tasks to specific users, which will allow them to create new tasks, delete tasks, and assign tasks.
- [ ] As a user with permissions to manage tasks, I want to create new tasks
- [ ] As a user with permissions to manage tasks, I want delete tasks
- [ ] As an admin I want to be able to create a description of a task

[2016-09-15 17:43] brandonrosage commented on #1023
Here is a collection of proposed solutions for bulk viewing and editing in the Timeline:

### 'Load X more'
When bringing posts into view, we currently have a "Load more" button at the bottom of the listing, which appends a preset number of posts to the listing (if there are more to fetch). The proposed revision would be to add a bit of functionality to that same button:

![load more](https://clou

[2016-09-15 17:45] jshorland opened #1382 "Task assignment"
- [ ] As a user with permissions to manage tasks, I want to assign tasks to a specific user
- [ ] As a user with permissions to manage tasks, I want to un-assign tasks from a specific user
- [ ] As a user with permissions to manage tasks, I want to re-assign tasks from one user to another user
- [ ] As any user, I want to start working on an unassigned task and have it automatically assigned to me

[2016-09-15 17:56] jshorland opened #1383 "A user's to-do list in a deployment"
User stories:
- [ ] As any user, I want to see all tasks assigned to me
- [ ] As any user, I want to see an overview of all tasks in their various stages
- [ ] As a user with manage tasks permission, I want an option to see ALL tasks
- [ ] As any user, I want to see all unassigned tasks
- [ ] As any user, I want to be able to complete my tasks from my task list
  *QUESTION: what happens if there’s

[2016-09-15 17:58] zhalloran opened #1384 "Post menu icon not visible in IE 11 on Windows 7"
### Expected behaviour

The icon for the menu on posts in map view and timeline view should be visible in IE 11 on Windows 7
### Actual behaviour

The icon is not visible
### Steps to reproduce the behaviour/error

View a post popup or timeline in IE 11 on Windows 7

[2016-09-15 18:00] FIU-Editor commented on #1375
Hello,

As you can see, we've done this long before this problem has arisen, and consistently failed to receive notifications from incoming posts:

![image](https://cloud.githubusercontent.com/assets/17600339/18561062/3ecb7c88-7b4c-11e6-8fda-a6e743160cce.png)

Also, this issue seems to be affecting saved searches only; we can receive notifications for collections just fine.

[2016-09-15 18:00] jshorland commented on #1266
Assigning to myself to see if this is still an issue

[2016-09-15 18:05] brandonrosage commented on #1379
@jshorland The thing that tripped me up on this when you first asked about it earlier this week was that it wasn't clear to me how we could assume (or how the user could indicate) whether the user, A, wanted to save their work on the post and return to what they were doing prior (which is the most common expectation for any page-level "Save" action), or B, wanted to jump straight into editing the

[2016-09-15 18:11] jshorland opened #1385 "Add filters for tasks"
User stories:
- [ ] As any user, I want to filter all posts by which task they're in
- [ ] As any user, I want to see how many posts are in each task
- [ ] As any user, I want to be able to differentiate tasks belonging to different surveys by color (the color of the task maps to the color of the survey to which it belongs)

*NOTE: if we add visibility controls in task configuration, it will also

[2016-09-15 18:15] jshorland opened #1386 "Automatically turn"unknown" posts into a default task"
User stories:
- [ ] As an admin, I want any unknown posts to automatically turn into a default task to structure the post into a survey (WORDY. WOOF)
- [ ] As a user with permissions to manage tasks, I want to assign this default task to a user in "configure tasks" #1381

Aha! Link: https://ushahiditeam.aha.io/features/PROD-668

[2016-09-15 18:30] jshorland opened #1387 "Embed map"
Frame for any embed needs to show the deployment name and Ushahidi brand
- Popups/Postcards (link away)
- Add button (link away)
- Replace toolbar with button to see survey filters.[Key]

[2016-09-15 18:31] jshorland opened #1388 "Embed surveys"
Survey
- As is, but should also include name of deployment and ushahidi logo
- After submitting, message to user that post was submitted

[2016-09-15 18:34] jshorland opened #1389 "Embed individual post"
- As is, but should also include deployment name and ushahidi brand
- Is it possible to put a link to the full deployment somewhere in the post?

[2016-09-15 18:53] jshorland commented on #1285
Closing in favor of #1387 cc: @brandonrosage

[2016-09-15 18:53] #1285 closed

[2016-09-15 18:55] jshorland commented on #1387
@brandonrosage quick question: are there already designs for embedding just the map?

[2016-09-15 18:58] jshorland commented on #321
In listing toolbar view
- [ ] delete
- [ ] change status
- [ ] assign
- [ ] or “Add to Collection” for all selected items

[2016-09-15 18:58] brandonrosage commented on #1387
@jshorland No, but I'll stage those in the PL...now.

[2016-09-15 19:02] jshorland opened #1390 "Bulk actions on timeline mode"
In listing toolbar view

As a user with "manage posts" permission, I want to bulk
- [ ] delete
- [ ] change status
- [ ] assign (users with "manage tasks" permission)
- [ ] “Add to Collection” for all selected items (all users)

@brandonrosage do we already have designs for this?

[2016-09-15 19:02] jshorland commented on #321
Actually closing this and opening new issue to reduce any potential confusion. Closing this in favor of #1390

[2016-09-15 19:02] #321 closed

[2016-09-15 19:05] brandonrosage commented on #1390
@jshorland I've addressed most of what you're referring to in Issue #1023. I'm not sure how you want to organize these related and potentially-overlapping issues. But I see them as very related.

I'll be sure to address the task assignment bit.

[2016-09-15 19:07] jshorland opened #1391 "Sorting in timeline mode"
User stories:
- [ ] As any user, I want to sort by post creation date, both ascending and descending
- [ ] As any user, I want to sort by post last modified date, both ascending and descending

[2016-09-15 19:09] jshorland commented on #1390
Closing in favor of #1023. way to catch my duplication @brandonrosage

[2016-09-15 19:09] #1390 closed

[2016-09-15 19:11] jshorland commented on #1391
Should clear up #458

[2016-09-15 19:16] jshorland opened #1392 "See number of unmapped posts on map mode"
User stories:
- [x] As any user, I want to see the number of unmapped posts on the map mode
- [x] As any user, I want to go to the unmapped posts from map mode

[2016-09-15 19:20] jshorland opened #1393 "Option to test email configuration in data source set up"
User stories:
- [ ] As a user with permissions to manage data sources, I want to be able to test my email configuration without manually sending test emails

Aha! Link: https://ushahiditeam.aha.io/features/PROD-667

[2016-09-15 19:20] jshorland commented on #1292
Closing in favor of scoped issue #1393

[2016-09-15 19:20] #1292 closed

[2016-09-15 19:22] jshorland opened #1394 "Add email config templates for top email providers in support page"

[2016-09-15 19:24] jshorland opened #1395 "Research out of the box emails"
Phase 2: Out-of-the-box email; aliases?
- Could be only for paid users
- Dev estimate: medium. Complicated because of configuring external services
- Biz note: we need to figure out cost of this/how to manage the vendor

Aha! Link: https://ushahiditeam.aha.io/features/PROD-666

[2016-09-15 19:27] jshorland commented on #490
I'm closing this in favor of #778

[2016-09-15 19:27] #490 closed

[2016-09-15 19:28] jshorland commented on #778
@brandonrosage do you mind reviewing this and making sure we have all designs covered?

[2016-09-15 19:32] jshorland opened #1396 "Improved first-time login experience"
- Begin every deployment with dummy data set only viewable by admin to help educate
- Create tutorial layer about how dummy data works and how to setup deployment
- Login by social signup?

Needs user testing.

[2016-09-15 19:33] jshorland commented on #1396
Assigning us all to indicate we'll need to scope, design and stage a user test for this

[2016-09-15 19:36] jshorland opened #1397 "Improve categories"
- Categories are survey level for V2 / V3 mapping purposes
- Categories can “collapse/uncollapse” on the mode context bar underneath its parent survey (making single survey deployments much more useful)
- Categories take the survey color, maybe have a unique icon as an option
- When creating categories give suggestions of categories that exist on other surveys
  Dev estimate: will need more info

[2016-09-15 19:38] jshorland opened #1398 "Notifications"
System should notify you about:
  - [ ] Tasks assigned to you
System should provide a view where you can see all of your notifications (and alerts?)
- [ ] New notifications are “unread”; they’re marked “read” upon opening the “Notifications” view and displaying “unread” notifications.
Notifications will always appear in web client and mobile apps and can be sent email or SMS if configured
Notifica

[2016-09-15 20:30] brandonrosage commented on #1387
I've staged this layout in a feature-specific branch, for now, called `f-embeds`. You can sample the "Embed: Map" layout here: http://preview.ushahidi.com/platform-pattern-library/f-embeds/assets/html/5_layouts/embed-map.html

Sample:
![embed](https://cloud.githubusercontent.com/assets/1136279/18566367/3a0dadf8-7b59-11e6-8131-d8637ac2eec4.png)

It will eventually be merged into a sprint-specific b

[2016-09-15 20:47] brandonrosage commented on #1387
On a related note, I've also staged embed layouts for:
* [Post: Add](http://preview.ushahidi.com/platform-pattern-library/f-embeds/assets/html/5_layouts/embed-post-add.html)
* [Post detail](http://preview.ushahidi.com/platform-pattern-library/f-embeds/assets/html/5_layouts/embed-post-detail.html)

[2016-09-15 20:50] brandonrosage commented on #1387
@jshorland & @caharding: Does the aforementioned "Map" embed layout meet [the requirements we set out to meet](https://docs.google.com/a/ushahidi.com/document/d/1E-2-6hhVWZIMQrDaQSEqlnJ1MmNTWo9BoDhq-ZFeFVw/edit?usp=sharing) in Montreal for a Version 1?

[2016-09-15 20:53] brandonrosage commented on #1388
I've staged this layout in a feature-specific branch, for now, called `f-embeds`. You can sample the "Embed: Post: Add" layout here: http://preview.ushahidi.com/platform-pattern-library/f-embeds/assets/html/5_layouts/embed-post-add.html

Sample:
![embed survey](https://cloud.githubusercontent.com/assets/1136279/18567090/37cc13d8-7b5c-11e6-92de-73bac8217f88.png)

Note that this layout includes cont

[2016-09-15 20:55] brandonrosage commented on #1389
I've staged this layout in a feature-specific branch, for now, called `f-embeds`. You can sample the "Embed: Post: Detail" layout here: http://preview.ushahidi.com/platform-pattern-library/f-embeds/assets/html/5_layouts/embed-post-detail.html

Sample:
![embed post](https://cloud.githubusercontent.com/assets/1136279/18567223/be266b40-7b5c-11e6-96af-c8ed9bb53799.png)

It will eventually be merged in

[2016-09-15 21:34] brandonrosage opened #1399 "'metadata' pattern improvements"
As we march toward making more (or nearly all) of a post's metadata editable, it's becoming increasingly important to have a reasonably consistent way to both display _and_ edit across contexts, including:
- Postcards
- Post detail
- Post: Edit

Today, when a user transitions from viewing a post to editing it, they go from seeing the post's metadata presented immediately below the post's title...

[2016-09-15 21:43] brandonrosage commented on #1392
The most simple, responsive, and non-intrusive solution I put together was to include this information in the mode-context:

![un-mapped posts](https://cloud.githubusercontent.com/assets/1136279/18568411/bc77de4a-7b62-11e6-8262-80a7099523a8.png)

It's exactly what the mode-context is for: Telling you more about what's in the main content area.  The "12 posts" label is a link to a Timeline view of

[2016-09-15 22:12] brandonrosage commented on #1391
I'd propose the simplest, most consistent treatment for this feature using our existing "toolbox" convention:

![sort by toolbox](https://cloud.githubusercontent.com/assets/1136279/18569279/3e844c58-7b67-11e6-827d-5f75307b650e.png)

This particular "tool" (e.g. Sort by) would be collapsed by default inside the larger "toolbox" (which includes filters for "Post status" and "Date range").

Thoughts,

[2016-09-16 00:19] brandonrosage commented on #1362
@rjmackay Done: Issue #1399

[2016-09-16 13:24] brandonrosage commented on #1386
@jshorland I'd argue that admins want _the ability_ to automatically attach the task of assigning a survey to all incoming unknown posts -- but not to just do that automatically in all cases out of the box.

The reasons for this are:

* If they're importing tweets at a high rate, a lot of those are noise that they may never intend to assign to a survey, and rather delete. Without the ability to op

[2016-09-16 14:56] brandonrosage commented on #778
Looks like we're all set. I have them all demonstrated currently in the `f-sharing` branch of the PL. I'll merge into the appropriate sprint branch when it's queued.

[2016-09-17 23:46] zhalloran commented on #1034
I'm going ahead with the assumption that the org information is not required.

[2016-09-17 23:51] zhalloran commented on #1034
@rjmackay FYI, I'm building this with a separate `organization` model on the backend, but adding the creation to the `deployment` controller for the time being. We can discuss this approach on Tuesday. It should be mostly done by then.

[2016-09-18 23:20] #1364 closed

[2016-09-19 12:28] tuxpiper opened #1400 "Cannot unassign post from a category"
### Expected behaviour
1. Given a post assigned to category C1; if I edit the post, remove the assignation to C1 and save, the post should not be assigned to any categories.
2. Given a post assigned to category C1, if I edit the post, and remove the assignation to C1 and assign to category C2, the post should be assigned to category C2 only

### Actual behaviour
1. The post remains assigned to cat

[2016-09-19 13:27] spiral99 opened #1401 "sub-domain has already error"
### Expected behavior

There should be an visual indication on the input form when the sub-domain has already been taken currently there isn't.
### Actual behavior

If a new user inputs a sub-domain that has already been taken on the create deployment there is an output error stating this on the top of the form
### Steps to reproduce the behavior/error

try creating a new deployment enter all of t

[2016-09-19 18:43] jshorland commented on #1387
Two questions/comments:

1. I don't see any prominent display of the Ushahidi brand. Is that intentional?
2. "Add to" styling seems off. Is this because of a specific-to-mobile design decision with embed? And hypothetically when I click on a survey to add to, does it take me to the full form on the ushahidi.io site?

[2016-09-19 18:49] jshorland commented on #1391
I like that the proposed solution doesn't add additional complexity or behavior change, but prefer the wording "oldest" and "newest" instead of descending and ascending.

And do you remember the use case that justified being able to sort by oldest modified date?

[2016-09-19 18:50] jshorland commented on #1392
I have to admit, I like that it just tells you exactly why they aren't there. Is that the ONLY reason they wouldn't be on the map though? or do we confuse people if they are sent to posts that just don't have a survey yet because they came from twitter?

[2016-09-19 19:01] jshorland commented on #1399
Wow you've put a lot of really good thought into making this as elegant as possible. I REALLY like the transition to chips.

I wasn't intuitively aware that chips were "clickable", especially not that there's so many powerful actions I'm able to perform by clicking on them.

In the pattern you've staged, one of the chips says "2 days". If I try to turn my own product knowledge off, I'm not entirel

[2016-09-19 19:04] jshorland commented on #1389
Similar to feedback on #1387 - there's no indication that this is an ushahidi product. Is it possible to add some sort of branding to the embeds?

[2016-09-19 19:06] caharding commented on #1392
I like this solution. No comments.

On Mon, Sep 19, 2016 at 11:50 AM, Jess Shorland <notifications@github.com>
wrote:

--
Charlie Harding
Product Director

[2016-09-19 19:07] jshorland commented on #1388
ush branding? and how does a user end up on the ushahidi.io full deployment, if ever?

[2016-09-19 19:07] caharding commented on #1392
OK one comment, just make sure it is clear to the dev team that the survey
counts # should include all surveys. The bottom not shown number sums the
posts not shown of all the surveys selected.

On Mon, Sep 19, 2016 at 12:06 PM, Charles Harding <charles@ushahidi.com>
wrote:

--
Charlie Harding
Product Director

[2016-09-19 19:10] jshorland commented on #1389
I also think we should get rid of all action buttons (edit, ...) and just have "share" and add to collection, which would take them to the deployment and allow them to sign up for the deployment and create a new collection. Is that adding too much complexity?

[2016-09-19 19:19] jshorland commented on #1376
I'm not sure how to classify it to be honest @rjmackay -- it's technically not a bug, but a terrible UX and makes CSV completely unreadable. I think we should pop it into "tech spec and sizing", get a size, and put it into waiting for sprint to get it scheduled ASAP. Thoughts?

[2016-09-19 20:24] brandonrosage commented on #1366
@willdoran I've staged a revision to the "stepper" pattern example on the "[Settings: Import](http://preview.ushahidi.com/platform-pattern-library/sprint-11/assets/html/5_layouts/settings-import.html)" layout that provides a layer of optional (and smart) "accordion" interaction. It's included in the `sprint-11` branch of the PL.

It works by leveraging the global `accordion.js` script in the follo

[2016-09-19 21:41] brandonrosage commented on #1387
I don't care too much for Ushahidi. So I thought we'd just keep it out. (I've added it to today's round of revisions).

The "Add to" treatment you're seeing is not unique to (or even a requirement for) the embed-specific patterns here. It's just a carryover from other work I've done to prepare a new "mainsheet" pattern for things like chips.

For "Add to," specifically, the "mainsheet" solves a pr

[2016-09-19 21:46] brandonrosage commented on #1388
Branding is now visible (and clickable): http://preview.ushahidi.com/platform-pattern-library/f-embeds/assets/html/5_layouts/embed-post-add.html

Clicking the deployment's name (from the mode context) would open it in a new, full window.